﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Search</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/emp_search.js"></script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container" style="position:relative">
        <h3>Employee List</h3>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-inline">
                            <ers:isNotEqual src=".Model.IsValid" value="true">
                                <div class="panel panel-danger">
                                    <div class="panel panel-heading">
                                        <strong>Error</strong>
                                    </div>
                                    <div class="panel-body">

                                        <ers:dispError />


                                    </div>
                                </div>
                            </ers:isNotEqual>
                            <ers:isEqual src=".Model.controller.HasInformation" value="true">
                                <div class="panel panel-info">
                                    <div class="panel panel-heading">
                                        <strong>Information</strong>
                                    </div>
                                    <div class="panel-body">
                                        <span class="text-info"><ers:dispInfo /></span>
                                    </div>
                                </div>
                            </ers:isEqual>
                            <form method="post">
                                <label>Search by:</label>
                                <select id="searchField" class="form-control" name="searchField">
                                    <option value=""></option>
                                    <ers:foreach src=".Model.searchFieldList" variable="option">
                                        <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.searchField"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                    </ers:foreach>
                                </select>
                                <input type="text" name="s_keyword" class="form-control" id="sf" value="<%=.Model.s_keyword%>">
                                <input type="submit" class="btn btn-info" value="Search" formaction="<%=.sec_url%>top/employee/asp/emp_search_result.asp">
                               
                                <div class="row searchteamDiv">
                                    <label>Team:</label>
                                    <select id="SearchTeam" class="form-control" name="SearchTeam">
                                        <option value=""></option>
                                        <ers:foreach src=".Model.team_list" variable="option">
                                            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.SearchTeam"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                        </ers:foreach>
                                    </select>
                                    <label>Position:</label>
                                    <select id="SearchPos" class="form-control" name="SearchPos">
                                        <option value=""></option>
                                        <ers:foreach src=".Model.pos_list" variable="option">
                                            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.SearchPos"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                        </ers:foreach>
                                    </select>
                                </div>
                            </form>
                            <ers:isEqual src=".position" value="3">
                                <div>
                                    <button type="button" name="btn_upload_emp_csv" class="emp_list_btn btn btn-success pull-right col-xs-pull-4 " data-toggle="modal" data-target="#uploadModal">Upload Employee CSV</button>
                                </div>
                            </ers:isEqual>

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <table class="table table-hover table-bordered">
                    <ers:isNotEqual src=".Model.recordCount" value="0">
                        <thead>
                            <tr>
                                <th>Employee Number</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Team</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </ers:isNotEqual>
                    <tbody>
                        <ers:foreach src=".Model.list" variable="empList" roopcounter="i">
                            <tr>
                                <td class="w_50"><%=empList.emp_no%></td>
                                <td class="w_300" id="tdImage">
                                    <img name="emp_img" src='<%=.sec_url%>images/<ers:IsEqual src="empList.image_file" value="img_avatar1.png">img_avatar1.png</ers:IsEqual><ers:IsNotEqual src="empList.image_file" value="img_avatar1.png"><%=empList.emp_no%>/<%=empList.image_file%></ers:IsNotEqual>' class="member_pic">
                                    <span name="fullname"><%=empList.fullname%></span>

                                    <input type="hidden" name="img_file" value='<%=.sec_url%>images/<ers:IsEqual src="empList.image_file" value="img_avatar1.png">img_avatar1.png</ers:IsEqual><ers:IsNotEqual src="empList.image_file" value="img_avatar1.png"><%=empList.emp_no%>/<%=empList.image_file%></ers:IsNotEqual>' />
                                    <input type="hidden" name="emp_no" value="<%=empList.emp_no%>" />
                                    <input type="hidden" name="team" value="<%=empList.team%>" />
                                    <input type="hidden" name="email" value="<%=empList.email%>" />
                                    <input type="hidden" name="birthday" value="<%=empList.birthday%>" />
                                    <input type="hidden" name="contact_no" value="<%=empList.contact_no%>" />
                                    <input type="hidden" name="address" value="<%=empList.address%>" />
                                    <input type="hidden" name="gender" value="<%=empList.gender%>" />
                                    <input type="hidden" name="status" value="<%=empList.status%>" />
                                    <input type="hidden" name="position" value="<%=empList.position%>" />
                                    <input type="hidden" name="fullname" value="<%=empList.fullname%>" />
                                </td>
                                <td class="w_100"><%=empList.email%></td>
                                <td class="w_70">
                                    <%=empList.team%>
                                </td>
                                <td class="w_70">
                                    <%=empList.status%>
                                </td>
                                <td class="w_200">
                                    <form method="post" id="submit<%=i%>">
                                        <input type="hidden" value="<%=empList.emp_no%>" name="recipient_emp_no" />
                                        <input type="hidden" value="<%=empList.emp_no%>" name="emp_no" />
                                        <input type="hidden" value="<%=.Model.s_email%>" name="s_email" />
                                        <input type="hidden" value="<%=.Model.s_fname%>" name="s_fname" />
                                        <input type="hidden" value="<%=.Model.s_lname%>" name="s_lname" />
                                        <input type="hidden" value="<%=.Model.s_emp_no%>" name="s_emp_no" />
                                        <input type="hidden" value="<%=.Model.searchField%>" name="searchField" />
                                        <input type="hidden" value="<%=.Model.s_keyword%>" name="s_keyword" />
                                        <ers:isEqual src=".position" value="3"><input type="submit" class="btn btn-info btn-sm" value="Manage" formaction="<%=.sec_url%>top/employee/asp/emp_manage.asp" />&nbsp;</ers:isEqual>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal<%=i%>">Details</button>&nbsp;
                                        <!--<input type="submit" class="btn btn-toolbar btn-sm" name="fromEmpSearchBtn" value="Message" formaction="<%=.sec_url%>top/employee/asp/employee_message.asp" <ers:isEqual src="empList.emp_no" variable=".Model.user_emp_no">disabled</ers:isEqual>/>&nbsp;-->

                                    </form>
                                </td>
                            </tr>


                            <div class="modal fade" id="myModal<%=i%>" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Employee Details</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee Number
                                                </label>
                                                <br />
                                                <%=empList.emp_no%>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/emp_name.png" /> Employee Name
                                                </label>
                                                <br />
                                                <%=empList.fullname%>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/email.png" /> Email
                                                </label>
                                                <br />
                                                <%=empList.email%>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/phone.png" /> Contact Number
                                                </label>
                                                <br />
                                                <ers:isEqual src="empList.contact_no" value="">
                                                    Not Set
                                                </ers:isEqual>
                                                <ers:isNotEqual src="empList.contact_no" value="">
                                                    <%=empList.contact_no%>
                                                </ers:isNotEqual>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/home.png" /> Address
                                                </label>
                                                <br />
                                                <ers:isEqual src="empList.address" value="">
                                                    Not Set
                                                </ers:isEqual>
                                                <ers:isNotEqual src="empList.address" value="">
                                                    <%=empList.address%>
                                                </ers:isNotEqual>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/bday.png" /> Birthday
                                                </label>
                                                <br />
                                                <%=empList.birthday%>
                                            </p>
                                            <p>
                                                <label> 
                                                    <img class="imgDetailsLogo" src="/images/team.png" /> Team
                                                </label>
                                                <br />
                                                <%=empList.team%>
                                                <ers:isEqual src="empList.team" value="1">C#</ers:isEqual>
                                                <ers:isEqual src="empList.team" value="2">HTML</ers:isEqual>
                                                <ers:isEqual src="empList.team" value="3">Administrative</ers:isEqual>
                                                <ers:isEqual src="empList.team" value="0">
                                                    Not Set
                                                </ers:isEqual>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/position.png" /> Position
                                                </label>
                                                <br />
                                                <ers:isEqual src="empList.position" value="1">Member</ers:isEqual>
                                                <ers:isEqual src="empList.position" value="2">Team Leader</ers:isEqual>
                                                <ers:isEqual src="empList.position" value="3">Administrator</ers:isEqual>
                                                <ers:isEqual src="empList.position" value="0">
                                                    Not Set
                                                </ers:isEqual>
                                            </p>
                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/status.png" /> Status
                                                </label>
                                                <br />
                                                <%=empList.w_status%>
                                                <ers:isEqual src="empList.status" value="1">Employed</ers:isEqual>
                                                <ers:isEqual src="empList.status" value="2">Resigned</ers:isEqual>
                                                <ers:isEqual src="empList.status" value="3">Terminated</ers:isEqual>
                                            </p>

                                            <p>
                                                <label>
                                                    <img class="imgDetailsLogo" src="/images/gender.png" /> Gender
                                                </label>
                                                <br/>
                                                <%=empList.gender%>
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ers:foreach>
                </table>
                <ers:IsNotEqual src=".Model.recordCount" value="0">
                    <ers:isEqual src=".position" value="3">
                        <center>
                            <form action="<%=.sec_url%>top/Employee/asp/emp_csv_download_all.asp" method="post" name="download_csv_all" id="download_csv_all">
                                <span class="download_button">
                                    <input type="hidden" name="searchField" id="sf_all" value="<%=.Model.searchField%>" />
                                    <input type="hidden" name="s_keyword" value="<%=.Model.s_keyword%>" />
                                    <input type="submit" rel="emp_csv_download_all$emp_csv_download_all.asp" class="btn btn-primary" value="Download all Member data" />
                                </span>
                            </form>
                            <br />
                            <form action="<%=.nor_url%>top/Employee/asp/emp_csv_download_page.asp" name="download_csv_page" id="download_csv_page" method="post">
                                <span class="download_button">
                                    <input type="hidden" name="searchField" id="sf_all" value="<%=.Model.searchField%>" />
                                    <input type="hidden" name="s_keyword" value="<%=.Model.s_keyword%>" />
                                    <input type="submit" class="btn btn-primary" rel="emp_csv_download_page$emp_csv_download_page.asp" id="" name="" value="Download Member Data on this page" />
                                </span>
                                <input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />
                            </form>
                        </center>
                    </ers:isEqual>
                </ers:IsNotEqual>
                <div class="modal fade" id="uploadModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal-title" style="background-color:#5bc0de;color:white;">
                                <strong>Upload Employee CSV</strong>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="<%=.sec_url%>top/Employee/asp/emp_csv_upload_confirm.asp" enctype="multipart/form-data">
                                    <div class="uploadNoteDiv">
                                        <span class="uploadNoteSpan">
                                            <ers:message code="EmployeePositionMessage" />
                                            <br />
                                        </span>
                                        <span class="uploadNoteSpan">
                                            <ers:message code="EmployeeTeamMessage" />
                                        </span>
                                    </div>
                                    <br />
                                    <input type="checkbox" name="chk_find" value="true" checked />&nbsp; Ignore first line?
                                    <br />
                                    <input type="file" name="csv_file" />
                                    <br />
                                    <input name="btn_submit" type="submit" class="btn btn-default" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <ul class="pagination pagination-sm">
                    <li>
                        <ers:partial file="emp_search_pager.htm" partialModel=".Pager" />
                    </li>
                </ul>
            </center>
        </div>

        <div id="divPrev" hidden="hidden" class="panel-info">
            <div class="prevDivImage">
                <center>
                    <div id="prv">
                        <img id="prevImage" src="">
                    </div>

                </center>
            </div>
            <div class="prevDivDetailsLeft">
                <div>
                    <span id="prevFullname">xx</span> <br />
                    <span id="prevPosition">xx</span>
                </div>
            </div>
            <div class="prevDivDetails" style="padding-top : 20px;">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee No :</span>
                <span id="prevEmpNo" class=""> : xx </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/team.png" /> Team :</span>
                <span id="prevTeam" class=""> : xx </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/email.png" /> Email :</span>
                <span id="prevEmail" class=""> : xx </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/bday.png" /> Birthday :</span>
                <span id="prevBirthday" class=""> : xx </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/phone.png" /> Contact No. :</span>
                <span id="prevContact" class=""> : xx </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/home.png" /> Address :</span>
                <span id="prevAddress"> xx  </span>
            </div>
            <div class="prevDivDetails">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/gender.png" /> Gender :</span>
                <span id="prevGender"> : xx </span>
            </div>
            <div class="prevDivDetails" style="padding-bottom : 10px;">
                <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/status.png" /> Status :</span>
                <span id="prevStatus"> xx </span>
            </div>


        </div>


    </div>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

