﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%=.sec_url%>images/ivp_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>

    <script src="<%=.sec_url%>Scripts/jquery-3.1.1.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet" />

    <script type="text/javascript" src="<%=.sec_url%>Scripts/angular.min.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>Scripts/canvasjs.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery Version 1.11.1 -->
    <!--<script src="<%=.sec_url%>js/jquery.js"></script>-->


    <style>
        .ng-cloak {
            display: none !important;
        }

        .errors {
            color: red;
            font-weight: bold;
        }

        .emptyPieChart {
            width: 500px;
            height: 300px;
            border: 2px solid black;
            text-align: center;
            display: table-cell;
                        top: 100px;

        }

        .pieChart {
            width: 500px;
            height: 300px;
            border: 2px solid black;
            top: 100px;
        }
    </style>

    <script language="javascript" type="text/javascript">
        var more = "Show more >>>";
        var less = "<<< Show less";
        var post_maxHeight = 60;



        $(document).ready(function () {

            $('body').animate({
                scrollTop: $("#welcomediv").offset().top
            }, 'slow');

            var $name_span = $('#namespan');
            while ($name_span[0].offsetHeight < $name_span[0].scrollHeight == true) {
                var size = parseInt($name_span.css('font-size').replace('px', '')) - 1;
                $name_span.css('font-size', size + 'px');
            }

            $('.post-description p').each(function () {
                if ($(this)[0].offsetHeight > post_maxHeight) {
                    $(this).height(60);
                    $(this).css('overflow', 'hidden');
                    $(this).closest('div').html($(this).closest('div').html() + "<a href='' class='div_toggle'>" + more + "</a>");
                }
            });
        })

        $(document).on('click', '.div_toggle', function (e) {
            e.preventDefault();
            var $post = $(this).closest('div').children('p');

            if ($post[0].offsetHeight < $post[0].scrollHeight) {
                $post.animate({ 'height': $post[0].scrollHeight + 'px' }, 1000);
                $(this).html(less);
            }
            else {
                $post.animate({ 'height': post_maxHeight + 'px' }, 1000);
                $post.css('overflow', 'hidden');
                $(this).html(more);
            }
        });


    </script>


</head>
<body ng-app="app" ng-controller="PageController">


    <ers:partial file="header.htm" />



    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>


    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#DeleteAnnouncement-Modal">Open Modal</button>-->


    <div id="maincontent" ng-cloak>        
        <ers:IsNotEqual src=".position" value="3">
            <div id="welcomediv">
                <span id="hellospan">  Hello,</span>
                <span id="namespan" ng-cloak>{{Data.Model.fullname}}</span>
                <img id="welcomebanner" src="/images/homebanner2.png" class="" alt="Welcome Banner">
            </div>
        </ers:IsNotEqual>

        <div class="container" id="container">
            <br /><br />
            <center>
                <div style="position:relative;">
                    <div style="float:left ;width: 713px;">
                        <ers:IsEqual src=".position" value="3">
                            <img src="/images/chart_icon.png" class="emp_home_img"> &emsp; <span style="font-size:18px;">Show Reports by: </span>
                            <select id="report_summary" name="report_summary">
                                <ers:foreach variable="report" src=".Model.report_summary_list">
                                    <option value="<%=report.value%>"  <ers:isEqual src="report.value" variable=".Model.report_summary"> selected="selected"</ers:isEqual>> <%=report.name%>  </option>
                                </ers:foreach>
                            </select>
                            <br /> <br />
                            <div id="chartContainer" class=""></div>
                            <br /><br />
                        </ers:IsEqual>
                    </div>
                    <ers:IsEqual src=".position" value="3">
                        <div style="position: absolute; left: 765px; width: 200px">
                            <img src="/images/birthday_con.png" class="emp_home_img"> &emsp; <span style="font-size:20px;">Birthday List </span><br /><br />
                            <ers:foreach variable="emp" src=".Model.birthday_list">
                                <img src="<%=emp.image_path%>" class="emp_home_img" alt="user profile image">
                                <span><%=emp.fname%></span>&emsp;<ers:formatDate src="emp.birthday" value="MMM dd  (ddd)" /> <br /><br />
                            </ers:foreach>
                            <br /> <br />
                        </div>
                    </ers:IsEqual>
                </div>         
            </center>         
           <div style="position: relative;float: left;">
               <div style="width: 700px; float:left;">
                   <center>
                       <img src="/images/announcement.png" class="emp_home_img"> &emsp;<span class="header">Announcements</span> &emsp;
                       <ers:isNotEqual src=".position" value="1">
                           <button type="button" id="btnAdd" class="btn btn-primary btn-lg" data-toggle="modal" title="Add Announcement" data-target="#AddAnnouncement-Modal">
                               <span class="glyphicon glyphicon-plus"></span>
                           </button>
                       </ers:isNotEqual>
                       <br /><br />
                   </center>

                   <div class="errors" ng-if="Data.Model.errorList.length > 0">
                       <ul id="errorList">
                           <li ng-repeat="error in Data.Model.errorList">  {{error}} </li>
                       </ul>
                   </div>
                   <br /><br />
                   <div class="container body-content" style="width: 600px;">
                       <div class="row" ng-if="Data.Model.announcementList.length > 0">
                           <center ng-if="Data.Model.announcementList.length == 0">
                               <p> No Announcement to Display</p>
                           </center>
                           <div class="col-sm-12" ng-repeat="announcement in Data.Model.announcementList">
                               <div name="announcementDIV" class="panel panel-white post panel-shadow">
                                   <div class="post-heading">
                                       <div class="pull-left image">
                                           <img ng-src="{{announcement.image_path}}" class="img-circle avatar" alt="user profile image">
                                       </div>
                                       <div class="pull-left meta">
                                           <div class="title h5">

                                               <a href="<%=.sec_url%>top/Employee/asp/emp_list.asp?s_keyword={{announcement.emp_no}}&searchField=EmpNo">
                                                   <b> {{announcement.fullname}} </b>
                                               </a>
                                               {{announcement.status == 1 ? "Made a post" : "Edited a post"}}

                                               <span class="dropdown" ng-if="announcement.emp_no == Data.Model.emp_no || Data.Model.position == 3">
                                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                                       <span class="caret"></span>
                                                   </a>
                                                   <ul class="dropdown-menu" role="menu">
                                                       <input type="hidden" name="id" value="{{announcement.id}}" />
                                                       <li ng-if="announcement.emp_no == Data.Model.emp_no" onclick="manageAnnouncement(this,2);" data-toggle="modal" data-target="#EditAnnouncement-Modal"><a href="#">Edit </a></li>
                                                       <li onclick="manageAnnouncement(this,3);" data-toggle="modal" data-target="#DeleteAnnouncement-Modal"><a href="#">Delete </a></li>
                                                   </ul>
                                                   <h6 class="text-muted time">
                                                       {{announcement.status == 1 ? announcement.in_time : announcement.u_time }}
                                                   </h6>
                                               </span>
                                           </div>

                                       </div>
                                   </div>
                                   <div class="post-description" my-post-repeat-directive>
                                       <p name="announcementNews">{{announcement.news}}</p>
                                       <input type="hidden" value="{{announcement.news}}" />
                                   </div>
                               </div>
                           </div>
                       </div>
                       <center ng-cloak>
                           <input type="hidden" id="currentPage" value="<%=.Model.pageCnt%>" />
                           <ers:partial file="angular_pager.htm" />
                       </center>
                   </div>
               </div>
               <div id="latestprojdiv" style="float:left; width: 300px;">
                   <center>
                       <img src="/images/projects.png" class="emp_home_img"> &emsp; <span class="header">Active Projects</span>
                       <br /><br />
                       <ul ng-if="Data.Model.projectList.length > 0" style="font-size: 18px;">
                           <li ng-repeat="project in Data.Model.projectList">{{project.proj_desc}}</li>
                       </ul>
                       <p ng-if="Data.Model.projectList.length == 0"> No Active Projects</p>
                       <br /><br /><br />
                       <ers:IsNotEqual src=".position" value="3">
                           <div style="left: 765px;  width: 300px;">
                               <img src="/images/birthday_con.png" class="emp_home_img"> &emsp; <span style="font-size:24px;">Birthday List </span><br /><br />
                               <ers:foreach variable="emp" src=".Model.birthday_list">
                                   <img src="<%=emp.image_path%>" class="emp_home_img" alt="user profile image"><br />
                                   <span style="font-weight:bold"><%=emp.fname%></span><br />
                                   <ers:formatDate src="emp.birthday" value="MMMM dd  (ddd)" /> <br /><br />
                               </ers:foreach>
                               <br /> <br />
                           </div>
                       </ers:IsNotEqual> 
                   </center>               
               </div>               
           </div>           
        </div>    
    </div>
    <!--<div id="Timein">
        <center>
            <span class="header">Time in and out</span>
            <br />
            <ul>
                <ers:foreach src=".Model.ListTimeInOut" variable="itm">
                    <li style="width 450px;"><%=itm.Name%> : <%=itm.checkIn%> - <%=itm.checkOut%></li>
                </ers:foreach>
            </ul>
        </center>
    </div>-->
   

    <div class="modal fade" id="AddAnnouncement-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Post announcement</h4>
                </div>
                <div class="modal-body">
                    <img ng-src="{{Data.Model.image_path}}" class="img-circle imgsize" alt="user profile image">
                    <textarea name="news" id="news" class="post-area" placeholder="Write announcement here."></textarea>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success green" id="btnModalAdd" name="btnModal" data-dismiss="modal"><i class="fa fa-share" style="height:0px !important"></i> Post</button>                   
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    <div class="modal fade" id="EditAnnouncement-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-edit">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit announcement</h4>
                </div>
                <div class="modal-body">
                    <img ng-src="{{Data.Model.image_path}}" class="img-circle imgsize" alt="user profile image">
                    <textarea id='edit_news' name='edit_news' class='post-area' placeholder='What are you doing right now?'> </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success green" id="btnModalEdit" name="btnModal" data-dismiss="modal">Edit Post</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="DeleteAnnouncement-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header btn-danger">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Deleting this announcement</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this announcement?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnModalDelete" name="btnModal" data-dismiss="modal" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <!--<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />-->
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="<%=.sec_url%>signalr/hubs"></script>
    <script src="<%=.sec_url%>js/emp_home.js"></script>
    <script src="<%=.sec_url%>js/angular_pager.js"></script>

</body>
</html>

<ers:partial file="footer.htm" />

