﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>
        <ers:isEqual src=".Model.account_inbox" value="true">Inbox</ers:isEqual>
        <ers:isEqual src=".Model.account_inbox" value="false">Sent Items</ers:isEqual>
    </title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.nor_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.nor_url%>css/messsage.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet" />
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <script src="<%=.sec_url%>/js/message.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 10px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }


        .example6 .navbar-brand {
            background: url(<%=.nor_url%>images/ivplogo.png) center / no-repeat;
            width: 200px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        footer .footer-below {
            padding-top: 130px;
        }


        .loginmodal-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }

            .loginmodal-container h1 {
                text-align: center;
                font-size: 1.8em;
                font-family: roboto;
            }

            .loginmodal-container input[type=submit] {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                position: relative;
            }

            .loginmodal-container input[type=text], input[type=password] {
                height: 44px;
                font-size: 16px;
                width: 100%;
                margin-bottom: 10px;
                -webkit-appearance: none;
                background: #fff;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                /* border-radius: 2px; */
                padding: 0 8px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

                .loginmodal-container input[type=text]:hover, input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

        .loginmodal {
            text-align: center;
            font-size: 14px;
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            height: 36px;
            padding: 0 8px;
            /* border-radius: 3px; */
            /* -webkit-user-select: none;
        user-select: none; */
        }

        .loginmodal-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

            .loginmodal-submit:hover {
                /* border: 1px solid #2f5bb7; */
                border: 0px;
                text-shadow: 0 1px rgba(0,0,0,0.3);
                background-color: #357ae8;
                /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
            }

        .loginmodal-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }

        .login-help {
            font-size: 12px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#delete_all").click(function () {
                if ($('input[name="del_message_item_id"]:checked').length) {
                    var r = confirm("Delete selected message?");
                    if (r == true) {

                        $("#bulk_delete").val("1");
                        $("#delete_form").attr("action", "<%=.sec_url%>top/employee/asp/emp_new_message.asp").submit();

                    }
                } 
                else {
                    alert("Please check the items you want to delete.");
                }

            });
            $('.reply').css('display', 'none');
        });


    </script>


    <script>
        function emp_message(id, emp_no, account_inbox, seen_flag, subject, thread_email) {
            var click = $('#msg_click'+id).val();
            if (click == '1')
            {  
                $('.message'+id).empty();
                $('#msg_click' + id).val('0');
                $('#reply'+id).css('display','none');
            }
            else {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '<%=.nor_url%>top/api/asp/api_message.asp',
                    dataType: 'json',
                    data: { account_inbox: account_inbox, emp_no: emp_no, id: id ,subject:subject,seen_flag:seen_flag,thread_email:thread_email},
                    error: function () {
                    },
                    success: function (result) {
                        if (result.reply_list) {
                            $('#message' + result.id).css('display', 'block');
                            $('#msg_click' + result.id).val('1');
                            $('#reply' + id).show();
                            for (var i = 0; result.reply_list.length > i ; i++) {
                                    if (result.reply_list[i].sender_emp_no == emp_no) {
                                        $('div.message' + result.id).append('<span id=' + result.id + i + '>You wrote :\t\t' + '<br/>' + result.reply_list[i].intime + '<br/>' + result.reply_list[i].message + '</span><br/>');
                                        $('span#' + result.id + i).css({ 'position': 'relative', 'float': 'right', 'width': '60%', 'background-color': '#DCDCDC', 'border-radius': '25px', 'padding': '8px', 'text-align': 'right' });
                                    }
                                    if (result.reply_list[i].sender_emp_no != emp_no) {
                                        $('div.message' + result.id).append('<span id=' + result.id + i + '>' + result.reply_list[i].sender + ' wrote :\t\t<br/>' + result.reply_list[i].intime + '<br/>' + result.reply_list[i].message + '</span><br/>');
                                        $('span#' + result.id + i).css({ 'position': 'relative', 'float': 'left ', 'width': '60%', 'background-color': '#eaf7f7', 'border-radius': '25px', 'padding': '8px', 'text-align': 'left', 'word-wrap': 'break-word' });
                                    }
                                }
                        }
                        else {
                            $('#message' + result.id).css('display', 'block');
                            $('#msg_click' + result.id).val('1');
                            $('#reply' + id).show();
                            $('div.message' + result.id).prepend(result.message + '<br/>').css('color', 'black');
                        }
                    }
                });
            }
            
        };
    </script>

    <script>
        $(document).ready(function () {
            $("#check_all").click(function () {
                $(".checkbox").prop('checked', $(this).prop('checked'));
            });

            $(".checkbox").change(function () {
                if (!$(this).prop("checked")) {
                    $("#check_all").prop("checked", false);
                }
            });
        });
    </script>

    <script>
        function inbox_reply(id, emp_no, account_inbox,subject, send_message,thread_email) {
            var t = $('#new_message'+id);
            var message = t.val();
            if (message == "")
            {
                alert("Please input valid inputs.");
            }
            else {
                $.ajax({
                    type: 'GET',
                    cache: false,
                    url: '<%=.nor_url%>top/api/asp/api_new_message.asp',
                    dataType: 'json',
                    data: { account_inbox: account_inbox, emp_no: emp_no, id: id, subject: subject, message: message, send_message: send_message, thread_email: thread_email },
                    error: function () {
                    },
                    success: function (result) {
                        if (result.error_message != "") {
                            alert(result.error_message);
                        }
                        else {
                            alert("Message has been sent.")
                            location.reload();
                        }
                    }
                });
            }
        }
    </script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>
<body>
    <!--Header-->

    <ers:partial file="header.htm" />
    <hr>
    
    <div class="container">
        <div class="row">
            <section class="content">
                <ers:isEqual src=".Model.account_inbox" value="true">
                    <h3>Inbox</h3>
                </ers:isEqual>
                <ers:isNotEqual src=".Model.account_inbox" value="true">
                    <ers:isEqual src=".Model.account_sent_message" value="true">
                        <h3>Sent Items</h3>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.account_sent_message" value="true">
                        <h3>Compose New Message</h3>
                    </ers:isNotEqual>
                </ers:isNotEqual>
                <div class="col-md-8 col-md-offset-2">
                    <ers:isEqual src=".Model.controller.HasInformation" value="true">
                        <div class="panel panel-info">
                            <div class="panel panel-heading"> <strong>Information</strong>      </div>                                                 
                            <div class="panel-body"> <span class="text-info"><ers:dispInfo /></span>     </div>                                                    
                        </div>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger" style="margin : 0px;">
                            <div class="panel-heading"> <strong>Error</strong> </div>
                            <div class="panel-body"> <ers:dispError /> </div>                         
                        </div>
                        <br />
                    </ers:isNotEqual>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 id="namespan_inbox"><%=.Model.fname%> <%=.Model.lname%></h3>
                            <ers:isEqual src=".Model.account_inbox" value="false">
                                <ers:isNotEqual src=".Model.account_sent_message" value="false">
                                    <ers:isNotEqual src=".Model.sent_message_count" variable="0">
                                        There are <%=.Model.sent_message_count%> messages in your sent items
                                        <br /><input type="checkbox" id="check_all" name="check_all" /> <label for="check_all">Select All</label>
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                            </ers:isEqual>
                            <ers:isEqual src=".Model.account_inbox" value="true">
                                <ers:isNotEqual src=".Model.inbox_all_message_count" variable="0">
                                    There are <%=.Model.inbox_all_message_count%> messages in your inbox
                                    <br /><input type="checkbox" id="check_all" name="check_all" /> <label for="check_all">Select All</label>
                                </ers:isNotEqual>
                            </ers:isEqual>
                            <ers:isNotEqual src=".Model.account_inbox" value="true">
                                <ers:isEqual src=".Model.account_sent_message" value="false">
                                    <form method="post" action="<%=.sec_url%>top/employee/asp/emp_new_message.asp" name="entry_form" id="entry_form" onsubmit="return confirm('Are you sure you want to send the message?');">
                                        <input type="hidden" name="send_message" value="true" />
                                        <div class="send-wrap ">
                                            <input type="text" class="form-control send-message" rows="3" name="subject" placeholder="Subject" value="" />
                                        </div>
                                        <br />
                                        <div class="send-wrap ">
                                            <textarea class="form-control send-message" rows="3" name="message" placeholder="Write a message..."></textarea>
                                        </div>
                                        <br />
                                        <div class="btn-panel">
                                            <input type="submit" value="Send Message" />
                                        </div>
                                    </form>
                                </ers:isEqual>
                            </ers:isNotEqual>
                            <ers:isEqual src=".Model.no_message" value="false">
                                <ers:isNotEqual src=".Model.fromEmpSearchBtn" value="true">
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <form method="get" action="<%=.sec_url%>top/employee/asp/emp_new_message.asp" id="delete_form" name="delete_form">
                                                <input type="hidden" id="bulk_delete" name="bulk_delete" value="0" />
                                                <input type="hidden" name="account_sent_message" value="<%=.Model.account_sent_message%>" />
                                                <button type="button" id="delete_all" class="btn_delete"><span class="font_icon close"></span>Delete</button>

                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </ers:isNotEqual>
                            </ers:isEqual>
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        <ers:foreach src=".Model.list" variable="msgList">
                                            <tr data-status="pagado" <ers:isEqual src=".Model.account_sent_message" value="false"><ers:isEqual src=".Model.account_inbox" value ="true"><ers:isEqual src="msgList.seen_flag" value="0">class="media-fullbody"</ers:isEqual></ers:isEqual></ers:isEqual>>
                                                <td>
                                                    <ers:isEqual src=".Model.account_inbox" value="true">
                                                        <div class="ckbox">
                                                            <input type="checkbox" class="checkbox" name="del_message_item_id" value="<%=msgList.id%>" id="<%=msgList.id%>" />
                                                            <label for="checkbox1"></label>
                                                        </div>
                                                    </ers:isEqual>

                                                    <ers:isEqual src=".Model.account_sent_message" value="true">
                                                        <ers:isNotEqual src=".Model.sent_message_count" variable="0">
                                                            <div class="ckbox">
                                                                <input type="checkbox" class="checkbox" name="del_message_item_id" value="<%=msgList.id%>" id="<%=msgList.id%>" />
                                                                <label for="checkbox1"></label>
                                                            </div>
                                                        </ers:isNotEqual>
                                                    </ers:isEqual>

                                                    <ers:isEqual src=".Model.fromEmpSearchBtn" value="true">
                                                        <ers:isNotEqual src=".Model.sent_message_count" variable="0">
                                                            <div class="ckbox">
                                                                <input type="checkbox" class="checkbox" name="del_message_item_id" value="<%=msgList.id%>" id="<%=msgList.id%>" />
                                                                <label for="checkbox1"></label>
                                                            </div>
                                                        </ers:isNotEqual>
                                                    </ers:isEqual>
                                                </td>
                                                <td>
                                                    <div class="media">
                                                        <div class="media-body">
                                                            <ers:isEqual src=".Model.account_inbox" value="true">
                                                                <h4 class="title"></h4>
                                                                <div class="div_namespan_inbox">
                                                                    From:<h4><%=msgList.sender%></h4>
                                                                </div>

                                                                <label onclick="emp_message('<%=msgList.id%>', '<%=msgList.emp_no%>', '<%=.Model.account_inbox%>', '<%=msgList.seen_flag%>', '<%=msgList.subject%>', '<%=msgList.thread_email%>')"><u><%=msgList.subject%></u></label><br>
                                                                <div class="message<%=msgList.id%>" id="message_inbox"></div><br>
                                                            </ers:isEqual>
                                                            <ers:isEqual src=".Model.account_sent_message" value="true">
                                                                <span class="media-meta pull-right"><%=msgList.message_date%></span>
                                                                <h4 class="title"></h4>
                                                                <div class="div_namespan_inbox">
                                                                    To:<h4><%=msgList.name%></h4>
                                                                </div>

                                                                <ers:isNotEqual src=".Model.sent_message_count" variable="0">
                                                                    <label onclick="emp_message('<%=msgList.id%>', '<%=msgList.emp_no%>', '<%=.Model.account_inbox%>', '<%=msgList.seen_flag%>', '<%=msgList.subject%>', '<%=msgList.thread_email%>')"><u><%=msgList.subject%></u></label><br>
                                                                    <div class="message<%=msgList.id%>" id="message_inbox"></div><br>
                                                                </ers:isNotEqual>
                                                            </ers:isEqual>
                                                            
                                                            <ers:isEqual src=".Model.fromEmpSearchBtn" value="true">
                                                                <ers:isNotEqual src=".Model.sent_message_count" variable="0">
                                                                    <label onclick="emp_message('<%=msgList.id%>', '<%=msgList.emp_no%>', '<%=.Model.account_inbox%>', '<%=msgList.seen_flag%>', '<%=msgList.subject%>', '<%=msgList.thread_email%>')"><u><%=msgList.subject%></u></label><br>
                                                                    <div class="message<%=msgList.id%>" id="message_inbox"></div><br>
                                                                </ers:isNotEqual>
                                                            </ers:isEqual>

                                                                <ers:isEqual src=".Model.account_inbox" value="true">

                                                                    <div class="reply" id="reply<%=msgList.id%>">
                                                                        <input type="hidden" id="msg_id" value="<%=msgList.id%>" />

                                                                        <div class="send-wrap ">
                                                                            <textarea class="form-control send-message" rows="3" id="new_message<%=msgList.id%>" placeholder="Write a message..."></textarea>
                                                                        </div>
                                                                        <br />
                                                                        <div class="btn-panel">
                                                                            <input type="submit" value="Reply" onclick="inbox_reply('<%=msgList.id%>', '<%=msgList.emp_no%>', '<%=.Model.account_inbox%>', '<%=msgList.subject%>', 'True', '<%=msgList.thread_email%>')" />
                                                                        </div>
                                                                    </div>
                                                                </ers:isEqual>


                                                                <input type="hidden" id="msg_click<%=msgList.id%>" value="" />
</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ers:foreach>
                                    </tbody>
                                </table>
                            </div>
                            </form>
                            <br />
                            <br />

                        </div>
                    </div>
                </div>
            </section>
                </div>

        </div>
</body>

</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>
<br />