﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Edit Employee Information</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/emp_edit.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <script>
         function submit(formname) {
            $("#" + formname).submit();
         }
         function onClickReturn() {
             $('#emp_manage').attr('action', 'emp_list.asp');
             $('#emp_manage').submit();
         }
    </script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <ers:partial file="header.htm" />


    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Employee Details Edit</h1>
        <div class="col-lg-12 well">
            <div class="row">
                <form method="post" id="emp_manage" action="emp_manage_confirm.asp" enctype="multipart/form-data">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">

                                <ers:dispError />


                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="col-sm-12">

                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Name</label>
                                            <p><%=.Model.fname%> <%=.Model.lname%></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Team
                                            </label>
                                            <select name="team" id="team" class="form-control">
                                                <option value=""></option>
                                                <ers:foreach variable="option" src=".Model.team_list">
                                                    <option value="<%=option.value%>"
                                    <ers:isEqual src="option.value" variable=".Model.team"> selected="selected"</ers:isEqual>> <%=option.name%></option>
                                                </ers:foreach>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Position
                                            </label>
                                            <select name="position" id="position" class="form-control">
                                                <option value=""></option>
                                                <ers:foreach variable="option" src=".Model.pos_list">
                                                    <option value="<%=option.value%>"
                                       <ers:isEqual src="option.value" variable=".Model.position"> selected="selected"</ers:isEqual>> <%=option.name%></option>
                                                </ers:foreach>
                                            </select>
                                        </div>


                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Status
                                            </label>
                                            <select name="status" id="status" class="form-control">
                                                <option value=""></option>
                                                <ers:foreach variable="option" src=".Model.status_list">
                                                    <option value="<%=option.value%>"
                                    <ers:isEqual src="option.value" variable=".Model.status"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                                </ers:foreach>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                        <input type="submit" value="return" name="emp_regist" onclick="onClickReturn()" class="btn btn-info" id="submit_btn" style="" />
                        <input type="submit" value="Save" name="emp_regist" class="btn btn-info" id="submit_btn" style="" />
                        </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>