﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Edit Employee Information[Confirm]</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script>
        function submit(formname) {
            $("#emp_update").attr("value", "true");
            $("#emp_regist").attr("value", "true");
            $("#" + formname).submit();
        }

    </script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Confirm Update Details</h1>
        <div class="col-lg-12 well">
            <div class="row">

                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left">
                            <ers:isEqual src=".Model.hasImage" value="true">
                                <ers:isEqual src=".Model.hasTempFile" value="true">
                                    <img src="<%=.sec_url%>/images_temp/<%=.Model.emp_no%>/<%=.Model.temp_file_name%>" class="profile_pic_page other_dp" />
                                    <ers:isElse />
                                    <img src="<%=.sec_url%>/images/<%=.Model.emp_no%>/<%=.Model.image_file%>" class="profile_pic_page other_dp" />
                                </ers:isEqual>
                                <ers:isElse />
                                <img src="<%=.sec_url%>/images/img_avatar1.png" class="profile_pic_page other_dp" />
                            </ers:isEqual>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label>
                                Employee Number
                            </label>
                            <p><%=.Model.old_records.emp_no%></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group addWordWrapEditConfirm">
                            <label>
                                First Name
                            </label>
                            <p>
                                <%=.Model.fname%>
                            </p>
                        </div>
                        <div class="col-sm-4 form-group addWordWrapEditConfirm">
                            <label>
                                Last Name
                            </label>
                            <p>
                                <%=.Model.lname%>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Email
                            </label>
                            <p>
                                <%=.Model.email%>
                            </p>
                        </div>
                    </div>
                    <ers:isNotEqual src=".Model.w_pass" value="">
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    New Password
                                </label>
                                <p>
                                    <%=.Model.w_pass%>
                                </p>
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="form-group addWordWrapEditConfirm">
                        <label>Address</label>
                        <ers:isNotEqual src=".Model.address" value="">
                            <p><%=.Model.address%></p>
                        </ers:isNotEqual>
                        <ers:isEqual src=".Model.address" value="">
                            <p>Not set</p>
                        </ers:isEqual>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Birthday</label>
                            <p>
                                <%=.Model.w_birthday%>
                            </p>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Gender</label>
                            <ers:isNotEqual src=".Model.gender" value="">
                                <p><%=.Model.w_gender%></p>
                            </ers:isNotEqual>
                            <ers:isEqual src=".Model.gender" value="">
                                <p>Not set</p>
                            </ers:isEqual>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>
                                Contact Number
                            </label>
                            <p>
                                <%=.Model.contact_no%>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Team
                            </label>
                            <p>
                                <%=.Model.old_records.w_team%>
                            </p>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>
                                Job Title
                            </label>
                            <p>
                                <%=.Model.old_records.w_job_title%>
                            </p>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>
                                Status
                            </label>
                            <p>
                                <%=.Model.old_records.w_status%>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <form method="post" action="<%=.sec_url%>top/employee/asp/emp_profile_edit.asp">
                        <input type="hidden" name="eck" value="BackPage" />
                        <div class="col-sm-1 form-group">
                            <input type="submit" value="Return" class="btn btn-info" />
                        </div>
                    </form>
                    <form method="post" action="<%=.sec_url%>top/employee/asp/emp_profile_edit_complete.asp">
                        <div class="col-sm-1 form-group">
                            <ers:isEqual src=".position" value="3">
                                <input type="submit" value="Update" class="btn btn-info" />
                                <ers:isElse />
                                <input type="submit" value="Send Request" class="btn btn-warning" />
                            </ers:isEqual>
                        </div>
                    </form>
                </div>
            </div>
            <form method="post" action="<%=.sec_url%>top/employee/asp/emp_edit.asp" id="return"></form>
        </div>
    </div>
</body>
</html>
<ers:partial file="footer.htm" />