﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Profile</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Employee Profile</h1>
        <div class="col-lg-12 well">
            <div class="row">

                <div class="col-sm-12">
                    <div class="media">
                        <div class="media-left profile_pic_div">
                            <ers:isNotEqual src=".Model.hasImage" value="true">
                                <img src="<%=.sec_url%>images/img_avatar1.png" class="profile_pic_page">
                            </ers:isNotEqual>
                            <ers:isEqual src=".Model.hasImage" value="true">
                                <img src="<%=.sec_url%>images/<%=.Model.profile_emp_no%>/<%=.Model.employee.image_file%>" class="profile_pic_page">
                            </ers:isEqual>
                            <center>
                                <div class="namePositionDiv">
                                    <span id="fullname"><%=.Model.employee.fname%>&nbsp;&nbsp;<%=.Model.employee.lname%></span> <br />
                                    <span id="position"> <%=.Model.employee.w_job_title%></span>
                                </div>
                            </center>
                        </div>
                        <div class="basicInfoMainDiv">
                            <div class="basicInfoDiv">
                                <span class="infoLabel">Employee No</span><br />
                                <img src="/images/emp_no.png" />
                                <ers:isNotEqual src=".Model.profile_emp_no" value=""><span class=""><%=.Model.profile_emp_no%></span></ers:isNotEqual>
                                <ers:isEqual src=".Model.profile_emp_no" value="">Not Set</ers:isEqual>
                            </div>
                            <div class="basicInfoDiv">
                                <span class="infoLabel">Team</span><br />
                                <img src="/images/team.png" />
                                <span><%=.Model.employee.w_team%></span>
                            </div>
                            <div class="basicInfoDiv">
                                <span class="infoLabel">Email</span><br />
                                <img src="/images/email.png" />
                                <span><%=.Model.employee.email%></span>
                            </div>
                            <div class="basicInfoDiv">
                                <span class="infoLabel">Contact No.</span><br />
                                <img src="/images/phone.png" />
                                <span><%=.Model.employee.contact_no%></span>
                            </div>
                            <div class="basicInfoDiv" style="word-break:break-word;width:300px;">
                                <span class="infoLabel">Address</span><br />
                                <img src="/images/home.png" />
                                <span><%=.Model.employee.address%></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <center>
                        <div class="basicInfoDiv">
                            <div class="col-sm-4 form-group">
                                <label>Birthday</label>
                                <img src="/images/bday.png" />
                                <p><%=.Model.employee.w_birthday%></p>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Gender</label>
                                <img src="/images/gender.png" />
                                <p><%=.Model.employee.w_gender%></p>

                            </div>
                            <div class="col-sm-4 form-group">
                                <label>Status</label>
                                <img src="/images/status.png" />
                                <p><%=.Model.employee.w_status%></p>
                            </div>
                        </div>
                    </center>
                </div>
                <form method="post" action="<%=.sec_url%>top/employee/asp/emp_profile_edit.asp">
                    <input type="submit" class="btn btn-info" value="Edit Details" />
                    <input type="hidden" value="<%=.Model.profile_emp_no%>" name="profile_emp_no"/>
                </form>

            </div>
        </div>
    </div>
</body>
</html>
<ers:partial file="footer.htm" />