﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Edit Employee Information</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>js/emp_edit.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>

    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_preview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
</head>
<body>
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Employee Details Edit</h1>
        <div class="col-lg-12 well">
            <div class="row">

                <form method="post" action="<%=.sec_url%>top/employee/asp/emp_profile_edit_confirm.asp" enctype="multipart/form-data">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <ers:isNotEqual src=".position" value="3">
                        <div class="panel panel-info">
                            <div class="panel panel-heading">
                                <strong>Information</strong>
                            </div>
                            <div class="panel-body">
                                <ers:message code="InfoChange" />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="col-sm-12">
                        <div class="media">
                            <div class="media-left">
                                <img src="" id="img_preview" class="profile_pic preview_dp" />
                                    <ers:isEqual src=".Model.hasImage" value="true">
                                        <ers:isEqual src=".Model.hasTempFile" value="true">
                                            <img src="<%=.sec_url%>/images_temp/<%=.Model.emp_no%>/<%=.Model.temp_file_name%>" class="profile_pic other_dp" />
                                            <ers:isElse />
                                            <img src="<%=.sec_url%>/images/<%=.Model.emp_no%>/<%=.Model.image_file%>" class="profile_pic other_dp" />
                                        </ers:isEqual>
                                        <ers:isElse />
                                        <img src="<%=.sec_url%>/images/img_avatar1.png" class="profile_pic other_dp" />
                                    </ers:isEqual>
                                <ers:isEqual src=".position" value="3">
                                    <input type="file" id="img_upload" name="img_file" style="display:none;" />
                                </ers:isEqual>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-2 form-group">
                                <label>
                                    Employee Number
                                </label>
                                <input type="text" class="form-control" name="emp_no" value="<%=.Model.old_records.emp_no%>" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    First Name
                                </label>
                                <ers:isEqual src=".position" value="3">
                                    <input type="text" placeholder="<ers:message code='NotSet' />" class="form-control" name="fname" value="<%=.Model.fname%>" />
                                </ers:isEqual>
                                <ers:isNotEqual src=".position" value="3">
                                    <input type="text" class="form-control" name="fname" value="<%=.Model.fname%>" disabled/>
                                </ers:isNotEqual>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>
                                    Last Name
                                </label>
                                <ers:isEqual src=".position" value="3">
                                    <input type="text" placeholder="<ers:message code='NotSet' />" class="form-control" name="lname" value="<%=.Model.lname%>" />
                                </ers:isEqual>
                                <ers:isNotEqual src=".position" value="3">
                                    <input type="text" class="form-control" name="lname" value="<%=.Model.lname%>" disabled/>
                                </ers:isNotEqual>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Email Address
                                </label>
                                <ers:isEqual src=".position" value="3">
                                    <input type="text" placeholder="<ers:message code='NotSet' />" class="form-control" name="lname" value="<%=.Model.email%>" />
                                </ers:isEqual>
                                <ers:isNotEqual src=".position" value="3">
                                    <input type="text" class="form-control" name="email" value="<%=.Model.email%>" disabled/>
                                </ers:isNotEqual>    
                                </div>

                            <ers:isEqual src=".position" value="3">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Email Address Confirm
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="<ers:message code='NotSet'/>" class="form-control" name="email_confirm" value="<%=.Model.email_confirm%>" />
                            </div>
                                </ers:isEqual>

                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    New Password
                                </label>
                                <input type="password" placeholder="" class="form-control" name="password" />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>
                                    Confirm Password
                                </label>
                                <input type="password" placeholder="" class="form-control" name="password_confirm"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Password
                                </label>
                                <label class="required">*</label>
                                <input type="password" placeholder="" class="form-control" name="current_password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label><label class="required">*</label><br />
                            <textarea placeholder="<ers:message code='NotSet'/>" rows="3" class="form-control" name="address"><%=.Model.address%></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Birthday</label>
                                <ers:isEqual src=".position" value="3">
                                <input type="text" placeholder="<ers:message code='NotSet'/>" class="form-control datepicker" name="birthday" id="datepicker" value="<ers:formatDate src=" .Model.birthday" value="MM/dd/yyyy">" />
                                </ers:isEqual>
                                <ers:isNotEqual src=".position" value="3">
                                    <input type="text" class="form-control datepicker" name="birthday" id="datepicker" disabled value="<ers:formatDate src=" .Model.birthday" value="MM/dd/yyyy">" />
                                 </ers:isNotEqual>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>Gender: </label>
                                <ers:isEqual src=".position" value="3">
                                    <br />
                                    <ers:foreach variable="option" src=".Model.GenderList">
                                        <input type="radio" id="gender<%=option.code%>" name="gender" value="<%=option.code%>"
                                        <ers:isEqual src=".Model.gender" variable="option.code"> checked="checked"</ers:isEqual>
                                        />&nbsp;<label for="gender<%=option.code%>"><%=option.namename%></label>
                                    </ers:foreach>
                                    </ers:isEqual>
                                <ers:isNotEqual src=".position" value="3">
                                    <input type="text" class="form-control" name="w_gender" value="<%=.Model.w_gender%>" disabled/>
                                    </ers:isNotEqual>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Contact Number
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="<ers:message code='NotSet'/>" class="form-control" name="contact_no" value="<%=.Model.contact_no%>" />
                            </div>
                        </div>
                        <ers:isEqual src=".position" value="3">
                            <input type="submit" value="Save" class="btn btn-info" />
                        </ers:isEqual>
                        <ers:isNotEqual src=".position" value="3">
                            <input type="submit" value="Send Request" class="btn btn-warning" />
                        </ers:isNotEqual>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<ers:partial file="footer.htm" />