﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Inbox</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.nor_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.nor_url%>css/messsage.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet" />
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <script src="<%=.sec_url%>/js/message.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>/js/emp_message.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>

    <div class="container">
        <div class="row">
            <section class="content">
                <h3>Messages</h3>
                <ers:isNotEqual src=".Model.IsValid" value="true">
                    <div class="panel panel-danger">
                        <div class="panel panel-heading">
                            <strong>Error</strong>
                        </div>
                        <div class="panel-body">

                            <ers:dispError />


                        </div>
                    </div>
                </ers:isNotEqual>
                <div class="col-md-15">
                    <!--panel threads starts-->
                    <div class="col-md-5">
                        <div class="panel panel-default " id="panel-threads">
                            <div id="delete-all-div" class="delete"><input type="checkbox" name="delete_thread" class="delete-all-chkbox check-box " /> &nbsp; <ers:message code="message-delete-all" /></div>
                            <div class="panel-body">
                                <table class="table-message">

                                    <ers:foreach src=".Model.threads" variable="thread" roopcounter="i">

                                        <tr>
                                            <td class="delete" style="height:100%;width:auto;">
                                                <div class="check-box-container"><input type="checkbox" name="delete_thread" class="delete check-box delete-check-box" id="<%=thread.id%>" /></div>
                                            </td>
                                            <form action="employee_message.asp" id="thread-form<%=i%>" method="post">
                                                <td class="inbox <ers:isNotEqual src="thread.inbox_unseen" value="0"> new</ers:isEqual>" onclick="submitThread(<%=i%>);">
                                                    <h4><%=thread.inbox_name%> &nbsp;<ers:isNotEqual src="thread.inbox_unseen" value="0"><span class="new-count"><%=thread.inbox_unseen%></span></ers:isNotEqual></h4>&nbsp;<span style="font-size:10px;"><%=thread.recent_log%></span>
                                                    <br />
                                                    <label style="font-size:20px;"><%=thread.subject%>&nbsp;</label>
                                                    <input type="hidden" name="recipient_emp_no" value="<%=thread.inbox_emp_no%>" />
                                                    <input type="hidden" name="thread_no" value="<%=thread.id%>" />
                                                </td>
                                            </form>
                                        </tr>

                                    </ers:foreach>

                                </table>
                            </div>
                        </div>
                        <div>
                            <button class="message_img_btn" id="delete-btn" style="float:left;"><img src="<%=.sec_url%>images/delete.png" class="message_img" /></button>
                            <form action="employee_delete_thread.asp" id="form_delete" method="post" style="float:left;">
                                <input type="hidden" name="delete_thread_array" value="" />
                                <button type="submit" name="delete" value="true" class="message_img_btn confirm-delete-btn" id="confirm-delete-btn"><img src="<%=.sec_url%>images/check.png" class="message_img" /></button>
                            </form>
                            <button class="message_img_btn confirm-delete-btn" id="cancel-btn" style="float:left;"><img src="<%=.sec_url%>images/cancel.png" class="message_img" /></button>

                            <form action="employee_message.asp" method="post" style="float:left;">
                                <input type="hidden" name="write_new" value="true" />
                                <input type="hidden" name="recipient_emp_no" value="<%=.Model.recipient_emp_no%>" />
                                <button class="message_img_btn" id="write-btn"><img src="<%=.sec_url%>images/write.png" class="message_img" /></button>
                            </form>
                        </div>
                    </div>
                    <!--panel message starts here-->
                    <!--new messages-->
                    <div class="col-md-7 message-container" id="new-message">
                        <form action="employee_send_message.asp" method="post" name="send_message" id="send_message">
                            <ers:isNotEqual src=".Model.recipient_name" value="">
                                <input type="hidden" name="recipient_emp_no" value="<%=.Model.recipient_emp_no%>" />
                            </ers:isNotEqual>
                            <input type="hidden" name="thread_no" value="<%=.Model.thread_no%>" />
                            <div class="message-head">
                                <div class="member_pic">
                                    <ers:isEqual src=".Model.recipientImageExist" value="false">
                                        <img src="<%=.sec_url%>images/img_avatar1.png" class="member_img" id="member_img">
                                    </ers:isEqual>
                                    <ers:isNotEqual src=".Model.recipientImageExist" value="false">
                                        <img src="<%=.sec_url%>images/<%=.Model.recipient_emp_no%>/<%=.Model.recipient_emp_no%>.jpg" class="member_img" id="member_img">
                                    </ers:isNotEqual>
                                </div>
                                <span style="float:left;font-size:24px;">
                                    <label style="font-size:16px!important;"><ers:isEqual src=".Model.recipient_name" value="">To:</ers:isEqual>&nbsp;</label>
                                    <ers:isEqual src=".Model.recipient_name" value="">
                                        <select id="recipient_emp_no" name="recipient_emp_no" style="width:300px;text-align:left;">
                                            <option value=""></option>
                                            <ers:foreach src=".Model.list_employee" variable="emp">
                                                <option value="<%=emp.emp_no%>"  <ers:isEqual src=".Model.recipient_emp_no" variable="emp.emp_no">selected="selected"</ers:isEqual>><%=emp.name%></option>
                                            </ers:foreach>
                                        </select>
                                    </ers:isEqual>
                                    <ers:isNotEqual src=".Model.recipient_name" value=""><%=.Model.recipient_name%></ers:isNotEqual>
                                    <br />
                                    <ers:isEqual src=".Model.subject" value=""><label style="font-size:16px!important;">Re:&nbsp;<input type="text" name="subject" style="width:400px;" /></label></ers:isEqual>
                                    <ers:isNotEqual src=".Model.subject" value=""><label style="font-size:16px!important;">Re:&nbsp;<%=.Model.subject%></label></ers:isNotEqual>
                                </span>
                            </div>
                            <label style="font-size:14px!important;color:#c43e3e" id="emp_no_label"><ers:message code="message-recipient-emp-no" /> <%=.Model.recipient_emp_no%></label>
                            <br />
                            <div class="panel panel-default " id="panel-message">
                                <div class="panel-body" id="message-body">

                                    <ers:isEqual src=".Model.messageNotEmpty" value="true">
                                        <ers:foreach src=".Model.messages" variable="message">
                                            <div class="message <ers:isEqual src='.Model.emp_no' variable='message.maker_emp_no'> sent</ers:isEqual>">
                                                <%=message.message%>
                                            </div>
                                        </ers:foreach>
                                    </ers:isEqual>


                                </div>
                            </div>

                            <div style="width:100%;float:left;">

                                <textarea name="message" id="message-textarea" placeholder="Enter text here"></textarea>
                                <input type="hidden" name="send" value="true" />
                                <button type="submit" name="send" class="message_img_btn" id="send-btn"><img src="<%=.sec_url%>images/send.png" class="message_img" /></button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

        </div>
    </div>

</body>

</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>
<br />