﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Search</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" />
    <script type="text/javascript" src="<%=.sec_url%>Scripts/angular.min.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/emp_search.js"></script>
</head>
<body ng-app="app" ng-controller="EmpSearchController">
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr>


    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container" style="position:relative">
        <h3>Employee Search</h3>

        <ers:isNotEqual src=".Model.IsValid" value="true">
            <div class="panel panel-danger">
                <div class="panel panel-heading">
                    <strong>Error</strong>
                </div>
                <div class="panel-body">

                    <ers:dispError />
                </div>
            </div>
        </ers:isNotEqual>
        <ers:isEqual src=".Model.controller.HasInformation" value="true">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <strong>Information</strong>
                </div>
                <div class="panel-body">
                    <ers:dispInfo />
                </div>
            </div>
        </ers:isEqual>
        <form id="form_search" method="post">
            <div class="col-lg-12">
                <div class="row col-lg-12 search-div-container">
                    <div class="col-lg-1 search-crit">
                        Search by:
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" ng-type="text" ng-model="query.s_keyword" name="s_keyword" placeholder="Enter name here" />
                    </div>

                </div>
            </div>
            <div class="col-lg-12 search-div-end">
                <div class="row col-lg-12 search-div-container">
                    <div class="col-lg-1 search-crit">
                        Team:
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" ng-model="query.team_filter" name="emp_team_option">
                            <option></option>
                            <option ng-repeat="option in Data.Model.emp_team_option" value="{{option.code}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-1 search-crit">
                        Position:
                    </div>
                    <div class="col-lg-2">
                        <select class="form-control" ng-model="query.position_filter" name="emp_position_option">
                            <option></option>
                            <option ng-repeat="option in Data.Model.job_title_list" value="{{option.id}}">{{option.job_title}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="row col-lg-12" style="min-height:380px">
            <!--Employee Table List Result-->
            <div class="row col-lg-12" style="width:100%; min-height:380px">
                <div class="col-lg-10">                 
                  
                    <div ng-if="(Data.Model.list | filter: criteriaMatch(query)).length == 0" style="padding:100px;text-align:center;font-weight:bold;">
                        <span style="color:red;"> Sorry, no records found</span>
                    </div>
                    <form method="post" action="<%=.sec_url%>top/Employee/asp/emp_csv_download.asp" id="employeeCSVForm">
                        <table class="table table-hover table-bordered" id="emp_table" ng-if="(Data.Model.list | filter: criteriaMatch(query)).length > 0">
                            <thead>
                                <tr>
                                    <th>Emp No.</th>
                                    <th>Employee</th>
                                    <th>Team</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in Data.Model.list | filter: criteriaMatch(query) | orderBy: sorterFunc | limitTo: Data.Model.MaxItemCount:Data.Model.offset ">
                                    <td class="w_50 table-cell-padding">
                                        {{employee.emp_no}}
                                        <input type="hidden" name="emp_no_arr" value="{{employee.emp_no}}" />
                                    </td>
                                    <td class="w_220">
                                        <div>
                                            <img id="emp_img" ng-mouseenter="initPrevModel(true,employee.emp_no)" ng-mouseleave="initPrevModel(false,employee.emp_no)" name="emp_img" src='{{employee.image_path}}' class="member_pic" ng-click="initProfile(employee.emp_no,<%=.position%>)" />
                                        </div>
                                        <div id="detailsDiv">
                                            <span id="fullname">{{employee.full_name}}</span>
                                            <br />
                                            <span id="position-title">{{employee.w_job_title}}</span>
                                            <br />
                                            <span id="email">{{employee.email}}</span>
                                        </div>
                                    </td>
                                    <td class="w_70">{{employee.w_team}}</td>
                                    <td class="w_70">{{employee.w_status}}</td>
                                    <td class="w_200">
                                        <ers:IsEqual src=".position" value="3">
                                            <input type="button" class="btn btn-danger" value="Manage" data-toggle="modal" data-target="#manageModal" ng-click="initManage(employee.emp_no)" />
                                        </ers:IsEqual>
                                        
                                        <input type="button" class="btn btn-info" value="Details" ng-click="initDetailModel(true,employee.emp_no)" data-toggle="modal" data-target="#prevModal" />
                                        <!--<input type="button" class="btn btn-warning" name="fromEmpSearchBtn" value="Message" ng-click="sendMessage(employee.emp_no)"/>-->
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="hidden" id="emp_no_string" name="emp_no_string" value="" />
                    </form>                
                    <form id="profileSubmit" action="<%=.sec_url%>top/employee/asp/emp_profile.asp" method="post">
                        <input type="hidden" id="profile_emp_no" name="profile_emp_no" value=""/>
                    </form>
                    <form id="messageSubmit" action="<%=.sec_url%>top/employee/asp/employee_message.asp" method="post">
                        <input type="hidden" id="recipient_emp_no" name="recipient_emp_no" value="" />
                    </form>
                        <ers:partial file="angular_prev_div.htm" />
                    </div>
                <!--CSV BUTTONS-->
                <div class="col-lg-2">
                    <div class="btn-group-vertical">
                        <ers:isEqual src=".position" value="3">
                            <input type="button" name="btn_upload_emp_csv btn-csv" class="btn btn-primary btn-csv" data-toggle="modal" data-target="#uploadModal" value="UPLOAD EMPLOYEE CSV" />
                        </ers:isEqual>
                        <input type="button" class="btn btn-primary btn-csv" value="DOWNLOAD RECORDS ON PAGE" data-toggle="modal" ng-click="initDownloadCSVperPage()" />
                        <input type="button" class="btn btn-primary btn-csv" value="DOWNLOAD ALL RECORDS" data-toggle="modal" ng-click="initDownloadAllCSV(Data.Model.list | filter: criteriaMatch(query))" />
                    </div>
                </div>
            </div>
            <div class="modal fade" id="uploadModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal-title" style="background-color:#5bc0de;color:white;">
                            <strong>Upload Employee CSV</strong>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="<%=.sec_url%>top/Employee/asp/emp_csv_upload_confirm.asp" enctype="multipart/form-data">
                                <div class="uploadNoteDiv">
                                    <span class="uploadNoteSpan">
                                        <ers:message code="EmployeePositionMessage" />
                                        <br />
                                    </span>
                                    <span class="uploadNoteSpan">
                                        <ers:message code="EmployeeTeamMessage" />
                                    </span>
                                    <br/>
                                    <span class="uploadNoteSpan">
                                        <ers:message code="EmployeeJobTitleMessage" /><br />
                                        <ers:foreach src=".Model.job_title_list" variable="job">                                            
                                            <span class="uploadNoteSpan"><%=job.job_title%></span> <br />
                                        </ers:foreach>
                                    </span>
                                </div>
                                <br />
                                <input type="checkbox" name="chk_find" value="true" checked />&nbsp; Ignore first line?
                                <br />
                                <input type="file" name="csv_file" />
                                <br />
                                <input name="btn_submit" type="submit" class="btn btn-default" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--pager-->
            <div class="row col-lg-10" style="text-align:center">
                <ers:partial file="angular_pager_search.htm" />
            </div>
        </div>
    </div>

</body>
</html>
<!-- Modal -->
<ers:partial file="angular_modal.htm" />
<ers:partial file="footer.htm" />

