﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Member List</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- /.container -->    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>/js/team_management.js"></script>

    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

    <script type="text/javascript">
        $(document).ready(function () {
            $('#nonTeam input[name=pageCnt]').attr('name', 'non_team_page_count');
        });
    </script>
</head>
<body>
    <!--Header-->

    <ers:partial file="header.htm" />


    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <hr>

    <div class="container">
        <div class="form-inline">
            <ers:isNotEqual src=".Model.IsValid" value="true">
                <div class="panel panel-danger">
                    <div class="panel panel-heading">
                        <strong>Error</strong>
                    </div>
                    <div class="panel-body">
                        <ers:dispError />
                    </div>
                </div>
            </ers:isNotEqual>
            <ers:isEqual src=".Model.controller.HasInformation" value="true">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <strong>Information</strong>
                    </div>
                    <div class="panel-body">
                        <span class="text-info"><ers:dispInfo /></span>
                    </div>
                </div>
            </ers:isEqual>
        </div>
        <br />
        <div style="float:left"><h3>My Team Member</h3></div>
        <div style="float:left; margin-left:400px"><h3>Add Members</h3></div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="leftDiv">
                        <div class="lDiv">
                            <div class="form-group" id="myTeam">
                                <ers:isNotEqual src=".Model.recordCount" value="0">
                                    <table class="table tbl table-hover table-bordered emp_list_name">
                                        <thead>
                                            <tr class="btn-primary">
                                                <th>My Member</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ers:foreach src=".Model.list" variable="member">
                                                <tr>
                                                    <td class="my_mem">
                                                        <img src="<%=.sec_url%>/images/<ers:isNotEqual src='member.image_file' value='img_avatar1.png'><%=member.emp_no%>/</ers:isNotEqual><%=member.image_file%>" class="member_pic">&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <p><%=member.fname%>&nbsp;<%=member.lname%></p>
                                                    </td>
                                                    <td>
                                                        <a href="<%=.sec_url%>top/Employee/asp/remove_team_member.asp?update_emp=<%=member.emp_no%>">Remove</a>
                                                        <form method="post" action="<%=.sec_url%>top/employee/asp/employee_message.asp">
                                                            <input type="hidden" value="<%=member.emp_no%>" name="recipient_emp_no" />
                                                            <a href="#" onclick="$(this).closest('form').submit()">Send Message</a>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </ers:foreach>
                                        </tbody>
                                    </table>
                                    <ers:partial file="pager.htm" partialModel=".Pager" />
                                    <ers:isElse />
                                    <p>No Members</p>
                                </ers:isNotEqual>
                            </div>
                        </div>
                    </div>
                    <div class="searchDiv lDiv">
                        <form method="post">
                            <label>Search by:</label>
                            <select id="searchField" class="team_form_control form-control" name="searchField">
                                <option></option>
                                <ers:foreach src=".Model.searchFieldList" variable="option">
                                    <ers:isNotEqual src="option.value" value="5">
                                        <option value="<%=option.value%>" <ers:isEqual src=".Model.searchField" variable="option.value"> selected="selected"</ers:isEqual> ><%=option.name%></option>
                                    </ers:isNotEqual>
                                </ers:foreach>
                            </select>
                            <input type="text" name="s_keyword" class="team_form_control form-control" id="sf" value="<%=.Model.s_keyword%>">
                            <input type="submit" class="btn btn-info" name="MemberSearch" value="Search" formaction="<%=.sec_url%>top/employee/asp/team_management_list.asp">
                        </form>
                        <br/>
                        <div class="lDiv">
                            <div class="form-group" id="nonTeam">
                                <ers:isNotEqual src=".Model.non_team_recordCount" value="0">
                                    <table class="table tbl table-hover table-bordered emp_list_name">
                                        <thead>
                                            <tr class="btn-success">
                                                <th>Available Member</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ers:foreach src=".Model.non_team_list" variable="emp">
                                                <tr>
                                                    <td class="add_mem">
                                                        <img src="<%=.sec_url%>/images/<ers:isNotEqual src='emp.image_file' value='img_avatar1.png'><%=emp.emp_no%>/</ers:isNotEqual><%=emp.image_file%>" class="member_pic">&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <p><%=emp.fname%>&nbsp;<%=emp.lname%></p>
                                                    </td>
                                                    <td>
                                                        <a href="<%=.sec_url%>top/Employee/asp/add_to_team.asp?update_emp=<%=emp.emp_no%>">Add</a>
                                                    </td>
                                                </tr>
                                            </ers:foreach>
                                        </tbody>
                                    </table>
                                    <ers:partial file="pager.htm" partialModel=".NonTeamPager" />
                                    <ers:isElse />
                                    <p>No Available Employee</p>
                                </ers:isNotEqual>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<ers:partial file="footer.htm" />
<br />