﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Member List</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- /.container -->    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="<%=.sec_url%>/js/team_management_list.js"></script>

</head>
<body>
    <!--Header-->

    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>
    <div class="container">
        <div class="form-inline">
            <ers:isNotEqual src=".Model.IsValid" value="true">
                <div class="panel panel-danger">
                    <div class="panel panel-heading">
                        <strong>Error</strong>
                    </div>
                    <div class="panel-body">
                        <ers:dispError />
                    </div>
                </div>
            </ers:isNotEqual>
            <ers:isEqual src=".Model.controller.HasInformation" value="true">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <strong>Information</strong>
                    </div>
                    <div class="panel-body">
                        <span class="text-info"><ers:dispInfo /></span>
                    </div>
                </div>
            </ers:isEqual>
        </div>
        <br />
        <div style="float:left"><h3>My Team Member</h3></div>
        <div style="float:left; margin-left:400px"><h3>Add Members</h3></div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12"  data-ng-app="teamApp" data-ng-controller="teamController" >
                    <div class="leftDiv">
                        <div class="lDiv">
                            <div>
                                <label>Search by:</label>
                                <select id="teamSearchField" class="team_form_control form-control" name="teamSearchField" ng-model="criteria.teamSearchField" ng-init="criteria.teamSearchField = '1'">
                                    <option></option>
                                    <option value="{{option.value}}" ng-repeat="option in Model.searchFieldList"> {{option.name}}</option>
                                </select>
                                <input ng-type="text" ng-model="criteria.team_s_keyword" class="team_form_control form-control" />
                            </div>
                            <br />
                            <div class="form-group" id="myTeam">
                                    <table class="table tbl table-hover table-bordered emp_list_name">
                                        <thead>
                                            <tr class="btn-primary">
                                                <th>My Member</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>                                           
                                            <tr ng-repeat="team in Model.list | filter: teamCriteriaMatch(criteria) | limitTo: Data.maxItemCount:Data.team_offset">
                                                <td class="my_mem">
                                                    <img ng-if="team.image_file !='img_avatar1.png'" ng-src="<%=.sec_url%>/images/{{team.emp_no}}/{{team.image_file}}" class="member_pic" />
                                                    <img ng-if="team.image_file == 'img_avatar1.png'" ng-src="<%=.sec_url%>/images/img_avatar1.png" class="member_pic" />
                                                    <p>{{team.fname}}&nbsp;{{team.lname}}</p>
                                                    <span style="font-style:italic">{{team.email}}</span>

                                                </td>
                                                <td>
                                                    <a href="<%=.sec_url%>top/Employee/asp/remove_team_member.asp?update_emp={{team.emp_no}}">Remove</a>
                                                    <form method="post" action="<%=.sec_url%>top/employee/asp/employee_message.asp">
                                                        <input type="hidden" value="{{team.emp_no}}" name="recipient_emp_no" />
                                                        <a href="#" onclick="$(this).closest('form').submit()">Send Message</a>
                                                    </form>
                                                </td>
                                            </tr>                                             
                                        </tbody>
                                    </table>
                                    <div ng-if="(Model.list | filter: teamCriteriaMatch(criteria)).length == 0" style="padding:100px;text-align:center;font-weight:bold;">
                                        <span style="color:red;"> Sorry, no records found</span>
                                    </div>
                                <ers:partial file="angular_pager_team.htm" />
                            </div>
                        </div>
                    </div>
                        <div>
                            <label>Search by:</label>
                            <select id="nonTeamSearchField" class="team_form_control form-control" name="nonTeamSearchField" ng-model="criteria.nonTeamSearchField" ng-init="criteria.nonTeamSearchField = '1'">
                                <option></option>
                                <option value="{{option.value}}" ng-repeat="option in Model.searchFieldList" > {{option.name}}</option>
                            </select>
                            <input ng-type="text" ng-model="criteria.non_team_s_keyword" class="team_form_control form-control" />
                        </div>
                    <br />
                        <div class="lDiv">
                            <div class="form-group" id="nonTeam">
                                <table class="table tbl table-hover table-bordered emp_list_name">
                                    <thead>
                                        <tr class="btn-success">
                                            <th>Available Member</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="non_team in Model.non_team_list | filter: nonTeamCriteriaMatch(criteria) | limitTo: Data.maxItemCount:Data.non_team_offset">
                                            <td class="add_mem">
                                                <img ng-if="non_team.image_file !='img_avatar1.png'" ng-src="<%=.sec_url%>/images/{{non_team.emp_no}}/{{non_team.image_file}}" class="member_pic" />
                                                <img ng-if="non_team.image_file == 'img_avatar1.png'" ng-src="<%=.sec_url%>/images/img_avatar1.png" class="member_pic" />
                                                <p>{{non_team.fname}} {{non_team.lname}}</p>
                                                <span style="font-style:italic">{{non_team.email}}</span>
                                            </td>
                                            <td>
                                                <a href="<%=.sec_url%>top/Employee/asp/add_to_team.asp?update_emp={{non_team.emp_no}}">Add</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-if="(Model.non_team_list | filter: nonTeamCriteriaMatch(criteria)).length == 0" style="padding:100px;text-align:center;font-weight:bold;">
                                    <span style="color:red;"> Sorry, no records found</span>
                                </div>
                                <ers:partial file="angular_pager_non_team.htm" />
                            </div>
                        </div>
              
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<ers:partial file="footer.htm" />
<br />