<aside>
	<div id="side_search_box" class="clearfix">
		<form action="<%=.nor_url%>top/search/asp/list.asp" method="post" group_name="none">
			<p><input type="text" id="s_left_keyword" name="s_keyword" autocomplete="off"><input type="image" name="search_submit-s" id="search_submit-s" src="<%=.dynamic_url%>images/btn_search.gif" value="検索"></p>
            <div id="left_suggest" style="display:none;"></div>
		</form>
		<p class="detail"><a href="<%=.nor_url%>top/search/asp/search.asp">詳細検索</a></p>
	</div><!-- search_box -->
	<div id="side_cart">
		<h3><img src="<%=.dynamic_url%>images/sttl_cart.gif" alt=""></h3>
		<p>現在&nbsp;<strong class="amount"></strong>&nbsp;点の商品がショッピングカートに入っています。<a href="<%=.sec_url%>top/cart/asp/cart.asp">カートをみる＞</a></p>
		<div>
			<p><span>ご注文合計金額</span><strong class="price"><span>&nbsp;円</span></strong></p>
		</div>
		<p class="carriageoff"><img src="<%=.dynamic_url%>images/bnr_carriageoff.gif" alt=""></p>
	</div><!-- side_cart -->

	<div id="login_form">
		<h3 class="welcome" style="display: none;">ようこそ！</h3>
		<div>
			<h4><a href="<%=.sec_url%>top/member/asp/"><img src="<%=.dynamic_url%>images/btn_login.jpg" alt="ログイン" /></a></h4>
			<ul>
				<li><a href="<%=.sec_url%>top/register/asp/member_entry.asp"><img src="<%=.dynamic_url%>images/navi_entry.png" alt="新規会員登録" /></a></li>
				<li><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><img src="<%=.dynamic_url%>images/navi_pass.png" alt="パスワードをお忘れの方" /></a></li>
			</ul>
		</div>
		<p class="mypage" style="display: none"><a href="<%=.sec_url%>top/member/asp/"><img src="<%=.dynamic_url%>images/btn_mypage.jpg" alt=""></a></p>
		<p class="logout" style="display: none"><a href="<%=.sec_url%>top/member/asp/logout.asp"><img src="<%=.dynamic_url%>images/btn_logout.jpg" alt=""></a></p>
	</div><!-- login_form -->

	<div class="bnr">
		<ul class="clearfix">
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_send.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=U3257&"><img src="<%=.dynamic_url%>images/bnr_try.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>teiki.html"><img src="<%=.dynamic_url%>images/bnr_teiki.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_ers.gif" alt=""></a></li>
		</ul>
	</div>

	<!-- view history start -->
		<ers:partial file="view_history.htm" />
	<!-- view history end -->

</aside><!-- aside end -->
