﻿
<style>
    .job_description {
     word-wrap:break-word;
     width:900px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Job Title Registration Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Custom CSS -->
  

</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr />
    <!-- Page Content -->
    <div class="container">
        <h3>Job Title Registration Confirm</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="pcode_table">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Delete?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.job_details" name="job_details" variable="jobs" record_key="record_key"></ers:table>
                            <ers:foreach variable="jobs" src=".Model.job_details" roopcounter="i">
                                <tr>
                                    <td><%=jobs.job_title%></td>
                                    <td><div class="job_description"><%=jobs.job_description%></div></td>
                                    <td><center><ers:isEqual src="jobs.deleteFlg" value="true">Yes</ers:isEqual>
                                        <ers:isEqual src="jobs.deleteFlg" value="false">No</ers:isEqual></center></td>
                                </tr>
                            </ers:foreach>
                    </table>
                    <input type="submit" class="btn btn-danger" value="Back" formaction="<%=.sec_url%>top/job/asp/job_title_regist.asp?eck=2" />&nbsp;&nbsp;
                    <input type="submit" class="btn btn-success" value="Submit" formaction="<%=.sec_url%>top/job/asp/job_title_regist_complete.asp" />&nbsp;
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/project.js"></script>

    <ers:partial file="footer.htm" />
</body>
</html>