﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Job Title Registration</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr />
    <!-- Page Content -->
    <div class="container">
        <h3>Add / Modify Job Title</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="job_table">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Job Description</th>
                                <th>Delete?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.job_details" name="job_details" variable="jobs" record_key="record_key">
                                <tr>
                                    <input type="hidden" id="<%=record_key%>id" name="<%=record_key%>id" value="<%=jobs.id%>" />
                                    <input type="hidden" id="<%=record_key%>disp_order" name="<%=record_key%>disp_order" value="<%=jobs.disp_order%>" />
                                    <td>
                                        <input type="text" name="<%=record_key%>job_title" id="<%=record_key%>job_title" value="<%=jobs.job_title%>" />
                                    </td>

                                    <td>
                                        <input type="text" id="<%=record_key%>job_description" name="<%=record_key%>job_description" value="<%=jobs.job_description%>" size="100" />
                                    </td>
                                    <td>
                                        <center>
                                            <ers:isNotEqual src=".Model.noRecord_flg" value="true"><input type='checkbox' id="<%=record_key%>deleteFlg" class='btn btnl-info btn-sm' name='<%=record_key%>deleteFlg' value="0" <ers:isEqual src="jobs.deleteFlg" value="true">checked</ers:isEqual>/></ers:isNotEqual>
                                            <ers:isEqual src=".Model.noRecord_flg" value="true"><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></ers:isEqual>
                                         </center> 
                                    </td>
                                </tr>

                            </ers:table>
                            <ers:isEqual src=".Model.noRecord_flg" value="true">
                                <tr>
                                    <td><input type="text" name="record_key_0_job_title" id="record_key_0_job_title" value="" /></td>
                                    <td><input type="text" id="record_key_0_job_description" name="record_key_0_job_description" value="" size="100" /></td>
                                    <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                </tr>
                            </ers:isEqual>
                    </table>
                    <input type="button" class="btn btn-info btn-sm" value="Add Fields" id="addField" />&emsp; <input type="submit" value="Submit" class="btn btn-success" formaction="<%=.sec_url%>top/job/asp/job_title_regist_confirm.asp" />&nbsp;

                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/job.js"></script>

    <ers:partial file="footer.htm" />
</body>
</html>