<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<base target="_self" />
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<title>Call Tracking System</title>
</head>

<frameset rows="55px,*" frameborder="0" border="0" framespacing="3">
	<frame name="header" src="<%=.sec_url%>top/header/asp/header.asp" frameborder="0" scrolling="auto">
	<frameset cols="370px,*">
			
             <frameset rows="30%,*" frameborder="0" border="0" framespacing="3" >
			    <frame name="right_t" src="<%=.sec_url%>top/search/asp/search.asp" frameborder="0" scrolling="auto">
			    <frame name="right_b" src="<%=.sec_url%>top/search/asp/list.asp" frameborder="0" scrolling="auto">
		    </frameset>
		    <frameset rows="30%,*" frameborder="0" border="0" framespacing="3" >
			    <frame name="right_t" name="menu" src="<%=.sec_url%>top/cart/asp/frm_cart.asp" frameborder="0" scrolling="auto" >
			    <frame name="right_b" src="<%=.sec_url%>top/register/asp/frm_perm_entry.asp" frameborder="0" scrolling="auto">
		    </frameset>
	</frameset>
</frameset>
</html>
