<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>商品一覧 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

</div>
<!-- breadcrumb navigatione end -->
<!-- container start -->
<div id="ERS_container" align="center" style="font-size: x-small; color:#400d0e;" >

<div id="ERS_contentswrapper">

<!-- contents start -->
	<div id="ERS_contents">

		<a href="<%=.nor_url%>allbeautyin.html"><img src="<%=.nor_url%>images/deram_mb_list_allbeautyin.jpg" alt="" width="221" height="93" style="padding:1.25em 0;" /></a>

<ers:isNotEqual src=".Model.recordCount" value="0">
		<h2 style="margin:0 0 9px 0; padding:0 0 0 0; font-size:1.25em;">商品一覧結果</h2>
</ers:isNotEqual>

<ers:dispInfo />

		<font color="red"><ers:dispError /></font>

		<div id="number" style="margin:0 0 9px 0; padding:0 0 9px 0;">
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
		</div>
<hr size="1" color="#ca5015">

		<div id="item" style="margin:0 0 0 0; padding:0 0 0 0;">
<!-- result_item start -->
<ers:foreach variable="item" src=".Model.merchandiseList" roopcounter="item_cnt">
			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<th width="62px" rowspan="3" valign="top" align="center"><img src="<%=.nor_url%>images/simg/<%=item.scode %>/G<%=item.gcode%>_01.jpg?width=60" alt="" border="none" /></th>
					<td style="font-weight:bold; "><font color="#101010"></font><%=item.m_gname%></td>
				</tr>
				<tr>
					<td>
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
<ers:isEqual src="item.onCampaign" value="true" comment="ｾｰﾙ価格時に表示します">
					ｾｰﾙ価格<strike><ers:formatCurrency src="item.default_price" /></strike>→<strong><ers:formatCurrency src="item.price" /></strong><ers:isNotEqual src="item.price" variable="item.max_price">〜</ers:isNotEqual><br/>
</ers:isEqual>
<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
    <ers:isNotEqual src="item.price" variable="item.non_member_price">
					通常価格&nbsp;:&nbsp;<ers:formatCurrency src="item.non_member_price" /><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">〜</ers:isNotEqual><br/>
    </ers:isNotEqual>
    <ers:isEqual src="item.price" variable="item.non_member_price">
                    通常価格
    </ers:isEqual>
    <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    会員価格
    </ers:isNotEqual>
                    &nbsp;:&nbsp;<ers:formatCurrency src="item.price" /><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">〜</ers:isNotEqual><br/>
</ers:isNotEqual>
</ers:IsNotEqual>
<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
					定期購入価格&nbsp;:&nbsp;<ers:formatCurrency src="item.non_member_regular_price" /><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">〜</ers:isNotEqual><br/>
        </ers:isNotEqual>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                    定期購入価格
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    定期購入会員価格
        </ers:isNotEqual>
                    &nbsp;:&nbsp;<ers:formatCurrency src="item.regular_price" /><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">〜</ers:isNotEqual><br/>
</ers:isEqual>
					</td>
				</tr>
				<tr>
					<td style="padding-bottom:9px;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" style=""><font color="#ca5015">&gt;&gt;商品詳細を見る</font></a></td>
				</tr>
			</table>
<hr size="1" color="#ca5015">

</ers:foreach>
<!-- result_list end -->
		</div><!-- item -->

		<div id="number" style="margin:0 0 9px 0; padding:0 0 0 0;">
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
		</div>

	</div>
<!-- contents end -->


</div>
<!-- footer_link start-->
<ers:partial file="footer_link.htm" />
<!-- footer_link end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->

</font></body>
</html>
