<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>商品検索 ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.nor_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/search.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.nor_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<script type="text/javascript" src="<%=.nor_url%>js/jquery-ui.js"></script>
<link type="text/css" href="<%=.nor_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/search.js"></script>
<script type="text/javascript">
    var cate_relation_level = 5;
    //option部分用宣言
    var form_array_cate = new Array(5);
    form_array_cate[1] = new Array();
    form_array_cate[2] = new Array();
    form_array_cate[3] = new Array();
    form_array_cate[4] = new Array();
    form_array_cate[5] = new Array();

<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
<ers:isEqual src="cate_item.cate_t_active" value="1">
<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>] = new Array();
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['parent_id'] = "<%=option.parent_id%>"
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['id'] = "<%=option.id%>"
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['value'] = "<%=option.cate_name%>";
</ers:foreach>
</ers:isEqual>
</ers:foreach>

    var form_selected = new Array(5);
    form_selected[1] = ""
    form_selected[2] = ""
    form_selected[3] = ""
    form_selected[4] = ""
    form_selected[5] = ""
</script>

</head>
<body><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- globalnavi start -->
<ers:partial file="globalnavi.htm" />
<!-- globalnavi end -->


<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><img src="<%=.nor_url%>images/search_title01.gif" alt="商品の検索" /></h2>
	</div>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError />

<!-- table start -->
		<form method="post" action="list.asp" name="form1">
		<div class="ERS_table">
			<h3>検索したい項目、検索結果の表示順を選択・入力し、[検索]ボタンを押してください。</h3>
			<table class="length" cellspacing="0" cellpadding="2">
				<tr>
					<th><label for="s_scode">商品番号（半角英数）</label></th>
					<td><input type="text" id="s_scode" class="w_200" name="s_scode" value="<%=.Model.s_scode%>" /></td>
				</tr>
				<tr>
					<th><label for="s_sname">商品名</label></th>
					<td><input type="text" id="s_sname" class="w_380" name="s_sname" value="<%=.Model.s_sname%>" /></td>
				</tr>
				<tr>
					<th><label for="s_keyword">キーワード</label></th>
					<td><input type="text" id="s_keyword" class="w_380" name="s_keyword" value="<%=.Model.s_keyword%>" /></td>
				</tr>

<!--cate-->
<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
    <ers:isEqual src="cate_item.cate_t_active" value="1">
    <tr>
    <th><label for="s_cate<%=cate_item.cate_t_id%>"><%=cate_item.cate_t_name%></label></th>
    <td>
    <select class="w_200" id="s_cate<%=cate_item.cate_t_id%>" name="s_cate<%=cate_item.cate_t_id%>">
    <option value="" selected="selected">全て</option>

    <ers:foreach variable="option" src="cate_item.list" roopcounter="j">
						    <option value="<%=option.id%>"><%=option.cate_name%></option>
    </ers:foreach>
    </select>
    </td>
    </tr>
    </ers:isEqual>
</ers:foreach>
<!--//cate-->

				<tr>
					<th><label for="s_price1">価格（半角数字）</label></th>
					<td>
						<input id="s_price1" class="w_100" name="s_price1" type="text" value="<%=.s_price1%>" />&nbsp;円
						&nbsp;〜&nbsp;
						<input name="s_price2" id="s_price2" class="w_100" type="text" value="<%=.s_price2%>" />&nbsp;円
					</td>
				</tr>
				<tr>
					<th><label for="sort">検索結果の表示順</label></th>
					<td>
						<select id="sort" name="sort" class="w_200">
							<option>　</option>
							<option value="1">販売価格の安い順</option>
							<option value="2">発売日の新しい順</option>
						</select>
					</td>
				</tr>
				<tr>
					<th><label for="s_outstock">在庫なしの商品を含む</label></th>
					<td>
						<input type="checkbox" id="s_outstock" name="s_outstock" class="w_200"<ers:isEqual src=".Model.s_outstock" value="true"> checked="checked"</ers:isEqual> />
					</td>
				</tr>
			</table>
		</div>
<!-- table end -->

<!-- next start-->
		<div class="ERS_next">
			<p class="center"><input type="image" src="<%=.nor_url%>images/btn_search_off.gif" alt="検索する" class="change" name="search_item" /></p>
		</div>
		</form>
<!-- next end-->

<!-- back start-->
		<div class="ERS_back">
			<p><a href="javascript:history.back()"><img src="<%=.nor_url%>images/btn_back.gif" alt="戻る" /></a></p>
		</div>
<!-- back end-->

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img src="<%=.nor_url%>images/btn_page-top.gif" alt="ページのトップへ" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/search.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- sidemenu start -->
<ers:partial file="hint/search.htm" />
<!-- sidemenu end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->

</font></body>
</html>
