.ui-widget-header span.ui-button-text
{
    border: 0px solid #dddddd;!important; 
}
.ui-widget-header button.ui-dialog-titlebar-close 
{
    border:none;
    background: #dddddd url(../../../../../lib/jquery-ui/css/flick/images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;
}
.ui-widget-header button.ui-dialog-titlebar-close span:nth-child(1)
{ 
   background-image: url(../../../../../lib/jquery-ui/css/flick/images/ui-icons_0073ea_256x240.png)!important;
   margin: -8px;
}

.ui-widget-header button.ui-dialog-titlebar-close.ui-state-hover
{
    border: 1px solid #0073ea; background: #0073ea url(../../../../../lib/jquery-ui/css/flick/images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; 
}

.ui-widget-header button.ui-dialog-titlebar-close.ui-state-hover span:nth-child(1)
{
    background-image: url(../../../../../lib/jquery-ui/css/flick/images/ui-icons_ffffff_256x240.png)!important;
}

.ui-widget-overlay
{
    width: 100%;
    position:fixed;
}

.plupload_wrapper div.plupload_buttons
{
    opacity: .90;
}