﻿<!-- next start-->
<script>
    var <%=partialModel.summary_code %>seriesLabels = [
<ers:foreach src="partialModel.listResultValues" variable="row" roopcounter="record_count" commen="各行のラベルを出力">
    <ers:foreach src="row" variable="column" roopcounter="roopcounter">
        <ers:IsEqual src="column.Key" value="row_name" comment="レコード名カラムのみ出力">
				{label: '<%=column.Value %>'},
        </ers:IsEqual>
    </ers:foreach>
</ers:foreach>
            ];
    jQuery(function () {
        jQuery.jqplot(
        '<%=partialModel.summary_code %>line_chart',
        [
<ers:foreach src="partialModel.listResultValues" variable="row" roopcounter="record_count" commen="各列の値を出力">
[
    <ers:foreach src="row" variable="column" roopcounter="roopcounter">
        <ers:IsNotEqual src="column.Key" value="row_name" comment="レコード名カラムは出力しない">
				[<%=roopcounter %>, <%=column.Value %>],
       </ers:IsNotEqual>
    </ers:foreach>
],
</ers:foreach>
        ],
        {
            series: <%=partialModel.summary_code %>seriesLabels,
            axesDefaults: {
                tickRenderer: $.jqplot.CanvasAxisTickRenderer ,
                tickOptions: {
                  angle: -30,
                  fontSize: '7pt'
                }
            },
            axes:{
                xaxis:{
                    ticks: [
                        [0, ' '],
<ers:foreach src="partialModel.FirstResultValues" variable="column" roopcounter="roopcounter" commen="各カラムのラベルを出力">
        <ers:IsNotEqual src="column.Key" value="row_name" comment="レコード名カラムは出力しない">
				[<%=roopcounter %>, '<%=column.Key %>'],
        </ers:IsNotEqual>
</ers:foreach>
                        [<%=partialModel.FirstResultValuesCount %>, ' '],
                    ]
                },
                yaxis:{
                    min: 0,
                }
            },
            legend:{
                show: true,
                placement: 'outsideGrid',
                location: 'ne',
            },
            highlighter: {
                show: true,
                sizeAdjust: 7.5,
                tooltipLocation: 'n',
                useAxesFormatters: true,
                tooltipContentEditor: function(str, seriesIndex, pointIndex, plot){
                    return <%=partialModel.summary_code %>seriesLabels[seriesIndex].label + ': ' + str;
                },
                tooltipAxes: 'y',
                showMarker: false
            },
        }
    );
    });
</script>
<div id="<%=partialModel.summary_code %>line_chart"></div>
<!-- next end-->
