﻿<!-- next start-->
<form method="post" action="summary_csv_dl.asp">
	<div class="ERS_next">
		<p>
                <input type="hidden" name="csv_dl_id" value="<%=partialModel.id %>" />
			    <input type="submit" class="form_btn" value="ダウンロード" />
		</p>
	</div>
</form>
<!-- next end-->
