		<div class="m-ERS_amount">
			<h3><ers:message code='cart.cart.OrdinalyOrder'/></h3>
			<table>
				<tr>
					<th class="sname"><ers:label code="sname" /></th>
					<th class="price"><ers:label code="unit_price" /></th>
					<th class="amount"><label for="up_amount"><ers:label code="amount" /></label></th>
					<th class="price"><ers:label code="cart_price" /></th>
					<th class="act"><ers:label code="cancel" /></th>
				</tr>
    <ers:table src="partialModel.basketItems" name="basketItems" record_key="record_key" variable="item">
				<tr>
					<td class="sname"><span>
					<em class="image"><img src="<%=.sec_url%>images/simg/S<%=item.scode%>_01.jpg?width=74" alt="" id="img_for_view2" /></em>
					<em class="text"><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>" target="_blank"><%=item.sname%></a><br>
                    <%=item.attribute1%><ers:isNotEqual src="item.attribute2" value=""><ers:isNotEqual src="item.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=item.attribute2%><br />
					<%=item.contents%></em>
					<input type="hidden" name="<%=record_key%>key" value="<%=item.key %>" /></span></td>
					<td class="tankaList"><ers:formatCurrency src="item.price" /></td>
					<td class="countList">
                        <input type="text" class="input_amount amount" name="<%=record_key%>amount" value="<%=item.amount%>" />
                        <input type="hidden" class="input_sname" value="<%=item.sname%>" />
                        <input type="hidden" class="max_amount" value="<%=item.max_purchase_count%>" />
					</td>
					<td class="totalList"><ers:formatCurrency src="item.total" /></td>
					<td class="deleteBtn">
						<a href="#" onclick="document.entry_form.del_key.value='<%=item.key%>';document.entry_form.submit();" class="m-btn02 m-gray_btn" ><ers:label code="cancel" /></a>
					</td>
				</tr>
	</ers:table>
			</table>
		</div>
<!-- amount end -->

<!-- total start -->
		<div class="m-table_total">
			<table>
				<tr>
					<th><ers:label model="partialModel.amounttotal" /></th>
					<td><%=partialModel.amounttotal%><ers:message code="common.CounterSuffixAmount" /></td>
				</tr>
				<tr>
					<th><ers:label model="partialModel.subtotal" /></th>
					<td><ers:formatCurrency src="partialModel.subtotal" /></td>
				</tr>
<ers:isEqual src=".Model.enableTax" value="true">
				<tr>
					<th><ers:label model="partialModel.tax" /></th>
					<td><ers:formatCurrency src="partialModel.tax" /></td>
				</tr>
</ers:isEqual>
				<tr>
					<th><ers:label model="partialModel.ordinary_total" /></th>
					<td><ers:formatCurrency src="partialModel.ordinary_total" /></td>
				</tr>
			</table>
			<div class="m-recount clearfix">
				<h4><input type="submit" value="<ers:label code='recompute' />" alt="" class="m-btn g-imp_w-p100 m-gray02_btn" id="recompute" /></h4>
			</div>
		</div>
<!-- total end-->


