<link rel="stylesheet" href="<%=.dynamic_url%>css/suggest/suggest.css">
<script type="text/javascript" src="<%=.dynamic_url%>js/suggest/suggest.js"></script>
<ers:partial file="suggest/left_suggest.htm" />
