<script type="text/javascript">
    $(document).ready(function () {
        $(".js-ERS_ranking").load('<%=.dynamic_url%>top/detail/asp/daily_ranking.asp');
    });
</script>

<section class="js-ERS_ranking m-ERS_ranking clearfix">
</section>