﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='error.Title' /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/error.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- title start -->
			<h2><ers:message code="error.Title" /></h2>
<!-- title end -->

<!-- error start -->
		<div class="m-ERS_error clearfix">
			<p><ers:message code="error.ChkMsg" /><br /><span><ers:dispError src="All" /></span></p>
		</div>
<!-- error end -->

<ers:isNotEqual src=".returnUrl" value="none">
<ers:isNotEqual src=".Model.isNoBackTo" value="true">
<ers:isEqual src=".returnUrl" value="">
<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center"><a href="javascript:history.back()" class="m-btn m-center_btn"><ers:label code='common_return_back' /></a></p>
			</div>
<!-- back end -->
</ers:isEqual>
</ers:isNotEqual>

<ers:isNotEqual src=".returnUrl" value="">
<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<form method="post" action="<%=.returnUrl%>">
		                <input type="hidden" name="eck" value="1" />
				<p class="center"><input type="submit" value="<ers:label code='common_return_back' />" class="m-btn m-center_btn" /></p>
				</form>
			</div>
<!-- back end -->
</ers:isNotEqual>
</ers:isNotEqual>

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/error.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:isError src="exception_detail">
		<p style="background-color:White;white-space:nowrap;"><ers:dispError src="exception_detail" /></p>
</ers:isError>

<ers:partial file="tag_conversion.htm" />
</body>
</html>
