	<footer class="l-footer" id="ers_page_loaded">
		<div class="inner">
			<ul class="clearfix">
				<li><a href="<%=.nor_url%>agreement.html"><ers:label code='common_footer_agreement' /></a></li>
				<li><a href="<%=.nor_url%>privacy.html"><ers:message code='partial_footer_privacy_policy' /></a></li>
				<li><a href="<%=.nor_url%>sct.html"><ers:message code='partial_footer_display' /></a></li>
				<li><a href="<%=.nor_url%>sitemap.html"><ers:message code='partial_footer_sitemap' /></a></li>
				<li class="none"><a href="<%=.sec_url%>top/quest/asp/quest1.asp"><ers:message code='partial_footer_contact_us' /></a></li>
			</ul>
			<p>copyright&copy;2014 IVP co.,Ltd all rights reserved.</p>
		</div>
	</footer>
<div id="ers_page_loaded"></div>
<ers:MiniProfiler comment="Generate tags for displaying the profile by MiniProfier" />
