	<header class="l-header">
		<div class="inner clearfix">
			<h1><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/logo.png" alt="ERS" /></a></h1>
			<nav>
				<ul class="bottom clearfix">
					<li class="list"><a class="__product_list" href="<%=.nor_url%>top/search/asp/list.asp"><ers:message code="pageTitle.ItemList" /></a></li>
					<li class="mypage"><a href="<%=.sec_url%>top/member/asp/"><ers:message code="pageTitle.MyPage" /></a></li>
					<li class="cart"><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code="pageTitle.ShoppingCart" /></a></li>
				    <li class="wish list2"><a href="<%=.sec_url%>top/cart/asp/wishlist.asp"><ers:message code="pageTitle.WishList"/></a></li>
                    <li><ers:partial file="lang.htm" partialModel=".langModel" /></li>
				</ul>
			    <p class="try"><a href="<%=.sec_url%>top/lp/asp/lp.asp?ccode=v7campaign"><ers:message code="header.ApplyTrial"/></a></p>
			    <p class="tel"><img src="<%=.dynamic_url%>images/tel.png" alt="<ers:message code='header.ContactInfo'/>" /></p>
			</nav>
		</div>
	</header>