<table>
	<tr>
		<th class="sname"><ers:label code='sname' /></th>
		<th class="term"><ers:label code='term' /></th>
		<th class="scode"><ers:label code='scode' /></th>
		<th class="amount"><ers:message code='partial_amount' /></th>
		<th class="price"><ers:label code='regular_first_price' /></th>
		<th class="price"><ers:label code='regular_second_price' /></th>
	</tr>
	<ers:table src="partialModel.regularBasketItems" name="regularBasketItems" record_key="regular_record_key" variable="item">
	<tr>
		<td><%=item.sname%></td>
		<td>
			<ers:isEqual src="item.send_ptn" value="1">
				<%=item.ptn_interval_month %><ers:label code='common_per_month' /><%=item.ptn_day_name %>
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
			</ers:isEqual>
			<ers:isEqual src="item.send_ptn" value="2">
				<%=item.ptn_interval_month %><ers:label code='common_per_month' /><%=item.ptn_interval_week %><ers:label code='common_per_week' /><%=item.ptn_weekday_name %>
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday %>">
			</ers:isEqual>
			<ers:isEqual src="item.send_ptn" value="3">
				<%=item.ptn_interval_day %><ers:message code='partial_per_day' />
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
			</ers:isEqual>
		</td>
		<td><%=item.scode%></td>
		<td><%=item.amount%></td>
		<td><%=item.price%></td>
		<td><%=item.regular_price%></td>
	</tr>
	</ers:table>
</table>
<table class="total">
	<tr>
		<th><ers:message code='partial_total_prod' /></th>
		<td><ers:formatCurrency src="partialModel.regular_total" /></td>
	</tr>

    <ers:isNotEqual src=".Model.order.etc" value="0">
	<tr>
		<th><%=.Model.w_etc%></th>
		<td><ers:formatCurrency src=".Model.order.etc" /></td>
	</tr>
    </ers:isNotEqual>

    <ers:isNotEqual src=".Model.order.carriage" value="0">
	<tr>
		<th><ers:message code='partial_orderkingaku_postage' /></th>
		<td><ers:formatCurrency src=".Model.order.carriage" /></td>
	</tr>
    </ers:isNotEqual>

    <ers:isNotEqual src="partialModel.IsHiddenRegularTax" value="true">
	<tr>
		<th><ers:label code='regular_tax' /></th>
		<td>
			<ers:isEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next"><ers:formatCurrency src="partialModel.regular_tax"></ers:isEqual>
			<ers:isNotEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next">
				<span><ers:label code='regular_first_price' /></span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_tax"></span><br/>
				<span><ers:label code='regular_second_price' /></span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_tax_next"></span>
			</ers:isNotEqual>
		</td>
	</tr>
    </ers:isNotEqual>

	<ers:isEqual src=".Model.coupon_flg" value="true">
	<tr>
		<th><ers:label code='coupon_discount' /></th>
		<td><ers:formatCurrency src=".Model.order.coupon_discount" /></td>
	</tr>
	</ers:isEqual>
	<tr>
		<th><ers:message code='partial_total' /></th>
		<td>
			<ers:isEqual src="partialModel.regular_total" variable="partialModel.regular_total_next"><strong><ers:formatCurrency src="partialModel.regular_total"></strong></ers:isEqual>
			<ers:isNotEqual src="partialModel.regular_total" variable="partialModel.regular_total_next">
			<span><ers:label code='regular_first_price' /></span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_total"></span><br/>
			<span><ers:label code='regular_second_price' /></span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_total_next"></span>
			</ers:isNotEqual>
		</td>
	</tr>
	<tr>
		<th><ers:label code='ordinary_total' /></th>
		<td><ers:formatCurrency src=".Model.order.total" /></td>
	</tr>
</table>
