<div class="m-ERS_amount">
	<h3 class="m-subtitle02"><ers:message code='partial.OrderProductList.Title' /></h3>
	<table>
		<tr>
			<th class="sname"><ers:label code='sname' /></th>
            <ers:isEqual src=".Model.d_no" value="">
			<th class="send"><ers:message code='partial_delv_date_time' /></th>
            <!--<ers:isNotEqual src=".Model.cart.regularBasketItems.Count" value="0"> <th class="term">定期商品お届け間隔 </th></ers:isNotEqual>-->
            </ers:isEqual>
			<th class="price g-imp_w-98"><ers:label code='unit_price' /></th>
			<th class="amount g-imp_w-29"><ers:label code='amount' /></th>
			<th class="price g-imp_w-98"><ers:message code='partial_amount' /></th>
		</tr>

		<ers:foreach src=".Model.orderRecords" variable="record">
			<tr>
				<td class="sname clearfix">
		<ers:isEqual src="record.order_type" value="Subscription"><div class="regular"><ers:message code='partial_subs_prod' /></div></ers:isEqual>
					<a class="__c_sname" href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=record.scode%>" target="_blank"><%=record.sname%></a>
                    <%=record.attribute1%><ers:isNotEqual src="record.attribute2" value=""><ers:isNotEqual src="record.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=record.attribute2%>
        
        <ers:isNotEqual src=".Model.d_no" value="">
		    <ers:isEqual src="record.cancelFlg" value="true"><span class="status"><ers:message code='partial_status' />：<%=record.w_order_status%></ers:isEqual>
		    <ers:isEqual src="record.cancelAfterDeliverFlg" value="true"><span class="status"><ers:message code='partial_status' />：<%=record.w_order_status%></ers:isEqual>
        </ers:isNotEqual>
				</td>
<ers:isEqual src=".Model.d_no" value="">
				<td class="dayList">

<ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示">
    <ers:isEqual src=".Model.firstTimeOrdinary" value="Shortest">
					    <ers:label code='change_first_time_shortest' />
    </ers:isEqual>
     <ers:isEqual src=".Model.firstTimeOrdinary" value="WithRegular">
					    <ers:message code='partial_with_1st_reg_shop_basket' />
    </ers:isEqual>
   <ers:isNotEqual src=".Model.senddate" value="">
					<ers:formatDate src=".Model.senddate" value="yyyy年M月d日" />
    </ers:isNotEqual>
</ers:isEqual>

<ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
    <ers:isEqual src="record.next_date" value="">
					    <ers:label code='change_first_time_shortest' />
    </ers:isEqual>
    <ers:isNotEqual src="record.next_date" value="">
					    <ers:formatDate src="record.next_date" value="yyyy年M月d日" />
    </ers:isNotEqual>
</ers:isNotEqual>
<br/>
                    <span class="__c_sendtime"><%=record.w_sendtime %></span>
<br/>
        <ers:isNotEqual src=".Model.cart.regularBasketItems.Count" value="0"> 
		        <ers:isEqual src="record.send_ptn" value="1">
						        (<%=record.ptn_interval_month %><ers:label code='common_per_month' /><%=record.ptn_day_name %>)
		        </ers:isEqual>
		        <ers:isEqual src="record.send_ptn" value="2">
						        (<%=record.ptn_interval_month %><ers:label code='common_per_month' /><%=record.ptn_interval_week %><ers:label code='common_per_week' /><%=record.ptn_weekday_name %>)
		        </ers:isEqual>
		        <ers:isEqual src="record.send_ptn" value="3">
						        (<%=record.ptn_interval_day %><ers:message code='partial_per_day' />)
		        </ers:isEqual>
        </ers:isNotEqual>
				</td>
</ers:isEqual>
				<td class="tankaList __c_price">
	                <ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示"><ers:formatCurrency src="record.price"/></ers:isEqual>
	                <ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
                    <ers:isEqual src=".Model.d_no" value="">
	                    <ers:isEqual src="record.price" variable="record.regular_price"><ers:formatCurrency src="record.price"/></ers:isEqual>
	                    <ers:isNotEqual src="record.price" variable="record.regular_price">
	                        <span class="regular_first_price"><ers:label code='regular_first_price' /><ers:formatCurrency src="record.price"/></span><br />
	                        <span class="regular_price"><ers:label code='regular_second_price' /><ers:formatCurrency src="record.regular_price"/></span>
	                    </ers:isNotEqual>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.d_no" value="">
                        <ers:formatCurrency src="record.price"/>
                    </ers:isNotEqual>
	                </ers:isNotEqual>
				</td>
				<td class="countList __c_amount"><%=record.amount%></td>
				<td class="totalList __c_total_price">
	                <ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示"><ers:formatCurrency src="record.total"/></ers:isEqual>
	                <ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
                    <ers:isEqual src=".Model.d_no" value="">
	                <ers:isEqual src="record.price" variable="record.regular_price"><ers:formatCurrency src="record.total"/></ers:isEqual>
	                <ers:isNotEqual src="record.price" variable="record.regular_price">
	                <span class="regular_first_price"><ers:label code='regular_first_price' /><ers:formatCurrency src="record.total"/></span><br />
	                <span class="regular_price"><ers:label code='regular_second_price' /><ers:formatCurrency src="record.regular_total"/></span>
	                </ers:isNotEqual>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.d_no" value="">
                        <ers:formatCurrency src="record.total" />
                    </ers:isNotEqual>
	                </ers:isNotEqual>
				</td>
			</tr>
			</ers:foreach>
	</table>
</div>
