		<div class="ERS_page_send">
    <ers:isEqual src="partialModel.PagePrevFlg" value="true">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_prev">
                <input type="submit" value="<ers:label code='common_previous'/>" class="back" />
                <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
            </form>
    </ers:isEqual>

    <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
        <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                <input value="<%=navi.pagecnt%>" class="place" type="button">
            </form>
        </ers:isEqual>
        <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                <input value="<%=navi.pagecnt%>" type="submit">
            </form>
        </ers:isNotEqual>
    </ers:foreach>

    <ers:isEqual src="partialModel.PageNextFlg" value="true">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_next">
                <input type="submit" value="<ers:label code='common_next'/>" class="next" /> 
                <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />  
            </form>
    </ers:isEqual>
		</div>
