﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PerformanceTest.aspx.cs" Inherits="ers.PerformanceTest" %>
<form id="form1" runat="server">
<asp:Literal ID="result" runat="server"></asp:Literal>
</form>
