<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title><%=.Model.w_metatitle%> ｜ <%=.browser_title%></title>
<meta name="description" content="<%=.Model.metadescription%>">
<meta name="keywords" content="<%=.Model.metawords%>">
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

		<h2 style="margin:0 0 6px 0; padding:0 0 0 0; font-size:1.25em;">商品詳細</h2>
		<hr size="2" color="#ca5015">
		<font color="red"><ers:dispError /></font>
		<div id="item" style="margin:0 0 18px 0; padding:6px 0 0 0;">
			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6" ><tr><td>■<%=.Model.disp_sname%></td></tr></table>

			<div id="pict">
				<p><img src="<%=.dynamic_url%>images/bimg/S<%=.Model.scode%>_01.jpg?width=150" alt="" /></p>
                <p><ers:foreach variable="fileName" src=".Model.imageFiles" roopcounter="i">
                <ers:isNotEqual src="i" value="0">｜</ers:isNotEqual>
                <a href="<%=.nor_url%>images/simg/<%=fileName%>"><font color="#ca5015">画像<%=i + 1 %></font></a>
                </ers:foreach></p>
                <br/>
			</div>
			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063">商品番号</font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;"><%=.Model.scode %></td>
				</tr>
				<tr>
					<td colspan="2" cellpadding="0"><hr size="1" color="#c8a063"></td>
				</tr>
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
	<ers:isEqual src=".Model.onCampaign" value="false" comment="通常価格時に表示します">
        <ers:isNotEqual src=".Model.price" variable=".Model.non_member_price">
                <tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063">通常価格</font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;"><ers:formatCurrency src=".Model.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></td>
                </tr>
        </ers:isNotEqual>
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063">
        <ers:isEqual src=".Model.price" variable=".Model.non_member_price">
                        通常価格
        </ers:isEqual>
        <ers:isNotEqual src=".Model.price" variable=".Model.non_member_price">
                        会員価格
        </ers:isNotEqual>
                    </font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;"><ers:formatCurrency src=".Model.price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></td>
				</tr>
				<tr>
					<td colspan="2" cellpadding="0"><hr size="1" color="#c8a063"></td>
				</tr>
	</ers:isEqual>

				<ers:isEqual src=".Model.onCampaign" value="true" comment="ｾｰﾙ価格時に表示します">
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#ca5015">ｾｰﾙ価格</font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;"><strike><ers:formatCurrency src=".Model.default_price"/></strike>&nbsp→&nbsp<ers:formatCurrency src=".Model.price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></td>
				</tr>
				<tr>
					<td colspan="2"><hr size="1" color="#c8a063"></td>
				</tr>
				</ers:isEqual>
</ers:IsNotEqual>
<ers:IsNotEqual src=".Model.price2" value="">
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063">定価</font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;"><ers:formatCurrency src=".Model.price2"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></td>
				</tr>
				<tr>
					<td colspan="2"><hr size="1" color="#c8a063"></td>
				</tr>
</ers:IsNotEqual>
<ers:isEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がない場合に表示">
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063">在庫</font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;">
<ers:isNotEqual src=".Model.stock_flg" value="0">
    <ers:isEqual src=".Model.stock_flg" value="1">
    <ers:isEqual src=".Model.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
    <ers:isEqual src=".Model.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
    <ers:isEqual src=".Model.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
    <ers:isEqual src=".Model.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
    </ers:isEqual>
    <ers:isEqual src=".Model.stock_flg" value="2"><%=.Model.stock%></ers:isEqual>
</ers:isNotEqual>
                    </td>
                </tr>
</ers:isEqual>
<ers:isNotEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がある場合に表示">
				<tr>
					<td nowrap width="27%" style="margin:0 0 0 0; padding:3px 0 3px 3px;"><font color="#c8a063"></font></td>
					<td width="73%" style="margin:0 0 0 0; padding:3px 0 3px 0;">
		<form action="<%=.nor_url%>top/detail/asp/detail.asp" method="post" name="matrix_form" id="matrix_form">
			<select name="scode">
<ers:foreach variable="em" src=".Model.listMerchandise" comment="商品グループ内の商品をループします。">
				<option value="<%=em.scode%>"<ers:isEqual src="em.scode" variable=".Model.scode"> selected="selected"</ers:isEqual>>
<%=em.attribute1%><ers:isNotEqual src="em.attribute2" value=""><ers:isNotEqual src="em.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=em.attribute2%>
<ers:isEqual src="em.stock_flg" value="0"></ers:isEqual>
<ers:isEqual src="em.stock_flg" value="1">
<ers:isEqual src="em.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
<ers:isEqual src="em.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
<ers:isEqual src="em.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
<ers:isEqual src="em.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
</ers:isEqual>
<ers:isEqual src="em.stock_flg" value="2"><%=em.stock%></ers:isEqual>
			</option>
</ers:foreach>
			</select>
            <input type="submit" value="選択">
		</form>
                    </td>
                </tr>
</ers:isNotEqual>
			</table>
<br>
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
    <ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">
			<form method="post" action="<%=.nor_url%>top/detail/asp/cart.asp">
			<input type="submit" name="normal_basket_in" value="ご購入"/>
            <ers:isNotEqual src=".Model.plural_order_type" value="NoLimit">
            <table><tr><td>こちらの商品はお一人様1回限りのご注文とさせていただきます。</td></tr></table>
            </ers:isNotEqual>
			<input type="hidden" name="scode" value="<%=.Model.scode%>" />
		</form>
    </ers:isNotEqual>
	<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
	Sold Out
	</ers:isEqual>
</ers:isEqual>
<ers:isEqual src=".Model.DatePeriod" value="3" comment="販売期間前に表示します。">
	販売期間前
</ers:isEqual>

<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
	販売期間終了
</ers:isEqual>
</ers:IsNotEqual>
	</div><!-- item -->
<ers:isEqual src=".Model.sale_regular_flg" variable="true">
	<form method="post" action="<%=.nor_url%>top/detail/asp/cart.asp">
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6" ><tr><td>■定期購入がｵｽｽﾒです。</td></tr></table>
		<div id="send" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

<ers:comment value="TODO:PCをそのまま貼り付けただけのため、修正願います。" ></ers:comment>
					<ers:isEqual src=".Model.disp_send_ptn_month_intervals" value="true">
					<input type="radio" name="send_ptn" id="send_ptn1" value="1"<ers:isEqual src=".Model.send_ptn" value="MONTH_INTERVALS"> checked="checked"</ers:isEqual>>
					<div class="ERS_table">
						<table>
							<tr>
								<th><label for="send_ptn1">月単位で同じ日にお届け</label></th>
							</tr>
							<tr>
								<td>
									<select class="w_40" name="ptn_monthly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_monthly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;ヶ月ごとの&nbsp;
									<select class="w_60" name="ptn_day">
									<ers:foreach src=".Model.ListPtnDay" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select><br />
									<select class="w_200" name="next_date_month">
									<option value="">初回配送月を選択してください</option>
									<ers:foreach src=".Model.ListRegularSenddateMonth" variable="value">
									<option value="<ers:FormatDate src="value" />"<ers:isEqual src=".Model.next_date_month" variable="value"> selected="selected"</ers:isEqual>><ers:FormatDate src="value" value="yyyy年MM月" /></option>
									</ers:foreach>
									</select>
								</td>
							</tr>
						</table>
					</div>
					</ers:isEqual>

					<ers:isEqual src=".Model.disp_send_ptn_week_intervals" value="true">
					<input type="radio" name="send_ptn" id="send_ptn2" value="2"<ers:isEqual src=".Model.send_ptn" value="WEEK_INTERVALS"> checked="checked"</ers:isEqual>>
					<div class="ERS_table">
						<table>
							<tr>
								<th><label for="send_ptn2">月単位で同じ曜日にお届け</label></th>
							</tr>
							<tr>
								<td class="end">
									<select class="w_40" name="ptn_weekly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;ヶ月ごと&nbsp;
									<select class="w_40" name="ptn_interval_week">
									<ers:foreach src=".Model.ListPtnIntervalWeek" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;週目の&nbsp;
									<select class="w_40" name="ptn_weekday">
									<ers:foreach src=".Model.ListPtnWeekday" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select>&nbsp;
								</td>
							</tr>
						</table>
					</div>
					</ers:isEqual>

<ers:isEqual src=".Model.disp_send_ptn_month_day_intervals" value="true">
<input type="radio" name="send_ptn" value="3"<ers:isEqual src=".Model.send_ptn" value="DAY_INTERVALS"> checked="checked"</ers:isEqual>>

			<div class="cal_in" style="margin:0 0 6px 0; padding:0 0 6px 8px; border-bottom:1px solid #eedec6;">
				<h4 style="margin:0 0 0 0; padding:0 0 0 0;">指定日数毎にお届け</h4>
				<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="radio" name="firstTime" value="0" id="shortest"  style="vertical-align:bottom;" <ers:isEqual src=".Model.next_date_day" value="">checked="checked"</ers:isEqual>>最短でお届け</p>
				<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="radio" name="firstTime" value="1" id="fixed" style="vertical-align:bottom;" <ers:isNotEqual src=".Model.next_date_day" value="">checked="checked"</ers:isNotEqual>>
                配送日を指定する<input type="text" value="<ers:formatDate src=".Model.next_date_day" value="yyyy/MM/dd" />" id="next_date_day" size="12" name="next_date_day" ></p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;入力例) 2012/01/01</p>
				<p style="margin:0 0 0 0; padding:0 0 0 0;">
				<select class="w_80" name="ptn_interval_day">
<ers:foreach src=".Model.ListPtnIntervalDay" variable="entity">
				<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%>日ごと</option>
</ers:foreach>
				</select>
				</p>
			</div>
</ers:isEqual>
				
			<div class="cal_in" style="margin:0 0 0 0; padding:0 0 0 8px;">

<ers:isNotEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
				<h4 style="margin:0 0 3px 0; padding:0 0 0 0;">定期便購入価格&nbsp;:&nbsp;
<ers:isEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
                <ers:formatCurrency src=".Model.non_member_regular_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual>
</ers:isEqual>
<ers:isNotEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
                <span style="ont-size:1.2em;"><font color="#BC2927"><br>&nbsp;&nbsp;
                初回価格&nbsp;<ers:formatCurrency src=".Model.non_member_regular_first_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></font></span>
				<span style="ont-size:1.2em;"><br><font color="#BC2927">&nbsp;&nbsp;
                2回目より&nbsp;<ers:formatCurrency src=".Model.non_member_regular_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></font></span>
</ers:isNotEqual>
                </h4>
</ers:isNotEqual>

				<h4 style="margin:0 0 3px 0; padding:0 0 0 0;">
    <ers:isEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
                    定期便購入価格
    </ers:isEqual>
    <ers:isNotEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
                    定期便購入会員価格
    </ers:isNotEqual>
                &nbsp;:&nbsp;
<ers:isEqual src=".Model.regular_first_price" value="">
                <ers:formatCurrency src=".Model.regular_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual>
</ers:isEqual>
  <ers:isNotEqual src=".Model.regular_first_price" value="">
                <span style="ont-size:1.2em;"><font color="#BC2927"><br>&nbsp;&nbsp;
                初回価格&nbsp;<ers:formatCurrency src=".Model.regular_first_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></font></span>
				<span style="ont-size:1.2em;"><br><font color="#BC2927">&nbsp;&nbsp;
                2回目より&nbsp;<ers:formatCurrency src=".Model.regular_price"/><ers:isEqual src=".Model.enableTax" value="false">（税込）</ers:isEqual><ers:isEqual src=".Model.enableTax" value="true">（税抜）</ers:isEqual></font></span>
</ers:isNotEqual>
                </h4>

<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
	<ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">
				<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" name="regular_basket_in" value="定期ｺｰｽでのご購入">
	</ers:isNotEqual>
	<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
	Sold Out
	</ers:isEqual>
</ers:isEqual>
<ers:isEqual src=".Model.DatePeriod" value="3" comment="販売期間前に表示します。">
	販売期間前
</ers:isEqual>

<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
	販売期間終了
</ers:isEqual>
				</p>
			<input type="hidden" name="scode" value="<%=.Model.scode%>" />
			<input type="hidden" name="carriage_cost_type" value="<%=.Model.carriage_cost_type%>" />
			<input type="hidden" name="plural_order_type" value="<%=.Model.plural_order_type%>" />
			</div>
		</div><!-- send -->

<table bgcolor="#c99f63" width="100%" cellspacing="0" cellpadding="2">
<tr>
<td>
<h4 style="margin:0 0 3px 0; padding:0 8px 0 2px; " align="left">【定期ｺｰｽの3大ﾒﾘｯﾄ】</h4>
<b>ﾒﾘｯﾄ(1)</b><br>
ｾｯﾄなら最大14％割引<br>1品だけでも10%OFF!
<hr size="1" color="#eedec6">
<b>ﾒﾘｯﾄ(2)</b><br>
毎回、送料0<br>定期ｺｰｽ加入のお客さまには通常購入価格の送料も無料
<hr size="1" color="#eedec6">
<b>ﾒﾘｯﾄ(3)</b><br>
いつでも変更・解約OK<br>お届け日の10日前までにご連絡ください
</td>
</tr>
</table>
</form>
</ers:isEqual>
<hr size="1" color="#eedec6">

<!-- detail_info start -->
<ers:partial variable=".Model.detail_info_Path" />
<!-- detail_info end -->

<ers:isNotEqual src=".Model.recommendItemCount" value="0" >
<!-- set item start -->
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6" ><tr><td>■この商品を含むｾｯﾄ商品</td></tr></table>
		<div id="ingredient" style="margin:0 0 14px 0; padding:0 8px 0 8px; " align="left">
		<ers:foreach src=".Model.recommendItems" variable="item">
		<p style="margin:0 0 4px 0; padding:0 0 0 0;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>" style=""><font color="#ca5015"></font><%=item.m_gname%></a></p>
		</ers:foreach>
		</div><!-- ingredient -->
<!-- set item end -->
</ers:isNotEqual>




	</div>
<!-- contents end -->

<br class="release_b" />
<!-- footer_link start-->
<ers:partial file="footer_link.htm" />
<!-- footer_link end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>

