﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - CheckInst</title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/CheckInst.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>

<body>
    <div id="Whole">
        <table align="center" cellpadding="0" cellspacing="0" id="FrameTypePopup">
            
            <tr valign="top">
		        <td id="MiddleZone">
                    <ers:foreach src=".Model.listInstruction" variable="record">
                        <div class="Search">
                        <table class="Search">
	                        <tr>
		                        <th><ers:message code="th_instruction_date" /></th>
		                        <td><%=record.intime%></td>
		                        <th><ers:message code="th_status_confirmation" /></th>
		                        <td>
                                    <%=record.check_desc%>
                                    <ers:isEqual src="record.check_desc" value="Unread">
                                        <input type="button" id="ConfirmInst<%=record.id%>" value="<ers:message code="home.index.change_to_read" />" class="submit __close" />
                                        <script type ="text/javascript">
                                            $("#ConfirmInst<%=record.id%>").click(function () {
                                                $.post("<%=.sec_url%>home/ConfirmInst",
                                                $("#readinst<%=record.id%>").serialize(),
                                                function () {
                                                    window.location = "";
                                                });
                                            });
                                        </script>
                                        <form method="post" action="#" name="readinst" id="readinst<%=record.id%>">
                                            <input type="hidden" name="id" value="<%=record.id%>" />
                                        </form>
                                    </ers:isEqual>
                                </td>
	                        </tr>
	                        <tr>
		                        <th><ers:message code="th_indicated_target" /></th>
		                        <td><%=record.to_ag_name%></td>
		                        <th><ers:message code="th_instructions" /></th>
		                        <td><%=record.from_ag_name%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:message code="th_no_status" /></th>
		                        <td colspan="3"><%=record.case_no%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="enq_casename" /></th>
		                        <td colspan="3"><%=record.enq_casename%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="common_category"/></th>
		                        <td colspan="3"><%=record.cate_name%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="enq_progress" /></th>
		                        <td><%=record.enq_progress%></td>
		                        <th><ers:label code="price_status" /></th>
		                        <td><ers:message src="record.enq_situation"/></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="common_inq_type"/></th>
		                        <td><ers:message src="record.enq_type"/></td>
		                        <th><ers:label code="enq_priorty"/></th>
		                        <td><ers:message src="record.priority"/></td>
	                        </tr>
	                        <tr>
		                        <td colspan="4"><ers:multiLine src="record.dmemo" /></td>
	                        </tr>
                        </table>
                        </div>
                        <br />
                    </ers:foreach>
		        </td>
	        </tr>

            <tr>
		        <td id="FootZone">

                    <input type="submit" id="checkClose" value="閉じる" class="submit __close"/>
                    <script type ="text/javascript">
                        $("#checkClose").click(function () {
                            window.close();
                        });

                    </script>
                </td>
	        </tr>
        </table>
    </div>
 </body>

</html>
