﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/infoCalendar.css" type="text/css" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
     
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.simplemodal.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

</head>
<body>



<script type="text/javascript">
//<![CDATA[
    var theForm = document.forms['aspnetForm'];
    if (!theForm) {
        theForm = document.aspnetForm;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
//]]>
</script>



<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Information" style="float:left;">
	                <h2><ers:message code="cts.information.Title" /></h2>
                    
                    <!--<div id="page_<%=.Model.pageCnt%>"><%=.Model.pageCnt%></div>-->
                    
                    <!--<div id="page_<%=.Model.pageCnt%>"><%=.Model.pageCnt%></div>-->

                    <!-- page_send start -->
                    <ers:partial file="pager.htm" partialModel=".Pager" />
                    <!-- page_send end -->

                    
                    <ers:foreach src=".Model.informationList" variable="record">
                        <form action="<%=.sec_url%>home/index" name="info" id="info" method="post">
                        <div class="InformationItem">
		                    <div class="ItemHead">
                                <table>
                                    <tr>
                                        <td style="width:100%">
                                            <span class="Subject"><%=record.title%></span> 
                                            <span class="SuperVisorName"><%=record.ag_name%></span> 
                                            <span class="DateTime">(<%=record.utime %>)</span>
                                            <!--<%=record.id%> : <%=record.user_id%>-->
                                        </td>
                                        <td>
                                            <input type="hidden" name="id" value="<%=record.id%>" />
                                            <input type="hidden" name="readid" value="<%=record.readid%>" />
                                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                                            <!--<a href="<%=.sec_url%>home/index?id=<%=record.id%>&confirm=true" class="submit" <ers:isNotEqual src="record.readid" value="0"> style="background-color:pink" </ers:isNotEqual>>Confirm</a>-->
                                            
                                            <input type="submit" name="confirm" class="submit" <ers:isEqual src="record.readid" value="0"> style="background-color:pink" value="<ers:message code='home.index.notyetread' />" </ers:isEqual><ers:isNotEqual src="record.readid" value="0"> style="background-color:#cf9" value="<ers:message code='home.index.read' />" </ers:isNotEqual> >
                                        </td>
                                    </tr>

                                </table>
                            </div>
		                    <div class="ItemBody">
			                    <!--<%=record.contents%>-->
                                <ers:nonencode src="record.contents" />
		                    </div>
		                    <div class="ItemFoot"></div>
	                    </div>
                        </form>
                    </ers:foreach>
                </div>

                <ers:isNotEqual src=".Model.unreadinfo" value="0">
		            <!-- modal dialog -->
		            <div class="confirm">
			            <div class="message"></div>
			            <div class="buttons">
                            <div class="no simplemodal-close" id="close" style="display:none"><ers:message code="cts_NonReadAgent_close_btn" /></div>
			            </div>
		            </div>
                </ers:isNotEqual>


				<div style="float:left;margin-left: 20px;margin-top: 20px;">
					<div class="calendar">
						<div class="calendar-back">
                	        <form action="<%=.sec_url%>home/index" name="info" id="pCal" method="post">
                                <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                                <input type="submit" name="backCalendar" class="submit" value="&lt;&lt;">
  					        </form>
						</div>

						<div class="calendar-main">
	  						<ers:nonencode src=".Model.CalendarHtml" />
						</div>

						<div class="calendar-next">
  					        <form action="<%=.sec_url%>home/index" name="info" id="nCal" method="post">
                                  <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                                  <input type="submit" name="nextCalendar" class="submit" value="&gt;&gt;">
	  				        </form>
						</div>

  					        <form action="<%=.sec_url%>home/index" name="dateinfo" id="dateinfo" method="post">
	  					        <input type="hidden" name="pageCnt" value="1" />
			  		        </form>
            		</div>
                    
                    <input type="hidden" id="dispinfo" name="dispinfo" value="0" />
                    

	                <script type="text/javascript">
						function PostDateInfo(utimeValue) {
							document.forms["dateinfo"].elements["utime"].value = utimeValue;
							document.forms["dateinfo"].submit();
							return false;
						}
 
	                    $(document).ready(function () {
												
                            <ers:isNotEqual src=".Model.unreadinfo" value="0" />
                                <ers:isEqual src=".Model.pageCnt" value="0" />
                                    <ers:isEqual src=".Model.moveCalendar" value="false" />
				                        showDialog();
                                    </ers:isEqual>
                                </ers:isEqual>
                            </ers:isNotEqual>

                             function showDialog()
                             {
                                  $('.confirm').modal({
                                        position: ["35%",],
	                                    overlayId: 'confirm-overlay',
	                                    containerId: 'confirm-container',
                                        onShow: function (dialog) {
	                                        var modal = this;
	                                        var msg = "<ers:message code='index.unread_message' value='.model.unreadinfo' />";
	                                        $('.message', dialog.data[0]).append(msg);
                                            document.getElementById("close").style.display = 'block'
                                            
 	                                    }
	                                });
                             }
	                    });
	                </script>
                </div>

                <div style="clear:both;"></div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
