﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item.index.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
function TreeView_ToggleNode(id, imgid){
    if (document.getElementById(id).style.display == '') {
        document.getElementById(id).style.display = 'none';
        document.getElementById(imgid).src = '<%=.sec_url %>images/icon_close.gif';
    }else{
        document.getElementById(id).style.display = '';
        document.getElementById(imgid).src = '<%=.sec_url %>images/icon_open.gif';
    }
}
</script>
</head>
<body>


<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_cate_regist_tree.title"></h2>
	</div>
<!-- title end -->
<form name="form1" method="post" action="#" id="form1">

<!--カテゴリ名階層テンプレ-->
<ers:foreach variable="cate_item0" src=".Model.MainList" roopcounter="i0">
	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
				<div style="width:20px;"><img id="cateImg0_<%=cate_item0.id %>" src="<%=.sec_url %>images/icon_open.gif" onclick="javascript:TreeView_ToggleNode('cate0_<%=cate_item0.id%>','cateImg0_<%=cate_item0.id%>');"></div>
			</td>
			<td style="white-space:nowrap;">
				<span class="tvCate_0" id="tvCatet0">
                <b>[<%=cate_item0.cate_name%>]</b>
                <ers:isEqual src="cate_item0.active" value="0" >※</ers:isEqual>
                </span>
			</td>
		</tr>
	</table>
    <div id="cate0_<%=cate_item0.id%>">

<!--1階層テンプレ-->
<ers:foreach variable="cate_item1" src="cate_item0.child_dic" roopcounter="i1">

	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
                <div style="width:20px;">
                <ers:isNotEqual src="i0" value="4" >
    				<img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
                <div style="width:20px;">
                <ers:isEqual src="cate_item1.child_cnt" value="0" >
                    <ers:isEqual src="cate_item0.child_cnt" variable="i1 + 1" >
    				    <img src="<%=.sec_url %>images/tree_line3.gif">
                    </ers:isEqual>
                    <ers:isNotEqual src="cate_item0.child_cnt" variable="i1 + 1" >
    				    <img src="<%=.sec_url %>images/tree_line2.gif">
                    </ers:isNotEqual>
                </ers:isEqual>
                <ers:isNotEqual src="cate_item1.child_cnt" value="0" >
				    <img id="cateImg1_<%=cate_item1.id%>" src="<%=.sec_url %>images/icon_open.gif" onclick="javascript:TreeView_ToggleNode('cate1_<%=cate_item0.id%>_<%=cate_item1.id%>','cateImg1_<%=cate_item1.id%>');">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div <%=cate_item1.dist2_style%>>
                <%=cate_item1.cate_name%>(ID:<%=cate_item1.id%>)
                <ers:isEqual src="cate_item1.active" value="0" >※</ers:isEqual>
                </div>
			</td>
		</tr>
	</table>
    <div id="cate1_<%=cate_item0.id%>_<%=cate_item1.id%>">
<!--2階層テンプレ-->
<ers:foreach variable="cate_item2" src="cate_item1.child_dic" roopcounter="i2">
	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="i0" value="4" >
    				<img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item0.child_cnt" variable="i1 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
                <div style="width:20px;">
                <ers:isEqual src="cate_item2.child_cnt" value="0" >
                    <ers:isEqual src="cate_item1.child_cnt" variable="i2 + 1" >
                        <img src="<%=.sec_url %>images/tree_line3.gif">
                    </ers:isEqual>
                    <ers:isNotEqual src="cate_item1.child_cnt" variable="i2 + 1" >
                        <img src="<%=.sec_url %>images/tree_line2.gif">
                    </ers:isNotEqual>
                </ers:isEqual>
                <ers:isNotEqual src="cate_item2.child_cnt" value="0" >
				    <img id="cateImg2_<%=cate_item2.id%>" src="<%=.sec_url %>images/icon_open.gif" onclick="javascript:TreeView_ToggleNode('cate2_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>','cateImg2_<%=cate_item2.id%>');">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div <%=cate_item2.dist2_style%>>
                <%=cate_item2.cate_name%>(ID:<%=cate_item2.id%>)
                <ers:isEqual src="cate_item2.active" value="0" >※</ers:isEqual>
                </div>
			</td>
		</tr>
	</table>
    <div id="cate2_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>">
<!--3階層テンプレ-->
<ers:foreach variable="cate_item3" src="cate_item2.child_dic" roopcounter="i3">
	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="i0" value="4" >
    				<img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item0.child_cnt" variable="i1 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item1.child_cnt" variable="i2 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
                <div style="width:20px;">
                <ers:isEqual src="cate_item3.child_cnt" value="0" >
                    <ers:isEqual src="cate_item2.child_cnt" variable="i3 + 1" >
                        <img src="<%=.sec_url %>images/tree_line3.gif">
                    </ers:isEqual>
                    <ers:isNotEqual src="cate_item2.child_cnt" variable="i3 + 1" >
                        <img src="<%=.sec_url %>images/tree_line2.gif">
                    </ers:isNotEqual>
                </ers:isEqual>
                <ers:isNotEqual src="cate_item3.child_cnt" value="0" >
                    <img id="cateImg3_<%=cate_item3.id%>" src="<%=.sec_url %>images/icon_open.gif" onclick="javascript:TreeView_ToggleNode('cate3_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>_<%=cate_item3.id%>','cateImg3_<%=cate_item3.id%>');" >
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div <%=cate_item3.dist2_style%>>
                <%=cate_item3.cate_name%>(ID:<%=cate_item3.id%>)
                <ers:isEqual src="cate_item3.active" value="0" >※</ers:isEqual>
                </div>
			</td>
		</tr>
	</table>
    <div id="cate3_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>_<%=cate_item3.id%>">
<!--4階層テンプレ-->
<ers:foreach variable="cate_item4" src="cate_item3.child_dic" roopcounter="i4">
	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="i0" value="4" >
    				<img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item0.child_cnt" variable="i1 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item1.child_cnt" variable="i2 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item2.child_cnt" variable="i3 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
                <div style="width:20px;">
                <ers:isEqual src="cate_item4.child_cnt" value="0" >
                    <ers:isEqual src="cate_item3.child_cnt" variable="i4 + 1" >
                        <img src="<%=.sec_url %>images/tree_line3.gif">
                    </ers:isEqual>
                    <ers:isNotEqual src="cate_item3.child_cnt" variable="i4 + 1" >
                        <img src="<%=.sec_url %>images/tree_line2.gif">
                    </ers:isNotEqual>
                </ers:isEqual>
                <ers:isNotEqual src="cate_item4.child_cnt" value="0" >
				    <img id="cateImg4_<%=cate_item4.id%>" src="<%=.sec_url %>images/icon_open.gif" onclick="javascript:TreeView_ToggleNode('cate4_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>_<%=cate_item3.id%>_<%=cate_item4.id%>','cateImg4_<%=cate_item4.id%>');" >
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div <%=cate_item4.dist2_style%>>
                <%=cate_item4.cate_name%>(ID:<%=cate_item4.id%>)
                <ers:isEqual src="cate_item4.active" value="0" >※</ers:isEqual>
                </div>
			</td>
		</tr>
	</table>
    <div id="cate4_<%=cate_item0.id%>_<%=cate_item1.id%>_<%=cate_item2.id%>_<%=cate_item3.id%>_<%=cate_item4.id%>">
<!--5階層テンプレ-->
<ers:foreach variable="cate_item5" src="cate_item4.child_dic" roopcounter="i5">
	<table cellpadding="0" cellspacing="0" style="border-width:0;">
		<tr>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="i0" value="4" >
    				<img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item0.child_cnt" variable="i1 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item1.child_cnt" variable="i2 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item2.child_cnt" variable="i3 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div style="width:20px;">
                <ers:isNotEqual src="cate_item3.child_cnt" variable="i4 + 1" >
                    <img src="<%=.sec_url %>images/tree_line1.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
                <div style="width:20px;">
                <ers:isEqual src="cate_item4.child_cnt" variable="i5 + 1" >
                    <img src="<%=.sec_url %>images/tree_line3.gif">
                </ers:isEqual>
                <ers:isNotEqual src="cate_item4.child_cnt" variable="i5 + 1" >
                    <img src="<%=.sec_url %>images/tree_line2.gif">
                </ers:isNotEqual>
                </div>
			</td>
			<td>
				<div <%=cate_item5.dist2_style%>>
                    <%=cate_item5.cate_name%>(ID:<%=cate_item5.id%>)
                    <ers:isEqual src="cate_item5.active" value="0" >※</ers:isEqual>
                </div>
			</td>
		</tr>
	</table>

</ers:foreach>

</div>
</ers:foreach>

</div>
</ers:foreach>

</div>
</ers:foreach>

</div>
</ers:foreach>

<!--カテゴリ種別間のスペース-->
<table cellpadding="0" cellspacing="0" style="border-width:0;">
    <tr>
        <td colspan="2">
        <ers:isNotEqual src="i0" value="4" >
    		<img src="<%=.sec_url %>images/tree_line1.gif">
        </ers:isNotEqual>
        </td>
    </tr>
</table>
</div>
</ers:foreach><!--cate0-->


</div>
<br/>
<br/>

    <ers:message code="item_cate_regist_tree.setting"><br />
    <span id="lblError" style="color:Red;"></span></div>




</body>
</html>
