﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_cate_regist.product.cate.edit.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/cate_regist.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    //カテゴリツリー表示
    function ShowTreeView() {
        //サブウインドウ表示
        var site_id = $("#site_select").val();
        if(site_id == undefined){
            window.open("cate_tree_view.asp", "カテゴリーツリー", "width=500,height=600,scrollbars=yes,resizable=yes");
        }else{
            window.open("cate_tree_view.asp?s_site_id=" + site_id, "カテゴリーツリー", "width=500,height=600,scrollbars=yes,resizable=yes");
        }
        
        window.event.returnValue = false;
    }
</script></head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
		<div id="ERS_title">
			<h2><ers:message code="item_cate_regist.product.cate.edit.Title"></h2>
		</div>
<!-- title end -->

<ers:isEqual src=".Model.registCategoryItem" value="false">
<ers:dispError /><ers:dispInfo />
</ers:isEqual>

<form action="cate_regist.asp" method="post" name="cate_form">
    <ers:isEqual src=".Model.multiple_sites" value="true">
        <ers:partial file="site/site_register_select_change.htm" />
    </ers:isEqual>

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
			<tr>
				<th class="w_20">No</th>
				<th class=""><ers:label code="cate_header_name"></th>
				<th class="w_130"><ers:label code="cate_header_active"></th>
				<th class="w_110"><ers:message code="item_cate_regist_cate_edit"></th>
			</tr>
<ers:table src=".Model.cate_header_table" name="cate_header_table" record_key="record_key" variable="listItem">
			<tr>
				<td><%=listItem.categoryNumber%><input type="hidden" name="<%=record_key%>categoryNumber" value="<%=listItem.categoryNumber%>" /></td>
				<td><input type="text" name="<%=record_key%>cate_header_name" value="<%=listItem.cate_header_name%>" class="w_270"></td>
				<td><input type="checkbox" name="<%=record_key%>cate_header_active" value="1" <ers:isEqual src="listItem.cate_header_active" value="1"> checked="checked"</ers:isEqual> /></td>
				<td class="center"><input class="btn01 edit_cate" id="<%=listItem.categoryNumber%>" type="submit" value="<ers:label code="common_edit">" name="cate_edit_<%=listItem.categoryNumber%>" /></td>
			</tr>
</ers:table>
			<tr>
				<td class="center" colspan="4">
					<input type="submit" class="btn01" value="<ers:message code="item_cate_regist_cate_show_tree_view">" name="" onclick="ShowTreeView()">
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">

			<input type="submit" class="submit_btn" value="<ers:label code="common_register">" name="registCategory" title="<ers:message code="common.RegisterConfirm">" />
		</p>
	</div>
<!-- next end-->

</form>

<br class="release_b" />

<ers:isEqual src=".Model.registCategoryItem" value="true">
<ers:dispError /><ers:dispInfo />
</ers:isEqual>

<ers:isNotEqual src=".Model.categoryNumber" value="">
<form action="" method="post">

<!-- title start -->
	<div id="ERS_title">
        <h3><ers:message code="item_cate_name"/><%=.Model.categoryNumber %><ers:message code="item_cate_regist_cate.edit2"/></h3>
	</div>
<!-- title end -->

<!-- cate_table start -->
	<div class="item_table flexigrid">

<!-- cate start -->
	<div class="edit_cate<%=.Model.categoryNumber%>">
		<table>
			<thead>
				<tr>
					<th width="25"><ers:label code="delete"></th>
<ers:isNotEqual src=".Model.categoryNumber" value="1">
					<th width="200"><ers:label code="cate_parent_id"></th>
</ers:isNotEqual>
					<th width="65"><ers:label code="cate_id"></th>
					<th width="250"><ers:label code="cate_name"></th>
					<th width="50"><ers:label code="common_namecode_t.disp_order"></th>
					<th width="25"><ers:message code="item_cate_regist_cate_display"></th>
				</tr>
			</thead>
			<tbody>
<ers:table src=".Model.cate_body_table" name="cate_body_table" record_key="record_key" variable="cateItem">
				<tr>
					<td><input type="checkbox" name="<%=record_key%>delete" id="" value="1" /></td>
<ers:isNotEqual src=".Model.categoryNumber" value="1">
					<td>
						<select name="<%=record_key%>parent_id">
							<option value="" />
<ers:foreach src="cateItem.listParent" variable="parentItem">
							<option value="<%=parentItem.id%>"<ers:isEqual src="parentItem.id" variable="cateItem.parent_id"> selected="selected"</ers:isEqual>><%=parentItem.cate_name%>
                            <ers:isNotEqual src="parentItem.parentNames" value="">(<%=parentItem.parentNames%>)</ers:isEqual></option>
</ers:foreach>
						</select>
					</td>
</ers:isNotEqual>
					<td>
                        <input type="text" name="<%=record_key%>id" id="" value="<%=cateItem.id%>" />
                        <input type="hidden" name="<%=record_key%>key" id="" value="<%=cateItem.key%>" />
                        <input type="hidden" name="<%=record_key%>hasParent" id="" value="<%=cateItem.hasParent%>" />
                    </td>
					<td><input type="text" name="<%=record_key%>cate_name" id="" value="<%=cateItem.cate_name%>" class="w_250" /></td>
					<td><input type="text" name="<%=record_key%>disp_order" id="disp_order" value="<%=cateItem.disp_order%>" class="w_25" /></td>
					<td><input type="checkbox" name="<%=record_key%>active" id="" value="1"<ers:isEqual src="cateItem.active" value="1"> checked="checked"</ers:isEqual> /></td>
				</tr>
</ers:table>
			</tbody>
		</table>
	</div>
<!-- cate end -->

	</div>
<!-- cate_table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
            <input type="hidden" name="categoryNumber" id="" value="<%=.Model.categoryNumber%>" />
            <input type="hidden" name="site_id" id="site_id" value="<%=.Model.site_id%>" />
			<input type="submit" class="submit_btn" value="<ers:label code="common_register">" name="registCategoryItem" title="<ers:message code="common.RegisterConfirm">" />
		</p>
	</div>
<!-- next end-->

</form>
</ers:isNotEqual>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
