﻿<!DOCTYPE html>
<html lang="ja">
<head>
<base target="_self">
<meta charset="utf-8">
<title><ers:message code="item_common_item_search.Title"/> - <%=.browser_title%></title>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- container start -->
	<div id="ERS_container">

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_common_item_search.Title"/></h2>
	</div>
<!-- title end -->
<!-- search start -->
		<div class="ERS_result_count">
			<p><ers:message code="item_common_item_search.search.results" value=".Model.recordCount"></p>
		</div>
<!-- search end -->

<!--<form action="item_modify.html" method="post" name="item_form">-->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
                <ers:isEqual src=".Model.g_search_mode" value="true">
                    <th width="100"><ers:label code="gcode"></th>
                    <th width="300"><ers:label code="common_product_group_name"></th>
                    <th width="80"><ers:message code="camp_campaign_scode_set"></th>
                </ers:isEqual>
                <ers:isEqual src=".Model.g_search_mode" value="false">
                    <th width="100"><ers:label code="gcode"></th>
                    <th width="60"><ers:label code="scode"></th>
                    <th width="300"><ers:label code="s_sname"></th>
                    <th width="30"><ers:label code="stock"></th>
                    <th width="80"><ers:message code="camp_campaign_scode_set"></th>
                </ers:isEqual>
            </tr>
		</thead>
		<tbody>

        <ers:foreach variable="item" src=".Model.MeList" roopcounter="item_cnt">
			<tr>
<ers:isEqual src=".Model.g_search_mode" value="true">
                <td><%=item.gcode%></td>
                <td><%=item.gname%></td>
                <td><input type="submit" name="btnSetting" value="<ers:message code="camp_campaign_scode_set">" onclick="SetCode(this);" id="btnSetting<%=item.gcode%>" class="w_100 btn01" /></td>
</ers:isEqual>
<ers:isEqual src=".Model.g_search_mode" value="false">
                <td><%=item.gcode%></td>
                <td><%=item.scode%></td>
                <td><%=item.sname%></td>
                <td><%=item.stock%></td>
                <td><input type="submit" name="btnSetting" value="<ers:message code="camp_campaign_scode_set">" onclick="SetCode(this);" id="btnSetting<%=item.scode%>" class="w_100 btn01" /></td>
</ers:isEqual>
            </tr>
        </ers:foreach>

		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- back start-->
	<div class="ERS_back">
    <form action="<%=.sec_url%>top/item/asp/common_item_search.asp" method="post" name="item_Close">
		<p><input type="submit"  value="<< <ers:label code="common_back">" class="btn01" id="ibtnClose" name="ibtnClose"/></p></div>
        </form>
<!-- back end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
