﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_common_item_search.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_common_item_search.Title"/></h2>
	</div>
<!-- title end -->
<!-- search start -->
		<div class="ERS_result_count">
			<p><ers:message code="item_common_item_search.search.results" value=".Model.recordCount" /></p>
		</div>
<!-- search end -->

<!--<form action="item_modify.html" method="post" name="item_form">-->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="110"><ers:label code="gcode"/></th>
				<th width="140"><ers:label code="common_product_group_name"/></th>
				<th width="100"><ers:label code="date_from"/></th>
				<th width="50"><ers:label code="s_sale_ptn"/></th>
				<th width="100"><ers:label code="intime"/></th>
				<th width="80"><ers:message code="item_set_item_search_prod_details"/></th>
			</tr>
		</thead>
		<tbody>

        <ers:foreach variable="item" src=".Model.MeList" roopcounter="item_cnt">
			<tr class="__productSearchList">
				<td class="__l_gcode"><%=item.gcode%></td>
				<td class="__l_gname"><%=item.gname%></td>
				<td class="__l_date_from"><%=item.date_from%></td>
				<td class="__l_sales_method"><%=item.w_sale_ptn%></td>
				<td class="__l_intime"><%=item.intime%></td>                
                <td><input type="button" class="form_btn btn01 __l_prod_details_btn" rel="item_modify$<%=.sec_url%>top/item/asp/item_modify.asp?gcode=<%=item.gcode%>" name="" id="" value="<ers:message code="item_set_item_search_prod_details"/>" /></td>
            </tr>
        </ers:foreach>

		</tbody>
		</table>
	</div>
<!-- item_table end -->
<form action="<%=.sec_url%>top/item/asp/item_modify.asp" name="item_modify" id="item_modify" method="post">
<!--商品詳細用form-->
</form>
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="download_csv_all" id="download_csv_all">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<ers:isEqual src=".enableMall" value="true">
    <ers:foreach src=".Model.listMallList" variable="objMall">
<form action="" name="download_product_data_for_<%=objMall.id %>" id="download_product_data_for_<%=objMall.id %>">
    <input type="hidden" name="download_site_id" value="<%=objMall.id %>" />
</form>
    </ers:foreach>
</ers:isEqual>


<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_csv_all.asp" id="" name="" value="<ers:message code='price_price_list_download_all'/>">
			<input type="button" class="form_btn" rel="download_csv_page$download_csv_page.asp" id="" name="" value="<ers:message code='price_price_list_download_page'/>">
<ers:isEqual src=".enableMall" value="true">
            <br />
    <ers:foreach src=".Model.listMallList" variable="objMall">
        <ers:isEqual src="objMall.mall_shop_kbn" value="YAHOO">
            <input type="button" class="form_btn" rel="download_product_data_for_<%=objMall.id %>$download_product_data_for_yahoo.asp" id="Button1" name="" value="<%=objMall.site_name %><ers:message code='item_item_list_ProdInfoDownload'/>">
        </ers:isEqual>
        <ers:isEqual src="objMall.mall_shop_kbn" value="RAKUTEN">
            <input type="button" class="form_btn" rel="download_product_data_for_<%=objMall.id %>$download_product_data_for_rakuten.asp" id="Button2" name="" value="<%=objMall.site_name %><ers:message code='item_item_list_ProdInfoDownload'/>">
        </ers:isEqual>
        <ers:isEqual src="objMall.mall_shop_kbn" value="AMAZON">
            <input type="button" class="form_btn" rel="download_product_data_for_<%=objMall.id %>$download_product_data_for_amazon.asp" id="Button3" name="" value="<%=objMall.site_name %><ers:message code='item_item_list_ProdInfoDownload'/>">
        </ers:isEqual>
    </ers:foreach>
</ers:isEqual>
		</p>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
        <form action="item_search.asp" name="back" id="form_bk1" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
