﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_item_coexistence.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"> </p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_item_coexistence.Title"></h2>
	</div>
<!-- title end -->

<!-- note start -->
	<div class="ERS_note">
		<p><ers:message code="item_item_coexistence.Direction"></p>
	</div>
<!-- note end -->

    <ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/item/asp/item_coexistence_complete.asp" method="post" name="item_form" id="item_form">

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="20"><ers:label code="delete"></th>
				<th width="120"><ers:label code="mixed_group_code"></th>
				<th width="400"><ers:label code="mixed_group_name"></th>
			</tr>
		</thead>
		<tbody>
<ers:table src=".Model.mixedGroupList" name="mixed_group_table" record_key="record_key" variable="record">
			<tr>
				<td>
                    <input type="checkbox" name="<%=record_key%>delete" id="<%=record_key%>delete" value="1" <ers:IsEqual src="record.delete" value="1"> checked</ers:IsEqual> />
                </td>
				<td>
                    <input type="text" name="<%=record_key%>mixed_group_code" id="<%=record_key%>mixed_group_code" value="<%=record.mixed_group_code%>" />
                </td>
				<td>
                    <input type="text" name="<%=record_key%>mixed_group_name" id="<%=record_key%>mixed_group_name" value="<%=record.mixed_group_name%>"/>
                    <input type="hidden" name="<%=record_key%>id" id="<%=record_key%>id" value="<%=record.id%>"/>
                </td>
			</tr>
</ers:table>
			<tr>
				<td></td>
				<td><input type="text" name="mixed_group_code_add" id="mixed_group_code_add" value="" /></td>
				<td><input type="text" name="mixed_group_name_add" id="mixed_group_name_add" value=""/></td>
			</tr>
		</tbody>
		</table>
        <input type="hidden" id="mode" name="mode" />
	</div>
<!-- item_table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form" class="disp_dialog001"><input type="button" value="<ers:label code="common_register">" /></a>
		</p>
		<div id="dialog001" title="<ers:message code="item_item_coexistence.regist.msgbox.content">">
			<p><ers:message code="common.RegisterConfirm"></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- item_del_form start -->
<form action="<%=.sec_url%>top/item/asp/item_complete.asp" name="item_del_form" id="item_del_form"></form>
<!-- item_del_form end -->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'>" alt="<ers:message code='common.ImageAlt'>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
    