﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item.item_search.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/cate_cascade.js"></script>
    <script type="text/javascript">
	    var cate_relation_level = 5;
	    //option部分用宣言
	    var form_array_cate = new Array(5);
	    form_array_cate[1] = new Array();
	    form_array_cate[2] = new Array();
	    form_array_cate[3] = new Array();
	    form_array_cate[4] = new Array();
	    form_array_cate[5] = new Array();

	<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
	<ers:isEqual src="cate_item.cate_t_active" value="1">
	<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>] = new Array();
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['parent_id'] = "<%=option.parent_id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['id'] = "<%=option.id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['value'] = "<%=option.cate_name%>";
	</ers:foreach>
	</ers:isEqual>
	</ers:foreach>

	    var form_selected = new Array(5);
	    form_selected[1] = "<%=.Model.s_cate1 %>"
	    form_selected[2] = "<%=.Model.s_cate2 %>"
	    form_selected[3] = "<%=.Model.s_cate3 %>"
	    form_selected[4] = "<%=.Model.s_cate4 %>"
	    form_selected[5] = "<%=.Model.s_cate5 %>"

    </script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item.item_search.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/item/asp/item_list.asp" method="post" name="item_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="gcode"/></th>
				<td><input type="text" id="s_gcode" name="s_gcode" class="w_200" value="<%=.Model.s_gcode %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="scode"/></th>
				<td><input type="text" id="s_scode" name="s_scode" class="w_200" value="<%=.Model.s_scode %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="jancode"/></th>
				<td><input type="text" id="s_jancode" name="s_jancode" class="w_200" value="<%=.Model.s_jancode %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="s_sname"/></th>
				<td><input type="text" id="s_scode" name="s_sname" class="w_400" value="<%=.Model.s_sname %>" /></td>
			</tr>

<!--cate start-->
<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
			<tr>
				<th>
					<span  >
                            <ers:isEqual src=".langModel.lang" value="en-US">
                                <ers:message code="camp_campaign_scode_search_searchby" /><ers:message code="item_cate_name" /><%=cate_item.cate_t_id%>
                            </ers:isEqual>
                            <ers:isNotEqual src=".langModel.lang" value="en-US">
                                <ers:message code="item_cate_name" /><%=cate_item.cate_t_id%><ers:message code="camp_campaign_scode_search_searchby" />
                            </ers:isNotEqual>                        
                        </span>
				</th>
				<td>
					<select class="w_250" id="s_cate<%=cate_item.cate_t_id%>" name="s_cate<%=cate_item.cate_t_id%>">
						<option value="" selected="selected"></option>
                        <ers:foreach variable="option" src="cate_item.list" roopcounter="j">
                        <option value="<%=option.id%>" <ers:isEqual src="option.id" variable=".Model.CateValueList[cate_item.cate_t_id].value"> selected="selected"</ers:isEqual>><ers:isNotEqual src="option.site_name" value="">（<%=option.site_name%>）</ers:isNotEqual><%=option.cate_name%>  <ers:isNotEqual src="option.parentNames" value="">(<%=option.parentNames%>)</ers:isNotEqual></option>                        
                        </ers:foreach>
					</select>
				</td>
			</tr>
</ers:foreach>
        <ers:isEqual src=".Model.multiple_sites" value="true">
            <ers:partial file="site/site_search_check.htm" />
        </ers:isEqual>
<ers:isEqual src=".enableMall" value="true">
            <tr>
                <th><ers:message code="item_item_search_MallSelection"/></th>
                <td>
                    <ers:foreach src=".Model.listMallList" variable="list" roopcounter="i">
                        <input type="checkbox" id="s_mall_shop_kbn<%=list.site_id%>" name="s_site_id_mall" value="<%=list.id%>" 
                        <ers:foreach variable="checkedval" src=".Model.s_site_id_mall">
                            <ers:isEqual src="list.id" variable="checkedval"> checked="checked"</ers:isEqual>
                        </ers:foreach>                    
                        />&nbsp;<%=list.site_name %><br />
                    </ers:foreach>
                </td>
            </tr>
</ers:isEqual>
<!--cate end-->

		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input class="__search_btn" type="submit" value="<ers:label code="common_search"/>" id="" name=""></p>
	</div>
<!-- next end-->

</form>


<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
