﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<ers:isEqual src=".Model.mode" value="regist"><title><ers:message code="item.item_modify.Title"/> - <%=.browser_title%></title></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><title><ers:message code="item.item_modification.Title"/> - <%=.browser_title%></title></ers:isEqual>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<ers:isEqual src=".Model.mode" value="modify"><link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" /></ers:isEqual>
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<!-- jquery ui end -->




<!-- PLUPLOAD -->

<!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />-->
<link rel="stylesheet" href="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
<link rel="stylesheet" href="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/css/deprecated-ui-dialog.css" type="text/css" />

<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->

<script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>

<!-- production -->
<script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/plupload.full.min.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/ui.plupload.templete.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/i18n/ja.js"></script>
<!-- /PLUPLOAD -->

<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/image_uploader.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/jquery.ui.dialog.plupload.js"></script>

<script language ="javascript" type="text/javascript">
    // 商品番号検索
    function GcodeSearch(reco_number) {
        // モーダル表示
        var result = window.open("<%=.sec_url%>top/item/asp/common_item_search.asp?g_search_mode=1", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
        // Set values to child window
        result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
          (result.attachEvent ? 'on' : '') + 'load', function () {
              result.RunCallbackFunction = callback_func;
              result.reco_number = reco_number;
          }, false);
    }

    function callback_func(reco_number, gcode) {
        if (gcode != undefined) {
            // 商品番号設定
            $("#recommend" + reco_number).val(gcode);
        }
    }
</script>
<script language ="javascript" type="text/javascript">
    function change_mall(site_id) {
        $("span[id^=mall_tab_]").css("background", "#666666");
        $("div[id^=mall_table_]").css("display", "none");
        $("span[id=mall_tab_" + site_id + "]").css("background", "#333333");
        $("div[id=mall_table_" + site_id + "]").css("display", "block");
    }
</script>

<ers:isEqual src=".Model.regist_complete" value="true">
    <script type="text/javascript" >
        window.onload = function() {
            alert('<ers:message code="item_modify_alert"/>');
        };
    </script>
</ers:isEqual>

<script type="text/javascript" >

    $(function () {
        var multipart_params = {};
        var ers_custom_options = {};


        multipart_params = {
            "temp_folder": '<%=.Model.group_simg_temp_folder%>\\',
            "file_identifier": '<%=.Model.image_identifier%>'
        };

        ers_custom_options =
        {
            <ers:isEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<ers:isEqual src=".Model.IsGSimgExist" value="true"><%=.pc_sec_url%>images/simg/G<%=.Model.old_gcode%>_01.jpg</ers:isEqual>'),
            </ers:isEqual>
            <ers:isNotEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<ers:foreach src=".Model.group_simg_detail" variable="record">,<%=.pc_sec_url%>images_temp/<%=.Model.group_simg_temp_folder%>/<%=record.file_identifier%><%=record.group_simg%></ers:foreach>'),
            </ers:isNotEqual>

            record_key: 'group_simg_record_key',
            param_name: 'group_simg',
            bindable: true,
            filters_extensions: 'jpeg,jpg',
            custom_pl_options: { 
                max_file_count: 1
            },
            onRefreshViewBox: ErsImageValues.IsBrowserIE(),
            disable_browser: {
                IE: [7,8,9]
            }
        };

        $('#group_simg_detail').image_uploader('<%=.sec_url%>top/api/asp/item_image_upload.asp', '<%=.sec_url%>', multipart_params, ers_custom_options);

        $('form[name="item_form"]').initForm('group_simg_detail');


    });
</script>

<script type="text/javascript" >

    $(function () {
        var multipart_params = {};
        var ers_custom_options = {};

        <ers:foreach src=".Model.detail_table" variable="detail" roopcounter="detail_cnt">
        multipart_params = {
            "temp_folder": '<%=detail.item_bimg_temp_folder%>\\',
            "file_identifier": '<%=detail.image_identifier%>'
        };

        ers_custom_options =
        {
            <ers:isEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<ers:foreach src="detail.item_bimg_detail" variable="detail_bimg">,<%=.pc_sec_url%>images/simg/<%=detail_bimg.bimg%></ers:foreach>'),
            </ers:isEqual>
            <ers:isNotEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<ers:foreach src="detail.item_bimg_detail" variable="detail_bimg">,<%=.pc_sec_url%>images_temp/<%=detail.item_bimg_temp_folder%>/<%=detail_bimg.file_identifier%><%=detail_bimg.bimg%></ers:foreach>'),           
            </ers:isNotEqual>

            record_key: 'record_key_<%=detail_cnt%>_detail_bimg_record_key',
            parent_record_key: 'record_key_<%=detail_cnt%>',
            param_name: 'bimg',
            bindable: true,
            dummy_autofucos: true,
            filters_extensions: 'jpeg,jpg',
            custom_pl_options: { 
                max_file_count: 3
            },
            outputhidden_form: {   
                OBJFORM: $('form[name="item_form"]') 
            },
            disable_browser: {
                IE: [7,8,9]
            }
        };

        $('#record_key_<%=detail_cnt%>_item_bimg_detail').image_uploader('<%=.sec_url%>top/api/asp/item_image_upload.asp', '<%=.sec_url%>', multipart_params, ers_custom_options);

        $('form[name="item_form"]').initForm('record_key_<%=detail_cnt%>_item_bimg_detail');

        </ers:foreach>
    });

</script>
<script>
    ErsUiDialogPLUpCommon().refreshEventUntilFlexgridCompleted('item');
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
<ers:isEqual src=".Model.mode" value="regist"><h2><ers:message code='item.item_modify.Title'/></h2></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><h2><ers:message code='item.item_modification.Title'/></h2></ers:isEqual>
		
	</div>
<!-- title end -->

<ers:isEqual src=".Model.mode" value="regist">
    <ers:dispError /><ers:dispInfo />
</ers:isEqual>

<ers:isEqual src=".Model.mode" value="modify">
    <ers:isEqual src=".Model.item_group_modify_btn" value="true">
        <ers:dispError /><ers:dispInfo />
    </ers:isEqual>
    <ers:isEqual src=".Model.item_group_delete_btn" value="true">
        <ers:dispError /><ers:dispInfo />
    </ers:isEqual>
</ers:isEqual>

<ers:isEqual src=".Model.mode" value="regist">
<form action="<%=.sec_url%>top/item/asp/item_regist_complete.asp" method="post" name="item_form" enctype="multipart/form-data">
</ers:isEqual>

<ers:isEqual src=".Model.mode" value="modify">
<form action="<%=.sec_url%>top/item/asp/item_modify_complete.asp" method="post" name="item_form" enctype="multipart/form-data">
</ers:isEqual>

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tr>
			<th>
				※<ers:label code="gcode"/><br /> <ers:message code="item_modify_alphanumeric_20digits"/>
			</th>
			<td>
				<input type="text" name="gcode" id="gcode" value="<%=.Model.gcode%>" class="w_200" /><br /><ers:message code="item.item_modify.Set"/>
			</td>
		</tr>
		<tr>
			<th>※<ers:label code="common_product_group_name"/> <br/>  <ers:message code="item_modify_forPC"/></th>
			<td><input type="text" name="gname" id="gname" value="<%=.Model.gname%>" class="w_400" /></td>
		</tr>
		<tr>
			<th>
				<ers:label code="common_product_group_name"/> <br/>  <ers:message code="item_modify_portable"/>
			</th>
			<td><input type="text" name="m_gname" id="m_gname" value="<%=.Model.m_gname%>" class="w_400" /></td>
		</tr>
		<tr>
			<th>※<ers:label code="date_from"/></th>
			<td>
				<input class="datepicker_start w_150" type="text" name="date_from" id="date_from" value="<%=.Model.date_from%>" /><br /><ers:message code="item.item_modify.TimeSpecs"/>2008/05/28 2:29:22
			</td>
		</tr>
		<tr>
			<th>※<ers:label code="date_to"/></th>
			<td>
				<input class="datepicker_end w_150" type="text" name="date_to" id="date_to" value="<%=.Model.date_to%>" /><br /><ers:message code="item.item_modify.TimeSpecs"/>2008/05/28 2:29:22
			</td>
		</tr>
		<tr>
			<th>※<ers:label code="s_sale_ptn"/></th>
			<td>
				<select class="w_100" name="s_sale_ptn" id="s_sale_ptn">
                <ers:foreach variable="item" src=".Model.salePtnList" roopcounter="i">
					<option value="<%=item.value %>" <ers:isEqual src="item.value" variable=".Model.s_sale_ptn">selected="selected"</ers:isEqual > ><%=item.name %></option>
                </ers:foreach>
				</select>
			</td>
		</tr>
		<tr>
			<th>※<ers:label code="stock_flg"/></th>
			<td>
				<dl>
					<dt>
						<input type="radio" name="stock_flg" id="stock_flg2" value="2"<ers:isEqual src=".Model.stock_flg" value="2"> checked="checked"</ers:isEqual > />
						<label for="stock_flg2"><ers:message code="item_modify_RealDisplay"/></label>
					</dt>
					<dd><ers:message code="item_modify_RealDisplay_Note"/></dd>
					<dt>
						<input type="radio" name="stock_flg" id="stock_flg1" value="1"<ers:isEqual src=".Model.stock_flg" value="1"> checked="checked"</ers:isEqual > />
						<label for="stock_flg1"><ers:message code="item_modify_EstimatedDisplay"/></label>
					</dt>
					<dd>
						◎&nbsp;<ers:message code="item_modify_DoubleCircleSymbol"/><br />
						&#9711;&nbsp;<ers:message code="item_modify_UpperLimitWarning"/>～&nbsp;
						<input type="text" name="stock_set2" id="stock_set2" value="<%=.Model.stock_set2%>" class="w_100" />
						&nbsp;<ers:message code="item_modify_stock_times"/><br />
						△&nbsp;<ers:message code="item_modify_LowerLimitWarning"/>&nbsp;
						<input type="text" name="stock_set1" id="stock_set1" value="<%=.Model.stock_set1%>" class="w_100" />
						&nbsp;<ers:message code="item_modify_stock_times"/>
					</dd>
					<dt>
						<input type="radio" name="stock_flg" id="stock_flg0" value="0"<ers:isEqual src=".Model.stock_flg" value="0"> checked="checked"</ers:isEqual > />
						<label for=""><ers:message code="item_modify_DoNotShow"/></label>
					</dt>
					<dd><ers:message code="item_modify_DoNotShow_Note"/></dd>
				</dl>
			</td>
		</tr>
		<tr>
			<th>
				<%=.Model.cateName1 %>
			</th>
			<td class="category">
				<div>

                    <ers:foreach variable="item" src=".Model.cateList1" roopcounter="i">
                        <input type="checkbox" name="cate1" id="cate1_<%=i%>" value="<%=item.id%>"<ers:isEqual src="item.isChecked" value="true"> checked="checked"</ers:isEqual>><label for="cate1_<%=i%>"><ers:isNotEqual src="item.site_name" value="">（<%=item.site_name%>）</ers:isNotEqual><%=item.cate_name%><ers:isNotEqual src="item.parentNames" value="">(<%=item.parentNames%>)</ers:isEqual></label><br />
                    </ers:foreach>
					
                </div>
			</td>
		</tr>
		<tr>
			<th>
				<%=.Model.cateName2 %>
			</th>
			<td class="category">
				<p>※<ers:message code="item_modify_Categ_Note"/></p>
				<div>

                    <ers:foreach variable="item" src=".Model.cateList2" roopcounter="i">
                        <input type="checkbox" name="cate2" id="cate2_<%=i%>" value="<%=item.id%>"<ers:isEqual src="item.isChecked" value="true"> checked="checked"</ers:isEqual>><label for="cate2_<%=i%>"><ers:isNotEqual src="item.site_name" value="">（<%=item.site_name%>）</ers:isNotEqual><%=item.cate_name%><ers:isNotEqual src="item.parentNames" value="">(<%=item.parentNames%>)</ers:isEqual></label><br />
                    </ers:foreach>

				</div>
			</td>
		</tr>
		<tr>
			<th>
				<%=.Model.cateName3 %>
			</th>
			<td class="category">
				<p>※<ers:message code="item_modify_Categ_Note"/></p>
				<div>

                    <ers:foreach variable="item" src=".Model.cateList3" roopcounter="i">
                        <input type="checkbox" name="cate3" id="cate3_<%=i%>" value="<%=item.id%>"<ers:isEqual src="item.isChecked" value="true"> checked="checked"</ers:isEqual>><label for="cate3_<%=i%>"><ers:isNotEqual src="item.site_name" value="">（<%=item.site_name%>）</ers:isNotEqual><%=item.cate_name%><ers:isNotEqual src="item.parentNames" value="">(<%=item.parentNames%>)</ers:isEqual></label><br />
                    </ers:foreach>
                            
                </div>
			</td>
		</tr>
		<tr>
			<th>
				<%=.Model.cateName4 %>
			</th>
			<td class="category">
				<p>※<ers:message code="item_modify_Categ_Note"/></p>
				<div>

                    <ers:foreach variable="item" src=".Model.cateList4" roopcounter="i">
                        <input type="checkbox" name="cate4" id="cate4_<%=i%>" value="<%=item.id%>"<ers:isEqual src="item.isChecked" value="true"> checked="checked"</ers:isEqual>><label for="cate4_<%=i%>"><ers:isNotEqual src="item.site_name" value="">（<%=item.site_name%>）</ers:isNotEqual><%=item.cate_name%><ers:isNotEqual src="item.parentNames" value="">(<%=item.parentNames%>)</ers:isEqual></label><br />
                    </ers:foreach>


                </div>
			</td>
		</tr>
		<tr>
			<th>
				<%=.Model.cateName5 %>
			</th>
			<td class="category">
				<p>※<ers:message code="item_modify_Categ_Note"/></p>
				<div>

                    <ers:foreach variable="item" src=".Model.cateList5" roopcounter="i">
                        <input type="checkbox" name="cate5" id="cate5_<%=i%>" value="<%=item.id%>"<ers:isEqual src="item.isChecked" value="true"> checked="checked"</ers:isEqual>><label for="cate5_<%=i%>"><ers:isNotEqual src="item.site_name" value="">（<%=item.site_name%>）</ers:isNotEqual><%=item.cate_name%><ers:isNotEqual src="item.parentNames" value="">(<%=item.parentNames%>)</ers:isEqual></label><br />
                    </ers:foreach>

                </div>
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_RecommendedProd"/>１<br> <ers:label code="addtl_half_width_alpha"/>
			</th>
			<td>
				<input class="w_200" type="text" name="recommend1" id="recommend1" value="<%=.Model.recommend1%>">
				&nbsp;
				<input class="btn01" type="button" onclick="return GcodeSearch(1)" value="[<ers:message code="item_modify_ItemNumBtn"/>]">
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_RecommendedProd"/>２<br><ers:label code="addtl_half_width_alpha"/>
			</th>
			<td>
				<input class="w_200" type="text" name="recommend2" id="recommend2" value="<%=.Model.recommend2%>">
				&nbsp;
				<input class="btn01" type="button" onclick="return GcodeSearch(2)" value="[<ers:message code="item_modify_ItemNumBtn"/>]">
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_RecommendedProd"/>３<br><ers:label code="addtl_half_width_alpha"/>
			</th>
			<td>
				<input class="w_200" type="text" name="recommend3" id="recommend3" value="<%=.Model.recommend3%>">
				&nbsp;
				<input class="btn01" type="button" onclick="return GcodeSearch(3)" value="[<ers:message code="item_modify_ItemNumBtn"/>]">
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_RecommendedProd"/>４<br><ers:label code="addtl_half_width_alpha"/>
			</th>
			<td>
				<input class="w_200" type="text" name="recommend4" id="recommend4" value="<%=.Model.recommend4%>">
				&nbsp;
				<input class="btn01" type="button" onclick="return GcodeSearch(4)" value="[<ers:message code='item_modify_ItemNumBtn'/>]">
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_RecommendedProd"/>５<br><ers:label code="addtl_half_width_alpha"/>
			</th>
			<td>
				<input class="w_200" type="text" name="recommend5" id="recommend5" value="<%=.Model.recommend5%>">
				&nbsp;
				<input class="btn01" type="button" onclick="return GcodeSearch(5)" value="[<ers:message code='item_modify_ItemNumBtn'/>]">
			</td>
		</tr>
		<tr>
			<th><ers:label code="disp_keyword"/></th>
			<td>
				<textarea cols="65" rows="3" name="disp_keyword" id="disp_keyword"><%=.Model.disp_keyword%></textarea><br /><ers:message code="item.item_modify.SeparateByComma"/>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="metatitle"/><br /> <ers:message code="item_modify_MetaTags"/>
			</th>
			<td>
				<textarea cols="65" rows="3" name="metatitle" id="metatitle"><%=.Model.metatitle%></textarea>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="metadescription"/><br /><ers:message code="item_modify_MetaTags"/>
			</th>
			<td>
				<textarea cols="65" rows="3" name="metadescription" id="metadescription"><%=.Model.metadescription%></textarea>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="metawords"/><br /><ers:message code="item_modify_MetaTags"/>
			</th>
			<td>
				<textarea cols="65" rows="3" name="metawords" id="metawords"><%=.Model.metawords%></textarea><br />※<ers:message code="item_modify_Browserkeyword_Note"/>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="link_url"/>
			</th>
			<td>
				<input class="w_400" type="text" name="link_url" id="link_url" value="<%=.Model.link_url%>"><br />
				※<ers:message code="item_modify_LinkURL_Note"/>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="description"/> <br/> <ers:message code="item_modify_forPC"/>
			</th>
			<td>
				<textarea cols="65" rows="5" name="description" id="description"><%=.Model.description%></textarea>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="description"/> <br/>  <ers:message code="item_modify_portable"/>
			</th>
			<td>
				<textarea cols="65" rows="5" name="m_description" id="m_description"><%=.Model.m_description%></textarea>
			</td>
		</tr>
		<tr>
			<th>
				<ers:message code="item_modify_ProdComments"/> <br/>  <ers:message code="item_modify_forListing"/>
			</th>
			<td>
				<textarea cols="65" rows="5" name="description_for_list" id="description_for_list"><%=.Model.description_for_list%></textarea>
			</td>
		</tr>
		<tr style="display:none">
			<th>
				<ers:label code="group_simg"/>
			</th>
			<td>
				<div id="group_simg_detail">
                <p>Your browser doesn't have Flash, Silverlight or HTML5 support</p>
                </div>
                <ers:table src=".Model.group_simg_detail" variable="record" name="group_simg_detail" record_key="group_simg_record_key">

                </ers:table>
			</td>
		</tr>
		<tr>
			<th>
				※<ers:label code="carriage_cost_type"/>
			</th>
			<td>
                    <input type="checkbox" name="carriage_cost_type" id="carriage_cost_type" value="2" <ers:isEqual src=".Model.carriage_cost_type" value="2"> checked="checked"</ers:isEqual > /><label for="carriage_cost_type">&nbsp;※<ers:message code="item_modify_FreeShipping_Note"/></label>
                
			</td>
		</tr>
		<tr>
			<th>
				※<ers:label code="plural_order_type"/>
			</th>
			<td>
                <ers:foreach variable="item" src=".Model.plural_order_typeList" roopcounter="i">
                    <input type="radio" name="plural_order_type" id="plural_order_type<%=i %>" value="<%=item.value %>"<ers:isEqual src="item.value" variable=".Model.plural_order_type"> checked="checked"</ers:isEqual > /><label for="plural_order_type<%=i %>"><ers:message src="item.name"/></label>
                </ers:foreach>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="set_flg"/>
			</th>
			<td>
				<input type="checkbox" name="set_flg" id="set_flg" value="1"<ers:isEqual src=".Model.set_flg" value="1"> checked="checked"</ers:isEqual > />&nbsp;※<ers:message code="item_modify_SetItemFlag_Note"/>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="doc_bundling_flg"/>
			</th>
			<td>
				<input type="checkbox" name="doc_bundling_flg" id="doc_bundling_flg" value="1"<ers:isEqual src=".Model.doc_bundling_flg" value="1"> checked="checked"</ers:isEqual > />&nbsp;※<ers:message code="item_modify_SetBundled_Note"/>
			</td>
		</tr>
		<tr>
			<th>
                ※<ers:label code="deliv_method"/>
            </th>
			<td>
                <ers:foreach variable="item" src=".Model.deliv_methodList" roopcounter="i">
                    <input type="radio" name="deliv_method" id="deliv_method<%=i %>" value="<%=item.value %>"<ers:isEqual src="item.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual > /><label for="deliv_method<%=i %>"><ers:message src="item.name" /></label>
					<!--<option value="" <ers:isEqual src="item.value" variable=".Model.deliv_method">selected="selected"</ers:isEqual > ></option>-->
                </ers:foreach>
			</td>
		</tr>
		<tr>
			<th>
                ※<ers:label code="disp_send_ptn"/>
            </th>
			<td>※<ers:message code="item_modify_DelivCycle_Note"/><br>
                <input type="checkbox" name="disp_send_ptn_month_intervals" id="disp_send_ptn_month_intervals" value="1"<ers:isEqual src=".Model.disp_send_ptn_month_intervals" value="1"> checked="checked"</ers:isEqual > /><label for="disp_send_ptn_month_intervals"><ers:message code="item_modify_DelivCycle_EveryMonth"/></label><br />
                <input type="checkbox" name="disp_send_ptn_week_intervals" id="disp_send_ptn_week_intervals" value="1"<ers:isEqual src=".Model.disp_send_ptn_week_intervals" value="1"> checked="checked"</ers:isEqual > /><label for="disp_send_ptn_week_intervals"><ers:message code="item_modify_DelivCycle_week"/></label><br />
                <input type="checkbox" name="disp_send_ptn_month_day_intervals" id="disp_send_ptn_month_day_intervals" value="1"<ers:isEqual src=".Model.disp_send_ptn_month_day_intervals" value="1"> checked="checked"</ers:isEqual > /><label for="disp_send_ptn_month_day_intervals"><ers:message code="item_modify_DelivCycle_daily"/></label>
			</td>
		</tr>
        <ers:isEqual src=".Model.multiple_sites" value="true">
            <ers:partial file="site/site_register_check.htm" />
        </ers:isEqual>
		<tr>
			<th>
				<ers:label code="disp_list_flg"/><br />
			</th>
			<td>
				<input type="checkbox" name="disp_list_flg" id="disp_list_flg" value="1"<ers:isEqual src=".Model.disp_list_flg" value="1"> checked="checked"</ers:isEqual > />
				<label for="ctl00_cpHolder_ckb_1">※<ers:message code="item_modify_DisplayScreen_Note"/></label>
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="sort"/>
			</th>
			<td>
				<input type="text" name="sort" id="sort" value="<%=.Model.sort%>"><br />
			</td>
		</tr>
		<tr>
			<th>
				<ers:label code="news_article_t.active"/><br />
			</th>
			<td>
				<input type="checkbox" name="active" id="active" value="1"<ers:isEqual src=".Model.active" value="1"> checked="checked"</ers:isEqual > />
				<label for="ctl00_cpHolder_ckb_1">※<ers:message code="common.deletestate"/></label>
			</td>
		</tr>

		</table>
	</div>
<!-- table end -->

<ers:isEqual src=".Model.mode" value="regist">
<!-- next start-->
	<div class="ERS_next">
		<p class="center">
            <a href="item_form" class="disp_dialog001" onclick="document.item_form.item_group_regist_btn.value=true;">
			<input type="button" value="<ers:label code='common_register'/>" />
            </a>
            <input type="hidden" id="item_group_regist_btn" name="item_group_regist_btn" value="false">
		</p>
		<div id="dialog001" title="<ers:message code='item_item_csv.product.regist.msgbox.Title'/>">
			<p><ers:message code="common.RegisterConfirm"/></p>
		</div>
	</div>
<!-- next end-->
</ers:isEqual>

<ers:isEqual src=".Model.mode" value="modify">
<!-- next start-->
	<div class="ERS_next">
		<p class="center">
            <a href="item_form?item_group_delete_btn=true" class="disp_dialog003">
            <input type="button"value="<ers:label code='common_delete'/>" name="item_group_delete_btn" />
            </a>
            <a href="item_form?item_group_modify_btn=true" class="disp_dialog004">
            <input type="button" class="primary __change_btn" value="<ers:label code='common_change'/>" name="item_group_modify_btn" alt="<ers:label code='common_change'/>" /></a>
		</p>
	</div>
		<div id="dialog003" title="<ers:message code='item.item_modify.DelConfirmTitle'/>">
			<p><ers:message code="common.DeleteConfirm"/></p>
		</div>
		<div id="dialog004" title="<ers:message code='item.item_modify.ChangeConfirmTitle'/>">
			<p><ers:message code="common.ChangeConfirm"/></p>
		</div>
<!-- next end-->


<br class="release_b" />



<ers:isEqual src=".Model.item_group_modify_btn" value="false">
    <ers:isEqual src=".Model.item_group_delete_btn" value="false">
        <ers:dispError /><ers:dispInfo />
    </ers:isEqual>
</ers:isEqual>

<ers:isEqual src=".enableMall" value="true">
<!-- tabsFour start -->
<div id="tabsFour">
    <a onclick="change_mall(0);"><span id="mall_tab_0" class="tabsFours" style="background:#333333;">本店</span></a>
<ers:foreach src=".Model.listMallList" variable="objMall">
    <a onclick="change_mall(<%=objMall.site_id%>);"><span id="mall_tab_<%=objMall.site_id%>" class="tabsFours"><%=objMall.site_name%></span></a> 
</ers:foreach>
</div>
<!-- tabsFour end -->
</ers:isEqual>

<!-- honten start -->
<div id="mall_table_0">

<!-- item_table start -->
	<div class="flexigrid item_table" flexg_id="item">

	<table>
		<thead>
			<tr>
				<th width="25"><ers:label code="delete"/></th>
				<th width="80"><ers:label code="product_code"/></th>
				<th width="90"><ers:label code="jancode"/></th>
				<th width="100"><ers:label code="s_sname"/></th>
				<th width="90"><ers:label code="soldout_flg"/></th>
				<th width="60"><ers:label code="price"/></th>
				<th width="60"><ers:label code="regular_price"/></th>
				<th width="60"><ers:label code="regular_first_price"/></th>
				<th width="60"><ers:label code="price2"/></th>
				<th width="60"><ers:label code="cost_price"/></th>
				<th width="100"><ers:label code="puccode"/></th>
				<th width="100"><ers:label code="maker_scode"/></th>
				<th width="100"><ers:label code="wh_order_type"/></th>
				<th width="63"><ers:label code="point"/></th>
				<th width="70"><ers:label code="attribute1"/></th>
				<th width="70"><ers:label code="attribute2"/></th>
				<th width="75"><ers:label code="disp_order"/></th>
				<th width="100"><ers:label code="m_sname"/></th>

				<th width="100"><ers:label code="cts_sname"/></th>
				<th width="100"><ers:label code="shipping_sname"/></th>

				<th width="110"><ers:label code="mixed_group_code"/></th>
				<th width="95"><ers:message code="item_modify_maximumPurchaseNum"/></th>
				<th width="145"><ers:label code="point_campaign_from"/></th>
				<th width="145"><ers:label code="point_campaign_to"/></th>
				<th width="115"><ers:label code="campaign_point"/></th>
				<th width="50"><ers:label code="stock"/></th>
				<th width="90"><ers:label code="active"/></th>

				<!--<th width="500">画像１（大）</th>-->
				<!--<th width="180">画像２（大）</th>
				<th width="180">画像３（大）</th>-->
				<th width="100"><ers:message code="item_modify_RegisteredImage"/></th>
			</tr>
		</thead>
		<tbody>
<ers:table src=".Model.detail_table" name="detail_table" record_key="record_key" variable="detail">
			<tr>
				<td><input type="checkbox"z name="<%=record_key%>delete" id="delete" value="1"<ers:isEqual src="detail.delete" value="1"> checked="checked"</ers:isEqual > /></td>
				<td><input type="text" name="<%=record_key%>scode" id="" value="<%=detail.scode%>" /></td>
				<td><input type="text" name="<%=record_key%>jancode" id="" value="<%=detail.jancode%>"/></td>
				<td><input type="text" name="<%=record_key%>sname" id="Text2" value="<%=detail.sname%>" /></td>
				<td><input type="checkbox" name="<%=record_key%>soldout_flg" id="Checkbox1" value="1"<ers:isEqual src="detail.soldout_flg" value="1"> checked="checked"</ers:isEqual > /></td>
				<td><input type="text" name="<%=record_key%>price" id="Text4" value="<%=detail.price%>" /></td>
				<td><input type="text" name="<%=record_key%>regular_price" id="Text1" value="<%=detail.regular_price%>" /></td>
				<td><input type="text" name="<%=record_key%>regular_first_price" id="Text21" value="<%=detail.regular_first_price%>" /></td>
				<td><input type="text" name="<%=record_key%>price2" id="Text5" value="<%=detail.price2%>" /></td>
				<td><input type="text" name="<%=record_key%>cost_price" id="Text12" value="<%=detail.cost_price%>" /></td>
				<td><input type="text" name="<%=record_key%>supplier_code" id="Text13" value="<%=detail.supplier_code%>" /></td>
				<td><input type="text" name="<%=record_key%>maker_scode" id="Text16" value="<%=detail.maker_scode%>" /></td>
				<td>
                    <select name="<%=record_key%>wh_order_type">
                        <option value=""></option>
<ers:foreach src=".Model.listWh_order_type" variable="record">
                        <option value="<%=record.value %>"<ers:isEqual src="record.value" variable="detail.wh_order_type"> selected="selected"</ers:isEqual>><ers:message src="record.name"/></option>
</ers:foreach>
                    </select>
                </td>
				<td><input type="text" name="<%=record_key%>point" id="Text6" value="<%=detail.point%>" /></td>
				<td><input type="text" name="<%=record_key%>attribute1" id="Text7" value="<%=detail.attribute1%>" /></td>
				<td><input type="text" name="<%=record_key%>attribute2" id="Text8" value="<%=detail.attribute2%>" /></td>
				<td><input type="text" name="<%=record_key%>disp_order" id="Text9" value="<%=detail.disp_order%>" /></td>
				<td><input type="text" name="<%=record_key%>m_sname" id="Text10" value="<%=detail.m_sname%>" /></td>

				<td><input type="text" name="<%=record_key%>cts_sname" id="Text15" value="<%=detail.cts_sname%>" /></td>
				<td><input type="text" name="<%=record_key%>shipping_sname" id="Text14" value="<%=detail.shipping_sname%>" /></td>

				<td><input type="text" name="<%=record_key%>mixed_group_code" id="Text11" value="<%=detail.mixed_group_code%>" /></td>
				<td><input type="text" name="<%=record_key%>max_purchase_count" id="" value="<%=detail.max_purchase_count%>" <ers:isEqual src=".Model.deliv_method_flg" value="true"> disabled="disabled" </ers:isEqual> /></td>
				<td><input class="datepicker_start" type="text" name="<%=record_key%>point_campaign_from" id="" value="<%=detail.point_campaign_from%>" /></td>
				<td><input class="datepicker_end" type="text" name="<%=record_key%>point_campaign_to" id="" value="<%=detail.point_campaign_to%>" /></td>
				<td><input type="text" name="<%=record_key%>campaign_point" id="" value="<%=detail.campaign_point%>" /></td>
				<td><input type="text" name="<%=record_key%>stock" id="Text3" value="<%=detail.stock%>" /></td>
				<td><input type="checkbox" name="<%=record_key%>active" id="" value="1"<ers:isEqual src="detail.active" value="1"> checked="checked"</ers:isEqual > /></td>

				<td>
                    <input type="button" value="<ers:message code='item_modify_RegisteredImage'/>" class="disp_plupload_dialog<%=record_key%>item_bimg_detail">
	                <input type="hidden" name="<%=record_key%>s_gcode" value="<%=.Model.gcode %>" />

                <div id="plupload_dialog<%=record_key%>item_bimg_detail" title="<ers:label code='news_image'/><%=roopcounterrecord_key+1%>">
                    <div id="<%=record_key%>item_bimg_detail">
                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support</p>
                    </div>
                </div>
                <ers:table src="detail.item_bimg_detail" name="item_bimg_detail" parent_record_key="record_key" record_key="detail_bimg_record_key" variable="detail_bimg">
                    </ers:table>
				</td>
			</tr>
</ers:table>
	</tbody>
		</table>
	</div>
<!-- item_table end -->
</div>

<ers:isEqual src=".enableMall" value="true">

<ers:table src=".Model.listMallList" variable="objMall" name="listMallList" record_key="mall_record_key">
    <ers:isEqual src="objMall.mall_shop_kbn" value="YAHOO">
        <ers:partial file="../item/mall/yahoo.htm" partialModel="objMall" />
    </ers:isEqual>

    <ers:isEqual src="objMall.mall_shop_kbn" value="RAKUTEN">
        <ers:partial file="../item/mall/rakuten.htm" partialModel="objMall" />
    </ers:isEqual>

    <ers:isEqual src="objMall.mall_shop_kbn" value="AMAZON">
        <ers:partial file="../item/mall/amazon.htm" partialModel="objMall" />
    </ers:isEqual>
</ers:table>

</ers:isEqual>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form" class="disp_dialog002"><input type="button" value="<ers:label code='common_register'/>" alt="<ers:label code='common_register'/>" /></a>
		</p>
		<div id="dialog002" title="<ers:message code='item.item_modify.CommodityModifConfirmTitle'/>">
			<p><ers:message code="common.RegisterConfirm"/></p>
		</div>
	</div>
<!-- next end-->
</ers:isEqual>

</form>

            <ers:isequal src=".Model.mode" value="modify">
                <form method="post" action="<%=.sec_url%>top/item/asp/item_list.asp">
                    <!-- back start-->
                    <div class="ERS_back">
                        <p><input type="submit" value="<< <ers:label code='common_back'>" class="btn01" /></p>
                    </div>
                    <!-- back end-->
                </form>
            </ers:isequal>

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />

</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
