﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>新規商品登録 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p>このページではJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2>新規商品の一括登録</h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="mall_item_tsv_complete.asp" method="post" name="item_form">

<!-- item_table start -->
	<div class="csv_alert">
		<p>「登録する」ボタンを押すと、エラー行を無視して正常データのみ登録します。</p>
	</div>

<!-- item_table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form?regist=true" class="disp_dialog001"><input type="button" value="登録する" /></a>
		</p>
		<div id="dialog001" title="商品登録確認">
        <ers:isNotEqual src=".Error.All" value="">
        エラー発生行は除外して登録を行います。
        </ers:isNotEqual>
			<p>登録します。よろしいですか？</p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
