﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_set_item_list.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_set_item_list.Title"/></h2>
	</div>
<!-- title end -->
<!-- search start -->
		<div class="ERS_result_count">
			<p><ers:message code="item_set_item_list.search.results" value=".Model.recordCount"></p>
		</div>
<!-- search end -->

<!--<form action="item_modify.html" method="post" name="item_form">-->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="110"><ers:message code="item_set_item_search_set_prod_num"></th>
				<th width="140"><ers:message code="item_set_item_search_set_prod_name"></th>
				<th width="100"></th>
				
			</tr>
		</thead>
		<tbody>

        <ers:foreach variable="item" src=".Model.setItemList" roopcounter="item_cnt">
			<tr>
				<td><%=item.scode%></td>
				<td><%=item.sname%></td>
				<td><input type="button" class="form_btn btn01" rel="item_modify$<%=.sec_url%>top/item/asp/set_item_modify.asp?parent_scode=<%=item.scode%>" name="" id="" value="<ers:message code="item_set_item_search_prod_details">" /></td>
            </tr>
        </ers:foreach>

		</tbody>
		</table>
	</div>
<!-- item_table end -->
<form action="<%=.sec_url%>top/item/asp/item_modify.asp" name="item_modify" id="item_modify" method="post">
<!--商品詳細用form-->
</form>
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="download_csv_all" id="download_csv_all" method="post">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page" method="post">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_set_item_csv_all.asp" id="" name="" value="<ers:message code='price_price_list_download_all'/>" />
			<input type="button" class="form_btn" rel="download_csv_page$download_set_item_csv_page.asp" id="" name="" value="<ers:message code='price_price_list_download_page'/>" />
		</p>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
        <form action="set_item_search.asp" name="back" id="form_bk1" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
