﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_set_item_modify.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

<script language ="javascript" type="text/javascript">
    // 商品番号検索
    function ScodeSearch() {
        // モーダル表示
        var result = window.open("<%=.sec_url%>top/item/asp/common_item_search.asp", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
        // Set values to child window
        result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
          (result.attachEvent ? 'on' : '') + 'load', function () {
              result.RunCallbackFunction = callback_func;
          }, false);
    }

    function callback_func(reco_number, scode) {
        if (scode != undefined) {
            // 商品番号設定
            make_hidden("append_scode", scode, "item_form");
            make_hidden("eck", "BackPage", "item_form");
            $("#item_form").attr("action", "set_item_modify.asp").submit();
        }
    }

    function make_hidden(name, value, formname) {
        var q = document.createElement('input');
        q.type = 'hidden';
        q.name = name;
        q.value = value;
        if (formname) { document.forms[formname].appendChild(q); }
        else { document.forms[0].appendChild(q); }
    }

    function Delete(key) {
        var deleted = $("#" + key + "deleted").val() == "true";
        $("#" + key + "deleted").val(!deleted);
        $("#" + key + "amount").toggle();
        $("#" + key + "deletetext").toggle();
    }
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/cms.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_set_item_modify.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

		       
                
		        <form action="<%=.sec_url%>top/item/asp/set_item_modify_complete.asp" id="item_form" name="item_form" method="post">
		       
		        <!-- table start -->
		        <div class="ERS_table">
		            <table id="" class="length">
		               <tr>
		                    <th>
		                        <ers:message code="item_set_item_search_set_prod_num">
		                    </th>
		                    <td>
		                        <%=.Model.parent_scode%>
		                    </td>
		                </tr>

		                <tr>
		                    <th>
		                        <ers:message code="item_set_item_search_set_prod_name">
		                    </th>
		                    <td>
		                        <%=.Model.parent_sname%>
		                    </td>
		                </tr>

		                <tr>
		                    <th>
		                        <ers:label code="price">
		                    </th>
		                    <td>
		                        <%=.Model.price%>
		                    </td>
		                </tr>

		                <tr>
		                    <th>
		                        <ers:label code="regular_price">
		                    </th>
		                    <td>
		                        <%=.Model.regular_price%>
		                    </td>
		                </tr>

                        <tr>
		                    <th>
		                        <ers:message code="item_set_item_modify_initial_price">
		                    </th>
		                    <td>
		                        <%=.Model.regular_first_price%>
		                    </td>
		                </tr>

             
		
		            </table>
		        </div>
		        <input type="button" name ="search_button" value="<ers:message code="item_set_item_modify_add_prod_config_btn">" onclick="ScodeSearch()"></input>

		        <div class="ERS_table">
		            <table id="tdata" class="length">
		                <tr>
                            <th><ers:label code="product_code"></th>
		                    <th><ers:label code="s_sname"></th>
		                    <th><ers:label code="wh_order_t.amount"></th>
		                    <th><ers:label code="delete"></th>
		                </tr>
		                <ers:table src=".Model.ChildScodeList" name="ChildScodeList" record_key="record_key" variable="contentItem">
		                    <tr>
                                <td><%=contentItem.scode%></td>
		                        <td><%=contentItem.sname%></td>
		                        <td><input type="text" id="<%=record_key%>amount" value="<%=contentItem.amount%>" name="<%=record_key%>amount" maxlength="30"<ers:isEqual src="contentItem.deleted" value="true"> style="display:none"</ers:isEqual> /><span id="<%=record_key%>deletetext"<ers:isEqual src="contentItem.deleted" value="false"> style="display:none"</ers:isEqual>><ers:label code="delete"></span></td>
                                <td><input type="button"value="<ers:label code="delete">" name="delete" onclick="Delete('<%=record_key%>')" /><input type="hidden" value="<%=contentItem.deleted%>" name="<%=record_key%>deleted" id="<%=record_key%>deleted"></td>
		                    </tr>
		                </ers:table>
           
		            </table>
                   
		        </div>
		        <!-- table end -->

		        <!-- next start-->
	            <div class="ERS_next">
		            <p class="center">
			            <a href="item_form" class="disp_dialog002"><input type="button" value="<ers:label code='common_register'/>" alt="<ers:label code='common_register'/>" /></a>
		            </p>
		            <div id="dialog002" title="<ers:message code="item_set_item_modify.regist.msgbox.Title"/>">
			            <p><ers:message code="common.RegisterConfirm"></p>
		            </div>
	            </div>
                <!-- next end-->

		    </form>

        <div class="ERS_back">
        <form action="set_item_list.asp" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'>" class="btn01" /></p>
        </form>
	</div>



<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>

