﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="item_set_item_csv.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="item_set_item_csv.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="set_item_csv_complete.asp" method="post" name="item_form">

<!-- item_table start -->
	<div class="csv_alert">
    	<ers:isEqual src=".Model.allCsvFieldsInvalid" value="false">
			<ers:isEqual src=".Model.IsValid" value="true"><p><ers:message code="common.NoErroMessage"/></p></ers:isEqual>
			<ers:isNotEqual src=".Model.IsValid" value="true"><p><ers:message code="common.IgnoreErrorMessage"/></p></ers:isNotEqual>
        </ers:isEqual>
	</div>
<!-- item_table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
	        <ers:isEqual src=".Model.allCsvFieldsInvalid" value="false">
			<a href="item_form?regist=true" class="disp_dialog001"><input type="button" value="<ers:label code="common_register">" /></a>
            </ers:isEqual>
		</p>
		<div id="dialog001" title="<ers:message code="item_set_item_csv.upload.msgbox.Title">">
        <ers:isNotEqual src=".Error.All" value="">
        <ers:message code="promotion.coupon_csv_confirm.lineerrormsg">
        </ers:isNotEqual>
			<p><ers:message code="common.RegisterConfirm"/></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- back start-->
<form action="set_item_csv.asp" method="post">
	<div class="ERS_back">
		<p><input type="submit" value="<ers:message code='top_page_cancel'/>" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
