﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>メール配信管理 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2>データダウンロード</h2>
	</div>
<!-- title end -->

<!-- box start -->
	<div class="ERS_box">
		<p>

			"ファイルを保存する"を右クリックし、対象をファイルに保存を選択してください。<br />
			ダウンロードするデータの量によってはダウンロードにお時間を頂くことになります。<br />
			システムエラーが表示された場合は、ファイルが未完成ですので、申し訳ございませんが、もう少々お待ち頂いてから同じ作業をしていただきますよう、よろしくお願い申し上げます。

		</p>
	</div>
<!-- box end-->
<form action="<%=.sec_url%>top/atmail/asp/download_csv.asp" method="post" name="download" id="download">
</form>
<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<img class="form_btn" rel="download$download_csv.asp" src="<%=.sec_url%>images/btn_preserve.gif" alt="ファイルを保存する" id="" name="" />
		</p>
	</div>
<!-- next end-->



<br class="release_b" />

<!-- back start-->
	<div class="ERS_back">
		<form action="process.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>