﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="atmail.download1.TitleDataDownload" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.download1.TitleDataDownload" /></h2>
	</div>
<!-- title end -->

<!-- table start -->
<form action="<%=.sec_url%>top/atmail/asp/download_csv.asp" method="post" name="download" id="download">
	<div class="ERS_table">
		<h3><ers:message code="atmail.new_list_copy_confirm.MsgDataConfirmation" /></h3>
		<p><ers:message code="atmail.download1.MsgDataDownload" /></p>
		<table class="length">
			<tr>
				<th><ers:message code="md_tblfs_processid" /></th>
				<td><%=.Model.id %></td>
			</tr>
			<tr>
				<th><ers:message code="md_tblfs_update_date" /></th>
				<td><%=.Model.utime %></td>
			</tr>
			<tr>
				<th><ers:message code="md_current_total_no_of_records" /></th>
				<td><%=.Model.mailto_total_cnt %></td>
			</tr>
			<!--<tr>
				<th>配信不可数</th>
				<td><%=.Model.mailto_notsent_cnt %></td>
			</tr>
			<tr>
				<th>配信可能数</th>
				<td><%=.Model.mailto_sent_cnt %></td>
			</tr>-->
			<tr>
				<th><ers:message code="md_latest_data_update_date" /></th>
				<td><%=.Model.intime %></td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="submit" value="<ers:message code='button_data_download' />" alt="データダウンロード" value="データダウンロード" />
		</p>
	</div>
<!-- next end-->
</form>

<!-- back start-->
	<div class="ERS_back">
		<form action="process.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
