﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="content-style-type" content="text/css" />
<title>メール本文確認 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2>メール本文確認</h2>
	</div>
<!-- title end -->

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<tr>
				<th>処理ID</th>
				<td><%=.Model.id %></td>
			</tr>
			<tr>
				<th>日付</th>
				<td><%=.Model.utime %></td>
			</tr>
			<tr>
				<th>状態</th>
				<td>
                    <%=.Model.status_desc %>（<%=.Model.scheduled_date %>）
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- table start -->
	<div class="ERS_table">
		<h3>メール本文確認</h3>
		<table class="length">
			<tr>
				<th><ers:label code="subject" /></th>
				<td>
					<%=.Model.subject %>
				</td>
			</tr>
			<tr>
				<th><ers:label code="body" /></th>
				<td>
                    <pre><ers:nonencode src=".Model.body" /></pre>
				</td>
			</tr>
            <tr>
				<th><ers:label code="feature_body" /></th>
				<td>
                    <pre><ers:nonencode src=".Model.feature_body" /></pre>
				</td>
			</tr>
            <tr>
				<th><ers:label code="html_body" /></th>
				<td>
				    <ers:nonencode src=".Model.html_body" />
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- back start-->
	<div class="ERS_back">
		<form action="process.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
