﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="atmail.new_list.TitleNewListReg" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.new_list.TitleNewListReg" /></h2>
	</div>
<!-- title end -->

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/new_file_flow3_2.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.new_list_copy_confirm.MsgDataConfirmation" /></h3>
		<p><ers:message code="atmail.new_list_copy_confirm.MsgDataConfirmation1" /><br /><ers:message code="atmail.new_list_copy_confirm.MsgDataConfirmation2" /></p>
		<table class="side">
			<tr>
				<th class="w_190"><ers:message code="md_tbldc_total_delivery_rec" /></th>
				<!--<th class="w_160">配信不可にチェックされた数</th>
				<th class="w_80">配信予定数</th>-->
				<th class="w_171"><ers:message code="md_tbldc_last_date_updated" /></th>
                <th class="w_200"><ers:message code="md_tblfs_mail_title" /></th>
			</tr>
			<tr>
				<td><%=.Model.mailto_total_cnt %></td>
				<!--<td><%=.Model.mailto_notsent_cnt %></td>
				<td><%=.Model.mailto_sent_cnt %></td>-->
				<td><%=.Model.utime %></td>
                <td><%=.Model.subject %></td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<form method="post" action="new_list_copy_complete.asp">
		<p class="center">
            <input type="hidden" name="id" value="<%=.Model.id %>">
			<input type="submit" src="<%=.sec_url%>images/btn_copy.gif" alt="コピーを開始する" value="<ers:label code='common_copy' />" >
		</p>
		</form>
	</div>
<!-- next end-->

<br class="release_b" />

<!-- back start-->
	<div class="ERS_back">
		<form action="new_list_copy.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
