﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="atmail.new_list.TitleNewListReg" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.new_list.TitleNewListReg" /></h2>
	</div>
<!-- title end -->

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/new_file_flow2_2.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.new_list_copy.MsgFileSelection" /></h3>
		<p><ers:message code="atmail.new_list_copy.MsgFileSelection1" /></p>

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

		<table class="side">
			<tr>
				<th class="w_40"><ers:message code="md_tblfs_processid" /></th>
				<th class="w_150"><ers:message code="md_tblfs_deldestino" /></th>
				<th class="w_121"><ers:message code="md_tblfs_update_date" /></th>
                <th class="w_200"><ers:message code="md_tblfs_mail_title" /></th>
				<th class="w_50">&nbsp;</th>
			</tr>

            <ers:foreach variable="mailList" src=".Model.list" roopcounter="mailList_cnt">
			    <tr>
				    <td><%=mailList.id %></td>
				    <td><%=mailList.sent_cnt %>/<%=mailList.total_cnt %>件</td>
				    <td><%=mailList.utime %></td>
                    <td><%=mailList.subject %></td>
				    <td>
					    <form method="post" action="new_list_copy_confirm.asp">
                            <input type="hidden" name="id" value="<%=mailList.id %>">
						    <input type="submit" value="<ers:label code='common_copy' />">
					    </form>
				    </td>
			    </tr>
            </ers:foreach>

		</table>
	</div>
<!-- table end -->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>