﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="atmail.new_list.TitleNewListReg" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" language="JavaScript">
    function page() {
        //新規リストをアップロードして登録
        if (document.forms["file2_1"].elements[0].checked == true) {
            document.getElementById('file2_1').setAttribute("action", "new_list_up.asp");
        }
        //既に登録済のリストをコピーして登録
        else if (document.forms["file2_1"].elements[1].checked == true) {
            document.getElementById('file2_1').setAttribute("action", "new_list_copy.asp");
        }
    }
</script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.new_list.TitleNewListReg" /></h2>
	</div>
<!-- title end -->

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/new_file_flow1.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<form method="post" action="new_list_up.asp" name="file2_1" id="file2_1" onclick="page()">

<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.new_list.MsgUpMethod" /></h3>
		<p><ers:message code="atmail.new_list.MsgUpMethod1" /></p>
		<table class="length">
			<tr>
				<th><ers:message code="md_upload_method" /></th>
				<td>
					<input type="radio" name="up_flg" value="1" checked><ers:message code="md_upload_option1" /><br />
					<input type="radio" name="up_flg" value="2"><ers:message code="md_upload_option2" /><br />
					<ers:message code="atmail.new_list.MsgUpOption2" />
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->
<!--
			<small>メルマガオプションのリストをコピーして登録</small><br />
			<INPUT type="radio" name="up_flg" value="3"><SMALL>全員</SMALL><br />
			<INPUT type="radio" name="up_flg" value="4"><SMALL>ＰＣテキストメール</SMALL><br />
			<INPUT type="radio" name="up_flg" value="5"><SMALL>ＰＣＨＴＭＬメール</SMALL><br />
			<INPUT type="radio" name="up_flg" value="6"><SMALL>携帯メール</SMALL><br />
-->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="submit" class="__next_btn" value="<ers:label code='common_next' />">
		</p>
	</div>

</form>
<!-- next end-->

<br class="release_b" />



<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>