﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>新規配信先リスト登録 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.new_list.TitleNewListReg" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/new_file_flow3_1.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<!-- box start -->
	<ers:isNotEqual src=".Model.upload_item_number" variable="0"><div class="ERS_box">
		<h3><ers:message code="atmail.new_list_up_confirm.TitlePageSendingCompletion" /></h3>
		<div>
			<p><ers:message code="atmail.new_list_up_confirm.MsgCSVUploadProcess" /></p>
		</div>
	</div></ers:isNotEqual>
<!-- box end -->

<!-- next start-->
	<ers:isNotEqual src=".Model.upload_item_number" variable="0">
    <div class="ERS_next">
		<form method="post" action="<%=.sec_url%>top/atmail/asp/new_list_up_complete.asp">
		<p class="center">
			<input type="submit" src="<%=.sec_url%>images/btn_rewrite.gif" alt="データの書き換え" name="regist" value="<ers:message code='md_button_rewrite_data' />">
		</p>
		</form>
	</div></ers:isNotEqual>
<!-- next end-->

<br class="release_b" />

<!-- back start-->
	<div class="ERS_back">
		<form action="new_list_up.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
