﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>差出人／返信先メールアドレスの設定 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/chk_duplicate_submit.js"></script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.s_popmail1.TitleInitialSetting1" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />
	<p><ers:message code="atmail.s_popmail1.MsgInitialSetting1" /></p>
	<br>
<form method="post" action="s_popmail2.asp">

<ers:partial file="site/site_register_select_change.htm" />

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<tr>
				<th><ers:label code="p_from" /></th>
				<td>
					<input type="text" name="p_from" size="37" value="<%=.Model.p_from %>"><br />
					<ers:message code="atmail.s_popmail1.MsgSenderName" /><!--（＊英語表記のみ）-->
				</td>
			</tr>
			<tr>
				<th><ers:label code="r_email" /></th>
				<td>
					<input type="text" name="r_email" size="37" value="<%=.Model.r_email %>"><br />
					<ers:message code="atmail.s_popmail1.MsgSenderEmailAdd" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="p_email" /></th>
				<td>
					<input type="text" name="p_email" size="37" value="<%=.Model.p_email %>"><br />
					<ers:message code="atmail.s_popmail1.MsgReplyEmailAdd" />
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
            <input type="hidden" name="confirm" value="1" />
		    <input type="submit" value="<ers:label code='common_register' />">
        </p>
	</div>
<!-- table end -->

</form>

<!-- back start-->
	<div class="ERS_back">
		<form action="s_menu.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
