﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>メール雛形登録 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/chk_duplicate_submit.js"></script>

<script src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
    <!-- TinyMCE -->
 <script type="text/javascript" src="<%=.sec_url%>js/tiny_mce.js?elements=html_body"></script>
    <!-- /TinyMCE -->
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.template_regis.TitleMailStationeryRegister" /></h2>
	</div>
<!-- title end -->

<ers:dispError />

<form action="template_update_confirm.asp" method="post">
<!-- table start -->
    <input type="hidden" name="modify" value="1" />
	<div class="ERS_table">
		<p><ers:message code="atmail.template_regis.MsgCreateMailStationeryTemplate" /></p>
		<p>

		<ers:message code="atmail.template_regis.MsgMailStationeryFormat" />
		</p>
		<table class="length">
            <tr>
				<th><ers:label code="template_name" /></th>
				<td><input type="text" name="template_name" size="70" value="<%=.Model.template_name %>"></td>
			</tr>
			<tr>
				<th><ers:label code="subject" /></th>
				<td><input type="text" name="subject" size="70" value="<%=.Model.subject %>"></td>
			</tr>
            <tr>
				<th><ers:label code="feature_body" /></th>
				<td>
					<textarea id="feature_body" name="feature_body" rows="25" cols="70" ><%=.Model.feature_body%></textarea>
				</td>
			</tr>
			<tr>
				<th><ers:label code="body" /></th>
				<td>
					<textarea name="body" rows="25" cols="70"><%=.Model.body %></textarea>
				</td>
			</tr>
		</table>
        <p><b><ers:label code="html_body" /></b></p>
        <p><textarea name="html_body" rows="25" cols="70" style="width:100%"><%=.Model.html_body%></textarea></p>
	</div>
<!-- table end -->

<!-- next start-->
       <div class="ERS_next">
		<p class="center">
			<input type="submit" value="<ers:label code='common_register' />">
            <input type="submit" value="<ers:label code='common_delete' />" onclick="delete_form.submit();return false;">
		</p>
	</div>
    </form>
    <br class="release_b">
<!-- next end -->

    <form action="template_delete.asp" method="post" id="delete_form">
        <input type="hidden" name="delflg" value="true" />
    </form>

<!-- back start-->
	<div class="ERS_back">

		<form action="template_list.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>