﻿<!DOCTYPE html>
<html lang="ja">
<head>
<base target="_self">
<meta charset="utf-8">
<title>テストメール送信 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/popup.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- container start -->
	<div id="ERS_container">

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p>このページではJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2 style="text-align:center"><ers:message code="atmail.testmail.TitleSendTestMail" /></p></h2>
	</div>
<!-- title end -->

<ers:dispError />

<form action="<%=.sec_url%>top/atmail/asp/testmail_complete.asp" method="post" name="item_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="mail_title" /></th>
				<td><%=.Model.subject%></td>
			</tr>
			<tr>
				<th><ers:label code="th_cusmail_email" /></th>
				<td><input type="text" id="s_scode" name="default_send_testmail" value="<%=.Model.default_send_testmail%>" class="w_200"></td>
			</tr>

		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:message code='md_btnsend_test_mail' />" id="" name="IsSendTextMail"> <input type="submit" value="<ers:message code='md_btncancel_test_mail' />" id="Submit1" onclick="javascript:window.close();"></p>
	</div>
<!-- next end-->

</form>

<!-- back start
	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
	</div>
 back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
