﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>一斉メールの送信 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script type="text/javascript" src="<%=.sec_url%>js/tiny_mce.js?elements=html_body"></script>
<script type="text/javascript">
    function submitTemplate(id) {
        if (id != 0) {
            document.getElementsByName("template_id")[0].value = id;
            document.getElementById('template').submit();
        }
    }
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.tmail1.TitleSendBulkEmail" /></h2>
	</div>
<!-- title end -->

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/tmail_flow2.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<ers:dispError /><ers:dispInfo />

<!--template change start-->
<form method="post" action="tmail2.asp" id="template">
    <input type="hidden" id="template_id" name="template_id" />
</form>
<!--template change end-->
<form method="post" action="tmail3.asp" id="tmail">
<input type="hidden" name="pageName" value="tmail3" />
<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.tmail2.SubTitleMailTextCreation" /></h3>
		<p>

		<ers:message code="atmail.tmail2.MsgMailTextFormat" />
		</p>

		<table class="length">
			<caption><ers:message code="atmail.tmail2.MsgMailTextDirection" /></caption>
			<tr>
				<th><ers:message code="md_tblfs_processid" /></th>
				<td><%=.Model.id %></td>
			</tr>
			
			<tr>
				<th><ers:message code="md_tblfs_update_date" /></th>
				<td><%=.Model.utime %></td>
			</tr>
<!-- table end -->


			<tr>
				<th><ers:label code="template_id" /></th>
				<td>
					<select name="hid" name="template_id" onChange="submitTemplate(this.options[this.selectedIndex].value);">
                        <option value="">選択してください</option> 
						<ers:foreach variable="template" src=".Model.templateList" roopcounter="j">
					    <option value="<%=template.value%>"  <ers:isEqual src="template.value" variable=".Model.template_id" > selected="selected"</ers:isEqual>><%=template.name%></option>
                        </ers:foreach>
                        <option value="none" <ers:isEqual src=".Model.template_id" value="none" > selected="selected"</ers:isEqual>>雛形は使用しない</option> 
					</select>
				</td>
			</tr>

            <tr>
                <th><ers:label code="mail_from_id" /></th>
                <td>
                    <select name="setup_id">
                        <option value="">選択してください</option> 
						<ers:foreach variable="setup" src=".Model.setup_list" roopcounter="j">
					        <option value="<%=setup.value%>"  <ers:isEqual src=".Model.setup_id" variable="setup.value" > selected="selected"</ers:isEqual>><%=setup.name%></option>
                        </ers:foreach>
					</select>
                </td>
            </tr>

			<tr>
				<th><ers:label code="subject" /></th>
				<td>
                    <input type="text" name="subject" size="70" value="<%=.Model.subject%>">
				</td>
			</tr>
			<tr>
				<th><ers:label code="feature_body" /></th>
				<td>
					<textarea id="feature_body" name="feature_body" rows="25" cols="70" ><%=.Model.feature_body%></textarea>
				</td>
			</tr>
            <tr>
				<th><ers:label code="body" /></th>
				<td>
					<textarea id="body" name="body" rows="25" cols="70"><%=.Model.body%></textarea>
				</td>
			</tr> 
		</table>
        <p><b><ers:label code="html_body" /></b></p>
        <p><textarea name="html_body" rows="25" cols="70" style="width:100%"><%=.Model.html_body%></textarea></p>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="submit" value="<ers:label code='common_confirm' />" alt="確認する" value="確認">
		</p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
	<div class="ERS_back">
		<form action="tmail1.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>