﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>一斉メールの送信 - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script language ="javascript" type="text/javascript">
    // 商品番号検索
    function TestMail(process_id) {
        // モーダル表示
        var result = window.open("<%=.sec_url%>top/atmail/asp/testmail.asp?id=<%=.Model.id %>", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
    }
</script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.tmail1.TitleSendBulkEmail" /></h2>
	</div>
<!-- title end -->

<!-- flow start -->
	<div id="ERS_flow">
		<ul>
			<li><img src="<%=.sec_url%>images/tmail_flow3.gif" alt="" /></li>
		</ul>
	</div>
<!-- flow end -->

<ers:dispError /><ers:dispInfo />


<form method="post" action="tmail4.asp">

<input type="hidden" name="pageName" value="tmail4" />
<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.tmail3.SubTitleEmailMsgConfirmation" /></h3>
		<p><ers:message code="atmail.tmail3.MsgConfirmEmail" />
		<!--<FONT size="-1">（注意）本文は通常メーラーで見た状態（1行80文字で折り返し）で表示されています。</FONT><br />-->
		
		</p>
		<table class="length">
			<tr>
				<th><ers:message code="md_tblfs_processid" /></th>
				<td><%=.Model.id %></td>
			</tr>
			<tr>
				<th><ers:message code="md_tblfs_update_date" /></th>
				<td><%=.Model.utime %></td>
			</tr>
            <tr>
                <th><ers:label code="mail_from_id" /></th>
                <td><%=.Model.w_setup_id %></td>
            </tr>
			<tr>
				<th><ers:label code="subject" /></th>
				<td><%=.Model.subject %></td>
			</tr>
			<tr>
				<th><ers:label code="feature_body" /></th>
				<td>
                    <pre><ers:nonencode src=".Model.feature_body" /></pre>
				</td>
			</tr>
            <tr>
				<th><ers:label code="body" /></th>
				<td>
                    <pre><ers:nonencode src=".Model.body" /></pre>
				</td>
			</tr>
            <tr>
				<th><ers:label code="html_body" /></th>
				<td>
				    <ers:nonencode src=".Model.html_body" />
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->


<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<caption><ers:message code="atmail.tmail3.MsgConfirmNote" /></caption>
			<tr>
				<th><ers:label code="s_set" /></th>
				<td>
					<input type="radio" name="s_set" value="Immediately"<ers:isEqual src=".Model.s_set" value="Immediately"> checked="checked"</ers:isEqual>><ers:message code="md_opt_send_as_it_is" />
					<input type="radio" name="s_set" value="Later"<ers:isEqual src=".Model.s_set" value="Later"> checked="checked"</ers:isEqual>><ers:message code="md_opt_send_by_date_time" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="scheduled_date" /></th>
				<td>
					<input class="datepicker_date w_150" name="s_date" type="text" id="day" value="<ers:formatDate src=".Model.s_date" />" />
					<input type="text" id="s_scode" name="s_hour" maxlength="" value="<%=.Model.s_hour%>" class="w_50"><ers:message code="atmail.tmail3.MsgSendOnThisDate" />
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="submit" value="<ers:label code='common_send' />"> <input type="button" value="<ers:message code='button_test_mail' />" value="テストメール" onclick="TestMail();">
		</p>
	</div>
<!-- next end-->

</form>
<br class="release_b" />



<!-- back start-->
	<div class="ERS_back">
		<form action="tmail2.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="ページのトップへ" alt="ページのトップへ" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
