<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>特定商取引に基づく表示 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>


<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
<div id="ERS_breadcrumb">
	<p><a href="/">HOME</a><span class="arr"></span>＞&nbsp;特定商取引法に基づく表示</p>
</div>
<!-- breadcrumb navigatione end -->

			<h2>特定商取引法に基づく表示</h2>
			<div id="ERS_box">
				<p>株式会社IVP（以下当社という）は、ECシステムのビジネス・プロデューサーとして、一般的なホームページの制作から、大規模なＷＥＢビジネスの開発まで、ASPエンジンを主軸としながら個々のお客様のビジネスミッションに合わせたオーダーメイドのサービスをご提供させていただいております。これらの事業を推進する企業として、当社が個人情報を保護する事は、欠かすことの出来ない社会的責務であると考えております。そのため、全従業者に個人情報保護の重要性を認識させ、個人情報が常に適切に取り扱われるよう周知徹底しております。当社の個人情報保護に対する取り組みの基本姿勢を、以下の通り宣言いたします。</p>
			</div>

			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">1.個人情報の取得・利用・提供</h3>
				<p>当社の取得する個人情報の利用目的および提供先は以下の通りです。</p>
				<ul>
					<li>・ご本人様確認、契約内容の確認、ご利用サービスに係る通常業務連絡、請求処理、その他弊社サービスに係ること。</li>
					<li>・サーバ障害、メンテナンス工事、セキュリティー問題等にかかるサービスサポート提供のためのご案内又は通知等の送付。</li>
					<li>・お客様データの保管・管理業務。</li>
				</ul>
				<p>これらの利用目的を達成するために必要な範囲でのみ個人情報を取得します。</p>
				<p>当社は、個人情報を直接お客様ご本人様から取得する場合、その利用目的や取り扱いについて、文書あるいはそれに代わる方法でご同意いただいております。（お客様のみならず、従業員、取引先様も含めて、当社が事業の用に供する全ての個人情報を対象とします。）</p>
				<p>また、次の場合をのぞき、利用目的の達成に必要な範囲を超えた取り扱い（以下「目的外利用」）及び、第三者へ、本人の承諾を得ずに開示・提供することはいたしません。これらのことを防止する措置を、当社の個人情報保護マネジメントシステムによって確実に実施します。</p>

				<ul>
					<li>(a)法令に基づく場合</li>
					<li>(b)人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
					<li>(c)公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
					<li>(d)国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることによって当該事務の遂行に支障を及ぼすおそれがあるとき</li>
				</ul>
			</article>
			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">2.個人情報の漏えい、滅失又はき損の防止及び是正について</h3>
				<p>当社は、個人情報の漏えい、滅失又はき損の防止及び是正に関して、必要かつ適切な安全対策を実施いたします。</p>
			</article>
			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">3.個人情報に関する苦情および相談について</h3>
				<p>個人情報の取扱いに関する、苦情及び相談については、下記の個人情報に関するお問合せ窓口において対応いたします。</p>
			</article>
			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">4.法令、国が定める指針その他規範の遵守</h3>
				<p>当社は、個人情報に関する法令、国が定める指針その他規範を遵守いたします。</p>
			</article>
			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">5.個人情報保護マネジメントシステムの継続的改善</h3>
				<p>当社は、個人情報の保護と、適切な取り扱いについて、行動規範、内部規程、ルールを定めた、個人情報保護マネジメントシステムを構築し、運用します。また、定期的に実施する運用の点検、内部監査、経営による見直しを通して、個人情報保護マネジメントシステムを継続的に改善いたします。</p>
				<p>本方針を全従業者に周知徹底させるとともに、全ての関係者様に公表いたします。</p>
				<p>制定：      2005年 2月 1日<br />
				改訂：         2008年 5月 1日<br />
				株式会社ＩＶＰ 代表取締役社長　縄谷 正明</p>
			</article>
			<article>
				<h3 class="subtitle02" style="margin:0 0 10px 0">■個人情報に関するお問合せ窓口</h3>
				<p>株式会社アイブイピー 個人情報保護に関する苦情・相談窓口</p>
				<p>TEL：03-5469-8601 FAX：03-5469-8602 E-Mail： info@ivp.co.jp<br />
				〒150-0002 東京都渋谷区渋谷2-12-19 東建インターナショナルビル別館8</p>

			</article>
	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/detail.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
