<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>サイトマップ ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/sitemap.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>


<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
<div id="ERS_breadcrumb">
	<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;サイトマップ</p>
</div>
<!-- breadcrumb navigatione end -->

			<h2>サイトマップ</h2>
			<div class="clearfix">
			<article>
				<ul>
					<li><a href="<%=.nor_url%>">トップ</a></li>
					<li><a href="<%=.nor_url%>top/search/asp/search.asp">商品の検索</a></li>
					<li><a href="<%=.nor_url%>top/search/asp/list.asp">商品一覧</a></li>
					<li><a href="<%=.sec_url%>top/cart/asp/cart.asp">カート確認</a></li>
					<li class="mypage" style="display: block"><a href="<%=.sec_url%>top/register/asp/member_entry.asp">新規会員登録</a></li>
					<li class="mypage" style="display: block"><a href="<%=.sec_url%>top/member/asp/">ログイン</a></li>
					<li class="logout" style="display: none"><a href="<%=.sec_url%>top/member/asp/logout.asp">ログアウト</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/passrim1.asp">パスワードをお忘れの方</a></li>
				</ul>
			</article>
			<article class="logout" style="display: none">
				<ul>
					<li><a href="<%=.sec_url%>top/member/asp/">マイページ</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/bill2.asp">ご購入履歴</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/regular_bill.asp">定期コースの確認</a></li>
					<li><a href="<%=.sec_url%>top/cart/asp/wishlist.asp">ウィッシュリスト</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/mail1.asp">メールマガジン設定</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/member1.asp">お客様登録情報の変更</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先の編集</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/card1.asp">カード情報の変更</a></li>
					<li><a href="<%=.sec_url%>top/member/asp/account_close1.asp">会員を退会する</a></li>
				</ul>
			</article>
			<article>
				<ul>
					<li><a href="<%=.nor_url%>welcome.html">はじめての方へ</a></li>
					<li><a href="<%=.nor_url%>faq.html">よくあるご質問</a></li>
					<li><a href="<%=.nor_url%>guide.html">ご利用ガイド</a></li>
					<li><a href="<%=.nor_url%>agreement.html">会員規約</a></li>
					<li><a href="<%=.nor_url%>privacy.html">プライバシーポリシー</a></li>
					<li><a href="<%=.nor_url%>sct.html">特定商取引法に基づく表示</a></li>
					<li><a href="<%=.nor_url%>sitemap.html">サイトマップ</a></li>
					<li><a href="<%=.sec_url%>top/quest/asp/quest1.asp">お問い合わせ</a></li>
				</ul>
			</article>
			</div>


	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/detail.htm">
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
