﻿
    <table>
	    <tr>
		    <th><ers:label code="common_picharge"/></th>
		    <td><%=partialModel.ag_name%></td>
		    <th><ers:label code="enq_priorty"/></th>
		    <td><ers:message src="partialModel.enq_priorty_name" /></td>
		    <th><ers:message code="inquiry_ctsCaseDtl_contactSituation"/></th>
		    <td><ers:message src="partialModel.enq_status_name"/></td>
	    </tr>
	    <tr>
		    <th><ers:label code="common_category"/></th>
		    <td colspan="5"><%=partialModel.cate1_name%> <%=partialModel.cate2_name%> <%=partialModel.cate3_name%> <%=partialModel.cate4_name%> <%=partialModel.cate5_name%></td>
	    </tr>
	    <tr>
		    <th><ers:label code="enq_progress"/></th>
		    <td><ers:message src="partialModel.enq_progress_name" /></td>
		    <th><ers:label code="enq_situation"/></th>
		    <td colspan="3"><ers:message src="partialModel.enq_situation_name" /></td>
	    </tr>
    </table>

    <ers:isEqual src="partialModel.enq_corresponding" value="0" /> 
    <table>
	    <tr>
		    <th colspan="4"><ers:message code="inquiry.ctsCaseDtl_telIncoming"/> <input type="button" value="<ers:label code="common_edit" />" id="edit_casedtl_phone_<%=partialModel.case_no%>_<%=partialModel.sub_no%>" style="float:right" /></th>
	    </tr>
	    <tr>
		    <th><ers:label code="timefrom"/></th>
		    <td><%=partialModel.starttime%></td>
		    <th><ers:label code="timeto"/></th>
		    <td><%=partialModel.finishtime%></td>
	    </tr>
	    <tr>
		    <th colspan="4"><ers:message code="inquiry.ctsCaseDtl.queryContent"/></th>
	    </tr>
	    <tr>
		    <td colspan="4"><ers:multiLine src="partialModel.enq_detail" /></td>
	    </tr>
	    <tr>
		    <th colspan="4"><ers:label code="ans_detail"/></th>
	    </tr>
	    <tr>
		    <td colspan="4"><ers:multiLine src="partialModel.ans_detail" /></td>
	    </tr>
    </table>

    <script>
        $(document).ready(function () {
            $('#edit_casedtl_phone_<%=partialModel.case_no%>_<%=partialModel.sub_no%>').click(function () {
                window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=partialModel.case_no%>&sub_no=<%=partialModel.sub_no%>&mcode=<%=partialModel.mcode%>&enq_type=<%=partialModel.enq_type%>&caselist=true&showincmail=1&edit_dtl=1', 'caseinfo');
            });
        });
    </script>
    </ers:isEqual>

    <ers:isEqual src="partialModel.enq_corresponding" value="1"  /> 
    <table>
	    <tr>
		    <th colspan="4"><ers:message code="inquiry_ctsCaseDtl_emailReply"/><input type="button" value="<ers:label code="common_edit" />" id="edit_casedtl_email_<%=partialModel.case_no%>_<%=partialModel.sub_no%>" style="float:right" /></th>
	    </tr>
	    <tr>
		    <th><ers:label code="email_title" /></th>
		    <td colspan="3"><%=partialModel.email_title%></td>
	    </tr>
	    <tr>
		    <th>To:</th>
		    <td colspan="3"><%=partialModel.email_to%></td>
	    </tr>
	    <tr>
		    <th>Cc:</th>
		    <td colspan="3"><%=partialModel.email_cc%></td>
	    </tr>
	    <tr>
		    <th>Bcc:</th>
		    <td colspan="3"><%=partialModel.email_bcc%></td>
	    </tr>
	    <tr>
		    <th>From:</th>
		    <td colspan="3"><%=partialModel.email_from%></td>
	    </tr>
	    <tr>
		    <th colspan="4"><ers:label code="email_body"/></th>
	    </tr>
	    <tr>
		    <td colspan="4"><ers:multiLine src="partialModel.email_body" /></td>
	    </tr>
    </table>
    <script>
            $(document).ready(function () {
                $('#edit_casedtl_email_<%=partialModel.case_no%>_<%=partialModel.sub_no%>').click(function () {
                    window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=partialModel.case_no%>&sub_no=<%=partialModel.sub_no%>&mcode=<%=partialModel.mcode%>&enq_type=<%=partialModel.enq_type%>&caselist=true&showincmail=1&edit_dtl=1&edit_dtl_tabs=1&tabsel2=1', 'caseinfo');
                });
            });
    </script>
    </ers:isEqual>

    <ers:isEqual src="partialModel.enq_corresponding" value="2"  /> 
    <table>
	    <tr>
		    <th colspan="4"><ers:label code="memo" /><input type="button" value="<ers:label code="common_edit" />" id="edit_casedtl_memo_<%=partialModel.case_no%>_<%=partialModel.sub_no%>" style="float:right" /></th>
	    </tr>
	    <tr>
		    <td colspan="4"><ers:multiLine src="partialModel.memo" /></td>
	    </tr>
    </table>
    <script>
        $(document).ready(function () {
            $('#edit_casedtl_memo_<%=partialModel.case_no%>_<%=partialModel.sub_no%>').click(function () {
                window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=partialModel.case_no%>&sub_no=<%=partialModel.sub_no%>&mcode=<%=partialModel.mcode%>&enq_type=<%=partialModel.enq_type%>&caselist=true&showincmail=1&edit_dtl=1&edit_dtl_tabs=1&tabsel3=1', 'caseinfo');
            });
        });
    </script>
    </ers:isEqual>
