﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><ers:message code="inquiry_ctsCase_title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/infoCalendar.css" type="text/css" />

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- include the Tab Tools -->
    <script src="<%=.sec_url%>js/jquery.tools.min.js" type="text/javascript"></script> 
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.simplemodal.js"></script>  
    <!-- tab styling -->
    <link href="<%=.sec_url%>css/tabs.css" rel="stylesheet" type="text/css" />
</head>

<body>

<ers:isEqual src=".Model.newcase" value="true">
    <form action="<%=.sec_url%>inquiry/caseinfo?case_no=<%=.Model.case_no%>&mcode=<%=.Model.mcode%>&showincmail=<%=.Model.showincmail%>&showmailapp=<%=.Model.showmailapp%>" name="search" id="search" method="post">
        <div class="CaseForContact">
            <div class="CaseHeader" id="ctscase"> 
                    <ers:isNotEqual src=".Model.doEscalate" value="true">
	                <table>
		                <tr>
			                <th><ers:label code="case_no" /></th>
			                <td><%=.Model.case_no%>&nbsp;&nbsp;&nbsp;&nbsp;
                                <ers:isEqual src=".Model.showLock" value="true">
                                <!--<input type="submit" name="lock" class="submit" value="Lock" onclick="ConfirmLockInquiry()" />-->
                                </ers:isEqual>

                                <ers:isEqual src=".Model.showRelease" value="true">
                                <input type="submit" name="release" class="submit" value="Release" onclick="ConfirmReleaseInquiry()" />
                                </ers:isEqual>

                            </td>
			                <th><ers:label code="enq_priorty" /></th>
			                <td>
                                <select id="enq_priorty" name="enq_priorty" class="w_100">
                                    <ers:foreach variable="priority_item" src=".Model.pryList">
						                <option value="<%=priority_item.value%>"<ers:isEqual src="priority_item.value" variable=".Model.enq_priorty"> selected="selected"</ers:isEqual>><ers:message src="priority_item.name"/></option>
                                    </ers:foreach>
				                </select>
			                </td>
		                </tr>
		                <tr>
			                <th><ers:message code="inquiry_ctsCase_DateTimeCreation" /></th>
			                <td>
                                <input name="intime" class="datepicker_start" type="text" id="intime" maxlength="30" size="20" value="<%=.Model.intime%>" />
			                </td>
			                <th><ers:message code="inquiry_ctsCase_reception" /></th>
			                <td>
                                <input name="utime" class="datepicker_start" type="text" id="utime" maxlength="30" size="20" value="<%=.Model.utime %>" />
			                </td>
		                </tr>
		                <tr>
			                <th><ers:label code="enq_type" /></th>
			                <td>
                                <select id="enq_type" name="enq_type" class="w_100">
                                    <ers:foreach variable="inqtype_item" src=".Model.typeList">
						                <option value="<%=inqtype_item.value%>"<ers:isEqual src="inqtype_item.value" variable=".Model.enq_type"> selected="selected"</ers:isEqual>><ers:message src="inqtype_item.name"/></option>
                                    </ers:foreach>
				                </select>
			                </td>
			                <th><ers:label code="enq_status" /></th>
			                <td>
                                <select id="enq_status" name="enq_status" class="w_100">
                                    <ers:foreach variable="status_item" src=".Model.stsList">
						                <option value="<%=status_item.value%>"<ers:isEqual src="status_item.value" variable=".Model.enq_status"> selected="selected"</ers:isEqual>><ers:message src="status_item.name"/></option>
                                    </ers:foreach>
				                </select>
			                </td>
		                </tr>
		                <tr>
			                <th><ers:label code="enq_casename" /></th>
			                <td colspan="3"><input name="enq_casename" type="text" id="enq_casename" maxlength="255" size="50" value="<%=.Model.enq_casename%>" /></td>
		                </tr>
		                <tr>
                            <ers:isEqual src=".Model.showCatLabel" value="true">
			                <th><ers:label code="common_category" /></th>
			                <td colspan="3">
<!--
                            <input type="checkbox" id="skin_problem" name="skin_problem" value="true" <ers:isEqual src=".Model.skin_problem" value="true">checked="checked"</ers:isEqual>>&nbsp;肌トラブルあり&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="quality_complaint" name="quality_complaint" value="true" <ers:isEqual src=".Model.quality_complaint" value="true">checked="checked"</ers:isEqual>>&nbsp;品質クレームあり
//-->
								<div class="case-category-list">
									<div class="case-category">
                                    <ers:isEqual src=".Model.showCat1" value="true">
                                        <%=.Model.catlabel1%>:<br />
                                        <select id="cate1" name="cate1" class="w_100">
                                            <ers:foreach variable="cate1_item" src=".Model.CateList1">
						                        <option value="<%=cate1_item.value%>"<ers:isEqual src="cate1_item.value" variable=".Model.cate1"> selected="selected"</ers:isEqual>><%=cate1_item.name%></option>
                                            </ers:foreach>
				                        </select>
                                    </ers:isEqual>
									</div>
									<div class="case-category">
                                    <ers:isEqual src=".Model.showCat2" value="true">
                                        <%=.Model.catlabel2%>:<br />
                                        <select id="cate2" name="cate2" class="w_100">
                                            <ers:foreach variable="cate2_item" src=".Model.CateList2">
						                        <option value="<%=cate2_item.value%>"<ers:isEqual src="cate2_item.value" variable=".Model.cate2"> selected="selected"</ers:isEqual>><%=cate2_item.name%></option>
                                            </ers:foreach>
				                        </select>
                                    </ers:isEqual>
									</div>
								</div>
								<div class="case-category-list case-category-list-bottom">
									<div class="case-category">
                                    <ers:isEqual src=".Model.showCat3" value="true">
                                        <%=.Model.catlabel3%>:<br />
                                        <select id="cate3" name="cate3" class="w_100">
                                            <ers:foreach variable="cate3_item" src=".Model.CateList3">
						                        <option value="<%=cate3_item.value%>"<ers:isEqual src="cate3_item.value" variable=".Model.cate3"> selected="selected"</ers:isEqual>><%=cate3_item.name%></option>
                                            </ers:foreach>
				                        </select>
                                    </ers:isEqual>
									</div>
									<div class="case-category">
                                    <ers:isEqual src=".Model.showCat4" value="true">
                                        <%=.Model.catlabel4%>:<br />
                                        <select id="case4" name="cate4" class="w_100">
                                            <ers:foreach variable="cate4_item" src=".Model.CateList4">
						                        <option value="<%=cate4_item.value%>"<ers:isEqual src="cate4_item.value" variable=".Model.cate4"> selected="selected"</ers:isEqual>><%=cate4_item.name%></option>
                                            </ers:foreach>
				                        </select>
                                    </ers:isEqual>
									</div>
								    <div class="case-category">
                                    <ers:isEqual src=".Model.showCat5" value="true">
                                        <%=.Model.catlabel5%>:<br />
                                        <select id="cate5" name="cate5" class="w_100">
                                            <ers:foreach variable="cate5_item" src=".Model.CateList5">
						                        <option value="<%=cate5_item.value%>"<ers:isEqual src="cate5_item.value" variable=".Model.cate5"> selected="selected"</ers:isEqual>><%=cate5_item.name%></option>
                                            </ers:foreach>
				                        </select>
                                    </ers:isEqual>
									</div>
								</div>
			                </td>
                            </ers:isEqual>
		                </tr>
	                </table>

                    <div id="CaseInfo"></div>

	                <div class="FaqLink">
                        <a id="faq" href="#"><input type="submit" id="faqtemplate" name="faq" class="submit __faq_template_btn" value="<ers:label code='common_FAQ_temp'/>" /></a>
	                </div>

                    <ers:partial file="../inquiry/tabs.htm" >

                    <div id="casefooter">
                    <ers:partial file="../inquiry/ctsCaseFooter.htm" >
                    </div>

                    </ers:isNotEqual>

                    <ers:isEqual src=".Model.doEscalate" value="true">
                        <ers:partial file="../inquiry/ctsEmailEscalate.htm" >
                    </ers:isEqual>



                    <ers:isEqual src=".Model.showRelease" value="true" />
		                <!-- modal dialog -->
		                <div class="popdialog">
			                <div class="message"></div>
			                <div class="buttons">
                                <div class="no simplemodal-close" id="close" style="display:none">Close</div>
			                </div>
		                </div>
                    </ers:isEqual>


                    <script type="text/javascript">
                        $("#faq").click(function () {
                            var search_condition = "?";
                            
                            search_condition += $('select[name="cate1"]').val() != undefined ? "cate1=" + $('select[name="cate1"]').val() : "";
                            search_condition += $('select[name="cate2"]').val() != undefined ? "&cate2=" + $('select[name="cate2"]').val() : "";
                            search_condition += $('select[name="cate3"]').val() != undefined ? "&cate3=" + $('select[name="cate3"]').val() : "";
                            search_condition += $('select[name="cate4"]').val() != undefined ? "&cate4=" + $('select[name="cate4"]').val() : "";
                            search_condition += "&search=1";

                            var result = window.open("<%=.sec_url%>faq/template" + search_condition, 'search_template', "status=yes,width=1024px,height=768px,status=no,scrollbars=yes,directories=no,menubar=no,resizable=yes,toolbar=no");

                            result.set_template = window.set_template;

                            //UIの問題で現状使用するアクションが無いためコメントアウト。
                            /*
                            var faq = window.showModalDialog("<%=.sec_url%>faq", "FAQ", "width=1024,height=768,status=no,scrollbars=yes,directories=no,menubar=no,resizable=yes,toolbar=no");
                            if (faq == undefined) {
                                // So we take no chance, in case this is the Google Chrome bug
                                // stackoverflow.com/questions/10213530/javascript-showmodaldialog-not-returning-value-in-chrome 
                                faq = window.returnValue;
                            }
                            var tabNo = $("#enq_corresponding").val();

                            if (tabNo == '0') {
                                $("#enq_detail").val(faq.text1);
                                $("#ans_detail").val(faq.text2);
                            }
                            else if (tabNo == '1') {
                                $("#email_body").val(faq.text1);
                            }*/
                            return false;
                        });

                        function ConfirmUpdateInquiry() {
                            var ans = confirm("<ers:message code='inquiry_ctsCase_Reg'/>");
                            $("#mailesctray").val(ans);
                            $("#mailescsend").val(ans);
                            return true;
                        };
                        
                 
                        function ConfirmLockInquiry() {
                            var ans = true;
                            ans = confirm("<ers:message code='inquiry_ctsCase_Lock'/>");
                            $("*[name=btnLock]").val(ans);
                            $("*[name=btnRelease]").val(false);
                            return ans;
                        };

                        function ConfirmReleaseInquiry() {
                            var ans = true;
                            var _lockID = "<%=.Model.lockid%>";
                            var _userID = "<%=.Model.ctsUserID%>";
                            var _agname = "<%=.Model.ag_name%>";

                            if (_lockID != '' && _lockID != _userID)
                            {
                            
//                                showDialog();
                                alert(_agname + " locks it!");
                            }
                            else
                            {
                                ans = confirm("<ers:message code='inquiry_ctsCase_Release'/>");
                                $("*[name=btnRelease]").val(ans);
                                $("*[name=btnLock]").val(false);

                            }
                            return ans;
                        };      

                        function showDialog(){
                            $('.popdialog').modal({
                                position: ["35%",],
	                            overlayId: 'confirm-overlay',
	                            containerId: 'confirm-container',
                                onShow: function (dialog) {
	                                var modal = this;
	                                var msg = "<%=.model.ag_name%> locks it!";
	                                $('.message', dialog.data[0]).append(msg);
                                    document.getElementById("close").style.display = 'block'
 	                            }
	                        });
                        };

                        window.set_template = function(p){
                            document.getElementById('enq_detail').value = p.enq_detail || '';
                            document.getElementById('ans_detail').value = p.ans_detail || '';
                        }
                         
                    <ers:isEqual src=".Model.IsRegistActionWithLockedByOther" value="true" />
                        window.alert("<ers:message code='inquiry_ctsCase_Locked'/>");
                    </ers:isEqual>
                    </script>

            </div>

        </div>
    </form>
</ers:isEqual>
</body> 

