﻿<ers:isNotEqual src=".Model.searchcase" value="true">
    <h3><ers:message code="inquiry.ctsCaseList.Title"/></h3>
    <div class="NewThread">
        <input type="submit" name="searchcase" class="submit" value="<ers:message code='inquiry_ctsCaseList_caseSearch' />" />
        <a href="<%=.sec_url%>inquiry/caseinfo?mcode=<%=.Model.mcode%>&showincmail=1&newcase=true" target="caseinfo" class="submit __new_case_btn"><ers:message code="inquiry_ctsCaseList_newCase" /></a>
    </div>
</ers:isEqual>
</form>

<div class="Paging clearfix">
    <ers:partial file="../inquiry/pagerCase.htm" partialModel=".Pager" />
</div>

<table>
	<tr>
		<th><ers:label code="case_no" /></th>
		<th><ers:label code="source" /></th>
		<th class="case_name"><ers:label code="enq_casename" /></th>
		<th><ers:label code="num_time" /></th>
		<th><ers:message code="inquiry.ctsCaseList.creationDate" /></th>
		<th><ers:message code="inquiry.ctsCaseList.latestDate" /></th>
		<th><ers:message code="inquiry.ctsCaseList.inCharge" /></th>
	</tr>

    <ers:foreach src=".Model.inquiryList" variable="record" roopcounter="i">

	<tr class="__case_list">
        
	    <td style="cursor:pointer" class="tr<%=i%> __case_no">
            <%=record.case_no%>
        </td>
		<td style="cursor:pointer" class="tr<%=i%> __enq_type">
            <ers:isEqual src="record.enq_type" value="1"  /> 
                <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
            </ers:isEqual>
            <ers:isEqual src="record.enq_type" value="2"  /> 
                <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
            </ers:isEqual>
            <ers:isEqual src="record.enq_type" value="3"  /> 
                <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
            </ers:isEqual>
        
        </td>
        <td>
            <ers:isEqual src="record.enq_casename" value=""  />
		        <a href="#" id="status<%=record.case_no%>"><ers:message src="record.enq_status_name"/></a><br />
                    <input type="hidden" id="rowType<%=i%>" value="1" />
            </ers:isEqual>
            <ers:isNotEqual src="record.enq_casename" value=""  />
                <input type="hidden" id="rowType<%=i%>" value="2" />
            </ers:isNotEqual>
            <ers:isNotEqual src="record.enq_casename" value=""  />
		        <ers:message src="record.enq_status_name"/><br />
            </ers:isNotEqual>

            <a href="#" id="caseno<%=record.case_no%>"><%=record.enq_casename%></a>
                 
        </td>

        <td style="cursor:pointer" class="tr<%=i%> __reccnt"><%=record.reccnt%></td>
		<td style="cursor:pointer" class="tr<%=i%> __intime"><%=record.intime%></td>
		<td style="cursor:pointer" class="tr<%=i%> __utime"><%=record.utime%></td>
		<td style="cursor:pointer" class="tr<%=i%> __agent"><%=record.esc_ag_name%></td>
    </tr>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.tr<%=i%>').click(function () {
                var col = $(this).parent().children().index($(this));
                var rowType = $("#rowType<%=i%>").val();
                if (rowType == "1") {
                    window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
                    window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
                    window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&sub_no=<%=record.sub_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&caselist=true&showincmail=1', 'caseinfo');
                }
                else {
                    window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
                    window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
                    window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&caselist=true&showincmail=1', 'caseinfo');
                }
            });
            $("#caseno<%=record.case_no%>").click(function () {
                window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
                window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&needsup=true&showincmail=1', 'caseinfo');
                window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
            });
            $("#status<%=record.case_no%>").click(function () {
                window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
                window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&needsup=true&showincmail=1', 'caseinfo');
                window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
            });
        });
    </script>	
    </ers:foreach> 
<ers:partial file="footer.htm" />

</table>
