<div id="phone_regist_dialog" title="<ers:message code='inquiry_ctsCaseFooter_phoneRegist' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailReg' /></p>
</div>
<div id="phone_update_dialog" title="<ers:message code='inquiry_ctsCaseFooter_phoneUpdate' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailEdit' /></p>
</div>
<div id="escalate_dialog" title="<ers:message code='inquiry_ctsCaseFooter_phoneRegist' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailEscalation' /></p>
</div>
<div id="memo_regist_dialog" title="<ers:message code='inquiry_ctsCaseFooter_memo_btn' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailReg' /></p>
</div>
<div id="memo_update_dialog" title="<ers:message code='inquiry_ctsCaseFooter_memo_btnUpdate' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailEdit' /></p>
</div>
<div id="mailsent_dialog" title="<ers:message code='inquiry_ctsCaseFooter_emailTransmission' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailSent' /></p>
</div>
<div id="mail_update_dialog" title="<ers:message code='inquiry_ctsCaseFooter_mailUpdate' />" style="display:none;">
    <p><ers:message code='inquiry_ctsCaseFooter_ConfirmEmailEdit' /></p>
</div>

<div class="CaseForContact">
    <div class="CaseHeader" id="ctscase"> 
    <table>
	<tr>
		<th><ers:label code="enq_progress"/></th>
		<td>
            <select id="enq_progress" name="enq_progress" class="w_100">
                <ers:foreach variable="open_item" src=".Model.pgrList">
					<option value="<%=open_item.value%>"<ers:isEqual src="open_item.value" variable=".Model.enq_progress"> selected="selected"</ers:isEqual>><ers:message src="open_item.name"/></option>
                </ers:foreach>
			</select>
		</td>
		<th><ers:label code="enq_situation"/></th>
		<td>
            <select id="enq_situation" name="enq_situation" class="w_100">
                <ers:foreach variable="status_item" src=".Model.sitList">
					<option value="<%=status_item.value%>"<ers:isEqual src="status_item.value" variable=".Model.enq_situation"> selected="selected"</ers:isEqual>><ers:message src="status_item.name"/></option>
                </ers:foreach>
			</select>
                <br />
                <input type="hidden" id="newcase" value="<%=.Model.newcase%>" />
                <select id="esc_id" name="esc_id" class="w_100">
                    <option value="<%=.Model.agent_id%>">--</option>
                    <ers:foreach variable="open_item" src=".Model.escalatetoList">
					    <option value="<%=open_item.value%>"<ers:isEqual src="open_item.value" variable=".Model.esc_id"> selected="selected"</ers:isEqual>><%=open_item.name%></option>
                    </ers:foreach>
			    </select>
             
		</td>
	</tr>
    </table>
    </div>
</div>

<script type="text/javascript">
    function openDialog(message, data) {
        var objButton = $("#" + message + "_dialog").data("objButton");
        
        document.getElementById(message).value = true;
        

        var mess = dialogData(message);

        $("#" + mess + "_dialog").data("objButton", data);
        $("#" + mess + "_dialog").dialog('open');
    }

    function dialogData(message) {
        var mess = "";
        var sit = $("#enq_situation").val();
        var register = "";

        if (!check()) {
            return false;
        }

        if (sit == '5') {
            register = "doEscalate";
            mess = "escalate";
        }
        else
        {
            register = "doRegist";
            mess = message;
        }
            

        $("#" + mess + "_dialog").dialog({
            autoOpen: false,
            bgiframe: true,
            resizable: false,
            height: 140,
            modal: true,

            buttons: {
                "<ers:label code='common_ok'/>": function () {
                    var objButton = $("#" + mess + "_dialog").data("objButton");
                    $(this).dialog('close');
                    var sit = $("#enq_situation").val();
                    $("#" + register).val(true);    
                    $("#search").submit();

                },

                "<ers:label code='common_cancel'/>": function () {
                    $(this).dialog('close');
                    $("#" + mess + "_dialog").data("objButton", null);
                }
            },
            close: function () {
                $("#" + mess + "_dialog").data("objButton", null);
            }
        });

        return mess;
    }
    
        $(window).load(function () {
            $("#enq_situation").change();
        });

        $("#enq_situation").change(function () {
            var sit = $("#enq_situation").val();
            var params = $("#search").serialize();
            if ($("#newcase").val() == "True") {
                params += "&newcase=true";
            }
            $("#casefooter").load("<%=.sec_url%>inquiry/escalateto?" + params);
        });


    //function ConfirmEscalate(l) {
    //    var modeLabel = '登録';

    //    if (l) {
    //        modeLabel = l;
    //    }

    //    var sit = $("#enq_situation").val();
    //    var ans = true;

    //    if (!check()) {
    //        return false;
    //    }

    //    if (sit == 5) {
    //        ans = confirm("エスカレーションメールを" + modeLabel + "しますか？");
    //        $("#doEscalate").val(ans);
    //    }
    //    else {
    //        ans = confirm("入力内容を" + modeLabel + "しますか？");
    //        $("#doRegist").val(ans);
    //    }
    //    return ans;
    //}

    //function ConfirmEmailSent() {
    //    var ans = true;
    //    if (!check()) {
    //        return false;
    //    }
    //    ans = confirm("メールを送信しますか？");
    //    $("#doRegist").val(ans);
    //    return ans;
    //};

    

</script>

<div class="ButtonList">
    <input type="hidden" id="enq_corresponding" name="enq_corresponding" value="<%=.Model.enq_corresponding%>" />
    <input type="hidden" id="sub_no" name="sub_no" value="<%=.Model.sub_no%>" />
    <input type="hidden" id="doEscalate" name="doEscalate" value="<%=.Model.doEscalate%>" />
    <input type="hidden" id="doRegist" name="doRegist" value="<%=.Model.doRegist%>" />
    
    <input type="hidden" id="caselist" name="caselist" value="<%=.Model.caselist%>" />
    <input type="hidden" id="needsup" name="needsup" value="<%=.Model.needsup%>" />
    <input type="hidden" id="incmail" name="incmail" value="<%=.Model.incmail%>" />
    <input type="hidden" id="mailapp" name="mailapp" value="<%=.Model.mailapp%>" />
    <input type="hidden" id="Hidden1" name="showRegBtn" value="<%=.Model.showRegBtn%>" />
    <input type="hidden" id="edit_dtl" name="edit_dtl" value="<%=.Model.edit_dtl%>" />

		<!--
    <input type="submit" name="temppres" id="temppres" class="submit" value="一時保存" />
		//-->
    <ers:isEqual src=".Model.enq_corresponding" value="0">
        <ers:isNotEqual src=".Model.edit_dtl" value="true">        
            <ers:isEqual src=".Model.showRegBtn" value="true">
                <input type="hidden" name="phonereg" id="phone_regist" value="false" />
                 <!--<input type="submit" name="phonereg" id="phonereg" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_phoneRegist' />" onclick="ConfirmEscalate()" />--> 
                <input type="button" id="phonereg" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_phoneRegist' />" onclick="openDialog('phone_regist', $(this))" />
            </ers:isEqual>    
        </ers:isNotEqual>
        
        <ers:isEqual src=".Model.edit_dtl" value="true">
            <input type="hidden" name="submit_update" id="phone_update" value="false" />
            <!--<input type="submit" name="submit_update" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_phoneUpdate' />" onclick="ConfirmEscalate('修正')" />--> 
            <input type="button" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_phoneUpdate' />" onclick="openDialog('phone_update', $(this))" />
        </ers:isEqual>
    </ers:isEqual>
    <ers:isEqual src=".Model.enq_corresponding" value="1">
        <ers:isEqual src=".Model.edit_dtl" value="true">
            <!--<input type="hidden" name="submit_update" value="1" />-->
            <input type="hidden" name="submit_update" id="mail_update" value="false" />
            <!--<input type="submit" name="submit_update" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_mailUpdate' />" onclick="ConfirmEscalate('修正')" />--> 
            <input type="button" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_mailUpdate' />" onclick="openDialog('mail_update', $(this))" />
        </ers:isEqual>

        <ers:isEqual src=".Model.showRegBtn" value="true">
        <input type="submit" name="mailtray" id="mailtray" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_mailTray' />" />
        </ers:isEqual>
        <!--
				<input type="submit" name="mailreg" id="mailreg" class="submit" value="E-mail登録" onclick="ConfirmEscalate()" />
				//-->
    </ers:isEqual>
    <ers:isEqual src=".Model.enq_corresponding" value="2">
        <ers:isNotEqual src=".Model.edit_dtl" value="true"> 
        <ers:isEqual src=".Model.showRegBtn" value="true">
        <input type="hidden" name="memoreg" id="memo_regist" value="false" />
         <!--<input type="submit" name="memoreg" id="memoreg" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_memo_btn' />" onclick="ConfirmEscalate()"/>--> 
        <input type="button" id="memoreg" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_memo_btn' />" onclick="openDialog('memo_regist', $(this))"/>
        </ers:isEqual>
        </ers:isNotEqual>

        <ers:isEqual src=".Model.edit_dtl" value="true">
            <input type="hidden" name="submit_update" id="memo_update" value="false" />
             <!--<input type="submit" name="submit_update" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_memo_btnUpdate' />" onclick="ConfirmEscalate('修正')" />--> 
            <input type="button" id="submit_update" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_memo_btnUpdate' />" onclick="openDialog('memo_update', $(this))" />
        </ers:isEqual>
    </ers:isEqual>

    <ers:isEqual src=".Model.enq_corresponding" value="1">
		<ers:isEqual src=".Model.SuperUser" value="true">
            <ers:isEqual src=".Model.showRegBtn" value="true">
            <input type="hidden" name="mailsent" id="mailsent" value="false" />
            <!--<input type="submit" name="mailsent" id="mailsent" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_emailTransmission'/>" onclick="ConfirmEmailSent()"/>--> 
            <input type="button" id="mailsent" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_emailTransmission'/>" onclick="openDialog('mailsent', $(this))"/>
            </ers:isEqual>
        </ers:isEqual>
    </ers:isEqual>

    <input type="submit" name="reset" id="reset" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_reset'/>" />
</div>

<ers:isEqual src=".Model.execdone" value="true">
    <script type="text/javascript">
        window.open('<%=.sec_url%>inquiry/caselist?case_no=<%=.Model.case_no%>&mcode=<%=.Model.mcode%>&caselist=<%=.Model.caselist%>&needsup=<%=.Model.needsup%>&incmail=<%=.Model.incmail%>&mailapp=<%=.Model.mailapp%>', 'caselist');
    </script>
</ers:isEqual>

<script type="text/javascript">
//入力必須チェック
    function check() {
      var ErrMsg = "";
      
        //医療機関受信
		if(document.getElementById("cate1") != null){
			var cate1_select = document.getElementById('cate1');
			var cate1_options = document.getElementById('cate1').options;
			if (cate1_options.item(cate1_select.selectedIndex) != null) {
			    var cate1_value = cate1_options.item(cate1_select.selectedIndex).value;
			}
		}

        //受信以外
		if(document.getElementById("cate2") != null){
			var cate2_select = document.getElementById('cate2');
			var cate2_options = document.getElementById('cate2').options;
			if (cate2_options.item(cate2_select.selectedIndex) != null) {
			    var cate2_value = cate2_options.item(cate2_select.selectedIndex).value;
			}
		}

        //品質クレーム内容
 		if(document.getElementById("cate3") != null){
			var cate3_select = document.getElementById('cate3');
			var cate3_options = document.getElementById('cate3').options;
			if (cate3_options.item(cate3_select.selectedIndex) != null) {
			    var cate3_value = cate3_options.item(cate3_select.selectedIndex).value;
			}
		}

        //アラート表示
        if (ErrMsg != "") {
            alert(ErrMsg);
            return false;
        }
        return true;

    }
</script>