﻿	<table>
		<tr>
			<th><ers:label code="email_from_name" /></th>
			<td>
            <select id="esc_mail_id" name="esc_mail_id" class="w_100">
                <option value="0">--</option>
                <ers:foreach variable="open_item" src=".Model.escalatetoList">
					<option value="<%=open_item.value%>"<ers:isEqual src="open_item.value" variable=".Model.esc_mail_id"> selected="selected"</ers:isEqual>><%=open_item.name%></option>
                </ers:foreach>
			</select>
            <script type="text/javascript">
                $("#esc_mail_id").change(function () {
                    var escid = $("#esc_mail_id").val();
                    if (escid != "") {
                        location.href = "<%=.sec_url%>top/inquiry/asp/caseinfo.asp?mcode=<%=.Model.mcode %>&case_no=<%=.Model.case_no%>&doEscalate=true&esc_mail_id=" + escid; 
                    }
                });
            </script>
			</td>
		</tr>
		<tr>
			<th><ers:message code="th_from"/></th>
			<td><input name="email_from_esc" type="text" id="email_from_esc" maxlength="50" size="50" value="<%=.Model.email_from_esc%>" /></td>
		</tr>
		<tr>
			<th><ers:message code="th_to"/>:</th>
			<td><input name="email_to" type="text" id="email_to" maxlength="50" size="50" value="<%=.Model.email_to%>" /></td>
		</tr>
		<tr>
			<th><ers:message code="th_Cc"/>:</th>
			<td><input name="email_cc" type="text" id="email_cc" maxlength="50" size="50" value="<%=.Model.email_cc%>" /></td>
		</tr>
		<tr>
			<th><ers:message code="th_Bcc"/>:</th>
			<td><input name="email_bcc" type="text" id="email_bcc" maxlength="50" size="50" value="<%=.Model.email_bcc%>" /></td>
		</tr>
		<tr>
			<th><ers:label code="Subject" />:</th>
			<td><input name="email_title_esc" type="text" id="email_title_esc" maxlength="50" size="50" value="<ers:foreach variable="open_item" src=".Model.escalatetoList"><ers:isEqual src="open_item.value" variable=".Model.esc_mail_id"><%=open_item.name%></ers:isEqual></ers:foreach>"/></td>
		</tr>
		<tr>
			<th><ers:message code="email_header_cdata" />:</th>
			<td><textarea id="email_header_esc" name="email_header_esc" rows="3" cols="70"><%=.Model.email_header_esc%></textarea></td>
		</tr>
		<tr>
			<th><ers:message code="email_body_cdata" />:</th>
			<td><textarea id="email_body_esc" name="email_body_esc" rows="20" cols="70"><%=.Model.email_body_esc%></textarea></td>
		</tr>
		<tr>
			<th><ers:message code="email_fotter_cdata" />:</th>
			<td><textarea id="email_fotter_esc" name="email_fotter_esc" rows="3" cols="70"><%=.Model.email_fotter_esc%></textarea>
		</tr>
	</table>

    <div class="ButtonList">
        <ers:isNotEqual src=".Model.showincmail" value="true">
        <input type="hidden" id="sub_no" name="sub_no" value="<%=.Model.sub_no%>" />
        <input type="hidden" id="case_no" name="case_no" value="<%=.Model.case_no%>" />
        <input type="hidden" id="mcode" name="mcode" value="<%=.Model.mcode%>" />
        <input type="submit" name="mailesctray" id="mailesctray" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_mailTray'/>" onclick="ConfirmUpdateInquiry()" />
		<ers:isEqual src=".Model.SuperUser" value="true" />
        <input type="submit" name="mailescsend" id="mailescsend" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_emailTransmission'/>" onclick="ConfirmUpdateInquiry()"/>
        </ers:isEqual>
        <input type="submit" name="mailescreset" id="mailescreset" class="submit" value="<ers:message code='inquiry_ctsCaseFooter_reset'/>" />
        </ers:isNotEqual>
    </div>
