﻿<input type="hidden" name="lname" value="<%=.Model.lname%>" />
<input type="hidden" name="fname" value="<%=.Model.fname%>" />
<input type="hidden" name="starttime" value="<%=.Model.starttime%>" />
<input type="hidden" name="finishtime" value="<%=.Model.finishtime%>" />
<input type="hidden" name="enq_detail" value="<%=.Model.enq_detail%>" />
<input type="hidden" name="ans_detail" value="<%=.Model.ans_detail%>" /> 
<input type="hidden" name="memo" value="<%=.Model.memo%>" /> 
<input type="hidden" name="showLock" value="<%=.Model.showLock%>" />
<input type="hidden" name="showRelease" value="<%=.Model.showRelease%>" />
<input type="hidden" name="edit_dtl" value="<%=.Model.edit_dtl%>" />

<table>
	<tr>

		<th><ers:message code="inquiry_ctsEmail_name" /></th>
        <td><%=.Model.lname%> <%=.Model.fname%> </td>
		<th><ers:label code="common_type"/></th>
		<td>
            <select id="corresponding" name="corresponding" class="w_100">
                <ers:foreach variable="emailtype_item" src=".Model.ecrList">
					<option value="<%=emailtype_item.value%>"<ers:isEqual src="emailtype_item.value" variable=".Model.corresponding"> selected="selected"</ers:isEqual>><ers:message src="emailtype_item.name"/></option>
                </ers:foreach>
			</select>
		</td>
	</tr>
	<tr>
		<th><ers:label code="email_from_name"/></th>
		<td colspan="3">
            <select id="email_from_name" name="email_from_name" class="w_100">
                <option value=""></option>
                <ers:foreach variable="mailfromname_item" src=".Model.frmList">
					<option value="<%=mailfromname_item.id%>"
                    <ers:isNotEqual src=".Model.mailtemplate" value="true">
                        <ers:isEqual src="mailfromname_item.email_from" variable=".Model.email_from_name"> selected="selected"</ers:isEqual>
                    </ers:isNotEqual>

                    <ers:isEqual src=".Model.mailtemplate" value="true">
                    <ers:isEqual src="mailfromname_item.id" variable=".Model.email_from_name"> selected="selected"</ers:isEqual>
                    </ers:isEqual>
                    ><%=mailfromname_item.email_from_name%></option>
                </ers:foreach>
			</select>
			<ers:message code="inquiry.ctsEmail.Note_senderMail"/> 
            <script type="text/javascript">
                $("#email_from_name").change(function () {
                    var from = $("#email_from_name").val();
                    if (from != "") {
                        search.action = '<%=.sec_url%>top/inquiry/asp/caseinfo.asp?case_no=<%=.Model.case_no%>&mcode=<%=.Model.mcode%>&mailtemplate=true&showincmail=1';
                        search.submit();
                    }
                });
            </script>
		</td>
	</tr>
	<tr>
		<th><ers:label code="email_title"/>:</th>
		<td colspan="3"><input name="email_title" type="text" id="email_title" maxlength="255" size="50" value="<%=.Model.email_title%>" /></td>
	</tr>
	<tr>
		<th>To:</th>
		<td><input name="email_to" type="text" id="email_to" maxlength="255" size="30" value="<%=.Model.email_to%>" /></td>
		<th>From:</th>
		<td><input name="email_from" type="text" id="email_from" maxlength="255" size="30" value="<%=.Model.email_from%>" /></td>
	</tr>
	<tr>
		<th>CC:</th>
		<td><input name="email_cc" type="text" id="email_cc" maxlength="255" size="30" value="<%=.Model.email_cc%>" /></td>
		<th>BCC:</th>
		<td><input name="email_bcc" type="text" id="email_bcc" maxlength="255" size="30" value="<%=.Model.email_bcc%>" /></td>
	</tr>
</table>
<table>
	<tr>
		<th><ers:label code="email_header"/></th> 
		<td><textarea id="email_header" name="email_header" rows="7" cols="95"><%=.Model.email_header%></textarea></td>
	</tr>
	<tr>
		<th><ers:label code="email_body"/></th>
		<td><textarea id="email_body" name="email_body" rows="15" cols="95"><%=.Model.email_body%></textarea></td>
	</tr>
	<tr>
		<th><ers:label code="email_fotter"/></th>
		<td><textarea id="email_fotter" name="email_fotter" rows="7" cols="95"><%=.Model.email_fotter%></textarea></td>
	</tr>
</table>
