﻿
<h3><ers:message code="inquiry.ctsHistory.Title" /></h3>
<ers:foreach src=".Model.historyList" variable="record">
	<div style="float:left;">
        <ers:isEqual src="record.enq_corresponding" value="0"  /> 
            <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" /><%=record.enq_casename%> (<%=record.starttime%>)
        </ers:isEqual>
        <ers:isEqual src="record.enq_corresponding" value="1"  /> 
            <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" /><%=record.enq_casename%> Date And Time(<%=record.utime%>)
        </ers:isEqual>
        <ers:isEqual src="record.enq_corresponding" value="2" /> 
            <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" /><%=record.enq_casename%> Date And Time(<%=record.utime%>)
        </ers:isEqual>
	</div>
	<div style="float:right;">
        <img src="<%=.sec_url%>images/collapse.jpg" alt="BtnColExp" name="btn<%=record.sub_no%>" onclick="javascript:showhideDetail(document.getElementById('casedtl<%=record.sub_no%>'), 'btn<%=record.sub_no%>')" />
	</div>
	<div style="clear:both;"></div><br/>

    <div id="casedtl<%=record.sub_no%>" style="display:block"> 
        <ers:partial file="../inquiry/ctsCaseDtl.htm"  partialModel="record">
    </div>
</ers:foreach> 
