﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><ers:message code="inquiry_ctsCase_title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <!-- include the Tab Tools -->
    <script src="<%=.sec_url%>js/jquery.tools.min.js" type="text/javascript"></script>
    <!-- tab styling -->
    <link href="<%=.sec_url%>css/tabs.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        function showhideDetail(ItemID, BtnID) {
            if (!document.getElementById)
                return
            if (ItemID.style.display == "block") {
                ItemID.style.display = "none"
                document.images[BtnID].src = "<%=.sec_url%>images/expand.jpg";
            }
            else {
                ItemID.style.display = "block"
                document.images[BtnID].src = "<%=.sec_url%>images/collapse.jpg";
            }
        }
    </script>

</head>

<body style="height:0px; ">
    <div class="CaseListForContact">
        <form method="post" action="<%=.sec_url%>inquiry/caselist" target="caselist" name="inqlist" id="inqlist">
	        <div class="ButtonList">
                <!--<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />-->
                <input type="submit" name="caselist" class="submit" value="<ers:message code='inquiry_ctsInquiryList_tab' />" />
                <input type="submit" name="needsup" class="submit" value="<ers:message code='inquiry_ctsInquiryList_mainCorrListTab' /><ers:isNotEqual src=".Model.supportCount" value="0"> (<%=.Model.supportCount %>)</ers:isNotEqual>" <ers:isNotEqual src=".Model.supportCount" value="0"> style="background-color:pink;background-image:none" </ers:isNotEqual> />

		        <ers:isEqual src=".Model.SuperUser" value="true" />
                    <input type="submit" name="incmail" class="submit" value="<ers:message code='inquiry_ctsInquiryList_incomingMailTab' />" />
                    <input type="submit" name="mailapp" class="submit" value="<ers:message code='inquiry_ctsInquiryList_mailApprovalTab' />" />
                </ers:isEqual>
	        </div>
	    

            <ers:isEqual src=".Model.searchcase" value="true">
                <ers:partial file="../inquiry/ctsSearchCase.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.caselist" value="true">
                <ers:partial file="../inquiry/ctsCaseList.htm" />
            </ers:isEqual>
        
            <ers:isEqual src=".Model.histlist" value="true">
                <ers:partial file="../inquiry/ctsHistory.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.needsup" value="true">
                <ers:partial file="../inquiry/ctsNeedSupport.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.incmail" value="true">
                <ers:partial file="../inquiry/ctsIncomingMail.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.mailapp" value="true">
                <ers:partial file="../inquiry/ctsMailApprove.htm" />
            </ers:isEqual>

    </div>

    <ers:partial file="footer.htm" />

</body> 