﻿
	<h3><ers:message code="inquiry.ctsIncomingMail.Title" /></h3>
	<table>
		<tr>
			<th>ID</th>
			<th><ers:label code="source" /></th>
			<th><ers:label code="creation_date" /></th>
			<th><ers:message code="inquiry_ctsIncomingMail.mailHeader" /></th>
			<th>ESC</th>
			<th><ers:label code="common_delete" /></th>
		</tr>
        
        <ers:foreach src=".Model.inquiryList" variable="record">
		<tr class="__incmail_list">
		    <!--<td><%=record.case_no%></td>-->
            <td><%=record.id%></td>
		    <td>
                <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
            </td>
		    <td><%=record.intime%></td>
		    <td><a href="#" id="header<%=record.id%>"><%=record.mail_title%></a><br />
                From: <%=record.mail_from%><br />
                To: <%=record.mail_to_string%><br />
            </td>
            
            <td><input type="checkbox" class="__esc_incmail" id="esc_incmail<%=record.id%>" name="esc_incmail<%=record.id%>" value="1" /></td>
            <td>
                <input type="checkbox" id="del_incmail<%=record.id%>" name="del_incmail<%=record.id%>" value="1" />
                <script type="text/javascript">
                    $("#header<%=record.id%>").click(function () {
                        window.open('<%=.sec_url%>inquiry/caseinfo?mail_id=<%=record.id%>&incmail=true&showincmail=true&doEscalate=true', 'caseinfo');
                    });

                    $("#esc_incmail<%=record.id%>").click(function () {
                        document.getElementById('del_incmail<%=record.id%>').checked = false;
                    });

                    $("#del_incmail<%=record.id%>").click(function () {
                        document.getElementById('esc_incmail<%=record.id%>').checked = false;
                    });
                </script>
            </td>
		</tr>
        

        </ers:foreach> 
    </table>
	<strong>
	    <ers:message code="inquiry.ctsIncomingMail.enBloc" />
        <select id="agent_id" name="agent_id">
            <ers:foreach variable="option" src=".Model.ctsAgentList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.agent_id"> selected="selected"</ers:isEqual>><%=option.name%></option>
            </ers:foreach>
		</select>
	    <ers:message code="inquiry.ctsIncomingMail.escalate" />

	</strong><br />

    <div style="width:100%;margin:10px auto;">
<!--        <input type="hidden" name="incmail" value="<%=.Model.incmail%>" />-->
        <input type="submit" id="escdel" name="escdel" class="submit" value="<ers:message code='inquiry_ctsIncomingMail.escalateConfirm' />" />
    </div>
