﻿<input type="hidden" name="lname" value="<%=.Model.lname%>" />
<input type="hidden" name="fname" value="<%=.Model.fname%>" />
<input type="hidden" name="starttime" value="<%=.Model.starttime%>" />
<input type="hidden" name="finishtime" value="<%=.Model.finishtime%>" />
<input type="hidden" name="enq_detail" value="<%=.Model.enq_detail%>" />
<input type="hidden" name="ans_detail" value="<%=.Model.ans_detail%>" /> 
<input type="hidden" name="email_from_name" value="<%=.Model.email_from_name%>" />
<input type="hidden" name="email_title" value="<%=.Model.email_title%>" />
<input type="hidden" name="email_to" value="<%=.Model.email_to%>" />
<input type="hidden" name="email_from" value="<%=.Model.email_from%>" />
<input type="hidden" name="email_cc" value="<%=.Model.email_cc%>" />
<input type="hidden" name="email_bcc" value="<%=.Model.email_bcc%>" />
<input type="hidden" name="email_header" value="<%=.Model.email_header%>" />
<input type="hidden" name="email_body" value="<%=.Model.email_body%>" />
<input type="hidden" name="email_fotter" value="<%=.Model.email_fotter%>" /> 
<input type="hidden" name="showLock" value="<%=.Model.showLock%>" />
<input type="hidden" name="showRelease" value="<%=.Model.showRelease%>" />

<table>
	<tr>
		<th><ers:label code="memo" /></th>

		<td><textarea id="memo" name="memo" rows="35" cols="95"><%=.Model.memo%></textarea></td>
	</tr>
</table>


