﻿
	<h3><ers:message code="inquiry_ctsInquiryList_mailApprovalTab" /></h3>
	<table>
		<tr>
			<th><ers:label code="case_no" /></th>
			<th><ers:label code="source" /></th>
			<th><ers:label code="creation_date" /></th>
			<th><ers:message code="inquiry_ctsIncomingMail.mailHeader" /></th>
			<th><ers:message code="inquiry_ctsMailApprove_target" /></th>
		</tr>
        
        <ers:foreach src=".Model.emailappList" variable="record">
		<tr>
		    <td>
                <%=record.case_no%>
            </td>
		    <td>
                <ers:isEqual src="record.enq_corresponding" value="0"  /> 
                    <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
                </ers:isEqual>
                <ers:isEqual src="record.enq_corresponding" value="1"  /> 
                    <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
                </ers:isEqual>
                <ers:isEqual src="record.enq_corresponding" value="2"  /> 
                    <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
                </ers:isEqual>
            </td>
		    <td><%=record.detail_intime%></td>
		    <td><a href="#" id="header<%=record.case_no%>_<%=record.sub_no%>"><%=record.email_title%></a><br />
                From: <%=record.email_from%><br />
                To: <%=record.email_to%><br />
            </td>
            <td><%=record.ag_name%></td>
		</tr>
        <script type="text/javascript">
            $("#header<%=record.case_no%>_<%=record.sub_no%>").click(function () {
                window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&sub_no=<%=record.sub_no%>&mcode=<%=record.mcode%>&enq_corresponding=1&mailapp=true&showmailapp=true', 'caseinfo');
            });
        </script>
        </ers:foreach> 
    </table>

