﻿
<h3><ers:message code="inquiry_ctsInquiryList_mainCorrListTab" /></h3>
<table>
	<tr>
		<th><ers:label code="case_no" /></th>
		<th><ers:label code="source" /></th>
		<th><ers:label code="enq_casename" /></th>
		<th><ers:label code="num_time" /></th>
		<th><ers:label code="creation_date" /></th>
		<th><ers:message code="inquiry_ctsNeedSupport_latest_date_time" /></th>
		<th><ers:label code="responsible" /></th>
	</tr>
    <ers:foreach src=".Model.inquiryList" variable="record">
	<tr>
	<td style="cursor:pointer" id="caseno<%=record.case_no%>" class="caseno<%=record.case_no%>_detail" ><%=record.case_no%></td>
		<td>
        <ers:isEqual src="record.enq_type" value="1"  /> 
            <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
        </ers:isEqual>
        <ers:isEqual src="record.enq_type" value="2"  /> 
            <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
        </ers:isEqual>
        <ers:isEqual src="record.enq_type" value="3"  /> 
            <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
        </ers:isEqual>
    </td>
        <td>
            <ers:isEqual src="record.enq_casename" value=""  />
		        <a href="#" id="status<%=record.case_no%>"><ers:message src="record.enq_status_name"/></a><br />
            </ers:isEqual>

            <ers:isNotEqual src="record.enq_casename" value=""  />
            <ers:message src="record.enq_status_name"/><br />
            </ers:isNotEqual>
            
            <a href="#" class="caseno<%=record.case_no%>_detail"><%=record.enq_casename%></a>
        </td>

		<td><%=record.reccnt%></td>
		<td><%=record.intime%></td>
		<td><%=record.utime%></td>
		<td><%=record.user_ag_name%></td>
	</tr>

    <script type="text/javascript">
        $(".caseno<%=record.case_no%>_detail").click(function () {
            window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
            window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&needsup=true&showincmail=1', 'caseinfo');
            window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
        });
        $("#status<%=record.case_no%>").click(function () {
            window.open('<%=.sec_url%>inqmember/clientinfo?mcode=<%=record.mcode%>', 'clientinfo');
            window.open('<%=.sec_url%>inquiry/caseinfo?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&enq_type=<%=record.enq_type%>&needsup=true&showincmail=1', 'caseinfo');
            window.open('<%=.sec_url%>inquiry/historylist?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>&histlist=true', 'caselist');
        });
    </script>

    </ers:foreach> 
</table>

