﻿<input type="hidden" name="lname" value="<%=.Model.lname%>" />
<input type="hidden" name="fname" value="<%=.Model.fname%>" />
<input type="hidden" name="email_from_name" value="<%=.Model.email_from_name%>" />
<input type="hidden" name="email_title" value="<%=.Model.email_title%>" />
<input type="hidden" name="email_to" value="<%=.Model.email_to%>" />
<input type="hidden" name="email_from" value="<%=.Model.email_from%>" />
<input type="hidden" name="email_cc" value="<%=.Model.email_cc%>" />
<input type="hidden" name="email_bcc" value="<%=.Model.email_bcc%>" />
<input type="hidden" name="email_header" value="<%=.Model.email_header%>" />
<input type="hidden" name="email_body" value="<%=.Model.email_body%>" />
<input type="hidden" name="email_fotter" value="<%=.Model.email_fotter%>" /> 
<input type="hidden" name="memo" value="<%=.Model.memo%>" />    
<input type="hidden" name="showLock" value="<%=.Model.showLock%>" />
<input type="hidden" name="showRelease" value="<%=.Model.showRelease%>" />

<table>
	<tr>

		<th><ers:message code="inquiry_ctsEmail_name" /></th>
		<td><%=.Model.lname%> <%=.Model.fname%> </td>

		<th><ers:label code="corresponding" /></th>
		<td>
            <select id="corresponding" name="corresponding" class="w_100">
                <ers:foreach variable="phonesup_item" src=".Model.tcrList">
					<option value="<%=phonesup_item.value%>"<ers:isEqual src="phonesup_item.value" variable=".Model.corresponding"> selected="selected"</ers:isEqual>><ers:message src="phonesup_item.name"/></option>
                </ers:foreach>
			</select>
		</td>
	</tr>
	<tr>
		<th><ers:label code="starttime" /></th>
		<td>
            <input name="starttime" type="text" id="starttime" maxlength="30" size="20" value="<%=.Model.starttime%>" />
            <input type="submit" name="setstarttime" class="submit" value="Set" />
		</td>
		<th><ers:label code="finishtime" /></th>
		<td>
            <input name="finishtime" type="text" id="finishtime" maxlength="30" size="20" value="<%=.Model.finishtime%>" />
            <input type="submit" name="setfinishtime" class="submit" value="Set" />
		</td>
	</tr>
</table>
<table>
	<tr>
		<th><ers:message code="enq_detail_cdata" /></th>
		<td><textarea id="enq_detail" name="enq_detail" rows="15" cols="95"><%=.Model.enq_detail%></textarea></td>
	</tr>
	<tr>
		<th><ers:message code="ans_detail_cdata" /></th>
        <td><textarea id="ans_detail" name="ans_detail" rows="15" cols="95"><%=.Model.ans_detail%></textarea></td>
	</tr>
</table>