﻿
<div class="CaseListForContact clearfix">
	<table class="Search">
		<tr>

			<th><ers:message code="inquiry_ctsCaseDtl_contactSituation" /></th>
            <td>
                <select id="enq_status_srch" name="enq_status_srch">
                    <option></option>
                    <ers:foreach variable="status_item" src=".Model.stsList">
						<option value="<%=status_item.value%>"<ers:isEqual src="status_item.value" variable=".Model.enq_status_srch"> selected="selected"</ers:isEqual>>
                        <ers:message src="status_item.name"/>
                        </option>
                    </ers:foreach>
				</select>
            </td>
			<th><ers:label code="enq_progress" /></th>
			<td>
                <select id="enq_progress_srch" name="enq_progress_srch">
                    <option></option>
                    <ers:foreach variable="open_item" src=".Model.pgrList">
					    <option value="<%=open_item.value%>"<ers:isEqual src="open_item.value" variable=".Model.enq_progress_srch"> selected="selected"</ers:isEqual>>
                            <ers:message src="open_item.name"/>
                        </option>
                    </ers:foreach>
			    </select>
			</td>
		</tr>
		<tr>
			<th><ers:label code="common_category"/></th>
            <td colspan="3" class="category">
                <ers:isEqual src=".Model.showCat1" value="true">
                <%=.Model.catlabel1%>&nbsp;<select id="cate1_srch" name="cate1_srch" class="w_100">
                    <option></option>
                    <ers:foreach variable="cate1_item" src=".Model.CateList1">
						<option value="<%=cate1_item.value%>"<ers:isEqual src="cate1_item.value" variable=".Model.cate1_srch"> selected="selected"</ers:isEqual>><%=cate1_item.name%></option>
                    </ers:foreach>
				</select><br />
                </ers:isEqual>
                <ers:isEqual src=".Model.showCat2" value="true">
                <%=.Model.catlabel2%>&nbsp;<select id="cate2_srch" name="cate2_srch" class="w_100">
                    <option></option>
                    <ers:foreach variable="cate2_item" src=".Model.CateList2">
						<option value="<%=cate2_item.value%>"<ers:isEqual src="cate2_item.value" variable=".Model.cate2_srch"> selected="selected"</ers:isEqual>><%=cate2_item.name%></option>
                    </ers:foreach>
				</select><br />
                </ers:isEqual>
                <ers:isEqual src=".Model.showCat3" value="true">
                <%=.Model.catlabel3%>&nbsp;<select id="cate3_srch" name="cate3_srch" class="w_100">
                    <option></option>
                    <ers:foreach variable="cate3_item" src=".Model.CateList3">
						<option value="<%=cate3_item.value%>"<ers:isEqual src="cate3_item.value" variable=".Model.cate3_srch"> selected="selected"</ers:isEqual>><%=cate3_item.name%></option>
                    </ers:foreach>
				</select><br />
                </ers:isEqual>
                <ers:isEqual src=".Model.showCat4" value="true">
                <%=.Model.catlabel4%>&nbsp;<select id="cate4_srch" name="cate4_srch" class="w_100">
                    <option></option>
                    <ers:foreach variable="cate4_item" src=".Model.CateList4">
						<option value="<%=cate4_item.value%>"<ers:isEqual src="cate4_item.value" variable=".Model.cate4_srch"> selected="selected"</ers:isEqual>><%=cate4_item.name%></option>
                    </ers:foreach>
				</select><br />
                </ers:isEqual>
                <ers:isEqual src=".Model.showCat5" value="true">
                <%=.Model.catlabel5%>&nbsp;<select id="cate5_srch" name="cate5_srch" class="w_100">
                    <option></option>
                    <ers:foreach variable="cate5_item" src=".Model.CateList5">
						<option value="<%=cate5_item.value%>"<ers:isEqual src="cate5_item.value" variable=".Model.cate5_srch"> selected="selected"</ers:isEqual>><%=cate5_item.name%></option>
                    </ers:foreach>
				</select>
                </ers:isEqual>
            </td>
        </tr>
		<tr><th><ers:message code="inquiry_ctsSearchCase_keyword" /></th><td><input name="keywords_srch" type="text" id="keywords_srch" maxlength="255" size="20" value="<%=.Model.keywords_srch%>" /></td>
            <th><ers:label code="case_no" /></th><td><input name="caseno_srch" type="text" id="caseno_srch" maxlength="15" size="20" value="<%=.Model.caseno_srch%>" /></td>
        </tr>

        <div class="ButtonList">
		    <td colspan="2" class="Button">
                <input type="submit" name="search" class="SearchButton" value="<ers:label code="common_search" />" />
            </td>
	    </div>
	</table>


</div>

