﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="inquiry.index.Title"/></title>
</head>

<frameset rows="82px,*" frameborder="1" border="1" framespacing="0">
	<frame name="header" src="<%=.sec_url%>top/inquiry/asp/Header.asp" frameborder="1" scrolling="auto">
    <frameset cols="500px,*" frameborder="1" border="2" framespacing="0">
        <frameset class="__frameset" rows="350px,*" frameborder="1" border="2" framespacing="0">
            <frame name="clientinfo" src="<%=.sec_url%>top/inqmember/asp/clientinfo.asp?mcode=<%=.Model.mcode%>" frameborder="1" scrolling="auto" />
            <ers:isEqual src=".Model.case_no" value="" />
                <frame id="caselist" name="caselist" src="<%=.sec_url%>top/inquiry/asp/caselist.asp?mcode=<%=.Model.mcode%>" frameborder="1" scrolling="auto" />
            </ers:isEqual>
            <ers:isNotEqual src=".Model.case_no" value="" />
                <frame id="historylist" name="caselist" src="<%=.sec_url%>inquiry/historylist?case_no=<%=.Model.case_no%>&mcode=<%=.Model.mcode%>&histlist=true"  frameborder="1" scrolling="auto" />
            </ers:isNotEqual>                
        </frameset>
        <frame class="__frame_r" name="caseinfo" src="<%=.sec_url%>top/inquiry/asp/caseinfo.asp?case_no=<%=.Model.case_no%>&mcode=<%=.Model.mcode%>" scrolling="auto" />
    </frameset>
<!--
    <frame name="header" src="<%=.sec_url%>top/inquiry/asp/footer.asp" frameborder="1" scrolling="none">
-->
</frameset> 
<ers:partial file="footer.htm" />

</html>
