<div class="ERS_page_send">
    <strong><%=.Model.recordCount%><ers:message code="inquiry_pagerCase_matterRelevant" />&nbsp;1&nbsp;-&nbsp;<%=.Model.pagerPageCount %>&nbsp;<ers:label code='common_page'/></strong>
	<div>
    <ers:isEqual src="partialModel.PagePrevFlg" value="true">
        <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_prev">
            <input type="image" src="<%=.sec_url%>images/previous.gif" value="<ers:message code='inquiry_pagerCase_forward' />" class="change back" />
            <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
            <ers:partial file="../inquiry/pager_more.htm" />
        </form>
    </ers:isEqual>

    <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
        <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input value="<%=navi.pagecnt%>" class="place" type="button">
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                    <ers:partial file="../inquiry/pager_more.htm" />
                </form>
            </ers:isEqual>
        <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input value="<%=navi.pagecnt%>" class="change" type="submit">
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                    <ers:partial file="../inquiry/pager_more.htm" />
                </form>
            </ers:isNotEqual>
        </ers:foreach>

    <ers:isEqual src="partialModel.PageNextFlg" value="true">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_next">
                    <input type="image" src="<%=.sec_url%>images/next.gif" value="<ers:label code='common_next'/>" class="change next" /> 
                    <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />  
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                    <ers:partial file="../inquiry/pager_more.htm" />
                </form>
        </ers:isEqual>
	</div>
</div>
