<input type="hidden" name="intime" value="<%=.Model.intime%>" />
<input type="hidden" name="utime" value="<%=.Model.utime%>" />
<input type="hidden" name="enq_type" value="<%=.Model.enq_type%>" />
<input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />

<!--<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />-->
<input type="hidden" name="lname" value="<%=.Model.lname%>" />
<input type="hidden" name="fname" value="<%=.Model.fname%>" />
<input type="hidden" name="enq_status" value="<%=.Model.enq_status%>" />
<input type="hidden" name="enq_progress" value="<%=.Model.enq_progress%>" />
<input type="hidden" name="enq_situation" value="<%=.Model.enq_situation%>" />
<input type="hidden" name="enq_priorty" value="<%=.Model.enq_priorty%>" />
<input type="hidden" name="enq_casename" value="<%=.Model.enq_casename%>" />
<input type="hidden" name="cate1" value="<%=.Model.cate1%>" />
<input type="hidden" name="cate2" value="<%=.Model.cate2%>" />
<input type="hidden" name="cate3" value="<%=.Model.cate3%>" />
<input type="hidden" name="cate4" value="<%=.Model.cate4%>" />
<input type="hidden" name="cate5" value="<%=.Model.cate5%>" />
<input type="hidden" name="email" value="<%=.Model.email%>" />
<!--<input type="hidden" name="user_id" value="<%=.Model.user_id%>" />-->
<input type="hidden" name="sub_no" value="<%=.Model.sub_no%>" />
<input type="hidden" name="lockid" value="<%=.Model.lockid%>" />
<input type="hidden" name="ag_name" value="<%=.Model.ag_name%>" />
<input type="hidden" name="showRegBtn" value="<%=.Model.showRegBtn%>" />
<input type="hidden" name="email_to" value="<%=.Model.email_to%>" />
<input type="hidden" name="email_cc" value="<%=.Model.email_cc%>" />
<input type="hidden" name="email_bcc" value="<%=.Model.email_bcc%>" />
<input type="hidden" name="email_from" value="<%=.Model.email_from%>" />
