﻿
<div>
    <ul class="tabs">
        <li><input type="submit" name="tabsel1" value="<ers:message code='inquiry_tabs_phoneSupport'/>"  <ers:isEqual src=".Model.enq_corresponding" value="0"> class="current" </ers:isEqual> /></li>
        <li><input type="submit" name="tabsel2" value="E-mail" <ers:isEqual src=".Model.enq_corresponding" value="1"> class="current" </ers:isEqual> /></li>
        <li><input type="submit" name="tabsel3" value="<ers:label code='memo' />" <ers:isEqual src=".Model.enq_corresponding" value="2"> class="current" </ers:isEqual> /></li>
    </ul>

    <div class="panes">


        <ers:isEqual src=".Model.enq_corresponding" value="0">
            <ers:partial file="../inquiry/ctsPhone.htm" >
        </ers:isEqual>

        <ers:isEqual src=".Model.enq_corresponding" value="1">
            <ers:partial file="../inquiry/ctsEmail.htm" >
        </ers:isEqual>

        <ers:isEqual src=".Model.enq_corresponding" value="2">
            <ers:partial file="../inquiry/ctsMemo.htm" >
        </ers:isEqual>
        
    </div>
</div>

