<div class="lptempcenter">
<ers:nonencode src="partialModel.block_1_head" />
<ers:nonencode src="partialModel.block_1_body" />
<ers:nonencode src="partialModel.block_1_free" />

<ers:nonencode src="partialModel.block_2_head" />
<ers:nonencode src="partialModel.block_2_body" />
<ers:nonencode src="partialModel.block_2_free" />

<ers:nonencode src="partialModel.block_3_head" />
<ers:nonencode src="partialModel.block_3_body" />
<ers:nonencode src="partialModel.block_3_free" />

<ers:nonencode src="partialModel.block_4_head" />
<ers:nonencode src="partialModel.block_4_body" />
<ers:nonencode src="partialModel.block_4_free" />

		<ers:isEqual src=".Model.IsLandingPage" value="true">
			<ers:isEqual src=".Model.HasUpSellRegistered" value="true">
			<section id="up_box">
                 <ers:IsNotEqual src=".Model.upsell_button_1_file_name" value="">      
                      <form id="form1" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell.asp" method="post">              
                            <ers:IsEqual src=".Model.temp_upsell_button_1_file_name" value="true">                     
                                     <input type="image" src="<%=.pc_sec_url%>images_temp/<%=.Model.upsell_button_1_file_name %>" alt="Submit Form" />				     
                            </ers:IsEqual>
                            <ers:IsNotEqual src=".Model.temp_upsell_button_1_file_name" value="true">				       
                                     <input type="image" src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_1_file_name %>" alt="Submit Form" />				        
                            </ers:IsNotEqual>
                       </form>
                </ers:IsNotEqual>
			</section>
			</ers:isEqual>
		</ers:isEqual>

<ers:nonencode src="partialModel.block_5_head" />
<ers:nonencode src="partialModel.block_5_body" />
<ers:nonencode src="partialModel.block_5_free" />

<ers:nonencode src="partialModel.block_6_head" />
<ers:nonencode src="partialModel.block_6_body" />
<ers:nonencode src="partialModel.block_6_free" />

<ers:nonencode src="partialModel.block_7_head" />
<ers:nonencode src="partialModel.block_7_body" />
<ers:nonencode src="partialModel.block_7_free" />

		<ers:isEqual src=".Model.IsLandingPage" value="true">
            <ers:isNotEqual src=".Model.del_upsell_button_2_flg" value="1">
			    <ers:isEqual src=".Model.HasUpSellRegistered" value="true">
			    <section id="up_box">
                     <ers:IsNotEqual src=".Model.upsell_button_2_file_name" value="">
				        <form id="form1" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell.asp" method="post">              
                                <ers:IsEqual src=".Model.temp_upsell_button_2_file_name" value="true">                     
                                         <input type="image" src="<%=.pc_sec_url%>images_temp/<%=.Model.upsell_button_2_file_name %>" alt="Submit Form" />				     
                                </ers:IsEqual>
                                <ers:IsNotEqual src=".Model.temp_upsell_button_2_file_name" value="true">				       
                                         <input type="image" src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_2_file_name %>" alt="Submit Form" />				        
                                </ers:IsNotEqual>
                           </form>
                    </ers:IsNotEqual>
			    </section>
			    </ers:isEqual>
            </ers:isNotEqual>
		</ers:isEqual>

<ers:nonencode src="partialModel.block_8_head" />
<ers:nonencode src="partialModel.block_8_body" />
<ers:nonencode src="partialModel.block_8_free" />

<ers:nonencode src="partialModel.block_9_head" />
<ers:nonencode src="partialModel.block_9_body" />
<ers:nonencode src="partialModel.block_9_free" />

<ers:nonencode src="partialModel.block_10_head" />
<ers:nonencode src="partialModel.block_10_body" />
<ers:nonencode src="partialModel.block_10_free" />

<ers:isEqual src=".Model.siteType" value="ADMIN">
     <ers:isEqual src=".Model.IsLandingPage" value="true">	
          <ers:isNotEqual src=".Model.del_upsell_button_3_flg" value="1">
	        <ers:isEqual src=".Model.HasUpSellRegistered" value="true">	
	        <section id="up_box">
                    <ers:IsNotEqual src=".Model.upsell_button_3_file_name" value="">	
			         <form id="form2" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell.asp" method="post">              	
                                    <ers:IsEqual src=".Model.temp_upsell_button_3_file_name" value="true">                     
                                             <input type="image" src="<%=.pc_sec_url%>images_temp/<%=.Model.upsell_button_3_file_name %>" alt="Submit Form" />				     	
                                    </ers:IsEqual>	
                                    <ers:IsNotEqual src=".Model.temp_upsell_button_3_file_name" value="true">				       	
                                             <input type="image" src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_3_file_name %>" alt="Submit Form" />				        	
                                    </ers:IsNotEqual>	
                               </form>	
                </ers:IsNotEqual>	
	        </section>	
	        </ers:isEqual>
     </ers:isNotEqual>	
    </ers:isEqual>	
</ers:isEqual>      
</div>