﻿<div class="FixedDetail" style="width:900px;">

    <table class="Detail">
	        
        <!--<ers:isEqual src=".Model.edit_running" value="true" />-->
			<tr>
				<td colspan="2">
                    <div class="" style="width:100%;">
                    	<div class="">
							<ers:message code='regular.detail_modify.DelInstruction'/>
	                    </div>

                        <ers:isNotEqual src=".model.status" value="9" />
	                        <div class="ButtonList" style="margin-bottom:5px;">
                                <!-- C-23 -->
                                <a id="C23" class="submit" onclick="Calculate_C23();"><ers:message code='regular_detail_modify_short_del_calcu'/></a>
		                        <!-- C-24 -->
                                <a id="C24" class="submit" onclick="Calculate_C24();"><ers:message code='regular_detail_modify_auto_del_calcu'/></a>
	                        </div>
                        </ers:isNotEqual>

                        <!--SCHEDULES-->
                        <ers:partial file="../regular/detail_sked.htm" />
                        
                        <!--TERM DELIVERY-->
                        <ers:partial file="../regular/detail_termdelivery.htm" />
                        
                        <!--MEMO-->
                        <ers:partial file="../regular/detail_memo.htm" />

                    </div>
				</td>
			</tr>
        <!--</ers:isEqual>-->
    </table>
        
        
    <br />

    <ers:isEqual src=".Model.edit_running" value="true" />

        <!--DESTINATION-->
        <ers:partial file="../regular/detail_destination.htm" />

        <!--PAYMENT METHOD-->
        <ers:partial file="../regular/detail_payment.htm" />

    </ers:isEqual>

    <div style="clear:both;"></div>
    <br />
    <br />
    <input type="hidden" name="to_modify" value ="1" />

    <ers:isNotEqual src=".model.status" value="9" />
        <input type="submit" name="done" class="form_btn" value="<ers:message code='regular_detail_modify_regist_ord'/>" onclick="return Save();" />
    </ers:isNotEqual>

    <input type="hidden" id="Today" value="<ers:formatDate src=".Model.Today" />" />
    
</div>

<script type="text/javascript">

    var i = 0;

    var p_send = "";
    var pi_month = "";
    var pi_week = "";
    var pi_day = "";
    var p_day = "";
    var p_week = "";
    var week_op = "";

    function Calculate_C23() {

        str_today_date = GetDateString(<%=.Model.RegularOrderDayCount %>);
        $("#next1_date_base").val(str_today_date);
        document.getElementById("next1_date_base").onchange();

        getTerm();

        i = 1;
        get_date_actual(p_send, pi_month, p_day, pi_week, pi_day, p_week, str_today_date, week_op, 1);

        return false;
    }

    function Calculate_C24() {

        getTerm();

        var str_next_date_base = $("#next1_date_base").val();
        var str_next_date = $("#next1_date").val();

        if (str_next_date_base == "") {
            alert("<ers:message code='regular.detail_modify.RegistRefDateMsg'/>");
            return false;
        }

        i = 2;
        get_date_base(p_send, pi_month, p_day, pi_week, pi_day, p_week, str_next_date_base, week_op, 5);

        var str_next_sendtime_base = $("#next_sendtime_base").val();
        var str_next_sendtime_base_old = $("#next_sendtime_base_old").val();
        if (str_next_sendtime_base != str_next_sendtime_base_old) {
            $("select[name*=_sendtime]").val(str_next_sendtime_base);
        }

        return false;
    }

    function getTerm() {
        p_send = "";
        pi_month = "";
        pi_week = "";
        pi_day = "";
        p_day = "";
        p_week = "";
        week_op = "";
		
        if ($("#send_ptn_m:checked").val()==1) {
            p_send = 1;
            pi_month = $("#ptn_interval_month_m").val();
            p_day = $("#ptn_day").val();
        }
        else if ($("#send_ptn_w:checked").val()==2) {
            p_send = 2;
            pi_month = $("#ptn_interval_month_w").val();
            pi_week = $("#ptn_interval_week").val();
            p_week = $("#ptn_weekday").val();
        }
        else {
            p_send = 3;
            pi_month = "";
            pi_day = $("#ptn_interval_day").val();
        }

        if ($("#weekend_operation0:checked").val()==0) {
            week_op = 0;
        }
        else if ($("#weekend_operation1:checked").val()==1) {
            week_op = 1;
        }
        else {
            week_op = 2;
        }
    }

    function get_date_base(p_send, pi_month, p_day, pi_week, pi_day, p_week, next_date, week_op, stop) {
        $.ajax({url: "<%=.sec_url%>top/regular/asp/Calculate_Date.asp",
            data: {
                send_ptn: p_send,
                ptn_interval_month: pi_month,
                ptn_day: p_day,
                ptn_interval_week: pi_week,
                ptn_interval_day: pi_day,
                ptn_weekday: p_week,
                next_date: next_date,
                weekend_operation: ""
            },
            success: function (data) {
                if (i <= stop) {
                    next_date = data;
                    $("#next" + i + "_date_base").val(next_date);
                    document.getElementById("next" + i + "_date_base").onchange();
                    get_date_actual(p_send, pi_month, p_day, pi_week, pi_day, p_week, next_date, week_op, i);
                    i = i + 1;
                    get_date_base(p_send, pi_month, p_day, pi_week, pi_day, p_week, next_date, week_op, stop);
                }
            },
            async: false
        });
    }

    function get_date_actual(p_send, pi_month, p_day, pi_week, pi_day, p_week, next_date, week_op, j) {
        $.ajax({url: "<%=.sec_url%>top/regular/asp/Calculate_Date.asp",
            data: {
                send_ptn: p_send,
                ptn_interval_month: pi_month,
                ptn_day: p_day,
                ptn_interval_week: pi_week,
                ptn_interval_day: pi_day,
                ptn_weekday: p_week,
                next_date: next_date,
                weekend_operation: week_op
            },
            success: function (data) {
                $("#next" + j + "_date").val(data);
                document.getElementById("next" + j + "_date").onchange();
            },
            async: false
        });
    }

    function ChangeDeleteDate() {
        if ($("#edit_status").val() == '1') {
            $("#delete_date").val('');
        }
        else {
            $("#delete_date").val(GetDateString(0));
        }
    }

    function GetDateString(skipday) {
        var today_date = new Date($("#Today").val());
        today_date.setDate(today_date.getDate() + skipday);

        var curr_date = today_date.getDate();
        var curr_month = today_date.getMonth() + 1; //months are zero based
        var curr_year = today_date.getFullYear();

        if (curr_month.toString().length == 1) {
            curr_month = "0" + curr_month;
        }

        if (curr_date.toString().length == 1) {
            curr_date = "0" + curr_date;
        }

        return curr_year + "/" + curr_month + "/" + curr_date;
    }

    function Save() {
        var send_ptn_m = document.getElementById("send_ptn_m").checked;
        var send_ptn_w = document.getElementById("send_ptn_w").checked;
        var send_ptn_d = document.getElementById("send_ptn_d").checked;

        var disp_send_ptn_month_intervals = document.getElementById("disp_send_ptn_month_intervals").value;
        var disp_send_ptn_week_intervals = document.getElementById("disp_send_ptn_week_intervals").value;
        var disp_send_ptn_month_day_intervals = document.getElementById("disp_send_ptn_month_day_intervals").value;

        if(send_ptn_m == true && disp_send_ptn_month_intervals == 1)
        {
            var val = confirm('<ers:message code="regular.detail_modify.UpdateMsgBox">');
            if (val) {
                return true;
            }
        } 
        else if(send_ptn_w == true && disp_send_ptn_week_intervals == 1)
        {
             var val = confirm('<ers:message code="regular.detail_modify.UpdateMsgBox">');
            if (val) {
                return true;
            }
        }
        else if(send_ptn_d == true && disp_send_ptn_month_day_intervals == 1)
        {
             var val = confirm('<ers:message code="regular.detail_modify.UpdateMsgBox">');
            if (val) {
                return true;
            }
        }
        else
        {
            var val = confirm('<ers:message code="regular.detail_modify.SetDelPeriodRegist">');
            if (val) {
                return true;
            }
        }
        return false;
    }

</script>
