﻿<div style="float:left;">
	<table class="Detail">
		<tr>
			<th class="w_100"><ers:message code="cart.shipping_index.Title"></th>
			<td class="w_250">
                <!-- C-72 -->
                <select name="member_add_id">
                    <option selected="selected" value="0"><ers:label code="common_req_main_add"></option>
                    <ers:foreach src=".Model.shippingList" variable="record">
                        <option value="<%=record.id %>" <ers:isEqual src=".Model.member_add_id" variable="record.id"> selected='selected'</ers:isEqual> ><%=record.address_name %></option>
                    </ers:foreach>
                </select>
			</td>
		</tr>
	</table>
</div>