﻿<div class="RegistOrder" style="width:900px;">
    <h3><a name="RegularOrderList"><ers:message code="regular.detail_index.RegOrdList"></a></h3>
    <table border="0" style="width:700px; ">
        <tr>
            <td width="200px">
                <form method="post" action="<%=.sec_url%>top/regular/asp/Regular.asp#RegularOrderList" name="mypage_regular_entry_form" id="mypage_regular_entry_form">
                    <select id="pref" name="all_status">
		                <option value="1" <ers:isEqual src=".Model.all_status" value="1"> selected='selected'</ers:isEqual> ><ers:message code="regular_detail_index_running"></option>
                        <option value="2" <ers:isEqual src=".Model.all_status" value="2"> selected='selected'</ers:isEqual> ><ers:message code="regular_detail_index_cancel"></option>
                        <option value="0" <ers:isEqual src=".Model.all_status" value="0"> selected='selected'</ers:isEqual> ><ers:message code="product_search_opt_all"></option>
	                </select>
                    <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
                    <input type="hidden" name="d_no" value="<%=.Model.d_no%>" />
                </form>
            </td>
            <td align="right">
                <!-- page_send start -->
                <ers:partial file="../regular/pager.htm" partialModel=".Pager"  />
                <!-- page_send end -->
            </td>
        </tr>
    </table>

    <ers:partial file="../regular/detail_list.htm" />

</div>