﻿<div class="RegistOrder" style="float:left;padding-left: 20px;">
	<ers:isEqual src=".Model.card_new" value="true" >
        <ers:partial file="../pay/card_modify.htm" />
    </ers:isEqual>
    <ers:isEqual src=".Model.card_new" value="false" >
        <ers:partial file="../pay/card_list.htm" />
    </ers:isEqual>
	<br />            
</div>