﻿<table style="margin:0;margin-bottom:5px;padding:0;float:left;">
    <tr>
        <th colspan="2"><ers:label code='send_ptn'/></th>
    </tr>
    <tr>
        <td>
            <ers:message code='regular_detail_termdelivery_prod_master_set'/>
        </td>
		<td>
            <input type="hidden" value="<%=.Model.disp_send_ptn_month_intervals%>" id="disp_send_ptn_month_intervals" />
            <input type="hidden" value="<%=.Model.disp_send_ptn_week_intervals%>" id="disp_send_ptn_week_intervals" />
            <input type="hidden" value="<%=.Model.disp_send_ptn_month_day_intervals%>" id="disp_send_ptn_month_day_intervals" />
            
            <ers:isEqual src=".Model.disp_send_ptn_month_intervals" value="1"><ers:message code='regular_detail_termdelivery_monthly'/>&nbsp;&nbsp;</ers:isEqual >
            <ers:isEqual src=".Model.disp_send_ptn_week_intervals" value="1"><ers:message code='regular_detail_termdelivery_weekly'/>&nbsp;&nbsp;</ers:isEqual >
            <ers:isEqual src=".Model.disp_send_ptn_month_day_intervals" value="1"><ers:message code='regular_detail_termdelivery_daily'/></ers:isEqual > 
		</td>
    </tr>
    <tr>
        <td class="w_100">
            <!-- C-49 -->
            <input id="send_ptn_m" name="send_ptn" value="1" <ers:isEqual src=".Model.send_ptn" value="1"> checked="checked"</ers:isEqual> type="radio"><ers:message code='regular_detail_termdelivery_daily'/>
        </td>
        <td class="w_250">
            <!-- C-50 -->
            <select class="w_40" id="ptn_interval_month_m" name="ptn_interval_month_m" <ers:isNotEqual src=".Model.send_ptn" value="1">disabled="disabled"</ers:isNotEqual> >
                <ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
					<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_month_m" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
                </ers:foreach>
			</select>&nbsp;
            <ers:message code='common.months'/><ers:message code='regular_detail_termdelivery_daily'/>&nbsp;

            <!-- C-51 -->
            <select class="w_100" id="ptn_day" name="ptn_day" <ers:isNotEqual src=".Model.send_ptn" value="1">disabled="disabled"</ers:isNotEqual> >
                <ers:foreach src=".Model.ListPtnDay" variable="entity">
					<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>><ers:message src="entity.name"/></option>
                </ers:foreach>
			</select>
        </td>
    </tr>
    <tr>
        <td>
            <!-- C-49 -->
            <input id="send_ptn_w" name="send_ptn" value="2" <ers:isEqual src=".Model.send_ptn" value="2"> checked="checked"</ers:isEqual> type="radio"><ers:message code='regular_detail_termdelivery_weekly'/>
        </td>
        <td>
            <!-- C-52 -->
            <select class="w_40" id="ptn_interval_month_w" name="ptn_interval_month_w" <ers:isNotEqual src=".Model.send_ptn" value="2">disabled="disabled"</ers:isNotEqual> >
                <ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
					<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_month_w" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
                </ers:foreach>
			</select>&nbsp;
            <ers:message code='common.months'/><ers:message code='regular_detail_termdelivery_daily'/> &nbsp;

            <!-- C-53 -->
            <select class="w_40" id="ptn_interval_week" name="ptn_interval_week" <ers:isNotEqual src=".Model.send_ptn" value="2">disabled="disabled"</ers:isNotEqual> >
                <ers:foreach src=".Model.ListPtnIntervalWeek" variable="entity">
					<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
                </ers:foreach>
			</select>&nbsp;
            <ers:message code='regular_detail_termdelivery_week'/>&nbsp;

            <!-- C-54 -->
            <select class="w_65" id="ptn_weekday" name="ptn_weekday" <ers:isNotEqual src=".Model.send_ptn" value="2">disabled="disabled"</ers:isNotEqual> >
                <ers:foreach src=".Model.ListPtnWeekday" variable="entity">
					<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>><ers:message src="entity.name"></option>
                </ers:foreach>
			</select>
        </td>
    </tr>
    <tr>
        <td>
            <!-- C-49 -->
            <input id="send_ptn_d" name="send_ptn" value="3" <ers:isEqual src=".Model.send_ptn" value="3"> checked="checked"</ers:isEqual> type="radio"><ers:message code='regular_detail_termdelivery_daily'/>
        </td>
        <td>
            <!-- C-55 -->
            <select class="w_40" id="ptn_interval_day" name="ptn_interval_day" <ers:isNotEqual src=".Model.send_ptn" value="3">disabled="disabled"</ers:isNotEqual> >
<ers:foreach src=".Model.ListPtnIntervalDay" variable="entity">
							<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
</ers:foreach>
            </select>&nbsp;
            <ers:label code='common_day'/>
        </td>
    </tr>
    <tr>
        <td>
            <font><font><ers:message code='regular_detail_termdelivery_weekend_support'/></font></font>
        </td>
        <td>
            <!-- C-56 -->
<ers:foreach src=".Model.ListWeekendOperation" variable="entity">
            <input type="radio" id="weekend_operation<%=entity.value%>" name="weekend_operation" value="<%=entity.value%>" <ers:isEqual src=".Model.weekend_operation" variable="entity.value"> checked="checked" </ers:isEqual> ><label for="weekend_operation<%=entity.value%>"><ers:message src="entity.name"/></label>　   
</ers:foreach>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $("#send_ptn_m").click(function () {
        disabledall();
        $("#ptn_interval_month_m").removeAttr("disabled");
        $("#ptn_day").removeAttr("disabled");
    });
    $("#send_ptn_w").click(function () {
        disabledall();
        $("#ptn_interval_month_w").removeAttr("disabled");
        $("#ptn_interval_week").removeAttr("disabled");
        $("#ptn_weekday").removeAttr("disabled");
    });
    $("#send_ptn_d").click(function () {
        disabledall();
        $("#ptn_interval_day").removeAttr("disabled");
    });

    function disabledall() {
        // monthly
        $("#ptn_interval_month_m").attr("disabled", "disabled");
        $("#ptn_day").attr("disabled", "disabled");

        // weekly
        $("#ptn_interval_month_w").attr("disabled", "disabled");
        $("#ptn_interval_week").attr("disabled", "disabled");
        $("#ptn_weekday").attr("disabled", "disabled");

        // daily
        $("#ptn_interval_day").attr("disabled", "disabled");
    }
</script>