﻿<script type="text/javascript">
    var holidays = [
	    <ers:foreach variable="holiday" src=".Model.listHolidays">
        "<ers:formatDate src="holiday" />",
	    </ers:foreach>
    ];
    /*function initb1() {
        calendar.set("next1_date_base",holidays);
    }
    function initb2() {
        calendar.set("next2_date_base",holidays);
    }
    function initb3() {
        calendar.set("next3_date_base",holidays);
    }
    function initb4() {
        calendar.set("next4_date_base",holidays);
    }
    function initb5() {
        calendar.set("next5_date_base",holidays);
    }
    function init1() {
        calendar_delvy.set("next1_date",holidays);
    }
    function init2() {
        calendar_delvy.set("next2_date",holidays);
    }
    function init3() {
        calendar_delvy.set("next3_date",holidays);
    }
    function init4() {
        calendar_delvy.set("next4_date",holidays);
    }
    function init5() {
        calendar_delvy.set("next5_date",holidays);
    }*/
    function day_of_week(obj) {
        var dayNames = new Array("<ers:message code="common.sunday"/>", "<ers:message code="common.monday"/>", "<ers:message code="common.tuesday"/>", "<ers:message code="common.wednesday"/>", "<ers:message code="common.thursday"/>", "<ers:message code="common.friday"/>", "<ers:message code="common.saturday"/>");
        var dt_id = obj.id;
        var dte;
        var type = "[" + ($("#" + dt_id).attr('type')) + "]";
        if (type == '[undefined]') {
            dte = $("#" + dt_id).text();
        }
        else {
            dte = $("#" + dt_id).val();
        }
        var dVal = new Date(dte);
        var wk = dayNames[dVal.getDay()];
        $("#" + dt_id + "_day").html("(" + wk + ")");
    }
</script>
<table style="margin:0 0 5px 0;padding:0; ">
    <tr>
        <th class="w_120"><ers:message code='regular_detail_sked_previous_ref_date'/></th>
        <th class="w_120"><ers:message code='regular_detail_sked_next_ref_date'/></th>
        <th colspan="4"><ers:message code='regular_detail_sked_next_sub_ref_date'/></th>
    </tr>
    <tr>
        <td class="w_120">
            <!-- C-25 -->
            <span id="last_date_base"><ers:formatDate src=".Model.last_date_base" /></span>
            <label id="last_date_base_day" class="w_10" ></label>
        </td>
        <td class="w_120">
            <!-- C-29 -->
            <input type="text" name="next_date_base" id="next1_date_base" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next_date_base" />"  />
            <label id="next1_date_base_day" class="w_10" ></label>
        </td>
        <td class="w_120">
            <!-- C-33 -->
            <input type="text" name="next2_date_base" id="next2_date_base" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next2_date_base" />" />
            <label id="next2_date_base_day" class="w_10" ></label>
        </td>
        <td class="w_120">
            <!-- C-37 -->
            <input type="text" name="next3_date_base" id="next3_date_base" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next3_date_base" />" />
            <label id="next3_date_base_day" class="w_10" ></label>
        </td>
        <td class="w_120">
            <!-- C-41 -->
            <input type="text" name="next4_date_base" id="next4_date_base" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next4_date_base" />" />
            <label id="next4_date_base_day" class="w_10" ></label>
        </td>
        <td class="w_120">
            <!-- C-45 -->
            <input type="text" name="next5_date_base" id="next5_date_base" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next5_date_base" />" />
            <label id="next5_date_base_day" class="w_10" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <!-- C-26 -->
            <%=.Model.w_last_sendtime_base %>
        </td>
        <td>
            <input type="hidden" id="next_sendtime_base_old" value="<%=.Model.next_sendtime_base %>" />
            <!-- C-30 -->
            <select id="next_sendtime_base" name="next_sendtime_base" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next_sendtime_base"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td>
            <!-- C-34 -->
            <select name="next2_sendtime_base" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next2_sendtime_base"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td>
            <!-- C-38 -->
            <select name="next3_sendtime_base" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next3_sendtime_base"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td>
            <!-- C-42 -->
            <select name="next4_sendtime_base" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next4_sendtime_base"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td>
            <!-- C-46 -->
            <select name="next5_sendtime_base" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next5_sendtime_base"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
    </tr>
    <tr>
        <th class="w_120"><ers:message code='regular_detail_sked_previous_del_date'/></th>
        <th class="w_120"><ers:message code='regular_detail_sked_next_del_date'/></th>
        <th colspan="4"><ers:message code='regular_detail_sked_next_sub_del_date'/></th>
    </tr>
    <tr>
        <td>
            <!-- C-27 -->
            <label id="last_date"><ers:formatDate src=".Model.last_date" /></label>
            <label id="last_date_day" class="w_10" ></label>
        </td>
        <td class="reflection">
            <!-- C-31 -->
            <input type="text" name="next_date" id="next1_date" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next_date" />" />
            <label id="next1_date_day" class="w_10" ></label>
        </td>
        <td class="reflection">
            <!-- C-35 -->
            <input type="text" name="next2_date" id="next2_date" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next2_date" />" />
            <label id="next2_date_day" class="w_10" ></label>
        </td>
        <td class="reflection">
            <!-- C-39 -->
            <input type="text" name="next3_date" id="next3_date" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next3_date" />" />
            <label id="next3_date_day" class="w_10" ></label>
        </td>
        <td class="reflection">
            <!-- C-43 -->
            <input type="text" name="next4_date" id="next4_date" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next4_date" />" />
            <label id="next4_date_day" class="w_10" ></label>
        </td>
        <td class="reflection">
            <!-- C-47 -->
            <input type="text" name="next5_date" id="next5_date" class="datepicker_date w_80" maxlength="10" onchange="day_of_week(this)" value="<ers:formatDate src=".Model.next5_date" />" />
            <label id="next5_date_day" class="w_10" ></label>
        </td>
    </tr>
    <tr>
        <td>
            <!-- C-28 -->
            <%=.Model.w_last_sendtime %>
        </td>
        <td class="reflection">
            <!-- C-32 -->
            <select name="next_sendtime" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td class="reflection">
            <!-- C-36 -->
            <select name="next2_sendtime" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next2_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td class="reflection">
            <!-- C-40 -->
            <select name="next3_sendtime" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next3_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td class="reflection">
            <!-- C-44 -->
            <select name="next4_sendtime" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next4_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
        <td class="reflection">
            <!-- C-48 -->
            <select name="next5_sendtime" style="width:110px; ">
                <ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.next5_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                </ers:foreach>
            </select>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        day_of_week(document.getElementById("last_date_base"));
        document.getElementById("next1_date_base").onchange();
        document.getElementById("next2_date_base").onchange();
        document.getElementById("next3_date_base").onchange();
        document.getElementById("next4_date_base").onchange();
        document.getElementById("next5_date_base").onchange();
        day_of_week(document.getElementById("last_date"));
        document.getElementById("next1_date").onchange();
        document.getElementById("next2_date").onchange();
        document.getElementById("next3_date").onchange();
        document.getElementById("next4_date").onchange();
        document.getElementById("next5_date").onchange();
    });
</script>