﻿<div class="MemberDetail" style="display:block;">

    <form method="post" action="<%=.sec_url%>top/regular/asp/Regular.asp#EditDetail" name="detail_entry_form" id="detail_entry_form">
        <ers:partial file="../regular/pager_more.htm" />
        <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
        <table id="OrderDetailList" class="Detail">
            <tr>
                <th><div style="width:auto;"><ers:label code="enq_situation"></div></th>
                <th><div style="width:200px;"><ers:message code="sumry_commodity"></div></th>
                <th><div style="width:50px;"><ers:message code="regular_detail_list_num"></div></th>
                <th><div style="width:50px;"><ers:message code="regular_detail_list_price"></div></th>
                <th><div style="width:100px;"><ers:message code="regular_detail_list_next_time"></div></th>
                <th><div style="width:100px;"><ers:message code="regular_detail_list_after_next"></div></th>
                <th><div style="width:100px;"><ers:label code="manage"></div></th>
		    </tr>
            
            <ers:foreach src=".Model.orderDetailsList" variable="record">
                <tr <ers:isEqual src="record.id" variable=".Model.d_id" /> style="background-color:#<%=.Model.HighlightColor %>; " </ers:isEqual> >
                    <td align="center">
                        <input type="hidden" id="r_code<%=record.id %>" name="r_code<%=record.id %>" value="<%=record.id%>" />
                        <input type="hidden" id="r_status<%=record.id %>" name="r_status<%=record.id %>" value="<%=record.status%>" />
                        <ers:message src="record.status_name"/>
                    </td>
                    <td>
                        <ers:isEqual src="record.cts_sname" value=""><%=record.sname%></ers:isEqual><ers:isNotEqual src="record.cts_sname" value=""><%=record.cts_sname%></ers:isNotEqual><br />
                        <%=record.delivery_term %>
                    </td>
                    <td align="center">
                        <%=record.amount %>
                    </td>
                    <td>
                        <ers:formatCurrency src="record.price" />
                    </td>
                    <td align="center">
                        <ers:isEqual src="record.status" value="1" />
                        <ers:formatDate src="record.next_date" />
                        </ers:isEqual>
                        <ers:isEqual src="record.status" value="9" />
                            <ers:message code='regular_detail_list_index_stop' />
                        </ers:isEqual>
                        <ers:isEqual src="record.card_status_error" value="true" />
                        <p style="color:Red"><ers:message code="regular.detail_list.CardError"></p>
                        </ers:isEqual>
                    </td>
                    <td align="center">
                        <ers:isEqual src="record.status" value="1" />
                        <ers:formatDate src="record.next2_date" />
                        </ers:isEqual>
                        <ers:isEqual src="record.status" value="9" />
                            <ers:message code='regular_detail_list_index_stop' />
                        </ers:isEqual>
                        <ers:isEqual src="record.card_status_error" value="true" />
                        <p style="color:Red"><ers:message code="regular.detail_list.CardError"></p>
                        </ers:isEqual>
                    </td>
                    <td align="center">
                        <ers:isEqual src="record.status" value="1" />
                            <input type="submit" class="form_btn" id="r_edit<%=record.id %>" name="r_edit<%=record.id %>" value="<ers:label code='common_edit' />" />
                            <input type="submit" class="form_btn" id="r_skip<%=record.id %>" name="r_skip<%=record.id %>" value="<ers:message code='regular_detail_list_skip' />" onclick="return confirm('<ers:message code="regular.detail_list.SkipMsgBox">')" />&nbsp;
                        </ers:isEqual>
                        <ers:isEqual src="record.status" value="9" />
                        <!--<ers:message code="regular.detail_list.Cancelled">-->
                        <input type="submit" class="form_btn" id="r_edit<%=record.id %>" name="r_edit<%=record.id %>" value="<ers:message code='regular_detail_list_detail' />" />
                        </ers:isEqual>
                    </td>
			    </tr>
            </ers:foreach>

	    </table>

        <input type="hidden" id="edit_mode" value="<%=.Model.edit_mode %>" />

        <ers:isEqual src=".Model.edit_mode" value="true" />
            <br />
            <h3><a name="EditDetail"><ers:message code="regular.detail_list.SubsOrderSet"></a></h3>           
            <input type="hidden" name="d_id" value="<%=.Model.d_id%>" />
            <input type="hidden" name="status" value="<%=.Model.status%>" />
            <ers:partial file="../regular/detail_modify.htm" />
        </ers:isEqual>

    </form>
</div>

