﻿<table style="margin:0;margin-left:5px;padding:0;float:left; ">
	<tr>
		<th><ers:label code="enq_situation"></th>
		<td>
            <!-- C-22 -->
			<select id="edit_status" name="edit_status" onchange="ChangeDeleteDate()">
                <option value="1" <ers:isEqual src=".Model.status" value="Running"> selected='selected'</ers:isEqual> ><ers:message code="regular_detail_index_running"></option>
                <option value="2" <ers:isEqual src=".Model.status" value="Stopped"> selected='selected'</ers:isEqual> ><ers:message code="regular_detail_index_cancel"></option>
            </select>
		</td>
	</tr>
    <tr>
        <th><ers:message code="regular_detail_memo_skip_date"></th>
        <td class="Calendar">
            <!-- C-58 -->
            <input type="text" name="delete_date" id="delete_date" class="datepicker_date w_80" maxlength="10" value="<ers:formatDate src=".Model.delete_date" />" />
        </td>
    </tr>
    <tr>
        <th><ers:message code="regular_detail_memo_ship_note"> <br><ers:message code="regular.detail_memo.InspectPackingInst"></th>
        <td>
            <!-- C-59 -->
            <input name="shipping_memo" value="<%=.Model.shipping_memo %>" maxlength="40" type="text" size="40" /><br/>
        </td>
    </tr>
</table>