﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - 定期編集</title>
</head>

<frameset rows="82px,*,30px" frameborder="1" border="1" framespacing="0">
	<frame name="header" src="<%=.sec_url%>top/order/asp/Header.asp" frameborder="1" scrolling="auto">
    <frameset cols="*,1000px,*">
        <frame name="regorder" src="<%=.sec_url%>top/regular/asp/Filler.asp" frameborder="1" scrolling="auto">
        <frame name="regorder" src="<%=.sec_url%>top/regular/asp/Regular.asp?mcode=<%=.Model.mcode%>&d_no=<%=.Model.d_no%>" frameborder="1" scrolling="auto">
        <frame name="regorder" src="<%=.sec_url%>top/regular/asp/Filler.asp" frameborder="1" scrolling="auto">
    </frameset>
	
    <frame name="regorder" src="<%=.sec_url%>top/regular/asp/Footer.asp" frameborder="1" scrolling="no">
</frameset>
</html>
