﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <!--<script type="text/javascript" src="<%=.sec_url%>js/scrollsaver.js"></script>-->

    <script type="text/jscript" language="javascript" >
        function cancelSubmit(e) {
            if (!e) var e = window.event;

            if (e.keyCode == 13)
                return false;
        }

        window.onload = function () {
            var list = document.getElementsByTagName("input");
            for (var i = 0; i < list.length; i++) {
                if (list[i].type == 'text' || list[i].type == 'checkbox' || list[i].type == 'select' || list[i].type == 'radio' ||
                list[i].type == 'file') {
                    list[i].onkeypress = function (event) {
                        return cancelSubmit(event);
                    };
                }
            }
        }  
    </script>  
    <script type="text/jscript" language="javascript" >
            $(document).ready(function () {
                $("#pref").change(function (event) {
                    $('form#mypage_regular_entry_form').submit();
                });
            });
    </script>  
</head>
<body style="height:0px; ">

    <!--<form method="post" action="<%=.sec_url%>top/regular/asp/Regular.asp" name="entry_form" id="entry_form">-->
        
        <ers:dispError />       

        <div id="Order" style="width:600px; ">
        
            <!--<ers:isEqual src=".Model.Debug" value="true">
                [Shipping Address: <%=.Model.shipping_id %>]
            </ers:isEqual>-->

            <form method="post" action="<%=.sec_url%>top/regular/asp/Regular.asp" name="entry_form" id="entry_form" style="width:600px; ">
                <!--Client Information-->
                <ers:partial file="../member/member_index.htm" />
                
                <!--Shipping Addresses-->
                <ers:partial file="../destination/shipping_index.htm" />

                <ers:partial file="../regular/pager_more.htm" />
            </form>

            <!--Order Details-->
            <ers:partial file="../regular/detail_index.htm" />
            
            <br />
            
        </div>

    <!--</form>-->

    
</body>
</html>
