﻿
<div class="Search">
    <form action="<%=.sec_url%>direction/Agent" method="post">
	<table class="Search">
		<tr>
			<th><ers:message code="direction.ctsAgentSearch.DateofInstruction" /></th>
			<td>
				<input type="text" class="datepicker_start w_150" name="datefrom" maxlength="10" value="<ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" />" />&nbsp;～
				<input type="text" class="datepicker_end w_150" name="dateto"   maxlength="10" value="<ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" />" />

                <br />※<ers:message code="direction.ctsAgent.DateNotice" /><br />※<ers:message code="direction.ctsAgentSearch.Example" />
			</td>
		</tr>
		<tr>
			<th><ers:message code="direction.ctsAgentSearch.AgentType" /></th>
			<td>
                <select id="ag_type" name="ag_type">
					<option value=""></option>
                    <ers:foreach variable="option" src=".Model.ctsAgetypeList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ag_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="Button">
                <input type="submit" name="search" value="<ers:label code='common_search'/>" class="SearchButton"/>
			</td>
		</tr>
	</table>
    </form>
</div>

<ers:isEqual src=".Model.searchresult" value="true">
    <div class="SearchResult">
	    
	    <div class="List">
		    <h3><ers:message code="direction.ctsAgentSearch.InstSearchResult" /></h3>

		    <div class="Paging">
                <ers:partial file="../direction/pager.htm" partialModel=".Pager" />
		    </div>

		    <table class="SearchResult">
			    <tr>
				    <th class="w_150"><ers:message code="th_instruction_date" /></th>
				    <th class="w_50"><ers:message code="th_status_confirmation" /></th>
				    <th class="w_150"><ers:message code="th_indicated_target" /></th>
				    <th class="w_150"><ers:message code="th_instructions" /></th>
				    <th class="w_100"><ers:message code="th_last_modified_date" /></th>
				    <th class="w_150"><ers:message code="th_no_status" /></th>
				    <th class="w_150"><ers:label code="enq_casename" /></th>
				    <th class="w_50"><ers:label code="manage" /></th>
			    </tr>
                <ers:foreach src=".Model.AgentInstructionList" variable="list">
                    <tr>
                        <td><%=list.intime%></td>
                        <td><%=list.check_desc%></td>
                        <td><%=list.to_ag_name%></td>
                        <td><%=list.from_ag_name%></td>
                        <td><%=list.utime%></td>
                        <td><%=list.case_no%></td>
                        <td><%=list.enq_casename%></td>
					    <td style="text-align:center">
                            <form action="<%=.sec_url%>direction/agent" method="post">
                            <input type="submit" value="<ers:message code='btn_display'/>" />
                            <input type="hidden" name="id" value="<%=list.id%>" />
                            <input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
                            <input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
                            <input type="hidden" name="timefrom" value="<%=.Model.timefrom%>" />
                            <input type="hidden" name="timeto" value="<%=.Model.timeto%>" />
                            <input type="hidden" name="ag_type" value="<%=.Model.ag_type%>" />
                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                            <input type="hidden" name="showinst" value="true" />
                            </form>
					    </td>
				    </tr>
                </ers:foreach>
			</table>
		</div>
    </div>
</ers:isEqual>
<ers:dispInfo />
