﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="direction.index.Title" /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Direction.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">
                    <ers:isEqual src=".Model.agentsearch" value="true">                        
		                <h2><ers:message code="direction.index.AgentInstructionTitle" /></h2>
                        <ers:partial file="../direction/ctsAgentSearch.htm" />
                    </ers:isEqual>

                    <ers:isEqual src=".Model.showinst" value="true">                    
		                <h2><ers:message code="direction.ctsAgent.SubTitle" /></h2>
                        <div class="Search">
                        <table class="Search">
	                        <tr>
		                        <th><ers:message code="th_instruction_date" /></th>
		                        <td><%=.Model.intime%></td>
		                        <th><ers:message code="th_status_confirmation" /></th>
		                        <td><%=.Model.check_desc%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:message code="th_indicated_target" /></th>
		                        <td><%=.Model.to_ag_name%></td>
		                        <th><ers:message code="th_instructions" /></th>
		                        <td><%=.Model.from_ag_name%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:message code="th_no_status" /></th>
		                        <td colspan="3"><%=.Model.case_no%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="enq_casename" /></th>
		                        <td colspan="3"><%=.Model.enq_casename%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="common_category"/></th>
		                        <td colspan="3"><%=.Model.cate_name%></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="enq_progress" /></th>
		                        <td><ers:message src=".Model.enq_progress"/></td>
		                        <th><ers:label code="price_status" /></th>
		                        <td><ers:message src=".Model.enq_situation"/></td>
	                        </tr>
	                        <tr>
		                        <th><ers:label code="common_inq_type"/></th>
		                        <td><ers:message src=".Model.enq_type"/></td>
		                        <th><ers:label code="enq_priorty"/></th>
		                        <td><ers:message src=".Model.priority"/></td>
	                        </tr>
	                        <tr>
		                        <td colspan="4"><ers:multiLine src=".Model.dmemo" /></td>
	                        </tr>
                        </table>
                        </div>

                        <input type="hidden" name="id" value="<%=.Model.id%>" />
                        <br />
                        <form action="<%=.sec_url%>direction/agent" method="post">
                        <input type="submit" value="<ers:label code='common_back' />" />
                        <input type="hidden" name="id" value="<%=.Model.id%>" />
                        <input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
                        <input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
                        <input type="hidden" name="timefrom" value="<%=.Model.timefrom%>" />
                        <input type="hidden" name="timeto" value="<%=.Model.timeto%>" />
                        <input type="hidden" name="ag_type" value="<%=.Model.ag_type%>" />
                        <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                        <input type="hidden" name="search" value="true" />
                        </form>
                    </ers:isEqual>
                
            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
