﻿<form action="<%=.sec_url%>direction/inbound" method="post">
    <div class="OutlineToday">
	    <h3><ers:message code="direction.ctsInboundStatus.DateHeader" />&nbsp;<ers:formatDate src=".Model.LabelNow" /></h3>
	    <table class="SearchResult">
    	    <tbody>
	        <tr>
	            <th class="w_100"><ers:label code="common_type" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="enq_progress" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="price_status" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="common_list" /></th>
	        </tr>
            <ers:foreach src=".Model.NowInboundType" variable="type">
            <tr>
                <td rowspan=<%=type.rawspan_typ%>>
                <!--<td <ers:nonencode src=".Model.rowspan" />>-->
                    <ers:isEqual src="type.enq_type" value="3"><ers:label code="fax" /></ers:isEqual>
                    <ers:isEqual src="type.enq_type" value="2"><ers:message code="th_in_type_cate" /></ers:isEqual>
                    <ers:isEqual src="type.enq_type" value="1"><ers:message code="th_in_telephone" /></ers:isEqual>
                </td>

                <td rowspan=<%=type.rawspan_typ%>><%=type.enq_type_count%></td>
                <!--<td <ers:nonencode src=".Model.rowspan" />><%=type.enq_type_count%></td>-->
                 <ers:foreach src=".Model.NowInboundProgress" variable="progress">
                  <ers:isEqual src="type.enq_type" variable="progress.enq_type">   
                          <ers:isEqual src="progress.namename" value="Open">
                                <tr>
                                <td rowspan=<%=type.rawspan_prg%>><ers:message code="namecode.ENQPGR.Open" /></td>
                                <td rowspan=<%=type.rawspan_prg%>><%=progress.enq_progress_count%></td>
                                    <ers:foreach src=".Model.NowInboundSituation" variable="situation">
                                    <ers:isEqual src="type.enq_type" variable="situation.enq_type">
                                       <tr>
                                        <td><ers:message src="situation.namename"/></td>
                                        <td><%=situation.enq_situation_count%></td>
                                        <td>
                                            <form action="<%=.sec_url%>direction/inbound" method="post">
                                                <input type="hidden" name="type" value="<%=type.enq_type %>" />
                                                <input type="hidden" name="progress_namename" value="<%=progress.namename%>" />
                                                <input type="hidden" name="enq_situation_count" value="<%=situation.enq_situation_count%>" />
                                                <input type="hidden" name="progress" value="1" />
                                                <input type="hidden" name="situation" value="<%=situation.enq_situation%>" />

                                                <ers:isNotEqual src="situation.enq_situation_count" variable="0">
                                                    <input type="submit" name="ShowListNow" value="<ers:label code='common_list'/>" class="submit" />
                                                </ers:isNotEqual>
                                            </form>
                                        </td>
                                       </tr>
                                    </ers:isEqual>  
                                    </ers:foreach>
                                </tr>
                          </ers:isEqual>
                          <ers:isEqual src="progress.namename" value="Close">
                                <tr>
                                   <td><ers:message code="namecode.ENQPGR.Close" /></td>
                                   <td><%=progress.enq_progress_count%></td>
                                   <td></td>
                                   <td><%=progress.enq_progress_count%></td>
                                   <td>
                                        <form action="<%=.sec_url%>direction/inbound" method="post">
                                                <input type="hidden" name="type" value="<%=type.enq_type %>" />
                                                <input type="hidden" name="progress_namename" value="<%=progress.namename%>" />
                                                <input type="hidden" name="enq_progress_count" value="<%=progress.enq_progress_count%>" />
                                                <input type="hidden" name="progress" value="2" />
                                                <input type="hidden" name="situation" value="0" />

                                                <ers:isNotEqual src="progress.enq_progress_count" variable="0">
                                                    <input type="submit" name="ShowListNow" value="<ers:label code='common_list'/>" class="submit" />
                                                </ers:isNotEqual>
                                            </form>
                                   </td>
                                </tr>
                          </ers:isEqual>  
                   </ers:isEqual>
                 </ers:foreach>
            </tr>
            </ers:foreach>

            </tbody>
	    </table>
    </div>



    <div class="OutlineAll">
	    <h3><ers:message code="direction.ctsInboundStatus.EntireProcessHeader" /></h3>
	    <table class="SearchResult">
    	    <tbody>
	        <tr>
	            <th class="w_100"><ers:label code="common_type" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="enq_progress" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="price_status" /></th>
                <th class="w_100"><ers:label code="common_number" /></th>
                <th class="w_100"><ers:label code="common_list" /></th>
	        </tr>
            <ers:foreach src=".Model.AllInboundType" variable="type">
            <tr>
                <td rowspan=<%=type.rawspan_typ%>>
                    <ers:isEqual src="type.enq_type" value="3"><ers:label code="fax" /></ers:isEqual>
                    <ers:isEqual src="type.enq_type" value="2"><ers:message code="th_in_type_cate" /></ers:isEqual>
                    <ers:isEqual src="type.enq_type" value="1"><ers:message code="th_in_telephone" /></ers:isEqual>
                </td>
                <td rowspan=<%=type.rawspan_typ%>><%=type.enq_type_count%></td>
                 <ers:foreach src=".Model.AllInboundProgress" variable="progress">
                  <ers:isEqual src="type.enq_type" variable="progress.enq_type">   
                          <ers:isEqual src="progress.namename" value="Open">
                                <tr>
                                <td rowspan=<%=type.rawspan_prg%>><ers:message code="namecode.ENQPGR.Open" /></td>
                                <td rowspan=<%=type.rawspan_prg%>><%=progress.enq_progress_count%></td>
                                    <ers:foreach src=".Model.AllInboundSituation" variable="situation">
                                    <ers:isEqual src="type.enq_type" variable="situation.enq_type">
                                       <tr>
                                        <td><ers:message src="situation.namename"/></td>
                                        <td><%=situation.enq_situation_count%></td>
                                        <td>
                                            <form action="<%=.sec_url%>direction/inbound" method="post">
                                                <input type="hidden" name="type" value="<%=type.enq_type %>" />
                                                <input type="hidden" name="progress_namename" value="<%=progress.namename%>" />
                                                <input type="hidden" name="enq_situation_count" value="<%=situation.enq_situation_count%>" />
                                                <input type="hidden" name="progress" value="1" />
                                                <input type="hidden" name="situation" value="<%=situation.enq_situation%>" />
                                                                                        
                                                <ers:isNotEqual src="situation.enq_situation_count" variable="0">
                                                    <input type="submit" name="ShowListAll" value="<ers:label code='common_list'/>" class="submit" />
                                                </ers:isNotEqual>
                                            </form>
                                        </td>
                                       </tr>
                                    </ers:isEqual>  
                                    </ers:foreach>
                                </tr>
                          </ers:isEqual>
                          <ers:isEqual src="progress.namename" value="Close">
                                <tr>
                                   <td><ers:message code="namecode.ENQPGR.Close" /></td>
                                   <td><%=progress.enq_progress_count%></td>
                                   <td></td>
                                   <td><%=progress.enq_progress_count%></td>
                                   <td>
                                        <form action="<%=.sec_url%>direction/inbound" method="post">
                                            <input type="hidden" name="type" value="<%=type.enq_type %>" />
                                            <input type="hidden" name="progress_namename" value="<%=progress.namename%>" />
                                            <input type="hidden" name="enq_progress_count" value="<%=progress.enq_progress_count%>" />
                                            <input type="hidden" name="progress" value="2" />
                                            <input type="hidden" name="situation" value="0" />
                                                                                        
                                            <ers:isNotEqual src="progress.enq_progress_count" variable="0">
                                                <input type="submit" name="ShowListAll" value="<ers:label code='common_list'/>" class="submit" />
                                            </ers:isNotEqual>
                                        </form>
                                   </td>
                                </tr>
                          </ers:isEqual>  
                   </ers:isEqual>
                 </ers:foreach>
            </tr>
            </ers:foreach>
            </tbody>
	    </table>
    </div>
</form>
<div class="FloatClear"></div>
	