<form action="<%=.sec_url%>direction/inbound" method="post">	
    <ers:isEqual src=".Model.RegistDone" value="false">

    <h3><ers:message code="direction.ctsInboundInput.Title"/></h3>

    <table class="Regist">
	    <tr>
		    <th><ers:label code="common_picharge"/></th>
		    <td><%=.Model.ag_name%></td>
		    <th><ers:message code="direction.ctsInboundInput.escalation_source"/></th>
		    <td><%=.Model.ag_name%></td>
	    </tr>
	    <tr>
		    <th><ers:label code="enq_casename"/></th>
		    <td colspan="3"><%=.Model.enq_casename%></td>
	    </tr>
	    <tr>
		    <th><ers:label code="common_category"/></th>
		    <td colspan="3"><%=.Model.cate_name%></td>
	    </tr>
    
	    <tr>
		    <th><ers:label code="enq_progress"/></th>
		    <td><ers:message src=".Model.enq_progress"/></td>
		    <th><ers:label code="enq_situation"/></th>
		    <td><ers:message src=".Model.enq_situation"/></td>
	    </tr>
	    <tr>
		    <th><ers:label code="common_inq_type"/></th>
		    <td>
                <ers:isEqual src=".Model.type" value="1"  /> 
                    <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
                </ers:isEqual>
                <ers:isEqual src=".Model.type" value="2"  /> 
                    <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
                </ers:isEqual>
                <ers:isEqual src=".Model.type" value="3"  /> 
                    <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
                </ers:isEqual>

            
            </td>
		    <th><ers:label code="enq_priorty"/></th>
		    <td><ers:message src=".Model.priority"/></td>
	    </tr>
	    <tr>
		    <td colspan="4">
                <textarea id="dmemo" name="dmemo" rows="8" cols="60"><%=.Model.dmemo%></textarea>
		    </td>
	    </tr>
	    <tr>
		    <td colspan="4" class="Button">
                <input type="hidden" name="type" value="<%=.Model.type%>" />
                <input type="hidden" name="progress" value="<%=.Model.progress%>" />
                <input type="hidden" name="situation" value="<%=.Model.situation%>" />
                <input type="hidden" name="source" value="<%=.Model.source%>" />
                <input type="hidden" name="case_no" value="<%=.Model.case_no%>" />
                <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />

                <input type="submit" name="InstRegist" class="submit" value="<ers:label code='common_register'/>" />
                <input type="submit" name="Instcancel" class="submit" value="<ers:label code='common_back'/>" />
		    </td>
	    </tr>
    </table>
    </ers:isEqual>	

    <ers:isEqual src=".Model.RegistDone" value="true">
        <h3><ers:message code="direction.ctsInboundInput.RegComTitle"></h3>
        <p><ers:message code="direction.ctsInboundInput.RegComMsg"/></p>
    </ers:isEqual>	

</form>
