
<h3><ers:message code="direction.ctsInboundList.Title" /></h3>

■<ers:message code="direction.ctsInboundStatus.EntireProcessHeader" /><br />
    <ers:label code="enq_progress" />　： 
        <ers:isEqual src=".Model.LabelProgress" value="Open"><ers:message code="namecode.ENQPGR.Open" /></ers:isEqual>
        <ers:isEqual src=".Model.LabelProgress" value="Close"><ers:message code="namecode.ENQPGR.Close" /></ers:isEqual><br />
    <ers:label code="price_status" />：
        <ers:isEqual src=".Model.progress_namename" value="Open"><ers:message src=".Model.situation" /></ers:isEqual><br />
    <ers:label code="common_number" />：
    <ers:isEqual src=".Model.progress_namename" value="Open"><%=.Model.enq_situation_count%></ers:isEqual>
    <ers:isEqual src=".Model.progress_namename" value="Close"><%=.Model.enq_progress_count%></ers:isEqual>件<br />

    <div class="SearchResult">
        <div class="List">
            <form action="<%=.sec_url%>direction/inbound" method="post">
                <div class="Paging">
                    <ers:partial file="../direction/pagerInbound.htm" partialModel=".Pager" />
                </div>
            </form>
            <table class="SearchResult">

                <tr>
                    <th><ers:message code="th_in_case" /></th>
                    <th><ers:message code="th_in_cust_no_inbound" /></th>
                    <th><ers:label code="ReceptionDate" /></th>
                    <th><ers:message code="th_in_last_mod_date" /></th>
                    <th><ers:label code="enq_progress" /></th>
                    <th><ers:label code="price_status" /></th>
                    <th><ers:label code="enq_priorty" /></th>
                    <th><ers:label code="common_inq_type" /></th>
                    <th><ers:message code="th_in_case_no_inbound" /></th>
                    <th><ers:label code="csv_PersonName" /></th>
                </tr>

                <ers:foreach src=".Model.InboundStatusList" variable="list">
                    <tr>
                        <td><%=list.case_no%></td>
                        <td><%=list.mcode%></td>
                        <td><%=list.intime%></td>
                        <td><%=list.utime%></td>

                        <td><ers:message src="list.w_progress" /></td>
                        <td><ers:message src="list.w_situation" /></td>
                        <td><ers:message src="list.w_priority" /></td>

                        <td>
                            <ers:isEqual src="list.enq_type" value="1" />
                            <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
</ers:isEqual>
                    <ers:isEqual src="list.enq_type" value="2"  /> 
                        <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
                    </ers:isEqual>
                    <ers:isEqual src="list.enq_type" value="3"  /> 
                        <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
                    </ers:isEqual>
                </td>
        
                <td><%=list.enq_casename%></td>
                <td>
                    <ers:isEqual src=".Model.ctsAgentType" variable="list.ag_type">
                        <input type="hidden" name="type" value="<%=.Model.type%>" />
                        <input type="hidden" name="progress" value="<%=.Model.progress%>" />
                        <input type="hidden" name="situation" value="<%=.Model.situation%>" />
                        <input type="hidden" name="source" value="<%=.Model.source%>" />
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.ctsAgentType" variable="list.ag_type">
                                            <a href="<%=.sec_url%>direction/inbound?case_no=<%=list.case_no%>&type=<%=.Model.type%>&progress=<%=.Model.progress%>&situation=<%=.Model.situation%>&source=<%=.Model.source%>&inboundInput=true&pageCnt=<%=.Model.pageCnt%>">

                        <%=list.ag_name%>(<%=list.agent%>) </a>
                    </ers:isNotEqual>
               </td>
            </tr>
            </ers:foreach>
            <tr>
                <td colspan="10" class="Button">
                    <a href="<%=.sec_url%>direction/inbound?inboundStatus=true" class="submit"><ers:label code="common_back" /></a>
                </td>
            </tr>
        </table>
    </div>
</div>
	