﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="direction.index.Title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Direction.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">
                <div class="Direction">
	                <h2><ers:message code="direction.index.Title"/></h2>

	                <table class="Menu">
		                <tbody>
			                <tr>
				                <th class="w_200"><a href="<%=.sec_url%>direction/agent?agentsearch=true" id="agent" name="agent" ><ers:message code="direction.index.AgentInstructionTitle"/></a></th>
				                <td><ers:message code="direction.index.AgentInstructionDesc" /></td>
			                </tr>
			                <tr>
				                <th><a href="<%=.sec_url%>direction/inbound?inboundStatus=true" id="inbound" name="inbound" ><ers:message code="direction.index.CreatingInstructionTitle"/></a></th>
				                <td><ers:message code="direction.index.CreatingInstructionDesc" /></td>
			                </tr>
			                <tr>
				                <th><a href="<%=.sec_url%>direction/search" id="search" name="search" ><ers:message code="direction.index.CardErrorSearchTitle"/></a></th>
				                <td><ers:message code="direction.index.CardErrorSearchDesc" /></td>
			                </tr>
		                </tbody>
	                </table>
                </div>
            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
