﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><ers:message code="common.contact_title"/> - <ers:message code="direction.list.Title" /></title>
	<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	
    <style type="text/css">
    .SearchResult table.SearchResult {
	    width: auto;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function(){
	    var editFlg = false;
	    $(".assigned span").hide();
	    $(".assigned_edit").click(function(){
		    if(editFlg == false){
			    $(".assigned span").show();
			    editFlg = true;
		    }
	    })
    });
    </script>
    <script>
        $(document).ready(function(){
            $('table.SearchResult>tbody>tr>td.Button input[type=submit] ').css('width','212px');
        });
    </script>
</head>
<body>
    
<div id="Whole">
	<table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
		<tr>
			<td id="HeadZone">
				<!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

		<tr valign="top">
			<td id="MiddleZone">
				<h2><ers:message code="direction.list.Title" /></h2>

                <p><ers:label code="enq_progress" />　：<ers:isEqual src=".Model.progress" value=""><ers:message code="direction.list.NoCondition" /></ers:isEqual>
                             <ers:isNotEqual src=".Model.progress" value="">
                                <ers:isEqual src=".Model.progress" value="0"><ers:message code="option_unassigned" /></ers:isEqual>                                
                                <ers:isEqual src=".Model.progress" value="1"><ers:message code="namecode.ENQPGR.Open" /></ers:isEqual>
                                <ers:isEqual src=".Model.progress" value="2"><ers:message code="namecode.ENQPGR.Close" /></ers:isEqual>
                            </ers:isNotEqual>
                <br><ers:label code="common_picharge" />：  <ers:isEqual src=".Model.user_id" value=""><ers:message code="direction.list.NoCondition" /></ers:isEqual>
                              <ers:isNotEqual src=".Model.user_id" value=""><%=.Model.ag_name%></ers:isNotEqual>
                <div class="SearchResult">
	                <div class="List">

                            <ers:isEqual src=".Model.carderrHasRecord" value="true">
		                    <div class="Paging">
                                <ers:partial file="../direction/pager.htm" partialModel=".Pager" />
		                    </div>
					        <form action="<%=.sec_url%>direction/list" name="list" id="list" method="post">
		                    <table class="SearchResult">
			                    <tr>
				                    <th><ers:message code="th_in_case_no" /></th>
				                    <th><ers:message code="th_in_cust_no" /></th>
				                    <th><ers:label code="ReceptionDate" /></th>
				                    <th><ers:message code="th_in_last_mod_date" /></th>
				                    <th><ers:label code="price_status" /></th>
				                    <th><ers:label code="enq_casename" /></th>
				                    <th><ers:label code="csv_PersonName" />&nbsp;<a href="#" class="submit assigned_edit" ><ers:message code="btn_change" /></a></th>
			                    </tr>
                                <ers:table variable="record" record_key="record_key" src=".Model.cardErrList" name="cardErrList">
                                    <tr>
                                        <td><%=record.case_no%></td>
                                        <td><%=record.mcode%></td>
                                        <td><%=record.intime%></td>
                                        <td><%=record.utime%></td>
                                        <td><ers:isEqual src="record.enq_progress_name" value=""><ers:message code="option_unassigned" /></ers:isEqual>
                                            <ers:isNotEqual src="record.enq_progress_name" value=""><ers:message src="record.enq_progress_name"/></ers:isNotEqual>
                                        </td>
                                        <td><%=record.enq_casename%></td>
                                        <ers:isEqual src="record.changable" value="false">
                                        <td>
                                        <ers:isNotEqual src="record.enq_progress" value="Close">
						                    <select id="<%=record_key%>esc_id" name="<%=record_key%>esc_id" class="w_100">
							                    <option value="" />
                                                <ers:foreach src=".Model.agentList" variable="agentItem">
							                        <option value="<%=agentItem.id%>"<ers:isEqual src="agentItem.id" variable="record.esc_id"> selected="selected"</ers:isEqual>><%=agentItem.ag_name%></option>
                                                </ers:foreach>
						                    </select>
                                        </ers:isNotEqual>
                                        </td>
                                        </ers:isEqual>
                                        <ers:isEqual src="record.changable" value="true">
                                        <td class="assigned"><%=record.esc_ag_name%>
                                            <input type="hidden" id="<%=record_key%>esc_id" name="<%=record_key%>esc_id" value="<%=record.esc_id%>"  />
                                            <ers:isNotEqual src="record.enq_progress" value="Close">
				                            <span>→&nbsp;
						                    <select id="<%=record_key%>modify_esc_id" name="<%=record_key%>modify_esc_id" class="w_100">
							                    <option value="" />
                                                <ers:foreach src=".Model.agentList" variable="agentItem">
							                        <option value="<%=agentItem.id%>"<ers:isEqual src="agentItem.id" variable="record.esc_id"> selected="selected"</ers:isEqual>><%=agentItem.ag_name%></option>
                                                </ers:foreach>
						                    </select>
                                            </span>
                                            </ers:isNotEqual>
                                        </td>
                                        </ers:isEqual>
                                    </tr>
                                </ers:table>
			                    <tr>
				                    <td colspan="10" class="Button">
					                    <input type="submit" value="<ers:message code='btn_register_person_in_charge'/>" name="register" class="form_btn" onclick="return confirm('<ers:message code='btn_reg_diag'/>');"><br /><br />
                                        <input type="hidden" name="progress" value="<%=.Model.progress%>" />
                                        <input type="hidden" name="reason" value="<%=.Model.reason%>" />
                                        <input type="hidden" name="user_id" value="<%=.Model.user_id%>" />
					                    <a href="<%=.sec_url%>direction/search" class="submit"><ers:label code="common_back" /></a>
				                    </td>
			                    </tr>
		                    </table>
                            </form>
                            </ers:isEqual>
	                </div>
                </div>
                <ers:dispInfo />
			</td>
		</tr>

		<tr>
			<td id="FootZone">
	
				 <ers:partial file="footer.htm" />

			</td>
		</tr>
	</table>
</div>    
</body>

</html>
