<div class="ERS_page_send" style="text-align:right; margin:0px; ">
    <b><%=.Model.recordCount%><ers:message code="inquiry_pagerCase_matterRelevant"/>&nbsp;1&nbsp;-&nbsp;<%=.Model.pagerPageCount %>&nbsp;<ers:label code="common_page"/></b>&nbsp&nbsp;
    <ers:isEqual src="partialModel.PagePrevFlg" value="true">
        <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_prev">
            <input type="image" src="<%=.sec_url%>images/previous.gif" value="<ers:message code='inquiry_pagerCase_forward'/>" class="change back" />
            <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
            <input type="hidden" name="inboundList" value="<%=.Model.inboundList%>" />
            <input type="hidden" name="ShowListAll" value="<%=.Model.ShowListAll%>" />
            <input type="hidden" name="ShowListNow" value="<%=.Model.ShowListNow%>" />

            <input type="hidden" name="type" value="<%=.Model.type%>" />
            <input type="hidden" name="progress" value="<%=.Model.progress%>" />
            <input type="hidden" name="situation" value="<%=.Model.situation%>" />
        </form>
    </ers:isEqual>

    <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
        <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                <input value="<%=navi.pagecnt%>" class="place" type="button">
                <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                <input type="hidden" name="inboundList" value="<%=.Model.inboundList%>" />
                <input type="hidden" name="ShowListAll" value="<%=.Model.ShowListAll%>" />
                <input type="hidden" name="ShowListNow" value="<%=.Model.ShowListNow%>" />

                <input type="hidden" name="type" value="<%=.Model.type%>" />
                <input type="hidden" name="progress" value="<%=.Model.progress%>" />
                <input type="hidden" name="situation" value="<%=.Model.situation%>" />
            </form>
        </ers:isEqual>
        <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
            <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                <input value="<%=navi.pagecnt%>" class="change" type="submit">
                <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                <input type="hidden" name="inboundList" value="<%=.Model.inboundList%>" />
                <input type="hidden" name="ShowListAll" value="<%=.Model.ShowListAll%>" />
                <input type="hidden" name="ShowListNow" value="<%=.Model.ShowListNow%>" />

                <input type="hidden" name="type" value="<%=.Model.type%>" />
                <input type="hidden" name="progress" value="<%=.Model.progress%>" />
                <input type="hidden" name="situation" value="<%=.Model.situation%>" />
            </form>
        </ers:isNotEqual>
    </ers:foreach>

    <ers:isEqual src="partialModel.PageNextFlg" value="true">
        <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_next">
            <input type="image" src="<%=.sec_url%>images/next.gif" value="<ers:message code='search.pager.next'/>" class="change next" /> 
            <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />  
            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
            <input type="hidden" name="inboundList" value="<%=.Model.inboundList%>" />
            <input type="hidden" name="ShowListAll" value="<%=.Model.ShowListAll%>" />
            <input type="hidden" name="ShowListNow" value="<%=.Model.ShowListNow%>" />

            <input type="hidden" name="type" value="<%=.Model.type%>" />
            <input type="hidden" name="progress" value="<%=.Model.progress%>" />
            <input type="hidden" name="situation" value="<%=.Model.situation%>" />
        </form>
    </ers:isEqual>
</div>
