<input type="hidden" name="ag_type" value="<%=.Model.ag_type%>" />
<input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
<input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
<input type="hidden" name="timefrom" value="<%=.Model.timefrom%>" />
<input type="hidden" name="timeto" value="<%=.Model.timeto%>" />
<input type="hidden" name="search" value="<%=.Model.search%>" />
<input type="hidden" name="progress" value="<%=.Model.progress%>" />
<input type="hidden" name="reason" value="<%=.Model.reason%>" />
<input type="hidden" name="user_id" value="<%=.Model.user_id%>" />
