﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
	<title><ers:message code="common.contact_title" /> - <ers:message code="direction.index.CardErrorSearchTitle" /></title>
	<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
	<table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
		<tr>
			<td id="HeadZone">
				<!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

        <tr valign="top">
	        <td id="MiddleZone">
		        <h2><ers:message code="direction.index.CardErrorSearchTitle" /></h2>
                <div class="Search">
					<form action="<%=.sec_url%>direction/list" name="search" id="search" method="post">
	                    <table class="Search">
		                    <tr>
			                    <th><ers:label code="enq_progress" /></th>
			                    <td>
                                    <select id="progress" name="progress" class="w_100">
										<option value=""></option>
						                <option selected="selected" value="0"><ers:message code="option_unassigned" /></option>
                                        <ers:foreach variable="open_item" src=".Model.pgrList">
					                        <option value="<%=open_item.value%>"<ers:isEqual src="open_item.value" variable=".Model.progress"> selected="selected"</ers:isEqual>><ers:message src="open_item.name"/></option>
                                        </ers:foreach>
			                        </select>
			                    </td>
		                    </tr>
		                    <tr>
			                    <th><ers:label code="common_picharge" /></th>
			                    <td>
                                    <select id="user_id" name="user_id" class="w_100">
					                    <option value=""></option>
                                        <ers:foreach variable="agent_item" src=".Model.agentList">
						                    <option value="<%=agent_item.value%>"<ers:isEqual src="agent_item.value" variable=".Model.user_id"> selected="selected"</ers:isEqual>><%=agent_item.ag_name%></option>
                                        </ers:foreach>
				                    </select>
			                    </td>
		                    </tr>
		                    <tr>
			                    <td colspan="2" class="Button">
				                    <input type="submit" name="search" value="<ers:label code='common_search'/>" class="SearchButton"/>
			                    </td>
		                    </tr>
	                    </table>
	                </form>
                </div>			
			</td>
        </tr>

        <tr>
	        <td id="FootZone">
	
		         <ers:partial file="footer.htm" />

	        </td>
        </tr>
	</table>
</div>
</body>
</html>
