<div class="typeC clearfix">
	<ul>
		<ers:isNotEqual src=".Model.img_file_name1" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name2" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name2 %>" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name3" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name3 %>" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name4" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name4 %>" /></li></ers:isNotEqual>
	</ul>
	<div class="box1">
		<ers:formatHtml src=".Model.body" />
	</div>
	<div class="box2">
		<ers:formatHtml src=".Model.add_body" />
	</div>
</div>
