<div class="typeD">
	<ers:isNotEqual src=".Model.img_file_name1" value=""><p><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" style="width:100%; height:auto;" /></p></ers:isNotEqual>
	<div class="box1">
		<ers:formatHtml src=".Model.body" />
	</div>
	<div class="box2">
		<ers:formatHtml src=".Model.add_body" />
	</div>
</div>
