<div class="typeE">
	<ul class="clearfix">
		<ers:isNotEqual src=".Model.img_file_name1" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" alt="" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name2" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name2 %>" alt="" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name3" value=""><li class="end"><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name3 %>" alt="" /></li></ers:isNotEqual>
	</ul>
	<div class="box1">
		<ers:formatHtml src=".Model.body" />
	</div>
	<ul class="clearfix">
		<ers:isNotEqual src=".Model.img_file_name4" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name4 %>" alt="" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name5" value=""><li><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name5 %>" alt="" /></li></ers:isNotEqual>
		<ers:isNotEqual src=".Model.img_file_name6" value=""><li class="end"><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name6 %>" alt="" /></li></ers:isNotEqual>
	</ul>
	<div class="box2">
		<ers:formatHtml src=".Model.add_body" />
	</div>
</div>
