<div class="typeB">
	<div class="clearfix">
		<ers:isNotEqual src=".Model.img_file_name1" value=""><p class="img01"><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>"  /></p></ers:isNotEqual>
		<div class="box1 m-wBreak"><ers:formatHtml src=".Model.body" /></div>
	</div>
	<div class="clearfix">
		<ers:isNotEqual src=".Model.img_file_name2" value=""><p class="img02"><img src="<%=.dynamic_url%>images/cms/news/<%=.Model.img_file_name2 %>" /></p></ers:isNotEqual>
		<div class="box2 m-wBreak"><ers:formatHtml src=".Model.add_body" /></div>
	</div>
</div>
