﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.move_history_list.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.move_history_list.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
	<div class="ERS_result_count">
		<p><ers:message code="common.ResultCount" value=".Model.recordCount"></p>
	</div>
	<table>
		<thead>
			<tr>

                <th width="100"><ers:label code='move_type' /></th>
				<th width="100"><ers:label code="scode" /></th>
				<th width="70"><ers:label code="maker_scode" /></th>
				<th width="80"><ers:label code="s_sname" /></th>
                <th width="100"><ers:label code="supplier_code" /></th>
                <th width="100"><ers:label code="supplier_name" /></th>
                <th width="100"><ers:message code="move_issue"></th>
                <th width="100"><ers:message code="move_warehousing"></th>
                <th width="100"><ers:message code="move_number"></th>
                <th width="100"><ers:message code="move_reason"></th>
                <th width="100"><ers:message code="move_p_date"></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="MoveData" src=".Model.listMoveHistory" roopcounter="search_result_cnt">
			<tr>     
            
                <td>                       
                    <ers:message src="MoveData.w_move_type">                   
                </td>
				<td><%=MoveData.scode %></td>
                <td><%=MoveData.maker_scode %></td>
				<td><%=MoveData.sname %></td>
                <td><%=MoveData.supplier_code %></td>
                <td><%=MoveData.supplier_name %></td>
                <td><ers:message src="MoveData.w_shelf_from"></td>
                <td><ers:message src="MoveData.w_shelf_to"/></td>
                <td><ers:formatNumber src="MoveData.amount" /></td>
                <td><%=MoveData.reason %></td>
                <td><%=MoveData.intime %></td>
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="download_csv_all" id="download_csv_all" method="post">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page" method="post">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_move_csv_all.asp" id="Button1" name="" value="<ers:label code='common_download_all_csv' />"/>
			<input type="button" class="form_btn" rel="download_csv_page$download_move_csv_page.asp" id="Button2" name="" value="<ers:label code='common_download_page_csv' />"/>
		</p>
	</div>
<!-- next end-->


<!-- back start-->
<div class="ERS_back">
    <form action="move_history_search.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
    </form>
</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
