﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="cms.order_search.Head"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="cms.order_search.Head"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="order_list.asp" method="post" name="order_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code="cms_order_date"></th>
				<td>
					<input type="text" id="" class="w_150 datepicker_end" name="s_intime_less_than" value="<ers:formatDate src='.Model.s_intime_less_than' value='yyyy/MM/dd HH:mm:ss'>" /><span style="padding-left:1em;"><ers:message code="cms.order_search.OrderUpto"></span> 
				</td>
			</tr>
			<tr>
				<th><ers:label code="supplier_code" /></th>
				<td>
					<input type="text" class="w_200" id="" name="s_supplier_code" value="<%=.Model.s_supplier_code %>" />
				</td>
			</tr>
			<tr> 
				<th><ers:label code="s_sname" /></th>
				<td>
					<input type="text" class="w_400" id="sname" name="s_sname"  value="<%=.Model.s_sname %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="product_code" /></th>
				<td>
					<input type="text" class="w_200" id="scode" name="s_scode" value="<%=.Model.s_scode %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="wh_order_type" /></th>
				<td>
                    <select name="s_wh_order_type" class="w_200" id="wh_order_type">
                        <option value=""></option>
                        <ers:foreach src=".Model.listWhOrderType" variable="option">
                            <option value="<%=option.value %>"<ers:isEqual src="option.value" variable=".Model.s_wh_order_type"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
                    </select>
				</td>
			</tr>
		</tbody></table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code='common_search'>" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
