﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.order_list_complete.CompleteTitle"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/order_complete.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.order_list_complete.CompleteTitle"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- box start -->
	<div class="ERS_box">
		<p><ers:message code="warehouse.order_list_complete.CompleteMessage"></p>
	</div>
<!-- box end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.order_list_complete.Print"></h2>
	</div>
<!-- title end -->

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
			<tr>
				<th class="w_100"><ers:label code="supplier_code" /></th>
				<th class=""><ers:label code="supplier_name" /></th>
				<th class="w_100"><ers:message code="order_PO"></th>
			</tr>
<ers:foreach src=".Model.listPastOrder" variable="record">
			<tr>
				<td><%=record.supplier_code %></td>
				<td><%=record.supplier_name %></td>
				<td>
					<form action="order_list_pdf.asp" method="post" target="_blank">
                        <input type="hidden" class="btn01" name="order_no" value="<%=record.order_no %>" />
                        <input type="submit" class="btn01" name="" value="<ers:message code="order_Output">" />
                    </form>
				</td>
			</tr>
</ers:foreach>
		</table>
	</div>
<!-- table end -->

<!-- back start-->
<form action="order_list.asp" method="post" name="order_form">
	<div class="ERS_back">
		<p><input type="submit" class="btn01" value="<< <ers:label code='common_back' />" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
