﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.index.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.admin_nor_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.admin_nor_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.admin_nor_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<style type="text/css" media="screen,print">
	.pdf_page_break { page-break-after: always; }
</style>
</head>
<body style="font-size:1.9em;">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- container start -->
	<div id="ERS_container">

    <div style="margin:20px;">
        <h1 style="width:100%;text-align:center"><ers:message code="warehouse.order_list_pdf.purchase_order"></h1>
    </div>

        <ers:foreach src=".Model.listOrder" variable="record">
            <ers:IsEqual src="record.IsDispHeader" value="true">
                <!-- table start -->
                <div style="text-align:right;">
                    <ers:message code="warehouse_order_date" /><ers:formatDate src="record.intime" value="yyyy年MM月dd日" />
                </div>

                <div style="float:left;margin:20px;">
                    <%=record.supplier_name %><ers:message code="warehouse.order_list_pdf.person">
                        <br />
                        <ers:label code="zip" /><%=record.zip %><br />
                        <%=record.w_pref %><br />
                        <%=record.address %><br />
                        <%=record.tel %><br />
                        <%=record.fax %><br />
                </div>

                <div style="float:right;margin:20px;">
                    <ers:multiLine src="record.outsourcer" />
                </div>

                <br class="release_b" />



                <div style="margin:20px;">
                    <ers:message code="warehouse.order_list_pdf.description">
                </div>

                <div style="margin:20px;">
                    <ers:label code="wh_order_t.order_no" />：<%=record.order_no %>
                </div>
           
            <div class="ERS_table">
                <table class="side">
                    
                        <tr>
                            <th class="w_100"><ers:label code="rakuten.product_number" /></th>
                            <th class="w_100"><ers:label code="rakuten.product_name" /></th>
                            <th class="w_60"><ers:message code="ss_unit_price" /></th>
                            <th class="w_60"><ers:label code="wh_order_t.amount" /></th>
                            <th class="w_60"><ers:label code="aggregate_total" /></th>
                        </tr>
                    </ers:IsEqual>
                    <tr>
                        <td><%=record.scode %></td>
                        <td><%=record.sname %></td>
                        <td><ers:formatCurrency src="record.cost_price" /></td>
                        <td><ers:formatNumber src="record.amount" /></td>
                        <td><ers:formatCurrency src="record.total" /></td>
                    </tr>
                    <ers:IsEqual src="record.IsDispFooter" value="true">
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2"><ers:label code="total" /></td>
                            <td><ers:formatCurrency src="record.header_total" /></td>
                        </tr>
                    
                </table>
            </div>
            <!-- table end -->
            
                <div>
                    備考欄
                </div>
                <div>
                    <ers:multiLine src="record.remarks" />
                </div>
            </ers:IsEqual>
            <ers:IsEqual src="record.IsNewPage" value="true">
                <div class="pdf_page_break" />
            </ers:IsEqual>
        </ers:foreach>

<br class="release_b" />

	</div>
<!-- container end -->

</div>
<!-- wrapper end -->


</body>
</html>
