﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="cms.order_list.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".stock_check").click(function () {
            $(".stock").prop("checked", !$(".stock").prop("checked"));           
        })
        $(".order_check").click(function () {
            $(".order").prop("checked", !($(".order").prop("checked")))
        })
        $(".nyuko_date").click(function () {
            var setDate = $(".nyuko", $(this).closest("th")).val()
            $(".nyuko").val(setDate);
        })
    })
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

  <!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
  <!-- g_navi end --> 

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="cms.order_list.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="order_list_confirm.asp" method="post" name="order_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
			<tr>
				<th class="w_50"><ers:label code="supplier_code" /></th>
				<th class="w_55"><ers:label code="supplier_name" /></th>
				<th class="w_65"><ers:label code="product_code" /></th>
                <th class="w_50"><ers:label code="maker_scode" /></th>
				<th class="w_80"><ers:label code="s_sname" /></th>
				<th class="w_60"><ers:label code="cost_price" /></th>
				<th class="w_30"><ers:label code="wh_order_type" /></th>
				<th class="w_55"><ers:message code="order_web_inventory"></th>
				<th class="w_55"><ers:label code="shelf001"><br />(<ers:message code="warehouse.ordered_order">)</th>
				<th class="w_55"><ers:message code="order_customer_orders"></th>
				<th class="w_60"><ers:message code="order_purchase_threshold"></th>
				<th class="w_50"><ers:message code="order_number_order"></th>
				<th class="w_80">
                    <ers:label code="schedule_date" /><br />
                    <input type="text" class="w_98pc datepicker_date nyuko" name="" value="" /><input type="button" class="nyuko_date" value="<ers:message code="order_bulk">" >
                </th>
				<th class="w_55">
                    <ers:message code="order_web_update"><br />
                    <input type="button" class="stock_check" value="<ers:message code="order_bulk">" >
                </th>
				<th class="w_30">
                    <ers:label code="check_order" /><br />
                    <input type="button" class="order_check" value="<ers:message code="order_bulk">" >
                </th>
			</tr>
<ers:table src=".Model.orderRegistRecords" variable="record" name="orderRegistRecords" record_key="record_key">
			<tr>
				<td><%=record.supplier_code %></td>
				<td><%=record.supplier_name %></td>
				<td><%=record.scode %></td>
				<td><%=record.maker_scode %></td>
				<td><%=record.sname %></td>
				<td><ers:formatCurrency src="record.cost_price" /></td>
				<td><ers:message src="record.w_wh_order_type"/></td>
				<td><ers:formatNumber src="record.stock" /></td>
				<td><ers:formatNumber src="record.wh_stock" /><br />(<%=record.wh_ordered_amount %>)</td>
				<td><ers:formatNumber src="record.base_amount" /></td>
				<td><ers:formatNumber src="record.stock_alert_amount" /></td>
				<td><input type="text" class="w_98pc" name="<%=record_key %>amount" value="<%=record.amount %>" />
                <ers:isNotEqual src="record.order_amount" value="0"><br />(<ers:formatNumber src="record.order_amount" />)</ers:isNotEqual></td>
				<td><input type="text" class="w_98pc datepicker_date nyuko" name="<%=record_key %>schedule_date" value="<ers:formatDate src="record.schedule_date" />" /></td>
				<td><input type="checkbox" class="stock" name="<%=record_key %>up_stock" value="1" <ers:IsEqual src="record.up_stock" value="Up"> checked="checked"</ers:IsEqual> /></td>
				<td><input type="checkbox" class="order" name="<%=record_key %>check_order" value="1" <ers:IsEqual src="record.check_order" value="On"> checked="checked"</ers:IsEqual> /></td>
			</tr>
</ers:table>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:message code='order_orderbtn'>" id="" name="go_confirm"></p>
	</div>
<!-- next end-->

</form>
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- back start-->
<form action="order_search.asp" method="post" name="order_form" group_name="search">
	<div class="ERS_back">
		<p><input type="submit" class="btn01" value="<<<ers:label code="common_back" />" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
