﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="cms.order_list.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="cms.order_list.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="order_list_complete.asp" method="post" name="order_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
			<tr>
				<th class="w_50"><ers:label code="supplier_code" /></th>
				<th class="w_70"><ers:label code="supplier_name" /></th>
				<th class="w_50"><ers:label code="product_code" /></th>
                <th class="w_50"><ers:label code="maker_scode" /></th>
				<th class="w_100"><ers:label code="s_sname" /></th>
				<th class="w_40"><ers:label code="cost_price" /></th>
				<th class="w_40"><ers:label code="wh_order_type" /></th>
				<th class="w_35"><ers:message code="order_web_inventory"></th>
				<th class="w_38"><ers:label code="shelf001"></th>
				<th class="w_38"><ers:message code="order_customer_orders"></th>
				<th class="w_38"><ers:message code="order_req_orders"></th>
				<th class="w_38"><ers:message code="order_purchase_threshold"></th>
				<th class="w_40"><ers:message code="order_number_order"></th>
				<th class="w_41"><ers:label code="schedule_date" /></th>
				<th class="w_36"><ers:message code="order_web_update"></th>
			</tr>
<ers:foreach src=".Model.orderRegistRecords" variable="record">
<ers:isEqual src="record.check_order" value="ON">
			<tr>
				<td><%=record.supplier_code %></td>
				<td><%=record.supplier_name %></td>
				<td><%=record.scode %></td>
                <td><%=record.maker_scode %></td>
				<td><%=record.sname %></td>
				<td><ers:formatCurrency src="record.cost_price" /></td>
				<td><%=record.w_wh_order_type %></td>
				<td><ers:formatNumber src="record.stock" /></td>
				<td><ers:formatNumber src="record.wh_stock" /></td>
				<td><ers:formatNumber src="record.base_amount" /></td>
				<td><ers:formatNumber src="record.order_amount" /></td>
				<td><ers:formatNumber src="record.stock_alert_amount" /></td>
				<td><%=record.amount %></td>
				<td><ers:formatDate src="record.schedule_date" /></td>
				<td><%=record.w_up_stock %></td>
			</tr>
</ers:isEqual>
</ers:foreach>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:message code='order_orderbtn'>" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
<form action="order_list.asp" method="post" name="order_form">
	<div class="ERS_back">
		<p><input type="submit" class="btn01" value="<< <ers:label code="common_back" />" />
            <input type="hidden" name="eck" value="BackPage" />
        </p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
