﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.past_order_list.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

  <!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
  <!-- g_navi end --> 

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.past_order_list.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
	<div class="ERS_result_count">
		<p><ers:message code="warehouse.past_order_list.ResultCount" value=".Model.recordCount" /></p>
	</div>
	<table>
		<thead>
			<tr>
				<th width="40"></th>
				<th width="150"><ers:label code="wh_order_t.order_no"/></th>
				<th width="100"><ers:message code="warehouse_order_date"/></th>
				<th width="100"><ers:label code="supplier_code" /></th>
				<th width="300"><ers:label code="supplier_name"/></th>
				<th width="100"><ers:label code="wh_order_status"/></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="PastOrderData" src=".Model.listPastOrder" roopcounter="search_result_cnt">
			<tr>
				<td>
                    <form method="post" action="past_order_detail.asp">
                            <input type="hidden" name="order_no" value="<%=PastOrderData.order_no %>"/> 
		                    <input type="submit"  class="btn01" value="<ers:label code='common_details' />" />
                    </form>
                </td>
				<td><%=PastOrderData.order_no %></td>
				<td><%=PastOrderData.intime %></td>
				<td><%=PastOrderData.supplier_code %></td>
                <td><%=PastOrderData.supplier_name %></td>
                <td><ers:message src="PastOrderData.w_wh_order_status"/></td>
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" value="<ers:message code="wh_past_order_list_download_page_csv" />" name="" id="" rel="download_order_page$past_order_pdf_page.asp" class="form_btn">
			<input type="button" value="<ers:message code="wh_past_order_list_download_all_csv" />" name="" id="" rel="download_order_all$past_order_pdf_all.asp" class="form_btn"><br />
			<input type="button" value="<ers:label code="common_download_page_csv" />" name="" id="" rel="download_csv_page$past_order_download_page.asp" class="form_btn">
			<input type="button" value="<ers:label code="common_download_all_csv" />" name="" id="" rel="download_csv_all$past_order_download_all.asp" class="form_btn">
		</p>
	</div>
<!-- next end-->
<!--発注書ダウンロード用form-->
<form  action="" name="download_order_page" id="download_order_page" target="_blank"><input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" /></form>
<form  action="" name="download_order_all" id="download_order_all" target="_blank"></form>
<!--発注書ダウンロード用form-->

<!--当ページ伝票データダウンロード用form-->
<form  action="" name="download_csv_page" id="download_csv_page"><input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" /></form>
<form  action="" name="download_csv_all" id="download_csv_all"></form>
<!--当ページ伝票データダウンロード用form-->

<!-- back start-->
<div class="ERS_back">
    <form action="past_order_search.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
    </form>
</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
