﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='warehouse.past_order_detail.Title'/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    $(function () {
        $('.wh_order_status').change(function () {
            if ($(this).val() == 3) {
                $("#dialog001 p").html('<ers:isEqual src=".Model.IsUnderStock" value="true"><span style="color: red;"><ers:message code="warehouse.past_order_detail.quespart1"/></span><br /></ers:isEqual><ers:message code="warehouse.past_order_detail.quespart2"/>');
            }
            else {
                $("#dialog001 p").html("<ers:message code='warehouse.past_order_detail.ques2'/>");
            }
        });
    });
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

  <!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
  <!-- g_navi end --> 

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.past_order_detail.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="past_order_modify.asp" method="post" name="past_order_modify" id="past_order_modify">
<!--Proceed to Order Cancellaion-->

<input type="hidden" name="is_under_stock" value="<%=.Model.IsUnderStock %>" />

<!-- table start -->
	<div class="ERS_table">
    <table class="length">
			<tbody>
            <tr>
				<th><ers:message code="warehouse_order_date"/></th>
				<td><%=.Model.intime %></td>
			</tr>
            <tr>
				<th><ers:label code="wh_order_t.order_no"/></th>
				<td><%=.Model.order_no %></td>
			</tr>
			<tr>
				<th><ers:label code="supplier_code" /></th>
				<td><%=.Model.supplier_code %></td>
			</tr>
			<tr>
				<th><ers:label code="supplier_name"/></th>
				<td><%=.Model.supplier_name %></td>
			</tr>
            <tr>
                <th><ers:label code="wh_order_status"/></th>
                <td>
<ers:isEqual src=".Model.IsDenyModify" value="true">
                    <%=.Model.w_wh_order_status %>
                    <input type="hidden" name="wh_order_status" value="<%=.Model.wh_order_status %>" />
</ers:isEqual>
<ers:isEqual src=".Model.IsDenyModify" value="false">
                    <ers:foreach variable="option" src=".Model.wh_order_statusList" roopcounter="j">
                       	<input class="wh_order_status" type="radio" value="<%=option.value%>" name="wh_order_status" <ers:isEqual src="option.value" variable=".Model.wh_order_status"> checked="checked"</ers:isEqual>/>&nbsp;<%=option.name%>&nbsp;
                    </ers:foreach>                    
</ers:isEqual>
                </td>
            </tr>
			<tr>
				<th><ers:label code="remarks"></th>
				<td><textarea name="remarks" cols="85" rows="5"><%=.Model.remarks %></textarea></td>
			</tr>
		</tbody>
     </table>
	 <table class="side">
			<tr>
			    <th class="w_50"><ers:label code="scode"/></th>
			    <th class="w_50"><ers:label code="item_amazon_maker_name" /><br><ers:label code="scode" /></th>
			    <th class="w_120"><ers:label code="s_sname" /></th>
			    <th class="w_40"><ers:label code="cost_price" /></th>
				<th class="w_40"><ers:label code="wh_order_type" /></th>
			    <th class="w_35"><ers:message code="order_number_order"/></th>
			    <th class="w_38"><ers:message code="warehouse_warehousingNum"/></th>
			    <th class="w_48"><ers:message code="warehouse_defective_receipt"></th>
			    <th class="w_38"><ers:message code="warehouse_pending_receipt"/></th>
			    <th class="w_38"><ers:label code="w_schedule_date"/></th>
			    <th class="w_38"><ers:label code="first_intime"/></th>
			    <th class="w_38"><ers:label code="last_intime"/></th>
			    <th class="w_70"><ers:message code="Web_inventory"/><br ><ers:label code="update"/></th>
			</tr>
    <ers:foreach src=".Model.listPastOrder" variable="record">
			    <tr>
				    <td><%=record.scode %></td>
				    <td><%=record.maker_scode %></td>
				    <td><%=record.sname %></td>
				    <td><ers:formatCurrency src="record.cost_price" /></td>
				    <td><%=record.w_wh_order_type %></td>
				    <td><ers:formatNumber src="record.amount" /></td>
				    <td><ers:formatNumber src="record.shelf001" /></td>
				    <td><ers:formatNumber src="record.shelf002" /></td>
				    <td><ers:formatNumber src="record.shelf003" /></td>
				    <td><ers:formatDate src="record.schedule_date" /></td>
				    <td><ers:formatDate src="record.first_intime" /></td>
				    <td><ers:formatDate src="record.last_intime" /></td>
				    <td><%=record.w_up_stock %></td>
			    </tr>
    </ers:foreach>
    </table>    

	</div>
<!-- table end -->


</form>

<form action="order_list_pdf.asp" method="post" name="pdf_page" id="pdf_page">
<!--Proceed to PDF-->
</form>


<!-- next start-->
<div class="ERS_next">
    <p class="center">
            <a href="past_order_modify" class="disp_dialog001">
			     <input type="button" class="primary" rel="past_order_modify$past_order_modify.asp" value="<ers:label code='common_update'/>" />
            </a>
            <input type="button" class="form_btn" rel="pdf_page$order_list_pdf.asp"  value="<ers:message code='order_Output'/>" />
    </p>
</div>
<!-- next end-->

<div id="dialog001" title="<ers:message code="warehouse.past_order_detail.Dialog"/>">
	<p><ers:message code="warehouse.pastOrderDetail_change_confirm"/></p>
</div>


<!-- back start-->
<form action="past_order_list.asp" method="post" name="past_order_form">
	<div class="ERS_back">
		<p><input type="submit" class="btn01" value="<< <ers:label code='common_back'>" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
