﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.stock_list.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <style type="text/css">
        .style2
        {
            width: 178px;
        }
        .style3
        {
            width: 116px;
        }
        .style4
        {
            width: 179px;
        }
    </style>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.stock_list.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
	<div class="ERS_result_count">
		<p><ers:message code="common.ResultCount" value=".Model.recordCount" /></p>
	</div>
	<table>
		<thead>
			<tr>

				<th width="100"><ers:label code="scode"/></th>
				<th width="150"><ers:label code="s_sname"/></th>
				<th width="100"><ers:message code="warehouse_stock_list_sellingPrice"/></th>
				<th width="80"><ers:message code="warehouse_stock_list_PurchasePrice"/></th>
				<th width="100"><ers:message code="warehouse_stock_list_GoodStock"/></th>
                <th width="100"><ers:message code="warehouse_stock_list_DefectiveStock"/></th>
                <th width="100"><ers:message code="warehouse_stock_list_PendingStock"/></th>
                <th width="100"><ers:message code="warehouse_warehousingNum"/></th>
                <th width="100"><ers:message code="Web_inventory"/></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="iList" src=".Model.list" roopcounter="search_result_cnt">
			<tr>
                  
				<td><%=iList.scode %></td>
				<td><%=iList.sname %></td>
                <td><ers:formatCurrency src="iList.price" /></td>
			    <td>
			        <ers:formatCurrency src="iList.cost_price"/>
			    </td>
				<td><ers:formatNumber src="iList.shelf001" /></td>
                <td><ers:formatNumber src="iList.shelf002" /></td>     
                <td><ers:formatNumber src="iList.shelf003" /></td>     
                <td><ers:formatNumber src="iList.amount" /></td>     
                <td><ers:formatNumber src="iList.stock" /></td>     
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="download_csv_all" id="download_csv_all" method="post">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page" method="post">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
            <input type="button" class="form_btn" rel="download_csv_all$download_stock_csv_all.asp" id="Button1" name="" value="<ers:label code='common_download_all_csv'/>"/>			
			<input type="button" class="form_btn" rel="download_csv_page$download_stock_csv_page.asp" id="Button2" name="" value="<ers:label code='common_download_page_csv'/>"/>
		</p>
	</div>
<!-- next end-->


<!-- back start-->
<div class="ERS_back">
    <form action="stock_search.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
    </form>
</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
