﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.storage_csv_upload.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.storage_csv_upload.Title" /></h2>
	</div>
<!-- title end -->

<form action="storage_csv_upload_confirm.asp" method="post" name="csv_form" enctype="multipart/form-data">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<caption><ers:message code="common.BulkAdd" /></caption>
				<tr>
					<th><ers:label code="csv_file" /></th>
					<td>
						<input type="checkbox" checked="checked" name="chk_find" id="chk_find"/><label for="chk_find"><ers:message code="promotion.coupon_csv.Direction"></label><br>
						
                        <input type="file" id="csv_file" name="csv_file"/>
					</td>
				</tr>
		</table>
	</div>
<!-- table end-->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="csv_form" class="disp_dialog001"><input type="button" class="btn01" value="<ers:label code='common_send'/>"/></a>
		</p>
		<div id="dialog001" title="<ers:message code='warehouse.storage_csv_upload.Dialog' />">
			<p><ers:message code="common.UploadFile" /></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
