﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.supplier_list.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.supplier_list.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
	<div class="ERS_result_count">
		<p><ers:message code="common.ResultCount" value=".Model.recordCount"/></p>
	</div>
	<table>
		<thead>
			<tr>
				<th width="80"><ers:message code="warehouse_supplier_list_VendorDetailsBtn" /></th>
				<th width="70"><ers:label code="supplier_code"/></th>
				<th width="150"><ers:label code="supplier_name"/></th>
				<th width="260"><ers:label code="wh_supplier_t.address" /></th>
				<th width="80"><ers:label code="tel" /></th>
				<th width="100"><ers:label code="email" /></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="SupplierData" src=".Model.list" roopcounter="search_result_cnt">
			<tr>
				<td>
                    <form method="post" action="supplier_modify.asp">
                            <input type="hidden" name="id" value="<%=SupplierData.id %>"/>
		                    <input type="submit"  class="btn01" value="<ers:message code='warehouse_supplier_list_VendorDetailsBtn'/>" />
                    </form>
                </td>                    
				<td><%=SupplierData.supplier_code %></td>
				<td><%=SupplierData.supplier_name %></td>
                <td><%=SupplierData.zip %>&nbsp;<%=SupplierData.w_pref %>&nbsp;<%=SupplierData.address %></td>
				<td><%=SupplierData.tel %></td>
				<td><%=SupplierData.email %></td>
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->


<!-- back start-->
<div class="ERS_back">
    <form action="supplier_search.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
    </form>
</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
