﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse.supplier_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

  <!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
  <!-- g_navi end --> 

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse.supplier_search.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="supplier_list.asp" method="post" name="supplier_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
				<tbody>
                <tr>
					<th><ers:label code="supplier_code" /></th>
					<td><input type="text" value="<%=.Model.s_supplier_code %>" name="s_supplier_code"></td>
				</tr>
				<tr>
					<th><ers:label code="supplier_name"/></th>
					<td>
						<input type="text" value="<%=.Model.s_supplier_name %>" class="w_500" name="s_supplier_name">
					</td>
				</tr>
				<tr>
					<th><ers:label code="zip" /></th>
					<td>
						<input type="text" value="<%=.Model.s_zip %>" class="w_200" name="s_zip">
					</td>
				</tr>
				<tr>
					<th><ers:label code="wh_supplier_t.pref" /></th>
					<td>
					    <select  id="pref" name="s_pref">
                            <option value=""></option>
                            <ers:foreach variable="option" src=".Model.prefList">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
                        </select>
					</td>
				</tr>
				<tr>
					<th><ers:label code="wh_supplier_t.address" /></th>
					<td>
						<input class="w_500" type="text" value="<%=.Model.s_address %>" name="s_address">
					</td>
				</tr>
				<tr>
					<th><ers:label code="tel" /></th>
					<td>
						<input type="text" value="<%=.Model.s_tel %>" name="s_tel">
					</td>
				</tr>
				<tr>
					<th><ers:label code="fax" /></th>
					<td>
						<input type="text" value="<%=.Model.s_fax %>" name="s_fax">
					</td>
				</tr>
				<tr>
					<th><ers:label code="email" /></th>
					<td>
						<input type="text" class="w_200" value="<%=.Model.s_email %>" name="s_email">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <p class="center"><input type="submit" value="<ers:label code='common_search'/>" id="" name=""></p>
	</div>
<!-- next end-->

</form>


<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
