﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="warehouse_supplier_list_VendorDetailsBtn" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/supplier.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

  <!-- g_navi start -->
<ers:partial file="g_navi/warehouse.htm" />
  <!-- g_navi end --> 

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="warehouse_supplier_list_VendorDetailsBtn" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="supplier_modify_complete.asp" method="post" name="supplier_form" id="supplier_form">
<!-- table start -->
	<div class="ERS_table">
		<table class="length">
				<tbody>
                <tr>
					<th><ers:label code="supplier_code" /></th>
					<td><input type="text" value="<%=.Model.supplier_code %>" name="supplier_code"></td>
				</tr>
				<tr>
					<th><ers:label code="supplier_name"/></th>
					<td>
						<input type="text" value="<%=.Model.supplier_name %>" class="w_500" name="supplier_name">
					</td>
				</tr>
				<tr>
					<th><ers:label code="zip" /></th>
					<td>
						<input type="text" value="<%=.Model.zip %>" class="w_200" name="zip" id="zip" /> 
                        <input type="submit" class="btn01" name="zip_flg1" value="<ers:message code='warehouse_supplier_regist.ZipSearch'>" id="zip_flg1"/>
                        <p id="zip_search_error" class="err" style="display:none"></p>    
                    </td>
				</tr>
				<tr>
					<th><ers:label code="wh_supplier_t.pref" /></th>
					<td>
					    <select  id="pref" name="pref" id="pref">
                            <option value=""></option>
                            <ers:foreach variable="option" src=".Model.prefList">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
                        </select>
					</td>
				</tr>
				<tr>
					<th><ers:label code="wh_supplier_t.address" /></th>
					<td>
						<input class="w_500" type="text" value="<%=.Model.address %>" name="address" id="address">
					</td>
				</tr>
				<tr>
					<th><ers:label code="tel" /></th>
					<td>
						<input type="text" value="<%=.Model.tel %>" name="tel">
					</td>
				</tr>
				<tr>
					<th><ers:label code="fax" /></th>
					<td>
						<input type="text" value="<%=.Model.fax %>" name="fax">
					</td>
				</tr>
				<tr>
					<th><ers:label code="email" /></th>
					<td>
						<input type="text" class="w_200" value="<%=.Model.email %>" name="email">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <p class="center">
            <a href="supplier_form" class="disp_dialog001">
			<input type="button" class="primary" value="<ers:label code='common_change' />" />
            </a>
		</p>
		<div id="dialog001" title="<ers:message code='warehouse.supplier_regist.Dialog'/>">
			<p><ers:message code="common.ChangeConfirm"/></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- back start-->
	<div class="ERS_back">
    <form action="supplier_list.asp" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>

    </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
