﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="pageTitle.ItemList" /> | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/list.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<script src="<%=.nor_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
	<![endif]-->

    <!-- suggest start -->
	<script type="text/javascript">

		$(function(){
			var minWidth = 460;
			if (minWidth <= $(this).width()) {
				  $('.js-ERS_recommend_list .figure').tile(4);
				  $('.js-ERS_recommend_list .title').tile(4);
				  $('.js-ERS_recommend_list div').tile(4);
			  $(window).load(function() {
			      $('.js-ERS_recommend_list .figure').tile(4);
			      $('.js-ERS_recommend_list .title').tile(4);
			      $('.js-ERS_recommend_list div').tile(4);
			  });
				}
			$(window).resize(function(){
				if (minWidth <= $(this).width()) {
				    $('.js-ERS_recommend_list .figure').tile(4);
				    $('.js-ERS_recommend_list .title').tile(4);
				    $('.js-ERS_recommend_list div').tile(4);
				}
				else {
				    $('.js-ERS_recommend_list .figure').removeAttr('style');
				    $('.js-ERS_recommend_list .title').removeAttr('style');
				    $('.js-ERS_recommend_list div').removeAttr('style');
				}
			});
		});

        $(function () {
            new Suggest.Local(
              $(".s_keyword")[0],
              $(".js-suggest")[0],
                
              [],
              {
                  highlight: true,
                  hookBeforeSearch: function (text) {
                      var self = this;
                      $.post("<%=.nor_url%>top/api/asp/get_keywords_suggest.asp",
                    { keyword: text },
                    function (data, status) {
                        if (status == 'success' && data) {
                            self.clearSuggestArea();
                            self.candidateList = eval(data);
                            var resultList = self._search(text);
                            if (resultList.length != 0) {
                                self.createSuggestArea(resultList);
                            }
                        }
                    }
                 );
                  }
              }
           );
        });
    </script>
    <!-- suggest end -->
	<script>
        $(document).ready(function(){
            $(".js-suggest").css("left", "5%");
        });
    </script>
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="list_itemlist" /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError />

	<div class="m-search_box clearfix">
		<form method="post" action="list.asp" name="form1" group_name="on_list">
			<div class="m-keywordBox">
				<h3>
	                <span><input type="text" class="s_keyword" name="s_keyword" value="<%=.Model.s_keyword%>" autocomplete="off" placeholder="<ers:message code='search.list.MsgInputProdNameNum' />" /></span><span><input type="image" class="__search_btn search_submit-s2" name="search_submit-s" id="" src="<%=.nor_url%>images/btn_search.gif" value="<ers:label code='common_srch' />"></span>
	            </h3>
	            <div class="js-suggest m-suggest" style="display:none;"></div>
			</div>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><label for="s_price1"><ers:message code="list_price" /></label></dt>
					<dd>
						<input class="s_price1" class="w_100" name="s_price1" type="text" value="<%=.Model.s_price1%>" />&nbsp;
						&nbsp;以上&nbsp;
						<input name="s_price2" class="s_price2" class="w_100" type="text" value="<%=.Model.s_price2%>" />&nbsp;
                        以下
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="sort"><ers:label code="sort" /></label></dt>
					<dd>
						<select class="sort" name="sort" class="w_200">
						<option value=""></option>
						<option value="1"<ers:IsEqual src=".Model.sort" value="1"> selected="selected"</ers:IsEqual>><ers:message code="list_cheap_sp" /></option>
						<option value="2"<ers:IsEqual src=".Model.sort" value="2"> selected="selected"</ers:IsEqual>><ers:message code="list_new_order_rel_date" /></option>
						</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="s_outstock"><ers:label code="s_outstock" /></label></dt>
					<dd>
						<input type="checkbox" id="s_outstock" name="s_outstock" class="w_200"<ers:isEqual src=".Model.s_outstock" value="true"> checked="checked"</ers:isEqual> />
					</dd>
				</dl>
				<p class="center iconSearch"><input class="m-btn m-list_btn m-black_btn" type="submit" value="<ers:label code='common_search' />" name="search_item"></p>
			</div>
		</form>

	</div>

<ers:isNotEqual src=".Model.recordCount" value="0">
<!-- title start -->
			<h2><ers:message code="pageTitle.ItemList" /></h2>
<!-- title end -->
</ers:isNotEqual>

<ers:dispInfo />

<!-- result_item start -->
			<div class="m-ERS_recommend clearfix">
<!-- result_item start -->
<ers:foreach variable="item" src=".Model.merchandiseList" roopcounter="item_cnt">


<!-- result_item start -->

			<div class="js-ERS_recommend_list m-ERS_recommend_list __productList">
				<h3 class="figure"><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>&<ers:outputQuery />&from_item_list=1" class="image_2">
                <img src="<%=.nor_url%>images/simg/<%=item.scode%>/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" />
                </a></h3>
				<h3 class="title m-wBreak" ><a class="__l_gname" href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>&<ers:outputQuery />&from_item_list=1"><%=item.gname%></a></h3>
				<div>
				<table>
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th><ers:label code="sale_price" /></th>
						<td><strike><ers:formatCurrency src="item.default_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></strike>→<strong class="m-ERS_IVP_color"><ers:formatCurrency src="item.price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th><ers:label code="non_member_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="non_member_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="member_price" />
        </ers:isNotEqual>
                        </th>
						<td class="__l_nm_normal_price"><ers:formatCurrency src="item.price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th><ers:label code="regular_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="regular_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="regular_member_price" />
        </ers:isNotEqual>
                        </th>
						<td class="__l_nm_reg_price"><ers:formatCurrency src="item.regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr>
</ers:isEqual>
				</table>
				<p class="m-wBreak"><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>&<ers:outputQuery />&from_item_list=1" class="m-btn m-list_btn m-detail_btn __prod_details_btn" ><ers:label code="common_prod_details" /></a></h4>
			</div>

<!-- result_item end -->

</ers:foreach>
		</div>
<!-- result_list end -->

<!-- page_send start -->
<ers:partial file="s_list_pager.htm" partialModel=".Pager" />

<!-- page_send end -->

<!-- daily ranking start -->
<ers:partial file="daily_ranking.htm" />
<!-- daily ranking end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/list.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
