﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="list_product_search" /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/search.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<script src="<%=.nor_url%>js/search.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
	    var cate_relation_level = 5;
	    //option部分用宣言
	    var form_array_cate = new Array(5);
	    form_array_cate[1] = new Array();
	    form_array_cate[2] = new Array();
	    form_array_cate[3] = new Array();
	    form_array_cate[4] = new Array();
	    form_array_cate[5] = new Array();

	<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
	<ers:isEqual src="cate_item.cate_t_active" value="1">
	<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
    <ers:isEqual src="option.active" value="1">
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>] = new Array();
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['parent_id'] = "<%=option.parent_id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['id'] = "<%=option.id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['value'] = "<%=option.cate_name%>";
    </ers:isEqual>
	</ers:foreach>
	</ers:isEqual>
	</ers:foreach>

	    var form_selected = new Array(5);
	    form_selected[1] = ""
	    form_selected[2] = ""
	    form_selected[3] = ""
	    form_selected[4] = ""
	    form_selected[5] = ""

        $(function () {
            new Suggest.Local(
              $(".s_keyword")[0],
              $(".js-suggest")[0],
              [],
              {
                  highlight: true,
                  hookBeforeSearch: function (text) {
                      var self = this;
                      $.post("<%=.nor_url%>top/api/asp/get_keywords_suggest.asp",
                    { keyword: text },
                    function (data, status) {
                        if (status == 'success' && data) {
                            self.clearSuggestArea();
                            self.candidateList = eval(data);
                            var resultList = self._search(text);
                            if (resultList.length != 0) {
                                self.createSuggestArea(resultList);
                            }
                        }
                    }
                 );
                  }
              }
           );
        });
  	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="list_product_search" /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code="search.search.TitleProdSearch" /></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
		<form method="post" action="list.asp" name="form1">
		<article class="m-article">
			<h3><ers:message code="search.search.MsgProdSearch" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="errorchange"><label for="s_scode"><ers:message code="product_number_alphanum" /></label></dt>
					<dd><span class="dispError change"><ers:dispError src="s_scode" /></span>
					<input type="text" class="s_scode" name="s_scode" value="<%=.Model.s_scode%>" /></dd>
				</dl>
				<dl class="clearfix">
					<dt class="errorchange"><label for="s_sname"><ers:label code="sname" /></label></dt>
					<dd><span class="dispError change"><ers:dispError src="s_sname" /></span>
					<input type="text" class="s_sname" name="s_sname" value="<%=.Model.s_sname%>" /></dd>
				</dl>
				<dl class="clearfix">
					<dt class="errorchange"><label for="s_keyword"><ers:message code="search_keyword" /></label></dt>
					<dd><span class="dispError change"><ers:dispError src="s_keyword" /></span>
                        <div style="position:relative;">
                            <input type="text" class="s_keyword" name="s_keyword" value="<%=.Model.s_keyword%>" autocomplete="off" />
                            <div class="js-suggest m-suggest" style="display:none;"></div>
                        </div>
                    </dd>
				</dl>
				<!-- cate -->
				<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
					<ers:isEqual src="cate_item.cate_t_active" value="1">
						<dl class="clearfix">
							<dt><label for="s_cate<%=cate_item.cate_t_id%>"><%=cate_item.cate_t_name%></label></dt>
							<dd>
								<select class="w_200<ers:isEqual src="cate_item.rootElement" value="true"> root_element</ers:isEqual>" id="s_cate<%=cate_item.cate_t_id%>" name="s_cate<%=cate_item.cate_t_id%>">
								<option value="" selected="selected">全て</option>
								<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
								<ers:isEqual src="option.active" value="1"><option value="<%=option.id%>"><%=option.cate_name%></option></ers:isEqual>
								</ers:foreach>
								</select>
							</dd>
						</dl>
					</ers:isEqual>
				</ers:foreach>
				<!-- cate -->
				<dl class="clearfix">
					<dt class="errorchange"><label for="s_price1"><ers:message code="price_halfwid_num" /></label></dt>
					<dd><span class="m-dispError"><ers:dispError src="s_price1" /><ers:dispError src="s_price2" /></span>
						<input class="s_price1" class="w_100" name="s_price1" type="text" value="<%=.Model.s_price1%>" />円
						&nbsp;～&nbsp;
						<input name="s_price2" class="s_price2" class="w_100" type="text" value="<%=.Model.s_price2%>" />円
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="sort"><ers:label code="sort" /></label></dt>
					<dd>
						<select class="sort" name="sort" class="w_200">
						<option>　</option>
						<option value="1"><ers:message code="list_cheap_sp" /></option>
						<option value="2"><ers:message code="list_new_order_rel_date" /></option>
						</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="s_outstock"><ers:label code="s_outstock" /></label></dt>
					<dd>
						<input type="checkbox" id="s_outstock" name="s_outstock" class="w_200"<ers:isEqual src=".Model.s_outstock" value="true"> checked="checked"</ers:isEqual> />
					</dd>
				</dl>
			</div>
		</article>

		<div class="m-ERS_btn clearfix">
			<p class="center iconSearch"><input type="submit" id="btnSubmit" value="<ers:label code='common_search' />" class="m-btn m-black_btn" name="search_item" /></p>
		</div>
		</form>

        <!-- daily ranking start -->
	    <ers:partial file="daily_ranking.htm" />
        <!-- daily ranking end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/search.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />

<script>
    $('dd').find('span').each(function(){
        if( $(this).text().length !== 0 ){
            $(this).parent().prev('dt').css('cssText', 'background-color:#b8d200 !important');
        }
    });
</script>

</body>
</html>
