﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='static.CharacterRegist.Title' /> ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>


<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
<div class="m-ERS_breadcrumb">
	<p><a href="<%=.nor_url%>">HOME</a><span class="arr"></span>＞&nbsp;<ers:message code='static.CharacterRegist.Title' /></p>
</div>
<!-- breadcrumb navigatione end -->

			<h2><ers:message code='static.CharacterRegist.NotAvailCharac' /></h2>

			<h3><ers:message code='static.CharacterRegist.CannotUseCharac' /></h3>
			<h4>●&nbsp;<ers:message code='static.CharacterRegist.ByteAbbrev' /></h4>
			<p>･&nbsp;｡&nbsp;｢&nbsp;｣&nbsp;､&nbsp;!&nbsp;&quot;&nbsp;#&nbsp;$&nbsp;%&nbsp;&amp;&nbsp;'&nbsp;(&nbsp;)&nbsp;&ndash;&nbsp;=&nbsp;~&nbsp;|&nbsp;&yen;&nbsp;?&nbsp;/&nbsp;&lt;&nbsp;&gt;&nbsp;&#12945;&nbsp;&#13179;<br>
			&copy;&nbsp;&reg;&nbsp;&trade;&nbsp;&#9312;&nbsp;&#13008;&nbsp;&#13077;&nbsp;&#13193;</p>
			<h4>●&nbsp;<ers:message code='static.CharacterRegist.HalfKana' /></h4>
			<p>ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿﾀﾁﾂﾃﾄﾅﾆﾇﾈﾉﾊﾋｽﾍﾎﾏﾐﾑﾒﾓﾔﾕﾖﾗﾘﾙﾚﾛﾜｦﾝ<br>
			ｧｨｩｪｫｬｭｮｰ</p>
			
			<p>※ <ers:message code='static.CharacterRegist.CommonlyUsed' /></p>


	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/static.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
