﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="privacy.Title" /> ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>


<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
<div class="m-ERS_breadcrumb">
	<p><a href="/">HOME</a><span class="arr"></span>＞&nbsp;<ers:message code="privacy.Title" /></p>
</div>
<!-- breadcrumb navigatione end -->

			<h2><ers:message code="privacy.Title" /></h2>
			<div class="m-ERS_box">
				<p><ers:message code="Member.Agreement.Intro" /></p>
			</div>

			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy1" /></h3>
				<p><ers:message code="Member.Agreement.Policy1Desc" /></p>
				<ul>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details1" /></li>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details2" /></li>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details3" /></li>
				</ul>
				<p><ers:message code="Member.Agreement.Policy1Details4" /></p>
				<p><ers:message code="Member.Agreement.Policy1Details5" /></p>
				<p><ers:message code="Member.Agreement.Policy1Details6" /></p>

				<ul>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details7" /></li>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details8" /></li>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details9" /></li>
					<li class="m-static_list"><ers:message code="Member.Agreement.Policy1Details10" /></li>
				</ul>
			</article>
			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy2" /></h3>
				<p><ers:message code="Member.Agreement.Policy2Desc" /></p>
			</article>
			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy3" /></h3>
				<p><ers:message code="Member.Agreement.Policy3Desc" /></p>
			</article>
			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy4" /></h3>
				<p><ers:message code="Member.Agreement.Policy4Desc" /></p>
			</article>
			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy5" /></h3>
				<p><ers:message code="Member.Agreement.Policy5Desc" /></p>
				<p><ers:message code="Member.Agreement.Policy5Details1" /></p>
				<p><ers:message code="Member.Agreement.Policy5Details2" /><br />
				<ers:message code="Member.Agreement.Policy5Details3" /><br />
				<ers:message code="Member.Agreement.Policy5Details4" /></p>
			</article>
			<article class="m-article">
				<h3 class="m-subtitle02" style="margin:0 0 10px 0"><ers:message code="Member.Agreement.Policy6" /></h3>
				<p><ers:message code="Member.Agreement.Policy6Details1" /></p>
				<p><ers:message code="Member.Agreement.Policy6Details2" /><br />
				<ers:message code="Member.Agreement.Policy6Details3" /></p>

			</article>

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/static.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
