﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='partial_footer_sitemap' /> ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/sitemap.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>


<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
<div class="m-ERS_breadcrumb">
	<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='partial_footer_sitemap' /></p>
</div>
<!-- breadcrumb navigatione end -->

			<h2><ers:message code='partial_footer_sitemap' /></h2>
			<div class="clearfix">
			<article class="m-article m-article_column">
				<ul>
					<li><a href="<%=.nor_url%>"><ers:message code='static_top' /></a></li>
					<li><a href="<%=.nor_url%>top/search/asp/search.asp"><ers:message code='list_product_search' /></a></li>
					<li><a href="<%=.nor_url%>top/search/asp/list.asp"><ers:message code='list_itemlist' /></a></li>
					<li><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code='static_cart_confirm' /></a></li>
					<li class="mypage" style="display: block"><a href="<%=.sec_url%>top/register/asp/member_entry.asp"><ers:message code='static_new_member_regist' /></a></li>
					<li class="mypage" style="display: block"><a href="<%=.sec_url%>top/member/asp/"><ers:label code='common_login' /></a></li>
					<li class="logout" style="display: none"><a href="<%=.sec_url%>top/member/asp/logout.asp"><ers:message code='Out_log' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><ers:message code='member_passrim_forgotPassword' /></a></li>
				</ul>
			</article>
			<article class="logout m-article m-article_column" style="display: none">
				<ul>
					<li><a href="<%=.sec_url%>top/member/asp/"><ers:message code='member_my_page' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/bill1.asp"><ers:message code='static_purchase_history' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/regular_bill.asp"><ers:message code='reg_view' /></a></li>
					<li><a href="<%=.sec_url%>top/cart/asp/wishlist.asp"><ers:message code='static_wishlist' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/mail1.asp"><ers:message code='static_email_magazine_setting' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/member1.asp"><ers:message code='static_change_regist_info' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/address_list.asp"><ers:message code='static_edit_other_shipadd' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/card1.asp"><ers:message code='member_change_card_info' /></a></li>
					<li><a href="<%=.sec_url%>top/member/asp/account_close1.asp"><ers:message code='unscrb_member' /></a></li>
				</ul>
			</article>
			<article class="m-article m-article_column">
				<ul>
					<li><a href="<%=.nor_url%>welcome.html"><ers:message code='static_1sttime_visitors' /></a></li>
					<li><a href="<%=.nor_url%>faq.html"><ers:message code='static_FAQ' /></a></li>
					<li><a href="<%=.nor_url%>guide.html"><ers:message code='static_user_guide' /></a></li>
					<li><a href="<%=.nor_url%>agreement.html"><ers:label code='common_footer_agreement' /></a></li>
					<li><a href="<%=.nor_url%>privacy.html"><ers:message code='partial_footer_privacy_policy' /></a></li>
					<li><a href="<%=.nor_url%>sct.html"><ers:message code='partial_footer_display' /></a></li>
					<li><a href="<%=.sec_url%>top/quest/asp/quest1.asp"><ers:message code='partial_footer_contact_us' /></a></li>
				</ul>
			</article>
			</div>


	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/static.htm">
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
