﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='static.StaticPageTemplate' /> ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
<div class="m-ERS_breadcrumb">
	<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='static.StaticPageTemplate' /></p>
</div>
<!-- breadcrumb navigatione end -->

			<h2><ers:message code='register.member_entry1.Title' /></h2>
			<p style="padding:300px 0 400px 0;text-align:center;"><ers:message code='static.HTMLContDesc' />//</p>

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/static.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
