﻿			    <!-- amazon start -->
			    <div id="mall_table_<%=partialModel.site_id%>" style="display:none;"> 
				
				    <!-- flexigrid start -->
				    <div class="flexigrid item_table">
				
					    <!-- table start -->
					    <table>
						    <thead>
							    <tr>
                                    <th width="50">販売フラグ</th>
                                    <th width="50">非表示フラグ</th>
								    <th width="80">商品番号(JANコード等)</th>
								    <th width="100">商品タイプ</th>
								    <th width="150">商品の販売価格</th>
								    <th width="100">ブランド名</th>
								    <th width="100">メーカー名</th>
								    <th width="100">メーカー型番</th>
								    <th width="100">推奨ブラウズノード1</th>
								    <th width="100">推奨ブラウズノード2</th>
								    <th width="100">パッケージ商品数</th>
								    <th width="100">商品説明文</th>
								    <th width="100">商品のコンディション説明</th>
								    <th width="100">セール価格</th>
								    <th width="100">セール開始日</th>
								    <th width="100">セール終了日</th>
								    <th width="100">ギフトメッセージ</th>
								    <th width="100">ギフト包装可</th>
								    <th width="100">商品説明の箇条書き1</th>
								    <th width="100">商品説明の箇条書き2</th>
								    <th width="100">商品説明の箇条書き3</th>
								    <th width="100">商品説明の箇条書き4</th>
								    <th width="100">商品説明の箇条書き5</th>
								    <th width="100">検索キーワード1</th>
								    <th width="100">検索キーワード2</th>
								    <th width="100">検索キーワード3</th>
								    <th width="100">検索キーワード4</th>
								    <th width="100">検索キーワード5</th>
								    <th width="100">特定用途キーワード1</th>
								    <th width="100">特定用途キーワード2</th>
								    <th width="100">対象</th>
								    <th width="100">警告</th>
								    <th width="100">法規上の免責条項</th>
								    <th width="100">原材料・成分1</th>
								    <th width="100">原材料・成分2</th>
								    <th width="100">原材料・成分3</th>
								    <th width="100">特別成分</th>
								    <th width="100">使用上の注意</th>
								    <th width="100">商品の利用(調理)方法</th>
								    <th width="100">スタイル名</th>
								    <th width="100">フレーバー</th>
								    <th width="100">サイズ</th>
								    <th width="100">カラー</th>
								    <th width="100">カラーマップ</th>
								    <th width="100">香り</th>
								    <th width="100">商品の形状</th>
								    <th width="100">特殊機能1</th>
								    <th width="100">特殊機能2</th>
								    <th width="100">特殊機能3</th>
								    <th width="100">推奨最小重量</th>
								    <th width="100">推奨最大重量</th>
								    <th width="100">推奨重量の単位</th>
							    </tr>
						    </thead>
						    <tbody>
                                <ers:table src="partialModel.listProduct" name="listProduct" parent_record_key="partialModel.record_key" record_key="record_key4" variable="amazon_detail">
							        <tr>
                                        <td><input type="checkbox" name="<%=record_key4%>mall_flg" id="<%=record_key4%>mall_flg" value="On"<ers:isEqual src="amazon_detail.mall_flg" value="On"> checked="checked"</ers:isEqual > /></td>
                                        <td><input type="checkbox" name="<%=record_key4%>deleted" id="<%=record_key4%>deleted" value="On"<ers:isEqual src="amazon_detail.deleted" value="On"> checked="checked"</ers:isEqual > /></td>
								        <td><%=amazon_detail.scode%></td>
								        <td>
				                            <select class="w_100" name="<%=record_key4%>product_type" id="<%=record_key4%>product_type">
	                                            <option value=""></option>
<ers:foreach variable="item" src=".Model.listAmazon_product_type" roopcounter="i">
	                                            <option value="<%=item.value %>" <ers:isEqual src="item.value" variable="amazon_detail.product_type">selected="selected"</ers:isEqual > ><%=item.name %></option>
</ers:foreach>
				                            </select>
                                        </td>
								        <td>&yen;&nbsp;<input type="text" name="<%=record_key4%>price" id="price" value="<%=amazon_detail.price%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key4%>brand" id="Text22" value="<%=amazon_detail.brand%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key4%>maker_name" id="Text23" value="<%=amazon_detail.maker_name%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key4%>model_number" id="Text24" value="<%=amazon_detail.model_number%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>recommended_browse_nodes1" id="<%=record_key4%>recommended_browse_nodes1" value="<%=amazon_detail.recommended_browse_nodes1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>recommended_browse_nodes2" id="<%=record_key4%>recommended_browse_nodes2" value="<%=amazon_detail.recommended_browse_nodes2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>item_package_quantity" id="<%=record_key4%>item_package_quantity" value="<%=amazon_detail.item_package_quantity%>" class="w_100" /></td>
                                        <td><textarea cols="10" rows="2" name="<%=record_key4%>product_description" id="<%=record_key4%>product_description"><%=amazon_detail.product_description%></textarea></td>
                                        <td><textarea cols="10" rows="2" name="<%=record_key4%>condition_note" id="<%=record_key4%>condition_note"><%=amazon_detail.condition_note%></textarea></td>
                                        <td><input type="text" name="<%=record_key4%>sale_price" id="<%=record_key4%>sale_price" value="<%=amazon_detail.sale_price%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>sale_from_date" id="<%=record_key4%>sale_from_date" value="<%=amazon_detail.sale_from_date%>" class="datepicker_date w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>sale_end_date" id="<%=record_key4%>sale_end_date" value="<%=amazon_detail.sale_end_date%>" class="datepicker_date w_100" /></td>
                                        <td><input type="checkbox" name="<%=record_key4%>offering_can_be_gift_messaged" id="<%=record_key4%>offering_can_be_gift_messaged" value="On" class="w_100"<ers:IsEqual src="amazon_detail.offering_can_be_gift_messaged" value="On"> checked="checked"</ers:IsEqual> /></td>
                                        <td><input type="checkbox" name="<%=record_key4%>offering_can_be_giftwrapped" id="<%=record_key4%>offering_can_be_giftwrapped" value="On" class="w_100"<ers:IsEqual src="amazon_detail.offering_can_be_giftwrapped" value="On"> checked="checked"</ers:IsEqual> /></td>
                                        <td><input type="text" name="<%=record_key4%>bullet_point1" id="<%=record_key4%>bullet_point1" value="<%=amazon_detail.bullet_point1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>bullet_point2" id="<%=record_key4%>bullet_point2" value="<%=amazon_detail.bullet_point2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>bullet_point3" id="<%=record_key4%>bullet_point3" value="<%=amazon_detail.bullet_point3%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>bullet_point4" id="<%=record_key4%>bullet_point4" value="<%=amazon_detail.bullet_point4%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>bullet_point5" id="<%=record_key4%>bullet_point5" value="<%=amazon_detail.bullet_point5%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>generic_keywords1" id="<%=record_key4%>generic_keywords1" value="<%=amazon_detail.generic_keywords1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>generic_keywords2" id="<%=record_key4%>generic_keywords2" value="<%=amazon_detail.generic_keywords2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>generic_keywords3" id="<%=record_key4%>generic_keywords3" value="<%=amazon_detail.generic_keywords3%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>generic_keywords4" id="<%=record_key4%>generic_keywords4" value="<%=amazon_detail.generic_keywords4%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>generic_keywords5" id="<%=record_key4%>generic_keywords5" value="<%=amazon_detail.generic_keywords5%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>specific_uses_keywords1" id="<%=record_key4%>specific_uses_keywords1" value="<%=amazon_detail.specific_uses_keywords1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>specific_uses_keywords2" id="<%=record_key4%>specific_uses_keywords2" value="<%=amazon_detail.specific_uses_keywords2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>target_audience_keywords" id="<%=record_key4%>target_audience_keywords" value="<%=amazon_detail.target_audience_keywords%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>safety_warning" id="<%=record_key4%>safety_warning" value="<%=amazon_detail.safety_warning%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>legal_disclaimer_description" id="<%=record_key4%>legal_disclaimer_description" value="<%=amazon_detail.legal_disclaimer_description%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>ingredients1" id="<%=record_key4%>ingredients1" value="<%=amazon_detail.ingredients1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>ingredients2" id="<%=record_key4%>ingredients2" value="<%=amazon_detail.ingredients2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>ingredients3" id="<%=record_key4%>ingredients3" value="<%=amazon_detail.ingredients3%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>special_ingredients" id="<%=record_key4%>special_ingredients" value="<%=amazon_detail.special_ingredients%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>indications" id="<%=record_key4%>indications" value="<%=amazon_detail.indications%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>directions" id="<%=record_key4%>directions" value="<%=amazon_detail.directions%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>style_name" id="<%=record_key4%>style_name" value="<%=amazon_detail.style_name%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>flavor_name" id="<%=record_key4%>flavor_name" value="<%=amazon_detail.flavor_name%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>size_name" id="<%=record_key4%>size_name" value="<%=amazon_detail.size_name%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>color_name" id="<%=record_key4%>color_name" value="<%=amazon_detail.color_name%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>color_map" id="<%=record_key4%>color_map" value="<%=amazon_detail.color_map%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>scent_name" id="<%=record_key4%>scent_name" value="<%=amazon_detail.scent_name%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>item_form" id="<%=record_key4%>item_form" value="<%=amazon_detail.item_form%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>special_features1" id="<%=record_key4%>special_features1" value="<%=amazon_detail.special_features1%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>special_features2" id="<%=record_key4%>special_features2" value="<%=amazon_detail.special_features2%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>special_features3" id="<%=record_key4%>special_features3" value="<%=amazon_detail.special_features3%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>minimum_weight_recommendation" id="<%=record_key4%>minimum_weight_recommendation" value="<%=amazon_detail.minimum_weight_recommendation%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>maximum_weight_recommendation" id="<%=record_key4%>maximum_weight_recommendation" value="<%=amazon_detail.maximum_weight_recommendation%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key4%>weight_recommendation_unit_of_measure" id="<%=record_key4%>weight_recommendation_unit_of_measure" value="<%=amazon_detail.weight_recommendation_unit_of_measure%>" class="w_100" /></td>
							        </tr>
                                </ers:table>
						    </tbody>
					    </table>
					    <!-- table end -->
					
				    </div>
				    <!-- flexgrid end -->
				
			    </div>
			    <!-- amazon end -->
