﻿<!-- next start-->
<form method="post" action="summary_csv_dl.asp">
	<div class="ERS_next">
		<p>
                <input type="hidden" name="summary_code" value="<%=partialModel.summary_code %>" />
			    <input type="submit" class="form_btn" value="<ers:label code='common_download' />" />
		</p>
	</div>
</form>
<!-- next end-->
