﻿<!-- graph start-->
<ers:IsEqual src="partialModel.graph_type" value="LineChart">
    <ers:partial file="summary/result/graph/line_chart.htm" partialModel="partialModel" />
</ers:IsEqual>

<ers:IsEqual src="partialModel.graph_type" value="Pie">
    <ers:partial file="summary/result/graph/pie.htm" partialModel="partialModel" />
</ers:IsEqual>
<!-- graph end-->
