﻿<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
<ers:foreach src="partialModel.FirstResult" variable="column">
    <ers:IsEqual src="column.Key" value="row_name">
				<th width="200"></th>
    </ers:IsEqual>
    <ers:IsNotEqual src="column.Key" value="row_name">
				<th width="50"><%=column.Key %></th>
    </ers:IsNotEqual>
</ers:foreach>
			</tr>
		</thead>
		<tbody>
<ers:foreach src="partialModel.listResult" variable="row">
			<tr>
<ers:foreach src="row" variable="column">
    <ers:IsEqual src="column.Key" value="row_name">
				<td><%=column.Value %></td>
    </ers:IsEqual>
    <ers:IsNotEqual src="column.Key" value="row_name">
				<td><ers:formatNumber src="column.Value" /></td>
    </ers:IsNotEqual>
</ers:foreach>
			</tr>
</ers:foreach>
        </tbody>
    </table>
	</div>
<!-- item_table end -->

