﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="login"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script>
if (self == top)
{
    document.documentElement.style.display = "block";
}
else
{
    top.location = self.location;
}
    </script>
</head>
<body>

<div id="Whole">
<table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	<tr>
		<td id="HeadZone">

<div class="ServiceHeader">
	<div class="ServiceHeaderLogo">
		<img src="<%=.sec_url%>images/header.png" alt="ERS SUITE" />
	</div>
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript"/></p>
		</div>
	</noscript>
<!-- noscript end -->

		</td>
	</tr>
	<tr valign="top">
		<td id="MiddleZone">
<div class="Login">
	<h2><ers:message code="login.login.TitleCTS" /></h2>

	<div class="LoginPanel" >

	<form name="" method="post" action="loginaction.asp" id="Form1">
		<table>
			<tr>
				<th><ers:message code="user_account" /></th>
				<td>
					<input name="user_id" type="text" id="user_id" maxlength="50" size="20" />
					
				</td>
			</tr>
			<tr>
				<th><ers:label code="passwd" /></th>
				<td>
					<input name="passwd" type="password" maxlength="50" size="20" id="passwd" />
					<span id="" class="InputAlert" style="display:none;"><ers:message code="login.login.MsgPwdValidation" /></span>
					
				</td>

			</tr>
			<tr>
				<td colspan="2" class="Button">
	    <ers:dispError />
					<span id="" class="InputAlert"></span>
					<input type="submit" name="" class="__login_btn" value="<ers:message code='login' />" />
				</td>
			</tr>
		</table>
</form>	

</div>
</div>

		</td>
	</tr>
	<tr>
		<td id="FootZone">
			
 <ers:partial file="footer.htm" />

		</td>
	</tr>
</table>
</div>


</body>
</html>

