﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<meta http-equiv="refresh" content="0; url=<%=.sec_url%>">

<title>ログイン - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />

<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->

</head>
<body>

<div id="Whole">
	<form name="" method="post" action="loginaction.asp" id="">
<table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	<tr>
		<td id="HeadZone">

<div class="ServiceHeader">
	<div class="ServiceHeaderLogo">
		<img alt="ERS SUITE" src="<%=.sec_url%>images/header.png">
	</div>
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページではJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

		</td>
	</tr>
	<tr valign="top">
		<td id="MiddleZone">
<div class="Login">
	<h2>CallTrackingSystemログイン画面</h2>

	<div class="LoginPanel" >

		<table class="Loading">
			<tr>
					<div id="ERS_redirect">
				<td>		
					<p><img src="<%=.sec_url%>images/loading.gif"></p>
				</td>
				<td>

					<p><a href="<%=.sec_url%>">ページが切り替わらない場合はこちら</a></p>

				</td>
					</div>
			</tr>

		</table>
</form>	

</div>
</div>

		</td>
	</tr>
	<tr>
		<td id="FootZone">
			
	
 <ers:partial file="footer.htm" />

		</td>
	</tr>
</table>
</div>


</body>
</html>

