<select name="<%=partialModel.record_key%>value">
	<option value=""></option>
	<option value="<ers:message code='partial_sex_female' />" <ers:isEqual src="partialModel.value" value="<ers:message code='partial_sex_female' />"> selected="selected"</ers:isEqual>><ers:message code='partial_sex_female' /></option>
	<option value="<ers:message code='partial_sex_male' />" <ers:isEqual src="partialModel.value" value="<ers:message code='partial_sex_male' />"> selected="selected"</ers:isEqual>><ers:message code='partial_sex_male' /></option>
</select>
