﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $("#csv-download").attr('href','<%=.sec_url%>images/faq_sample_<ers:message code="faq.FQATemplate.csvLang" />.csv');
        });
    </script>
</head>
<body>

<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
                <div class="Operators">

                    <h2><ers:message code="other.configuration.FAQCSVTitle" /></h2>

                    <ers:isEqual src=".Model.replace" value="1">
						<h3><ers:message code="other.configFaqCsvMenu.NewShelfRegTitle" /></h3>
                        <h4><ers:message code="other.configFaqCsvMenu.NewShelfReg" /></h4>
                    </ers:isEqual>
                    <ers:isEqual src=".Model.replace" value="0">
						<h3><ers:message code="other.configFaqCsvMenu.AddtlRegTitle" /></h3>
                        <h4><ers:message code="other.configFaqCsvMenu.AddtlReg" /></h4>
                    </ers:isEqual>

                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigFaqCsvComplete.asp" name="csv_form" enctype="multipart/form-data">
                        <input type="hidden" name="replace" value="<%=.Model.replace%>" />
                        <table class="Menu" >
                            <tr>
								<th><ers:message code="other.configFaqCsvMenu.FileSelection" /></th>
                                <td>
									<input type="checkbox" checked="checked" name="chk_find" id="chk_find"><label for="chk_find"><ers:message code="other.configFaqCsvMenu.FileNotice" /></label><br>
									<input type="file" class="w_400" id="csv_file" name="csv_file"><br />
									<ers:message code="other.configFaqCsvMenu.Caution" /><br />
									<ers:isEqual src=".Model.replace" value="1">
									<ers:message code="other.configFaqCsvMenu.FileNoticeDesc" /><br />
									</ers:isEqual>
									<ers:message code="other.configFaqCsvMenu.FileNoticeFileDesc" /><br />
									<br />
									<br />
									<ers:message code="other.configFaqCsvMenu.FileExample" /><br />
									<br />
                                    <!--href for redirection only-->
									<a href="<%=.sec_url%>images/faq_sample.csv" id="csv-download"><ers:message code="other.configFaqCsvMenu.Link" /> </a><br />
                                </td>
                            </tr>
                        </table>
                            <input type="submit" name="regist" value="<ers:label code='common_register'/>" />
						    <input type="button" name="back" value="<ers:label code='common_back'/>" onclick="javascript:location.href='<%=.sec_url%>top/configuration/asp/ConfigFaqCsvMenu.asp'" />
                    </form>

                </div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
