﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <!--<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>-->
</head>
<body>



<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>



<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Operators">
	                <h2><ers:message code="other.configuration.Title" /></h2>

                      <table class="Menu" >

                          <tr>
                              <th><a href="<%=.sec_url%>top/configuration/asp/ConfigFaqCsvMenu.asp"  class="Contact __faq_csv_registration"  target="_parent"><ers:message code="other.configuration.FAQCSVTitle" /></a></th>
                              <td><ers:message code="other.configuration.FAQCSV" /></td>
                          </tr>

                          <tr>
                              <th><a href="<%=.sec_url%>top/configuration/asp/ConfigContactEmailFrom.asp"  class="Contact __email_from_management"  target="_parent"><ers:message code="other.configuration.EMAILREGTitle" /></a></th>
                              <td><ers:message code="other.configuration.EMAILREG" /></td>
                          </tr>

                          <tr>
                              <th><a href="<%=.sec_url%>top/configuration/asp/ConfigEscalationDetail.asp"  class="Contact __escalation_management"  target="_parent"><ers:message code="other.ContactClientEscalation.Title" /></a></th>
                              <td><ers:message code="other.configuration.EscContentReg" /></td>
                          </tr>

                          <tr>
                              <th><a href="<%=.sec_url%>top/configuration/asp/ConfigCategory.asp"  class="Contact __category_management"  target="_parent"><ers:message code="other.configuration.CategoryManagementTitle" /></a></th>
                              <td><ers:message code="other.configuration.CategoryManagement" /></td>
                          </tr>


                      </table>

                </div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                 <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
