﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Operators">
                    <h2><ers:message code="other.configuration.CategoryManagementTitle" /></h2>
										<!--
                    <h4><input type="button" value="新規登録" /></h4>
                    //-->
                    <table class="Menu">
                    <tr>
                        <th><ers:label code="config_cate_header" /></th>
                        <th><ers:message code="th_c_display" /></th>
                        <th><ers:label code="card_update" /></th>
                    </tr>
                        <ers:foreach variable="record" src=".Model.categoryList">
                            <tr class="__categoryManagementList">
                                <td><%=record.namename%></td>
                                <td><ers:isEqual src="record.active" value="1" /><ers:message code="th_c_display" /></ers:isEqual><ers:isEqual src="record.active" value="0" /><ers:message code="td_hide" /></ers:isEqual></td>
                                <td>
                                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigCategoryManage.asp">
                                        <input type="hidden" name="type_code" value="ENQCT<%=record.code%>" />
                                        <input type="hidden" name="id_main" value="<%=record.id%>" />
                                        <input type="submit" class="form_btn __edit_btn" value="<ers:label code='card_update'/>" />
                                    </form>
                                </td>
                            </tr>
                        </ers:foreach>
                    </table>

                </div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
