﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Operators">
	                <h2><ers:message code="other.configuration.EscContentRegTitle" /></h2>
                    <h3><ers:message code="other.ContactEmailForm.RegList" /></h3>
                    <h4><input type="button" value="<ers:message code='btn_signup'/>" /></h4>

                      <table class="Menu">
                          <tr>
                              <th><ers:message code="th_esc_destination_name" /></th>
                              <td><ers:message code="other.EscalationDetail.LTDTest" /></td>
                          </tr>

                          <tr>
                              <th><ers:label code="email_from_name" /></th>
                              <td>竹村テスト</td>
                          </tr>

                          <tr>
                              <th><ers:message code="th_from_address"/></th>
                              <td>takemura@ivpc.o.jp</td>
                          </tr>
                          <tr>
                              <th><ers:message code="th_to"/></th>
                              <td>nakauchi@ivpc.o.jp</td>
                          </tr>
                          <tr>
                              <th><ers:message code="th_Cc"/></th>
                              <td></td>
                          </tr>
                          <tr>
                              <th><ers:message code="th_Bcc"/></th>
                              <td></td>
                          </tr>
                          <tr>
                              <th><ers:message code="th_header"/></th>
                              <td>いつもお世話になっております。</td>
                          </tr>

                          <tr>
                              <th><ers:message code="th_footer"/></th>
                              <td>よろしく～</td>
                          </tr>
                          <tr>
                               <td colspan=2>
                                  <input type="button" value="　　　<ers:label code='common_modify'/>　　　" />
                                  <input type="button" value="　　　<ers:label code='common_delete'>　　　" />
                               </td>
                          </tr>

                      </table>


                </div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                 <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
