﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><ers:message code="common.contact_title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="ManageInformation">
                    <h2><ers:message code="other.configuration.CategoryManagementTitle" /></h2>

                    <h3><ers:message code="other.ConfigCategoryManage.Title" /></h3>
                    <div><ers:message code="other.ConfigCategoryManage.Desc" /></div>

                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigCategoryManage.asp">
                        <input type="hidden" name="id_main" value="<%=.Model.id_main %>" /><br />
                        <input type="hidden" name="type_code" value="<%=.Model.type_code %>" /><br />
                        <table class="SearchResult">
                            <tr>
		                        <th><ers:label code="config_cate_header" /></th>
		                        <td>
                                    <input type="text" name="namename_main" maxlength="255" value="<%=.Model.namename_main%>" />
		                        </td>
	                        </tr>
                            <tr>
		                        <th><ers:message code="th_disp_setting" /></th>
		                        <td>
			                        <input type="radio" class="__disp_setting" name="active" value="1" id="active_on" <ers:isEqual src=".Model.active" value="1"> checked="checked"</ers:isEqual> /><label for="active_on"><ers:message code="td_to_display" /></label><br />
                                    <input type="radio" class="__disp_setting" name="active" value="0" id="active_off" <ers:isEqual src=".Model.active" value="0"> checked="checked"</ers:isEqual> /><label for="active_off"><ers:message code="td_not_display" /></label>
		                        </td>
	                        </tr>
                        </table>
                        <input type="submit" class="form_btn __register_edit_btn" name="batch" value="<ers:message code='btn_reg_cate_name_disp_setting'/>" onclick="return confirm('<ers:message code='other.ConfigCategoryManage.RegMsg'/>'); " />
                    </form>
                    
                    <h3><ers:message code="other.ConfigCategoryManage.2ndTitle" /></h3>
                    <div>
						        <ers:message code="other.ConfigCategoryManage.2ndDesc" />
										</div>

                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigCategoryManage.asp">
                        <input type="hidden" name="type_code" value="<%=.Model.type_code %>" /><br />
                        <input type="hidden" name="id_main" value="<%=.Model.id_main %>" /><br />
                        <table class="SearchResult">
                            <tr>
                                <th><ers:message code="btn_display" /></th>
                                <th><ers:message code="th_code" /></th>
		                        <th><ers:message code="th_order" /></th>
                                <th><ers:label code="common_category" /></th>
		                        <th><ers:label code="common_delete" /></th>
                            </tr>
                            <ers:table variable="record" record_key="record_key" src=".Model.categoryList" name="categoryList">
                                <tr>
                                    <td>
                                        <input type="checkbox" id="<%=record_key%>active" name="<%=record_key%>active" value="1" <ers:isEqual src="record.active" value="1" /> checked="checked" </ers:isEqual>  />
                                        <input type="hidden" id="<%=record_key%>id" name="<%=record_key%>id" value="<%=record.id%>"  />
                                    </td>
                                    <td><%=record.code%></td>
                                    <td>
                                        <input type="text" id="<%=record_key%>disp_order" name="<%=record_key%>disp_order" value="<%=record.disp_order%>" maxlength="10" />
                                    </td>
                                    <td>
                                        <input type="text" id="<%=record_key%>namename" name="<%=record_key%>namename" value="<%=record.namename%>" maxlength="255" />
                                    </td>
                                    <td>
                                        <input type="submit" class="form_btn" id="<%=record_key%>delete" name="<%=record_key%>delete" value="<ers:label code='common_delete'/>" onclick="return confirm('<ers:message code='common.DelConfirmMsg'/>');" />
                                    </td>
                                </tr>
                            </ers:table>
                        </table>

                        <div>&nbsp;</div>
                            <table class="SearchResult">
                                <tr>
			                        <th><ers:message code="th_order" /></th>
			                        <th><ers:label code="common_category" /></th>
		                        </tr>
                                <tr>
			                        <td>
                                        <input type="text" name="disp_order" value="<%=.Model.disp_order%>" maxlength="3"/>
                                    </td>
			                        <td>
				                        <input type="text" name="namename" value="<%=.Model.namename%>" maxlength="255" />
			                        </td>
		                        </tr>
                                <tr>
                                    <td colspan="2">
                                
                                    </td>
                                </tr>
                            </table>
                            <input type="submit" class="form_btn" name="modify" value="<ers:message code='btn_modify_cate_list'/>" onclick="return confirm('<ers:message code='other.ConfigCategoryManage.RegMsg'/>'); " />

                    </form>

                </div>


		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                 <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
