﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Operators">
	                <h2><ers:message code="other.configuration.EMAILREGTitle" /></h2>
                    <h3><ers:message code="other.ContactEmailForm.RegList" /></h3>

                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigContactEmailFrom.asp">
                        <h4><input type="submit" name="regist" value="<ers:message code='btn_signup'/>" class="form_btn" /></h4>
                    </form>
                    <!-- page_send start -->
                    <ers:partial file="pager.htm" partialModel=".Pager" />
                    <!-- page_send end -->
                    <ers:foreach variable="record" src=".Model.fromAddressList">
                        <table class="Menu email_from __email_list">
                            <tr>
                                <th><strong><ers:label code="email_from_name" /></strong></th>
                                <td class="__ename"><strong><%=record.email_from_name %></strong></td>
                            </tr>

                            <tr>
                                <th><ers:message code="th_from_address" /></th>
                                <td class="__efrom"><%=record.email_from %></td>
                            </tr>

                            <tr>
                                <th><ers:message code="th_header" /></th>
                                <td class="__eheader"><%=record.email_header %></td>
                            </tr>

                            <tr>
                                <th><ers:message code="th_footer" /></th>
                                <td class="__efooter"><%=record.email_fotter %></td>
                            </tr>

                            <tr>
                                <th><ers:message code="th_display" /></th>
                                <td class="__eactive">
                                    <ers:isEqual src="record.active" value="1" /><ers:message code="dt_Yes" /></ers:isEqual><ers:isEqual src="record.active" value="0" /><ers:message code="dt_No" /></ers:isEqual>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" align="center">
                                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigContactEmailFrom.asp">
                                        <input type="hidden" name="id" value="<%=record.id %>" />
                                        <input type="submit" name="modify" value="<ers:label code='common_modify'/>" class="form_btn __modify" />
                                        <input type="submit" name="delete" value="<ers:label code='common_delete'/>" class="form_btn __delete" onclick="return confirm('<ers:message code='common.DelConfirmMsg'/>'); " />
                                    </form>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </ers:foreach>
                   

                </div>
                
		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                 <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
