﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Configuration.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <div class="Operators">
	                <h2><ers:message code="other.configuration.EMAILREGTitle" /></h2>
                    <h3><ers:label code="common_register" /></h3>

                    <form method="post" action="<%=.sec_url%>top/configuration/asp/ConfigContactEmailFrom.asp">
                        <input type="hidden" name="id" value="<%=.Model.id %>" />
                        <table class="Regist">
				            <tr>
					            <th><ers:label code="email_from_name" /></th>
					            <td>
						            <input type="text" name="email_from_name" id="email_from_name" maxlength="255" value="<%=.Model.email_from_name %>" class="w_400" /><br />
						            <ers:message code="other.ContactEmailForm.FromNotice" />
					            </td>
				            </tr>
				            <tr>
					            <th><ers:message code="th_from_address" /></th>
					            <td>
						            <input type="text" name="email_from" id="email_from" maxlength="255" value="<%=.Model.email_from %>" class="w_400" />
						            <ers:message code="addtl_alphanumeric" />
					            </td>
				            </tr>
                            <tr>
					            <th><ers:message code="th_cc_address" /></th>
					            <td>
                                    <textarea name="email_cc" rows="3" cols="75"><%=.Model.email_cc %></textarea>
						            <ers:message code="addtl_alphanumeric" />
					            </td>
				            </tr>
                            <tr>
					            <th><ers:message code="th_bcc_address" /></th>
					            <td>
						            <textarea name="email_bcc" rows="3" cols="75"><%=.Model.email_bcc %></textarea>
						            <ers:message code="addtl_alphanumeric" />
					            </td>
				            </tr>
				            <tr>
					            <th><ers:message code="th_header" /></th>
					            <td>
                                    <textarea name="email_header" rows="3" cols="75"><%=.Model.email_header %></textarea>
                                </td>
				            </tr>
                            <tr>
					            <th><ers:message code="th_body" /></th>
					            <td>
                                    <textarea name="email_body" rows="5" cols="75"><%=.Model.email_body %></textarea>
                                </td>
				            </tr>
				            <tr>
					            <th><ers:message code="th_footer" /></th>
					            <td>
                                    <textarea name="email_fotter" rows="3" cols="75"><%=.Model.email_fotter %></textarea>
                                </td>
				            </tr>
                            <tr>
					            <th><ers:message code="th_display" /></th>
					            <td>
                                    <input type="checkbox" name="active_string" <ers:isEqual src=".Model.active" value="1" /> checked="checked" </ers:isEqual>  />
                                </td>
				            </tr>
				            <tr>
					            <td colspan="2" class="Button">
						            <input type="submit" name="save" value="<ers:label code='common_register'/>" onclick="return confirm('<ers:message code='common.RegisterMsg1'/>'); " />
						            <input type="reset" name="reset" value="<ers:label code='common_reset'/>" />
                                    <input type="submit" name="back" value="<ers:label code='common_back'/>" />
					            </td>
				            </tr>
			            </table>
                    </form>

                </div>

		    </td>
	    </tr>
	    <tr>
		    <td id="FootZone">
                 <ers:partial file="footer.htm" />
		    </td>
	    </tr>
    </table>
</div>

</body>
</html>
