﻿<!DOCTYPE html>
<html lang="ja">
<head>



	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.w_metatitle%> | <%=.browser_title%></title>
	<meta name="description" content="<%=.Model.metadescription%>">
	<meta name="keywords" content="<%=.Model.metawords%>">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta property="og:image" content="<%=.dynamic_url%>images/bimg/S<%=.Model.scode%>_01.jpg?width=1200" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">-->
	<link rel="stylesheet" href="<%=.dynamic_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/calendar.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/detail.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.dynamic_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script src="<%=.dynamic_url%>js/jquery-ui.custom.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.dynamic_url%>js/jquery-dateFormat.min.js"></script>
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.tile.js"></script>
	<script src="<%=.dynamic_url%>js/detail.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
	<![endif]-->

	<style type="text/css">
	#ERS_premessage{
		display:block;
	}
	</style>
    
	<script type="text/javascript">
        var holidays = {
	    <ers:foreach variable="holiday" src=".Model.listHolidays">
            "<ers:formatDate src="holiday" />":{},
	    </ers:foreach>
        };

        function getHolidays(day) {
            var result;
            var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
            // 祝日・非営業日定義に存在するか？
            if (holiday) {
                result = [false, ""];
            } else {
                result = [true, ""];
            }
            return result;
        }

		//カレンダー

	$(function() {
	    $("#datepicker1").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.dynamic_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});
	</script>
	<script type="text/javascript">
		function showMenu1(){
			//alert("test");
			document.getElementById('js-showMenu1').style.display ="block";
			document.getElementById('js-showMenu2').style.display ="none";
			document.getElementById('js-showMenu3').style.display ="none";
		}
		function showMenu2(){
		    document.getElementById('js-showMenu2').style.display ="block";
		    document.getElementById('js-showMenu1').style.display ="none";
		    document.getElementById('js-showMenu3').style.display ="none";
		}
		function showMenu3(){
		    document.getElementById('js-showMenu3').style.display ="block";
		    document.getElementById('js-showMenu2').style.display ="none";
		    document.getElementById('js-showMenu1').style.display ="none";
		}

		$(function(){
			$(".js-ERS_recommend_list h3.title").tile(5);
			$(".js-ERS_recommend_list div").tile(5);
		});
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />"><ers:message code="list_itemlist" /></a>＞&nbsp;<%=.Model.sname%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2 class="m-h2_title-detail m-wBreak"><%=.Model.sname%></h2>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- detail start -->
		<div class="m-ERS_detail clearfix">
<!-- l_col start -->
			<div class="l_col">
				<h3>
					<span><img src="<%=.dynamic_url%>images/bimg/S<%=.Model.scode%>_01.jpg?width=264" alt="" id="img_for_view2"></span>
				</h3>
				<ul class="clearfix">
				<ers:isNotEqual src=".Model.countImageFiles"  value="0" >
				<ers:isNotEqual src=".Model.countImageFiles"  value="1" >
				<ers:foreach variable="fileName" src=".Model.imageFiles">
									<li><img src="<%=.dynamic_url%>images/simg/<%=fileName%>?width=85" alt="" class="img_for_list2" onclick="simgChange()"></li>
				</ers:foreach>
				</ers:isNotEqual>
				</ers:isNotEqual>
				</ul>
			</div>
<!-- l_col end -->

<!-- r_col start -->
			<div class="r_col">
				<div class="m-ERS_table">
					<div class="m-wBreak"><ers:nonencode src=".Model.description"></div>

					<h3 class="m-wBreak"><%=.Model.sname%></h3>
					<table class="m-detail">
						<tr>
							<th><ers:label code="scode" /></th>
							<td><%=.Model.scode %></td>
						</tr>
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
	<ers:isEqual src=".Model.onCampaign" value="false" comment="通常価格時に表示します">
                        <tr>
                            <th><ers:label code="non_member_price" /></th>
                            <ers:isNotEqual src=".Model.price" variable=".Model.non_member_price">
                                <td><span><ers:formatCurrency src=".Model.non_member_price"/></span><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span></td>
                            </ers:isNotEqual>
                            <ers:isEqual src=".Model.price" variable=".Model.non_member_price">
							    <td><span><ers:formatCurrency src=".Model.price"/></span><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span></td>
                            </ers:isEqual>
                        </tr>
	</ers:isEqual>
	<ers:isEqual src=".Model.onCampaign" value="true" comment="セール価格時に表示します">
						<tr>
							<th><ers:label code="sale_price" /></th>
							<td><strike><ers:formatCurrency src=".Model.default_price"/></strike>&nbsp→&nbsp<strong class="m-ERS_IVP_color"><ers:formatCurrency src=".Model.price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span></td>
						</tr>
	</ers:isEqual>
</ers:IsNotEqual>
<ers:IsEqual src=".Model.onCampaign" value="false">
    <ers:IsEqual src=".Model.hasRankPrice" value="true">
						    <tr>
							    <th><ers:label code="member_price" /></th>
                                <td>
                                    <ers:table src=".Model.listPriceDetailRankRecord" name="price_detail_rank_record" record_key="price_detail_rank_record" variable="data">                                
                                        <ers:isNotEqual src="data.price" value="">
                                            <%=data.member_rank_name%>&nbsp;&nbsp;<span><ers:formatCurrency src="data.price"/></span><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><br />
                                        </ers:isNotEqual>
                                    </ers:table>
                                </td>
						    </tr>
    </ers:IsEqual>
</ers:IsEqual>
						<tr>
							<th><ers:message code="detail_share" /></th>
							<td class="sns">
							<a target="_blank" href="http://www.facebook.com/sharer.php?u=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />"><img src="<%=.dynamic_url%>images/icon_facebook.png" alt="facebook" title="facebook"></a>
							<a target="_blank" href="http://twitter.com/share?url=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />&text=<ers:UrlEncode src=".Model.sname">"><img src="<%=.dynamic_url%>images/icon_twitter.png" alt="twitter" title="twitter"></a>
							<a target="_blank" href="https://plus.google.com/share?url=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />&title=<ers:UrlEncode src=".Model.sname">"><img src="<%=.dynamic_url%>images/icon_googleplus.png" alt="googleplus" title="googleplus"></a>
							<!--<a target="_blank" href="http://line.me/R/msg/text/?<ers:UrlEncode src=".Model.title"><ers:UrlEncode value="\r\n" /><ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />"><img src="<%=.dynamic_url%>images/icon_line.png" alt="line" title="line" class="line_icon"></a>-->
							</td>
						</tr>
<ers:isEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がない場合に表示">
<ers:isNotEqual src=".Model.stock_flg" value="0">
						<tr>
							<th><ers:message code="detail_stock" /></th>
							<td>
									<ers:isEqual src=".Model.stock_flg" value="1">
										<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
									</ers:isEqual>
									<ers:isEqual src=".Model.stock_flg" value="2"><%=.Model.stock%></ers:isEqual>
							</td>
						</tr>
</ers:isNotEqual>
</ers:isEqual>
<ers:isNotEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がある場合に表示">
						<tr>
							<th><ers:label code='common_detail' /></th>
							<td>
							<form action="<%=.nor_url%>top/detail/asp/detail.asp" method="post" name="matrix_form" id="matrix_form">
							<select name="scode" id="matrix_form">
								<ers:foreach variable="em" src=".Model.listMerchandise" comment="商品グループ内の商品をループします。">
									<option value="<%=em.scode%>"<ers:isEqual src="em.scode" variable=".Model.scode"> selected="selected"</ers:isEqual>>
										<%=em.attribute1%><ers:isNotEqual src="em.attribute2" value=""><ers:isNotEqual src="em.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=em.attribute2%>
										<ers:isEqual src="em.stock_flg" value="0"></ers:isEqual>
										<ers:isEqual src="em.stock_flg" value="1">
											<ers:isEqual src="em.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
										</ers:isEqual>
										<ers:isEqual src="em.stock_flg" value="2"><%=em.stock%></ers:isEqual>
									</option>
								</ers:foreach>
							</select>
                            <input type="hidden" name="from_item_list" value="1" />
							</form>
							</td>
						</tr>
</ers:isNotEqual>
						<ers:isNotEqual src=".Model.link_url" value="">
						<tr>
							<th colspan="2"><a href="<%=.Model.link_url%>" target="_blank"><ers:label code="common_view_details" /></a></th>
						</tr>
						</ers:isNotEqual>
					</table>
					<div class="m-ERS_btn g-imp_w-p100 clearfix">
						<form method="post" action="<%=.sec_url%>top/cart/asp/wishlist.asp" >
							<input type="hidden" name="scode" value="<%=.Model.scode%>">
						<p class="wishlist iconStar">
							<input type="submit" name="wishlist_basket_in" value="<ers:message code='add_to_wishlist' />" alt="" class="m-btn m-wish_btn"/>
						</p>
						</form>
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
					<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
					    <ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">
						<form method="post" action="<%=.sec_url%>top/detail/asp/cart.asp" >
					            <input type="hidden" name="scode" value="<%=.Model.scode%>">
							<p class="detail_amount"><label for="amount"><ers:label code="amount" /></label><input type="text" class="amount g-imp_w-50 g-txt_r" value="1" name="amount"></p>
                            <ers:isNotEqual src=".Model.plural_order_type" value="NoLimit">
                                <span class="prodmessage"><ers:message code="detail.detail.MsgOnPurchaseValidation" /></span>
                            </ers:isNotEqual>    
                            
                            <p class="cartbtn iconCart">
					                <input type="submit" name="normal_basket_in" value="<ers:message code='add_to_cart' />" alt="" class="m-btn m-cart_btn __add_to_cart_btn"/>
					            </p>
							
						</form>
							</ers:isNotEqual>

						<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
						<p class="cartbtn iconStop"><span class="m-btn m-black_btn" id="soldout">Sold Out</span></p>
						</ers:isEqual>
					</ers:isEqual>

					

					<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
					<p class="cartbtn iconCart"><input type="button" name="saleAfter" value="<ers:message code="sales_period_end" />" alt="" class="m-btn m-cart_btn"/></p>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="3">
					<p class="cartbtn iconCart"><input type="button" name="notSale" value="<ers:message code='sales_period_before' />" alt="" class="m-btn m-cart_btn"/></p>
					</ers:isEqual>
</ers:IsNotEqual>
    					</div>
				</div><!-- detail table end -->
			</div><!-- r_col end -->
		</div><!-- detail end -->


<ers:isEqual src=".Model.sale_regular_flg" variable="true">
<!-- periodical start -->
		<div class="m-ERS_periodical clearfix">
			<!--<h3><img src="<%=.dynamic_url%>images/bnr_periodical.gif" alt="" class="periodical"></h3>-->
			<div class="deliver">
					<form action="<%=.sec_url%>top/detail/asp/cart.asp" method="post">
					<ers:isEqual src=".Model.disp_send_ptn_month_intervals" value="true">
					<br>
					<h3><input type="radio" name="send_ptn" id="send_ptn1" value="1" onclick="showMenu1();"<ers:isEqual src=".Model.send_ptn" value="MONTH_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn1"><ers:message code="subscription_basis" /></label></h3>
					<div id="js-showMenu1" class="showMenu1"<ers:isNotEqual src=".Model.send_ptn" value="MONTH_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">
									<select class="w_40" name="ptn_monthly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_monthly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>>
                                        <%=entity.value%>
                                    </option>
									</ers:foreach>
									</select>&nbsp;<ers:message code="subsc_every_month" />&nbsp;
									<select class="w_60" name="ptn_day">
									<ers:foreach src=".Model.ListPtnDay" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>>
                                        <ers:message src="entity.name" />
                                    </option>
									</ers:foreach>
									</select><!--<br>-->&nbsp;
<!--							<select class="fixInput" name="next_date_month">
									<option value="">初回配送月を選択してください</option>
									<ers:foreach src=".Model.ListRegularSenddateMonth" variable="value">
									<option value="<ers:FormatDate src="value">"<ers:isEqual src=".Model.next_date_month" variable="value"> selected="selected"</ers:isEqual>><ers:FormatDate src="value" value="yyyy年MM月"></option>
									</ers:foreach>
									</select>
-->					</div>	
					</div>
					</ers:isEqual>

					<ers:isEqual src=".Model.disp_send_ptn_week_intervals" value="true">
					<br>
					<h3><input type="radio" name="send_ptn" id="send_ptn2" value="2" onclick="showMenu2();"<ers:isEqual src=".Model.send_ptn" value="WEEK_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn2"><ers:message code="del_day_month_basis" /></label></h3>
					<div id="js-showMenu2" class="showMenu2" <ers:isNotEqual src=".Model.send_ptn" value="WEEK_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">		
									<select class="w_40" name="ptn_weekly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>>
                                        <%=entity.value%>
                                    </option>
									</ers:foreach>
									</select>&nbsp;<ers:label code="common_per_month" />&nbsp;
									<select class="w_40" name="ptn_interval_week">
									<ers:foreach src=".Model.ListPtnIntervalWeek" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>>
                                        <%=entity.value%>
                                    </option>
									</ers:foreach>
									</select>&nbsp;<ers:label code="common_per_week" />&nbsp;
									<select class="w_40" name="ptn_weekday">
									<ers:foreach src=".Model.ListPtnWeekday" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>>
                                        <ers:message src="entity.name" />
                                    </option>
									</ers:foreach>
									</select>
					</div>
					</div>
					</ers:isEqual>

					<ers:isEqual src=".Model.disp_send_ptn_month_day_intervals" value="true">
						<br>
						<h3><input type="radio" name="send_ptn" id="send_ptn3" value="3" onclick="showMenu3();"<ers:isEqual src=".Model.send_ptn" value="DAY_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn3"><ers:message code="del_specified_period" /></label></h3>
					<div id="js-showMenu3" class="showMenu3"<ers:isNotEqual src=".Model.send_ptn" value="DAY_INTERVALS"> style="display:none;"</ers:isNotEqual>>	
						<h3><ers:message code="detail.detail.MsgSelectDelvPeriod" /></h3>
						<p>
							<select class="w_80" name="ptn_interval_day">
							<ers:foreach src=".Model.ListPtnIntervalDay" variable="entity">
							<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%>日ごと</option>
							</ers:foreach>
							</select>
						</p>
						<h3><ers:message code="detail.detail.MsgSelectFirstDelvDate" /></h3>
						<div class="cal_in">
							<input type="radio" name="firstTime" value="0" id="shortest"<ers:isEqual src=".Model.firstTime" value="0"> checked="checked"</ers:isEqual>><label for="shortest"><ers:label code="change_first_time_shortest" /></label><br>
                        <ers:isEqual src=".Model.show_selectable_calendar" value="true">
							<input type="radio" name="firstTime" value="1" id="fixed"<ers:isEqual src=".Model.firstTime" value="1"> checked="checked"</ers:isEqual>><label for="fixed"><ers:label code="change_first_time_fixed" /></label><br>
							<input type="text" name="next_date_day" size="14" id="datepicker1"  value="<ers:formatDate src=".Model.next_date_day">">
                        </ers:isEqual>
						</div>
					</div>	
					</ers:isEqual>

					<table class="m-detail">
						<caption class="g-mg_b5">
							<h3><ers:label code="regular_price" /></h3>
						</caption>
        <ers:isEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
    					<tr>
							<th><ers:label code="regular_price" /></th>
							<td>

								<strong><ers:formatCurrency src=".Model.non_member_regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span>

							</td>
						</tr>
        </ers:isEqual>
        <ers:isEqual src=".Model.non_member_regular_first_price" value="">
    					<tr>
							<th><ers:label code="regular_price" /></th>
							<td>

								<strong><ers:formatCurrency src=".Model.non_member_regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span>

							</td>
						</tr>
        </ers:isEqual>
        <ers:isNotEqual src=".Model.non_member_regular_first_price" value="">
            <ers:isNotEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
						    <tr>
							    <th><ers:label code="regular_first_price" /></th>
							    <td><strong class="m-ERS_IVP_color"><ers:formatCurrency src=".Model.non_member_regular_first_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span></td>
						    </tr>
						    <tr>
							    <th><ers:label code="regular_second_price" /></th>
							    <td><strong><ers:formatCurrency src=".Model.non_member_regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span></td>
						    </tr>
            </ers:isNotEqual>
        </ers:isNotEqual>


        <ers:isNotEqual src=".Model.all_regular_first_price_empty" value="true">
            <ers:isNotEqual src=".Model.all_regular_price_empty" value="true">
						<tr>
							<th>
                                <ers:label code="regular_member_price" />
                            </th>
							<td>
                        	<ers:isEqual src=".Model.regular_first_price" value="">
								<strong><ers:formatCurrency src=".Model.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span>
                            </ers:isEqual>
							</td>
						</tr>
                        <ers:isNotEqual src=".Model.all_regular_first_price_empty" value="true">
						    <tr>
							    <th><ers:label code="regular_first_price" /></th>
                                <td>
                                    <ers:table src=".Model.listPriceDetailRankRecord" name="price_detail_rank_record" record_key="price_detail_rank_record" variable="data">
                                        <ers:isNotEqual src="data.regular_first_price" value="">
                                            <%=data.member_rank_name%>&nbsp;&nbsp;<strong class="m-ERS_IVP_color"><ers:formatCurrency src="data.regular_first_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span><br />
                                        </ers:isNotEqual>
                                    </ers:table>
                                </td>
						    </tr>
                        </ers:isNotEqual>
                        <ers:isNotEqual src=".Model.all_regular_price_empty" value="true">
						    <tr>
							    <th><ers:label code="regular_second_price" /></th>
                                <td>
                                    <ers:table src=".Model.listPriceDetailRankRecord" name="price_detail_rank_record" record_key="price_detail_rank_record" variable="data">
                                        <ers:isNotEqual src="data.regular_price" value="">
                                            <%=data.member_rank_name%>&nbsp;&nbsp;<strong><ers:formatCurrency src="data.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>&nbsp;<span class="point">(20<ers:message code="partial_common_pt" />&nbsp;→&nbsp;<strong class="m-ERS_IVP_color">40<ers:message code="partial_common_pt" /></strong>)<span><br />
                                        </ers:isNotEqual>
                                    </ers:table>
                                </td>
						    </tr>
                        </ers:isNotEqual>

            </ers:isNotEqual>
        </ers:isNotEqual>



					<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
						<ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">
						<tr>
							<th><ers:label code="amount" /></th>
							<td><input class="amount g-imp_w-50 g-txt_r" type="text" value="1" name="amount"></td>
						</tr>
							<tr>
								<th colspan="2" class="border_none">
								<input type="hidden" name="scode" value="<%=.Model.scode%>">
								<input type="submit" name="regular_basket_in" value="<ers:message code='purchase_reg_course' />" class="m-btn m-cart_btn"/>
								</th>
							</tr>
						</ers:isNotEqual>

						<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
							<tr>
								<th colspan="2" class="border_none">
								</th>
							</tr>
							<tr>
								<th colspan="2" class="border_none"><span class="m-btn m-black_btn">Sold Out</span></th>
							</tr>
						</ers:isEqual>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="3" comment="販売期間前に表示します。">
							<tr>
								<th colspan="2" class="border_none">
								</th>
							</tr>
							<tr>
								<th colspan="2" class="border_none"><span class="m-btn m-black_btn"><ers:message code="sales_period_before" /></span></th>
							</tr>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
							<tr>
								<th colspan="2" class="border_none">
								</th>
							</tr>
							<tr>
								<th colspan="2" class="border_none"><span class="m-btn m-black_btn"><ers:message code="sales_period_end" /></span></th>
							</tr>
					</ers:isEqual>
					</table>

</form>

</div>
</div>
<!-- periodical end -->
</ers:isEqual>

<!-- detail_info start -->
<div id="custumer">
	<ers:partial variable=".Model.detail_info_Path">
</div>
<!-- detail_info end -->


<ers:isNotEqual src=".Model.recommendItemCount" value="0" >
<!-- set item start -->
		<h2 class="subtitle"><ers:message code="detail.detail.TitleRecommendedProd" /></h2>
		<div class="m-ERS_recommend clearfix">
	<ers:foreach src=".Model.recommendItems" variable="item">
			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="image_2"><img src="<%=.nor_url%>images/simg/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" /></a></h3>
				<h3 class="title m-wBreak"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />"><%=item.gname%></a></h3>
				<div>
				<table class="detail_recommend">
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th><ers:label code="sale_price" /></th>
                            <td><strike><ers:formatCurrency src="item.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></strike>→<strong class="m-ERS_IVP_color"><ers:formatCurrency src="item.price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th><ers:label code="non_member_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="non_member_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="member_price" />
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
			<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th><ers:label code="regular_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="regular_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="regular_member_price" />
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
				</table>
				<p class="m-wBreak"><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="m-btn m-detail_btn" ><ers:label code="common_view_prod_details" /></a></h4>
			</div>
<ers:isEqual src="item.endline" value="True">
			<br class="release_b">
		</div>
		<div class="m-ERS_recommend">
</ers:isEqual>
</ers:foreach>
			<br class="release_b">
		</div>
<!-- set item end -->
</ers:isNotEqual>



<!-- daily ranking start -->
<ers:partial file="daily_ranking.htm" />
<!-- daily ranking end -->
			<div class="m-ERS_btn g-imp_w-p100 clearfix">
                <ers:isNotEqual src=".list.from_item_list" value="true">
				<p class="arrow02_l_l center"><a href="#" onClick="history.back();return false;" class="m-btn m-back"><ers:label code="common_back" /></a></p>
                </ers:isNotEqual>

                <ers:isEqual src=".list.from_item_list" value="true">
                <p class="arrow02_l_l center"><a href="#" onClick="document.forms.return_list.submit();return false;" class="m-btn m-back"><ers:label code="common_back" /></a></p>
                </ers:isEqual>
			</div>

            <form action="<%=.nor_url%>top/search/asp/list.asp" method="post" name="return_list"></form>

		</section><!-- #content -->

		<!-- sidemenu2 start -->
		<ers:partial file="hint2/detail.htm" />
		<!-- sidemenu2 end -->
	</div><!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

<script>
    $('input[type="button"][value="販売期間終了"]').each(function(){
        var subscription = $(this).val();

        if(subscription == "販売期間終了")
        {
            $('p.wishlist').css('margin-top','25px');
            $('p.wishlist').css('margin-bottom','15px');
          
        }
    });
    $("#soldout").each(function() {
        var subscription = $(this).text();

        if(subscription == "Sold Out")
        {
            $('p.wishlist').css('margin-top','25px');
            $('p.wishlist').css('margin-bottom','15px');
        }
    });


</script>
</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
