﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>お支払いと配送方法の入力 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-dateFormat.min.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/entry.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/cart.js"></script>
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<script src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script type="text/javascript">
	var loadComplete = false;
	//別アドレスが選択されたときの処理
	function selectChange(select_value){
		if(!loadComplete){
			loadComplete = true;
		}else{
			var formObj = document.entry_form;

			if (select_value == 0){
				formObj['add_lname']['value'] = '<%=.Model.add_lname%>';
				formObj['add_fname']['value'] = '<%=.Model.add_fname%>';
				formObj['add_lnamek']['value'] = '<%=.Model.add_lnamek%>';
				formObj['add_fnamek']['value'] = '<%=.Model.add_fnamek%>';
				
	//			formObj['add_compname']['value'] = '<%=.Model.add_compname%>';
	//			formObj['add_compnamek']['value'] = '<%=.Model.add_compnamek%>';
				
				formObj['add_tel']['value'] = '<%=.Model.add_tel%>';
	//			formObj['add_fax']['value'] = '<%=.Model.add_fax%>';
				formObj['add_zip']['value'] = '<%=.Model.add_zip%>';
				formObj['add_pref']['value'] = '<%=.Model.add_pref%>';
				formObj['add_address']['value'] = '<%=.Model.add_address%>';
				formObj['add_taddress']['value'] = '<%=.Model.add_taddress%>';
				formObj['add_maddress']['value'] = '<%=.Model.add_maddress%>';

	<ers:foreach variable="option" src=".Model.addressList">
			}else if (select_value == <%=option.id%>){
				formObj['add_lname']['value'] = '<%=option.add_lname%>';
				formObj['add_fname']['value'] = '<%=option.add_fname%>';
				formObj['add_lnamek']['value'] = '<%=option.add_lnamek%>';
				formObj['add_fnamek']['value'] = '<%=option.add_fnamek%>';
				
	//			formObj['add_compname']['value'] = '<%=option.add_compname%>';
	//			formObj['add_compnamek']['value'] = '<%=option.add_compnamek%>';
				
				formObj['add_tel']['value'] = '<%=option.add_tel%>';
	//			formObj['add_fax']['value'] = '<%=option.add_fax%>';
				formObj['add_zip']['value'] = '<%=option.add_zip%>';
				formObj['add_pref']['value'] = '<%=option.add_pref%>';
				formObj['add_address']['value'] = '<%=option.add_address%>';
				formObj['add_taddress']['value'] = '<%=option.add_taddress%>';
				formObj['add_maddress']['value'] = '<%=option.add_maddress%>';
	</ers:foreach>
			}
		}
	}

    var holidays = {
	<ers:foreach variable="holiday" src=".Model.listHolidays">
        "<ers:formatDate src="holiday" />":{},
	</ers:foreach>
    };
    
    function getHolidays(day) {
        var result;
        var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
        // 祝日・非営業日定義に存在するか？
        if (holiday) {
            result = [false, ""];
        } else {
            result = [true, ""];
        }
        return result;
    }
                
    //カレンダー
	$(function() {
	    $("#datepicker1").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});
	$(function() {
	    $("#datepicker2").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});

    $(function() {
        if ($('#deliv_method2:checked').val() == 2){
               $('#pay4').attr('checked',false); 
               $('#pay4').attr('disabled', 'disabled');
        }
    });

    function deliv_select(value){
        if (value == 2){
            if ($('#pay4:checked').val() == 4){
               $('#pay4').attr('checked',false); 
            }
            $('#pay4').attr('disabled', 'disabled');
            $('#firstTime_0').attr('checked', true);
            $('#firstTime_2').attr('checked', false);
            $('#firstTime_2').attr('disabled', 'disabled');
            $('#datepicker1').val('');
            $('#datepicker1').attr('disabled', 'disabled');
            $('#sendtime').val('0');
            $('#sendtime').attr('disabled', 'disabled');
            $('.ui-datepicker-trigger').hide();
        }
        else
        {
            $('#pay4').removeAttr("disabled");
            $('#firstTime_2').removeAttr("disabled");
            $('#datepicker1').removeAttr("disabled");
            $('#sendtime').removeAttr("disabled");
            $('.ui-datepicker-trigger').show();
        }
    }

    $(function(){
        $(".ERS_back").submit(function(e){
            e.preventDefault();
            e.stopPropagation()
            document.entry_form.action = "entry.asp?eck=2";
            document.entry_form.submit();
            return false;
        });
    });

	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>

<!-- wrapper start -->
<div id="wrapper">

	<!-- header start -->
	<ers:partial file="header.htm" />
	<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

		<!-- contents start -->
		<section id="contents">
			<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;お支払いと配送方法の入力
			</div>

			<!-- breadcrumb navigatione end -->
			<form method="post" action="<%=.sec_url%>top/register/asp/entry3.asp" name="entry_form" id="entry_form">
			
				<!-- flow start -->
				<div id="ERS_flow">
					<img src="<%=.sec_url%>images/flow_cart03.gif" alt="" />
				</div>
				<!-- flow end -->

				<!-- dummy button start -->
				<input type="submit" value="dummy" style="display: none;" name="dummy">
				<!-- dummy button end -->

				<!-- title start -->
				<h2>お支払いと配送方法の入力</h2>
				<!-- title end -->

				<!-- noscript start -->
				<noscript>
					<div class="ERS_noscript">
						<p><ers:message code="common.NoJavaScript" /></p>
					</div>
				</noscript>
				<!-- noscript end -->

				<ers:dispError /><ers:dispInfo />


				<article>
					<div class="table_box">
						<dl class="clearfix">
							<dt class="<ers:isError src="deliv_method"> ERS_IVP_caution</ers:isError>">
								<label for="deliv_method">配送方法</label>
							</dt>
							<dd class="deliv_method">
				                <ers:foreach variable="option" src=".Model.deliv_methodList">
                                    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="3">
				                    <ers:isEqual src=".Model.DisplayedDelvMethod" variable="option.value">
				                        <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								        <label for="deliv_method<%=option.value%>"><%=option.name%></label>
				                    </ers:isEqual>
                                    </ers:isNotEqual>

                                    <ers:isEqual src=".Model.DisplayedDelvMethod" value="3">
                                        <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								        <label for="deliv_method<%=option.value%>"><%=option.name%></label>
                                    </ers:isEqual>
				                    &nbsp;&nbsp;
				                </ers:foreach>
				            </dd>
				        </dl>
				    </div>
				</article>


<ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
	<article>
		<h3>お支払いについて</h3>
		<div class="table_box">
			<dl class="clearfix">
				<dt class="<ers:isError src="pay"> ERS_IVP_caution</ers:isError>">
					<label for="pay">お支払い方法</label>
				</dt>
				<dd><span class="dispError"><ers:dispError src="pay" /></span>
<ers:foreach variable="option" src=".Model.payList">
<ers:isEqual src="option.value" value="PAYPAL">
				<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;
				<label for="pay<%=option.value%>">
				<!-- PayPal Logo -->
				<a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
				<img src="https://www.paypal.com/ja_JP/JP/i/logo/PayPal_mark_37x23.gif" border="0" alt="" style="margin-left: 0.5em;">
				</a>
				<!-- PayPal Logo -->
				</label><br />
</ers:isEqual>
<ers:isNotEqual src="option.value" value="PAYPAL">
    <ers:isEqual src="option.value" value="4">
    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="2">
					<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />

    </ers:isNotEqual>
    </ers:isEqual>

    <ers:isNotEqual src="option.value" value="4">
    				<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />
    </ers:isNotEqual>
</ers:isNotEqual>
</ers:foreach>
				</dd>
			</dl>
		</div>
		<p class="mt10">ギフト等、お受取り人の氏名がご注文者様本人と異なる場合は、クレジットカードによるお支払いのみとさせていただきます。</p>
	</article>

	<ers:isEqual src=".Model.ExistCreditPay" value="true">
		<div id="cardform">
			<ers:isEqual src=".Model.ExistCreditData" value="true">
			<article>
				<h3>▼登録と異なるカードを使用する場合、新たにカード情報を登録してください。</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt><span class="ERS_IVP_color">*</span>登録カード情報</dt>
						<dd>
							****-****-****-<%=.Model.cardno_u4%>
						</dd>
					</dl>
				</div>
			</article>
			</ers:isEqual>

			<h3>クレジットカードでお支払いのお客様はご入力ください。</h3>
			<ers:foreach src=".Model.ListCreditCardInfo" variable="card_info">
			<article>
	            <p style="margin-left:20px;">別のカードを使用する場合は、マイページから「カード情報の変更」をお願いいたします。</p>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="card_id"> ERS_IVP_caution</ers:isError>">
							決済
						</dt>
						<dd><span class="dispError"><ers:dispError src="card_id" /></span>
							<input type="radio" id="card_id" name="card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual>>&nbsp;<label for="card_id">このカードを使用</label><br />
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="card"><span class="ERS_IVP_color">*</span>カード種類</label>
						</dt>
						<dd>
							<%=card_info.card_name%>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="cardno"><span class="ERS_IVP_color">*</span>カード番号(半角数字)</label>
						</dt>
						<dd>
							<%=card_info.card_no%>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="validity_y"><span class="ERS_IVP_color">*</span>有効期限(半角数字)</label>
						</dt>
						<dd>
							<%=card_info.validity_y%>年<%=card_info.validity_m%>月
						</dd>
					</dl>
					<dl class="<ers:isError src="card_save"> ERS_IVP_caution</ers:isError><ers:isError src="del_card_id"> ERS_IVP_caution</ers:isError>">
						<dt>
							<label for="card_save">カード情報の削除</label>
						</dt>
						<dd><span class="del_card_id"><ers:dispError src="del_card_id" /></span>
							<input type="checkbox" id="del_card_id" name="del_card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.del_card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual> />&nbsp;<label for="del_card_id">クレジットカード情報を削除する場合はチェックしてください。</label><br />
	                        <ers:IsEqual src="card_info.hasRegularOrder" value="true">※このカード番号を使用して既にご購入されている定期商品は、今後は今回ご登録いただくカード番号にて決済いたします。</ers:IsEqual>
						</dd>
					</dl>
				</div>
			</article>
			</ers:foreach>

			<ers:isEqual src=".Model.newEntryFlg" value="true">
			<article>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="card_id"> ERS_IVP_caution</ers:isError>">
							決済
						</dt>
						<dd><span class="dispError"><ers:dispError src="card_id" /></span>
							<input type="radio" id="card_id" name="card_id" value=""<ers:isEqual src=".Model.card_id" value=""> checked="checked"</ers:isEqual>>&nbsp;<label for="card_id">このカードを使用</label>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="card"> ERS_IVP_caution</ers:isError>">
							<label for="card"><span class="ERS_IVP_color">*</span>カード種類</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="card" /></span>
							<select id="card" name="card">
								<option value=""></option>
	<ers:foreach variable="option" src=".Model.cardList">
								<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card"> selected="selected"</ers:isEqual>><%=option.name%></option>
	</ers:foreach>
							</select>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="cardno"> ERS_IVP_caution</ers:isError>">
							<label for="cardno"><span class="ERS_IVP_color">*</span>カード番号<br />(半角数字・ハイフン無し)</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="cardno" /></span>
							<input type="text" id="cardno" name="cardno" maxlength="16" value="<%=.Model.cardno%>" />
							<span class="ex">入力例)&nbsp;1111222233334444</span>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="validity_y"> ERS_IVP_caution</ers:isError>"><label for="validity_y"><span class="ERS_IVP_color">*</span>有効期限<br />(半角数字)</label></dt>
						<dd>
							<span class="dispError"><ers:dispError src="validity_y" /><ers:dispError src="validity_m" /></span>
							<input type="text" id="validity_y" name="validity_y" maxlength="4" value="<%=.Model.validity_y%>" />年<input type="text" id="validity_m" name="validity_m" maxlength="2" value="<%=.Model.validity_m%>" />月
						</dd>
					</dl>
	<ers:isNotEqual src=".Model.k_flg" value="3">
					<dl class="<ers:isError src="card_save"> ERS_IVP_caution</ers:isError>">
						<dt>
							<label for="card_save">カード情報の記録</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="card_save" /></span>
							<input type="checkbox" name="card_save" id="card_save" value="1"<ers:isEqual src=".Model.card_save" value="1"> checked="checked"</ers:isEqual> />&nbsp;<label for="card_save">クレジットカード情報を記録する場合はチェックしてください。</label>
						</dd>
					</dl>
	</ers:isNotEqual>
				</div>
			</article>
			</ers:isEqual>
		</div><!-- cardform -->
	</ers:isEqual>

	<div id="conv_list">
	<article>
		<div class="table_box">
			<dl class="<ers:isError src="conv_code"> ERS_IVP_caution</ers:isError>">
				<dt>
					<label for="conv_code">コンビニ選択</label>
				</dt>
				<dd><span class="conv_code"><ers:dispError src="conv_code" /></span>
                    <select id="conv_code" style="width:400px; " name="conv_code">
                        <option value="">選択してください</option>
<ers:foreach variable="option" src=".Model.convenienceList">
					    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
</ers:foreach>
                    </select>
				</dd>
			</dl>
		</div>
	</article>
	</div>
</ers:isNotEqual>

<article>
	<h3>お届け先</h3>
	<div class="table_box">
		<dl class="clearfix">
			<dt class="<ers:isError src="send"> ERS_IVP_caution</ers:isError>"><label for="send">お届け先</label></dt>
			<dd class="end">
				<span class="dispError"><ers:dispError src="send" /></span>
				<select id="send" name="send">
				<ers:foreach variable="entity" src=".Model.sendList">
				<option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.send"> selected="selected"</ers:isEqual>><%=entity.name%></option>
				</ers:foreach>
				</select>
			</dd>
		</dl>
	</div>

	<div id="aaddress">
		<h3>ご依頼主とは別住所にお届けの場合は、お届け先をご入力ください。</h3>
		<div class="table_box">
		<ers:isEqual src=".Model.k_flg" value="1">
			<dl class="clearfix">
				<dt><label for="add_lname">登録した住所</label></dt>
				<dd>
					<span class="dispError"><ers:dispError src="member_add_id" /></span>
					<select id="member_add_id" name="member_add_id">
					<option value=""></option>
					<ers:foreach variable="option" src=".Model.addressList">
					<option value="<%=option.id%>"<ers:isEqual src="option.id" variable=".Model.member_add_id"> selected="selected"</ers:isEqual>><%=option.address_name%></option>
					</ers:foreach>
					</select>
				</dd>
			</dl>
		</ers:isEqual>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_lname"> ERS_IVP_caution</ers:isError>"><label for="add_lname"><span class="ERS_IVP_color">*</span>お名前</label></dt>
			<dd>
				<span class="dispError"><ers:dispError src="add_lname" /><ers:dispError src="add_fname" /></span>
				<label for="add_lname" class="sp_block">　姓<input type="text" id="add_lname" name="add_lname" value="<%=.Model.add_lname%>" /></label>
				<label for="add_fname" class="sp_block">　名<input type="text" id="add_fname" name="add_fname" value="<%=.Model.add_fname%>" /></label>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_lnamek"> ERS_IVP_caution</ers:isError>"><label for="add_lnamek">フリガナ(全角カタカナ)</label></dt>
			<dd>
				<span class="dispError"><ers:dispError src="add_lnamek" /><ers:dispError src="add_fnamek" /></span>
				<label for="add_lnamek" class="sp_block">セイ<input type="text" id="add_lnamek" name="add_lnamek" value="<%=.Model.add_lnamek%>" /></label>
				<label for="add_fnamek" class="sp_block">メイ<input type="text" id="add_fnamek" name="add_fnamek" value="<%=.Model.add_fnamek%>" /></label>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_tel"> ERS_IVP_caution</ers:isError>"><label for="add_tel"><span class="ERS_IVP_color">*</span>電話番号(半角数字)</label></dt>
			<dd>
				<span class="dispError"><ers:dispError src="add_tel" /></span>
				<input type="text" id="add_tel" name="add_tel" value="<%=.Model.add_tel%>" />
				<span class="ex">入力例)&nbsp;0312345678</span>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_zip"> ERS_IVP_caution</ers:isError>"><label for="add_zip"><span class="ERS_IVP_color">*</span>郵便番号(半角数字)</label></dt>
			<dd>
				<span class="dispError"><ers:dispError src="add_zip" /></span>
				<input type="text" id="add_zip" name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" /><a href="" id="zip_flg2" name="zip_flg2" >郵便番号で自動入力</a>
				<p id="add_zip_search_error" class="err" style="display:none"></p>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_pref"> ERS_IVP_caution</ers:isError>"><label for="add_pref"><span class="ERS_IVP_color">*</span>都道府県</label></dt>
			<dd>
				<span class="dispError"><ers:dispError src="add_pref" /></span>
				<select id="add_pref" name="add_pref">
				<option value=""></option>
				<ers:foreach variable="option" src=".Model.prefList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
				</ers:foreach>
				</select>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_address"> ERS_IVP_caution</ers:isError><ers:isError src="add_taddress"> ERS_IVP_caution</ers:isError><ers:isError src="add_maddress"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>住所</dt>
			<dd class="end">
				<div class="add_in<ers:isError src="add_address"> ERS_IVP_caution_none</ers:isError>">
					<span class="dispError"><ers:dispError src="add_address" /></span>
					<label for="add_address">市区町村</label>
					<input type="text" id="add_address" name="add_address" value="<%=.Model.add_address%>" />
				</div>
				<div class="add_in <ers:isError src="add_taddress"> ERS_IVP_caution_none</ers:isError>">
					<span class="dispError"><ers:dispError src="add_taddress" /></span>
					<label for="add_taddress">町名・番地</label>
					<input type="text" id="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" />
				</div>
				<div class="add_in <ers:isError src="add_maddress"> ERS_IVP_caution_none</ers:isError>">
					<span class="dispError"><ers:dispError src="add_maddress" /></span>
					<label for="add_maddress">それ以降の住所</label>
					<input type="text" id="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" />
				</div>
			</dd>
		</dl>

		<ers:isNotEqual src=".Model.k_flg" value="3">
			<dl class="clearfix">
				<dt class="<ers:isError src="address_add"> ERS_IVP_caution</ers:isError><ers:isError src="address_name"> ERS_IVP_caution</ers:isError>"><label for="address_add">別お届け先の追加登録</label></dt>
				<dd>
					<span class="dispError"><ers:dispError src="address_add" /><ers:dispError src="address_name" /></span>
					<label for="address_add">入力した住所を追加登録する</label>&nbsp;<input type="checkbox" id="address_add" name="address_add" value="1"<ers:isEqual src=".Model.address_add" value="1"> checked="checked"</ers:isEqual > /><br />
					<label for="address_name">登録する届け先の呼称</label>&nbsp;<br />
					<input type="text" id="address_name" name="address_name" value="<%=.Model.address_name%>" />
				</dd>
			</dl>
		</ers:isNotEqual>
		</div>
	</div><!-- aaddress -->

</article>

			<ers:isNotEqual src=".CartModel.basketItemCount" value="0">
					<article>
						<ers:partial file="basket_ordinary.htm" partialModel=".CartModel" />
					</article>
					<article>
						<h3>通常購入商品のお届けについて</h3>
						<div class="table_box">
							<dl class="clearfix">
								<dt class="<ers:isError src="senddate"> ERS_IVP_caution</ers:isError>">
									<label for="senddate">お届け希望日</label>
								</dt>
								<dd><span class="dispError"><ers:dispError src="senddate" /></span>
									<input type="radio" id="firstTime_0" name="firstTimeOrdinary" value="0"<ers:isEqual src=".Model.firstTimeOrdinary" value="0"> checked="checked"</ers:isEqual>><label for="firstTime_0">最短でお届け</label><br />
				<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0">
									<input type="radio" id="firstTime_1" name="firstTimeOrdinary" value="1"<ers:isEqual src=".Model.firstTimeOrdinary" value="1"> checked="checked"</ers:isEqual>><label for="firstTime_1">買い物かごの定期初回分とまとめる</label><br />
				</ers:isNotEqual>
									<input type="radio" id="firstTime_2" name="firstTimeOrdinary" value="2"<ers:isEqual src=".Model.firstTimeOrdinary" value="2"> checked="checked"</ers:isEqual>><label for="firstTime_2">お届け日を指定する</label><br />
									<input type="text" class="cal" name="senddate" size="12" id="datepicker1"  value="<ers:formatDate src=".Model.senddate" />">
								</dd>
							</dl>
							<dl class="clearfix">
								<dt class="<ers:isError src="sendtime"> ERS_IVP_caution</ers:isError>">
									<label for="sendtime">お届け希望時間</label></dt>
								<dd><span class="dispError"><ers:dispError src="sendtime" /></span>
									<select id="sendtime" name="sendtime">
			<ers:foreach variable="option" src=".Model.sendtimeList">
									<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
			</ers:foreach>
									</select>
								</dd>
							</dl>
						</div>
					</article>
			</ers:isNotEqual>

			<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0">
			    <ers:partial file="basket_regular.htm" partialModel=".CartModel" />
					<article>
						<h3>定期購入商品のお届けについて</h3>
						<div class="table_box">
					  		<dl class="clearfix">
								<dt class="<ers:isError src="regular_sendtime"> ERS_IVP_caution</ers:isError>">
									<label for="regular_sendtime">お届け希望時間</label></dt>
								<dd class="end">
									<select id="regular_sendtime" name="regular_sendtime">
			<ers:foreach variable="option" src=".Model.sendtimeList">
									<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.regular_sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
			</ers:foreach>
									</select>
								</dd>
							</dl>
						</div>
					</article>
			</ers:isNotEqual>

			<article>
				<h3>ギフトラッピング</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="wrap"> ERS_IVP_caution</ers:isError>">
							<label for="wrap">ギフトラッピング</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="wrap" /></span>
							<label for="wrap">ギフトラッピングを希望する</label><input type="checkbox" id="wrap" name="wrap" value="1"<ers:isEqual src=".Model.wrap" value="1"> checked="checked"</ers:isEqual> />
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="long<ers:isError src="message2"> ERS_IVP_caution</ers:isError>">
							<label for="message2">ギフトメッセージ</label></dt>
						<dd><span class="dispError"><ers:dispError src="message2" /></span>
							<textarea id="memo2" name="memo2" cols="100" rows="14"><%=.Model.memo2%></textarea>
						</dd>
					</dl>
				</div>
			</article>

			<input type="hidden" name="del_key" value="" />
			<input type="hidden" name="del_regular_key" value="" />

			<!-- next start -->
			<div class="ERS_btn clearfix">
				<p class="fl_r arrow01_l_r"><input type="submit" value="次のステップへ進む" name="entry2_submit" class="btn next"/></p>
			</form>
			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form1" class="ERS_back">
				<p class="fl_l arrow02_l_l">
					<input type="submit" value="前の画面に戻る" name="form1" class="btn back"/>
				</p>
			</form>
			</div>
			<!-- next end -->

		</section>
		<!-- contents end -->

		<!-- sidemenu2 start -->
		<ers:partial file="hint2/entry.htm" />
		<!-- sidemenu2 end -->
	</div>
<!-- container end -->

	<!-- footer start-->
	<ers:partial file="footer.htm" />
	<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
