﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ご注文手続きの確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script language="javascript">
	    function zentohan(obj) {
	        if (typeof (obj.value) != "string") return false;
	        var han = '1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@-.,:';
	        var zen = '１２３４５６７８９０ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ＠－．，：';
	        var word = obj.value;
	        for (i = 0; i < zen.length; i++) {
	            var regex = new RegExp(zen[i], "gm");
	            word = word.replace(regex, han[i]);
	        }
	        obj.value = word;
	    }

	    $(function () {
	        $(".ERS_back").submit(function (e) {
	            e.preventDefault();
	            e.stopPropagation()
	            document.entry_form.action = "entry2.asp?eck=2";
	            document.entry_form.submit();
	            return false;
	        });
	    });
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div id="wrapper">

	<!-- header start -->
	<ers:partial file="header.htm" />
	<!-- header end -->

	<!-- container start -->
	<div id="container" class="clearfix">

		<!-- contents start -->
		<section id="contents">
			<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb"><a href="<%=.nor_url%>">HOME</a>＞&nbsp;ご注文内容の確認</div>
			<!-- breadcrumb navigatione end -->

			<!-- flow start -->
			<div id="ERS_flow" class="clearfix"><p><img src="<%=.sec_url%>images/flow_cart04.gif" alt="" /></p></div>
			<!-- flow end -->

			<!-- title start -->
			<h2>ご注文内容の確認</h2>
			<!-- title end -->

			<!-- noscript start -->
			<noscript>
				<div class="ERS_noscript"><p><ers:message code="common.NoJavaScript" /></p></div>
			</noscript>
			<!-- noscript end -->

			<ers:dispError /><ers:dispInfo />

			<form method="post" action="<%=.sec_url%>top/register/asp/entry4.asp" name="entry_form" id="entry_form">
				<article>
					<h3>基本情報</h3>
					<div class="table_box">
						<dl class="clearfix">
							<dt>お名前</dt>
							<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
						</dl>
						<dl class="clearfix">
							<dt>フリガナ</dt>
							<dd><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
						</dl>
						<dl class="clearfix">
							<dt>会社名</dt>
							<dd><%=.Model.compname%></dd>
						</dl>
						<dl class="clearfix">
							<dt>会社名(カナ)</dt>
							<dd><%=.Model.compnamek%></dd>
						</dl>
						<dl class="clearfix">
							<dt>部署名</dt>
							<dd><%=.Model.division%></dd>
						</dl>
						<dl class="clearfix">
							<dt>部署名(カナ)</dt>
							<dd><%=.Model.divisionk%></dd>
						</dl>
						<dl class="clearfix">
							<dt>メールアドレス</dt>
							<dd><%=.Model.email%><br>確認メール受信形式:<%=.Model.w_mformat%></dd>
						</dl>
						<dl class="clearfix">
							<dt>電話番号</dt>
							<dd><%=.Model.tel%></dd>
						</dl>
						<dl class="clearfix">
							<dt>FAX番号</dt>
							<dd><%=.Model.fax%></dd>
						</dl>
						<dl class="clearfix">
							<dt>郵便番号</dt>
							<dd><%=.Model.zip%></dd>
						</dl>
						<dl class="clearfix">
							<dt>都道府県</dt>
							<dd><%=.Model.w_pref%></dd>
						</dl>
						<dl class="clearfix">
							<dt>住所</dt>
							<dd><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></dd>
						</dl>
				<ers:isEqual src=".Model.needPersonalData" value="True">
						<dl class="clearfix">
							<dt>生年月日(西暦)</dt>
							<dd><ers:formatDate src=".Model.birth" value="yyyy年M月d日" /></dd>
						</dl>
						<dl class="clearfix">
							<dt>性別</dt>
							<dd class="end"><%=.Model.w_sex%></dd>
						</dl>
						<dl class="clearfix">
							<dt>職業</dt>
							<dd><%=.Model.w_job%></dd>
						</dl>
				</ers:isEqual>
					</div>
				</article>

				<ers:isEqual src=".Model.k_flg" value="2">
				<article>
					<h3>セキュリティアンサー</h3>
					<div class="table_box">
						<dl class="clearfix">
							<dt>質問</dt>
							<dd><%=.Model.w_ques%></dd>
						</dl>
						<dl class="clearfix">
							<dt>答え</dt>
							<dd class="end"><%=.Model.ans%></dd>
						</dl>
					</div>

					<h3>メルマガ</h3>
					<div class="table_box">
						<dl class="clearfix">
							<dt>メルマガ配信設定</dt>
							<dd class="end"><%=.Model.w_m_flg%></dd>
						</dl>
					</div>
				</article>
				</ers:isEqual>

				<article>
					<h3>配送方法</h3>
					<div class="table_box">
						<dl class="clearfix">
							<dt>配送方法</dt>
							<dd><%=.Model.w_deliv_method%></dd>
						</dl>
					</div>
				</article>

				<article>
					<h3>お支払い方法</h3>
					<div class="table_box">
						<ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
							<dl class="clearfix">
								<dt>お支払い方法</dt>
								<dd><%=.Model.w_pay%></dd>
							</dl>
							<ers:isEqual src=".Model.pay" value="1">
								<ers:isNotEqual src=".Model.card_id" value="">
									<dl class="clearfix">
										<dt>カード種類</dt>
										<dd><%=.Model.savedCardInfo.card_name%></dd>
									</dl>
									<dl class="clearfix">
										<dt>カード番号</dt>
										<dd>************<%=.Model.savedCardInfo.card_no_u4%></dd>
									</dl>
									<dl class="clearfix">
										<dt>有効期限</dt>
										<dd><%=.Model.savedCardInfo.validity_y%>年<%=.Model.savedCardInfo.validity_m%>月</dd>
									</dl>
								</ers:isNotEqual>
								<ers:isEqual src=".Model.card_id" value="">
									<dl class="clearfix">
										<dt>カード種類</dt>
										<dd><%=.Model.w_card%></dd>
									</dl>
									<dl class="clearfix">
										<dt>カード番号</dt>
										<dd>************<%=.Model.cardno_u4%></dd>
									</dl>
									<dl class="clearfix">
										<dt>有効期限</dt>
										<dd><%=.Model.validity_y%>年<%=.Model.validity_m%>月</dd>
									</dl>
									<dl class="clearfix">
										<dt>カード情報の記録</dt>
										<dd><%=.Model.w_card_save%></dd>
									</dl>
								</ers:isEqual>
								<ers:foreach src=".Model.ListDelCreditCardInfo" variable="DelCardInfo">
									<dl class="clearfix">
										<dt>カード情報の削除</dt>
										<dd>削除する</dd>
									</dl>
									<dl class="clearfix">
										<dt>カード種類</dt>
										<dd><%=DelCardInfo.card_name%></dd>
									</dl>
									<dl class="clearfix">
										<dt>カード番号</dt>
										<dd>************<%=DelCardInfo.card_no_u4%></dd>
									</dl>
									<dl class="clearfix">
										<dt>有効期限</dt>
										<dd><%=DelCardInfo.validity_y%>年<%=DelCardInfo.validity_m%>月</dd>
									</dl>
								</ers:foreach>
							</ers:isEqual>

							<ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
								<dl class="clearfix">
									<dt>コンビニ選択</dt>
									<dd><%=.Model.w_conv_code%></dd>
								</dl>
							</ers:isEqual>
						</ers:isNotEqual>
					</div>
				</article>

				<article>
					<h3>お届け先情報</h3>
					<div class="table_box">
						<dl class="clearfix">
							<dt>お届け先</dt>
							<dd class="end"><%=.Model.w_send%></dd>
						</dl>
						<ers:isEqual src=".Model.send" value="2">
							<dl class="clearfix">
								<dt>お名前</dt>
								<dd><%=.Model.add_lname%>&nbsp;&nbsp;<%=.Model.add_fname%></dd>
							</dl>
							<dl class="clearfix">
								<dt>フリガナ</dt>
								<dd><%=.Model.add_lnamek%>&nbsp;&nbsp;<%=.Model.add_fnamek%></dd>
							</dl>
							<dl class="clearfix">
								<dt>電話番号</dt>
								<dd><%=.Model.add_tel%></dd>
							</dl>
							<dl class="clearfix">
								<dt>郵便番号</dt>
								<dd><%=.Model.add_zip%></dd>
							</dl>
							<dl class="clearfix">
								<dt>都道府県</dt>
								<dd><%=.Model.w_add_pref%></dd>
							</dl>
							<dl class="clearfix">
								<dt>住所</dt>
								<dd><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
							</dl>
							<dl class="clearfix">
								<dt>別お届け先の追加登録</dt>
								<dd class="end"><%=.Model.w_address_add%><ers:isNotEqual src=".Model.w_address_add" value="登録しない"><br /><%=.Model.address_name%></ers:isNotEqual></dd>
							</dl>
						</ers:isEqual>
					</div>
				</article>

				<h3>クーポンの利用</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>クーポン利用</dt>
						<dd class="end"><span class="dispError"><ers:dispError src="ent_coupon_code" /></span>
							<input type="text" id="coupon_code" name="ent_coupon_code" value="<%=.Model.validated_ent_coupon_code%>" onblur="zentohan(this);" />
						    <input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
							<input type="submit" id="coupon_flg" value="再計算" name="coupon_flg" class="btn02 black_btn Recalculation" />
						</dd>
					</dl>
				</div>

			<ers:isEqual src=".Model.k_flg" value="MEMBER">
				<h3>ポイントの利用</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>利用ポイント</dt>
						<dd class="end"><span class="dispError"><ers:dispError src="ent_point" /></span>
						    お客様の現在ご利用可能ポイントは、<%=.Model.point %> ポイントになります<br />
							<input type="text" id="ent_point" name="ent_point" value="<%=.Model.ent_point%>" />
						    <input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
							<input type="submit" id="point_flg" value="再計算" name="point_flg" class="btn02 black_btn Recalculation" />
						</dd>
					</dl>
				</div>
			</ers:isEqual>

			<h3>ギフトラッピング</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt>ギフトラッピング</dt>
					<dd><%=.Model.w_wrap%></dd>
				</dl>
			<ers:isNotEqual src=".Model.memo2" value="">
				<dl class="clearfix">
					<dt>ギフトメッセージ</dt>
					<dd><ers:multiLine src=".Model.memo2" /></dd>
				</dl>
			</ers:isNotEqual>
			</div>

				<!-- orderrecord start -->
				<ers:partial file="orderrecord.htm" />
				<!-- orderrecord end -->

				<!-- orderkingaku start -->
				<ers:partial file="orderkingaku_register.htm" />
				<!-- orderkingaku end -->

				<!-- next start -->
				<div class="ERS_btn clearfix">
					<p class="fl_r arrow01_l_r"><input type="submit" value="注文を確定する" id="image1" name="entry3_submit" class="btn next"/></p>
			</form>
					<form method="post" action="<%=.sec_url%>top/register/asp/entry2.asp" id="form1" name="form1" class="ERS_back">
						<p class="fl_l arrow02_l_l">
							<input type="submit" value="前の画面に戻る" name="back_to_input" class="btn back"/>
						</p>
					</form>
				</div>
				<!-- next end -->
		</section>
		<!-- contents end -->

		<!-- sidemenu2 start -->
		<ers:partial file="hint2/entry2.htm" />
		<!-- sidemenu2 end -->

	</div>
	<!-- container end -->

	<!-- footer start-->
	<ers:partial file="footer.htm" />
	<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
