<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ご注文手続きの入力 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/entry.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jquery.color.js"></script>
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jCal.0.3.6/jquery.animate.clip.js"></script>
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jCal.0.3.6/jCal.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<%=.sec_url%>js/jCal.0.3.6/jCal.css">
	<script language="javascript">
	//年プルダウンデフォルトフォーカス
	function defaultFocus(obj) {
	    if (obj.selectedIndex == 0) {
	        obj.value = <%=.Model.tgt_user_born %>;
	    }
	}
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

			<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;個人情報の入力
			</div>
			<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow">
			<img src="<%=.sec_url%>images/flow_cart02.gif" alt="" />
		</div>
<!-- flow end -->

	<form method="post" action="<%=.sec_url%>top/register/asp/entry2.asp" name="entry_form">
	
<!-- dummy button start -->
		<input type="submit" value="dummy" style="display: none;" name="dummy">
<!-- dummy button end -->

<!-- title start -->
			<h2>個人情報の入力</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
			<article>
				<h3>ご登録者、ご依頼主<span class="ERS_IVP_color">(*は必須項目です。<ers:isEqual src=".Model.k_flg" value="1">変更された場合はご登録済みの情報も更新されます。</ers:isEqual>）</span></h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="lname"> ERS_IVP_caution</ers:isError><ers:isError src="fname"> ERS_IVP_caution</ers:isError>">
							<label for="lname"><span class="ERS_IVP_color">*</span>お名前</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
						<label for="lname" class="sp_block">　姓<input id="lname" type="text" name="lname" value="<%=.Model.lname%>"></label>
						<label for="fname" class="sp_block">　名<input id="fname" type="text" name="fname" value="<%=.Model.fname%>"></label></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="lnamek"> ERS_IVP_caution</ers:isError><ers:isError src="fnamek"> ERS_IVP_caution</ers:isError>">
							<label for="lnamek"><span class="ERS_IVP_color">*</span>フリガナ(全角カタカナ)</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="lnamek" /><ers:dispError src="fnamek" /></span>
						<label for="lnamek" class="sp_block">セイ<input id="lnamek" type="text" name="lnamek" value="<%=.Model.lnamek%>"></label>
						<label for="fnamek" class="sp_block">メイ<input id="fnamek" type="text" name="fnamek" value="<%=.Model.fnamek%>"></label></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="compname"> ERS_IVP_caution</ers:isError>">
							<label for="compname">会社名</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="compname" /></span>
						<input id="compname" type="text" name="compname" value="<%=.Model.compname%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="compnamek"> ERS_IVP_caution</ers:isError>">
							<label for="compnamek">会社名フリガナ(全角カタカナ)</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="compnamek" /></span>
						<input id="compnamek" type="text" name="compnamek" value="<%=.Model.compnamek%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="division"> ERS_IVP_caution</ers:isError>">
							<label for="division">部署名</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="division" /></span>
						<input id="division" type="text" name="division" value="<%=.Model.division%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="divisionk"> ERS_IVP_caution</ers:isError>">
							<label for="divisionk">部署名フリガナ(全角カタカナ)</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="divisionk" /></span>
						<input id="divisionk" type="text" name="divisionk" value="<%=.Model.divisionk%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email"> ERS_IVP_caution</ers:isError>"><label for="email"><span class="ERS_IVP_color">*</span>メールアドレス<br>(半角英数字)</label></dt>
						<dd class="end">
							<div class="add_in">
								<span class="dispError"><ers:dispError src="email" /></span>
								<input type="text" id="email" name="email" value="<%=.Model.email%>">
							</div>
							<div class="add_in">
								<label for="mformat">確認メール受信形式</label>
								<select id="mformat" name="mformat">
									<ers:foreach variable="option" src=".Model.mformatList">
										<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mformat"> selected="selected"</ers:isEqual>><%=option.name%></option>
									</ers:foreach>
								</select>
							</div>
						</dd>
					</dl>

					<dl class="clearfix">
						<dt class="<ers:isError src="email_confirm"> ERS_IVP_caution</ers:isError>"><label for="email_confirm"><span class="ERS_IVP_color">*</span>メールアドレス確認<br>(半角英数字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="email_confirm" /></span>
						確認のため、再度ご入力ください。<br />
						<input type="text" id="email_confirm" name="email_confirm" value="<%=.Model.email_confirm%>"></dd>
					</dl>

					<dl class="clearfix">
						<dt class="<ers:isError src="tel"> ERS_IVP_caution</ers:isError>"><label for="tel"><span class="ERS_IVP_color">*</span>電話番号(半角数字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="tel" /></span>
						<input type="text" id="tel" name="tel" value="<%=.Model.tel%>">
						<span class="ex">入力例)&nbsp;0312345678</span></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="fax"> ERS_IVP_caution</ers:isError>"><label for="fax">FAX番号(半角数字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="fax" /></span>
						<input type="text" id="fax" name="fax" value="<%=.Model.fax%>">
						<span class="ex">入力例)&nbsp;0312345678</span></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="zip"> ERS_IVP_caution</ers:isError>"><label for="zip"><span class="ERS_IVP_color">*</span>郵便番号(半角数字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="zip" /></span>
						<input type="text" id="zip" name="zip" maxlength="15" value="<%=.Model.zip%>">&nbsp;
<a href="" id="zip_flg1" name="zip_flg1" >郵便番号で自動入力</a>
                        <p id="zip_search_error" class="err" style="display:none"></p>
                        </dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="pref"> ERS_IVP_caution</ers:isError>"><label for="pref"><span class="ERS_IVP_color">*</span>都道府県</label></dt>
						<dd><span class="dispError"><ers:dispError src="pref" /></span>
						<select id="pref" name="pref">
						<option value=""></option>
						<ers:foreach variable="option" src=".Model.prefList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
						</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="add_in<ers:isError src="address"> ERS_IVP_caution</ers:isError><ers:isError src="taddress"> ERS_IVP_caution</ers:isError><ers:isError src="maddress"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>住所</dt>
						<dd class="end">
							<div class="add_in<ers:isError src="address"> ERS_IVP_caution_none</ers:isError>">
								<span class="dispError"><ers:dispError src="address" /></span>
								<label for="address">市区町村</label>
								<input type="text" id="address" name="address" value="<%=.Model.address%>" />
							</div>
							<div class="add_in <ers:isError src="taddress"> ERS_IVP_caution_none</ers:isError>">
								<span class="dispError"><ers:dispError src="taddress" /></span>
								<label for="taddress">町名・番地</label>
								<input type="text" id="taddress" name="taddress" value="<%=.Model.taddress%>" />
							</div>
							<div class="add_in <ers:isError src="maddress"> ERS_IVP_caution_none</ers:isError>">
								<span class="dispError"><ers:dispError src="maddress" /></span>
								<label for="maddress">それ以降の住所</label>
								<input type="text" id="maddress" name="maddress" value="<%=.Model.maddress%>" />
							</div>
						</dd>
					</dl>
				</div>
			</article>
		<ers:isEqual src=".Model.needPersonalData" value="True">
			<article>
				<h3>ご自身に関して</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="birthday_y"> ERS_IVP_caution</ers:isError>"><label for="birthday_y">生年月日</label></dt>
						<dd><span class="dispError"><ers:dispError src="birthday_y" /><ers:dispError src="birthday_m" /><ers:dispError src="birthday_d" /></span>
						<span class="sp_block"><select id="birthday_y" name="birthday_y" onfocus="defaultFocus(this)">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_yList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
</ers:foreach>
						</select>年</span><select id="birthday_m" name="birthday_m">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_mList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>月<select id="birthday_d" name="birthday_d">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_dList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>日</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="sex"> ERS_IVP_caution</ers:isError>"><label for="sex">性別</label></dt>
						<dd><span class="dispError"><ers:dispError src="sex" /></span>
						<select id="sex" name="sex">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.sexList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sex"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="job"> ERS_IVP_caution</ers:isError>"><label for="job">職業</label></dt>
						<dd><span class="dispError"><ers:dispError src="job" /></span>
						<select id="job" name="job">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.jobList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.job"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
		<ers:isEqual src=".Model.k_flg" value="2">
			<article>
				<h3>パスワード等<span class="ERS_IVP_color">(*は必須項目です。)</span></h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="passwd"> ERS_IVP_caution</ers:isError>"><label for="password1"><span class="ERS_IVP_color">*</span>パスワード<br>(半角英数字 6～10文字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="passwd" /></span>
						<input type="password" id="password1" name="passwd" value="" autocomplete="off" /></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="passwd_confirm"> ERS_IVP_caution</ers:isError>"><label for="password2"><span class="ERS_IVP_color">*</span>パスワード確認<br>(半角英数字 6～10文字)</label></dt>
						<dd><span class="dispError"><ers:dispError src="passwd_confirm" /></span>
						確認のため、再度ご入力ください。<br /><input type="password" id="password2" name="passwd_confirm" value="" autocomplete="off" /></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="ques"> ERS_IVP_caution</ers:isError>"><label for="ques"><span class="ERS_IVP_color">*</span>セキュリティーアンサー：質問</label></dt>
						<dd><span class="dispError"><ers:dispError src="ques" /></span>
						<select id="ques" name="ques" class="align_l">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.quesList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="ans"> ERS_IVP_caution</ers:isError>"><label for="ans"><span class="ERS_IVP_color">*</span>セキュリティーアンサー：答え<br>(全角カタカナ)</label></dt>
						<dd><span class="dispError"><ers:dispError src="ans" /></span>
						<input type="text" id="ans" name="ans" value="<%=.Model.ans%>"></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
		<ers:isEqual src=".Model.k_flg" value="2">
			<article>
				<h3>メルマガ</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="m_flg"> ERS_IVP_caution</ers:isError>">メルマガ配信設定(PC)</dt>
						<dd><span class="dispError"><ers:dispError src="m_flg" /></span>
						<ers:foreach variable="option" src=".Model.m_flgList">
						<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual >>&nbsp;<label for="m_flg<%=option.value%>"><%=option.name%></label>
						</ers:foreach></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
			<article>
				<h3>個人情報の取扱いについて</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="long<ers:isError src="pri_chk"> ERS_IVP_caution</ers:isError>">個人情報の取扱いについて</dt>
						<dd><span class="dispError"><ers:dispError src="pri_chk" /></span>
						<span class="summarry">「<a href="<%=.nor_url%>privacy.html" target="_blank">プライバシーポリシー</a>」と、「<a href="<%=.nor_url%>agreement.html" target="_blank">会員規約</a>」にご同意いただきましたら、<br>「同意する」にチェックを入れ次のステップへお進みください。</span>
						<textarea cols="100" rows="14"><%=.Model.pri_memo%></textarea>
						<span class="check_box"><label for="pri_chk"><input type="checkbox" id="pri_chk" name="pri_chk" value="1" <ers:isEqual src=".Model.pri_chk" value="1"> checked="checked"</ers:isEqual>>&nbsp;同意する</label></span>
						</dd>
					</dl>
				</div>
			</article>
<!-- table end -->

<div class="bandn">

<!-- next start -->
		<div class="ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%><%=.cart_url%>" class="btn back">前の画面に戻る</a></p>
			<p class="arrow01_l_r"><input type="submit" value="次のステップへ進む" name="entry_submit" class="btn next"/></p>
		</div>
<!-- next end -->

<br class="release_b" />

</div>
	</form>

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/entry.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<!-- eco-tag start -->
<ers:partial file="eco_tag.htm" />
<!-- eco-tag end -->

</body>
</html>
