<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ご注文手続きの完了 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p class="none"><a href="<%=.nor_url%>">HOME</a>＞&nbsp;ご注文完了</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div id="ERS_flow" class="clearfix">
				<p><img src="<%=.sec_url%>images/flow_cart05.gif" alt="" /></p>
			</div>


<!-- title start -->
			<h2>ご注文完了</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- box start -->
	<div id="ERS_box">
		<p>お買い上げ誠にありがとうございます。</p>
<ers:isEqual src=".Model.overseas_shipping" value="true">
        <p>海外発送の場合の送料は概算です。</p>
        <p>送料は正式に決まり次第改めてご連絡致します。</p>
</ers:isEqual>
<ers:isEqual src=".Model.overseas_shipping" value="false">
		<p>商品の到着まで今しばらくお待ち下さい。</p>
</ers:isEqual>
		<p><ers:multiLine src=".Model.pay_memo"></ers:multiLine></p>
	</div>
<!-- box end -->
			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.nor_url%>" class="btn back">ホームへ戻る</a></p>
			</div>

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/entry3.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
