<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>会員情報の確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">


<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;会員情報の確認
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div id="ERS_flow">
				<img src="<%=.sec_url%>images/flow_member_entry02.gif" alt="" />
			</div>

<!-- title start -->
			<h2>会員情報の確認</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
			<article>
				<h3>会員情報</h3>
				<div class="table_box">
				<dl class="clearfix">
					<dt>お名前</dt>
					<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>フリガナ</dt>
					<dd><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>会社名</dt>
					<dd><%=.Model.compname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>会社名（カナ）</dt>
					<dd><%=.Model.compnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>部署名</dt>
					<dd><%=.Model.division%></dd>
				</dl>
				<dl class="clearfix">
					<dt>部署名（カナ）</dt>
					<dd><%=.Model.divisionk%></dd>
				</dl>
				<dl class="clearfix">
					<dt>メールアドレス</dt>
					<dd><%=.Model.email%><br>確認メール受信形式:<%=.Model.w_mformat%></dd>
				</dl>
				<dl class="clearfix">
					<dt>電話番号</dt>
					<dd><%=.Model.tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt>FAX番号</dt>
					<dd><%=.Model.fax%></dd>
				</dl>
				<dl class="clearfix">
					<dt>郵便番号</dt>
					<dd><%=.Model.zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt>都道府県</dt>
					<dd><%=.Model.w_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt>住所</dt>
					<dd><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></dd>
				</dl>
				<dl class="clearfix">
					<dt>生年月日(西暦)</dt>
					<dd><ers:formatDate src=".Model.birth" value="yyyy年M月d日" /></dd>
				</dl>
				<dl class="clearfix">
					<dt>性別</dt>
					<dd><%=.Model.w_sex%></dd>
				</dl>
				<dl class="clearfix">
					<dt>職業</dt>
					<dd><%=.Model.w_job%></dd>
				</dl>
				</div>
			</article>
			<article>
				<h3>セキュリティアンサー</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>質問</dt>
						<dd><%=.Model.w_ques%></dd>
					</dl>
					<dl class="clearfix">
						<dt>答え</dt>
						<dd><%=.Model.ans%></dd>
					</dl>
				</div>
			</article>
			<article>
				<h3>メルマガ</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>メルマガ配信設定</dt>
						<dd><%=.Model.w_m_flg%></dd>
					</dl>
				</div>
			</article>
<!-- table start -->

			<div class="ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>top/register/asp/member_entry3.asp" name="form1">
					<p class="arrow01_l_r"><input type="submit" value="登録する" class="btn next"/></p>
				</form>
				<form method="post" action="<%=.sec_url%>/top/register/asp/member_entry.asp" name="form2">
					<p class="arrow02_l_l"><input type="submit" value="前の画面に戻る" class="btn back" /></p>
				</form>
			</div>

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/member_entry2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
