﻿<!-- Amazon start -->
	<div class="ERS_table">
			<table class="length">
				<tr>
					<th><ers:label code="site_name" /></th>
					<td>
						<input class="w_440" id="amazon_shop_name" type="text" name="amazon_shop_name" value="<%=.Model.amazon_shop_name%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="merch_id" /></th>
					<td>
						<input class="w_440" id="amazon_merchant_id" type="text" name="amazon_merchant_id" value="<%=.Model.amazon_merchant_id%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="marketplace_id" /></th>
					<td>
						<input class="w_440" id="amazon_marketplace_id" type="text" name="amazon_marketplace_id" value="<%=.Model.amazon_marketplace_id%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="access_id" /></th>
					<td>
						<input class="w_440" id="amazon_accesskey_id" type="text" name="amazon_accesskey_id" value="<%=.Model.amazon_accesskey_id%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="secret_access_key" /></th>
					<td>
						<input class="w_440" id="amazon_secret_accesskey" type="text" name="amazon_secret_accesskey" value="<%=.Model.amazon_secret_accesskey%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="amazon_mail_from" /></th>
					<td>
						<input class="w_440" id="amazon_mail_from" type="text" name="amazon_mail_from" value="<%=.Model.amazon_mail_from%>" />
					</td>
				</tr>
			</table>
	</div>
<!-- Amazon end -->
