﻿<!-- Rakuten start -->
	<div class="ERS_table">
			<table class="length">
				<tr>
					<th><ers:label code="site_name" /></th>
					<td>
						<input class="w_440" id="rakuten_shop_name" type="text" name="rakuten_shop_name" value="<%=.Model.rakuten_shop_name%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mall_shop_name" /></th>
					<td>
						<input class="w_440" id="rakuten_mall_shop_name" type="text" name="rakuten_mall_shop_name" value="<%=.Model.rakuten_mall_shop_name%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mall_shop_url" /></th>
					<td>
						<input class="w_440" id="Text1" type="text" name="rakuten_mall_shop_url" value="<%=.Model.rakuten_mall_shop_url%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_host" /></th>
					<td>
						<input class="w_440" id="rakuten_ftp_host" type="text" name="rakuten_ftp_host" value="<%=.Model.rakuten_ftp_host%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_user" /></th>
					<td>
						<input class="w_440" id="rakuten_ftp_user" type="text" name="rakuten_ftp_user" value="<%=.Model.rakuten_ftp_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_pass" /></th>
					<td>
						<input class="w_440" id="rakuten_ftp_pass" type="password" name="rakuten_ftp_pass" value="<%=.Model.rakuten_ftp_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_pass_last_changed" /></th>
					<td>
						<ers:formatDate src=".Model.rakuten_ftp_pass_utime" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_use_webapi" /></th>
					<td>
                        <input id="rakuten_use_webapi" type="checkbox" name="rakuten_use_webapi" value="1"<ers:isEqual src=".Model.rakuten_use_webapi" value="1"> checked="checked"</ers:isEqual> />
					</td>
				</tr>
				<tr>
					<th><ers:label code="webapi_user_id" /></th>
					<td>
						<input class="w_440" id="rakuten_webapi_user" type="text" name="rakuten_webapi_user" value="<%=.Model.rakuten_webapi_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="webapi_store_url" /></th>
					<td>
						<input class="w_440" id="rakuten_webapi_url" type="text" name="rakuten_webapi_url" value="<%=.Model.rakuten_webapi_url%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="webapi_auth_key" /></th>
					<td>
						<input class="w_440" id="rakuten_webapi_auth_key" type="text" name="rakuten_webapi_auth_key" value="<%=.Model.rakuten_webapi_auth_key%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="webapi_auth_key_update" /></th>
					<td>
						<ers:formatDate src=".Model.rakuten_webapi_auth_key_utime" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="r_login_user" /></th>
					<td>
						<input class="w_440" id="rakuten_rlogin_user" type="text" name="rakuten_rlogin_user" value="<%=.Model.rakuten_rlogin_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="r_login_pass" /></th>
					<td>
						<input class="w_440" id="rakuten_rlogin_pass" type="password" name="rakuten_rlogin_pass" value="<%=.Model.rakuten_rlogin_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="r_login_pass_update" /></th>
					<td>
						<ers:formatDate src=".Model.rakuten_rlogin_pass_utime" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_account_user" /></th>
					<td>
						<input class="w_440" id="rakuten_account_user" type="text" name="rakuten_account_user" value="<%=.Model.rakuten_account_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_account_pass" /></th>
					<td>
						<input class="w_440" id="rakuten_account_pass" type="password" name="rakuten_account_pass" value="<%=.Model.rakuten_account_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mail_from" /></th>
					<td>
						<input class="w_440" id="rakuten_mail_from" type="text" name="rakuten_mail_from" value="<%=.Model.rakuten_mail_from%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mail_host" /></th>
					<td>
						<input class="w_440" id="rakuten_mail_host" type="text" name="rakuten_mail_host" value="<%=.Model.rakuten_mail_host%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mail_port" /></th>
					<td>
						<input class="w_440" id="rakuten_mail_port" type="text" name="rakuten_mail_port" value="<%=.Model.rakuten_mail_port%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mail_auth_id" /></th>
					<td>
						<input class="w_440" id="rakuten_mail_auth_id" type="text" name="rakuten_mail_auth_id" value="<%=.Model.rakuten_mail_auth_id%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="rakuten_mail_auth_pass" /></th>
					<td>
						<input class="w_440" id="rakuten_mail_auth_pass" type="password" name="rakuten_mail_auth_pass" value="<%=.Model.rakuten_mail_auth_pass%>" />
					</td>
				</tr>
			</table>
	</div>
<!-- Rakuten end -->
