﻿<!-- Yahoo! start -->
        
	<div class="ERS_table">
			<table class="length">
				<tr>
					<th><ers:label code="site_name" /></th>
					<td>
						<input class="w_440" id="yahoo_shop_name" type="text" name="yahoo_shop_name" value="<%=.Model.yahoo_shop_name%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_mall_shop_name" /></th>
					<td>
                        <input class="w_440" id="yahoo_mall_shop_name" type="text" name="yahoo_mall_shop_name" value="<%=.Model.yahoo_mall_shop_name%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_host" /></th>
					<td>
                        <input class="w_440" id="yahoo_ftp_host" type="text" name="yahoo_ftp_host" value="<%=.Model.yahoo_ftp_host%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_user" /></th>
					<td>
                        <input class="w_440" id="yahoo_ftp_user" type="text" name="yahoo_ftp_user" value="<%=.Model.yahoo_ftp_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="ftp_pass" /></th>
					<td>
                        <input class="w_440" id="yahoo_ftp_pass" type="password" name="yahoo_ftp_pass" value="<%=.Model.yahoo_ftp_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_api_account" /></th>
					<td>
                        <input class="w_440" id="yahoo_api_account" type="text" name="yahoo_api_account" value="<%=.Model.yahoo_api_account%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_business_user" /></th>
					<td>
                        <input class="w_440" id="yahoo_business_user" type="text" name="yahoo_business_user" value="<%=.Model.yahoo_business_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_business_pass" /></th>
					<td>
                        <input class="w_440" id="yahoo_business_pass" type="password" name="yahoo_business_pass" value="<%=.Model.yahoo_business_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_account_user" /></th>
					<td>
                        <input class="w_440" id="yahoo_account_user" type="text" name="yahoo_account_user" value="<%=.Model.yahoo_account_user%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_account_pass" /></th>
					<td>
                        <input class="w_440" id="yahoo_account_pass" type="password" name="yahoo_account_pass" value="<%=.Model.yahoo_account_pass%>" />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_mall_exists_payment_data" /></th>
					<td>
                        <input id="yahoo_exists_payment_data" type="checkbox" name="yahoo_exists_payment_data" value="1"<ers:isEqual src=".Model.yahoo_exists_payment_data" value="1"> checked="checked"</ers:isEqual> />
					</td>
				</tr>
				<tr>
					<th><ers:label code="yahoo_mail_from" /></th>
					<td>
                        <input class="w_440" id="yahoo_mail_from" type="text" name="yahoo_mail_from" value="<%=.Model.yahoo_mail_from%>" />
					</td>
				</tr>
			</table>
	</div>
<!-- Yahoo! end -->
