.calendar-box {
	display:none;
	background-color:#fff;
	border:1px solid #444;
	position:absolute;
	width:250px;
	padding: 0 5px;
	z-index:1;
}
.calendar-box select.calendar-month {
	width:90px;
	margin-right:5px;
}
.calendar-box select.calendar-year {
	width:70px;
}
.calendar-box .calendar-cancel {
	width:100px;
}
.calendar-box table td {
	width:14%;
}
.calendar-box .calendar-title {
	text-align:center;
}
.calendar-box a {
	text-decoration:none;
	color:Black;
	font-size:14px;
}
.calendar-box .today a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#1049A9;
	color:White;
} 
.calendar-box .selected a {
	padding:0 5px;
	margin-left:-5px;
	background-color:#679ED2;
	color:White;
}
