﻿.Operators table{
	margin:0 auto 0 0;
}
#Whole #MiddleZone{
	padding: 5px 25px 5px 25px;
}

.Operators .email_from{
	width:600px;
}

.Operators .email_from th{
	width:80px;
}

#email_from_name,
#email_from{
	width:400px;
}


.Operators .escalation_table{
	width:600px;
}

.Operators .escalation_table th{
	width:100px;
}
