﻿#Contact
{
	width: 100%;
	height: 100%;
}

#Contact table.ContactLayout
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#Contact table.ContactLayout td.MemberLayout
{
	width: 410px;
	height: 330px;
}

#Contact table.ContactLayout td.ListLayout
{
	width: 410px;
}

#Contact table.ContactLayout td.MainLayout
{
}

#Contact table.ContactLayout td.MemberLayout>div,
#Contact table.ContactLayout td.ListLayout>div,
#Contact table.ContactLayout td.MainLayout>div
{
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* 共通 */
#Contact .ButtonList
{
	margin-top:10px;
	margin-bottom:10px;
}

#Contact h3
{
	margin-top:0px;
}

.CaseForContact textarea
{
	width: 680px;
}

/* MemberDetailForContact */
.MemberDetailForContact table
{
	width: 100%;
	min-width: 390px;
	margin: 0px;
	border-collapse: collapse;
	clear: both;
}

.MemberDetailForContact table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
	width: 110px;
}

.MemberDetailForContact table>tbody>tr>td
{
	/*background: none;*/
	border: 1px solid #CCC;
	padding: 3px;
}

.MemberDetailForContact table>tbody>tr>td.address
{
	line-height:1.9;
}
.MemberDetailForContact table>tbody>tr>td.address span
{
	display:inline-block;
	width:8em;
	text-align:right;
	padding:0 3px 0 0;
}
.MemberDetailForContact #address,
.MemberDetailForContact #taddress,
.MemberDetailForContact #maddress
{
	width:66%;
}


/* CaseListForContact */
.CaseListForContact .NewThread
{
	text-align: right;
	margin-bottom: 5px;
}

.CaseListForContact table
{
	width: 100%;
	min-width: 390px;
	margin: 0px;
	border-collapse: collapse;
	clear: both;
}

.CaseListForContact .Paging .ERS_page_send strong
{
	display:block;
	margin-top:-30px;
	padding:0 0 0 5px;
	text-align:left;
}

.CaseListForContact .Paging .ERS_page_send div
{
	padding:8px 0 0 0;
}

div.CaseListForContact table>tbody>tr>th
{
	padding:5px;
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
}

div.CaseListForContact table>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 5px;
}

.CaseListForContact table>tbody>tr>td.category
{
	padding:5px 12px 5px 12px;
	line-height:2;
}

.CaseListForContact table>tbody>tr>th.case_name
{
	width:100px;
}

.CaseListForContact .CaseDetailHeader
{
	height: 18px;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

.CaseListForContact .CaseDetailFooter
{

}


/* CaseForContact */
.CaseForContact .CaseHeader
{
	margin:5px 5px 5px 5px;
}

.CaseForContact .FaqLink
{
	width: 750px;
	text-align: right;
}

.CaseForContact .CaseHeader>table,
.CaseForContact .panes>table
{
	width: 750px;
	margin: 0px;
	border-collapse: collapse;
	clear: both;
}

.CaseForContact .CaseHeader>table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
	width: 175px;
}

.CaseForContact .panes>table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
	width: 100px;
}

.CaseForContact .CaseHeader>table>tbody>tr>td,
.CaseForContact .panes>table>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 3px;
}

.CaseForContact .panes>table
{
	width: 730px;
}

.CaseForContact .CaseHeader .case-category-list
{
	clear: both;
	height: 40px;
	border-bottom: 1px solid #CCC;
	margin-top: 5px;
}

.CaseForContact .CaseHeader .case-category-list-bottom
{
	border-bottom: none;
}

.CaseForContact .CaseHeader .case-category-list .case-category
{
	float: left;
	margin-left:15px;
}

/* Merge */
.Merge
{
}

.Merge table
{
	width: 530px;
	margin: 0 0 0 30px;
	border-collapse: collapse;
	clear: both;
}

.Merge table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
}

.Merge table>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 3px;
}

.Merge table>tbody>tr>td.Button
{
	background: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding: 10px;
	text-align: center;
}

.Merge table.Reference
{
	margin-top: 15px;
}

.Merge .Complete
{
	text-align: center;
}

.Merge .Complete .RegistMessage
{
	display: block;
	font-weight: bold;
	font-size: 14px;
	margin-top: 40px;
	margin-bottom: 20px;
}


/* FaqTemplate */
.FaqTemplate
{
}

.FaqTemplate table
{
	width: 500px;
	margin: 0 0 0 30px;
	border-collapse: collapse;
	clear: both;
}

.FaqTemplate table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
}

.FaqTemplate table>tbody>tr>td
{
	background: none;
	border-bottom: 1px solid #CCC;
	padding: 3px;
}

.FaqTemplate table>tbody>tr>td.Button
{
	background: none;
	border-bottom: none;
	padding: 10px;
	text-align: center;
}

