﻿.calendar
{
}

.calendar-back,
.calendar-main,
.calendar-next
{
	float: left;
}

.calendar-back,
.calendar-next
{
	/*width: 50px;*/
}

.calendar-month
{
	/*width: 400px;
	padding: 10px;*/
}

.calendar-month .month-name
{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.calendar-month .week-name,
.calendar-month .day,
.calendar-month .pday,
.calendar-month .nday
{
	float: left;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #eeeeee;
	text-align: center;
	width: 50px;
	font-size: 10px;
}

.calendar-month .week-name
{
	height: 30px;
	line-height: 30px;
	background-color: #eeeeee;
}

.calendar-month .weekline
{
	clear: both;
}

.calendar-month .day
{
	height: 50px;
	background-color: #ffffff;
}

.calendar-month .day a
{
	display: block;
	width: 50px;
	height: 50px;
	background-color: #ccff99;
	text-decoration: none;
	color: #333;
}
.calendar-month .day a:hover
{
	background-color: #ddffcc;
}

.calendar-month .day a.unread
{
	background-color: #ffcccc;
}

.calendar-month .day a.unread:hover
{
	background-color: #ffdddd;
}

.calendar-month .day .day-number
{
	font-size: 12px;
	font-weight: bold;
	color: #666;
}

.calendar-month .week0 .day-number
{
	color: #ff0000;
}

.calendar-month .week6 .day-number
{
	color: #3333ff;
}

.calendar-month .today .day-number
{
	background-color: #3366cc;
	color: #ffffff;
}

.calendar-month .day div.unread
{
	width: 20px;
	text-align: center;
	border-bottom: 1px solid #666666;
	margin: 5px auto 2px auto;
	padding-bottom: 2px;
}

.calendar-month .day .total
{
	width: 20px;
	text-align: center;
	margin: 0 auto;
}

.calendar-month .pday,
.calendar-month .nday
{
	height: 50px;
	background-color: #e3e3e3;
}
