/* ERS_common
 ---------------------------------------------------------------- */

	/* ブラウザの初期値をクリア
	............................................................... */
		body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,br,div,span,img,a,form,select,option,input,button,table,tr,td,th,caption,noscript{
			margin:0 0 0 0;
			padding:0 0 0 0;
		}

		img{
			border:none;
		}

		ul{
			list-style:none;
		}

		table{
			table-layout:fixed;
			border-collapse:collapse;
		}

		textarea{
			border:1px solid #999;
			padding:2px 0 2px 3px;
			font-size:1em;
		}

		input[type=text],
		input[type=password]{
			border:1px solid #999;
			padding:2px 0 2px 3px;
		}

		select{
			border:1px solid #999;
			padding:1px 0 1px 2px;
		}

	/* スクロールバー for FireFox & Opera
	............................................................... */
		html{
			height:100%;
			margin-bottom:1px;/* 1pxスクロールできてしまう */
			/*overflow-y:scroll; Operaにはきかない */
			/*overflow:scroll; 横スクロールまででてしまう */
		}

	/* リンクスタイルをクリア
	............................................................... */
		a:link{
			border:none;
			text-decoration:none;
			color:#444;
		}

		a:active{
			border:none;
			text-decoration:none;
			color:#444;
		}

		a:visited{
			border:none;
			text-decoration:none;
			color:#444;
		}

		a:hover{
			border:none;
			text-decoration:underline;
			color:#444;
		}

	/* フロート解除
	............................................................... */
		.release_b{
			clear:both;
		}

		.release_r{
			clear:right;
		}

		.release_l{
			clear:left;
		}

	/* 背景色 文字の大きさ 行送り
	............................................................... */
		body{
			background-color:#eeede8;
			font-size:0.75em;
			font-family:MS P ゴシック;
			color:#444;
		}

	/* IVP警告色
	............................................................... */
		.ERS_IVP_color{
			color:#ad3d37;
		}

	/* float 自動クリア
	............................................................... */
		.clearfix{
			_height: 1px;
			min-height: 1px;
			/*￥*//*/
			height: auto;
			overflow: hidden;
			/**/
		}

		.clearfix:after{
			content:"";
			clear:both;
			height:0;
			display:block;
			visibility:hidden;
		}


/* ERS_wrapper
 ---------------------------------------------------------------- */
	#ERS_wrapper{
		margin:0 auto 0 auto;
		width:902px;
		background:url(../images/bg_wrapper.gif) 0 0 repeat-y #fff;
/* ブロックの高さをそろえる
		overflow:hidden;
*/
	}


/* ERS_header
 ---------------------------------------------------------------- */
	#ERS_header{
		margin:0 auto 0 auto;
		width:840px;
	}

	#ERS_header h1{
		margin:31px 0 0 0;
		width:201px;
		float:left;
		display:inline;
	}

	#ERS_header div{
		width:639px;
		float:right;
	}

	#ERS_header div ul{
		margin:15px 0 0 0;
		float:right;
	}

	#ERS_header div ul li{
		margin:0 0 0 10px;
		float:left;
		display:inline;
	}

	#ERS_header div ul li a{
		padding:0 0 2px 0;
		display:block;
		border-bottom:2px solid #eeede8;
	}

	#ERS_header div h2{
		margin:10px 0 15px 0;
		padding:0 0 0 4px;
		line-height:27px;
		font-size:13px;
		color:#a20000;
		background:url(../images/welcome_bg_l.gif) 0 0 no-repeat;
		float:right;
	}

	#ERS_header div h2 span{
		padding:0 0 0 4px;
		line-height:27px;
		background:url(../images/welcome_bg_r.gif) 100% 0 no-repeat #eeede7;
		display:block;
	}


/* ERS_globalnavi
 ---------------------------------------------------------------- */
	#ERS_globalnavi{
		margin:0 auto 15px auto;
		width:840px;
	}

	#ERS_globalnavi ul{
	}

	#ERS_globalnavi ul li{
		width:168px;
		float:left;
	}

	#ERS_globalnavi ul li.global01{
		border-bottom:3px solid #a20000;
	}

	#ERS_globalnavi ul li.global02{
		border-bottom:3px solid #ff9a00;
	}

	#ERS_globalnavi ul li.global03{
		border-bottom:3px solid #7bc12a;
	}

	#ERS_globalnavi ul li.global04{
		border-bottom:3px solid #0076aa;
	}

	#ERS_globalnavi ul li.global05{
		border-bottom:3px solid #a6005d;
	}


/* ERS_container
 ---------------------------------------------------------------- */
	#ERS_container{
		margin:0 31px 0 0;
/* ブロックの高さをそろえる
		padding:0 0 10000px 0;
		margin:0 0 -10000px 0;
		overflow:hidden;
*/
		width:610px;
		float:right;
		display:inline;
	}

/* ERS_contents
 ---------------------------------------------------------------- */
	#ERS_contents{
/* ブロックの高さをそろえる
		padding:0 0 10000px 0;
		margin:0 0 -10000px 0;
*/
		width:610px;
		float:left;
	}


/* ERS_sidemenu
 ---------------------------------------------------------------- */
	#ERS_sidemenu{
		margin:0 0 0 31px;
/* ブロックの高さをそろえる
		padding:0 0 10000px 0;
		margin:0 0 -10000px 0;
*/
		width:210px;
		float:left;
		display:inline;
	}

	#ERS_sidemenu h3{
		margin:0 0 10px 0;
	}

	#ERS_sidemenu form,
	#ERS_sidemenu p{
		margin:0 0 20px 0;
		text-align:right;
	}

	#ERS_sidemenu form input{
		margin:10px 0 10px 0;
		float:right;
	}

	#ERS_sidemenu form input#search_txt{
		padding:3px 0 2px 0;
		width:165px;
		border:1px solid #707070;
		float:left;
	}

	*html #ERS_sidemenu form input#search_txt{
		padding:4px 0 3px 0;
	}

	*+html #ERS_sidemenu form input#search_txt{
		padding:4px 0 3px 0;
	}

	#ERS_sidemenu form p{
		clear:both;
	}

	#ERS_sidemenu form p a{
		padding:0 0 0 8px;
		background:url(../images/arrow02.gif) 0 50% no-repeat;
	}

	#ERS_sidemenu ul{
		padding:0 7px 0 7px;
		list-style:none;
		background-color:#eeede8;
		border-bottom:1px solid #484848;
	}

	#ERS_sidemenu ul li{
		width:196px;
		background:url("../images/dot01.gif") repeat-x 0 100%;
	}

	#ERS_sidemenu ul li.end{
		background:none;
	}

	#ERS_sidemenu ul li a{
		padding:7px 0 7px 15px;
		width:181px;
		display:block;
		background:url("../images/arrow01.gif") no-repeat 0 50%;
	}


/* ERS_sidemenu2
 ---------------------------------------------------------------- */
	#ERS_sidemenu2{
/* ブロックの高さをそろえる
		padding:0 0 10000px 0;
		margin:0 0 -10000px 0;
*/
		border-bottom:1px solid #f9b094;
		border-left:1px solid #f9b094;
		width:180px;
		float:right;
		display:none;
	}

	#ERS_sidemenu2 iframe{
		width:180px;
		height:450px;
		overflow:hidden;
	}

	* html body #ERS_sidemenu2 iframe,
	*+html body #ERS_sidemenu2 iframe{
		width:170px;
		height:450px;
		background-color:#fff;
	}

	#ERS_sidemenu2 p{
		padding:10px 0 10px 0;
	}


/* ERS_footer
 ---------------------------------------------------------------- */
	#ERS_footer{
		margin:0 auto 0 auto;
		padding:9px 0 9px 0;
		width:840px;
		border-top:1px solid #707070;
	}

	#ERS_footer address{
		text-align:right;
	}
