﻿#SearchTop
{
	width: 100%;
	height: 100%;
}

#SearchTop table.SearchLayout
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#SearchTop table.SearchLayout td.SearchCondition
{
	width: 450px;
	height: 100%;
}

#SearchTop table.SearchLayout td.SearchResultDetail
{
	height: 100%;
}

/* SearchCondition */
#SearchConditionAndList>table.Search
{
	width: 1200px;
}

#SearchConditionAndList
{
	width: 100%;
}

#SearchConditionAndList td.SearchCondition>div#SearchCondition table.Search

{
	width: 470px;
}

#SearchConditionAndList td.SearchResultDetail
{
	width: 740px;
}

#SearchConditionAndList table.Search
{
	margin: 0px;
	border-collapse: collapse;
}

#SearchConditionAndList .SearchCondition table.Search>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 5px;
}

#SearchConditionAndList .SearchCondition table.Search>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 5px;
}
#SearchConditionAndList .SearchCondition table.Search>tbody>tr>td.name
{
	line-height:1.9;
}

#SearchConditionAndList table.Search>tbody>tr>td.Button
{
	border: none;
	text-align: center;
}

#SearchConditionAndList table.Search>tbody>tr>td.Button input[type=submit]
{
	width: 180px;
	height: 26px;
}

#SearchConditionAndList table.SearchResult
{
	border-collapse: collapse;
}

#SearchConditionAndList table.SearchResult>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	
}

#SearchConditionAndList table.SearchResult>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	
}

#SearchConditionAndList .SearchResult .List .Paging
{
	width: 450px;
	margin-top: 0;
	
}

#SearchConditionAndList table.SearchResult
{
	margin: 0px;
	width: 470px;
}

#SearchConditionAndList table.SearchResult>tbody>tr.Head>td
{
	border: none;
}

/* CustomerDetail */
#SearchCustomerDetail
{
	width: 100%;
	/*height: 250px;*/
	overflow: auto;
}

#SearchCustomerDetail table.Detail
{
	width: 700px;
	margin: 0px;
	border-collapse: collapse;
}

#SearchCustomerDetail table.Detail>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	
}

#SearchCustomerDetail table.Detail>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	
}


/* CustomerHistory */
#SearchCustomerHistory
{
	width: 100%;
	height: 200px;
	overflow: auto;
}

#SearchCustomerHistory table.SearchResult
{
	width: 700px;
	margin: 0px;
}

#SearchCustomerHistory table.SearchResult>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 5px;
}

#SearchCustomerHistory table.SearchResult>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 5px;
}


/* CustomerHistoryDetail */
#SearchCustomerHistoryDetail
{
	width: 100%;
	overflow: auto;
}

#SearchCustomerHistoryDetail table.Detail
{
	margin: 0px;
	border-collapse: collapse;
	width: 700px;
}

#SearchCustomerHistoryDetail table.Detail>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 5px;
}

#SearchCustomerHistoryDetail table.Detail>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 5px;
}

#SearchCustomerHistoryDetail table.PaymentTable
{
	width: 700px;
}

tr.cancel-row>td
{
    color: #ff0000;
}

/* input関連
------------------------------------------------------------ */

#SearchConditionAndList #tel,
#SearchConditionAndList #fax,
#SearchConditionAndList #mcode,
#SearchConditionAndList #email,
#SearchConditionAndList #ccode,
#SearchConditionAndList #campaign_id,
#SearchConditionAndList #address,
#SearchConditionAndList #d_no
{
	width:90%;
}

#SearchConditionAndList #lname,
#SearchConditionAndList #fname,
#SearchConditionAndList #lnamek,
#SearchConditionAndList #fnamek
{
	width:80%;
}
#SearchConditionAndList #lname,
#SearchConditionAndList #fname,
#SearchConditionAndList #lnamek
{
	margin:0 0 0 3px;
}
#SearchConditionAndList #fnamek
{
	margin:0 0 0 5px;
}

#SearchConditionAndList #zip1
{
	width:50px;
}

#SearchConditionAndList #zip2
{
	width:60px;
}

#SearchConditionAndList #pref
{
	width:100px;
}
#SearchConditionAndList .Button input
{
	margin:5px 0 0 0;
}
