@import "variables";

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacityIE: $opacity * 100;
    filter: alpha(opacity=$opacityIE);
}

@mixin placeholder-color($color) {
    &::-moz-placeholder {
        color: $color;
    }

    &::-webkit-input-placeholder {
        color: $color;
    }

    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin css3($property, $value) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}#{$property}: $value;
    }
}

// ************** ERS V7.2 SETTINGS **************

//no margin and padding
@mixin no-mp {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

//auto margin 0 padding
@mixin auto-m-p {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}

//float right clear both
@mixin fl-r-cl-b {
    float: right;
    clear: both;
}

//font-size px/rem
@mixin font-size($sizeValue) {
    font-size: ($sizeValue/10) + rem;
    font-size: ($sizeValue*1) + px;
}

//width height
@mixin w-h($w,$h: null) {
    width: $w;
    height: $h;
}

// flexbox
@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
}

//Rounded corners
@mixin circle($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    -o-border-radius: $value;
    -ms-border-radius: $value;
}
//mixin for media query
@mixin mQ($constraint, $viewport1, $viewport2: null) {

    @if $constraint == $min {

        @media screen and ($min: $viewport1) {
            @content;
        }
    }
    @else if $constraint == $max {

        @media screen and ($max: $viewport1) {
            @content;
        }
    }
    @else {

        @media screen and ($min: $viewport1) and ($max: $viewport2) {
            @content;
        }
    }
}

//mixin for gradient
@mixin gradient($start-color, $end-color, $orientation) {
    @if $orientation == vertical {
        // vertical
        background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,$start-color), color-stop(0%,$end-color));
        background: -webkit-linear-gradient(top, $start-color 100%,$end-color 0%);
        background: -moz-linear-gradient(top, $start-color 100%,$end-color 0%);
        background: -ms-linear-gradient(top, $start-color 100%,$end-color 0%);
        background: -o-linear-gradient(top, $start-color 100%,$end-color 0%);
        background: linear-gradient(top, $start-color 100%,$end-color 0%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start-color}', EndColorStr='#{$end-color}',GradientType=0)";
    }
    @else if $orientation == horizontal {
        // horizontal
        background: -webkit-gradient(linear, left top, right top, color-stop(100%,$start-color), color-stop(0%,$end-color));
        background: -webkit-linear-gradient(left, $start-color 100%,$end-color 0%);
        background: -moz-linear-gradient(left, $start-color 100%,$end-color 0%);
        background: -ms-linear-gradient(left, $start-color 100%,$end-color 0%);
        background: -o-linear-gradient(left, $start-color 100%,$end-color 0%);
        background: linear-gradient(left, $start-color 100%,$end-color 0%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start-color}', EndColorStr='#{$end-color}',GradientType=1)";
    }
    @else {
        // radial
        background: -moz-radial-gradient(center, ellipse cover, $start-color 0%, $end-color 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
        background: -webkit-radial-gradient(center, ellipse cover, $start-color 0%,$end-color 100%);
        background: -o-radial-gradient(center, ellipse cover, $start-color 0%,$end-color 100%);
        background: -ms-radial-gradient(center, ellipse cover, $start-color 0%,$end-color 100%);
        background: radial-gradient(ellipse at center, $start-color 0%,$end-color 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
    }
}


//******* Specific ***********
@mixin h2_index {
    h2 {
        font-size: 1.0rem;
        margin: 0 0 15px 0;
        padding: 0 0 2px 0;
        border: none;
        border-bottom: 2px solid #a7bb35;
    }
}

@mixin h3_common {
    font-size: 1.0em;
    margin: 0 0 0 0;
    padding: 5px 0 3px 0;
}

@mixin flow_after {
    position: absolute;
    top: 0;
    right: -14px;
}

@mixin total_table {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
}
