﻿@charset "UTF-8";

/*  common mixin
--------------------------------------------------*/
//Rounded corners
@mixin circle($value){
  border-radius:$value;
  -moz-border-radius: $value;
  -webkit-border-radius: $value;
  -o-border-radius: $value;
  -ms-border-radius: $value;
}

//Gradation
@mixin gradient($start-color, $end-color, $orientation)
{
  background: $start-color;
  @if $orientation == vertical
  {
    // vertical
    background: -moz-linear-gradient(top,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: -o-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: -ms-linear-gradient(top,  $start-color 0%,$end-color 100%);
    background: linear-gradient(to bottom,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 );
  }
  @else if $orientation == horizontal
  {
    // horizontal
    background: -moz-linear-gradient(left,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: -o-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: -ms-linear-gradient(left,  $start-color 0%,$end-color 100%);
    background: linear-gradient(to right,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
  }
  @else
  {
    // radial
    background: -moz-radial-gradient(center, ellipse cover,  $start-color 0%, $end-color 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$start-color), color-stop(100%,$end-color));
    background: -webkit-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: -o-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: -ms-radial-gradient(center, ellipse cover,  $start-color 0%,$end-color 100%);
    background: radial-gradient(ellipse at center,  $start-color 0%,$end-color 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=1 );
  }
}


/* contents
--------------------------------------------------*/

#contents {
  article {
    margin: 0 0 0 0;
    padding: 0 0 30px 0;
  }
  h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    padding: 0 0 5px 10px;
    color: #a7bb35;
    border-bottom: 2px solid #a7bb35;
    border-left: 10px solid #a7bb35;
    &.subtitle {
      margin: 0 0 15px 0;
      padding: 0 0 7 0;
      border: none;
      border-bottom: 2px solid #a7bb35;
    }
  }
}
.wBreak {
  word-wrap: break-word;
}
#container .ERS_IVP_color {
  color: #d61516;
}

#contents {
  h3 {
    font-size: 1.0em;
    margin: 0 0 0 0;
    padding: 5px 0 3px 0;
    .ERS_IVP_color {
      font-size: .85em;
      font-weight: normal;
      margin-left: 5px;
      color: #d61516;
    }
  }
  h4 {
    font-size: .85em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 0 3px 0;
  }
  .subtitle02 {
    margin: 0 0 0 0;
    padding: 5px 0 3px 0;
    text-align: left;
    color: #784709;
  }
  .subtitle03 {
    padding: 8px 0 5px 20px;
    border-bottom: 1px solid #a7bb35;
  }
  .subtitle04 {
    margin: 20px 0 0 0;
    padding: 8px 0 8px 20px;
    text-align: left;
    color: #000;
    border-top: 1px solid #a7bb35;
    border-bottom: 1px solid #a7bb35;
    background: #e9ecd9;
  }
  article p {
    font-size: .85em;
  }
  .point{
      padding: 0 0 0 0;
      margin: 0 0 0 0;
      font-size: 1em;
      display: inline-block;
      strong{
        font-size: 1em !important;
      }
  }
}

#ERS_ssl_alert {
  text-align: center;
}

#container h3.widget-title {
  color: #594018;
}

.w_100 {
  width: 100px;
}

/* ERS_breadcrumb
--------------------------------------------------*/

#ERS_breadcrumb {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents article #ERS_breadcrumb p {
  font-size: .85em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* ERS_flow
--------------------------------------------------------*/

#ERS_flow {
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  ol {
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
    li {
      font-size: 100%;
      position: relative;
      display: table-cell;
      box-sizing: border-box;
      width: 33.3%;
      height: 60px;
      text-align: center;
      vertical-align: middle;
      background-color: #ddd;
      -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        content: '';
        border-width: 30px 0 30px 15px;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
      }
      &:after {
        position: absolute;
        z-index: 2;
        top: 0;
        right: -14px;
        content: '';
        border-width: 30px 0 30px 15px;
        border-style: solid;
        border-color: transparent transparent transparent #ddd;
      }
      span {
        display: block;
        width: 90%;
        margin: 0 0 0 auto;
      }
    }
    .current {
      font-weight: bold;
      color: #fff;
      background-color: #a7bb35;
      &:after {
        border-color: transparent transparent transparent #a7bb35;
      }
    }
    .flow1 {
      z-index: 3;
      &:before {
        content: none;
      }
    }
    .flow2 {
      z-index: 2;
    }
    .flow3 {
      z-index: 1;
      &:after {
        content: none;
      }
    }
  }
  .col2 {
    li {
      width: 50%;
    }
    .flow1 {
      z-index: 2;
      &:before {
        content: none;
      }
    }
    .flow2 {
      z-index: 1;
      &:after {
        content: none;
      }
    }
  }
  .col4 {
    li {
      width: 25%;
    }
    .flow1 {
      z-index: 4;
      &:before {
        content: none;
      }
    }
    .flow2 {
      z-index: 3;
    }
    .flow3 {
      z-index: 2;
      &:after {
        content: '';
      }
    }
    .flow4 {
      z-index: 1;
      &:after {
        content: none;
      }
    }
  }
  .col5 {
    li {
      width: 20%;
    }
    .flow1 {
      z-index: 5;
      &:before {
        content: none;
      }
    }
    .flow2 {
      z-index: 4;
    }
    .flow3 {
      z-index: 3;
      &:after {
        content: '';
      }
    }
    .flow4 {
      z-index: 2;
    }
    .flow5 {
      z-index: 1;
      &:after {
        content: none;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  #ERS_flow ol li {
    height: 80px;
    &:before {
      border-width: 40px 0 40px 15px;
    }
    &:after {
      position: absolute;
      top: 0;
      right: -14px;
      border-width: 40px 0 40px 15px;
    }
  }
}

@media only screen and (max-width: 499px) {
  #ERS_flow ol li {
    height: 104px;
    &:before {
      border-width: 52px 0 52px 15px;
    }
    &:after {
      position: absolute;
      top: 0;
      right: -14px;
      border-width: 52px 0 52px 15px;
    }
  }
}

#contents #ERS_flow h2 {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  &:before {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
  }
}

/* ERS_news
---------------------------------------------------------------- */

#ERS_news {
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
  p {
    font-size: 19.2px;
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .date {
    margin: 0 20px 0 15px;
    color: #000;
  }
}

/* ERS_view_history
---------------------------------------------------------------- */

#ERS_view_history {
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
  h3 {
    display: block;
    overflow: hidden;
    margin: 0 0 15px 0;
    padding: 0 0 13px 0;
    text-indent: -9999px;
    border-bottom: 2px solid #a7bb35;
    background: url(../images/mttl_check.png) 0 0 no-repeat;
  }
  div {
    float: left;
    width: 60px;
    height:60px;
    margin: 0 0 0 0;
    padding: 0 3px 3px 3px;
  }
  h4 {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    span {
      font-size: 1.0em;
      position: absolute;
      top: 5px;
      left: 5px;
      display: none;
      color: #fff;
    }
    img {
      width: 58px;
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      text-align: center;
      border: 1px solid #ccc;
    }
  }
  h5 {
    font-size: 1.0em;
    font-weight: normal;
    display: none;
    margin: 0 0 0 0;
    padding: 3px 0 0 3px;
    text-align: left;
    a {
      color: #a7bb35;
    }
  }
}

/* ERS_ranking
---------------------------------------------------------------- */

#ERS_ranking {
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

#contents #ERS_ranking h3 {
  display: block;
  overflow: hidden;
  margin: 0 0 15px 0;
  padding: 0 0 13px 0;
  text-indent: -9999px;
  border-bottom: 1px solid #a7bb35;
  background: url(../images/mttl_ranking.png) 0 0 no-repeat;
}

#ERS_ranking {
  div {
    float: left;
    width: 145px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  h4 {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    span {
      font-size: 1.0em;
      position: absolute;
      top: 5px;
      left: 12px;
      display: none;
      color: #fff;
    }
    img {
      width: 130px;
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
      text-align: center;
      border: 1px solid #ccc;
    }
  }
  h5 {
    font-size: 1.0em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 3px 5px 0 5px;
    text-align: left;
    a {
      color: #a7bb35;
    }
  }
  .title {
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0 0 5px 5px;
    color: #ca5015;
    border-bottom: 2px solid #ca5015;
  }
}

@media only screen and (min-width: 640px) and (max-width: 780px) {
  #ERS_ranking {
    div {
      width: 18%;
      margin: 0 1% 0 1%;
    }
    h4 img {
      width: 100%;
      max-width: 130px;
      margin: 0 auto 0 auto;
    }
  }
}

@media only screen and (max-width: 640px) {
  #ERS_ranking {
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
    h3 {
      margin: 0 0 5px 0;
    }
    div {
      display: table;
      float: none;
      width: 100%;
    }
    h4 {
      display: table-cell;
      width: 30%;
      padding: 0 2.5% 0 0;
      text-align: center;
      img {
        width: 100%;
        max-width: 130px;
        margin: 0 auto 0 auto;
      }
    }
    h5 {
      display: table-cell;
      margin: 0 0 0 0;
      padding: 0 0 0 5px;
      vertical-align: middle;
    }
  }
  #contents .sp_block {
    display: block;
    margin-bottom: 5px;
  }
}

@media only screen and (mim-width: 641px) {
  #contents .sp_block {
    display: inline;
  }
}

/* ERS_btn
---------------------------------------------------------------- */

#contents {
  .ERS_btn {
    width: 60%;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;
    p {
      width: 50%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      center {
        margin: 0 auto;
      }
      &:first-child {
        float: left;
      }
      &:last-child {
        float: right;
      }
      &.center {
        float: none;
        margin: 0 auto 0 auto;
      }
    }
  }
  a {
    line-height: 1.0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  .btn {
    font-size: 1.0em;
    font-weight: bold;
    line-height: 1;
    display: block;
    width: 95%;
    margin: 0 0 0 0;
    padding: 15px 0 15px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
  }
  .btn02 {
    font-size: .95em;
    font-weight: bold;
    display: block;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 4px 0 4px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
  }
  .next {
    color: #fff;
    background-color:#a6bc36;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #92a630), color-stop(0.00, #a6bc36));
    background: -webkit-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -moz-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -o-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -ms-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: linear-gradient(top, #a6bc36 0%, #92a630 100%);
  }
  .back {
    color: #3f3e3f;
    background-color:#f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f0f0f0), color-stop(0.00, #f7f7f7));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    border:1px solid #6f6f6f;
  }
  .login_btn {
    color: #fff;
    background-color:#a6bc36;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #92a630), color-stop(0.00, #a6bc36));
    background: -webkit-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -moz-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -o-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: -ms-linear-gradient(top, #a6bc36 0%, #92a630 100%);
    background: linear-gradient(top, #a6bc36 0%, #92a630 100%);
  }
  .detail_btn {
    position: relative;
    color: #fff;
    background-color:#f4900f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #d96e00), color-stop(0.00, #f4900f));
    background: -webkit-linear-gradient(top, #f4900f 0%, #d96e00 100%);
    background: -moz-linear-gradient(top, #f4900f 0%, #d96e00 100%);
    background: -o-linear-gradient(top, #f4900f 0%, #d96e00 100%);
    background: -ms-linear-gradient(top, #f4900f 0%, #d96e00 100%);
    background: linear-gradient(top, #f4900f 0%, #d96e00 100%);
    text-shadow: 1px 1px 1px #9e5604;
  }
  .cart_btn {
    color: #fff;
    background-color:#a6bc36;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #92a631), color-stop(0.00, #a6bc36));
    background: -webkit-linear-gradient(top, #a6bc36 0%, #92a631 100%);
    background: -moz-linear-gradient(top, #a6bc36 0%, #92a631 100%);
    background: -o-linear-gradient(top, #a6bc36 0%, #92a631 100%);
    background: -ms-linear-gradient(top, #a6bc36 0%, #92a631 100%);
    background: linear-gradient(top, #a6bc36 0%, #92a631 100%);
    text-shadow: 1px 1px 1px #6e7c24;
  }
  .wish_btn {
    color: #fff;
    background-color:#d6c631;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #b6a72a), color-stop(0.00, #d6c631));
    background: -webkit-linear-gradient(top, #d6c631 0%, #b6a72a 100%);
    background: -moz-linear-gradient(top, #d6c631 0%, #b6a72a 100%);
    background: -o-linear-gradient(top, #d6c631 0%, #b6a72a 100%);
    background: -ms-linear-gradient(top, #d6c631 0%, #b6a72a 100%);
    background: linear-gradient(top, #d6c631 0%, #b6a72a 100%);
    text-shadow: 1px 1px 1px #7e720f;
  }
  .center_btn, .gray_btn {
    color: #3f3e3f;
    border: 1px solid #6f6f6f;
    background-color:#f7f7f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f0f0f0), color-stop(0.00, #f7f7f7));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -moz-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
    background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
  }
  .gray02_btn {
    color: #fff;
    border: 1px solid #504e4e;
    background-color:#969796;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #7d7d7d), color-stop(0.00, #969796));
    background: -webkit-linear-gradient(top, #969796 0%, #7d7d7d 100%);
    background: -moz-linear-gradient(top, #969796 0%, #7d7d7d 100%);
    background: -o-linear-gradient(top, #969796 0%, #7d7d7d 100%);
    background: -ms-linear-gradient(top, #969796 0%, #7d7d7d 100%);
    background: linear-gradient(top, #969796 0%, #7d7d7d 100%);
  }
  .black_btn {
    color: #fff;
    background-color: #939393;
  }
  .green_btn {
    color: #fff;
    background-color: #d6c631;
  }


/*
@media only screen and (max-width:699px){
  #contents .detail_btn:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -64px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    text-shadow:1px 1px 1px #fff;
  }
}

@media only screen and (min-width:700px) and (max-width:959px){
  #contents .detail_btn:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -64px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    text-shadow:1px 1px 1px #fff;
  }
}

@media only screen and (min-width:960px){
  #contents .detail_btn:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -64px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    text-shadow:1px 1px 1px #fff;
  }
}
*/

/*
.iconFlower,
.iconPeople,
.iconCart,
.iconStar,
.iconSearch,
.iconLogin,
.iconLogout,
.arrow01_l_l,
.arrow01_l_r,
.arrow02_l_l,
.arrow02_l_r,
.arrow03_l_l,
.arrow03_l_r,
.iconStop{
  position:relative;
}

.iconFlower:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") 0 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
.iconPeople:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -16px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
@media only screen and (max-width:699px){
.iconCart:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-12px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:480px 24px;
  width:24px;
  height:24px;
  z-index: 100;
}
}
@media only screen and (min-width:700px) and (max-width:959px){
.iconCart:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-12px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:480px 24px;
  width:24px;
  height:24px;
  z-index: 100;
}
}
@media only screen and (min-width:960px){
.iconCart:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-12px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:480px 24px;
  width:24px;
  height:24px;
  z-index: 100;
}
}
@media only screen and (max-width:699px){
.iconStar:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
  }
}

@media only screen and (min-width:700px) and (max-width:959px){
.iconStar:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
  }
}

@media only screen and (min-width:960px){
.iconStar:before{
  content:" ";
  position:absolute;
  top:50%;
  left:7%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -48px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
  }
}

.iconSearch:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -64px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
.iconLogin:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-17px;
  background:url("../images/icon/ico_common.png") -120px 0;
  background-size:480px 24px;
  width:24px;
  height:24px;
  z-index: 100;
}
.iconLogout:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-15px;
  background:url("../images/icon/ico_common.png") -144px 0;
  background-size:480px 24px;
  width:24px;
  height:24px;
  z-index: 100;
}
.arrow01_l_l:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -112px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}

.arrow01_l_r:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -128px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}

.arrow02_l_l:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -144px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}

.arrow02_l_r:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -160px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
.arrow03_l_l:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -176px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}

.arrow03_l_r:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -192px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
.iconStop:before{
  content:" ";
  position:absolute;
  top:50%;
  left:5%;
  margin-top:-8px;
  background:url("../images/icon/ico_common.png") -208px 0;
  background-size:320px 16px;
  width:16px;
  height:16px;
  z-index: 100;
}
*/

/* ERS_page_send
---------------------------------------------------------------- */
  .ERS_page_send {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;
    text-align: center;
    ul {
      position: relative;
      left: 50%;
      float: left;
      text-align: center;
      li {
        position: relative;
        left: -50%;
        display: inline;
        float: left;
        margin: 0 5px;
        p {
          font-size: 1.0em;
          position: relative;
          left: -50%;
          display: block;
          float: left;
          margin: 0 0 0 0;
          padding: 0 5px 0 0;
          input {
            &[type='submit'], &[type='button'] {
              font-size: 1.0em;
              line-height: 1.0;
              display: block;
              margin: 0 0 0 0;
              padding: 5px 10px 5px 10px;
              color: #35250c;
              border: none;
              border-radius: 3px;
              background: #e7e2da;
              -o-border-radius: 3px;
              -ms-border-radius: 3px;
            }
            &.place {
              &[type='submit'], &[type='button'] {
                font-size: 1.0em;
                line-height: 1.0;
                display: block;
                margin: 0 0 0 0;
                padding: 5px 10px 5px 10px;
                color: #fff;
                border: none;
                background: #7c6853;
              }
            }
          }
        }
        &.return p input.change[type='submit'], &.enter p input.change[type='submit'], &.return p input.change[type='button'], &.enter p input.change[type='button'] {
          font-weight: bold;
          padding: 5px 0 5px 0;
          color: #7c6853;
          border-radius: 0;
          background: none;
          -o-border-radius: 0;
          -ms-border-radius: 0;
        }
        &.return p input.change[type='submit']:hover, &.enter p input.change[type='submit']:hover, &.return p input.change[type='button']:hover, &.enter p input.change[type='button']:hover {
          border: none;
          background: none;
        }
      }
    }
  }
}


/* ERS_recommend
---------------------------------------------------------------- */

#ERS_recommend {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.ERS_recommend_list {
  float: left;
  width: 175px;
  margin: 0 0 0 0;
  padding: 0 5px 45px 0;
  text-align: center;
  h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    &.title {
      font-size: 1.0em;
      text-align: left;
    }
    img {
      width: 160px;
      margin: 0 auto 5px auto;
      border: 1px solid #ababab;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
  h4 {
    margin: 4px auto 0 auto;
    padding: 0 0 0 0;
  }
  p {
    font-size: 1.0em;
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
    text-align: left;
  }
  > div {
    padding: 0 3px 0 3px;
  }
  table {
    width: 100%;
    margin: 0 0 5px 0;
    padding: 0 0 0 0;
    border: none;
    background: transparent;
    th {
      font-size: 1.0em;
      font-weight: normal;
      width: 90px;
      padding: 6px 0 6px 3px;
      text-align: left;
      color: #a7bb35;
    }
    td {
      font-size: 1.0em;
      padding: 6px 0 6px 3px;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 780px) {
  .ERS_recommend_list table {
    th {
      display: block;
      float: left;
      width: 97%;
      padding: 6px 1.5% 0 1.5%;
      border: none;
    }
    td {
      display: block;
      float: left;
      width: 97%;
      padding: 0 1.5% 6px 1.5%;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 780px) {
  .ERS_recommend_list {
    width: 23%;
    padding: 0 1% 45px 1%;
    h3 img {
      width: 95%;
      max-width: 160px;
      margin: 0 auto 0 auto;
    }
    table {
      th {
        display: block;
        width: 97%;
        padding: 6px 1.5% 0 1.5%;
        border: none;
      }
      td {
        display: block;
        width: 97%;
        padding: 0 1.5% 6px 1.5%;
      }
    }
  }
}

/* table_box
---------------------------------------------------------------- */

.table_box {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-top: 1px solid #a7bb35;
  dl {
    font-size: .95em;
    display: block;
    /*overflow: hidden;*/ overflow:visible;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid #a7bb35;
  }
  .bdrTop {
    border-top: 1px solid #a7bb35;
  }
  h3 {
    padding: 30px 0 3px 0 !important;
  }
  dl {
    dt {
      font-size: 1.0em;
      font-weight: normal;
      display: block;
      margin: 0 0 0 0;
      padding: 11px 0 0 5px;
      background-color: #f9f9f9;
    }
    dd {
      font-size: 1.0em;
      display: block;
      margin: 0 0 0 0;
      padding: 11px 0 11px 5px;
    }
    dt label {
      font-size: 1.0em;
    }
    dd {
      label {
        font-size: 1.0em;
      }
      span.summarry {
        display: block;
        margin: 0 0 0 0;
        padding: 0 0 4px 0;
      }
      textarea {
        display: block;
        width: 98%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
      span.check_box {
        display: block;
        margin: 8px 0 0 0;
        padding: 0 0 0 0;
        text-align: center;
      }
    }
  }
}

#pri_chk {
  margin: 0 5px 0 0;
  padding: 0 0 0 0;
  vertical-align: bottom;
}

.table_box {
  dl dd .add_in {
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
    label {
      display: block;
    }
  }
  .ex {
    font-size: .85em;
    display: block;
    padding: 3px 0 0 0;
    color: #999;
  }
  .ex2 {
    font-size: .85em;
    display: block;
    padding: 0 0 3px 0;
    color: #d61516;
  }
}

/* table_total
---------------------------------------------------------------- */

.table_total {
  table {
    font-size: .95em;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-spacing: 0;
    border-collapse: separate;
    border: none;
    border-top: 1px solid #a7bb35;
    background: transparent;
    th {
      font-size: 1.0em;
      font-weight: normal;
      line-height: 2.5;
      width: 65%;
      padding: 0 10px 0 0;
      text-align: right;
      vertical-align: middle;
      border-bottom: 1px solid #a7bb35;
      background: #f9f9f9;
      &.bg01 {
        background: #fff;
      }
    }
    td {
      font-size: 1.0em;
      width: 35%;
      padding: 0 10px 0 0;
      text-align: right;
      color: #333;
      border-bottom: 1px solid #a7bb35;
      &.ft13 {
        font-size: 1.0em;
      }
    }
  }
  p {
    text-align: right;
  }
}

@media only screen and (max-width: 640px) {
  .table_total p {
    font-size: .85em;
  }
}

.recount {
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 0 0 0 0;
  p {
    float: left;
    width: 80%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  h4 {
    float: right;
    width: 20%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

#contents .recount .btn {
  width: 100%;
}

/* ERS_amount
---------------------------------------------------------------- */

.ERS_amount {
  table {
    font-size: .95em;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-spacing: 0;
    border-collapse: collapse;
    border: none;
    background: transparent;
    tr {
      border-bottom: 1px solid #a7bb35;
      &:last-child {
        border-bottom: none;
      }
    }
    th {
      font-size: 1.0em;
      font-weight: normal;
      margin: 0 0 0 0;
      padding: 10px 5px 10px 5px;
      text-align: left;
      background: #f9f9f9;
      &.sname {
        width: 40%;
      }
    }
    td {
      font-size: 1.0em;
      height: auto;
      margin: 0 0 0 0;
      &.sname {
        margin: 0 0 0 0;
        padding: 8px 0 8px 0;
        text-align: left;
        span {
          display: table;
          width: 100%;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          table-layout: fixed;
        }
        em {
          font-style: normal;
          display: table-cell;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          text-align: left;
          vertical-align: middle;
          &.image {
            width: 30%;
            padding: 0 0 0 0;
            text-align: center;
            img {
              width: 74px;
              margin: 0 auto 0 auto;
            }
          }
          &.text {
            width: 70%;
          }
        }
        span.status {
          display: block;
        }
      }
      &.dayList span {
        display: block;
      }
    }
  }
  .w_45 {
    width: 45px;
  }
  .w_50 {
    width: 50px;
  }
}

/* table_wide_type
---------------------------------------------------------------- */

.wide_type {
  width: 100%;
  border-bottom: 1px solid #a7bb35;
  tr {
    th {
      font-size: 1.0em;
      font-weight: normal;
      padding: 10px 1em 10px 1em;
      text-align: left;
      color: #333;
      border-bottom: 1px solid #a7bb35;
      background: #fff;
    }
    td {
      font-size: 1.0em;
      padding: 8px 1em 8px 1em;
      border-bottom: 1px solid #a7bb35;
    }
  }
}

/* table.detail
---------------------------------------------------------------- */

#contents table.detail {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  border: none;
  th {
    font-size: 1.0em;
    font-weight: normal;
    width: 70px;
    margin: 0 0 0 0;
    padding: 10px 0 5px 0;
    text-align: left;
    color: #a7bb35;
    border-bottom: 1px solid #ccc;
  }
  td {
    font-size: 1.0em;
    margin: 0 0 0 0;
    padding: 10px 0 5px 0;
    border-bottom: 1px solid #ccc;
  }
}

/* ERS_error
---------------------------------------------------------------- */

.ERS_error, .ERS_input_error {
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid #a7bb35;
}

.ERS_error p, .ERS_input_error p {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #d61516;
}

.ERS_error p span, .ERS_input_error p span {
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 0 0 10px;
}

/* ERS_IVP_caution
---------------------------------------------------------------- */

#contents {
  .ERS_IVP_caution {
    font-weight: bold !important;
    color: #c9171e !important;
    background-color: #b8d200 !important;
    label {
      color: #c9171e !important;
      .ERS_IVP_color {
        color: #c9171e !important;
      }
    }
  }
  span.dispError {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 3px 0;
    color: #d61516;
  }
}

/* form
---------------------------------------------------------------- */

input {
  &[type='submit'], &[type='button'] {
    line-height: 1.0;
    margin: 0 0 0 0;
    padding: 8px 0 8px 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &[type='radio'], &[type='checkbox'] {
    vertical-align: middle;
  }
  &[type='text'], &[type='email'], &[type='password'] {
    font-size: 1.0em;
    width: 100px;
    margin: 0 0 0 0;
    padding: 3px 5px 3px 5px;
    color: #784709;
    border: 1px solid #999;
    -webkit-border-radius:2px 2px 2px 2px;
    -moz-border-radius:2px 2px 2px 2px;
    border-radius:2px 2px 2px 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#fff));
    background: -moz-linear-gradient(top,#efefef,#fff);
    background: -o-linear-gradient(#efefef, #fff);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
  }
}

form {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

select {
  font-size: 1.0em;
  width: 100px;
  margin: 0 0 0 0;
  padding: 3px 0 3px 2px;
  color: #784709;
  border: 1px solid #999;
  -webkit-border-radius:2px 2px 2px 2px;
  -moz-border-radius:2px 2px 2px 2px;
  border-radius:2px 2px 2px 2px;
  background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#fff));
  background: -moz-linear-gradient(top,#efefef,#fff);
  background: -o-linear-gradient(#efefef, #fff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

#contents {
  #lname, #lnamek, #add_lname, #add_lnamek {
    width: 33.5%;
    margin: 0 10px 0 3px;
  }
  #fname, #fnamek, #add_fname, #add_fnamek {
    width: 33.5%;
    margin: 0 0 0 3px;
  }
  #email, #email_confirm, #email_pc, #address_name {
    width: 96%;
    margin: 0 0 0 0;
  }
  #mformat, #tel, #fax, #add_tel, #add_fax, #cardno, #card_no, #card, #card_type, #Select1, #Text1, #send {
    width: 40%;
    margin: 0 0 0 0;
  }
  #zip, #add_zip {
    width: 25%;
    margin: 0 10px 0 0;
  }
  #pref, #add_pref {
    width: 25%;
    margin: 0 0 0 0;
  }
  #address, #taddress, #maddress, #add_address, #add_taddress, #add_maddress, #compname, #compnamek, #division, #divisionk {
    width: 96%;
    margin: 0 0 0 0;
  }
  #birthday_y {
    width: 30%;
    margin: 0 5px 0 0;
  }
  #birthday_m, #birthday_d {
    width: 20%;
    margin: 0 5px 0 15px;
  }
  #validity_y, #Text2 {
    width: 15%;
    margin: 0 5px 0 0;
  }
  #validity_m, #Text3 {
    width: 10%;
    margin: 0 5px 0 15px;
  }
  #sex {
    width: 20%;
    margin: 0 0 0 0;
  }
  #password1, #password2, #passwd, #passwd_confirm {
    width: 40%;
    margin: 0 0 0 0;
  }
  #ques, #ans {
    width: 80%;
    margin: 0 0 0 0;
  }
}

#login_form {
  #email, #passwd {
    width: 90%;
    margin: 0 0 0 0;
  }
}

#contents {
  #amount {
    width: 90%;
    margin: 0 0 0 0;
  }
  #s_scode {
    width: 40%;
    margin: 0 0 0 0;
  }
  #s_cate1, #s_cate2, #s_cate3, #s_cate4, #s_cate5 {
    width: 50%;
    margin: 0 0 0 0;
  }
  #s_price1, #s_price2 {
    width: 30%;
    margin: 0 3px 0 0;
  }
  #s_sname, #s_keyword, #sort {
    width: 70%;
    margin: 0 0 0 0;
  }
  #email_pc {
    margin: 0 0 5px 0;
  }
  #email_ck {
    margin: 0 5px 0 0;
  }
}

.w12p {
  width: 12%;
}

/*PC*/
@media only screen and (min-width: 960px) {
    /* table_box
---------------------------------------------------------------- */
  .table_box dl {
        display: -ms-flexbox;
        display: -webkit-flex;
    dt {
      float: left;
      width: 195px;
      /*margin: 0 0 -500px 0;*/
      padding: 12px 0 3% 5px;
      &.long {
        /*margin: 0 0 -500px 0;*/
        padding: 12px 0 3% 5px;
      }
    }
    dd {
      float: left;
      width: 525px;
    }
  }
  #ERS_box p {
    line-height: 23px;
  }
/*
  #contents .detail_btn:before {
    background: url('../images/icon/ico_common_16.png') -64px 0;
  }
  .iconFlower:before {
    background: url('../images/icon/ico_common_16.png') 0 0;
  }
  .iconPeople:before {
    background: url('../images/icon/ico_common_16.png') -16px 0;
  }
  .iconCart:before {
    background: url('../images/icon/ico_common_24.png') -48px 0;
  }
  .iconStar:before {
    background: url('../images/icon/ico_common_16.png') -48px 0;
  }
  .iconSearch:before {
    background: url('../images/icon/ico_common_16.png') -64px 0;
  }
  .iconLogin:before {
    background: url('../images/icon/ico_common_24.png') -120px 0;
  }
  .iconLogout:before {
    background: url('../images/icon/ico_common_24.png') -144px 0;
  }
  .arrow01_l_l:before {
    background: url('../images/icon/ico_common_16.png') -112px 0;
  }
  .arrow01_l_r:before {
    background: url('../images/icon/ico_common_16.png') -128px 0;
  }
  .arrow02_l_l:before {
    background: url('../images/icon/ico_common_16.png') -144px 0;
  }
  .arrow02_l_r:before {
    background: url('../images/icon/ico_common_16.png') -160px 0;
  }
  .arrow03_l_l:before {
    background: url('../images/icon/ico_common_16.png') -176px 0;
  }
  .arrow03_l_r:before {
    background: url('../images/icon/ico_common_16.png') -192px 0;
  }
  .iconStop:before {
    background: url('../images/icon/ico_common_16.png') -208px 0;
  }
*/

  .ERS_amount table {
    .scode {
      width: 120px;
    }
    .send, .term {
      width: 110px;
    }
    .price {
      width: 100px;
      text-align: center;
    }
  }
  .wide_type tr th.price {
    width: 100px;
  }
  .ERS_amount table .amount {
    width: 30px;
    text-align: center;
  }
  #contents .ERS_amount table td #amount {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }
  .ERS_amount table {
    .act {
      width: 100px;
      text-align: center;
    }
    td {
      &.tankaList, &.totalList, &.countList {
        text-align: center;
      }
    }
  }
}

/*TBL*/
@media only screen and (min-width: 641px) and (max-width: 959px) {
    /* contents
--------------------------------------------------*/
  #ERS_flow {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .ERS_amount table {
    .scode {
      width: 120px;
    }
    .send, .term {
      width: 110px;
    }
    .price {
      width: 100px;
      text-align: center;
    }
  }
  .wide_type tr th.price {
    width: 100px;
  }
  .ERS_amount table .amount {
    width: 30px;
    text-align: center;
  }
  #contents .ERS_amount table td #amount {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }
  .ERS_amount table {
    .act {
      width: 100px;
      text-align: center;
    }
    td {
      &.tankaList, &.totalList, &.countList {
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 959px) {
  .table_box dl {
        display: -ms-flexbox;
        display: -webkit-flex;
    dt {
      float: left;
      width: 20%;
      /*margin-bottom: -1000px;
      padding-bottom: 1000px;*/
      padding-bottom:3%;
    }
    dd {
      float: left;
      width: 75%;
    }
  }
  #contents {
    .ERS_btn, article .ERS_btn {
      width: 80%;
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 699px) {
  .table_box dl {
    dt {
      width: 100%;
      padding: 8px 0 8px 0;
      border-bottom: 1px solid #ddd;
      label {
        padding: 0 0 0 2%;
      }
    }
    dd {
      width: 98%;
      padding: 6px 0 6px 2%;
      span.check_box {
        margin: 10px 0 10px 0;
        label {
          margin: 0 0 0 0;
          padding: 10px 25px 10px 25px;
        }
      }
    }
  }
    /* ERS_btn
	---------------------------------------------------------------- */
  #contents {
    .ERS_btn, article .ERS_btn {
      width: 85%;
    }
    input {
      &[type='text'], &[type='email'], &[type='password'] {
        padding: 8px 4px 8px 4px;
      }
    }
    select {
      padding: 6px 0 6px 4px;
    }
  }
}

/*SMP*/
@media only screen and (max-width: 640px) {
    /* contents
--------------------------------------------------*/
  #ERS_flow {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .table_box dl {
    dt {
      width: 100%;
      padding: 8px 0 8px 0;
      border-bottom: 1px solid #ddd;
      label {
        display: block;
        padding: 0 0 0 2%;
      }
    }
    dd {
      width: 98%;
      padding: 6px 0 6px 2%;
      span.summarry {
        width: 100%;
        margin: 0 auto 0 auto;
      }
      textarea {
        width: 96%;
        margin: 0 auto 0 auto;
      }
      #inquiry_content {
        width: 90%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
      span.check_box {
        margin: 10px 0 10px 0;
        label {
          margin: 0 0 0 0;
          padding: 10px 25px 10px 25px;
        }
      }
    }
  }
    /* ERS_amount
---------------------------------------------------------------- */
  .ERS_amount table {
    display: block;
    tbody {
      display: block;
    }
    tr {
      display: block;
      border-top: 1px solid #a7bb35;
      border-bottom: 1px solid #a7bb35;
      &:first-child {
        display: none;
      }
    }
    td {
      font-size: 1.0em;
      display: block;
      overflow: hidden;
      width: auto;
      margin: 0 0 0 0;
      padding: 4px 1em 4px 1em;
      border-bottom: none !important;
      &.sname, &.sname02 {
        width: auto;
      }
      &.dayList, &.teikiList, &.tankaList, &.countList, &.totalList {
        position: relative;
        width: auto;
        padding-left: 50%;
      }
      &.teikiList:before, &.countList:before, &.totalList:before, &.dayList:before, &.tankaList:before {
        font-size: 1.0em;
        position: absolute;
        top: 4px;
        left: 0;
        width: 44%;
        text-align: right;
      }
      &:empty {
        display: none !important;
      }
      &.dayList:before {
        content: 'お届け間隔：';
      }
      &.tankaList:before {
        content: '単価：';
      }
      &.countList:before {
        content: '数量：';
      }
      &.totalList:before {
        content: '金額：';
      }
    }
    .fixBtn {
      width: auto;
      a {
        width: 85% !important;
        margin: 0 0 0 0 !important;
      }
    }
    td.deleteBtn {
      width: auto;
    }
  }
    /*
.ERS_amount table td.teikiList:before {
	content:"定期商品お届け間隔：";
}
.ERS_amount table td.teikiList:empty:before {
	content:" ";
}
*/
  .table_total table {
    th {
      width: 40%;
    }
    td {
      width: 53%;
    }
  }
  #ERS_totalsum table {
    th {
      width: 65% !important;
    }
    td {
      width: 35% !important;
    }
  }
    /* wide_type
---------------------------------------------------------------- */
  .wide_type {
    display: block;
    tbody {
      display: block;
    }
    tr {
      display: block;
      float: none;
      clear: both;
      border-top: 1px solid #a7bb35;
      border-bottom: 1px solid #a7bb35;
      &:first-child {
        //display: none;
      }
      td {
        font-size: 1.0em;
        display: block;
        overflow: hidden;
        width: auto;
        margin: 0 0 0 0;
        padding: 4px 1em 4px 1em;
        border-top: none !important;
        border-bottom: none !important;
        &.itemImgs {
          float: left;
          width: 18%;
          img {
            width: 100%;
          }
        }
        &.itemName, &.priceList, &.itemDetails {
          float: right;
          width: 65%;
        }
        &.wishBtns {
          clear: both;
        }
        &.numberList, &.dateList, &.bayTotal, &.usePoint, &.getPoint, &.havePoint {
          position: relative;
          width: auto;
          padding-left: 50%;
        }
        &.numberList:before, &.dateList:before, &.bayTotal:before, &.usePoint:before, &.getPoint:before, &.havePoint:before {
          font-size: 1.0em;
          position: absolute;
          top: 4px;
          left: 0;
          width: 44%;
          text-align: right;
        }
        &.numberList:before {
          content: '伝票番号：';
        }
        &.dateList:before {
          content: 'ポイント更新日：';
        }
        &.bayTotal:before {
          content: '購入金額：';
        }
        &.usePoint:before {
          content: 'ご利用ポイント：';
        }
        &.getPoint:before {
          content: '獲得ポイント：';
        }
        &.havePoint:before {
          content: '所持ポイント：';
        }
        &.detailBtn {
          width: auto;
          text-align: center;
          a {
            width: 85% !important;
            margin: 0 0 0 0 !important;
          }
        }
      }
    }
  }
    /* ERS_page_send
---------------------------------------------------------------- */
  #contents {
    .ERS_page_send {
      form {
        left: 50%;
      }
      p {
        margin: 0 0 12px 0;
        padding: 0 5px 0 0;
      }
      input {
        &[type='submit'], &[type='button'] {
          font-size: 1.0em;
        }
      }
    }
    .ERS_btn, article .ERS_btn {
      width: 85%;
    }
    .ERS_btn p, article .ERS_btn p {
      width: 100%;
      margin: 0 0 10px 0;
    }
    .ERS_btn p:first-child, article .ERS_btn p:first-child, .ERS_btn p:last-child, article .ERS_btn p:last-child {
      float: none;
      clear: both;
      position:initial;
    }
    .btn {
      width: 100%;
      padding: 12px 0 12px 0;
    }
    .next, .back, .cart_btn, .wish_btn {
      float: none;
    }
  }
    /* ERS_btn
---------------------------------------------------------------- */
    /* ERS_recommend
---------------------------------------------------------------- */
  .ERS_recommend_list {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 60px 0;
    text-align: center;
    h3.title {
      text-align: center;
    }
  }
  #ERS_news h4 {
    margin: 0 5% 0 5%;
  }
    /* form
---------------------------------------------------------------- */
  #contents {
    input {
      &[type='submit'] {
        padding: 12px 0 12px 0;
      }
      &[type='text'], &[type='email'], &[type='password'] {
        padding: 8px 4px 8px 4px;
      }
    }
    select {
      padding: 6px 0 6px 4px;
    }
    #amount {
      width: 80%;
      margin: 0 0 0 0;
    }
    #lname, #lnamek, #add_lname, #add_lnamek, #fname, #fnamek, #add_fname, #add_fnamek {
      width: 50%;
    }
    #birthday_m {
      margin: 0 5px 0 0;
    }
    #datepickerFrom, #datepickerTo {
      width: 26%;
    }
  }
}