/* ERS_detail
---------------------------------------------------------------- */

#contents {
  h2 {
    margin: 0 0 10px 0;
    padding: 0 0 3px 10px;
  }
  #ERS_detail {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    #l_col {
      float: left;
      width: 38%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      h3 {
        width: 95%;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
        img {
          width: 100%;
        }
      }
      ul {
        display: table;
        width: 95%;
        margin: 0 auto 0 auto;
        padding: 5px 0 0 0;
        text-align: center;
        li {
          display: table-cell;
          width: 31%;
          padding: 0 1% 0 1%;
          list-style-type: none;
          text-align: center;
          img {
            width: 100%;
          }
        }
      }
    }
    #r_col {
      float: right;
      width: 60%;
      margin: 0 0 0 0;
      padding: 0 0 0 2%;
      .ERS_table {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        > div p {
          font-size: 1.0em;
        }
        h3 {
          font-size: 1.1em;
          margin: 20px 0 0 0;
          padding: 0 0 0 0;
        }
        table.detail {
          th {
            font-size: 1.0em;
            width: 90px;
            padding: 10px 0 5px 5px;
            color: #000;
          }
          td {
            font-size: 1.0em;
          }
        }
      }
    }
  }
}

#ERS_detail #r_col .ERS_table table.detail td {
  span {
    font-size: 1.1em;
  }
  strong {
    font-size: 1.1em;
    font-weight: bold;
  }
}

#contents {
  #sns a {
    padding: 0 10px 0 0;
  }
  .ERS_btn p.detail_amount {
    width: 100%;
    padding: 5px 0 10px 5px;
    label {
      display: inline-block;
      width: 90px;
    }
  }
  input#amount {
    width: 50px;
    text-align: right;
  }
  .ERS_btn {
    width: 100%;
  }
}

/* ERS_btn
---------------------------------------------------------------- */

#container #content .container-vm .row #primary .site-content article .ERS_btn {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  #contents {
    .ERS_btn p {
      &.cartbtn {
        float: left !important;
        margin-top:25px;
      }
      &.wishlist {
        float: right !important;
        margin-top:66px;
      }
    }
    .wish_btn {
      float: right;
    }
    .prodmessage {
        position:absolute;
        margin-bottom:20px;
    }
  }
}
@-moz-document url-prefix() { 
  .prodmessage {
    right:259px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 999px) {
  #contents .ERS_btn p {
    &.cartbtn {
      display: block !important;
      float: none;
      width: 100%;
      margin: 0 0 10px 0;
    }
    &.wishlist {
      display: block !important;
      float: none;
      width: 100%;
      position:initial;
    }
  }
}

#contents {
  .ERS_btn p {
    &#saleBefore {
      position: absolute;
      top: 30%;
      left: 20%;
    }
    &#saleAfter {
      position: absolute;
      top: 30%;
      left: 17%;
    }
  }
  #ERS_periodical {
    width: 97.5%;
    margin: 20px auto 20px auto;
    padding: 5px 1% 5px 1%;
    border: 1px solid #d1d1d1;
    h3 {
      float: left;
      width: 50%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      img {
        width: 90%;
      }
    }
    .deliver {
      float: right;
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      h3 {
        font-size: 1.0em;
        float: none;
        width: 98%;
        margin: 0 0 5px 0;
        padding: 0 0 5px 2%;
        color: #594018;
        border-bottom: 1px solid #444;
        label {
          font-size: 1.2em;
        }
      }
      table.detail {
        width: 60%;
        margin: 15px auto 0 auto;
        td strong {
          font-size: 1.2em;
        }
        caption {
          font-size: 1.2em;
          text-align: left;
          h3 {
            width: 100%;
            padding: 0 0 5px 0;
            maegin: 0 0 0 0;
          }
        }
      }
      #showMenu1, #showMenu2 {
        width: 93%;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
      }
      #showMenu3 {
        width: 93%;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
        h3 {
          font-size: 1.0em;
          font-weight: normal;
          width: 100%;
          margin: 0 0 5px 0;
          padding: 0 0 3px 3px;
          border-bottom: 1px dotted #d1d1d1;
        }
        p {
          margin: 0 0 0 0;
          padding: 0 0 15px 10px;
        }
      }
      .cal_in {
        font-size: 1.0em;
        margin: 0 0 0 0;
        padding: 0 0 0 10px;
      }
      .fixInput {
        width: 200px;
      }
      p {
        font-size: 19.2px;
        font-size: 1.2rem;
        margin: 0 0 20px 0;
        padding: 0 0 0 2%;
      }
      .ERS_table th {
        padding: 5px 0 3px 0;
        text-align: left;
      }
    }
    table.detail {
      width: 100%;
      th {
        width: 100px;
        &.border_none {
          border: none;
        }
      }
      .btn {
        float: none;
        width: 60%;
        margin: 0 auto 0 auto;
      }
    }
  }
  .ui-datepicker-trigger, #datepicker1 {
    vertical-align: middle;
  }
  select#matrix_form {
    width: auto;
    min-width: 100px;
  }
  .line_icon {
    width: 20px;
  }
}

/* ERS_periodical
---------------------------------------------------------------- */

@media only screen and (min-width: 960px) {
  #contents #ERS_recommend .ERS_recommend_list {
    width: 140px;
    padding: 0 3px 45px 3px;
    h3 img {
      width: 138px;
    }
    .btn {
      width: 90%;
      margin: 0 auto 0 auto;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  #contents #ERS_recommend .ERS_recommend_list {
    width: 18%;
    padding: 0 1% 45px 1%;
    h3 img {
      width: 95%;
      max-width: 160px;
      margin: 0 auto;
    }
    .btn {
      font-size: .85em;
      width: 95%;
      margin: 0 auto 0 auto;
      padding: 8px 0 8px 0;
      &:hover {
        padding: 8px 0 8px 0;
      }
    }
  }
    /*
	#contents .detail_btn:before{
		background:url("../images/icon/ico_common_16.png") -32px 0;
		background-size:160px 8px;
		margin-top:-4px;
		width:8px;
		height:8px;
	}
	*/
}

@media only screen and (min-width: 641px) and (max-width: 699px) {
  #contents #ERS_detail #r_col .ERS_table div img {
    width: 80%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 640px) {
  #contents {
    #ERS_detail {
      #r_col .ERS_table div img {
        width: 60%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
      #l_col {
        float: none;
        width: 50%;
        margin: 0 auto 0 auto;
      }
      #r_col {
        float: none;
        width: 95%;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
        .ERS_table {
          width: 95%;
          margin: 0 auto 0 auto;
        }
      }
    }
    #ERS_periodical {
      width: 95%;
      margin: 20px auto 0 auto;
      padding: 0 0 0 0;
      border: none;
      h3 {
        float: none;
        width: 98%;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
      }
      .deliver {
        float: none;
        width: 98%;
        margin: 10px auto 10px auto;
        padding: 10px 0 10px 0;
        border-top: 2px solid #d1d1d1;
        border-bottom: 2px solid #d1d1d1;
        h3 {
          width: 95%;
          margin: 0 auto 5px auto;
        }
      }
      table.detail {
        width: 95%;
        margin: 0 auto 0 auto;
      }
    }
    #custumer {
      width: 98%;
      margin: 0 auto 0 auto;
      img {
        width: 50%;
        margin: 0 auto 0 auto;
      }
    }
    #ERS_periodical table.detail .btn {
      float: none;
      width: 100%;
      margin: 0 auto 0 auto;
    }
  }
}