@charset "UTF-8";

/* ERS_btn
---------------------------------------------------------------- */

#contents {
  .ERS_btn {
    .fl_r {
      float: right !important;
    }
    .fl_l {
      float: left !important;
    }
  }
  .mt10 {
    margin-top: 10px;
  }
  .recount p {
    margin: 0 0 0 0;
  }
}

.ui-datepicker-trigger {
  width: 23px;
  margin: 0 10px 0 10px;
  padding: 0 0 0 0;
  font-size: 1.0em;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  background-color: #fff;
  border: none;
  vertical-align: middle;
}

.cal, input {
  vertical-align: middle;
}

#contents dd.end input[type="submit"].Recalculation {
  width: 15%;
  margin: 0 0 0 0;
  display: inline-block;
}