@charset "UTF-8";

.ERS_recommend_list {
  table.detail_recommend {
    th, td {
      font-size: 9.5px;
    }
  }
  h3.title {
    font-size: 10px;
  }
}

#ERS_ranking h5 {
  font-size: 10px;
}

@media only screen and (max-width: 640px) {
  .ERS_recommend_list table {
    th {
      width: 70px;
      padding: 6px 0 6px 3px;
      color: #CDBDAD;
      font-weight: normal;
      text-align: left;
      border-bottom: 1px solid #CCCCCC;
    }
    td {
      padding: 6px 0 6px 0;
      border-bottom: 1px solid #CCCCCC;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 640px) {
  .ERS_recommend_list table {
    th {
      width: 55px;
      padding: 6px 0 6px 3px;
      border-bottom: 1px solid #CCCCCC;
    }
    td {
      width: auto;
      padding: 6px 0 6px 0;
    }
  }
  .ERS_amount table td.sname {
    width: auto;
    display: block;
    vertical-align: top;
    img {
      float: left;
      display: block;
      padding: 0 5px 0 0;
    }
    span {
      display: block;
      padding-top: 15px;
    }
  }
}