﻿@charset "UTF-8";

/* ==========================================================================
   共通
========================================================================== */

html {
  /* 10px相当 */
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 62.5%;
}

/* float 自動クリア
............................................................... */

.clearfix {
  _height: 1px;
  min-height: 1px;
  /*￥*//*/
  height: auto;
  overflow: hidden;
  /**/
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '';
  }
}

a {
  color: #a7bb35;
}

li {
  list-style: none;
}

/* wrapper
--------------------------------------------------*/

#wrapper {
  width: 100%;
  margin: 0 auto 0 auto;
}

@media only screen and (max-width: 700px) {
  #wrapper {
    padding: 5px 0 0 0;
  }
}

@media only screen and (min-width: 700px) {
  #wrapper {
    padding: 17px 0 0 0;
  }
}

/* header
--------------------------------------------------*/

header {
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  border-bottom: 6px solid #a7bb35;
  .inner {
    margin: 0 auto 0 auto;
  }
  h1 {
    float: left;
    width: 200px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  nav {
    float: right;
    overflow:hidden;
  }
  ul {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    li {
      float: left;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    &.top {
      float: right;
      li {
        font-size: 14px;
        font-size: 1.4rem;
        float: left;
        margin: 0 0 0 0;
        padding: 0 10px 0 13px;
        color: #2b2b2b;
        a {
          text-decoration: none;
          color: #2b2b2b;
        }
        &:first-child {
          background: none;
        }
      }
    }
  }
  p {
    float: right;
    clear: both;
    &.try {
      display: block;
      float: right;
      clear: both;
      margin: 0 0 10px 0;
      padding: 0 0 0 0;
      a {
        font-size: 14px;
        font-size: 1.4rem;
        display: block;
        float: right;
        width: 216px;
        margin: 0 0 0 0;
        padding: 5px 10px 5px 10px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #a7bb35;
      }
    }
  }
  ul.bottom {
    float: right;
    margin: 0 0 8px 0;
    li {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      color: #2b2b2b;
      a {
        text-decoration: none;
        color: #2b2b2b;
      }
    }
  }
}

/* container
--------------------------------------------------*/

#container {
  margin: 0 auto 0 auto;
  padding: 30px 0 0 0;
}

/* container
--------------------------------------------------*/

#contents {
  font-size: 12px;
  font-size: 1.2rem;
}

/* aside
--------------------------------------------------*/

aside {
  #side_search_box {
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    form {
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      p {
        display: table;
        width: 98%;
        height: 25px;
        margin: 0 auto 0 auto;
        padding: 0 0 0 0;
        border: 1px solid #000;
        -webkit-border-radius:3px 3px 3px 3px;
        -moz-border-radius:3px 3px 3px 3px;
        border-radius:3px 3px 3px 3px;
        background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#fff));
        background: -moz-linear-gradient(top,#efefef,#fff);
        background: -o-linear-gradient(#efefef, #fff);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
        span {
          &:first-child {
            display: table-cell;
            width: 80%;
            height: 100%;
          }
          &:last-child {
            display: table-cell;
            width: 20%;
            height: 100%;
            text-align: center;
            vertical-align: middle;
            border: none;
            -webkit-border-radius:0 3px 3px 0;
            -moz-border-radius:0 3px 3px 0;
            border-radius:0 3px 3px 0;
            background: #000;
          }
        }
        input[type='text']#s_left_keyword {
          display: block;
          width: 100%;
          height: 100%;
          margin: 0 0 0 0;
          padding: 0 6px 0 6px;
          border: none;
          -webkit-border-radius:3px 0 0 3px;
          -moz-border-radius:3px 0 0 3px;
          border-radius:3px 0 0 3px;
          background: none;
        }
        span input[type='image']#search_submit-s {
          display: block;
          width: auto;
          height: 100%;
          margin: 0 auto 0 auto;
          padding: 0 0 0 0;
          vertical-align: bottom;
          border: none;
          -o-border-radius: 0;
          -ms-border-radius: 0;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0;
        }
      }
    }
    p.detail {
      font-size: .85em;
      float: right;
      margin: 5px 0 0 0;
      padding: 0 0 0 14px;
      background: url('../images/icon_navi02.png') 0 3px no-repeat;
    }
  }
  #side_cart {
    margin: 0 0 30px 0;
    padding: 10px 18px 11px 18px;
    border: 1px solid #a7bb35;
    h3 {
      margin: 0 0 8px 0;
    }
    p {
      margin: 0 0 15px 0;
      padding: 0 8px 0 8px;
      /*font-size:1.2rem;*/
      &#sideTotal {
        /*font-size:1.2rem;*/
        font-weight: bold;
        margin: 0 0 5px 0;
        padding: 0 0 0 0;
        color: #d71418;
      }
      &#sideBtn {
        margin: 0 0 5px 0;
        padding: 0 0 0 0;
        a {
          text-align: center;
        }
      }
    }
    div {
      border: 1px solid  #d1d1d1;
      /* webkit用 */
      -webkit-border-radius:3px;
      /* mozzila用 */
      -moz-border-radius:3px;
      /* IE・Opera用 */
      border-radius:3px 3px 3px 3px;
      -moz-box-shadow:0 0 4px #d1d1d1 inset;
      -webkit-box-shadow:0 0 4px #d1d1d1 inset;
      box-shadow:0 0 4px #d1d1d1 inset;
      background-color: #fff;
      p {
        font-size: 1.0em;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        color: #cdbdad;
        span {
          display: block;
          padding: 5px 0 5px 5px;
        }
        strong {
          font-size: 1.2em;
          display: block;
          padding: 7px 7px 6px 5px;
          text-align: right;
          color: #000;
          span {
            font-size: .85em;
            display: inline;
            color: #333;
          }
        }
      }
    }
    p a {
      display: block;
      padding: 5px 0 0 0;
      text-align: right;
      color: #cdbdad;
    }
    .carriageoff {
      margin: 0 0 0 0;
      padding: 10px 0 10px 0;
      text-align: center;
      border: 1px solid  #d1d1d1;
    }
  }
  #login_form {
    margin: 0 0 30px 0;
    padding: 10px 18px 11px 18px;
    border: 1px solid #a7bb35;
    h4 {
      margin: 15px 0 15px 0;
      padding: 0 0 0 0;
      text-align: center;
    }
    #email_ck {
      margin: 0 5px 0 0;
    }
    ul {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      li {
        font-weight: bold;
        margin: 0 0 9px 0;
        padding: 0 0 0 15px;
        background: url('../images/icon_navi02.png') 0 3px no-repeat;
        &.logout {
          display: block;
        }
        &.mypage {
          display: none;
        }
      }
    }
    h3.welcome {
      font-size: 1.0em;
      display: none;
      margin: 0 0 15px 0;
      padding: 0 0 0 0;
      text-align: center;
    }
    p {
      &.mypage {
        display: none;
        margin: 0 0 9px 0;
        padding: 0 0 0 0;
        text-align: center;
      }
      &.logout {
        display: block;
        margin: 0 0 9px 0;
        padding: 0 0 0 0;
        text-align: center;
      }
    }
  }
  .nonmember h3 {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
  }
  .member {
    h3 {
      margin: 10px 0 15px 0;
      padding: 0 0 0 0;
      text-align: center;
    }
    p {
      margin: 0 0 9px 0;
      padding: 0 0 0 0;
      text-align: center;
    }
  }
  .bnr {
    position: relative;
    clear: both;
    overflow: hidden;
    ul {
      margin: 0 0 30px 0;
      padding: 0 0 0 0;
      li {
        margin: 0 0 0 0;
        padding: 0 0 16px 0;
      }
    }
  }
  #check_box {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    h3 {
      margin: 0 0 0 0;
      padding: 0 0 13px 0;
      border-bottom: 1px solid #000;
    }
    ul {
      margin: 19px 0 0 -10px;
      padding: 0 0 0 0;
      li {
        float: left;
        margin: 0 0 0 0;
        padding: 0 0 10px 10px;
        img {
          width: 58px;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          border: 1px solid #f5f5f5;
        }
      }
    }
  }
  #side_search_box {
    #s_keywords {
      overflow: hidden;
      width: 83%;
      height: 25px;
    }
    input {
      position: relative;
      margin: 0 0 0 0;
      vertical-align: middle;
    }
  }
}

/* footer
 ---------------------------------------------------------------- */

footer {
  margin: 0 0 0 0;
  padding: 27px 0 40px 0;
  border-top: 6px solid #a7bb35;
  background-color: #f5f5f5;
  .inner {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    p {
      font-size: 14px;
      font-size: 1.4rem;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      color: #000;
    }
    ul {
      margin: 0 0 0 -10px;
      padding: 0 0 19px 0;
      li {
        display: block;
        float: left;
        margin: 0 0 0 0;
        padding: 0 10px 0 10px;
        background: url('../images/icon_navi.gif') right 3px no-repeat;
        a {
          font-size: 14px;
          font-size: 1.4rem;
          text-decoration: none;
          color: #727272;
        }
        &:last-child {
          padding: 0 0 0 10px;
          background: none;
        }
      }
    }
  }
}

/*---------------------------------PC-------------------------------------------*/
@media only screen and (min-width: 960px) {
    /* header
	--------------------------------------------------*/
  header {
    .inner {
      width: 960px;
    }
    nav {
      width: 710px;
    }
    ul {
      &.top {
        padding: 6px 0 5px 0;
        li {
          float: left;
          padding: 3px 10px 0 13px;
          background: url('../images/icon_navi.gif') left 6px no-repeat;
        }
      }
      &.bottom {
        padding: 2px 0 0 0;
        li {
          padding: 3px 20px 3px 25px;
          &:last-child {
            padding: 3px 0 3px 25px;
          }
          &.list {
            background: url('../images/icon_list.png') 0 center no-repeat;
          }
          &.mypage {
            background: url('../images/icon_mypage.png') 0 center no-repeat;
          }
          &.cart {
            background: url('../images/icon_cart.png') 0 center no-repeat;
          }
          &.wish {
            background: url('../images/icon_wish.png') 0 center no-repeat;
          }
        }
      }
    }
    navi p {
      float: right;
      clear: both;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
  }
    /* container
	--------------------------------------------------*/
  #container {
    width: 960px;
  }
    /* contents
	--------------------------------------------------*/
  #contents {
    float: right;
    width: 730px;
  }
    /* aside
	--------------------------------------------------*/
  aside {
    float: left;
    width: 200px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    #side_cart div {
      width: 154px;
      margin: 0 auto 7px auto;
      padding: 2px 2px 0 2px;
    }
  }
    /* footer
	 ---------------------------------------------------------------- */
  footer .inner {
    width: 960px;
  }
}

/*----------------------------------TBL-----------------------------------------*/
@media only screen and (min-width: 700px) and (max-width: 959px) {
    /* header
	--------------------------------------------------*/
  header {
    .inner {
      width: 96%;
    }
    ul.bottom {
      display: table;
      float:left;
      margin: 0 0 0 0;
      padding: 0 0 10px 0;
      li {
        display: table-cell;
        margin: 0 0 0 0;
        padding: 3px 20px 3px 25px;
        &:last-child {
          padding: 3px 0 3px 25px;
        }
        &.list {
          background: url('../images/icon_list.png') 0 center no-repeat;
        }
        &.mypage {
          background: url('../images/icon_mypage.png') 0 center no-repeat;
        }
        &.cart {
          background: url('../images/icon_cart.png') 0 center no-repeat;
        }
        &.wish {
          background: url('../images/icon_wish.png') 0 center no-repeat;
        }
      }
    }
    nav {
      p {
        float: right;
        clear: both;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
      width: 500px;
    }
    ul.top {
      position: relative;
      padding: 6px 0 40px 0;
      li {
        padding: 0 10px 0 13px;
        background: url('../images/icon_navi.gif') left 4px no-repeat;
      }
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 959px) {
    /* container
	--------------------------------------------------*/
  #container {
    width: 96%;
  }
    /* aside
	--------------------------------------------------*/
  aside {
    width: 86%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    #side_cart div {
      margin: 0 auto 7px auto;
      padding: 2px 2px 0 2px;
    }
    .bnr ul {
      position: relative;
      left: 50%;
      float: left;
      li {
        position: relative;
        left: -50%;
        float: left;
        img {
          padding: 0 0 16px 16px;
        }
      }
    }
  }
    /* footer
	 ---------------------------------------------------------------- */
  footer .inner {
    width: 96%;
  }
}

@media only screen and (min-width: 800px) and (max-width: 959px) {
  aside {
    #side_cart {
      float: left;
      width: 43%;
    }
    #login_form {
      float: right;
      width: 43%;
    }
    .bnr ul {
      position: relative;
      left: auto;
      display: block;
      float: none;
      max-width: 648px;
      margin: 0 auto 30px;
      li {
        position: relative;
        left: auto;
        float: left;
      }
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 799px) {
  aside {
    #side_cart {
      float: left;
      width: 41%;
    }
    #login_form {
      float: right;
      width: 41%;
    }
    .bnr ul {
      position: relative;
      left: auto;
      display: block;
      float: none;
      max-width: 432px;
      margin: 0 auto 30px;
      li {
        position: relative;
        left: auto;
        float: left;
      }
    }
  }
}

@media only screen and (min-width: 700px) and (max-width: 750px) {
  header h1 {
    width: 23%;
  }
}

@media only screen and (max-width: 899px) {
  aside {
    #side_cart div {
      margin: 0 auto 7px auto;
      padding: 2px 2px 0 2px;
    }
    .bnr ul {
      position: relative;
      left: 50%;
      float: left;
      li {
        position: relative;
        left: -50%;
        float: left;
        img {
          padding: 0 0 16px 16px;
        }
      }
    }
  }
}

/*------------------------------------SMP---------------------------------------*/
@media only screen and (max-width: 700px) {
    /* header
	--------------------------------------------------*/
  header {
    padding: 0 0 0 0;
    background: none;
    .inner {
      position: relative;
      width: 100%;
    }
    h1 {
      float: none;
      width: 110px;
      margin: 0 0 5px 0;
      padding: 0 0 0 2.5%;
    }
    nav {
      display: block;
      float: none;
      width: 100%;
      margin: 0 auto 0 auto;
      p.tel {
        position: absolute;
        top: 25px;
        right: 2.5%;
        float: none;
        width: 60%;
        max-width: 317px;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        img {
          width: 100%;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          vertical-align: top;
        }
      }
    }
    ul.bottom {
      display: table;
      float:left;
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      border-bottom: 2px solid #a7bb35;
      li {
        font-size: 1.1rem;
        font-weight: normal;
        display: table-cell;
        float: none;
        width: auto;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        text-align: center;
        white-space: nowrap;
        letter-spacing: -.1em;
        border: 1px solid #ccc;
        -webkit-border-radius:2px 2px 0 0;
        -moz-border-radius:2px 2px 0 0;
        border-radius:2px 2px 0 0;
        background:none;
        background: -webkit-gradient(linear,left top,left bottom,from(#e9ecd9),to(#fff));
        background: -moz-linear-gradient(top,#e9ecd9,#fff);
        background: -o-linear-gradient(#e9ecd9, #fff);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9ecd9,endColorstr=#ffffffff);
        a {
          display: block;
          margin: 0 0 0 0;
          padding: 10px 0 10px 0;
        }
        &.list, &.mypage {
          padding: 0 3px 0 3px;
        }
        &.cart, &.wish {
          letter-spacing: -.2em;
        }
      }
    }
    p.try {
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      a {
        width: 100%;
        margin: 0 0 0 0;
        padding: 10px 0 10px 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
    /* container
	--------------------------------------------------*/
  #container {
    width: 96%;
  }
    /* aside
	--------------------------------------------------*/
  aside {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    #side_cart div {
      margin: 0 auto 7px auto;
      padding: 2px 2px 0 2px;
    }
    .bnr ul {
      position: relative;
      left: auto;
      display: block;
      float: none;
      max-width: 432px;
      margin: 0 auto 30px;
      li {
        position: relative;
        left: auto;
        float: left;
        img {
          padding: 0 0 16px 16px;
        }
      }
    }
    #login_form {
      padding: 20px 18px 10px 18px;
      h3.welcome {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }
    }
  }
    /* footer
	 ---------------------------------------------------------------- */
  footer {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: none;
    background: #f5f5f5;
    .inner {
      width: 100%;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      ul {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-top: 1px solid #ccc;
        li {
          display: block;
          float: none;
          margin: 0 0 0 0;
          padding: 0 0 0 0;
          text-align: left;
          background: none;
          &:last-child {
            display: block;
            float: none;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
            text-align: left;
            background: none;
          }
          a {
            display: block;
            margin: 0 0 0 0;
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid #ccc;
            background: -webkit-gradient(linear,left top,left bottom,from(#e9ecd9),to(#fff));
            background: -moz-linear-gradient(top,#e9ecd9,#fff);
            background: -o-linear-gradient(#e9ecd9, #fff);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9ecd9,endColorstr=#ffffffff);
          }
        }
      }
      p {
        margin: 0 0 0 0;
        padding: 5px 0 5px 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  #wrapper {
    width: 320px;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  aside {
    #side_cart div {
      margin: 0 auto 7px auto;
      padding: 2px 2px 0 2px;
    }
    .bnr ul {
      position: relative;
      left: auto;
      display: block;
      float: none;
      max-width: 200px;
      margin: 0 auto 30px;
      li {
        position: relative;
        left: auto;
        float: left;
        img {
          padding: 0 0 16px 0;
        }
      }
    }
    #login_form {
      padding: 20px 18px 10px 18px;
      h3.welcome {
        line-height: 13px;
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
      }
    }
  }
}