﻿@charset "UTF-8";

/* result_item
--------------------------------------------------*/

.result_item {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #CCC;
  h3 {
    width: 24%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: left;
    img {
      width: 100%;
    }
  }
  .text {
    width: 48%;
    margin: 0 0 0 0;
    padding: 5px 2% 0 2%;
    float: left;
    h4 {
      margin: 0 0 0 0;
      padding: 0 0 10px 0;
      font-size: 1.4rem;
      a {
        color: #000;
        text-decoration: none;
      }
    }
    p {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 1.2rem;
    }
  }
  .detail_box {
    width: 24%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: right;
    h5 {
      width: 60%;
      margin: 0 auto 0 auto;
      padding: 0 0 0 0;
    }
  }
}

#contents .btn {
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  display: block;
}

#search_box {
  width: 97%;
  margin: 20px auto 20px auto;
  padding: 10px 1% 10px 1%;
  border: 1px solid #a7bb35;
  form {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

#contents #search_box {
  h3 {
    width: 90%;
    height: 25px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    border: 1px solid #000;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fff));
    background: -moz-linear-gradient(top, #efefef, #fff);
    background: -o-linear-gradient(#efefef, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
    display: table;
    span {
      &:first-child {
        width: 80%;
        height: 100%;
        display: table-cell;
      }
      &:last-child {
        width: 20%;
        height: 100%;
        border: none;
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
        background: #000;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  .keywordBox {
    position: relative;
  }
  input[type="text"]#s_keyword {
    width: 98%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 6px 0 6px;
    border: none;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    background: none;
    display: block;
  }
  h3 span input[type="image"]#search_submit-s2 {
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    vertical-align: bottom;
    border: none;
    width: auto;
    height: 100%;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block;
  }
}

#search_box {
  h4 {
    margin: 5px 0 0 0;
    padding: 0 0 0 14px;
    font-size: 1.2rem;
    color: #DDD;
    background: url("../images/icon_navi02.png") 0 2px no-repeat;
    float: left;
  }
  .table_box {
    clear: both;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    border: none;
    dl:first-child {
      border-top: 1px solid #DDD;
    }
    dd {
      width: 60%;
    }
  }
}

#contents #search_box {
  p {
    margin: 10px auto 0 auto;
  }
  .btn {
    margin: 0 auto 0 auto;
    width: 40%;
  }
}

.iconSearch:before {
  position: absolute;
  left: 43%;
}

.wBreak {
  word-break: loose;
}

@media only screen and (max-width: 640px) {
  .result_item {
    margin: 0 0 20px 0;
    padding: 10px 0 20px 0;
    h3 {
      width: 40%;
      margin: 0 auto 0 auto;
      float: none;
    }
    .text {
      width: 90%;
      margin: 0 auto 0 auto;
      padding: 10px 0 0 0;
      float: none;
      h4 {
        text-align: center;
      }
    }
    .detail_box {
      width: 90%;
      margin: 0 auto 0 auto;
      padding: 10px 0 0 0;
      float: none;
    }
  }
  #contents .btn {
    padding: 10px 0 10px 0;
  }
  #search_box {
    .table_box dd {
      width: 98%;
      vertical-align: middle;
      input[type="checkbox"] {
        margin: -2px 0 0 0;
        vertical-align: middle;
      }
    }
    .btn {
      width: 100%;
    }
  }
  .iconSearch:before {
    position: absolute;
    left: 33%;
  }
}

@media only screen and (max-width: 500px) {
  #search_box {
    h3 {
      width: 100%;
      margin: 0 auto 0 auto;
      float: none;
    }
    #s_keyword {
      width: 83%;
    }
    h4 {
      margin: 10px auto 0 auto;
    }
    .btn {
      width: 100%;
    }
  }
  .iconSearch:before {
    position: absolute;
    left: 33%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 959px) {
  .table_box dl dt {
    width: 30%;
    float: left;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
  }
}