﻿@charset "UTF-8";

/* contents
--------------------------------------------------*/

#contents {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.0em;
  float: none;
  p.top_image {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    text-align: center;
    max-width: 100%;
  }
  .w100 {
        width:100%;
   }
  input[type="image"]{
      width:100%;
  }
  .ERS_login {
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 10px 10px 10px 10px;
    border: 2px solid #DDD;
    h3 {
      margin: 0 0 0 0;
      padding: 0 0 10px 0;
      text-align: center;
      color: #594018;
    }
    p.iconLogin {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      text-align: center;
      &:before {
        background: none;
      }
    }
    #login_email, #login_passwd {
      width: 92%;
      margin: 0 0 0 0;
    }
  }
}

/* ERS_login
---------------------------------------------------------------- */

@media only screen and (min-width: 980px) {
  #contents .ERS_login {
    width: 70%;
  }
}

/* error
--------------------------------------------------------- */

.ERS_input_error {
  border: 2px solid #DDD;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  font-size: 1.0em;
}

.ERS_error p span, .ERS_input_error p span {
  display: block;
  font-weight: normal;
  margin: 0;
  padding: 5px 0 0 10px;
  color: #d61516;
}

span.dispError, em.dispError {
  color: #d61516;
}

#form_area .ERS_IVP_caution {
  background-color: #b8d200 !important;
  color: #c9171e !important;
  font-weight: bold !important;
}

/* ERS_box
--------------------------------------------------------- */

#contents {
  #ERS_box {
    width: 95%;
    margin: 0 auto 0 auto;
  }
  #form_area {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    font-size: 1.0em;
    h3 {
      clear: both;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 1.0em;
    }
  }
  #item_detail h3 {
    clear: both;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 1.0em;
  }
  .ERS_login table, #form_area table {
    width: 100%;
    margin: 10px auto 20px auto;
    padding: 0 0 0 0;
    border: none;
    border-top: 1px solid #DDD;
    background: transparent;
    font-size: 1.0em;
  }
  .ERS_login table tr:nth-of-type(2n), #form_area table tr:nth-of-type(2n) {
    background: transparent;
  }
  .ERS_login table th {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #DDD;
    background-color: #F9F9F9;
    font-size: 1.0em;
  }
  #form_area table {
    th, td.title {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      text-align: left;
      font-weight: normal;
      border-bottom: 1px solid #DDD;
      background-color: #F9F9F9;
      font-size: 1.0em;
    }
  }
  .ERS_login table td {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #DDD;
    font-size: 1.0em;
  }
  #form_area table {
    td {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid #DDD;
      font-size: 1.0em;
    }
    span.required {
      padding: 0 5px 0 0;
      color: #ad3d37;
      font-weight: bold;
    }
    td span {
      clear: both;
      display: block;
      &.required {
        display: inline;
      }
    }
  }
}

@media only screen and (min-width: 980px) {
  #contents #ERS_box {
    width: 85%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 979px) {
  #contents #ERS_box {
    width: 100%;
  }
}

@media only screen and (max-width: 719px) {
  #contents #ERS_box {
    width: 98%;
  }
}

/* form_area
--------------------------------------------------------- */

@media only screen and (min-width: 980px) {
  #contents {
    #form_area, #item_detail {
      width: 85%;
    }
  }
}

/* item_detail
----------------------------------------------------------*/

#item_detail {
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
  table {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
    th {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      text-align: left;
      font-weight: normal;
      border: 1px solid #DDD;
      background-color: #F9F9F9;
      font-size: 1.0em;
    }
    td {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      border: 1px solid #DDD;
      font-size: 1.0em;
    }
    &.total {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      border: none;
      border-left: 1px solid #DDD;
      border-right: 1px solid #DDD;
      th {
        text-align: right;
        border: none;
        border-bottom: 1px solid #DDD;
      }
      td {
        border: none;
        border-bottom: 1px solid #DDD;
        text-align: right;
      }
    }
  }
}

#contents textarea {
  width: 95%;
}

/* form
--------------------------------------------------------- */

@media only screen and (min-width: 980px) {
  #contents {
    #form_area table {
      th {
        width: 220px;
      }
      td span {
        &.sp_only, &.tb_only {
          display: none;
        }
      }
    }
    #item_detail table.total th {
      width: 170px;
    }
    .ERS_btn {
      width: 530px;
    }
    #form_area table td.title {
      width: 80%;
      text-align: right;
    }
  }
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 200px;
  }
  #lname, #fname, #lnamek, #fnamek {
    margin: 0 15px 0 5px;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 290px;
  }
  #ques {
    width: 310px;
  }
  #pref {
    width: 150px;
  }
  #zip {
    width: 100px;
    margin: 0 10px 0 0;
  }
  #address, #taddress, #maddress {
    width: 600px;
    margin: 0 0 0 0;
    display: block;
  }
  #birthday_y, #validity_y {
    width: 100px;
    margin: 0 5px 0 0;
  }
  #birthday_m, #birthday_d, #validity_m {
    width: 50px;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 979px) {
  #contents {
    #form_area, #item_detail {
      width: 100%;
    }
    #form_area table th {
      width: 190px;
    }
    #login_box table th {
      width: 150px;
    }
    #form_area table td span.sp_only {
      display: none;
    }
    #item_detail table.total th {
      width: 50%;
    }
    .ERS_btn {
      width: 530px;
    }
  }
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 38%;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 65%;
  }
  #ques {
    width: 73%;
  }
  #pref {
    width: 50%;
  }
  #zip {
    width: 30%;
  }
  #address, #taddress, #maddress {
    width: 90%;
    display: block;
  }
  #birthday_y, #validity_y {
    width: 40%;
    margin: 0 5px 0 0;
  }
  #birthday_m, #birthday_d, #validity_m {
    width: 17%;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (max-width: 719px) {
  #contents {
    #form_area, #item_detail {
      width: 98%;
    }
    #form_area table {
      th {
        display: block;
      }
      td {
        display: block;
        span.tb_only {
          display: none;
        }
      }
    }
    #item_detail table.total {
      width: 100%;
      th {
        width: 50%;
      }
    }
    .ERS_btn {
      width: 50%;
    }
    .lp_btn #landing_submit {
      width: 90%;
      height: 80px;
      background-size: 100% auto;
    }
  }
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 50%;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 70%;
  }
  #ques {
    width: 73%;
  }
  #pref {
    width: 50%;
  }
  #zip {
    width: 30%;
    margin: 0 10px 0 0;
  }
  #address, #taddress, #maddress {
    width: 95%;
  }
  #birthday_y, #validity_y {
    width: 60%;
    margin: 0 5px 0 0;
  }
  #birthday_m, #validity_m {
    width: 26%;
    margin: 0 5px 0 0;
  }
  #birthday_d {
    width: 26%;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 719px) {
  .ERS_btn {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .ERS_btn {
    width: 90%;
    form {
      &:first-child, &:last-child {
        float: none;
      }
      p {
        text-align: center;
      }
    }
    input.btn {
      &[type="submit"], &[type="button"] {
        width: 100%;
        margin: 0 auto 0 auto;
      }
    }
  }
}