@charset "UTF-8";

/* ERS_btn
---------------------------------------------------------------- */

#contents .ERS_btn form {
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  p {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}