﻿@charset "shift_jis";
@import "variables";
@import "mixin";


/*                 CONTENTS
--------------------------------------------------*/
h2 {
    @include font-size(14.4);
    margin: 0 0 10px 0;
    padding: 0 0 5px 10px;
    color: $color-green_01;
    border-bottom: 2px solid $color-green_01;
    border-left: 10px solid $color-green_01;

    &.subtitle {
        margin: 0 0 15px 0;
        padding: 0 0 7px 0;
        border: none;
        border-bottom: 2px solid $color-green_01;
    }
}

h3 {
    font-size: 1.0em;
    margin: 0 0 0 0;
    padding: 5px 0 3px 0;

    &.widget-title { color: $color-brown_02; }
    .m-ERS_IVP_color {
        font-size: .85em;
        font-weight: normal;
        margin-left: 5px;
        color: $color-red_01;
    }
}

h4 {
    font-size: .85em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding: 0 0 3px 0;
}

.m-index_title {
    @include auto-m-p;
    width: 98.5%;

    img { width: 100%; }
}

.m-h2_title {
    margin: 0 0 15px 0;
    padding: 0 0 2px 0;
    font-size: 1.0rem;
    border: none;
    border-bottom: 2px solid $color-green_01;
}

.m-h2_title-detail { padding: 0 0 3px 10px !important; }

.m-subtitle02 {
    margin: 0 0 0 0;
    padding: 5px 0 3px 0;
    text-align: left;
    color: $color-brown_01;
}

.m-subtitle03 {
    padding: 8px 0 5px 20px;
    border-bottom: 1px solid $color-green_01;
}

.m-subtitle04 {
    margin: 20px 0 0 0;
    padding: 8px 0 8px 20px;
    text-align: left;
    color: #000;
    border-top: 1px solid $color-green_01;
    border-bottom: 1px solid $color-green_01;
    background: $color-white_01;
}

.m-point {
    @include no-mp;
    font-size: 1em;
    display: inline-block;

    strong { font-size: 1em !important; }
}

.m-article_column {
    display: inline-block;
    float: left;
    width: 33%;
}

.m-recount {
    width: 95%;
    margin: 10px auto 0 auto;
    padding: 0 0 0 0;

    p {
        @include no-mp;
        float: left;
        width: 80%;
    }
    h4 {
        float: right;
        width: 20%;
    }
    & .m-btn { width: 100%; }
}

.m-wBreak { word-wrap: break-word; }
.m-ERS_ssl_alert { text-align: center; }
.m-ERS_IVP_color { color: $color-red_01; }
.m-cart_pad-btn { margin: 15px auto 40px auto !important; }

/*                 ARTICLE
--------------------------------------------------*/
.m-article {
    margin: 0 0 0 0;
    padding: 0 0 30px 0;

    a { line-height: 1.0; }
    p { font-size: .85em; }
    ul {
        li {
            margin: 0 0 10px 0;
            padding: 5px 0 5px 20px;
            font-size: 13px;
            background: url(../images/btn_tri.gif) 0px 8px no-repeat;
        }
    }
    .m-table_box {
        dl {
            dd {             
                input, 
                button {
                    vertical-align: middle;
                }
                .ui-datepicker-trigger {
                    width: 23px;
                    margin: 0 10px 0 10px;
                    padding: 0 0 0 0;
                }
            }
            .m-bill2_table { padding: 6px 0 6px 5px; }
        }
    }
    .m-bill_wrapper{
        display:block;
        margin-bottom: 20px;
    }
    .m-orderbill {
        width:100%;
        background: #fff;
        overflow: hidden;
        margin-bottom: 10px;    
        .order_date{
            background: $color-green_01;
            color:#fff;
            padding:8px;
        }
        tr {
            @include mQ($max,599px){
                border-bottom: 1px solid #a7bb35;
                &:first-child{border: none}
                &:nth-child(3){
                    border: none;
                }
            }

            td{
                padding:8px;
                border-bottom: 1px solid #a7bb35;
                .order_br{
                        display: none;
                    }

                @include mQ($max,599px) {
                    border: none;
                     .order_br{
                        display: block;
                    }
                }
               

                @include mQ($max,379px){
                    .order_hide{
                        display:none;
                    }
                    border-bottom: none;
                }

                a {
                    border-top: 1px solid #ccc;
                    display: block;
                    padding-top: 5px;
                    min-height: 18px;

                    &:first-child {
                        border: none;
                        padding: 0;
                    }

                    @include mQ($max,599px) {
                        width: 144%;
                    }
                }
            }
            .order_button{
                width:30%;
            }
            .order_button-02{
                display:none;
            }
            .order_number{
                width:40%;
            }
            @include mQ($max,599px){
                .order_button{
                    display:none;
                }
                .order_button-02{
                    display: table-cell;
                    width: 100%;
                    padding-bottom:10px;
                    input[type="submit"]{
                           width: 95%;
                           margin: 0 auto;
                    }

                }
                
            }

        }

    }
    .m-static_list {
        @include no-mp;
        font-size: 1em;
        background: none;
    }
}

/*                 ERS_box
--------------------------------------------------*/
.m-ERS_box {
    p {
        // media query 960x0
        @include mQ($min,960px) {
            line-height: 23px;
        }
    }
}

/*               ERS_breadcrumb
--------------------------------------------------*/
.m-ERS_breadcrumb {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
}

/*                  ERS_news
-------------------------------------------------- */
.m-ERS_news {
    margin: 0 0 0 0;
    padding: 20px 0 20px 0;

    .m-ttl_news_index {
        margin: 0 0 0 !important;
        padding: 0 0 2px 0;
    }
    h2 {
        & span {
            display: block;
            float: right;
            font-size: 1.2rem;
            font-weight: normal;
        }
    }
    h3 {
        span {
            display: block;
            float: right;
            font-weight: normal;
        }
    }
    p {
        @include font-size(12);
        line-height: 1.5;
        display: block;
        margin: 0 0 0 0;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid #ccc;
    }
    .date {
        margin: 0 20px 0 15px;
        color: #000;
    }
    ul {
        margin: 0 0 0 7px;
        padding: 0 0 0 0;

        li {
            padding: 5px 0 0 20px;
            font-size: 14px;
            background: url(../images/btn_tri.gif) 0px 8px no-repeat;
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        h4 { margin: 0 5% 0 5%; }
    }
}

/*              ERS_recommend
--------------------------------------------------*/
.m-ERS_recommend { @include no-mp; }

.m-ERS_recommend_list {
    float: left;
    width: 175px;
    margin: 0 0 0 0;
    padding: 0 5px 45px 0;
    text-align: center;

    h3 {
        &.title {
            font-size: 1.0em;
            text-align: left;
        }
        img {
            width: 160px;
            margin: 0 auto 5px auto;
            border: 1px solid #ababab;
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
    h4 {
        padding: 0 0 3px 0;
        margin: 0 auto;
    }
    p {
        font-size: 1.0em;
        margin: 0 0 0 0;
        padding: 0 0 5px 0;
        text-align: left;
    }
    > div { padding: 0 3px 0 3px; }

    table {
        width: 100%;
        margin: 0 0 5px 0;
        padding: 0 0 0 0;
        border: none;
        background: transparent;

        th {
            font-size: 1.0em;
            font-weight: normal;
            width: 90px;
            padding: 6px 0 6px 3px;
            text-align: left;
            color: $color-green_01;
        }
        td {
            font-size: 1.0em;
            padding: 6px 0 6px 3px;
            text-align: left;
        }

        // media query 780x0
        @include mQ($min,780px) {
            th {
                display: block;
                float: left;
                width: 97%;
                padding: 6px 1.5% 0 1.5%;
                border: none;
            }
            td {
                display: block;
                float: left;
                width: 97%;
                padding: 0 1.5% 6px 1.5%;
            }
        }

        // media query 640x780
        @include mQ(null,640px,780px) {
            th {
                display: block;
                width: 97%;
                padding: 6px 1.5% 0 1.5%;
                border: none;
            }
            td {
                display: block;
                width: 97%;
                padding: 0 1.5% 6px 1.5%;
            }
        }
    }

    // media query 640x780
    @include mQ(null,640px,780px) {
        width: 23%;
        padding: 0 1% 45px 1%;

        h3 img {
            width: 95%;
            max-width: 160px;
            margin: 0 auto 0 auto;
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        float: none;
        width: 95%;
        margin: 0 auto 0 auto;
        padding: 0 0 60px 0;
        text-align: center;

        h3.title { text-align: center; }
    }
}

/*                ERS_ranking
--------------------------------------------------*/
.m-ERS_ranking {
    margin: 0 0 30px 0;
    padding: 0 0 0 0;

    h3 {
        display: block;
        overflow: hidden;
        margin: 0 0 15px 0;
        padding: 0 0 13px 0;
        text-indent: -9999px;
        border-bottom: 1px solid $color-green_01;
        background: url(../images/mttl_ranking.png) 0 0 no-repeat;
    }
    div {
        @include no-mp;
        float: left;
        width: 145px;
    }
    h4 {
        @include no-mp;
        position: relative;

        span {
            font-size: 1.0em;
            position: absolute;
            top: 5px;
            left: 12px;
            display: none;
            color: #fff;
        }
        img {
            @include auto-m-p;
            width: 130px;
            text-align: center;
            border: 1px solid #ccc;
        }
    }
    h5 {
        font-size: 1.0em;
        font-weight: normal;
        margin: 0 0 0 0;
        padding: 3px 5px 0 5px;
        text-align: left;

        a { color: $color-green_01; }
    }
    .title {
        font-weight: bold;
        margin: 0 0 10px 0;
        padding: 0 0 5px 5px;
        color: $color-orange_01;
        border-bottom: 2px solid $color-orange_01;
    }
    .m-sp_block {
        display: block;
        margin-bottom: 5px;
    }

    // media query 640x780
    @include mQ (null,640px,780px) {
        div {
            width: 18%;
            margin: 0 1% 0 1%;
        }
        h4 img {
            width: 100%;
            max-width: 130px;
            margin: 0 auto 0 auto;
        }
    }

    // media query 0x640
    @include mQ($max, 640px) {
        margin: 0 0 0 0;
        padding: 0 0 15px 0;

        h3 { margin: 0 0 5px 0; }
        div {
            display: table;
            float: none;
            width: 100%;
        }
        h4 {
            display: table-cell;
            width: 30%;
            padding: 0 2.5% 0 0;
            text-align: center;

            img {
                width: 100%;
                max-width: 130px;
                margin: 0 auto 0 auto;
            }
        }
        h5 {
            display: table-cell;
            margin: 0 0 0 0;
            padding: 0 0 0 5px;
            vertical-align: middle;
            word-break: break-word;
        }
    }

    // media query 641x0
    @include mQ($min,641px) {
        .sp_block { display: inline; }
    }
}

/*                 ERS_btn
--------------------------------------------------*/
.m-ERS_btn {
    width: 60%;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;

    p {
        @include no-mp;
        width: 50%;

        center { margin: 0 auto; }
        &:first-child { float: left; }
        &:last-child { float: right; }
        &.center {
            float: none;
            margin: 0 auto 0 auto;
        }
    }
    .detail_amount {
        width: 100%;
        padding: 5px 0 10px 5px;

        label {
            display: inline-block;
            width: 90px;
        }
    }

    .m-btn_pad {padding: 15px 0 15px 0; }

    // media query 0x1000
    @include mQ($min,1000px) {
        p {
            &.cartbtn {
                float: left !important;
                margin-top: 25px;
            }
            &.wishlist {
                float: right !important;
                margin-top: 66px;
            }
        }
        .prodmessage {
            position: absolute;
            margin-bottom: 20px;
        }
    }

    // media query 700x959
    @include mQ(null,700px,959px) { // .ERS_btn, article .ERS_btn {
        width: 80%;
    }

    // media query 641x999
    @include mQ(null,641px,999px) {
        p {
            &.cartbtn {
                display: block !important;
                float: none;
                width: 100%;
                margin: 0 0 10px 0;
            }
            &.wishlist {
                display: block !important;
                float: none;
                width: 100%;
                position: initial;
            }
        }
    }

    // media query 641x699
    @include mQ(null,641px,699px) { // .ERS_btn, article .ERS_btn {
        width: 85%;

        input {
            &[type='text'],
            &[type='email'], 
            &[type='password'] {
                padding: 8px 4px 8px 4px;
            }
        }
        select { padding: 6px 0 6px 4px; }
    }

    // media query 0x640
    @include mQ($max,640px) {
        width: 85%;

        p {
            width: 100%;
            margin: 0 0 10px 0;

            &:first-child, 
            &:last-child { //.ERS_btn p:first-child, article .ERS_btn p:first-child, .ERS_btn p:last-child, article .ERS_btn p:last-child
                float: none;
                clear: both;
                position: initial;
            }
        }
    }
}

/*                 BUTTONS
--------------------------------------------------*/
.l-contents {
    .m-btn {
        @include css3(border-radius,3px);
        font-size: 1.0em;
        font-weight: bold;
        line-height: 1;
        display: block;
        width: 95%;
        margin: 0 0 0 0;
        padding: 15px 0 15px 0;
        text-align: center;
        text-decoration: none;
    }
    .m-btn02 {
        @include css3(border-radius,3px);
        font-size: .95em;
        font-weight: bold;
        display: block;
        width: 90%;
        margin: 0 auto 0 auto;
        padding: 4px 0 4px 0;
        text-align: center;
        text-decoration: none;
    }
    .m-next {
        @include gradient($color-green_02,$color-green_01,$v);
        color: #fff;
        background-color: $color-green_01;
    }
    .m-back {
        @include gradient($color-gray_04,$color-gray_06,$v);
        color: $color-gray_07;
        background-color: $color-gray_06;
        border: 1px solid $color-gray_08;
    }
    .m-login_btn {
        @include gradient($color-green_02,$color-green_01,$v);
        color: #fff;
        background-color: $color-green_01;
    }
    .m-detail_btn {
        @include gradient($color-orange_03,$color-orange_02,$v);
        position: relative;
        color: #fff;
        background-color: $color-orange_02;
        text-shadow: 1px 1px 1px $color-brown_03;
    }
    .m-cart_btn {
        @include gradient($color-green_03,$color-green_01,$v);
        color: #fff;
        background-color: $color-green_01;
        text-shadow: 1px 1px 1px $color-green_04;
    }
    .m-wish_btn {
        @include gradient($color-yellow_02,$color-yellow_01,$v);
        color: #fff;
        background-color: $color-yellow_01;
        text-shadow: 1px 1px 1px $color-yellow_03;

        @include mQ($min,1000px) {
            float: right;
        }
    }
    .m-center_btn, .m-gray_btn {
        @include gradient($color-gray_04,$color-gray_06,$v);
        color: $color-gray_07;
        border: 1px solid $color-gray_08 !important;
        background-color: $color-gray_06;
    }
    .m-gray02_btn {
        @include gradient($color-gray_09,$color-gray_10,$v);
        color: #fff;
        border: 1px solid $color-gray_11 !important;
        background-color: $color-gray_10;
    }
    .m-black_btn {
        color: #fff;
        background-color: $color-gray_12;
    }
    .m-green_btn {
        color: #fff;
        background-color: $color-yellow_01;
    }
    .m-index_btn {
        margin: 0 auto 0 auto;
        font-size: 1.4rem;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding: 8px 0 8px 0;
        
        // media query 0x640
        @include mQ($min,641px) {
            width: 100%;
        }

        // media query 0x640
        @include mQ($max,640px) {
            width: 60%;
            margin: 5px auto 0 auto;
        }
    }
    .m-list_btn {
        font-weight: normal;
        display: block;
        width: 100%;
        padding: 8px 0 8px 0;
        text-align: center;
        text-decoration: none;
    }

/*               id contents
--------------------------------------------------*/

    .pri_chk {
    margin: 0 5px 0 0;
    padding: 0 0 0 0;
    vertical-align: bottom;
    }

    .lname,
    .lnamek,
    .add_lname,
    .add_lnamek {
        width: 33.5%;
        margin: 0 10px 0 3px;
    }

    .fname,
    .fnamek,
    .add_fname,
    .add_fnamek {
        width: 33.5%;
        margin: 0 0 0 3px;
    }

    .email,
    .email_confirm,
    .email_pc,
    .address_name {
        width: 96%;
        margin: 0 0 0 0;
    }

    .mformat,
    .tel,
    .fax,
    .add_tel,
    .add_fax, //not found
    .cardno,
    .card_no,
    .card,
    .card_type,
    .Select1,
    .Text1,
    .send {
        width: 40%;
        margin: 0 0 0 0;
    }

    .zip,
    .add_zip {
        width: 25%;
        margin: 0 10px 0 0;
    }

    .pref,
    .add_pref {
        width: 25%;
        margin: 0 0 0 0;
    }

    .address,
    .taddress,
    .maddress,
    .add_address,
    .add_taddress,
    .add_maddress,
    .compname,
    .compnamek,
    .division,
    .divisionk {
        width: 96%;
        margin: 0 0 0 0;
    }

    .birthday_y {
        width: 30%;
        margin: 0 5px 0 0;
    }

    .birthday_m,
    .birthday_d {
        width: 20%;
        margin: 0 5px 0 15px;
    }

    .validity_y,
    .Text2 {
        width: 15%;
        margin: 0 5px 0 0;
    }

    .validity_m,
    .Text3 {
        width: 10%;
        margin: 0 5px 0 15px;
    }

    .sex {
        width: 20%;
        margin: 0 0 0 0;
    }

    .password1,
    .password2,
    .passwd,
    .passwd_confirm {
        width: 40%;
        margin: 0 0 0 0;
    }

    .ques,
    .ans {
        width: 80%;
        margin: 0 0 0 0;
    }

    .amount {
        width: 90%;
        margin: 0 0 0 0;
        // media query 0x640
        @include mQ($max,640px) {
            width: 80%;
            margin: 0 0 0 0;
        }
    }

    .s_scode {
        width: 40%;
        margin: 0 0 0 0;
    }

    .s_cate1, //not found
    .s_cate2, //not found
    .s_cate3, //not found
    .s_cate4, //not found
    .s_cate5 { //notfound
        width: 50%;
        margin: 0 0 0 0;
    }

    .s_price1,
    .s_price2 {
        width: 30%;
        margin: 0 3px 0 0;
    }

    .s_sname,
    .s_keyword,
    .sort {
        width: 70%;
        margin: 0 0 0 0;
    }

    .email_pc {
        margin: 0 0 5px 0;
    }

    .email_ck {
        margin: 0 5px 0 0;
    }
    // media query 0x640
    @include mQ($max,640px) {
        .lname,
        .lnamek,
        .add_lname,
        .add_lnamek,
        .fname,
        .fnamek,
        .add_fname,
        .add_fnamek {
            width: 50%;
        }

        .birthday_m {
            margin: 0 5px 0 0;
        }

        .datepickerFrom,
        .datepickerTo {
            width: 26%;
        }
    }
}

/*               search_box
--------------------------------------------------*/
.m-search_box {
    width: 97%;
    margin: 20px auto 20px auto;
    padding: 10px 1% 10px 1%;
    border: 1px solid $color-green_01;

    form { @include no-mp; }
    h3 {
        @include auto-m-p;
        @include css3(border-radius,3px 3px 3px 3px);
        @include gradient(#efefef,#ffffff,$v);
        @include w-h(90%,25px);
        border: 1px solid #000;
        display: table;

        span {
            &:first-child {
                @include w-h(80%,100%);
                display: table-cell;
            }
            &:last-child {
                @include w-h(20%,100%);
                @include css3(border-radius,0 3px 3px 0);
                border: none;
                background: #000;
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
    .m-keywordBox {
        position: relative;

        h3 {
            .s_keyword {
                @include w-h(98%,100%);
                @include css3(border-radius,3px 0 0 3px);
                @include font-size(12);
                margin: 0 0 0 0;
                padding: 0 6px 0 6px;
                border: none;
                background: none;
                display: block;
            }

            .search_submit-s2 {
                @include auto-m-p;
                @include w-h(auto,100%);
                @include css3(border-radius,0);
                vertical-align: bottom;
                border: none;
                display: block;
            }
        }
        
    }
    h4 {
        margin: 5px 0 0 0;
        padding: 0 0 0 14px;
        font-size: 1.2rem;
        color: #DDD;
        background: url("../images/icon_navi02.png") 0 2px no-repeat;
        float: left;
    }

    .m-table_box {
        clear: both;
        width: 100%;
        margin: 0 auto 0 auto;
        padding: 10px 0 0 0;
        border: none;

        dl {
            &:first-child { border-top: 1px solid #DDD; }
        }
        dd {width: 60%;}

        .next {
            width: 15%;
            display: inline;
            padding: 6px 0 6px 0;
        }
    }

    p {
        margin: 10px auto 0 auto;
    }

    .m-btn {
        width: 40%;
        margin: 0 auto 0 auto;
        // media query 0x640
        @include mQ($max,640px) {
            padding: 12px 0 12px 0;
        }
    }

    .iconSearch {
        &:before {
            position: absolute;
            left: 43%;
        }
    }
    // media query 0x640
    @include mQ($max,640px) {
        .m-table_box dl dd {
            width: 98%;
            vertical-align: middle;

            input[type="checkbox"] {
                margin: -2px 0 0 0;
                vertical-align: middle;
            }

            .next {
                width: 30%;
                margin: 5px auto 0 auto;
                display: block;
            }
        }

        .iconSearch:before {
            position: absolute;
            left: 33%;
        }
    }
    // media query 0x500
    @include mQ($max,500px) {
        h3 {
            margin: 0 auto 0 auto;
            float: none;
        }
        .s_keyword { width: 83%; }
        h4 { margin: 10px auto 0 auto; }

        .iconSearch:before {
            position: absolute;
            left: 33%;
        }
    }
    // media query 700x959
    @include mQ(null,700px,959px) {
        .table_box dl dt {
            width: 30%;
            float: left;
        }
    }
}

/*                 suggest
--------------------------------------------------*/
.m-suggest {
    font-size: 100%;
    position: absolute;
    z-index: 99;
    left: 0;
    width: 72%;
    border: 1px solid #ccf;
    background-color: #fff;

    div {
        display: block;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;

        &.select { /* キー上下で選択した場合のスタイル */
            color: #fff;
            background-color: #36f;
        }
        &.over { background-color: #9cf; }  /* マウスオーバ時のスタイル */              
    }
}

/*                result_item
--------------------------------------------------*/

.m-result_item {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #CCC;

    h3 {
        @include no-mp;
        width: 24%;
        float: left;

        img { width: 100%; }
    }
    .text {
        width: 48%;
        margin: 0 0 0 0;
        padding: 5px 2% 0 2%;
        float: left;

        h4 {
            margin: 0 0 0 0;
            padding: 0 0 10px 0;
            font-size: 1.4rem;

            a {
                color: #000;
                text-decoration: none;
            }
        }
        p {
            @include no-mp;
            font-size: 1.2rem;
        }
    }
    .detail_box {
        @include no-mp;
        width: 24%;
        float: right;

        h5 {
            @include auto-m-p;
            width: 60%;
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        margin: 0 0 20px 0;
        padding: 10px 0 20px 0;

        h3 {
            width: 40%;
            margin: 0 auto 0 auto;
            float: none;
        }
        .text {
            width: 90%;
            margin: 0 auto 0 auto;
            padding: 10px 0 0 0;
            float: none;

            h4 { text-align: center; }
        }
        .detail_box {
            width: 90%;
            margin: 0 auto 0 auto;
            padding: 10px 0 0 0;
            float: none;
        }
    }
}

/*                ERS_amount
--------------------------------------------------*/

.m-ERS_amount {
    a { line-height: 1.0; }

    table {
        @include no-mp;
        font-size: .95em;
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        border: none;
        background: transparent;

        tr {
            border-bottom: 1px solid $color-green_01;

            &:last-child { border-bottom: none; }
        }
        th {
            font-size: 1.0em;
            font-weight: normal;
            margin: 0 0 0 0;
            padding: 10px 5px 10px 5px;
            text-align: left;
            background: $color-white_02;

            &.sname { width: 40%; }
        }
        td {
            font-size: 1.0em;
            height: auto;
            margin: 0 0 0 0;

            &.sname {
                margin: 0 0 0 0;
                padding: 8px 0 8px 0;
                text-align: left;

                span {
                    @include no-mp;
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                }
                em {
                    @include no-mp;
                    font-style: normal;
                    display: table-cell;
                    text-align: left;
                    vertical-align: middle;

                    &.image {
                        width: 30%;
                        padding: 0 0 0 0;
                        text-align: center;

                        img {
                            width: 74px;
                            margin: 0 auto 0 auto;
                        }
                    }
                    &.text { width: 70%; }
                }
                span.status { display: block; }
            }
            &.dayList span { display: block; }
        }
    }

    // media query 0x960
    @include mQ($min,960px) {
        table {
            th {
                &.send, 
                &.term { 
                    text-align: center; 
                }
            }
            td.dayList { text-align: center; } // cart.scss
            .scode { width: 120px; } // cart.scss
            .send, .term { width: 110px; }

            .price {
                width: 88px;
                text-align: center;
            }
            .amount {
                width: 43px;
                text-align: center;
            }
            .act {
                width: 88px;
                text-align: center;
            }
            td {
                &.tankaList, 
                &.totalList, 
                &.countList { 
                    text-align: center; 
                }

                .amount {
                    width: 25px;
                    margin: 0 auto 0 auto;
                    text-align: right;
                }
            }
        }
    }

    // media query 641x959
    @include mQ(null,641px,959px) {
        table {
            .scode { width: 120px; }

            .send, 
            .term { 
                width: 110px; 
            }
            .price {
                width: 100px;
                text-align: center;
            }
            .amount {
                width: 30px;
                text-align: center;
            }
            .act {
                width: 100px;
                text-align: center;
            }
            td {
                &.tankaList, 
                &.totalList, 
                &.countList { 
                    text-align: center; 
                }

                .amount {
                    width: 25px;
                    margin: 0 auto 0 auto;
                    text-align: right;
                }
            }
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        table {
            display: block;

            tbody { display: block; }
            tr {
                display: block;
                border-top: 1px solid $color-green_01;
                border-bottom: 1px solid $color-green_01;

                &:first-child { display: none; }
            }
            td {
                font-size: 1.0em;
                display: block;
                overflow: hidden;
                width: auto;
                margin: 0 0 0 0;
                padding: 4px 1em 4px 1em;
                border-bottom: none !important;

                &.sname, 
                &.sname02 { width: auto; }

                &.dayList, 
                &.teikiList, 
                &.tankaList, 
                &.countList, 
                &.totalList {
                    position: relative;
                    width: auto;
                    padding-left: 50%;
                }

                &.teikiList:before, 
                &.countList:before, 
                &.totalList:before, 
                &.dayList:before, 
                &.tankaList:before {
                    font-size: 1.0em;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 44%;
                    text-align: right;
                }

                &:empty {display: none !important;}
                &.dayList:before { content: 'お届け間隔：'; }
                &.tankaList:before { content: '単価：'; }
                &.countList:before { content: '数量：'; }
                &.totalList:before { content: '金額：'; }
            }
            .fixBtn {
                width: auto;

                a {
                    width: 85% !important;
                    margin: 0 0 0 0 !important;
                }
            }
            td.deleteBtn { width: auto; }
        }
    }
}

/*                ERS_totalsum
--------------------------------------------------*/
.m-ERS_totalsum {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 0 40px 0;

    p {
        width: 100%;
        margin: 10px auto 10px auto;
        padding: 0 0 0 0;
        font-size: 1.0em;
    }
    table {
        width: 100%;
        margin: 10px auto 10px auto;
        padding: 0 0 0 0;
        border: 2px solid $color-cream_01;

        th { 
            @include total_table;
            background-color: #fff;
            color: $color-green_01;
            width: 75%;
            text-align: right;
        }
        td {
            @include total_table;
            width: 25%;        
            text-align: center;
        }
    }
}

/*                   ERS_buy
--------------------------------------------------*/
.m-ERS_buy {
    margin: 0 0 0 0;
    padding: 0 0 30px 0;

    .m-btn {
        margin: 0 auto 0 auto;
        width: 100%;
    }
    h3 {
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
        text-align: center;
        color: #594018;
    }
    h4 { @include no-mp; }

    h5 {
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
    }
    p {
        margin: 0 0 0 0;
        padding: 3px 0 10px 0;
    }
    div {
        width: 28.2%;
        margin: 0 0 0 0;
        padding: 15px 1.95% 15px 1.95%;
        border: 2px solid $color-cream_01;
        float: left;
    }
    .ERS_first { margin: 0 1% 0 1%; }

    .email, 
    .password2, 
    .email_pc, 
    .password1 {
        width: 92%;
        margin: 0 0 0 0;
    }
    .login_btn {
        width: 100%;
        white-space: normal;
    }
}

/*                  ERS_detail
--------------------------------------------------*/
.m-ERS_detail {
    @include no-mp;

    .sns a { padding: 0 10px 0 0; }
    .l_col {
        @include no-mp;
        float: left;
        width: 38%;

        h3 {
            width: 95%;
            margin: 0 auto 0 auto;
            padding: 0 0 0 0;

            img { width: 100%; }
        }
        ul {
            display: table;
            width: 95%;
            margin: 0 auto 0 auto;
            padding: 5px 0 0 0;
            text-align: center;

            li {
                display: table-cell;
                width: 31%;
                padding: 0 1% 0 1%;
                list-style-type: none;
                text-align: center;

                img { width: 100%; }
            }
        }
    }

    .r_col {
        float: right;
        width: 60%;
        margin: 0 0 0 0;
        padding: 0 0 0 2%;

        .m-ERS_table {
            @include no-mp;

            > div p { font-size: 1.0em; }
            h3 {
                font-size: 1.1em;
                margin: 20px 0 0 0;
                padding: 0 0 0 0;
            }
            .m-detail {
                th {
                    font-size: 1.0em;
                    width: 90px;
                    padding: 10px 0 5px 5px;
                    color: #000;
                }
                td {
                    font-size: 1.0em;

                    span { font-size: 1.1em; }
                    strong {
                        font-size: 1em;
                        font-weight: bold;
                    }
                }
            }

            // media query 641x699
            @include mQ(null,641px,699px) {
                div img {
                    @include no-mp;
                    width: 80%;
                }
            }

            // media query 0x640
            @include mQ($max,640px) {
                div img {
                    @include no-mp;
                    width: 60%;
                }
                .l_col {
                    float: none;
                    width: 50%;
                    margin: 0 auto 0 auto;
                }
                .r_col {
                    @include auto-m-p;
                    float: none;
                    width: 95%;

                    .m-ERS_table {
                        width: 95%;
                        margin: 0 auto 0 auto;
                    }
                }
            }
        }
    }
}
/*               ERS_periodical
--------------------------------------------------*/
.m-ERS_periodical {
    width: 97.5%;
    margin: 20px auto 20px auto;
    padding: 5px 1% 5px 1%;
    border: 1px solid #d1d1d1;

    h3 {
        @include no-mp;
        float: left;
        width: 50%;

        img { width: 90%; }
    }
    .deliver {
        @include no-mp;
        float: right;
        width: 100%;

        h3 {
            font-size: 1.0em;
            float: none;
            width: 98%;
            margin: 0 0 5px 0;
            padding: 0 0 5px 2%;
            color: #594018;
            border-bottom: 1px solid #444;

            label { font-size: 1.2em; }
        }
        .m-detail {
            width: 60%;
            margin: 15px auto 0 auto;

            td strong { font-size: 1.2em; }

            .point {
                strong { font-size: 1em !important; }
            }
            caption {
                font-size: 1.2em;
                text-align: left;

                h3 {
                    width: 100%;
                    padding: 0 0 5px 0;
                    margin: 0 0 0 0;
                }
            }
            .m-btn {
                float: none;
                width: 60%;
                margin: 0 auto 0 auto;
                padding: 15px 0 15px 0;
            }
        }

        .showMenu1, 
        #showMenu2 {
            @include auto-m-p;
            width: 93%;
        }
        #showMenu3 {
            @extend #showMenu2;

            h3 {
                font-size: 1.0em;
                font-weight: normal;
                width: 100%;
                margin: 0 0 5px 0;
                padding: 0 0 3px 3px;
                border-bottom: 1px dotted #d1d1d1;
            }
            p {
                margin: 0 0 0 0;
                padding: 0 0 15px 10px;
            }
        }
        .cal_in {
            font-size: 1.0em;
            margin: 0 0 0 0;
            padding: 0 0 0 10px;
        }
        .fixInput { width: 200px; }

        p {
            font-size: 19.2px;
            font-size: 1.2rem;
            margin: 0 0 20px 0;
            padding: 0 0 0 2%;
        }
        .ERS_table th {
            padding: 5px 0 3px 0;
            text-align: left;
        }
    }
    .m-detail {
        width: 100%;

        th {
            width: 100px;

            &.border_none { border: none; }
        }
    }

    // media query 0x640
    @include mQ($max, 640px) {
        width: 95%;
        margin: 20px auto 0 auto;
        padding: 0 0 0 0;
        border: none;

        h3 {
            @include auto-m-p;
            float: none;
            width: 98%;
        }

        .deliver {
            float: none;
            width: 98%;
            margin: 10px auto 10px auto;
            padding: 10px 0 10px 0;
            border-top: 2px solid #d1d1d1;
            border-bottom: 2px solid #d1d1d1;

            h3 {
                width: 95%;
                margin: 0 auto 5px auto;
            }
        }
        m-detail {
            width: 95%;
            margin: 0 auto 0 auto;

            .m-btn {
                float: none;
                width: 100%;
                margin: 0 auto 0 auto;
            }
        }
    }
}
.ui-datepicker-trigger, 
#datepicker1 { vertical-align: middle; }

select.matrix_form {
    width: auto;
    min-width: 100px;
}
.line_icon { width: 20px; }

/*                ERS_page_send
--------------------------------------------------*/
.m-ERS_page_send {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;
    text-align: center;

    ul {
        position: relative;
        left: 50%;
        float: left;
        text-align: center;

        li {
            position: relative;
            left: -50%;
            display: inline;
            float: left;
            margin: 0 5px;

            p {
                font-size: 1.0em;
                position: relative;
                left: -50%;
                display: block;
                float: left;
                margin: 0 0 0 0;
                padding: 0 5px 0 0;

                input {
                    &[type='submit'], 
                    &[type='button'] {
                        @include css3(border-radius,3px);
                        font-size: 1.0em;
                        line-height: 1.0;
                        display: block;
                        margin: 0 0 0 0;
                        padding: 5px 10px 5px 10px;
                        color: #35250c;
                        border: none;
                        background: #e7e2da;
                    }
                    &.place {
                        &[type='submit'], 
                        &[type='button'] {
                            font-size: 1.0em;
                            line-height: 1.0;
                            display: block;
                            margin: 0 0 0 0;
                            padding: 5px 10px 5px 10px;
                            color: #fff;
                            border: none;
                            background: #7c6853;
                        }
                    }
                }
            }
            &.return p input.change[type='submit'],         
            &.return p input.change[type='button'],
            &.enter p input.change[type='submit'],
            &.enter p input.change[type='button'] {
                @include css3(border-radius,0);
                font-weight: bold;
                padding: 5px 0 5px 0;
                color: #7c6853;
                background: none;
            }
            &.return p input.change[type='submit']:hover,           
            &.return p input.change[type='button']:hover,
            &.enter p input.change[type='submit']:hover,  
            &.enter p input.change[type='button']:hover {
                border: none;
                background: none;
            }
        }
    }
    // media query 0x640
    @include mQ($max, 640px) {
        form { left: 50%; }
        p {
            margin: 0 0 12px 0;
            padding: 0 5px 0 0;
        }
        input {
            &[type='submit'], 
            &[type='button'] { 
                font-size: 1.0em; 

            }
        }
    }
}

/*                 ERS_flow
--------------------------------------------------*/
.m-ERS_flow {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;

    h2 {
        @include no-mp;
        border: none;

        &:before {
            @include no-mp;
            border: none;
        }
    }
    ol {
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            @include css3(box-sizing,border-box);
            font-size: 100%;
            position: relative;
            display: table-cell;
            width: 33.3%;
            height: 60px;
            text-align: center;
            vertical-align: middle;
            background-color: #ddd;

            &:before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                content: '';
                border-width: 30px 0 30px 15px;
                border-style: solid;
                border-color: transparent transparent transparent #fff;
            }
            &:after {
                position: absolute;
                z-index: 2;
                top: 0;
                right: -14px;
                content: '';
                border-width: 30px 0 30px 15px;
                border-style: solid;
                border-color: transparent transparent transparent #ddd;
            }
            span {
                display: block;
                width: 90%;
                margin: 0 0 0 auto;
            }
        }
        .current {
            font-weight: bold;
            color: #fff;
            background-color: $color-green_01;

            &:after { border-color: transparent transparent transparent $color-green_01; }
        }
        .flow1 {
            z-index: 3;

            &:before { content: none; }
        }
        .flow2 { z-index: 2; }
  
        .flow3 {
            z-index: 1;

            &:after { content: none; }
        }
    }

    .col2 {
        li { width: 50%; }
        .flow1 {
            z-index: 2;

            &:before { content: none; }
        }
        .flow2 {
            z-index: 1;

            &:after { content: none; }
        }
    }

    .col4 {
        li { width: 25%; }
        .flow1 {
            z-index: 4;

            &:before { content: none; }
        }
        .flow2 { z-index: 3; }

        .flow3 {
            z-index: 2;

            &:after { content: ''; }
        }

        .flow4 {
            z-index: 1;

            &:after { content: none; }
        }
    }
    .col5 {
        li { width: 20%; }
        .flow1 {
            z-index: 5;

            &:before { content: none; }
        }
        .flow2 { z-index: 4; }

        .flow3 {
            z-index: 3;

            &:after { content: ''; }
        }
        .flow4 { z-index: 2; }

        .flow5 {
            z-index: 1;

            &:after { content: none; }
        }
    }

    // media query 0x700
    @include mQ($max,700px) {
        ol li {
            height: 80px;

            &:before { border-width: 40px 0 40px 15px; }
            &:after {
                @include flow_after;
                border-width: 40px 0 40px 15px;
            }
        }
    }

    // media query 0x499
    @include mQ($max,499px) {
        ol li {
            height: 104px;

            &:before { border-width: 52px 0 52px 15px; }
            &:after {
                @include flow_after;
                border-width: 52px 0 52px 15px;
            }
        }
    }

    @include mQ(null,641px,959px) {
        width: 100%;

        img { width: 100%; }
    }

    // media query 0x640
    @include mQ($max,640px) {
        width: 100%;

        img { width: 100%; }
    }
}

/*                  ERS_error
--------------------------------------------------*/
.m-ERS_error, .m-ERS_input_error {
    width: 80%;
    margin: 20px auto 20px auto;
    padding: 10px 10px 10px 10px;
    border: 2px solid $color-green_01;

    p {
        @include no-mp;
        font-weight: bold;
        color: $color-red_01;

        span {
            font-weight: normal;
            display: block;
            margin: 0 0 0 0;
            padding: 5px 0 0 10px;
        }
    }
}

/*               ERS_IVP_caution
--------------------------------------------------*/
.m-ERS_IVP_caution {
    font-weight: bold !important;
    color: $color-red_02 !important;
    background-color: $color-green_05 !important;

    label {
        color: $color-red_02 !important;

        .m-ERS_IVP_color { color: $color-red_02 !important; }
    }
}

.m-dispError {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 3px 0;
    color: $color-red_01;
}

/*                  table_box
--------------------------------------------------*/
.m-table_box {
    @include no-mp;
    width: 100%;
    border-top: 1px solid $color-green_01;

    .bdrTop { border-top: 1px solid $color-green_01; }
    h3 { padding: 30px 0 3px 0 !important; }

    dl {
        @include no-mp;
        font-size: .95em;
        display: block;
        overflow: visible;
        height: auto;
        border-bottom: 1px solid $color-green_01;

        dt {
            font-size: 1.0em;
            font-weight: normal;
            display: block;
            margin: 0 0 0 0;
            padding: 11px 0 0 5px;
            background-color: $color-white_02;

            label { font-size: 1.0em; }
        }
        dd {
            font-size: 1.0em;
            display: block;
            margin: 0 0 0 0;
            padding: 11px 0 11px 5px;

            label { font-size: 1.0em; }

            span.summarry {
                display: block;
                margin: 0 0 0 0;
                padding: 0 0 4px 0;
            }
            textarea {
                @include no-mp;
                display: block;
                width: 98%;
            }
            span.check_box {
                display: block;
                margin: 8px 0 0 0;
                padding: 0 0 0 0;
                text-align: center;
            }
            .add_in {
                margin: 0 0 0 0;
                padding: 0 0 5px 0;

                label { display: block; }
            }
        }
    }
    .ex {
        font-size: .85em;
        display: block;
        padding: 3px 0 0 0;
        color: #999;
    }
    .ex2 {
        font-size: .85em;
        display: block;
        padding: 0 0 3px 0;
        color: $color-red_01;
    }

    // media query 0x960
    @include mQ($min,960px) {
        dl {
            @include flex;

            dt {
                float: left;
                width: 195px;
                padding: 12px 0 3% 5px;

                &.long { padding: 12px 0 3% 5px; }
            }
            dd {
                float: left;
                width: 525px;
            }
        }
    }

    // media query 700x959
    @include mQ(null,700px,959px) {
        dl {
            @include flex;

            dt {
                float: left;
                width: 20%;
                padding-bottom: 3%;
            }
            dd {
                float: left;
                width: 75%;
            }
        }
    }

    // media query 641x699
    @include mQ(null,641px,699px) {
        dl {
            dt {
                width: 100%;
                padding: 8px 0 8px 0;
                border-bottom: 1px solid #ddd;

                label { padding: 0 0 0 2%; }
            }
            dd {
                width: 98%;
                padding: 6px 0 6px 2%;

                span.check_box {
                    margin: 10px 0 10px 0;

                    label {
                        margin: 0 0 0 0;
                        padding: 10px 25px 10px 25px;
                    }
                }
            }
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        dl {
            dt {
                width: 100%;
                padding: 8px 0 8px 0;
                border-bottom: 1px solid #ddd;

                label {
                    display: block;
                    padding: 0 0 0 2%;
                }
            }
            dd {
                width: 98%;
                padding: 6px 0 6px 2%;

                span.summarry {
                    width: 100%;
                    margin: 0 auto 0 auto;
                }
                textarea {
                    width: 96%;
                    margin: 0 auto 0 auto;
                }
                #inquiry_content {
                    @include no-mp;
                    width: 90%;
                }
                span.check_box {
                    margin: 10px 0 10px 0;

                    label {
                        margin: 0 0 0 0;
                        padding: 10px 25px 10px 25px;
                    }
                }
            }
        }
    }
}

/*                table_total
--------------------------------------------------*/
.m-table_total {
    table {
        @include no-mp;
        font-size: .95em;
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        border: none;
        border-top: 1px solid $color-green_01;
        background: transparent;

        th {
            font-size: 1.0em;
            font-weight: normal;
            line-height: 2.5;
            width: 65%;
            padding: 0 10px 0 0;
            text-align: right;
            vertical-align: middle;
            border-bottom: 1px solid $color-green_01;
            background: $color-white_02;

            &.bg01 { background: #fff; }
        }
        td {
            font-size: 1.0em;
            width: 35%;
            padding: 0 10px 0 0;
            text-align: right;
            color: #333;
            border-bottom: 1px solid $color-green_01;

            &.ft13 { font-size: 1.0em; }
        }
    }
    p {
        text-align: right;

        // media query 0x640
        @include mQ($max, 640px) {
            font-size: .85em;

            table {
                th { width: 40%; }
                td { width: 53%; }
            }
            .m-ERS_totalsum table {
                th { width: 65% !important; }
                td { width: 35% !important; }
            }
        }
    }
}

/*               table_wide_type
--------------------------------------------------*/
.m-wide_type {
    width: 100%;
    border-bottom: 1px solid $color-green_01;

    tr {
        th {
            font-size: 1.0em;
            font-weight: normal;
            padding: 10px 1em 10px 1em;
            text-align: left;
            color: #333;
            border-bottom: 1px solid $color-green_01;
            background: #fff;
        }
        td {
            font-size: 1.0em;
            padding: 8px 1em 8px 1em;
            border-bottom: 1px solid $color-green_01;
        }
    }

    // media query 0x960
    @include mQ($min,960px) {
        tr th.price { width: 100px; }
    }

    // media query 641x959
    @include mQ(null,641px,959px) {
        tr th.price { width: 100px; }
    }

    // media query 0x640
    @include mQ($max,640px) {
        display: block;

        tbody { display: block; }
        tr {
            display: block;
            float: none;
            clear: both;
            border-top: 1px solid $color-green_01;
            border-bottom: 1px solid $color-green_01;

            td {
                font-size: 1.0em;
                display: block;
                overflow: hidden;
                width: auto;
                margin: 0 0 0 0;
                padding: 4px 1em 4px 1em;
                border-top: none !important;
                border-bottom: none !important;

                &.itemImgs {
                    float: left;
                    width: 18%;

                    img { width: 100%; }
                }

                &.itemName, 
                &.priceList, 
                &.itemDetails {
                    float: right;
                    width: 65%;
                }

                &.wishBtns { clear: both; }

                &.numberList, 
                &.dateList, 
                &.bayTotal, 
                &.usePoint, 
                &.getPoint, 
                &.havePoint {
                    position: relative;
                    width: auto;
                    padding-left: 50%;
                }

                &.numberList:before, 
                &.dateList:before, 
                &.bayTotal:before, 
                &.usePoint:before, 
                &.getPoint:before, 
                &.havePoint:before {
                    font-size: 1.0em;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 44%;
                    text-align: right;
                }

                &.numberList:before { content: '伝票番号：'; }
                &.dateList:before { content: 'ポイント更新日：'; }
                &.bayTotal:before { content: '購入金額：'; }
                &.usePoint:before { content: 'ご利用ポイント：'; }
                &.getPoint:before { content: '獲得ポイント：'; }
                &.havePoint:before { content: '所持ポイント：'; }

                &.detailBtn {
                    width: auto;
                    text-align: center;

                    a {
                        width: 85% !important;
                        margin: 0 0 0 0 !important;
                    }
                }
            }
        }
    }
}

/*                table.detail
--------------------------------------------------*/
.m-detail { 
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    border: none;

    th {
        font-size: 1.0em;
        font-weight: normal;
        width: 70px;
        margin: 0 0 0 0;
        padding: 10px 0 5px 0;
        text-align: left;
        color: $color-green_01;
        border-bottom: 1px solid #ccc;
    }
    td {
        font-size: 1.0em;
        margin: 0 0 0 0;
        padding: 10px 0 5px 0;
        border-bottom: 1px solid #ccc;
    }

    // media query 0x640
    @include mQ($max,640px) {
        div img {
            @include no-mp;
            width: 60%;
        }
        .l_col {
            float: none;
            width: 50%;
            margin: 0 auto 0 auto;
        }
        .r_col {
            @include auto-m-p;
            float: none;
            width: 95%;

            .ERS_table {
                width: 95%;
                margin: 0 auto 0 auto;
            }
        }
    }
}

/*                    CMS
--------------------------------------------------*/
.m-cms {
    h3 {
        margin: 0 0 0 0;
        padding: 0 0 10px 0;
        font-size: 1.0em;

        span {
            @include no-mp;
            font-size: 0.8em;
            font-weight: normal;
            display: block;
        }
    }
}

.m-cms_main-content { @include no-mp; }
.m-news_list-pad { padding: 0 0 20px 0 !important; }

.typeA, 
.typeB, 
.typeC, 
.typeD, 
.typeE, 
.typeF {
    @include no-mp;
    width: 100%;
    display: block;

    img { vertical-align: bottom; }

    p {
        @include no-mp;
        font-size: 1.0em;
        line-height: 1.5;
    }
    div {
        margin: 0 0 0 0;
        padding: 0 0 20px 0;
    }
    .box1 {
        @include no-mp;
    }
    .box2 {
        @include no-mp;
    }
}

.typeB {
    .box1 {
        @include no-mp;
        width: 48%;
        float: right;
    }
    .img01 {
        @include no-mp;
        width: 48%;
        float: left;
        display: inline-table;
    }
    .box2 {
        @include no-mp;
        width: 48%;
        float: left;
    }
    .img02 {
        @include no-mp;
        width: 48%;
        float: right;
        display: inline-table;
    }
}

.typeC {
    ul {
        @include no-mp;
        width: 38%;
        float: right;

        li {
            @include no-mp;
            font-size: 1.0em;

            img {
                margin: 0 0 0 0;
                padding: 0 0 10px 0;
            }
        }
    }
    p {
        width: 60%;
        font-size: 1.0em;
    }
}

.typeE {
    ul {
        @include no-mp;
        width: 100%;
        display: table;
    }
    li {
        width: auto;
        margin: 0 0 0 0;
        padding: 0 5px 0 5px;
        display: table-cell;
        font-size: 1.0em;

        img { @include no-mp; }
    }
}

.m-cms_link {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;

    ul {
        margin: 0 0 0 0;
        padding: 5px 0 0 0;

        li {
            margin: 0 0 0 0;
            padding: 0 0 3px 0;
            font-size: 1.0em;
        }
    }
}

.m-cms_file {
    @include no-mp;

    ul {
        margin: 0 0 0 0;
        padding: 5px 0 0 0;

        li {
            margin: 0 0 0 0;
            padding: 0 0 3px 0;
            font-size: 1.0em;
        }
    }
}

/*                    LP
--------------------------------------------------*/
.m-lp_contents {
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.0em;
  float: none;
  p.top_image {
    margin: 0 0 0 0;
    padding: 0 0 10px 0;
    text-align: center;
    
    img{
        max-width: 100%;
    }
  }
  input[type="image"]{
      max-width:100%;
  }
  .ERS_login {
    width: 90%;
    margin: 0 auto 30px auto;
    padding: 10px 10px 10px 10px;
    border: 2px solid #DDD;
    h3 {
      margin: 0 0 0 0;
      padding: 0 0 10px 0;
      text-align: center;
      color: #594018;
    }
    p.iconLogin {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      text-align: center;
      &:before {
        background: none;
      }
    }
    #login_email, #login_passwd {
      width: 92%;
      margin: 0 0 0 0;
    }
  }

      @media only screen and (min-width: 980px) {
      .ERS_login {
        width: 70%;
      }
    }

    #form_area {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
    font-size: 1.0em;
    h3 {
      clear: both;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
      font-size: 1.0em;
    }
    .personal_handling {
        tr{
            display:flex;
           th{
               width:50%;
               padding: 20% 0 20% 3%;
           }
           td{
               width:100%;
           }
        }
    }
  }
  .ERS_login table, #form_area table {
    width: 100%;
    margin: 10px auto 20px auto;
    padding: 0 0 0 0;
    border: none;
    border-top: 1px solid #DDD;
    background: transparent;
    font-size: 1.0em;
  }
  .ERS_login table tr:nth-of-type(2n), #form_area table tr:nth-of-type(2n) {
    background: transparent;
  }
  .ERS_login table th {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #DDD;
    background-color: #F9F9F9;
    font-size: 1.0em;
  }
  #form_area table {
    th, td.title {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      text-align: left;
      font-weight: normal;
      border-bottom: 1px solid #DDD;
      background-color: #F9F9F9;
      font-size: 1.0em;
    }
  }
  .ERS_login table td {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid #DDD;
    font-size: 1.0em;
  }
  #form_area table {
    td {
      margin: 0 0 0 0;
      padding: 10px 10px 10px 10px;
      border-bottom: 1px solid #DDD;
      font-size: 1.0em;
    }
    span.required {
      padding: 0 5px 0 0;
      color: #ad3d37;
      font-weight: bold;
    }
    td span {
      clear: both;
      display: block;
      &.required {
        display: inline;
      }
    }
  }

  @media only screen and (min-width: 980px) {
    #form_area, #item_detail {
      width: 85%;
    }
  
}

#contents textarea {
  width: 95%;
}
}
@media only screen and (min-width: 980px) {

    #form_area table {
      th {
        width: 220px;
      }
      td span {
        &.sp_only, &.tb_only {
          display: none;
        }
      }
    }
    
    .ERS_btn {
      width: 530px;
    }
    #form_area table td.title {
      width: 80%;
      text-align: right;
    }
  }
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 200px;
  }
  #lname, #fname, #lnamek, #fnamek {
    margin: 0 15px 0 5px;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 290px;
  }
  #ques {
    width: 310px;
  }
  #pref {
    width: 150px;
  }
  #zip {
    width: 100px;
    margin: 0 10px 0 0;
  }
  #address, #taddress, #maddress {
    width: 600px;
    margin: 0 0 0 0;
    display: block;
  }
  #birthday_y, #validity_y {
    width: 100px;
    margin: 0 5px 0 0;
  }
  #birthday_m, #birthday_d, #validity_m {
    width: 50px;
    margin: 0 5px 0 10px;
  }


@media only screen and (min-width: 720px) and (max-width: 979px) {

    #form_area table th {
      width: 190px;
    }
    #login_box table th {
      width: 150px;
    }
    #form_area table td span.sp_only {
      display: none;
    }
    #item_detail table.total th {
      width: 50%;
    }
    .ERS_btn {
      width: 530px;
    }
  }
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 38%;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 65%;
  }
  #ques {
    width: 73%;
  }
  #pref {
    width: 50%;
  }
  #zip {
    width: 30%;
  }
  #address, #taddress, #maddress {
    width: 90%;
    display: block;
  }
  #birthday_y, #validity_y {
    width: 40%;
    margin: 0 5px 0 0;
  }
  #birthday_m, #birthday_d, #validity_m {
    width: 17%;
    margin: 0 5px 0 10px;
  }


@media only screen and (max-width: 719px) {

    #form_area table {
      th {
        display: block;
      }
      td {
        display: block;
        span.tb_only {
          display: none;
        }
      }
    }
  
    .ERS_btn {
      width: 50%;
    }
    .lp_btn #landing_submit {
      width: 90%;
      height: 80px;
      background-size: 100% auto;
    }
  
  #lname, #fname, #lnamek, #fnamek, #add_lname, #add_fname, #add_lnamek, #add_fnamek, #address_name, #tel, #fax, #passwd, #passwd_confirm {
    width: 50%;
  }
  #email, #email_confirm, #email_pc, .input_login, #ans {
    width: 70%;
  }
  #ques {
    width: 73%;
  }
  #pref {
    width: 50%;
  }
  #zip {
    width: 30%;
    margin: 0 10px 0 0;
  }
  #address, #taddress, #maddress {
    width: 95%;
  }
  #birthday_y, #validity_y {
    width: 60%;
    margin: 0 5px 0 0;
  }
  #birthday_m, #validity_m {
    width: 26%;
    margin: 0 5px 0 0;
  }
  #birthday_d {
    width: 26%;
    margin: 0 5px 0 10px;
  }


@media only screen and (min-width: 640px) and (max-width: 719px) {
  .ERS_btn {
    width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .ERS_btn {
    width: 90%;
    form {
      &:first-child, &:last-child {
        float: none;
      }
      p {
        text-align: center;
      }
    }
    input.btn {
      &[type="submit"], &[type="button"] {
        width: 100%;
        margin: 0 auto 0 auto;
      }
    }
  }
}

}
