﻿@charset "shift_jis";
@import "mixin";
@import "variables";

html {
    font-family: $font-base;
    font-size: 62.5% !important;
}
a { color: $color-green_01; }
li { list-style: none; }

input {
    &[type='submit'], &[type='button'] {
        @include css3(appearance, none);
        @include css3(border-radius,0);
        margin: 0 0 0 0;
        line-height: 1.0;
        padding: 8px 0 8px 0;
        border: none;
    }
    &[type='radio'], 
    &[type='checkbox'] {
        vertical-align: middle;
    }
    &[type='text'], &[type='email'], &[type='password'] {
        @include css3(appearance, none);
        @include css3(border-radius,2px);
        margin: 0 0 0 0;
        font-size: 1em;
        width: 100px;
        padding: 3px 5px 3px 5px;
        color: $color-brown_01;
        border: 1px solid #999;
        background: -o-linear-gradient(#efefef, #ffffff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
    }

    @include mQ($max,640px) {
        &[type='text'], 
        &[type='email'],
        &[type='password'] {
            padding: 8px 4px 8px 4px;
        }
    }
}
form { @include no-mp; }

select {
    @include css3(border-radius,2px);
    margin: 0 0 0 0;
    font-size: 1em;
    width: 100px;
    padding: 3px 0 3px 2px;
    color: $color-brown_01;
    border: 1px solid #999;
    background: -o-linear-gradient(#efefef, #fff);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);

    @include mQ($max,640px) {
        padding: 6px 0 6px 4px;
    }
}
