﻿@charset "shift_jis";
@import "mixin";
@import "variables";
@import "general";


/* Wrapper
---------------------------------------------------------------- */
.l-wrapper {
    width: 100%;
    margin: 0 auto 0 auto;
    /*media query for PC / Tablet*/
    //media query 0x700
    @include mQ($max,700px) {
        padding: 5px 0 0 0;
    }
    //media query 700x0
    @include mQ($min,700px) {
        padding: 17px 0 0 0;
    }
    /*media query for Smartphone*/
    //media query 0x320
    @include mQ($max,320px) {
        width: 320px;
        margin: 0 auto 0 auto;
    }
}

/* header
---------------------------------------------------------------- */
/*
#l-header
```
<header>
	<div class="inner clearfix">
		<h1><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/logo.png" alt="ERS" /></a></h1>
		<nav>
			<ul class="bottom clearfix">
				<li class="list"><a class="__product_list" href="<%=.nor_url%>top/search/asp/list.asp"><ers:message code="pageTitle.ItemList" /></a></li>
				<li class="mypage"><a href="<%=.sec_url%>top/member/asp/"><ers:message code="pageTitle.MyPage" /></a></li>
				<li class="cart"><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code="pageTitle.ShoppingCart" /></a></li>
				<li class="wish list2"><a href="<%=.sec_url%>top/cart/asp/wishlist.asp"><ers:message code="pageTitle.WishList"/></a></li>
                <li><ers:partial file="lang.htm" partialModel=".langModel" /></li>
			</ul>
			<p class="try"><a href="<%=.sec_url%>top/lp/asp/lp.asp?ccode=v7campaign"><ers:message code="header.ApplyTrial"/></a></p>
			<p class="tel"><img src="<%=.dynamic_url%>images/tel.png" alt="<ers:message code='header.ContactInfo'/>" /></p>
		</nav>
	</div>
</header>
```
*/
.l-header {
    margin: 0 0 0 0;
    padding: 0 0 5px 0;
    border-bottom: 6px solid $color-green_01;

    .inner { margin: 0 auto 0 auto; }
    h1 {
        @include no-mp;
        float: left;
        width: 200px;

        img {
            width: 100%;
            vertical-align: top;
        }
    }
    nav {
        float: right;
        overflow: hidden;
    }
    ul {
        @include no-mp;

        li {
            @include no-mp;
            float: left;
        }
        &.top {
            float: right;

            li {
                @include font-size(14);
                margin: 0 0 0 0;
                float: left;
                padding: 0 10px 0 13px;
                color: $color-gray_03;

                a {
                    text-decoration: none;
                    color: $color-gray_03;
                }
                &:first-child { background: none; }
            }
        }
    }
    p {
        @include fl-r-cl-b;

        &.try {
            @include fl-r-cl-b;
            padding: 0 0 0 0;
            display: block;
            margin: 0 0 10px 0;

            a {
                @include font-size(14);
                margin: 0 0 0 0;
                display: block;
                float: right;
                width: 216px;
                padding: 5px 10px 5px 10px;
                text-align: center;
                text-decoration: none;
                color: #fff;
                background-color: $color-green_01;
            }
        }
    }
    ul.bottom {
        float: right;
        margin: 0 0 8px 0;

        li {
            @include font-size(14);
            font-weight: bold;
            color: $color-gray_03;

            a {
                text-decoration: none;
                color: $color-gray_03;
            }
        }
    }

    // media query 960x0
    @include mQ($min,960px) {
        .inner { width: 960px; }
        nav { width: 710px; }
        ul {
            &.top {
                padding: 6px 0 5px 0;

                li {
                    float: left;
                    padding: 3px 10px 0 13px;
                    background: url('../images/icon_navi.gif') left 6px no-repeat;
                }
            }
            &.bottom {
                padding: 2px 0 0 0;

                li {
                    padding: 3px 20px 3px 25px;

                    &:last-child { padding: 3px 0 3px 25px; }
                    &.list {
                        background: url('../images/icon_list.png') 0 center no-repeat;
                    }
                    &.mypage {
                        background: url('../images/icon_mypage.png') 0 center no-repeat;
                    }
                    &.cart {
                        background: url('../images/icon_cart.png') 0 center no-repeat;
                    }
                    &.wish {
                        background: url('../images/icon_wish.png') 0 center no-repeat;
                    }
                }
            }
        }
    }

    //media query 700x959
    @include mQ(null,700px,959px) {
        .inner { width: 96%; }
        ul.bottom {
            display: table;
            float: left;
            margin: 0 0 0 0;
            padding: 0 0 10px 0;

            li {
                display: table-cell;
                margin: 0 0 0 0;
                padding: 3px 20px 3px 25px;

                &:last-child { padding: 3px 0 3px 25px; }
                &.list {
                    background: url('../images/icon_list.png') 0 center no-repeat;
                }
                &.mypage {
                    background: url('../images/icon_mypage.png') 0 center no-repeat;
                }
                &.cart {
                    background: url('../images/icon_cart.png') 0 center no-repeat;
                }
                &.wish {
                    background: url('../images/icon_wish.png') 0 center no-repeat;
                }
            }
        }
        nav {
            width: 500px;

            p {
                @include no-mp;
                @include fl-r-cl-b;
            }            
        }
        ul.top {
            position: relative;
            padding: 6px 0 40px 0;

            li {
                padding: 0 10px 0 13px;
                background: url('../images/icon_navi.gif') left 4px no-repeat;
            }
        }
    }

    // media query for 700x750
    @include mQ(null,700px,750px) {
        h1 { width: 23%; }
    }

    // media query 0x700
    @include mQ($max,700px) {
        padding: 0 0 0 0;
        background: none;

        .inner {
            position: relative;
            width: 100%;
        }
        h1 {
            float: none;
            width: 110px;
            margin: 0 0 5px 0;
            padding: 0 0 0 2.5%;
        }
        nav {
            display: block;
            float: none;
            width: 100%;
            margin: 0 auto 0 auto;

            p.tel {
                @include no-mp;
                position: absolute;
                top: 25px;
                right: 2.5%;
                float: none;
                width: 60%;
                max-width: 317px;

                img {
                    @include no-mp;
                    width: 100%;
                    vertical-align: top;
                }
            }
        }
        ul.bottom {
            @include no-mp;
            display: table;
            float: left;
            width: 100%;
            border-bottom: 2px solid $color-green_01;

            li {
                @include gradient(#e9ecd9,#ffffff,$v);
                @include css3(border-radius,2px 2px 0 0);
                @include no-mp;
                font-size: 1.1rem;
                font-weight: normal;
                display: table-cell;
                float: none;
                width: auto;
                text-align: center;
                white-space: nowrap;
                letter-spacing: -.1em;
                border: 1px solid #ccc;
                background: none;

                a {
                    display: block;
                    margin: 0 0 0 0;
                    padding: 10px 0 10px 0;
                }
                &.list, 
                &.mypage {
                    padding: 0 3px 0 3px;
                }
                &.cart, 
                &.wish {
                    letter-spacing: -.2em;
                }
            }
        }
        p.try {
            @include no-mp;
            width: 100%;

            a {
                width: 100%;
                margin: 0 0 0 0;
                padding: 10px 0 10px 0;
                text-align: center;
            }
        }
    }
}

/*                CONTAINER
--------------------------------------------------*/

.l-container {
    margin: 0 auto 0 auto;
    padding: 30px 0 0 0;

    //media query 960x0
    @include mQ($min,960px) {
        width: 960px;
    }

    //media query 461 by 959
    @include mQ(null,641px, 959px) {
        width: 96%;
    }

    //media query 0x640
    @include mQ($max,640px) {
        width: 96%;
    }
}

/*                 CONTENTS
--------------------------------------------------*/

.l-contents {
    @include font-size(12);

    // media query 960x0
    @include mQ($min,960px) {
        float: right;
        width: 730px;
    }
}

/*                   ASIDE
--------------------------------------------------*/
/*
#l-aside
```
<div id="side_search_box" class="clearfix">
		<form action="<%=.nor_url%>top/search/asp/list.asp" method="post" group_name="none">
		<p><span><input type="text" id="s_left_keyword" name="s_keyword" autocomplete="off"></span><span><input type="image" name="search_submit-s" id="search_submit-s" src="<%=.dynamic_url%>images/btn_search.gif" value="<ers:label code='common_search' />"></span></p>
            <div id="left_suggest" style="display:none;"></div>
		</form>
		<p class="detail"><a href="<%=.nor_url%>top/search/asp/search.asp"><ers:message code='partial_common_adv_search' /></a></p>
	</div><!-- search_box -->
	<div id="side_cart">
		<h3><img src="<%=.dynamic_url%>images/sttl_cart.gif" alt=""></h3>
		<p><ers:message code='common.Current' />&nbsp;<strong class="amount"></strong>&nbsp;<ers:message code='common.CartItems' /><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code='partial_common_view_cart' /></a></p>
		<div>
			<p><span><ers:message code='common.TotalOrderAmt' /></span><strong class="price"><span>&nbsp;</span></strong></p>
		</div>
		<p class="carriageoff"><img src="<%=.dynamic_url%>images/bnr_carriageoff.gif" alt=""></p>
	</div><!-- side_cart -->

	<div id="login_form">
		<h3 class="welcome" style="display: none;"><ers:message code='common.WelcomeMsg' /></h3>
		<div>
			<h4><a href="<%=.sec_url%>top/member/asp/"><img class="__login" src="<%=.dynamic_url%>images/btn_login.jpg" alt="<ers:label code='common_login' />" /></a></h4>
			<ul>
				<li><a href="<%=.sec_url%>top/register/asp/member_entry.asp"><img src="<%=.dynamic_url%>images/navi_entry.png" alt="<ers:message code='static_new_member_regist' />" /></a></li>
				<li><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><img src="<%=.dynamic_url%>images/navi_pass.png" alt="<ers:message code='member_passrim_forgotPassword' />" /></a></li>
			</ul>
		</div>
		<p class="mypage" style="display: none"><a href="<%=.sec_url%>top/member/asp/"><img src="<%=.dynamic_url%>images/btn_mypage.jpg" alt="<ers:message code='member_my_page'>"></a></p>
		<p class="logout" style="display: none"><a href="<%=.sec_url%>top/member/asp/logout.asp"><img src="<%=.dynamic_url%>images/btn_logout.jpg" alt="<ers:message code='Out_log'>"></a></p>
	</div><!-- login_form -->

	<div class="bnr">
		<ul class="clearfix">
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_send.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=U3257&"><img src="<%=.dynamic_url%>images/bnr_try.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>teiki.html"><img src="<%=.dynamic_url%>images/bnr_teiki.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_ers.gif" alt=""></a></li>
		</ul>
	</div>
```
*/

.l-aside {
    .side_search_box {
        margin: 0 0 20px 0;
        padding: 0 0 0 0;

        .s_keywords {
            overflow: hidden;
            width: 83%;
            height: 25px;
        }
        input {
            position: relative;
            margin: 0 0 0 0;
            vertical-align: middle;
        }
        form {
            @include no-mp;
            width: 100%;

            p {
                @include css3(border-radius,3px);
                @include gradient(#efefef,#ffffff,$v);
                @include w-h(98%,25px);
                @include auto-m-p;
                display: table;
                border: 1px solid #000;

                span {
                    &:first-child {
                        @include w-h(80%,100%);
                        display: table-cell;
                    }
                    &:last-child {
                        @include css3(border-radius,0 3px 3px 0);
                        @include w-h(20%,100%);
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        border: none;
                        background: #000;
                    }
                }
                .s_left_keyword {
                    @include css3(border-radius,3px 0 0 3px);
                    @include w-h(93%,100%);
                    display: block;
                    margin: 0 0 0 0;
                    padding: 0 6px 0 6px;
                    border: none;
                    background: none;
                }
                .search_submit-s {
                    @include css3(border-radius,0);
                    @include auto-m-p;
                    @include w-h(auto,100%);
                    display: block;
                    vertical-align: bottom;
                    border: none;
                }
            }
        }
        p {
            &.detail {
                font-size: .85em;
                float: right;
                margin: 5px 0 0 0;
                padding: 0 0 0 14px;
                background: url('../images/icon_navi02.png') 0 3px no-repeat;
            }
        }
        .m-left_keywordBox {
            position: relative;

            .m-left_suggest {
                position: absolute;
                background-color: #fff;
                border: 2px solid $color-blue_03;
                font-size: 119%;
                width: 158px;
            }
            div {
                display: block;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;

                &.select {  /* キー上下で選択した場合のスタイル */
                    color: #fff;
                    background-color: $color-blue_01;
                }
                &.over { background-color: $color-blue_02; } /* マウスオーバ時のスタイル */
            }
        }
    }
    .side_cart {
        margin: 0 0 30px 0;
        padding: 10px 18px 11px 18px;
        border: 1px solid $color-green_01;

        h3 {
            margin: 0 0 9px 0;
            padding: 0 0 0 0;
        }
        p {
            margin: 0 0 15px 0;
            padding: 0 8px 0 8px;
            
            &.sideTotal {
                font-weight: bold;
                margin: 0 0 5px 0;
                padding: 0 0 0 0;
                color: $color-red_01;
            }
            &.sideBtn {
                margin: 0 0 5px 0;
                padding: 0 0 0 0;

                a { text-align: center; }
            }
            a {
                display: block;
                padding: 5px 0 0 0;
                text-align: right;
                color: $color-cream_01;
            }
        }
        div {
            @include css3(border-radius,3px);
            @include css3(box-shadow,0 0 4px $color-gray_01 inset);
            border: 1px solid $color-gray_01;
            background-color: #fff;

            p {
                @include no-mp;
                font-size: 1.0em;
                color: $color-cream_01;

                span {
                    display: block;
                    padding: 5px 0 5px 5px;
                }
                strong {
                    font-size: 1.2em;
                    display: block;
                    padding: 7px 7px 6px 5px;
                    text-align: right;
                    color: #000;

                    span {
                        font-size: .85em;
                        display: inline;
                        color: #333;
                    }
                }
            }
        }
        .carriageoff {
            margin: 0 0 0 0;
            padding: 10px 0 10px 0;
            text-align: center;
            border: 1px solid $color-gray_01;
        }
    }

    .login_form {
        margin: 0 0 30px 0;
        padding: 10px 18px 11px 18px;
        border: 1px solid $color-green_01;

        h3.welcome {
            font-size: 1.0em;
            display: none;
            margin: 0 0 15px 0;
            padding: 0 0 0 0;
            text-align: center;
        }
        h4 {
            margin: 15px 0 15px 0;
            padding: 0 0 0 0;
            text-align: center;
        }
        ul {
            @include no-mp;

            li {
                font-weight: bold;
                margin: 0 0 9px 0;
                padding: 0 0 0 15px;
                background: url('../images/icon_navi02.png') 0 3px no-repeat;

                &.logout { display: block; }
                &.mypage { display: none; }
            }
        }

        p {
            &.mypage {
                display: none;
                margin: 0 0 9px 0;
                padding: 0 0 0 0;
                text-align: center;
            }
            &.logout {
                display: block;
                margin: 0 0 9px 0;
                padding: 0 0 0 0;
                text-align: center;
            }
        }
    }
    .nonmember h3 {
        margin: 10px 0 0 0;
        padding: 0 0 0 0;
    }
    .member {
        h3 {
            margin: 10px 0 15px 0;
            padding: 0 0 0 0;
            text-align: center;
        }
        p {
            margin: 0 0 9px 0;
            padding: 0 0 0 0;
            text-align: center;
        }
    }
    .bnr {
        position: relative;
        clear: both;
        overflow: hidden;

        ul {
            margin: 0 0 30px 0;
            padding: 0 0 0 0;

            li {
                margin: 0 0 0 0;
                padding: 0 0 16px 0;
            }
        }
    }
    .ERS_view_history {
        clear: both;
        margin: 0 0 0 0;
        padding: 0 0 30px 0;

        h3 {
            display: block;
            overflow: hidden;
            margin: 0 0 15px 0;
            padding: 0 0 15px 0;
            text-indent: -9999px;
            border-bottom: 2px solid $color-green_01;
            background: url(../images/mttl_check.png) 0 0 no-repeat;
        }
        div {
            @include w-h(60px,60px);
            float: left;
            margin: 0 0 0 0;
            padding: 0 3px 3px 3px;
        }
        h4 {
            @include no-mp;
            position: relative;

            span {
                font-size: 1.0em;
                position: absolute;
                top: 5px;
                left: 5px;
                display: none;
                color: #fff;
            }
            img {
                @include auto-m-p;
                width: 58px;
                text-align: center;
                border: 1px solid #ccc;
            }
        }
        h5 {
            font-size: 1.0em;
            font-weight: normal;
            display: none;
            margin: 0 0 0 0;
            padding: 3px 0 0 3px;
            text-align: left;

            a { color: $color-green_01; }
        }
    }

    //media query 960x0
    @include mQ($min,960px) {
        @include no-mp;
        float: left;
        width: 200px;

        .side_cart div {
            width: 154px;
            margin: 0 auto 7px auto;
            padding: 2px 2px 0 2px;
        }
    }

    //media query 641x959
    @include mQ(null,641px,959px) {
        @include auto-m-p;
        width: 86%;

        .side_cart div {
            margin: 0 auto 7px auto;
            padding: 2px 2px 0 2px;
        }
        .bnr ul {
            position: relative;
            left: 50%;
            float: left;

            li {
                position: relative;
                left: -50%;
                float: left;

                img { padding: 0 0 16px 16px; }
            }
        }
    }

    // media query 641x799
    @include mQ(null,641px,799px) {
        .side_cart {
            float: left;
            width: 41%;
        }
        .login_form {
            float: right;
            width: 41%;
        }
        .bnr ul {
            position: relative;
            left: auto;
            display: block;
            float: none;
            max-width: 432px;
            margin: 0 auto 30px;

            li {
                position: relative;
                left: auto;
                float: left;
            }
        }
    }

    // media query 800x959
    @include mQ(null,800px,959px) {
        .side_cart {
            float: left;
            width: 43%;
        }
        .login_form {
            float: right;
            width: 43%;
        }
        .bnr ul {
            position: relative;
            left: auto;
            display: block;
            float: none;
            max-width: 648px;
            margin: 0 auto 30px;

            li {
                position: relative;
                left: auto;
                float: left;
            }
        }
    }

    // media query 0x899
    @include mQ($max,899px) {
        .side_cart div {
            margin: 0 auto 7px auto;
            padding: 2px 2px 0 2px;
        }
        .bnr ul {
            position: relative;
            left: 50%;
            float: left;

            li {
                position: relative;
                left: -50%;
                float: left;

                img { padding: 0 0 16px 16px; }
            }
        }
    }

    // media query 0x640
    @include mQ($max,640px) {
        @include auto-m-p;
        width: 100%;

        .side_cart div {
            margin: 0 auto 7px auto;
            padding: 2px 2px 0 2px;
        }
        .bnr ul {
            position: relative;
            left: auto;
            display: block;
            float: none;
            max-width: 432px;
            margin: 0 auto 30px;

            li {
                position: relative;
                left: auto;
                float: left;

                img { padding: 0 0 16px 16px; }
            }
        }
        .login_form {
            padding: 20px 18px 10px 18px;

            h3.welcome { @include no-mp; }
        }
    }

    // media query 0x480
    @include mQ($max,480px) {
        .side_cart div {
            margin: 0 auto 7px auto;
            padding: 2px 2px 0 2px;
        }
        .bnr ul {
            position: relative;
            left: auto;
            display: block;
            float: none;
            max-width: 200px;
            margin: 0 auto 30px;

            li {
                position: relative;
                left: auto;
                float: left;

                img { padding: 0 0 16px 0; }
            }
        }
        .login_form {
            padding: 20px 18px 10px 18px;

            h3.welcome {
                line-height: 13px;
                margin: 0 0 0 0;
                padding: 0 0 10px 0;
            }
        }
    }
}

/* footer
 ---------------------------------------------------------------- */
/*
#l-footer
```
<footer id="ers_page_loaded">
	<div class="inner">
		<ul class="clearfix">
			<li><a href="<%=.nor_url%>agreement.html"><ers:label code='common_footer_agreement' /></a></li>
			<li><a href="<%=.nor_url%>privacy.html"><ers:message code='partial_footer_privacy_policy' /></a></li>
			<li><a href="<%=.nor_url%>sct.html"><ers:message code='partial_footer_display' /></a></li>
			<li><a href="<%=.nor_url%>sitemap.html"><ers:message code='partial_footer_sitemap' /></a></li>
			<li class="none"><a href="<%=.sec_url%>top/quest/asp/quest1.asp"><ers:message code='partial_footer_contact_us' /></a></li>
		</ul>
		<p>copyright&copy;2014 IVP co.,Ltd all rights reserved.</p>
	</div>
</footer>
```
*/
.l-footer {
    margin: 0 0 0 0;
    padding: 27px 0 40px 0;
    border-top: 6px solid $color-green_01;
    background-color: $color-gray_05;

    .inner {
        @include auto-m-p;

        p {
            @include no-mp;
            @include font-size(14);
            color: #000;
        }
        ul {
            margin: 0 0 0 -10px;
            padding: 0 0 19px 0;

            li {
                display: block;
                float: left;
                margin: 0 0 0 0;
                padding: 0 10px 0 10px;
                background: url('../images/icon_navi.gif') right 3px no-repeat;

                a {
                    @include font-size(14);
                    text-decoration: none;
                    color: $color-gray_02;
                }
                &:last-child {
                    padding: 0 0 0 10px;
                    background: none;
                }
            }
        }
    }

    //media query 960x0
    @include mQ($min,960px) {
        .inner { width: 960px; }
    }

    // media query 641x959
    @include mQ(null,641px,959px) {
        .inner { width: 96%; }
    }

    // media query 0x640
    @include mQ($max,640px) {
        @include no-mp;
        background: none;
        background: $color-gray_05;

        .inner {
            @include no-mp;
            width: 100%;

            ul {
                @include no-mp;
                border-top: 1px solid #ccc;

                li {
                    @include no-mp;
                    display: block;
                    float: none;
                    text-align: left;
                    background: none;

                    &:last-child {
                        @include no-mp;
                        background: none;
                        display: block;
                        float: none;
                        text-align: left;
                        background: none;
                    }
                    a {
                        @include gradient(#e9ecd9,#ffffff,$v);
                        display: block;
                        margin: 0 0 0 0;
                        padding: 10px 10px 10px 10px;
                        border-bottom: 1px solid #ccc;
                    }
                }
            }
            p {
                margin: 0 0 0 0;
                padding: 5px 0 5px 0;
                text-align: center;
            }
        }
    }
}
