@charset "UTF-8";

/* result_item
--------------------------------------------------*/

#contents article table {
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 0 0 0 0;
  th {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    text-align: left;
    border: 1px solid #a7bb35;
    background-color: #e9ecd9;
  }
  td {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    border: 1px solid #a7bb35;
    span {
      display: block;
      padding: 0 0 5px 0;
      &:last-child {
        padding: 0 0 0 0;
      }
    }
  }
}

@media only screen and (min-width: 960px) {
  #contents article table th {
    width: 150px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 959px) {
  #contents article table th {
    width: 130px;
  }
}

@media only screen and (max-width: 640px) {
  #contents article table {
    th, td {
      display: block;
    }
  }
}