@charset "UTF-8";

/* contents
--------------------------------------------------*/

#contents h2.subtitle03 {
  padding: 7px 0 7px 20px;
  border-left: none;
}

#ERS_news {
  p {
    border-bottom: 1px solid #ccc;
    padding: 10px 0 10px 0;
    margin: 0 0 0 0;
    line-height: 1.5;
    display: block;
    font-size: 1.2rem;
  }
  .date {
    margin: 0 20px 0 15px;
    color: #000;
  }
}

#contents article {
  ul li {
    margin: 0 0 10px 0;
    padding: 5px 0 5px 20px;
    font-size: 13px;
    background: url(../images/btn_tri.gif) 0px 8px no-repeat;
  }
  &#ERS_news ul {
    margin: 0 0 0 7px;
    padding: 0 0 0 0;
    li {
      padding: 5px 0 0 20px;
      font-size: 14px;
      background: url(../images/btn_tri.gif) 0px 8px no-repeat;
    }
  }
}

#ERS_news h3 span {
  display: block;
  float: right;
  font-weight: normal;
}