﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%=.sec_url%>images/ivp_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Schedule</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet" />
    <link href="<%=.sec_url%>css/schedule.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>js/emp_search.js"></script>
    <script src="<%=.sec_url%>js/schedule.js"></script>
    
</head>
<body>
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr>
    <div class="container">
        <h1>Week's Schedule</h1>
        <br />
        <ers:isEqual src=".Model.controller.HasInformation" value="true">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <strong>Information</strong>
                </div>
                <div class="panel-body">
                    <span class="text-info"><ers:dispError/><ers:dispInfo /></span>
                </div>
            </div>
        </ers:isEqual>
        <ers:isNotEqual src=".Model.IsValid" value="true">
            <div class="panel panel-danger">
                <div class="panel panel-heading">
                    <strong>Error</strong>
                </div>
                <div class="panel-body">
                    <span class="text-info"><ers:dispError /></span>
                </div>
            </div>
        </ers:isNotEqual>
        
        <br />
        <div class="form-inline">
            <form method="post" action="<%=.sec_url%>top/Schedule/asp/schedule_search.asp" id="form">
                <input type="hidden" value="<%=.Model.recordCount%>" name="recordCount" id="recordCount" />
                <input type="hidden" value="<%=.Model.date%>" name="date" id="date" />
                <input type="hidden" id="selectedField" name="selectedField" value="<%=.Model.selectedField%>" />
                <input type="hidden" id="time_start" name="time_start" value="<%=.Model.time_start%>" />
                <input type="hidden" id="time_end" name="time_end" value="<%=.Model.time_end%>" />
                <input type="hidden" id="schedule_date"  value="<%=.Model.s_schedule_date%>" />

                Search by:
                <select class="form-control" onchange="select_sched(this)"  id="selectDrpDwn">
                    <option></option>
                    <ers:foreach src=".Model.searchByList" variable="option">
                        <ers:isNotEqual src="option.value" value="1">
                            <ers:isNotEqual src="option.value" value="2">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.selectedField"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:isNotEqual>
                        </ers:isNotEqual>
                    </ers:foreach>
                </select>

                <input type="text" class="form-control w_138" id="search" name="search" value="<%=.Model.search%>" />
                <input type="text" name="s_schedule_date" class="form-control" placeholder="Choose date" id="s_schedule_date" value="<ers:formatDate src=".Model.s_date_start" value="MM/dd/yyyy">">

                <select class="form-control" id="from" onchange="select_time_start(this)">
                    <option>From</option>
                    <ers:foreach src=".Model.timeList" variable="time_start" >
                        <option value="<%=time_start.Key%>"><%=time_start.Value%></option>
                    </ers:foreach>
                </select>
                <select class="form-control" id="to" onchange="select_time_end(this)">
                    <option>To</option>
                    <ers:foreach src=".Model.timeList" variable="time_end">
                        <option value="<%=time_end.Key%>"><%=time_end.Value%></option>
                    </ers:foreach>
                </select>
                <input type="button" class="btn btn-info" onclick="searchSubmit()" value="Search" />

            </form>
        </div><br />
        
        <div class="form-group">
            <input type="button" class="btn" value="<<" name="prev_week" onclick="prev_week()">
            <input type="button" class="btn" value="<" name="prev_day" onclick="prev_day()">
            <input type="button" class="btn btn-info" value="Today" name="today" onclick="date_today()">
            <input type="button" class="btn" value=">" name="next_day" onclick="next_day()">
            <input type="button" class="btn" value=">>" name="next_week" onclick="next_week()">

            <h3></h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td class="schedulehead">Employee Name</td>
                        <ers:foreach src=".Model.scheduleHeaderList" variable="days">
                            <td class="schedulehead"><%=days%></td>
                        </ers:foreach>
                    </tr>
                </thead>
                <tbody>
                    <ers:foreach src=".Model.main_schedule_list" variable="sched">
                        <tr>
                            <td class="w_300">

                                <span name="fullname"><%=sched.fullname%> <br />
                                </span>
                                <input type="hidden" name="img_file" value='<%=.sec_url%>images/<ers:IsEqual src="sched.image_file" value="img_avatar1.png">img_avatar1.png</ers:IsEqual><ers:IsNotEqual src="sched.image_file" value="img_avatar1.png"><%=sched.emp_no%>/<%=sched.image_file%></ers:IsNotEqual>' />
                                <input type="hidden" name="emp_no" value="<%=sched.emp_no%>" />
                                <input type="hidden" name="team" value="<%=sched.w_team%>" />
                                <input type="hidden" name="email" value="<%=sched.email%>" />
                                <input type="hidden" name="birthday" value="<%=sched.birthday%>" />
                                <input type="hidden" name="contact_no" value="<%=sched.contact_no%>" />
                                <input type="hidden" name="address" value="<%=sched.address%>" />
                                <input type="hidden" name="gender" value="<%=sched.w_gender%>" />
                                <input type="hidden" name="status" value="<%=sched.w_status%>" />
                                <input type="hidden" name="job_title" value="<%=sched.w_job_title%>" />
                                <input type="hidden" name="fullname" value="<%=sched.fullname%>" />
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day1_eta" value="">                                  
                                    <div class="ETA">
                                        <p> <%=sched.day1_eta%>  <%=sched.day1_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day1_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day1_half_day%> </p>
                                        <p> <%=sched.day1_half_day_time%> </p> 
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day1" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day1%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day1_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day1_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day1_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day1_meeting%></p>
                                        <p> <%=sched.day1_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>                              
                                <ers:isNotEqual src="sched.day1_leave" value="">
                                    <div <ers:isEqual src="sched.day1_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day1_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day1_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day1_w_leave_type%> </p>    
                                        <p> <%=sched.day1_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>                             
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day2_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day2_eta%>  <%=sched.day2_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day2_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day2_half_day%> </p>
                                        <p> <%=sched.day2_half_day_time%> </p>                                   
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day2" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day2%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day2_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day2_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual> 
                                <ers:isNotEqual src="sched.day2_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day2_meeting%></p>
                                        <p> <%=sched.day2_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>      
                                <ers:isNotEqual src="sched.day2_leave" value="">
                                    <div <ers:isEqual src="sched.day2_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day2_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day2_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day2_w_leave_type%> </p>
                                        <p> <%=sched.day2_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day3_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day3_eta%>  <%=sched.day3_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day3_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day3_half_day%> </p>
                                        <p> <%=sched.day3_half_day_time%> </p> 
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day3" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day3%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day3_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day3_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day3_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day3_meeting%></p>
                                        <p> <%=sched.day3_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>       
                                <ers:isNotEqual src="sched.day3_leave" value="">
                                    <div <ers:isEqual src="sched.day3_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day3_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day3_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day3_w_leave_type%> </p>
                                        <p> <%=sched.day3_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day4_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day4_eta%>  <%=sched.day4_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day4_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day4_half_day%> </p>
                                        <p> <%=sched.day4_half_day_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day4" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day4%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day4_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day4_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day4_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day4_meeting%></p>
                                        <p> <%=sched.day4_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>       
                                <ers:isNotEqual src="sched.day4_leave" value="">
                                    <div <ers:isEqual src="sched.day4_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day4_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day4_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day4_w_leave_type%> </p>
                                        <p> <%=sched.day4_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day5_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day5_eta%>  <%=sched.day5_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day5_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day5_half_day%> </p>
                                        <p> <%=sched.day5_half_day_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day5" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day5%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day5_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day5_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual> 
                                <ers:isNotEqual src="sched.day5_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day5_meeting%></p>
                                        <p> <%=sched.day5_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>      
                                <ers:isNotEqual src="sched.day5_leave" value="">
                                    <div <ers:isEqual src="sched.day5_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day5_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day5_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day5_w_leave_type%> </p>
                                        <p> <%=sched.day5_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day6_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day6_eta%>  <%=sched.day6_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day6_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day6_half_day%> </p>
                                        <p> <%=sched.day6_half_day_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day6" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day6%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day6_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day6_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day6_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day6_meeting%></p>
                                        <p> <%=sched.day6_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>       
                                <ers:isNotEqual src="sched.day6_leave" value="">
                                    <div <ers:isEqual src="sched.day6_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day6_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day6_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day6_w_leave_type%> </p>
                                        <p> <%=sched.day6_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                            <td>
                                <ers:isNotEqual src="sched.day7_eta" value="">
                                    <div class="ETA">
                                        <p> <%=sched.day7_eta%>  <%=sched.day7_eta_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day7_half_day" value="">
                                    <div class="halfDay">
                                        <p> <%=sched.day7_half_day%> </p>
                                        <p> <%=sched.day7_half_day_time%> </p>
                                    </div><br />
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day7" value="">
                                    <div class="workSchedule">
                                        <p> Work Schedule </p>
                                        <p> <%=sched.day7%> </p>
                                    </div><br />
                                    <ers:isNotEqual src="sched.day7_holiday" value="">
                                        <div class="onHoliday">
                                            <p> Holiday </p>
                                            <p> <%=sched.day7_holiday%> </p>
                                        </div><br />
                                    </ers:isNotEqual>
                                </ers:isNotEqual>
                                <ers:isNotEqual src="sched.day7_meeting" value="">
                                    <div class="meeting">
                                        <p> <%=sched.day7_meeting%></p>
                                        <p> <%=sched.day7_meeting_time%></p>
                                    </div><br />
                                </ers:isNotEqual>       
                                <ers:isNotEqual src="sched.day7_leave" value="">
                                    <div <ers:isEqual src="sched.day7_leave_type" value="9"> class="onVacationLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day7_leave_type" value="10"> class="onSickLeave"</ers:isEqual>
                                         <ers:isEqual src="sched.day7_leave_type" value="11"> class="onEmergencyLeave"</ers:isEqual>>
                                        <p> <%=sched.day7_w_leave_type%> </p>
                                        <p> <%=sched.day7_leave%> </p>
                                    </div><br />
                                </ers:isNotEqual>   
                            </td>
                        </tr>
                    </ers:foreach>
                </tbody>
            </table>
        </div>
    </div>
    <div id="divPrev" hidden="hidden" class="panel-info">
        <div class="prevDivImage">
            <center>
                <div id="prv">
                    <img id="prevImage" src="">
                </div>

            </center>
        </div>
        <div class="prevDivDetailsLeft">
            <div>
                <span id="prevFullname">xx</span> <br />
                <span id="prevPosition">xx</span>
            </div>
        </div>
        <div class="prevDivDetails" style="padding-top : 20px;">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee No :</span>
            <span id="prevEmpNo" class=""> : xx </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/team.png" /> Team :</span>
            <span id="prevTeam" class=""> : xx </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/email.png" /> Email :</span>
            <span id="prevEmail" class=""> : xx </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/bday.png" /> Birthday :</span>
            <span id="prevBirthday" class=""> : xx </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/phone.png" /> Contact No. :</span>
            <span id="prevContact" class=""> : xx </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/home.png" /> Address :</span>
            <span id="prevAddress"> xx  </span>
        </div>
        <div class="prevDivDetails">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/gender.png" /> Gender :</span>
            <span id="prevGender"> : xx </span>
        </div>
        <div class="prevDivDetails" style="padding-bottom : 10px;">
            <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/status.png" /> Status :</span>
            <span id="prevStatus"> xx </span>
        </div>


    </div>
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
