﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Importing of Employee Schedule Complete</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">



    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <ers:partial file="header.htm"></ers:partial>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h3>
            <ers:isEqual src=".Model.hasError" value="true"> Error on Importing Schedules </ers:isEqual>
            <ers:isEqual src=".Model.hasError" value="false"> Import Employee Schedule Complete </ers:isEqual>
        </h3>
        <div class="col-lg-12">
            <br /><br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <center>
                                <div class="panel-group">
                                    <ers:isEqual src=".Model.hasError" value="true">
                                        <div class="panel panel-danger">
                                            <div class="panel-heading">Error Message</div>
                                            <div class="panel-content">
                                                <br />
                                                <ers:IsEqual src=".Model.csv_file.fileName" value="">
                                                    <p> <ers:message code="emp_sched.no_csv"/> </p>
                                                </ers:IsEqual>
                                                <ers:IsNotEqual src=".Model.csv_file.fileName" value="">
                                                    <p><ers:nonencode src=".Model.error_messages"></ers:nonencode> </p>
                                                </ers:IsNotEqual>
                                                <br />
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </ers:isEqual>
                                    <ers:isEqual src=".Model.hasError" value="false">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">Message</div>
                                            <div class="panel-content">
                                                <br />
                                                <p>Importing of Employee Schedule Complete</p>
                                                <br />
                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </ers:isEqual>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>