﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Import Employee Schedule</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css">
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/emp_search.js"></script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container" style="position:relative">
        <h3>Import Employee Schedule</h3>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-inline">
                            <ers:isNotEqual src=".Model.IsValid" value="true">
                                <div class="panel panel-danger">
                                    <div class="panel panel-heading">
                                        <strong>Error</strong>
                                    </div>
                                    <div class="panel-body">

                                        <ers:dispError />

                                    </div>
                                </div>
                            </ers:isNotEqual>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div>
                <form method="post" action="<%=.sec_url%>top/schedule/asp/upload_emp_schedule_complete.asp" enctype="multipart/form-data">
                    <input type="checkbox" name="chk_find" value="true" checked />&nbsp; Ignore first line?
                    <br />
                    <input type="file" name="csv_file" />
                    <br />
                    <input name="btn_import_sched" type="submit" class="btn btn-default" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>

