﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Registration</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/requestApp.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        function closeChild() {
            window.close();
        }

        $(document).ready(function () {
            $('#date_start').datepicker();
            $('#date_end').datepicker();

            if ($('#half_day_start').attr("checked")) {
                $('#half_day_start').prop('checked', true);
            }

            if ($('#half_day_end').attr("checked")) {
                $('#half_day_end').prop('checked', true);
            }
        });

        function setPaternalNewFile(e) {
            let file = e.files[0];
            document.getElementById("paternal_file_name").innerText = file.name;
        }

        function setSickNewFile(e) {
            let file = e.files[0];
            document.getElementById("sick_file_name").innerText = file.name;
        }
    </script>
</head>
<body>
    <!-- Nav 2-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
        <!--/.container-fluid -->
    </nav>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container absence" ng-app="requestApp">
        <h3>LEAVE OF ABSENCE REQUEST</h3>
        <div class="col-lg-12" ng-controller="LeaveController as leaveCtrl" >
            <form method="post" action="<%=.sec_url%>top/request/asp/leave_request_confirm.asp" enctype="multipart/form-data">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">

                                <ers:dispError />

                            </div>
                        </div>
                    </ers:isNotEqual>
                    
                    <div class="row"></div>

                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Employee Name</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.fname%> <%=.Model.lname%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Contact Number</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.contact_no%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Position Title</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.w_pos%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Date Filed</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><ers:formatDate src='.Model.date_filed' value='MM/dd/yyyy' /></label>
                                <input type="hidden" name="date_filed" value="<ers:formatDate src='.Model.date_filed' value='MM/dd/yyyy' />" />
                            </td>
                        </tr>
                    </table>

                    <table class="table table-bordered">
                        <tr><th colspan="4">■ Type of Leave</th></tr>
                        <tr>
                            <td colspan="4">
                                <table class="table table-leave">
                                    <tr><td>
                                        <ers:foreach variable ="radio" src=".Model.leaveList">
                                            <input type="radio" name="leave_type" id="leave_type<%=radio.value%>" class="rb_leave_type" value="<%=radio.value%>" ng-model="leaveCtrl.leave_type" ng-change="leaveCtrl.ComputeUsedLeave()" 
                                             <ers:isEqual src=".Model.leave_type" variable="radio.value">checked="checked"</ers:isEqual>/>&nbsp;<label for="leave_type<%=radio.value%>"><%=radio.name%></label>                                            
                                        </ers:foreach>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>■ Reason:</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><textarea name="reason" class="reason-text"><%=.Model.reason%></textarea></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>■ Total number of Days</th>
                            <td>
                                <label style="color:red;" class="myerror" id="myerror"></label>
                                <label id="total_days_text" ng-bind="leaveCtrl.used_leave"></label>
                                <input type="hidden" name="used_leave" id="used_leave" ng-value="leaveCtrl.used_leave" value="<%=.Model.used_leave%>"/>
                                <input type="hidden" name="temp_file_name" id="temp_file_name" ng-value="leaveCtrl.temp_file_name" value="<%=.Model.temp_file_name%>" />
                            </td>
                        </tr>
                        <tr>
                            <th>■ Start Date</th>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" id="date_start" class="form-control col-lg-6" name="date_start" value="<ers:formatDate src='.Model.date_start' value='MM/dd/yyyy' />" ng-model="leaveCtrl.date_start" ng-change="leaveCtrl.ComputeUsedLeave()" value="<ers:formatDate src='.Model.date_start' value='MM/dd/yyyy' />" />
                                        </td>
                                        <td>
                                            <input type="checkbox" name="half_day_start" id="half_day_start" class="half-day" value="<%=.Model.half_day_start%>" ng-model="leaveCtrl.half_day_start" ng-value="leaveCtrl.half_day_start" ng-click="leaveCtrl.ComputeUsedLeave()" <ers:isEqual src=".Model.half_day_start" value="true">checked="checked"</ers:isEqual>/><label for="half_day_start">Half Day</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th>■ End Date</th>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="text" id="date_end" class="form-control col-lg-6" name="date_end" value="<ers:formatDate src='.Model.date_end' value='MM/dd/yyyy' />" ng-model="leaveCtrl.date_end" ng-change="leaveCtrl.ComputeUsedLeave()" value="<ers:formatDate src='.Model.date_end' value='MM/dd/yyyy' />" />
                                        </td>
                                        <td ng-hide="leaveCtrl.cbAnimate">
                                            <input type="checkbox" value="<%=.Model.half_day_end%>" name="half_day_end" id="half_day_end" class="half-day" ng-model="leaveCtrl.half_day_end" ng-value="leaveCtrl.half_day_end" ng-click="leaveCtrl.ComputeUsedLeave()" <ers:isEqual src=".Model.half_day_end" value="true">checked="checked"</ers:isEqual>/><label for="half_day_end">Half Day</label>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr ng-if="leaveCtrl.leave_type == 2 && leaveCtrl.now_sl > 1">
                            <th>■ Medical Certificate</th>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                          <input type="button" class="upload_file" value="Upload File" ng-click="leaveCtrl.clickFile()"/>&nbsp;<label id="sick_file_name">{{leaveCtrl.temp_file_name}}</label>
                                          <input type="file" id="sick_file_proof"   onchange="setSickNewFile(this)" name="sick_file_proof" style="display:none;"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr ng-if="leaveCtrl.leave_type == 4">
                            <th>■ Paternal ID</th>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="button" class="upload_file" value="Upload File"  ng-click="leaveCtrl.clickFile()"/>&nbsp;<label id="paternal_file_name">{{leaveCtrl.temp_file_name}}</label>
                                            <input type="file" name="paternal_file_proof"  id="paternal_file_proof" onchange="setPaternalNewFile(this)"  style="display:none;"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class="table table-hover table-bordered">
                        <tr>
                            <th class="col-lg-3"></th>
                            <th class="col-lg-3">■ Balance</th>
                            <th class="col-lg-3">■ Less</th>
                            <th class="col-lg-3">■ Remaining</th>
                        </tr>
                        <tr>
                            <th>■ Vacation Leave</th>
                            <td>
                                <label id="vl_bal"><%=.Model.last_vl%></label>
                                <input type="hidden" name="last_vl" id="last_vl" value="<%=.Model.last_vl%>"/>
                            </td>
                            <td>
                                <label id="vl_less" ng-bind="leaveCtrl.now_vl"></label>
                                <input type="hidden" name="now_vl" id="now_vl" ng-value="leaveCtrl.now_vl" value="<%=.Model.now_vl%>"/>
                            </td>
                            <td>
                                <label id="vl_remaining" ng-bind="leaveCtrl.total_vl"></label>
                                <input type="hidden" name="total_vl" id="total_vl" ng-value="leaveCtrl.total_vl" value="<%=.Model.total_vl%>"/>
                            </td>
                        </tr>
                        <tr>
                            <th>■ Sick Leave</th>
                            <td>
                                <label id="sl_bal"><%=.Model.last_sl%></label>
                                <input type="hidden" name="last_sl" id="last_sl" value="<%=.Model.last_sl%>" />
                            </td>
                            <td>
                                <label id="sl_less" ng-bind="leaveCtrl.now_sl"></label>
                                <input type="hidden" name="now_sl" id="now_sl" ng-value="leaveCtrl.now_sl" value="<%=.Model.now_sl%>"/>
                            </td>
                            <td>
                                <label id="sl_remaining" ng-bind="leaveCtrl.total_sl"></label>
                                <input type="hidden" name="total_sl" id="total_sl" ng-value="leaveCtrl.total_sl" value="<%=.Model.total_sl%>"/>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Submit" name="submit_btn" class="btn btn-info" />
                    <input type="submit" value="Cancel" name="cancel_btn" class="btn" onclick="closeChild();"/>
                </div>
            </form>

        </div>

        <footer class="text-center">

            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
</body>

</html>