﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Registration</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">

    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>

    <script>

        function closeChild() {
            window.opener.location.reload();
            window.close();
        }
    </script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>    
    <!-- Nav 2-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
        <!--/.container-fluid -->
    </nav>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h3>LEAVE REQUEST COMPLETE</h3>
        <br />
        <div class="col-lg-12">
            <form method="post">
                <div class="col-sm-12">
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <center>
                                <div class="panel-group">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">Message</div>
                                        <div class="panel-content">
                                            <br />
                                            <p>Leave Request Successfully Registered</p>
                                            <br />
                                            <input type="submit" class="btn btn-muted" name="" value="Close" onclick="closeChild();" formaction="">
                                            <br />
                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->

</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>