﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Registration</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/jquery-ui.css" />

    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
        <!--/.container-fluid -->
    </nav>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container absence">
        <h3>CONFIRMATION FOR LEAVE OF ABSENCE REQUEST</h3>

        <div class="col-lg-12">
            <form method="post" action="<%=.sec_url%>top/request/asp/leave_request_complete.asp">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">

                                <ers:dispError />


                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Employee Name</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.fname%> <%=.Model.lname%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Contact Number</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.contact_no%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Position Title</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><%=.Model.w_pos%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="col-lg-3">■ Date Filed</label>
                            </th>
                            <td>
                                <label class="col-lg-9"><ers:formatDate src='.Model.date_filed' value='MM/dd/yyyy' /></label>
                            </td>
                        </tr>
                    </table>

                    <table class="table table-bordered">
                        <tr><th colspan="4">■ Type of Leave</th></tr>
                        <tr>
                            <td colspan="4">
                                <table class="table table-leave">
                                    <tr>
                                        <td>
                                            <label><%=.Model.w_leave%></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>■ Reason:</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4"><label><%=.Model.reason%></label></td>
                                    </tr>
                                    <ers:isEqual src=".Model.leave_type" value="2">
                                        <tr>
                                            <td>■ Medical Cert:</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><img class="img-prev" src="<%=.sec_url%>/images_temp/<%=.Model.emp_no%>/required_files/<%=.Model.temp_file_name%>" /></td>
                                        </tr>
                                    </ers:isEqual>
                                    <ers:isEqual src=".Model.leave_type" value="4">
                                        <tr>
                                            <td>■ Paternity ID:</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4"><img class="img-prev" src="<%=.sec_url%>/images_temp/<%=.Model.emp_no%>/required_files/<%=.Model.temp_file_name%>" /></td>
                                        </tr>
                                    </ers:isEqual>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th class="th_date">■ Total number of Days</th>
                            <td class="col-lg-8">
                                <label id="total_days_text"><%=.Model.used_leave%></label>
                            </td>
                        </tr>
                        <tr>
                            <th class="th_date">■ Start Date</th>
                            <td>
                                <table>
                                    <tr>
                                        <td class="col-lg-4">
                                            <label><ers:formatDate src='.Model.date_start' value='MM/dd/yyyy' /></label>
                                        </td>
                                        <ers:isEqual src=".Model.half_day_start" value="True">
                                            <td class="col-lg-4">
                                                <label>Half Day</label>
                                            </td>
                                        </ers:isEqual>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th class="th_label">■ End Date</th>
                            <td>
                                <table>
                                    <tr>
                                        <td class="col-lg-4">
                                            <label><ers:formatDate src='.Model.date_end' value='MM/dd/yyyy' /></label>
                                        </td>
                                        <ers:isEqual src=".Model.half_day_end" value="True">
                                            <td class="col-lg-4">
                                                <label>Half Day</label>
                                            </td>
                                        </ers:isEqual>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class="table table-hover table-bordered">
                        <tr>
                            <th class="col-lg-3"></th>
                            <th class="col-lg-3">■ Balance</th>
                            <th class="col-lg-3">■ Less</th>
                            <th class="col-lg-3">■ Remaining</th>
                        </tr>
                        <tr>
                            <th>■ Vacation Leave</th>
                            <td>
                                <label><%=.Model.last_vl%></label>
                            </td>
                            <td>
                                <label><%=.Model.now_vl%></label>
                            </td>
                            <td>
                                <label><%=.Model.total_vl%></label>
                            </td>
                        </tr>
                        <tr>
                            <th>■ Sick Leave</th>
                            <td>
                                <label><%=.Model.last_sl%></label>
                            </td>
                            <td>
                                <label><%=.Model.now_sl%></label>
                            </td>
                            <td>
                                <label><%=.Model.total_sl%></label>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Finish" name="submit_btn" class="btn btn-info" />
                    <input type="submit" value="Return" name="IsReturn" class="btn" formaction="<%=.sec_url%>top/request/asp/leave_request.asp" />
                </div>
            </form>

        </div>

        <footer class="text-center">

            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>

        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->

</body>

</html>