﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Attendance Logsheet</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <script type="text/javascript">
        function closeChild() {
            window.onunload = function () {
            };
            window.close();
        }


    </script>
</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
    </nav>

    <hr />

    <!-- Page Content -->
    <div id="contents">
        <div class="container">
            <h3 class="header_ut_label">ATTENDANCE LOGSHEET</h3>
            <h3></h3>

            <div class="col-lg-12">
                <form method="post">
                    <div class="form-group">
                        <ers:isNotEqual src=".Model.IsValid" value="true">
                            <div class="panel panel-danger">
                                <div class="panel panel-heading">
                                    <strong>Error</strong>
                                </div>
                                <div class="panel-body">
                                    <ers:dispError />
                                </div>
                            </div>
                        </ers:isNotEqual>
                        <div class="row"></div>
                        <center>
                            <table class="table table-bordered" style="width:80%">
                                <tr>
                                    <th class="blue_bgcolor">■ Employee Name</th>
                                    <td><%=.Model.fullname%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Contact Number</th>
                                    <td><%=.Model.contact_no%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Position Title</th>
                                    <td><%=.Model.position%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Date Filed</th>
                                    <td><%=.Model.w_date_filed%></td>
                                </tr>
                            </table>
                        </center>
                        <table class="table table-hover table-bordered" id="attendance_table">
                            <thead class="blue_bgcolor">
                                <tr>
                                    <th class="w_170 center-text">Date</th>
                                    <th class="w_200 center-text">Shift Schedule</th>
                                    <th class="w_160 center-text">Time-in</th>
                                    <th class="w_160 center-text">Time-out</th>
                                    <th class="w_400 center-text">Reason</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="attendance_tbody">
                                <ers:table src=".Model.logsheet_details" name="logsheet_details" variable="log_list" record_key="record_key">
                                    <tr>
                                        <td>
                                            <input type="date" id="<%=record_key%>date_start" name="<%=record_key%>date_start" class="date_start form-control w_160" value="<%=log_list.date_start%>">
                                        </td>
                                        <td class="w_150">
                                            <label id="<%=record_key%>shift_sched"><%=log_list.shift_schedule%></label>
                                            <input type="hidden" id="<%=record_key%>shift_schedule" name="<%=record_key%>shift_schedule" value="<%=log_list.shift_schedule%>" />
                                        </td>
                                        <td>
                                            <div class="w_230">
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_hours" id="sel1" class="form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>" <ers:isEqual src="hours" variable="log_list.start_hours"> selected="selected" </ers:isEqual>><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_minutes" id="sel1" class="form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.logsheet_mn_list" variable="minutes">
                                                            <option value="<%=minutes%>" <ers:isEqual src="minutes" variable="log_list.start_minutes"> selected="selected" </ers:isEqual>><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div> &nbsp;
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_period" id="sel1" class="form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.clock_period_list" variable="cp">
                                                            <option value="<%=cp.code%>" <ers:isEqual src="cp.namename" variable="log_list.start_period"> selected="selected" </ers:isEqual>><%=cp.namename%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w_230">
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_hours" id="sel1" class="form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>" <ers:isEqual src="hours" variable="log_list.end_hours"> selected="selected" </ers:isEqual>><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_minutes" id="sel1" class="form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.logsheet_mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"<ers:isEqual src="minutes" variable="log_list.end_minutes"> selected="selected"</ers:isEqual>><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>&nbsp;
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_period" id="sel1" class="form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.clock_period_list" variable="cp">
                                                            <option value="<%=cp.code%>" <ers:isEqual src="cp.namename" variable="log_list.end_period"> selected="selected" </ers:isEqual>><%=cp.namename%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" name="<%=record_key%>reason" class="form-control" value="<%=log_list.reason%>" />
                                        </td>
                                        <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                    </tr>
                                </ers:table>
                                <ers:isEqual src=".Model.noRecord_flg" value="true">
                                    <tr id="">
                                        <td>
                                            <input type="date" id="record_key_0_date_start" name="record_key_0_date_start" class="date_start form-control w_160">
                                        </td>
                                        <td class="w_150">
                                            <label id="record_key_0_shift_sched"></label>
                                            <input type="hidden" id="record_key_0_shift_schedule" name="record_key_0_shift_schedule" value="" />
                                        </td>
                                        <td>
                                            <div class="w_230">
                                                <div class="download_button">
                                                    <select id="record_key_0_start_hours" class="form-control w_65" name="record_key_0_start_hours" >
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>"><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select id="record_key_0_start_minutes" class="form-control w_65" name="record_key_0_start_minutes">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.logsheet_mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>&nbsp;
                                                <div class="download_button">
                                                    <select id="record_key_0_start_period" name="record_key_0_start_period" class="form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.clock_period_list" variable="cp">
                                                            <option value="<%=cp.code%>"><%=cp.namename%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                        </td>
                                        <td>
                                            <div class="w_230">
                                                <div class="download_button">
                                                    <select id="record_key_0_end_hours" class="form-control w_65" name="record_key_0_end_hours">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>"><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select id="record_key_0_end_minutes" class="form-control w_65" name="record_key_0_end_minutes">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.logsheet_mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>&nbsp;
                                                <div class="download_button">
                                                    <select id="record_key_0_end_period" name="record_key_0_end_period" class="form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.clock_period_list" variable="cp">
                                                            <option value="<%=cp.code%>"><%=cp.namename%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" id="record_key_0_reason" name="record_key_0_reason" class="form-control" />
                                        </td>
                                        <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                    </tr>
                                </ers:isEqual>
                            </tbody>
                        </table>
                        <input type="button" class="btn btn-info btn-sm" value="Add Column" id="addField" />
                    </div>
                    <center>
                        <input type="submit" value="Submit" class="btn btn-success" formaction="<%=.sec_url%>top/request/asp/logsheet_form_confirm.asp" />&nbsp;
                        <a href=""><input type="button" class="btn btn-danger" value="Cancel" onclick="closeChild();"> </a>&nbsp;
                    </center>
                </form>
            </div>
        </div>
    </div>

    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/attendance.js"></script>
    <script src="<%=.sec_url%>js/shiftSched.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>

