﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Attendance Logsheet Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/width.css" rel="stylesheet">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Custom CSS -->


</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
    </nav>

    <hr />

    <!-- Page Content -->
    <div class="container">
        <h3>Attendance Logsheet Confirm</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="">
                        <thead class="blue_bgcolor">
                            <tr>
                                <th class="w_170 center-text">Date</th>
                                <th class="w_200 center-text">Shift Schedule</th>
                                <th class="w_160 center-text">Time-in</th>
                                <th class="w_120 center-text">Time-out</th>
                                <th class="w_400 center-text">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--<ers:table src=".Model.pcode_details" name="pcode_details" variable="pcodes" record_key="record_key"></ers:table>-->
                            <ers:foreach variable="logs" src=".Model.logsheet_details" roopcounter="i">
                                <tr>
                                    <td><%=logs.date_start%></td>
                                    <td><%=logs.shift_schedule%></td>
                                    <td><%=logs.s_time_start%></td>
                                    <td><%=logs.s_time_end%></td>
                                    <td><%=logs.reason%></td>
                                </tr>

                            </ers:foreach>    
                        </tbody>
                     </table>
                        <input type="submit" class="btn btn-info" value="Back" formaction="<%=.sec_url%>top/request/asp/logsheet_form.asp" />&nbsp;&nbsp;
                        <input type="submit" class="btn btn-success" value="Submit" formaction="<%=.sec_url%>top/request/asp/logsheet_form_complete.asp" />&nbsp;
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>