﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Overtime Request</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>

    <script>

    </script>

    <script type="text/javascript">
        function CancelRequest() {
            window.close();
        }
    </script>
</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
    </nav>

    <hr />

    <!-- Page Content -->
    <div id="contents">
        <div class="container">
            <h3 class="header_ut_label">OVERTIME REQUEST</h3>
            <h3></h3>
            <div class="col-lg-12">
                <form method="post">
                    <div class="form-group">
                        <ers:isNotEqual src=".Model.IsValid" value="true">
                            <div class="panel panel-danger">
                                <div class="panel panel-heading">
                                    <strong>Error</strong>
                                </div>
                                <div class="panel-body">
                                    <ers:dispError />
                                </div>
                            </div>
                        </ers:isNotEqual>
                        <div class="row"></div>
                        <center>
                            <table class="table table-bordered" style="width:80%">
                                <tr>
                                    <th class="blue_bgcolor">■ Employee Name</th>
                                    <td><%=.Model.fullname%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Contact Number</th>
                                    <td><%=.Model.contact_no%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Position Title</th>
                                    <td><%=.Model.w_pos%></td>
                                </tr>
                                <tr>
                                    <th class="blue_bgcolor">■ Date Filed</th>
                                    <td><%=.Model.w_date_filed%></td>
                                </tr>
                            </table>
                        </center>
                        <br />
                        <div class="row"></div>
                        <table class="table table-hover table-bordered" id="overtime_table">
                            <thead class="blue_bgcolor">
                                <tr>
                                    <th class="w_170">Date</th>
                                    <th class="w_326">Shift Schedule</th>
                                    <th class="w_232">OT Start</th>
                                    <th class="w_232">OT End</th>
                                    <th class="w_200">OT Hours</th>
                                    <th class="w_400">Reason</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <input type="hidden" id="emp_no" name="emp_no" value="<%=.Model.emp_no%>" />

                                <ers:table src=".Model.overtime_details" name="overtime_details" record_key="record_key" variable="detail">
                                    <tr>
                                        <td>
                                            <input type="date" id="<%=record_key%>date_start" name="<%=record_key%>date_start" class="date_start check-ot form-control w_160" value="<%=detail.w_date_start%>">
                                        </td>
                                        <td>
                                            <label id="<%=record_key%>shift_sched"><%=detail.shift_schedule%></label>
                                            <input type="hidden" id="<%=record_key%>shift_schedule" name="<%=record_key%>shift_schedule" value="<%=detail.shift_schedule%>" class="Shift_schedule" />
                                        </td>
                                        <td>
                                            <div class="w_215">
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_hours" id="<%=record_key%>start_hours" class="check-ot start_hours form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>" <ers:isEqual src="hours" variable="detail.start_hours"> selected="selected"</ers:isEqual>><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_minutes" id="<%=record_key%>start_minutes" class="check-ot start_minutes form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"  <ers:isEqual src="minutes" variable="detail.start_minutes"> selected="selected"</ers:isEqual> ><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>start_period" id="<%=record_key%>start_period" class="check-ot form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach variable="option" src=".Model.clock_period_list">
                                                            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable="detail.start_period"> selected="selected"</ers:isEqual>> <%=option.name%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w_215">
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_hours" id="<%=record_key%>end_hours" class="check-ot end_hours form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>" <ers:isEqual src="hours" variable="detail.end_hours"> selected="selected"</ers:isEqual> ><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_minutes" id="<%=record_key%>end_minutes" class="check-ot end_minutes form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.mn_list" variable="minutes">
                                                            <option value="<%=minutes%>" <ers:isEqual src="minutes" variable="detail.end_minutes"> selected="selected"</ers:isEqual> ><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <div class="download_button">
                                                    <select name="<%=record_key%>end_period" id="<%=record_key%>end_period" class="check-ot form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach variable="option" src=".Model.clock_period_list">
                                                            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable="detail.end_period"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <label id="<%=record_key%>othours"><%=detail.ot_hours%></label>
                                            <input type="hidden" id="<%=record_key%>ot_hours" name="<%=record_key%>ot_hours" class="check-ot ot_hours form-control" value="<%=detail.ot_hours%>" />
                                        </td>
                                        <td>
                                            <input type="text" name="<%=record_key%>reason" id="<%=record_key%>reason" class="form-control" value="<%=detail.reason%>" />
                                        </td>
                                        <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                    </tr>
                                </ers:table>
                                <ers:isEqual src=".Model.noRecord_flg" value="true">
                                    <tr>
                                        <td>
                                            <input type="date" id="record_key_0_date_start" name="record_key_0_date_start" class="check-ot date_start form-control w_160" value="" />
                                        </td>
                                        <td>
                                            <label id="record_key_0_shift_sched"></label>
                                            <input type="hidden" id="record_key_0_shift_schedule" name="record_key_0_shift_schedule" class="Shift_schedule" />
                                        </td>
                                        <td>
                                            <div class="w_215">
                                                <div class="download_button">
                                                    <select id="record_key_0_start_hours" name="record_key_0_start_hours" class="start_hours check-ot form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>"><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select id="record_key_0_start_minutes" name="record_key_0_start_minutes" class="start_minutes check-ot form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <div class="download_button">
                                                    <select id="record_key_0_start_period" name="record_key_0_start_period" class="start_period check-ot form-control w_68">
                                                        <option value=""></option>
                                                        <ers:foreach variable="option" src=".Model.clock_period_list">
                                                            <option value="<%=option.value%>"> <%=option.name%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="w_215">
                                                <div class="download_button">
                                                    <select id="record_key_0_end_hours" name="record_key_0_end_hours" class="end_hours check-ot form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.hr_list" variable="hours">
                                                            <option value="<%=hours%>"><%=hours%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <strong>:</strong>
                                                <div class="download_button">
                                                    <select id="record_key_0_end_minutes" name="record_key_0_end_minutes" class="end_minutes check-ot form-control w_65">
                                                        <option value=""></option>
                                                        <ers:foreach src=".Model.mn_list" variable="minutes">
                                                            <option value="<%=minutes%>"><%=minutes%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                                <div class="download_button">
                                                    <select id="record_key_0_end_period" name="record_key_0_end_period" class="end_period check-ot form-control w_68" >
                                                        <option value=""></option>
                                                        <ers:foreach variable="option" src=".Model.clock_period_list">
                                                            <option value="<%=option.value%>"> <%=option.name%></option>
                                                        </ers:foreach>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <label id="record_key_0_othours"></label>
                                            <input type="hidden" id="record_key_0_ot_hours" name="record_key_0_ot_hours" class="ot_hours form-control" />
                                        </td>
                                        <td>
                                            <input type="text" name="record_key_0_reason" id="record_key_0_reason" class="form-control" />
                                        </td>
                                        <td><input type="button" class="btn btnl-info btn-sm" value="Delete" name="deleteBtn" onclick="return DeleteRow(this)" /></td>
                                    </tr>
                                </ers:isEqual>
                            </tbody>
                        </table>
                        <br />
                        <input type="button" class="btn btn-info btn-sm pull-right" value="Add Column" id="addField" />
                    </div>
            </div>
            <div class="buttons">
                <input type="submit" value="Submit" class="btn btn-success" formaction="<%=.sec_url%>top/request/asp/overtime_request_confirm.asp" />&nbsp;&nbsp;<input type="button" class="btn btn-danger" onclick="CancelRequest()" value="Cancel">
            </div>
        </div>
    </div>
        <!-- /.container -->
        <!-- jQuery Version 1.11.1 -->
        <!-- Bootstrap Core JavaScript -->
        <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
        <script src="<%=.sec_url%>js/overtime.js"></script>
        <script src="<%=.sec_url%>js/shiftsched.js"></script>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>