﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Overtime Application Complete</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript">
      
        function BackRequest() {
            window.opener.location.reload();
            window.close();
        }
    </script>
</head>
<body>
    <!--Header-->
    <!-- Nav 2-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
        <!--/.container-fluid -->
    </nav>

    <hr />
<div class="container">
        <h3>Overtime Request Complete</h3>
        <div class="col-lg-12">
            <form method="post">
                <center>
                    <div class="panel-group">
                        <div class="panel panel-info">
                            <div class="panel-heading">Message</div>
                            <div class="panel-content"><br />
                                <p>Overtime application successfully completed!</p><br />
                                <input type="submit" value="Close" name="back" onclick="BackRequest()" class="btn btn-info" />
                                <br />
                            </div>
                            <br />
                        </div>
                    </div>
                </center>
            </form>
        </div>
    </div>
    <!-- Page Content -->
    
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>