﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Overtime Application Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/width.css" rel="stylesheet">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
</head>
<body>
    <!--Header-->
    <!-- Nav 2-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>

            </div>
        </div>
        <!--/.container-fluid -->
    </nav>

    <hr />

    <!-- Page Content -->
    <div class="container">
        <h3>OVERTIME REQUEST CONFIRMATION</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="overtime_table">
                        <thead class="blue_bgcolor">
                            <tr>
                                <th class="w_170">Date</th>
                                <th class="w_200">Shift Schedule</th>
                                <th class="w_160">OT Start</th>
                                <th class="w_160">OT End</th>
                                <th class="w_200">OT Hours</th>
                                <th class="w_600">Reason</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ers:table -->
                            <ers:table src=".Model.overtime_details" name="overtime_details" variable="overtime" record_key="record_key"></ers:table>
                            <ers:foreach variable="overtime" src=".Model.overtime_details" roopcounter="i">
                                <tr>
                                    <td><%=overtime.w_date_start%></td>
                                    <td><%=overtime.shift_schedule%></td>
                                    <td><%=overtime.w_time_start%></td>
                                    <td><%=overtime.w_time_end%></td>
                                    <td><%=overtime.ot_hours%></td>
                                    <td><%=overtime.reason%></td>
                                </tr>
                            </ers:foreach>
                        </tbody>
                    </table>
                </div>
                <center>
                    <input type="submit" class="btn btn-danger" value="Back" formaction="<%=.sec_url%>top/request/asp/overtime_request.asp" />&nbsp;
                    <input type="submit" value="Submit" class="btn btn-success" formaction="<%=.sec_url%>top/request/asp/overtime_request_complete.asp" />
                </center>
           </form>
        </div>
    </div>

    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>