﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Undertime Form</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>

    <script src="<%=.sec_url%>js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <script src="<%=.sec_url%>js/requestApp.js"></script>
    
    <!-- Custom CSS -->
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>
            </div>
        </div>
    </nav>

    <hr>

    <div class="container"  ng-app="requestApp">
        <h3 class="header_ut_label">AUTHORIZED UNDERTIME REQUEST</h3>
        <br />
        <div class="col-lg-12">
            <form method="post">
                <ers:isNotEqual src=".Model.IsValid" value="true">
                    <div class="panel panel-danger">
                        <div class="panel panel-heading">
                            <strong>Error</strong>
                        </div>
                        <div class="panel-body">
                            <ers:dispError />
                        </div>
                    </div>
                </ers:isNotEqual>
                <div class="form-group" ng-controller="UTController as utCtrl">
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Employee Name
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.fname%> <%=.Model.lname%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Position Title
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.w_pos%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Date Filed
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.w_date_filed%>
                        </div>
                    </div>

                    <br />

                    <div class="row row-eq-height">
                        <div class="ut col-md-6 undertime_label">
                            ■ Date of Undertime
                        </div>
                        <div class="ut col-md-6 undertime_text">
                            <input type="text" class="date_start" id="datepicker" name="ut_date" value="<ers:formatDate src='.Model.ut_date' value='MM/dd/yyyy' />" />
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-6 undertime_label">
                            ■ Undertime Hours
                        </div>
                        <div class="ut col-md-6 undertime_text" id="undertime_text" ng-bind="utCtrl.ut_duration">
                        </div>
                        <input type="hidden" name="undertime_hours" id="undertime_hours" ng-init="utCtrl.ut_duration = <%=.Model.undertime_hours%>" ng-value="utCtrl.ut_duration"/>
                    </div>
                    <div class="row row-eq-height" >
                        <div class="ut col-md-3 undertime_label">
                            ■ From
                        </div>
                        <div class="ut col-md-3">
                            <select name="start_hours" id="start_hours" class="form-control ut_time" ng-model="utCtrl.start_hours" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.start_hours = <%=.Model.start_hours%>" convert-number>
                                <option value=""></option>
                                <ers:foreach src=".Model.hr_list" variable="hours">
                                    <option value="<%=hours%>"><%=hours%></option>
                                </ers:foreach>
                            </select>
                            <strong>:</strong>
                            <select name="start_minutes" id="start_minutes" class="form-control ut_time" ng-model="utCtrl.start_minutes" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.start_minutes = <%=.Model.start_minutes%>" convert-number>
                                <option value=""></option>
                                <ers:foreach src=".Model.mn_list" variable="minutes">
                                    <option value="<%=minutes%>"<><%=minutes%></option>
                                </ers:foreach>
                            </select>
                            <select name="start_period" id="start_period" class="form-control ut_time" ng-model="utCtrl.start_period" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.start_period = '<%=.Model.start_period%>'" to-number>
                                <option value=""></option>
                                <ers:foreach variable="option" src=".Model.clock_period_list">
                                    <option value="<%=option.value%>"> <%=option.name%></option>
                                </ers:foreach>
                            </select>
                        </div>
                        <div class="ut col-md-3 undertime_label">
                            ■ To
                        </div>
                        <div class="ut col-md-3">
                            <select name="end_hours" id="end_hours" class="form-control ut_time" ng-model="utCtrl.end_hours" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.end_hours = <%=.Model.end_hours%>" convert-number>
                                <option value=""></option>
                                <ers:foreach src=".Model.hr_list" variable="hours">
                                    <option value="<%=hours%>" ><%=hours%></option>
                                </ers:foreach>
                            </select>
                            <strong>:</strong>
                            <select name="end_minutes" id="end_minutes" class="form-control ut_time" ng-model="utCtrl.end_minutes" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.end_minutes = <%=.Model.end_minutes%>" convert-number>
                                <option value=""></option>
                                <ers:foreach src=".Model.mn_list" variable="minutes">
                                    <option value="<%=minutes%>"><%=minutes%></option>
                                </ers:foreach>
                            </select>
                            <select name="end_period" id="end_period" class="form-control ut_time" ng-model="utCtrl.end_period" ng-change="utCtrl.getUTHours()" ng-init="utCtrl.end_period = '<%=.Model.end_period%>'" to-number>
                                <option value=""></option>
                                <ers:foreach variable="option" src=".Model.clock_period_list">
                                    <option value="<%=option.value%>"> <%=option.name%></option>
                                </ers:foreach>
                            </select>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-12 undertime_label">
                            ■ Reason
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-12">
                            <div class="reason_types">
                                
                                    <ers:foreach variable="option" src=".Model.undertime_reason_list">
                                        <input type="radio" id="ut_reason_type<%=option.value%>" name="ut_reason_type" value="<%=option.value%>"
                                        <ers:isEqual src=".Model.ut_reason_type" variable="option.value"> checked="checked"</ers:isEqual>
                                        >&nbsp;<label class="reason_type_label" for="ut_reason_type<%=option.value%>"><%=option.name%></label>
                                    </ers:foreach>

                            </div>
                            <div class="reason">
                                <textarea name="reason" class="ut_reason_text"><%=.Model.reason%></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="ut_btn">
                        <input type="submit" class="btn btn-info" name="" value="Submit" formaction="<%=.sec_url%>top/request/asp/undertime_form_confirm.asp">
                        <input type="submit" class="btn btn-muted" name="" value="Cancel" onclick="closeChild();" formaction="">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
<br />