﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Undertime Form Confirmation</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    
    <!-- Custom CSS -->
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->

</head>
<body>
    <!--Header-->
    <nav class="navbar navbar-static-top example6" id="headerIndex">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span>
                    <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                        Brand Text
                    </a>
                </span>
           
            </div>
        </div>
    </nav>

    <hr>

    <div class="container">
        <h3 class="header_ut_label">CONFIRM UNDERTIME REQUEST</h3>
        <br />
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Employee Name
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.fname%> <%=.Model.lname%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Position Title
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.w_pos%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ Date Filed
                        </div>
                        <div class="ut col-md-9">
                            <%=.Model.w_date_filed%>
                        </div>
                    </div>

                    <br />

                    <div class="row row-eq-height">
                        <div class="ut col-md-6 undertime_label">
                            ■ Date of Undertime
                        </div>
                        <div class="ut col-md-6 undertime_text">
                            <%=.Model.w_ut_date%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-6 undertime_label">
                            ■ Undertime Hours
                        </div>
                        <div class="ut col-md-6 undertime_text">
                            <%=.Model.undertime_hours%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-3 undertime_label">
                            ■ From
                        </div>
                        <div class="ut col-md-3">
                            <%=.Model.w_time_start%>
                        </div>
                        <div class="ut col-md-3 undertime_label">
                            ■ To
                        </div>
                        <div class="ut col-md-3">
                            <%=.Model.w_time_end%>
                        </div>
                    </div>
                    <div class="row row-eq-height">
                        <div class="ut col-md-6 undertime_label">
                            ■ Reason
                        </div>
                        <div class="ut col-md-6">
                            <%=.Model.w_reason%>
                        </div>
                    </div>

                    <div class="ut_btn">
                        <input type="submit" class="btn btn-info" name="" value="Submit" formaction="<%=.sec_url%>top/request/asp/undertime_form_complete.asp">
                        <input type="submit" class="btn btn-muted" name="" value="Return" formaction="<%=.sec_url%>top/request/asp/undertime_form.asp">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>

</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>
<br />