﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='register.entry.Title' /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/entry.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jquery.color.js"></script>
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jCal.0.3.6/jquery.animate.clip.js"></script>
	<script language="JavaScript" type="text/javascript" src="<%=.sec_url%>js/jCal.0.3.6/jCal.min.js"></script>
	<link rel="stylesheet" type="text/css" href="<%=.sec_url%>js/jCal.0.3.6/jCal.css">
	<script language="javascript">
	//年プルダウンデフォルトフォーカス
	function defaultFocus(obj) {
	    if (obj.selectedIndex == 0) {
	        obj.value = <%=.Model.tgt_user_born %>;
	    }
	}
	</script>
	
	<script language="javascript">
	$(document).ready(function(){
		// 個別に指定
		$('.email,.email_confirm,.password1,.password2').on('paste',function(){
			return false;
		}).on('copy',function(){
			return false;
		}).on('cut',function(){
			return false;
		});
	});
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

			<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='register.PersonalInfoInput.Title' /></p>
			</div>
			<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
				<ol class="col5">
					<li class="flow1"><span><ers:message code="cart.cart.BreadcrumbCart" /></span></li>
					<li class="flow2 current"><span><ers:message code='register.entry.Title' /></span></li>
					<li class="flow3"><span><ers:message code='register.PaymentDeliveryMethodInput.Title' /></span></li>
					<li class="flow4"><span><ers:message code='register.entry3.Confirm'></span></li>
					<li class="flow5"><span><ers:message code='register.entry4.CompleteOrder'></span></li>
				</ol>
		</div>
<!-- flow end -->

	<form method="post" action="<%=.sec_url%>top/register/asp/entry2.asp" name="entry_form">
	
<!-- dummy button start -->
		<input type="submit" value="dummy" style="display: none;" name="dummy">
<!-- dummy button end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
			<article class="m-article">
				<h3><ers:message code='register.member_entry1.Notif' /><span class="m-ERS_IVP_color"><ers:message code='member.member1.reqFields' /><ers:isEqual src=".Model.k_flg" value="1"><ers:message code='register.PersonalInfoInput.Msg' /></ers:isEqual>）</span></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="lname"> m-ERS_IVP_caution</ers:isError><ers:isError src="fname"> m-ERS_IVP_caution</ers:isError>">
							<label for="lname"><span class="m-ERS_IVP_color">*</span><ers:label code="common_name" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
						<label for="lname" class="sp_block">　<ers:label code="common_lastname" /><input class="lname" type="text" name="lname" value="<%=.Model.lname%>"></label>
						<label for="fname" class="sp_block">　<ers:label code="common_firstname" /><input class="fname" type="text" name="fname" value="<%=.Model.fname%>"></label></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="lnamek"> m-ERS_IVP_caution</ers:isError><ers:isError src="fnamek"> m-ERS_IVP_caution</ers:isError>">
							<label for="lnamek"><span class="m-ERS_IVP_color">*</span><ers:message code="phonetic_kana" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="lnamek" /><ers:dispError src="fnamek" /></span>
						<label for="lnamek" class="sp_block"><ers:message code='sei' /><input class="lnamek" type="text" name="lnamek" value="<%=.Model.lnamek%>"></label>
						<label for="fnamek" class="sp_block"><ers:message code='mei' /><input class="fnamek" type="text" name="fnamek" value="<%=.Model.fnamek%>"></label></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="compname"> m-ERS_IVP_caution</ers:isError>">
							<label for="compname"><ers:label code="compname" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="compname" /></span>
						<input class="compname" type="text" name="compname" value="<%=.Model.compname%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="compnamek"> m-ERS_IVP_caution</ers:isError>">
							<label for="compnamek"><ers:message code="comp_kana" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="compnamek" /></span>
						<input class="compnamek" type="text" name="compnamek" value="<%=.Model.compnamek%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="division"> m-ERS_IVP_caution</ers:isError>">
							<label for="division"><ers:label code="division" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="division" /></span>
						<input class="division" type="text" name="division" value="<%=.Model.division%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="divisionk"> m-ERS_IVP_caution</ers:isError>">
							<label for="divisionk"><ers:message code="div_kana" /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="divisionk" /></span>
						<input class="divisionk" type="text" name="divisionk" value="<%=.Model.divisionk%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email"> m-ERS_IVP_caution</ers:isError>"><label for="email"><span class="m-ERS_IVP_color">*</span><ers:label code="email" /><br><ers:message code="alpha" /></label></dt>
						<dd class="end">
							<div class="add_in">
								<span class="m-dispError"><ers:dispError src="email" /></span>
								<input type="text" class="email" name="email" value="<%=.Model.email%>" oncopy="return false" onpaste="return false" oncontextmenu="return false">
							</div>
							<div class="add_in">
								<label for="mformat"><ers:message code="member.member2.confirmEmailFormat" /></label>
								<select class="mformat" name="mformat">
									<ers:foreach variable="option" src=".Model.mformatList">
										<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mformat"> selected="selected"</ers:isEqual>>
                                            <ers:message src="option.name"/>
                                        </option>
									</ers:foreach>
								</select>
							</div>
						</dd>
					</dl>

					<dl class="clearfix">
						<dt class="<ers:isError src="email_confirm"> m-ERS_IVP_caution</ers:isError>"><label for="email_confirm"><span class="m-ERS_IVP_color">*</span><ers:label code="email_confirm" /><br><ers:message code="alpha" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="email_confirm" /></span>
						<ers:label code="common_enter_confirm" /><br />
						<input type="text" class="email_confirm" name="email_confirm" value="<%=.Model.email_confirm%>" oncopy="return false" onpaste="return false" oncontextmenu="return false"></dd>
					</dl>

					<dl class="clearfix">
						<dt class="<ers:isError src="tel"> m-ERS_IVP_caution</ers:isError>"><label for="tel"><span class="m-ERS_IVP_color">*</span><ers:message code="phone_byte" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="tel" /></span>
						<input type="text" class="tel" name="tel" value="<%=.Model.tel%>">
						<span class="ex"><ers:message code="input_sample" /></span></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="fax"> m-ERS_IVP_caution</ers:isError>"><label for="fax"><ers:message code="fax_byte" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="fax" /></span>
						<input type="text" class="fax" name="fax" value="<%=.Model.fax%>">
						<span class="ex"><ers:message code="input_sample" /></span></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="zip"> m-ERS_IVP_caution</ers:isError>"><label for="zip"><span class="m-ERS_IVP_color">*</span><ers:message code="zip_byte" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="zip" /></span>
						<input type="text" id="zip" class="zip" name="zip" maxlength="15" value="<%=.Model.zip%>">&nbsp;
<a href="" id="zip_flg1" name="zip_flg1" ><ers:message code="auto_input" /></a>
                        <p id="zip_search_error" class="err" style="display:none"></p>
                        </dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="pref"> m-ERS_IVP_caution</ers:isError>"><label for="pref"><span class="m-ERS_IVP_color">*</span><ers:label code="pref" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="pref" /></span>
						<select class="pref" name="pref" id="pref">
						<option value=""></option>
						<ers:foreach variable="option" src=".Model.prefList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
						</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="add_in<ers:isError src="address"> m-ERS_IVP_caution</ers:isError><ers:isError src="taddress"> m-ERS_IVP_caution</ers:isError><ers:isError src="maddress"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="address" /></dt>
						<dd class="end">
							<div class="add_in<ers:isError src="address"> m-ERS_IVP_caution_none</ers:isError>">
								<span class="m-dispError"><ers:dispError src="address" /></span>
								<label for="address"><ers:label code="address" /></label>
								<input type="text" id="address" class="address" name="address" value="<%=.Model.address%>" />
							</div>
							<div class="add_in <ers:isError src="taddress"> m-ERS_IVP_caution_none</ers:isError>">
								<span class="m-dispError"><ers:dispError src="taddress" /></span>
								<label for="taddress"><ers:message code="add_condo" /></label>
								<input type="text" id="taddress" class="taddress" name="taddress" value="<%=.Model.taddress%>" />
							</div>
							<div class="add_in <ers:isError src="maddress"> m-ERS_IVP_caution_none</ers:isError>">
								<span class="m-dispError"><ers:dispError src="maddress" /></span>
								<label for="maddress"><ers:message code='other' /></label>
								<input type="text" id="maddress" class="maddress" name="maddress" value="<%=.Model.maddress%>" />
							</div>
						</dd>
					</dl>
				</div>
			</article>
		<ers:isEqual src=".Model.needPersonalData" value="True">
			<article class="m-article">
				<h3><ers:message code="rel_you" /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="birthday_y"> m-ERS_IVP_caution</ers:isError><ers:isError src="birthday_m"> m-ERS_IVP_caution</ers:isError><ers:isError src="birthday_d"> m-ERS_IVP_caution</ers:isError>"><label for="birthday_y"><span class="m-ERS_IVP_color">*</span><ers:label code="birth" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="birthday_y" /><ers:dispError src="birthday_m" /><ers:dispError src="birthday_d" /></span>
						<span class="sp_block"><select class="birthday_y" name="birthday_y" onfocus="defaultFocus(this)">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_yList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
</ers:foreach>
						</select><ers:label code="common_year" /></span><select class="birthday_m" name="birthday_m">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_mList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select><ers:label code="common_month" /><select class="birthday_d" name="birthday_d">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_dList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select><ers:message code="day" /></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="sex"> m-ERS_IVP_caution</ers:isError>"><label for="sex"><span class="m-ERS_IVP_color">*</span><ers:label code="sex" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="sex" /></span>
						<select class="sex" name="sex">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.sexList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sex"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="job"> m-ERS_IVP_caution</ers:isError>"><label for="job"><ers:label code="job" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="job" /></span>
						<select id="job" name="job">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.jobList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.job"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
		<ers:isEqual src=".Model.k_flg" value="2">
			<article class="m-article">
				<h3><ers:message code="member.member1.pass" /><span class="m-ERS_IVP_color"><ers:message code="member.member1.reqFields" /></span></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="passwd"> m-ERS_IVP_caution</ers:isError>"><label for="password1"><span class="m-ERS_IVP_color">*</span><ers:label code="passwd"/><br><ers:label code="common_pass_character" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="passwd" /></span>
						<input type="password" class="password1" name="passwd" value="" autocomplete="off" onpaste="return false" oncontextmenu="return false"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="passwd_confirm"> m-ERS_IVP_caution</ers:isError>"><label for="password2"><span class="m-ERS_IVP_color">*</span><ers:label code="passwd_confirm" /><br><ers:label code="common_pass_character" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="passwd_confirm" /></span>
						<ers:message code="member.member1.confirmEmail" /><br /><input type="password" class="password2" name="passwd_confirm" value="" autocomplete="off" onpaste="return false" oncontextmenu="return false"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="ques"> m-ERS_IVP_caution</ers:isError>"><label for="ques"><span class="m-ERS_IVP_color">*</span><ers:label code="common_sec_ans_ques" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="ques" /></span>
						<select class="ques" name="ques" class="align_l">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.quesList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="ans"> m-ERS_IVP_caution</ers:isError>"><label for="ans"><span class="m-ERS_IVP_color">*</span><ers:label code="common_sec_answer" /><br><ers:message code="katakana" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="ans" /></span>
						<input type="text" class="ans" name="ans" value="<%=.Model.ans%>"></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
		<ers:isEqual src=".Model.k_flg" value="2">
			<article class="m-article">
				<h3><ers:message code="register.member_entry1.Header" /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						
						<dt class="<ers:isError src="m_flg"> m-ERS_IVP_caution</ers:isError>"><label for="m_flg"><ers:message code="email_magazine_setting" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="m_flg" /></span>
						<ers:foreach variable="option" src=".Model.m_flgList">
						<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual >>&nbsp;<label for="m_flg<%=option.value%>"><%=option.name%></label>
						</ers:foreach></dd>
					</dl>
				</div>
			</article>
		</ers:isEqual>
			<article class="m-article">
				<h3><ers:message code="common.PersonalInfoHandling" /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="long<ers:isError src="pri_chk"> m-ERS_IVP_caution</ers:isError>"><label for="pri_chk"><ers:message code="common.PersonalInfoHandling" /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="pri_chk" /></span>
						<span class="summarry"><ers:message code="common.Agree" value=".nor_url" /></span>
						<textarea cols="100" rows="14"><%=.Model.pri_memo%></textarea>
						<span class="check_box"><label for="pri_chk"><input type="checkbox" class="pri_chk" name="pri_chk" value="1" <ers:isEqual src=".Model.pri_chk" value="1"> checked="checked"</ers:isEqual>>&nbsp;<ers:label code="common_agree_btn" /></label></span>
						</dd>
					</dl>
				</div>
			</article>
<!-- table end -->

<div class="bandn">

<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%><%=.cart_url%>" class="m-btn m-back"><ers:label code="common_back_to_home" /></a></p>
			<p class="arrow01_l_r"><input type="submit" value="<ers:label code='common_proceed_next'/>" name="entry_submit" class="m-btn m-next __proceed_btn"/></p>
		</div>
<!-- next end -->


</div>
	</form>

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/entry.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
