﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='register.PaymentDeliveryMethodInput.Title' /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
	<link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie9.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.sec_url%>js/jquery-dateFormat.min.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/entry.js"></script>
	<script src="<%=.sec_url%>js/cart.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
	var loadComplete = false;
	//別アドレスが選択されたときの処理
	function selectChange(select_value){
		if(!loadComplete){
			loadComplete = true;
		}else{
			var formObj = document.entry_form;

			if (select_value == 0){
				formObj['add_lname']['value'] = '<%=.Model.add_lname%>';
				formObj['add_fname']['value'] = '<%=.Model.add_fname%>';
				formObj['add_lnamek']['value'] = '<%=.Model.add_lnamek%>';
				formObj['add_fnamek']['value'] = '<%=.Model.add_fnamek%>';
				
	//			formObj['add_compname']['value'] = '<%=.Model.add_compname%>';
	//			formObj['add_compnamek']['value'] = '<%=.Model.add_compnamek%>';
				
				formObj['add_tel']['value'] = '<%=.Model.add_tel%>';
	//			formObj['add_fax']['value'] = '<%=.Model.add_fax%>';
				formObj['add_zip']['value'] = '<%=.Model.add_zip%>';
				formObj['add_pref']['value'] = '<%=.Model.add_pref%>';
				formObj['add_address']['value'] = '<%=.Model.add_address%>';
				formObj['add_taddress']['value'] = '<%=.Model.add_taddress%>';
				formObj['add_maddress']['value'] = '<%=.Model.add_maddress%>';

	<ers:foreach variable="option" src=".Model.addressList">
			}else if (select_value == <%=option.id%>){
				formObj['add_lname']['value'] = '<%=option.add_lname%>';
				formObj['add_fname']['value'] = '<%=option.add_fname%>';
				formObj['add_lnamek']['value'] = '<%=option.add_lnamek%>';
				formObj['add_fnamek']['value'] = '<%=option.add_fnamek%>';
				
	//			formObj['add_compname']['value'] = '<%=option.add_compname%>';
	//			formObj['add_compnamek']['value'] = '<%=option.add_compnamek%>';
				
				formObj['add_tel']['value'] = '<%=option.add_tel%>';
	//			formObj['add_fax']['value'] = '<%=option.add_fax%>';
				formObj['add_zip']['value'] = '<%=option.add_zip%>';
				formObj['add_pref']['value'] = '<%=option.add_pref%>';
				formObj['add_address']['value'] = '<%=option.add_address%>';
				formObj['add_taddress']['value'] = '<%=option.add_taddress%>';
				formObj['add_maddress']['value'] = '<%=option.add_maddress%>';
	</ers:foreach>
			}
		}
	}

    var holidays = {
	<ers:foreach variable="holiday" src=".Model.listHolidays">
        "<ers:formatDate src="holiday" />":{},
	</ers:foreach>
    };
    
    function getHolidays(day) {
        var result;
        var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
        // 祝日・非営業日定義に存在するか？
        if (holiday) {
            result = [false, ""];
        } else {
            result = [true, ""];
        }
        return result;
    }
                
    //カレンダー
	$(function() {
	    $("#datepicker1").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});
	$(function() {
	    $("#datepicker2").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});

    $(function() {
        if ($('#deliv_method2:checked').val() == 2){
               $('#pay4').attr('checked',false); 
               $('#pay4').attr('disabled', 'disabled');
        }
    });

    function deliv_select(value){
        if (value == 2){
            if ($('#pay4:checked').val() == 4){
               $('#pay4').attr('checked',false); 
            }
            $('#pay4').attr('disabled', 'disabled');
            $('#firstTime_0').attr('checked', true);
            $('#firstTime_2').attr('checked', false);
            $('#firstTime_2').attr('disabled', 'disabled');
            $('#datepicker1').val('');
            $('#datepicker1').attr('disabled', 'disabled');
            $('#sendtime').val('0');
            $('#sendtime').attr('disabled', 'disabled');
            $('.ui-datepicker-trigger').hide();
        }
        else
        {
            $('#pay4').removeAttr("disabled");
            $('#firstTime_2').removeAttr("disabled");
            $('#datepicker1').removeAttr("disabled");
            $('#sendtime').removeAttr("disabled");
            $('.ui-datepicker-trigger').show();
        }
    }

    $(function(){
        $(".ERS_back").submit(function(e){
            e.preventDefault();
            e.stopPropagation()
            document.entry_form.action = "entry.asp?eck=2";
            document.entry_form.submit();
            return false;
        });
    });

	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

	<!-- header start -->
	<ers:partial file="header.htm" />
	<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

		<!-- contents start -->
		<section class="l-contents">

			<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='register.PaymentDeliveryMethodInput.Title' /></p>
			</div>

			<!-- breadcrumb navigatione end -->
			<form method="post" action="<%=.sec_url%>top/register/asp/entry3.asp" name="entry_form" id="entry_form">
			
				<!-- flow start -->
				<div class="m-ERS_flow">
				<ol class="col5">
					<li class="flow1"><span><ers:message code="cart.cart.BreadcrumbCart" /></span></li>
					<li class="flow2"><span><ers:message code='register.entry.Title' /></span></li>
					<li class="flow3 current"><span><ers:message code='register.PaymentDeliveryMethodInput.Title' /></span></li>
					<li class="flow4"><span><ers:message code='register.entry3.Confirm'></span></li>
					<li class="flow5"><span><ers:message code='register.entry4.CompleteOrder'></span></li>
				</ol>
				</div>
				<!-- flow end -->

				<!-- dummy button start -->
				<input type="submit" value="dummy" style="display: none;" name="dummy">
				<!-- dummy button end -->

				<!-- noscript start -->
				<noscript>
					<div class="ERS_noscript">
						<p><ers:message code="common.NoJavaScript" /></p>
					</div>
				</noscript>
				<!-- noscript end -->

				<ers:dispError /><ers:dispInfo />


				<article class="m-article">
					<div class="m-table_box">
						<dl class="clearfix">
							<dt class="<ers:isError src="deliv_method"> m-ERS_IVP_caution</ers:isError>">
								<label for="deliv_method"><span class="m-ERS_IVP_color">*</span><ers:label code='deliv_method' /></label>
							</dt>
							<dd class="deliv_method">
				                <ers:foreach variable="option" src=".Model.deliv_methodList">
                                    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="3">
				                    <ers:isEqual src=".Model.DisplayedDelvMethod" variable="option.value">
				                        <input type="radio" id="deliv_method<%=option.value%>" class="__deliv_method" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								        <label for="deliv_method<%=option.value%>"><ers:message src="option.name" /></label>
				                    </ers:isEqual>
                                    </ers:isNotEqual>

                                    <ers:isEqual src=".Model.DisplayedDelvMethod" value="3">
                                        <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								        <label for="deliv_method<%=option.value%>"><ers:message src="option.name" /></label>
                                    </ers:isEqual>
				                    &nbsp;&nbsp;
				                </ers:foreach>
				            </dd>
				        </dl>
				    </div>
				</article>


<ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
	<article class="m-article">
		<h3><ers:message code='register.PaymentInfo.Title' /></h3>
		<div class="m-table_box">
			<dl class="clearfix">
				<dt class="<ers:isError src="pay"> m-ERS_IVP_caution</ers:isError>">
					<label for="pay"><span class="m-ERS_IVP_color">*</span><ers:label code='pay' /></label>
				</dt>
				<dd><span class="m-dispError"><ers:dispError src="pay" /></span>
<ers:foreach variable="option" src=".Model.payList">
<ers:isEqual src="option.value" value="PAYPAL">
				<input type="radio"  class="__payment_method" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;
				<label for="pay<%=option.value%>">
				<!-- PayPal Logo -->
				<a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
				<img src="https://www.paypal.com/ja_JP/JP/i/logo/PayPal_mark_37x23.gif" border="0" alt="" style="margin-left: 0.5em;">
				</a>
				<!-- PayPal Logo -->
				</label><br />
</ers:isEqual>
<ers:isNotEqual src="option.value" value="PAYPAL">
    <ers:isEqual src="option.value" value="4">
    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="2">
					<input type="radio"  class="__payment_method" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />

    </ers:isNotEqual>
    </ers:isEqual>

    <ers:isNotEqual src="option.value" value="4">
    				<input type="radio"  class="__payment_method" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />
    </ers:isNotEqual>
</ers:isNotEqual>
</ers:foreach>
				</dd>
			</dl>
		</div>
		<p class="mt10"><ers:message code='register.OtherRecipient' /></p>
	</article>

	<ers:isEqual src=".Model.ExistCreditPay" value="true">
		<div id="cardform">
			<ers:isEqual src=".Model.existCreditData" value="true">
			<article class="m-article">
				<h3>▼<ers:message code='register.DiffCreditCard' /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><span class="m-ERS_IVP_color">*</span><ers:message code='member.card1.TitleRegCardInfo' /></label></dt>
						<dd>
							****-****-****-<%=.Model.cardno_u4%>
						</dd>
					</dl>
				</div>
			</article>
			</ers:isEqual>

			<h3><ers:message code='lp.EnterPayMethodCreditCard' /></h3>
			<ers:foreach src=".Model.ListCreditCardInfo" variable="card_info">
			<article class="m-article">
	            <p><ers:message code='lp.UseOtherCreditCard' /></p>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="card_id"> m-ERS_IVP_caution</ers:isError>"><label for="card_id"><ers:message code='lp_settlement' /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="card_id" /></span>
							<input type="radio" id="card_id" name="card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual>>&nbsp;<label for="card_id"><ers:message code='lp_use_card' /></label><br />
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="card"><span class="m-ERS_IVP_color">*</span><ers:label code='card_type' /></label>
						</dt>
						<dd>
							<%=card_info.card_name%>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="cardno"><span class="m-ERS_IVP_color">*</span><ers:message code='lp_card_no' /></label>
						</dt>
						<dd>
							<%=card_info.card_no%>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt>
							<label for="validity_y"><span class="m-ERS_IVP_color">*</span><ers:message code='register_exp_date_byte' /></label>
						</dt>
						<dd>
							<%=card_info.validity_y%><ers:label code='common_year' /><%=card_info.validity_m%><ers:label code='common_month' />
						</dd>
					</dl>
					<dl class="<ers:isError src="card_save"> m-ERS_IVP_caution</ers:isError><ers:isError src="del_card_id"> m-ERS_IVP_caution</ers:isError>">
						<dt>
							<label for="card_save"><ers:message code='lp_del_card_info' /></label>
						</dt>
						<dd><span class="del_card_id"><ers:dispError src="del_card_id" /></span>
							<input type="checkbox" id="del_card_id" name="del_card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.del_card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual> />&nbsp;<label for="del_card_id"><ers:message code='lp.DeleteCreditCardInfoMsg' /></label><br />
	                        <ers:IsEqual src="card_info.hasRegularOrder" value="true"><ers:message code='lp.CardUse' /></ers:IsEqual>
						</dd>
					</dl>
				</div>
			</article>
			</ers:foreach>

			<ers:isEqual src=".Model.newEntryFlg" value="true">
			<article class="m-article">
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="card_id"> m-ERS_IVP_caution</ers:isError>"><label for="card_id"><ers:message code='lp_settlement' /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="card_id" /></span>
							<input type="radio" id="card_id" name="card_id" value=""<ers:isEqual src=".Model.card_id" value=""> checked="checked"</ers:isEqual>>&nbsp;<label for="card_id"><ers:message code='lp_use_card' /></label>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="card"> m-ERS_IVP_caution</ers:isError>">
							<label for="card"><span class="m-ERS_IVP_color">*</span><ers:label code='card_type' /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="card" /></span>
							<select class="card" name="card">
								<option value=""></option>
	<ers:foreach variable="option" src=".Model.cardList">
								<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card"> selected="selected"</ers:isEqual>><%=option.name%></option>
	</ers:foreach>
							</select>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="cardno"> m-ERS_IVP_caution</ers:isError>">
							<label for="cardno"><span class="m-ERS_IVP_color">*</span><ers:message code='card_number_required' /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="cardno" /></span>
							<input type="text" class="cardno" name="cardno" maxlength="16" value="<%=.Model.cardno%>" />
							<span class="ex"><ers:message code='lp.InputSample' /></span>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="validity_y"> m-ERS_IVP_caution</ers:isError>"><label for="validity_y"><span class="m-ERS_IVP_color">*</span><ers:message code='register_exp_date_byte' /></label></dt>
						<dd>
							<span class="m-dispError"><ers:dispError src="validity_y" /><ers:dispError src="validity_m" /></span>
							<input type="text" class="validity_y" name="validity_y" maxlength="4" value="<%=.Model.validity_y%>" /><ers:label code='common_year' /><input type="text" class="validity_m" name="validity_m" maxlength="2" value="<%=.Model.validity_m%>" /><ers:label code='common_month' />
							<span class="ex"><ers:message code='yyyyMM_input_sample' /></span>
						</dd>
					</dl>
	<ers:isNotEqual src=".Model.k_flg" value="3">
					<dl class="<ers:isError src="card_save"> m-ERS_IVP_caution</ers:isError>">
						<dt>
							<label for="card_save"><ers:label code='card_save' /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="card_save" /></span>
							<input type="checkbox" name="card_save" id="card_save" value="1"<ers:isEqual src=".Model.card_save" value="1"> checked="checked"</ers:isEqual> />&nbsp;<label for="card_save"><ers:message code='lp.RecordCreditCardMsg' /></label>
						</dd>
					</dl>
	</ers:isNotEqual>
				</div>
			</article>
			</ers:isEqual>
		</div><!-- cardform -->
	</ers:isEqual>

	<div id="conv_list">
	<article class="m-article">
		<div class="m-table_box">
			<dl class="<ers:isError src="conv_code"> m-ERS_IVP_caution</ers:isError>">
				<dt>
					<label for="conv_code"><ers:label code='conv_code' /></label>
				</dt>
				<dd><span class="conv_code"><ers:dispError src="conv_code" /></span>
                    <select id="conv_code" style="width:400px; " name="conv_code">
                        <option value=""><ers:label code='common_please_select' /></option>
<ers:foreach variable="option" src=".Model.convenienceList">
					    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
</ers:foreach>
                    </select>
				</dd>
			</dl>
		</div>
	</article>
	</div>
</ers:isNotEqual>

<article class="m-article">
	<h3><ers:message code='partial_destination' /></h3>
	<div class="m-table_box">
		<dl class="clearfix">
			<dt class="<ers:isError src="send"> m-ERS_IVP_caution</ers:isError>"><label for="send"><ers:message code='partial_destination' /></label></dt>
			<dd class="end">
				<span class="m-dispError"><ers:dispError src="send" /></span>
				<select id="send" name="send" class="send __shipping_address">
				<ers:foreach variable="entity" src=".Model.sendList">
				<option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.send"> selected="selected"</ers:isEqual>><ers:message src="entity.name" /></option>
				</ers:foreach>
				</select>
			</dd>
		</dl>
	</div>

	<div id="aaddress">
		<h3><ers:message code='register.DiffDestination' /></h3>
		<div class="m-table_box">
		<ers:isEqual src=".Model.k_flg" value="1">
			<dl class="clearfix">
				<dt><label for="add_lname"><ers:label code='member_add_id' /></label></dt>
				<dd>
					<span class="m-dispError"><ers:dispError src="member_add_id" /></span>
					<select id="member_add_id" name="member_add_id">
					<option value=""></option>
					<ers:foreach variable="option" src=".Model.addressList">
					<option value="<%=option.id%>"<ers:isEqual src="option.id" variable=".Model.member_add_id"> selected="selected"</ers:isEqual>><%=option.address_name%></option>
					</ers:foreach>
					</select>
				</dd>
			</dl>
		</ers:isEqual>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_lname"> m-ERS_IVP_caution</ers:isError>"><label for="add_lname"><span class="m-ERS_IVP_color">*</span><ers:label code="common_name" /></label></dt>
			<dd>
				<span class="m-dispError"><ers:dispError src="add_lname" /><ers:dispError src="add_fname" /></span>
				<label for="add_lname" class="sp_block">　<ers:label code="common_lastname" /><input type="text" class="add_lname" name="add_lname" value="<%=.Model.add_lname%>" /></label>
				<label for="add_fname" class="sp_block">　<ers:label code="common_firstname" /><input type="text" class="add_fname" name="add_fname" value="<%=.Model.add_fname%>" /></label>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_lnamek"> m-ERS_IVP_caution</ers:isError>"><label for="add_lnamek"><span class="m-ERS_IVP_color">*</span><ers:message code="phonetic_kana" /></label></dt>
			<dd>
				<span class="m-dispError"><ers:dispError src="add_lnamek" /><ers:dispError src="add_fnamek" /></span>
				<label for="add_lnamek" class="sp_block"><ers:message code='sei' /><input type="text" class="add_lnamek" name="add_lnamek" value="<%=.Model.add_lnamek%>" /></label>
				<label for="add_fnamek" class="sp_block"><ers:message code='mei' /><input type="text" class="add_fnamek" name="add_fnamek" value="<%=.Model.add_fnamek%>" /></label>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_tel"> m-ERS_IVP_caution</ers:isError>"><label for="add_tel"><span class="m-ERS_IVP_color">*</span><ers:message code="phone_byte" /></label></dt>
			<dd>
				<span class="m-dispError"><ers:dispError src="add_tel" /></span>
				<input type="text" class="add_tel" name="add_tel" value="<%=.Model.add_tel%>" />
				<span class="ex"><ers:message code="input_sample" /></span>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_zip"> m-ERS_IVP_caution</ers:isError>"><label for="add_zip"><span class="m-ERS_IVP_color">*</span><ers:message code="zip_byte" /></label></dt>
			<dd>
				<span class="m-dispError"><ers:dispError src="add_zip" /></span>
				<input type="text" id="add_zip" class="add_zip" name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" /><a href="" id="zip_flg2" name="zip_flg2" ><ers:message code="auto_input" /></a>
				<p id="add_zip_search_error" class="err" style="display:none"></p>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_pref"> m-ERS_IVP_caution</ers:isError>"><label for="add_pref"><span class="m-ERS_IVP_color">*</span><ers:label code="pref" /></label></dt>
			<dd>
				<span class="m-dispError"><ers:dispError src="add_pref" /></span>
				<select id="add_pref" class="add_pref" name="add_pref">
				<option value=""></option>
				<ers:foreach variable="option" src=".Model.prefList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
				</ers:foreach>
				</select>
			</dd>
		</dl>
		<dl class="clearfix">
			<dt class="<ers:isError src="add_address"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_taddress"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_maddress"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="address" /></dt>
			<dd class="end">
				<div class="add_in<ers:isError src="add_address"> m-ERS_IVP_caution_none</ers:isError>">
					<span class="m-dispError"><ers:dispError src="add_address" /></span>
					<label for="add_address"><ers:label code="address" /></label>
					<input type="text" id="add_address" class="add_address" name="add_address" value="<%=.Model.add_address%>" />
				</div>
				<div class="add_in <ers:isError src="add_taddress"> m-ERS_IVP_caution_none</ers:isError>">
					<span class="m-dispError"><ers:dispError src="add_taddress" /></span>
					<label for="add_taddress"><ers:message code="add_condo" /></label>
					<input type="text" id="add_taddress" class="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" />
				</div>
				<div class="add_in <ers:isError src="add_maddress"> m-ERS_IVP_caution_none</ers:isError>">
					<span class="m-dispError"><ers:dispError src="add_maddress" /></span>
					<label for="add_maddress"><ers:message code='other' /></label>
					<input type="text" id="add_maddress" class="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" />
				</div>
			</dd>
		</dl>

		<ers:isNotEqual src=".Model.k_flg" value="3">
			<dl class="clearfix">
				<dt class="<ers:isError src="address_add"> m-ERS_IVP_caution</ers:isError><ers:isError src="address_name"> m-ERS_IVP_caution</ers:isError>"><label for="address_add"><ers:message code='add_other_addr' /></label></dt>
				<dd>
					<span class="m-dispError"><ers:dispError src="address_add" /><ers:dispError src="address_name" /></span>
					<label for="address_add"><ers:message code='register_add_regist_add' /></label>&nbsp;<input type="checkbox" id="address_add" name="address_add" value="1"<ers:isEqual src=".Model.address_add" value="1"> checked="checked"</ers:isEqual > /><br />
					<label for="address_name"><ers:message code='register_regist_add_name' /></label>&nbsp;<br />
					<input type="text" class="address_name" name="address_name" value="<%=.Model.address_name%>" />
				</dd>
			</dl>
		</ers:isNotEqual>
		</div>
	</div><!-- aaddress -->

</article>

			<ers:isNotEqual src=".CartModel.basketItemCount" value="0">
					<article class="m-article">
						<ers:partial file="basket_ordinary.htm" partialModel=".CartModel" />
					</article>
					<article class="m-article">
						<h3><ers:message code='register.NormalProdDelivery' /></h3>
						<div class="m-table_box">
							<dl class="clearfix">
								<dt class="<ers:isError src="senddate"> m-ERS_IVP_caution</ers:isError>">
									<label for="senddate"><ers:label code='senddate' /></label>
								</dt>
								<dd><span class="m-dispError"><ers:dispError src="senddate" /></span>
									<input type="radio" class="__deliv_day" id="firstTime_0" name="firstTimeOrdinary" value="0"<ers:isEqual src=".Model.firstTimeOrdinary" value="0"> checked="checked"</ers:isEqual>><label for="firstTime_0"><ers:label code='change_first_time_shortest' /></label><br />
				<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0">
									<input type="radio" id="firstTime_1" name="firstTimeOrdinary" value="1"<ers:isEqual src=".Model.firstTimeOrdinary" value="1"> checked="checked"</ers:isEqual>><label for="firstTime_1"><ers:message code='partial_with_1st_reg_shop_basket' /></label><br />
				</ers:isNotEqual>
                <ers:isEqual src=".CartModel.show_selectable_calendar" value="true">
									<input type="radio" class="__deliv_day" id="firstTime_2" name="firstTimeOrdinary" value="2"<ers:isEqual src=".Model.firstTimeOrdinary" value="2"> checked="checked"</ers:isEqual>><label for="firstTime_2"><ers:message code='register_specify_del_date' /></label><br />
									<input type="text" class="cal" name="senddate" size="12" id="datepicker1"  value="<ers:formatDate src=".Model.senddate" />">
                </ers:isEqual>
								</dd>
							</dl>
							<dl class="clearfix">
								<dt class="<ers:isError src="sendtime"> m-ERS_IVP_caution</ers:isError>">
									<label for="sendtime"><ers:label code='sendtime' /></label></dt>
								<dd><span class="m-dispError"><ers:dispError src="sendtime" /></span>
									<select id="sendtime" name="sendtime" class="__deliv_time">
			<ers:foreach variable="option" src=".Model.sendtimeList">
									<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
			</ers:foreach>
									</select>
								</dd>
							</dl>
						</div>
					</article>
			</ers:isNotEqual>

			<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0">
					<article class="m-article">
			    <ers:partial file="basket_regular.htm" partialModel=".CartModel" />
					</article>
					<article class="m-article">
						<h3><ers:message code='register.SubscProdDelivery' /></h3>
						<div class="m-table_box">
					  		<dl class="clearfix">
								<dt class="<ers:isError src="regular_sendtime"> m-ERS_IVP_caution</ers:isError>">
									<label for="regular_sendtime"><ers:label code='sendtime' /></label></dt>
								<dd class="end">
									<select id="regular_sendtime" name="regular_sendtime">
			<ers:foreach variable="option" src=".Model.sendtimeList">
									<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.regular_sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
			</ers:foreach>
									</select>
								</dd>
							</dl>
						</div>
					</article>
			</ers:isNotEqual>

			<article class="m-article">
				<h3><ers:message code='register.GiftWrap' /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="wrap"> m-ERS_IVP_caution</ers:isError>">
							<label for="wrap"><ers:label code='wrap' /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="wrap" /></span>
							<label for="wrap"><ers:message code='register.GiftWrapWish' /></label><input type="checkbox" id="wrap" name="wrap" value="1"<ers:isEqual src=".Model.wrap" value="1"> checked="checked"</ers:isEqual> />
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="long<ers:isError src="message2"> m-ERS_IVP_caution</ers:isError>">
							<label for="message2"><ers:label code='memo2' /></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="message2" /></span>
							<span class="ex2"><ers:message code='quest.quest1.CharnotAvailable' /><br><ers:message code='register.NotAvailCharacInfo' /></span>
							<textarea id="memo2" name="memo2" cols="100" rows="14"><%=.Model.memo2%></textarea>
						</dd>
					</dl>
				</div>
			</article>

			<input type="hidden" name="del_key" value="" />
			<input type="hidden" name="del_regular_key" value="" />

			<!-- next start -->
			<div class="m-ERS_btn clearfix">
				<p class="g-imp_fl-r arrow01_l_r"><input type="submit" value="<ers:label code='common_proceed_next' />" name="entry2_submit" class="m-btn m-next __proceed2_btn"/></p>
			</form>
			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form1" class="ERS_back">
				<p class="g-imp_fl-l arrow02_l_l">
					<input type="submit" value="<ers:label code='common_return_back' />" name="form1" class="m-btn m-back"/>
				</p>
			</form>
			</div>
			<!-- next end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/entry2.htm" />
	<!-- sidemenu2 end -->
	</div>
<!-- container end -->

	<!-- footer start-->
	<ers:partial file="footer.htm" />
	<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.sname span a').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,33}/g).join("<br/>");
        $(this).html(cut);
    });
</script>
</body>
</html>
