﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='register.entry4.CompleteOrder'> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p class="none"><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='register.entry4.CompleteOrder'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div class="m-ERS_flow">
				<ol class="col5">
					<li class="flow1"><span><ers:message code="cart.cart.BreadcrumbCart" /></span></li>
					<li class="flow2"><span><ers:message code='register.entry.Title' /></span></li>
					<li class="flow3"><span><ers:message code='register.PaymentDeliveryMethodInput.Title' /></span></li>
					<li class="flow4"><span><ers:message code='register.entry3.Confirm'></span></li>
					<li class="flow5 current"><span><ers:message code='register.entry4.CompleteOrder'></span></li>
				</ol>
			</div>

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- box start -->
	<div class="m-ERS_box">
		<p><ers:message code='register.entry4.PurchaseMsg'></p>
<ers:isEqual src=".Model.overseas_shipping" value="true">
        <p><ers:message code='register.entry4.PurchaseMsg1'></p>
        <p><ers:message code='register.entry4.PurchaseMsg2'></p>
</ers:isEqual>
<ers:isEqual src=".Model.overseas_shipping" value="false">
		<p><ers:message code='register.entry4.PurchaseMsg3'></p>
</ers:isEqual>
		<p><ers:multiLine src=".Model.pay_memo"></ers:multiLine></p>
	</div>
<!-- box end -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.nor_url%>" class="m-btn m-back __back_to_home_btn"><ers:label code='common_back_to_home' /></a></p>
			</div>


		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/entry4.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
