﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='register.entry3.Confirm'> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie9.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<script language="javascript">
	    function zentohan(obj) {
	        if (typeof (obj.value) != "string") return false;
	        var han = '1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@-.,:';
	        var zen = '１２３４５６７８９０ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ＠－．，：';
	        var word = obj.value;
	        for (i = 0; i < zen.length; i++) {
	            var regex = new RegExp(zen[i], "gm");
	            word = word.replace(regex, han[i]);
	        }
	        obj.value = word;
	    }

	    $(function () {
	        $(".js-ERS_back").submit(function (e) {
	            e.preventDefault();
	            e.stopPropagation()
	            document.entry_form.action = "entry2.asp?eck=2";
	            document.entry_form.submit();
	            return false;
	        });
	    });
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

	<!-- header start -->
	<ers:partial file="header.htm" />
	<!-- header end -->

	<!-- container start -->
	<div class="l-container clearfix">

		<!-- contents start -->
		<section class="l-contents">

			<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='register.entry3.Confirm'></p>
			</div>
			<!-- breadcrumb navigatione end -->

			<!-- flow start -->
			<div class="m-ERS_flow">
				<ol class="col5">
					<li class="flow1"><span><ers:message code="cart.cart.BreadcrumbCart" /></span></li>
					<li class="flow2"><span><ers:message code='register.entry.Title' /></span></li>
					<li class="flow3"><span><ers:message code='register.PaymentDeliveryMethodInput.Title' /></span></li>
					<li class="flow4 current"><span><ers:message code='register.entry3.Confirm'></span></li>
					<li class="flow5"><span><ers:message code='register.entry4.CompleteOrder'></span></li>
				</ol>
			</div>
			<!-- flow end -->

			<!-- noscript start -->
			<noscript>
				<div class="ERS_noscript"><p><ers:message code="common.NoJavaScript" /></p></div>
			</noscript>
			<!-- noscript end -->

			<ers:dispError /><ers:dispInfo />

			<form method="post" action="<%=.sec_url%>top/register/asp/entry4.asp" name="entry_form" id="entry_form">
				<article class="m-article">
					<h3><ers:message code='register.entry3.BasicInfo'></h3>
					<div class="m-table_box">
						<dl class="clearfix">
							<dt><label><ers:label code='common_name' /></label></dt>
							<dd class="__fullname"><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:message code='furigana'></label></dt>
							<dd class="__fullnamek"><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='compname' /></label></dt>
							<dd class="__compname"><%=.Model.compname%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='compnamek' /></label></dt>
							<dd class="__compnamek"><%=.Model.compnamek%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='division' /></label></dt>
							<dd><%=.Model.division%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='divisionk' /></label></dt>
							<dd><%=.Model.divisionk%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='email' /></label></dt>
							<dd><span class="__email"><%=.Model.email%></span><br><ers:label code='mformat' />: <span class="__mformat"><ers:message src=".Model.w_mformat" /></span></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='tel' /></label></dt>
							<dd class="__tel"><%=.Model.tel%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:message code='fax_no'></label></dt>
							<dd class="__fax"><%=.Model.fax%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='zip' /></label></dt>
							<dd class="__zip"><%=.Model.zip%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='pref' /></label></dt>
							<dd class="__pref"><%=.Model.w_pref%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:message code='address'></label></dt>
							<dd><span class="__address"><%=.Model.address%></span>&nbsp;<span class="__taddress"><%=.Model.taddress%></span>&nbsp;<span class="__maddress"><%=.Model.maddress%></span></dd>
						</dl>
				<ers:isEqual src=".Model.needPersonalData" value="True">
						<dl class="clearfix">
							<dt><label><ers:label code='birth' /></label></dt>
							<dd><ers:formatDate src=".Model.birth" value="yyyy年M月d日" /></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='sex' /></label></dt>
							<dd class="end"><%=.Model.w_sex%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='job' /></label></dt>
							<dd><%=.Model.w_job%></dd>
						</dl>
				</ers:isEqual>
					</div>
				</article>

				<ers:isEqual src=".Model.k_flg" value="2">
				<article class="m-article">
					<h3><ers:message code='register.entry3.Security'></h3>
					<div class="m-table_box">
						<dl class="clearfix">
							<dt><label><ers:label code='ques' /></label></dt>
							<dd><%=.Model.w_ques%></dd>
						</dl>
						<dl class="clearfix">
							<dt><label><ers:label code='ans' /></label></dt>
							<dd class="end"><%=.Model.ans%></dd>
						</dl>
					</div>

					<h3><ers:message code='register.member_entry1.Header'></h3>
					<div class="m-table_box">
						<dl class="clearfix">
							<dt><label><ers:label code='m_flg' /></label></dt>
							<dd class="end"><%=.Model.w_m_flg%></dd>
						</dl>
					</div>
				</article>
				</ers:isEqual>

				<article class="m-article">
					<h3><ers:label code='deliv_method' /></h3>
					<div class="m-table_box">
						<dl class="clearfix">
							<dt><label><ers:label code='deliv_method' /></label></dt>
							<dd class="__deliv_method"><ers:message src=".Model.w_deliv_method" /></dd>
						</dl>
					</div>
				</article>

				<article class="m-article">
					<h3><ers:label code='pay' /></h3>
					<div class="m-table_box">
							<dl class="clearfix">
								<dt><label><ers:label code='pay' /></label></dt>
								<dd class="__payment_method"><%=.Model.w_pay%></dd>
							</dl>
                        <ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
                            <ers:isEqual src=".Model.pay" value="1">
                                <ers:isNotEqual src=".Model.card_id" value="">
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='card' /></label></dt>
                                        <dd><%=.Model.savedCardInfo.card_name%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='cardno' /></label></dt>
                                        <dd>************<%=.Model.savedCardInfo.card_no_u4%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:message code='card_expiration_date'></label></dt>
                                        <dd><%=.Model.savedCardInfo.validity_y%>年<%=.Model.savedCardInfo.validity_m%>月</dd>
                                    </dl>
                                </ers:isNotEqual>
                                <ers:isEqual src=".Model.card_id" value="">
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='card' /></label></dt>
                                        <dd><%=.Model.w_card%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='cardno' /></label></dt>
                                        <dd>************<%=.Model.cardno_u4%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:message code='card_expiration_date'></label></dt>
                                        <dd><%=.Model.validity_y%>年<%=.Model.validity_m%>月</dd>
                                    </dl>
                                </ers:isEqual>
                                <ers:foreach src=".Model.ListDelCreditCardInfo" variable="DelCardInfo">
                                    <h3><ers:message code='lp_del_card_info'></h3>
                                    <dl class="bdrTop clearfix">
                                        <dt><label><ers:message code='lp_del_card_info'></label></dt>
                                        <dd><ers:label code='btn_delete' /></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='card' /></label></dt>
                                        <dd><%=DelCardInfo.card_name%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:label code='cardno' /></label></dt>
                                        <dd>************<%=DelCardInfo.card_no_u4%></dd>
                                    </dl>
                                    <dl class="clearfix">
                                        <dt><label><ers:message code='card_expiration_date'></label></dt>
                                        <dd><%=DelCardInfo.validity_y%>年<%=DelCardInfo.validity_m%>月</dd>
                                    </dl>
                                </ers:foreach>
                            </ers:isEqual>

                            <ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
                                <dl class="clearfix">
                                    <dt><label><ers:label code='conv_code' /></label></dt>
                                    <dd><%=.Model.w_conv_code%></dd>
                                </dl>
                            </ers:isEqual>
                        </ers:isNotEqual>
					</div>
				</article>

				<article class="m-article">
					<h3><ers:message code='register.entry3.ShippingInfo'></h3>
					<div class="m-table_box">
						<dl class="clearfix">
							<dt><label><ers:message code='partial_destination'></label></dt>
							<dd class="end __shipping_address"><ers:message src=".Model.w_send" /></dd>
						</dl>
						<ers:isEqual src=".Model.send" value="2">
							<dl class="clearfix">
								<dt><label><ers:label code='common_name' /></label></dt>
								<dd><%=.Model.add_lname%>&nbsp;&nbsp;<%=.Model.add_fname%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:message code='furigana'></label></dt>
								<dd><%=.Model.add_lnamek%>&nbsp;&nbsp;<%=.Model.add_fnamek%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:label code='tel' /></label></dt>
								<dd><%=.Model.add_tel%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:label code='zip' /></label></dt>
								<dd><%=.Model.add_zip%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:label code='pref' /></label></dt>
								<dd><%=.Model.w_add_pref%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:message code='address'></label></dt>
								<dd><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
							</dl>
							<dl class="clearfix">
								<dt><label><ers:label code='address_add' /></label></dt>
								<dd class="end"><%=.Model.w_address_add%><ers:isNotEqual src=".Model.w_address_add" value="登録しない"><br /><%=.Model.address_name%></ers:isNotEqual></dd>
							</dl>
						</ers:isEqual>
					</div>
				</article>

				<ers:isNotEqual src=".Model.k_flg" value="ANONYMOUS">
				<article class="m-article">
				<h3><ers:message code='register.entry3.Coupon'></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><ers:message code='register.entry3.CouponUse'></label></dt>
						<dd class="end"><span class="m-dispError"><ers:dispError src="ent_coupon_code" /></span>
							<input type="text" id="coupon_code" name="ent_coupon_code" value="<%=.Model.validated_ent_coupon_code%>" onblur="zentohan(this);" />
						    <input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
							<input type="submit" id="coupon_flg" value="再計算" name="coupon_flg" class="btn02 black_btn Recalculation" />
						</dd>
					</dl>
				</div>
				</article>
				</ers:isNotEqual>

			<ers:isEqual src=".Model.k_flg" value="MEMBER">
				<article class="m-article">
				<h3><ers:message code='register.entry3.Point'></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><ers:message code='partial_orderkingaku_avail_pt'></label></dt>
						<dd class="end"><span class="m-dispError"><ers:dispError src="ent_point" /></span>
						    <ers:message code='register.entry3.AvailPoints'><%=.Model.point %> <ers:message code='register.entry3.AvailPoints2'><br />
							<input type="text" id="ent_point" name="ent_point" value="<%=.Model.ent_point%>" />
						    <input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
							<input type="submit" id="point_flg" value="再計算" name="point_flg" class="btn02 black_btn Recalculation" />
						</dd>
					</dl>
				</div>
				</article>
			</ers:isEqual>

				<article class="m-article">
			<h3><ers:label code='wrap' /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><label><ers:label code='wrap' /></label></dt>
					<dd class="__wrap"><%=.Model.w_wrap%></dd>
				</dl>
			<ers:isNotEqual src=".Model.memo2" value="">
				<dl class="clearfix">
					<dt><label><ers:label code='memo2' /></label></dt>
					<dd class="__memo2"><ers:multiLine src=".Model.memo2" /></dd>
				</dl>
			</ers:isNotEqual>
			</div>
				</article>

				<article class="m-article">
				<!-- orderrecord start -->
				<ers:partial file="orderrecord.htm" />
				<!-- orderrecord end -->

				<!-- orderkingaku start -->
				<ers:partial file="orderkingaku_register.htm" />
				<!-- orderkingaku end -->
				</article>

				<!-- next start -->
				<div class="m-ERS_btn clearfix">
					<p class="g-imp_fl-r arrow01_l_r"><input type="submit" value="<ers:message code='register.entry3.PlaceOrder'>" id="image1" name="entry3_submit" class="m-btn m-next __place_order_btn"/></p>
			</form>
					<form method="post" action="<%=.sec_url%>top/register/asp/entry2.asp" id="form1" name="form1" class="js-ERS_back">
						<p class="g-imp_fl-l arrow02_l_l">
							<input type="submit" value="<ers:label code='common_return_back' />" name="back_to_input" class="m-btn m-back"/>
						</p>
					</form>
				</div>
				<!-- next end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/entry3.htm" />
	<!-- sidemenu2 end -->
	</div>
	<!-- container end -->

	<!-- footer start-->
	<ers:partial file="footer.htm" />
	<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.sname a').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,40}/g).join("<br/>");
        $(this).html(cut).append('<br />');
    });
</script>
</body>
</html>
