﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="register.member_entry2.Title" /> | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
	<link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.sec_url%>js/jquery-ui.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="register.member_entry2.Title" />
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div class="m-ERS_flow">
			<ol>
				<li class="flow1"><span><ers:message code="register.member_entry1.Title" /></span></li>
				<li class="flow2 current"><span><ers:message code="register.member_entry2.Title" /></span></li>
				<li class="flow3"><span><ers:message code="register.member_entry3.Title" /></span></li>
			</ol>
			</div>
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
			<article class="m-article">
				<h3><ers:label code="member" /></h3>
				<div class="m-table_box">
				<dl class="clearfix">
					<dt><label><ers:label code="common_name" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="furigana" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="compname" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.compname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="compnamek" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.compnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="division" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.division%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="divisionk" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.divisionk%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="email" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.email%><br><ers:message code="member.member2.confirmEmailFormat" /><ers:message src=".Model.w_mformat"/></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="tel" /></label></dt>
					<dd><%=.Model.tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="fax_no" /></label></dt>
					<dd><%=.Model.fax%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="zip" /></label></dt>
					<dd><%=.Model.zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="pref" /></label></dt>
					<dd><%=.Model.w_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="address" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="birth_year" /></label></dt>
					<dd><ers:formatDate src=".Model.birth" value="yyyy年M月d日" /></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="sex" /></label></dt>
					<dd><ers:message src=".Model.w_sex"/></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="job" /></label></dt>
					<dd style="word-wrap:break-word;"><%=.Model.w_job%></dd>
				</dl>
				</div>
			</article>
			<article class="m-article">
				<h3><ers:message code="register.member_entry2.SecurityTitle" /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><ers:message code="member_passchange1_question" /></label></dt>
						<dd><%=.Model.w_ques%></dd>
					</dl>
					<dl class="clearfix">
						<dt><label><ers:message code="security_answer" /></label></dt>
						<dd style="word-wrap:break-word;"><%=.Model.ans%></dd>
					</dl>
				</div>
			</article>
			<article class="m-article">
				<h3><ers:message code="register.member_entry1.Header" /></label></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><ers:label code="m_flg" /></label></dt>
						<dd><ers:message src=".Model.w_m_flg"/></dd>
					</dl>
				</div>
			</article>
<!-- table start -->

			<div class="m-ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>/top/register/asp/member_entry.asp" name="form2">
					<p class="arrow02_l_l g-imp_fl-l"><input type="submit" value="<ers:label code='common_return_back'/>" class="m-btn m-back" /></p>
				</form>
				<form method="post" action="<%=.sec_url%>top/register/asp/member_entry3.asp" name="form1">
					<p class="arrow01_l_r g-imp_fl-r"><input type="submit" value="<ers:label code='common_register'/>" class="m-btn m-next"/></p>
				</form>
			</div>

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/member_entry2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
