﻿<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="stepMail.delvy_actual.TitlePageStepMailDeliveryPerformance" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<!--flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js">
</script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
</script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#purchase_course").change(function () {
            if ($(this).val() == 5) {
                $("#base_date").val("4");
                $("option.specific_item").show();
            } else {
                $("option.specific_item").hide();
            }
        })
    })
</script>


</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="stepMail.delvy_actual.TitlePageStepMailDeliveryPerformance" /></h2>
	</div>
<!-- title end -->

<!-- table start -->
	<!-- <div class="ERS_table">
	<table class="side"> -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="13">ID</th>
				<th width="80"><ers:message code="sm_dp_tbldp_delv_date_time" /></th>
				<th width="60"><ers:label code="mail_status_kbn" /></th>
				<th width="320"><ers:message code="md_tblfs_mail_title" /></th>
				<th width="40"><ers:label code="common_details" />/th>
				<th width="60"><ers:message code="sm_dp_tbldp_delv_performance" /></th>
			</tr>
		</thead>
		<tbody>
<ers:foreach src=".Model.searched_items" variable="process">
		<tr>
			<td><%=process.id %></td>
			<td><ers:formatDate src="process.scheduled_date" /></td>
			<td><ers:message src="process.w_sent_status"/></td>
			<td><%=process.subject %></td>
			<td>
                <form method="post" action="delvy_detail.asp">
                    <input type="hidden" name="process_id" value="<%=process.id %>" />
                    <input type="submit" value="<ers:label code='common_details' />" />
                </form>
            </td>
			<td>
                <form method="post" action="delvy_summary.asp">
                    <input type="hidden" name="process_id" value="<%=process.id %>" />
                    <input type="submit" name="" id="Button1" value="<ers:message code='sm_dp_button_summary' />" />
                </form>
            </td>
		</tr>
</ers:foreach>
		</tbody>
	</table>
	</div>
<!-- table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
