﻿<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="stepMail.delvy_detail.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
</script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".del_btn").click(function () {
            $(this).closest("tr").remove();
        });

        $("td.target_item a").click(function () {
            $("td.target_item span").toggle();
            $("td.target_item a").toggle();
            return false;
        })
    })
</script>
<style type="text/css">
.item_select p{
	margin:-10px 0 10px 0;
}

.target_item{
	line-height:1.4;
}
.target_item a{
	color:#00f;
}
.target_item span,
.target_item a.close{
	display:none;
}
</style>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="stepMail.delvy_detail.TitleDeliveryRecordDetails" /></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="ERS_table">
		<table class="length">
			<caption><ers:message code="stepMail.delvy_detail.MsgScenarioInfo" /></caption>
			<tr>
				<th><ers:message code="sm_regist_scenario_name" /></th>
				<td><%=.Model.scenario_name %></td>
			</tr>
			<tr>
				<th><ers:label code="common_regist_target" /></th>
				<td><%=.Model.w_target %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_list_delivery_ref_date" /></th>
				<td><ers:message src=".Model.w_mail_ref_date_kbn"/></td>
			</tr>
<ers:isequal src="0" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_regist_delivery_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_time_hh" value="D2" />:<ers:formatString src=".Model.mail_delv_time_mm" value="D2" /></td>
			</tr>
</ers:isequal>
<ers:isequal src="1" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_list_delivery_exc_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_out_time_hh_from" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_from" value="D2" />&nbsp;～&nbsp;<ers:formatString src=".Model.mail_delv_out_time_hh_to" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_to" value="D2" /></td>
			</tr>
</ers:isequal>
		</table>

		<table class="length">
			<caption><ers:message code="stepMail.delvy_detail.MsgStepMailInfo" /></caption>
			<tr>
				<th><ers:label code="step_mail_name" /></th>
				<td><%=.Model.step_mail_name %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_delivery_timing" /></th>
				<td><ers:message src=".Model.w_mail_ref_date_kbn"/>の<%=.Model.elapsed_num %><%=.Model.w_elapsed_kbn %></td>
			</tr>
		</table>

		<table class="length">
			<caption><ers:message code="stepMail.delvy_detail.MsgMailInfo" /></caption>
			<tr>
				<th><ers:message code="dsc_tbldsc_delivery_num" /></th>
				<td>
                    <%=.Model.mail_count %>通&nbsp;
                    <form method="post" action="<%=.sec_url %>top/atmail/asp/download_csv.asp">
                    <input type="hidden" name="id" value="<%=.Model.process_id %>" />
                    <input type="submit" name="" value="<ers:label code='common_download' />" />
                    </form>
                </td>
			</tr>
			<tr>
				<th><ers:label code="title" /></th>
				<td><%=.Model.subject %></td>
			</tr>
			<tr>
				<th><ers:label code="pc_mail_body_txt" /> </th>
				<td>
					<pre>
<ers:multiLine src=".Model.body" />
					</pre>
				</td>
			</tr>
			<tr>
				<th><ers:label code="pc_mail_body" /> </th>
				<td>
<ers:multiLine src=".Model.html_body" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td>
					<pre>
<ers:multiLine src=".Model.feature_body" />
					</pre>
				</td>
			</tr>
		</table>
	</div>
<!-- item_table end -->

<!-- back start-->
<form action="delvy_actual.asp" method="post">

	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
