﻿<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="stepMail.delvy_detail.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<!-- jquery jqplot start -->
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="<%=.sec_url%>lib/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="<%=.sec_url%>lib/jqplot/jquery.jqplot.js"></script>
<link rel="stylesheet" type="text/css" href="<%=.sec_url%>lib/jqplot/jquery.jqplot.css" />
<script type="text/javascript" src="<%=.sec_url%>lib/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<!--jquery jqplot end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
</script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#purchase_course").change(function () {
            if ($(this).val() === "5") {
                $("#base_date").val("4");
                $("option.specific_item").show();
                $("div.item_select").show();
            } else if ($(this).val() === "6") {
                $("div.item_select").show();
            } else {
                $("option.specific_item").hide();
                $("div.item_select").hide();
            }
        }).change();

        $(".del_btn").click(function () {
            $(this).closest("tr").remove();
        });

        $("td.target_item a").click(function () {
            $("td.target_item span").toggle();
            $("td.target_item a").toggle();
            return false;
        });
    jQuery.jqplot(
        'pie',
        [
            [['<ers:message code="stepMail.delvy_summary.MsgOpenRate" />',<%=.Model.mail_open_percent %>],['<ers:message code="sm_dp_unopened_rate" />',<%=.Model.mail_not_open_percent %>]]
        ],
        {
            seriesColors: ["#4F81BD","#BF4D4A"],
            seriesDefaults:{
                renderer:jQuery.jqplot.PieRenderer,
                rendererOptions: {
                    dataLabels: 'percent',
                    showDataLabels: true,
                    startAngle: -90,
                },
                shadow: false,
            },
            grid: {
                        drawBorder: false,
                        shadow: false
            },
            legend: {
                show: true, 
                location: 'ws', 
                marginBottom: "-50px",
                rendererOptions: {numberColumns: 1}
            },
       }
    );

})
</script>
<style type="text/css">
.item_select p{
	margin:-10px 0 10px 0;
}

.target_item{
	line-height:1.4;
}
.target_item a{
	color:#00f;
}
.target_item span,
.target_item a.close{
	display:none;
}
</style>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="stepMail.delvy_summary.TitleDelvyRepSummary" /></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="ERS_table">
		<table class="length_summary" style="width:auto;">
			<caption><ers:message code="stepMail.delvy_summary.MsgBasicInfo" /></caption>
			<tr>
				<th><ers:message code="sm_regist_scenario_name" /></th>
				<td class="w_300"><%=.Model.scenario_name %></td>
				<td rowspan="7" class="w_400">
					<dl>
						<dt><ers:message code="stepMail.delvy_summary.MsgOpenRate" /></dt>
						<dd><div id="pie"></div></dd>
					</dl>
				</td>
			</tr>
			<tr>
				<th><ers:label code="title" /></th>
				<td><%=.Model.subject %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_delv_start_date_time" /></th>
				<td><%=.Model.scheduled_date %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_delv_final_date_time" /></th>
				<td><%=.Model.sent_date %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_total_no_delivery" /></th>
				<td><%=.Model.mail_count %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_open_rate" /></th>
				<td><span class="w_80" style="float:left;"><%=.Model.mail_open_count %></span><span class="clearfix:after"><%=.Model.mail_open_percent %>%</span></td>
			</tr>
			<tr>
				<th><ers:message code="sm_dp_unopened_rate" /></th>
				<td><span class="w_80" style="float:left;"><%=.Model.mail_not_open_count %></span><span class="clearfix:after"><%=.Model.mail_not_open_percent %>%</span></td>
			</tr>
		</table>

		<table class="side">
			<caption><ers:message code="stepMail.delvy_summary.MsgClickFeedback" /></caption>
			<th class="w_370">URL</th>
			<th class="w_100"><ers:message code="sm_dp_total_click" /></th>
            <ers:foreach src=".Model.listClickCount" variable="record">
			<tr>
				<td><a href="<%=record.url %>"><%=record.url %></a></td>
				<td align="right"><%=record.click_count %></td>
			</tr>
            </ers:foreach>
		</table>

	</div>
<!-- item_table end -->

<!-- back start-->
<form action="delvy_actual.asp" method="post">

	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
