﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><ers:message code="campaign.campaign_scode_search.Title" /> -
        <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout"
        media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
    <script type="text/javascript">
        var $jquery_flexgrid = $.noConflict(true);
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css"
        rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <!-- flexgrid start -->
    <link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
    <!-- flexgrid end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script language="javascript" type="text/javascript">
        var RunCallbackFunction = function () { };

        // values to be used as call back arguments
        var ref = null;

        //選択ScodeSet
        function SetCode(obj) {
            var rowName = obj.id;
            var code = rowName.replace("btnSetting", "");

            // Call callback function of parent
            RunCallbackFunction(ref, code);

            self.window.close();
        }

        function Close() {
            self.window.close();
        }
    </script>
    <script language="javascript" type="text/javascript">
        // pager
        $(function () {
            $(document).on("submit", 'form', function () {
                var param = $(this).serialize();
                $.post(
                $(this).attr('action'),
                param,
                function (data) {
                    //replace contents
                    var pagehtml = $(data).find("#ERS_contents");
                    $("#ERS_contents").html(pagehtml.html());
                    //re-bind objects
                    $jquery_flexgrid(".flexigrid table").flexigrid();
                }
            );
                return false;
            })
        });
    </script>
</head>
<body>
    <!-- container start -->
    <div id="ERS_container">
        <!-- contents start -->
        <div id="ERS_contents">
            <!-- noscript start -->
            <noscript>
                <div class="ERS_noscript">
                    <p><ers:message code="login.login.Javascript" /></p>
                </div>
            </noscript>
            <!-- noscript end -->
            <!-- title start -->
            <div id="ERS_title">
                <h2>
                    <ers:message code="campaign.campaign_scode_search.Title"></h2>
            </div>
            <!-- title end -->
            <form action="<%=.sec_url%>top/stepmail/asp/item_search_list.asp" method="post" name="item_form">
            <!-- table start -->
            <div class="ERS_table">
                <table class="length">
                    <tbody>
                        <tr>
                            <th>
                                <ers:label code="s_sname">
                            </th>
                            <td>
                                <input type="text" id="s_sname" name="s_sname" class="w_400" value="<%=.Model.s_sname %>">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:label code="product_code">
                            </th>
                            <td>
                                <input type="text" id="s_scode" name="s_scode" class="w_200" value="<%=.Model.s_scode %>">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:message code="stepmail_item_search_groupcode">
                            </th>
                            <td>
                                <input type="text" id="s_gcode" name="s_gcode" class="w_200" value="<%=.Model.s_gcode %>">
                            </td>
                        </tr>
                        <!--cate start-->
                                  <ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
   <tr>
    <th>
     <span id="s_cate<%=cate_item.cate_t_id%>"><ers:message code="item_cate_name" /><%=i+1%><ers:message code="item_category_search" /></span>
    </th>
    <td>
     <select class="w_250" id="s_cate<%=cate_item.cate_t_id%>" name="s_cate<%=cate_item.cate_t_id%>">
                       
      <option value="">
      </option>
                        <ers:foreach variable="option" src="cate_item.list" roopcounter="j">                       
                        <option value="<%=option.id%>"<ers:isEqual src="cate_item.cate_t_id"  value="1"><ers:isEqual src="option.id" variable=".Model.s_cate1"> selected="selected"</ers:isEqual></ers:isEqual>
                        <ers:isEqual src="cate_item.cate_t_id" value="2"><ers:isEqual src="option.id" variable=".Model.s_cate2"> selected="selected"</ers:isEqual></ers:isEqual>
                        <ers:isEqual src="cate_item.cate_t_id" value="3"><ers:isEqual src="option.id" variable=".Model.s_cate3"> selected="selected"</ers:isEqual></ers:isEqual>
                        <ers:isEqual src="cate_item.cate_t_id" value="4"><ers:isEqual src="option.id" variable=".Model.s_cate4"> selected="selected"</ers:isEqual></ers:isEqual>
                        <ers:isEqual src="cate_item.cate_t_id" value="5"><ers:isEqual src="option.id" variable=".Model.s_cate5"> selected="selected"</ers:isEqual></ers:isEqual>><ers:isNotEqual src="option.site_name" value="">（<%=option.site_name%>）</ers:isNotEqual><%=option.cate_name%>
                        </option>                       
                        </ers:foreach>
     </select>
    </td>
   </tr>
</ers:foreach>
                        <!--cate end-->
                    </tbody>
                </table>
            </div>
            <!-- table end -->
            <!-- next start-->
            <div class="ERS_next">
                <p class="center">
                    <input type="submit" value="<ers:label code="common_search">" id="g_search_mode"
                        name="g_search_mode" value="true" /></p>
            </div>
            <!-- next end-->
            </form>
            <!-- page_send start -->
            <ers:partial file="pager.htm" partialModel=".Pager" />
            <!-- page_send end -->
            <!-- item_table start -->
            <div class="flexigrid item_table">
                <table>
                    <thead>
                        <tr>
                            <th width="210">
                                <ers:label code="product_code">
                            </th>
                            <th width="270">
                                <ers:label code="s_sname">
                            </th>
                            <!--<th width="105">
                                <ers:label code="stock">
                            </th>-->
                            <th width="100">決定</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ers:foreach variable="item" src=".Model.searched_items" roopcounter="item_cnt">
			<tr>
                <td><%=item.scode%></td>
                <td><%=item.sname%></td>								
                <td ><input type="button" name="btnSetting" value="<ers:message code="camp_campaign_scode_set">" onclick="SetCode(this);" id="btnSetting<%=item.gcode%>$<%=item.scode%>$<%=item.sname%>$<%=item.s_sale_ptn %>" class="w_110" /></td>
            </tr>
        </ers:foreach>
                    </tbody>
                </table>
            </div>
            <!-- item_table end -->
            <!-- back start-->
            <div class="ERS_back">
                <p>
                    <input type="button" value="<< <ers:label code='common_back'>" class="btn01" onclick="window.close();" />
                </p>
            </div>
            <!-- back end-->
        </div>
        <!-- contents end -->

        <br class="release_b" />
    </div>
    <!-- container end -->
</body>
</html>
