﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="stepMail.scenario_list.TitlePageScenarioList" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<!--flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js">
</script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<style type="text/css">
.btn_list{
	margin:0 0 5px 0;
}
</style>
</head>
<body>
<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" partialModel=".headerModel"/>
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

    <!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
    <!-- noscript end -->

    <!-- sidemenu start -->
    <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
    <!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">



<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="stepMail.scenario_list.TitlePageScenarioList" /></h2>
	</div>
<!-- title end -->

<form action="<%=.sec_url%>top/stepmail/asp/scenario_list.asp" group_name="none">
<!-- table start -->
	<div class="ERS_table">
		<table class="length" id="">
			<tr>			
                <th class="<ers:isError src="s_scenario_name"> ERS_IVP_caution</ers:isError>"><ers:label code="step_scenario_t.scenario_name" /></th>
				<td>
					<input type="text" value="<%=.Model.s_scenario_name%>" name="s_scenario_name" id="s_scenario_name" class="w_300">
				</td>
			</tr>
			<tr>
                <th class="<ers:isError src="s_mail_status_kbn"> ERS_IVP_caution</ers:isError>"><ers:label code="s_mail_status_kbn" /></th>
				<td>
                   <select id="s_mail_status_kbn" name="s_mail_status_kbn" class="w_150">
                        <option value=""></option>
                        <ers:foreach variable="option" src=".Model.statusList" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_mail_status_kbn"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
                    </select>
				</td>
			</tr>
		</table>
	</div>
<!-- item_table end -->

<!-- next start -->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code='common_search' />" /></p>
	</div>
<!-- next end -->
</form>
<br class="release_b" />
<!-- item_table start -->
	<div class="flexigrid item_table">
 <!-- search start -->
	<div class="ERS_result_count">
		<p><ers:message code="stepMail.scenario_list.MsgStepMailCount" value=".Model.recordCount" /></p>
	</div>
<!-- search end -->
	<ul class="btn_list">
		<li><input type="button"  class="form_btn" rel="regist$<%=.sec_url%>top/stepmail/asp/scenario_regist.asp?s_scenario_name=<%=.Model.s_scenario_name%>&s_mail_status_kbn=<%=.Model.s_mail_status_kbn%>" name="" id="" value="<ers:message code='button_scenario_sign_up' />" /></li>
	</ul>
	<table>
		<thead>
			<tr>
				<th width="13">No</th>
				<th width="165"><ers:label code="s_scenario_name" /></th>
				<th width="80"><ers:label code="hid_s_mail_status_kbn" /></th>
				<th width="80"><ers:label code="intime" /></th>
				<th width="80"><ers:label code="utime" /></th>
				<th width="60"><ers:label code="common_edit" /></th>
				<th width="90"><ers:label code="function_name_stepmail" /></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach src=".Model.scenarioList" variable="record">
                <tr>
                    <td><%=record.result_cnt%></td>
                    <td><%=record.scenario_name%></td>
                    <td>
                     <ers:message src="record.status"/>
                    </td>
                    <td><ers:formatDate src="record.intime" value="yyyy/MM/dd" /></td>                    
                    <td><ers:formatDate src="record.utime" value="yyyy/MM/dd" /></td>
				    <td><input type="button" class="form_btn" rel="regist$<%=.sec_url%>top/stepmail/asp/scenario_modify.asp?id=<%=record.id%>&s_scenario_name=<%=.Model.s_scenario_name%>&s_mail_status_kbn=<%=.Model.s_mail_status_kbn%>" name="" id="" value="<ers:label code='common_details' />" /></td>
				    <td><input type="button" class="form_btn" rel="regist$<%=.sec_url%>top/stepmail/asp/stepmail_list.asp?scenario_id=<%=record.id%>" name="" id="" value="<ers:label code='function_name_stepmail' />" /></td>
                </tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="regist" id="regist" method="post">

<!--詳細用form-->
</form>

<form action="" name="stepmailList" id="stepmailList" method="post">

<!--詳細用form-->
</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
