﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><ers:message code="stepMail.scenario_regist.TitleScenarioRegistration" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout"
        media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"> </script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css"
        rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
    </script>
    <!--jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#mail_ref_date_kbn").change(function () {
                if ($(this).val() === "2" || $(this).val() === "4" || $(this).val() === "5") {
                    $(".sendkind").show();
                    $(".sendkind").val("0");
                    $(".sendtime").show();
                    $(".ex_sendtime").hide();
                } else {
                    $(".sendkind").hide();
                    $(".sendkind").val("");
                    $(".sendtime").show();
                    $(".ex_sendtime").hide();
                    $("#mail_delv_out_time_hh_from").val("0");
                    $("#mail_delv_out_time_mm_from").val("0");
                    $("#mail_delv_out_time_hh_to").val("0");
                    $("#mail_delv_out_time_mm_to").val("0");
                    $("#mail_delv_time_kbn").val("0");
                }
            }).change();

            $("#mail_delv_time_kbn").change(function () {
                if ($(this).val() === "0") {
                    $(".ex_sendtime").hide();
                    $(".sendtime").show();
                    $("#mail_delv_out_time_hh_from").val("0");
                    $("#mail_delv_out_time_mm_from").val("0");
                    $("#mail_delv_out_time_hh_to").val("0");
                    $("#mail_delv_out_time_mm_to").val("0");
                } else if ($(this).val() === "1") {
                    $(".ex_sendtime").show();
                    $(".sendtime").hide();
                    $("#mail_delv_time_hh").val("0");
                    $("#mail_delv_time_mm").val("0");
                } else if ($(this).val() === "") {
                    $(".ex_sendtime").hide();
                    $(".sendtime").show();
                    $("#mail_delv_out_time_hh_from").val("0");
                    $("#mail_delv_out_time_mm_from").val("0");
                    $("#mail_delv_out_time_hh_to").val("0");
                    $("#mail_delv_out_time_mm_to").val("0");
                }
            }).change();
        })

        
    </script>
    <style type="text/css">
        .item_select p
        {
            margin: -10px 0 10px 0;
        }
        .item_select .new_line
        {
            display: none;
        }
        .item_select span
        {
            color: #E00000;
        }
    </style>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/scenario.htm" partialmodel=".headerModel" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->
                <!-- title start -->
                <div id="ERS_title">
                    <h2>
                        <ers:message code="stepMail.scenario_regist.TitleScenarioRegistration" /></h2>
                </div>
                <!-- title end -->
                <!-- item_table start -->
                <ers:dispError /><ers:dispInfo />
                <ers:dispinfo />
                <form name="scenario_complete1" action="<%=.sec_url%>top/stepmail/asp/scenario_regist_complete.asp" method="post">
                <div class="ERS_table">
                    <table class="length" id="">
                        <tr>
                            <th>
                                <ers:message code="sm_regist_scenario_name" />
                            </th>
                            <td>
                                <input type="text" value="<%=.Model.scenario_name%>" name="scenario_name" id="scenario_name"
                                    class="w_400">
                            </td>
                        </tr>
                    </table>
                    <table class="length">
                        <caption><ers:message code="stepMail.scenario_regist.MsgPurchaseCondition" /></caption>
                        <tr>
                            <th>
                                <ers:label code="common_regist_target" />
                            </th>
                            <td>
					            <select name="target_id" class="w_200">
					                <option value=""><ers:message code="stepMail.scenario_detail.OptionSelect" /></option>
<ers:foreach variable="record" src=".Model.target_list" roopcounter="i">
                                    <option value="<%=record.value%>"<ers:isEqual src="record.value" variable=".Model.target_id"> selected="selected"</ers:isEqual>><%=record.name%></option>
</ers:foreach>
					            </select>
                            </td>
                        </tr>
                    </table>
                    <table class="length">
                        <caption>
                            <ers:message code="stepMail.scenario_regist.MsgMemberRegistCondition" /></caption>
                        <tr>
                            <th>
                                <ers:message code="sm_regist_days_from_mem_reg" />
                            </th>
                            <td>
                                <input type="text"   value="<%=.Model.reg_elapsed_from%>" name="reg_elapsed_from"
                                    id="reg_elapsed_from" class="w_40">&nbsp;<ers:message code="common.days" />&nbsp;～
                                <input type="text"  value="<%=.Model.reg_elapsed_to%>" name="reg_elapsed_to"
                                    id="reg_elapsed_to" class="w_40">&nbsp;<ers:message code="common.days" />
                            </td>
                        </tr>
                    </table>
                    <table class="length">
                        <caption>
                            <ers:message code="stepMail.scenario_regist.MsgMailDeliverySettings" /></caption>
                        <tr>
                            <th>
                                <ers:label code="mail_ref_date_kbn" />
                            </th>
                            <td>
                                <select id="mail_ref_date_kbn" name="mail_ref_date_kbn" class="w_150">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.mail_ref_date_kbn_list" roopcounter="j">
                                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mail_ref_date_kbn"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                                    </ers:foreach>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:message code="sm_regist_delivery_time" />
                            </th>
                            <td>
                                <select name="mail_delv_time_kbn" id="mail_delv_time_kbn" class="w_150 sendkind">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.mail_delv_list" roopcounter="j">
                                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mail_delv_time_kbn"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                    </ers:foreach>
                                </select>
                                <p style="padding: 5px 0 0 0; display: none;" class="sendtime">
                                    <select name="mail_delv_time_hh" id="mail_delv_time_hh" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_hh_list">
                                         <option value="<%=option.value%>"
                                            <ers:isEqual src="option.value" variable=".Model.mail_delv_time_hh"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                        </ers:foreach>
                                    </select>&nbsp;：
                                    <select name="mail_delv_time_mm" id="mail_delv_time_mm" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_mm_list">
                                         <option value="<%=option.name%>"
                                            <ers:isEqual src="option.name" variable=".Model.mail_delv_time_mm"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                        </ers:foreach>
                                    </select>
                                </p>
                                <p style="padding: 5px 0 0 0; display: none;" class="ex_sendtime">
                                    <ers:message code="sm_list_delivery_exc_time" />&nbsp;&nbsp;
                                    <select id="mail_delv_out_time_hh_from" name="mail_delv_out_time_hh_from" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_hh_list">
                                         <option value="<%=option.value%>"
                                            <ers:isEqual src="option.value" variable=".Model.mail_delv_out_time_hh_from"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                        </ers:foreach>
                                    </select>&nbsp;：
                                    <select id="mail_delv_out_time_mm_from" name="mail_delv_out_time_mm_from" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_mm_list">
                                         <option value="<%=option.name%>"
                                            <ers:isEqual src="option.name" variable=".Model.mail_delv_out_time_mm_from"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                       </ers:foreach>
                                    </select>&nbsp;～&nbsp;
                                    <select id="mail_delv_out_time_hh_to" name="mail_delv_out_time_hh_to" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_hh_list">
                                         <option value="<%=option.value%>"
                                            <ers:isEqual src="option.value" variable=".Model.mail_delv_out_time_hh_to"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                    </ers:foreach>
                                    </select>&nbsp;：
                                    <select id="mail_delv_out_time_mm_to" name="mail_delv_out_time_mm_to" class="w_45">
                                        <ers:foreach variable="option" src=".Model.mail_delv_time_mm_list">
                                         <option value="<%=option.name%>"
                                            <ers:isEqual src="option.name" variable=".Model.mail_delv_out_time_mm_to"> selected="selected"</ers:isEqual>>
                                            <%=option.name%>
                                         </option>
                                        </ers:foreach>
                                    </select>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:label code="mail_from_addr" />
                            </th>
                            <td>
                                <input type="text"  value="<%=.Model.mail_from_addr%>" name="mail_from_addr"
                                    id="mail_from_addr" class="w_265" style="">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:label code="mail_from_name" />
                            </th>
                            <td>
                                <input type="text" value="<%=.Model.mail_from_name%>" name="mail_from_name"
                                    id="mail_from_name" class="w_265" style="">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:label code="mail_reply_addr" />
                            </th>
                            <td>
                                <input type="text" value="<%=.Model.mail_reply_addr%>" name="mail_reply_addr" id="mail_reply_addr"
                                    class="w_265">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <ers:label code="mail_status_kbn" />
                            </th>
                            <td>
                                <select id="mail_status_kbn" name="mail_status_kbn" class="w_150">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.mail_status_kbn_list" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mail_status_kbn"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                                    </ers:foreach>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" id="submit_register" name="submit_register" value="true" />
                <!-- item_table end -->
                </form>
                <form name="scenario_complete2" action="<%=.sec_url%>top/stepmail/asp/scenario_delete_complete"
                method="post">
                <input type="hidden" id="submit_delete" name="submit_delete" value="true" />
                </form>
                <div id="dialog001" title="<ers:message code='stepMail.scenario_regist.TitleScenarioRegistration' />">
                    <p>
                        <ers:message code="common.RegisterConfirm" /></p>
                </div>
                <div id="dialog002" title="<ers:message code='stepMail.scenario_regist.DialogBoxTitleScenarioDel' />">
                    <p>
                        <ers:message code="common.DeleteConfirm"/></p>
                </div>
                <div class="ERS_next">
                    <p class="center">
                        <a class="disp_dialog001" href="scenario_complete1">
                            <input type="button" value="<ers:label code='common_register' />" alt="<ers:message code="promotion.coupon_regist.NextAlt" />" /></a>
                        <!--                          <a class="disp_dialog002"
                                href="scenario_complete2">
                                <img alt="削除する" value="削除する">
                            </a>-->
                    </p>
                </div>
                <!-- <form name="scenario_complete" action="<%=.sec_url%>scenario/scenario_complete" method="post">
                </form>-->
                <!-- back start-->
                <!--<form action="target_search.asp" method="post">-->
                <div class="ERS_back">
                    <p>
                        <input type="submit" value="<< <ers:label code='common_back' />" class="btn01" onclick="history.back();" />
                </div>
                <!-- back end-->
                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p>
                        <a href="#ERS_wrapper">
                            <img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
                </div>
                <!-- page_top end-->
                <!-- contents end -->
                <p>
                </p>
                <!--</form>-->
            </div>
            <br class="release_b" />
            <br class="release_b" />
        </div>
        <!-- container end -->
<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
    </div>
    <!--wrapper end -->
</body>
</html>
