﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><ers:message code="stepMail.stepmail_complete" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout"
        media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
    </script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css"
        rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
    </script>
    <!--jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js">
    </script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/scenario.htm" partialmodel=".headerModel" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
               
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->
                <!-- title start -->
                <div id="ERS_title">
                    <h2>
                        <ers:message code="common.process_complete.Title"/></h2>
                </div>
                <!-- title end -->
                <!-- box start -->
                <div class="ERS_box">
                    <p>
                        <ers:message code="stepMail.scenario_complete.MsgProcessingComplete" /><br />
                        <br />
                        <a href="<%=.sec_url%>top/stepmail/asp/stepmail_list.asp?scenario_id=<%=.Model.scenario_id %>">
                            <ers:message code="sm_list_back_to_step_mail_list" /></a></p>
                </div>
                <!-- box end -->
                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p>
                        <a href="#ERS_wrapper">
                            <img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
                </div>
                <!-- page_top end-->
                <br class="release_b" />
            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
    </div>
    <!--wrapper end -->
</body>
</html>
