﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="stepMail.stepmail_modify.TitleStepMailRegistration" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->

<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
</script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js">
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#purchase_course").change(function () {
            if ($(this).val() == 5) {
                $("#base_date").val("4");
                $("option.specific_item").show();
            } else {
                $("option.specific_item").hide();
            }
        })

        $("td.target_item a").click(function () {
            $("td.target_item span").toggle();
            $("td.target_item a").toggle();
            return false;
        })
    })
</script>
<style type="text/css">
.target_item{
	line-height:1.4;
}
.target_item a{
	color:#00f;
}
.target_item span,
.target_item a.close{
	display:none;
}
</style>
<script src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
    <!-- TinyMCE -->
 <script type="text/javascript" src="<%=.sec_url%>js/tiny_mce.js?enableErsButton=true&elements=pc_mail_body"></script>
    <!-- /TinyMCE -->
</head>
<body>
<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->
<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" partialModel=".headerModel"/>
<!-- g_navi end -->   

<!-- container start -->
    <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		    <noscript>
			    <div class="ERS_noscript">
				    <p><ers:message code="login.login.Javascript" /></p>
			    </div>
		    </noscript>
<!-- noscript end -->

<!-- title start -->
	        <div id="ERS_title">
		        <h2><ers:message code="stepMail.stepmail_modify.TitleStepMailRegistration" /></h2>
	        </div>
<!-- title end -->
                <ers:dispError /><ers:dispInfo />
                <ers:dispinfo />
<!-- item_table start -->          
            <form action="<%=.sec_url%>top/stepmail/asp/stepmail_regist_complete.asp" id="complete" name="complete" method="post" enctype="multipart/form-data">
            <input type ="hidden" name="id" value="<%=.Model.id %>" />
	        <div class="ERS_table">
		        <table class="length" id="">
			        <tr>
				        <th><ers:message code="sm_regist_scenario_name" /></th>
				        <td><%=.Model.scenario_name %></td>
			        </tr>
			        <tr>
				        <th><ers:label code="common_regist_target" /></th>
				        <td><%=.Model.w_target %></td>
			        </tr>
			        <tr>
				        <th><ers:message code="sm_list_delivery_ref_date" /></th>
				        <td><%=.Model.strmail_ref_date_kbn %></td>
			        </tr>
			         <ers:isEqual src="0" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_regist_delivery_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_time_hh" value="D2" />:<ers:formatString src=".Model.mail_delv_time_mm" value="D2" /></td>
			</tr>
            </ers:isEqual>
			            <ers:isEqual src="1" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_list_delivery_exc_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_out_time_hh_from" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_from" value="D2" />&nbsp;～&nbsp;<ers:formatString src=".Model.mail_delv_out_time_hh_to" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_to" value="D2" /></td>
			</tr>
             </ers:isEqual>
			        <tr>
				        <th><ers:label code="mail_status_kbn" /></th>
				        <td><%=.Model.strstatus %></td>
			        </tr>
		        </table>

		        <table class="length" id="">
			            <tr>
				            <th><ers:label code="step_mail_name" /></th>
				            <td>
					            <input type="text" value="<%=.Model.step_mail_name%>" name="step_mail_name" id="step_mail_name" class="w_400"/>
				            </td>
			            </tr>
		            </table>

		        <table class="length">
			        <caption><ers:message code="stepMail.stepmail_modify.MsgDeliverySettings" /></caption>
			        <tr>
				        <th><ers:label code="elapsed_num" /></th>
				        <td>
                        <select name="elapsed_num">
                            <ers:foreach variable="template" src=".Model.elapsedNumList" roopcounter="j">
                                <option value="<%=template.value%>" <ers:isEqual src="template.value" variable=".Model.elapsed_num"> selected="selected"</ers:isEqual>><%=template.name%></option>
                            </ers:foreach>
                        </select>

                        <select id="elapsed_kbn" name="elapsed_kbn">
						    <option value=""></option>
                            <ers:foreach variable="option" src=".Model.elapsedList" roopcounter="j">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.elapsed_kbn"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
					    </select>
				        </td>
			        </tr>      
			        <tr>
				        <th><ers:label code="mail_status_kbn" /></th>
				        <td>					
					        <select id="mail_status_kbn" name="mail_status_kbn" class="w_150">
						        <option value=""></option>
                                <ers:foreach variable="option" src=".Model.statusList">
                                    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mail_status_kbn"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                </ers:foreach>
					        </select>
				        </td>
			        </tr>
		        </table>

		        <table class="length">
			        <caption><ers:message code="stepMail.stepmail_modify.MsgMailSettings" /></caption>
			        <tr>
				        <th><ers:label code="pc_mail_title" /></th>
				        <td>
					        <input type="text" maxlength="55" value="<%=.Model.pc_mail_title %>" name="pc_mail_title" id="pc_mail_title" class="w_408"/>
				        </td>
			        </tr>
			        <tr>
				        <th><ers:label code="pc_mail_body_txt" /></th>
				        <td>
					        <textarea name="pc_mail_body_txt" cols="65" rows="20"><%=.Model.pc_mail_body_txt %></textarea>
				        </td>
			        </tr>
			        <tr>
				        <th><ers:label code="pc_mail_body" /></th>
				        <td>
					        <textarea name="pc_mail_body" id="pc_mail_body" cols="65" rows="20"><%=.Model.pc_mail_body %></textarea>
				        </td>
			        </tr>
			    <!--    <tr>
				        <th>モバイル用タイトル</th>
				        <td>
					        <input type="text" maxlength="9" value="<%=.Model.mobile_mail_title %>"   name="mobile_mail_title" id="" class="w_408"/>
				        </td>
			        </tr>-->
			        <tr>
				        <th><ers:label code="mobile_mail_body" /></th>
				        <td>
					        <textarea name="mobile_mail_body"   cols="65" rows="20"><%=.Model.mobile_mail_body %></textarea>
				        </td>
			        </tr>
		        </table>

	        </div>
<!-- item_table end -->

	        <div class="ERS_next">
	            <p class="center">
                    <input type="hidden" name="save" value="true"/>
                    <input type="hidden" name="delete" value="false"/>
		            <a class="disp_dialog001" href="complete"><input type="button" value="<ers:label code='common_register' />" alt="<ers:message code="promotion.coupon_regist.NextAlt" />"></a>                    
		            <!--<a class="disp_dialog002" href="delete_complete"><img alt="削除する" value="削除する"></a>-->
	            </p>
            </div>
        
	        <div id="dialog001" title="<ers:message code='stepMail.stepmail_modify.TitleStepMailRegistration' />">
		        <p><ers:message code="common.RegisterConfirm" /></p>
	        </div>

	        <div id="dialog002" title="<ers:message code='stepMail.stepmail_modify.DialogBoxTitleStepMailDel' />">
		        <p><ers:message code="common.DeleteConfirm" /></p>
	        </div>
            </form>

<!-- back start-->
            <form action="<%=.sec_url%>top/stepmail/asp/stepmail_list.asp?scenario_id=<%=.Model.scenario_id %>" method="post">

	            <div class="ERS_back">
		            <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	            </div>
            </form>
<!-- back end-->

<!-- page_top start-->
	        <div class="ERS_page_top">
		        <p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	        </div>
<!-- page_top end-->

            <br class="release_b" />

		</div>
<!-- contents end -->

        <br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
