﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="stepMail.stepmail_list.TitleStepMailList" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
</script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
</script>
<!--jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
</script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js">
</script>
<style type="text/css">
.target_item{
	line-height:1.4;
}
.target_item a{
	color:#00f;
}
.target_item span,
.target_item a.close{
	display:none;
}
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("td.target_item a").click(function () {
            $("td.target_item span").toggle();
            $("td.target_item a").toggle();
            return false;
        })

    })

</script>
</head>
<body>
<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->
<!-- g_navi start -->
<ers:partial file="g_navi/scenario.htm" partialModel=".headerModel"/>
<!-- g_navi end -->   

<!-- container start -->
	<div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="stepMail.stepmail_list.TitleStepMailList" /></h2>
	</div>
<!-- title end -->

    <ers:dispError /><ers:dispInfo />
    <ers:dispinfo />

<!-- item_table start -->
	<div class="ERS_table">
		<table class="length" id="">
			<tr>
				<th><ers:message code="sm_regist_scenario_name" /></th>
				<td><%=.Model.scenario_name %></td>
			</tr>
			<tr>
				<th><ers:label code="common_regist_target" /></th>
				<td><%=.Model.w_target %></td>
			</tr>
			<tr>
				<th><ers:message code="sm_list_delivery_ref_date" /></th>
				<td><%=.Model.strmail_ref_date_kbn %></td>
			</tr>
            <ers:isEqual src="0" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_regist_delivery_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_time_hh" value="D2" />:<ers:formatString src=".Model.mail_delv_time_mm" value="D2" /></td>
			</tr>
            </ers:isEqual>
            <ers:isEqual src="1" variable=".Model.mail_delv_time_kbn"> 
			<tr>
				<th><ers:message code="sm_list_delivery_exc_time" /></th>
				<td><ers:formatString src=".Model.mail_delv_out_time_hh_from" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_from" value="D2" />&nbsp;～&nbsp;<ers:formatString src=".Model.mail_delv_out_time_hh_to" value="D2" />:<ers:formatString src=".Model.mail_delv_out_time_mm_to" value="D2" /></td>
			</tr>
             </ers:isEqual>
			<tr>
				<th><ers:label code="s_mail_status_kbn" /></th>
				<td><%=.Model.strstatus %></td>
			</tr>
		</table>

        <input type ="hidden" name="scenario_id" value="<%=.Model.scenario_id %>" />
        <input type ="hidden" name="scenario_id" value="<%=.Model.order_ptn_kbn %>" />

        <span> <ers:message code="stepMail.scenario_list.MsgStepMailCount" value=".Model.recordCount" /></span><br />

        <input type="button" class="form_btn" id="Button1" rel="regist$<%=.sec_url%>top/stepmail/asp/stepmail_regist.asp?scenario_id=<%=.Model.scenario_id %>"  value="<ers:label code='common_sign_up' />" />

    </div>

    <!-- page_send start -->
    <center><ers:partial file="pager.htm" partialModel=".Pager" /></center>
    <!-- page_send end -->

    <div class="ERS_table">
        
		<table class="side" id="">
			<tr>
				<th width="431"><ers:message code="sm_list_step_mail_name" /></th>
				<th width="80"><ers:label code="s_mail_status_kbn" /></th>
				<th width="70"><ers:message code="dsc_tbldsc_delivery_date" /></th>
				<th width="50"><ers:label code="common_details" /></th>
			</tr>
           <ers:foreach variable="record" src=".Model.StepMailList" roopcounter="j">
                <tr>
                    <td><%=record.step_mail_name%></td>
                    <td><%=record.status%></td>
                    <td>
                        <%=record.elapsed_num%> <%=record.elapsed_kbn_name%>
                    </td>
                    <td><input type="button" class="form_btn" rel="regist$<%=.sec_url%>top/stepmail/asp/stepmail_modify.asp?id=<%=record.id%>&scenario_id=<%=.Model.scenario_id %>" name="" id="Button2" value="<ers:label code='common_details' />" /></td>
                </tr>
           </ers:foreach>			
		</table>
	</div>


    <!-- page_send start -->
    <center><ers:partial file="pager.htm" partialModel=".Pager" /></center>
    <!-- page_send end -->

<form action="" name="regist" id="regist" method="post">

<!--詳細用form-->
</form>

<!-- back start-->
<form action="<%=.sec_url%>top/stepmail/asp/scenario_list.asp" method="post">

	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!--footer end -->
</div>
<!--wrapper end -->
</body>
</html>
