<div id="IVP_sidemenu">
	<div class="contact">
		<h3><img src="<%=.nor_url%>images/ivp/mttl_contact.gif" width="191" height="54" alt="お問い合わせ CONTACT" title="お問い合わせ CONTACT" /></h3>
		<p><img src="<%=.nor_url%>images/ivp/contact_text.gif" width="160" height="30" alt="ご相談ご質問はお気軽にご連絡ください。" title="ご相談ご質問はお気軽にご連絡ください。" /></p>
		<h4><img src="<%=.nor_url%>images/ivp/contact_tel.gif" width="170" height="45" alt="03-5469-8601" title="03-5469-8601" /></h4>
		<h5><img src="<%=.nor_url%>images/ivp/contact_staff-time.gif" width="170" height="35" alt="[担当]フジタ・カワハラ　営業時間10：00〜19：00" title="[担当]フジタ・カワハラ　営業時間10：00〜19：00" /></h5>
	</div>
	<p><a href="topics/20100628-2.html"><img src="<%=.nor_url%>images/ivp/bnr_president.jpg" width="200" height="156" alt="ECシステムとITコストの半減 需要急増、世界展開を両立する方法とは？　雑誌「プレジデント」に掲載されました！" title="ECシステムとITコストの半減 需要急増、世界展開を両立する方法とは？　雑誌「プレジデント」に掲載されました！" /></a></p>
	<p><a href="paypal/index.html"><img src="<%=.nor_url%>images/ivp/bnr_paypal01.jpg" width="200" height="97" alt="世界中で利用されているPayPal" title="世界中で利用されているPayPal" /></a></p>
	<p class="list"><a href="http://privacymark.jp/" target="_blank"><img src="<%=.nor_url%>images/ivp/bnr_pmark.gif" width="75" height="80" alt="プライバシーマーク 認定番号 第10821115（03)号 第二種通信事業者" /></a><img src="<%=.nor_url%>images/ivp/bnr_secoms.gif" width="60" height="60" alt="SECOM" title="SECOM" /></p>
	<p><a href="paypal/index.html"><img src="<%=.nor_url%>images/ivp/bnr_paypal02.jpg" width="150" height="22" alt="PayPal Partner" title="PayPal Partner" /></a></p>
	<p><a href="http://www.isms.jipdec.or.jp/" target="_blank"><img src="<%=.nor_url%>images/ivp/bnr_isms.gif" width="150" height="79" alt="ISMS　認定番号：ISA IS 0046（当社データセンター）" title="ISMS　認定番号：ISA IS 0046（当社データセンター）" /></a></p>
</div>
