<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ショッピングカート ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/cart.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-dateFormat.min.js"></script>
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<script src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/cart.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<script type="text/javascript">
        var holidays = {
	    <ers:foreach variable="holiday" src=".Model.listHolidays">
            "<ers:formatDate src="holiday" />":{},
	    </ers:foreach>
        };

        function getHolidays(day) {
            var result;
            var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
            // 祝日・非営業日定義に存在するか？
            if (holiday) {
                result = [false, ""];
            } else {
                result = [true, ""];
            }
            return result;
        }

	    /* カレンダー表示
	    ---------------------------------------------------------------- */
	$(function() {
	    $("#datepicker2").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
			return getHolidays(day);
		}
	    });
	});

	$(function(){
		$(".ERS_recommend_list h3.title").tile(5);
		$(".ERS_recommend_list div").tile(5);
	});
	</script>

	<style type="text/css">
	#ERS_premessage{
		display:block;
	}
	</style>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;カートの中身を確認</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div id="ERS_flow" class="clearfix">
				<img src="<%=.sec_url%>images/flow_cart01.gif" alt="" />
			</div>
<!-- flow end -->

<!-- title start -->
			<h2>お買い上げ商品のご確認</h2>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:isEqual src=".Model.existBasketItem" value="false">
<!-- amount start -->
		<div class="ERS_amount">
			<h3 class="subtitle02">通常商品のお申し込み</h3>
			<table>
				<tr>
					<th class="sname">商品名</th>
					<th class="price">単価</th>
					<th class="amount">数量</th>
					<th class="price">金額</th>
					<th class="act">取消</th>
				</tr>
				<tr>
					<td colspan="5">カートに商品は入っていません。</td>
				</tr>
			</table>
		</div>
</ers:isEqual>

<form method="post" action="cart.asp" id="entry_form" name="entry_form">
	<ers:isNotEqual src=".Model.basketItemCount" value="0">
		<ers:partial file="basket_ordinary.htm" partialModel=".Model" />
		<!-- back start -->
		<div class="ERS_btn clearfix">
			<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="btn back">戻って買い物を続ける</a></p>
		</div>
		<!-- back end -->
	</ers:isNotEqual>

	<ers:isNotEqual src=".Model.regularBasketItemCount" value="0">
		<ers:partial file="basket_regular.htm" partialModel=".Model" />
		<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="btn back">戻って買い物を続ける</a></p>
			</div>
		<!-- back end -->
	</ers:isNotEqual>
<input type="hidden" name="del_key" value="" />
<input type="hidden" name="del_regular_key" value="" />
</form>
<!-- amount end -->

<!-- total sum start-->
<div id="ERS_totalsum">
	<table>
		<tr>
			<th><img src="<%=.sec_url%>images/icon_cart02.gif" alt="カートアイコン" width="26" />お買物合計金額</th>
			<td><ers:formatCurrency src=".Model.total_all_item" />円</td>
		</tr>
	</table>
	<p>※「個数」を変更した場合は、必ず「再計算」ボタンを押して「税込合計」の確認をお願いします。</p>
	<p><ers:multiLine src=".Model.regi_memo"></ers:multiLine></p>
</div>
<!-- total sum end -->

<ers:isEqual src=".Model.existBasketItem" value="true" >

	<h2>お買い物手続きへお進みになるお客様は、以下のいずれかにお進みください。</h2>

	<div id="ERS_buy" class="clearfix">

        <ers:IsEqual src=".Model.HasRegularOrder" value="false">
		<!-- non_member start -->
		<div class="ERS_non-member">
		<h3>会員登録をせずに購入</h3>
			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form2">
				<p class="iconLogin entry01"><input type="submit" value="会員登録をせずに購入" class="btn login_btn" /></p>
				<input type="hidden" name="k_flg" value="3" />
			</form>
		</div>
		<!-- non_member end -->
        </ers:IsEqual>

		<!-- first start -->
		<div class="ERS_first clearfix">
			<h3>初めてご注文される方</h3>
			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form2">
				<p class="iconLogin entry01"><input type="submit" value="会員登録をして購入" class="btn login_btn" /></p>
				<input type="hidden" name="k_flg" value="2" />
			</form>
		</div>
		<!-- first end -->

		<!-- login start -->
		<form method="post" action="<%=.sec_url%>top/register/asp/login.asp" id="login_form2" name="login_form2">
		<div class="ERS_login">
			<h3>2回目以降のご利用の方</h3>
			<h4><label for="email_pc">メールアドレス</label></h4>
			<p><input type="text" id="email_pc" class="" name="email" value="<%=.important_news.cookie_email %>" tabindex="1" /></p>
			<h4><label for="password1">パスワード</label></h4>
			<p><input type="password" id="password1" class="" name="passwd" tabindex="3" autocomplete="off" /></p>
			<p class="iconLogin"><input type="submit" value="ログイン" tabindex="4" class="btn login_btn" /></p>
			<input type="hidden" name="k_flg" value="1" />
			<p class="none"><a href="<%=.sec_url%>top/member/asp/passrim1.asp">パスワードを忘れた方はこちら</a></p>
		</div>
		<!-- login end -->
		</form>
	</div>
</ers:isEqual>

<!-- back start -->
	<div class="ERS_btn clearfix">
		<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="btn back">戻って買い物を続ける</a></p>
	</div>
<!-- back end -->


<ers:isNotEqual src=".Model.recommendItemCount" value="0" >
<!-- set item start -->
		<h2>おすすめ商品</h2>
		<div id="ERS_recommend" class="clearfix">
	<ers:foreach src=".Model.recommendItems" variable="item">
			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="image_2"><img src="<%=.sec_url%>images/simg/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" /></a></h3>
				<h3 class="title"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />"><%=item.gname%></a></h3>
				<div>
				<table>
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th>セール価格</th>
						<td><strike><ers:formatCurrency src="item.default_price"/>円</strike>→<ers:formatCurrency src="item.price"/>円<ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th>通常価格</th>
                        <td><ers:formatCurrency src="item.non_member_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            通常価格
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
			<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th>定期価格</th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期価格
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
				</table>
				<p><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.sec_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="btn detail_btn" >商品詳細を見る</a></h4>
			</div>
<ers:isEqual src="item.endline" value="True">
			<br class="release_b">
		</div>
		<div id="ERS_recommend">
</ers:isEqual>
</ers:foreach>
			<br class="release_b">
		</div>
<!-- set item end -->
</ers:isNotEqual>

		<!-- daily ranking start -->
		<ers:partial file="daily_ranking.htm" />
		<!-- daily ranking end -->
	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/cart.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
