<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ウィッシュリスト ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/wishlist.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;ウィッシュリスト</p>
			</div>
<!-- breadcrumb navigatione end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/member2.asp" name="entry_form">

<!-- title start -->
			<h2>ウィッシュリスト</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
	<article>
	<h3>削除ボタンで削除できます。</h3>
	<table class="wide_type">
		<tr>
			<th>商品画像</th>
			<th>商品名</th>
			<th class="price">販売価格</th>
			<th>商品詳細</th>
			<th>削除</th>
		</tr>
<ers:foreach src=".Model.listItem" variable="item" roopcounter="item_cnt">
		<tr>
			<td class="itemImgs">
				<img src="<%=.sec_url%>images/simg/S<%=item.scode%>_01.jpg?width=92" alt="<%=item.gname%>" class="img_for_list2" />
			</td>
			<td class="itemName">
                <b><%=item.sname%></b><br />
			    <ers:isNotEqual src="item.attribute1" value=""><span><%=item.attribute1%></span><ers:isNotEqual src="item.attribute2" value="">&nbsp;&nbsp;/&nbsp;&nbsp;</ers:isNotEqual></ers:isNotEqual>
			    <ers:isNotEqual src="item.attribute2" value=""><span><%=item.attribute2%></span></ers:isNotEqual>
            </td>
<ers:isEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
					<td class="priceList"><strike><ers:formatCurrency src="item.default_price" />円</strike>→<strong><ers:formatCurrency src="item.price" />円</strong></td>
</ers:isEqual>
<ers:isNotEqual src="item.onCampaign" value="true" comment="キャンペーン価格時に表示します">
					<td class="itemDetails"><strong><ers:formatCurrency src="item.price" />円</strong></td>
</ers:isNotEqual>
			<td class="w12p wishBtns"><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>" class="btn02 green_btn">詳細</a></td>
			<td class="w12p wishBtns"><a href="<%=.sec_url%>top/cart/asp/wishlist.asp?del_scode=<%=item.scode%>" class="btn02 gray_btn">削除</a></td>
		</tr>
</ers:foreach>
	</table>
	</article>
<!-- table end -->

	</form>
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="javascript:history.back();" class="btn center_btn">戻る</a></p>
			</div>
<!-- back end -->


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/wishlist.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

