﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="<%=.nor_url%>images/ivplogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Pcode List</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- Custom CSS -->
  

    <script>
        var RunCallbackFunction = function () { };


        var reco_number = null;

        function SetCode(obj)
        {
           
            var pcode = $(obj).attr("pcode");
            var pcode_desc = $(obj).attr("pcode_desc");
            var reco_number = window.opener.pcode_id_field;
            var proj_desc_field = window.opener.proj_desc_field;
            var row_index = window.opener.row_index;


            RunCallbackFunction(reco_number, pcode, pcode_desc,proj_desc_field,row_index);

            self.window.close();
        }

        function Close()
        {
            self.window.close();
        }

        function submit(formname)
        {
            $("#" + formname).submit();
        }
    </script>
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->


    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <hr>
    <div class="container">
        <h2>Project Code List</h2>
        <div class="col-lg-12">
            <div class="row"><h3>Available Project Codes</h3>
            </div>
            <div class="form-group">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="btn-success">
                            <th>PCODE</th>
                            <th>PCODE Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ers:table src=".Model.pcode_details" name="pcode_details" variable="pcodes" record_key="record_key"></ers:table>
                        <ers:foreach variable="pcodes" src=".Model.pcode_details" roopcounter="i">
                            <tr>
                                <td><%=pcodes.pcode%></td>
                                <td><%=pcodes.pcode_desc%></td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="id" value="<%=pcodes.id%>" />
                                        <input type="hidden" name="pcode" value="<%=pcodes.pcode%>" />
                                        <input type="hidden" id="pcode_id_child" value="" />
                                        <button class="btn btn-link btn-sm" formaction="<%=.sec_url%>top/report/asp/dreport_add.asp" onclick="SetCode(this);" pcode="<%=pcodes.pcode%>" pcode_desc="<%=pcodes.pcode_desc%>">Select</button>

                                    </form>
                                </td>
                            </tr>
                        </ers:foreach>
                    </tbody>
                </table>
            </div>
            <ers:partial file="pager.htm" partialModel=".Pager" />
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>

    <ers:partial file="footer.htm" />
</body>

</html>