﻿
<style>
    .pcode_desc {
     word-wrap:break-word;
     width:900px;
    }
</style>
<form method="post">

    <ers:table src=".Model.pcode_regist_details" name="pcode_regist_details" variable="pcodes" record_key="record_key"></ers:table>

    <ers:foreach variable="pcodes" src=".Model.pcode_regist_details" roopcounter="i">

   
    </ers:foreach>
    

</form>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Project Code Registration Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Custom CSS -->
  

</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr />
    <!-- Page Content -->
    <div class="container">
        <h3>Project Code Registration Confirm</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="pcode_table">
                        <thead>
                            <tr>
                                <th>PCODE</th>
                                <th>PCODE Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.pcode_details" name="pcode_details" variable="pcodes" record_key="record_key"></ers:table>
                            <ers:foreach variable="pcodes" src=".Model.pcode_details" roopcounter="i">
                                <tr>
                                    <td><%=pcodes.pcode%></td>
                                    <td><div class="pcode_desc"><%=pcodes.pcode_desc%></div></td>
                                </tr>
                            </ers:foreach>
                    </table>
                    <input type="submit" class="btn btn-info" value="Back" formaction="<%=.sec_url%>top/project/asp/pcode_regist.asp" />&nbsp;&nbsp;
                    <input type="submit" class="btn btn-success" value="Submit" formaction="<%=.sec_url%>top/project/asp/pcode_regist_complete.asp" />&nbsp;
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/project.js"></script>

    <ers:partial file="footer.htm" />
</body>
</html>