﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Project Code Delete Complete</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <ers:partial file="header.htm" />
    <hr>
    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h3>Project Code Delete</h3>
        <div class="col-lg-12">
            <br /><br />
            <div class="row">
                <form method="post" action="<%=.sec_url%>top/project/asp/pcode_list.asp">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-md-10 col-md-offset-1">
                                <center>
                                    <div class="panel-group">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">Message</div>
                                            <div class="panel-content">
                                                <br />
                                                <p>Project Code Successfully Deleted</p>
                                                <br />

                                                <input type="submit" value="Back to Project Code List" name="emp_regist" class="btn-sm btn-info" />

                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>

    <ers:partial file="footer.htm" />
</body>

</html>