﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Pcode List</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
   

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--[endif]-->
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />

    <hr>
    <div class="container">
        <h3>Project Code List</h3>
        <div class="col-lg-12">
            <ers:isNotEqual src=".Model.IsValid" value="true">
                <div class="panel panel-danger">
                    <div class="panel panel-heading">
                        <strong>Error</strong>
                    </div>
                    <div class="panel-body">
                        <ers:dispError />
                    </div>
                </div>
            </ers:isNotEqual>
            <ers:IsNotEqual src=".position" value="1">
                <ers:partial file="admin_sidebar.htm" />
            </ers:IsNotEqual>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-inline">
                            <form method="post" action="<%=.sec_url%>top/project/asp/pcode_list.asp">
                                <input type="text" name="s_pcode" class="form-control" placeholder="Search PCODE" value="<%=.Model.s_pcode%>">
                                <button type="submit" class="btn btn-info">Search</button>
                            </form>
                            <a href="<%=.nor_url%>top/project/asp/pcode_regist.asp"><input type="button" class="btn btn-success pull-right" value="Add new Project Code"></a>
                        </div>
                    </div>
                </div>
            </div>
            <Br><br>
            <div class="row">
            </div>
            <div class="form-group">
                <ers:isEqual src=".Model.controller.HasInformation" value="true">
                    <div class="panel panel-info">
                        <div class="panel panel-heading">
                            <strong>Information</strong>
                        </div>
                        <div class="panel-body">
                            <span class="text-info"><ers:dispInfo /></span>
                        </div>
                    </div>
                </ers:isEqual>
                <table class="table table-hover table-bordered">
                    <ers:isNotEqual src=".Model.recordCount" value="0">
                        <thead>
                            <tr class="btn-primary">
                                <th>PCODE</th>
                                <th>PCODE Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </ers:isNotEqual>
                        <tbody>
                            <ers:table src=".Model.pcode_details" name="pcode_details" variable="pcodes" record_key="record_key"></ers:table>
                            <ers:foreach variable="pcodes" src=".Model.pcode_details" roopcounter="i">
                                <tr>
                                    <td><%=pcodes.pcode%></td>
                                    <td><%=pcodes.pcode_desc%></td>
                                    <td>
                                        <form method="post">
                                            <input type="hidden" name="id" value="<%=pcodes.id%>" />
                                            <input type="hidden" name="pcode" value="<%=pcodes.pcode%>" />
                                            <input type="hidden" name="s_pcode" value="<%=.Model.s_pcode%>" />
                                            <ers:isEqual src="pcodes.deleteFlg" value="true">
                                                <button class="btn btn-link btn-sm" formaction="<%=.sec_url%>top/project/asp/pcode_delete.asp">Delete</button>
                                            </ers:isEqual>
                                            <ers:isNotEqual src="pcodes.deleteFlg" value="true">
                                                Pcode is in use.
                                            </ers:isNotEqual>
                                        </form>
                                    </td>
                                </tr>
                            </ers:foreach>
                        </tbody>
                </table>
            </div>
            <ers:partial file="pager.htm" partialModel=".Pager" />
        </div>
    </div>

    <ers:partial file="footer.htm" />
</body>
</html>