﻿

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Project Code Delete Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Custom CSS -->
   


</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr />
    <!-- Page Content -->
    <div class="container">
        <h3>Delete Project Code</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <div class="row">
                    </div>
                    <div class="alert alert-danger">
                        <strong>Are you sure you want to delete this PCODE?</strong>
                        <table class="table table-hover table-bordered" id="pcode_table">
                            <thead>
                                <tr>
                                    <th>PCODE</th>
                                    <th>PCODE Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%=.Model.pcode%></td>
                                    <td><%=.Model.pcode_desc%></td>
                                </tr>
                        </table>
                    </div>
                    <input type="hidden" name="pcode" value="<%=.Model.pcode%>" />
                    <input type="hidden" name="id" value="<%=.Model.id%>" />
                </div>
                <a href="<%=.sec_url%>top/project/asp/pcode_list.asp"><input type="button" value="Back to List" class="btn btn-info"> </a>&nbsp;
                <input type="submit" value="Delete PCODE" formaction="<%=.sec_url%>top/project/asp/pcode_delete_complete.asp" class="btn btn-danger" />&nbsp;
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/project.js"></script>
    <ers:partial file="footer.htm" />
</body>
</html>