﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Pcode Registration</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <hr />
    <!-- Page Content -->
    <div class="container">
        <h3>Add new Project Code</h3>
        <div class="col-lg-12">
            <form method="post">
                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">
                                <ers:dispError />
                            </div>
                        </div>
                    </ers:isNotEqual>
                    <div class="row"></div>
                    <table class="table table-hover table-bordered" id="pcode_table">
                        <thead>
                            <tr>
                                <th>PCODE</th>
                                <th>PCODE Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.pcode_details" name="pcode_details" variable="pcodes" record_key="record_key">
                                <tr>
                                    <td>
                                        <input type="text" name="<%=record_key%>pcode" value="<%=pcodes.pcode%>" />
                                    </td>

                                    <td>
                                        <input type="text" name="<%=record_key%>pcode_desc" value="<%=pcodes.pcode_desc%>" size="100" />
                                    </td>
                                    <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                </tr>

                            </ers:table>
                            <ers:isEqual src=".Model.noRecord_flg" value="true">
                                <tr>
                                    <td><input type="text" id="pcode" onfocusout="OnclickOut(this,0)" /></td>
                                    <td><input type="text" id="pcode_desc" onfocusout="OnclickOut(this,1)" size="100" /></td>
                                    <td><input type='button' class='btn btnl-info btn-sm' value='Delete' name='deleteBtn' onclick='return DeleteRow(this)' /></td>
                                </tr>
                            </ers:isEqual>
                    </table>
                    <input type="button" class="btn btn-info btn-sm" value="Add Fields" id="addField" />&nbsp; *Register up to 10 PCodes only.
                </div>
                <a href="<%=.sec_url%>top/project/asp/pcode_list.asp"><input type="button" class="btn btn-danger" value="Back to List"> </a>&nbsp;
                <input type="submit" value="Submit" class="btn btn-success" formaction="<%=.sec_url%>top/project/asp/pcode_regist_confirm.asp" />&nbsp;
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/project.js"></script>

    <ers:partial file="footer.htm" />
</body>
</html>