﻿						<input type="radio" id="triggar1" name="<%=partialModel.record_key%>value" value="カタログを見た" <ers:isEqual src="partialModel.value" value="カタログを見た"> checked="checked"</ers:isEqual>>
		<label for="triggar1">カタログを見た</label><br />
						<input type="radio" id="triggar2" name="<%=partialModel.record_key%>value" value="インターネットで検索" <ers:isEqual src="partialModel.value" value="インターネットで検索"> checked="checked"</ers:isEqual>>
		<label for="triggar2">インターネットで検索</label><br />
						<input type="radio" id="triggar3" name="<%=partialModel.record_key%>value" value="友人の紹介" <ers:isEqual src="partialModel.value" value="友人の紹介"> checked="checked"</ers:isEqual>>
		<label for="triggar3">友人の紹介</label><br />
						<input type="radio" id="triggar4" name="<%=partialModel.record_key%>value" value="他サイトからのリンク" <ers:isEqual src="partialModel.value" value="他サイトからのリンク"> checked="checked"</ers:isEqual>>
		<label for="triggar4">他サイトからのリンク</label><br />
						<input type="radio" id="triggar5" name="<%=partialModel.record_key%>value" value="その他" <ers:isEqual src="partialModel.value" value="その他"> checked="checked" </ers:isEqual>>
		<label for="triggar5">その他</label><br />
        <input type="radio" name="<%=partialModel.record_key%>value"value="" <ers:isEqual src="partialModel.value" value=""> checked="checked" </ers:isEqual> style="display:none;" />