/* ERS_flow
 ---------------------------------------------------------------- */
	#ERS_flow{
		width:610px;
		margin:0 0 20px 0;
	}

	#ERS_flow li{
		float:left;
	}

	#ERS_flow li img{
		vertical-align:bottom;
	}


/* ERS_title
 ---------------------------------------------------------------- */
	#ERS_title{
		width:610px;
        }


/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table{
		margin:0 0 20px 0;
		width:610px;
	}

	.ERS_table h3{
		margin:20px 0 5px 0;
		text-align:left;
		font-size:1em;
		font-weight:normal;
	}

	.ERS_table table{
		border-top:1px solid #747474;
		border-bottom:1px solid #747474;
	}

	.ERS_table capiton{
		text-align:left;
	}

	.ERS_table table tr th{
		padding:8px 12px 8px 12px;
		background:url(../images/dot01.gif) 0 bottom repeat-x #eeede7;
		text-align:left;
		color:#ad3d37;
	}

	.ERS_table table tr th.end{
		background-image:none;
	}

	.ERS_table .ERS_IVP_caution{/*エラーからの返り値*/
		color:#fff;
		background:url(../images/dot01.gif) 0 bottom repeat-x #ad3d37;
	}

	.ERS_table table tr td{
		padding:5px 12px 5px 12px;
		background:url(../images/dot01.gif) 0 bottom repeat-x #fff;
		line-height:1.4;
	}

	.ERS_table table tr td.end{
		background:none #fff;
        }

	.ERS_table table.length tr th{
		width:156px;
		line-height:1.2;
        }

	.ERS_table table.length tr td{
		width:406px;
	}

	.ERS_table table.side tr th{
		border-bottom:1px solid #747474;
		background:none #eeede7;
	}

	.ERS_table table.side tr td{
		border-top:none;
        }

	.ERS_table table.side tr .center{
		padding-left:0;
		text-align:center;
        }

	.ERS_table table tr td iframe{
		width:380px;
		height:200px;
		border:1px solid #ccc;
        }


/* ERS_amount
 ---------------------------------------------------------------- */
	.ERS_amount{
		margin:20px 0 0 0;
		width:610px;
        }

	.ERS_amount table{
	}

	.ERS_amount table tr th{
		line-height:2em;
		border-bottom:1px solid #747474;
		background-color:#eeede7;
		color:#ad3d37;
        }

	.ERS_amount table tr th.col_1{
		width:310px;
	}

	.ERS_amount table tr th.col_2{
		width:80px;
	}

	.ERS_amount table tr th.col_3{
		width:60px;
	}

	.ERS_amount table tr th.col_4{
		width:80px;
	}

	.ERS_amount table tr th.col_5{
		width:80px;
	}

	.ERS_amount table tr td{
		padding:5px 0 5px 0;
		line-height:1.2;
		text-align:center;
		background:url(../images/dot01.gif) 0 bottom repeat-x;
        }

	.ERS_amount table tr td.sname{
		font-weight:bold;
		text-align:left;
	}

	.ERS_amount table tr td.sname span{
		font-size:0.95em;
		font-weight:normal;
	}


/* ERS_total
 ---------------------------------------------------------------- */
	.ERS_total{
		width:610px;
	}

	* html .ERS_total{
		margin:-1px 0 0 0;
	}

	*+html .ERS_total{
		margin:-1px 0 0 0;
	}

	.ERS_total table{
		border-top:1px solid #747474;
	}

	.ERS_total table tr th{
		width:530px;
		text-align:right;
		line-height:2em;
		color:#ad3d37;
		background:url(../images/dot01.gif) 0 bottom repeat-x;
	}

	.ERS_total table tr td{
		width:80px;
		text-align:right;
		line-height:2em;
		color:#ad3d37;
		background:url(../images/dot01.gif) 0 bottom repeat-x;
        }

	.ERS_total table tr td button{
		background:none;
		border:none;
	}

	.ERS_total table tr th.none,
	.ERS_total table tr td.none{
		background:none;
	}

	.ERS_total table tr th.end,
	.ERS_total table tr td.end{
		border-top:1px solid #747474;
		background:none;
	}


/* ERS_recommend
 ---------------------------------------------------------------- */
	#ERS_recommend{
		margin:0 0 20px 0;
		width:610px;
	}

	#ERS_recommend h3{
		margin:0 0 10px 0;
	}

	#ERS_recommend p.tip{
		border:3px solid #ccc;
		position:absolute;
		top:0;
		left:0;
		padding:5px 5px 5px 5px;
		background-color:#fff;
		display:none;
	}

	#ERS_recommend .ERS_recommend_list{
		margin:0 5px 0 15px;
		width:100px;
		float:left;
		display:inline;
	}

	#ERS_recommend .ERS_recommend_list h3 a img{
		padding:3px 3px 3px 3px;
		vertical-align:bottom;
		border:1px solid #c3c3c3;
	}

	#ERS_recommend .ERS_recommend_list h2{
		margin:0 0 10px 0;
		font-size:1em;
	}

	#ERS_recommend .ERS_recommend_list ul li{
		margin:0 0 5px 0;
	}


/* ERS_box
 ---------------------------------------------------------------- */
	#ERS_box{
		margin:20px 0 20px 0;
		padding:15px 12px 15px 12px;
		width:586px;
		background-color:#eeede7;
	}

	#ERS_box h3{
		margin:0 0 10px 0;
		font-size:1em;
	}

	#ERS_box p{
		line-height:1.3;
	}


/* ERS_page_send
 ---------------------------------------------------------------- */
	.ERS_page_send{
		margin:0 0 15px 0;
		width:610px;
		text-align:center;
	}

	.ERS_page_send form{
		display:inline;
	}

	.ERS_page_send form input{
		vertical-align:middle;
		width:16px;
		padding:1px 0 0 1px;
		margin:0 2px 0 0;
		background:#eeede7;
		color:#787878;
		font-weight:bold;
		border:none;
		cursor:pointer;
		text-align:center;
	}
	
	/* .ERS_page_send form input{
		background:none;
		border:none;
		cursor:pointer;
	}*/
	
	.ERS_page_send form input.place{
		color:#bf6f69;
		cursor:default;
	}
	
	/*.ERS_page_send input.place{
		background:none;
		border:none;
		cursor:pointer;
	}
	*/
	
	* html .ERS_page_send form input.place{
		margin:0 6px 0 0;
	}

	*+html .ERS_page_send form input.place{
		margin:0 6px 0 0;
	}
	
	.ERS_page_send form input.next,
	.ERS_page_send form input.back {
		padding: 0;
		width: auto;
	}

/* ERS_back
 ---------------------------------------------------------------- */
	div.ERS_back{
		margin:0 0 15px 0;
                float:left;
	}

	div.ERS_back p{
		padding:0 0 0 10px;
		background:url(../images/arrow03.gif) 0 40% no-repeat;
		text-align:left;
        }

	div.ERS_back p.none{
		padding:0 0 0 0;
		width:305px;
		background:none;
                text-align:center;
	}

	div.ERS_back p input{
		cursor:pointer;
	}


/* ERS_next
 ---------------------------------------------------------------- */
	div.ERS_next{
		margin:0 0 15px 0;
            float:right;
	}

	div.ERS_next p{
		padding:0 10px 0 0;
		text-align:right;
	}

	div.ERS_next p.center{
		padding:0 0 0 0;
		width:610px;
		text-align:center;
	}

	div.ERS_next p.none{
		padding:0 0 0 0;
		width:305px;
		background:none;
		text-align:center;
	}

	div.ERS_next p input{
		cursor:pointer;
	}


/* ERS_ssl_alert
 ---------------------------------------------------------------- */
	#ERS_ssl_alert{
		margin:0 0 10px 0;
		width:610px;
		text-align:center;
	}


/* ERS_page_top
 ---------------------------------------------------------------- */
	div.ERS_page_top{
		margin:0 0 15px 0;
		float:right;
	}

	div.ERS_page_top p{
		padding:0 0 0 15px;
		background:url(../images/arrow04.gif) 0 80% no-repeat;
		text-align:right;
	}


/* ERS_agent
 ---------------------------------------------------------------- */
	div.ERS_agent{
		margin:0 0 15px 0;
		padding:10px 10px 10px 10px;
		width:526px;
		text-align:left;
		border:2px solid #000090;
	}

	div.ERS_agent p{
		color:#000090;
		font-weight:bold;
		line-height:1.5;
	}


/* ERS_noscript
 ---------------------------------------------------------------- */
	div.ERS_noscript{
		margin:0 0 15px 0;
		padding:10px 10px 10px 10px;
		width:526px;
		text-align:left;
		border:2px solid #d00000;
	}

	div.ERS_noscript p{
		color:#d00000;
		font-weight:bold;
		line-height:1.5;
	}


/* redirect page
 ---------------------------------------------------------------- */
	#ERS_redirect{
		height:100%;
		margin:0 0 0 15px;
		padding:0 0 0 0;
	}

	#ERS_redirect p{
		text-align:center;
		padding:0 0 20px 0;
	}

	#ERS_redirect p img{
		padding:50px 0 0 0;
	}


	#ERS_redirect p a{
		font-weight:bold;
		color:#0000d0;
	}


/* ERS_input_error(同一画面でのエラー表示用)
 ---------------------------------------------------------------- */
	.ERS_input_error{
		margin:10px 0 15px 0;
		padding:10px 10px 10px 10px;
		text-align:left;
		border:2px solid #d00000;
	}

	.ERS_input_error h3{
		width:161px;
		float:left;
	}

	.ERS_input_error p{
		width:429px;
	}

	.ERS_input_error p span{
		margin:0px 0 0 0;
		padding:0 0 0 12px;
		display:block;
		color:#d00000;
		line-height:1.5;
	}

	div.ERS_noscript{
	}

/* ime
 ---------------------------------------------------------------- */
	.ime_active{
		ime-mode: active;
	}
	.ime_inactive{
		ime-mode: inactive;
	}
	.ime_disabled{
		ime-mode: disabled;
	}

/* information
 ---------------------------------------------------------------- */
	.ERS_information{
		margin:0 0 15px 0;
		padding:2px 10px 2px 10px;
		border:2px solid #000;
		color:#000;
	}

	.ERS_information p{
		line-height:1.5;
	}