﻿/* Common */
*{
	word-break:break-word;
}

body 
{
	font-size: 12px;
	margin: 0px;
	color: #333333;
}

th, td
{
	color: #333333;
}

h2
{
	margin-bottom:15px;
	border-bottom:2px solid #EEEEEE;
	border-left:10px solid #EEEEEE;
	color: #333333;
	font-size: 1.8em;
	letter-spacing: 0.1em;
	line-height: 1;
	padding: 6px 0 4px 5px;
	text-shadow: 1px 1px 0 #CCCCCC;
}

h3
{
	margin-bottom: 4px;
	background-color: #EEEEEE;
	color: #333333;
	font-size: 1.4em;
	letter-spacing: 0.1em;
	line-height: 1;
	padding: 6px 0 4px 10px;
	text-shadow: 1px 1px 0 #CCCCCC;
	padding-left: 10px;
/*
	background-image: url("../Images/h3top.gif");
	background-repeat:no-repeat;
	background-position: left top;
	border-bottom: 1px solid #cccccc;
*/
}

input[type=text],input[type=password],select{
	border:1px solid #bbb;
}

input[type=text],input[type=password]{
	padding:2px 0 2px 2px;
}

input[type=radio],input[type=checkbox]{
	vertical-align:-2px;
}

a.submit, a.submit:link, a.submit:visited, input[type="button"], input[type="submit"], input[type="reset"], span.submit
{
	margin:5px 1px 5px 1px;
	padding:2px 5px 2px 5px;
	border:1px solid #ccf;
	cursor: pointer;
	color:#333;
	letter-spacing:0.1em;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	position: relative;
	display: inline-block;
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#F3F3FF),color-stop(5%,#F3F3FF),color-stop(100%,#E0E0FF));
	background-image: -webkit-linear-gradient(#F3F3FF,#F3F3FF 5%,#E0E0FF);
	background-image: -moz-linear-gradient(#F3F3FF,#F3F3FF 5%,#E0E0FF);
	background-image: -o-linear-gradient(#F3F3FF,#F3F3FF 5%,#E0E0FF);
	background-image: linear-gradient(#F3F3FF,#F3F3FF 5%,#E0E0FF);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
/*
	color: #000000;
	text-decoration: none;
	border: 1px solid #ccccff;
	background-color: #f3f3ff;
	padding: 2px 8px 2px 8px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
*/
}

a.submit:hover, a.submit:active, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, span.submit:hover
{
/*
	color: #000000;
	text-decoration: none;
	border: 1px solid #9999ff;
	background-color: #e0e0ff;
	padding: 2px 8px 2px 8px;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	cursor: pointer;
*/
	background-color: #F3F3FF;
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#F3F3FF),color-stop(100%,#F3F3FF));
	background-image: -webkit-linear-gradient(#F3F3FF,#F3F3FF);
	background-image: -moz-linear-gradient(#F3F3FF,#F3F3FF);
	background-image: -o-linear-gradient(#F3F3FF,#F3F3FF);
	background-image: linear-gradient(#F3F3FF,#F3F3FF);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);opacity: 0.95;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border:1px solid #ccf;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;

}

a.submit, a.submit:link, a.submit:visited,a.submit:hover, a.submit:active
{
	line-height:1.3;
}

.InputAlert
{
	color: #ff0000;
}

.Watermark
{
	background-color: #eeeeff;
}

.CursorHand
{
	cursor: pointer;
}

.CollapsibleControl
{
	cursor: pointer;
}

.textLeft
{
	text-align: left;
}

.textCenter
{
	text-align: center;
}

.textRight
{
	text-align: right;
}

.grayBack
{
    background-color: #cccccc !important;
}

/* CommonUse */
.Subject
{
	font-weight: bold;
}

.SuperVisorName
{
	color: #ff3300;
}

.OperatorName
{
	color: #6666ff;
}

.DateTime
{
	font-size: smaller;
}

table.Menu
{
	margin: 0px auto;
	border-collapse: collapse;
}

table.Menu>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 12px;
}

table.Menu>tbody>tr>th a
{
	color: #555;
	/*color: #ffffff;*/
	text-decoration: none;
}

table.Menu>tbody>tr>th a:hover
{
	color: #555;
	/*color: #ffffff;*/
	text-decoration: underline;
}

table.Menu>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 12px;
}

table.Search
{
	margin: 0px auto;
	border-collapse: collapse;
	/*width: 100%;*/
}

table.Search>tbody>tr>th
{
    border: 1px solid #CCC;
	background-color: #EFEFEF;
	color: #555;
	padding: 12px;
}

table.Search>tbody>tr>td
{
    border: 1px solid #CCC;
	background: none;
	padding: 12px;
}

table.Search>tbody>tr>td.Button
{
	border: none;
	text-align: center;
}

table.Search>tbody>tr>td.Button input[type=submit]
{
	width: 180px;
	height: 26px;
}

table.SearchResult
{
	border-collapse: collapse;
}

table.SearchResult>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 9px;
}

table.SearchResult>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 3px;
}

table.SearchResult>tbody>tr>td.Button
{
	border: none;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

table.SearchResult>tbody>tr>td.Button input[type=submit]
{
	width: 180px;
	height: 26px;
}

table.SearchResult>tbody>tr>td.search_list_btn a
{
	margin:0 1px 0 1px;
}

table.Regist
{
	/*margin: 0px auto;*/
	border-collapse: collapse;
}

table.Regist>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 12px;
}

table.Regist>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 12px;
}

table.Regist>tbody>tr>td.Button
{
	border: none;
	text-align: center;
}

table.Regist>tbody>tr>td.Button input[type=submit],  table.Regist>tbody>tr>td.Button input[type=reset]
{
	width: 180px;
	height: 26px;
}

table.Detail
{
	margin: 0px auto;
	border-collapse: collapse;
}

table.Detail>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 4px;
}

table.Detail>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 4px;
}




/* Frame */
html,body
{
	height: 100%;
}
body>form
{
	height: 100%;
}

#Whole
{
	height: 100%;
}

table#FrameType1
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

table#FrameType1 td#HeadZone
{
	height:82px;
	background-color:#222;
	border-bottom: 1px solid #cccccc;
	padding:0;
}

table#FrameType1 td#FootZone
{
	background-color:#222;
	padding:10px 0 10px 0;
}

table#FrameType1 td#MiddleZone
{
}

table#FrameType1>tbody>tr>td
{
	padding: 5px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}


table#FrameTypePopup
{
	height: 100%;
	width: 100%;
	border-collapse: collapse;
}

table#FrameTypePopup td#HeadZone
{
}

table#FrameTypePopup td#FootZone
{
	height: 20px;
	border-top: 1px solid #cccccc;
}

table#FrameTypePopup td#MiddleZone
{
}

table#FrameTypePopup>tbody>tr>td
{
}

input.form_btn.__delete,input.form_btn.__modify {
    width:70px;
}
.ERS_page_send
{
	margin:5px 0 15px 0;
	/*width:610px;*/
	width: 100%;
	text-align:center;
}

.ERS_page_send form{
	display:inline;
}
	
/*
.ERS_page_send form input{
	vertical-align:middle;
	width:16px;
	padding:1px 0 0 1px;
	margin:0 2px 0 0;
	background:#eeede7;
	color:#787878;
	font-weight:bold;
	border:none;
	cursor:pointer;
	text-align:center;
}
*/
	
 .ERS_page_send form input{
/*	margin: 5px 0px 5px 0px;
	vertical-align:middle;
	background:none;
	border:none;
	cursor:pointer;
*/
}
	
.ERS_page_send form input.place{
	margin: 5px 0px 5px 0px;
	background: none repeat scroll 0 0 transparent;
	color: #333333;
	cursor:default;
}
	
/*.ERS_page_send input.place{
	background:none;
	border:none;
	cursor:pointer;
}
*/
	
* html .ERS_page_send form input.place{
	margin:0 6px 0 0;
}

*+html .ERS_page_send form input.place{
	margin:0 6px 0 0;
}
	
.ERS_page_send form input.next,
.ERS_page_send form input.back {
	width: auto;
}
	
.ERS_page_send form input.back {
	padding:0 4px 0 0;
}
	
.ERS_page_send form input.next {
	padding:0 0 0 4px;
}

.Paging
{
	text-align: right;
	margin: 5px 0px 20px 0px;
	font-weight: bold;
}

.Paging a
{
	background-color: #eeeeee;
	padding: 3px 5px;
	margin-left: 5px;
}

.SearchButton
{
/*
	background-image: url("../Images/search20.gif");
	background-repeat: no-repeat;
	background-position: 5px bottom;
	padding-left: 30px;
*/
}


/* Dialog to display unread information */
#confirm 
{
    display:none;
}

#confirm-overlay 
{
    background-color:#eee; cursor:wait;
}

#confirm-container 
{
    height:140px; 
    width:250px; 
    font: 16px/22px 'Trebuchet MS', Verdana, Arial; 
    text-align:center; 
    background:#fff; 
    border:1px solid #DADBDB;
}

#confirm-container .message 
{
    color:#333; 
    font-size:14px; 
    margin:0; 
    padding:35px 4px 12px 8px;
}

#confirm-container .buttons 
{
    line-height:16px; 
    width:140px; 
    float:right; 
    padding:20px 10px 0;
}
 
#confirm-container .buttons div 
{
    color: black; 
    text-decoration: none; 
    border: 1px solid #99F; 
    background-color: #E0E0FF; 
    padding: 2px 2px 2px 8px; 
    -moz-border-radius: 11px; 
    -khtml-border-radius: 11px; 
    -webkit-border-radius: 11px; 
    border-radius: 11px; 
    cursor: pointer; 
    width:50px;
}


/* float 自動クリア
............................................................... */
.clearfix{
	_height: 1px;
	min-height: 1px;
	/*￥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.clearfix:after{
	content:"";
	clear:both;
	height:0;
	display:block;
	visibility:hidden;
}

.mr0 {
	margin:0 !important;
}
