﻿.Direction table,
.Search table.Search,
table.Regist{
	margin:0 auto 0 0;
}
#Whole #MiddleZone{
	padding: 5px 25px 5px 25px;
}

.SearchResult .MemberDetail table.Detail, .SearchResult table.SearchResult {
	margin: 0 0 0 0;
}