/* ERS_search
 ---------------------------------------------------------------- */
	#ERS_search{
		width:610px;
	}

	#ERS_search p{
		text-align:right;
	}


/* ERS_result_list
 ---------------------------------------------------------------- */
	.ERS_result_list{
		margin:20px 0 20px 0;
		padding:0 0 20px 0;
		width:610px;
		background:url(../images/dot02.gif) 0 bottom repeat-x;
	}

	.ERS_result_list .result_item{
		margin:0 5px 0 15px;
		width:100px;
		float:left;
		display:inline;
	}

	.ERS_result_list .result_item h3 a img{
		margin:0 0 10px 0;
	}

	.ERS_result_list .result_item h3 a img{
		padding:3px 3px 3px 3px;
		vertical-align:bottom;
		border:1px solid #c3c3c3;
	}

	.ERS_result_list .result_item h2{/* グループネーム */
		margin:0 0 5px 0;
		font-size:1em;
		line-height:1.3;
	}

	.ERS_result_list .result_item p{/* 商品説明 */
		margin:0 0 10px 0;
	}

	.ERS_result_list .result_item ul li{/* 商品説明 */
		margin:0 0 5px 0;
	}

	.ERS_result_list .result_item ul li span{
		color:#f00;
	}
