﻿#OrderForm
{
	width:940px;
}

#Order
{
	width: 100%;
	height: 100%;
}

#Order table.OrderLayout
{
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	padding: 0;
	margin: 0;
}

#Order table.OrderLayout td.ProductLayout
{
	width: 300px;
	height: 100%;
}

#Order table.OrderLayout td.CartLayout
{
	height: 150px;
	border-bottom: 1px solid #333333;
}

#Order table.OrderLayout td.MainLayout
{
}

#Order table.OrderLayout td.ProductLayout>div,
#Order table.OrderLayout td.CartLayout>div,
#Order table.OrderLayout td.MainLayout>div
{
	width: 100%;
	height: 100%;
	overflow: auto;
}

/* Product */
#ORder .Product h3
{
	width: 300px;
}

#Order .Product table.Search>tbody>tr>th,
#Order .Product table.Search>tbody>tr>td
{
	padding: 3px;
}

#Order .Product .ProductListPanel
{
	margin-top: 15px;
}

#Order .Product table.SearchResult>tbody>tr>th
{
	padding: 2px;
	margin: 0;
	border: none;
	font-weight: normal;
	text-align: left;
	background: none;
	color: #333333;
	width: 70px;
	vertical-align: top;
}

#Order .Product table.SearchResult>tbody>tr>td
{
	padding: 2px;
	margin: 0;
	border: none;
	vertical-align:top;
}

#Order .Product table.SearchResult>tbody>tr.ProductName>td
{
	font-weight: bold;
}

#Order .Product table.SearchResult>tbody>tr.SalesPrice>td
{
	font-weight: bold;
	color: #ff0000;
}

#Order .Product table.SearchResult>tbody>tr.RepeatItemBottom
{
	border-bottom: 1px solid #cccccc;
}

#Order .Product table.SearchResult>tbody>tr.CartIn input[type=submit].AddCart
{
	float: right;
/*	background-image: url("../Images/Cart20.gif");
	background-repeat: no-repeat;
	background-position: 5px bottom;
	padding-left: 30px;
*/
}

/* Cart */
.Cart .Header
{
    /*height: 50px;*/
}

.Cart .List
{
    width: 100%; 
    overflow:auto; 
/*
    position:absolute; 
    top:50px; 
    bottom:0px; 
*/
    margin:auto;
}

.Cart .CartTop
{
	background-color: #e0e0ff;
	padding:3px 5px 3px 5px;
}

.Cart .CartTop .CartTitle
{
	float: left;
	font-weight: bold;
}

.Cart .CartTop .CartTotal
{
	text-align: right;
	font-weight: bold;
	padding:6px 5px 0 0;
	font-size:1.2em;
}

.Cart .CartList
{
    
}

.Cart table
{
	width: 100%;
	margin: 0px auto;
	border-collapse: collapse;
	clear: both;
}

.Cart table .FixedRow
{
    background-color: #CCDDFF;
}

.Cart table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 3px;
}

.Cart table>tbody>tr>td
{
	background: none;
	border-bottom: 1px solid #CCC;
	padding:3px 3px 3px 3px;
}

/* RegistOrder */
#Order .RegistOrder
{
	padding-left: 15px !important;
}

#Order .RegistOrder h3
{
	width: 100%;
}

#Order .FixedDetail h3
{
	width: 750px;
}

#Memo
{
	width: 300px;
	margin-left: 40px;
	float: left;
}

#Memo h3
{
	width: 240px;
}

.RegistOrder .DeliveryDetail table,
.RegistOrder .MemberDetail table,
.RegistOrder .SettlementDetail table,
.RegistOrder .DeliveryDetail table,
.RegistOrder .CouponDetail table,
.RegistOrder .FixedDetail table
{
	margin: 0;
}

.RegistOrder table th,
.RegistOrder table td
{
	padding: 5px !important;
}

.MemberDetail table.Detail,
.SettlementDetail table.Detail,
.CouponDetail table.Detail,
.RegistOrder .DeliveryDetail table.Detail
{
	width: 100%;
}


/* MemberDetail固有
-------------------------------------*/

.MemberDetail table.Detail td.name,
.MemberDetail table.Detail td.address
{
	line-height:1.9;
}
.MemberDetail table.Detail td.address span
{
	display:inline-block;
	width:8em;
	text-align:right;
	padding:0 3px 0 0;
}
.MemberDetail #tel,
.MemberDetail #fax,
.MemberDetail #mcode,
.MemberDetail #email,
.MemberDetail #ccode,
.MemberDetail #campaign_id,
.MemberDetail #d_no
{
	width:90%;
}

.MemberDetail #lname,
.MemberDetail #fname,
.MemberDetail #lnamek,
.MemberDetail #fnamek
{
	width:80%;
}
.MemberDetail #address,
.MemberDetail #taddress,
.MemberDetail #maddress,
.MemberDetail #add_address,
.MemberDetail #add_taddress,
.MemberDetail #add_maddress
{
	width:77%;
}
.MemberDetail #lname,
.MemberDetail #fname,
.MemberDetail #lnamek
{
	margin:0 0 0 3px;
}
.MemberDetail #fnamek
{
	margin:0 0 0 5px;
}

.MemberDetail #zip1
{
	width:50px;
}

.MemberDetail #zip2
{
	width:60px;
}

.MemberDetail #pref
{
	width:100px;
}
.MemberDetail .Button input
{
	margin:5px 0 0 0;
}

/* RegitedOrder
------------------------------------- */

.RegitedOrder
{
	margin: 30px auto;
	width: 550px;
	height: 200px;
	text-align: center;
	background-color: #eeeeee;
}

.RegitedOrder strong
{
	font-size: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	display: block;
}

table.PaymentTable
{
	border-collapse: collapse;
	width: 550px;
}

table.PaymentTable tr
{
	border-bottom: 1px dotted #666666;
}

table.PaymentTable th,
table.PaymentTable td
{
	text-align: right;
}

.FixedDetail table.Detail table
{
	border-collapse: collapse;
}

.FixedDetail table.Detail table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 1px;
}

.FixedDetail table.Detail table>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 1px;
}

.FixedDetail table.Detail table>tbody>tr>td.reflection 
{
	background-color:#cef;
}

.FixedDetail .Paging
{
	width: 750px;
	margin-top: 0;
	margin-bottom: 5px;
}

.FixedDetail table.SearchResult
{
	width: 750px;
}



#OrderSplitter 
{
	/*border-top: 1px solid #ccc;*/
	/*min-width: 370px;	*/
	min-height: 200px;	
	height: 100%;
}
#OrderSplitter .Pane 
{
	overflow: auto;
	background: #fff;
}

#OrderSplitter .ProductSearch 
{
    
}

#OrderSplitter .ProductListForCommSearch 
{
	z-index: 100;
	background-color: #FFFFFF;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

#OrderSplitter .ProductList
{
    border-top: 1px solid #ccc;
    width: 99.5%; 
    overflow:auto; 
    position:absolute; 
    top:190px; 
    bottom:0px; 
    margin:auto;
}

#OrderSplitter .ProductListCommSearch
{
    border-top: 1px solid #ccc;
    width: 99.5%; 
    overflow:auto; 
	padding-top:195px;
    margin:auto;
}

/* Splitbar styles; these are the default class names */

.vsplitbar {
	width: 4px;
	background: #ccc url('../images/vgrabber.gif') no-repeat center;
}
.vsplitbar:hover, .vsplitbar.active {
	background: #EFEFEF url('../images/vgrabber.gif') no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.hsplitbar {
	height: 4px;
	background: #ccc url('../images/hgrabber.gif') no-repeat center;
}
.hsplitbar.active, .hsplitbar:hover {
	background: #ccc url('../images/hgrabber.gif') no-repeat center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* IE */
}
.centering {
    width: 900px;
    margin: 0px auto;
}