body 
{
	/*padding:2px;*/
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* root element for tabs  */
ul.tabs  
{
	list-style:none; 
	margin:0 !important; 
	padding:0;	
	height:22px;
/*	border-bottom: solid 1px #999;*/
}

/* single tab */
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:0 !important;
	padding-right:1px; 
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs a
{
    border: solid 1px;
    border-bottom: none;
}

ul.tabs a, ul.tabs input {
	border-radius: 6px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: verdana,tahoma,helvetica;
	font-size:11px;
	display:block;
	height: 22px;  
	line-height:20px;
	width: 100px;
	text-align:center;	
	text-decoration:none;
	padding:0px;
	margin:0px;	
	position:relative;
	top:1px;
	border-color: #999;
	/*background:url("../images/tabBtn2.png") no-repeat;*/
}

ul.tabs a 
{
    width: 120px;
    height: 20px;
}

ul.tabs a:active {
	/*outline:none;		*/
    
}

/* when mouse enters the tab move the background image */
ul.tabs a:hover, ul.tabs input:hover  
{
    border-radius: 6px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	/*background:url("../images/tabBtn1.png") no-repeat;*/
    color:Blue;
    border-top: 2px solid #ffc73c;
}

ul.tabs a:hover  
{
    height: 19px;
}

/* active tab uses a class name "current". its highlight is also done by moving the background image. */
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a, ul.tabs input.current {
	/*background:url("../images/tabBtn.png") no-repeat;*/
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom:1px solid #ffffff;
    border-top: 3px solid #ffc73c;
    background-color: #ffffff;
}

/* tab pane styling */
.panes {
	/*display: none;		*/
	/*border:1px solid #999;*/
	border-top: 0;
	height: 100%;
	font-size:14px;
	background-color: White; /*:#F4F6F7;*/
	width:750px;
	border:solid 1px #999;
	padding: 3px;
}

.panes table>tbody>tr>th 
{
background-color: #EFEFEF;
border: 1px solid #CCC;
color: #555;
padding: 0px;
font-family: verdana,tahoma,helvetica;
font-size: 10pt;
}