﻿/* ServiceHeader */
.ServiceHeader
{
/*	width: 1000px;
	height: 45px;
*/
	clear: both;
}

.ServiceHeader .ServiceHeaderLogo
{
	margin-bottom: 5px;
}

.ServiceHeader .ServiceHeaderLogo img
{
	margin:1px 0 0 10px;
}

.ServiceHeader .Menu
{
	background-color:#2472A4;
}

.ServiceHeader .Menu a
{
	display: block;
	float: left;
	color: #fff;
	text-align:center;
	padding:10px 10px 10px 34px;
	font-weight: bold;
	font-size:1.1em;
	letter-spacing: 0.1em;
	text-decoration:none;
}
#HeadZone .ServiceHeader .Menu a:hover
{
	background-color:#3990C9;
}

.ServiceHeader .LoginUser
{
	position:absolute;
	top:9px;
	left:200px;
	color:#fff;
}

.ServiceHeader .Menu a.TopPage
{
	background: url("../images/icon/home.png") no-repeat 3px 5px;
}

.ServiceHeader .Menu a.Search
{
	background: url("../images/icon/zoom.png") no-repeat 3px 5px;
}

.ServiceHeader .Menu a.Order
{
	background: url("../images/icon/shopping_basket.png") no-repeat 3px 6px;
}

.ServiceHeader .Menu a.FixedOrder
{
	background: url("../images/icon/regular_cart.png") no-repeat 2px 7px;
}

.ServiceHeader .Menu a.Escalation
{
	background: url("../images/icon/telephone.png") no-repeat 5px 5px;
}

.ServiceHeader .Menu a.Direction
{
	background: url("../images/icon/documents.png") no-repeat 3px 5px;
}

.ServiceHeader .Menu a.Report
{
	background: url("../images/icon/chart.png") no-repeat 3px 6px;
}

.ServiceHeader .Menu a.Information
{
	background: url("../images/icon/info.png") no-repeat 6px 6px;
}

.ServiceHeader .Menu a.Operator
{
	background: url("../images/icon/operator.png") no-repeat 2px 2px;
}

.ServiceHeader .Menu a.Configuration
{
	background: url("../images/icon/settings.png") no-repeat 5px 6px;
}

.ServiceHeader .Menu a.Logout
{
	background: url("../images/icon/lock_open.png") no-repeat 5px 2px;
}

.ServiceHeader .CheckCaution
{

}

.ServiceHeader .CheckCaution .submit
{
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#E74C3C),color-stop(5%,#E74C3C),color-stop(100%,#2b3c4e));
	background-image: -webkit-linear-gradient(#E74C3C,#E74C3C 5%,#E74C3C);
	background-image: -moz-linear-gradient(#E74C3C,#E74C3C 5%,#E74C3C);
	background-image: -o-linear-gradient(#E74C3C,#E74C3C 5%,#E74C3C);
	background-image: linear-gradient(#E74C3C,#E74C3C 5%,#E74C3C);
	border: 2px solid #D62C1A;
	font-weight:bold;
}

.ServiceHeader .CheckCaution .submit:hover
{
	background-color: #2980b9;
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#D62C1A),color-stop(100%,#D62C1A));
	background-image: -webkit-linear-gradient(#D62C1A,#D62C1A);
	background-image: -moz-linear-gradient(#D62C1A,#D62C1A);
	background-image: -o-linear-gradient(#D62C1A,#D62C1A);
	background-image: linear-gradient(#D62C1A,#D62C1A);
	border-color: #D62C1A;
}


/* ServiceFooter */
.ServiceFooter
{
	text-rendering: optimizelegibility;
	line-height: 1;
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;
	font-size: 1em;
	letter-spacing: 0.1em;
}

/* Login */
.Login
{
}

.Login .LoginPanel
{
}

.Login .LoginPanel table
{
	margin: 20px auto;
	width: 500px;
	border-collapse: collapse;
}

.Login .LoginPanel table>tbody>tr>th
{
	background-color: #EFEFEF;
	border: 1px solid #CCC;
	color: #555;
	padding: 12px;
}

.Login .LoginPanel table>tbody>tr>td
{
	background: none;
	border: 1px solid #CCC;
	padding: 12px;
}

.Login .LoginPanel table>tbody>tr>td.Button
{
	border: none;
	text-align: center;
}

.Login .LoginPanel table>tbody>tr>td.Button input[type=submit]
{
	width: 180px;
	height: 26px;
}

.Login .LoginPanel table.Loading>tbody>tr>td
{
	background: none;
	border: none;
}


/* Information */
.Information
{
}

.Information .InformationItem
{
	font-size: 15px;
	width: 600px;
	border: 1px solid #cccccc;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 30px;
}

.Information .InformationItem .ItemHead
{
	padding: 5px;
	border-bottom: 1px solid #cccccc;
	background-color: #efefef;
}

.Information .InformationItem .ItemBody
{
	padding: 8px;
}

.Information .InformationItem .ItemFoot
{
}

/* ManageOperator */
.ManageOperator
{
}

/* Report */
.Report
{
}

.ReportTopMenu
{
	width: 550px;
}

.ReportTopMenu th
{
	width: 200px;
}


/* OrderTab */
.ajaxTabHeader
{
	width: 120px;
	height: 17px;
	line-height: 17px;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	font-weight: bold;
}

/* Search */
.Search
{
}

.Search table.Search
{
	margin: 0 0 0 30px;
	width: 900px;
}

.Search table.Search>tbody>tr>th,
.Search table.Search>tbody>tr>td
{
	padding: 5px;
}

.SearchResult
{
	clear: both;
	padding-top: 15px;
}

.SearchResult h3
{
}

.SearchResult .List .Paging
{
	width: 900px;
	margin-top: 0;
	margin-bottom: 5px;
}

.SearchResult .MemberDetail table.Detail,
.SearchResult table.SearchResult
{
	margin: 0 0 0 10px;
	width: 900px;
}

.SearchResult .MemberDetail table.Detail .DetailHead
{
	background-color: #e0e0ff;
	color: #333333;
}

/* ManageInboundStatus */
.OutlineToday
{
	width: 450px;
	float: left;
}

.OutlineAll
{
	margin-left: 50px;
	width: 450px;
	float: left;
}

.FloatClear
{
	clear: both;
}