﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>IVP ERSv7 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/calendar.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/detail.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/cms.css" />
	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.dynamic_url%>js/html5shiv.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
		<script src="<%=.dynamic_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>">お知らせ一覧</a>＞&nbsp;<%=.Model.title%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
		        <h2><%=.Model.title%></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- detail start -->
		<div id="ERS_detail">
            <!-- detail_caption start -->
            <div class="detail_caption">
            <p>
                <span class="date">
                    <ers:formatDate src=".Model.posted_date" value="yyyy/MM/dd" />
                </span>
            </p>
            <p><%=.Model.title %></p>
            </div>
            <!-- detail_caption end -->

            <!-- main_content start-->
            <div class="main_content">

<ers:isEqual src=".Model.template_code" value="1">
                <!-- templateA start -->
    <ers:partial file="../cms/templates/templateA.htm" />
                <!-- templateA end -->
</ers:isEqual>

<ers:isEqual src=".Model.template_code" value="2">
                <!-- templateB start -->
    <ers:partial file="../cms/templates/templateB.htm" />
                <!-- templateB end -->
</ers:isEqual>

<ers:isEqual src=".Model.template_code" value="3">
                <!-- templateC start -->
    <ers:partial file="../cms/templates/templateC.htm" />
                <!-- templateC end -->
</ers:isEqual>

<ers:isEqual src=".Model.template_code" value="4">
                <!-- templateD start -->
    <ers:partial file="../cms/templates/templateD.htm" />
                <!-- templateD end -->
</ers:isEqual>

<ers:isEqual src=".Model.template_code" value="5">
                <!-- templateE start -->
    <ers:partial file="../cms/templates/templateE.htm" />
                <!-- templateE end -->
</ers:isEqual>

<ers:isEqual src=".Model.template_code" value="6">
                <!-- templateF start -->
    <ers:partial file="../cms/templates/templateF.htm" />
                <!-- templateF end -->
</ers:isEqual>

            </div>
            <!-- main_content end-->

            <!-- link start -->
<ers:isNotEqual src=".Model.linkListCount" variable="0">
            <div class="link">
                <img src="<%=.dynamic_url%>images/link_caption.jpg" alt="関連リンク" />
                <ul class="link_list">
    <ers:foreach src=".Model.linkList" variable="linkList" roopcounter="listcnt">
                        <li><a href="<%=linkList.link %>"><%=linkList.linkString %></a></li>
    </ers:foreach>
                </ul>
            </div>
</ers:isNotEqual>
            <!-- link end -->

            <!-- file start -->
<ers:isNotEqual src=".Model.fileListCount" variable="0">
            <div class="file">
                <img src="<%=.dynamic_url%>images/file_caption.jpg" alt="関連ファイル" />
                <ul class="file_list">
    <ers:foreach src=".Model.fileList" variable="fileList" roopcounter="listcnt">
                        <li><a href="<%=.pc_dynamic_url%>images/cms/news/<%=fileList.file %>"><%=fileList.fileString %></a></li>
    </ers:foreach>
                </ul>
            </div>
</ers:isNotEqual>
            <!-- file end -->

            <div class="back_btn">
                <a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>&pageCnt=<%=.Model.pageCnt %>">
                    <img src="<%=.dynamic_url%>images/back_btn.jpg" alt="一覧へ戻る" class="btn_hover" />
                </a>
            </div>

	    </div>
<!-- detail end -->
        <br class="release_b" />
	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/detail.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- sidemenu start -->
<ers:partial file="hint/detail.htm" />
<!-- sidemenu end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
