﻿<ers:isEqual src="partialModel.onInitialize" value="true">
    <script type="text/javascript">
        $(function () {
            var today = new Date();
            var from_date = computeMonth(today.getFullYear(), today.getMonth() + 1, 1, -6);
            var from_date_value = "" + from_date.getFullYear() + "/" + ("0" + (from_date.getMonth() + 1)).slice(-2) + "/01 00:00:00";

            var to_date_day = getMonthEndDay(today.getFullYear(), today.getMonth() + 1);
            var to_date_value = "" + today.getFullYear() + "/" + ("0" + (today.getMonth() + 1)).slice(-2) + "/" + ("0" + to_date_day).slice(-2) + " 23:59:59";
            
            $("#<%=partialModel.group_code%>" + "<%=partialModel.column_name%>".replace(".", "\\.") + "value_from").val(from_date_value);
            $("#<%=partialModel.group_code%>" + "<%=partialModel.column_name%>".replace(".", "\\.") + "value_to").val(to_date_value);
        });
    </script>
</ers:isEqual>
			<tr>
				<th><%=partialModel.item_name%></th>
				<td>
					<input type="text" id="<%=partialModel.group_code%><%=partialModel.column_name%>value_from" class="datepicker_start w_150" name="<%=partialModel.record_key %>value_from" value="<%=partialModel.value_from %>" />&nbsp;～&nbsp;<input type="text"  class="datepicker_end w_150" id="<%=partialModel.group_code%><%=partialModel.column_name%>value_to" name="<%=partialModel.record_key %>value_to" value="<%=partialModel.value_to %>" />
                </td>
			</tr>
