﻿			<tr>
				<th><%=partialModel.item_name%></th>
				<td>
					<input type="text" id="<%=partialModel.group_code%><%=partialModel.column_name%>value" class="w_150" name="<%=partialModel.record_key %>value" value="<%=partialModel.value %>" />
                </td>
			</tr>
