﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Registration</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">

    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <ers:partial file="header.htm"/>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Employee Registration</h1>
        <div class="col-lg-12 well">
                <ers:isNotEqual src=".Model.IsValid" value="true">
                    <div class="row">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">

                                <ers:dispError />


                            </div>
                        </div>
                    </div>
                </ers:isNotEqual>

                <form method="post" action="<%=.sec_url%>top/register/asp/emp_regist_confirm.asp" onsubmit="setDate()">
                    <div class="col-sm-12">

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Employee No. 
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="" class="form-control" name="emp_no" value="<%=.Model.emp_no%>" />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>
                                    Desknet ID.
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="" class="form-control" name="desknet_id" value="<%=.Model.desknet_id%>" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    First Name
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="" class="form-control" name="fname" value="<%=.Model.fname%>" />
                            </div>
                            <div class="col-sm-4 form-group">
                                <label>
                                    Last Name
                                </label>
                                <label class="required">*</label>
                                <input type="text" placeholder="" class="form-control" name="lname" value="<%=.Model.lname%>" />
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Email Address
                                </label>
                                <label class="required">*</label>
                                <input type="text" class="form-control" name="email" value="<%=.Model.email%>" />
                            </div>

                            <div class="col-sm-4 form-group">
                                <label>
                                    Email Address Confirm
                                </label>
                                <label class="required">*</label>
                                <input type="text" class="form-control" name="email_confirm" value="<%=.Model.email_confirm%>" />
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>
                                    Position
                                </label>
                                <label class="required">*</label>

                                <select name="position" id="sel1" class="form-control">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.pos_list">
                                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.position"> selected="selected"</ers:isEqual> > <%=option.name%></option>
                                    </ers:foreach>
                                </select>

                            </div>

                            <div class="col-sm-4 form-group">
                                <label>
                                    Team
                                </label>
                                <label class="required">*</label>

                                <select name="team" id="sel1" class="form-control">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.team_list">
                                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.team"> selected="selected"</ers:isEqual> > <%=option.name%></option>
                                    </ers:foreach>
                                </select>

                            </div>

                        </div>

                        <br /><br />

                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <input type="submit" value="Confirm" name="emp_regist" class="btn btn-info" />
                            </div>
                        </div>

                    </div>

                </form>

        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
   
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>