﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Employee Registration Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <ers:partial file="header.htm" />

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h1>Confirm Employee Registration</h1>
        <div class="col-lg-12 well">
            <div class="row">

                <form method="post">
                    <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>
                                        First Name
                                    </label>
                                    <p>
                                        <%=.Model.emp_no%>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 form-group">
                                    <label>
                                        First Name
                                    </label>
                                    <p>
                                        <%=.Model.fname%>
                                    </p>
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>
                                        Last Name
                                    </label>
                                    <p>
                                        <%=.Model.lname%>
                                    </p>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-sm-4 form-group">
                                    <label>
                                        Email
                                    </label>

                                    <p>
                                        <%=.Model.email%>
                                    </p>

                                </div>

                                <div class="col-sm-4 form-group">
                                    <label>
                                        Password
                                    </label>

                                    <p>
                                        <%=.Model.password%>
                                    </p>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-sm-4 form-group">
                                    <label>
                                        Position
                                    </label>

                                    <p>
                                        <%=.Model.w_pos%>
                                    </p>

                                </div>

                                <div class="col-sm-4 form-group">
                                    <label>
                                        Team
                                    </label>

                                    <p>
                                        <%=.Model.w_team%>
                                    </p>

                                </div>

                            </div>


                        </div>
                    <input type="submit" value="Return" name="return" class="btn btn-info" formaction="<%=.sec_url%>top/register/asp/emp_regist.asp" />
                    <input type="submit" value="Register" name="emp_regist" class="btn btn-info"  formaction="<%=.sec_url%>top/register/asp/emp_regist_complete.asp"/>
                   
                </form>
            </div>




        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>