﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="merge.mergeConfirm.title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>

<body>
<form  action="<%=.sec_url%>merge/mergeconfirm" name="merge" id="merge" method="post">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameTypePopup">
        <tr valign="top">
            <td id="MiddleZone">
            <div class="Merge">
<h3><ers:message code="merge.mergeConfirm.title"/></h3>

<table>
	<tr>
		<th class="w_110"><ers:message code="merge.mergeConfirm.mcode1"/></th>
		<td class="w_110">
            <input name="old_mcode" type="text" id="old_mcode" maxlength="10" size="8" value="<%=.Model.old_mcode%>" /><ers:message code="merge.mergeConfirm.case_no_wo" />
		</td>
		<th class="w_110"><ers:message code="merge.mergeConfirm.mcode2"/></th>
		<td>
            <input name="new_mcode" type="text" id="new_mcode" maxlength="10" size="8" value="<%=.Model.new_mcode%>" />
			<ers:message code="merge.mergeConfirm.Newmcode2"/>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="Button">
            <input type="submit" name="next_member" value="<ers:label code='common_next'/>" />
            <input type="reset" value="<ers:label code='common_reset'/>" />
		</td>
	</tr>
</table>

<div style="margin-bottom:20px;color:#ff0000;">
	<ers:message code="merge.mergeIndex.Msg"/>
</div>

<h3><ers:message code="merge.mergeConfirm.nameIdentificationInquCase"/></h3>

<table>
	<tr>
		<th class="w_110"><ers:label code="case_no"/></th>
		<td class="w_110">
            <input name="case_no" type="text" id="case_no" maxlength="10" size="8" value="<%=.Model.case_no%>" /> <ers:message code="merge.mergeConfirm.case_no_wo"/>
		</td>
		<th class="w_110"><ers:label code="mcode"/></th>
		<td>
            <input name="case_mcode" type="text" id="case_mcode" maxlength="10" size="8" value="<%=.Model.case_mcode%>" />
			<ers:message code="merge.mergeConfirm.case_mcode"/>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="Button">
            <input type="submit" name="next_case" value="<ers:label code='common_next'/>" />
            <input type="reset" value="<ers:label code='common_reset'/>" />
		</td>
	</tr>
</table>            </div>
            </td>
	    </tr>
        <tr>
		    <td id="FootZone" style="margin-top:10px;text-align:center;">
                <input type="submit" value="<ers:message code='cts_NonReadAgent_close_btn'/>" class="submit" onclick="parent.window.close();" />
            </td>
	    </tr>
    </table>

</form>

<div id="confirm"></div>

</body>

</html>
