﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="merge.mergeConfirm.title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>

<body>
<form  action="<%=.sec_url%>merge/mergecomplete" name="merge" id="merge" method="post">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameTypePopup">
        <tr valign="top">
            <td id="MiddleZone">
            <div class="Merge">
<ers:isEqual src=".Model.next_member" value="true"  />
<div ID="View_ConfirmMergeMember">
	<h3><ers:message code="merge.mergeConfirm.title"/></h3>

    <input type="hidden" name="old_mcode" value="<%=.Model.old_mcode%>" />
    <input type="hidden" name="new_mcode" value="<%=.Model.new_mcode%>" />

	<table>
		<tr>
			<th class="w_110"><ers:message code="merge.mergeConfirm.mcode1"/></th>
			<td class="w_110">
                <%=.Model.old_mcode%> を
			</td>
			<th class="w_110"><ers:message code="merge.mergeConfirm.mcode2"/></th>
			<td>
                <%=.Model.new_mcode%>
				<ers:message code="merge.mergeConfirm.Newmcode2"/>
			</td>
		</tr>
		<tr>
			<td colspan="4" class="Button">
                <input type="submit" id="final_member" name="final_member" value="<ers:message code='merge.mergeConfirm.confirm'/>" />
                <input type="submit" name="return_member" value="<ers:label code='common_back'/>" onclick="document.merge.action = '<%=.sec_url%>merge'" />
			</td>
           <!-- <script type="text/javascript">
                alert("<%=.sec_url%>merge/confirm?mcode1=<%=.Model.mcode1%>&mcode2=<%=.Model.mcode2%>&final_member=true");
                $("#final_member").click(function (e) {
                    $("#confirm").load("<%=.sec_url%>merge/confirm?mcode1=<%=.Model.mcode1%>&mcode2=<%=.Model.mcode2%>&final_member=true");
                });
            </script>-->
		</tr>
	</table>
        
	<table class="Reference">
		<tr>
			<th class="w_110"><ers:message code="merge.mergeConfirm.mcode1"/></th>
			<td class="w_110"><%=.Model.old_mcode%></td>
			<th class="w_110"><ers:message code="merge.mergeConfirm.name"/></th>
			<td><%=.Model.old_lname%> <%=.Model.old_fname%></td>
		</tr>
		<tr>
			<th><ers:label code="common_address"/></th>
			<td colspan="3"><%=.Model.old_address%></td>
		</tr>
		<tr>
			<th><ers:label code="e_mail"/></th>
			<td colspan="3"><%=.Model.old_email%></td>
		</tr>
	</table>

	<table class="Reference">
		<tr>
			<th class="w_110"><ers:message code="merge.mergeConfirm.mcode2"/></th>
			<td class="w_110"><%=.Model.new_mcode%></td>
			<th class="w_110"><ers:message code="merge.mergeConfirm.name"/></th>
			<td><%=.Model.new_lname%> <%=.Model.new_fname%></td>
		</tr>
		<tr>
			<th><ers:label code="common_address"/></th>
			<td colspan="3"><%=.Model.new_address%></td>
		</tr>
		<tr>
			<th><ers:message code="e_mail"/></th>
			<td colspan="3"><%=.Model.new_email%></td>
		</tr>
	</table>
</div>
</ers:isEqual>

<ers:isEqual src=".Model.next_case" value="true"  />
<div ID="View_ConfirmMergeCase">
	<h3><ers:message code="merge.mergeConfirm.nameIdentificationInquCase"/></h3>

    <input type="hidden" name="case_mcode" value="<%=.Model.case_mcode%>" />
    <input type="hidden" name="case_no" value="<%=.Model.case_no%>" />
	
    <table>
		<tr>
			<th class="w_110"><ers:label code="case_no"/></th>
			<td class="w_110">
                <%=.Model.case_no%> <ers:message code="merge.mergeConfirm.case_no_wo"/>
			</td>
			<th class="w_110"><ers:label code="mcode"/></th>
			<td>
				<%=.Model.case_mcode%>
				<ers:message code="merge.mergeConfirm.case_mcode" />
			</td>
		</tr>
		<tr>
			<td colspan="4" class="Button">
                <input type="submit" id="final_case" name="final_case" value="<ers:message code='merge.mergeConfirm.confirm'/>" />
                <input type="submit" name="return_case" value="<ers:label code='common_back' />" onclick="document.merge.action = '<%=.sec_url%>merge'" />
			</td>
            <script type="text/javascript">

                $("#final_case").click(function (e) {

                    $("#confirm").load("<%=.sec_url%>merge/confirm?mcode3=<%=.Model.mcode3%>&case_no=<%=.Model.case_no%>&final_case=true");
                });
            </script>
		</tr>
	</table>

	<table class="Reference">
		<tr>
			<th class="w_110"><ers:label code="case_no"/></th>
			<td class="w_110"><%=.Model.case_no%></td>
			<th class="w_110"><ers:label code="enq_casename"/></th>
			<td>
                <ers:isEqual src=".Model.enq_type" value="1"  /> 
                    <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" /><%=.Model.enq_casename%>
                </ers:isEqual>
                <ers:isEqual src=".Model.enq_type" value="2"  /> 
                    <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" /><%=.Model.enq_casename%>
                </ers:isEqual>
                <ers:isEqual src=".Model.enq_type" value="3"  /> 
                    <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" /><%=.Model.enq_casename%>
                </ers:isEqual>
            </td>
		</tr>
		<tr>
			<th><ers:message code="merge.mergeConfirm.intime"/></th>
			<td><%=.Model.intime%></td>
			<th><ers:message code="merge.mergeConfirm.utime"/></th>
			<td><%=.Model.utime%></td>
		</tr>
	</table>

	<table class="Reference">
		<tr>
			<th class="w_110"><ers:label code="mcode"/></th>
			<td class="w_110"><%=.Model.case_mcode%></td>
			<th class="w_110"><ers:message code="merge.mergeConfirm.name"/></th>
			<td><%=.Model.old_lname%> <%=.Model.old_fname%></td>
		</tr>
		<tr>
			<th><ers:label code="common_address"/></th>
			<td colspan="3"><%=.Model.old_address%></td>
		</tr>
		<tr>
			<th><ers:label code="e_mail"/></th>
			<td colspan="3"><%=.Model.old_email%></td>
		</tr>
	</table>
</div>
</ers:isEqual>            </div>
            </td>
	    </tr>
        <tr>
		    <td id="FootZone" style="margin-top:10px;text-align:center;">
                <input type="submit" value="<ers:message code='cts_NonReadAgent_close_btn'/>" class="submit" onclick="parent.window.close();" />
            </td>
	    </tr>
    </table>

</form>

<div id="confirm"></div>

</body>

</html>
