<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ショッピングカート ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
	<div id="ERS_container">
		<br/>
		<h2 style="margin:0 0 9px 0; padding:0 0 0 0; font-size:1.25em;">お買い上げ商品のご確認</h2>

		<font color="red"><ers:dispError /></font>

		<hr size="1" color="#ca5015">
		<div id="item">

        <ers:isEqual src=".Model.existBasketItem" value="false">
            ｶｰﾄに商品は入っていません。
        </ers:isEqual>

		<form method="post" action="cart.asp" id="entry_form" name="entry_form">
			<ers:isNotEqual src=".Model.basketItemCount" value="0" />
			<ers:partial file="basket_ordinary.htm" partialModel=".Model" />
			</ers:isNotEqual>

			<ers:isNotEqual src=".Model.regularBasketItemCount" value="0" />
			<hr size="1" color="#c9c9c9">
			<ers:partial file="basket_regular.htm" partialModel=".Model" />
			</ers:isNotEqual>
        </form>

		</div><!-- item -->
		<hr size="1" color="#cccccc">

		<div id="login" style="margin:0 0 9px 0; padding:0 0 9px 0;">
<ers:isEqual src=".Model.existBasketItem" value="true" >
			<h4 style="margin:0 0 6px 0; padding:0 0 0 0; " align="left">お買物手続きへお進みになるお客様は、以下のいずれかにお進みください。</h4>

			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form2">
				<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■初めてご注文される方</td></tr></table>
				<p style="margin:0 0 0 0; padding:0 0 0 0; " align="left"><input type="submit" name="first" id="first" value="初めての方"></p>
				<input type="hidden" name="k_flg" value="2" />
			</form>

<!-- login start -->
		<form method="post" action="<%=.sec_url%>top/register/asp/login.asp" id="login_form" name="login_form">
			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■2回目以降のご利用の方</td></tr></table>
			<table width="100%"  align="left" cellspacing="0" cellpadding="2">
				<tr>
					<th style="margin:0 0 0 0; padding:0 0 0 0;">●ﾒｰﾙｱﾄﾞﾚｽ(半角英数)</th>
				</tr>
				<tr>
					<td><input type="text" size="40" name="email" id="email_pc" value="<%=.Model.email%>" ></td>
				</tr>
				<tr>
					<th style="margin:0 0 0 0; padding:3px 0 0 0;">●ﾊﾟｽﾜｰﾄﾞ(半角英数6〜10桁)</th>
				</tr>
				<tr>
					<td><input type="text" size="20" name="passwd" id="password1" value=""  ></td>
				</tr>
				<tr>
					<th style="margin:0 0 0 0; padding:3px 0 0 0;"><input type="submit" value="ﾛｸﾞｲﾝして注文する"></th>
				</tr>
			</table>
			<input type="hidden" name="k_flg" value="1" />
			</form>
<!-- login end -->

			<p style="margin:0 0 3px 0; padding:0 0 0 0; " align="left"><a href="<%=.sec_url%>top/member/asp/passrim1.asp" style=""><font color="#ca5015">ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら</font></a></p>
</ers:isEqual>

			<p style="margin:0 0 0 0; padding:0 0 0 0; " align="left"><a href="<%=.nor_url%>top/search/asp/list.asp" style=""><font color="#ca5015">戻って買い物を続ける</font></a></p>
		</div><!-- login -->


	</div>
<!-- contents end -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
