<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>ウィッシュリスト ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/wishlist.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="<%=.sec_url%>top/news/asp/rss1.xml" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

</head>
<body><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- globalnavi start -->
<ers:partial file="globalnavi_ssl.htm" />
<!-- globalnavi end -->


<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">
	<form method="post" action="<%=.sec_url%>top/member/asp/member2.asp" name="entry_form">

<!-- title start -->
		<div id="ERS_title">
			<h2><img src="<%=.sec_url%>images/wishlist_title01.gif" alt="ウィッシュリスト" /></h2>
		</div>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
	<div class="ERS_table">
	<h3>削除ボタンで削除できます。</h3>
	<table class="side" cellspacing="0" cellpadding="2">
		<tr>
			<th width="78px">商品画像</th>
			<th width="244px">商品名</th>
			<th width="55px">販売価格</th>
			<th width="55px">商品詳細</th>
			<th width="40px">削除</th>
		</tr>
<ers:foreach src=".Model.listItem" variable="item">
		<tr>
			<td>
				<img src="<%=.sec_url%>images/simg/<%=item.scode%>_01.jpg?width=92" alt="<%=item.gname%>" class="img_for_list2" />
			</td>
			<td>
                <b><%=item.sname%></b><br />
			    <ers:isNotEqual src="item.attribute1" value=""><span><%=item.attribute1%></span><ers:isNotEqual src="item.attribute2" value="">&nbsp;&nbsp;/&nbsp;&nbsp;</ers:isNotEqual></ers:isNotEqual>
			    <ers:isNotEqual src="item.attribute2" value=""><span><%=item.attribute2%></span></ers:isNotEqual>
            </td>
<ers:isEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
					<td><strike><ers:formatCurrency src="item.default_price" /></strike>→<strong><ers:formatCurrency src="item.price" /></strong></td>
</ers:isEqual>
<ers:isNotEqual src="item.onCampaign" value="true" comment="キャンペーン価格時に表示します">
					<td><strong><ers:formatCurrency src="item.price" /></strong></td>
</ers:isNotEqual>
			<td><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>"><img src="<%=.sec_url%>images/btn_s_detail_off.gif" alt="詳細" /></a></td>
			<td><a href="<%=.nor_url%>top/cart/asp/wishlist.asp?del_scode=<%=item.scode%>"><img src="<%=.sec_url%>images/btn_s_del_off.gif" alt="削除" class="change" /></a></td>
		</tr>
</ers:foreach>
	</table>
	</div>
<!-- table end -->

	</form>

<!-- back start -->
		<div class="ERS_back">
			<p><a href="javascript:history.back();"><img src="<%=.sec_url%>images/btn_back.gif" alt="戻る" /></a></p>
		</div>
<!-- back end -->

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/btn_page-top.gif" alt="ページのトップへ" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/wishlist.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- sidemenu start -->
<ers:partial file="hint/wishlist.htm" />
<!-- sidemenu end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>

