﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="cts.information.Title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <!--script type="text/javascript" src="<%=.sec_url%>js/common.js"></script-->
</head>
<body>

<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <!-- main content start -->
                <div class="ManageInformation">
        
                    <h2><ers:message code="cts.information.Title"/></h2>

                    <ers:dispError />
					<div class="centering">
                    <!-- page_send start -->
                    <ers:partial file="pager.htm" partialModel=".Pager" />
                    <!-- page_send end -->
                    
	                    <table class="SearchResult" style="width:900px;" >
	                        <tr>
			                    <th>No</th>
				                <th class="w_150"><ers:label code="Subject" /></th>
				                <th class="w_300"><ers:label code="email_body" /></th>
				                <th class="w_100"><ers:message code="cts_information_contributor"/></th>
				                <th class="w_150"><ers:message code="cts_information_date_time"/></th>
				                <th class="w_100"><ers:label code="manage" /></th>
		                    </tr>
	                        <ers:foreach src=".Model.informationList" variable="record">
				                <tr>
	                                <td><%=record.id%></td>
	                                <td class="w_150"><%=record.title%></td>
	                                <td class="w_300"><ers:nonencode src="record.contents" /></td>
	                                <td class="w_100"><span class="SuperVisorName"><%=record.ag_name%></span></td>
					                <td class="w_150"><ers:formatDate src="record.utime" value="yyyy/MM/dd HH:mm:ss" /></td>
	                                <td class="w_100">
	                                    <form method="post" action="<%=.sec_url%>information">
	                                        <nobr>
	                                            <input type="hidden" name="id" value="<%=record.id%>" />
	                                            <input type="submit" class="form_btn" name="modify" value="<ers:label code="common_edit" />" />
	                                            <input type="submit" class="form_btn" name="delete" value="<ers:label code="common_delete" />" onclick="return confirm('<ers:message code='common.DelConfirmMsg'/>');" />
                                            <input type="button" class="form_btn" id="unreadlist" value="<ers:label code="common_list" />" onclick="javascript:window.open('<%=.sec_url%>top/information/asp/unreadlist.asp?id=<%=record.id%>', window, 'status=yes,width=1024px,height=468px,scrollbars=yes,resizable=yes'); return false;" />
	                                        </nobr>
	                                        <script type="text/javascript">
	                                            
	                                        </script>
	                                    </form>
	                                </td>
				                </tr>
	                        </ers:foreach>
	                    </table>
    				</div>
                    <h3>
                        <ers:isEqual src=".Model.modify" value="true" />
		                   <ers:message code="cts.information.edit.Title"/>
                        </ers:isEqual>
                        <ers:isNotEqual src=".Model.modify" value="true" />
		                    <ers:message code="cts.information.regist.Title"/>
                        </ers:isNotEqual>
                    </h3>
                    
                    <form method="post" action="<%=.sec_url%>information">
                        <table class="Regist" style="margin: 0 auto;">
		                    <tr>
			                    <th><ers:label code="title" /></th>
			                    <td>
				                    <input name="title" type="text" value="<%=.Model.title%>" />
			                    </td>
		                    </tr>
		                    <tr>
			                    <th><ers:label code="email_body" /></th>
			                    <td>
                                    <textarea id="contents" name="contents" rows="10" cols="60"><%=.Model.contents%></textarea>
			                    </td>
		                    </tr>
		                    <tr>
			                    <td colspan="2" class="Button">
                                    <ers:isEqual src=".Model.modify" value="true" />
                                        <input type="hidden" name="id" value="<%=.Model.id%>" />
                                    </ers:isEqual>
                                    <input type="hidden" name="agent_id" value="<%=.Model.agent_id%>" />
                                    <input type="hidden" name="ag_name" value="<%=.Model.ag_name%>" />
                                    <nobr>
				                        <ers:isEqual src=".Model.modify" value="true" />
                                            <input type="hidden" name="done" value="1">
                                            <input type="submit" class="form_btn" name="modify" value="<ers:label code='common_modify' />" onclick="return confirm('<ers:message code='cts.information.ModifyMsg'/>');" />
                                            <ers:isNotEqual src=".Model.cancel" value="true" />
                                                <input type="submit" class="form_btn" name="cancel" value="<ers:label code='common_cancel' />" />
                                            </ers:isEqual>
                                        </ers:isEqual>
                                        <ers:isNotEqual src=".Model.modify" value="true" />
                                            <input type="hidden" name="done" value="1">
                                        <input type="submit" class="form_btn" name="regist" value="<ers:label code='common_register' />" onclick="return confirm('<ers:message code='common.RegisterMsg1'/>');" />
                                        </ers:isNotEqual>
                                    </nobr>
			                    </td>
		                    </tr>
	                    </table>
                    </form>
                    </div>
                <!-- main content end -->

            </td>
        </tr>
	    <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>


</body>
</html>

