﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="cts.NonReadAgent.Title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>

<body>
    <div id="Whole">
        <table align="center" cellpadding="0" cellspacing="0" id="FrameTypePopup">
            <tr valign="top">
		        <td id="MiddleZone">
			        <div class="FaqTemplate">
		                <div class="Search">
                            <h3><ers:message code="cts.NonReadAgent.Title"/></h3>

                             <table>
                                <tr>
				                    <th><ers:label code="agent_id" /></th>
				                    <th><ers:label code="ag_name" /></th>
	                            </tr>
                                <ers:foreach src=".Model.unreadList" variable="record">
			                        <tr>
                                        <td><%=record.user_id%></td>
                                        <td><%=record.ag_name%></td>
			                        </tr>
                                </ers:foreach>
		                    </table>
		                </div>

		                <div class="Search">
                            <h3><ers:message code="cts.NonReadAgent.subscribed" /></h3>

                             <table>
                                <tr>
				                    <th><ers:label code="agent_id" /></th>
				                    <th><ers:label code="ag_name" /></th>
	                            </tr>
                                <ers:foreach src=".Model.readList" variable="record">
			                        <tr>
                                        <td><%=record.user_id%></td>
                                        <td><%=record.ag_name%></td>
			                        </tr>
                                </ers:foreach>
		                    </table>
		                </div>
                    </div> 
		        </td>
	        </tr>
            <tr>
		        <td id="FootZone" style="margin-top:10px;text-align:center;">
                    <input type="submit" value="<ers:message code='cts_NonReadAgent_close_btn' />" class="submit" onclick="parent.window.close();" />
                </td>
	        </tr>
        </table>
    </div>
 </body>

</html>
