@charset "UTF-8";
.ui-datepicker-trigger{
	width:23px;
	margin:0 10px 0 10px;
	padding:0 0 0 0;
}
#contents .table_box dd input,
#contents .table_box dd button{
	vertical-align:middle;
}
#contents .table_box dd{
	padding:6px 0 6px 5px;
}
#contents .table_box dd .next{
	width:15%;
	display:inline;
	padding:6px 0 6px 0;
}
@media only screen and (max-width: 640px) {
	#contents .table_box dd .next{
		width:30%;
		margin:5px auto 0 auto;
		display:block;
	}
}
