@charset "UTF-8";

/* ERS_detail
=======================================================*/
#contents #ERS_detail h3{
	margin:0 0 0 0;
	padding:0 0 10px 0;
	font-size:1.0em;
}
#contents #ERS_detail h3 span{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:0.8em;
	font-weight:normal;
	display:block;
}
#contents #main_content{
	margin:0 0 0 0;
	padding:0 0 10px 0;
}
#contents .link{
	margin:0 0 0 0;
	padding:0 0 10px 0;
}
#contents .link ul{
	margin:0 0 0 0;
	padding:5px 0 0 0;
}
#contents .link ul li{
	margin:0 0 0 0;
	padding:0 0 3px 0;
	font-size:1.0em;
}
#contents .file{
	margin:0 0 0 0;
	padding:0 0 10px 0;
}
#contents .file ul{
	margin:0 0 0 0;
	padding:5px 0 0 0;
}
#contents .file ul li{
	margin:0 0 0 0;
	padding:0 0 3px 0;
	font-size:1.0em;
}
#contents .typeA,
#contents .typeB,
#contents .typeC,
#contents .typeD,
#contents .typeE{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:block;
}
#contents .typeA img,
#contents .typeB img,
#contents .typeC img,
#contents .typeD img,
#contents .typeE img{
	vertical-align:bottm;
}
#contents .typeA p,
#contents .typeB p,
#contents .typeC p,
#contents .typeD p,
#contents .typeE p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1.0em;
	line-height:1.5;
}
#contents .typeA > div,
#contents .typeB > div,
#contents .typeC > div,
#contents .typeD > div,
#contents .typeE > div{
	margin:0 0 0 0;
	padding:0 0 20px 0;
}
#contents .typeA .box1,
#contents .typeB .box1,
#contents .typeC .box1,
#contents .typeD .box1,
#contents .typeE .box1{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#contents .typeA .box2,
#contents .typeB .box2,
#contents .typeC .box2,
#contents .typeD .box2,
#contents .typeE .box2{
	margin:0 0 0 0;
	padding:0 0 0 0;
}

/* typeA
-------------------------------------------------*/


/* typeB
-------------------------------------------------*/
#contents .typeB .box1{
	width:60%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}
#contents .typeB p.img01{
	width:38%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#contents .typeB .box2{
	width:60%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#contents .typeB p.img02{
	width:38%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}


/* typeC
-------------------------------------------------*/
#contents .typeC ul{
	width:38%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}
#contents .typeC ul li{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1.0em;
}
#contents .typeC ul li img{
	margin:0 0 0 0;
	padding:0 0 10px 0;
}
#contents .typeC p{
	width:60%;
	font-size:1.0em;
}


/* typeD
-------------------------------------------------*/


/* typeE
-------------------------------------------------*/
#contents .typeE ul{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	display:table;
}
#contents .typeE ul li{
	width:auto;
	margin:0 0 0 0;
	padding:0 5px 0 5px;
	display:table-cell;
	font-size:1.0em;
}
#contents .typeE ul li img{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
