@charset "UTF-8";
/* ERS_detail
---------------------------------------------------------------- */
#contents h2{
	margin:0 0 10px 0;
	padding:0 0 3px 0;
}
#contents #ERS_detail{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#contents #ERS_detail #l_col{
	width:38%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#contents #ERS_detail #l_col h3{
	width:95%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#contents #ERS_detail #l_col h3 img{
	width:100%;
}
#contents #ERS_detail #l_col ul{
	width:95%;
	margin:0 auto 0 auto;
	padding:5px 0 0 0;
	display:table;
	text-align:center;
}
#contents #ERS_detail #l_col ul li{
	width:31%;
	list-style-type:none;
	padding:0 1% 0 1%;
	display:table-cell;
	text-align:center;
}
#contents #ERS_detail #l_col ul li img{
	width:100%;
}
#contents #ERS_detail #r_col{
	width:60%;
	margin:0 0 0 0;
	padding:0 0 0 2%;
	float:right;
}
#contents #ERS_detail #r_col .ERS_table{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#contents #ERS_detail #r_col .ERS_table > div p{
	font-size:1.0em;
}
#contents #ERS_detail #r_col .ERS_table h3{
	margin:20px 0 0 0;
	padding:0 0 0 0;
	font-size:1.1em;
}
#contents #ERS_detail #r_col .ERS_table table.detail th{
	width:90px;
	padding:10px 0 5px 5px;
	font-size:1.0em;
	color:#000;
}
#contents #ERS_detail #r_col .ERS_table table.detail td{
	font-size:1.0em;
}
#ERS_detail #r_col .ERS_table table.detail td span,
#ERS_detail #r_col .ERS_table table.detail td strong{
	font-size:1.1em;
	font-weight:bold;
}
#contents #sns a{
	padding:0 10px 0 0;
}

#contents .ERS_btn p.detail_amount {
	width:100%;
	padding:5px 0 10px 5px;
}

#contents .ERS_btn p.detail_amount label {
	width:90px;
	display:inline-block;
}

#contents input#amount {
	width:50px;
	text-align:right;
}

/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn,
#container #content .container-vm .row #primary .site-content article .ERS_btn{
	width:100%;
}

@media only screen and (min-width:1000px){
	#contents .ERS_btn p.cartbtn{
		float:left !important;
	}
	#contents .ERS_btn p.wishlist{
		float:right !important;
	}
	#contents .wish_btn{
		float:right;
	}
}
@media only screen and (min-width:641px) and (max-width:999px){
	#contents .ERS_btn p.cartbtn{
		width:100%;
		float:none;
		margin:0 0 10px 0;
		display:block !important;
	}
	#contents .ERS_btn p.wishlist{
		width:100%;
		float:none;
		display:block !important;
	}
}

#contents .ERS_btn p#saleBefore{
	position:absolute;
	top:30%;
	left:20%;
}
#contents .ERS_btn p#saleAfter{
	position:absolute;
	top:30%;
	left:17%;
}
/* ERS_periodical
---------------------------------------------------------------- */
#contents #ERS_periodical{
	width:97.5%;
	margin:20px auto 20px auto;
	padding:5px 1% 5px 1%;
	border:1px solid #D1D1D1;
}
#contents #ERS_periodical h3{
	width:50%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#contents #ERS_periodical h3 img{
	width:90%;
}
#contents #ERS_periodical .deliver{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}
#contents #ERS_periodical .deliver h3{
	width:98%;
	margin:0 0 5px 0;
	padding:0 0 5px 2%;
	font-size:1.0em;
	color:#594018;
	border-bottom:1px solid #444;
	float:none;
}
#contents #ERS_periodical .deliver h3 label{
	font-size:1.0em;
}
#contents #ERS_periodical .deliver table.detail{
	width:60%;
	margin:15px auto 0 auto;
}
#contents #ERS_periodical .deliver #showMenu1,
#contents #ERS_periodical .deliver #showMenu2,
#contents #ERS_periodical .deliver #showMenu3{
	width:93%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#contents #ERS_periodical .deliver #showMenu3 h3{
	width:100%;
	margin:0 0 5px 0;
	padding:0 0 3px 3px;
	font-size:1.0em;
	font-weight:normal;
	border-bottom:1px dotted #D1D1D1;
}
#contents #ERS_periodical .deliver #showMenu3 p{
	margin:0 0 0 0;
	padding:0 0 15px 10px;
}
#contents #ERS_periodical .deliver .cal_in{
	margin:0 0 0 0;
	padding:0 0 0 10px;
	font-size:1.0em;
}
#contents #ERS_periodical .deliver .fixInput{
	width:200px;
}
#contents #ERS_periodical .deliver p{
	margin:0 0 20px 0;
	padding:0 0 0 2%;
	font-size:1.2rem;
}
#contents #ERS_periodical .deliver .ERS_table th{
	text-align:left;
	padding:5px 0 3px 0;
}
#contents #ERS_periodical table.detail{
	width:100%;
}
#contents #ERS_periodical table.detail th{
	width:100px;
}
#contents #ERS_periodical table.detail th.border_none{
	border:none;
}
#contents #ERS_periodical table.detail .btn{
	width:60%;
	margin:0 auto 0 auto;
	float:none;
}

@media only screen and (min-width:960px){
	#contents #ERS_recommend .ERS_recommend_list{
		width:140px;
		padding:0 3px 45px 3px;
	}
	#contents #ERS_recommend .ERS_recommend_list h3 img {
		width:138px;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:90%;
		margin:0 auto 0 auto;
		padding-right:5px;
		text-align:right;
	}
}
@media only screen and (min-width:640px) and (max-width:960px){
	#contents #ERS_recommend .ERS_recommend_list{
		width:18%;
		padding:0 1% 45px 1%;
	}
	#contents #ERS_recommend .ERS_recommend_list h3 img {
		margin: 0 auto;
		max-width: 160px;
		width: 95%;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:95%;
		margin:0 auto 0 auto;
		padding:8px 0 8px 0;
		font-size:0.85em;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn:hover{
		padding:8px 0 8px 0;
	}
	#contents .detail_btn:before{
		background:url("../images/icon/ico_common_16.png") -32px 0;
		background-size:160px 8px;
		margin-top:-4px;
		width:8px;
		height:8px;
	}
}
@media only screen and (min-width:769px) and (max-width:900px){
	#contents #ERS_recommend .ERS_recommend_list .btn{
		padding-right:5px;
		text-align:right;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn:hover{
		padding-right:5px;
		text-align:right;
	}
}
@media only screen and (min-width:641px) and (max-width:699px){
	#contents #ERS_detail #r_col .ERS_table div img{
		width:80%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
}
@media only screen and (max-width:640px){
	#contents #ERS_detail #r_col .ERS_table div img{
		width:60%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	#contents #ERS_detail #l_col{
		width:50%;
		margin:0 auto 0 auto;
		float:none;
	}
	#contents #ERS_detail #r_col{
		width:95%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
		float:none;
	}
	#contents #ERS_detail #r_col .ERS_table{
		width:95%;
		margin:0 auto 0 auto;
	}
	#contents #ERS_periodical{
		width:95%;
		margin:20px auto 0 auto;
		padding:0 0 0 0;
		border:none;
	}
	#contents #ERS_periodical h3{
		width:98%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
		float:none;
	}
	#contents #ERS_periodical .deliver{
		width:98%;
		margin:10px auto 10px auto;
		padding:10px 0 10px 0;
		border-top:2px solid #D1D1D1;
		border-bottom:2px solid #D1D1D1;
		float:none;
	}
	#contents #ERS_periodical .deliver h3{
		width:95%;
		margin:0 auto 5px auto;
	}
	#contents #ERS_periodical table.detail{
		width:95%;
		margin:0 auto 0 auto;
	}
	#contents #custumer{
		width:98%;
		margin:0 auto 0 auto;
	}
	#contents #custumer img{
		width:50%;
		margin:0 auto 0 auto;
	}
	#contents #ERS_periodical table.detail .btn{
	width:100%;
	margin:0 auto 0 auto;
	float:none;
	}
}
#contents .ui-datepicker-trigger,
#contents #datepicker1{
	vertical-align:middle;
}

#contents select#matrix_form{
	min-width:100px;
	width:auto;
}

#contents .line_icon{
	width:20px;
}
