@charset "UTF-8";
@media only screen and (min-width:641px){
	#contents .ERS_btn{
		position:relative;
	}
	#contents .ERS_btn p.fl_l{
		float:none !important;
		position:absolute;
		top:-31px;
		left:0;
	}
	#contents .ERS_btn p.fl_r{
		float:none !important;
		position:absolute;
		top:0;
		right:0;
	}
}