@charset "UTF-8";
#ERS_news {
	margin: 0 0 0 0;
	padding: 0 0 20px 0;
}

#ERS_news p{
	border-bottom: 1px solid #ccc;
	padding: 10px 0 10px 0;
	margin:0 0 0 0;
	line-height:1.5;
	display:block;
	font-size: 1.2rem;
}

#ERS_news .date{
	margin: 0 20px 0 15px;
	color: #000;
}