@charset "UTF-8";
/* wishlist
--------------------------------------------------*/
@media only screen and (min-width:960px){
	.wide_type tr td{
		text-align:center;
	}
	.wide_type tr td.itemName{
		text-align:left;
	}
	.wide_type tr td.itemImgs{
		width:72px;
	}
	.wide_type tr th.price,
	.wide_type tr th.btn_th{
		width:100px;
		text-align:center;
	}
}
@media only screen and (min-width:641px) and (max-width:959px){
	.wide_type tr td{
		text-align:center;
	}
	.wide_type tr td.itemName{
		text-align:left;
	}
	.wide_type tr td.itemImgs{
		width:72px;
	}
	.wide_type tr th.price,
	.wide_type tr th.btn_th{
		width:100px;
		text-align:center;
	}
}
