﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="lp_landing_list.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript"/></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="lp_landing_list.Title"/></h2>
	</div>

                <!-- error message start -->
                <ers:dispError /><ers:dispInfo /><br />
                <!-- error message end -->

<!-- title end -->
		    <form action="landing_list.asp" method="post" name="search_form" group_name="none">
		        <!-- table start -->
		        <div class="ERS_table">
		            <table class="length">
		                <tbody>
		                    <br>
		                    <tr class="color_ptn2">
		                        <th>
		                            <ers:message code="common.ListRefinersTitle">
		                        </th>
		                    </tr>
		                    <tr>
		                        <td style="border-left: 1px solid #CCCCCC">
		                            <ers:label code="s_freeword"><input type="text" name="s_freeword" value="<%=.Model.s_freeword %>" class="w_200" /><br/>
		                            <ers:label code="lp_group_name">
		                            <select class="w_250" id="s_group_name" name="s_group_name">
		                                <option value="" <ers:isEqual src=".Model.s_group_name" value="" > selected="selected"</ers:isEqual>></option>
		                                <ers:foreach src=".Model.lpGroupNameList" variable="item"  >
		                                    <option value="<%=item.value%>" <ers:isEqual src="item.value" variable=".Model.s_group_name" > selected="selected"</ers:isEqual>><%=item.value%></option>
		                                </ers:foreach>
                                    </select>
                                    <br />
                                    <ers:isEqual src=".Model.multiple_sites" value="true">
                                        <ers:label code="common_search_stores">
                                        <ers:foreach variable="option" src=".Model.s_site_list">
                                            <label>
                                            <input type="checkbox" id="s_site_id" name="s_site_id" value="<%=option.value %>"<ers:isEqual src="option.isSelected" value="true"> checked="checked"</ers:isEqual> />
                                                <%=option.name %>
                                            </label>
                                        </ers:foreach>
                                    </ers:isEqual>
		                            <br>
		                            <br>
		                            <div>
		                                <center>
		                                    <input type="submit" name="" value="<ers:label code="common_search">">&nbsp;&nbsp;
		                                    <input type="button" name="Button2" value="<ers:label code="common_show_all">" onclick="location.href='landing_list.asp';">
		                                </center>
		                            </div>
		                            <br>
		                        </td>
		                    </tr>
		                </tbody>
		            </table>
		        </div>
		        <!-- table end -->
		    </form>
	<div class="flexigrid item_table">

		<div id="ERS_search">
		    <p><ers:message code="common.registered" value=".Model.recordCount"/></p>
		</div>
		<br>
        <form action="lpregist_base.asp" method="post">
		    <input type="submit" name="" id="" value="<ers:label code="common_sign_up">" />
        </form>
		<br><br>
		    <p style="text-align:right" >
		        <a href="landing_list.asp?sort=1&<ers:outputQuery group_name="input" />"><ers:label code="lp_group_name"></a>
		        /
		        <a href="landing_list.asp?sort=2&<ers:outputQuery group_name="input" />"><ers:message code="lp_landing_list_publication_start_date"></a>
		        /
		        <a href="landing_list.asp?sort=3&<ers:outputQuery group_name="input" />"><ers:message code="lp_landing_list_publication_end_date"></a>
		    </p>
		

<!-- item_table start -->

		    <table class="side" width="100%">
		        <thead>
		            <tr>
                    	<th width="50"><ers:label code="common_details"></th>
		                <th width="50"><ers:label code="common_copy"></th>
		                <th width="40"><ers:label code="common_status"></th>
		                <th width="120"><ers:label code="lp_group_name"></th>
		                <th width="120"><ers:label code="page_name"></th>
		                <th width="250"><ers:message code="lp_landing_list_public_URL"></th>
		                <th width="120"><ers:message code="lp_landing_list_open_period"></th>
                        <th width="90"><ers:message code="lp_landing_list_survey_result"></th>
		            </tr>
		        </thead>
		        <tbody>
		            <ers:foreach src=".Model.list" variable="item" roopcounter="j">
		                <tr>
		                    <td>
		                        <input type="button" name="" id="Button2" value="<ers:label code="common_details">" onclick="location.href='lpmodify_confirm.asp?id=<%=item.id %>&<ers:outputQuery />'" />    
		                    </td>
		                    <td>
		                        <form action="landing_list_copy.asp" method="post" name="list_form<%=j %>">
		                            <input type="hidden" name="id" value="<%=item.id %>"/>
		                            <a href="list_form<%=j %>" class="disp_dialog001">
		                                <input type="submit" name=""  value="<ers:label code="common_copy">">
		                            </a>
		                        </form>
		                    </td>
		                    <td><ers:message src="item.status"/></td>
		                    <td><%=item.lp_group_name %></td>
		                    <td><%=item.page_name %></td>
		                    <td>
		                        lp.asp?ccode=<%=item.ccode %>
		                    </td>
		                    <td><ers:formatDate src="item.public_st_date" value="yyyy/MM/dd" /> ～<ers:formatDate src="item.public_ed_date" value="yyyy/MM/dd" /></td>
                            <td>
                            <ers:isEqual src="item.hasDownload" value="true">
                                <form method="post" action="download_csv_lp_dquest.asp" target="_blank">
                                    <input type="hidden" name="page_id" value="<%=item.id%>" />
                                    <input type="submit" name="" id="download" value="<ers:label code="common_download">" />
                                </form>
                            </ers:isEqual>
                            </td>
		                </tr>
		            </ers:foreach>
		        </tbody>
		    </table>
            <div id="dialog001" title="<ers:message code="lp_landing_list.messagebox.Title">">
		        <p><ers:message code="lp_landing_list.messagebox.content"></p>
	        </div>
	</div>
	
	
	
<!-- item_table end -->

<!-- page_send start -->
<div class="ERS_page_send">
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
</div>
<!-- page_send end -->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img src="<%=.sec_url %>images/page_top_off.gif" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
