﻿<ers:isNotEqual src=".Model.site_id_preview" value="">
    <ers:partial variable=".Model.partial_preview_page" partialModel=".Model" siteType="PC" siteId=".Model.site_id_preview" />
</ers:isNotEqual>

<ers:isEqual src=".Model.site_id_preview" value="">
    <ers:partial variable=".Model.partial_preview_page" partialModel=".Model" siteType="PC" />
</ers:isEqual>


