﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="cms.cms_free_select_templete.Head"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript"/></p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><ers:message code="cms.cms_free_select_templete.Head"/></h2>
                </div>
                <!-- title end -->

                <!-- table start -->
                <div class="ERS_table">
                    <p>※<ers:message code="lp_lp_page_regist_template.direction"></p>
<ers:foreach variable="item" src=".Model.template" roopcounter="cnt">
                    <table class="length" cellspacing="0" cellpadding="0" style="width:282px;float:left">
                        <tr>
                            <th>
                                <%=item.template_name %>
                            </th>
                        </tr>
                        <tr>
                            <td style="border-left: 1px solid #CCCCCC">
                                <center>
                                    <image src="<%=.sec_url%>images/<%=item.template_img_file_path %>" style="height: 190px;" />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td style="border-left: 1px solid #CCCCCC">
                                <center>
                                    <form action="<%=.sec_url%>top/lp/asp/lp_page_regist.asp" method="post">
                                        <input type="hidden" name="template_code" value="<%=item.template_code %>" />
                                        <input type="submit" class="w_40" value="<ers:label code="common_select">" />
                                    </form>
                                </center>
                            </td>
                        </tr>
                    </table>
</ers:foreach>

                </div>
                <!-- table end -->
                
                <br class="release_b" />

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post">
                        <input type="hidden" name="eck" value="2" />
                        <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
           <!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>