﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><ers:message code="lp_lp_page_regist.Title"/> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/cms_table.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/venue_selection.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<!-- TinyMCE -->
<script type="text/javascript" src="<%=.sec_url%>js/tiny_mce.js?elements=<ers:foreach src=".Model.listBlock" variable="record" roopcounter="i">record_key_<%=i%>_body,record_key_<%=i%>_free,</ers:foreach>none"></script>
<!-- /TinyMCE -->

    <script type="text/javascript">
        function TagSearch(reco_number) {
            try {
                window.open("<%=.sec_url%>top/cms/asp/common_tag_list.asp", "_blank", "width=970,height=400,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,status=yes");
                return false;
            } catch (e) { }
        }
        <ers:isEqual src=".Model.is_multiple_site" value="true">
            $(window).load(function(e){
                $('a[name=site_list]').click(function(e){
                    var id = $(this).attr('site_id');
                    $('#lp_form input[name=site_id_preview]').remove();
                    var site_id = $("<input type='hidden' name='site_id_preview' value='"+id+"'/>");
                    $('#lp_form').append(site_id);

                    var tempAction = document.lp_form.action;
                    window.open("about:blank", "lp_preview");
                    document.lp_form.target = "lp_preview";
                    document.lp_form.action = "<%=.sec_url%>top/lp/asp/lp_page_preview.asp";
                    document.lp_form.submit();
                    document.lp_form.target = "_self";
                    document.lp_form.action = tempAction;

                    $('#site_list').dialog('close');
                });
                $('#site_list').dialog({
                    autoOpen:false,
                    modal:true,
                    draggable:false,
                    width:'400',
                    height:'200',
                    open: function(event, ui) { $('.ui-widget-overlay').bind('click', function(){  $('#site_list').dialog('close'); }); }
                }).dialog("widget").find(".ui-dialog-titlebar").hide();
            });
        </ers:isEqual>



        function preview() {
            <ers:isEqual src=".Model.is_multiple_site" value="true">
                $('#site_list').dialog('open');
            </ers:isEqual>
            
            <ers:isEqual src=".Model.is_multiple_site" value="false">
                var tempAction = document.lp_form.action;
                window.open("about:blank", "lp_preview");
                document.lp_form.target = "lp_preview";
                document.lp_form.action = "<%=.sec_url%>top/lp/asp/lp_page_preview.asp";
                document.lp_form.submit();
                document.lp_form.target = "_self";
                document.lp_form.action = tempAction;
            </ers:isEqual>
        }
        function ChangeDisplay(delObj) {
            var inputName = $(delObj).attr("to");
            if (delObj.checked) {
                $('input[name="' + inputName + '"]').css('display', 'none');
            } else {
                $('input[name="' + inputName + '"]').css('display', 'block');
            }
            
        }
    </script>
</head>

<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript"/></p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><ers:message code="lp_lp_page_regist.Title"/></h2>
                </div>
                <!-- title end -->

                <!-- error message start -->
                <ers:dispError /><ers:dispInfo /><br />
                <!-- error message end -->

                <!-- main start-->
                <div class="ERS_table">

                    <!-- template start -->
                    <table class="side">
                        <tr align="center">
                            <th><ers:message code="cms.cms_free_modify.SelectedTemplate"></th>
                        </tr>
                        <tr align="center">
                            <td>
                                <image src="<%=.sec_url%>images/<%=.Model.template_img_file_path%>" style="height: 190px;" />
                                <br />
                            </td>
                        </tr>
                    </table>
                    <!-- template end -->

                    <!-- modify_form start -->
                    <form action="<%=.sec_url%>top/lp/asp/lp_page_regist_complete.asp" method="post" name="lp_form" id="lp_form" enctype="multipart/form-data">
                        <input type="hidden" name="modAdd" value="true" />
                        <table class="length">
<ers:table name="listBlock" src=".Model.listBlock" variable="record" record_key="record_key">
                            <ers:isNotEqual src="record.head_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src="record.head_use_flg" value="Required">※</ers:isEqual>
                                        <%=record.head_name %>
                                    </th>
                                    <td>
                                        <input type="text" class="w_400" id="<%=record_key%>head" name="<%=record_key%>head" value="<%=record.head %>" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src="record.body_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src="record.body_use_flg" value="Required">※</ers:isEqual>
                                        <%=record.body_name %>
                                    </th>
                                    <td>
                                        <textarea name="<%=record_key%>body" cols="100" rows="20"><%=record.body%></textarea><br />
                                        <ers:message code="cms.cms_free_modify.HTML">
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src="record.free_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src="record.free_use_flg" value="Required">※</ers:isEqual>
                                        <%=record.free_name %>
                                    </th>
                                    <td>
                                        <textarea name="<%=record_key%>free" cols="100" rows="20"><%=record.free%></textarea><br />
                                        <ers:message code="cms.cms_free_modify.HTML">
                                    </td>
                                </tr>
                            </ers:isNotEqual>
</ers:table>
                                <ers:isNotEqual src=".Model.upsell_button_1_use_flg" value="Hide">
                                    <tr>
			                            <th>
				                        <ers:message code="lp_lp_page_regist_upsellbtn1">
			                        </th>
			                        <td>
                                        <ers:isNotEqual src=".Model.upsell_button_1_file_name" value="">
				                      <img src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_1_file_name %>" class="img_for_regist"><br />
                                      </ers:isNotEqual>
                                      <input type="file" name="upsell_button_1_file" >
			                        </td>
                                </ers:isNotEqual>

                                <ers:isNotEqual src=".Model.upsell_button_2_use_flg" value="Hide">
                                     <tr>
			                            <th>
				                        <ers:message code="lp_lp_page_regist_upsellbtn2">
			                        </th>
			                        <td>
                                    <input type="checkbox" value="1" id="del_upsell_button_2_flg" name="del_upsell_button_2_flg" /><label for="del_upsell_button_2_flg"><ers:label code="delete"></label>&nbsp;
                                        <ers:isNotEqual src=".Model.upsell_button_2_file_name" value="">
				                       <img src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_2_file_name %>" class="img_for_regist"><br />
                                       </ers:isNotEqual>
                                       <input type="file" name="upsell_button_2_file">
			                   
                                    </td>
                                </ers:isNotEqual>

                                <ers:isNotEqual src=".Model.upsell_button_3_use_flg" value="Hide">
                                     <tr>
			                            <th>
				                        <ers:message code="lp_lp_page_regist_upsellbtn3">
			                        </th>
			                        <td>
                                    <input type="checkbox" value="1" id="del_upsell_button_3_flg" name="del_upsell_button_3_flg" /><label for="del_upsell_button_3_flg"><ers:label code="delete"></label>&nbsp;
                                        <ers:isNotEqual src=".Model.upsell_button_3_file_name" value="">
				                        <img src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_3_file_name %>" class="img_for_regist"><br />
                                        </ers:isNotEqual>
                                        <input type="file" name="upsell_button_3_file">
			                        </td>
                                </ers:isNotEqual>

                        </table>

                        <!-- next start-->
	                        <div class="ERS_next">
                                <p class="center">
                                    <a href="javascript:void(0);" onclick="preview();"><input type="button" value="<ers:label code="common_preview">"/></a>
                                    <input type="submit" value="<ers:label code="common_register">" />
<ers:isEqual src=".Model.hasRegistered" value="true">
                                    <a href="lp_delete_form" class="disp_dialog001"><input type="button" value="<ers:label code="common_delete">" /></a>
</ers:isEqual>
                                </p>
                            </div>

                            <br class="release_b" />
                    </form>
                    <!-- modify_form end -->
                </div>
                <!-- main end-->

                <ers:isEqual src=".Model.is_multiple_site" value="true">
                    <ers:partial file="site/site_text_url_select.htm" partialModel=".Model" />
                </ers:isEqual>

                <!-- delete_form start -->
                <form action="<%=.sec_url%>top/lp/asp/lp_page_delete.asp" method="post" name="lp_delete_form" id="lp_delete_form">
                    <input type="hidden" name="delete" value="true" />                   
                    <div id="dialog001" title="<ers:message code="lp_lp_page_regist_delete_confirmation.Title">">
                            <p><ers:message code="lp_lp_page_regist_delete_confirmation.content"></p>
                    </div>
                </form>
                <!-- delete_form end -->

                <!-- back start-->
                <div class="ERS_back">
<ers:isEqual src=".Model.hasRegistered" value="false">
                    <form action="<%=.sec_url%>top/lp/asp/lp_page_regist_template.asp" method="post">
</ers:isEqual>
<ers:isEqual src=".Model.hasRegistered" value="true">
                    <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post">
</ers:isEqual>
                        <input type="hidden" name="eck" value="2" />
                        <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->

            <br class="release_b" />
        </div>
        <!-- contents end -->

        <br class="release_b" />
    </div>
    <!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>
