﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="lp_base.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

<script language ="javascript" type="text/javascript">

    var IsDocReady = false;

    $(document).ready(function () {
        discountDisabled();
        IsDocReady = true;
    });

function discountDisabled() {
		if ($("select[name='lp_group_name_list']").val() != "" ){
		    $("#lp_group_name").attr("disabled", "disabled");
		    $("#lp_group_name").val($("select[name='lp_group_name_list'] :selected").text());
		    $("#lp_group_name_hidden").removeAttr("disabled");
		    $("#lp_group_name_hidden").val($("select[name='lp_group_name_list'] :selected").text());
		    $("#ccode").attr("disabled", "disabled");
		    $("#ccode").val($("select[name='lp_group_name_list']").val());
		    $("#ccode_hidden").removeAttr("disabled");
		    $("#ccode_hidden").val($("select[name='lp_group_name_list']").val());
		}
		else {
		    $("#lp_group_name").removeAttr("disabled");
		    $("#lp_group_name_hidden").attr("disabled", "disabled");
		    $("#ccode").removeAttr("disabled");
		    $("#ccode_hidden").attr("disabled", "disabled");

		    if (IsDocReady) {
		        $("#lp_group_name").val("");
		        $("#ccode").val("");
		    }
		}
	}

</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">
            <!-- noscript start -->
            <noscript>
                <div class="ERS_noscript">
                    <p><ers:message code="login.login.Javascript"/></p>
                </div>
            </noscript>
            <!-- noscript end -->
		    <!-- title end -->
<ers:isEqual src=".Model.id" value="">
		        <form action="<%=.sec_url%>top/lp/asp/lpregist_detail.asp"  method="post" name="store_form" id="store_form" enctype="multipart/form-data" group_name="lpregist_base">    
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
		        <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp"  method="post" name="store_form" id="store_form" enctype="multipart/form-data" group_name="lpregist_base">    
</ers:isNotEqual>
                <!-- table start -->
    	            <div class="ERS_table">
	                <div id="ERS_title">
	                    <h2><ers:message code="lp_base.Title"/></h2>
	                </div>
                    <ers:dispError /><ers:dispInfo />
		            
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_base.infosetting"/></center></th>
						</tr>
                        <tr>
                            <th><ers:label code="lp_group_name"/></th>
                            <td>
                                <input type="text" class="w_200" id="lp_group_name" value="<%=.Model.lp_group_name%>" name="lp_group_name" />
                                <input type="hidden" id="lp_group_name_hidden" value="" name="lp_group_name" />
                                <select class="w_200" id="lp_group_name_list" name="lp_group_name_list" onchange="javascript:discountDisabled();">
                                    <option value=""><ers:message code="lp_base_create_new"></option>
<ers:foreach src=".Model.lp_group_name_list" variable="item"  >
                                    <option value="<%=item.ccode%>" <ers:isEqual src="item.ccode" variable=".Model.ccode" > selected="selected"</ers:isEqual>><%=item.value%></option>
</ers:foreach>
                                </select><ers:message code="lp_base.campaignIDdirection"/>
                            </td>
                        </tr>
                        <tr>
                            <th><ers:label code="lp_page_manage_t.ccode"></th>
                            <td>
                                <input type="text" class="w_200" id="ccode" value="<%=.Model.ccode %>" name="ccode"><br/>
                                <input type="hidden" id="ccode_hidden" value="" name="ccode" />
                                <ers:message code="lp_base.campaignIDdirection"/>
                            </td>
                        </tr>
                        <ers:isEqual src=".Model.multiple_sites" value="true">
                            <ers:partial file="site/site_register_check.htm" />
                        </ers:isEqual>
                        <tr>
                            <th><ers:label code="page_name"></th>
                            <td>
                                <input type="text" class="w_400" id="" value="<%=.Model.page_name %>" name="page_name" />
                            </td>
                        </tr>
                        <tr>
                            <th><ers:label code="page_title"></th>
                            <td>
                                <input type="text" class="w_400" id="" value="<%=.Model.page_title %>" name="page_title" />
                            </td>
                        </tr>
                        <tr>
                        	<th>※<ers:label code="logo_image"></th>
                        	<td>
                        		 <input type="file" name="logo_image" />
                        	</td>
                        </tr>
                    </table>
                    
					<table class="length" style="table-layout:auto">
						<tr>
							<th colspan="2"><center><ers:message code="lp_base.publicperiodsetting"/></center></th>
						</tr>
                        <tr>
                            <th>
                                ※<ers:message code="lp_landing_list_open_period"/>
                            </th>
                            <td>
                                <input type="text" id="from_dd" class="datepicker_start w_100" name="public_st_date" value="<%=.Model.public_st_date %>" />&nbsp;&nbsp;
			                    &nbsp;～&nbsp;
			                    <input type="text" id="to_dd" class="datepicker_end w_100" name="public_ed_date" value="<%=.Model.public_ed_date %>" />&nbsp;&nbsp;
			                    <br>
			                    <ers:message code="lp_lpmodify_base.publicperioddeadline">
	                    	</td>
                        </tr>
		                <tr>
			                <th>
				                <ers:label code="active"><br />
			                </th>
			                <td>
				                <input type="checkbox" name="active" id="active" value="1"<ers:isEqual src=".Model.active" value="Active"> checked="checked"</ers:isEqual > />
				                <label for="ctl00_cpHolder_ckb_1"><ers:message code="common.deletestate"></label>
			                </td>
		                </tr>
	                </table>
	            </div>

            <!-- table end -->
            <!-- next start-->
                <div class="ERS_next">
                    
                        <p class="center"><input type="submit" name="lpregist_base" id="lpregist_base" value="<ers:label code='common_next'/>" /></p>
                    
                </div>
            <!-- next end-->
            </form>
            <!-- back start-->
                <div class="ERS_back">
<ers:isEqual src=".Model.id" value="">
                    <form action="<%=.sec_url%>top/lp/asp/landing_list.asp" method="post">
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
		            <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post">    
</ers:isNotEqual>
                        <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->
            <br class="release_b" />
        </div>
     <!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>