﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="lp_lpregist_questionnaire.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script language ="javascript" type="text/javascript">
        $(document).ready(function () {
            discountDisabled('personal_info');
            // ScodeSearch1('');
        });
		function discountDisabled(type) {
		    if ($("input[name='" + type + "_kbn']:checked").val() == 1) {
		        $("." + type + "_url").attr("disabled", "disabled");
			}
			else {
			    $("." + type + "_url").removeAttr("disabled");
			}
		}
    </script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->

        <div id="ERS_contents">
            <!-- noscript start -->
            <noscript>
                <div class="ERS_noscript">
                    <p><ers:message code="login.login.Javascript"/></p>
                </div>
            </noscript>
            <!-- noscript end -->
            <!-- title end -->
<ers:isEqual src=".Model.id" value="">
                 <form action="<%=.sec_url%>top/lp/asp/lpregist_confirm.asp" method="post" group_name="lpregist_questionnaire">    
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
		        <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post" group_name="lpregist_questionnaire">
</ers:isNotEqual>
            <!-- table start -->
	            <div class="ERS_table">
	                <div id="ERS_title">
	                    <h2><ers:message code="lp_lpregist_questionnaire.Title"/></h2>
	                </div>
                    <ers:dispError />
	                <table class="length">
                    	<tr>
							<th style="width:55px" ><ers:label code="is_used"></th>
							<th style="width:30px" ><ers:message code="lp_lpregist_questionnaire_required"></th>
							<th style="width:180px" ><ers:message code="lp_lpregist_questionnaire_item"></th>
							<th style="width:600px" ><ers:label code="item_note"></th>
						</tr>
<ers:table name="listQuestionnaire" src=".Model.listQuestionnaire" variable="record" record_key="record_key">
						<tr>
                            <td><input type="checkbox" id="<%=record_key %>is_used" name="<%=record_key %>is_used" value="Use"<ers:isNotEqual src="record.is_system_required" value="Hide"> disabled="disabled"</ers:isNotEqual><ers:isEqual src="record.is_used" value="Use"> checked="checked"</ers:isEqual> /></td>
                            <td><input type="checkbox" id="<%=record_key %>is_required" name="<%=record_key %>is_required" value="Required"<ers:isEqual src="record.is_system_required" value="Required"> disabled="disabled"</ers:isEqual><ers:isEqual src="record.is_required" value="Required"> checked="checked"</ers:isEqual> /></td>
							<td><ers:nonencode src="record.item_name"/></td>
							<td><input type="text" class="w_200" id="<%=record_key %>item_note"  name="<%=record_key %>item_note" value="<%=record.item_note%>"/></td>
    <ers:comment value="disableは値を送信しないためhiddenでpostする"></ers:comment>
    <ers:isNotEqual src="record.is_system_required" value="Hide">
                        <input type="hidden"  name="<%=record_key %>is_used" value="Use" >
    </ers:isNotEqual>
    <ers:isEqual src="record.is_system_required" value="Required">
                        <input type="hidden"  name="<%=record_key %>is_required" value="Required" >
    </ers:isEqual>
						</tr>
</ers:table>
	                </table>
	                
	                <table class="length">
                        <tr>
                            <th>※<ers:label code="personal_info_kbn"></th>
                            <td>
<ers:foreach variable="entity" src=".Model.personal_info_kbnList">
                                <input type="radio" id ="personal_info_kbn<%=entity.value%>" name="personal_info_kbn" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.personal_info_kbn"> checked="checked"</ers:isEqual> onclick="javascript:discountDisabled('personal_info');"><label for="personal_info_kbn<%=entity.value%>"><ers:message src="entity.name"/></label>&nbsp;
</ers:foreach>
                            	<br/><br/>
								<ers:message code="lp_lpregist_questionnaire_externalURL"><input type="text" class="w_300 personal_info_url" id="personal_info_url" value="<%=.Model.personal_info_url%>" name="personal_info_url" />
                            </td>
                        </tr>
	                </table>
	            </div>
            <!-- table end -->
            <!-- next start-->
                <div class="ERS_next">
                    
                        <p class="center"><input type="submit" name="lpregist_questionnaire" id="lpregist_questionnaire" value="<ers:label code='common_next'/>" /></p>
                   
                </div>
            <!-- next end-->
            </form>
            <!-- back start-->
                <div class="ERS_back">
<ers:isEqual src=".Model.id" value="">
                    <form action="<%=.sec_url%>top/lp/asp/lpregist_detail.asp" method="post">
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
                    <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post">
</ers:isNotEqual>
                        <p><input type="submit"value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                        <input type="hidden" name="eck" value="2" />
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->
            <br class="release_b" />
        </div>
     <!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>