﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="lp_lpregist_confirm.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">
            <!-- noscript start -->
            <noscript>
                <div class="ERS_noscript">
                    <p><ers:message code="login.login.Javascript"/></p>
                </div>
            </noscript>
            <!-- noscript end -->
            <!-- title end -->
		        <form action="<%=.sec_url%>top/lp/asp/lpregist_complete.asp" method="post">

		    <!-- table start -->
	            <div class="ERS_table">
	                <div id="ERS_title">
	                    <h2><ers:message code="lp_lpregist_confirm.Title"></h2>
	                </div>
	                <ers:dispError /><ers:dispInfo />
		            
		            <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_base.infosetting"></center></th>
						</tr>
                        <tr>
                            <th><ers:label code="lp_group_name"></th>
                            <td><%=.Model.lp_group_name%></td>
                        </tr>
                        <tr>
                            <th><ers:label code="lp_page_manage_t.ccode"></th>
                            <td><%=.Model.ccode%></td>
                        </tr>
                        <ers:partial file="site/w_site_id.htm" />
                        <tr>
                            <th><ers:label code="page_name"></th>
                            <td><%=.Model.page_name%></td>
                        </tr>
                        <tr>
                            <th><ers:label code="page_title"></th>
                            <td><%=.Model.page_title%> </td>
                        </tr>
                        <tr>
                        	<th><ers:label code="logo_image"></th>
                        	<td>
                        		 <image src="<%=.pc_sec_url%>up/cms/news/<%=.Model.logo_image_file %>" style="height:100px;">
                        	</td>
                        </tr>
                    </table>
	                
	                <table class="length" style="table-layout:auto">
						<tr>
							<th colspan="2"><center><ers:message code="lp_base.publicperiodsetting"></center></th>
						</tr>
                        <tr>
                            <th>
                                <ers:message code="lp_landing_list_open_period">
                            </th>
                            <td><%=.Model.public_st_date %>～<%=.Model.public_ed_date %></td>
                        </tr>
	                </table>
	                
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.tbl1Title"></center></th>
						</tr>
                        <tr>
                            <th><ers:label code="basic_stgy_kbn"></th>
                            <td><ers:message src=".Model.w_basic_stgy_kbn"/> </td>
                        </tr>
<ers:isEqual src=".Model.basic_stgy_kbn" value="UpSell">
                        <tr>
                            <th><ers:label code="upsell_stgy_kbn"></th>
                            <td><ers:message src=".Model.w_upsell_stgy_kbn"/></td>
                        </tr>
</ers:isEqual>
                        <tr>
                        	<th><ers:label code="buy_limit_kbn"></th>
                            <td><ers:message src=".Model.w_buy_limit_kbn"/></td>
                        </tr>
	                </table>
	                
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.tbl2Title"></center></th>
						</tr>
                        <tr>
                            <th><ers:message code="lp_lpregist_detail_commodity_info"></th>
                            <td>
                                <ers:label code="s_sname">: <%=.Model.sell_sname%><br/>
                                <ers:label code="product_code">: <%=.Model.sell_scode%>
                            </td>
                        </tr>
                        <tr>
                            <th><ers:label code="sell_order_type"></th>
                            <td><ers:message src=".Model.w_sell_order_type"/></td>
                        </tr>
                            <ers:isNotEqual src=".Model.basic_stgy_kbn" value="FreeSample">
                            <tr>
                                <th><ers:label code="sell_price"></ers:label></th>
                                <td><%=.Model.sell_price%> <ers:message code="camp_target_modify_totalpurchaseamtrankyen"></ers:message></td>
                            </tr>
                            </ers:isNotEqual>
                            <tr>
                                <th><ers:label code="sell_discount_flg"></ers:label></th>
                                <td>
                                    <ers:message src=".Model.w_sell_discount_flg"/>
                                    <ers:isEqual src=".Model.sell_discount_flg" value="Use">
                                        <br />
                                        <ers:label code="sell_discount_amount">
                                            ：<%=.Model.sell_discount_amount%>&nbsp;
                                            <ers:message code="lp_lpregist_confirm_price_afterdiscount">
                                                <ers:message code="common.IncludingTax" />：<%=.Model.sell_discount_price%> <ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                                                    &nbsp;<br />
                                                    <ers:isEqual src=".Model.basic_stgy_kbn" value="UpSell">
                                                        <ers:message code="lp_lpregist_confirm_price_afterdiscountwhenupsell"><ers:message code="common.IncludingTax" />： <%=.Model.sell_upsell_price%> <ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                                                        </ers:message></ers:message>
                                                    </ers:isEqual>
                                                </ers:message>
                                            </ers:message>
                                        </ers:label>
                                    </ers:isEqual>
                                </td>
                            </tr>
                            <ers:isNotEqual src=".Model.sell_order_type" value="Usually">
                                <tr>
                                    <th><ers:message code="lp_lpregist_confirm_regprice_taxincluded"></ers:message></th>
                                    <td>
                                        <ers:message code="lp_lpregist_detail_first_time">
                                            <%=.Model.sell_first_regular_price%><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />&nbsp;
                                            <ers:message code="lp_lpregist_detail_second_time"> <%=.Model.sell_regular_price%><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />
                                            </ers:message>
                                        </ers:message>
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <tr>
                                <th><ers:label code="sell_max_amount"></ers:label></th>
                                <td><%=.Model.sell_max_amount%></td>
                            </tr>
                            <tr>
                                <th><ers:label code="sell_max_stock"></ers:label></th>
                                <td><%=.Model.sell_max_stock%> </td>
                            </tr>
                        </table>
	                
<ers:isEqual src=".Model.basic_stgy_kbn" value="UpSell">
	                <table class="length show_upsell" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:label code="upsell_scode"></center></th>
						</tr>
                        <tr>
                            <th><ers:message code="lp_lpregist_detail_commodity_info"></th>
                            <td>
                                <ers:label code="s_sname"> : <%=.Model.upsell_sname%> <br/>
                                <ers:label code="product_code"> : <%=.Model.upsell_scode%> 
                            </td>
                        </tr>
                        <tr>
                            <th><ers:label code="sell_order_type"></th>
                            <td><ers:message src=".Model.w_upsell_order_type"/> </td>
                        </tr>
						<tr>
                            <th><ers:message code="lp_lpregist_confirm_price_taxincluded"></th>
                            <td>
                               <%=.Model.upsell_price%> <ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                            </td>
                        </tr>
                        <tr>
                            <th><ers:label code="sell_discount_flg"></th>
                            <td>
                                <ers:message src=".Model.w_upsell_discount_flg"/><br/>
<ers:isEqual src=".Model.upsell_discount_flg" value="Use">
								<ers:label code="sell_discount_amount">：<%=.Model.upsell_discount_amount%>&nbsp;
								<ers:message code="lp_lpregist_confirm_price_afterdiscount"><ers:message code="common.IncludingTax" /><%=.Model.upsell_discount_price%> <ers:message code="camp_target_modify_totalpurchaseamtrankyen">&nbsp;
</ers:isEqual >
                            </td>
                        </tr>
<ers:isNotEqual src=".Model.upsell_order_type" value="Usually">
                        <tr>
                            <th><ers:message code="lp_lpregist_confirm_regprice_taxincluded"></th>
                            <td>
                                <ers:message code="lp_lpregist_detail_first_time"><%=.Model.upsell_first_regular_price%><ers:message code="camp_target_modify_totalpurchaseamtrankyen"/>&nbsp;
								<ers:message code="lp_lpregist_detail_second_time"><%=.Model.upsell_regular_price%><ers:message code="camp_target_modify_totalpurchaseamtrankyen"/>
                            </td>
                        </tr>
</ers:isNotEqual>
                        <tr>
                            <th><ers:label code="sell_max_amount"></th>
                            <td><%=.Model.upsell_max_amount%></td>
                        </tr>
                        <tr>
                            <th><ers:label code="sell_max_stock"></th>
                            <td><%=.Model.upsell_max_stock%></td>
                        </tr>
	                </table>
</ers:isEqual>
	                
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.couponsetting"></center></th>
						</tr>
                        <tr>
                            <th rowspan="2"><ers:label code="coupon_flg"></th>
                            <td><ers:message src=".Model.w_coupon_flg"/></td>
                        </tr>
						<tr>
<ers:isEqual src=".Model.coupon_flg" value="Use">
                            <td>
                                <ers:label code="coupon_code">：<%=.Model.coupon_code%>
                            </td>
</ers:isEqual>
                        </tr>
	                </table>
	                
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.postagesetting"></center></th>
						</tr>
                        <tr>
                        	<th><ers:label code="carriage_free_flg"></th>
                        	<td><ers:message src=".Model.w_carriage_free_flg"/>&nbsp;
<ers:isEqual src=".Model.carriage_free_flg" value="Use">
                                <%=.Model.carriage_free_price%><ers:message code="camp_target_modify_totalpurchaseamtrankyen">
</ers:isEqual >
                            </td>
                        </tr>
	                </table>
           
	                <table class="length">
                    	<tr>
							<th style="width:55px" ><ers:label code="is_used"></th>
							<th style="width:40px" ><ers:message code="lp_lpregist_questionnaire_required"></th>
							<th style="width:180px" ><ers:message code="lp_lpregist_questionnaire_item"></th>
							<th style="width:600px" ><ers:label code="item_note"></th>
						</tr>
 <ers:foreach src=".Model.listQuestionnaire" variable="record">
                        <tr>
                            <td>
                                <ers:message src="record.w_is_used"/>
                            </td>
                            <td>
                                <ers:message src="record.w_is_required"/>
                            </td>
                            <td><%=record.item_name%></td>
                            <td><%=record.item_note%></td>
                        </tr>
</ers:foreach>
	                </table>
	                
	                <table class="length">
                        <tr>
                            <th><ers:label code="personal_info_kbn"></th>
                            <td><ers:message src=".Model.w_personal_info_kbn"/> <br /><%=.Model.personal_info_url%></td>
                        </tr>
	                </table>
	            </div>
            <!-- table end -->
            <!-- next start-->
                <div class="ERS_next">
                    <p class="center"><input type="submit" name="lpregist_confirm" id="lpregist_confirm" value="<ers:label code="common_register">" /></p>
                </div>
            <!-- next end-->
            </form>
            <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/lp/asp/lpregist_questionnaire.asp" method="post">
                        <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                        <input type="hidden" name="eck" value="2" />
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->
            <br class="release_b" />
        </div>
     <!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
