﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="lp_lpregist_detail.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script language ="javascript" type="text/javascript">

        $(document).ready(function () {
            priceSynchronization('sell_price');
            priceSynchronization('upsell_price');
            discountDisabled('sell_discount');
            discountDisabled('upsell_discount');
            discountDisabled('carriage_free');
            discountDisabled('coupon');           
            upsellDisp();            
            regularDisp();
            regularUpsellDisp();
            deliveryDisp();
            // ScodeSearch1('');
        });


        function priceSynchronization(id) {
            var sell_price = 0;
            if ($("#" + id).val() != undefined)
            {
                sell_price = $("#" + id).val();
            }

            var num = new String(sell_price).replace(/,/g, "");
            while (num != (num = num.replace(/^([0-9]+)([0-9]{3})/, "$1,$2"))) { console.log(num) };

            $("#discount_before_" + id).html(num);
        }

        function upsellDisp() {
            if ($("#basic_stgy_kbn").val() == 2) {
                $(".sell_price_child").show();
                $(".upsell").show();
                $(".upsell_pay").removeAttr("disabled");
                
            }
            else if ($("#basic_stgy_kbn").val() == 3)
            {
                $(".sell_price_child").hide();           
                $(".upsell").hide();
                $(".upsell_pay").attr("disabled", "disabled");
            }
            else {                
                $(".upsell").hide();
                $(".upsell_pay").attr("disabled", "disabled");               
                $(".sell_price_child").show();

            }

           return false;
        }

        function hideSellPrice() {
            if ($("#basic_stgy_kbn").val() == 3) {
                $(".sell_price").hide();
            }
            else
            {
                $(".sell_price").show();
            }
            return false;
        }
        

        function regularDisp() {
            if ($("#sell_order_type").val() == 1) {
                $(".regular").hide();
            }
            else {
                $(".regular").show();
            }
        }

        function regularUpsellDisp() {
            if ($("#upsell_order_type").val() == 1) {
                $(".regular_upsell").hide();
            }
            else {
                $(".regular_upsell").show();
            }            
        }

        function discountDisabled(type) {
            if ($("input[name='" + type + "_flg']:checked").val() == 0) {
                $("." + type).attr("disabled", "disabled");
            }
            else {
                $("." + type).removeAttr("disabled");
            }
        }


        function deliveryDisp() {
            if ($("input[name='carriage_kbn']:checked").val() == 1) {
                $(".delivery_uniformly").show();
                $(".delivery_pref").hide();
            }
            else {
                $(".delivery_uniformly").hide();
                $(".delivery_pref").show();
            }
        }

        //all pref set
        function setPrefDelivery() {
            $(".pref_carriage").val($("#pref_uniformly").val());
        }

        function searchItem() {
            window.open("common_item_search.html", "", "width=1000px,height=768px");
        }

        
    </script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">
            <!-- noscript start -->
            <noscript>
                <div class="ERS_noscript">
                    <p><ers:message code="login.login.Javascript"/></p>
                </div>
            </noscript>
            <!-- noscript end -->
            <!-- title end -->
    
<ers:isEqual src=".Model.id" value="">
		        <form action="<%=.sec_url%>top/lp/asp/lpregist_questionnaire.asp" method="post" group_name="lpregist_detail">
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
		        <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post" group_name="lpregist_detail">
</ers:isNotEqual>

            <!-- table start -->
	            <div class="ERS_table">
	                <div id="ERS_title">
	                    <h2><ers:message code="lp_lpregist_detail.Title"/></h2>
	                </div>
                    <ers:dispError />
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.tbl1Title"></center></th>
						</tr>
                        <tr>
                            <th>※<ers:label code="basic_stgy_kbn"></th>
                            <td>

                            <select id="basic_stgy_kbn" name="basic_stgy_kbn"  class="w_300" onclick="javascript: upsellDisp();" >
<ers:foreach variable="entity" src=".Model.basic_stgy_kbnList" roopcounter="i">
                                <option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.basic_stgy_kbn"> selected="selected"</ers:isEqual>><ers:message src="entity.name"/></option>
</ers:foreach>
                            </select>
                            </td>
                        </tr
                        <tr class="upsell">
                            <th>※<ers:label code="upsell_stgy_kbn"></th>
                            <td>
 
<ers:foreach variable="entity" src=".Model.upsell_stgy_kbnList">
                                    <input type="radio" id ="upsell_stgy_kbn<%=entity.value%>" name="upsell_stgy_kbn" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.upsell_stgy_kbn"> checked="checked"</ers:isEqual>><label for="upsell_stgy_kbn<%=entity.value%>"><ers:message src="entity.name"/></label>&nbsp;<br/>
</ers:foreach>
                            </td>
                        </tr>
                        <tr>
                        	<th>※<ers:label code="buy_limit_kbn"></th>
                            <td>

                                <select id="buy_limit_kbn" name="buy_limit_kbn" >
<ers:foreach variable="entity" src=".Model.buy_limit_kbnList" roopcounter="i">
                                    <option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.buy_limit_kbn"> selected="selected"</ers:isEqual>><ers:message src="entity.name"/></option>
</ers:foreach>
				                </select>
                            </td>
                        </tr>
	                </table>
	                <script type="text/javascript">
	                    // 商品番号検索[対象商品設定]
	                function ScodeSearch1(line_number) {
	                        // モーダル表示

	                    var result = window.open("<%=.sec_url%>top/campaign/asp/common_scode_search.asp", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
                            //line_numberでコールバックファンクションを分けている
                            if (line_number == 1) {
                                result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
                                (result.attachEvent ? 'on' : '') + 'load', function () {
                                    result.RunCallbackFunction = callback_func;
                                }, false);
                            } 
                            else {
                                result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
                                (result.attachEvent ? 'on' : '') + 'load', function () {
                                    result.RunCallbackFunction = callback_func2;
                                }, false);

                            }
                    }
                    function callback_func(reco_number, scode) {
                        if (scode != undefined) {
                            var result_arr = scode.split("$");
                                $("#w_sell_scode").html(result_arr[1]);
                                $("#w_sell_sname").html(result_arr[2]);
                                $("#sell_scode").val(result_arr[1]);
                        }
                    }
                    function callback_func2(reco_number, scode) {
                        if (scode != undefined) {
                            var result_arr = scode.split("$");
                                $("#w_upsell_scode").html(result_arr[1]);
                                $("#w_upsell_sname").html(result_arr[2]);
                                $("#upsell_scode").val(result_arr[1]);
                        }                        
                    }
	                    

                	</script>
                    <table class="length" style="table-layout:auto">
                        <tr>
                            <th colspan="2"><center><ers:message code="lp_lpregist_detail.tbl2Title" /></center></th>
                        </tr>
                        <tr>
                            <th>※<ers:message code="lp_lpregist_detail_commodity_info">&nbsp;&nbsp;<input class="add_include" value="<ers:label code='common_product_search' />" name="addButton" onclick="return ScodeSearch1(1)" type="button"></ers:message></th>

                            <td>
                                <ers:label code="s_sname" />:<span id="w_sell_sname"><%=.Model.sell_sname%></span><br />
                                <ers:label code="scode" />:<span id="w_sell_scode"><%=.Model.sell_scode%></span><br />
                                <input type="hidden" id="sell_scode" name="sell_scode" value="<%=.Model.sell_scode%>" />
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_order_type"></ers:label></th>
                            <td>
                                <select class="w_100" name="sell_order_type" id="sell_order_type" onclick="javascript:regularDisp();">
                                    <ers:foreach variable="item" src=".Model.salePtnList" roopcounter="i">
                                        <option value="<%=item.value %>" <ers:isEqual src="item.value" variable=".Model.sell_order_type">selected="selected"</ers:isEqual > ><ers:message src="item.name"/></option>
                                    </ers:foreach>
                                </select>

                            </td>
                        </tr>
                        
                            <tr class="sell_price_child">
                                <th>※<ers:label code="sell_price"></ers:label></th>
                                <td>
                                    <input type="text" class="w_50" id="sell_price" value="<%=.Model.sell_price%>" name="sell_price" onblur="javascript:priceSynchronization('sell_price');" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />
                                </td>
                            </tr>
                       
                            <tr>
                                <th>※<ers:label code="sell_discount_flg"></ers:label></th>
                                <td>
                                    <ers:foreach variable="entity" src=".Model.use_flgList">
                                        <input type="radio" id="sell_discount_flg<%=entity.value%>" name="sell_discount_flg" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.sell_discount_flg"> checked="checked"</ers:isEqual> onclick="javascript:discountDisabled('sell_discount');"><label for="sell_discount_flg<%=entity.value%>"><ers:message src="entity.name"/></label>&nbsp;
                                    </ers:foreach>
                                    <br />
                                    <ers:label code="sell_discount_amount">
                                        ：<input type="text" class="w_30 sell_discount" name="sell_discount_amount" value="<%=.Model.sell_discount_amount%>" /><ers:message code="lp_lpregist_detail.purchaseabove">
                                            <br />
                                            <ers:label code="sell_price">
                                                ：<label id="discount_before_sell_price"></label><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />&nbsp;⇒
                                                <ers:label code="sell_discount_price">
                                                    ： <input type="text" class="w_50 sell_discount" id="sell_discount_price" value="<%=.Model.sell_discount_price%>" name="sell_discount_price" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen" /><br /><br />
                                                    <span class="upsell"><ers:message code="lp_lpregist_detail.priceafterupsell"> <input type="text" class="w_50 sell_discount" id="sell_upsell_price" value="<%=.Model.sell_upsell_price%>" name="sell_upsell_price" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen" /></ers:message></span>
                                                </ers:label>
                                            </ers:label>
                                        </ers:message>
                                    </ers:label>
                                </td>
                            </tr>
                        
                        <tr class="regular">
                            <th>※<ers:message code="lp_lpregist_detail_regular_price"></ers:message></th>
                            <td>
                                <ers:message code="lp_lpregist_detail_first_time">
                                    <input type="text" class="w_50" name="sell_first_regular_price" value="<%=.Model.sell_first_regular_price%>" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />&nbsp;
                                    <ers:message code="lp_lpregist_detail_second_time"><input type="text" class="w_50" name="sell_regular_price" value="<%=.Model.sell_regular_price%>" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen" />
                                    </ers:message>
                                </ers:message>
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_max_amount"></ers:label></th>
                            <td>
                                <input type="text" class="w_50" id="sell_max_amount" value="<%=.Model.sell_max_amount%>" name="sell_max_amount" />　<ers:message code="lp_lpregist_detail.maxsale.direction" />
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_max_stock"></ers:label></th>
                            <td>
                                <input type="text" class="w_50" id="sell_max_stock" value="<%=.Model.sell_max_stock%>" name="sell_max_stock" />　<ers:message code="lp_lpregist_detail.maxstock.direction" />
                            </td>
                        </tr>
                    </table>
	                
	                <table class="length upsell" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:label code="upsell_scode"></center></th>
						</tr>
                        <tr>
                            <th>※<ers:message code="lp_lpregist_detail_commodity_info">&nbsp;&nbsp;<input class="add_include" value="<ers:label code="common_product_search">" name="addButton" onclick="return ScodeSearch1(2)" type="button"></th>

                            <td>
                                <ers:label code="s_sname">:<span id="w_upsell_sname"><%=.Model.upsell_sname%></span><br/>
                                <ers:label code="scode">:<span id="w_upsell_scode"><%=.Model.upsell_scode%></span><br/>
                                <input type="hidden" id="upsell_scode" name="upsell_scode" value="<%=.Model.upsell_scode%>">
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_order_type"></th>
                            <td>
                            <select class="w_100" name="upsell_order_type" id="upsell_order_type" onclick="javascript:regularUpsellDisp();">
<ers:foreach variable="item" src=".Model.salePtnList" roopcounter="i">
					                <option value="<%=item.value %>" <ers:isEqual src="item.value" variable=".Model.upsell_order_type">selected="selected"</ers:isEqual > ><%=item.name %></option>
</ers:foreach>
				            </select>
                            </td>
                        </tr>
						<tr>
                            <th>※<ers:label code="sell_price"></th>
                            <td>
                                <input type="text" class="w_50" id="upsell_price" value="<%=.Model.upsell_price%>" name="upsell_price" onblur="javascript:priceSynchronization('upsell_price');" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_discount_flg"></th>
                            <td>
<ers:foreach variable="entity" src=".Model.use_flgList">
                                    <input type="radio" id ="upsell_discount_flg<%=entity.value%>" name="upsell_discount_flg" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.upsell_discount_flg"> checked="checked"</ers:isEqual> onclick="javascript:discountDisabled('upsell_discount');"><label for="upsell_discount_flg<%=entity.value%>"><%=entity.name%></label>&nbsp;
</ers:foreach>
                                <br/>
                                <ers:label code="sell_discount_amount">：<input type="text" name="upsell_discount_amount" value="<%=.Model.upsell_discount_amount%>" class="w_30 upsell_discount" /><ers:message code="lp_lpregist_detail.purchaseabove"><br/>
								<ers:label code="sell_price">：<label id="discount_before_upsell_price" ></label><ers:message code="camp_target_modify_totalpurchaseamtrankyen"/>&nbsp;⇒
								<ers:label code="sell_discount_price">：<input type="text" class="w_50 upsell_discount" id="upsell_discount_price" value="<%=.Model.upsell_discount_price%>" name="upsell_discount_price" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                            </td>
                        </tr>
                        <tr class="regular_upsell">
                            <th>※<ers:message code="lp_lpregist_detail_regular_price"></th>
                            <td>
                                <ers:message code="lp_lpregist_detail_first_time"><input type="text" class="w_50" name="upsell_first_regular_price" value="<%=.Model.upsell_first_regular_price%>"  /><ers:message code="camp_target_modify_totalpurchaseamtrankyen"/>&nbsp;
								<ers:message code="lp_lpregist_detail_second_time"><input type="text" class="w_50" name="upsell_regular_price" value="<%=.Model.upsell_regular_price%>" /><ers:message code="camp_target_modify_totalpurchaseamtrankyen"/>
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_max_amount"></th>
                            <td>
                                <input type="text" class="w_50" id="upsell_max_amount" value="<%=.Model.upsell_max_amount%>" name="upsell_max_amount" />　<ers:message code="lp_lpregist_detail.maxsale.direction">
                            </td>
                        </tr>
                        <tr>
                            <th>※<ers:label code="sell_max_stock"></th>
                            <td>
                                <input type="text" class="w_50" id="upsell_max_stock" value="<%=.Model.upsell_max_stock%>" name="upsell_max_stock" />　<ers:message code="lp_lpregist_detail.maxstock.direction">
                            </td>
                        </tr>
	                </table>
	                
                    <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.couponsetting"></center></th>
						</tr>
                        <tr>
                            <th rowspan="2">※<ers:label code="coupon_flg"></th>
                            <td>
<ers:foreach variable="entity" src=".Model.use_flgList">
                                <input type="radio" id ="coupon_flg<%=entity.value%>" name="coupon_flg" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.coupon_flg"> checked="checked"</ers:isEqual> onclick="javascript:discountDisabled('coupon');"><label for="coupon_flg<%=entity.value%>"><ers:message src="entity.name"/></label>&nbsp;
</ers:foreach><br/>
						<ers:message code="lp_lpregist_detail.couponsetting.direction">
                            </td>       
                        </tr>
						<tr>
                            <td>
                                <ers:label code="coupon_code"><input id="coupon_code" type="text" class="coupon" value="<%=.Model.coupon_code%>" name="coupon_code" />　<ers:message code="lp_lpregist_detail.couponsetting.direction2">
                            </td>
                        </tr>
	                </table>
	                
	                <table class="length" style="table-layout:auto">
                    	<tr>
							<th colspan="2"><center><ers:message code="lp_lpregist_detail.postagesetting"></center></th>
						</tr>
                        <tr>
                        	<th rowspan="2">※<ers:label code="carriage_free_flg"></th>
                        	<td>
<ers:foreach variable="entity" src=".Model.use_flgList">
                                <input type="radio" id ="carriage_free_flg<%=entity.value%>" name="carriage_free_flg" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.carriage_free_flg"> checked="checked"</ers:isEqual> onclick="javascript:discountDisabled('carriage_free');"><label for="carriage_free_flg<%=entity.value%>"><ers:message src="entity.name"/></label>&nbsp;
</ers:foreach><br/>
						<ers:message code="lp_lpregist_detail.postagesetting.direction">
                            </td>
                        </tr>
      					<tr>
                            <td>
                                <ers:message code=""><input id="carriage_free_price" class="carriage_free" type="text" value="<%=.Model.carriage_free_price%>" name="carriage_free_price" /> <ers:message code="lp_lpregist_detail.postagesetting.direction2">
                            </td>
                        </tr>
	                </table>
	            </div>
               
            <!-- table end -->
            <!-- next start-->
                <div class="ERS_next">
                     
                        <p class="center"><input type="submit" name="lpregist_detail" id="lpregist_detail" value="<ers:label code="common_next">" /></p>
                    
                </div>
            <!-- next end-->
            </form>
                <!-- back start-->
                <div class="ERS_back">
<ers:isEqual src=".Model.id" value="">
                    <form action="<%=.sec_url%>top/lp/asp/lpregist_base.asp" method="post">
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
		            <form action="<%=.sec_url%>top/lp/asp/lpmodify_confirm.asp" method="post">    
</ers:isNotEqual>
                        <p><input type="submit"value="<< <ers:label code='common_back'/>" class="btn01" /></p>
                        <input type="hidden" name="eck" value="2" />
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
                </div>
                <!-- page_top end-->
            <br class="release_b" />
        </div>
     <!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>