@charset "UTF-8";
.ui-datepicker-trigger{
	width:23px;
	margin:0 10px 0 10px;
	padding:0 0 0 0;
	font-size:1.2rem;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	background-color:#fff;
	border:none;
}

.table_box dd input,
.table_box dd button{
	vertical-align:middle;
}

