@charset "UTF-8";
#ui-datepicker-div{
	background-color:#fff;
	border:solid 1px #ccc;
	margin-bottom:10px;
	z-index: 101 !important;
}
.ui-widget-content{
	background:#fff;
}
.ui-widget-header {
	border: 1px solid #ff8c00;
	background: #fff2ee url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
	color: #ffffff;
	font-weight: bold;
}
.ui-datepicker-group-first{
	width:45%;
	float:left;
	margin-left:3%;
}
.ui-datepicker-multi-2 .ui-datepicker-group-last{
	width:45% !important;
	float:right;
	margin-right:3%;
	margin-left: -3%;
}
.ui-datepicker-trigger{
	margin:0 0 0 10px;
	padding:4px 0 4px 0;
	font-size:1.2rem;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	background-color:#fff;
	border:none;
}
div.ui-datepicker-header {
	background-color:#F3F0E2;
	margin-top:10px;
	width:100%;
	height:30px;
	position:relative;
}
button.ui-datepicker-header {
	float:left;
}
div.ui-datepicker-title{
	width:100%;
	text-align:center;
	position:absolute;
	top:7px;
	left:0;
	z-index:0;
	color:#360109;
	font-size:1.2em;
	font-weight:bold;
}
.ui-datepicker .ui-datepicker-title {
 margin: 0 0; 
line-height: 1.8em;
text-align: center;
}

.ui-datepicker-prev{
	position:absolute;
	top:5px;
	left:0px;
	z-index:11;
}
.ui-datepicker-next{
	position:absolute;
	top:5px;
	right:0px;
	z-index:12;
}
table.ui-datepicker-calendar{
	background-color:#fff;
	margin-bottom:10px;
	width:100%;
	border-collapse: separate;
	border-spacing: 1px;
	border:solid 3px #EEDEC6;
	text-align:center;
}
table.ui-datepicker-calendar a{
	text-decoration:none;
	color:#333333;
}

table.ui-datepicker-calendar th{
	background-color:#ff8c00;
	border-top:solid 3px #666666;
	font-weight:bold;
	color:#360109;
}
table.ui-datepicker-calendar th.ui-datepicker-week-start{
	border-top:solid 3px #cc0000;
}
table.ui-datepicker-calendar th.ui-datepicker-week-end{
	border-top:solid 3px #0000FF;
}
table.ui-datepicker-calendar tr td{
	background-color:#fff;
	border-left:dotted 1px #666666;
	border-bottom:dotted 1px #666666;
}
table.ui-datepicker-calendar tr td.ui-datepicker-unselectable{
	background-color:#eee;
	color:#EEEEEE;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -2px;
}
