@charset "UTF-8";
/*  common
-------------------------------------------------*/

.typeA,
.typeB,
.typeC,
.typeD,
.typeE{
	width:100%;
}
.typeA img,
.typeB img,
.typeC img,
.typeD img,
.typeE img{
	width:100%;
}
.typeA>div,
.typeB>div,
.typeC>div,
.typeD>div,
.typeE>div{
	margin:0 0 20px 0;
}
.imgL{
	float:left;
	display:inline-block;
}
.imgR{
	float:right;
	display:inline-block;
}
.txtL{
	float:left;
	display:inline-block;
}
.txtR{
	float:right;
	display:inline-block;
}
.mb20{
	margin-bottom:20px;
}
.link_list li,
.file_list li{
	line-height:1.5em;
}

/*  typeA
-------------------------------------------------*/
.typeA{
}


/*  typeB
-------------------------------------------------*/
.typeB{
}
.typeB .imgL,
.typeB .imgR{
	width:32%;
}
.typeB .imgL{
	padding:0 2% 0 0;
}
.typeB .imgR{
	padding:0 0 0 2%;
}

.typeB .txtL,
.typeB .txtR{
	width:66%;
}

/*  typeC
-------------------------------------------------*/
.typeC{
}
.typeC .imgR{
	width:32%;
	padding:0 0 0 2%;
}

.typeC .main_area,
.typeC .append_area{
	float:left;
	display:inline-block;
	width:66%;
}

/*  typeD
-------------------------------------------------*/
.typeD{
}

/*  typeE
-------------------------------------------------*/
.typeE{
}
.typeE .cms_img{
}
.typeE ul{
	margin:0;
	padding:0;
}
.typeE ul li{
	float:left;
	display:inline-block;
	text-align:center;
	width:32%;
	margin:0 0 0 2%;
}
.typeE ul li:first-child{
	margin:0 0 0 0;
}
.typeE ul li img{
	text-align:center;
}