@charset "UTF-8";
/* ERS_detail
---------------------------------------------------------------- */
#ERS_detail{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#ERS_detail #l_col{
	width:38%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#ERS_detail #l_col h3{
	width:95%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#ERS_detail #l_col h3 img{
	width:100%;
}
#ERS_detail #r_col{
	width:60%;
	margin:0 0 0 0;
	padding:0 0 0 2%;
	float:right;
}
#ERS_detail #r_col .ERS_table{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#ERS_detail #r_col .ERS_table > div p{
	font-size:1.4rem;
}
#ERS_detail #r_col .ERS_table h3{
	margin:20px 0 0 0;
	padding:0 0 0 0;
	font-size:1.6rem;
}
#ERS_detail #r_col .ERS_table table.detail th{
	width:90px;
	padding:10px 0 5px 5px;
	font-size:1.4rem;
	color:#000;
}
#ERS_detail #r_col .ERS_table table.detail td{
	font-size:1.4rem;
}
#ERS_detail #r_col .ERS_table table.detail td span,
#ERS_detail #r_col .ERS_table table.detail td strong{
	font-size:1.8rem;
	font-weight:bold;
}
#sns a{
	padding:0 10px 0 0;
}

/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn{
	width:100%;
}
#contents .ERS_btn p.cartbtn{
	float:left;
}
#contents .ERS_btn p.wishlist{
	float:right;
}
#contents .ERS_btn p#saleBefore{
	position:absolute;
	top:30%;
	left:20%;
}
#contents .ERS_btn p#saleAfter{
	position:absolute;
	top:30%;
	left:17%;
}
/* ERS_periodical
---------------------------------------------------------------- */
#ERS_periodical{
	width:97.5%;
	margin:20px auto 0 auto;
	padding:5px 1% 5px 1%;
	border:1px solid #D1D1D1;
}
#ERS_periodical h3{
	width:50%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
#ERS_periodical h3 img{
	width:90%;
}
#ERS_periodical .deliver{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}
#ERS_periodical .deliver h3{
	width:98%;
	margin:0 0 5px 0;
	padding:0 0 5px 2%;
	font-size:1.4rem;
	color:#A5B933;
	border-bottom:1px solid #D1D1D1;
	float:none;
}
#ERS_periodical .deliver #showMenu1,
#ERS_periodical .deliver #showMenu2,
#ERS_periodical .deliver #showMenu3{
	width:93%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#ERS_periodical .deliver #showMenu3 h3{
	width:100%;
	margin:0 0 5px 0;
	padding:0 0 3px 3px;
	font-size:1.2rem;
	font-weight:normal;
	border-bottom:1px dotted #D1D1D1;
}
#ERS_periodical .deliver #showMenu3 p{
	margin:0 0 0 0;
	padding:0 0 15px 10px;
}
#ERS_periodical .deliver .cal_in{
	margin:0 0 0 0;
	padding:0 0 0 10px;
	font-size:1.2rem;
}
#ERS_periodical .deliver .fixInput{
	width:200px;
}
#ERS_periodical .deliver p{
	margin:0 0 20px 0;
	padding:0 0 0 2%;
	font-size:1.2rem;
}
#ERS_periodical .deliver .ERS_table th{
	text-align:left;
	padding:5px 0 3px 0;
}
#ERS_periodical table.detail{
	width:100%;
	font-size:1.2rem;
}
#ERS_periodical table.detail th{
	width:100px;
	font-size:1.2rem;
}
#ERS_periodical table.detail th.border_none{
	border:none;
}
#ERS_periodical table.detail td{
	font-size:1.2rem;
}
#contents #ERS_periodical table.detail .btn{
	width:30%;
	margin:0 auto 0 auto;
	float:none;
}

@media only screen and (min-width:960px){
	#ERS_recommend .ERS_recommend_list{
		width:140px;
		padding:0 3px 45px 3px;
	}
	#ERS_recommend .ERS_recommend_list h3 img {
		width:138px;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:90%;
	}
	#contents .detail_btn{
		padding-left:10%;
	}
	#contents .detail_btn:before{
		left:5%;
	}
}
@media only screen and (min-width:640px) and (max-width:960px){
	#ERS_recommend .ERS_recommend_list{
		width:18%;
		padding:0 1% 45px 1%;
	}
	#ERS_recommend .ERS_recommend_list h3 img {
		margin: 0 auto;
		max-width: 160px;
		width: 95%;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:90%;
	}
	#contents .detail_btn{
		padding-left:10%;
	}
	#contents .detail_btn:before{
		left:5%;
	}
}
@media only screen and (min-width:641px) and (max-width:699px){
	#ERS_detail #r_col .ERS_table div img{
		width:80%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
}
@media only screen and (max-width:640px){
	#ERS_detail #r_col .ERS_table div img{
		width:60%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	#ERS_detail #l_col{
		width:50%;
		margin:0 auto 0 auto;
		float:none;
	}
	#ERS_detail #r_col{
		width:95%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
		float:none;
	}
	#ERS_detail #r_col .ERS_table{
		width:95%;
		margin:0 auto 0 auto;
	}
	#ERS_periodical{
		width:95%;
		margin:20px auto 0 auto;
		padding:0 0 0 0;
		border:none;
	}
	#ERS_periodical h3{
		width:98%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
		float:none;
	}
	#ERS_periodical .deliver{
		width:98%;
		margin:10px auto 10px auto;
		padding:10px 0 10px 0;
		border-top:2px solid #D1D1D1;
		border-bottom:2px solid #D1D1D1;
		float:none;
	}
	#ERS_periodical .deliver h3{
		width:95%;
		margin:0 auto 5px auto;
	}
	#ERS_periodical table.detail{
		width:95%;
		margin:0 auto 0 auto;
	}
	#custumer{
		width:98%;
		margin:0 auto 0 auto;
	}
	#custumer img{
		width:50%;
		margin:0 auto 0 auto;
	}
	#contents #ERS_periodical table.detail .btn{
	width:100%;
	margin:0 auto 0 auto;
	float:none;
	}
}
#contents .ui-datepicker-trigger,
#contents #datepicker1{
	vertical-align:middle;
}

select#matrix_form{
	min-width:100px;
	width:auto;
}

.line_icon{
	width:20px;
}
