@charset "UTF-8";

/* ERS_btn
---------------------------------------------------------------- */

#contents .ERS_btn .fl_r{
	float:right !important;
}
#contents .ERS_btn fl_l{
	float:left !important;
}

#contents .mt10{
	margin-top:10px;
}
#contents .recount p{
	margin: 0 0 0 0;
}

#contents .ui-datepicker-trigger{
	width:23px;
	margin:0 10px 0 10px;
	padding:0 0 0 0;
	font-size:1.2rem;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	color:#fff;
	background-color:#fff;
	border:none;
}
#contents .ui-datepicker-trigger,
#contents .cal,
#contents input{
	vertical-align:middle;
}
#contents .Recalculation {
	width: 15%;
	margin: 0 0 0 0;
	display: inline-block;
}
.ui-widget-header {
	color: #000 !important;
	font-size:1.2rem !important;
}