@charset "UTF-8";
/* contents
---------------------------------------------------------------- */
#contents h2 {
	margin:0 0 15px 0;
	padding:0 0 2px 0;
	font-size:1.0rem;
	border:none;
	border-bottom:2px solid #ff8c00;
}
#contents p.title{
	width:98.5%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#contents p.title img{
	width:100%;
}

/* ERS_ranking
---------------------------------------------------------------- */
.ERS_recommend_title{
	margin:0 0 10px 0;
	padding:0 0 5px 5px;
	font-weight:bold;
	border-bottom:2px solid #666;
	color:#000;
	font-size:1.2em;
}

/* btn
---------------------------------------------------------------- */
#contents .btn{
	margin:0 auto 0 auto;
	font-size:1.4rem;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding:8px 0 8px 0;
}
@media only screen and (min-width:641px){
	#contents .btn{
		width:100%;
	}
}
@media only screen and (max-width:640px){
	#contents .btn{
		width:60%;
		margin:5px auto 0 auto;

	}
}
