@charset "UTF-8";
/* common
............................................................... */
body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
	list-style-type:none;
}

/* float 自動クリア
............................................................... */
.clearfix{
	_height: 1px;
	min-height: 1px;
	/*￥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.clearfix:after{
	content:"";
	clear:both;
	height:0;
	display:block;
	visibility:hidden;
}

/* footer
--------------------------------------------------------- */
footer{
	width:100%;
	margin:40px 0 0 0;
	padding:10px 0 10px 0;
	border-top:solid 7px #999;
}
footer .inner{
	width:900px;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
	background:url(../images/logo.jpg) 0 0 no-repeat;
	background-size:100px auto;
}
footer .inner p{
	margin:0 0 0 0;
	padding:30px 0 10px 120px;
	color:#333;
	font-size:1.4rem;
}
footer ul{
	display:none;
}

/* error
--------------------------------------------------------- */
.ERS_input_error{
	border: 2px solid #ff8c00;
	margin: 20px auto;
	padding: 10px;
	width: 80%;
	font-size:1.4rem;
}
.ERS_error p span,
.ERS_input_error p span{
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 0 10px;
	color:#d61516;
}
span.dispError,
em.dispError{
	color:#d61516;
}
#form_area .ERS_IVP_caution{
	background-color: #b8d200 !important;
	color: #c9171e !important;
	font-weight: bold !important;
}

/* form_area
--------------------------------------------------------- */
#form_area{
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#form_area h3,
#item_detail h3{
	clear:both;
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1.4rem;
}
#form_area table{
	width:100%;
	margin:10px 0 20px 0;
	padding:0 0 0 0;
	border-top:1px solid #ff8c00;
}
#form_area table th{
	margin:0 0 0 0;
	padding:10px 10px 10px 10px;
	text-align:left;
	font-weight:normal;
	border-bottom:1px solid #ff8c00;
	background-color:#e9ecd9;
	font-size:1.4rem;
}
#form_area table td{
	margin:0 0 0 0;
	padding:10px 10px 10px 10px;
	border-bottom:1px solid #ff8c00;
	font-size:1.4rem;
}
#form_area table span.required{
	padding:0 5px 0 0;
	color:#ad3d37;
	font-weight:bold;
}
#form_area table td span{
	clear:both;
	display:block;
}
#form_area table td span.required{
	display:inline;
}

/* item_detail
----------------------------------------------------------*/
#item_detail{
	margin:0 auto 0 auto;
	padding:20px 0 20px 0;
}
#item_detail table{
	width:100%;
	margin:10px 0 0 0;
	padding:0 0 0 0;
}
#item_detail table th{
	margin:0 0 0 0;
	padding:10px 10px 10px 10px;
	text-align:left;
	font-weight:normal;
	border:1px solid #ff8c00;
	background-color:#e9ecd9;
	font-size:1.4rem;
}
#item_detail table td{
	margin:0 0 0 0;
	padding:10px 10px 10px 10px;
	border:1px solid #ff8c00;
	font-size:1.4rem;
}
#item_detail table.total{
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:none;
	border-left:1px solid #ff8c00;
	border-right:1px solid #ff8c00;
}
#item_detail table.total th{
	text-align:right;
	border:none;
	border-bottom:1px solid #ff8c00;
}
#item_detail table.total td{
	border:none;
	border-bottom:1px solid #ff8c00;
	text-align:right;
}

/* ERS_btn
--------------------------------------------------------- */
.ERS_btn{
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
.ERS_btn .lp_btn{
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;
}
.ERS_btn form:first-child{
	float:right;
	display:block;
}
.ERS_btn form:last-child{
	float:left;
	display:block;
}
.lp_btn #landing_submit{
	width:530px;
	height:100px;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
	background:url(../images/lp01/btn02.png) 0 0 no-repeat;
	background-size:530px 100px;
	text-indent:-999px;
}
.ERS_btn input[type="submit"]{
	background:none;
	border:none;

}
.ERS_btn input[type="submit"].btn,
.ERS_btn a{
	margin:0 0 0 0;
	padding:15px 0 15px 0;
	font-size:1.4rem;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	display:block;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.ERS_btn input[type="submit"].back,
.ERS_btn a.back{
	color:#3f3e3f;
	background-color:#f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #f0f0f0), color-stop(0.00, #f7f7f7));
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
	border:1px solid #6f6f6f;
}
.ERS_btn input[type="submit"].next{
	color:#fff;
	background-color:#a6bc36;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #92a630), color-stop(0.00, #a6bc36));
	background: -webkit-linear-gradient(top, #a6bc36 0%, #92a630 100%);
	background: -moz-linear-gradient(top, #a6bc36 0%, #92a630 100%);
	background: -o-linear-gradient(top, #a6bc36 0%, #92a630 100%);
	background: -ms-linear-gradient(top, #a6bc36 0%, #92a630 100%);
	background: linear-gradient(top, #a6bc36 0%, #92a630 100%);
}

/* form
--------------------------------------------------------- */
input[type="text"],
input[type="password"],
input[type="mail"],
input[type="tel"],
input[type="amount"]{
	margin:0 0 0 0;
	padding:5px 5px 5px 5px;
	border:1px solid #999;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#fff));
	background: -moz-linear-gradient(top,#efefef,#fff);
	background: -o-linear-gradient(#efefef, #fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
	font-size:1.2rem;
	color:#000;
}
select{
	margin:0 0 0 0;
	padding:5px 0 3px 2px;
	border:1px solid #999;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#fff));
	background: -moz-linear-gradient(top,#efefef,#fff);
	background: -o-linear-gradient(#efefef, #fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
	font-size:1.2rem;
	color:#000;
}
textarea{
	width:95%;
	margin:0 0 0 0;
	padding:5px 5px 5px 5px;
	border:1px solid #999;
	-webkit-border-radius:4px 4px 4px 4px;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius:4px 4px 4px 4px;
	font-size:1.2rem;
	color:#000;
	display:block;
}
input[type="submit"],
input[type="button"]{
	width:220px;
	margin:0 0 0 0;
	padding:10px 0 10px 0;
	font-size:1.2rem;
	font-weight:normal;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	border:none;
}
input[type="radio"],
input[type="checkbox"]{
	vertical-align: middle;
}
span.check_box{
	margin:8px 0 0 0;
	padding:0 0 0 0;
	display:block;
	text-align:center;
}
#pri_chk{
	margin:0 5px 0 0;
	padding:0 0 0 0;
	vertical-align:bottom;
}
#address,
#taddress,
#maddress{
	display:block;
}
@media only screen and (min-width:980px){
	#wrapper{
		width:980px;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
	}
	#login_box{
		width:500px;
	}
	#form_area,
	#item_detail{
		width:900px;
	}
	#form_area table th{
		width:220px;
	}
	#login_box table th{
		width:150px;
	}
	#form_area table td span.sp_only,
	#form_area table td span.tb_only{
		display:none;
	}
	#item_detail table.total{
		width:400px;
		float:right;
	}
	#item_detail table.total th{
		width:170px;
	}
	.ERS_btn{
		width:530px;
	}
	#lname,
	#fname,
	#lnamek,
	#fnamek,
	#add_lname,
	#add_fname,
	#add_lnamek,
	#add_fnamek,
	#address_name,
	#tel,
	#fax,
	#passwd,
	#passwd_confirm{
		width:200px;
	}
	#lname,
	#fname,
	#lnamek,
	#fnamek{
		margin:0 15px 0 5px;
	}
	#email,
	#email_confirm,
	#email_pc,
	.input_login,
	#ans{
		width:290px;
	}
	#ques{
		width:310px;
	}
	#pref{
		width:150px;
	}
	#zip{
		width:100px;
		margin:0 10px 0 0;
	}
	#address,
	#taddress,
	#maddress{
		width:600px;
		margin:0 0 0 0;
	}
	#birthday_y,
	#validity_y{
		width:100px;
		margin:0 5px 0 0;
	}
	#birthday_m,
	#birthday_d,
	#validity_m{
		width:50px;
		margin:0 5px 0 10px;
	}
}
@media only screen and (min-width:720px) and (max-width:979px){
	#wrapper{
		width:80%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
	}
	#login_box{
		width:70%;
	}
	#form_area,
	#item_detail{
		width:100%;
	}
	#form_area table th{
		width:190px;
	}
	#login_box table th{
		width:150px;
	}
	#form_area table td span.sp_only{
		display:none;
	}
	#item_detail table.total{
		width:45%;
		float:right;
	}
	#item_detail table.total th{
		width:50%;
	}
	.ERS_btn{
		width:530px;
	}
	#lname,
	#fname,
	#lnamek,
	#fnamek,
	#add_lname,
	#add_fname,
	#add_lnamek,
	#add_fnamek,
	#address_name,
	#tel,
	#fax,
	#passwd,
	#passwd_confirm{
		width:38%;
	}
	#email,
	#email_confirm,
	#email_pc,
	.input_login,
	#ans{
		width:65%;
	}
	#ques{
		width:73%;
	}
	#pref{
		width:50%;
	}
	#zip{
		width:30%;
	}
	#address,
	#taddress,
	#maddress{
		width:90%;
	}
	#birthday_y,
	#validity_y{
		width:40%;
		margin:0 5px 0 0;
	}
	#birthday_m,
	#birthday_d,
	#validity_m{
		width:17%;
		margin:0 5px 0 10px;
	}
}
@media only screen and (max-width:719px){
	#wrapper{
		width:100%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
	}
	#login_box{
		width:80%;
	}
	#form_area,
	#item_detail{
		width:98%;
	}
	#form_area table th{
		display:block;
	}
	#form_area table td{
		display:block;
	}
	#form_area table td span.tb_only{
		display:none;
	}
	#item_detail table.total{
		width:100%;
	}
	#item_detail table.total th{
		width:50%;
	}
	.ERS_btn{
		width:50%;
	}
	.lp_btn #landing_submit{
		width:90%;
		height:80px;
		background-size:100% auto;
	}
	#lname,
	#fname,
	#lnamek,
	#fnamek,
	#add_lname,
	#add_fname,
	#add_lnamek,
	#add_fnamek,
	#address_name,
	#tel,
	#fax,
	#passwd,
	#passwd_confirm{
		width:50%;
	}
	#email,
	#email_confirm,
	#email_pc,
	.input_login,
	#ans{
		width:70%;
	}
	#ques{
		width:73%;
	}
	#pref{
		width:50%;
	}
	#zip{
		width:30%;
		margin:0 10px 0 0;
	}
	#address,
	#taddress,
	#maddress{
		width:95%;
	}
	#birthday_y,
	#validity_y{
		width:60%;
		margin:0 5px 0 0;
	}
	#birthday_m,
	#validity_m{
		width:26%;
		margin:0 5px 0 0;
	}
	#birthday_d{
		width:26%;
		margin:0 5px 0 10px;
	}
}
@media only screen and (min-width:640px) and (max-width:719px){
	.ERS_btn{
		width:90%;
	}
}
@media only screen and (max-width:640px){
	.ERS_btn{
		width:90%;
	}
	.ERS_btn form:first-child{
		float:none;
	}
	.ERS_btn form:last-child{
		float:none;
	}
	.ERS_btn form p{
		text-align:center;
	}
	.ERS_btn input.btn[type="submit"],
	.ERS_btn input.btn[type="button"]{
		width:100%;
		margin:0 auto 0 auto;
	}
}
