@charset "UTF-8";
/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn form{
	width:50%;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#contents .ERS_btn form p{
	width:100%;
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#contents .ERS_btn form:first-child{
	float:left;
}
#contents .ERS_btn form:last-child{
	float:right;
}
