@charset "UTF-8";
/* contents
--------------------------------------------------*/

#contents article ul li{
	margin: 0 0 10px 0;
	padding: 5px 0 5px 20px;
	font-size: 13px;

	background:url(../images/btn_tri.gif) 0px 8px no-repeat;
}
#contents article ul li ul li{
	font-size: 13px;

}

#contents article{
	display:inline-block;
	width:33%;
	float:left;
}

@media only screen and (min-width:641px) and (max-width:699px){
	#contents article{
		display:inline-block;
		width:50%;
		float:left;
	}
}
@media only screen and (max-width:640px){
	#contents article{
		width:100%;
		float:none;
		display:block;
	}
}