﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_crderr_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_crderr_search.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_crderr_list.asp" method="post" name="item_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="cussearch_error_date" /><br/><ers:label code="addtl_half_width_numb_delimit" /></th>
				<td>
					<input type="text" class="datepicker_start w_150" id="src_occured_date_from" name="src_occured_date_from" value="<%=.Model.src_occured_date_from %>" />
					&nbsp;～&nbsp;
					<input type="text" class="datepicker_end w_150" id="src_occured_date_to" name="src_occured_date_to" value="<%=.Model.src_occured_date_to %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="tel" /><br/><ers:label code="addtl_half_width_numb" /></th>
				<td>
					<input type="text" class="w_200" id="src_tel" name="src_tel" value="<%=.Model.src_tel %>" />
				</td>
			</tr>
			<tr> 
				<th><ers:label code="common_name" /><br/><ers:label code="addtl_full_width_kana" /></th>
				<td>
                    <ers:message code="ss_lastname_kana" />&nbsp;<input type="text" id="src_lnamek" maxlength="100" name="src_lnamek"  value="<%=.Model.src_lnamek %>" />&nbsp;
                    <ers:message code="ss_givenname_kana" />&nbsp;<input type="text" id="src_fnamek" maxlength="100" name="src_fnamek"  value="<%=.Model.src_fnamek %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="email" /><br/><ers:label code="addtl_half_width_alpha" /></th>
				<td>
					<input type="text" id="src_email" class="w_200" name="src_email"  value="<%=.Model.src_email %>" />
				</td>
			</tr>
				<tr>
					<th><ers:label code="regular_order_number" /></th>
				<td>
					<input type="text" id="src_regular_num" class="w_200" name="src_regular_num"  value="<%=.Model.src_regular_num %>" />
				</td>
			</tr>
		</tbody></table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code="common_search" />" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
