﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_detail.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/cus_detail.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_detail.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_complete.asp" id="cus_complete" name="cus_complete" method="post">

<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
			<caption><ers:message code="customer.cus_detail.Caption" /></caption>
            <ers:isEqual src=".Model.multiple_sites" value="true">
			    <ers:partial file="site/w_site_id.htm" />
            </ers:isEqual>
            <tr>
				<th><ers:label code="cusdetail_regdate" /></th>
				<td><%=.Model.intime_disp %></td>
			</tr>
			<tr>
				<th><ers:label code="common_status" /></th>
				<td><ers:isEqual src=".Model.deleted" value="NotDeleted">会員</ers:isEqual><ers:isEqual src=".Model.deleted" value="Deleted"><span style="color:Red;">退会済み</span></ers:isEqual></td>
			</tr>
            <tr>
				<th><ers:label code="member_rank" /></th>
				<td><%=.Model.disp_member_rank %></td>
			</tr>
			<tr>
				<th><ers:label code="cusdetail_name" /></th>
				<td><ers:message code="ss_lastname" />&nbsp;<input type="text" id="lname" value="<%=.Model.lname %>" name="lname"/>&nbsp;<ers:message code="ss_givenname" />&nbsp;<input type="text" id="fname" value="<%=.Model.fname %>" name="fname"/></td>
			</tr>
			
			<tr>
				<th><ers:label code="cusdetail_namek" /></th>
				<td><ers:message code="ss_lastname_kana" />&nbsp;<input type="text" id="lnamek" value="<%=.Model.lnamek %>" name="lnamek"/>&nbsp;<ers:message code="ss_givenname_kana" />&nbsp;<input type="text" id="fnamek" value="<%=.Model.fnamek %>" name="fnamek"/></td>
			</tr>
			<tr>
				<th><ers:label code="compname" /></th>
				<td><input type="text" id="compname" class="w_400" name="compname" value="<%=.Model.compname %>"/></td>
			</tr>
			<tr>
				<th><ers:label code="compname" /><br/><ers:label code="addtl_full_width_kana" /></th>
				<td><input type="text" id="compnamek" class="w_400" name="compnamek" value="<%=.Model.compnamek %>"/></td>
			</tr>
			<tr>
				<th><ers:label code="division" /></th>
				<td><input type="text" id="division" class="w_400" name="division" value="<%=.Model.division %>"/></td>
			</tr>
			<tr>
				<th><ers:label code="division" /><br/><ers:label code="addtl_full_width_kana" /></th>
				<td><input type="text" id="divisionk" class="w_400" name="divisionk" value="<%=.Model.divisionk %>"/></td>
			</tr>
		</table>
		
		<table class="length">
			<tr>
				<th>※<ers:label code="email" /><br/><ers:label code="addtl_half_width_alpha" /></th>
				<td><input type="text" id="email" class="w_200" value="<%=.Model.email %>" name="email"/><br/>
						<label for="mformat"><ers:message code="customer.cus_detail.ReceiverTypeNotif" /></label>
                        <select id="mformat" name="mformat">
<ers:foreach variable="option" src=".Model.mformatList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mformat"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
</ers:foreach>
						</select>
			</tr>
			<tr>
				<th>※<ers:label code="email_confirm" /><br/><ers:label code="addtl_half_width_alpha" /></th>
				<td><input type="text" id="email_confirm" class="w_200" value="<%=.Model.email_confirm %>" name="email_confirm"/><br/>※<ers:message code="customer.cus_detail.EmailConfirmNotif" /></td>
			</tr>
			<tr>
				<th>※<ers:label code="tel" /><br/><ers:label code="addtl_half_width_numb" /></th>
				<td>※<ers:message code="customer.cus_detail.HypenReqNotif" /><br/><input class="w_200" type="text" id="tel" value="<%=.Model.tel %>" name="tel"/></td>
			</tr>
			<tr>
				<th>
					<ers:label code="history_fax" /><br/><ers:label code="addtl_half_width_numb" />
				</th>
				<td>
					<input type="text" id="fax" class="w_200" name="fax" value="<%=.Model.fax %>"/>
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="zip" /><br/><ers:label code="addtl_half_width_numb" />
				</th>
				<td>
					<input type="text" class="w_150" id="zip" value="<%=.Model.zip %>" name="zip" maxlength="15" />&nbsp;
                    <input type="submit" class="btn01" name="zip_flg1" value="<ers:label code='common_autofill_address'/>" id="zip_flg1">
                        <p id="zip_search_error" class="err" style="display:none"></p>
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="pref" />
				</th>
				<td>
					<select  id="pref" name="pref">
                        <option value=""></option>
                        <ers:foreach variable="option" src=".Model.prefList">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
                    </select>
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="address" />
				</th>
				<td>
					<input type="text" id="address" class="w_400" value="<%=.Model.address %>" name="address"/>
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="taddress" />
				</th>
				<td>
					<input type="text" id="taddress" class="w_400" value="<%=.Model.taddress %>" name="taddress"/>
				</td>
			</tr>
			<tr>
				<th>
					<ers:label code="maddress" />
				</th>
				<td>
					<input type="text" id="maddress" class="w_400" value="<%=.Model.maddress %>" name="maddress"/>
				</td>
			</tr>
			<tr>
				<th>
					<ers:label code="job" />
				</th>
				<td>
					<select id="job" name="job">
					<option value=""></option>
                    <ers:foreach variable="option" src=".Model.jobList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.job"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>
					<span id="">※</span><ers:label code="sex" />
				</th>
				<td>
					<select  id="sex" name="sex">
                        <option value=""></option>
<ers:foreach variable="option" src=".Model.sexList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sex"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
</ers:foreach>
                    </select>
				</td>
			</tr>
			<tr>
				<th>
                    <span id="">※</span><ers:label code="birth" /><br/><ers:label code="addtl_half_width_numb" />
				</th>
				<td>
					<select id="birthday_y" name="birthday_y" class="w_120">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_yList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
</ers:foreach>
					</select>&nbsp;<ers:label code="cusdetail_year" />&nbsp;
					<select id="birthday_m" name="birthday_m" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_mList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>&nbsp;<ers:label code="cusdetail_month" />&nbsp;
					<select id="birthday_d" name="birthday_d" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_dList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>&nbsp;<ers:label code="common_day" />
                </td>
			</tr>
		</table>
		

		<div id="">
	
				</div><table class="length">
			<caption><ers:message code="customer.cus_detail.TableCaptionNotif" /></caption>
			<tr>
					<th><ers:label code="cusdetail_hold_points" /></th>
					<td><%=.Model.point%><br/>※<ers:message code="customer.cus_detail.PointsNotif" /></td>
				</tr>
			

			<tr>
				<th>
					※<ers:label code="passwd" /><br/><ers:label code="addtl_half_width_alpha_limit" />
				</th>
				<td>
					<input type="password" class="w_150" id="passwd1" name="passwd" value=""/>
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="password2" />
				</th>
				<td>
					<input type="password" class="w_150" id="password2" name="passwd_confirm" value=""/><br/>※<ers:message code="customer.cus_detail.EmailConfirmNotif" />
				</td>
			</tr>
			<tr>
				<th>
					※<ers:label code="cusdetail_security_answer" /><br/><ers:label code="addtl_full_width_kana"/>
				</th>
				<td>
					
					<ers:label code="cusdetail_security_question" />:&nbsp;<select id="ques" name="ques">
						<option value=""></option>
                        <ers:foreach variable="option" src=".Model.quesList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
					</select>
<br/><br/>
					<ers:label code="cusdetail_security_ans" />：&nbsp;<input type="text" id="ans" value="<%=.Model.ans%>" name="ans"/>
				</td>
			</tr>
            <tr>
				<th>
					<ers:label code="cusdetail_account_lock" />
				</th>
				<td>
					<input type="checkbox" value="1" name="account_status"  <ers:isEqual src=".Model.account_status" value="1"> checked="checked"</ers:isEqual>  /> ロックする 
				</td>
			</tr>
            <tr>
				<th>
                    <ers:label code="cusdetail_login_attempts" />
				</th>
				<td>
					<input type="text" id="login_try_count" class="w_20" value="<%=.Model.login_try_count %>" name="login_try_count"/>
				</td>
			</tr>
		</table>

        <table class="length">
			<caption><ers:message code="customer.cus_detail.NewsletterNotif" /></caption>
			<tr>
				<th><ers:label code="cusdetail_delivery_method" /></th>
				<td>
<ers:foreach variable="option" src=".Model.m_flgList">
					<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual > />&nbsp;<label for="m_flg<%=option.value%>"><ers:message src="option.name"/></label><br />
</ers:foreach>
			    </td>
            </tr>
		</table>

		<table class="length">
			<caption><ers:message code="customer.cus_detail.AdminNotif" /></caption>
			<tr>
				<th>
					<ers:label code="common_admin_note" />
				</th>
				<td>
					<textarea id="memo" cols="70" rows="12" name="memo" ><%=.Model.memo%></textarea>
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->
</form>

<form action="cus_point_search" name="cus_point_search" id="cus_point_search">
<!--ポイント履歴検索用form-->
</form>

<form action="" name="cus_mail" id="cus_mail">
<!--個別メール用form-->
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn __point_btn" rel="cus_point_search$cus_point_search.asp?sel_mcode=<%=.Model.mcode %>" name="" value="<ers:label code='cusdetail_btn_point_history_search'/>" />
			<input type="button" class="form_btn" rel="cus_mail$cus_mail.asp?mcode=<%=.Model.mcode %>" value="<ers:label code='common_send_mail'/>" />
<ers:isEqual src=".Model.deleted" value="NotDeleted">
			<a href="cus_complete" class="disp_dialog001"><input class="primary" type="button" value="<ers:label code='common_change'/>" /></a>
</ers:isEqual>
		</p>
		<div id="dialog001" title="<ers:message code="customer.dialogue.Title" />">
			<p><ers:message code="common.ChangeConfirm" /></p>
		</div>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
    <form action="cus_list.asp" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
    </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
