﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_mail_all.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_mail_all.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_mail_all_complete.asp" method="post">

<!-- table start -->
	<div class="ERS_table">
		<table id="tab1" class="length">
            <caption><ers:message code="customer.cus_mail_all.EmailAddressNotice" /></caption>
			<tr>
				<th><ers:label code="rbtn_make_list_1" /></th>
				<td>
					<input type="radio" checked="checked" value="1" name="makeListRadio" id="makeListRadio1"><label for="makeListRadio1"><ers:label code="makeListRadio1" /></label>

				</td>
			</tr>
			<tr>
				<th><ers:label code="rbtn_make_list_2" /><br/><ers:label code="rbtn_make_list_2_sub"/>：<input type="text" id="sid" name="sid"></th>
				<td>
					<input type="radio" value="2" name="makeListRadio" id="makeListRadio2"><label for="makeListRadio2"><ers:label code="makeListRadio2" /></label>
				</td>

			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" src="<%=.sec_url%>images/btn_next_create.gif" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
	<div class="ERS_back">
    <form action="cus_list.asp" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
    </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
