﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_point_list.Title" value=".Model.sp_site_name" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_point_list.Title" value=".Model.sp_site_name" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
<ers:isEqual src=".Model.deleted" value="NotDeleted">
	<form action="cus_point_add.asp" name="cus_point" id="cus_point" method="post">
		<p><ers:message code="customer.cus_point_list.ListInstruction" />
		<p><ers:label code="cuspoint_points_granted" />:
            <input type= "hidden" name="site_id" value="<%=.Model.sp_site_id %>" />
			<input type="text" id="add_point" value="<%=.pointModel.add_point %>" name="add_point" />
			&nbsp;&nbsp;
			<ers:label code="cuspoint_points_reason" />：<input type="text" id="add_reason" name="add_reason" value="<%=.pointModel.add_reason %>"  />
			<a href="cus_point" class="disp_dialog001"><input type="button" id="add_point_btn" value="<ers:label code="cuspoint_btn_add" />" name="add_point_btn" /></a>
		</p>
		<div id="dialog001" title="<ers:message code='customer.cus_point_list.AddPointConfimTitle'/>">
			<p><ers:message code="customer.cus_point_list.AddPointConfimDesc" /></p>
		</div>
	</form>
</ers:isEqual>
<br>
	<table>
		<thead>
			<tr>
				<th width="85"><ers:label code="d_no" /></th>
				<th width="80"><ers:label code="checkDays" /></th>
				<th width="80"><ers:label code="cuspoint_th_purchase_amt" /></th>
				<th width="85"><ers:label code="cuspoint_th_available_pts" /></th>
				<th width="80"><ers:label code="cuspoint_th_acquired_pts" /></th>
				<th width="80"><ers:label code="cuspoint_th_hold_points" /></th>
				<th width="100"><ers:label code="cuspoint_th_reason" /></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="pointHistory" src=".Model.PointHistoryList" roopcounter="Point_search_result_cnt">
			<tr class="__point_list">
				<td class="__d_no"><%=pointHistory.d_no %></td>
				<td class="__dt"><ers:formatDate src="pointHistory.dt" ;></td>
				<td class="__total"><ers:formatNumber src="pointHistory.total" /></td>
				<td class="__use_points">
<ers:isEqual src="pointHistory.display_type" value="Use">
                    <ers:formatNumber src="pointHistory.now_p" />
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                    0
</ers:isNotEqual>
                </td>
				<td class="__added_pts">
<ers:isEqual src="pointHistory.display_type" value="Use">
                    0
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                    <ers:formatNumber src="pointHistory.now_p" />
</ers:isNotEqual>
                </td>
				<td class="__total_p"><ers:formatNumber src="pointHistory.total_p" /></td>
				<td class="__reason"><%=pointHistory.reason %></td>
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- back start-->
	<div class="ERS_back">
        <form action="cus_point_search.asp" method="post">
        <input type="hidden" name="sel_mcode" value="<%=.Model.sel_mcode %>" />
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
