﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_search.Title"/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_search.Title"/></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_list.asp" method="post" name="cus_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
            <ers:isNotEqual src=".Model.member_centralization" value="True">
                <ers:isEqual src=".Model.multiple_sites" value="true">
                    <ers:partial file="site/site_search_check.htm" />
                </ers:isEqual>
            </ers:isNotEqual>
			<tr>
				<th><ers:label code="email"/><br /><ers:label code="addtl_half_width_alpha" /></th>
				<td>
					<input type="text" id="src_email" class="w_200" name="src_email" value="<%=.Model.src_email %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="tel"/><br /><ers:label code="addtl_half_width_numb" /></th>
				<td>
					<input type="text" class="w_200" id="src_tel" name="src_tel" value="<%=.Model.src_tel %>" />
				</td>
			</tr>
			<tr> 
				<th><ers:label code="common_name"/><br /><ers:label code="addtl_full_width_kana" /></th>
				<td>
                    <ers:message code="ss_lastname_kana" />&nbsp;<input type="text" id="src_lnamek" name="src_lnamek"  value="<%=.Model.src_lnamek %>" />&nbsp;<ers:message code="ss_givenname_kana"/>&nbsp;<input type="text" id="src_fnamek" name="src_fnamek" value="<%=.Model.src_fnamek %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="compname"/></th>
				<td>
					<input type="text" class="w_400" id="src_compname" name="src_compname" value="<%=.Model.src_compname %>" /><br><ers:message code="customer.cus_search.NullNotice"/>
				</td>
			</tr>
			<tr>
				<th><ers:label code="src_mailtype"/></th>
				<td>
                    <select  id="src_mailtype" name="src_mailtype">
	                    <option value="" selected="selected"></option>
<ers:foreach variable="option" src=".Model.m_flgList">
					    <option value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual >><ers:message src="option.name"/></option>
</ers:foreach>
					</select>

				</td>
			</tr>
			<tr>
				<th><ers:label code="intime"/><br /><ers:label code="addtl_half_width_numb_delimit" /></th>
				<td>
					<input type="text" id="src_regdate_f" class="datepicker_start w_150" name="src_regdate_f" value="<%=.Model.src_regdate_f %>" />&nbsp;～&nbsp;<input type="text"  class="datepicker_end w_150" id="src_regdate_t" name="src_regdate_t" value="<%=.Model.src_regdate_t %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="src_age_title"/></th>
				<td>
					<input type="text"  id="src_age_f" name="src_age_f" value="<%=.Model.src_age_f %>" />&nbsp;～&nbsp;<input type="text"  id="src_age_t" name="src_age_t" value="<%=.Model.src_age_t %>" />&nbsp;<br><ers:message code="customer.cus_search.NullNotice" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="dm_flg"/></th>
				<td>
				    <select id="src_dm_flg" name="src_dm_flg" >
					   <option value=""></option>
                       <ers:foreach variable="option" src=".Model.wrap_flgList">
					        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.src_dm_flg"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
				</td>
			</tr>
            <tr>
				<th><ers:label code="out_bound_flg" /></th>
				<td>
				    <select id="src_out_bound_flg" name="src_out_bound_flg" >
					   <option value=""></option>
                       <ers:foreach variable="option" src=".Model.wrap_flgList">
					        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.src_out_bound_flg"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
				</td>
			</tr>
			<tr>
				<th><ers:label code="sex" /></th>
				<td>
					<select  id="src_sex" name="src_sex">
                        <option value=""></option>
<ers:foreach variable="option" src=".Model.sexList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.src_sex"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
</ers:foreach>
                    </select>
					<ers:message code="customer.cus_search.NullNotice" />
				</td>
			</tr>
			<tr>
					<th><ers:label code="src_point_title" /></th>
					<td>
						<input type="text" id="src_point_f" name="src_point_f" value="<%=.Model.src_point_f %>" />&nbsp;～&nbsp;<input type="text" id="src_point_t" name="src_point_t" value="<%=.Model.src_point_t %>" />
					</td>
				</tr>
			

				<tr>
					<th><ers:label code="pref" /></th>
					<td>
						<select  id="src_pref" name="src_pref">
                            <option value=""></option>
                            <ers:foreach variable="option" src=".Model.prefList">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.src_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
                        </select>
					</td>
				</tr>
				<tr>
					<th><ers:label code="src_deleted" /></th>
					<td>
						<input type="checkbox" id="src_deleted" name="src_deleted" value="1"<ers:isEqual src=".Model.src_deleted" value="Deleted"> checked="checked"</ers:isEqual> /><label for="src_deleted"><ers:message code="customer.cus_search.DeletedAccountNotice" /></label>
					</td>
				</tr>
                <tr>
				<th><ers:label code="member_rank" /></th>
				<td>
                    <select  id="src_member_rank" name="src_member_rank">
	                    <option value="" selected="selected"></option>
<ers:foreach variable="option" src=".Model.member_rank_flgList">
					    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.src_member_rank"> selected="selected"</ers:isEqual >><%=option.name%></option>
</ers:foreach>
					</select>

				</td>
			</tr>
		</tbody></table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit"  class="__search_btn" value="<ers:label code='common_search'/>" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
