﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_list.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_list.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- item_table start -->
	<div class="flexigrid item_table">
	<div class="ERS_result_count">
		<p><ers:message code="customer.cus_list.ResultCount" value=".Model.recordCount" /></p>
	</div>
	<table>
		<thead>
			<tr>
				<th width="80"><ers:label code="th_cuslist_customer_details" /></th>
				<th width="80"><ers:label code="s_user_name" /></th>
				<th width="35"><ers:label code="th_cuslist_customer_age" /></th>
				<th width="150"><ers:label code="email" /></th>
				<th width="40"><ers:label code="sex" /></th>
				<th width="300"><ers:label code="wh_supplier_t.address" /></th>
				<th width="100"><ers:label code="th_cuslist_individual_email" /></th>
			</tr>
		</thead>
		<tbody>
            <ers:foreach variable="MemberTableData" src=".Model.list" roopcounter="search_result_cnt">
			<tr class="__cust_list">
				<td>
                    <form action="<%=.sec_url%>top/customer/asp/cus_detail.asp" method="post">
                        <input type="hidden" name="mcode" value="<%=MemberTableData.mcode %>" />
                        <input type="submit" class="btn01 __dtl_btn" rel="cus_detail$cus_detail.asp" name="" id="" value="<ers:label code='th_cuslist_customer_details'/>" />
                    </form>
                </td>
				<td class="__name"><%=MemberTableData.lname %>&nbsp;<%=MemberTableData.fname %></td>
				<td class="__age"><%=MemberTableData.age %></td>
				<td class="__email"><%=MemberTableData.email %></td>
				<td class="__w_sex"><ers:message src="MemberTableData.w_sex"/></td>
				<td class="__w_pref"><%=MemberTableData.w_pref %>&nbsp;<%=MemberTableData.address %>&nbsp;<%=MemberTableData.taddress %>&nbsp;<%=MemberTableData.maddress %></td>
				<td>
                    <form action="<%=.sec_url%>top/customer/asp/cus_mail.asp" method="post">
                        <input type="hidden" name="mcode" value="<%=MemberTableData.mcode %>" />
                        <input type="submit" class="btn01 __email" rel="cus_mail$cus_mail.asp" name="" id="Submit1" value="<ers:label code='th_cuslist_individual_email'/>" />
                    </form>
                </td>
			</tr>
            </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="cus_mail" id="cus_mail">
<!--個別メール用form-->
</form>

<form action="" name="download_csv_all" id="download_csv_all">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>
<form action="<%=.sec_url%>top/customer/asp/cus_mail_all.asp" method="post" name="cus_mail_all" id="cus_mail_all">
<!--@メール用form-->
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn __dl_all" rel="download_csv_all$download_csv_all.asp" value="<ers:label code='btn_download_csv_all'/>" />
			<input type="button" class="form_btn __dl_page" rel="download_csv_page$download_csv_page.asp" id="" name="" value="<ers:label code='btn_download_csv_page'/>"/>
			<input type="button" class="form_btn __dl_csall" rel="cus_mail_all$cus_mail_all.asp" id="" name="" value="<ers:label code='btn_cus_mail_all'/>"/>
		</p>
	</div>
<!-- next end-->


<!-- back start-->
	<div class="ERS_back">
<form action="cus_search.asp" name="back" id="form_bk1" method="post">
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
</form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
