﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:label code="cusdetail_btn_point_history_search" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:label code="cusdetail_btn_point_history_search" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_point_search_c.asp" method="post" name="item_form">

<!-- table start -->
	<div class="ERS_table">
		<h3><%=.Model.lname %>&nbsp;<%=.Model.fname %></h3>
		<table class="length">
			<caption>＊<ers:message code="customer.cus_point_search.PointCaptionNotif" /></caption>
            <ers:isEqual src=".Model.member_site_id" value="0">
                <ers:isEqual src=".customer_search.multiple_sites" value="true">
                    <tr>
                        <th><ers:label code="common_search_stores_for_point" /></th>
                        <td class="site_id">
                            <select name="sp_site_id">
                                <ers:foreach variable="option" src=".Model.sp_site_list">
                                    <option value="<%=option.value %>" <ers:isEqual src="option.value" variable=".Model.sp_site_id"> selected="selected"</ers:isEqual>><%=option.name %></option>
                                </ers:foreach>
                            </select>
                        </td>
                    </tr>
                </ers:isEqual>
            </ers:isEqual>
            <ers:isNotEqual src=".Model.member_site_id" value="0">
                <tr>
                    <th><ers:label code="common_search_stores" /></th>
                    <td>
                        <%=.Model.sp_site_name %>
                        <input type="hidden" name="sp_site_id" value="<%=.Model.sp_site_id %>" />
                    </td>
                </tr>
            </ers:isNotEqual>
			<tr>
				<th>
					<ers:label code="cusdetail_setting_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="s_date_f" name="s_date_f" value="<%=.Model.s_date_f %>" />&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="s_date_t" name="s_date_t" value="<%=.Model.s_date_t %>" />
				</td>
			</tr>
		</table>
	</div>
    <input type="hidden" id="sel_mcode" name="sel_mcode" value ="<%=.Model.sel_mcode %>" />
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code='common_search'/>" alt="検索する" class="__search_btn"/></p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
	<div class="ERS_back">
        <form action="cus_detail.asp" method="post">
        <input type="hidden" name="sel_mcode" value="<%=.Model.sel_mcode %>" />
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
