﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.cus_mail.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#mail_template").change(function () {
            var site_id = $("#mail_template").val();
            <ers:foreach variable="template" src=".Model.template_list">
                if (site_id == <%=template.site_id %>){
                    $("#from_email").val("<%=template.from_email %>");
                    $("#mail_title").val("<%=template.mail_title %>");

                    var mail_body = document.getElementById('mail_body');
                    var input_value = document.getElementById('mail_body<%=template.site_id %>');
                    mail_body.value = input_value.innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>');
                }
            </ers:foreach>
        });
     });
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/customer.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.cus_mail.Title" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="cus_mail_complete.asp" method="post" name="">

<!-- table start -->
	<div class="ERS_table">

        <ers:isEqual src=".Model.isCommon" value="true">
            <table class="length">
		        <tbody>
			        <tr>
				        <th><ers:message code="customer.cus_mail.mail_template" /></th>
				        <td>
                            <select id="mail_template">
                                <option value=""></option>
                                <ers:foreach variable="template" src=".Model.template_list">
                                    <option value="<%=template.site_id %>"><%=template.site_name %></option>
                                </ers:foreach>
                            </select>
                            <ers:foreach variable="template" src=".Model.template_list">
                                <taxtarea style="display:none" id="mail_body<%=template.site_id %>"><%=template.mail_body %></taxtarea>
                            </ers:foreach>
                        </td>
			        </tr>
		        </tbody>
		    </table>
            <br />
        </ers:isEqual>

		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code="billmail_email_trans_target" /></th>
				<td><%=.Model.lname %> <%=.Model.fname%></td>
			</tr>
			<tr>
				<th><ers:label code="th_cusmail_email" /></th>
				<td>
					<input type="text" class="w_200" id="email" value="<%=.Model.email%>" name="email">
                </td>
			</tr>
			<tr>
				<th>From </th>
				<td>
					<input type="text" class="w_200" id="from_email" value="<%=.Model.from_email%>" name="from_email">
				</td>
			</tr>
			<tr>
				<th><ers:label code="mail_title" /></th>
				<td>
					<input type="text" class="w_400" id="mail_title" value="<%=.Model.mail_title%>" name="mail_title">
				</td>
			</tr>
			<tr> 
				<th><ers:label code="mail_body" /></th>
				<td>
					<textarea id="mail_body" cols="70" rows="25" name="mail_body"><%=.Model.mail_body%></textarea>
				</td>
			</tr>
			<tr>
				<th><ers:label code="th_cusmail_admin_copy" /></th>
				<td>
					<input type="checkbox" name="send_to_admin" id="" value="1" checked="checked">&nbsp;<ers:label code="send_to_admin" />
                </td>
			</tr>
		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code='common_send'/>"  id="send_btn" name="send_btn" value="true" /></p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
	<div class="ERS_back">
	    <form method="post" action="<%=.sec_url%>top/customer/asp/cus_detail.asp" id="form1" name="form1" class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
