﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="customer.member_rank.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/store_admin.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="customer.member_rank.Title" /></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
	<p><ers:message code="customer.member_rank.Desc" /></p>
	<br>
<form action="<%=.sec_url%>top/customer/asp/member_rank_complete.asp" method="post" name="member_rank_form" id="member_rank_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
		<div class="ERS_table">
			<table class="length">
				<tbody><tr>
					<th><ers:label code="member_rank_th_criteria" /></th>
					<td>
						<select name="member_rank_criterion" class="w_100">
                        <ers:foreach src=".Model.member_rank_criterionList" variable="record">
                            <option value="<%=record.value%>" <ers:isEqual src=".Model.member_rank_criterion" variable="record.value"> selected</ers:isEqual>><ers:message src="record.name"/></option>
                        </ers:foreach>
						</select>
					</td>
				</tr>
				<tr>
					<th><ers:label code="member_rank_term" /></th>
					<td><ers:label code="member_rank_th_period_recent" />&nbsp;<input class="w_50" type="text" name="member_rank_term" value="<%=.Model.member_rank_term%>">&nbsp;<ers:label code="common_day" /></td>
				</tr>
			</tbody></table>
			<table class="side">
				<tbody><tr>
					<th width="40">No</th>
					<th><ers:label code="rank_name" /></th>
					<th width="416"><ers:label code="member_rank_th_conditions" /></th>
                    <th width="100"><ers:label code="member_rank_th_pt_magnification" /></th>
				</tr>

                <ers:table src=".Model.detail_table" name="detail_table" record_key="record_key" variable="record">
                <input type="hidden" name="<%=record_key%>rank" value="<%=record.rank%>" />
                <input type="hidden" name="<%=record_key%>id" value="<%=record.id%>" />
				<tr>
					<td><%=record.id%></td>
					<td><input class="w_150" type="text" name="<%=record_key%>rank_name" value="<%=record.rank_name%>"></td>
					<td><input class="w_180" type="text" name="<%=record_key%>value_from" value="<%=record.value_from%>">&nbsp;～&nbsp;<input class="w_180" type="text" name="<%=record_key%>value_to" value="<%=record.value_to%>"></td>
                    <td><input class="w_80" type="text" name="<%=record_key%>point_magnification" value="<%=record.point_magnification%>"><ers:message code="customer.member_rank.PointMagnification" /></td>
				</tr>
                <tr>
                </ers:table>
			</tbody></table>
		</div>
<!-- table end -->

</form>

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="member_rank_btn" value="1" />
		<p class="center"><a href="member_rank_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register'/>" /></a></p>
		<div id="dialog001" title="<ers:message code='customer.member_rank.ConfirmTitle'/>">
			<p><ers:message code="common.RegisterConfirm" /></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
