﻿<ers:foreach variable="variable" src=".list">
<ers:isEqual src="variable.Count" value="い3">
<%=variable.Message %>
</ers:isEqual>
</ers:foreach>
<ers:isEqual src=".Value1" variable=".Value2">
オッケー
</ers:isEqual>
