﻿<ers:foreach variable="variable" src=".list">
<ers:isNotEqual src="variable.Count" value="い3">
<%=variable.Message %>
</ers:isNotEqual>
</ers:foreach>
<ers:isNotEqual src=".Value1" variable=".Value2">
オッケー
</ers:isEqual>
