<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>退会の確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div id="wrapper">
<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->
<!-- container start -->
	<div id="container" class="clearfix">
<!-- contents start -->
		<section id="contents">
<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;会員を退会する</p>
			</div>
<!-- breadcrumb navigatione end -->
<!-- title start -->
			<h2>ご登録情報の確認</h2>
<!-- title end -->
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
<!-- table start -->
		<article>
			<p>下記のご登録情報を削除します。よろしければ「退会する」をクリックしてください。</p>
			<h3>ご登録情報</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt>お名前</dt>
					<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>お名前(カナ)</dt>
					<dd><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>会社名</dt>
					<dd><%=.Model.compname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>会社名(カナ)</dt>
					<dd><%=.Model.compnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>部署名</dt>
					<dd><%=.Model.division%></dd>
				</dl>
				<dl class="clearfix">
					<dt>部署名(カナ)</dt>
					<dd><%=.Model.divisionk%></dd>
				</dl>
				<dl class="clearfix">
					<dt>メールアドレス</dt>
					<dd><%=.Model.email%></dd>
				</dl>
				<dl class="clearfix">
					<dt>電話番号</dt>
					<dd><%=.Model.tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt>FAX番号</dt>
					<dd><%=.Model.fax%></dd>
				</dl>
				<dl class="clearfix">
					<dt>郵便番号</dt>
					<dd><%=.Model.zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt>都道府県</dt>
					<dd><%=.Model.w_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt>住所</dt>
					<dd><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></dd>
				</dl>
			</div>
		</article>
<!-- table end -->
			<form method="post" action="<%=.sec_url%>top/member/asp/account_close2.asp" id="form2" name="form2">
			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn back">マイページへ戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="退会する" class="btn next"/></p>
			</div>
			</form>
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->
<br class="release_b" />
	</section>
<!-- contents end -->
<!-- sidemenu2 start -->
<ers:partial file="hint2/account_close1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->
</div>
<!-- wrapper end -->
</body>
</html>
