﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>別お届け先の(追加)登録確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address2.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先の編集</a>＞&nbsp;別お届け先の(追加)登録確認
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
				<img src="<%=.sec_url%>images/flow_address02.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>別お届け先の(追加)登録確認</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<article>
			<h3>別お届け先の(追加)登録確認</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt>別お届け先</dt>
					<dd><%=.Model.address_name%></dd>
				</dl>
				<dl class="clearfix">
					<dt>お名前</dt>
					<dd><%=.Model.add_lname%>&nbsp;<%=.Model.add_fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>お名前（カナ）</dt>
					<dd><%=.Model.add_lnamek%>&nbsp;<%=.Model.add_fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>電話番号</dt>
					<dd><%=.Model.add_tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt>郵便番号</dt>
					<dd><%=.Model.add_zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt>都道府県</dt>
					<dd><%=.Model.w_add_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt>住所</dt>
					<dd class="end"><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<div class="bandn">

<!-- next start -->
		<div class="ERS_btn clearfix">
			<form method="post" action="<%=.sec_url%>top/member/asp/add_address3.asp" name="entry_form">
				<p class="arrow01_l_r">
					<input type="submit" value="登録する" class="btn next" name="submit_btn2"/>
				</p>
			</form>
			<form method="post" action="<%=.sec_url%>top/member/asp/add_address1.asp">
				<p class="arrow02_l_l">
					<input type="submit" value="前の画面に戻る" class="btn back"/>
                    <input type="hidden" name="eck" value="1" />
				</p>
			</form>
		</div>
<!-- next start -->
<br class="release_b" />
</div>

<!-- ssl_alert start-->
		<div id="ERS_ssl_alert">
				<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end-->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/address2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

