<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>別お届け先の編集完了 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先の編集</a>＞&nbsp;別お届け先の編集完了
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_address03.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>別お届け先の編集完了</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- box start -->
		<div id="ERS_box">
<ers:isEqual src=".Model.id" value="">
			<p>別お届け先情報を登録いたしました。</p>
</ers:isEqual>
<ers:isNotEqual src=".Model.id" value="">
			<p>別お届け先情報の登録内容を変更いたしました。</p>
</ers:isNotEqual>

		</div>
<!-- box end -->

<br class="release_b" />

<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/address_list.asp" class="btn center_btn">別お届け先登録一覧へ戻る</a></p>
			</div>
<!-- back end -->
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/address3.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
