<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>別お届け先の編集 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/address1.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先の編集</a>＞&nbsp;別お届け先の編集
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_address01.gif" alt="" />
		</div>
<!-- flow end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/address2.asp" name="entry_form">

<!-- title start -->
			<h2>別お届け先の編集</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<article>
			<h3>別お届け先の編集&nbsp;<span class="ERS_IVP_color">(*は必須項目です。)</span></h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="address_name"> ERS_IVP_caution</ers:isError>">
						<label for="address_name"><span class="ERS_IVP_color">*</span>別お届け先</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="address_name" /></span>
						<input type="text" id="address_name" name="address_name" value="<%=.Model.address_name%>" />
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_lname"> ERS_IVP_caution</ers:isError><ers:isError src="add_fname"> ERS_IVP_caution</ers:isError>">
						<label for="add_lname"><span class="ERS_IVP_color">*</span>お名前</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="add_lname" /><ers:dispError src="add_fname" /></span>
						<label for="add_lname" class="sp_block">　姓<input type="text" id="add_lname" name="add_lname" value="<%=.Model.add_lname%>" /></label>
						<label for="add_fname" class="sp_block">　名<input type="text" id="add_fname" name="add_fname" value="<%=.Model.add_fname%>" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_lnamek"> ERS_IVP_caution</ers:isError><ers:isError src="add_fnamek"> ERS_IVP_caution</ers:isError>">
						<label for="add_lnamek">フリガナ(全角カタカナ)</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="add_lnamek" /><ers:dispError src="add_fnamek" /></span>
						<label for="add_lnamek" class="sp_block">セイ<input type="text" id="add_lnamek" name="add_lnamek" value="<%=.Model.add_lnamek%>" /></label>
						<label for="add_fnamek" class="sp_block">メイ<input type="text" id="add_fnamek" name="add_fnamek" value="<%=.Model.add_fnamek%>" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_tel"> ERS_IVP_caution</ers:isError>">
						<label for="add_tel"><span class="ERS_IVP_color">*</span>電話番号(半角数字)</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="add_tel" /></span>
						<input type="text" id="add_tel" name="add_tel" value="<%=.Model.add_tel%>" />
						<span class="ex">入力例)&nbsp;0312345678</span></dd></dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_zip"> ERS_IVP_caution</ers:isError>">
						<label for="add_zip"><span class="ERS_IVP_color">*</span>郵便番号(半角数字)</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="add_zip" /></span>
						<input type="text" id="add_zip" name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" />&nbsp;<a href="" id="zip_flg2" name="zip_flg2" >郵便番号で自動入力</a>
                        <p id="add_zip_search_error" class="err" style="display:none"></p>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_pref"> ERS_IVP_caution</ers:isError>">
						<label for="add_pref"><span class="ERS_IVP_color">*</span>都道府県</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="add_pref" /></span>
					<select id="add_pref" name="add_pref">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="add_in<ers:isError src="add_address"> ERS_IVP_caution</ers:isError><ers:isError src="add_taddress"> ERS_IVP_caution</ers:isError><ers:isError src="add_maddress"> ERS_IVP_caution</ers:isError>">
						<span class="ERS_IVP_color">*</span>住所
					</dt>
					<dd class="end">
						<div class="add_in<ers:isError src="add_address"> ERS_IVP_caution_none</ers:isError>">
							<span class="dispError"><ers:dispError src="add_address" /></span>
							<label for="add_address">市区町村</label>
							<input type="text" id="add_address" name="add_address" value="<%=.Model.add_address%>" />
						</div>
						<div class="add_in <ers:isError src="add_taddress"> ERS_IVP_caution_none</ers:isError>">
							<span class="dispError"><ers:dispError src="add_taddress" /></span>
							<label for="add_taddress">町名・番地</label>
							<input type="text" id="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" />
						</div>
						<div class="add_in <ers:isError src="add_maddress"> ERS_IVP_caution_none</ers:isError>">
							<span class="dispError"><ers:dispError src="add_maddress" /></span>
							<label for="add_maddress">それ以降の住所</label>
							<input type="text" id="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" />
						</div>
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->
<!-- next start -->
		<div class="ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/address_list.asp" class="btn back">前の画面に戻る</a></p>
			<p class="arrow01_l_r">
				<input type="submit" value="次のステップへ進む" class="btn next" name="submit_btn1"/>
				<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
				<input type="hidden" name="id" value="<%=.Model.id%>" />
			</p>

		</div>
<!-- next start -->

<br class="release_b" />

	</form>

<!-- ssl_alert start-->
		<div id="ERS_ssl_alert">
				<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end-->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/address1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
