<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>別お届け先の削除 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address_delete.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先の編集</a>＞&nbsp;別お届け先の削除</p>
			</div>
<!-- breadcrumb navigatione end -->

	<form method="post" action="address_delete2.asp" name="entry_form">

<!-- title start -->
			<h2>別お届け先の削除</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<article>
			<h3>別お届け先の削除</h3>
			<p>下記のお届け先情報を削除します。よろしければ「削除する」をクリックしてください。</p>
			<div class="table_box">
				<dl class="clearfix">
					<dt>別お届け先</dt>
					<dd><%=.Model.address_name%></dd>
				</dl>
				<dl class="clearfix">
					<dt>お名前</dt>
					<dd><%=.Model.add_lname%>&nbsp;<%=.Model.add_fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt>フリガナ</dt>
					<dd><%=.Model.add_lnamek%>&nbsp;<%=.Model.add_fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt>電話番号</dt>
					<dd><%=.Model.add_tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt>郵便番号</dt>
					<dd><%=.Model.add_zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt>都道府県</dt>
					<dd><%=.Model.w_add_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt>住所</dt>
					<dd><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
				</dl>
			</table>
		</article>
<!-- table end -->
			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/address_list.asp" class="btn back">前の画面に戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="削除する" name="regist_submit" class="btn next"/></p>


			</div>

	</form>

<!-- ssl_alert start-->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end-->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/address_delete.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
