<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>別お届け先登録一覧 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address_list.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start test-->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;別お届け先の編集
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2>別お届け先の編集</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br>JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<article>
			<h3>ご登録の別お届け先</h3>
				<table class="wide_type">
				<tr>
					<th>別お届け先</th>
					<th>お名前</th>
					<th>住所</th>
					<th></th>
				</tr>

<ers:foreach src=".Model.list" variable="addressInfo" roopcounter="j">
				<tr>
					<td><%=addressInfo.address_name%></td>
					<td><%=addressInfo.add_lname%>&nbsp;<%=addressInfo.add_fname%></td>
			                <td><%=addressInfo.w_add_pref%>&nbsp;<%=addressInfo.add_address%>&nbsp;<%=addressInfo.add_taddress%>&nbsp;<%=addressInfo.add_maddress%></td>
			                <td>
			                   	<form method="post" action="<%=.sec_url%>top/member/asp/address_delete.asp">
							<input type="hidden" name="id" value="<%=addressInfo.id%>">
							<input type="submit" value="削除" class="btn02 gray_btn">
						</form><br>
						<form method="post" action="<%=.sec_url%>top/member/asp/address1.asp">
							<input type="hidden" name="id" value="<%=addressInfo.id%>">
							<input type="submit" value="修正" class="btn02 green_btn">
						</form>
			                </td>
				</tr>
</ers:foreach>
			</table>
		</article>
<!-- table end -->
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager">
<!-- page_send end -->

<br class="release_b">

<!-- next start -->
		<div class="ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn back">マイページへ戻る</a></p>
			<form method="post" action="<%=.sec_url%>top/member/asp/add_address1.asp">
				<p class="arrow01_l_r"><input type="submit" value="別お届け先の追加登録" class="btn next"/></p>
			</form>

		</div>
<!-- next end -->

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<br class="release_b">

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/address_list.htm">
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
