<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>カード情報の変更 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/member1.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
    <script type="text/javascript">
        function displayUpdate(card_id) {
            $("[name^=delete_card]").show();
            $("[name^=modify_card]").hide();
            $("[name=delete_card" + card_id + "]").hide();
            $("[name=modify_card" + card_id + "]").show();
        }
        function changeUrl(val, mode) {
            var dform = $("#delete_form");
            var url = dform.attr("action") + "?card_id=" + val + "&" + mode + "=true";
            dform.attr("action", url);
            dform.submit();
            return false;
        }
    </script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;カード情報の変更</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2>カード情報の変更</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" id="delete_form">
<ers:table src=".Model.listCardInfo" variable="list" name="listCardInfo" record_key="record_key">
<div name="delete_card<%=list.card_id%>"<ers:isEqual src=".Model.modify_submit" value="true"><ers:isEqual src="list.card_id" variable=".Model.card_id"> style="display:none;"</ers:isEqual></ers:isEqual>>
			<article>
			<p style="margin:20px 0 0 20px;">クレジットカード情報は、セキュリティの観点からお一人様２枚までのご登録とさせていただいております。</p>
				<h3>登録カード情報</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>カード種類</dt>
						<dd><%=list.saved_card_name%></dd>
					</dl>
					<dl class="clearfix">
						<dt>カード番号</dt>
						<dd><%=list.saved_card_no%></dd>
					</dl>
					<dl class="clearfix">
						<dt>有効期限</dt>
						<dd><%=list.saved_validity_y%>年<%=list.saved_validity_m%>月</dd>
					</dl>
				</div>
			</article>

			<div class="ERS_btn clearfix">
				<p class="arrow01_l_r"><input type="button" name="modify_submit" value="変更する" class="btn green_btn" onclick="displayUpdate('<%=list.card_id%>')"/></p>
				<p class="arrow02_l_r"><input type="button" name="delete_submit" value="削除する" class="btn gray_btn" onclick="changeUrl(<%=list.card_id%>, 'delete_submit')" /></p>
			</div>
</div>
<div name="modify_card<%=list.card_id%>"<ers:isNotEqual src="list.card_id" variable=".Model.card_id"> style="display:none;"</ers:isNotEqual><ers:isNotEqual src=".Model.modify_submit" value="true"> style="display:none;"</ers:isNotEqual>>
			<article>
			<p style="margin:20px 0 0 20px;">クレジットカード情報は、セキュリティの観点からお一人様２枚までのご登録とさせていただいております。</p>
				<h3>登録カード情報</h3>
			    <div class="table_box">
				    <dl class="clearfix">
					    <dt class="<ers:isError src="card_type" model="list"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>カード種類</dt>
					    <dd><span class="dispError"><ers:dispError src="card_type" model="list" /></span>
						    <select id="Select1" name="<%=record_key%>card_type">
							    <option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="list.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						    </select>
					    </dd>
				    </dl>
				    <dl class="clearfix">
					    <dt class="<ers:isError src="card_no" model="list"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>カード番号<br>(半角数字・ハイフン無し)</dt>
					    <dd><span class="dispError"><ers:dispError src="card_no" model="list" /></span>
					    <input type="text" id="Text1" name="<%=record_key %>card_no" maxlength="16" value="<%=list.card_no%>" />
					    <span class="ex">入力例）&nbsp;1111222233334444</span></dd>
				    </dl>
				    <dl>
					    <dt class="<ers:isError src="validity_y" model="list"> ERS_IVP_caution</ers:isError><ers:isError src="validity_m" model="list"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>有効期限<br>(半角数字)</dt>
					    <dd><span class="dispError"><ers:dispError src="validity_y" model="list" /><ers:dispError src="validity_m" model="list" /></span>
					    <input type="text" id="Text2" maxlength="4" name="<%=record_key %>validity_y" value="<%=list.validity_y%>" />年<input type="text" id="Text3" maxlength="2" name="<%=record_key %>validity_m" value="<%=list.validity_m%>" />月</dd>
				    </dl>
			    </div>
			</article>

			<div class="ERS_btn clearfix">
				<p class="center arrow01_l_r"><input type="button" value="次のステップへ進む" name="modify_submit" class="btn next" onclick="changeUrl(<%=list.card_id%>, 'modify_submit')" /></p>
			</div>

</div>
</ers:table>
	</form>

<ers:isEqual src=".Model.newEntryFlg" value="true">
	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" name="entry_form">
		<article>
			<h3>新規カード登録&nbsp;<span class="ERS_IVP_color">（*は必須項目です。）</span></h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="card_type"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>カード種類</dt>
					<dd><span class="dispError"><ers:dispError src="card_type" /></span>
						<select id="card_type" name="card_type">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="card_no"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>カード番号<br>(半角数字・ハイフン無し)</dt>
					<dd><span class="dispError"><ers:dispError src="card_no" /></span>
					<input type="text" id="card_no" name="card_no" maxlength="16" value="<%=.Model.card_no%>" />
					<span class="ex">入力例）&nbsp;1111222233334444</span></dd>
				</dl>
				<dl>
					<dt class="<ers:isError src="validity_y"> ERS_IVP_caution</ers:isError><ers:isError src="validity_m"> ERS_IVP_caution</ers:isError>"><span class="ERS_IVP_color">*</span>有効期限<br>(半角数字)</dt>
					<dd><span class="dispError"><ers:dispError src="validity_y" /><ers:dispError src="validity_m" /></span>
					<input type="text" id="validity_y" maxlength="4" name="validity_y" value="<%=.Model.validity_y%>" />年<input type="text" id="validity_m" maxlength="2" name="validity_m" value="<%=.Model.validity_m%>" />月</dd>
				</dl>
			</div>
		</article>
			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn back">マイページへ戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="次のステップへ進む" name="entry_submit" class="btn next"/></p>


			</div>
	</form>
</ers:isEqual>
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/member1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
