<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>カード情報の変更 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/member1.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;カード情報の変更</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2>カード情報の変更</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
			<article>
			<p style="margin:20px 0 0 20px;">クレジットカード情報は、セキュリティの観点からお一人様２枚までのご登録とさせていただいております。<br />カード情報を変更する際には、登録済みのカード情報を削除したのち、新しいカードをご登録ください。</p>
			<h3>ご登録者</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt>カード種類</dt>
					<dd><%=.Model.confirm_card_type%></dd>
				</dl>
				<dl class="clearfix">
					<dt>カード番号</dt>
					<dd>
						<%=.Model.confirm_cardno%>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt>有効期限</dt>
					<dd><%=.Model.confirm_validity_y%>年<%=.Model.confirm_validity_m%>月</dd>
				</dl>

			</div>
		</article>
			<div class="ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>top/member/asp/card3.asp" name="entry_form">
					<p class="arrow01_l_r">
						<input type="submit"
			                <ers:isEqual src=".Model.modify_submit" value="true">name="modify_submit" value="更新する" </ers:isEqual>
			                <ers:isEqual src=".Model.delete_submit" value="true">name="delete_submit" value="削除する" </ers:isEqual>
			                <ers:isEqual src=".Model.entry_submit" value="true">name="entry_submit" value="登録する" </ers:isEqual>
							 class="btn next"/>
					</p>
				</form>
				<form method="post" action="<%=.sec_url%>top/member/asp/card1.asp" name="entry_form">
					<p class="arrow02_l_l">
						<input type="hidden" name="eck" value="1" />
							<input type="submit" name="" value="前の画面へ戻る"  class="btn back"/>
					</p>
				</form>
			</div>

<br class="release_b" />
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->
	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/member1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
