<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>メルマガ設定 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">マイページ</a>＞&nbsp;メールマガジン設定</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_mail01.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>メールマガジン設定</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

		<form method="post" action="<%=.sec_url%>top/member/asp/mail2.asp">
<!-- table start -->
		<article>
			<!--<h3><%=.Model.lname%>様の現在のメールマガジン設定です。</h3>-->
			<div class="table_box">
				<dl class="clearfix<ers:isError src="m_flg"> ERS_IVP_caution</ers:isError>">
					<dt>配信設定</dt>
					<dd><span class="dispError"><ers:dispError src="m_flg" /></span>
<ers:foreach variable="option" src=".Model.m_flgList">
					<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual > />
					&nbsp;<label for="m_flg<%=option.value%>"><%=option.name%></label>
</ers:foreach>
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->

			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn back">マイページへ戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="次のステップへ進む" class="btn next"/></p>


			</div>

<br class="release_b" />

		</form>

<!-- ssl_alert start-->
		<div id="ERS_ssl_alert">
				<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>

<!-- ssl_alert end-->


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/mail1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
