<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>メルマガ設定の確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">マイページ</a>＞&nbsp;メールマガジン設定の確認</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_mail02.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>メールマガジン設定の確認</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/mail3.asp">
		<article>
			<p>以下の内容に変更します。よろしければ「変更する」をクリックしてください</p>
			<div class="table_box">
				<dl class="clearfix">
		                    <dt>配信設定</dt>
		                    <dd><%=.Model.w_m_flg%></dd>
				</dl>

			</div>
		</article>
<!-- table end -->

			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="javascript:history.back()" class="btn back">前のページへ戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="変更する" class="btn next"/></p>


			</div>


<br class="release_b" />
		</form>

<!-- ssl_alert start-->
		<div id="ERS_ssl_alert">
				<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end-->


	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/mail2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
