<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>お名前・メールアドレスの確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- title start -->
			<h2>お名前・メールアドレスの確認</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/passrim2.asp" id="form2" name="form2">
		<article>
			<h3>お客様のメールアドレスにパスワード再設定用のURLを送信いたします。<br />ご登録のお名前・メールアドレスを入力いただき、「送信する」ボタンを押してください。</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="lname">ERS_IVP_caution</ers:isError><ers:isError src="fname"> ERS_IVP_caution</ers:isError>"><label for="lname">お名前</label></dt>
					<dd><span class="dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
					<label for="lname" class="sp_block">姓<input type="text" id="lname" name="lname" value="<%=.Model.lname%>" /></label>
					<label for="fname" class="sp_block">名<input type="text" id="fname" name="fname" value="<%=.Model.fname%>" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="email">ERS_IVP_caution</ers:isError>">メールアドレス(半角英数字)</dt>
					<dd><span class="dispError"><ers:dispError src="email" /></span>
					<input id="email" type="text" name="email" value="<%=.Model.email%>" /></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<!-- next start -->
		<div class="ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="javascript:history.back()" class="btn back">前の画面に戻る</a></p>
			<p class="arrow01_l_r"><input type="submit" value="送信する" class="btn next"/></p>

		</div>
<!-- next end -->
		</form>
<br class="release_b" />
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/passrim1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
