<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ポイント履歴の検索 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/bill1.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/index.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ImageNavigation.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/rollover.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script type="text/javascript">
	<!--
	$(function() {
	    $("#datepickerTo,#datepickerFrom").datepicker({
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+1y',             // 最大1年先の日付が選択可能
	        minDate: '-1y',             // 過去1年まで日付が選択可能
	    });
	});

	// -->
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;ポイント履歴の検索</p>
			</div>
<!-- breadcrumb navigatione end -->
<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_point01.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>ポイント履歴の検索</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/point2.asp">

<!-- table start -->
		<article>
			<h3><%=.Model.lname%>様のポイント履歴を表示します。</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt class="clearfix<ers:isError src="s_date1"> ERS_IVP_caution</ers:isError><ers:isError src="s_date2"> ERS_IVP_caution</ers:isError>">
						<label for="s_date1">検索期間の設定<br />(半角数字)</label>
					</dt>
					<dd><span class="dispError"><ers:dispError src="s_date1" /><ers:dispError src="s_date2" /></span>
						<input type="text" id="datepickerTo" name="s_date1" value="<ers:formatDate src=".Model.s_date1" />" />&nbsp;～&nbsp;
						<input type="text" id="datepickerFrom" name="s_date2" value="<ers:formatDate src=".Model.s_date2" />" />
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->

			<div class="ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn back">マイページへ戻る</a></p>
				<p class="arrow01_l_r"><input type="submit" value="次のステップへ進む" class="btn next"/>
				<input type="hidden" name="k_flg" value="<%=.k_flg%>" /></p>

			</div>

	</form>

<br class="release_b" />

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/point1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>