<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ポイント履歴の一覧 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">
<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/">マイページ</a>＞&nbsp;ポイント履歴の検索結果</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<img src="<%=.sec_url%>images/flow_point02.gif" alt="" />
		</div>
<!-- flow end -->

<!-- title start -->
			<h2>ポイント履歴の検索結果</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<article>
			<h3><ers:formatDate src=".Model.s_date1" value="yyyy/MM/dd" />～<ers:formatDate src=".Model.s_date2" value="yyyy/MM/dd" />の<%=.Model.lname%>様のポイント履歴です。<br />[詳細]ボタンを押すと伝票の詳細がご覧になれます。</h3>
			<table class="wide_type">
				<tr>
					<th>伝票番号</th>
					<th>ポイント更新日</th>
					<th>購入金額</th>
					<th>ご利用ポイント</th>
					<th>獲得ポイント</th>
					<th>所持ポイント</th>
					<th>伝票詳細</th>
				</tr>
<ers:isEqual src=".Model.RcCnt" value="0">
				<tr>
					<td colspan="7">指定の検索条件では対象となる履歴はありませんでした。</td>
				</tr>
</ers:isEqual>

<ers:foreach src=".Model.list" variable="pointHistory"  roopcounter="j">


				<tr>
					<td class="numberList">
<ers:isNotEqual src="pointHistory.d_no" value="">
                    <%=pointHistory.d_no%>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value=""> 
    <ers:isEqual src="pointHistory.display_type" value="Add">
                        店舗付与
    </ers:isEqual>
    <ers:isEqual src="pointHistory.display_type" value="Use">
                        店舗利用
    </ers:isEqual>
</ers:isEqual>
                    </td>
				        <td class="dateList"><ers:formatDate src="pointHistory.dt" ;></td>
				        <td class="bayTotal"><ers:formatCurrency src="pointHistory.total" /></td>
				        <td class="usePoint">
<ers:isEqual src="pointHistory.display_type" value="Use">
                            <ers:formatCurrency src="pointHistory.now_p" />
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isNotEqual>
                        </td>
				        <td class="getPoint">
<ers:isEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            <ers:formatCurrency src="pointHistory.now_p" />
</ers:isNotEqual>
                        </td>
				        <td class="havePoint"><ers:formatCurrency src="pointHistory.total_p" /></td>
					<td class="detailBtn">
<ers:isNotEqual src="pointHistory.d_no" value="">
					<form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
						<input type="hidden" name="d_no" value="<%=pointHistory.d_no%>">
						<input type="submit" value="詳細" class="btn02 gray_btn" />
					</form>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value="">
－
</ers:isEqual>
					</td>
				</tr>

</ers:foreach>

			</table>
		</article>
<!-- table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="javascript:history.back()" class="btn center_btn">前のページへ戻る</a></p>
			</div>
<!-- back end -->
<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/point2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
