<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>定期コースの確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/regular_bill.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">マイページ</a>＞&nbsp;定期コースの確認</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- callcenter start -->
	<div id="ERS_callcenter">
		<p>定期コースの変更、休止などのご要望は、お電話でのみ承っております。<br />
		お手数ですが、お届け日の10日前までにカスタマーサポートまでご連絡ください。<br /><br />
	</div>
<!-- news end -->


<!-- title start -->
			<h2>定期コースの確認</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:foreach src=".Model.orderRecordList" variable="record" roopcounter="i">
<!-- table start -->
		<article>
		<h3>定期購入商品【<%=record.bill_count%>】</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt>注文番号</dt>
					<dd><%=record.header.d_no%></dd>
				</dl>
				<dl class="clearfix">
					<dt>ご注文日</dt>
					<dd><ers:formatDate src="record.header.intime" value="yyyy年M月d日" /></dd>
				</dl>
				<dl class="clearfix">
					<dt>お届け先</dt>
					<dd>
						〒<%=record.header.zip%><br /><%=record.header.pref_name%>&nbsp;<%=record.header.address%>&nbsp;<%=record.header.taddress%>&nbsp;<%=record.header.maddress%>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt>お届期間</dt>
					<dd>
                    	<ers:isEqual src="record.send_ptn" value="1">
							<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_day_name %>
						</ers:isEqual>
						<ers:isEqual src="record.send_ptn" value="2">
							<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_interval_week %>週目の<%=record.ptn_weekday_name %>
						</ers:isEqual>
						<ers:isEqual src="record.send_ptn" value="3">
							<%=record.ptn_interval_day %>日ごと
						</ers:isEqual>
					</dd>


				</dl>
				<dl class="clearfix">
					<dt>次回お届け予定日</dt>
					<dd><ers:formatDate src="record.next_date" value="yyyy年M月d日" />（<%=record.next_date_weekday%>）</dd>
				</dl>
				<dl class="clearfix">
					<dt>次々回お届け予定日</dt>
					<dd><ers:formatDate src="record.next2_date" value="yyyy年M月d日" />（<%=record.next2_date_weekday%>）</dd>
				</dl>
				<dl class="clearfix">
					<dt>お届け希望時間</dt>
					<dd><%=record.next_sendtime_name%></dd>
				</dl>
				<dl class="clearfix">
					<dt>お支払い方法</dt>
					<dd><%=record.header.pay_name%></dd>
				</dl>
			</div>

			<div class="ERS_amount">
			<table>
				<tr>
					<th>商品番号</dt>
					<th>商品名</dt>
					<th class="price">単価</dt>
					<th class="amount">数量</dt>
					<th class="price">金額</dt>
				</tr>
				<tr>
					<td><%=record.scode%></td>
					<td><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=record.scode%>" target="_blank"><%=record.sname%></a></td>
					<td class="tankaList"><ers:formatCurrency src="record.price">円</td>
					<td class="countList"><%=record.amount%></td>
					<td class="totalList"><ers:formatCurrency src="record.total">円</td>
				</tr>
			</table>
			</div>
		</article>
<!-- table end -->
</ers:foreach>

			<div class="ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn center_btn">マイページへ戻る</a></p>
			</div>

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/regular_bill.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
