<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>マイページメニュー ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/user.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>>マイページ</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2>マイページ</h2>
			<span id="cookie_nickname"></span>
<!-- title end -->
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- box start -->
		<article>
			<h3 class="subtitle02">お買い物状況の確認</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/bill2.asp">ご購入履歴</a></li>
			<li><a href="<%=.sec_url%>top/member/asp/regular_bill.asp">定期コースの確認</a></li>
			<li><a href="<%=.sec_url%>top/member/asp/point1.asp">ポイント履歴</a></li>
			</ul>

			<h3 class="subtitle02">ウィッシュリスト</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/cart/asp/wishlist.asp">ウィッシュリスト</a></li>
			</ul>

			<h3 class="subtitle02">メールマガジンの配信・停止</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/mail1.asp">メールマガジンの設定を変更する</a></li>
			</ul>

			<h3 class="subtitle02">お客様のご登録情報</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/member1.asp">お客様情報を変更する</a></li>
			<li><a href="<%=.sec_url%>top/member/asp/address_list.asp">別お届け先を編集する</a></li>
			</ul>

			<h3 class="subtitle02">カード情報の変更</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/card1.asp">カード情報変更</a></li>
			</ul>

			<h3 class="subtitle02">サービスのご利用停止</h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/account_close1.asp">会員を退会する</a></li>
			</ul>
		</article>
		<article id="ERS_news">
		        <h2 class="subtitle03">お知らせ</h2>
				<ul>
					<li><a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=10000002" >お知らせ一覧</a></li>
				</ul>
			    <ers:foreach src=".Model.news_list" variable="news">
			        <p>
			            <span class="date">
			                <ers:isEqual src="news.template_code" value="6">
			                    <a href="<%=news.link_url_1 %>">
			                </ers:isEqual>
			                <ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
			                <ers:isEqual src="news.template_code" value="6">
			                    </a>
			                </ers:isEqual>
			            </span>
			            <!--<ers:nonencode src="news.title" />-->
			            <ers:isNotEqual src="news.template_code" value="6">
			                <a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&contents_code=<%=news.contents_code %>&template_code=<%=news.template_code %>"><%=news.title %></a>
			            </ers:isNotEqual>
			        </p>
			    </ers:foreach>
		</article>

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->
<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/user.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
