﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Batch Schedule</title>
</head>
<body>

    <span style="color:#f00"><ers:dispError /><ers:dispInfo /></span>

    <form action="execute_batch" method="post">
        <input type="submit" value="再読み込み" />
    </form>

    <table border="1">
        <tr>
            <th>execution_date</th>
            <th>execution_time</th>
            <th>details</th>
            <th>error_details</th>
            <th>utime</th>
            <th>status</th>
        </tr>
        <ers:foreach src=".Model.batchLogsList" variable="details">
            <tr>
                <td><%=details.execution_date %></td>
                <td><%=details.execution_time %></td>
                <td><%=details.details %></td>
                <td><%=details.error_details %></td>
                <td><%=details.utime %></td>
                <td><%=details.status %></td>
            </tr>
        </ers:foreach>
    </table>

    <br />
    <br />

    <table border="1">
        <tr>
            <th>バッチID</th>
            <th>バッチ名</th>
            <th>前回実行時間</th>
            <th>最終成功時間</th>
            <th>次回実行予定時間</th>
            <th>即時実行予定時間</th>
            <th>稼動状態</th>
            <th>即時実行</th>
        </tr>
        <ers:foreach src=".Model.batchList" variable="record">
            <tr>
                <td><%=record.batch_id %></td>
                <td><%=record.batch_name %></td>
                <td><span<ers:isEqual src="record.isRecently" value="true"> style="color:#f00"</ers:isEqual>><%=record.last_date %></span></td>
                <td><span<ers:isNotEqual src="record.last_success_date" variable="record.last_date"> style="color:#f00"</ers:isNotEqual>><%=record.last_success_date %></span></td>
                <td><%=record.schedule_date %></td>
                <td><span style="color:#f00"><%=record.immediate_date %></span></td>
                <td><%=record.w_active %></td>
                <td>
                    <form action="execute_batch_complete" method="post">
                        <input type="hidden" name="batch_id" value="<%=record.batch_id %>" />
                        <input type="submit" value="実行" />
                    </form>
                </td>
            </tr>
        </ers:foreach>
    </table>

</body>
</html>