<div id="ERS_sidemenu">
	<div>
		<ul>
<ers:foreach variable="menu" src=".sideModel.listHeaderNavigation" roopcounter="l">
		<li><a href="<%=.sec_url%>top/<%=menu.menu_id%>/asp/"><%=menu.menu_name%></a></li>
</ers:foreach>
		</ul>
	</div>
</div>
