		<div id="ERS_sidemenu">
			<div>
				<ul>
<ers:foreach variable="menu" src="partialModel.listMenu" roopcounter="l">
					<li><a href="<%=.sec_url%>top/<%=menu.controller_name%>/asp/<%=menu.method_name%>.asp"><span>・</span><ers:nonencode src="menu.func_name" /></a></li>
</ers:foreach>
				</ul>
			</div>
		</div>
