﻿    <script type="text/javascript" src="<%=.sec_url%>js/inquiry.js"></script>
<div class="MemberDetailForContact">
	<h3><ers:message code="search.ctsClientInfo.Title" /></h3>

	<table>
		<tr><th><ers:message code="inqmember_ctsClientInfoEdit_cusID" /></th><td><%=.Model.id%></td><th><ers:label code="mcode" /></th><td><%=.Model.mcode%></td></tr>
		<tr><th><ers:message code="inqmember_ctsClientInfoView_snameK" /></th><td><input name="lnamek" type="text" id="lnamek" maxlength="100" size="12" value="<%=.Model.lnamek%>" /></td><th><ers:message code="inqmember_ctsClientInfoView_fnameK" /></th><td><input name="fnamek" type="text" id="fnamek" maxlength="100" size="15" value="<%=.Model.fnamek%>" /></td></tr>
		<tr><th><ers:label code="lname" /></th><td><input name="lname" type="text" id="lname" maxlength="100" size="12" value="<%=.Model.lname%>" /></td><th><ers:label code="fname" /></th><td><input name="fname" type="text" id="fname" maxlength="100" size="15" value="<%=.Model.fname%>" /></td></tr>
		<tr>
			<th><ers:label code="common_address" /></th>
			<td class="address" colspan="3">
<span><ers:label code="zip" /></span><input name="zip" type="text" id="zip" maxlength="15" value="<%=.Model.zip%>" />
<input type="submit" class="form_btn" id="zip_flg1" name="zip_flg1" value="<ers:label code='zipsearch_back' />" /><br />
<span><ers:label code="pref" /></span><select id="pref" name="pref" class="w_150">
						<option value=""></option>
						<ers:foreach variable="pref_item" src=".Model.prefList">
							<option value="<%=pref_item.value%>"<ers:isEqual src="pref_item.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=pref_item.name%></option>
						</ers:foreach>
					</select><br />
<span><ers:label code="address" /></span><input name="address" type="text" id="address"  value="<%=.Model.address%>" /><br />
<span><ers:label code="taddress" /></span><input name="taddress" type="text" id="taddress"  value="<%=.Model.taddress%>" /><br />
<span><ers:label code="maddress" /></span><input name="maddress" type="text" id="maddress"  value="<%=.Model.maddress%>" />
			<td>
		</tr>
		<tr><th>E-mail</th><td colspan="3"><input name="email" type="text" id="email" maxlength="255" size="40" value="<%=.Model.email%>" /></td></tr>
		<tr>
			<th><ers:label code="tel" /></th><td><input name="tel" type="text" id="tel" maxlength="15" size="12" value="<%=.Model.tel%>" class="ime_disabled" /></td>
			<th><ers:message code="FAX_number" /></th><td><input name="fax" type="text" id="fax" maxlength="15" size="12" value="<%=.Model.fax%>"  class="ime_disabled" /></td>
		</tr>
        <tr>
            <th><ers:label code="birth" /></th>
            <td colspan="3">
                <select id="birthday_y" name="birthday_y" class="w_120" onfocus="defaultFocus(this)">
                    <option value=""></option>
                    <ers:foreach variable="option" src=".Model.birthday_yList">
                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
                    </ers:foreach>
                </select>&nbsp;<ers:label code="common_year" />&nbsp;
                <select id="birthday_m" name="birthday_m" class="w_50">
                    <option value=""></option>
                    <ers:foreach variable="option" src=".Model.birthday_mList">
                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
                </select>&nbsp;<ers:label code="common_month" />&nbsp;
                <select id="birthday_d" name="birthday_d" class="w_50">
                    <option value=""></option>
                    <ers:foreach variable="option" src=".Model.birthday_dList">
                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
                </select>&nbsp;<ers:label code="common_day" />
            </td>
        </tr>
		<tr>
			<th><ers:label code="sex" /></th>
			<td>
                <select id="sex" name="sex" class="w_100">
					<option value=""></option>
                        <ers:foreach variable="sex_item" src=".Model.sexList">
						    <option value="<%=sex_item.value%>"<ers:isEqual src="sex_item.value" variable=".Model.sex"> selected="selected"</ers:isEqual>><ers:message src="sex_item.name"/></option>
                        </ers:foreach>
				</select>

			</td>
			<th><ers:label code="job" /></th>
			<td>
                <select id="job" name="job" class="w_150">
					<option value=""></option>
                        <ers:foreach variable="job_item" src=".Model.jobList">
						    <option value="<%=job_item.value%>"<ers:isEqual src="job_item.value" variable=".Model.job"> selected="selected"</ers:isEqual>><%=job_item.name%></option>
                        </ers:foreach>
				</select>

			</td>
		</tr>
        <ers:isNotEqual src=".Model.mcode" value="">
		<tr><th><ers:label code="ques" /></th>
                <td colspan="3">
                    <select id="ques" name="ques" class="w_150">
					    <option value=""></option>
                            <ers:foreach variable="ques_item" src=".Model.quesList">
						        <option value="<%=ques_item.value%>"<ers:isEqual src="ques_item.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=ques_item.name%></option>
                            </ers:foreach>
				    </select>

                </td>
				</tr>
				<tr>
            <th><ers:label code="ans" /></th><td colspan="3"><input name="ans" type="text" id="ans" maxlength="50" size="20" value="<%=.Model.ans%>" /></td>
        </tr>
        </ers:isNotEqual>
		<tr>
            <th><ers:label code="common_DM_hope" /></th>
			<td>
				<!--<input type="radio" name="dm_flg" id="dm_on" value="1" <ers:isEqual src=".Model.dm_flg" value="1"> checked="checked"</ers:isEqual> /><label for="dm_on">要</label> 
                <input type="radio" name="dm_flg" id="dm_off" value="0" <ers:isEqual src=".Model.dm_flg" value="0"> checked="checked"</ers:isEqual> /><label for="dm_off">不要</label>-->
            
            	<input type="checkbox" name="dm_flg" id="dm_flg" value="1"<ers:IsEqual src=".Model.dm_flg" value="1"> checked</ers:IsEqual> />
            
            </td>
			<th><ers:label code="common_outbound_hope" /></th>
			<td>
				<!--<input type="radio" name="out_bound_flg" id="out_on" value="1" <ers:isEqual src=".Model.out_bound_flg" value="1"> checked="checked"</ers:isEqual> /><label for="out_on">要</label> 
                <input type="radio" name="out_bound_flg" id="out_off" value="0" <ers:isEqual src=".Model.out_bound_flg" value="0"> checked="checked"</ers:isEqual> /><label for="out_off">不要</label>-->
            	
            	<input type="checkbox" name="out_bound_flg" id="out_bound_flg" value="1"<ers:IsEqual src=".Model.out_bound_flg" value="1"> checked</ers:IsEqual> />
            	
            </td>
       <tr>
			<th><ers:label code="cust_note" /></th>
            <td colspan="4">
                <textarea name="memo" style="width:90%;font-size:12px;"><%=.Model.memo %></textarea>
            </td>
        </tr>
	</table>

    <script type="text/javascript">
        $("#blacklist").change(function () {
            var mtype = $("#blacklist").val();
            changeBG(mtype);
        });

        $(".MemberDetailForContact").ready(function () {
            var mtype = $("#blacklist").val();
            changeBG(mtype);
        });

        function changeBG(mtype) {
            switch (mtype) {
                case "":
                    $("td").css("background-color", "white");
                    break;
                case "0":
                    $("td").css("background-color", "#BBB7C0");
                    break;
                case "1":
                    $("td").css("background-color", "#838088");
                    break;
            };
        }
    </script>
	<div class="ButtonList">
		<td colspan="2" class="Button">
            <input type="hidden" name="id" value="<%=.Model.id%>" />
            <input type="hidden" name="pm_flg" value="<%=.Model.pm_flg%>" />
<ers:IsEqual src=".Model.mcode" value="">
            <input type="submit" name="renew" class="submit" value="<ers:label code='common_register' />" />
</ers:IsEqual>
<ers:IsNotEqual src=".Model.mcode" value="">
            <input type="submit" name="renew" class="submit" value="<ers:label code='common_modify' />" />
</ers:IsNotEqual>
            <input type="submit" name="cancel" class="submit" value="<ers:label code='common_cancel' />" />
		</td>
	</div>
</div>

