﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><ers:message code="inquiry_ctsCase_title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
</head>

<body style="height:0px; ">
    <form action="<%=.sec_url%>top/inqmember/asp/clientinfo.asp?mcode=<%=.Model.mcode%>" id="view" name="view" method="post">
        <input type="hidden" value="<%=.Model.edit%>" id="edit" />
        <ers:isEqual src=".Model.edit" value="false">
        <ers:partial file="../inqmember/ctsClientInfoView.htm" />
        </ers:isEqual>

        <ers:isEqual src=".Model.edit" value="true">
        <ers:partial file="../inqmember/ctsClientInfoEdit.htm" />
        </ers:isEqual>
    </form> 
</body>

</html>
