﻿<div class="MemberDetailForContact">
    <div class="CaseHeader">
    
        <h3><ers:message code="search.ctsClientInfo.Title" /></h3>
        
	    <table>
		    <tr><th><ers:message code="inqmember_ctsClientInfoEdit_cusID" /></th><td><%=.Model.id%></td><th><ers:label code="mcode" /></th><td><%=.Model.mcode%></td></tr>
		    <tr><th><ers:message code="inqmember_ctsClientInfoView_snameK" /></th><td><%=.Model.lnamek%></td><th><ers:message code="inqmember_ctsClientInfoView_fnameK" /></th><td><%=.Model.fnamek%></td></tr>
		    <tr><th><ers:label code="lname" /></th><td><%=.Model.lname%></td><th><ers:label code="fname" /></th><td><%=.Model.fname%></td></tr>
<!--
		    <tr><th>キャンペーンコード</th><td colspan="3"><%=.Model.ccode%></td></tr>
-->
		    <tr><th><ers:label code="common_address" /></th><td colspan="3"><%=.Model.zip%>&nbsp;<%=.Model.w_pref%><br /><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></td></tr>
		    <tr><th>E-mail</th><td colspan="3"><%=.Model.email%></td></tr>
		    <tr>
					<th><ers:label code="tel" /></th><td><%=.Model.tel%></td>
					<th><ers:label code="FAX_number" /></th><td><%=.Model.fax%></td>
				</tr>
		    <tr><th><ers:label code="birth" /></th><td><ers:formatDate src=".Model.birth" /></td><th><ers:label code="enq_progress" /></th><td><ers:isEqual src=".Model.deleted" value="NotDeleted"><ers:label code="member" /></ers:isEqual><ers:isEqual src=".Model.deleted" value="Deleted"><span style="color:Red;"><ers:message code="inqmember.ctsClientInfoView.unscrbd" /></span></ers:isEqual></td></tr>
		    <tr><th><ers:label code="sex" /></th><td><ers:message src=".Model.w_sex"/></td><th><ers:label code="job" /></th><td><%=.Model.w_job%></td></tr>
		    <tr><th><ers:label code="ques" /></th><td><%=.Model.w_ques%></td><th><ers:label code="ans" /></th><td><%=.Model.ans%></td></tr>
				<tr><th><ers:label code="common_DM_hope" /></th><td><ers:message src=".Model.dm_flg_desc"></td>
                    <th><ers:label code="common_outbound_hope" /></th><td><ers:message src=".Model.out_bound_flg_desc"/></td>
                </tr>
            <tr>
			    <th><ers:label code="cust_note" /></th>
                <td colspan="4">
                    <ers:multiLine src=".Model.memo" />
                </td>
            </tr>
	    </table>

	    <div class="ButtonList">
<ers:isNotEqual src=".Model.deleted" value="Deleted">
                <input type="submit" name="edit" class="submit" value="<ers:label code='common_edit' />" />
</ers:isNotEqual>
                <a href="#" id="merge"><input type="submit" name="merge" class="submit" value="<ers:message code='inqmember_ctsClientInfoView_merge' />" /></a>
                <script type="text/javascript">
                    $("#merge").click(function () {
                        window.open("<%=.sec_url%>merge", "Merge", "width=600,height=300,status=no,scrollbars=yes,directories=no,menubar=no,resizable=yes,toolbar=no");
                    });

                    $(".MemberDetailForContact").ready(function () {
                        var mtype = $("#blacklist").val();
                        switch (mtype) {
                            case "":
                                $("td").css("background-color", "white");
                                break;
                            case "0":
                                $("td").css("background-color", "#BBB7C0");
                                break;
                            case "1":
                                $("td").css("background-color", "#838088");
                                break;
                        };
                    });
                </script>
	    </div>

    </div>
</div>
<ers:IsEqual src=".Model.renew" value="true">
<script language="JavaScript"><!--
    (function () {
        window.parent.document.getElementById("caselist").contentDocument.location.href = "<%=.sec_url%>top/inquiry/asp/caselist.asp?mcode=<%=.Model.mcode%>";
    })();
// --></script>
</ers:IsEqual>
