﻿<table class="Detail">
        <tr>
                <td colspan="2">
            <a name="EditPaymentMethod">&nbsp;</a>
                <ers:message code="card_card_modify_new_card">
        </td>
        </tr>
<!--
<tr>
	<th class="w_100">カード名義（半角英数</th>
	<td class="w_250">
         <input type="text" class="w_150" name="card_holder_name" value="<%=.Model.card_holder_name%>" />
    </td>
</tr>
-->
<tr>
	<th><ers:label code="card"></th>
	<td>
		<select name="card_type">
            <option value=""></option>
            <ers:foreach variable="option" src=".Model.cardList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
            </ers:foreach>
		</select>
	</td>
</tr>
<tr>
	<th><ers:message code="card_card_index_card_no"></th>
	<td>
		<input type="text" class="w_150" name="cardno" maxlength="16" value="<%=.Model.cardno%>" />
	</td>
</tr>
<tr>
	<th><ers:message code="card_card_index_exp_date_byte"></th>
	<td>
		<select name="validity_y">
			<option value=""></option>
            <ers:foreach variable="option" src=".Model.card_yList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.validity_y"> selected="selected"</ers:isEqual>><%=option.value%></option>
            </ers:foreach>
		</select>
        &nbsp;<ers:label code="common_year">&nbsp;
		<select name="validity_m">
			<option value=""></option>
            <ers:foreach variable="option" src=".Model.card_mList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.validity_m"> selected="selected"</ers:isEqual>><%=option.value%></option>
            </ers:foreach>
		</select>
        &nbsp;月&nbsp;
	</td>
</tr>
<!--
<tr>
	<th>セキュリティNo</th>
	<td>
        <input type="text" class="w_150" name="securityno" maxlength="4" value="<%=.Model.securityno%>" />
    </td>
</tr>
-->
<tr>
	<th><ers:message code="card_card_modify_card_info_regist"></th>
	<td>
        <input type="checkbox" name="card_will_add" value="true" checked="checked" /><ers:message code="card.card_modify.Direction">
    </td>
</tr>


<tr>
    <td colspan="2">
        <input type="hidden" id="card_id" name="card_id" value="<%=.Model.card_id%>" />
        <input type="hidden" name="paymethod" value="1"/>
        <input type="hidden" name="pay" value="1" />
        <input type="hidden" name="is_edit_payment_method" value="1" />
        <ers:isEqual src=".Model.card_modify" value="true">
            <input type="submit" class="form_btn" name="card_update" value="<ers:label code='common_edit' />" />
        </ers:isEqual>
        <ers:isNotEqual src=".Model.card_modify" value="true">
            <input type="submit" class="form_btn" name="card_register" value="<ers:label code="common_register">" />
        </ers:isNotEqual>
        <input type="submit" class="form_btn" name="card_cancel" value="<ers:label code='common_cancel'>" />
    </td>
</tr>
</table>