﻿<table class="Detail">
<tr>

<tr>
    <th class="w_120"><ers:message code="card_card_index_pay_method_select"></th>
        <td class="w_260">
 
    <ers:foreach variable="option" src=".Model.payList">
        <ers:isEqual src="option.value" value="PAYPAL">
			<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%> "<ers:isEqual src="option.value" variable=".Model.paymethod"> checked="checked"</ers:isEqual> />&nbsp;
			<label for="pay<%=option.value%>" onclick="showhideCard()">
			<!-- PayPal Logo -->
			<a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
			 <img src="https://www.paypal.com/ja_JP/JP/i/logo/PayPal_mark_37x23.gif" border="0" alt="<ers:message code="pay.card_list.Paypal_image_alt">" style="margin-left: 0.5em;">
			</a>
			<!-- PayPal Logo -->
			</label><br />
        </ers:isEqual>
        <ers:isNotEqual src="option.value" value="PAYPAL">
			<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.paymethod"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>" onclick="showhideCard()"><%=option.name%></label><br />
        </ers:isNotEqual>

        <script type="text/javascript">
            $("#pay<%=option.value%>").click(function () {
                var paymethod = $("#pay<%=option.value%>").val();
                //                var params = $("#detail_entry_form").serialize();
                //                location.href = "<%=.sec_url%>top/regular/asp/regular.asp?paymethod=" + paymethod + "&is_edit_payment_method=1&" + params + "#EditPaymentMethod";
                if (paymethod == 1) {
                    document.getElementById("card_view").style.display = "block";
                } else {
                    document.getElementById("card_view").style.display = "none";
                }

                if (paymethod == 5) {
                    document.getElementById("conv_list").style.display = "block";
                }
                else {
                    document.getElementById("conv_list").style.display = "none";
                }
            });
        </script>

    </ers:foreach>

	</td>
</tr>
</table>
<table class="Detail" style="display:none;" id="card_view">
        <tr>
        <th class="w_120"><ers:message code="card_card_index_credit_card_select"></th>
        <td class="w_260">
            <select id="order_pay" style="width:260px; " name="card_id">
                <option value=""></option>
                <ers:foreach variable="option" src=".Model.membercardList">
                    <option value="<%=option.card_id%>"<ers:isEqual src="option.card_id" variable=".Model.card_id"> selected="selected"</ers:isEqual>>
                        <%=option.card_holder_name %> (<%=option.card_name %> <%=option.card_no%>)
                    </option>
                </ers:foreach>
<ers:isEqual src=".Model.newEntryFlg" value="true">
                <option value="9999"><ers:message code="pay_card_list_new_input"></option>
</ers:isEqual>
            </select>
<tr id="Tr1"><th><ers:label code="card"></th><td><span id="disp_card_type"></span></td></tr>
<tr id="Tr2"><th><ers:label code="cardno"></th><td><span id="disp_cardno"></span></td></tr>
<tr id="Tr3"><th><ers:message code="card_card_index_exp_date"></th><td><span id="disp_validity_y"></span>&nbsp;<span id="disp_validity_m"><!--<%=.Model.savedCardInfo.validity_m%>--></span></td></tr>
<tr><td colspan="2">
    <ers:message code="card.card_list.Direction">
            <div style="text-align:right"><input type="button" name="card_edit" value="<ers:label code='common_edit' />" onclick="exec_card_modify();" <ers:isEqual src=".Model.status" value="Stopped">disabled="disabled"</ers:isEqual>/><input type="button" name="card_delete" value="<ers:label code='common_delete' />" onclick="exec_card_delete();" <ers:isEqual src=".Model.status" value="Stopped">disabled="disabled"</ers:isEqual>/></div>
</td></tr>

        </td>
    </tr>
</table>

  <script type="text/javascript">
var loadComplete = false;
//カード変更時の処理
function selectCardChange(select_value){
		var formObj = document.entry_form;
		if (select_value == 9999){
        }else if(select_value == ""){
            document.getElementById("disp_card_type").innerHTML = '';
            document.getElementById("disp_cardno").innerHTML = '';
            document.getElementById("disp_validity_y").innerHTML = '';
            document.getElementById("disp_validity_m").innerHTML = '';
<ers:foreach variable="option" src=".Model.membercardListExtend">
		}else if (select_value == <%=option.card_id%>){
            document.getElementById("disp_card_type").innerHTML = '<%=option.card_name%>';
            document.getElementById("disp_cardno").innerHTML = '<%=option.card_no%>';
            document.getElementById("disp_validity_y").innerHTML = '<%=option.validity_y%>&nbsp;年';
            document.getElementById("disp_validity_m").innerHTML = '<%=option.validity_m%>&nbsp;月';
</ers:foreach>
		}
}
    //カード変更
    $("#order_pay").change(function () {
        var card_seq = $("#order_pay").val();
        var params = $("#detail_entry_form").serialize();
        if (card_seq == 9999) {
            location.href = "<%=.sec_url%>top/regular/asp/regular.asp?card_new=true&paymethod=1&is_edit_payment_method=1&" + params + "#EditPaymentMethod";
        }
        else if(card_seq == "")
        {
            selectCardChange(card_seq);
        }
        else {
            selectCardChange(card_seq);
//            location.href = "<%=.sec_url%>top/regular/asp/regular.asp?paymethod=1&is_edit_payment_method=1&" + params + "#EditPaymentMethod";
        }
    });
    //削除
    function exec_card_delete(){
        if (confirm("カード情報を削除します、よろしいですか？")) 
        {
            var card_seq = $("#order_pay").val();
            var params = $("#detail_entry_form").serialize();
            location.href = "<%=.sec_url%>top/regular/asp/regular.asp?card_delete=true&paymethod=1&is_edit_payment_method=1&" + params + "#EditPaymentMethod";
        }else{
                    //submit処理を実行飛ばさない
                    return false;
        }
    }
    //Modify Card
    function exec_card_modify(){
            var card_seq = $("#order_pay").val();
            var params = $("#detail_entry_form").serialize();
            location.href = "<%=.sec_url%>top/regular/asp/regular.asp?card_new=true&card_modify=true&paymethod=1&is_edit_payment_method=1&" + params + "#EditPaymentMethod";
    }
</script>
<ers:isEqual src=".Model.paymethod" value="1">
<script type="text/javascript">
    document.getElementById("card_view").style.display = "block";
    selectCardChange($("#order_pay").val());
</script>
</ers:isEqual>

<!--conv_list start-->
        <div id="conv_list" style="display:none;">
            <table class="Detail" id="ConvPayment">
                <tr>
			        <th><ers:label code="conv_code"></th>
                    <td style="width:400px;">
                        <select id="conv_code" style="width:400px; " name="conv_code">
                            <option value=""><ers:label code="common_please_select"></option>
<ers:foreach variable="option" src=".Model.convenienceList">
						    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
</ers:foreach>
                        </select>
                        <br />
                    </td>
		        </tr>
	        </table>
        <br />


        </div>
<!--card_list end-->
