﻿<div id="registration_dialog" style="display:none;">
    <p><ers:message code='common.RegisterMsg1' /></p>
</div>

<script type="text/javascript">
    
    $(function () {
        $(".regist").click(function () {
            openDialog("registration", $(this));
        });

    });

    function openDialog(message, data) {
        var objButton = $("#" + message + "_dialog").data("objButton");

        dialogData(message);

        $("#" + message + "_dialog").data("objButton", data);
        $("#" + message + "_dialog").dialog('open');
    }

    function dialogData(message) {
        $("#" + message + "_dialog").dialog({
            autoOpen: false,
            bgiframe: true,
            resizable: false,
            height: 140,
            modal: true,

            buttons: {
                "<ers:label code='common_ok'/>": function () {
                    var objButton = $("#" + message + "_dialog").data("objButton");                    
                    $(this).dialog('close');
                    $("#faqRegist").submit();
                             
                },

                "<ers:label code='common_cancel'/>": function () {
                    $(this).dialog('close');
                    $("#" + message + "_dialog").data("objButton", null);
                }
            },

            close: function () {
                $("#" + message + "_dialog").data("objButton", null);
            }
        });
    }

</script>
<div class="FaqTemplate">
	<div class="Detail">
        <ers:isEqual src=".Model.openRegist" value="true">
		    <h3><ers:message code="faq.FQATemplate.faq"/></h3>

            <form method="post" action="<%=.sec_url%>faq/regist" name="faqRegist" id="faqRegist">
            <table>
			    <tr>
				    <th><ers:message code="faq.FQATemplate.regUp"/></th>
				    <td><%=.Model.intime%></td>
			    </tr>
			    <tr>
				    <th><ers:message code="th_in_case"/></th>
				    <td>
                    <input name="faq_casename" type="text" id="faq_casename" maxlength="30" size="15" value="<%=.Model.faq_casename%>"/>
                    </td>
			    </tr>
			    <tr>
                    <ers:isEqual src=".Model.showCat1" value="true">
				    <th><%=.Model.catlabel1%></th>
				    <td>
                        <select class="w_200" id="cate1" name="cate1">
                            <option value=""></option>
                            <ers:foreach src=".Model.CateList1" variable="cate_item" >
                                <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate1"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                            </ers:foreach>
                        </select>
				    </td>
                    </ers:isEqual>
			    </tr>
			    <tr>
                    <ers:isEqual src=".Model.showCat2" value="true">
				    <th><%=.Model.catlabel2%></th>
				    <td>
                        <select class="w_200" id="cate2" name="cate2">
                            <option value=""></option>
                            <ers:foreach src=".Model.CateList2" variable="cate_item" >
                                <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate2"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                            </ers:foreach>
                        </select>
				    </td>
                    </ers:isEqual>
			    </tr>
			    <tr>
                    <ers:isEqual src=".Model.showCat3" value="true">
				    <th><%=.Model.catlabel3%></th>
				    <td>
                        <select class="w_200" id="cate3" name="cate3">
                            <option value=""></option>
                            <ers:foreach src=".Model.CateList3" variable="cate_item" >
                                <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate3"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                            </ers:foreach>
                        </select>
				    </td>
                    </ers:isEqual>
			    </tr>
			    <tr>
                    <ers:isEqual src=".Model.showCat4" value="true">
				    <th><%=.Model.catlabel4%></th>
				    <td>
                        <select class="w_200" id="cate4" name="cate4">
                            <option value=""></option>
                            <ers:foreach src=".Model.CateList4" variable="cate_item" >
                                <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate4"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                            </ers:foreach>
                        </select>
				    </td>
                    </ers:isEqual>
			    </tr>
			    <tr>
                    <ers:isEqual src=".Model.showCat5" value="true">
				    <th><%=.Model.catlabel5%></th>
				    <td>
                        <select class="w_200" id="cate5" name="cate5">
                            <option value=""></option>
                            <ers:foreach src=".Model.CateList5" variable="cate_item" >
                                <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate5"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                            </ers:foreach>
                        </select>
				    </td>
                    </ers:isEqual>
			    </tr>

			    <tr>
				    <th><ers:label code="csv_content"/></th>
				    <td>
                            <textarea id="faq_text" name="faq_text" rows="6" cols="40"><%=.Model.faq_text%></textarea>
				    </td>
			    </tr>
			    <tr>
				    <th><ers:label code="ans_detail"/></th>
				    <td>
                            <textarea id="faq_text2" name="faq_text2" rows="6" cols="40"><%=.Model.faq_text2%></textarea>
				    </td>
			    </tr>
			    <tr>
				    <td colspan="2" class="Button">
                        <input type="hidden" name="id" value="<%=.Model.id%>" />
                        <input type="hidden" name="active" value="<%=.Model.active%>" />
                        <input type="hidden" name="intime" value="<%=.Model.intime%>" />
                        <input type="hidden" name="user_id" value="<%=.Model.user_id%>" />
                        <input type="hidden" name="search" value="1" />
                        <input type="hidden" name="regist" value="false" id="regist" />

                        <input type="button" name="sel_detail" class="submit" value="<ers:label code='common_sel_detail'/>" onclick="selected_template(); " />
                        <input type="button" name="back" class="submit" value="<ers:label code='common_back'/>" onclick="returnTemplate();" />
                        <input type="button" name="regist" class="submit regist" onclick="document.getElementById('regist').value = true;" value="<ers:label code='faq.register'/>"/>
				    </td>
                    
			    </tr>
		    </table>
                <script>
                    function selected_template(){
                        var param = {};
                        param.enq_detail = $('textarea[name="faq_text"]').val();
                        param.ans_detail = $('textarea[name="faq_text2"]').val();

                        if(window.opener.set_template){
                            window.opener.set_template(param);
                        }

                        window.close();
                    }

                    function returnTemplate(){
                        var search_condition = "?cate1=" + $('select[name="cate1"]').val() || '';
                        search_condition += "&cate2=" + $('select[name="cate2"]').val() || '';
                        search_condition += "&cate3=" + $('select[name="cate3"]').val() || '';
                        search_condition += "&cate4=" + $('select[name="cate4"]').val() || '';
                        search_condition += "&search=1";

                        window.location= '<%=.sec_url%>faq/template' + search_condition;
                    }                    
                </script>
            </form> 
        </ers:isEqual> 
	</div>

</div> 
