﻿<div class="FaqTemplate">
	<div class="SearchResult">
        <ers:isnotEqual src=".Model.recordCount" value="0">
		<h3 name="faqListHeader"><ers:message code="faq.FQATemplate.faqlist"/></h3>
		    <table>
                <tr>
				    <th width="25%"><ers:message code="th_in_case"/></th>
				    <th width="50%"><ers:label code="mail_body"/></th>
				    <th width="25%"><ers:label code="creation_date"/></th>
	            </tr>
                <ers:foreach src=".Model.searchList" variable="record">
			        <tr class="__faq_list">
                        <input type="hidden" name="id" value="<%=record.id%>" />
                        <td class="__faq_casename"><a href="<%=.sec_url%>faq/regist?id=<%=record.id%>" target="_parent"><%=record.faq_casename%></a></td>
                        <td class="__faq_text"><%=record.faq_text%></td>
                        <td class="__intime"><%=record.intime%></td>
			        </tr>
                </ers:foreach>
		    </table>
        </ers:isnotEqual>
	</div>
    <ers:partial file="footer.htm" />
</div> 