﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="faq.FQATemplate.title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
</head>

<body>
    <div id="Whole">
        <table align="center" cellpadding="0" cellspacing="0" id="FrameTypePopup">
            <tr valign="top">
		        <td id="MiddleZone">
			        <div class="FaqTemplate">
		                <div class="Search">
                            <ers:isnotEqual src=".Model.openRegist" value="true">
			                <h3><ers:message code="faq.FQATemplate.title"/></h3>

                            <form  action="<%=.sec_url%>faq/template" name="search" id="search" method="post">
			                    <table>
				                    <tr>
                                        <ers:isEqual src=".Model.showCat1" value="true">
					                    <th><%=.Model.catlabel1%></th>
					                    <td>
                                            <select class="w_200" id="cate1" name="cate1">
                                                <option value=""></option>
                                                <ers:foreach src=".Model.CateList1" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate1"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
					                    </td>
                                        </ers:isEqual>
				                    </tr>
				                    <tr>
                                        <ers:isEqual src=".Model.showCat2" value="true">
					                    <th><%=.Model.catlabel2%></th>
					                    <td>
                                            <select class="w_200" id="cate2" name="cate2">
                                                <option value=""></option>
                                                <ers:foreach src=".Model.CateList2" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate2"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
					                    </td>
                                        </ers:isEqual>
				                    </tr>
				                    <tr>
                                        <ers:isEqual src=".Model.showCat3" value="true">
					                    <th><%=.Model.catlabel3%></th>
					                    <td>
                                            <select class="w_200" id="cate3" name="cate3">
                                                <option value=""></option>
                                                <ers:foreach src=".Model.CateList3" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate3"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
					                    </td>
                                        </ers:isEqual>
				                    </tr>
				                    <tr>
                                        <ers:isEqual src=".Model.showCat4" value="true">
					                    <th><%=.Model.catlabel4%></th>
					                    <td>
                                            <select class="w_200" id="cate4" name="cate4">
                                                <option value=""></option>
                                                <ers:foreach src=".Model.CateList4" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate4"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
					                    </td>
                                        </ers:isEqual>
				                    </tr>
				                    <tr>
                                        <ers:isEqual src=".Model.showCat5" value="true">
					                    <th><%=.Model.catlabel5%></th>
					                    <td>
                                            <select class="w_200" id="cate5" name="cate5">
                                                <option value=""></option>
                                                <ers:foreach src=".Model.CateList5" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate5"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
					                    </td>
                                        </ers:isEqual>
				                    </tr>
				                    <tr>
					                    <th><ers:message code="inquiry_ctsSearchCase_keyword"/></th>
					                    <td>
                                            <input name="keywords" type="text" id="keywords" size="50" value="<%=.Model.keywords%>" maxlength="255" />

					                    </td>
					                    </tr>
<!--                                 
                                    <tr>
                                        <th>コールセンター利用</th>
                                        <td>
                                            <select class="w_200" id="Select1" name="cate5">
                                                <ers:foreach src=".Model.CateList5" variable="cate_item" >
                                                    <option value="<%=cate_item.value%>"<ers:isEqual src="cate_item.value" variable=".Model.cate5"> selected="selected"</ers:isEqual>><%=cate_item.name%></option>
                                                </ers:foreach>
                                            </select>
                                        </td>
                                    </tr>
//-->
			                        <tr>
					                    <td colspan="2" class="Button">
                                            <input type="submit" name="search" class="submit __search_btn" value="<ers:label code='common_search'/>" />
                                            <input type="submit" name="reset" class="submit" value="<ers:label code='common_reset'/>" />
                                            <input type="submit" name="newregist" class="submit" value="<ers:message code='btn_signup'>" />
					                    </td>
				                    </tr>
			                    </table>
                                
                            </form> 

                            </ers:isnotEqual>

                            <div>
                                <ers:partial file="../faq/FAQSearch.htm" />

                                <ers:partial file="../faq/FAQRegist.htm" />
                            </div>                    
		                </div>
                    </div> 
		        </td>
	        </tr>
            <tr>
                <td>
                    <script type="text/javascript">
                        $("#regist").click(function () {
                            var params = $("#faqRegist").serialize();
                            location.href = "<%=.sec_url%>faq/regist?" + params;

                            var faqText = $("#faq_text").val();
                            var faqText2 = $("#faq_text2").val();
                            var faq = new Object();
                            faq.text1 = faqText;
                            faq.text2 = faqText2;
                            if (window.opener) {
                                window.opener.returnValue = faq;
                            }
                            window.returnValue = faq;
                            window.close();
                        });
                    </script>
                </td>
            </tr>
            <tr>
		        <td id="FootZone" style="margin-top:10px;text-align:center;">
                    <input type="submit" value="<ers:message code='cts_NonReadAgent_close_btn'/>" class="submit __close_btn" onclick="parent.window.close();" />
                </td>
	        </tr>
        </table>
    </div>
    <ers:partial file="footer.htm" />
 </body>

</html>
