﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%=.browser_title%></title>
<link rel="stylesheet" href="<%=.nor_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<!--<link rel="stylesheet" href="<%=.nor_url%>css/error.css" type="text/css" title="base_layout" media="screen,print" />-->
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="<%=.nor_url%>top/news/asp/rss1.xml" />
<script type="text/javascript" src="<%=.nor_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.nor_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.nor_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- globalnavi start -->
<ers:partial file="g_navi/index.htm" />
<!-- globalnavi end -->


<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- title start -->
		<div id="ERS_title">
			<h2><ers:message code="common_ErrorMsg.Title"/></h2>
		</div>
<!-- title end -->

<!-- error start -->
		<div class="ERS_error clearfix">
			<p><ers:message code="common_ErrorMsg1"><br /><span><ers:dispError src="All" /></span><p>
		</div>
<!-- error end -->

<ers:isNotEqual src=".returnUrl" value="none">
<ers:isNotEqual src=".Model.isNoBackTo" value="true">
<ers:isEqual src=".returnUrl" value="">
<!-- back start -->
		<div class="ERS_back">
			<p><a class="back_button" href="javascript:history.back()"><input type="button" value="<< <ers:label code='common_back'/>" class="btn01" /></a></p>
		</div>
<!-- back end -->
</ers:isEqual>
</ers:isNotEqual>

<ers:isNotEqual src=".returnUrl" value="">
<!-- back start -->
		<div class="ERS_back">
			<form method="post" action="<%=.returnUrl%>">
                <input type="hidden" name="eck" value="1" />
				<p>
					<input type="submit" value="<< <ers:label code='common_back'>" class="btn01" alt="<ers:label code='common_back'>" />
				</p>
			</form>
		</div>
<!-- back end -->
</ers:isNotEqual>
</ers:isNotEqual>

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt'/>" id="ctl00_Img1" alt="<ers:message code='common.ImageAlt'/>" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />
</div>
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:isError src="exception_detail">
		<p style="background-color:White;white-space:nowrap;"><ers:dispError src="exception_detail" /></p>
</ers:isError>
</body>
</html>
