	<div id="page_top"><p><a href="#ERS_wrapper" class="icon-chevron-up"></a></p></div>
	<div id="ERS_footer" class="clearfix">
		<h2><img src="<%=.sec_url%>images/footer.gif" alt="IVP" />Copyright &copy; <script type="text/javascript">document.write(new Date().getYear() + 1900);</script> IVP. All Rights Reserved.</h2>
	</div>
<div id="ers_page_loaded"></div>
<ers:MiniProfiler comment="Generate tags for displaying the profile by MiniProfier" />