	<div id="ERS_header" class="clearfix">
		<h1><form method="post" action="<%=.sec_url%>"><input type="image" alt="ERS V6" src="<%=.sec_url%>images/header.png" style="cursor:auto;"/></form></h1>
		<p><img src="<%=.sec_url%>images/logo.png" alt=""  /></p>
		<ul>
            <li><ers:partial file="lang.htm" partialModel=".langModel" /></li>
		    <li><a class="__common_logout" href="<%=.sec_url%>top/login/asp/logoutaction.asp"><ers:label code="common_logout"/></a></li>
			<li><a href="<%=.sec_url%>top/login/asp/pass_change.asp"><ers:label code="common_change_password"/></a></li>
		</ul>
	</div>
