﻿        <tr>
			<th><ers:message code="cms.cms_free_select_templete.Head"></th>
			<td colspan="2">
			    <table class="side">
				    <tr style="border-left-style: solid; border-left-width:thin; border-left-color:silver;">
					    <th></th>
					    <th><span style="width:280px;float:left;"><ers:message code="cms.cms_free_select_templete.Head"></span></th>
				    </tr>
			        <tr>
			            <td style="border-left-style: solid; border-left-width:thin; border-left-color:silver;">
                            <input class="chk" id="chk_all_template" type="button" name="" value="<ers:message code='partial.template.selectall'>" /><br />
				            <input class="chk" id="chk_none_template" type="button" name="" value="<ers:message code='partial.template.full'>" />
			            </td>
			            <td style="border-left:1px solid #CCCCCC">
                            <ers:foreach variable="list" src=".Model.templateList" roopcounter="i">
				                <span style="width:140px;float:left;">
                                    <image src="<%=.sec_url%>images/<%=list.template_img_file_path%>" width="80px" /><br />
                                    <input class="item_chk" type="checkbox" name="available_template" value="<%=list.value%>"<ers:isEqual src="list.isChecked" value="true"> checked="checked"</ers:isEqual> /><%=list.name%>
                                </span>
                            </ers:foreach>
			            </td>
                    </tr>
		        </table>
            </td>
	    </tr>
