﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='member.account_close1.Title' /> ｜ <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->
<!-- container start -->
	<div class="l-container clearfix">
<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member_my_page' /></a>＞&nbsp;<ers:message code='member.account_close1.Title' /></p>
			</div>
<!-- breadcrumb navigatione end -->
<!-- title start -->
			<h2><ers:message code='member.account_close1.Title' /></h2>
<!-- title end -->
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
<!-- table start -->
		<article class="m-article">
			<p><ers:message code="member.account_close1.Instruction" /></p>
			<h3><ers:message code="member.account_close1.Title" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><label><ers:label code="common_name" /></label></dt>
					<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="name_kana" /></label></dt>
					<dd><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="compname" /></label></dt>
					<dd><%=.Model.compname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="comp_name_kana" /></label></dt>
					<dd><%=.Model.compnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="division" /></label></dt>
					<dd><%=.Model.division%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="div_name_kana" /></label></dt>
					<dd><%=.Model.divisionk%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="email" /></label></dt>
					<dd><%=.Model.email%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="tel" /></label></dt>
					<dd><%=.Model.tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="fax_no" /></label></dt>
					<dd><%=.Model.fax%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="zip" /></label></dt>
					<dd><%=.Model.zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="pref" /></label></dt>
					<dd><%=.Model.w_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="address" /></label></dt>
					<dd><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></dd>
				</dl>
			</div>
		</article>
<!-- table end -->
			<form method="post" action="<%=.sec_url%>top/member/asp/account_close2.asp" id="form2" name="form2">
			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-back"><ers:message code="back_page" /></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:label code='btn_unsubscribe'/>" class="m-btn m-next"/></p>
			</div>
			</form>
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->
	<!-- sidemenu2 start -->
	<ers:partial file="hint2/account_close1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm" />
</body>
</html>
