﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="edit_other_shipping_address" /> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/address1.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp"><ers:message code="edit_other_shipping_address" /></a>＞&nbsp;<ers:message code="edit_other_shipping_address" /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol>
				<li class="flow1 current"><span><ers:message code="edit_other_shipping_address" /></span></li>
				<li class="flow2"><span><ers:message code="confrm_other_shipping_addr" /></span></li>
				<li class="flow3"><span><ers:message code="complete_other_shipping_addr" /></span></li>
			</ol>
		</div>
<!-- flow end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/address2.asp" name="entry_form">


<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<article class="m-article">
			<h3><ers:message code="member.address1.MsgOtherShipAddress" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="address_name"> m-ERS_IVP_caution</ers:isError>">
						<label for="address_name"><span class="m-ERS_IVP_color">*</span><ers:message code="other_shipping_address" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="address_name" /></span>
						<input type="text" class="address_name" name="address_name" value="<%=.Model.address_name%>" />
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_lname"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_fname"> m-ERS_IVP_caution</ers:isError>">
						<label for="add_lname"><span class="m-ERS_IVP_color">*</span><ers:label code="common_name" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="add_lname" /><ers:dispError src="add_fname" /></span>
						<label for="add_lname" class="sp_block">　<ers:label code="common_lastname" /><input type="text" class="add_lname" name="add_lname" value="<%=.Model.add_lname%>" /></label>
						<label for="add_fname" class="sp_block">　<ers:label code="common_firstname" /><input type="text" class="add_fname" name="add_fname" value="<%=.Model.add_fname%>" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_lnamek"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_fnamek"> m-ERS_IVP_caution</ers:isError>">
						<label for="add_lnamek"><ers:message code="phonetic_kana" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="add_lnamek" /><ers:dispError src="add_fnamek" /></span>
						<label for="add_lnamek" class="sp_block"><ers:message code="sei" /><input type="text" class="add_lnamek" name="add_lnamek" value="<%=.Model.add_lnamek%>" /></label>
						<label for="add_fnamek" class="sp_block"><ers:message code="mei" /><input type="text" class="add_fnamek" name="add_fnamek" value="<%=.Model.add_fnamek%>" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_tel"> m-ERS_IVP_caution</ers:isError>">
						<label for="add_tel"><span class="m-ERS_IVP_color">*</span><ers:message code="phone_byte" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="add_tel" /></span>
						<input type="text" class="add_tel" name="add_tel" value="<%=.Model.add_tel%>" />
						<span class="ex"><ers:message code="member.address1.MsgPhoneSampleInput" /></span></dd></dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_zip"> m-ERS_IVP_caution</ers:isError>">
						<label for="add_zip"><span class="m-ERS_IVP_color">*</span><ers:message code="zip_byte" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="add_zip" /></span>
						<input type="text" id="add_zip" class="add_zip" name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" />&nbsp;<a href="" id="zip_flg2" name="zip_flg2" ><ers:message code="auto_input" /></a>
                        <p id="add_zip_search_error" class="err" style="display:none"></p>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="add_pref"> m-ERS_IVP_caution</ers:isError>">
						<label for="add_pref"><span class="m-ERS_IVP_color">*</span><ers:label code="pref" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="add_pref" /></span>
					<select id="add_pref" class="add_pref" name="add_pref">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="add_in<ers:isError src="add_address"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_taddress"> m-ERS_IVP_caution</ers:isError><ers:isError src="add_maddress"> m-ERS_IVP_caution</ers:isError>">
						<span class="m-ERS_IVP_color">*</span><ers:message code="address" />
					</dt>
					<dd class="end">
						<div class="add_in<ers:isError src="add_address"> m-ERS_IVP_caution_none</ers:isError>">
							<span class="m-dispError"><ers:dispError src="add_address" /></span>
							<label for="add_address"><ers:label code="address" /></label>
							<input type="text" id="add_address" class="add_address" name="add_address" value="<%=.Model.add_address%>" />
						</div>
						<div class="add_in <ers:isError src="add_taddress"> m-ERS_IVP_caution_none</ers:isError>">
							<span class="m-dispError"><ers:dispError src="add_taddress" /></span>
							<label for="add_taddress"><ers:message code="add_condo" /></label>
							<input type="text" id="add_taddress" class="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" />
						</div>
						<div class="add_in <ers:isError src="add_maddress"> m-ERS_IVP_caution_none</ers:isError>">
							<span class="m-dispError"><ers:dispError src="add_maddress" /></span>
							<label for="add_maddress"><ers:message code="other" /></label>
							<input type="text" id="add_maddress" class="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" />
						</div>
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->
<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/address_list.asp" class="m-btn m-back"><ers:label code="common_return_back" /></a></p>
			<p class="arrow01_l_r">
				<input type="submit" value="<ers:label code='common_proceed_next' />" class="m-btn m-next" name="submit_btn1"/>
				<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
				<input type="hidden" name="id" value="<%=.Model.id%>" />
			</p>

		</div>
<!-- next start -->

<br class="release_b" />

	</form>

<!-- ssl_alert start-->
		<div class="m-ERS_ssl_alert">
				<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end-->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/address1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
