﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='member.address_list.otherAddress' /> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address_list.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start test-->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.address_list.otherAddress' /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code='member.address_list.otherAddress'></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<article class="m-article">
			<h3><ers:message code='member.address_list.otherAddressReg'></h3>
				<table class="m-wide_type" id="address_table">
				<tr style="display:table-row;">
					<th><ers:message code='other_addr'></th>
					<th><ers:message code='name'></th>
					<th><ers:message code='address'></th>
					<th class="w_100"></th>
				</tr>

<ers:foreach src=".Model.list" variable="addressInfo" roopcounter="j">
				<tr>
					<td class="js-add_info"><%=addressInfo.address_name%></td>
					<td class="js-add_info"><%=addressInfo.add_lname%> <%=addressInfo.add_fname%></td>
			        <td class="js-add_info"><%=addressInfo.w_add_pref%> <%=addressInfo.add_address%> <%=addressInfo.add_taddress%> <%=addressInfo.add_maddress%></td>
			                <td class="g-w_p17">
			                   	<form method="post" action="<%=.sec_url%>top/member/asp/address_delete.asp">
							<input type="hidden" name="id" value="<%=addressInfo.id%>">
							<input type="submit" value="削除" class="m-btn02 m-gray_btn">
						</form><br>
						<form method="post" action="<%=.sec_url%>top/member/asp/address1.asp">
							<input type="hidden" name="id" value="<%=addressInfo.id%>">
							<input type="submit" value="修正" class="m-btn02 m-green_btn">
						</form>
			                </td>
				</tr>
</ers:foreach>
			</table>
		</article>
<!-- table end -->
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager">
<!-- page_send end -->

<br class="release_b">

<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-back"><ers:message code='back_page'></a></p>
			<form method="post" action="<%=.sec_url%>top/member/asp/add_address1.asp">
				<p class="arrow01_l_r"><input type="submit" value="<ers:message code='add_other_addr'>" class="m-btn m-next"/></p>
			</form>

		</div>
<!-- next end -->

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/address_list.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.js-add_info').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,25}/g).join("<br/>");
        $(this).html(cut);
    });
</script>
 
</body>
</html>
