﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="confrm_other_shipping_addr" /> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address2.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp"><ers:message code="edit_other_shipping_address" /></a>＞&nbsp;<ers:message code="confrm_other_shipping_addr" />
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol>
				<li class="flow1"><span><ers:message code="edit_other_shipping_address" /></span></li>
				<li class="flow2 current"><span><ers:message code="confrm_other_shipping_addr" /></span></li>
				<li class="flow3"><span><ers:message code="complete_other_shipping_addr" /></span></li>
			</ol>
		</div>
<!-- flow end -->


<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<article class="m-article">
			<h3><ers:message code="member.address2.TitleConfrmOtherShipAddr" /></label></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><label><ers:message code="other_shipping_address" /></label></dt>
					<dd><%=.Model.address_name%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="common_name" /></label></dt>
					<dd><%=.Model.add_lname%>&nbsp;<%=.Model.add_fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="name_kana" /></label></dt>
					<dd><%=.Model.add_lnamek%>&nbsp;<%=.Model.add_fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="tel" /></label></dt>
					<dd><%=.Model.add_tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="zip" /></label></dt>
					<dd><%=.Model.add_zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="pref" /></label></dt>
					<dd><%=.Model.w_add_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="address" /></label></dt>
					<dd class="end"><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<div class="bandn">

<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<form method="post" action="<%=.sec_url%>top/member/asp/address3.asp" name="entry_form">
				<p class="arrow01_l_r">
					<input type="submit" value="<ers:label code='common_register' />" class="m-btn m-next" name="submit_btn2"/>
				</p>
			</form>
			<form method="post" action="<%=.sec_url%>top/member/asp/address1.asp">
				<p class="arrow02_l_l">
					<input type="submit" value="<ers:label code='common_return_back' />" class="m-btn m-back"/>
                    <input type="hidden" name="eck" value="1" />
				</p>
			</form>
		</div>
<!-- next start -->

</div>

<!-- ssl_alert start-->
		<div class="m-ERS_ssl_alert">
				<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end-->
		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/address2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
