﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="member.address_delete.Title" /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/address_delete.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">
<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/address_list.asp"><ers:message code="member.address1.TitleOtherShipAddress" /></a>＞&nbsp;<ers:message code="member.address_delete.Title" /></p>
			</div>
<!-- breadcrumb navigatione end -->

	<form method="post" action="address_delete2.asp" name="entry_form">

<!-- title start -->
			<h2><ers:message code="member.address_delete.Title" /></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<article class="m-article">
			<h3><ers:message code="member.address_delete.Title" /></h3>
			<p><ers:message code="member.address_delete.Desc" /></p>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><ers:message code="other_addr" /></dt>
					<dd><%=.Model.address_name%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:label code="common_name" /></dt>
					<dd><%=.Model.add_lname%>&nbsp;<%=.Model.add_fname%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:message code="furigana" /></dt>
					<dd><%=.Model.add_lnamek%>&nbsp;<%=.Model.add_fnamek%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:label code="tel" /></dt>
					<dd><%=.Model.add_tel%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:label code="zip"/></ers:label></dt>
					<dd><%=.Model.add_zip%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:label code="pref" /></dt>
					<dd><%=.Model.w_add_pref%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:message code="address" /></dt>
					<dd><%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%></dd>
				</dl>
			</table>
		</article>
<!-- table end -->
			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/address_list.asp" class="m-btn m-back"><ers:label code="common_return_back" /></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:label code='btn_delete'/>" name="regist_submit" class="m-btn m-next"/></p>


			</div>

	</form>

<!-- ssl_alert start-->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end-->
		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/address_delete.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm" />
</body>
</html>
