﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><ers:message code='member.bill3.OrderConfirm'/> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/bill3.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />

    <script type="text/javascript">
        $(document).ready(function () {

            if ($("input[name='pointMode']").val() == "True") {
                $(".js-backForm").attr("action", "<%=.sec_url%>top/member/asp/point2.asp");
                $("#flow_img").attr("src", "<%=.sec_url%>images/flow_point03.gif");  // Not found
            }
        });
    </script>

</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
			    <p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'/></a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/bill2.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.bill2.Search'></a>＞&nbsp;<ers:message code='member.bill3.OrderConfirm'/></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol class="col2">
				<li class="flow1"><ers:message code='member.bill2.Search'></li>
				<li class="flow2 current"><ers:message code='member.bill3.OrderConfirm'/></li>
			</ol>
		</div>
<!-- flow end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
<article class="m-article">
<!-- table start -->
<!-- orderheader start -->
    <ers:partial file="orderheader.htm" />
<!-- orderheader end -->

<!-- orderrecord start -->
    <ers:partial file="orderrecord.htm" />
<!-- orderrecord end -->

<!-- orderkingaku start -->
    <ers:partial file="orderkingaku.htm" />
<!-- orderkingaku end -->
</article>
<form method="post" class="js-backForm" action="<%=.sec_url%>top/member/asp/bill2.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">
			<div class="m-ERS_btn clearfix">          
                <p class="arrow02_l_l"><input type="submit" value="<ers:label code='common_return_back' />" class="m-btn m-back"/></p>
				<p class="arrow01_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-next"><ers:message code='back_page'></a></p>
			</div>
</form>
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/bill3.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.sname a').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,45}/g).join("<br/>");
        $(this).html(cut).append('<br />');
    });
</script>
</body>
</html>
