﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><ers:message code='member.bill2.Search'/> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
    <link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
    <!--<link rel="stylesheet" href="<%=.sec_url%>css/bill1.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
    <script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

    <script type="text/javascript">
	<!--
	$(function() {
	    $(".js-datepickerTo,.js-datepickerFrom").datepicker({
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	    });
	});

	// -->
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">
<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.bill2.Search'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol class="col2">
				<li class="flow1 current"><ers:message code='member.bill2.Search'></li>
				<li class="flow2"><ers:message code='member.bill3.OrderConfirm'/></li>
			</ol>
		</div>
<!-- flow end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError />

	<form method="post" action="<%=.sec_url%>top/member/asp/bill2.asp" group_name = "none">

<!-- table start -->
		<article class="m-article">
			<h3><%=.Model.lname%><ers:message code='member.bill2.find'></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="s_date1"> m-ERS_IVP_caution</ers:isError><ers:isError src="s_date2"> m-ERS_IVP_caution</ers:isError>"><label for="s_date1"><ers:message code='search_set'></label></dt>
					<dd class="g-imp_pad-t6 g-imp_pad-b6 g-imp_pad-r0 g-imp_pad-l5"><span class="m-dispError"><ers:dispError src="s_date1" /><ers:dispError src="s_date2" /></span>
						<input type="text" class="js-datepickerFrom datepickerFrom datepicker_start" name="s_date1" value="<ers:formatDate src=".Model.s_date1" />" />～&nbsp;<input type="text" class="js-datepickerTo datepickerTo datepicker_end" name="s_date2" value="<ers:formatDate src=".Model.s_date2" />" />
                        <input type="submit" value="<ers:label code='common_search' />"/>
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->
</form>

<ers:dispInfo />

<!-- table start -->
		<article class="m-article js-bill2">
			<h3><ers:formatDate src=".Model.s_date1" value="yyyy年M月d日" />～<ers:formatDate src=".Model.s_date2" value="yyyy年M月d日" />の<%=.Model.lname%><ers:message code='member.bill2.likeHistory'></h3>
			<p><ers:message code='member.bill2.SingleNote'></p>
<!-- order start -->
            <ers:partial file="order.htm" />
<!-- order end -->
		</article>
<!-- table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
<br class="release_b" />

			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.sec_url%>top/member/asp" class="m-btn m-center_btn"><ers:label code='common_return_back' /></a></p>
			</div>

<br class="release_b" />
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->
	<!-- sidemenu2 start -->
	<ers:partial file="hint2/bill2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />


    <script>
        $(document).ready(function () {
            if ($("article").hasClass("js-bill2")) {
                $("table").addClass("m-orderbill");

            }
        });
    </script>
</body>
</html>
