﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="member_change_card_info" /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/member1.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

    <script type="text/javascript">
        function displayUpdate(card_id) {
            $("[name^=delete_card]").show();
            $("[name^=modify_card]").hide();
            $("[name=delete_card" + card_id + "]").hide();
            $("[name=modify_card" + card_id + "]").show();
        }
        function changeUrl(val, mode) {
            var dform = $(".js-delete_form");
            var url = dform.attr("action") + "?card_id=" + val + "&" + mode + "=true";
            dform.attr("action", url);
            dform.submit();
            return false;
        }
    </script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<ers:message code="member_change_card_info" /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code="member.card1.TitleChangeCardInfo" /></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" class="js-delete_form">
<ers:table src=".Model.listCardInfo" variable="list" name="listCardInfo" record_key="record_key">
<div name="delete_card<%=list.card_id%>"<ers:isEqual src=".Model.modify_submit" value="true"><ers:isEqual src="list.card_id" variable=".Model.card_id"> style="display:none;"</ers:isEqual></ers:isEqual>>
			<article class="m-article">
			<p style="margin:20px 0 0 20px;"><ers:message code="member.card1.MsgCreditCardReg" /></p>
				<h3><ers:message code="member.card1.TitleRegCardInfo" /></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><ers:label code="card_type" /></dt>
						<dd><%=list.saved_card_name%></dd>
					</dl>
					<dl class="clearfix">
						<dt><ers:label code="cardno" /></dt>
						<dd><%=list.saved_card_no%></dd>
					</dl>
					<dl class="clearfix">
						<dt><ers:message code="card_expiration_date" /></dt>
						<dd><%=list.saved_validity_y%>年<%=list.saved_validity_m%>月</dd>
					</dl>
				</div>
			</article>

			<div class="m-ERS_btn clearfix">
				<p class="arrow01_l_r"><input type="button" name="modify_submit" value="<ers:label code='common_change' />" class="m-btn m-green_btn" onclick="displayUpdate('<%=list.card_id%>')"/></p>
				<p class="arrow02_l_r"><input type="button" name="delete_submit" value="<ers:label code='btn_delete' />" class="m-btn m-gray_btn" onclick="changeUrl(<%=list.card_id%>, 'delete_submit')" /></p>
			</div>
</div>
<div name="modify_card<%=list.card_id%>"<ers:isNotEqual src="list.card_id" variable=".Model.card_id"> style="display:none;"</ers:isNotEqual><ers:isNotEqual src=".Model.modify_submit" value="true"> style="display:none;"</ers:isNotEqual>>
			<article class="m-article">
			<p style="margin:20px 0 0 20px;"><ers:message code="member.card1.MsgCreditCardReg" /></p>
				<h3><ers:message code="member.card1.TitleRegCardInfo" /></h3>
			    <div class="m-table_box">
				    <dl class="clearfix">
					    <dt class="<ers:isError src="card_type" model="list"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:label code="card_type" /></dt>
					    <dd><span class="m-dispError"><ers:dispError src="card_type" model="list" /></span>
						    <select class="Select1" name="<%=record_key%>card_type">
							    <option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="list.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						    </select>
					    </dd>
				    </dl>
				    <dl class="clearfix">
					    <dt class="<ers:isError src="card_no" model="list"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="card_number_required" /></dt>
					    <dd><span class="m-dispError"><ers:dispError src="card_no" model="list" /></span>
					    <input type="text" class="Text1" name="<%=record_key %>card_no" maxlength="16" value="<%=list.card_no%>" />
					    <span class="ex"><ers:message code="member.card1.InputSample" /></span></dd>
				    </dl>
				    <dl>
					    <dt class="<ers:isError src="validity_y" model="list"> m-ERS_IVP_caution</ers:isError><ers:isError src="validity_m" model="list"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="card_expiration_date_validation" /></dt>
					    <dd><span class="m-dispError"><ers:dispError src="validity_y" model="list" /><ers:dispError src="validity_m" model="list" /></span>
					    <input type="text" class="Text2" maxlength="4" name="<%=record_key %>validity_y" value="<%=list.validity_y%>" />年<input type="text" class="Text3" maxlength="2" name="<%=record_key %>validity_m" value="<%=list.validity_m%>" /><ers:label code="common_month" />
						<span class="ex">入力例)&nbsp;2020年05月</span>
					    </dd>
				    </dl>
			    </div>
			</article>

			<div class="m-ERS_btn clearfix">
				<p class="center arrow01_l_r"><input type="button" value="<ers:label code='common_proceed_next' />" name="modify_submit" class="m-btn m-next" onclick="changeUrl(<%=list.card_id%>, 'modify_submit')" /></p>
			</div>

</div>
</ers:table>
	</form>

<ers:isEqual src=".Model.newEntryFlg" value="true">
	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" name="entry_form">
		<article class="m-article">
			<h3><ers:message code="member.card1.MsgNewRegCard" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="card_type"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:label code="card_type" /></dt>
					<dd><span class="m-dispError"><ers:dispError src="card_type" /></span>
						<select class="card_type" name="card_type">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="card_no"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="card_number_required" /></dt>
					<dd><span class="m-dispError"><ers:dispError src="card_no" /></span>
					<input type="text" class="card_no" name="card_no" maxlength="16" value="<%=.Model.card_no%>" />
					<span class="ex"><ers:message code="member.card1.InputSample" /></span></dd>
				</dl>
				<dl>
					<dt class="<ers:isError src="validity_y"> m-ERS_IVP_caution</ers:isError><ers:isError src="validity_m"> m-ERS_IVP_caution</ers:isError>"><span class="m-ERS_IVP_color">*</span><ers:message code="card_expiration_date_validation" /></dt>
					<dd><span class="m-dispError"><ers:dispError src="validity_y" /><ers:dispError src="validity_m" /></span>
					<input type="text" class="validity_y" maxlength="4" name="validity_y" value="<%=.Model.validity_y%>" />年<input type="text" class="validity_m" maxlength="2" name="validity_m" value="<%=.Model.validity_m%>" />月</dd>
				</dl>
			</div>
		</article>
			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-back"><ers:label code="common_go_back_my_page" /></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:label code='common_proceed_next' />" name="entry_submit" class="m-btn m-next"/></p>


			</div>
	</form>
</ers:isEqual>
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/card1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
