﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <ers:isEqual src=".Model.modify_submit" value="true"><title><ers:message code="member_change_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><title><ers:message code="member_delete_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><title><ers:message code="member_entry_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<ers:isEqual src=".Model.modify_submit" value="true"><ers:message code="member_change_card_info" /></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><ers:message code="member_delete_card_info" /></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><ers:message code="member_entry_card_info" /></ers:isEqual></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
	<ers:isEqual src=".Model.modify_submit" value="true"><h2><ers:message code="member.card1.TitleChangeCardInfo" /></h2></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><h2><ers:message code="member.card2.TitleDeleteCardInfo" /></h2></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><h2><ers:message code="member.card2.TitleEntryCardInfo" /></h2></ers:isEqual>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- box start -->
		<div class="m-ERS_box">
			
	<ers:isEqual src=".Model.modify_submit" value="true"><p><ers:message code="member.card2.MsgCredCardChanged" /></p></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><p><ers:message code="member.card2.MsgCredCardDeleted" /></p></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><p><ers:message code="member.card2.MsgCredCardRegistered" /></p></ers:isEqual>
		</div>
<!-- box end -->

<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp" class="m-btn m-center_btn"><ers:label code="common_go_back_my_page" /></a></p>
			</div>
<!-- back end -->
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/card3.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
