﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
    <ers:isEqual src=".Model.modify_submit" value="true"><title><ers:message code="member_change_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><title><ers:message code="member_delete_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><title><ers:message code="member_entry_card_info" /> ｜ <%=.browser_title%></title></ers:isEqual>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/member1.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code="member_my_page" /></a>＞&nbsp;<ers:isEqual src=".Model.modify_submit" value="true"><ers:message code="member_change_card_info" /></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><ers:message code="member_delete_card_info" /></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><ers:message code="member_entry_card_info" /></ers:isEqual></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			

	<ers:isEqual src=".Model.modify_submit" value="true"><h2><ers:message code="member.card1.TitleChangeCardInfo" /></h2></ers:isEqual>
    <ers:isEqual src=".Model.delete_submit" value="true"><h2><ers:message code="member.card2.TitleDeleteCardInfo" /></h2></ers:isEqual>
    <ers:isEqual src=".Model.entry_submit" value="true"><h2><ers:message code="member.card2.TitleEntryCardInfo" /></h2></ers:isEqual>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
			<article class="m-article">
			<p><ers:message code="member.card2.MsgCreditCardRegUpdate" /></p>
			<h3><ers:message code="member.card2.TitleRegistPerson" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><label><ers:label code="card_type" /></label></dt>
					<dd><%=.Model.confirm_card_type%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:label code="card_no" /></label></dt>
					<dd><%=.Model.confirm_cardno%></dd>
				</dl>
				<dl class="clearfix">
					<dt><label><ers:message code="card_expiration_date" /></label></dt>
					<dd><%=.Model.confirm_validity_y%>年<%=.Model.confirm_validity_m%>月</dd>
				</dl>

			</div>
		</article>
			<div class="m-ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>top/member/asp/card3.asp" name="entry_form">
					<p class="arrow01_l_r">
						<input type="submit"
			                <ers:isEqual src=".Model.modify_submit" value="true">name="modify_submit" value="<ers:message code='update' />" </ers:isEqual>
			                <ers:isEqual src=".Model.delete_submit" value="true">name="delete_submit" value="<ers:label code='btn_delete' />" </ers:isEqual>
			                <ers:isEqual src=".Model.entry_submit" value="true">name="entry_submit" value="<ers:label code='common_register' />" </ers:isEqual>
							 class="m-btn m-next"/>
					</p>
				</form>
				<form method="post" action="<%=.sec_url%>top/member/asp/card1.asp" name="entry_form">
					<p class="arrow02_l_l">
						<input type="hidden" name="eck" value="1" />
							<input type="submit" name="" value="<ers:message code='go_back_to_prev_page' />"  class="m-btn m-back"/>
					</p>
				</form>
			</div>

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/card2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
