﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>メルマガ設定 ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.mail1.mailSetting'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol>
				<li class="flow1 current"><span><ers:message code='member.mail1.mailSetting'></span></li>
				<li class="flow2"><span><ers:message code='member.mail2.mailSettingConfirm'></span></li>
				<li class="flow3"><span><ers:message code='member.mail3.mailSettingComplete'></span></li>
			</ol>
		</div>
<!-- flow end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

		<form method="post" action="<%=.sec_url%>top/member/asp/mail2.asp">
<!-- table start -->
		<article class="m-article">
			<!--<h3><%=.Model.lname%>様の現在のメールマガジン設定です。</h3>-->
			<div class="m-table_box">
				<dl class="clearfix<ers:isError src="m_flg"> m-ERS_IVP_caution</ers:isError>">
					<dt><ers:label code='setting_list' /></dt>
					<dd><span class="m-dispError"><ers:dispError src="m_flg" /></span>
<ers:foreach variable="option" src=".Model.m_flgList">
					<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual > />
					&nbsp;<label for="m_flg<%=option.value%>"><ers:message src="option.name"/></label>
</ers:foreach>
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->

			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-back"><ers:message code='back_page'></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:message code='next_page'>" class="m-btn m-next"/></p>


			</div>

<br class="release_b" />

		</form>

<!-- ssl_alert start-->
		<div class="m-ERS_ssl_alert">
				<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>

<!-- ssl_alert end-->


		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/mail1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
