﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='member.mail2.mailSettingConfirm'> | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.mail2.mailSettingConfirm'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
		<div class="m-ERS_flow">
			<ol>
				<li class="flow1"><span><ers:message code='member.mail1.mailSetting'></span></li>
				<li class="flow2 current"><span><ers:message code='member.mail2.mailSettingConfirm'></span></li>
				<li class="flow3"><span><ers:message code='member.mail3.mailSettingComplete'></span></li>
			</ol>
		</div>
<!-- flow end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/mail3.asp">
		<article class="m-article">
			<p><ers:message code='member.mail2.mailSettingmsg'></p>
			<div class="m-table_box">
				<dl class="clearfix">
		                    <dt><label><ers:label code='setting_list' /></label></dt>
		                    <dd><ers:message src=".Model.w_m_flg"/></dd>
				</dl>

			</div>
		</article>
<!-- table end -->

			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="javascript:history.back()" class="m-btn m-back"><ers:message code='page_prev_back'></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:message code='change'>" class="m-btn m-next"/></p>
			</div>


		</form>

<!-- ssl_alert start-->
		<div class="m-ERS_ssl_alert">
				<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>
<!-- ssl_alert end-->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/mail2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
