﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="member.passchange2.Title"/>｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />

    <script>
    $('.js-error_screen').find('span').each(function () {
        if ($(this).text().length !== 0) {
            $(this).find('dt').each(function () {
                $(this).css('cssText', 'background-color:#b8d200 !important');
            });
        }
    });
    </script>
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="member.passchange2.Title"/></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code="member.passchange2.Title"/></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
    
<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/passchange3.asp" id="form2" name="form2">
		<article class="m-article">
			<h3><ers:message code="member.passchange2.newPw"/></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<!--D=password1-->m-ERS_IVP_caution<!--D=password1-->">
						<label for="test"><span class="m-ERS_IVP_color">*</span><ers:label code="passwd"/><br /><ers:label code="common_pass_character"/></label>
					</dt>
					<dd>
						<input type="password" class="passwd" name="passwd" value="" autocomplete="off" />
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="">
						<label for="passwd_confirm"><span class="m-ERS_IVP_color">*</span><ers:label code="passwd_confirm"/><br /><ers:label code="common_pass_character"/></label>
					</dt>
					<dd>
						<ers:label code="common_enter_confirm"/><br /><input type="password" class="passwd_confirm" name="passwd_confirm" value="" autocomplete="off" />
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->


		<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="javascript:history.back()" class="m-btn m-back"><ers:label code="common_return_back"/></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:label code='common_change'/>" class="m-btn m-next" name="submit_passwd"/></p>

		</div>


		</form>

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL"/></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/passchange2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
