﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="member.passrim1.Title"/> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="member.passrim1.Title"/></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code="member.passrim1.Title"/></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/passrim2.asp" id="form2" name="form2">
		<article class="m-article">
			<h3><ers:message code="member.passrim.urlReset"/><br /><ers:message code="member.passrim.credentials"/></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="lname">m-ERS_IVP_caution</ers:isError><ers:isError src="fname"> m-ERS_IVP_caution</ers:isError>"><label for="lname"><ers:label code="common_name"/></label></dt>
					<dd>
                        <span class="m-dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
                        <label for="lname" class="sp_block"><ers:label code="common_lastname"/><input type="text" class="lname" name="lname" value="<%=.Model.lname%>" style="width:33%" /></label>
					    <label for="fname" class="sp_block"><ers:label code="common_firstname"/><input type="text" class="fname" name="fname" value="<%=.Model.fname%>" style="width:33%" /></label>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="email">m-ERS_IVP_caution</ers:isError>"><label for="email"><ers:message code="member_passrim_eadd"/></label></dt>
					<dd><span class="m-dispError"><ers:dispError src="email" /></span>
					<input class="email" type="text" name="email" value="<%=.Model.email%>" /></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<p class="arrow02_l_l"><a href="javascript:history.back()" class="m-btn m-back"><ers:label code="common_return_back"/></a></p>
			<p class="arrow01_l_r"><input type="submit" value="<ers:label code='common_send'/>" class="m-btn m-next"/></p>

		</div>
<!-- next end -->
		</form>
<br class="release_b" />
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL"/></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/passrim1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm" />
</body>
</html>
