﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="member.passrim2.Title"/> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="member.passrim2.Title"/> </p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code="member.passrim2.completedMsg"/></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- box start -->
	<div class="m-ERS_box">
		<p><ers:message code="member.passrim2.completedMsgContent"/></p>
		<p><ers:message code="member.passrim2.destination"/>：<%=.Model.email%></p>
	</div>
<!-- box end -->

<br class="release_b" />

<ers:isEqual src=".Model.onVex" value="true">
    <div style="text-align:center">
        <a href="<%=.Model.changeUrl %>">【VEX用　パスワード変更画面へ遷移】</a>
    </div>
    <br /><br />
</ers:isEqual>

<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.nor_url%>" class="m-btn m-center_btn"><ers:label code="common_back_to_home"/></a></p>
			</div>
<!-- back end -->

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color">※<ers:message code="common.SSL"/></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/passrim2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm" />
</body>
</html>
