﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="point_search" /> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
	<link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/bill1.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<script src="<%=.sec_url%>js/index.js"></script>
	<script src="<%=.sec_url%>js/ImageNavigation.js"></script>
	<script src="<%=.sec_url%>js/rollover.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
	<!--
	$(function() {
	    $(".js-datepickerTo,.js-datepickerFrom").datepicker({
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+1y',             // 最大1年先の日付が選択可能
	        minDate: '-1y',             // 過去1年まで日付が選択可能
	    });
	});

	// -->
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">マイページ</a>＞&nbsp;<ers:message code="point_search" /></p>
			</div>
<!-- breadcrumb navigatione end -->
<!-- flow start -->
		<div class="m-ERS_flow">
			<h2><img src="<%=.sec_url%>images/flow_point01.gif" alt="" /></h2>
		</div>
<!-- flow end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/point2.asp">

<!-- table start -->
		<article class="m-article">
			<h3><%=.Model.lname%><ers:message code="member.point2.pointHistoryMsg" /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="clearfix<ers:isError src="s_date1"> m-ERS_IVP_caution</ers:isError><ers:isError src="s_date2"> m-ERS_IVP_caution</ers:isError>">
						<label for="s_date1"><ers:message code="search_set_byte" /></label>
					</dt>
					<dd><span class="m-dispError"><ers:dispError src="s_date1" /><ers:dispError src="s_date2" /></span>
						<input type="text" class="js-datepickerTo datepickerTo" name="s_date1" value="<ers:formatDate src=".Model.s_date1" />" />&nbsp;～&nbsp;
						<input type="text" class="js-datepickerFrom datepickerFrom" name="s_date2" value="<ers:formatDate src=".Model.s_date2" />" />
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->

			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-back"><ers:message code="back_page" /></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:message code='next_page' />" class="m-btn m-next"/>
				<input type="hidden" name="k_flg" value="<%=.k_flg%>" /></p>

			</div>

	</form>

<br class="release_b" />

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code="common.SSL" /></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/point1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>