﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><ers:message code='member.point2.pointHistory'> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description">
	<meta name="keywords" content="ERSv7_keywords">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<ers:partial file="header_favicon.htm">
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
    <link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/bill1.css">-->
    <link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.custom.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

    <script type="text/javascript">
	<!--
	$(function() {
	    $(".js-datepickerTo,.js-datepickerFrom").datepicker({
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	    });
	});

	// -->
	</script>

	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm">
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm">
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.point2.pointHistory'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript"></p>
		</div>
	</noscript>
<!-- noscript end -->


			<h2><ers:message code='member.point2.pointHistory'></h2>
<form method="post" action="<%=.sec_url%>top/member/asp/point2.asp" group_name = "none">

<!-- table start -->
		<article class="m-article">
			<h3><%=.Model.lname%><ers:message code='member.point2.pointHistoryMsg'></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="clearfix<ers:isError src="s_date1"> m-ERS_IVP_caution</ers:isError><ers:isError src="s_date2"> m-ERS_IVP_caution</ers:isError>">
						<label for="s_date1"><ers:message code='search_set_byte'></label>
					</dt>
					<dd  class="g-imp_pad-t6 g-imp_pad-b6 g-imp_pad-r0 g-imp_pad-l5"><span class="m-dispError"><ers:dispError src="s_date1"><ers:dispError src="s_date2"></span>
						<input type="text" class="js-datepickerTo datepickerTo" name="s_date1" value="<ers:formatDate src=".Model.s_date1">">&nbsp;～&nbsp;
						<input type="text" class="js-datepickerFrom datepickerFrom" name="s_date2" value="<ers:formatDate src=".Model.s_date2">">
                        <input type="submit" value="<ers:label code='common_search'>">
					</dd>
				</dl>
			</div>
		</article>
<!-- table end -->
</form>
<!-- table start -->
		<article class="m-article">
			<h3><ers:formatDate src=".Model.s_date1" value="yyyy/MM/dd">～<ers:formatDate src=".Model.s_date2" value="yyyy/MM/dd">の<%=.Model.lname%><ers:message code='member.point2.pointHistoryMsg2'></h3>
			<table class="m-wide_type">
				<tr>
					<th><ers:label code='d_no'></th>
					<th><ers:message code='point_update'></th>
					<th><ers:message code='purchase_price1'></th>
					<th><ers:message code='partial_orderkingaku_avail_pt'></th>
					<th><ers:message code='earned_points'></th>
					<th><ers:message code='owned_points'></th>
					<th><ers:message code='voucher_details'></th>
				</tr>
<ers:isEqual src=".Model.RcCnt" value="0">
				<tr>
					<td colspan="7"><ers:message code='member.point2.NoHistory'></td>
				</tr>
</ers:isEqual>

<ers:foreach src=".Model.list" variable="pointHistory"  roopcounter="j">


				<tr>
					<td class="numberList">
<ers:isNotEqual src="pointHistory.d_no" value="">
                    <%=pointHistory.d_no%>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value=""> 
    <ers:isEqual src="pointHistory.display_type" value="Add">
                        <ers:message code='store_grant'>
    </ers:isEqual>
    <ers:isEqual src="pointHistory.display_type" value="Use">
                        <ers:isNotEqual src="pointHistory.reason" value="">
                        <%=pointHistory.reason%>
                        </ers:isNotEqual>
                        <ers:isEqual src="pointHistory.reason" value="">
                        <ers:message code='store_use'>
                        </ers:isEqual>
    </ers:isEqual>
</ers:isEqual>
                    </td>
				        <td class="dateList"><ers:formatDate src="pointHistory.dt" ></td>
				        <td class="bayTotal"><ers:formatCurrency src="pointHistory.total" ></td>
				        <td class="usePoint">
<ers:isEqual src="pointHistory.display_type" value="Use">
    <ers:formatNumber src="pointHistory.now_p">
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isNotEqual>
                        </td>
				        <td class="getPoint">
<ers:isEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            <ers:formatNumber src="pointHistory.now_p">
</ers:isNotEqual>
                        </td>
				        <td class="havePoint"><ers:formatNumber src="pointHistory.total_p"></td>
					<td class="detailBtn">
<ers:isNotEqual src="pointHistory.d_no" value="">
					<form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
						<input type="hidden" name="d_no" value="<%=pointHistory.d_no%>">
						<input type="submit" value="<ers:message code='partial_common_detail' />" class="m-btn02 m-gray_btn">
					</form>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value="">
－
</ers:isEqual>
					</td>
				</tr>
</ers:foreach>

			</table>
		</article>
<!-- table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager">
<!-- page_send end -->

<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="javascript:history.back()" class="m-btn m-center_btn"><ers:label code='common_return_back'></a></p>
			</div>
<!-- back end -->
<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>
<!-- ssl_alert end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/point2.htm">
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm">
</body>
</html>
