﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='member.regular_bill.review'> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/regular_bill.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>"><ers:message code='member.member1.mypage'></a>＞&nbsp;<ers:message code='member.regular_bill.review'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- callcenter start -->
	<div id="ERS_callcenter">
		<p><ers:message code='member.regular_bill.msg1'><br />
		<ers:message code='member.regular_bill.msg2'><br /><br />
	</div>
<!-- news end -->


<!-- title start -->
			<h2><ers:message code='member.regular_bill.review'></h2>
            <h3><a href="regular_bill.asp"><ers:message code='reg_course'></a>&nbsp&nbsp｜&nbsp&nbsp <ers:message code='reg_course_can'></h3>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
<ers:dispInfo />
<ers:foreach src=".Model.orderRecordList" variable="record" roopcounter="i">
<!-- table start -->
		<article class="m-article">
		<h3><ers:message code='partial_subs_prod' />【<%=record.bill_count%>】</h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt><ers:label code='orderno' /></dt>
					<dd><%=record.header.d_no%></dd>
				</dl>
				<dl class="clearfix">
					<dt><ers:message code='partial_order_date' /></dt>
					<dd><ers:formatDate src="record.header.intime" value="yyyy年M月d日" /></dd>
				</dl>
                <ers:isEqual src="record.deleteDateDispFlg" value="true">
				    <dl class="clearfix">
					    <dt><ers:message code='regular_cancellation_date' /></dt>
					    <dd><ers:formatDate src="record.delete_date" value="yyyy年M月d日" /></dd>
				    </dl>
                </ers:isEqual>

				<dl class="clearfix">
					<dt><ers:message code='regular_delivery_period' /></dt>
					<dd>
                    	<ers:isEqual src="record.send_ptn" value="1">
                            <ers:message code="cart.basket_regular.SendPtn1" value="record.ptn_interval_month" /> &nbsp;  <ers:message src="record.ptn_day_name"/>
						</ers:isEqual>
						<ers:isEqual src="record.send_ptn" value="2"> 
							<!--<ers:message code="cart.basket_regular.SendPtn2" value="record.ptn_interval_month, record.ptn_interval_week, record.ptn_weekday_name" />-->
                            <ers:message code="cart.basket_regular.SendPtn1" value="record.ptn_interval_month" />&nbsp;  <ers:message code="cart.basket_regular.SendPtn2" value="record.ptn_interval_week" />&nbsp;<ers:message src="record.ptn_weekday_name" />
						</ers:isEqual>
						<ers:isEqual src="record.send_ptn" value="3"> 
							<ers:message code="cart.basket_regular.SendPtn3" value="record.ptn_interval_day" />
						</ers:isEqual>
					</dd>
				</dl>
			</div>

			<div class="m-ERS_amount">
			<table>
				<tr>
					<th><ers:label code='scode' /></th>
					<th><ers:label code='sname' /></th>
					<th class="price"><ers:label code='unit_price' /></th>
					<th class="amount"><ers:label code='amount' /></th>
					<th class="price"><ers:message code='regular_amount' /></th>
				</tr>
				<tr>
					<td><%=record.scode%></td>
					<td><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=record.scode%>" target="_blank"><%=record.sname%></a></td>
					<td class="tankaList"><ers:formatCurrency src="record.price"></td>
					<td class="countList"><%=record.amount%></td>
					<td class="totalList"><ers:formatCurrency src="record.total"></td>
				</tr>
			</table>
			</div>
		</article>
<!-- table end -->
</ers:foreach>

			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="m-btn m-center_btn"><ers:message code='back_page'></a></p>
			</div>

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/regular_bill_c.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
