﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><ers:message code='pageTitle.MyPage'> ｜ <%=.browser_title%></title>


	<meta name="description" content="ERSv7_description">
	<meta name="keywords" content="ERSv7_keywords">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<ers:partial file="header_favicon.htm">
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/user.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
	$(function(){
		$("article div ul").tile();
	});
	</script>
	<!-- suggest start -->
	<ers:partial file="common_header.htm">
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm">
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code='pageTitle.MyPage'></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><ers:message code='member.member1.mypage'></h2>
			<span id="cookie_nickname"></span>
<!-- title end -->
<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- box start -->
		<article class="m-article clearfix">
			<div>
				<h3><ers:message code='member.user.Check'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/bill2.asp"><ers:message code='pur_history'></a></li>
			<li><a href="<%=.sec_url%>top/member/asp/regular_bill.asp"><ers:message code='reg_view'></a></li>
			<li><a href="<%=.sec_url%>top/member/asp/point2.asp"><ers:message code='point_search'></a></li>
			</ul>
			</div>

			<div>
				<h3><ers:message code='pageTitle.WishList'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/cart/asp/wishlist.asp"><ers:message code='pageTitle.WishList'></a></li>
			</ul>
			</div>

			<div>
				<h3><ers:message code='member.user.Magazine'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/mail1.asp"><ers:message code='mag_change'></a></li>
			</ul>
			</div>

			<div>
				<h3><ers:message code='member.user.Custinfo'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/member1.asp"><ers:message code='cust_change'></a></li>
			<li><a href="<%=.sec_url%>top/member/asp/address_list.asp"><ers:message code='add_change'></a></li>
			</ul>
			</div>

			<div>
				<h3><ers:message code='member.user.Cardinfo'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/card1.asp"><ers:message code='card_change'></a></li>
			</ul>
			</div>

			<div>
				<h3><ers:message code='member.user.TerminateUse'></h3>
			<ul>
			<li><a href="<%=.sec_url%>top/member/asp/account_close1.asp"><ers:message code='unscrb_member'></a></li>
			</ul>
			</div>
		</article>

		<div class="m-ERS_news">
		        <h3 class="clearfix"><ers:message code='member.user.Announcements'><span><a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code%>" >お知らせ一覧</a></span></h3>
			    <ers:foreach src=".Model.news_list" variable="news">
			        <p>
			            <span class="date">
			                <ers:isEqual src="news.template_code" value="6">
			                    <a href="<%=news.link_url_1 %>">
			                </ers:isEqual>
							<ers:formatDate src="news.posted_date" value="yyyy/MM/dd" >
			                <ers:isEqual src="news.template_code" value="6">
			                    </a>
			                </ers:isEqual>
			            </span>
						<!--<ers:nonencode src="news.title" >-->
			            <ers:isNotEqual src="news.template_code" value="6">
							<span class="newsTitle"><a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&contents_code=<%=news.contents_code %>&template_code=<%=news.template_code %>"><%=news.title %></a></span>
			            </ers:isNotEqual>
			        </p>
			    </ers:foreach>
		</div>

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL'></span></p>
		</div>
<!-- ssl_alert end -->
		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/user.htm">
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm">
</body>
</html>
