﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="price_price_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="price_price_search.Title"></h2>
	</div>
<!-- title end -->

<form action="price_list.asp" method="post" name="item_form">

    <ers:dispError /><ers:dispInfo />

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<caption>
		<ers:message code="price_price_search.Direction">
		</caption>
		<tbody>
			<tr>
				<th><ers:label code="gcode"></th>
				<td><input type="text" id="Text1" name="s_gcode" value="<%=.Model.s_gcode %>" class="w_200"></td>
			</tr>
            <tr>
				<th><ers:label code="common_product_group_name"></th>
				<td><input type="text" id="Text2" name="s_gname" value="<%=.Model.s_gname %>" class="w_200"></td>
			</tr>
			<tr>
				<th><ers:label code="product_code"></th>
				<td><input type="text" id="Text3" name="s_scode" value="<%=.Model.s_scode %>" class="w_400"></td>
			</tr>
			<tr>
				<th><ers:label code="s_sname"></th>
				<td><input type="text" id="Text4" name="s_sname" value="<%=.Model.s_sname %>" class="w_400"></td>
			</tr>
            <tr>
				<th> <ers:label code="price_search_type">※</th>
				<td>
                	<form>
                        <input type="radio" name="price_search_type" id="SKU_LIST" value="SKU_LIST"<ers:IsEqual src=".Model.price_search_type" value="SKU_LIST"> checked="true"</ers:IsEqual>>&nbsp;<label for="SKU_LIST"><ers:message code="price_price_search_each_prod_rbtn"></label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="price_search_type" id="GROUP_LIST"value="GROUP_LIST"<ers:IsEqual src=".Model.price_search_type" value="GROUP_LIST"> checked="true"</ers:IsEqual>>&nbsp;<label for="GROUP_LIST"><ers:message code="price_price_search_each_prod_grp_rbtn"></label>
                    </form>
                </td>
			</tr>
		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code="common_search">" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
