﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>
<ers:message code="price_price_detail.Title" />
</title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/price_detail.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/ers_add_row.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->


<!-- title start -->
 	<div id="ERS_title">
		<h2><ers:message code="price_price_detail.Title"></h2>
	</div>
<!-- title end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<form action="price_complete.asp" method="post" name="item_form">

	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code="price_price_detail_prod_group"></th>
				<td><%=.Model.gcode %>&nbsp;&nbsp;&nbsp;<%=.Model.gname %></td>
			</tr>
            <tr>
				<th><ers:message code="price_price_detail_product"></th>
                <ers:isNotEqual src=".Model.price_search_type" value="GROUP_LIST">
				<td><%=.Model.scode %>&nbsp;&nbsp;&nbsp;<%=.Model.sname %></td>
                </ers:isNotEqual>

                <ers:isEqual src=".Model.price_search_type" value="GROUP_LIST">
                <td>
                    <ers:foreach src=".Model.productRelatedList" variable="record" roopcounter="j">
                    <ers:isNotEqual src="j" value="0"><br /></ers:isNotEqual>
                        <%=record.scode %>&nbsp;&nbsp;&nbsp;<%=record.sname %>
                    </ers:foreach>
                </td>
                </ers:isEqual>

			</tr>
            <tr>
				<th><ers:label code="s_sale_ptn"></th>
				<td><%=.Model.w_sale_ptn%></td>
			</tr>
		</tbody>
		</table>
	</div>
    
    <h2 class="detaliTitles">■&nbsp;<ers:message code="price_price_detail.normal.price"></h2>
    <div class="clearfix">

        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
                <tr>
                    <th class="price">
<ers:IsNotEqual src=".Model.s_sale_ptn" value="REGULAR">※</ers:IsNotEqual><ers:label code="normal_price">
                    </th>
                    <td><input type="text" id="" name="price" value="<%=.Model.price %>" class="w_95"></td>
                </tr>
                <tr>
                    <th><ers:label code="price2"></th>
                    <td><input type="text" id="" name="price2" value="<%=.Model.price2 %>" class="w_95"></td>
                </tr>
                <tr>
                    <th><ers:label code="cost_price"></th>
                    <td><input type="text" id="Text3" name="cost_price" value="<%=.Model.cost_price %>" class="w_95"></td>
                </tr>
            </tbody>
            </table>
        </div>


        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
                <tr>
                    <th class="price">
<ers:IsNotEqual src=".Model.s_sale_ptn" value="NORMAL">※</ers:IsNotEqual><ers:message code="lp_lpregist_detail_regular_price">
                    </th>
                    <td><input type="text" id="" name="regular_price" value="<%=.Model.regular_price %>" class="w_95"></td>
                </tr>
            </tbody>
            </table>
        </div>

        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
                <tr>
                    <th class="price"><ers:label code="regular_first_price"></th>
                    <td><input type="text" id="" name="regular_first_price" value="<%=.Model.regular_first_price %>" class="w_95"></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <h2 class="detaliTitles clearfix">■&nbsp;<ers:message code="price_price_detail.mem.rank.price"></h2>
    
    <div class="clearfix">

        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
				<tr>
                    <th class="price"><ers:message code="price_price_detail.normal.price"></th>
                    <td class="price"></td>
				</tr>
<ers:table src=".Model.member_rank_record" name="member_rank_record" record_key="rank_record_key" variable="priceData">
                <tr>
                    <th class="price"><%=priceData.member_rank_name %></th>
                    <td><input type="text" id="Text2" name="<%=rank_record_key %>price" value="<%=priceData.price %>" class="w_95"></td>
                </tr>
</ers:table>
            </tbody>
            </table>
			<p>※<ers:message code="price_price_detail.sale.period.Direction"></p>
        </div>

        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
				<tr>
                    <th class="price"><ers:message code="lp_lpregist_detail_regular_price"></th>
                    <td class="price"></td>
				</tr>
<ers:table src=".Model.member_rank_record" name="member_rank_record" record_key="rank_record_key" variable="priceData">
                <tr>
                    <th class="price"><%=priceData.member_rank_name %></th>
                    <td><input type="text" id="Text1" name="<%=rank_record_key %>regular_price" value="<%=priceData.regular_price %>" class="w_95"></td>
                </tr>
</ers:table>
            </tbody>
            </table>
        </div>
        <div class="ERS_table treeTable">
            <table class="length">
            <tbody>
				<tr>
                    <th class="price"><ers:label code="regular_first_price"></th>
                    <td class="price"></td>
				</tr>
<ers:table src=".Model.member_rank_record" name="member_rank_record" record_key="rank_record_key" variable="priceData">
                <tr>
                    <th class="price"><%=priceData.member_rank_name %></th>
                    <td><input type="text" id="" name="<%=rank_record_key %>regular_first_price" value="<%=priceData.regular_first_price %>" class="w_95"></td>
                </tr>
</ers:table>
            </tbody>
            </table>
        </div>
	</div>
<br>

    
    <h2 class="detaliTitles clearfix">■&nbsp;<ers:message code="price_price_detail.sale.price"></h2>

    <div class="clearfix">
<!-- item_table start -->
        <div class="flexigrid item_tableFix">
        <table id="target_table_price">
            <thead>
                <tr>
                    <th width="25"></th>
                    <th width="25"><ers:label code="delete"></th>
                    <th width="200"><ers:label code="start_date"></th>
                    <th width="200"><ers:label code="end_date"></th>
                    <th width="200"><ers:label code="sale_price"></th>
                </tr>
            </thead>
            <tbody>
<ers:table src=".Model.price_table" name="price_table" record_key="record_key" variable="priceData">
			<tr>
				<td><label class="label_lineNumber"><%=priceData.lineNumber%></label></td>
				<td>
                    <ers:isNotEqual src="priceData.remove_delete" value="true">
                        <input class="removable_tag" type="checkbox" name="<%=record_key%>delete" id="delete" value="1"<ers:isEqual src="priceData.delete" value="1"> checked="checked"</ers:isEqual > />
                    </ers:isNotEqual>

                    <ers:isEqual src="priceData.remove_delete" value="true">
                        <input type="hidden" name="<%=record_key%>remove_delete" value="1" />
                    </ers:isEqual>
                </td>
				<td><input type="text" class="datepicker_start" name="<%=record_key%>date_from" id="<%=record_key%>date_from" value="<%=priceData.date_from %>"></td>
				<td><input type="text" class="datepicker_end" name="<%=record_key%>date_to" id="<%=record_key%>date_to" value="<%=priceData.date_to %>"></td>
				<td><input type="text" name="<%=record_key%>price" id="Text6" value="<%=priceData.price %>"></td>
			</tr>
</ers:table>
            </tbody>
            </table>
        </div>
<!-- item_table end -->
		<div class="addBtn"><input type="button" name="target_table_price" id="" value="<ers:message code='price_price_detail_addrow_btn' />" class="add_row_flexgrid"></div>
    </div>
    
<!-- page_send start -->
		<!--<div class="ERS_page_send">


		</div>-->
<!-- page_send end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" class="primary" value="<ers:label code='common_change' />" id="" name="" onclick="gopage()"></p>
	</div>
<!-- next end-->

</form>

<!-- back start-->
<form action="price_list.asp" method="post">
	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
