﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>
<ers:message code="price_price_list.Title" /> - <%=.browser_title%>
</title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->


<!-- title start -->
 	<div id="ERS_title">
		<h2><ers:message code="price_price_list.Title"></h2>
	</div>
<!-- title end -->

<!-- search start -->
<div class="ERS_result_count">
	<p><ers:message code="price_price_list.search.results" value=".Model.recordCount"></p>
</div>
<!-- search end -->

<!-- error start -->
<ers:dispError /><ers:dispInfo />
<!-- error end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="90"><ers:label code="common_details"></th>
				<th width="90"><ers:label code="gcode"></th>
<ers:IsEqual src=".Model.price_search_type" value="SKU_LIST">
				<th width="90"><ers:label code="scode"></th>
</ers:IsEqual>
				<th width="90"><ers:label code="s_sname"></th>
				<th width="55"><ers:label code="normal_price"></th>
				<th width="55"><ers:label code="price2"></th>
				<th width="55"><ers:message code="lp_lpregist_detail_regular_price"></th>
				<th width="55"><ers:label code="regular_first_price"></th>
				<th width="55"><ers:label code="sale_price"></th>
			</tr>
		</thead>
		<tbody>
<ers:foreach src=".Model.price_list" variable="priceData">
			<tr>
<ers:IsEqual src=".Model.price_search_type" value="SKU_LIST">
				<td><input type="button" class="form_btn btn01" rel="price_detail$price_detail.asp?scode=<%=priceData.scode%>" name="" id="" value="<ers:label code='common_details' />" /></td>
</ers:IsEqual>
<ers:IsEqual src=".Model.price_search_type" value="GROUP_LIST">
				<td><input type="button" class="form_btn btn01" rel="price_detail$price_detail.asp?gcode=<%=priceData.gcode%>" name="" id="Button1" value="<ers:label code='common_details' />" /></td>
</ers:IsEqual>
				<td><%=priceData.gcode %></td>
<ers:IsEqual src=".Model.price_search_type" value="SKU_LIST">
				<td><%=priceData.scode %></td>
</ers:IsEqual>
				<td><%=priceData.sname %></td>
				<td><ers:formatCurrency src="priceData.price" /></td>
				<td><ers:formatCurrency src="priceData.price2" /></td>
				<td><ers:formatCurrency src="priceData.regular_price" /></td>
				<td><ers:formatCurrency src="priceData.regular_first_price" /></td>
				<td><ers:formatCurrency src="priceData.sale_price" /></td>
			</tr>
</ers:foreach>
		</tbody>
		</table>

	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="price_detail.asp" name="price_detail" id="price_detail" method="post">
<!--伝票詳細用form-->
</form>

<form action="" name="download_csv_all" id="download_csv_all">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_csv_all.asp" id="Button2" name="" value="<ers:message code="price_price_list_download_all">">
			<input type="button" class="form_btn" rel="download_csv_page$download_csv_page.asp" id="Button3" name="" value="<ers:message code="price_price_list_download_page">">
		</p>
	</div>
<!-- next end-->

<!-- back start-->
<form action="price_search.asp" method="post">
	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
