﻿<ers:foreach variable="variable" src=".list">
<ers:isEqual src="variable.Count" value="3">
<%=variable.Message %>
</ers:isEqual>
<ers:isNotEqual src="variable.Count" value="3">
<%=variable.Message %>
</ers:isNotEqual>
</ers:foreach>
