﻿<tr>
    <th><ers:label code="common_search_stores"/></th>
    <td class="site_id">
        <select name="s_site_id">
            <ers:foreach variable="option" src=".Model.s_site_list">
                <option value="<%=option.value %>" <ers:isEqual src="option.value" variable=".Model.s_site_id"> selected="selected"</ers:isEqual>><%=option.name %></option>
            </ers:foreach>
        </select>
    </td>
</tr>