﻿<div id="site_list">
    <p><ers:message code="lp_page_regist_preview_site_list_title"/></p></br></br>
    <ers:foreach variable="option" src="partialModel.s_site_list">
        <p><a href="javascript:void(0);" site_id="<%=option.value %>" name="site_list" style="color:blue" ><%=option.name %></a></p></br></br>
    </ers:foreach>
</div>