﻿<tr>
    <th><ers:label code="site_id"/></th>
    <td class="site_id">
        <ers:foreach variable="option" src=".Model.site_list">
            <label>
            <input type="checkbox" id="site_id" name="site_id" value="<%=option.value %>"<ers:isEqual src="option.isSelected" value="true"> checked="checked"</ers:isEqual> />
                <%=option.name %>
            </label>
        </ers:foreach>
    </td>
</tr>