﻿<div>
    <ers:isEqual src=".Model.site_id" value="0">
        <ers:label code="site_t.id" />：<%=.Model.site_name %>
        <input type="hidden" name="site_id" value="<%=.Model.site_id %>" />
    </ers:isEqual>
    <ers:isNotEqual src=".Model.site_id" value="0">
        <ers:label code="site_t.id" />：&nbsp;
        <select name="site_id" id="site_select">
            <ers:foreach variable="option" src=".Model.site_list">
                <option value="<%=option.value %>" <ers:isEqual src="option.value" variable=".Model.site_id"> selected="selected"</ers:isEqual>><%=option.name %></option>
            </ers:foreach>
        </select>&nbsp;&nbsp;
        <ers:message code="atmail.s_popmail1.MsgSetAllStores" />
    </ers:isNotEqual>
</div>
<br />