﻿<tr>
    <th>※<ers:label code="site_id"/></th>
    <td class="site_id">
        <select name="site_id">
            <ers:foreach variable="option" src=".Model.site_list">
                <option value="<%=option.value %>" <ers:isEqual src="option.value" variable=".Model.site_id"> selected="selected"</ers:isEqual>><%=option.name %></option>
            </ers:foreach>
        </select
    </td>
</tr>