﻿<tr>
    <th><ers:label code="common_search_stores"/></th>
    <td class="site_id">
        <ers:foreach variable="option" src=".Model.s_site_list">
            <label>
            <input type="checkbox" id="s_site_id" name="s_site_id" value="<%=option.value %>"<ers:isEqual src="option.isSelected" value="true"> checked="checked"</ers:isEqual> />
                <%=option.name %>
            </label>
        </ers:foreach>
    </td>
</tr>