﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="regular.bill_list.TitleSlipSearchResults" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/regular.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="regular.bill_list.TitleSlipSearchResults" /></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
<!-- search start -->
	<div class="ERS_result_count">
		<p><ers:message code="regular.bill_list.MsgSlipCount" value=".Model.recordCount" /></p>
	</div>
<!-- search end -->
	<table>
		<thead>
			<tr>
				<th width="80"><ers:message code="ss_order_details" /></th>
				<th width="60"><ers:label code="d_no" /></th>
				<th width="100"><ers:message code="ss_issue_date" /></th>
				<th width="100"><ers:label code="common_name" /></th>
				<th width="60"><ers:label code="total" /></th>
				<th width="60"><ers:label code="s_sale_ptn" /></th>
				<th width="80"><ers:message code="ss_payment_method" /></th>
                <th width="60"><ers:label code="deliv_method" /></th>
				<th width="80"><ers:message code="ss_corresponding_div" /></th>
				<th width="80"><ers:label code="order_payment_status" /></th>
				<th width="100"><ers:label code="th_cuslist_individual_email" /></th>
			</tr>
		</thead>
		<tbody>
<ers:foreach src=".Model.orderList" variable="order" roopcounter="order_cnt">
			<tr>
				<td><input type="button" class="form_btn btn01" rel="bill_detail$<%=.sec_url%>top/regular/asp/bill_detail.asp?d_no=<%=order.d_no%>" name="" id="" value="<ers:message code='ss_order_details' />" /></td>
				<td>
                    <%=order.d_no%>
                </td>
				<td><%=order.intime%></td>
				<td>
                    <%=order.lname%>&nbsp;<%=order.fname%>
                </td>
				<td><ers:formatCurrency src="order.total"/></td>
				<td><ers:message src="order.order_type_name"/></td>
				<td><%=order.pay_name%></td>
                <td><ers:message src="order.w_deliv_method"/></td>
				<td><%=order.w_order_status%></td>
				<td><%=order.w_order_payment_status%></td>
				<td><input type="button" class="form_btn btn01" rel="bill_mail$<%=.sec_url%>top/regular/asp/bill_mail.asp?d_no=<%=order.d_no%>" name="" id="" value="<ers:label code='th_cuslist_individual_email' />" /></td>
			</tr>
</ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="<%=.sec_url%>top/regular/asp/bill_detail.asp" name="bill_detail" id="bill_detail" method="post">
<!--伝票詳細用form-->
</form>

<form action="<%=.sec_url%>top/regular/asp/bill_mail.asp" name="bill_mail" id="bill_mail" method="post">
<!--個別メール用form-->
</form>

<form action="" name="download_csv_all" id="download_csv_all" method="post">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page" method="post">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<form action="" name="<%=.sec_url%>top/regular/asp/shipment_list" id="shipment_list" method="post">
<!--出庫許可リスト用form-->
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_csv_all.asp" id="" name="" value="<ers:message code='ss_dl_all_slip_data' />">
			<input type="button" class="form_btn" rel="download_csv_page$download_csv_page.asp" id="" name="" value="<ers:message code='ss_dl_page_slip_data' />">
			<input type="button" class="form_btn" rel="shipment_list$shipment_list.asp" id="" name="" value="<ers:message code='ss_outgoing_perm_list' />">
		</p>
	</div>
<!-- next end-->


<!-- back start-->
	<div class="ERS_back">
        <form action="bill_search.asp" method="post" >
		<p><input type="submit" class="btn01" value="<< <ers:label code='common_back' />" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
