﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="regular.bill_detail.TitleSlipDetails" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/bill_detail.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/bill_detail.js"></script>



<script type="text/javascript">
    function showSetItems() {
        $(".set_item").toggle();
    }
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/regular.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="regular.bill_detail.TitleSlipDetails" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/regular/asp/bill_update.asp" method="post" name="bill_change" id="bill_change">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<caption>
			<ers:message code="regular.bill_detail.MsgSlipBtnInst" />
			</caption>
			<tbody>
            <tr>
				<th><ers:label code="d_no" /></th>
				<td><%=.Model.d_no%></span>
				</td>
			</tr>
<ers:isNotEqual src=".Model.mall_shop_kbn" value="ERS">
            <tr>
				<th><ers:label code="mall_d_no" /></th>
				<td><%=.Model.mall_d_no%></span>
				</td>
			</tr>
</ers:isNotEqual>
<ers:isEqual src=".Model.multiple_sites" value="true">
			<ers:partial file="site/w_site_id.htm" />
</ers:isEqual>
			<tr>
				<th><ers:message code="ss_purchase_site_class" /></th>
				<td>
                    <ers:message src=".Model.w_pm_flg"/>
                </td>
			</tr>
			<tr>
				<th><ers:message code="ss_issue_date" /></th>
				<td><%=.Model.intime%></td>
			</tr>
            <tr>
				<th><ers:label code="lp_page_manage_t.ccode" /></th>
				<td>
					<%=.Model.ccode%>
				</td>
			</tr>
			<tr>
				<th><ers:message code="common.DateModified" /></th>
				<td>
<ers:isNotEqual src=".Model.utime" value="">
                    <%=.Model.utime%>
</ers:isNotEqual>
                </td>
			</tr>
		</tbody>
		</table>

		<table class="length">
		<caption><ers:message code="regular.bill_detail.MsgPurchaserShipInfo" /></caption>
			<tbody>
			<tr>
				<th>※<ers:label code="email" /></th>
				<td>
					<input class="w_200" type="text" id="email" value="<%=.Model.email%>" name="email">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_email_confirm" /></th>
				<td>
					<input class="w_200" type="text" id="email_confirm" value="<%=.Model.email_confirm%>" name="email_confirm">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_name" /></th>
				<td>
					<ers:message code="ss_lastname" />&nbsp;<input type="text" id="lname" value="<%=.Model.lname%>" name="lname">&nbsp;<ers:message code="ss_givenname" />&nbsp;<input type="text" id="fname" value="<%=.Model.fname%>" name="fname">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_name_kana" /></th>
				<td>
					<ers:message code="regular.bill_detail.lname" />&nbsp;<input type="text" id="lnamek" value="<%=.Model.lnamek%>" name="lnamek">&nbsp;<ers:message code="regular.bill_detail.fname" />&nbsp;<input type="text" id="fnamek" value="<%=.Model.fnamek%>" name="fnamek">
				</td>
			</tr>
			<tr>
				<th><ers:label code="compname" /></th>
				<td>
					<input class="w_400" type="text" id="compname" value="<%=.Model.compname%>" name="compname">
				</td>
			</tr>
			<tr>
				<th><ers:label code="compnamek" /></th>
				<td>
					<input class="w_400" type="text" id="compnamek" value="<%=.Model.compnamek%>" name="compnamek">
				</td>
			</tr>
			<tr>
				<th><ers:label code="division" /></th>
				<td>
					<input class="w_400" type="text" id="division" value="<%=.Model.division%>" name="division">
				</td>
			</tr>
			<tr>
				<th><ers:label code="divisionk" /></th>
				<td>
					<input class="w_400" type="text" id="divisionk" value="<%=.Model.divisionk%>" name="divisionk">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_postal_code" /></th>
				<td>
					<input type="text" id="zip" value="<%=.Model.zip%>" name="zip">
                    <input type="submit" class="zip_flg1" name="zip_flg1" value="<ers:label code='common_autofill_address' />" id="zip_flg1">
                    <p id="zip_search_error" class="err" style="display:none"></p>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="pref" /></th>
				<td>
					<select id="pref" name="pref">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="address" /></th>
				<td>
					<input class="w_400" type="text" id="address" value="<%=.Model.address%>" name="address">
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="taddress" /></th>
				<td>
					<input class="w_400" type="text" id="taddress" value="<%=.Model.taddress%>" name="taddress">
				</td>
			</tr>
			<tr>
				<th><ers:label code="maddress" /></th>
				<td>
					<input class="w_400" type="text" id="maddress" value="<%=.Model.maddress%>" name="maddress">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_phone_no" /></th>
				<td>
					<input class="w_200" type="text" id="tel" value="<%=.Model.tel%>" name="tel">
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_fax_no" /></th>
				<td>
					<input class="w_200" type="text" id="fax" value="<%=.Model.fax%>" name="fax">
				</td>
			</tr>
            <tr>
				<th><ers:label code="deliv_method" /></th>
				<td>
                    <ers:foreach variable="option" src=".Model.deliv_methodList">
                        <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
					    <label for="deliv_method<%=option.value%>"><ers:message src="option.name"/></label>
                        &nbsp;&nbsp;
                    </ers:foreach>
				</td>
			</tr>
			<tr>
				<th><ers:label code="sendday" /></th>
				<td>
					<input class="datepicker_date" type="text" value="<ers:formatDate src=".Model.senddate" />" id="senddate" name="senddate">
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_desired_delvy_time" /></th>
				<td>
					<select id="sendtime" name="sendtime">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.sendtimeList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_shipping_address" /></th>
				<td>
					<select id="send" name="send">
<ers:foreach variable="entity" src=".Model.sendList">
							<option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.send"> selected="selected"</ers:isEqual>>
                            <ers:message src="entity.name"/></option>
</ers:foreach>
					</select>
				</td>
			</tr>
		</tbody>
		</table>

		<table class="length delivery_address">
		<caption><ers:message code="regular.bill_detail.MsgShippingInfo" /></caption>
		<tbody>
			<tr>
				<th class="w_250">※<ers:message code="ss_name" /></th>
				<td class="w_400">
					<ers:message code="ss_lastname" />&nbsp;<input type="text" id="add_lname" value="<%=.Model.add_lname%>" name="add_lname">&nbsp;<ers:message code="ss_givenname" />&nbsp;<input type="text" id="add_fname" value="<%=.Model.add_fname%>" name="add_fname">
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_name_kana" /></th>
				<td>
					<ers:message code="regular.bill_detail.lname" />&nbsp;<input type="text" id="add_lnamek" value="<%=.Model.add_lnamek%>" name="add_lnamek">&nbsp;<ers:message code="regular.bill_detail.fname" />&nbsp;<input type="text" id="add_fnamek" value="<%=.Model.add_fnamek%>" name="add_fnamek">
				</td>
			</tr>
			<tr>
				<th><ers:label code="compname" /></th>
				<td>
					<input class="w_400" type="text" id="add_compname" value="<%=.Model.add_compname%>" name="add_compname">
				</td>
			</tr>
			<tr>
				<th><ers:label code="compnamek" /></th>
				<td>
					<input class="w_400" type="text" id="add_compnamek" value="<%=.Model.add_compnamek%>" name="add_compnamek">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_postal_code" /></th>
				<td>
					<input type="text" id="add_zip" value="<%=.Model.add_zip%>" name="add_zip">
                    <input type="submit" class="zip_flg2" name="zip_flg2" value="<ers:label code='common_autofill_address' />" id="zip_flg2">
                    <p id="add_zip_search_error" class="err" style="display:none"></p>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="pref" /></th>
				<td>
					<select id="add_pref" name="add_pref">
						<option value="" selected="selected"></option>
<ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="address" /></th>
				<td>
					<input class="w_400" type="text" id="add_address" value="<%=.Model.add_address%>" name="add_address">
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="taddress" /></th>
				<td>
					<input class="w_400" type="text" id="add_taddress" value="<%=.Model.add_taddress%>" name="add_taddress">
				</td>
			</tr>
			<tr>
				<th><ers:label code="maddress" /></th>
				<td>
					<input class="w_400" type="text" id="add_maddress" value="<%=.Model.add_maddress%>" name="add_maddress">
				</td>
			</tr>
			<tr>
				<th>※<ers:message code="ss_phone_no" /></th>
				<td>
					<input class="w_200" type="text" id="add_tel" value="<%=.Model.add_tel%>" name="add_tel">
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_fax_no" /></th>
				<td>
					<input class="w_200" type="text" id="add_fax" value="<%=.Model.add_fax%>" name="add_fax">
				</td>
			</tr>
		</tbody>
		</table>

		<table class="length">
		<caption><ers:message code="regular.bill_detail.MsgPaymentInfo" /></caption>
		<tbody>
			<tr>
				<th>※<ers:label code="pay" /></th>
				<td><%=.Model.pay_name%></td>
			</tr>
            <ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
                <tr>
                    <th><ers:label code="conv_code" /></th>
                    <td>
                        <%=.Model.w_conv_code%><br />
                    </td>
                </tr>
            </ers:isEqual>
			<tr>
				<th><ers:label code="c_req_no" /></th>
				<td>
					<%=.Model.c_req_no%><br />
				</td>
			</tr>
<ers:isEqual src=".Model.payment_changeable" value="true">
			<tr>
				<th>※<ers:label code="order_payment_status" /></th>
				<td>
					<select id="order_payment_status" name="order_payment_status">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.order_payment_statusList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.order_payment_status"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_deposit_amount" /></th>
				<td>
                    <input class="w_200" type="text" id="paid_price" value="<%=.Model.paid_price%>" name="paid_price">
                </td>
			</tr>
			<tr>
				<th><ers:label code="paid_date" /></th>
				<td>
                    <input class="w_200 datepicker_date" type="text" id="paid_date" value="<%=.Model.paid_date%>" name="paid_date">
                </td>
			</tr>
</ers:isEqual>
<ers:isNotEqual src=".Model.payment_changeable" value="true">
			<tr>
				<th><ers:label code="order_payment_status" /></th>
				<td>
					<%=.Model.w_order_payment_status%>
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_deposit_amount" /></th>
				<td>
                    <ers:formatCurrency src=".Model.paid_price"/>
                </td>
			</tr>
			<tr>
				<th><ers:label code="paid_date" /></th>
				<td>
                    <%=.Model.paid_date%>
                </td>
			</tr>
</ers:isNotEqual>
		</tbody>
		</table>

		<table class="length">
		<caption><ers:message code="regular.bill_detail.MsgOtherInfo" /></caption>
		<tbody>
			<tr>
				<th><ers:label code="wrap" /></th>
				<td>
					<input type="checkbox" id="wrap" name="wrap" value="1"<ers:isEqual src=".Model.wrap" value="1"> checked="checked"</ers:isEqual> />
				</td>
			</tr>
			<tr>
				<th><ers:label code="memo2" /></th>
				<td>
					<textarea id="memo2" cols="70" rows="10" name="memo2"><%=.Model.memo2%></textarea>
				</td>
			</tr>
			<tr>
				<th><ers:label code="common_admin_note" /></th>
				<td>
					<textarea id="memo3" cols="70" rows="10" name="memo3"><%=.Model.memo3%></textarea>
				</td>
			</tr>
			<tr>
				<th><ers:label code="usr_memo" /></th>
				<td>
					<textarea id="usr_memo" cols="70" rows="10" name="usr_memo"><%=.Model.usr_memo%></textarea>
				</td>
			</tr>
		</tbody>
		</table>

		<table class="side bill_list">
		<caption><ers:message code="regular.bill_detail.MsgPurchaseProdInfo" /></caption>
		<tbody>
			<tr>
				<th class="w_51"><ers:message code="ss_corresponding_div" /></th>
				<th class="w_50"><ers:message code="ss_branch_no" /></th>
				<th class="w_186"><ers:message code="ss_commodity" /></th>
				<th class="w_50"><ers:message code="ss_unit_price" /></th>
				<th class="w_50"><ers:label code="wh_order_t.amount" /></th>
				<th class="w_50"><ers:label code="ds_total" /></th>
				<th class="w_76"><ers:message code="ss_ship_date" /></th>
                <th class="w_76"><ers:label code="after_cancel_date" /></th>
                <th class="w_76"><ers:label code="cancel_date" /></th>
				<th class="w_85"><ers:message code="ss_inquiry_no" /></th>
				<th class="w_156"><ers:label code="shipping_memo" /></th>
			</tr>
<ers:table src=".Model.orderRecords" name="orderRecords" record_key="record_key" variable="record">
			<tr>
                <td>
                    <%=record.w_order_status%>
                </td>
				<td><%=record.subd_no%></td>
				<td class="item"><span><%=record.scode%></span><br /><%=record.sname%>
                <br />
                <ers:isNotEqual src="record.lstSetItems.Count" value = "0">      
                <div>
                    <span><a href="" onclick="showSetItems();return false;">Set Item</a></span>
                    <ul  class="set_item" style="display:none">
                    <ers:foreach variable="rec" src="record.lstSetItems">
                      <li><%=rec.scode %></li>                     
                    </ers:foreach>   
                    </ul>
                </div>         
                </ers:isNotEqual>


                </td>
				<td><ers:formatCurrency src="record.price"/></td>
				<td><%=record.amount%></td>
				<td><ers:formatCurrency src="record.total"/></td>
                <td><ers:formatDate src="record.shipdate" /></td>
                <td><ers:formatDate src="record.after_cancel_date" /></td>
                <td><ers:formatDate src="record.cancel_date" /></td>
                <td><%=record.sendno%></td>
                <td>
    <ers:isEqual src="record.changeable" value="true">
                    <input type="text" name="<%=record_key%>shipping_memo" value="<%=record.shipping_memo%>" class="w_152"/>
    </ers:isEqual>
    <ers:isEqual src="record.changeable" value="false">
                    <%=record.shipping_memo%>
    </ers:isEqual>
                </td>
			</tr>
</ers:table>
		</tbody>
		</table>

		<table class="length">
			<tbody><tr>
				<th class="w_250"><ers:message code="ss_total_comdty_pts" /></th>
				<td class="w_400"><span id="Span1"><%=.Model.amounttotal%> <ers:label code="tot_points"/></span></td>
			</tr>
			 <tr>
				<th><ers:label code="subtotal" /></th>
				<td><span id="Span2"><ers:formatCurrency src=".Model.subtotal"/></span></td>
			</tr>			
			<tr>
				<th><ers:label code="enable_carriage_tax" /></th>
				<td>
					&yen;&nbsp;<input class="w_200" type="text" id="Text2" value="<%=.Model.carriage%>" name="carriage">
                </td>
			</tr>
			<tr>
				<th><ers:label code="p_service" /></th>
				<td>
					－&yen;&nbsp;<input class="w_200" type="text" id="Text3" value="<%=.Model.p_service%>" name="p_service">
                </td>
			</tr>
			<tr>
				<th><ers:label code="coupon_code" /></th>
				<td>
                    <input class="w_200" type="text" id="coupon_code" value="<%=.Model.coupon_code%>" name="coupon_code">
                </td>
			</tr>
			<tr>
				<th><ers:message code="ss_coupon_discount" /></th>
				<td>
					－&yen;&nbsp;<input class="w_200" type="text" id="coupon_discount" value="<%=.Model.coupon_discount%>" name="coupon_discount">
                </td>
			</tr>
			<tr>
				<th><%=.Model.etc_name%></th>
				<td>
					&yen;&nbsp;<input class="w_200" type="text" id="Text4" value="<%=.Model.etc%>" name="etc">
                </td>
			</tr>
            <tr>
				<th><ers:label code="tax" /></th>
				<td><span id="Span3"><ers:formatCurrency src=".Model.tax"/></span></td>
			</tr>
			<tr>
				<th><ers:label code="aggregate_total" /></th>
				<td>
					&yen;&nbsp;<input class="w_200" type="text" id="Text5" value="<%=.Model.total%>" name="total">
                </td>
			</tr>
		</tbody>
		</table>
	</div>
<!-- table end -->
</form>

<form action="<%=.sec_url%>top/regular/asp/bill_mail.asp" name="bill_mail" id="bill_mail" method="post">
<!--個別メール用form-->
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="bill_mail$bill_mail.asp" value="<ers:label code='common_send_mail' />" id="" name="">&nbsp;
<ers:IsNotEqual src=".Model.current_order_status" value="999">
			<a href="bill_change?bill_change=true" class="disp_dialog001"><input class="primary" type="button" name="bill_change" value="<ers:label code='common_change' />" /></a>&nbsp;
    <ers:isEqual src=".Model.isBeforeDeliver" value="true">
			<a href="bill_change?bill_cancel=true" class="disp_dialog002"><input class="primary" type="button" name="bill_cancel" value="<ers:message code='ss_cancel' />" /></a>&nbsp;
    </ers:isEqual>
    <ers:isEqual src=".Model.canDetailModify" value="true">
            <input class="primary" type="button" onclick="window.open('<%=.Model.contact_sec_url%>top/login/asp/loginaction_admin.asp?admin_ransu=<%=.Model.admin_ransu%>&admin_ssl_ransu=<%=.Model.admin_ssl_ransu%>&user_cd=<%=.Model.user_cd%>&d_no=<%=.Model.d_no%>')" value="<ers:message code='ss_change_details' />"  name="bill_cts_edit" >
    </ers:isEqual>
</ers:IsNotEqual>
		</p>
		<div id="dialog001" title="<ers:message code='regular.bill_detail.DialogBoxTitleSlipUpdate' />">
			<p><ers:message code="common.ChangeConfirm" /></p>
		</div>
		<div id="dialog002" title="<ers:message code='regular.bill_detail.DialogBoxTitleSlipCancel' />">
			<p><ers:message code="regular.bill_detail.DialogBoxMsgSlipCancel" /></p>
		</div>
	</div>
<!-- next end-->

<!-- back start-->
    <form method="post" action="<%=.sec_url%>top/regular/asp/bill_list.asp">
        <!-- back start-->
        <div class="ERS_back">
            <p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </div>
        <!-- back end-->
    </form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
