﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="regular.bill_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script language ="javascript" type="text/javascript">
// 商品番号検索
    function ScodeSearch() {
        // モーダル表示
        var result = window.open("<%=.sec_url%>top/item/asp/common_item_search.asp", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
        // Set values to child window
        result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
          (result.attachEvent ? 'on' : '') + 'load', function () {
              result.RunCallbackFunction = callback_func;
          }, false);
    }

    function callback_func(reco_number, scode) {
        if (scode != undefined) {
            // 商品番号設定
            $("#scode").val(scode);
        }
    }
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/regular.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="regular.bill_search.TitleSlipSearch" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/regular/asp/bill_list.asp" method="post" name="item_form">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_search_check.htm" />
            </ers:isEqual>
			<tr>
				<th>
					<ers:message code="ss_lblset_billing_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="" value="<ers:formatDate src='.Model.s_bill_intime_from' value='yyyy/MM/dd 00:00:00'/>" name="s_bill_intime_from">&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="" value="<ers:formatDate src='.Model.s_bill_intime_to' value='yyyy/MM/dd 00:00:00'/>" name="s_bill_intime_to"><br>
					<ers:message code="regular.bill_search.MsgSetDateRange" />
				</td>
			</tr>
			<tr>
				<th>
					<ers:message code="ss_lblset_payment_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="" value="<%=.Model.s_paid_date_from%>" name="s_paid_date_from">&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="" value="<%=.Model.s_paid_date_to%>" name="s_paid_date_to"><br>
					<ers:message code="regular.bill_search.MsgSetDateRange" />
				 </td>
			</tr>
			<tr>
				<th>
					<ers:message code="ss_lblset_outgoing_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="" value="<%=.Model.s_shipdate_from%>" name="s_shipdate_from">&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="" value="<%=.Model.s_shipdate_to%>" name="s_shipdate_to"><br>
					<ers:message code="regular.bill_search.MsgSetDateRange" />
				</td>
			</tr>
            <tr>
				<th>
					<ers:message code="ss_lblset_return_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="Text1" value="<%=.Model.s_af_cancel_date_from%>" name="s_af_cancel_date_from">&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="Text2" value="<%=.Model.s_af_cancel_date_to%>" name="s_af_cancel_date_to"><br>
					<ers:message code="regular.bill_search.MsgSetDateRange" />
				</td>
			</tr>
            <tr>
				<th>
					<ers:message code="ss_lblset_cancel_period" />
				</th>
				<td>
					<input type="text" class="datepicker_start w_150" id="Text3" value="<%=.Model.s_cancel_date_from%>" name="s_cancel_date_from">&nbsp;～&nbsp;<input type="text" class="datepicker_end w_150" id="Text4" value="<%=.Model.s_cancel_date_to%>" name="s_cancel_date_to"><br>
					<ers:message code="regular.bill_search.MsgSetDateRange" />
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_item_number" /></th>
				<td>
					<input class="w_200" type="text" id="scode" value="<%=.Model.s_scode%>" name="s_scode">&nbsp;<input type="button" class="btn01" id="" value="<ers:message code='ss_btnsee_item_no' />" name="" onclick="return ScodeSearch()">
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_sales_method" /></th>
				<td>
					<select class="w_100" id="" name="s_order_type">
						<option value=""></option>
                    <ers:foreach variable="item" src=".Model.orderTypeList" roopcounter="i">
					    <option value="<%=item.value %>" <ers:isEqual src="item.value" variable=".Model.s_order_type">selected="selected"</ers:isEqual > >
                            <ers:message src="item.name" /> </option>
                    </ers:foreach>
					</select> 
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_category" /></th>
				<td>
					<select class="w_100" id="" name="s_order_status">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.order_statusList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_order_status"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select> 
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_payment_classification" /></th>
				<td>
					<select class="w_100" id="" name="s_order_payment_status">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.order_payment_statusList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_order_payment_status"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select> 
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_email_add" /></th>
				<td>
					<input class="w_200" type="text" id="<%=.Model.s_email%>" name="s_email" value="<%=.Model.s_email%>" />
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_slip_num" /></th>
				<td>
					<input class="w_200" type="text" id="<%=.Model.s_d_no%>" name="s_d_no"  value="<%=.Model.s_d_no%>" />
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_mall_slip_num" /></th>
				<td>
					<input class="w_200" type="text" id="<%=.Model.s_mall_d_no%>" name="s_mall_d_no"  value="<%=.Model.s_mall_d_no%>" />
				</td>
			</tr>
			<tr>
				<th ><ers:message code="ss_lblsearch_payment_method" /></th>
				<td >
					<select class="w_200" id="" name="s_pay">
						<option value=""></option>
<ers:foreach variable="option" src=".Model.payList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_pay"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th><ers:message code="ss_lblsearch_purchase_site" /></th>
				<td>
					<select class="w_200" id="" name="s_pm_flg">
						<option value=""></option>
<ers:foreach variable="entity" src=".Model.pm_flgList">
						<option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.s_pm_flg"> selected="selected"</ers:isEqual>>
                        <ers:message src="entity.name"/></option>
</ers:foreach>
					</select>
				</td>
			</tr>
            <tr>
				<th><ers:message code="ss_lblsearch_campaign" /></th>
				<td>
					 <select class="w_250" id="s_ccode" name="s_ccode">
		                <option value="" <ers:isEqual src=".Model.s_group_name" value="" > selected="selected"</ers:isEqual>></option>
		                <ers:foreach src=".Model.lpGroupNameList" variable="item"  >
		                    <option value="<%=item.ccode%>" <ers:isEqual src="item.ccode" variable=".Model.s_ccode" > selected="selected"</ers:isEqual>><%=item.value%></option>
		                </ers:foreach>
		            </select>
				</td>
			</tr>
			<tr>
				<th><ers:label code="s_continual_biling" /></th>
				<td>
					<input type="checkbox" id="Text5" name="s_continual_biling" <ers:isEqual src=".Model.s_continual_biling" variable="true" > checked="checked"</ers:isEqual> />
				</td>
			</tr>
		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" class="button large radius primary-dark" value="<ers:label code='common_search' />" id="" name=""></p>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
