﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="regular.regist_income.TitleBankPayRegist" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/regular.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="regular.regist_income.TitleBankPayRegist" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="regist_income_complete.asp" method="post" name="item_form" id="item_form">

<!-- item_table start -->
		<p>
		<ers:message code="regular.regist_income.MsgBankPayDesc" />
		</p>
	<div class="flexigrid item_table">

	<table>
		<thead>
			<tr>
				<th width="80"><ers:label code="paid_check" /></th>
				<th width="80"><ers:label code="d_no" /></th>
                <th width="80"><ers:label code="mall_d_no" /></th>
				<th width="150"><ers:message code="ss_issue_date" /></th>
				<th width="150"><ers:label code="common_name" /></th>
				<th width="90"><ers:label code="total" /></th>
				<th width="80"><ers:label code="paid_price" /></th>
				<th width="150"><ers:label code="paid_date" /></th>
			</tr>
		</thead>
		<tbody>
<ers:table variable="order" record_key="record_key" src=".Model.inputDetails" name="order">
			<tr>
				<td><input type="checkbox" name="<%=record_key%>paid_check" id="<%=record_key%>paid_check" value="true"<ers:isEqual src="order.paid_check" value="true"> checked="checked"</ers:isEqual> /></td>
				<td><%=order.d_no%> <input type="hidden" name="<%=record_key%>d_no" value="<%=order.d_no%>" /></td>
                <td><%=order.mall_d_no%></td>
				<td><%=order.intime%></td>
				<td><%=order.lname%>&nbsp;<%=order.fname%></td>
				<td><ers:formatCurrency src="order.total"/></td>
				<td><input type="text" name="<%=record_key%>paid_price" id="<%=record_key%>paid_price" value="<%=order.paid_price%>" /></td>
				<td><input type="text" name="<%=record_key%>paid_date" id="<%=record_key%>paid_date" value="<ers:formatDate src="order.paid_date" value="yyyy/MM/dd HH:mm:ss" />" /></td>
            </tr>
</ers:table>
		</tbody>
		</table>
	</div>
</form>
<!-- item_table end -->

    <ers:partial file="pager.htm" partialModel=".Pager" />

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form" class="disp_dialog001"><input type="button" name="" value="<ers:label code='common_register' />" /></a>
		</p>
		<div id="dialog001" title="<ers:message code='regular.regist_income.DialogBoxTitleBankPayRegist' />">
			<p><ers:message code="common.RegisterConfirm" /></p>
		</div>
	</div>
<!-- next end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
