﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="regular.shipment_list.TitleOutgoingList" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>/css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>/css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>/css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>/js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>/lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>/lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>/lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>/js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>/js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/regular.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="regular.shipment_list.TitleOutgoingList" /></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="bill_detail.html" method="post" name="bill_form">

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="80"><ers:message code="ss_order_details" /></th>
				<th width="80"><ers:label code="d_no" /></th>
				<th width="100"><ers:message code="ss_issue_date" /></th>
				<th width="100"><ers:label code="common_name" /></th>
				<th width="60"><ers:label code="total" /></th>
				<th width="70"><ers:label code="s_sale_ptn" /></th>
				<th width="90"><ers:message code="ss_payment_method" /></th>
				<th width="80"><ers:message code="ss_corresponding_div" /></th>
				<th width="80"><ers:label code="order_payment_status" /></th>
			</tr>
		</thead>
		<tbody>
<ers:foreach src=".Model.orderList" variable="order" roopcounter="order_cnt">
			<tr>
				<td><input type="button" class="form_btn btn01" rel="bill_detail$<%=.sec_url%>top/regular/asp/bill_detail.asp?d_no=<%=order.d_no%>" name="" id="Button1" value="<ers:message code='ss_order_details' />" /></td>
				<td><%=order.d_no%></td>
				<td><%=order.intime%></td>
				<td><%=order.lname%>&nbsp;<%=order.fname%></td>
				<td><ers:formatCurrency src="order.total"/></td>
				<td><ers:message src="order.order_type_name"/></td>
				<td><%=order.pay_name%></td>
				<td><%=order.w_order_status%></td>
				<td><%=order.w_order_payment_status%></td>
			</tr>
</ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

</form>

<form action="<%=.sec_url%>top/regular/asp/bill_detail.asp" name="bill_detail" id="bill_detail" method="post">
<!--伝票詳細用form-->
</form>

<form action="" name="download_shipment_csv_all" id="download_shipment_csv_all">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_shipment_csv_page" id="download_shipment_csv_page">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_shipment_csv_all$download_shipment_csv_all.asp" id="" name="" value="<ers:message code='ss_dl_all_slip_data' />">
			<input type="button" class="form_btn" rel="download_shipment_csv_page$download_shipment_csv_page.asp" id="" name="" value="<ers:message code='ss_dl_page_slip_data' />">
		</p>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
        <form action="bill_list.asp" method="post" >
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
