<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>商品一覧 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7">
	<meta name="keywords" content="IVP ERSv7">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/layout.css" type="text/css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css" type="text/css">
	<link rel="stylesheet" href="<%=.nor_url%>css/list.css" type="text/css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
	<script type="text/javascript" src="<%=.nor_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<script type="text/javascript">

	    $(function () {
			$(".ERS_recommend_list .title").tile();
			$(".ERS_recommend_list div").tile();
		});

        $(function () {
            new Suggest.Local(
              "s_keyword",
              "suggest",
              [],
              {
                  highlight: true,
                  hookBeforeSearch: function (text) {
                      var self = this;
                      $.post("<%=.nor_url%>top/api/asp/get_keywords_suggest.asp",
                    { keyword: text },
                    function (data, status) {
                        if (status == 'success' && data) {
                            self.clearSuggestArea();
                            self.candidateList = eval(data);
                            var resultList = self._search(text);
                            if (resultList.length != 0) {
                                self.createSuggestArea(resultList);
                            }
                        }
                    }
                 );
                  }
              }
           );
        });
    </script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;商品一覧</p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError />

	<div id="search_box" class="clearfix">
		<form method="post" action="list.asp" name="form1" group_name="on_list">
			<h3>
                <input type="text" id="s_keyword" name="s_keyword" value="<%=.Model.s_keyword%>" autocomplete="off" placeholder="商品名または商品番号を入力" /><input type="image" name="search_submit-s" id="search_submit-s2" src="<%=.nor_url%>images/btn_search.gif" value="検索">
            </h3>
            <div id="suggest" style="display:none;"></div>
			<div class="table_box">
				<dl class="clearfix">
					<dt><label for="s_price1">価格(半角数字)</label></dt>
					<dd>
						<input id="s_price1" class="w_100" name="s_price1" type="text" value="<%=.Model.s_price1%>" />&nbsp;円
						&nbsp;～&nbsp;
						<input name="s_price2" id="s_price2" class="w_100" type="text" value="<%=.Model.s_price2%>" />&nbsp;円
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="sort">検索結果の表示順</label></dt>
					<dd>
						<select id="sort" name="sort" class="w_200">
						<option value=""></option>
						<option value="1"<ers:IsEqual src=".Model.sort" value="1"> selected="selected"</ers:IsEqual>>販売価格の安い順</option>
						<option value="2"<ers:IsEqual src=".Model.sort" value="2"> selected="selected"</ers:IsEqual>>発売日の新しい順</option>
						</select>
					</dd>
				</dl>
				<dl class="clearfix">
					<dt><label for="s_outstock">在庫なしの商品を含む</label></dt>
					<dd>
						<input type="checkbox" id="s_outstock" name="s_outstock" class="w_200"<ers:isEqual src=".Model.s_outstock" value="true"> checked="checked"</ers:isEqual> />
					</dd>
				</dl>
				<p class="center iconSearch"><input class="btn black_btn" type="submit" value="検索する" name="search_item"></p>
			</div>
		</form>

	</div>

<ers:isNotEqual src=".Model.recordCount" value="0">
<!-- title start -->
			<h2>商品一覧</h2>
<!-- title end -->
</ers:isNotEqual>

<ers:dispInfo />

<!-- result_item start -->
			<div id="ERS_recommend" class="clearfix">
<!-- result_item start -->
<ers:foreach variable="item" src=".Model.merchandiseList" roopcounter="item_cnt">


<!-- result_item start -->

			<div class="ERS_recommend_list">
				<h3 class="figure"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />&from_item_list=1" class="image_2"><img src="<%=.nor_url%>images/simg/<%=item.scode %>/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" /></a></h3>
				<h3 class="title"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />&from_item_list=1"><%=item.gname%></a></h3>
				<div>
				<table>
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th>セール価格</th>
						<td><strike><ers:formatCurrency src="item.default_price"/>円</strike>→<ers:formatCurrency src="item.price"/>円<ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th>通常価格</th>
                        <td><ers:formatCurrency src="item.non_member_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            通常価格
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th>定期価格</th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期価格
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr>
</ers:isEqual>
				</table>
				<p><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />&from_item_list=1" class="btn detail_btn" >商品詳細</a></h4>
			</div>

<!-- result_item end -->

</ers:foreach>
		</div>
<!-- result_list end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />

<!-- page_send end -->

<!-- daily ranking start -->
<ers:partial file="daily_ranking.htm" />
<!-- daily ranking end -->

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/list.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
