<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift-Jis" />
<title>ﾄｯﾌﾟﾍﾟｰｼﾞ ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;font-size:10px;color:#333333;">

<!-- wrapper start -->
<div id="ERS_wrapper" style="margin:0 0 0 0;padding:0 0 0 0;">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<font color="red"><ers:dispError /></font>

<!-- contents start -->
	<div id="ERS_contents" style="margin:0 0 0 0;padding:0 10px 0 10px;">
		<h2 style="margin:0 0 0 0;padding:0 0 0 0;text-align:center;"><img src="<%=.nor_url%>images/bnr_topb01.png" alt="メイン画像" style="width:100%;margin:0 0 0 0;padding:0 0 0 0;" /></h2>


		<h3 style="margin:5px 0 3px 0;padding:0 3px 3px 3px;border-bottom:1px solid #a7bb35;color:#666666;">お知らせ</h3>
		<div class="news_box">
		<ers:foreach src=".Model.news_list" variable="news">
			<p>
				<span class="date">
					<ers:isEqual src="news.template_code" value="6">
						<a href="<%=news.link_url_1 %>">
					</ers:isEqual>
					<ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
					<ers:isEqual src="news.template_code" value="6">
						</a>
					</ers:isEqual>
				</span>
				<!--<ers:nonencode src="news.title" />-->
				<ers:isNotEqual src="news.template_code" value="6">
					<span class="newsTitle"><a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&contents_code=<%=news.contents_code %>&template_code=<%=news.template_code %>"><%=news.title %></a></span>
				</ers:isNotEqual>
			</p>
		</ers:foreach>
		<h4 style="color:#666666;">≫<a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=10000003" style="color:#a7bb35;padding:0 0 0 3px;text-decoration:none;">お知らせ一覧</a></h4>
		</div>

		<h3 style="margin:5px 0 3px 0;padding:0 3px 3px 3px;border-bottom:1px solid #a7bb35;color:#666666;">商品紹介</h3>
		<div style="margin:0 0 0 0;padding:0 0 5px 0;">
			<h3 style="text-align:center;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001"><img src="<%=.nor_url%>images/simg/pict_item01.jpg" alt="E1001" style="width:60%;margin:0 auto 0 auto;padding:0 0 0 0;border:none;" /></a></h3>
			<table>
				<tr>
					<th>内容量</th>
					<td>各商品1週間分</td>
				</tr>
				<tr>
					<th>通常価格</th>
					<td>12,000円（税込）</td>
				</tr>
				<tr>
					<th class="regular_price">定期価格</th>
					<td>定期購入はできません</td>
				</tr>
			</table>
			<p>ERS基本商品を初めてご利用になる方へ。<br />
			使用感をご確認頂く為、1週間<span class="col_01">＊</span>フルに実感できる充実の4品セットがお試しサイズで登場！<br /><br />
			<sup>＊ご利用量によって変動します。</sup></p>
			<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001" style="width:80%;margin:0 auto 0 auto;padding:5px 0 3px 0;text-align:center;color:#ffffff;text-decoration:none;display:block;background-color:#f4900f;">商品詳細</a></h4>
		</div>

		<div style="margin:0 0 0 0;padding:0 0 5px 0;">
			<h3 style="text-align:center;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101"><img src="<%=.nor_url%>images/simg/pict_item02.jpg" alt="" style="width:60%;margin:0 auto 0 auto;padding:0 0 0 0;border:none;" /></a></h3>
			<table>
				<tr>
					<th>内容量</th>
					<td>150mL</td>
				</tr>
				<tr>
					<th>通常価格</th>
					<td>2,640円（税込)</td>
				</tr>
				<tr>
					<th class="regular_price">定期価格</th>
					<td>2,160円（税込）</td>
				</tr>
			</table>
			<p>肌を柔らかくし、潤しを浸透させます。保湿化粧水。</p>
			<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101" style="width:80%;margin:0 auto 0 auto;padding:5px 0 3px 0;text-align:center;color:#ffffff;text-decoration:none;display:block;background-color:#f4900f;">商品詳細</a></h4>
		</div>

		<div style="margin:0 0 0 0;padding:0 0 5px 0;">
			<h3 style="text-align:center;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501"><img src="<%=.nor_url%>images/simg/pict_item03.jpg" alt="" style="width:60%;margin:0 auto 0 auto;padding:0 0 0 0;border:none;" /></a></h3>
			<table>
				<tr>
					<th>内容量</th>
					<td>36g</td>
				</tr>
				<tr>
					<th>通常価格</th>
					<td>4,800円（税込)</td>
				</tr>
			</table>
			<p>肌に優し成分でうるおいを与え、ふっくらキメの整った肌に保ちます。</p>
			<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501" style="width:80%;margin:0 auto 0 auto;padding:5px 0 3px 0;text-align:center;color:#ffffff;text-decoration:none;display:block;background-color:#f4900f;">商品詳細</a></h4>
		</div>

		<div style="margin:0 0 0 0;padding:0 0 5px 0;">
			<h3 style="text-align:center;"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601"><img src="<%=.nor_url%>images/simg/pict_item04.jpg" alt="" style="width:60%;margin:0 auto 0 auto;padding:0 0 0 0;border:none;" /></a></h3>
			<table>
				<tr>
					<th>内容量</th>
					<td>36g</td>
				</tr>
				<tr>
					<th>通常価格</th>
					<td>2,800円（税込)</td>
				</tr>
				<tr>
					<th class="regular_price">定期価格</th>
					<td>2,520円（税込）</td>
				</tr>
			</table>
			<p>成分を肌に押し込む化粧水。</p>
			<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601" style="width:80%;margin:0 auto 0 auto;padding:5px 0 3px 0;text-align:center;color:#ffffff;text-decoration:none;display:block;background-color:#f4900f;">商品詳細</a></h4>
		</div>

		<!-- daily ranking start -->
		<ers:partial file="daily_ranking.htm" />
		<!-- daily ranking end -->

	</div>
<!-- contents end -->

<!-- link start-->
<ers:partial file="link.htm" />
<!-- link end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
