<div class="List">

    <table>

            <ers:foreach src=".Model.regularBasketItems" variable="item">
		    <tr class="FixedRow">
			    <td>
                    <ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual>
                    <input type="hidden" name="<%=item.regular_key %>key" value="<%=item.regular_key %>" />
                </td>
                <td class="w_40 textRight">
                    <ers:message code="cart_cart_routine"/>
                </td>
			    <td class="w_100 textRight">
                    <ers:formatCurrency src="item.price" />
                </td>
			    <td class="w_50 textRight">
                    <form method="post" action="" id="form_regular<%=item.id %>" name="form_regular<%=item.regular_key%>">
                        <input type="hidden" name="regular_recompute" value="1" />
                        <input type="hidden" name="ransu" value="<%=.Model.ransu%>" />
                        <input type="hidden" name="product_status<%=item.regular_key%>" value="<%=item.order_status%>" />
                        
				        <input type="text" id="up_amount<%=item.id %>" class="w_24<ers:isEqual src="item.disabledFlg" value="true" />_disabled_disp</ers:isEqual>" name="up_amount<%=item.regular_key %>" value="<%=item.amount%>" <ers:isEqual src="item.disabledFlg" value="true" /> readonly="readonly" </ers:isEqual> maxlength="2" />
                    </form>
                    <script>
                        $("#up_amount<%=item.id %>").change(function (e) {
                            e.preventDefault();   /* stop form from submitting normally */
                            form_regular<%=item.id %>.submit();
                            return false;
                        });
                    </script>
			    </td>
			    <td class="w_100 textRight">
                     <ers:formatCurrency src="item.total" />&nbsp;
                </td>
			    <td class="w_100 textCenter">
                    <ers:IsEqual src="item.d_no" value="">
                    <form method="post" action="<%=.sec_url%>top/cart/asp/index.asp?IsOrderUpdate=<%=.Model.IsOrderUpdate%>" id="form2" name="formd<%=item.scode%>">
                        <input type="hidden" name="ransu" value="<%=.Model.ransu%>" />
                        <!--<input type="hidden" name="del_scode" value="<%=item.scode%>" />-->
                        <input type="hidden" name="del_regular_key" value="<%=item.regular_key%>" />
                        <input type="submit" class="form_btn" name="delete" value="<ers:label code='common_delete' />" onclick="return confirm('<ers:message code='cart.cart.DelItemMsgBoxContent'/>');" />
                    </form>
                    </ers:IsEqual>
			    </td>

		    </tr>

        </ers:foreach>

        <ers:foreach src=".Model.basketItems" variable="item">
		    <tr<ers:isEqual src="item.order_type" value="Subscription"> class="FixedRow"</ers:isEqual>>
			    <td>
                    <ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual>
                    <input type="hidden" name="<%=item.key %>key" value="<%=item.key %>" />
                </td>
                <td class="w_40 textRight __classification">
                    <ers:isEqual src="item.order_type" value="Usually"><ers:message code="cart_cart_normal"/></ers:isEqual>
                    <ers:isEqual src="item.order_type" value="Subscription"><ers:message code="cart_cart_routine"/></ers:isEqual>
                </td>
			    <td class="w_100 textRight __price">
                     <ers:formatCurrency src="item.price" />
                </td>
			    <td class="w_50 textRight">
                    <form method="post" action="" id="form<%=item.scode%>" name="form<%=item.scode%>">
                        <input type="hidden" name="recompute" value="1" />
                        <input type="hidden" name="ransu" value="<%=.Model.ransu%>" />
                        <input type="hidden" name="product_status<%=item.key%>" value="<%=item.order_status%>" />
                        
				        <input type="text" id="up_amount<%=item.key %>" class="__quantity w_24<ers:isEqual src="item.disabledFlg" value="true" />_disabled_disp</ers:isEqual>" name="up_amount<%=item.key %>" value="<%=item.amount%>" <ers:isEqual src="item.disabledFlg" value="true" /> readonly="readonly" </ers:isEqual> maxlength="2" />
                    </form>
                    <script>
                        $("#up_amount<%=item.key %>").change(function (e) {
                            e.preventDefault();   /* stop form from submitting normally */
                            form<%=item.scode%>.submit();
                            return false;
                        });
                    </script>
			    </td>
			    <td class="w_100 textRight">
                     <ers:formatCurrency src="item.total" />&nbsp;
                </td>
			    <td class="w_100 textCenter">
                    <ers:IsEqual src="item.d_no" value="">
                    <form method="post" action="<%=.sec_url%>top/cart/asp/index.asp?IsOrderUpdate=<%=.Model.IsOrderUpdate%>" id="formd<%=item.scode%>" name="formd<%=item.scode%>">
                        <input type="hidden" name="ransu" value="<%=.Model.ransu%>" />
                        <!--<input type="hidden" name="del_scode" value="<%=item.scode%>" />-->
                        <input type="hidden" name="del_key" value="<%=item.key%>" />
                        <input type="submit" class="form_btn" name="delete" value="<ers:label code='common_delete' />" onclick="return confirm('<ers:message code='cart.cart.DelItemMsgBoxContent'/>');" />
                    </form>
                    </ers:IsEqual>
			    </td>

		    </tr>

        </ers:foreach>

	</table>
    <ers:partial file="footer.htm" />
</div>



