<div class="List">

    <table>

         <ers:foreach src=".Model.regularBasketItems" variable="item">
		    <tr class="FixedRow">
			    <td>
                    <ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual>
                    <input type="hidden" name="<%=item.key %>key" value="<%=item.key %>" />
                </td>
                <td class="w_40 textRight">
                     <ers:message code="cart_cart_routine"/>
                </td>
			    <td class="w_100 textRight">
                    <ers:formatCurrency src="item.price" />
                </td>
                 <td class="w_50 textRight"><%=item.amount%></td>
			    
			    <td class="w_100 textRight">
                    <ers:formatCurrency src="item.total" />&nbsp;
                </td>
			    <td class="w_100 textCenter">

			    </td>

		    </tr>

        </ers:foreach>
       <ers:foreach src=".Model.basketItems" variable="item">
		    <tr<ers:isEqual src="item.order_type" value="Subscription"> class="FixedRow"</ers:isEqual>>
			    <td>
                    <ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual>
                    <input type="hidden" name="<%=item.key %>key" value="<%=item.key %>" />
                </td>
                <td class="w_40 textRight">
                    <ers:isEqual src="item.order_type" value="Usually"><ers:message code="cart_cart_normal"/></ers:isEqual>
                    <ers:isEqual src="item.order_type" value="Subscription"><ers:message code="cart_cart_routine"/></ers:isEqual>
                </td>
			    <td class="w_100 textRight">
                    <ers:formatCurrency src="item.price" />
                </td>
                 <td class="w_50 textRight"><%=item.amount%></td>
			    
			    <td class="w_100 textRight">
                    <ers:formatCurrency src="item.total" />&nbsp;
                </td>
			    <td class="w_100 textCenter">

			    </td>

		    </tr>

        </ers:foreach>

	</table>

</div>



