<div class="Header">
    <div class="CartTop clearfix">
		<div class="CartTitle"><ers:message code="cart.header.Title"/>
            <!--<a id="faq" href="#"><input type="submit" name="faq" class="submit" value="<ers:label code="common_FAQ_temp">" style="height:19px;"/></a>-->
        </div>
        <div class="CartTotal">
            <ers:message code="cart_header_total"/>:<ers:formatCurrency src=".Model.subtotal" />
        </div>
	</div>
    <table>
        <tr>
			<th><ers:label code="ProductName"></th>
			<th class="w_40"><ers:label code="common_class"></th>
			<th class="w_100"><ers:label code="UnitPrice"></th>
			<th class="w_50"><ers:label code="amount"></th>
			<th class="w_100"> <ers:label code="subtotal"></th>
			<th class="w_100"><ers:label code="manage"></th>
		</tr>
    </table>
</div>
<script type="text/javascript">
    $("#faq").click(function () {
        var result = window.open("<%=.sec_url%>faq", '_blank', "status=yes,width=1024px,height=768px,status=no,scrollbars=yes,directories=no,menubar=no,resizable=yes,toolbar=no");

        return false;
    });

</script>