﻿body {
    padding-top: 10px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#welcomediv {
    position: relative;
    width: 100%;
}

#welcomebanner {
    width: 100%;
    height: 400px;
}

#hellospan {
    position: absolute;
    width: 50%;
    top: 20%;
    bottom: 0;
    margin: 0;
    font-family: Arial;
    font-weight: bold;
    font-size: 60px;
    color: white;
    margin-left: 7%;
}

#namespan {
    position: absolute;
    width: 47%;
    top: 45%;
    bottom: 0;
    margin: 0;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    margin-left: 12%;
    word-wrap: break-word;
}

#namespan_inbox {
    word-wrap: break-word;
}

.div_namespan_inbox {
    width: 641px;
    margin-right: 0px;
    word-wrap: break-word;
}

#message_inbox {
    width: 670px;
}

.chk_all_msg {
    position: relative;
}

#announcementdiv {
    width: 70%;
    float: left;
}

#latestprojdiv {
    position:absolute;
    left:735px;
}

.header {
    font-size: 25px;
}

.example6 .navbar-brand {
    background: url(images/ivplogo.png) center / contain no-repeat;
    width: 200px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.footer-height {
    height: 90px;
    padding: 20px;
}

footer .footer-below {
    padding-top: 130px;
}


.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

    .loginmodal-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .loginmodal-container input[type=text], input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

        .loginmodal-container input[type=text]:hover, input[type=password]:hover {
            border: 1px solid #b9b9b9;
            border-top: 1px solid #a0a0a0;
            -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        }

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
        user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

    .loginmodal-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}


.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

    .panel-white .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #ddd;
    }

    .panel-white .panel-footer {
        background-color: #fff;
        border-color: #ddd;
    }

    .post .post-heading {
        height: 95px;
        padding: 20px 15px;
    }

    .post .post-heading .avatar {
        width: 60px;
        height: 60px;
        display: block;
        margin-right: 15px;
    }

    .post .post-heading .meta .title {
        margin-bottom: 0;
    }

    .post .post-heading .meta .title a {
        color: black;
    }

    .post .post-heading .meta .title a:hover {
        color: #aaaaaa;
    }

    .post .post-heading .meta .time {
        margin-top: 8px;
        color: #999;
    }
    .post .post-head {
        height: 95px;
        padding: 20px 50px;
        
    }

    .post .post-head-admin {
        height: 95px;
        padding: 20px 80px;
        padding-bottom: 90px;
    }
    .post .post-head .avatar {
        width: 60px;
        height: 60px;
    }

      .post .post-head-admin .avatar {
        width: 60px;
        height: 60px;
    }
/* announcement post in posting section */
.imgsize {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    vertical-align: text-top;
}

.post .post-heading2 {
    padding: 20px 15px;
}

    .post .post-heading2 .avatar {
        width: 60px;
        height: 60px;
        display: inline-block;
        margin-right: 15px;
    }

.maincontent {
    margin-top: 50px;
}

.foot-content {
    margin-top: 50px;
}

.post .post-heading2 .meta .title {
    margin-bottom: 0;
}

    .post .post-heading2 .meta .title a {
        color: black;
    }

        .post .post-heading2 .meta .title a:hover {
            color: #aaaaaa;
        }

.post .post-heading2 .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
    word-wrap: break-word;
}

    .post .post-description p {
        font-size: 14px;
    }

    .post .post-description .image {
        font-size: 14px;
    }

    .post .post-description .stats {
        margin-top: 20px;
    }

        .post .post-description .stats .stat-item {
            display: inline-block;
            margin-right: 15px;
        }

            .post .post-description .stats .stat-item .icon {
                margin-right: 8px;
            }

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

    .post .post-footer .input-group-addon a {
        color: #454545;
    }

    .post .post-footer .comments-list {
        padding: 0;
        margin-top: 20px;
        list-style-type: none;
    }

        .post .post-footer .comments-list .comment {
            display: block;
            width: 100%;
            margin: 20px 0;
        }

            .post .post-footer .comments-list .comment .avatar {
                width: 35px;
                height: 35px;
            }

            .post .post-footer .comments-list .comment .comment-heading {
                display: block;
                width: 100%;
            }

                .post .post-footer .comments-list .comment .comment-heading .user {
                    font-size: 14px;
                    font-weight: bold;
                    display: inline;
                    margin-top: 0;
                    margin-right: 10px;
                }

                .post .post-footer .comments-list .comment .comment-heading .time {
                    font-size: 12px;
                    color: #aaa;
                    margin-top: 0;
                    display: inline;
                }

            .post .post-footer .comments-list .comment .comment-body {
                margin-left: 50px;
            }

            .post .post-footer .comments-list .comment > .comments-list {
                margin-left: 50px;
            }

.post-area {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    font-family: Lato;
    font-size: 14px;
    height: 100px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 88%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
    vertical-align: text-top;
}

.bg-delete {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bg-edit {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.deletemodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}




/*                ERS_page_send
--------------------------------------------------*/
.m-ERS_page_send {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 0 0 0 0;
    text-align: center;
}

    .m-ERS_page_send ul {
        position: relative;
        left: 50%;
        float: left;
        text-align: center;
    }

        .m-ERS_page_send ul li {
            position: relative;
            left: -50%;
            display: inline;
            float: left;
            margin: 0 5px;
        }

            .m-ERS_page_send ul li p {
                font-size: 1.0em;
                position: relative;
                left: -50%;
                display: block;
                float: left;
                margin: 0 0 0 0;
                padding: 0 5px 0 0;
            }

                .m-ERS_page_send ul li p input[type='submit'],
                .m-ERS_page_send ul li p input[type='button'] {
                    font-size: 1.0em;
                    line-height: 1.0;
                    display: block;
                    margin: 0 0 0 0;
                    padding: 5px 10px 5px 10px;
                    color: #35250c;
                    border: none;
                    border-radius: 3px;
                    background: #e7e2da;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                }

                .m-ERS_page_send ul li p input.place[type='submit'],
                .m-ERS_page_send ul li p input.place[type='button'] {
                    font-size: 1.0em;
                    line-height: 1.0;
                    display: block;
                    margin: 0 0 0 0;
                    padding: 5px 10px 5px 10px;
                    color: #fff;
                    border: none;
                    background: #7c6853;
                }

            .m-ERS_page_send ul li.return p input.change[type='submit'],
            .m-ERS_page_send ul li.return p input.change[type='button'],
            .m-ERS_page_send ul li.enter p input.change[type='submit'],
            .m-ERS_page_send ul li.enter p input.change[type='button'] {
                font-weight: bold;
                padding: 5px 0 5px 0;
                color: #7c6853;
                border-radius: 0;
                background: none;
                -ms-border-radius: 0;
                -o-border-radius: 0;
            }

                .m-ERS_page_send ul li.return p input.change[type='submit']:hover,
                .m-ERS_page_send ul li.return p input.change[type='button']:hover,
                .m-ERS_page_send ul li.enter p input.change[type='submit']:hover,
                .m-ERS_page_send ul li.enter p input.change[type='button']:hover {
                    border: none;
                    background: none;
                }

@media screen and (max-width: 640px) {
    .m-ERS_page_send form {
        left: 50%;
    }

    .m-ERS_page_send p {
        margin: 0 0 12px 0;
        padding: 0 5px 0 0;
    }

    .m-ERS_page_send input[type='submit'],
    .m-ERS_page_send input[type='button'] {
        font-size: 1.0em;
    }
}

.a_button {
    width: 100px;
    height: 24px;
    padding: 0 0 0 0;
    line-height: 1.0;
    font-size: 1.00em;
    color: #2f4758;
    background: url(../images/bg-btn.gif) repeat-x 0 0;
    border: 1px solid #0e6cab;
    font-weight: bold;
}

/* Login Form CSS*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.account-wall {
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

    .account-wall .header {
        background-color: #337ab7;
        text-align: center;
        color: white;
        font-size: 20px;
        padding: 5px;
        max-height: 60px;
    }

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

#img_container {
    background: url(../images/img.png) no-repeat;
    background-size: 300px 280px;
    display: block;
    position: absolute;
    top: 20px;
    width: 300px;
    height: 280px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#imgfile {
    width: 300px;
    height: 280px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
}

#imgpreview {
    width: 300px;
    height: 280px;
    border-width: 0px;
    visibility: hidden;
    position: absolute;
}

.profile_pic_page {
    width: 300px;
    height: 280px;
}

.profile_pic {
    width: 300px;
    height: 280px;
}

    .profile_pic:hover {
        opacity: .7;
    }


.profile_pic_div {
    background-color: white;
    padding-right: 0 !important;
    float: left;
    margin-left: 180px;
    margin-top: 30px;
}

.namePositionDiv {
    font-size: large;
    padding-top: 30px;
    padding-bottom: 30px;
    word-break: break-word;
    width: 300px;
}

.basicInfoDiv {
    font-size: initial;
    border-width: 1px;
    margin-top: 1px;
    padding: 5px;
    margin-bottom: 5px;
}

    .basicInfoDiv img {
        width: 30px;
        height: 30px;
    }

.basicInfoMainDiv {
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}

.infoLabel {
    font-size: 15px;
    font-weight: bolder;
}

#fullname {
    font-weight: bold;
    color: gray;
}

#position {
    font-weight: lighter;
    color: gray;
    font-style: italic;
}

/*css for login page*/


#background_img {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    background: url('/images/officephoto.png') no-repeat center;
    background-size: 1450px 500px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#contentlogin {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

/*date picker*/

h2 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    color: #FFFFFF;
}

#header {
    width: 100%;
    height: 70px;
    position: relative;
    top: -40px;
    background-color: #7FC7AF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
}

.left {
    position: relative;
    top: -40px;
    float: left;
}

.right {
    position: relative;
    top: -40px;
    float: right;
}

#main {
    position: relative;
    top: 170px;
    float: left;
}

.member_pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.download_button {
    display: inline-block;
}

.about {
    color: whitesmoke;
    text-shadow: 2px 2px #000000;
}

.required {
    color: red;
}

.addWordWrapEditConfirm {
    word-break: break-word;
}

.emp_list_btn {
    margin: 5px;
}

.uploadNoteDiv {
    border: 1px solid red;
    margin: 0 auto 0 auto;
}

.uploadNoteSpan {
    font-size: 12px;
    color: red;
    padding-left: 15px;
}


/*Display employee details content mouse hover*/
.imgDetailsLogo {
    height: 30px;
    width: 30px;
}

.spanDetailsTitle {
    font-weight: bolder;
}

#divPrev {
    width: 440px;
    overflow: auto;
    position: absolute;
    left: 250px;
    top: 250px;
    background-color: #96C0CE;
    border-radius: 5px;
    z-index: 2;
    color: white;
    opacity: .9;
}

#prevImage {
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

#prv {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 170px;
    height: 170px;
    overflow: no-content;
}

.prevDivImage {
    position: absolute;
    width: 230px;
    height: 180px;
    background-color: #8bb1bd;
}

.prevDivDetails {
    /* position is static by default */
    margin-left: 230px;
    font-size: smaller;
}

.prevDivDetailsLeft {
    /* position is static by default */
    float: left;
    padding-top: 180px;
    padding-left: 15px;
    width: 220px;
    text-align: center;
    word-wrap: break-word;
}

#prevFullname {
    font-size: 20px;
}

#prevPosition {
}


.tbl {
    width: 500px;
}

.team_form_control {
    display: inline;
    width: 175px;
}

.searchDiv {
    float: left;
    margin-top: 20px;
    margin-left: 25px;
}

.leftDiv {
    float: left;
    width: 550px;
}

.lDiv {
    float: left;
}

.schedulehead {
   color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  text-align: center;
}

.vacationleave {
    background-color: rgba(146, 244, 107, 0.3);
}

.sickleave {
    background-color: rgba(255, 0, 0, 0.3);
}

/*employee message*/
#panel-message {
    background-color: white;
}

    #panel-message .panel-body {
        height: 300px;
        overflow-y: scroll;
        background-color: #eae8e8;
    }

.table-message {
    width: 100%;
    margin: 0 auto;
}

    .table-message .new {
        background-color: white;
        color: black !important;
    }

.new-count {
    background-color: #c43e3e;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50%;
}

.table-message tr {
    background-color: #d7d3d3;
    height: 80px;
    width: 100%;
    border-bottom: solid 3px #dddbdb;
    color: #6f6767;
    box-shadow: 10px 10px 5px #e1dede;
}

    .table-message tr:hover {
        background-color: #eee9e9;
        color: black;
    }

        .table-message tr:hover .new-count {
            background-color: #f53030;
            color: white;
        }


#panel-threads {
    height: 480px;
    overflow-y: scroll;
}

.inbox {
    padding-left: 20px !important;
    position: relative;
}

.check-box-container {
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    margin: 20px;
}

.check-box {
    width: 20px;
    height: 20px;
}

.table-message td h4 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.table-message td span {
    margin: 0px;
}

.message {
    width: 60%;
    height: auto;
    float: left;
    background-color: #b2dbd3;
    padding: 10px;
    word-wrap: break-word;
    margin: 3px;
    border-radius: 10px;
}

.sent {
    float: right;
    background-color: white;
}

.message_img_btn:hover {
    opacity: .5;
}


#message-textarea {
    float: left;
    margin: 10px;
    width: 80%;
    height: 100px;
    border-radius: 10px;
}

.message_img_btn {
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
}

.message_img {
    width: 60px;
    height: 60px;
    float: right;
}

.message-head {
    width: 100%;
    height: 100px;
}

.member_pic {
    width: 70px;
    height: 70px;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
}

.message-container {
    border: 3px solid #eae4d7;
    padding: 10px;
    border-radius: 10px;
}

.member_img {
    height: 100%;
    width: 100%;
}

#picture-container {
    width: 70px;
    height: 90px;
    float: left;
    margin-right: 20px;
}

#delete-all-div {
    display: block;
    width: 250px !important;
    float: left;
    height: 20px;
    margin: 20px;
    font-size: 20px;
}

.emp_list_name tr {
    width: 100%;
}

.emp_list_name td.my_mem {
    width: 70%;
}

.emp_list_name td.add_mem {
    width: 80%;
}

.emp_list_name p {
    word-break: break-all;
}

/*time keeping*/
.pending-div {
    float: left;
    margin-left: 265px;
    text-align: center;
}

.app-div {
    float: left;
    margin-left: 250px;
    text-align: center;
}

.sched-req-div {
    width: 250px;
    height: 400px;
    margin-bottom: 50px;

}

.sched-relative {
    position: relative;
}

.pend-app-div {
    float: left;
    border-style: solid;
    border-width: 2px;
    border-style: groove;
    border-color: darkgray;
}

.pend-inner {
    overflow-y: scroll;
    height: 487px;
    width: 400px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-style: groove;
    border-color: darkgray;
}

.pend-margin {
    margin: 5px;
}

.pend-request {
    float: left;
    width: 370px;
    padding-left: 5px;
    margin-bottom: 10px;
    padding-right: 5px;
}


.request-detail {
    float: left;
    width: 270px;
}

    .request-detail span {
        font-size: larger;
    }

.request-btn {
    float: right;
    margin-right: 10px;
}


.approval {
    text-align: right;
    margin-right: 10px;
}

.received{
    text-align:right;
    margin-right : 20px;
}

#divLeave.self {
    height: 20px;
}

.self {
    height: 40px;
}

.approval p {
    font-size: 25px;
    font-family: Arial;
}

.status_span {
    font-size: 25px;
    height: 10px;
}

.my-app-div {
    float: left;
    margin-left: 20px;
    margin-bottom: 30px;
}

.application{
    float:none;
    overflow-y:scroll; 
    height:214px;
    width:400px;
    border-color: darkgray;
}

.eta_bgcolor {
    background-color: orange;
}

.bold {
    font-weight: bold;
}

.req_type {
    font-weight: bold;
    font-size: larger;
}

.appoved_req_type {
    font-weight: bold;
    font-size: large;
}


/* ===========================
   ===== Undertime ===== 
   =========================== */

.header_ut_label {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

[class*="ut col-md"] {
    padding-top: 5px;
    padding-bottom: 5px;
    /*background-color: #eee;*/
    /*background-color: rgba(86,61,124,.15);*/
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.undertime_label {
    font-weight: bold;
    background-color: #9cc2e5;
}

.undertime_text {
    text-align: center;
}

.date_start {
    width: 250px;
    text-align: center;
}

.ut_time {
    display: inline-block;
    width: 70px;
}

.reason_types {
    text-align: center;
    margin: 25px 0 0 0;
    border: 0px solid;
}

.reason_type_label {
    margin: 0 140px 0 0;
    border: 0px solid;
}

.reason_choose {
    display: inline-block;
    width: 290px;
}

.reason {
    text-align: center;
    margin: 20px 0 0 0;
    border: 0px solid;
}

.ut_reason_text {
    width: 700px;
    height: 100px;
}

.ut_btn {
    text-align: center;
    margin: 10px 0 0 0;
}

.buttons {
    margin: 15px auto 0 auto;
    padding: 0 0 0 0;
    text-align: center;
}

.blue_bgcolor {
    background-color: #9cc2e5;
    width: 50%;
}

.center-text {
    text-align: center;
}

/*LEAVE OF ABSENCE FORM DESIGN*/
.absence h3 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.absence th {
    background-color: #9cc2e5;
    font-weight: bold;
}

.absence .table-leave tr td {
    border-top: none;
}

    .absence .table-leave tr td label {
        font-weight: 100;
        margin: 5px;
    }

.absence .reason-text {
    width: 100%;
    height: 65px;
}

.absence footer {
    margin: 20px 0;
}

.absence .half-day {
    margin: 0 5px 0 20px;
}

.absence input[type=checkbox].half-day {
    height: 15px;
    width: 15px;
}

.absence label.label-half {
}

.absence .th_label {
    width: 50%;
}

.leave_icons {
    width: 30px;
    height: 30px;
}
/*CHANGE PASS COMPLETE*/
.change-pass-body {
    padding: 50px;
}

.lDiv .approved {
    width: 230px;
    height: 10px;
}

.see_details {
    text-align: left;
}

.calendar_btn {
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
    width: 80px;
    height: 85px;
}

.calendar_btn_div {
    background: url(../images/calendar_blank.jpg) no-repeat;
    background-size: 75px 80px;
    width: 75px;
    height: 80px;
    cursor: pointer;
    float: left;
}

#add_form_pic {
    width: 70px;
    height: 70px;
}


#month_now {
    color: #5bc0de;
    font-size: medium;
    font-weight: bold;
}

#day_now {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    color: #d9534f;
}

.calendar_btn_tooltip:hover #calendar-tooltip-text {
    visibility: visible;
    display: inline;
}

.request_btn_tooltip:hover #request-tooltip-text {
    visibility: visible;
    display: inline;
}

.tooltip-text {
    background-color: black;
    color: #fff;
    visibility: hidden;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    display: none;
    position: absolute;
}

.add_form_menu {
    color: white !important;
    padding: 10px;
    border-radius: 6px;
}

/*Employee Search*/
#emp_table thead {
    background-color: #337ab7;
    color: white;
}

    #emp_table thead tr th {
        padding: 18px;
    }

#detailsDiv {
    margin-top: 10px;
}

#position-title {
    font-style: italic;
    font-size: 12px;
}

#email {
    color: blue;
    font-size: 12px;
}

#searchSpecDiv {
    max-width: 100%px;
    max-height: 200px;
}

.search-div-container {
    padding: 5px;
    font-weight: bold;
}

.search-div-end {
    margin-bottom: 20px;
}

.search-crit {
    padding-right: 0px;
    padding-top: 5px;
}

.search-btn {
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

    .search-btn:hover {
        opacity: .5;
    }

.btn-csv {
    padding: 20px;
    font-weight: bold;
}

/*EMS Angular Pager*/
.selected-pager {
    background: #255279 !important;
    color: white !important;
}

.ems-angular-pager ul li {
    display: inline-block;
    padding: 5px;
}

    .ems-angular-pager ul li input {
        background: #337ab7;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

        .ems-angular-pager ul li input:hover {
            background: #47a0ed !important;
            color: white;
        }

    .ems-angular-pager ul li #next, #prev {
        background: none !important;
        color: #337ab7;
    }

        .ems-angular-pager ul li #next:hover, #prev:hover {
            background: #337ab7 !important;
            color: white;
        }


.pending-bg {
    color: #fff;
    background-color: #ed9c2c;
    border-color: #eea236;
}

.my-pending-bg {
   color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.approved-req-bg {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.denied-req-bg {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.line-break {
    white-space: pre-line
}


/*Modal Details*/

.ems-modal .modal-content {
    background: none;
    padding-top: 0;
    border-top: 0px;
}

.ems-modal .modal-body {
    padding: 0;
}

#modal-details-body {
    min-width: 380px;
}

#modal-img-container {
    opacity: 1 !important;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
    min-width: 100px;
    min-height: 100px;
}

.ems-modal-header {
    padding: 20px;
    background: white;
    opacity: .9;
    min-height: 90px;
}

.modal-label {
    color: gray;
    margin: 0 auto;
    text-align: center;
    max-height: 100px;
    max-width: 400px;
    min-width: 200px;
    min-height: 50px;
}

#modal-img {
    max-height: 200px;
    max-width: 200px;
    min-width: 100px;
    min-height: 100px;
}

#info-div {
    background-color: #89bac6;
    text-align: left;
    margin: 0;
    padding: 30px;
    padding-bottom: 10px;
}

#fullname-modal {
    font-size: 37px;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 0px;
}

.modal-details {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 6px;
}

.modal-field {
    font-weight: normal;
}

#arrow-up {
    text-align: center;
    opacity: .7;
}

    #arrow-up:hover {
        text-align: center;
        opacity: 1;
    }

#arrow-up-btn {
    width: 70px;
    height: 30px;
    border: none;
    background: none;
}

#arrow-up-img {
    width: 100%;
    height: 100%;
}

#leave-div {
    background-color: #89bac6;
    text-align: left;
    margin: 0;
    padding: 10px;
}

.note-field {
    color: white;
    font-weight: normal;
    font-size: 10px;
}

.ems-modal-title {
    font-size: 24px;
}

#settings-modal-body {
    min-height: 400px;
}

.modal-radio {
    height: 16px;
    width: 16px;
}

.ems-modal-select {
    color: gray;
    font-weight: normal;
    border-radius: 5px;
    min-width: 100px;
    min-height: 40px;
    border: none;
}


.modal-table tbody tr td {
    padding: 8px;
}

    .modal-table tbody tr td input {
        color: gray;
        width: 30px;
        height: 30px;
        font-weight: normal;
        border-radius: 5px;
        border: none;
        padding: 3px;
    }

.modal-logo {
    width: 50px;
    height: 50px;
}

.modal-Submit-btn {
    width: 100%;
    height: 40px;
    color: gray;
    border: none;
    border-radius: 5px;
    font-weight: normal;
    background-color:white;
    margin-top:70px;
}

.modal-Submit-btn:hover {
    background-color:#aaaaaa;
    color:white;
}


#member_img:hover {
     filter: drop-shadow(0px 0px 5px #000000);
}

#adminContent {
width: 100%;
position:relative;

}

#reportContent {
left: 0px;
position:absolute;
}


#adminEventContent {
left: 600px;
position:absolute;
}

#announcementSubContainer {
position:absolute;
}

#announcementMainContainer {
position:relative;
}

#rDiv {
    position: absolute;
    top: -39px;
}

#approvedContainer {
    margin-left:650px; 
    position:relative;
}

#mDiv {
    margin-top:20px;
    position:relative; 
    width:400px;
    margin-left:250px;

}

.emp_home_img {
width:60px;
height:60px;

}



.pend-inner::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.pend-inner::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.pend-inner::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #153263;
}

.pend-app-div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.pend-app-div::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.pend-app-div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #153263;
}

.img-prev {
    max-height:300px;
    max-width:300px;

}
.btn-prev {
    padding:3px;
}