﻿.workSchedule {
    border: 2px solid lightblue;
    padding: 3px;
    width: 140px;
    height: 80px;
    border-radius: 5px;
    text-align: center;
    background-color:#D2DFF8;
}

.ETA {
    border: 2px solid #FFE1B4;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    background-color : #FEAA2D;
}

.onSickLeave {
    border: 2px solid #F8BCBB;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;  
    background-color: #EE504F;      
}

.onEmergencyLeave {
    border: 2px solid #8A8A8A;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: #E1E1E1;
}

.onHoliday {
    border: 2px solid mediumpurple;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    background-color: rebeccapurple; 
    color:white;       
}

.onVacationLeave {
    border: 2px solid #DEF3B9;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;  
    background-color: #7CB01F;      
}

.meeting {
    border: 2px solid lightblue;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    color:white;
    height: 90px;
    background-color: #4B7FE5;          
}
.halfDay {
    border: 2px solid #FFDCDC;
    padding: 3px;
    width: 140px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;    
    background-color : #FF9899;
}

p {
    font-size: smaller;
}

.ETA p {
    font-size: smaller;
    font-weight: bold;
}

  

