<ers:isNotEqual src=".Model.viewRankingList" value="">
<h3>売れ筋ランキング</h3>
<ers:foreach src=".Model.viewRankingList" variable="record" roopcounter="j">
<div>
	<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=record.gcode%>"><img src="<%=.dynamic_url%>images/simg/<%=record.scode %>/G<%=record.gcode%>_01.jpg?width=130" alt="" /></a><span><%=j+1%></span></h4>
	<h5 class="rank_hg"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=record.gcode%>"><%=record.gname%></a></h5>
</div>
</ers:foreach>

<script type="text/javascript">
	$(function(){
		$(".rank_hg").tile();
	});
</script>
</ers:isNotEqual>
