<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.w_metatitle%> ｜ <%=.browser_title%></title>
	<meta name="description" content="<%=.Model.metadescription%>">
	<meta name="keywords" content="<%=.Model.metawords%>">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/calendar.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/detail.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.dynamic_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery-ui.custom.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery-dateFormat.min.js"></script>
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<script src="<%=.dynamic_url%>js/detail.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.dynamic_url%>js/html5shiv.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
		<script src="<%=.dynamic_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
	<style type="text/css">
	#ERS_premessage{
		display:block;
	}
	</style>
    
	<script type="text/javascript">
        var holidays = {
	    <ers:foreach variable="holiday" src=".Model.listHolidays">
            "<ers:formatDate src="holiday" />":{},
	    </ers:foreach>
        };

        function getHolidays(day) {
            var result;
            var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
            // 祝日・非営業日定義に存在するか？
            if (holiday) {
                result = [false, ""];
            } else {
                result = [true, ""];
            }
            return result;
        }

		//カレンダー

	$(function() {
	    $("#datepicker1").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.dynamic_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
		    return getHolidays(day);
		}
	    });
	});
	</script>
	<script type="text/javascript">
		function showMenu1(){
			//alert("test");
			document.getElementById('showMenu1').style.display ="block";
			document.getElementById('showMenu2').style.display ="none";
			document.getElementById('showMenu3').style.display ="none";
		}
		function showMenu2(){
			document.getElementById('showMenu2').style.display ="block";
			document.getElementById('showMenu1').style.display ="none";
			document.getElementById('showMenu3').style.display ="none";
		}
		function showMenu3(){
			document.getElementById('showMenu3').style.display ="block";
			document.getElementById('showMenu2').style.display ="none";
			document.getElementById('showMenu1').style.display ="none";
		}

		$(function(){
			$(".ERS_recommend_list h3.title").tile(5);
			$(".ERS_recommend_list div").tile(5);
		});
	</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm">
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />">商品一覧</a>＞&nbsp;<%=.Model.sname%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
			<h2><%=.Model.sname%></h2>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br>JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- detail start -->
		<div id="ERS_detail" class="clearfix">
<!-- l_col start -->
			<div id="l_col">
				<h3>
					<span><img src="<%=.dynamic_url%>images/bimg/S<%=.Model.scode%>_01.jpg?width=264" alt="" id="img_for_view2"></span>
				</h3>
				<ul class="clearfix">
<ers:foreach variable="fileName" src=".Model.imageFiles">
					<li><img src="<%=.dynamic_url%>images/simg/<%=fileName%>?width=85" alt="" class="img_for_list2" onclick="simgChange()"></li>
</ers:foreach>
				</ul>
			</div>
<!-- l_col end -->

<!-- r_col start -->
			<div id="r_col">
				<div class="ERS_table">
					<div><ers:nonencode src=".Model.description"></div>

					<h3><%=.Model.sname%></h3>
					<table class="detail">
						<tr>
							<th>商品番号</th>
							<td><%=.Model.scode %></td>
						</tr>
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
	<ers:isEqual src=".Model.onCampaign" value="false" comment="通常価格時に表示します">
        <ers:isNotEqual src=".Model.price" variable=".Model.non_member_price">
                        <tr>
                            <th>通常価格</th>
                            <td><ers:formatCurrency src=".Model.non_member_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
                        </tr>
        </ers:isNotEqual>
						<tr>
							<th>
        <ers:isEqual src=".Model.price" variable=".Model.non_member_price">
                                通常価格
        </ers:isEqual>
        <ers:isNotEqual src=".Model.price" variable=".Model.non_member_price">
                                会員価格
        </ers:isNotEqual>
                            </th>
							<td><span><ers:formatCurrency src=".Model.price"/>円</span><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
	</ers:isEqual>
	<ers:isEqual src=".Model.onCampaign" value="true" comment="セール価格時に表示します">
						<tr>
							<th>セール価格</th>
							<td><strike><ers:formatCurrency src=".Model.default_price"/></strike>&nbsp→&nbsp<strong class="ERS_IVP_color"><ers:formatCurrency src=".Model.price"/>円</strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
	</ers:isEqual>
</ers:IsNotEqual>
<ers:IsNotEqual src=".Model.price2" value="">
						<tr>
							<th>定価</th>
							<td><span><ers:formatCurrency src=".Model.price2"/>円</span><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
</ers:IsNotEqual>
						<tr>
							<th>シェアする</th>
							<td id="sns">
							<a target="_blank" href="http://www.facebook.com/sharer.php?u=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />"><img src="<%=.dynamic_url%>images/icon_facebook.png" alt="facebook" title="facebook"></a>
							<a target="_blank" href="http://twitter.com/share?url=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />&text=<ers:UrlEncode src=".Model.sname">"><img src="<%=.dynamic_url%>images/icon_twitter.png" alt="twitter" title="twitter"></a>
							<a target="_blank" href="https://plus.google.com/share?url=<ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />&title=<ers:UrlEncode src=".Model.sname">"><img src="<%=.dynamic_url%>images/icon_googleplus.png" alt="googleplus" title="googleplus"></a>
							<!--<a target="_blank" href="http://line.me/R/msg/text/?<ers:UrlEncode src=".Model.title"><ers:UrlEncode value="\r\n" /><ers:UrlEncode src=".nor_url" /><ers:UrlEncode value="top/detail/asp/detail.asp?scode=" /><ers:UrlEncode src=".Model.scode" />"><img src="<%=.dynamic_url%>images/icon_line.png" alt="line" title="line" class="line_icon"></a>-->
							</td>
						</tr>
<ers:isEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がない場合に表示">
<ers:isNotEqual src=".Model.stock_flg" value="0">
						<tr>
							<th>在庫</th>
							<td>
									<ers:isEqual src=".Model.stock_flg" value="1">
										<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
										<ers:isEqual src=".Model.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
									</ers:isEqual>
									<ers:isEqual src=".Model.stock_flg" value="2"><%=.Model.stock%></ers:isEqual>
							</td>
						</tr>
</ers:isNotEqual>
</ers:isEqual>
<ers:isNotEqual src=".Model.countListMerchandise" value="1" comment="商品グループに複数商品がある場合に表示">
						<tr>
							<th>商品を選択</th>
							<td>
							<form action="<%=.nor_url%>top/detail/asp/detail.asp" method="post" name="matrix_form" id="matrix_form">
							<select name="scode" id="matrix_form">
								<ers:foreach variable="em" src=".Model.listMerchandise" comment="商品グループ内の商品をループします。">
									<option value="<%=em.scode%>"<ers:isEqual src="em.scode" variable=".Model.scode"> selected="selected"</ers:isEqual>>
										<%=em.attribute1%><ers:isNotEqual src="em.attribute2" value=""><ers:isNotEqual src="em.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=em.attribute2%>
										<ers:isEqual src="em.stock_flg" value="0"></ers:isEqual>
										<ers:isEqual src="em.stock_flg" value="1">
											<ers:isEqual src="em.StockStatus" value="4" comment="在庫非表示">×</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="1" comment="在庫目安表示1未満タグ">△</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="3" comment="在庫目安内">○</ers:isEqual>
											<ers:isEqual src="em.StockStatus" value="2" comment="在庫目安2より大きい">◎</ers:isEqual>
										</ers:isEqual>
										<ers:isEqual src="em.stock_flg" value="2"><%=em.stock%></ers:isEqual>
									</option>
								</ers:foreach>
							</select>
                            <input type="hidden" name="from_item_list" value="1" />
							</form>
							</td>
						</tr>
</ers:isNotEqual>
					</table>
					<div class="ERS_btn clearfix">
<ers:IsNotEqual src=".Model.s_sale_ptn" value="Regular">
					<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
						<ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">
						<form method="post" action="<%=.sec_url%>top/cart/asp/cart.asp" >
						<p class="cartbtn iconCart">
							<input type="hidden" name="scode" value="<%=.Model.scode%>">
							<input type="submit" name="normal_basket_in" value="カートに入れる" alt="" class="btn cart_btn"/>
							<ers:isEqual src=".Model.trial_flg" value="1">
							<span>こちらの商品はお一人様1回限りのご注文とさせていただきます。</span>
							</ers:isEqual>
						</p>
						</form>
						</ers:isNotEqual>

						<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
						<p class="cartbtn iconStop"><span class="btn black_btn">Sold Out</span></p>
						</ers:isEqual>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="3" comment="販売期間前に表示します。">
						<p class="cartbtn iconStop" id="saleBefore"><span class="btn black_btn">販売期間前</span></p>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
						<p class="cartbtn iconStop" id="saleAfter"><span class="btn black_btn">販売期間終了</span></p>
					</ers:isEqual>
</ers:IsNotEqual>
						<form method="post" action="<%=.sec_url%>top/cart/asp/wishlist.asp" >
							<input type="hidden" name="scode" value="<%=.Model.scode%>">
						<p class="wishlist iconStar">
							<input type="submit" name="wishlist_basket_in" value="ウィッシュリストに入れる" alt="" class="btn wish_btn"/>
						</p>
						</form>
					</div>
				</div><!-- detail table end -->
			</div><!-- r_col end -->
		</div><!-- detail end -->


<ers:isEqual src=".Model.sale_regular_flg" variable="true">
<!-- periodical start -->
		<div id="ERS_periodical" class="clearfix">
			<!--<h3><img src="<%=.dynamic_url%>images/bnr_periodical.gif" alt="" class="periodical"></h3>-->
			<div class="deliver">
					<form action="<%=.sec_url%>top/cart/asp/cart.asp">
					<ers:isEqual src=".Model.disp_send_ptn_month_intervals" value="true">
					<br>
					<h3><input type="radio" name="send_ptn" id="send_ptn1" value="1" onclick="showMenu1();"<ers:isEqual src=".Model.send_ptn" value="MONTH_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn1">月単位で同じ日にお届け</label></h3>
					<div id="showMenu1"<ers:isNotEqual src=".Model.send_ptn" value="MONTH_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">
									<select class="w_40" name="ptn_monthly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_monthly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;ヶ月ごとの&nbsp;
									<select class="w_60" name="ptn_day">
									<ers:foreach src=".Model.ListPtnDay" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select><!--<br>-->&nbsp;
<!--							<select class="fixInput" name="next_date_month">
									<option value="">初回配送月を選択してください</option>
									<ers:foreach src=".Model.ListRegularSenddateMonth" variable="value">
									<option value="<ers:FormatDate src="value">"<ers:isEqual src=".Model.next_date_month" variable="value"> selected="selected"</ers:isEqual>><ers:FormatDate src="value" value="yyyy年MM月"></option>
									</ers:foreach>
									</select>
-->					</div>	
					</div>
					</ers:isEqual>

					<ers:isEqual src=".Model.disp_send_ptn_week_intervals" value="true">
					<br>
					<h3><input type="radio" name="send_ptn" id="send_ptn2" value="2" onclick="showMenu2();"<ers:isEqual src=".Model.send_ptn" value="WEEK_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn2">月単位で同じ曜日にお届け</label></h3>
					<div id="showMenu2"<ers:isNotEqual src=".Model.send_ptn" value="WEEK_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">		
									<select class="w_40" name="ptn_weekly_interval_month">
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;ヶ月ごと&nbsp;
									<select class="w_40" name="ptn_interval_week">
									<ers:foreach src=".Model.ListPtnIntervalWeek" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;週目の&nbsp;
									<select class="w_40" name="ptn_weekday">
									<ers:foreach src=".Model.ListPtnWeekday" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select>
					</div>
					</div>
					</ers:isEqual>

					<ers:isEqual src=".Model.disp_send_ptn_month_day_intervals" value="true">
						<br>
						<h3><input type="radio" name="send_ptn" id="send_ptn3" value="3" onclick="showMenu3();"<ers:isEqual src=".Model.send_ptn" value="DAY_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn3">指定した周期でお届け</label></h3>
					<div id="showMenu3"<ers:isNotEqual src=".Model.send_ptn" value="DAY_INTERVALS"> style="display:none;"</ers:isNotEqual>>	
						<h3>お届け期間を選択してください</h3>
						<p>
							<select class="w_80" name="ptn_interval_day">
							<ers:foreach src=".Model.ListPtnIntervalDay" variable="entity">
							<option value="<%=entity.value%>"<ers:isEqual src=".Model.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%>日ごと</option>
							</ers:foreach>
							</select>
						</p>
						<h3>初回配送日を選択してください</h3>
						<div class="cal_in">
							<input type="radio" name="firstTime" value="0" id="shortest"<ers:isEqual src=".Model.firstTime" value="0"> checked="checked"</ers:isEqual>><label for="shortest">最短でお届け</label><br>
							<input type="radio" name="firstTime" value="1" id="fixed"<ers:isEqual src=".Model.firstTime" value="1"> checked="checked"</ers:isEqual>><label for="fixed">配送指定日を選択する</label><br>
							<input type="text" name="next_date_day" size="14" id="datepicker1"  value="<ers:formatDate src=".Model.next_date_day">">
						</div>
					</div>	
					</ers:isEqual>

					<table class="detail">
    <ers:isNotEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
						<tr>
							<th>定期価格</th>
							<td>
        <ers:isEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
								<strong><ers:formatCurrency src=".Model.non_member_regular_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>
        </ers:isEqual>
							</td>
						</tr>
        <ers:isNotEqual src=".Model.non_member_regular_first_price" variable=".Model.non_member_regular_price">
						<tr>
							<th>初回価格</th>
							<td><ers:formatCurrency src=".Model.non_member_regular_first_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
						<tr>
							<th>2回目より</th>
							<td><strong><ers:formatCurrency src=".Model.non_member_regular_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
        </ers:isNotEqual>
    </ers:isNotEqual>
						<tr>
							<th>
    <ers:isEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
                                定期価格
    </ers:isEqual>
    <ers:isNotEqual src=".Model.regular_price" variable=".Model.non_member_regular_price">
                                定期会員価格
    </ers:isNotEqual>
                            </th>
							<td>
	<ers:isEqual src=".Model.regular_first_price" value="">
								<strong><ers:formatCurrency src=".Model.regular_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual>
    </ers:isEqual>
							</td>
						</tr>
	<ers:isNotEqual src=".Model.regular_first_price" value="">
						<tr>
							<th>初回価格</th>
							<td><ers:formatCurrency src=".Model.regular_first_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
						<tr>
							<th>2回目より</th>
							<td><strong><ers:formatCurrency src=".Model.regular_price"/></strong>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></td>
						</tr>
    </ers:isNotEqual>

					<ers:isEqual src=".Model.DatePeriod" value="1" comment="販売期間内に表示します。">
						<ers:isNotEqual src=".Model.StockStatus" value="4" comment="在庫がある場合に表示します。">

							<tr>
								<th colspan="2" class="border_none">
								<input type="hidden" name="scode" value="<%=.Model.scode%>">
								<input type="submit" name="regular_basket_in" value="定期コースでのご購入" class="btn cart_btn"/>
								</th>
							</tr>
						</ers:isNotEqual>

						<ers:isEqual src=".Model.StockStatus" value="4" comment="在庫がない場合に表示します。">
							<tr>
								<th colspan="2" class="border_none"><span class="btn black_btn">Sold Out</span></th>
							</tr>
						</ers:isEqual>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="3" comment="販売期間前に表示します。">
							<tr>
								<th colspan="2" class="border_none"><span class="btn black_btn">販売期間前</span></th>
							</tr>
					</ers:isEqual>

					<ers:isEqual src=".Model.DatePeriod" value="2" comment="販売期間終了時に表示します。">
							<tr>
								<th colspan="2" class="border_none"><span class="btn black_btn">販売期間終了</span></th>
							</tr>
					</ers:isEqual>
					</table>

</form>

</div>
</div>
<!-- periodical end -->
</ers:isEqual>

<!-- detail_info start -->
<div id="custumer">
	<ers:partial variable=".Model.detail_info_Path">
</div>
<!-- detail_info end -->


<ers:isNotEqual src=".Model.recommendItemCount" value="0" >
<!-- set item start -->
		<h2 class="subtitle">お勧め商品</h2>
		<div id="ERS_recommend" class="clearfix">
	<ers:foreach src=".Model.recommendItems" variable="item">
			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="image_2"><img src="<%=.nor_url%>images/simg/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" /></a></h3>
				<h3 class="title"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />"><%=item.gname%></a></h3>
				<div>
				<table class="detail_recommend">
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th>セール価格</th>
						<td><strike><ers:formatCurrency src="item.default_price"/>円</strike>→<ers:formatCurrency src="item.price"/>円<ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th>通常価格</th>
                        <td><ers:formatCurrency src="item.non_member_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            通常価格
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
			<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th>定期価格</th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期価格
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            定期会員価格
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.regular_price"/>円<ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
				</table>
				<p><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="btn detail_btn" >商品詳細を見る</a></h4>
			</div>
<ers:isEqual src="item.endline" value="True">
			<br class="release_b">
		</div>
		<div id="ERS_recommend">
</ers:isEqual>
</ers:foreach>
			<br class="release_b">
		</div>
<!-- set item end -->
</ers:isNotEqual>



<!-- daily ranking start -->
<ers:partial file="daily_ranking.htm" />
<!-- daily ranking end -->
			<div class="ERS_btn clearfix">
                <ers:isNotEqual src=".list.from_item_list" value="true">
				<p class="arrow02_l_l center"><a href="#" onClick="history.back();return false;" class="btn back">戻る</a></p>
                </ers:isNotEqual>

                <ers:isEqual src=".list.from_item_list" value="true">
                <p class="arrow02_l_l center"><a href="#" onClick="document.forms.return_list.submit();return false;" class="btn back">戻る</a></p>
                </ers:isEqual>
			</div>

            <form action="<%=.nor_url%>top/search/asp/list.asp" method="post" name="return_list"></form>
		</section><!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/detail.htm">
<!-- sidemenu2 end -->

	</div><!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm">
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

