<ers:isNotEqual src=".Model.viewHistoryList" value="">
<h3>最近見た商品</h3>
<ers:foreach src=".Model.viewHistoryList" variable="record" roopcounter="j">
<div>
	<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=record.gcode%>"><img src="<%=.dynamic_url%>images/simg/<%=record.scode %>/G<%=record.gcode%>_01.jpg?58" alt="" /></a><span><%=j+1%></span></h4>
	<h5><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=record.gcode%>"><%=record.gname%></a></h5>
</div>
</ers:foreach>
</ers:isNotEqual>