﻿<ers:isNotEqual src=".Model.ccode" value="">
<ers:isEqual src=".Model.campaign_name" value="">
<ers:message code="order.campaign_name.MediaNotFound"/>
</ers:isEqual>
<ers:isNotEqual src=".Model.campaign_name" value="">
<%=.Model.campaign_name %>
</ers:isNotEqual>
</ers:isNotEqual>