﻿<input type="hidden" name="page1"                       value="<%=.Model.page1%>" />
<input type="hidden" name="page2"                       value="<%=.Model.page2%>" />
<input type="hidden" name="page3"                       value="<%=.Model.page3%>" />
<input type="hidden" name="page4"                       value="<%=.Model.page4%>" />

<input type="hidden" name="mcode"                       value="<%=.Model.mcode%>" />

<input type="hidden" name="order_d_no"                  value="<%=.Model.order_d_no%>" />

<input type="hidden" name="cts_order_id"                value="<%=.Model.cts_order_id%>" />
<input type="hidden" name="cts_order_temp_d_no"         value="<%=.Model.cts_order_temp_d_no%>" />
<input type="hidden" name="cts_order_ransu"             value="<%=.Model.cts_order_ransu%>" />
<input type="hidden" name="cts_order_user_id"           value="<%=.Model.cts_order_user_id%>" />
<input type="hidden" name="cts_order_charge1_ag_type"   value="<%=.Model.cts_order_charge1_ag_type%>" />
<input type="hidden" name="cts_order_charge1_ag_name"   value="<%=.Model.cts_order_charge1_ag_name%>" />

