﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="order.index.Title"/></title>
</head>

<frameset rows="82px,*" frameborder="1" border="1" framespacing="0">
	<frame name="header" src="<%=.sec_url%>top/order/asp/Header.asp" frameborder="1" scrolling="no">
	<frameset cols="300px,*" frameborder="1" border="2" framespacing="0">
        <frame name="left_t" src="<%=.sec_url%>top/product/asp/Search.asp?mcode=<%=.Model.mcode%>&TargetController=cart&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" frameborder="1" scrolling="auto">
		<frameset class="__frameset" rows="30%,*" frameborder="1" border="2" framespacing="0" >
			<frame name="right_t" name="menu" src="<%=.sec_url%>top/cart/asp/index.asp?mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" frameborder="1" scrolling="auto" >
			<frame name="right_b" src="<%=.sec_url%>top/order/asp/Order.asp?mcode=<%=.Model.mcode%>&order_d_no=<%=.Model.order_d_no%>&cts_order_temp_d_no=<%=.Model.cts_order_temp_d_no%>" frameborder="1" scrolling="auto">
		</frameset>
	</frameset>
        <ers:partial file="footer.htm" />
</frameset>
 </html>
