﻿<ers:isEqual src=".Model.IsResetOrder" value="true">
<div class="RegistOrder">
    <h3><ers:message code="order.orderstatus.Title"/></h3>
    <div class="MemberDetail">
        <table class="Detail">
            <tr>
                <td>
                
                    <input type="radio" id="typeorder" name="Edit_Temp" value="0" <ers:isEqual src=".Model.Edit_Temp" value="0"> checked="checked"</ers:isEqual> /><label for="typeorder"><ers:label code="reg_order"/></label>
                    <input type="radio" id="typetemporder" name="Edit_Temp" value="1" <ers:isEqual src=".Model.Edit_Temp" value="1"> checked="checked"</ers:isEqual> /><label for="typetemporder"><ers:label code="TemporaryOrder"/></label>
                </td>
            </tr>
        </table>
    </div>
    
</div>
</ers:isEqual>

<ers:isNotEqual src=".Model.IsResetOrder" value="true">
    <div style="display:none">
    <input type="radio" id="typeorder" <ers:isEqual src=".Model.Edit_Temp" value="0"> name="Edit_Temp" value="0" checked="checked" </ers:isEqual>/><label for="typeorder"><ers:label code="reg_order"/></label>
   <input type="radio" id="typetemporder" <ers:isEqual src=".Model.Edit_Temp" value="1"> name="Edit_Temp" value="1"  checked="checked" </ers:isEqual>/><label for="typetemporder"><ers:label code="TemporaryOrder"/></label>
   </div>
</ers:isNotEqual>

<script type="text/javascript">
    $("#typeorder").click(function () {
        //$("#cts_order_status").hide();
        $("#save_temp_order").hide();
        /*$("#order_status").show();*/
        $("#goto_payment").show();
        $("#Edit_Temp").val(0);
        $("#OrderPageBody").css("background-color", "");
    });
    $("#typetemporder").click(function () {
        //$("#order_status").hide();
        $("#goto_payment").hide();
        /*$("#cts_order_status").show();*/
        $("#save_temp_order").show();
        $("#OrderPageBody").css("background-color", "#<%=.Model.HighlightColor %>");
    });
</script>
