﻿<script language="javascript">
function zentohan(obj){
	if(typeof(obj.value)!="string")return false;
	var han= '1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@-.,:';
	var zen= '１２３４５６７８９０ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ＠－．，：';
	var word = obj.value;
	for(i=0;i<zen.length;i++){
		var regex = new RegExp(zen[i],"gm");
		word = word.replace(regex,han[i]);
	}
	obj.value = word;
}

function searchCampaignName() {
    var ccode = $("#ccode").val();

    $.post('<%=.sec_url%>top/order/asp/CampaignName.asp',
            { ccode: ccode },
            function (htmlPartialView) {
                $("#CampaignName").html(htmlPartialView);
            }
        );
}

window.onload = searchCampaignName;
</script>
<div class="RegistOrder">
    <div class="MemberDetail">
<ers:isEqual src=".Model.showPmflg" value="false">
    <input type="hidden" name="pm_flg" value="<%=.Model.pm_flg%>" />
</ers:isEqual>
<ers:isEqual src=".Model.showPmflg" value="true">
     <h3> <ers:message code="order.order_other.Title"/></h3>
       <table class="Detail">
		    <tr>
			    <th><ers:label code="pm_flg"/></th>
			    <td style="width:400px;">
<ers:foreach variable="entity" src=".Model.pm_flgList">
                <ers:isNotEqual src="entity.value" value="2">
                <ers:isNotEqual src="entity.value" value="3">
					<input type="radio" name="pm_flg" id="pm_flg<%=entity.value%>" value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.pm_flg"> checked="checked"</ers:isEqual><ers:isEqual src=".Model.page3" value="true" /> disabled="disabled" </ers:isEqual>><label for="pm_flg<%=entity.value%>"><ers:message src="entity.name"/></label><br />
                </ers:isNotEqual>
                </ers:isNotEqual>
</ers:foreach>
			    </td>
		    </tr>
	    </table>
</ers:isEqual>
    </div>
</div>
