﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <!--<script type="text/javascript" src="<%=.sec_url%>js/scrollsaver.js"></script>-->
    <!--<script src="<%=.sec_url%>js/jquery.tools.min.js" type="text/javascript"></script>-->

    <link href="<%=.sec_url%>css/tabs.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <style>
        .ERS_information p{
		text-align:center;
	}
    </style>
</head>
<body id="OrderPageBody" style="background-color:<ers:isEqual src=".Model.Edit_Temp" value="0"></ers:isEqual><ers:isEqual src=".Model.Edit_Temp" value="1">#<%=.Model.HighlightColor %></ers:isEqual>;">
<ers:isNotEqual src=".Model.page4" value="true">
    <span class="__dispinfo"><ers:dispInfo /></span>
</ers:isNotEqual>
    <form method="post" action="<%=.sec_url%>top/order/asp/Order.asp" name="entry_form" id="entry_form">
			<div id="OrderForm">
        <ers:partial file="../order/hidden.htm" />

         <ers:dispError />
       

        <div id="Order" <ers:isNotEqual src=".Model.page4" value="true" />style="width:600px; float:left;"</ers:isNotEqual> >
        
            <ers:isEqual src=".Model.page1" value="true" />
                <ers:partial file="../order/page1.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.page2" value="true" />
                <ers:partial file="../order/page2.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.page3" value="true" />
                <ers:partial file="../order/page3.htm" />
            </ers:isEqual>

            <ers:isEqual src=".Model.page4" value="true" />
                <ers:partial file="../order/page4.htm" />
            </ers:isEqual>
        </div>

        <ers:isNotEqual src=".Model.page4" value="true" />
            <div id="Memo">
                <ers:isNotEqual src=".Model.order_d_no" value="">
                <h3><ers:message code="order.order.OrderOperator"/></h3>
                <div class="MemberDetail"  style="width:250px;">
                <table class="Detail"><tr><td>
                &nbsp;&nbsp;<%=.Model.ordered_ag_name %>
                </td></tr></table>
                </div>
                </ers:isNotEqual>
                <h3><ers:message code="order.order.BusinessRemarks"/></h3>
                <textarea id="cts_order_memo" name="cts_order_memo" rows="20" cols="30" style="width:244px;"><%=.Model.cts_order_memo%></textarea>
            </div>
        </ers:isNotEqual>


			</div>        
    </form>
    <br />
    <ers:partial file="footer.htm" />
</body>
</html>