﻿<input type="hidden" name="pay" value="<%=.Model.pay%>" />
<input type="hidden" name="old_pay" value="<%=.Model.old_pay%>" />
<input type="hidden" name="card_id" value="<%=.Model.card_id%>" />
<input type="hidden" name="senddate" value="<%=.Model.senddate%>" />
<input type="hidden" name="ent_point" value="<%=.Model.ent_point%>" />
<input type="hidden" name="sendtime" value="<%=.Model.sendtime%>" />
<input type="hidden" name="ent_coupon_code" value="<%=.Model.ent_coupon_code%>" />
<input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
<input type="hidden" name="old_coupon_code" value="<%=.Model.old_coupon_code%>" />
<input type="hidden" name="subtotal" value="<%=.Model.subtotal %>" />
<input type="hidden" name="carriage" value="<%=.Model.carriage %>" />
<input type="hidden" name="etc" value="<%=.Model.etc %>" />
<input type="hidden" name="tax" value="<%=.Model.tax %>" />
<input type="hidden" name="coupon_discount" value="<%=.Model.coupon_discount %>" />
<input type="hidden" name="from_page1" value="1" />

<input type="hidden" name="last_used_card_info" value="<%=.Model.last_used_card_info %>" />

<input type="hidden" name="old_send" value="<%=.Model.old_send%>" />
<input type="hidden" name="old_shipping_id" value="<%=.Model.old_shipping_id%>" />

<input type="hidden" name="wk_add_lname" value="<%=.Model.wk_add_lname%>" />
<input type="hidden" name="wk_add_fname" value="<%=.Model.wk_add_fname%>" />
<input type="hidden" name="wk_add_lnamek" value="<%=.Model.wk_add_lnamek%>" />
<input type="hidden" name="wk_add_fnamek" value="<%=.Model.wk_add_fnamek%>" />
<input type="hidden" name="wk_add_tel" value="<%=.Model.wk_add_tel%>" />
<input type="hidden" name="wk_add_zip" value="<%=.Model.wk_add_zip%>" />
<input type="hidden" name="wk_add_address" value="<%=.Model.wk_add_address%>" />
<input type="hidden" name="wk_add_taddress" value="<%=.Model.wk_add_taddress%>" />
<input type="hidden" name="wk_add_maddress" value="<%=.Model.wk_add_maddress%>" />
<input type="hidden" name="wk_add_pref" value="<%=.Model.wk_add_pref%>" />

<input type="hidden" name="member_edit" value="<%=.Model.member_edit%>" />
<input type="hidden" name="shipping_edit" value="<%=.Model.shipping_edit%>" />

<input type="hidden" name="cts_order_status"            value="<%=.Model.cts_order_status%>" />
<input type="hidden" name="ordered_user_id"            value="<%=.Model.ordered_user_id%>" />
<input type="hidden" name="mall_shop_kbn" value="<%=.Model.mall_shop_kbn%>" />
<input type="hidden" name="conv_code" value="<%=.Model.conv_code%>" />
<input type="hidden" name="deliv_method" value="<%=.Model.deliv_method%>" />
<input type="hidden" name="non_member" value="<%=.Model.non_member%>" />


<input type="hidden" name="wk_lname" value="<%=.Model.wk_lname%>" />
<input type="hidden" name="wk_fname" value="<%=.Model.wk_fname%>" />
<input type="hidden" name="wk_lnamek" value="<%=.Model.wk_lnamek%>" />
<input type="hidden" name="wk_fnamek" value="<%=.Model.wk_fnamek%>" />
<input type="hidden" name="wk_tel" value="<%=.Model.wk_tel%>" />
<input type="hidden" name="wk_zip" value="<%=.Model.wk_zip%>" />
<input type="hidden" name="wk_address" value="<%=.Model.wk_address%>" />
<input type="hidden" name="wk_taddress" value="<%=.Model.wk_taddress%>" />
<input type="hidden" name="wk_maddress" value="<%=.Model.wk_maddress%>" />
<input type="hidden" name="wk_email" value="<%=.Model.wk_email%>" />
<input type="hidden" name="wk_pref" value="<%=.Model.wk_pref%>" />

<!--Order Status-->
<ers:partial file="../order/orderstatus.htm" />

<!--Order Other-->
<ers:partial file="../order/order_other.htm" />

<!--Client Information-->
<ers:partial file="../member/member_index.htm" />

<!--Shipping Addresses-->
 <ers:partial file="../shippingaddress/shipping_index.htm" />

<div class="RegistOrder" style="padding-bottom:16px; ">
    <div class="MemberDetail">
        <br />
		<br />
        <input type="submit" class="form_btn" id="save_temp_order" name="goto_page3" value="<ers:message code='order_page1_temp_order_regist_btn'/>" />
        <ers:isEqual src=".Model.shipping_edit" value="false">
                <input type="submit" class="form_btn __goto_page2" id="goto_payment" name="goto_page2" value="<ers:message code='order_page1_proceed_payment_btn'>" />
        </ers:isEqual>
    </div>
    <ers:partial file="footer.htm" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        if(document.getElementById('typeorder').checked) {
            /*$("#cts_order_status").hide();*/
            $("#save_temp_order").hide();
        }else if(document.getElementById('typetemporder').checked) {
            /*$("#order_status").hide();*/
            $("#goto_payment").hide();
        }
    });

    window.open('<%=.sec_url%>top/cart/asp/index.asp?ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>','right_t');
    window.open('<%=.sec_url%>top/product/asp/Search.asp?TargetController=cart&ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>&mcode=<%=.Model.mcode %>','left_t');

    <ers:isEqual src=".Model.reaload_cart" value="true" />
        window.open('<%=.sec_url%>top/cart/asp/index.asp?ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>','right_t');
        window.open('<%=.sec_url%>top/product/asp/Search.asp?TargetController=cart&ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>&mcode=<%=.Model.mcode %>','left_t');
    </ers:isEqual>
//    <ers:isEqual src=".Model.load_new_order" value="true" />
//        parent.location.href = parent.location.href;
//    </ers:isEqual>
//    <ers:isEqual src=".Model.load_same_order" value="true" />
//        parent.location.href = parent.location.href;
////                    parent.location.href = parent.location.href?mcode=<%=.Model.mcode%>&order_d_no=<%=.Model.order_d_no%>&cts_order_temp_d_no=<%=.Model.cts_order_temp_d_no%>;
//    </ers:isEqual>
</script>