﻿<!--Order Status-->
<input type="hidden" name="order_status" value="<%=.Model.order_status%>" />
<input type="hidden" name="cts_order_status" value="<%=.Model.cts_order_status%>" />
<input type="hidden" name="shipping_id" value="<%=.Model.shipping_id%>" />
<input type="hidden" name="Edit_Temp" value="<%=.Model.Edit_Temp%>" />
<input type="hidden" name="non_member" value="<%=.Model.non_member%>" />
<div style="width:100%; text-align:center; ">

    <div class="RegitedOrder">
        <ers:isEqual src=".Model.Edit_Temp" value="0" />
             <strong><ers:message code="order.page4.RegisteredOrder"/></strong>
	        <ers:label code="order_num"/>:<%=.Model.order_d_no %><br />
        </ers:isEqual>
        <ers:isEqual src=".Model.Edit_Temp" value="1" />
            <strong><ers:message code="order.page4.RegisteredTemporaryOrder"/></strong>
	        <ers:label code="temp_ord_num"/>:<%=.Model.cts_order_temp_d_no %><br />
        </ers:isEqual>
	    <ers:label code="given_name"/><%=.Model.lname %> <%=.Model.fname %> <br />
	    <ers:label code="tel"/>:<%=.Model.tel %><br />
	    <br />

    </div>

    <ers:dispInfo />
    <ers:partial file="footer.htm" />
</div>

<script type="text/javascript">
    window.open('<%=.sec_url%>top/cart/asp/index.asp?ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>', 'right_t');
    window.open('<%=.sec_url%>top/product/asp/Search.asp?TargetController=cart&ransu=<%=.Model.cts_order_ransu%>&mcode=<%=.Model.mcode %>', 'left_t');
</script>