﻿<!--Order Status-->
<input type="hidden" name="old_pay" value="<%=.Model.old_pay%>" />
<input type="hidden" name="order_status" value="<%=.Model.order_status%>" />
<input type="hidden" name="cts_order_status" value="<%=.Model.cts_order_status%>" />
<input type="hidden" name="shipping_id" value="<%=.Model.shipping_id%>" />
<input type="hidden" name="from_page2" value="1" />
<input type="hidden" name="Edit_Temp" value="<%=.Model.Edit_Temp%>" />
<input type="hidden" name="pm_flg" value="<%=.Model.pm_flg%>" />
<input type="hidden" name="ccode" value="<%=.Model.ccode%>" />
<input type="hidden" name="old_coupon_code" value="<%=.Model.old_coupon_code%>" />

<input type="hidden" name="old_send" value="<%=.Model.old_send%>" />
<input type="hidden" name="old_shipping_id" value="<%=.Model.old_shipping_id%>" />
<input type="hidden" name="wk_add_lname" value="<%=.Model.wk_add_lname%>" />
<input type="hidden" name="wk_add_fname" value="<%=.Model.wk_add_fname%>" />
<input type="hidden" name="wk_add_lnamek" value="<%=.Model.wk_add_lnamek%>" />
<input type="hidden" name="wk_add_fnamek" value="<%=.Model.wk_add_fnamek%>" />
<input type="hidden" name="wk_add_tel" value="<%=.Model.wk_add_tel%>" />
<input type="hidden" name="wk_add_zip" value="<%=.Model.wk_add_zip%>" />
<input type="hidden" name="wk_add_address" value="<%=.Model.wk_add_address%>" />
<input type="hidden" name="wk_add_taddress" value="<%=.Model.wk_add_taddress%>" />
<input type="hidden" name="wk_add_maddress" value="<%=.Model.wk_add_maddress%>" />
<input type="hidden" name="wk_add_pref" value="<%=.Model.wk_add_pref%>" />

<input type="hidden" name="wk_lname" value="<%=.Model.wk_lname%>" />
<input type="hidden" name="wk_fname" value="<%=.Model.wk_fname%>" />
<input type="hidden" name="wk_lnamek" value="<%=.Model.wk_lnamek%>" />
<input type="hidden" name="wk_fnamek" value="<%=.Model.wk_fnamek%>" />
<input type="hidden" name="wk_tel" value="<%=.Model.wk_tel%>" />
<input type="hidden" name="wk_zip" value="<%=.Model.wk_zip%>" />
<input type="hidden" name="wk_address" value="<%=.Model.wk_address%>" />
<input type="hidden" name="wk_taddress" value="<%=.Model.wk_taddress%>" />
<input type="hidden" name="wk_maddress" value="<%=.Model.wk_maddress%>" />
<input type="hidden" name="wk_email" value="<%=.Model.wk_email%>" />
<input type="hidden" name="wk_pref" value="<%=.Model.wk_pref%>" />

<input type="hidden" name="ordered_user_id" value="<%=.Model.ordered_user_id%>" />
<input type="hidden" name="mall_shop_kbn" value="<%=.Model.mall_shop_kbn%>" />
<input type="hidden" name="non_member" value="<%=.Model.non_member%>" />
<!--Client Information-->
<ers:partial file="../member/member_index.htm" />

<!--Credit Card-->
<ers:partial file="../card/card_index.htm" />

<!--Deliveries-->
<ers:isNotEqual src=".Model.basketItemCount" value="0">
<ers:partial file="../shippingdelivery/delivery_index.htm" />
</ers:isNotEqual>
<ers:isEqual src=".Model.basketItemCount" value="0">
<input type="hidden" name="send" value="<%=.Model.send%>" />
<input type="hidden" name="send_chk" value="<%=.Model.send_chk%>" />
</ers:isEqual>

<!--Deliveries-->
<ers:isNotEqual src=".Model.regularBasketItemCount" value="0">
<ers:partial file="../order/regular_order.htm" />
</ers:isNotEqual>

<!--Points-->
<ers:partial file="../order/points.htm" />

<!--Summary-->
<ers:IsEqual src=".Model.IsOrderUpdate" value="false">
<ers:partial file="../order/summary.htm" />
</ers:IsEqual>
<ers:IsEqual src=".Model.IsOrderUpdate" value="true">
<ers:partial file="../order/summary_update.htm" />
</ers:IsEqual>

<div class="RegistOrder" style="padding-bottom:16px; ">
    <div class="MemberDetail">
        <br />
		<br />
        <input type="submit" class="form_btn" name="goto_page1" value="<ers:label code='common_back'/>" />
        <input type="submit" class="form_btn" id="goto_page3" name="goto_page3" value="<ers:message code='order_page2_proceed_confirm_page_btn'/>" style="display:none;"/>
        <input type="button" class="form_btn __goto_page3" value="<ers:message code='order_page2_proceed_confirm_page_btn'/>" onclick="SbmBtn_click('goto_page3');"/>
    </div>
    <ers:partial file="footer.htm" />
</div>

<script type="text/javascript">
    window.open('<%=.sec_url%>top/cart/asp/disable.asp?ransu=<%=.Model.cts_order_ransu%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>', 'right_t');
    window.open('<%=.sec_url%>top/product/asp/disable.asp', 'left_t');
</script>

<script type="text/javascript">
    function SbmBtn_click(val) {
        var pay = $('input[name=pay]:checked').val();

        if (pay == "4" &&
            ("<%=.Model.lname %>" != "<%=.Model.add_lname %>" ||
            "<%=.Model.fname %>" != "<%=.Model.add_fname %>" ||
            "<%=.Model.lnamek %>" != "<%=.Model.add_lnamek %>" ||
            "<%=.Model.fnamek %>" != "<%=.Model.add_fnamek %>")) {
            if (confirm("<ers:message code='order_page2_cash_settlement'/>")) {
                $('#' + val).click();
            } else {
                return false;
            }

        }
        else {
            $('#' + val).click();
        }
    }
</script>