﻿<!--Order Status-->
<input type="hidden" name="old_pay" value="<%=.Model.old_pay%>" />
<input type="hidden" name="order_status" value="<%=.Model.order_status%>" />
<input type="hidden" name="cts_order_status" value="<%=.Model.cts_order_status%>" />
<input type="hidden" name="shipping_id" value="<%=.Model.shipping_id%>" />
<input type="hidden" name="ent_point" value="<%=.Model.ent_point%>" />
<input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
<input type="hidden" name="ent_coupon_code" value="<%=.Model.ent_coupon_code%>" />
<input type="hidden" name="old_coupon_code" value="<%=.Model.old_coupon_code%>" />
<input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
<input type="hidden" name="from_page3" value="1" />
<input type="hidden" name="Edit_Temp" value="<%=.Model.Edit_Temp%>" />
<input type="hidden" name="pm_flg" value="<%=.Model.pm_flg%>" />
<input type="hidden" name="ccode" value="<%=.Model.ccode%>" />

<input type="hidden" name="old_send" value="<%=.Model.old_send%>" />
<input type="hidden" name="old_shipping_id" value="<%=.Model.old_shipping_id%>" />
<input type="hidden" name="wk_add_lname" value="<%=.Model.wk_add_lname%>" />
<input type="hidden" name="wk_add_fname" value="<%=.Model.wk_add_fname%>" />
<input type="hidden" name="wk_add_lnamek" value="<%=.Model.wk_add_lnamek%>" />
<input type="hidden" name="wk_add_fnamek" value="<%=.Model.wk_add_fnamek%>" />
<input type="hidden" name="wk_add_tel" value="<%=.Model.wk_add_tel%>" />
<input type="hidden" name="wk_add_zip" value="<%=.Model.wk_add_zip%>" />
<input type="hidden" name="wk_add_address" value="<%=.Model.wk_add_address%>" />
<input type="hidden" name="wk_add_taddress" value="<%=.Model.wk_add_taddress%>" />
<input type="hidden" name="wk_add_maddress" value="<%=.Model.wk_add_maddress%>" />
<input type="hidden" name="wk_add_pref" value="<%=.Model.wk_add_pref%>" />

<input type="hidden" name="wk_lname" value="<%=.Model.wk_lname%>" />
<input type="hidden" name="wk_fname" value="<%=.Model.wk_fname%>" />
<input type="hidden" name="wk_lnamek" value="<%=.Model.wk_lnamek%>" />
<input type="hidden" name="wk_fnamek" value="<%=.Model.wk_fnamek%>" />
<input type="hidden" name="wk_tel" value="<%=.Model.wk_tel%>" />
<input type="hidden" name="wk_zip" value="<%=.Model.wk_zip%>" />
<input type="hidden" name="wk_address" value="<%=.Model.wk_address%>" />
<input type="hidden" name="wk_taddress" value="<%=.Model.wk_taddress%>" />
<input type="hidden" name="wk_maddress" value="<%=.Model.wk_maddress%>" />
<input type="hidden" name="wk_email" value="<%=.Model.wk_email%>" />
<input type="hidden" name="wk_pref" value="<%=.Model.wk_pref%>" />

<input type="hidden" name="ordered_user_id" value="<%=.Model.ordered_user_id%>" />
<input type="hidden" name="mall_shop_kbn" value="<%=.Model.mall_shop_kbn%>" />
<input type="hidden" name="non_member" value="<%=.Model.non_member%>" />
<!--Client Information-->
<ers:partial file="../member/member_index.htm" />

<!--Credit Card-->
<ers:isEqual src=".Model.Edit_Temp" value="0">
    <ers:partial file="../card/card_index.htm" />
</ers:isEqual>

<!--Deliveries-->
<ers:isEqual src=".Model.Edit_Temp" value="0">
<ers:isNotEqual src=".Model.basketItemCount" value="0">
    <ers:partial file="../shippingdelivery/delivery_index.htm" />
</ers:isNotEqual>
</ers:isEqual>


<ers:isEqual src=".Model.Edit_Temp" value="1">
    <div class="RegistOrder">
        <h3><ers:message code="order.page3.Title"/></h3>
	    <div class="MemberDetail">
	        <table class="Detail">
			    <tr>
				    <th class="w_300"><ers:label code="addressee"/></th>
			    </tr>
			    <tr>
				    <td>
					    <ers:label code="common_post"/><%=.Model.add_zip%>&nbsp;
					    <%=.Model.add_pref_name%>&nbsp;
	                    <%=.Model.add_address%>&nbsp;
					    <%=.Model.add_taddress%>&nbsp;
	                    <%=.Model.add_maddress%><br />

					    <%=.Model.add_lname%> <%=.Model.add_fname%><br />
					
	                    <%=.Model.add_tel %>
				    </td>
			    </tr>
		    </table>
	    </div>
        <ers:partial file="footer.htm" />
    </div>
</ers:isEqual>


<!--Deliveries-->
<ers:isNotEqual src=".Model.regularBasketItemCount" value="0">
<ers:partial file="../order/regular_order.htm" />
</ers:isNotEqual>

<!--Order Other-->
<ers:partial file="../order/order_other.htm" />

<!--Summary-->
<ers:isEqual src=".Model.Edit_Temp" value="0">
    <ers:partial file="../order/summary.htm" />
</ers:isEqual>

<div class="RegistOrder" style="padding-bottom:16px; ">
    <div class="MemberDetail">
        <br />
		<br />
        <ers:isEqual src=".Model.Edit_Temp" value="0">
            <input type="submit" class="form_btn __goto_page2" name="goto_page2" value="<ers:label code='common_back'/>"/>
            <input type="submit" class="form_btn"   id="goto_page4" name="goto_page4" value="<ers:message code='order_page3_ord_rcv_regist_btn'/>" style="display:none;"/>
            <input type="button" class="form_btn __goto_page4" value="<ers:message code='order_page3_ord_rcv_regist_btn'/>" onclick="SbmBtn_click('goto_page4');"/>
        </ers:isEqual>
        <ers:isEqual src=".Model.Edit_Temp" value="1">
            <input type="submit" class="form_btn" name="goto_page1" value="<ers:label code='common_back'/>" />
            <input type="submit" class="form_btn" id="goto_page4" name="goto_page4" value="<ers:message code='order_page3_temp_ord_regist_btn'/>" style="display:none;" />
            <input type="button" class="form_btn __goto_page4" value="<ers:message code='order_page3_temp_ord_regist_btn'/>" onclick="SbmBtn_click('goto_page4');" />
        </ers:isEqual>
    </div>
    <ers:partial file="footer.htm" />
</div>

<script type="text/javascript">
//二度押し制限*****************************************
function SbmBtn_click(val) {
    if (confirm("<ers:message code='common.RegisterMsg'/>")) {
        $('#' + val).click();
    } else {
		return false;
	}
}
</script>