﻿<script language="javascript">
    function zentohan(obj) {
        if (typeof (obj.value) != "string") return false;
        var han = '1234567890abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@-.,:';
        var zen = '１２３４５６７８９０ａｂｃｄｅｆｇｈｉｊｋｌｍｎｏｐｑｒｓｔｕｖｗｘｙｚＡＢＣＤＥＦＧＨＩＪＫＬＭＮＯＰＱＲＳＴＵＶＷＸＹＺ＠－．，：';
        var word = obj.value;
        for (i = 0; i < zen.length; i++) {
            var regex = new RegExp(zen[i], "gm");
            word = word.replace(regex, han[i]);
        }
        obj.value = word;
    }
</script>
<div class="RegistOrder">
     <div class="MemberDetail">

        <h3><ers:message code="order.points.Title"/></h3>

        <table class="Detail">

		    <tr>
			    <th><ers:label code="point"/></th>
			    <td>
				    <ers:message code="order.points.Direction" value=".Model.points_available"/><br />
				    <input type="text" class="w_150" name="ent_point" value="<%=.Model.ent_point%>" />
				    <input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
				    <input type="submit" class="form_btn" name="recompute" value="<ers:message code='order_points_apply_btn'/>" />
			    </td>
		    </tr>

		    <tr>
			    <th><ers:message code="order_points_coupon"/></th>
			    <td>
				    <input type="text" class="w_150" name="ent_coupon_code" value="<%=.Model.ent_coupon_code%>"  onblur="zentohan(this);" maxlength="20" />
				    <input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
                    <ers:isEqual src=".Model.IsOrderUpdate" value="false">
				    <input type="submit" class="form_btn" name="coupon_flg" value="<ers:message code='order_points_apply_btn'/>" />
                    </ers:isEqual>
			    </td>
		    </tr>
	    </table>

    </div>
</div>