﻿	<script type="text/javascript">
/*
	    function showMenu1(key) {
	        //alert("test");
	        document.getElementById(key + 'showMenu1').style.display = "block";
	        document.getElementById(key + 'showMenu2').style.display = "none";
	        document.getElementById(key + 'showMenu3').style.display = "none";
	    }
	    function showMenu2(key) {
	        document.getElementById(key + 'showMenu2').style.display = "block";
	        document.getElementById(key + 'showMenu1').style.display = "none";
	        document.getElementById(key + 'showMenu3').style.display = "none";
	    }
	    function showMenu3(key) {
	        document.getElementById(key + 'showMenu3').style.display = "block";
	        document.getElementById(key + 'showMenu2').style.display = "none";
	        document.getElementById(key + 'showMenu1').style.display = "none";
	    }
*/
		$(document).ready(function(){
			//初期化
			$(".send_detail").hide();
			var objSendPtn = $(".send_ptn");
			objSendPtn.filter(":checked").each(function(){
				var prefix = $(this).attr("rel");
				$("#" + prefix + $(this).val()).show();
			});
			objSendPtn.click(function(){
				$(".send_detail",$(this).closest("td")).hide();
				var prefix = $(this).attr("rel");
				$("#" + prefix + $(this).val()).show();
			});
		})
	</script>
<div class="RegistOrder">
			<div class="DeliveryDetail">
				<h3><ers:message code="order.regular_order.Title"/></h3>
				<table class="Detail">
					<tbody>
					<tr>
						<th class=""><ers:label code="ProductName"/></th>
						<th class="w_70"><ers:label code="UnitPrice"/></th>
						<th class="w_200"><ers:label code="send_ptn"/></th>
						<th class="w_40"><ers:label code="amount"/></th>
                        <th class="w_90"><ers:label code="price_status"/></th>
					</tr>
     <ers:table src=".Model.regularBasketItems" name="regularBasketItems" record_key="regular_record_key" variable="item">
					<tr>
						<td>
                            <ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual>
                            <input  type="hidden"  name="<%=regular_record_key%>regular_key" value="<%=item.regular_key %>" />
                            <input  type="hidden" name="<%=regular_record_key%>scode" value="<%=item.scode %>" />
                            <input type="hidden" name="<%=regular_record_key%>order_status" value="<%=item.order_status %>" />
                        </td>
						<td><ers:formatCurrency src="item.price" /></td>
						<td>
                            <ers:IsEqual src=".Model.IsOrderUpdate" value="True">
                                <ers:message code="order.regular_order.NewOrder"/>
                                <input type="hidden" name="<%=regular_record_key%>send_ptn" value="<%=item.send_ptn%>" />
                                <input type="hidden" name="<%=regular_record_key%>next_date_day" value="<%=item.next_date_day%>" />
                                 <input type="hidden" name="<%=regular_record_key%>next_date_month" value="<%=item.next_date_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_monthly_interval_month" value="<%=item.ptn_monthly_interval_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_weekly_interval_month" value="<%=item.ptn_weekly_interval_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday%>" />
                                <input type="hidden" name="<%=regular_record_key%>firstTime" value="<%=item.firstTime%>" />
                </ers:IsEqual>

                            <ers:IsEqual src=".Model.IsOrderUpdate" value="False">

					<ers:isEqual src="item.disp_send_ptn_month_intervals" value="true">
					<br>
					<input type="radio" name="<%=regular_record_key%>send_ptn" id="send_ptn1" class="send_ptn" value="1" rel="<%=regular_record_key%>" <ers:isEqual src="item.send_ptn" value="MONTH_INTERVALS"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>&nbsp;<label for="send_ptn1"><ers:message code="order.regular_order.DeliveryDaily"/></label>
					<div class="send_detail" id="<%=regular_record_key%>1"<ers:isNotEqual src="item.send_ptn" value="MONTH_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">
									<select class="w_40" name="<%=regular_record_key%>ptn_monthly_interval_month"<ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src="item.ptn_monthly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;<ers:message code="order_regular_order_monthly_btn"/>&nbsp;
									<select class="w_60" name="<%=regular_record_key%>ptn_day"<ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<ers:foreach src=".Model.ListPtnDay" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src="item.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select><!--<br>-->&nbsp;
<!--							        <select class="fixInput" name="<%=regular_record_key%>next_date_month"<ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<option value="">初回配送月を選択してください</option>
									<ers:foreach src=".Model.ListRegularSenddateMonth" variable="value">
									<option value="<ers:FormatDate src="value">"<ers:isEqual src="item.next_date_month" variable="value"> selected="selected"</ers:isEqual>><ers:FormatDate src="value" value="yyyy年MM月"></option>
									</ers:foreach>
									</select>
-->					</div>	
					</div>
					</ers:isEqual>

					<ers:isEqual src="item.disp_send_ptn_week_intervals" value="true">
					<br>
					<input type="radio" name="<%=regular_record_key%>send_ptn" id="send_ptn2" class="send_ptn" value="2" rel="<%=regular_record_key%>" <ers:isEqual src="item.send_ptn" value="WEEK_INTERVALS"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>&nbsp;<label for="send_ptn2"><ers:message code="order.regular_order.DeliveryWeekly"/></label>
					<div class="send_detail" id="<%=regular_record_key%>2"<ers:isNotEqual src="item.send_ptn" value="WEEK_INTERVALS"> style="display:none;"</ers:isNotEqual>>
					<div class="cal_in">		
									<select class="w_40" name="<%=regular_record_key%>ptn_weekly_interval_month" <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<ers:foreach src=".Model.ListPtnIntervalMonth" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src="item.ptn_weekly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;<ers:message code="order_regular_order_per_month_btn"/>&nbsp;
									<select class="w_40" name="<%=regular_record_key%>ptn_interval_week" <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<ers:foreach src=".Model.ListPtnIntervalWeek" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src="item.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
									</ers:foreach>
									</select>&nbsp;<ers:message code="order_regular_order_weekly_btn"/>&nbsp;
									<select class="w_80" name="<%=regular_record_key%>ptn_weekday" <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
									<ers:foreach src=".Model.ListPtnWeekday" variable="entity">
									<option value="<%=entity.value%>"<ers:isEqual src="item.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
									</ers:foreach>
									</select>
					</div>
					</div>
					</ers:isEqual>

					<ers:isEqual src="item.disp_send_ptn_month_day_intervals" value="true">
						<br>
						<input type="radio" name="<%=regular_record_key%>send_ptn" id="send_ptn3" class="send_ptn" value="3" rel="<%=regular_record_key%>" <ers:isEqual src="item.send_ptn" value="DAY_INTERVALS"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>&nbsp;<label for="send_ptn3"><ers:message code="order.regular_order.DeliverySpecifiedPeriod"/></label>
					<div class="send_detail" id="<%=regular_record_key%>3"<ers:isNotEqual src="item.send_ptn" value="DAY_INTERVALS"> style="display:none;"</ers:isNotEqual>>
							<select style="width:131px;" name="<%=regular_record_key%>ptn_interval_day" id="ptn_interval_day" <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>
							<ers:foreach src=".Model.ListPtnIntervalDay" variable="entity">
							    <option value="<%=entity.value%>"<ers:isEqual src="item.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%>日ごと</option>
</ers:foreach>
                            </select><br />	
							<span>
							    <input type="radio" name="<%=regular_record_key%>firstTime" value="0" id="shortest"<ers:isEqual src="item.firstTime" value="0"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>><label for="shortest"><ers:message code="order_regular_order_shortest_rbtn"/></label>
							    <input type="radio" name="<%=regular_record_key%>firstTime" value="1" id="fixed"<ers:isEqual src="item.firstTime" value="1"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>><label for="fixed"><ers:message code="order_regular_order_specification_rbtn"/></label>
							</span>
							<input type="text" class="datepicker_date" name="<%=regular_record_key%>next_date_day" size="14" id="<%=regular_record_key%>next_date_day"  value="<ers:formatDate src="item.next_date_day" />" <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual>>

					</div>	
					</ers:isEqual>

                            </ers:IsEqual>
						</td>
						<td>
                            
                            <input type="text" class=" w_24<ers:isEqual src="item.disabledFlg" value="true" />_disabled_disp</ers:isEqual>"  id="<%=regular_record_key%>amount" name="<%=regular_record_key%>amount" value="<%=item.amount%>"<ers:isEqual src="item.disabledFlg" value="true" /> readonly="readonly" </ers:isEqual>  maxlength="2" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled" </ers:isEqual> />
                            <script>
                                var allChecked = true;
                                var notEnterKey = true;


                                $("#<%=regular_record_key%>amount").change(function (e) {

                                    var ctrSendptn1 = 0;
                                    var ctrSendptn2 = 0;
                                    var ctrSendptn3 = 0
                                    if (allChecked || notEnterKey) {

                                        $(".send_ptn").each(function (index, element) {
                                            if (!element.checked) {
                                                if (element.id == "send_ptn1") {
                                                    ctrSendptn1++;
                                                }
                                                else if (element.id == "send_ptn2") {
                                                    ctrSendptn2++;
                                                }
                                                else if (element.id == "send_ptn3") {
                                                    ctrSendptn3++;
                                                }
                                            }
                                            else {
                                                allChecked = true;
                                            }
                                        });

                                        if (ctrSendptn1 > 1 || (ctrSendptn1 > 0 && ctrSendptn2 == 0 && ctrSendptn3 == 0)) {
                                            allChecked = false;
                                        }
                                        else if (ctrSendptn2 > 1 || (ctrSendptn2 > 0 && ctrSendptn1 == 0 && ctrSendptn3 == 0)) {
                                            allChecked = false;
                                        }
                                        else if (ctrSendptn3 > 1 || (ctrSendptn3 > 0 && ctrSendptn2 == 0 && ctrSendptn1 == 0)) {
                                            allChecked = false;
                                        }

                                        if (ctrSendptn1 + ctrSendptn2 + ctrSendptn3 >= 3) {
                                            allChecked = false;
                                        }

                                        if (allChecked == false) {
                                            alert("お届け周期は必須入力です。");
                                            return false;
                                        }

                                        if (allChecked) {
                                            e.preventDefault();   /* stop form from submitting normally */
                                            document.entry_form.action = '?regular_recalc=true';
                                            document.entry_form.submit();
                                        }
                                    }
                                    return false;
                                });


                                $('#<%=regular_record_key%>amount').keypress(function (event) {

                                    if (event.keyCode == 13) {
                                        event.preventDefault();
                                        $(".send_ptn").each(function (index, element) {
                                            if (element.checked) {
                                                allChecked = true;
                                                return false;
                                            }                                            
                                        });
                                        $("#<%=regular_record_key%>amount").change();
                                        notEnterKey = false;
                                    }
                                    else {
                                        notEnterKey = true;                                        
                                    }
                                });

                            </script>
                        </td>

                        
                        <td>
                            <select id="product_status<%=item.regular_key%>" name="product_status<%=item.regular_key%>" class="w_100" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled"  </ers:isEqual> >
                                <ers:foreach variable="option" src=".Model.OrderStatusList">
					                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="item.order_status"> selected="selected"</ers:isEqual>><%=option.name%></option>
                                </ers:foreach>
			                </select>
			            </td>
					</tr>
<ers:isEqual src=".Model.page3" value="true">
                            <input type="hidden" name="<%=regular_record_key%>amount" value="<%=item.amount %>">
    <ers:IsEqual src=".Model.IsOrderUpdate" value="False">
                                <input type="hidden" name="<%=regular_record_key%>send_ptn" value="<%=item.send_ptn%>" />
                                <input type="hidden" name="<%=regular_record_key%>next_date_day" value="<%=item.next_date_day%>" />
                                 <input type="hidden" name="<%=regular_record_key%>next_date_month" value="<%=item.next_date_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_monthly_interval_month" value="<%=item.ptn_monthly_interval_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_weekly_interval_month" value="<%=item.ptn_weekly_interval_month%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week%>" />
                                <input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday%>" />
                                <input type="hidden" name="<%=regular_record_key%>firstTime" value="<%=item.firstTime%>" />
    </ers:isEqual>
</ers:isEqual>
	</ers:table>
				    </tbody>
				</table>
<ers:IsEqual src=".Model.IsOrderUpdate" value="True">
    <input type="hidden" name="disable_issue" value="1">
</ers:isEqual>

       <table class="Detail">
            <tr>
			    <th><ers:label code="des_time"/></th>
			    <td style="width:400px; ">
                <ers:isEqual src=".Model.page3" value="true">
                    <input type="hidden" name="regular_sendtime" value="<%=.Model.regular_sendtime%>" />
               </ers:isEqual>
                <select id="sendtime" name="regular_sendtime" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled" </ers:isEqual> >
                    <ers:foreach variable="option" src=".Model.sendtimeList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.regular_sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                    </ers:foreach>
				</select>
			    </td>
		    </tr>
        </table>

<ers:IsEqual src=".Model.IsOrderUpdate" value="False">
       <table class="Detail">
<ers:isEqual src=".Model.basketItemCount" value="0">
            <tr>
			    <th><ers:label code="disable_issue"/></th>
			    <td style="width:400px; ">
<ers:isEqual src=".Model.page3" value="true">
                            <input type="hidden" name="disable_issue" value="<%=.Model.disable_issue %>">
</ers:isEqual>
			            <input type="radio" id="disable_issue1" name="disable_issue" value="false"<ers:isEqual src=".Model.disable_issue" value="false"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual> /><label for="disable_issue1"><ers:message code="order_regular_order_do"/></label>&nbsp;
			            <input type="radio" id="disable_issue0" name="disable_issue" value="true"<ers:isEqual src=".Model.disable_issue" value="true"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual> /><label for="disable_issue0"><ers:message code="order_regular_order_dont"/></label>&nbsp;
			    </td>
		    </tr>
</ers:isEqual>
        </table>
</ers:isEqual>
			</div>
</div>
