﻿<input type="hidden" name="subtotal" value="<%=.Model.subtotal %>" />
<input type="hidden" name="carriage" value="<%=.Model.carriage %>" />
<input type="hidden" name="etc" value="<%=.Model.etc %>" />
<input type="hidden" name="tax" value="<%=.Model.tax %>" />
<input type="hidden" name="coupon_discount" value="<%=.Model.coupon_discount %>" />

<div class="RegistOrder">
    <div class="PaymentDetail">

        <h3> <ers:message code="order.summary.Title"/></h3>

		<table class="PaymentTable">
		    <tr>
				<th><ers:label code="cmdty_pts"/></th>
				<td><ers:message code="order.summary.items" value=".Model.disp_total"/></td>
			</tr>
			<tr>
				<th><ers:label code="subtotal"/></th>
				<td> <ers:formatCurrency src=".Model.disp_subtotal" /></td>
			</tr>
			<tr>
				<th><ers:label code="carriage"/></th>
                <td> <ers:formatCurrency src=".Model.disp_carriage" /></td>
			</tr>
            <ers:isNotEqual src=".Model.disp_etc" value="0"> 
				<tr>
					<th><%=.Model.w_etc%></th>
				    <td><ers:formatCurrency src=".Model.disp_etc"/></td>
				</tr>
            </ers:isNotEqual>
            <ers:isNotEqual src=".Model.disp_tax" value="0" >
			<tr>
				<th><ers:label code="tax"/></th>
				<td> <ers:formatCurrency src=".Model.disp_tax" /></td>
			</tr>
            </ers:isNotEqual>
            <ers:isNotEqual src=".Model.disp_p_service" value="0" >
			<tr>
				<th><ers:message code="order_summary_point_discount"/></th>
				<td><span class="InputAlert">-&nbsp; <ers:formatCurrency src=".Model.disp_p_service" /></span></td>
			</tr>
            </ers:isNotEqual>
<ers:isNotEqual src=".Model.disp_coupon_discount" value="0"> 
				<tr>
					<th><ers:message code="order_summary_coupon_discount"/></th>
					<td>-<ers:formatCurrency src=".Model.disp_coupon_discount"/></td>
				</tr>
</ers:isNotEqual>
			<tr>
				<th><ers:label code="tax_total"/></th>
				<td> <ers:formatCurrency src=".Model.disp_order_total_amount" /></td>
			</tr>
	    </table>

    </div>
</div>