﻿<div class="RegistOrder">
    <div class="PaymentDetail">

        <h3><ers:message code="order.summary.Title"/></h3>

		<table class="PaymentTable">
		    <tr>
				<th><ers:label code="cmdty_pts"/></th>
				<td><ers:message code="order.summary.items" value=".Model.disp_total"/></td>
			</tr>
			<tr>
				<th> <ers:label code="subtotal"/></th>
				<td> <ers:formatCurrency src=".Model.disp_subtotal" /></td>
			</tr>
			<tr>
				<th><ers:label code="carriage"/></th>
                <td> <input type="text" name="carriage" size="10" maxlength="10" style="text-align:right;" value="<%=.Model.carriage %>" /></td>
			</tr>
			<tr>
				<th><%=.Model.w_etc%></th>
                <td> <input type="text" name="etc" size="10" maxlength="10" style="text-align:right;" value="<%=.Model.etc %>" /></td>
			</tr>
            <ers:isNotEqual src=".Model.disp_p_service" value="0" >
			<tr>
				<th><ers:message code="order_summary_point_discount"/></th>
				<td><span class="InputAlert">-&nbsp; <ers:formatCurrency src=".Model.disp_p_service" /></span></td>
			</tr>
            </ers:isNotEqual>
			<tr>
				<th><ers:label code="tax"/></th>
                <td> <input type="text" name="tax" size="10" maxlength="10" style="text-align:right;" value="<%=.Model.tax %>" /></td>
			</tr>
			<tr>
				<th><ers:message code="order_summary_coupon_discount"/></th>
                <td>- <input type="text" name="coupon_discount" size="10" maxlength="10" style="text-align:right;" value="<%=.Model.disp_coupon_discount %>" /></td>
			</tr>
			<tr>
				<th><ers:label code="tax_total"/></th>
				<td> <ers:formatCurrency src=".Model.disp_order_total_amount" /></td>
			</tr>
			<tr>
				<td><ers:message code="order.summary_update.RecalculatePostage"/></td>
				<td>
                    <input type="submit" name="carriage_recomp_flg" value="<ers:message code='order_summary_ship_recal_btn'/>" />
                </td>
			</tr>
	    </table>

    </div>
</div>