﻿<div class="RegistOrder">

    <h3> <ers:message code="cart.shipping_index.Title"></h3>

    <ers:isEqual src=".Model.shipping_new" value="true" />
        <ers:partial file="../destination/shipping_modify.htm" />
    </ers:isEqual>
    <ers:isEqual src=".Model.shipping_modify" value="true" />
        <ers:partial file="../destination/shipping_modify.htm" />
    </ers:isEqual>
    <ers:isEqual src=".Model.shipping_cancel" value="true" />
        <ers:partial file="../destination/shipping_list.htm" />
    </ers:isEqual>

</div>