﻿<div class="MemberDetail">
    <input type="hidden" id="modify_shipping_id" name="modify_shipping_id" value="0" />
    <table id="ShippingList" class="Detail">
        <ers:foreach src=".Model.shippingList" variable="record">
			<tr>
				<th><ers:message code="cart_shipping_list_designation"/></th>
				<td><%=record.address_name%></td>
				<th><ers:message code="phonetic_guide"/></th>
				<td><%=record.add_lnamek%> <%=record.add_fnamek%></td>
				<th><ers:message code="cart_shipping_list_name"/></th>
				<td><%=record.add_lname%> <%=record.add_fname%></td>
				<td rowspan="2">
                    <input type="submit" class="form_btn" id="shipping_modify<%=record.id%>" name="shipping_modify" value="<ers:label code="common_modify">" />

                     <ers:isEqual src="record.member_add_status" value="0">
                         <input type="submit" class="form_btn" id="shipping_delete<%=record.id%>" name="shipping_delete" value="<ers:label code='common_delete' />" onclick="return confirm('<ers:message code='cart.shipping_index.DelShipAddMsgBoxContent'/>');" />
                     </ers:isEqual>
                     <ers:isEqual src="record.member_add_status" value="1">
                         <input type="button" class="form_btn" id="shipping_delete<%=record.id%>" name="shipping_delete" value="<ers:label code='common_delete' />" onclick="return alert('<ers:message code='cart.shipping_index.EditShipAddMsgBoxContent'/>');" />   
                     </ers:isEqual>
                    
                   
                    <script type="text/javascript">
                        $("#shipping_modify<%=record.id%>").click(function () {
                            $("#modify_shipping_id").val(<%=record.id%>);
                        });
                        $("#shipping_delete<%=record.id%>").click(function () {
                            $("#modify_shipping_id").val(<%=record.id%>);
                        });
                    </script>
				</td>
			</tr>
			<tr>
				<th><ers:label code="tel"></th>
				<td><%=record.add_tel %></td>
				<th><ers:label code="common_address"></th>
				<td colspan="3">
                    <ers:label code="common_post"><%=record.add_zip%>&nbsp;
				    <%=record.add_pref_name%>&nbsp;
                    <%=record.add_address%>&nbsp;
				    <%=record.add_taddress%>&nbsp;
				    <%=record.add_maddress%>
                </td>
			</tr>
        </ers:foreach>
        <tr>
			<td colspan="7" class="Button">
				<input type="submit" class="form_btn" name="shipping_new" value="<ers:message code="cart_shipping_list_add_ship_add"/>" />
			</td>
		</tr>
	</table>
    <script type="text/javascript">
        $("#send_chk").click(function () {
            if (!($(this).is(":checked"))) {
                $(this).val(1);
                $("#ShippingList input:radio").removeAttr("checked");
            }
            else {
                $(this).val(2);
            }
        });
    </script>
</div>

