﻿<script type="text/javascript" src="<%=.sec_url%>js/regular.js"></script>
<div class="MemberDetail">
    <table class="Detail">
<ers:isNotEqual src=".Model.shipping_new" value="true">
		<tr>
			<th><ers:message code="cart_shipping_list_designation"/></th>
			<td class="address_name" colspan="3">
                <input type="text" id="address_name" class="w_100" name="address_name" value="<%=.Model.address_name%>" /><br />
			</td>
		</tr>
</ers:isNotEqual>
		<tr>
			<th><ers:message code="phonetic_guide"/></th>
			<td class="name">
				<label for="lnamek"><ers:message code="sei"/></label>
                <input type="text" id="lnamek" class="w_100" name="add_lnamek" value="<%=.Model.add_lnamek%>" /><br />
				<label for="fnamek"><ers:message code="mei"/></label>
                <input type="text" id="fnamek" class="w_100" name="add_fnamek" value="<%=.Model.add_fnamek%>" />
			</td>
			<th><ers:message code="cart_shipping_list_name"/></th>
			<td class="name">
                <label for="lname"><ers:message code="l_name"/>:</label>
                <input type="text" id="lname" class="w_100" name="add_lname" value="<%=.Model.add_lname%>" /><br />
				<label for="fname"><ers:message code="f_name"/>:</label>
                <input type="text" id="fname" class="w_100" name="add_fname" value="<%=.Model.add_fname%>" />
			</td>
		</tr>
		<tr>
			<th><label for="tel"><ers:label code="tel"></label></th>
			<td colspan="3">
				<input type="text" id="tel" class="w_100" name="add_tel" value="<%=.Model.add_tel%>" />
			</td>
		</tr>
		<tr>
			<th><ers:label code="common_address"></th>
			<td class="address" colspan="3">
				<span><ers:label code="zip"></span><input type="text" id="add_zip" class="w_100" name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" />&nbsp;
                <input type="submit" class="form_btn" id="zip_flg2" name="zip_flg2"  value="<ers:label code="zipsearch_back">" /><br />
                <p id="add_zip_search_error" class="err" style="display:none"></p>

				<span><ers:label code="pref"></span><select id="add_pref" name="add_pref" class="w_100">
					<option value=""></option>
                    <ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
				</select>
                <br />
				<span><ers:label code="address"></span><input type="text" id="add_address" name="add_address" value="<%=.Model.add_address%>" /><br />
				<span><ers:label code="taddress"></span><input type="text" id="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" /><br />
				<span><ers:label code="maddress"></span><input type="text" id="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" />
			</td>
		</tr>
	</table>
</div>
<input type="hidden" id="shipping_id" name="shipping_id" value="<%=.Model.shipping_id%>" />
<input type="submit" class="form_btn" name="shipping_register" value="<ers:label code="common_register">" />
<input type="submit" class="form_btn" name="shipping_cancel" value="<ers:label code="common_cancel">" />

