﻿<html>
<head>
<script type="text/javascript" src="../js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="../lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="../lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="../js/ers_lib.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</head>
<body>

<span style="color:#f00"><ers:dispError /><ers:dispInfo /></span>

<form action="stop_time_modify" method="post">
    <input type="submit" value="再読み込み" />
</form>
<table border="1">
    <tr>
        <th>期間中</th>
        <th>停止開始日時</th>
        <th>停止終了日時</th>
        <th>モール店舗区分</th>
        <th>モール機能タイプ</th>
        <th></th>
    </tr>
<ers:foreach src=".Model.listStopTime" variable="data" roopcounter="i">
    <tr>
        <form action="stop_time_modify_complete" method="post">
        <td>
<ers:isNotEqual src="data.id" value="">
            <ers:isEqual src="data.isActive" value="true">期間中</ers:isEqual ><ers:isNotEqual src="data.isActive" value="true">期間外</ers:isNotEqual >
</ers:isNotEqual >
        </td>
        <td>
            <input type="text" id="stop_from<%=i %>" class="datepicker_start w_150" name="stop_from" value="<ers:formatDate src="data.disp_stop_from" value="yyyy/MM/dd HH:mm:ss" />" />
        </td>
        <td>
            <input type="text" id="stop_to<%=i %>" class="datepicker_start w_150" name="stop_to" value="<ers:formatDate src="data.disp_stop_to" value="yyyy/MM/dd HH:mm:ss" />" /></td>
        <td>
            <select id="mall_shop_kbn<%=i %>" name="mall_shop_kbn">
	            <option value=""></option>
<ers:foreach variable="option" src=".Model.listMallShopKbn">
		        <option value="<%=option.value%>"<ers:isEqual src="data.disp_mall_shop_kbn" variable="option.value"> selected="selected"</ers:isEqual >><%=option.name%></option>
</ers:foreach>
            </select>
        </td>
        <td>
            <select id="mall_func_type<%=i %>" name="mall_func_type">
	            <option value=""></option>
<ers:foreach variable="option" src=".Model.listMallFuncType">
		        <option value="<%=option.value%>"<ers:isEqual src="data.disp_mall_func_type" variable="option.value"> selected="selected"</ers:isEqual >><%=option.name%></option>
</ers:foreach>
            </select>
        </td>
        <td>
                <input type="hidden" name="id" value="<%=data.id %>" />
<ers:isEqual src="data.id" value="">
                <input type="submit" name="register_btn" value="登録" />
</ers:isEqual >
<ers:isNotEqual src="data.id" value="">
                <input type="submit" name="modify_btn" value="更新" />
                <input type="submit" name="delete_btn" value="削除" />
</ers:isNotEqual >
        </td>
        </form>
    </tr>
<ers:isEqual src="data.id" value="">
    <tr>
        <td colspan="5">
        ※50件まで編集可能（id降順）
        </td>
    </tr>
</ers:isEqual >
</ers:foreach>
</table>

</body>
</html>