﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="store.common_name.MasterConf" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/cate_regist.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/item.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
		<div id="ERS_title">
			<h2><ers:message code="store.common_name.Title" /></h2>
		</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<br>
<table class="length">
<tr>
    <th><ers:label code="type_code" />:</th>
    <td>
        <form  action="common_name.asp" method="post">
            <select name="type_code">
            <option></option>
            <ers:foreach variable="option" src=".Model.Type_Code_List" roopcounter="j">
            <option value="<ers:message src="option.opt_chr1" />" <ers:isEqual src="option.opt_chr1" variable=".Model.type_code">selected="selected"</ers:isEqual > ><ers:message src="option.namename" /></option>
            </ers:foreach>
            </select>
            <input type="submit" value="<ers:label code='common_name_search'/>" name="search_botton"/>
        </form> 
    </td>
</tr>
</table>
<br>
<br>

<ers:isNotEqual src=".Model.type_code" value="">
    <form action="common_name.asp" method="post">
    <!-- table start -->
	    <div class="ERS_table">
		    <table class="side">
			    <tr>
				    <th width="10"><ers:label code="delete" /></th>
				    <th width="10"><ers:label code="common_name_code" /></th>
				    <th width="100"><ers:label code="common_namecode_t.namename" /></th>
                    <ers:isEqual src=".Model.item_flg" value="false">
				        <th width="30"><ers:label code="opt_chr1" /></th>
                        <th width="30"><ers:label code="opt_chr2" /></th>
                        <th width="30"><ers:label code="opt_flg1" /></th>
                        <th width="30"><ers:label code="opt_flg2" /></th>
                        <th width="30"><ers:label code="opt_num1" /></th>
                        <th width="30"><ers:label code="opt_num2" /></th>
                    </ers:isEqual>
                    <ers:isEqual src=".Model.item_flg" value="true">
                        <ers:foreach variable="data" src=".Model.stArrayData" roopcounter="r">
                            <ers:isEqual src="r" value="0"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                            <ers:isEqual src="r" value="1"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                            <ers:isEqual src="r" value="2"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                            <ers:isEqual src="r" value="3"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                            <ers:isEqual src="r" value="4"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                            <ers:isEqual src="r" value="5"><ers:isNotEqual src="data" value=""><th width="30"><%=data %></th></ers:isNotEqual></ers:isEqual>
                        </ers:foreach>
                    </ers:isEqual>

                    <th width="30"><ers:label code="common_namecode_t.disp_order" /></th>
			        </tr>
        <ers:table src=".Model.common_name_table" name="common_name_table" record_key="record_key" variable="common_name">
			        <tr>
				        <input type="hidden"  name="<%=record_key%>id" value="<%=common_name.id %>" />
                        <input type="hidden"  name="<%=record_key%>type_code" value="<%=.Model.type_code %>" />
                        <td><ers:isNotEqual src="common_name.id" value=""><input type="checkbox" name="<%=record_key%>delete" value="1" /></ers:isNotEqual></td>
                        <ers:isEqual src="common_name.id" value="">
                            <td><input type="text" name="<%=record_key%>code" value="<%=common_name.code%>" ></td>
                        </ers:isEqual>
                        <ers:isNotEqual src="common_name.id" value="">
                            <td><%=common_name.code%></td>
                            <input type="hidden"  name="<%=record_key%>code" value="<%=common_name.code %>" />
                        </ers:isNotEqual>
				        <td><input type="text" name="<%=record_key%>namename" value="<%=common_name.namename%>" ></td>

                        <ers:isEqual src=".Model.item_flg" value="false">
				            <td><input type="text" name="<%=record_key%>opt_chr1" value="<%=common_name.opt_chr1%>" ></td>
                            <td><input type="text" name="<%=record_key%>opt_chr2" value="<%=common_name.opt_chr2%>" ></td>
                            <td><input type="checkbox" name="<%=record_key%>opt_flg1" value="1"<ers:isEqual src="common_name.opt_flg1" value="1"> checked="checked"</ers:isEqual > /></td>
                            <td><input type="checkbox" name="<%=record_key%>opt_flg2" value="1"<ers:isEqual src="common_name.opt_flg2" value="1"> checked="checked"</ers:isEqual > /></td>
			                <td><input type="text" name="<%=record_key%>opt_num1" value="<%=common_name.opt_num1%>" ></td>
                            <td><input type="text" name="<%=record_key%>opt_num2" value="<%=common_name.opt_num2%>" ></td>
                        </ers:isEqual>

                        <ers:isEqual src=".Model.item_flg" value="true">
                            <ers:foreach variable="data" src=".Model.stArrayData" roopcounter="r">
                                <ers:isEqual src="r" value="0">
                                    <ers:isNotEqual src="data" value=""><td><input type="text" name="<%=record_key%>opt_chr1" value="<%=common_name.opt_chr1%>" ></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_chr1" value="<%=common_name.opt_chr1%>" ></ers:isEqual>
                                </ers:isEqual>
                                <ers:isEqual src="r" value="1">
                                    <ers:isNotEqual src="data" value=""><td><input type="text" name="<%=record_key%>opt_chr2" value="<%=common_name.opt_chr2%>" ></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_chr2" value="<%=common_name.opt_chr2%>" ></ers:isEqual>
                                </ers:isEqual>
                                <ers:isEqual src="r" value="2">
                                    <ers:isNotEqual src="data" value=""><td><input type="checkbox" name="<%=record_key%>opt_flg1" value="1"<ers:isEqual src="common_name.opt_flg1" value="1"> checked="checked"</ers:isEqual > /></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_flg1" value="<%=common_name.opt_flg1%>" ></ers:isEqual>
                                </ers:isEqual>
                                <ers:isEqual src="r" value="3">
                                    <ers:isNotEqual src="data" value=""><td><input type="checkbox" name="<%=record_key%>opt_flg2" value="1"<ers:isEqual src="common_name.opt_flg2" value="1"> checked="checked"</ers:isEqual > /></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_flg2" value="<%=common_name.opt_flg2%>" ></ers:isEqual>                                
                                </ers:isEqual>
                                <ers:isEqual src="r" value="4">
                                    <ers:isNotEqual src="data" value=""><td><input type="text" name="<%=record_key%>opt_num1" value="<%=common_name.opt_num1%>" ></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_num1" value="<%=common_name.opt_num1%>" ></ers:isEqual>
                                </ers:isEqual>
                                <ers:isEqual src="r" value="5">
                                    <ers:isNotEqual src="data" value=""><td><input type="text" name="<%=record_key%>opt_num2" value="<%=common_name.opt_num2%>" ></td></ers:isNotEqual>
                                    <ers:isEqual src="data" value=""><input type="hidden" name="<%=record_key%>opt_num2" value="<%=common_name.opt_num2%>" ></ers:isEqual>
                                </ers:isEqual>
                            </ers:foreach>
                        </ers:isEqual>

                        <td><input type="text" name="<%=record_key%>disp_order" value="<%=common_name.disp_order%>" ></td>
                    </tr>
        </ers:table>

		    </table>
	    </div>
    <!-- table end -->

    <!-- next start-->
	    <div class="ERS_next">
		    <p class="center">
                <input type="hidden" name="type_code" value="<%=.Model.type_code%>" >
			    <input type="submit" class="submit_btn" value="<ers:label code='common_register'/>" name="regist" title="<ers:message code='common.RegisterConfirm'/>" />
		    </p>
	    </div>
    <!-- next end-->

    </form>
</ers:isNotEqual>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
