﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="store.role_details.Title" /> | <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/role.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="store.role_details.Title" /></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />

<form action="role_detail_complete.asp" id="store_admin_complete" name="store_admin_complete" method="post">
<input type="hidden" id="hid_name" name="" value="true" />
<input type="hidden" name="id" value="<%=.Model.id %>" />

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
			<tr>
				<th class="<ers:isError src="role_gname"> ERS_IVP_caution</ers:isError>"><ers:label code="role_group_t.role_gname" /></th>
				<td><input type="text" value="<%=.Model.role_gname %>" name="role_gname" maxlength="20"/></td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- table start -->
	<div class="ERS_table">
		<table class="side">
		<caption><ers:message code="store.role_details.Caption" /></caption>
        <ers:foreach variable="function_list" src=".Model.functionList" roopcounter="cnt">
            <ers:isNotEqual src="function_list.menuName" value="">
            <tr>
				<th><ers:message src="function_list.menuName" /></th>
			</tr>
            </ers:isNotEqual>
            <tr>
				<td class="<ers:isError src="role_action"> ERS_IVP_caution</ers:isError>">
                    <input type="checkbox" name="role_action" id="role_action<%=function_list.func_id %>" value="<%=function_list.func_id %>"<ers:isEqual src="function_list.isChecked" value="true"> checked="checked"</ers:isEqual> />
                    <label for="role_action<%=function_list.func_id %>"><ers:message src="function_list.func_name" /></label>
				</td>
			</tr>
        </ers:foreach>
		</table>
	</div>
<!-- table end -->
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="store_admin_complete" class="disp_dialog001" onclick="document.getElementById('hid_name').name='submit_change';"><input type="button" value="<ers:label code='common_update'/>"/></a>
			<a href="store_admin_complete" class="disp_dialog002" onclick="document.getElementById('hid_name').name='submit_delete';"><input type="button" class="primary" value="<ers:label code='common_delete'/>"/></a>
		</p>
		<div id="dialog001" title="<ers:label code='confirm'/>">
			<p><ers:message code="common.ChangeConfirm" /></p>
		</div>
		<div id="dialog002" title="<ers:label code='confirm'/>">
			<p><ers:message code="common.DeleteConfirm" /></p>
		</div>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
		<form action="<%=.sec_url%>top/store/asp/role.asp" name="" id="" method="post">
			<p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
		</form>
	</div>
<!-- back end-->

<!-- page_top start
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/page_top_off.gif" alt="ページのトップへ" /></a></p>
	</div>
page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
	<div id="ERS_footer" class="clearfix">
	</div>
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
