﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_tax.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_tax.title'></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
<form action="<%=.sec_url%>top/store/asp/store_tax2.asp" method="post" name="store_form" id="store_form">

<!-- table start -->
		<div class="ERS_table">
			<p><ers:message code='store.store_tax.taxmsg'></p>
			<table class="length">
				<tr>
					<th><ers:label code='tax' /></th>

					<td>
						<input name="tax" type="text" value="<%=.Model.tax %>" id="tax" />%
						
					</td>
				</tr>

			</table>
			<p><ers:message code='store.store_tax.taxpostmsg'></p>
			<table class="length">
				<tr>
					<th><ers:label code='carriage' /></th>

					<td>
                        <input type="radio" name="enable_carriage_tax" value="1" id="enable_carriage_tax1" <ers:isEqual src=".Model.enable_carriage_tax" value="1">checked="checked"</ers:isEqual> /><label for="enable_carriage_tax0"><ers:message code='Include_tax'></label>
                        <input type="radio" name="enable_carriage_tax" value="0" id="enable_carriage_tax0" <ers:isEqual src=".Model.enable_carriage_tax" value="0">checked="checked"</ers:isEqual>/><label for="enable_carriage_tax1"><ers:message code='Exclude_tax'></label>
					</td>
				</tr>

			</table>
			<p><ers:message code='store.store_tax.taxcommsg'></p>
		    <table class="length">
		        <ers:table name="store_payment_table" src=".Model.store_payment_table" record_key="pay_record_key" variable="payment" roopcounter="i">
				    <tr>
					    <th>
                            <%= payment.pay_name %>
                            <input type="hidden" name="<%=pay_record_key %>pay_name" value="<%=payment.pay_name %>"/>
                        </th>
				        <td>
				            <input type="radio" id="enable_tax<%=pay_record_key%>1" name="<%=pay_record_key%>enable_tax"  value="1" <ers:isEqual src="payment.enable_tax" value="1">checked="checked"</ers:isEqual> /><label for="enable_tax<%=pay_record_key%>1">&nbsp;<ers:message code='Include_tax'></label>
				            <input type="radio" id="enable_tax<%=pay_record_key%>2" name="<%=pay_record_key%>enable_tax"  value="0" <ers:isEqual src="payment.enable_tax" value="0">checked="checked"</ers:isEqual> /><label for="enable_tax<%=pay_record_key%>2">&nbsp;<ers:message code='Exclude_tax'></label>
				            <input type="hidden" name="<%=pay_record_key %>id" value="<%=payment.id %>"/>
				        </td>
				    </tr>
            </ers:table>
		    </table>
		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_tax_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_tax.title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
