﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_delivery.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_delivery.title'></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
	<p><ers:message code='store.store_delivery.msg'></p>
	<br>

<form action="<%=.sec_url%>top/store/asp/store_delivery2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>
<!-- table start -->
		<div class="ERS_table">
			<table class="length">
			<tr>
				<th><ers:label code='setup_t.delivery' /></th>
				<td>
					<input class="w_250" name="delivery" type="text" value="<%=.Model.delivery %>" id="delivery" />
				</td>
			</tr>
			<tr>

				<th><ers:label code='setup_t.url' /></th>
				<td>
					<input  class="w_400" name="url" type="text" value="<%=.Model.url %>" id="url" />
				</td>
			</tr>
			<tr>
				<th><ers:label code='mail_delivery' /></th>
				<td>
					<input class="w_250" id="mail_delivery" name="mail_delivery" type="text" value="<%=.Model.mail_delivery %>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code='mail_url' /></th>
				<td>
					<input class="w_250" id="mail_url" name="mail_url" type="text" value="<%=.Model.mail_url %>" />
				</td>
			</tr>
			</table>
		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_delivery_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_delivery.title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
