﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_etc.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/store_etc.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_etc.title'></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/store/asp/store_etc2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
		<div class="ERS_table">
			<p><ers:message code='store.store_etc.msg'></p>

<ers:table src=".Model.store_payment_table" name="store_payment_table" record_key="record_key" variable="payment">
			<h3><%= payment.pay_name %></h3>
			<table class="side">
				<caption>
                <input type="hidden" name="<%=record_key%>enable_tax" value="<%=payment.enable_tax%>" />
                <p><ers:isEqual src="payment.enable_tax" value="On"><ers:message code='store.store_etc.onmsg'></ers:isEqual>
                    <ers:isEqual src="payment.enable_tax" value="Off"><ers:message code='store.store_etc.offmsg'></ers:isEqual></p>
				<input id="check_<%=payment.id%>" type="checkbox" name="<%=record_key%>etc_flg" value="1" <ers:isEqual src="payment.etc_flg" value="1"> checked="checked"</ers:isEqual>/>
				<input type="hidden" name="<%=record_key%>id" value="<%=payment.id%>" />
				<input type="hidden" name="<%=record_key%>pay_name" value="<%=payment.pay_name%>" />
				<input type="hidden" name="<%=record_key%>active" value="<%=payment.active%>" />
				<input type="hidden" name="<%=record_key%>etc_name" value="<%=payment.etc_name%>" />
				<input type="hidden" name="<%=record_key%>memo" value="<%=payment.memo%>" />
				<label for="check_<%=payment.id%>"><%= payment.pay_name %><ers:message code='store.store_etc.CCmsg'></label>
				</caption>
				<tr>
					<th><ers:message code='Purchase_total'></th>
					<th class="w_155"><ers:label code='etc' /></th>
				</tr>
                <ers:table src="payment.store_etc_table" name="store_etc_table" parent_record_key="record_key" record_key="inner_record_key" variable="etc">
				        <tr>
					        <td>
						        <input name="<%=inner_record_key%>more" type="text" value="<%=etc.more%>" id="etc_<%= etc.id %>_more" class="w_80" />&nbsp;<ers:message code='yen_more'>
						        <input name="<%=inner_record_key%>down" type="text" value="<%=etc.down%>" id="etc_<%= etc.id %>_down" class="w_80" />&nbsp;<ers:message code='yen_less'>
					        </td>
					        <td>
						        <input name="<%=inner_record_key%>price" type="text" value="<%=etc.price%>" id="etc_<%= etc.id %>_price" class="w_152" />
						        <input type="hidden" name="<%=inner_record_key%>id" value="<%=etc.id%>" />
						        <input type="hidden" name="<%=inner_record_key%>pay" value="<%=etc.pay%>" />
					        </td>
				        </tr>
                </ers:table>
			</table>
</ers:table>
		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_etc_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_etc.title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
