﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_payment.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_payment.title'></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />
	<p><ers:message code='store.store_payment.msg'></p><br>

<form action="<%=.sec_url%>top/store/asp/store_payment2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
		<div class="ERS_table">
                <table class="length">
<ers:table name="store_payment_table" src=".Model.store_payment_table" record_key="pay_record_key" variable="payment">
                <input type="hidden" name="<%=pay_record_key%>enable_tax" value="<%=payment.enable_tax%>" />
				<tr>
					<th><%= payment.pay_name %></th>
					<td>
						<input id="pay_<%= payment.id %>" type="checkbox" name="<%=pay_record_key %>active" value="1" <ers:isEqual src="payment.active" value="1">checked="checked" </ers:isEqual>/>
                        <input type="hidden" name="<%=pay_record_key %>id" value="<%=payment.id %>" />
                        <input type="hidden" name="<%=pay_record_key %>pay_name" value="<%=payment.pay_name %>" />
                        <input type="hidden" name="<%=pay_record_key%>etc_name" value="<%=payment.etc_name%>" />
                        <input type="hidden" name="<%=pay_record_key%>etc_flg" value="<%=payment.etc_flg%>" />
                        <input type="hidden" name="<%=pay_record_key%>memo" value="<%=payment.memo%>" />
					</td>
				</tr>
</ers:table>
                </table>
			<h3><ers:message code='store.store_payment.Compliant'></h3>

			<table class="length">
				<caption><ers:message code='store.store_payment.CompliantMsg'></caption>
<ers:table name="store_card_table" src=".Model.store_card_table" record_key="card_record_key" variable="card">
				<tr>
					<th><%= card.card_name %></th>
					<td>
						<input id="Checkbox1" type="checkbox" name="<%=card_record_key %>active" value="1" <ers:isEqual src="card.active" value="1">checked="checked" </ers:isEqual>/>
                        <input type="hidden" name="<%=card_record_key %>id" value="<%=card.id %>" />
                        <input type="hidden" name="<%=card_record_key %>card_name" value="<%=card.card_name %>" />
					</td>
				</tr>
</ers:table>
			</table>
		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_payment_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_payment.title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
