﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="store.store_mall_mail_text.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="store.store_mall_mail_text.Title"></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
<form action="<%=.sec_url%>top/store/asp/store_mall_mail_text.asp" method="post" name="site_id_form" id="site_id_form">
	<div class="ERS_table">
		<table class="length">
		<caption><ers:message code="store.store_mall_mail_text.msg"></caption>
		<tbody>
			<tr>
				<th><ers:message code="store_selection"></th>
				<td>
					<select class="w_200 site_id_change" id="site_id" name="site_id" onchange="$(this).closest('form').submit();">
						<option value=""></option>
<ers:foreach variable="entity" src=".Model.siteList">
						<option value="<%=entity.value%>"<ers:isEqual src="entity.value" variable=".Model.site_id"> selected="selected"</ers:isEqual>><%=entity.name%></option>
</ers:foreach>
					</select>
				</td>
			</tr>
		</tbody>
		</table>
    </div>
</form>

<ers:isNotEqual src=".Model.site_id" value="">
<form action="<%=.sec_url%>top/store/asp/store_mall_mail_text2.asp" method="post" name="store_form" id="store_form">
<input type="hidden" name="site_id" value="<%=.Model.site_id%>" />
<!-- table start -->
	<div class="ERS_table">
<br />

		<h3><ers:message code='store.store_mall_mail_text.OrderComMail'></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code='pc_mail_title' /></th>
				<td><input type="text" class="w_440" id="register_pc_title" value="<%=.Model.register_pc_title%>" name="register_pc_title"></td>
			</tr>
			<tr>
				<th><ers:message code='pc_mail_body'></th>
				<td><textarea name="register_pc_body" cols="70" rows="10"><%=.Model.register_pc_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code='store.store_mall_mail_text.DeliverComMail'></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code='pc_mail_title' /></th>
				<td><input type="text" class="w_440" id="Text6" value="<%=.Model.delivery_pc_title%>" name="delivery_pc_title"></td>
			</tr>
			<tr>
				<th><ers:message code='pc_mail_body'></th>
				<td><textarea name="delivery_pc_body" cols="70" rows="10"><%=.Model.delivery_pc_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:label code='th_cuslist_individual_email' /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code='pc_mail_title' /></th>
				<td><input type="text" class="w_440" id="Text1" value="<%=.Model.individual_pc_title%>" name="individual_pc_title"></td>
			</tr>
			<tr>
				<th><ers:message code='pc_mail_body'></th>
				<td><textarea name="individual_pc_body" cols="70" rows="10"><%=.Model.individual_pc_body%></textarea></td>
			</tr>
		</tbody>
		</table>

	</div>

</ers:isNotEqual>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_mail_template_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_mall_mail_text.Title'>">
			<p><ers:message code="common.RegisterConfirm"></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
