﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_alert.Title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_alert.Title'></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />
	<p><ers:message code='store.store_alert.msg'></p><br>

<form action="<%=.sec_url%>top/store/asp/store_alert2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
		<div class="ERS_table">
			<h3><ers:message code='store.store_alert.Privacy'></h3>
			<p></p>
			<table class="length">
				<tr>
					<th>
						<ers:label code='pri_memo' />
					</th>
					<td><span class="note"><ers:message code='store.store_alert.PolicyMsg'></span><br />
						<textarea name="pri_memo" rows="10" cols="70"><%=.Model.pri_memo %></textarea>
					</td>
				</tr>
			</table>

		<h3><ers:message code='store.store_alert.ErrorScreen'></h3>
		<p><ers:message code='store.store_alert.ErrorSCNmsg'></p>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code='pc_note'></th>
				<td><textarea name="error_message" cols="70" rows="12"><%=.Model.error_message %></textarea></td>
			</tr>
			<tr>
				<th><ers:message code='mobile_note'></th>

				<td><textarea name="m_error_message" cols="70" rows="12"><%=.Model.m_error_message %></textarea></td>
			</tr>
		</tbody>
		</table>

		<h3><ers:message code='store.store_alert.CartNote'></h3>
		<p><ers:message code='store.store_alert.CartNoteMsg'></p>
		<table class="length">
		<tbody>
				<tr>
					<th>
						<ers:message code='cart_note'>

					</th>
					<td>
                        <span class="note"><ers:message code='store.store_alert.CartScreenMsg'></span><br />
                        <textarea name="regi_memo" rows="5" cols="65"><%=.Model.regi_memo %></textarea>
					</td>
				</tr>
		</tbody>
		</table>

		<h3><ers:message code='store.store_alert.Settlement'></h3>
		<p><ers:message code='store.store_alert.SettlementMsg'></p>
		<table class="length">
		<tbody>
<ers:table name="store_payment_table" src=".Model.store_payment_table" record_key="record_key" variable="payment">
			<tr>
				<th><%=payment.pay_name %><ers:label code='pay_t.memo' /></th>
				<td>
                    <textarea name="<%=record_key %>memo" cols="70" rows="10"><%=payment.memo %></textarea>
                    <input type="hidden" name="<%=record_key%>id" value="<%=payment.id %>" />
                    <input type="hidden" name="<%=record_key%>pay_name" value="<%=payment.pay_name %>" />
                    <input type="hidden" name="<%=record_key%>etc_name" value="<%=payment.etc_name%>" />
                    <input type="hidden" name="<%=record_key%>etc_flg" value="<%=payment.etc_flg%>" />
                    <input type="hidden" name="<%=record_key%>active" value="<%=payment.active%>" />
                    <input type="hidden" name="<%=record_key%>enable_tax" value="<%=payment.enable_tax%>" />
                </td>
			</tr>
</ers:table>
		</tbody>
		</table>

        <h3><ers:message code='store.store_alert.PO'></h3>
		<p><ers:message code='store.store_alert.POmsg'></p>
		<table class="length">
		<tbody>
				<tr>
					<th>
						<ers:message code='order_note'>
					</th>
					<td>
                        <textarea name="wh_owner_description" rows="5" cols="65"><%=.Model.wh_owner_description %></textarea>
					</td>
				</tr>
		</tbody>
		</table>



		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_alert_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_alert.Title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
