﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="store.store_mail_text.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/store_mail.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="store.store_mail_text.Title" /></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
	<p><ers:message code="store.store_mail_text.Desc" /></p>
<br />
<form action="<%=.sec_url%>top/store/asp/store_mail_text2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
	<div class="ERS_table">

		<h3><ers:message code="store.store_mail_text.NewMemberMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="entry_pc_title" value="<%=.Model.entry_pc_title%>" name="entry_pc_title" /></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="entry_pc_body" cols="70" rows="10"><%=.Model.entry_pc_body%></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="entry_mobile_title" value="<%=.Model.entry_mobile_title%>" name="entry_mobile_title" /></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="entry_mobile_body" cols="70" rows="10"><%=.Model.entry_mobile_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.OrderCompleteMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="register_pc_title" value="<%=.Model.register_pc_title%>" name="register_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="register_pc_body" cols="70" rows="10"><%=.Model.register_pc_body%></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="register_mobile_title" value="<%=.Model.register_mobile_title%>" name="register_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="register_mobile_body" cols="70" rows="10"><%=.Model.register_mobile_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.BillCompleteMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="Text2" value="<%=.Model.regular_order_pc_title%>" name="regular_order_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="regular_order_pc_body" cols="70" rows="10"><%=.Model.regular_order_pc_body%></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="Text3" value="<%=.Model.regular_order_mobile_title%>" name="regular_order_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="regular_order_mobile_body" cols="70" rows="10"><%=.Model.regular_order_mobile_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.DeliveryCompleteMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="delivery_pc_title" value="<%=.Model.delivery_pc_title%>" name="delivery_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="delivery_pc_body" cols="70" rows="10"><%=.Model.delivery_pc_body%></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="delivery_mobile_title" value="<%=.Model.delivery_mobile_title%>" name="delivery_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="delivery_mobile_body" cols="70" rows="10"><%=.Model.delivery_mobile_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.WithdrawalCompleteMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="quit_pc_title" value="<%=.Model.quit_pc_title %>" name="quit_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="quit_pc_body" cols="70" rows="10"><%=.Model.quit_pc_body %></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="quit_mobile_title" value="<%=.Model.quit_mobile_title %>" name="quit_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="quit_mobile_body" cols="70" rows="10"><%=.Model.quit_mobile_body %></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.PassResetMail" /></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="register_pc_title_label" /></th>
				<td><input type="text" class="w_440" id="passrim_pc_title" value="<%=.Model.passrim_pc_title %>" name="passrim_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_text_pc" /></th>
				<td><textarea name="passrim_pc_body" cols="70" rows="10"><%=.Model.passrim_pc_body %></textarea></td>
			</tr>
			<tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="passrim_mobile_title" value="<%=.Model.passrim_mobile_title %>" name="passrim_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="passrim_mobile_body" cols="70" rows="10"><%=.Model.passrim_mobile_body %></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

		<h3><ers:message code="store.store_mail_text.IndividualMail" /></ers:message></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="title_show" /></th>
				<td><input type="text" class="w_440" id="" value="<%=.Model.individual_pc_title%>" name="individual_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="block_body" /></th>
				<td><textarea name="individual_pc_body" cols="70" rows="10"><%=.Model.individual_pc_body%></textarea></td>
			</tr>
		</tbody>
		</table>

<br />

        <h3><ers:message code="store.store_mail_text.AcceptedInquiryMail" /><span>&nbsp;<ers:message code="store.store_mail_text.CustomersAddressed" /></span></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="title_show" /></th>
				<td><input type="text" class="w_440" id="quest_accept_pc_title" value="<%=.Model.quest_accept_pc_title%>" name="quest_accept_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="block_body" /></th>
				<td><textarea name="quest_accept_pc_body" cols="70" rows="10"><%=.Model.quest_accept_pc_body%></textarea></td>
			</tr>
            <tr>
				<th><ers:label code="store_mail_th_mobile_title" /></th>
				<td><input type="text" class="w_440" id="quest_accept_mobile_title" value="<%=.Model.quest_accept_mobile_title %>" name="quest_accept_mobile_title"></td>
			</tr>
			<tr>
				<th><ers:label code="mobile_mail_body" /></th>
				<td><textarea name="quest_accept_mobile_body" cols="70" rows="10"><%=.Model.quest_accept_mobile_body %></textarea></td>
			</tr>
		</tbody>
		</table>

		<h3><ers:message code="store.store_mail_text.InquiryMail" /><span>&nbsp;<ers:message code="store.store_mail_text.AdminAddressed" /></span></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="title_show" /></th>
				<td><input type="text" class="w_440" id="ques_pc_title" value="<%=.Model.quest_pc_title%>" name="quest_pc_title"></td>
			</tr>
			<tr>
				<th><ers:label code="block_body" /></th>
				<td><textarea name="quest_pc_body" cols="70" rows="10"><%=.Model.quest_pc_body%></textarea></td>
			</tr>
		</tbody>
		</table>

	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_mail_template_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register'/>" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_mail_text.DialogBox'/>">
			<p><ers:message code="common.RegisterConfirm" /></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
