﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_delivery_day.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_delivery_day.title'></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
<form action="<%=.sec_url%>top/store/asp/store_delivery_day2.asp" method="post" name="store_form" id="store_form">

<!-- table start -->
		<div class="ERS_table">
		<h3><ers:message code='store.store_delivery_day.ship'></h3>

		<p><ers:message code='store.store_delivery_day.shipInstruct'></p>
			<table class="length">
            <tbody>
			<tr>
				<th><ers:label code='shipping_csv_output_min_days' /></th>
				<td>
                    <ers:message code='Del_date'>
					<input type="text" value="<%=.Model.shipping_csv_output_min_days %>" name="shipping_csv_output_min_days" />
                    <ers:message code='Day_before'>
				</td>
			</tr>
            </tbody>
            </table>

		<h3><ers:message code='store.store_delivery_day.voucher'></h3>

		<p><ers:message code='store.store_delivery_day.voucherInstruct'></p>
			<table class="length">
            <tbody>
			<tr>
				<th><ers:message code='Slip_course'></th>
				<td>
                    <ers:message code='Del_date'>
					<input type="text" value="<%=.Model.create_regular_order_days %>" name="create_regular_order_days" />
                   <ers:message code='Day_before'>
				</td>
			</tr>
            </tbody>
            </table>

		<h3><ers:message code='store.store_delivery_day.delivery'></h3>

		<p><ers:message code='store.store_delivery_day.deliveryInstruct'></p>
			<table class="length">
            <tbody>
			<tr>
				<th><ers:label code='shipdate' /></th>
				<td>
					<input type="text"  id="sendday" value="<%=.Model.sendday %>" name="sendday" />
					<ers:message code='Day_after'>
					<input type="text"  id="sendday_count" value="<%=.Model.sendday_count %>" name="sendday_count" />
                    <ers:message code='until_after'>
				</td>
			</tr>
            </tbody>
            </table>
		<h3><ers:message code='store.store_delivery_day.deliveryTime'></h3>
		<p><ers:message code='store.store_delivery_day.deliveryTimeInstruct'></p>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code='del_time'></th>
				<td >
					<table>
					<tbody>
                        <ers:foreach variable="sendtime" src=".Model.allList" roopcounter="sendtime_cnt">
						<tr>
							<td>
								<input type="text" id="sendtime<%=sendtime.id %>" value="<%=sendtime.sendtime %>" name="sendtime<%=sendtime.id %>" />
								<input type="button" class="btn01" name="" id="Button1" value="<ers:label code='delete' />" onclick="location.href='<%=.sec_url%>top/store/asp/store_sendtime_delete.asp?delete_id=<%=sendtime.id%>';" />
							</td>
						</tr>
                        </ers:foreach>
					</tbody>
					</table>
				</td>
			</tr>
		</tbody>
        </table>
		<h3><ers:message code='del_add'></h3>
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code='del_time'></th>
				<td>
					<input type="text" id="add_sendtime" name="add_sendtime" value="<%=.Model.add_sendtime %>" />
				</td>
			</tr>
		</tbody>
		</table>
  		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_delivery_day_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_delivery_day.rgstrDlgTitle'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
