﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='store.store_calendar.title'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />

<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    function UpdateYearMonth(cbYearMonth) {
        var val = $(cbYearMonth).val().split('/');
            document.getElementById('ddlYearCb').value = val[0];
            document.getElementById('ddlMonthCb').value = val[1];
        $('#store_form').submit();
        }          
</script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='store.store_calendar.title'>
</h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
	<p><ers:message code='store.store_calendar.msg'></p><br>
	
<!-- table start -->
		<div class="ERS_table">
<ers:message code='store.store_calendar.Setmsg'>
        </p>
        <form action="<%=.sec_url%>top/store/asp/store_calendar.asp" method="post" name="store_form" id="store_form">
        <input type="hidden" name="ddlYear" id="ddlYearCb" />
        <input type="hidden" name="ddlMonth" id="ddlMonthCb" />
        <input type="hidden" name="butYearMonth" value="true" />
		<table class="length">
		<tbody>
            <tr>
				<th><ers:message code='setting_date'></th>
				<td>
				&nbsp;
                <select id="ddlYearMonth" name="ddlYearMonth" onchange="UpdateYearMonth(this);">
                        <ers:foreach variable="year" src=".Model.ListYear" roopcounter="i">
                            <ers:foreach variable="month" src=".Model.ListMonth" roopcounter="j">
                                <option value="<%=year%>/<%=month%>" <ers:IsEqual src="year" variable=".Model.ddlYear"> <ers:IsEqual src="month" variable=".Model.ddlMonth"> selected="selected"</ers:IsEqual></ers:IsEqual>><%=year%><ers:label code='1951_or_more' />/<%=month%><ers:message code='month'></option>
                            </ers:foreach>
                       </ers:foreach>
				</select>
				</td>
			</tr>
           </tbody>
        </table>
        </form>
        
        <form action="<%=.sec_url%>top/store/asp/store_calendar2.asp" method="post" name="store_form2" id="store_form2">
		<input type="hidden" name="ddlYear" id="ddlYear" value="<%=.Model.ddlYear %>"/>
        <input type="hidden" name="ddlMonth" id="ddlMonth" value="<%=.Model.ddlMonth %>"/>
        <table border="0" class="side" id="ctl00_cpHolder_tblClose">
		<caption><%=.Model.ddlYear %><ers:label code='1951_or_more' /><%=.Model.ddlMonth %><ers:message code='month'></caption>
		<tbody>
			<tr>
				<th class="w_50"><ers:message code='Sunday'></th>
				<th class="w_50"><ers:message code='Mon'></th>
				<th class="w_50"><ers:message code='Tues'></th>
				<th class="w_50"><ers:message code='Wed'></th>
				<th class="w_50"><ers:message code='Thurs'></th>
				<th class="w_50"><ers:message code='Fri'></th>
				<th class="w_50"><ers:message code='Sat'></th>
			</tr>
            <ers:foreach variable="day" src=".Model.dayList">
            <ers:IsEqual src="day.weekday" value="Sunday">
			<tr>
            </ers:IsEqual>
 				<td>
                    <ers:isEqual src="day.visible" value="true">
					<input type="checkbox" name="checkDays" id="weekday<%=day.day %>" value="<%=day.day %>"<ers:IsEqual src="day.check" value="true"> checked="checked"</ers:IsEqual>/>
					<label for="weekday<%=day.day %>"><%=day.day %></label>
                    </ers:isEqual>
				</td>                
            <ers:IsEqual src="day.weekday" value="Saturday">
			</tr>
            </ers:IsEqual>
            </ers:foreach>
		</tbody>
		</table>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_delivery_day_btn" value="1" />
		<p class="center"><a href="store_form2" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_calendar.title'>">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->
    </form>
    	</div>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
