﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="store.store_admin.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/store_admin.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="store.store_admin.Title" /></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
<form action="<%=.sec_url%>top/store/asp/store_admin2.asp" method="post" name="store_form" id="store_form">

<!-- table start -->
		<div class="ERS_table">
			<h3><ers:message code="store.store_admin.SubTitle" /></h3>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_register_select_change.htm" />
            </ers:isEqual>
			<table class="length">
				<tr>
					<th><ers:label code="replying_mail_addr" /></th>
					<td>
						<input class="w_250" name="replying_mail_addr" type="text" value="<%=.Model.replying_mail_addr %>" id="replying_mail_addr" />&nbsp;※<ers:message code="store.store_admin.EmailNotif" />
					</td>
				</tr>
				<tr>
					<th rowspan="3"><ers:label code="admin_email" /></th>
					<td>
						1：&nbsp;<input class="w_250" name="report_mail_addr1" type="text" value="<%=.Model.report_mail_addr1 %>" id="report_mail_addr1" />
					</td>
				</tr>
				<tr>
					<td>
						2：&nbsp;<input class="w_250" name="report_mail_addr2" type="text" value="<%=.Model.report_mail_addr2 %>" id="report_mail_addr2" />
					</td>
				</tr>
				<tr>
					<td>
						3：&nbsp;<input class="w_250" name="report_mail_addr3" type="text" value="<%=.Model.report_mail_addr3 %>" id="report_mail_addr3" />
					</td>
				</tr>
			    <tr>
				    <th><ers:label code="quest_email_to" /></th>
				    <td>
					    <input type="text" id="quest_email_to" value="<%=.Model.quest_email_to %>" name="quest_email_to" class="w_250" /><br />
				    </td>
			    </tr>
			</table>
		</div>
<!-- table end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<h3><ers:message code="store.store_admin.PermissionNotif" /></h3>
	<p><ers:message code="store.store_admin.PermissionDescNotif" /></p>
	<table>
		<thead>
			<tr>
                <th width="40"><ers:label code="delete" /></th>
				<th width="120"><ers:label code="user_login_id" /></th>
				<th width="120">PASSWORD</th>
				<th width="180"><ers:label code="administrator_t.user_name" /></th>
				<th width="150"><ers:label code="role_gcode" /></th>
				<th width="150"><ers:label code="agent_id" /></th>
			</tr>
		</thead>
		<tbody>

        <ers:table variable="item" record_key="record_key" src=".Model.adminList" name="adminList">
			<tr>
                <input type="hidden" name="<%=record_key%>id" id="" value="<%=item.id%>" />
                <td><input type="checkbox" name="<%=record_key%>delete" id="" value="1"/></td>
				<td><input type="text" name="<%=record_key%>user_login_id" id="" value="<%=item.user_login_id%>" /></td>
				<td><input type="text" name="<%=record_key%>passwd" id="" value="<%=item.passwd%>" /></td>
				<td><input type="text" name="<%=record_key%>user_name" id="" value="<%=item.user_name%>" /></td>
				<td>
                    <select name="<%=record_key%>role_gcode" size="1">
						<option value=""><ers:label code="common_please_select" /></option>
<ers:foreach src="item.role_gcodeList" variable="option">
                         <option value="<%=option.value%>"<ers:isEqual src="item.role_gcode" variable="option.value"> selected="selected"</ers:isEqual >><%=option.name%></option>
</ers:foreach>
                    </select>
                </td>
 				<td>
                    <select name="<%=record_key%>agent_id" size="1">
						<option value=""><ers:label code="common_please_select" /></option>
<ers:foreach src="item.agent_idList" variable="option">
                         <option value="<%=option.value%>"<ers:isEqual src="item.agent_id" variable="option.value"> selected="selected"</ers:isEqual >><%=option.name%></option>
</ers:foreach>
                    </select>
                </td>
          </tr>
        </ers:table>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_admin_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register'/>" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_admin.DialogTitle'/>">
			<p><ers:message code="common.RegisterConfirm" /></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
