﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='lp_lpregist_detail.postagesetting'> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/store_carriage.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code='lp_lpregist_detail.postagesetting'></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />
	<p><ers:message code='store.store_carriage.msg'>　
	<ers:isEqual src=".Model.enable_carriage_tax" value="On">※<ers:message code='store.store_carriage.offtaxmsg'></p></ers:isEqual>
	<ers:isEqual src=".Model.enable_carriage_tax" value="Off">※<ers:message code='store.store_carriage.ontaxmsg'></p></ers:isEqual>
	<br>

<form action="<%=.sec_url%>top/store/asp/store_carriage2.asp" method="post" name="store_form" id="store_form">
<ers:isEqual src=".Model.multiple_sites" value="true">
    <ers:partial file="site/site_register_select_change.htm" />
</ers:isEqual>

<!-- table start -->
		<div class="ERS_table">
			<table class="side">
    			<tbody><tr>
				<th class="w_10">ID</th>
				<th class="w_60"><ers:label code='pref' /></th>
				<th class="w_75"><ers:label code='carriage' /></th>
				<th class="w_10">ID</th>
				<th class="w_60"><ers:label code='pref' /></th>
				<th class="w_75"><ers:label code='carriage' /></th>
				<th class="w_10">ID</th>
				<th class="w_60"><ers:label code='pref' /></th>
				<th class="w_75"><ers:label code='carriage' /></th>
                </tr>
        <ers:table variable="item" record_key="record_key" src=".Model.allList" name="allList">
                    <ers:isEqual src="item.top" value="true">
			        <tr>
                    </ers:isEqual>
                        <td>
                            <%=item.id%>
                            <input type="hidden" name="<%=record_key%>id" id="" value="<%=item.id%>" />
                        </td>
				        <td><%=item.pref_name%></td>
				        <td><input class="w_75" type="text" name="<%=record_key%>carriage" id="<%=record_key%>carriage" value="<%=item.carriage%>"  maxlength="5" /></td>
                    <ers:isEqual src="item.end" value="true">
                    </tr>
                    </ers:isEqual>
        </ers:table>
			</tbody></table>
		<table class="length">
			<tr>
				<th><ers:message code='Service_Set'></th>
				<td>
					<input type="text" id="free" name="free" value="<%=.Model.free %>" maxlength="6" class="w_70" />&nbsp;<ers:message code='lp_lpregist_detail.postagesetting.direction2'><br>
				</td>
			</tr>
		</table>
		</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="store_carriage_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register' />" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_carriage.confirmDlgTitle'>
             ">
			<p><ers:message code='common.RegisterConfirm'></p>
		</div>
	</div>
<!-- next end-->

</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
