﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="store.store_mall_setting.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->  
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/store.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="store.store_mall_setting.Title" /></h2>
	</div>
<!-- title end -->
<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<div class="ERS_table">
<form  action="<%=.sec_url%>top/store/asp/store_mall_setting.asp" method="post" name="store_select_form" id="store_select_form">
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="store_mall_th_select_store" /></th>
				<td>
					<select class="w_150" id="site_id" name="site_id" onchange="$(this).closest('form').submit();">
                        <option value=""></option>
<ers:foreach variable="data" src=".Model.listSite" roopcounter="i">
                            <option value="<%=data.id%>"<ers:isEqual src="data.id" variable=".Model.site_id"> selected="selected"</ers:isEqual>><%=data.site_name%></option>
</ers:foreach>
                    </select>
				</td>
			</tr>
		</tbody>
		</table>
    </div>
</form>

<ers:isNotEqual src=".Model.site_id" value="">
<form action="<%=.sec_url%>top/store/asp/store_mall_setting_complete.asp" method="post" name="store_form" id="store_form">

<ers:isEqual src=".Model.mall_shop_kbn" value="RAKUTEN">
    <ers:partial file="mall_setting/rakuten.htm" />
</ers:isEqual>
<ers:isEqual src=".Model.mall_shop_kbn" value="YAHOO">
    <ers:partial file="mall_setting/yahoo.htm" />
</ers:isEqual>
<ers:isEqual src=".Model.mall_shop_kbn" value="AMAZON">
    <ers:partial file="mall_setting/amazon.htm" />
</ers:isEqual>
	</div>
<!-- table end -->

    <input type="hidden" name="site_id" value="<%=.Model.site_id%>" />
<!-- next start-->
	<div class="ERS_next">
        <input type="hidden" name="register_btn" value="1" />
		<p class="center"><a href="store_form" class="disp_dialog001"><input type="button" value="<ers:label code='common_register'/>" /></a></p>
		<div id="dialog001" title="<ers:message code='store.store_mall.DialogBoxTitle' />">
			<p><ers:message code="common.RegisterConfirm" /></p>
		</div>
	</div>
</form>
</ers:isNotEqual>
<!-- next end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
