﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title>BI Tool Prototype</title>
    <link rel="stylesheet" href="<%=.sec_url%>css/bitool/bitools.css" type="text/css"
        title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/bitool/bitoolsmain.css" type="text/css"
        title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/bitool/Site.css" type="text/css" title="base_layout"
        media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/bitool/jquery.ui.dialog.css" type="text/css"
        title="base_layout" media="screen,print" />
            <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout"
        media="screen,print" />
    <!--    <link href="<%=.sec_url%>/css/jquery.ui.core.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%=.sec_url%>/css/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" media="screen" />-->
    <script type="text/javascript" src="<%=.sec_url%>js/bitool/jquery.min.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/bitool/jquery-ui-1.8.11.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/bitool/jQueryBuilder.js"></script>
     <script type="text/javascript" src="<%=.sec_url%>js/bitool/columns_qryBuilder.js"></script>
    <script type="text/javascript">
        function colorhover(x) {
            x.style.border = "1px solid #21d3f5";
            x.style.backgroundColor = "#a9ecf9";
        }
        function colorout(x) {
            x.style.border = "1px solid #f6f5f5";
            x.style.backgroundColor = "#f6f5f5";
        }

        function deleteshow(x) {
            x.style.border = "1px solid #21d3f5";
            x.style.backgroundColor = "#a9ecf9";
        }

        function deletehide(x) {
            x.style.border = "";
            x.style.backgroundColor = "";
        }

        function colorhover(x) {
            x.style.border = "1px solid #21d3f5";
            x.style.backgroundColor = "#a9ecf9";
        }


        $(document).ready(function () {
            var url = "<%=.sec_url%>querybuilder/asp/";
            var HTMLinsert = document.getElementById("conhtml").value;
            $('#addValCon').append(HTMLinsert);
            HTMLinsert = document.getElementById("colhtml").value;
            $('#addVal').append(HTMLinsert);
//            processQueryBuilder(url);
        });

//        $(document).ready(function () {
//            var url = "<%=.sec_url%>querybuilder/asp/";
//            processQueryBuilder(url);
//        });

        function jsoncreateQuery() {

            $.ajax({
                url: "<%=.sec_url%>querybuilder/buildquery",
                cache: false,
                type: 'POST',
                async: false,
                data: $("#Form1").serializeArray(),
                dataType: "JSON",
                complete: function (XMLHttpRequestObj) {
                    try {
                        var jsonObj = $.parseJSON(XMLHttpRequestObj.responseText);
                        result = jsonObj.responseText;
                    } catch (e) { result = XMLHttpRequestObj.responseText; }
                }
            });

            if (result != undefined) {
                document.getElementById("sql").innerHTML = result;
                document.getElementById("sqlquery").value = result;
            }
        }

        function SaveQuery() {
            var HTMLinsert = document.getElementById("addValCon");
            document.getElementById("conhtml").value = HTMLinsert.innerHTML;

            var HTMLinsretColumn = document.getElementById("addVal");
            document.getElementById("colhtml").value = HTMLinsretColumn.innerHTML;
            $.ajax({
                url: "<%=.sec_url%>querybuilder/SaveQuery",
                cache: false,
                type: 'POST',
                async: false,
                data: $("#Form1").serializeArray(),
                dataType: "JSON",
                complete: function (XMLHttpRequestObj) {
                    try {
                        var jsonObj = $.parseJSON(XMLHttpRequestObj.responseText);
                        result = jsonObj.responseText;
                    } catch (e) { result = XMLHttpRequestObj.responseText; }
                }
            });

            if (result != undefined) {
                document.getElementById("sql").innerHTML = result;
            }
        }

        function LoadQuery() {
            var filename=prompt("Please enter file name");

            if (filename!=null)document.getElementById("XmlName").value = filename;

            $.ajax({
                url: "<%=.sec_url%>querybuilder/LoadQuery",
                cache: false,
                type: 'POST',
                async: false,
                data: $("#Form1").serializeArray(),
                dataType: "JSON",
                complete: function (XMLHttpRequestObj) {
                    try {
                        var jsonObj = $.parseJSON(XMLHttpRequestObj.responseText);
                        result = jsonObj.responseText;
                    } catch (e) { result = XMLHttpRequestObj.responseText; }
                }
            });
            if (result != undefined) {
                var result_arr = result.split("$");

                document.getElementById("sql").innerHTML = result_arr[2]//result;

                var HTMLinsert = result_arr[0];
                //document.getElementById("conhtml").value = HTMLinsert;
                $('#addValCon').append(HTMLinsert);
                HTMLinsert = result_arr[1];// document.getElementById("colhtml").value;
                $('#addVal').append(HTMLinsert);
            }
        }  

        function ExecuteQuery() {
            $.ajax({
                url: "<%=.sec_url%>querybuilder/ExecuteQuery",
                cache: false,
                type: 'POST',
                async: false,
                data: $("#Form1").serializeArray(),
                dataType: "JSON",
                complete: function (XMLHttpRequestObj) {
                    try {
                        var jsonObj = $.parseJSON(XMLHttpRequestObj.responseText);
                        result = jsonObj.responseText;
                    } catch (e) { result = XMLHttpRequestObj.responseText; }
                }
            });

            if (result != undefined) {
                document.getElementById("resultPanel").innerHTML = result;
            }
        }  
	   
    </script>
</head>
<body>
    <div id="main">
        <div class="header">
            <div class="ers-title">
                <input type="submit" src="<%=.sec_url%>images/headerlogo.png" />
            </div>
        </div>
        <form id="Form1" method="post" name="complete1" action="<%=.sec_url%>querybuilder/">
        <input type="hidden" name="sql" id="sqlquery" value="<%=.Model.sql %>" />
        <input type="hidden" name="conhtml" id="conhtml" value="<%=.Model.conhtml %>" />

        <input type="hidden" name="colhtml" id="colhtml" value="<%=.Model.colhtml %>" />
        <input type="hidden" name="conditioncount" id="conditioncount" value="<%=.Model.conditioncount %>" />
        <input type="hidden" name="columncount" id="columncount" value="<%=.Model.columncount %>" />
         <input type="hidden" name="XmlName" id="XmlName" value="<%=.Model.XmlName %>" />

        <div id="content">
            <div class="ers-header-panel">
                <div class="ers-entities-block">
                    <hr class="ers-entities-hr" />
                    <div class="ers-entities-title">
                        Entities</div>
                    <div id="EntitiesPanel" runat="server">
                        <div class="ers-ep-entity">
                            <div class="ers-ep-entity-children">
                                <div class="ers-ep-entity">
                                    <ers:foreach variable="table" src=".Model.ListTablesList" roopcounter="j">                                       
                                    <div class="ers-ep-entity-node">                                                                   
                                        <label class="ers-ep-entity-node-label">
                                        <!--<a id="buttonImage<%=j+1 %>" class="ers-ep-entity-node-button" href="javascript:void(0)" onclick="clickButtonImage(<%=j+1 %>);return false"></a>-->
                                        <a id="<%=j+1 %>" class="ers-ep-entity-node-button" name="buttonImage<%=j+1 %>" href="javascript:void(0)"></a>
                                        <input type="checkbox" id="tab<%=table.tableID %>" class="checkAll" name="mainselect" value="<%=table.tableID %>" />
                                        <%=table.tablename %>
                                        </label>                                                                        
                                    </div>       
                                                                                            
                                        <ers:foreach variable="column" src=".Model.ListColumnsList" roopcounter = "i">                                       
                                            <ers:isEqual src="column.tableID" variable="table.tableID">  
                                                <div  id="bImage<%=j+1%>" class="ers-ep-entity-children" style="display:none;">                                                
                                                    <div class="ers-ep-entity-attr ui-draggable" id="<%=i+1 %>">                                                    
                                                        <label class="ers-ep-entity-attr-label ui-draggable" id="label<%=table.tableID %>_<%=i+1 %>">
                                                        <input type="checkbox" name="<%=table.tableID %>" id="selected_<%=j+1 %>_<%=i+1 %>" class="checkItem_tab<%=table.tableID %>" value=<%=column.columnname %> />
                                                         <%=column.columndisplayname%></label>
                                                         <input type="hidden" id="checkColName_<%=i+1 %>" value="<%=column.columnname%>"  />
                                                         <input type="hidden" id="checkTableName_<%=i+1 %>" value="<%=column.tablename%>"  />
                                                         <input type="hidden" id="checkColType_<%=i+1 %>" value="<%=column.columntype%>"  />
                                                    </div>
                                                </div>                                               
                                            </ers:isEqual>                                       
                                        </ers:foreach>                                                              
                                </ers:foreach>
                                </div>
                            </div>
                        </div>
                        <div class="ers-ep-tool-panel">
                            <div class="ers-ep-tool-panel-left-side">
                                <div class="ers-ep-tool-panel-deselect-all" title="Clear selection" onclick="selectAllCheckBox();return false">
                                </div>
                            </div>
                            <div class="ers-ep-tool-panel-right-side">
                                <div class="ers-ep-tool-panel-add-columns" style="width: 24px;" title="Add column"
                                    id="addEntityCol">
                                </div>
                                <div class="ers-ep-tool-panel-add-cond" title="Add condition" title="Add condition"
                                    id="addEntityCon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ers-central-block">
                    <div class="ers-columns-block">
                        <hr class="ers-columns-hr" />
                        <div class="ers-columns-title">
                            Columns</div>
                        <table id="columnTable" style="display: none">
                            <ers:table src=".Model.columns_table" name="columns_table" variable="column_list"
                                record_key="record_key2">
                        <tr id="trColumn_<%=column_list.columnID %>">
                            <td id="tdColumn_<%=column_list.columnID %>">                            
                            <input type="hidden" id="columnID" name="<%=record_key2%>columnID" value="<%=column_list.columnID %>" />
                            <input type="hidden" id="columntablename" name="<%=record_key2%>columntablename" value="<%=column_list.columntablename %>" />
                            <input type="hidden" id="columnname" name="<%=record_key2%>columnname" value="<%=column_list.columnname %>" />
                            <input type="hidden" id="columndisplayname" name="<%=record_key2%>columndisplayname" value="<%=column_list.columndisplayname %>" />
                            <input type="hidden" id="columntype" name="<%=record_key2%>columntype" value="<%=column_list.columntype %>" />
                            <input type="hidden" id="sort" name="<%=record_key2%>sort" value="<%=column_list.sort %>" />
                            <input type="hidden" id="functionType" name="<%=record_key2%>functionType" value="<%=column_list.functionType %>" />                                                                                 
                            </td>
                        </tr>
                        </ers:table>
                        </table>
                        <div class="ers-columns-content">
                            <div id="ColumnsPanel" class="ui-droppable">
                                <div style="top: 164px; left: 455px;" class="ers-addCol-block ers-menu-rootLevel ers-menu-levelDiv  ui-widget-content"
                                    id="colPop">
                                    <ul style="height: auto;">
                                        <ers:foreach variable="table" src=".Model.ListTablesList" roopcounter="j">
                                        <li>
                                            <a href="javascript:void(0)" title="<%=table.tablename%>" style="font-size:10pt;" class="columns hover_table"  id="hover<%=j+1%>"><%=table.tablename%>&nbsp;&nbsp;</a>
                                            <ul class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content" id="TablesCol_hover<%=j+1%>">                                                
                                                <ers:foreach variable="column" src=".Model.ListColumnsList" roopcounter="x">
                                                <ers:isEqual src="table.tableID" variable="column.tableID">   
                                                    <li>                                                       
                                                        <a href="javascript:void(0)" title="<%=column.columndisplayname%>" style="font-size:10pt;" class="hover_table selected" name="columndisplayname" id="FN<%=x+1%>"><%=column.columndisplayname%></a>
                                                        <input type="hidden" id="type_FN<%=x+1%>" value="<%=column.columntype%>" name="columntype" />
                                                         <input type="hidden" id="fldName_FN<%=x+1%>" value="<%=column.columnname%>" name="columnname" />
                                                         <input type="hidden" id="tblName_FN<%=x+1%>" value="<%=column.tablename%>" name="tablename" />
                                                         <input type="hidden" id="tableID_FN<%=x+1%>" value="<%=column.tableID%>" name="tableID" />
                                                    </li>
                                                </ers:isEqual>
                                                </ers:foreach>  
                                            </ul>
                                        </li>
                                        </ers:foreach>
                                    </ul>
                                </div>
                                <div class="ers-qc-header" style="display: block">
                                    <div class="ers-qc-header-expression">
                                        Expression
                                    </div>
                                    <div class="ers-qc-header-title">
                                        Title
                                    </div>
                                </div>
                                <div id="addValCol">
                                    <div class="ers-qc-columns ui-sortable" id="addVal">
                                    </div>
                                </div>
                                <div class="ers-qc-addrow ers-qc-addrow-empty">
                                    <a href="javascript:void(0)" id="addColumn">[Add new column]</a>
                                </div>
                            </div>
                            <div class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content" id="colSortingPop"
                                style="left: 367px; top: 170px; width: 150px;">
                                <div class="ers-menu-scrollDiv" style="overflow: auto; width: auto; height: auto;">
                                    <ers:foreach variable="colSort" src=".Model.ListColSorting" roopcounter="j">
                                        <div class="ers-menu-itemDiv" id="colSort_<%=j+1 %>"><%=colSort.name%></div>
                                    </ers:foreach>
                                </div>
                            </div>
                            <div class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content" id="colFunction"
                                style="left: 943px; top: 170px; width: 150px;">
                                <div class="ers-menu-scrollDiv" style="overflow: auto; width: auto; height: auto;">
                                    <ers:foreach variable="colFunc" src=".Model.ListColFunction" roopcounter="j">
                                <div class="ers-menu-itemDiv selected" id="columnfunc<%=colFunc.value%>"><%=colFunc.name%></div>
                              </ers:foreach>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ers-condition-block">
                        <hr class="ers-condition-hr">
                        <div class="ers-condition-title">
                            Conditions</div>
                        <table id="conditionTable" style="display: none">
                            <ers:table src=".Model.condition_table" name="condition_table" variable="condition_list"
                                record_key="record_key1">
                        <tr>
                            <td>                            
                            <input type="hidden" id="fieldName" name="<%=record_key1%>fieldName" value="<%=condition_list.fieldName %>" />
                            <input type="hidden" id="tableName" name="<%=record_key1%>tableName" value="<%=condition_list.tableName %>" />
                            <input type="hidden" id="type" name="<%=record_key1%>type" value="<%=condition_list.type %>" />
                            <input type="hidden" id="enteredValue1" name="<%=record_key1%>enteredValue1" value="<%=condition_list.enteredValue1 %>" />
                            <input type="hidden" id="enteredValue" name="<%=record_key1%>enteredValue" value="<%=condition_list.enteredValue %>" />
                            <input type="hidden" id="conditiontypename" name="<%=record_key1%>conditiontypename" value="<%=condition_list.conditiontypename %>" />
                            <input type="hidden" id="operatorNum" name="<%=record_key1%>operatorNum" value="<%=condition_list.operatorNum %>" />                            
                            <input type="hidden" id="id" name="<%=record_key1%>id" value="<%=condition_list.id %>" />                            
                            </td>
                        </tr>
                        </ers:table>
                        </table>
                        <div class="ers-condition-content">
                            <div id="QueryPanel" class="ui-droppable">
                                <div class="ers-menu-block ui-widget-content" style="display: none;">
                                </div>
                                <div style="left: 515px; top: 342px; width: 150px;" class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content"
                                    id="condTypeMainPop">
                                    <div class="ers-menu-scrollDiv" style="overflow: auto; width: auto; height: auto;">
                                        <ers:foreach variable="menuCond" src=".Model.ListMenuItemConditionMain" roopcounter="j">
                                            <div class="ers-menu-itemDiv"><%=menuCond.name%></div>
                                        </ers:foreach>
                                    </div>
                                </div>
                                <div style="visible; left: 529px; top: 369px; width: 153px;" class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content"
                                    id="condTypePop">
                                    <div class="ers-menu-scrollDiv" style="overflow: auto; width: auto; height: 100px;">
                                        <!--<div class="ers-menu-itemDiv active">starts with</div>-->
                                        <ers:foreach variable="menuCond" src=".Model.ListMenuItemConditionString" roopcounter="j">
                                            <div class="ers-menu-itemDiv" id="<%=menuCond.value%>"><%=menuCond.name%></div>
                                        </ers:foreach>
                                    </div>
                                </div>
                                <div style="visible; left: 529px; top: 369px; width: 153px;" class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content"
                                    id="condTypePopDate">
                                    <div class="ers-menu-scrollDivDate" style="overflow: auto; width: auto; height: 100px;">
                                        <ers:foreach variable="menuCond" src=".Model.ListMenuItemConditionDate" roopcounter="j">
                                            <div class="ers-menu-itemDiv" id="<%=menuCond.value%>"><%=menuCond.name%></div>
                                        </ers:foreach>
                                    </div>
                                </div>
                                <div style="visible; left: 529px; top: 369px; width: 153px;" class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content"
                                    id="condTypePopInteger">
                                    <div class="ers-menu-scrollDivInteger" style="overflow: auto; width: auto; height: 100px;">
                                        <ers:foreach variable="menuCond" src=".Model.ListMenuItemConditionInteger" roopcounter="j">
                                            <div class="ers-menu-itemDiv" id="<%=menuCond.value%>"><%=menuCond.name%></div>
                                        </ers:foreach>
                                    </div>
                                </div>
                                <div style="visible; left: 529px; top: 369px; width: 153px;" class="ers-menu-rootLevel ers-menu-levelDiv ui-widget-content"
                                    id="condTypePopBoolean">
                                    <div class="ers-menu-scrollDivBoolean" style="overflow: auto; width: auto; height: 100px;">
                                        <ers:foreach variable="menuCond" src=".Model.ListMenuItemConditionBoolean" roopcounter="j">
                                            <div class="ers-menu-itemDiv" id="<%=menuCond.value%>"><%=menuCond.name%></div>
                                        </ers:foreach>
                                    </div>
                                </div>
                                <div style="top: 164px; left: 455px;" class="ers-addCol-block ui-widget-content"
                                    id="conPop">
                                    <ul style="height: auto;">
                                        <ers:foreach variable="table" src=".Model.ListTablesList" roopcounter="j">
                                        <li>
                                            <a href="javascript:void(0)" title="<%=table.tablename%>" style="font-size:10pt;" class="conditions hover_table2"  id="hover<%=j+1%>"><%=table.tablename%>&nbsp;&nbsp;</a>
                                            <ul class="ui-widget-content" id="TablesCon_hover<%=j+1%>">
                                                <ers:foreach variable="column" src=".Model.ListColumnsList" roopcounter="x">
                                                <ers:isEqual src="table.tableID" variable="column.tableID">   
                                                    <li>
                                                        <a href="javascript:void(0)" title="<%=column.columndisplayname%>" style="font-size:10pt;" class="hover_table2 selected" id="FN<%=x+1%>"><%=column.columndisplayname%></a>
                                                         <input type="hidden" id="columnName<%=x+1%>" value="<%=column.columnname%>" name="columnname"/>
                                                         <input type="hidden" id="tableName<%=x+1%>" value="<%=column.tablename%>" name="tablename" />
                                                         <input type="hidden" id="columntype<%=x+1%>" value="<%=column.columntype%>" name="columntype" />
                                                    </li>
                                                </ers:isEqual>
                                                </ers:foreach>                                           
                                            </ul>
                                        </li>
                                        </ers:foreach>
                                    </ul>
                                </div>
                                <div class="ers-qp-predicate ers-qp-predicate-root">
                                    <div class="ers-qp-row ers-qp-row-predicate ers-qp-row-predicate-root">
                                        <span class="ers-qp-predelement">Select records where </span>
                                        <div class="ers-qp-predelement ers-qp-predvalueelement">
                                            <a href="javascript:void(0)" class="selectCondTypeMain" id="rootConType">all</a>
                                            <div class="ers-menu-block ui-widget-content" style="display: none;">
                                            </div>
                                        </div>
                                        <span class="ers-qp-predelement">of the following apply</span>
                                        <div class="ers-qp-condition-buttonsBlock" style="display: inline;">
                                            <!--                                            <div id="addConditionImg" class="ers-qp-condition-button ers-qp-condition-button-addCondition"
                                                title="Add condition">
                                            </div>-->
                                            <!--                                            <div class="ers-qp-condition-button ers-qp-condition-button-addPredicate" title="Add predicate">
                                            </div>-->
                                            <div class="ers-qp-condition-button ers-qp-condition-button-enable enabled ers-qp-condition-button-hidden"
                                                title="Toggle enable">
                                            </div>
                                            <div class="ers-qp-condition-button ers-qp-condition-button-delete ers-qp-condition-button-hidden"
                                                title="Delete">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ers-qp-conditions" id="addValCon">
                                    </div>
                                    <div class="ers-qp-addrow">
                                        <a href="javascript:void(0)" id="addCondition">[Add new condition]</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ers-menu-block">
                    <hr class="ers-menu-hr" />
                    <div class="ers-menu-title">
                        Menu</div>
                    <div class="ers-menu-content">
                        <div id="btnClear" class="clear-button">
                            Clear query</div>
                        <div id="btnLoadQuery" class="get-query-button" onclick="LoadQuery();">
                            Load query</div>
                        <div id="btnSaveQuery" class="get-query-button" onclick="SaveQuery();">
                            Save query</div>
                        <div id="btnExecute" class="get-sql-button" onclick="ExecuteQuery();">
                            Execute</div>
                    </div>
                </div>
            </div>
        </form>
        <div class="ers-bottom-panel">
            <div class="ersSQLPanel">
                <hr class="ersSQLPanel_borderTop" />
                <div class="ersSQLPanel_title">
                    <!--<div id="btnSql"><input class="get-query-button" style="width:200px; text-align:center" type="submit" value="Show SQL"/></div>-->
                </div>
                <div id="sqlPanel" class="ers-sql-block">
                    <div id="sql" class="ers-sql-result">
                    </div>
                </div>
            </div>
            <div class="ersResultPanel">
                <hr class="ersResultPanel_borderTop" />
                <div class="ersResultPanel_title">
                    Result</div>
                <div class="ers-resultContent">
                <div id="resultPanel" class="ERS_table"></div>
                </div>
                <div class="ers-resultContent-padding">
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>
