﻿<html>
<head></head>
<body>
<ers:isEqual src=".Model.message" value="">
error no:0:
</ers:isEqual>
<ers:isNotEqual src=".Model.message" value="">
error no:1:<br />
<ers:multiLine src=".Model.message" /><br />
<ers:foreach variable="result" src=".Model.listResult">
	=========================================================<br />
	<ul>
		<li><%=result.type_name%></li>
		<li>パス：[<%=result.log_path%>]</li>
		<li>
			エラー内容：<br />
			<ers:multiLine src="result.error_message" />
		</li>
	</ul>
	=========================================================<br />
</ers:foreach>
</ers:isNotEqual>
</body>
</html>