﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="cart.cart.TitleShoppingCart" /> ｜ <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->
	<link rel="stylesheet" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.10.4.custom.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/calendar.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/cart.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.sec_url%>js/jquery-dateFormat.min.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.sec_url%>js/jquery.ui.datepicker.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker-ja.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<script src="<%=.sec_url%>js/cart.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
        var holidays = {
	    <ers:foreach variable="holiday" src=".Model.listHolidays">
            "<ers:formatDate src="holiday" />":{},
	    </ers:foreach>
        };

        function getHolidays(day) {
            var result;
            var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
            // 祝日・非営業日定義に存在するか？
            if (holiday) {
                result = [false, ""];
            } else {
                result = [true, ""];
            }
            return result;
        }

	    /* カレンダー表示
	    ---------------------------------------------------------------- */
	$(function() {
	    $("#datepicker2").datepicker({
	        numberOfMonths: 2,
	        showOn: 'button',           // ボタンをクリックでカレンダー表示
	        buttonImage: '<%=.sec_url%>images/icon_calendar.gif',             // テキストボックスのサイズ自動調整
	        autoSize: true,             // テキストボックスのサイズ自動調整
	        dateFormat: 'yy/mm/dd',     // 日付フォーマット 例：2011-06-24
	        showButtonPanel: false,      // カレンダーの下部にボタンパネル表示
	        duration: 'slow',           // 表示を遅く
	        showAnim: 'fade',           // fade アニメーションで表示
	        maxDate: '+<%=.Model.sendday_count %>d',             // 最大1年先の日付が選択可能
	        minDate: '+<%=.Model.sendday %>d',             // 過去1年まで日付が選択可能
		beforeShowDay: function (day) {
			return getHolidays(day);
		}
	    });
	});

	$(function(){
		$(".js-ERS_recommend_list h3.title").tile(5);
		$(".js-ERS_recommend_list div").tile(5);
	});
	</script>

	<style type="text/css">
	#ERS_premessage{
		display:block;
	}
	</style>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<ers:message code="cart.cart.BreadcrumbCart" /></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- flow start -->
			<div class="m-ERS_flow">
				<ol class="col5">
					<li class="flow1 current"><span><ers:message code="cart.cart.BreadcrumbCart" /></span></li>
					<li class="flow2"><span><ers:message code='register.entry.Title' /></span></li>
					<li class="flow3"><span><ers:message code='register.PaymentDeliveryMethodInput.Title' /></span></li>
					<li class="flow4"><span><ers:message code='register.entry3.Confirm'></span></li>
					<li class="flow5"><span><ers:message code='register.entry4.CompleteOrder'></span></li>
				</ol>
			</div>
<!-- flow end -->

<ers:dispError /><ers:dispInfo />

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:isEqual src=".Model.existBasketItem" value="false">
<!-- amount start -->
		<div class="m-ERS_amount">
			<h3 class="m-subtitle02"><ers:message code="cart.cart.OrdinalyOrder" /></h3>
			<table>
				<tr>
					<th class="sname"><ers:label code="sname" /></th>
					<th class="price"><ers:label code="unit_price" /></th>
					<th class="amount"><ers:label code="amount" /></th>
					<th class="price"><ers:message code="partial_amount" /></th>
					<th class="act"><ers:label code="cancel" /></th>
				</tr>
				<tr>
					<td colspan="5"><ers:message code="cart.cart.NoProduct" /></td>
				</tr>
			</table>
		</div>
</ers:isEqual>

<form method="post" action="cart.asp" id="entry_form" name="entry_form">
	<ers:isNotEqual src=".Model.basketItemCount" value="0">
		<ers:partial file="basket_ordinary.htm" partialModel=".Model" />
		<!-- back start -->
		<div class="m-ERS_btn m-cart_pad-btn clearfix">
			<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="m-btn m-back"><ers:message code="cart_cart_cont_shop" /></a></p>
		</div>
		<!-- back end -->
	</ers:isNotEqual>

	<ers:isNotEqual src=".Model.regularBasketItemCount" value="0">
		<ers:partial file="basket_regular.htm" partialModel=".Model" />
		<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="m-btn m-back"><ers:message code="cart_cart_cont_shop" /></a></p>
			</div>
		<!-- back end -->
	</ers:isNotEqual>
<input type="hidden" name="del_key" value="" />
<input type="hidden" name="del_regular_key" value="" />
</form>
<!-- amount end -->

<!-- box start -->
		<div class="m-ERS_box">
			<p>
<ers:isEqual src=".Model.BasketHasOnlyCarriageFreeItems" value="true">
<ers:message code="cart.cart.BasketHasOnlyCarriageFreeItems" />
<ers:isElse />
    <ers:isEqual src=".Model.CarriageFreeOfNormalItems" value="true">
		<ers:message code="cart.cart.CarriageFreeOfNormalItems1" value=".Model.free" /><br />
    <ers:isElse />
        <ers:isEqual src=".Model.BasketHasOneMailDeliverItem" value="true">
		    <ers:message code="cart.cart.BasketHasOneMailDeliverItem" />
	    </ers:isEqual>
	</ers:isEqual>
</ers:isEqual>
			</p>
		</div>
<!-- box end -->

<!-- total sum start-->
<div class="m-ERS_totalsum">
	<table>
		<tr>
			<th><ers:label code="total_all_item" /></th>
			<td><ers:formatCurrency src=".Model.total_all_item" /></td>
		</tr>
	</table>
	<p><ers:message code="cart.cart.AlertRecalc" /></p>
	<p><ers:multiLine src=".Model.regi_memo"></ers:multiLine></p>
</div>
<!-- total sum end -->

<!-- cart login start-->
<ers:partial file="../cart/cart_login.htm" />
<!-- cart login end -->

<!-- back start -->
	<div class="m-ERS_btn m-cart_pad-btn clearfix">
		<p class="center arrow02_l_l"><a href="<%=.nor_url%>top/search/asp/list.asp?<ers:outputQuery />" class="m-btn m-back"><ers:message code="cart_cart_cont_shop" /></a></p>
	</div>
<!-- back end -->


<ers:isNotEqual src=".Model.recommendItemCount" value="0" >
<!-- set item start -->
		<h2><ers:message code="cart.cart.Recommend" /></h2>
		<div class="m-ERS_recommend clearfix">
	<ers:foreach src=".Model.recommendItems" variable="item">
			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="image_2"><img src="<%=.sec_url%>images/simg/G<%=item.gcode%>_01.jpg?width=160" alt="" class="img_for_list1" /></a></h3>
				<h3 class="title"><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />"><%=item.gname%></a></h3>
				<div>
				<table>
<ers:IsNotEqual src="item.s_sale_ptn" value="Regular">
    <ers:isEqual src="item.onCampaign" value="true" comment="セール価格時に表示します">
					<tr>
						<th><ers:label code="sale_price" /></th>
						<td><strike><ers:formatCurrency src="item.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual></strike>→<strong class="m-ERS_IVP_color"><ers:formatCurrency src="item.price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr>
	</ers:isEqual>
	<ers:isNotEqual src="item.onCampaign" value="true" comment="通常価格時に表示します">
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                    <tr>
                        <th><ers:label code="non_member_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="non_member_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.price" variable="item.non_member_price">
                            <ers:label code="member_price" />
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
					</tr></ers:isNotEqual>
</ers:IsNotEqual>
			<ers:isEqual src="item.sale_regular_flg" value="true" comment="定期商品を含む時に表示します">
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                    <tr>
                        <th><ers:label code="regular_price" /></th>
                        <td><ers:formatCurrency src="item.non_member_regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
                    </tr>
        </ers:isNotEqual>
					<tr>
						<th>
        <ers:isEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="regular_price" />
        </ers:isEqual>
        <ers:isNotEqual src="item.regular_price" variable="item.non_member_regular_price">
                            <ers:label code="member_price" />
        </ers:isNotEqual>
                        </th>
						<td><ers:formatCurrency src="item.regular_price"/><ers:isEqual src=".Model.enableTax" value="false"><ers:message code="common.IncludingTax" /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code="common.ExcludingTax" /></ers:isEqual><ers:isNotEqual src="item.regular_price" variable="item.max_regular_price">～</ers:isNotEqual></td>
					</tr></ers:isEqual>
				</table>
				<p><ers:nonencode src="item.description_for_list"/></p>
				</div>
				<h4><a href="<%=.sec_url%>top/detail/asp/detail.asp?gcode=<%=item.gcode%>&<ers:outputQuery />" class="m-btn m-detail_btn" ><ers:label code="common_view_prod_details" /></a></h4>
			</div>
<ers:isEqual src="item.endline" value="True">
			<br class="release_b">
		</div>
		<div class="m-ERS_recommend">
</ers:isEqual>
</ers:foreach>
			<br class="release_b">
		</div>
<!-- set item end -->
</ers:isNotEqual>

		<!-- daily ranking start -->
		<ers:partial file="daily_ranking.htm" />
		<!-- daily ranking end -->

		</section><!-- #content -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/cart.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.sname span a').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,33}/g).join("<br/>");
        $(this).html(cut);
    });
</script>
</body>
</html>
