﻿<ers:isEqual src=".Model.existBasketItem" value="true" >


<ers:IsEqual src=".Model.IsLoggedIn" value="false">
	<h2><ers:message code="cart.cart_login.LoginMsg" /></h2>
</ers:IsEqual>

<ers:IsEqual src=".Model.IsLoggedIn" value="true">
	<h2><ers:message code="cart.cart_login.LoginMsg2" /></h2>
</ers:IsEqual>

	<div class="m-ERS_buy clearfix">
        <ers:IsEqual src=".Model.IsLoggedIn" value="false">
            <ers:IsEqual src=".Model.HasRegularOrder" value="false">

            <ers:IsEqual src=".Model.HideWithoutMembershipRegistration" value="false">
		        <!-- non_member start -->
		        <div class="ERS_non-member">
		        <h3><ers:message code="cart.cart_login.LoginNonMember" /></h3>
			        <form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form2">
				        <p class="iconLogin entry01"><input type="submit" value="<ers:message code="cart_cart_login_non_member_btn" />" class="m-btn m-login_btn __non_member_btn" /></p>
				        <input type="hidden" name="k_flg" value="3" />
			        </form>
		        </div>
		        <!-- non_member end -->
            </ers:IsEqual>

		    <!-- first start -->
		    <div class="ERS_first clearfix">
			    <h3><ers:message code="cart.cart_login.LoginFirst" /></h3>
			    <form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form2">
				    <p class="iconLogin entry01"><input type="submit" value="<ers:message code='cart_cart_login_first_time_btn' />" class="m-btn m-login_btn" /></p>
				    <input type="hidden" name="k_flg" value="2" />
			    </form>
		    </div>
		    <!-- first end -->     
        
            </ers:IsEqual>   

            <ers:IsEqual src=".Model.HasRegularOrder" value="true">
		        <!-- first start -->
		        <div class="ERS_first clearfix">
			        <h3><ers:message code="cart.cart_login.LoginFirst" /></h3>
			        <form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form2" name="form2">
				        <p class="iconLogin entry01"><input type="submit" value="<ers:message code='cart_cart_login_first_time_btn' />" class="m-btn m-login_btn" /></p>
				        <input type="hidden" name="k_flg" value="2" />
			        </form>
		        </div>
		        <!-- first end -->
            </ers:IsEqual>


		    <!-- login start -->
		    <form method="post" action="<%=.sec_url%>top/register/asp/login.asp" id="login_form2" name="login_form2">
		    <div class="ERS_login">
			    <h3><ers:message code="cart.cart_login.LoginMember" /></h3>
			    <h4><label for="email_pc"><ers:label code="email" /></label></h4>
			    <p><input type="text" class="email_pc" class="" name="email" value="<%=.important_news.cookie_email %>" tabindex="1" /></p>
			    <h4><label for="password1"><ers:label code="passwd" /></label></h4>
			    <p><input type="password" class="password1" class="" name="passwd" tabindex="3" autocomplete="off" /></p>
			    <p class="iconLogin"><input type="submit" value="<ers:label code="common_login" />" tabindex="4" class="m-btn m-login_btn" /></p>
			    <input type="hidden" name="k_flg" value="1" />
			    <p class="none"><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><ers:message code="cart_cart_login_forgot_pass" /></a></p>
		    </div>
		    <!-- login end -->
		    </form>
        </ers:IsEqual>

        <ers:IsEqual src=".Model.IsLoggedIn" value="true">
		    <!-- login start -->
		    <form method="post" action="<%=.sec_url%>top/register/asp/login.asp" id="Form3" name="login_form2">
		    <div class="ERS_login">
			    <h3><ers:message code="cart.cart_login.LoginMember" /></h3>
			    <h4><label for="email_pc"><ers:label code="email" /></label></h4>
			    <p><input type="text" class="email" class="" name="email" value="<%=.important_news.cookie_email %>" tabindex="1" /></p>
			    <h4><label for="password1"><ers:label code="passwd" /></label></h4>
			    <p><input type="password" class="password2" class="" name="passwd" tabindex="3" autocomplete="off" /></p>
			    <p class="iconLogin"><input type="submit" value="<ers:label code="common_login" />" tabindex="4" class="m-btn  g-imp_w-p100 m-login_btn __cart_login_btn" /></p>
			    <input type="hidden" name="k_flg" value="1" />
			    <p class="none"><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><ers:message code="cart_cart_login_forgot_pass" /></a></p>
		    </div>
		    <!-- login end -->
		    </form>
        </ers:IsEqual>

	</div>
</ers:isEqual>