﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="pageTitle.WishList" /> ｜ <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/wishlist.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.sec_url%>top/member/asp/"><ers:message code="pageTitle.MyPage" /></a>＞&nbsp;<ers:message code="pageTitle.WishList" /></p>
			</div>
<!-- breadcrumb navigatione end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/member2.asp" name="entry_form">

<!-- title start -->
			<h2><ers:message code="pageTitle.WishList" /></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
	<article class="m-article">
	<h3><ers:message code="cart.wishlist.delMsg" /></h3>
	<table class="m-wide_type">
		<tr>
			<th><ers:message code="cart_wishlist_prodImage" /></th>
			<th><ers:label code="sname" /></th>
			<th class="price"><ers:message code="cart_wishlist_sellingPrice" /></th>
			<th><ers:label code="common_prod_details" /></th>
			<th><ers:message code="cart_wishlist_del" /></th>
		</tr>
<ers:foreach src=".Model.listItem" variable="item" roopcounter="item_cnt">
		<tr>
			<td class="itemImgs">
				<img src="<%=.sec_url%>images/simg/S<%=item.scode%>_01.jpg?width=92" alt="<%=item.gname%>" class="img_for_list2" />
			</td>
			<td class="itemNam">
                <b class="cut_longtxt"><%=item.sname%></b><br />
			    <ers:isNotEqual src="item.attribute1" value=""><span><%=item.attribute1%></span><ers:isNotEqual src="item.attribute2" value="">&nbsp;&nbsp;/&nbsp;&nbsp;</ers:isNotEqual></ers:isNotEqual>
			    <ers:isNotEqual src="item.attribute2" value=""><span><%=item.attribute2%></span></ers:isNotEqual>
            </td>
<ers:isEqual src="item.onCampaign" value="true" comment="<ers:message code='cart.wishlist.normalPrice_DisplayMsg' />">
					<td class="priceList"><strike><ers:formatCurrency src="item.default_price" /></strike>→<strong><ers:formatCurrency src="item.price" /></strong></td>
</ers:isEqual>
<ers:isNotEqual src="item.onCampaign" value="true" comment="<ers:message code='cart_wishlist_campaignPrice_DisplayMsg' />">
					<td class="itemDetails"><strong><ers:formatCurrency src="item.price" /></strong></td>
</ers:isNotEqual>
			<td class="g-w_p12 wishBtns"><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>" class="m-btn02 m-green_btn"><ers:label code="common_detail" /></a></td>
			<td class="g-w_p12 wishBtns"><a href="<%=.sec_url%>top/cart/asp/wishlist.asp?del_scode=<%=item.scode%>" class="m-btn02 m-gray_btn"><ers:label code="common_delete" /></a></td>
		</tr>
</ers:foreach>
	</table>
	</article>
<!-- table end -->

	</form>
<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center arrow02_l_l"><a href="javascript:history.back();" class="m-btn m-center_btn"><ers:label code="common_back"></a></p>
			</div>
<!-- back end -->

		</section><!-- #content -->
<!-- sidemenu2 start -->
<ers:partial file="hint2/wishlist.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
<script>
    $('.cut_longtxt').each(function () {
        var str = $(this).html();

        var cut = str.match(/.{1,35}/g).join("<br/>");
        $(this).html(cut);
    });
</script>
</body>
</html>
