﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="summary.summary_list.Tittle"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<script type="text/javascript">

	    $(function checkUncheck() {
	        $('input[id^=group_code]').click(function () {
	            $('div[id^=summary_condition]').hide();
	            $("#summary_condition" + $(this).attr('value')).show();
	        });
	    });

	    function computeMonth(year, month, day, addMonths) {
	        month += addMonths;
	        var endDay = getMonthEndDay(year, month); //ここで、前述した月末日を求める関数を使用します
	        if (day > endDay) day = endDay;
	        var dt = new Date(year, month - 1, day);
	        return dt;
	    }

	    function getMonthEndDay(year, month) {
	        //日付を0にすると前月の末日を指定したことになります
	        //指定月の翌月の0日を取得して末日を求めます
	        //そのため、ここでは month - 1 は行いません
	        var dt = new Date(year, month, 0);
	        return dt.getDate();
	    }

	    function computeDate(year, month, day, addDays) {
	        var dt = new Date(year, month - 1, day);
	        var baseSec = dt.getTime();
	        var addSec = addDays * 86400000; //日数 * 1日のミリ秒数
	        var targetSec = baseSec + addSec;
	        dt.setTime(targetSec);
	        return dt;
	    }    </script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/summary.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="summary.summary_list.Tittle"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:message code="summary_AggregateType"></th>
				<td>
<ers:foreach src=".Model.GroupList" variable="group">
					<input type="radio" id="group_code<%=group.group_code %>" name="group_code" value="<%=group.group_code %>" <ers:isEqual src=".Model.group_code" variable="group.group_code"> checked="checked"</ers:isEqual>><label for="group_code<%=group.group_code %>"><%=group.group_name %></label><br />                    
</ers:foreach>
                </td>
			</tr>
		</tbody>
        </table>

<ers:foreach src=".Model.GroupList" variable="group">
        <form action="summary_result.asp" method="post" name="summary_form">
            <input type="hidden" name="group_code" value="<%=group.group_code %>" />
            <div id="summary_condition<%=group.group_code %>"<ers:isNotEqual src=".Model.group_code" variable="group.group_code"> style="display:none;"</ers:isNotEqual>>
		        <table class="length">
		            <tbody>
<ers:table src="group.summary_conditions" variable="condition" name="summary_conditions" record_key="record_key">
                        <input type="hidden" name="<%=record_key %>id" value="<%=condition.id %>" />
    <ers:partial variable="condition.template_path" partialModel="condition" />
</ers:table>
		            </tbody>
                </table>

                <!-- next start-->
	            <div class="ERS_next">
		            <p class="center"><input type="submit" value="<ers:message code='cms_indicate'>" id="" name=""></p>
	            </div>
                <!-- next end-->
            </div>
        </form>
</ers:foreach>

	</div>
<!-- table end -->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
