﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="summary.summary_result.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->

<!-- jquery jqplot start -->
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="<%=.sec_url%>lib/jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="<%=.sec_url%>lib/jqplot/jquery.jqplot.js"></script>
<link rel="stylesheet" type="text/css" href="<%=.sec_url%>lib/jqplot/jquery.jqplot.css" />
<script type="text/javascript" src="<%=.sec_url%>lib/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script type="text/javascript" src="<%=.sec_url%>lib/jqPlot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="<%=.sec_url%>lib/jqPlot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="<%=.sec_url%>lib/jqPlot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<!--jquery jqplot end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/summary.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start --> 
	<div id="ERS_title">
		<h2><%=.Model.group_name %></h2>
	</div>
<!-- title end -->

<ers:foreach src=".Model.summary_results" variable="result">


    <ers:IsEqual src="result.display_title" value="ON">
        <ers:partial file="summary/result/title.htm" partialModel="result" />
    </ers:IsEqual>

    <ers:IsNotEqual src="result.listResult.Count" value="0">
        <ers:IsEqual src="result.display_csv_dl" value="ON">
            <ers:partial file="summary/result/csv_dl.htm" partialModel="result" />
        </ers:IsEqual>

        <ers:IsEqual src="result.display_graph" value="ON">
            <ers:partial file="summary/result/graph.htm" partialModel="result" />
        </ers:IsEqual>

        <ers:IsEqual src="result.display_table" value="ON">
            <ers:partial file="summary/result/table.htm" partialModel="result" />
        </ers:IsEqual>
   </ers:IsNotEqual>
    
    <ers:IsEqual src="result.listResult.Count" value="0">
	    <div class="ERS_information">
		    <p>
	            <span><ers:message code="summary.summary_result.Info"></span>
		    </p>
	    </div>
    </ers:IsEqual>

</ers:foreach>

<!-- back start-->
	<div class="ERS_back">
        <form action="summary_list.asp" name="back" id="form_bk1" method="post">
        <input type="hidden" name="eck" value="1" />
		<p><input type="submit" value="<< <ers:label code='common_back' />" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
