﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='partial_footer_contact_us'> ｜ <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">
<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a><span class="arr"></span>＞&nbsp;<ers:message code='partial_footer_contact_us'></p>
			</div>
<!-- breadcrumb navigatione end -->

			<h2><ers:message code='partial_footer_contact_us'></h2>
			<p><ers:message code='quest.quest1.msg1'></p>
			<p><ers:message code='quest.quest1.msg2'></p>

		<form method="post" action="<%=.sec_url%>top/quest/asp/quest2.asp" name="quest_form">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->

			<article class="m-article">
				<h3><ers:label code='quest_text'><span class="m-ERS_IVP_color"><ers:message code='member.member1.reqFields'></span></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="lname"> m-ERS_IVP_caution</ers:isError><ers:isError src="fname"> m-ERS_IVP_caution</ers:isError>">
							<label for="lname"><span class="m-ERS_IVP_color">*</span><ers:label code='common_name' /></label>
						</dt>
						<dd><span class="m-dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
						<label for="lname" class="sp_block"><ers:label code='common_lastname' /></label><input class="lname" type="text" name="lname" value="<%=.Model.lname%>">
						<label for="fname" class="sp_block"><ers:label code='common_firstname' /></label><input class="fname" type="text" name="fname" value="<%=.Model.fname%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email"> m-ERS_IVP_caution</ers:isError>"><label for="email"><span class="m-ERS_IVP_color">*</span><ers:label code='email' /><br><ers:message code='alpha'></label></dt>
						<dd>
							<div class="add_in">
								<span class="m-dispError"><ers:dispError src="email" /></span>
								<input type="text" class="email" name="email" value="<%=.Model.email%>">
							</div>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email_confirm"> m-ERS_IVP_caution</ers:isError>"><label for="email_confirm"><span class="m-ERS_IVP_color">*</span><ers:label code='email_confirm' /><br><ers:message code='alpha'></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="email_confirm" /></span>
						<ers:message code='member.member1.confirmEmail'><br />
						<input type="text" class="email_confirm" name="email_confirm" value="<%=.Model.email_confirm%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="quest_ptn"> m-ERS_IVP_caution</ers:isError>"><label for="inquiry_kind"><span class="m-ERS_IVP_color">*</span><ers:message code='inq_type'></label></dt>
						<dd><span class="m-dispError"><ers:dispError src="quest_ptn" /><select id="inquiry_kind" name="quest_ptn">
							<option></option>
<ers:foreach variable="option" src=".Model.quest_ptntList">
							<option value="<%=option.value%>"<ers:isEqual src=".Model.quest_ptn" variable="option.value"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="orderno"> m-ERS_IVP_caution</ers:isError>"><label for="order_number"><ers:label code='orderno' /><br /><ers:message code='alpha'></label></dt>
						<dd><input type="text" id="order_number" class="w_100" name="orderno" value="<%=.Model.orderno%>" /></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="quest_text"> m-ERS_IVP_caution</ers:isError>"><label for="inquiry_content"><span class="m-ERS_IVP_color">*</span><ers:label code='quest_text' /><br /><ers:message code='quest.quest1.uptoCHar'><br />
						</label></dt>
						<dd>
						<span class="ex2"><ers:message code='register.NotAvailCharacInfo'><br></span>
						<textarea id="inquiry_content" name="quest_text" cols="100" rows="14"><%=.Model.quest_text%></textarea></dd>
					</dl>
				</div>
			</article>
			<article class="m-article">
				<h3><ers:message code='quest.quest1.PersonalInfo'></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="pri_chk"> m-ERS_IVP_caution</ers:isError>"><label for="pri_chk"><ers:message code='quest.quest1.PersonalInfo'></label></dt>
						<dd>
							<span class="summarry"><ers:message code='quest.quest1.AgreeMsg'></span>
							<textarea cols="100" rows="14"><%=.Model.pri_memo%></textarea>
							<span class="m-dispError"><ers:dispError src="pri_chk" /></span>
							<span class="check_box"><label for="pri_chk"><input type="checkbox" class="pri_chk" name="pri_chk" value="1" <ers:isEqual src=".Model.pri_chk" value="1"> checked="checked"</ers:isEqual>>&nbsp;<ers:label code='common_agree_btn'></label></span>
						</dd>
					</dl>
				</div>
			</article>

			<div class="m-ERS_btn clearfix">
				<p class="arrow02_l_l"><a href="<%=.nor_url%>" class="m-btn m-back"><ers:label code='common_back_to_home' /></a></p>
				<p class="arrow01_l_r"><input type="submit" value="<ers:label code='common_proceed_next' />" class="m-btn m-next"/></p>
			</div>
</form>


		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/quest1.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
