﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code="quest.quest2.Title" /> | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/entry.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

	<h2><ers:message code='contact_form'></h2>


	<p><ers:message code='quest.quest1.ContentOKMsg'></p>

			<article class="m-article">
				<h3><ers:message code='partial_footer_contact_us'><span class="m-ERS_IVP_color"><ers:message code='member.member1.reqFields'></span></h3>
				<div class="m-table_box">
					<dl class="clearfix">
						<dt><label><ers:label code='common_name' /></label></dt>
						<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
					</dl>
					<dl class="clearfix">
						<dt><label><ers:label code='email' /></label></dt>
						<dd><ers:isNotEqual src=".Model.email" value=""><%=.Model.email%></ers:isNotEqual></dd>
					</dl>
					<dl class="clearfix">
						<dt><label><ers:message code='inq_type'></label></dt>
						<dd><%=.Model.w_quest_ptn%></dd>
					</dl>
					<dl class="clearfix">
						<dt><label><ers:label code='orderno' /></label></dt>
						<dd><%=.Model.orderno%></dd>
					</dl>
					<dl class="clearfix">
						<dt><label><ers:label code='quest_text' /></label></dt>
						<dd class="m-wBreak"><ers:multiLine src=".Model.quest_text"/></dd>
					</dl>
				</div>
			</article>
			<div class="m-ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>top/quest/asp/quest1.asp">
					<p class="arrow02_l_l g-imp_fl-l"><input type="submit" class="m-btn m-back" value="<ers:label code='common_correct' />" /></p>
				</form>
				<form method="post" action="<%=.sec_url%>top/quest/asp/quest3.asp">
					<p class="arrow01_l_r g-imp_fl-r"><input type="submit" value="<ers:label code='common_send' />" class="m-btn m-next"/></p>
				</form>			
			</div>

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/quest2.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>