
.div_header {
	height: 400px;
	width:55em;
}

.div_left {
	float:left;
	margin-left:10px;
	margin-top:10px;
	width:250px;
	height:350px;
}

.div_right {
	float:right;
	margin-right:29px;
	margin-top:10px;
	width:550px;
	height:350px;
}

table
{
border-collapse:collapse;
width:95%;
font-size:12px;
}

table, th, td
{
border: 1px solid black;
padding:1px 1px 1px 1px;
font-size:18px;
color: #4F4F4F;

}

.div_bottom {
	float:right;

    margin-top:200px;
	margin-bottom:100px;

}

.pagenumStyle
{
	text-decoration: none;
	padding:2%;
}

.pagenumStyle a
{
	font-size:13px;
	text-decoration: none;
}

.pagenumStyle a:hover
{
	font-size:16px;
	font-style:bold;
	text-decoration: none;
} 


.pagenumStyle li
{
	display:inline;
}