
.ers-qc-columns, .ers-qp-columns 
{
    max-height: 85px;
    overflow-x: auto;
    -moz-overflow-x: auto;
    overflow-y: auto;
    -moz-overflow-y: auto;    
    padding: 4px 0;
}

.ers-qp-addrow, .ers-qc-addrow
{
    border-top: 1px solid silver;
    padding: 5px 10px;
}

.ers-qp-addrow-empty, .ers-qc-addrow-empty
{
    border-top: none;
    margin: 0;
}

.ers-qp-addrow a, .ers-qc-addrow a
{
    font: bold 13px Calibri;
    color: #165E0C;
    outline: none;
    text-decoration: none;
    
       
    
}

.ers-qp-addrow > a:hover, .ers-qc-addrow > a:hover
{
    text-decoration: underline;
}

.ers-qc-header
{
    font: normal 15px Calibri;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
}

.ers-qc-header div
{
    font: normal 15px Calibri;
    display: inline-block;
}

.ers-qc-header-expression
{
    margin-left: 28px;
    min-width: 300px;
}

.ers-qp-row, .ers-qc-row
{
    padding: 2px 0;
}

.ers-qp-row:hover, .ers-qc-row:hover
{
    background: #E8F3FF;
}

.ers-qp-row-predicate
{
    margin-left: 0px;
}


.ers-qp-predicate .ers-qp-row-predicate {
    padding: 2px 0 4px 10px;
}

.ers-qp-row-predicate-root
{
    margin: 0 0 0 10px;
}

.ers-qp-row-predicate-root .ers-qp-condition-buttonsBlock .ers-qp-condition-button-hidden
{
    display: none;
}

.ers-qp-row-predicate-root .ers-qp-condition-buttonsBlock
{
    width: auto;
    max-width: 165px;
}

.ers-qp-row.active, .ers-qc-row.active {
    background: none repeat scroll 0 0 #F1F1F1;
}

.ers-qp-conditions
{
    margin-left: 20px;
}

.ers-qp-condelement, .ers-qc-colelement
{
    font: normal 15px Calibri;
    display: inline-block;
    margin-right: 8px;
    vertical-align: bottom;
}
/*.ers-qp-condelement.ers-qp-valueelement
{
    white-space: nowrap;
    border-bottom: 1px dotted #AEAEAE;
    
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

.ers-qc-expr-block, .ers-qp-expr-block
{
    display: inline-block;
    min-width: 300px;
}

.ers-qp-predelement
{
    font: normal 15px Calibri;
    display: inline-block;
    clear: both;
    vertical-align: bottom;
    margin-right: 8px;
}

.ers-qp-condelement > a, .ers-qp-predelement > a, .ers-qc-colelement > a
{
    color: #4676AE;
    border-bottom: 1px dotted #AEAEAE;
    text-decoration: none;
    font: normal 15px Calibri;
}

.ers-qp-condelement > a:hover, .ers-qp-predelement > a:hover, .ers-qc-colelement > a:hover
{
    text-decoration: underline;
}


.ers-qp-valueelement a
{
    color: #074B7A;
    max-width: 167px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    
}

.ers-qp-disabled .ers-qp-valueelement span {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ers-qp-disabled span, .ers-qc-disabled span
{
    color: #9E9E9E;
    font: 15px Calibri;
    font-weight: normal;
    margin-bottom: 2px;
}


.ers-qp-error
{
    color: red;
    font-weight: bold;
}

.ers-qp-ve-loader
{
    background: url('../../images/ve-loader.gif') no-repeat;
    width: 16px;
    height: 11px;
}

/* dialog */
.ui-dialog
{
    overflow: visible !important;
}

.ers-qp-ve-subquery
{
    overflow: visible !important;
}

/* menu block - top border */
.ers-menu-hr
{
    border:medium none;
    height: 6px;
    background:none repeat scroll 0 0 #1777B1;
}

/* menu block - title */
.ers-menu-title
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #1777B1;
}

.ers-menu-content
{
     padding: 10px;
}

/* multi-select-menu */
.ers-menu-block
{
   /* position: absolute;
    float: right;
    z-index: 100; */
      
    float: right;
    width: 17%;
    
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid silver;
   
}

.ers-addCol-block
{
    position: absolute;
    z-index: 100000; 
    top: 0;
    left: 0;   
}


.ers-addCol-block-button
{
    margin: 4px;
    padding: 1px 10px;
    width:auto;
}

.ers-addCol-block-header
{
    margin: 0 0 5px 0;
    width:auto;
}

.ers-addCol-block label
{
    display: block;
    padding: 4px 10px;
}

.ers-addCol-block li
{
    display: block;
    /*font: normal 14px Calibri;*/
    font-size: 14px;
}

.ers-addCol-block ul li input
{
    margin: 0 10px;
}

.ers-addCol-block label input
{
    margin: 0 10px;
}

.ers-addCol-block ul li
{
    position: relative;
    z-index: 1;
    width: 200px;
}

.ers-addCol-block a.ui-state-hover
{
    padding: 3px 8px;
}

.ers-addCol-block label.ui-state-hover
{
    padding: 3px 9px;
}

.ers-addCol-block ul li a
{
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    color: #666;
}

.ers-addCol-block ul li ul
{
    display: none;
    position: absolute;
    top: 0px;
    left: 200px;
    padding: 2px;
}

.ui-widget-content
{
    background: #f6f5f5; 
    border: 1px solid #d3d3d3; 
    display: none;
    height: auto;  
      
}

.ers-addCol-block ui-widget-content
{
    background: #f6f5f5; 
    border: 1px solid #d3d3d3; 
    display: none; 
    height: auto;
    
}


.korzh-dd-menu-state-checkbox
{
    background: url('../../images/state-checkbox.png') no-repeat;
    width: 13px;
    border: none;
    padding: 1px 0 0 0;
    outline: none;
    cursor: default;
    text-indent: -30000px;
}


.ers-qp-condition-buttonsBlock
{
    float: right;
    width: auto;
    max-width: 165px;
}

.ers-qc-column-buttonsBlock
{
    display: none;
    float: right;
    width: 80px;
}

.ers-qp-condition-button, .ers-qc-column-button
{
    float: left;
    margin: -1px 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
   /* opacity: 0.5;*/
}

.ers-qp-condition-button:hover, .ers-qc-column-button:hover
{
    background-position:-25px 0;
}


.ers-qp-condition-button-hidden, .ers-qc-column-button-hidden
{
    width: 0px;
    margin-right: 30px !important;
}

.ers-qp-condition-button-active, .ers-qc-column-button-active, .ers-qc-sortbutton-active
{    
    opacity: 1 !important;
    -moz-opacity: 1 !important;
}

.ers-qp-condition-button-enable
{
    background: url('../../images/condbtn-enabled.png') no-repeat;
    background-position: 0 0;
}

.ers-qp-condition-button-enable.enabled
{
    background: url('../../images/condbtn-enabled.png') no-repeat;
    background-position: -51px 0;
}

.ers-qp-condition-button-delete, .ers-qc-column-button-delete
{
    background: url('../../images/condbtn-delete.png') no-repeat;
}


.ers-qp-condition-button-addPredicate
{
    background: url('../../images/condbtn-addpredicate.png') no-repeat;
}

.ers-qp-condition-button-addCondition
{
    background: url('../../images/condbtn-addcondition.png') no-repeat;
}

.ers-qp-condition-checkbox
{
    width: 16px;
    height: 16px;
    background: url('../../images/checkbox_unchecked.png') no-repeat;
}

.ers-qp-condition-button-enable.enabled:hover{
    background-position: -76px 0;
}

.ers-qp-condition-checkbox:hover
{
    box-shadow: inset 0 0 10px 2px #999;
}

.ers-qp-condition-checkbox.enabled
{
    width: 16px;
    height: 16px;
    background: url('../../images/checkbox_checked.png') no-repeat;
}


.ers-qc-column-button-type
{
    background: url('../../images/colbtn-aggrfunc.png') no-repeat;
}

.ers-qc-column-button-type.aggregated
{
    background: url('../../images/colbtn-aggrfunc.png') no-repeat;
}


.ui-state-highlight
{
    height: 1.5em;
    line-height: 1.2em;
}

.ers-qc-sortbutton
{
    cursor: pointer;
    width: 20px;
    height: 20px;
    float: left;
   /* opacity: 0.5;*/
}

.ers-qc-sortbutton:hover
{
    background-position: -25px 0;
   /* opacity: 1 !important;
    -moz-opacity: 1 !important;*/
}


.ers-qc-sortbutton-none
{
    background: url('../../images/sorting_none.png') no-repeat;
    
}

.ers-qc-sortbutton-asc
{
    background: url('../../images/sorting_asc.png') no-repeat;
}

.ers-qc-sortbutton-desc
{
    background: url('../../images/sorting_desc.png') no-repeat;
}



/*.ers-ep-node-block*/
.ers-ep-entity-block
{
    display: block;
    color: black;
    font: normal 12px Arial;
    margin: 0 10px;
}

.ers-ep-entity-node
{
    border-bottom: 1px solid #E4E4E4;
    padding: 5px 0;
}

/*.ers-ep-node-label*/
.ers-ep-entity-node-label
{
    display: inline;
    cursor: pointer;
    font: normal 15px Calibri;
}

.ers-ep-entity-node-label input
{
    margin: 0 5px 0 0;
}

.ers-ep-entity-attr-root
{
    margin: 0 !important;
    padding: 6px 10px !important;
}

.ers-ep-entity-attr, .ers-ep-entity-attr-root
{
    margin: 0 10px;
    padding: 6px 0 6px 30px;
}

.ers-ep-entity-block input
{
    margin: 0 5px;
}

.ers-ep-entity-attr-label
{
    display: inline;
    color: black;
    cursor: pointer;
    font: normal 15px Calibri;
}

.ers-ep-entity-attr-label input
{
    margin: 0 5px 0 0;
}

/*.ers-ep-node-button*/
.ers-ep-entity-node-button
{
    background: url('../../images/node-close.png') no-repeat center;
    float: left;
    padding: 8px 10px 7px;
}

.ers-ep-entity-node-button-open
{
    background: url('../../images/node-open.png') no-repeat center;
}


.ers-ep-entity
{
    height: 90%;
    border-bottom: 1px solid #f5f2f2;
    overflow: auto;
}

.ers-ep-tool-panel
{
    margin: 8px 0;
}

.ers-ep-tool-panel div.ers-ep-tool-panel-left-side
{
    float: left;
    width: 50%;
}

.ers-ep-tool-panel div.ers-ep-tool-panel-right-side
{
    float: right;
    width: 50%;
}

.ers-ep-tool-panel div div
{
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 10%;
}

.ers-ep-tool-panel-select-all
{
    background: url('../../images/ers-ep-select-all.png') no-repeat;
}

.ers-ep-tool-panel-select-all:hover
{
    background: url('../../images/ers-ep-select-all-hover.png') no-repeat;
}

.ers-ep-tool-panel-deselect-all
{
    background: url('../../images/ers-ep-deselect-all.png') no-repeat;
    height:30px; 
    line-height:30px; 
    width:98px; 
    border:0px;
    cursor: pointer;        
}

.ers-ep-tool-panel-deselect-all:hover
{
    background: url('../../images/ers-ep-deselect-all-hover.png') no-repeat;
    height:30px; 
    line-height:30px; 
    width:98px; 
    border:0px;    
    cursor: pointer;      
}
.ers-ep-tool-panel-add-columns
{
    background: url('../../images/ers-ep-add-columns.png') no-repeat;
   /* height:25px; 
    width:30px; 
    border:0px;
    cursor: pointer;  */     
}

.ers-ep-tool-panel-add-columns:hover
{
    background: url('../../images/ers-ep-add-columns-hover.png') no-repeat;
    /*height:25px; 
    width:30px; 
    border:0px;
    cursor: pointer;    */  
}

.ers-ep-tool-panel-add-cond
{
    background: url('../../images/ers-ep-add-cond.png') no-repeat;
}

.ers-ep-tool-panel-add-cond:hover
{
    background: url('../../images/ers-ep-add-cond-hover.png') no-repeat;
}

.eq-sortable-highlight
{
    height: 27px;
}

.ers-drophover
{
    border: 1px dotted black;
}

.ui-dialog .ers-qp-ve-subquery-column-element
{
    margin: 0 10px;
    display: inline;
}

.ui-dialog .ers-qp-ve-subquery-qp
{
    border: 1px solid #E2E2E2;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 180px;
    min-height: 180px;
}

.ui-dialog .ers-qp-ve-subquery-qp .ers-qp-ve-editbox
{
    min-height: 16px;
}

.ui-dialog .ers-qp-valueelement
{
    max-width: 200px;
}

.ui-dialog .ers-qp-ve-subquery-column-title, .ui-dialog .ers-qp-ve-subquery-qp-caption
{
    font: normal 15px "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    display: inline;
    margin: 0 5px;
}

.ui-dialog .ers-qp-ve-subquery-column-element a
{
    color: #4676AE;
    text-decoration: none;
    font: normal 15px Calibri;
    outline: none;
}

.ui-dialog .ers-qp-ve-subquery-column-element a:hover
{
    text-decoration: underline;
}

.ui-dialog .ers-qp-ve-subquery-qp-caption
{
    display: block;
    margin: 20px 0 0 5px;
}

.ui-dialog .ui-dialog-buttonpane
{
    border-top: 0;
}

.ers-drophover {
    border: 1px dotted black;
}

.ui-draggable-dragging{
    z-index: 100;
}
.hoveraddnew
{
    cursor: pointer;
}

.panelhover
{
    color: #058faa;
    border: 1px solid #21d3f5;
    background-color: #a9ecf9;
    font: normal 15px Calibri;
    padding: 5px 5px 5px 5px;
}

.divstyle
{
    padding: 5px 5px 5px 5px;
    border: 1px solid #f6f5f5;
    font: normal 15px Calibri;
    color: #959494;
    width: 200px;
    cursor: pointer;
}

.hover_table
{
    
    color:black;
    cursor:pointer;
   
           
}
.hover_table2
{
    
    color:black;
    cursor:pointer;
}
.hover_table:hover
{
    background-color:#f1f1f1;
    color:black;   
}

.hover_table2:hover
{
    background-color:#f1f1f1;
    color:black;   
}

/**/
.ers-menu-rootLevel{
    background-color: #888;
}

.ers-menu-levelDiv ui-widget-content{
    background: #fff;
    border: 1px solid silver;
    margin: -2px 2px 2px -2px;
    padding: 5px 0;
    position: relative;
    display:none;
}
.ers-menu-levelDiv{
    background: #fff;
    border: 1px solid silver;
    margin: -2px 2px 2px -2px;
    padding: 5px 0;
    position: absolute;
}
.ers-menu-searchDiv{
    border-bottom: 1px solid silver;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
}

.ers-menu-searchDiv input{
    width: 93%;
    padding: 2px 5px;
    font-weight: normal;
    font-size: 15px;
}

.ers-menu-scrollDiv{
    min-width: 140px;
    white-space: nowrap;
    overflow: auto;
}

.ers-menu-itemDiv input{
    margin: 4px 10px 0 0;
    vertical-align: top;
}

.ers-menu-itemDiv{
    font-size: 14px;
    color: #333333;
    padding: 5px 10px;
    cursor: pointer;
}

.ers-menu-itemDiv:hover{
    background: #f1f1f1;
}

.ers-menu-scrollDiv .active{
    background: #f1f1f1;
}

.ers-menu-applyDiv{
    padding: 5px;
    border-bottom: 1px solid silver;
    margin: 0 0 5px 0;
}

.ers-menu-applyDiv button{
    padding: 0 5px;
    cursor: pointer;
}

.ers-menu-cancel{
    margin: 0 0 0 15px;
}


