/* base config */
*
{
    padding: 0;
    margin: 0;
}

body, p, td, th, div
{
    font-family: Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
}

table
{
    border-spacing: 0px;
    border: none;
}

div
{
    display: block;
}

img
{
    border: none;
}

/**/
/* load fonts */
@font-face
{
    font-family: 'Conv_segoeuil';
    src: url('fonts/segoeuil.eot');
    src: local('???'), url('fonts/segoeuil.ttf') format('truetype'), url('fonts/segoeuil.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**/

/*setting to all page */
#main
{
    width: 1174px;
    background: #fff;
    margin: auto;
    padding-top: 10px;
}

/* title */
.ers-title
{
    float: left;
    color: darkblue;
    font: bold 20px Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background: url('../images/headerbg.png') no-repeat left;
    padding: 0.24em .04em 0.3em 0.4em;
    width: 1174px;
}

/* sub-title*/
.ers-sub-title
{
    margin: 14px 0 0 10px;
    float: left;
    font: bold 11px Trebuchet MS, Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #3a94d4;
}

/* header */
.header
{
    display: block;
    height: 40px;
}

/* content */
#content
{
    background: #f6f6f6;
    border: 2px solid #dedede;
    padding: 20px;
}

/* entities panel */
.ers-entities-block
{
    width: 20%;
    float: left;
    margin: 0 20px 0 0 !important;
    background: #fff;
    border: 1px solid silver;
}

.ers-entities-hr
{
    background: #1777B1;
    height: 6px;
    border: none;
}

.ers-entities-title
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #7BC4F8;
}

.ersEmptyBlock
{
    width: 20%;
    float: left;
    margin: 0 20px 0 0;
}

#EntitiesPanel
{
    height: 376px;
}

/* conditions block */
.ersConditionsBlock, .ersColumnsBlock
{
    width: 59%;
    float: left;
    background: #fff;
    border: 1px solid silver;
    margin: 0 0 20px 0;
}

/* global block - top border */
.ersConditionsBlock_borderTop, .ersColumnsBlock_borderTop
{
    background: #1777B1;
    height: 6px;
    border: none;
}

/* global block - title */
.ersConditionsBlock_title, .ersColumnsBlock_title
{
    font: 100 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 8px 10px;
    background: #F8F7F7;
    border-bottom: 1px solid #7BC4F8;
}

/* global block - content */
.ersConditionsBlock_content, .ersColumnsBlock_content
{
    padding: 10px;
    font: normal 15px Arial;
}


/* menu block */
.ers-menu-indexblock
{
    width: 17%;
    float: right;
    background: #fff;
    border: 1px solid silver;
}

/* menu block - top border */
.ers-menu-indexhr
{
    border: none;
    height: 6px;
    background: #1777B1;
}

/* menu block - title */
.ers-menu-indextitle
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #1777B1;
}

/* menu block - content */
.ers-menu-indexcontent
{
    padding: 10px;
}

.ers-menu-indexcontent div
{
    margin: 10px 0;
}

/* menu block - buttons */
.get-query-button
{
    background: url(../../images/loadButton.png) no-repeat center left;
    width: 118px;
    border: none;
    font-family: Segoe UI;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 10px 9px 9px 33px;
    display: inline-block;
    text-align: center;
}

.execute-sql-button
{
    float: right;
    font: normal 18px Calibri;
    color: #1777B1;
    text-decoration: underline;
    padding: 10px 10px;
    cursor: pointer;
}

.get-sql-button
{
    background: url(../../images/execute.png) no-repeat center;
    width: 118px;
    border: none;
    font-family: Segoe UI;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 10px 9px 9px 33px;
    display: inline-block;
    text-align: center;
    margin: 30px 0px !important;
}

.clear-button
{
    background: url(../../images/clearButton.png) no-repeat;
    width: 118px;
    border: none;
    font-family: Segoe UI;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 10px 9px 9px 33px;
    display: inline-block;
    text-align: center;
}

.save-button
{
    background: url(../../images/saveButton.png) no-repeat;
    width: 117px;
    border: none;
    font-family: Segoe UI;
    font-size: 15px;
    color: white;
    cursor: pointer;
    padding: 7px 9px 6px 30px;
    display: inline-block;
    text-align: center;
}

.ers-language-block
{
    float: right;
    margin: 10px 0 0 0;
}
/* sql panel */
.ersSQLPanel
{
    width: 25%;
    border: 1px solid #C4D6E5;
    background: white;
    float: left;
}

/* sql panel - border -top */
.ersSQLPanel_borderTop
{
    background: #1777B1;
    height: 6px;
    border: none;
}

/* sql panel - title */
.ersSQLPanel_title
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #A8ABAD;
}

/* sql panel - block */
.ers-sql-block
{
    padding: 7px;
    position: relative;
    height: 226px;
    overflow-y: auto;
    overflow-x: auto;
}

/* sql panel - result block */
.ers-sql-result
{
    height: 222px;
    overflow-y: auto;
    overflow-x: hidden;
    font: normal 11px Verdana;
}

/* result panel */
.ersResultPanel
{
    background: white;
    position: relative;
    border: 1px solid #C1D5E4;
    width: 73%;
    float: right;
}

/* result panel - border top */
.ersResultPanel_borderTop
{
    background: #1777B1;
    height: 6px;
    border: none;
}

/* result panel - title */
.ersResultPanel_title
{
    border-bottom: 1px solid #237901;
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F8F7F7;
}

/* result panel - content result */
.ers-resultContent-padding
{
}

.ers-resultContent
{
    padding: 10px 5px 10px 5px;
    font: normal 15px Arial;
    height: 220px;
    overflow-x: auto;
    overflow-y: auto;
    -moz-overflow-y: auto;
    -moz-overflow-x: auto;
    
}

.ers-resultContent table
{
    font: normal 12px Calibri;
}

.ers-resultContent table td
{
    padding: 5px;
    color: #4F4F4F;
    font: 10px Arial;
    border-bottom: 1px solid #E4E4E4;
}

.ers-result-header th
{
    background-color: #F6F6F6;
    color: #4F4F4F;
    height: 30px;
    font: bold 11px Arial !important;
    border-bottom: 1px solid #E4E4E4;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}


/* content - block min height */
.ers-header-panel
{
    height: 433px;
}
.ers-header-panel > div
{
    height: 433px;
    margin: 0 0 20px 0;
}

.ers-bottom-panel
{
    height: 313px;
}

.ers-bottom-panel > div
{
    height: 287px;
    margin: 0 0 20px 0;
}
/* query panel & query text */
.ers-result-error
{
    color: Red;
    font: normal 20px Calibri;
    text-align: center;
}

.ers-result.loader
{
    background: url('../../images/ajax-loader.gif') no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
}

/* result table style */
.ers-result-header td
{
    font: bold 14px Calibri;
    border-bottom: 1px solid silver !important;
}

/* error text */
.error, .error div
{
    color: Red;
    font: normal 20px Calibri;
}

#ColumnsPanel
{
    height: 135px;
}

#QueryPanel
{
    height: 152px;
    overflow-y: auto;
    overflow-x: auto;
    -moz-overflow-y: auto;
    -moz-overflow-x: auto;
}

/* central block */
.ers-central-block
{
    width: 59%;
    float: left;
}

.ers-columns-block
{
    background: white;
    border: 1px solid silver;
    height: 180px;
    margin: 0 0 20px 0;
}

.ers-columns-indexblock
{
    background: none repeat scroll 0 0 white;
    border: 1px solid silver;
    
    margin: 0 0 20px;
}

.ers-columns-hr
{
    background: #1777B1;
    height: 6px;
    border: none;
}

.ers-columns-title
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #1777B1;
}

.ers-columns-content
{
    
    height: 137px;

}

.ers-columns-indexcontent {
    height: 389px;
    overflow-x: auto;
    -moz-overflow-x: auto;
}

/* condition panel */
.ers-condition-block
{
    background: white;
    border: 1px solid silver;
    height: 230px;
}

.ers-condition-hr
{
    background: #1777B1;
    height: 6px;
    border: none;
}

.ers-condition-title
{
    font: normal 18pt "Segoe UI Light" , "Segoe Light" , "Segoe UI" , Arial, Helvetica, sans-serif;
    color: #4F4F4F;
    padding: 0 0 4px 10px;
    background: #F9F9F9;
    border-bottom: 1px solid #1777B1;
}

.ers-condition-content
{
    font: normal 15px Arial;
    padding: 10px;
}
/* copyright */
#footer
{
    margin: 10px 0;
    padding: 0 0 20px 0;
    font: normal 12px Calibri;
    color: #000;
}

.copyright
{
    float: left;
}
