﻿<!DOCTYPE html>
<html>
<head>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                cache: false,
                url: '<%=.nor_url%>top/api/asp/getUnseenMessage.asp',
                dataType: 'json',
                error: function () {
                },
                success: function (result) {
                    if (result.inbox_message_count === 0) {
                        $("#inbox_message_count").hide();
                    }
                    else {
                        $("#inbox_message_count").show();
                    }
                    $("#inbox_message_count").html(result.inbox_message_count);
                }
            });

            $.ajax({
                type: 'POST',
                cache: false,
                url: '<%=.nor_url%>top/api/asp/getImageMember.asp',
                dataType: 'json',
                data: {},
                error: {},
                success: function (result) {
                    var img_src = "<%=.sec_url%>images/" + result.emp_no + "/" + result.emp_no + ".jpg";
                    if (result.hasImage === true) {
                        $('#member_img').attr("src", img_src);
                    }
                    if (result.fullname != null) {
                        $('#fullname').text("Hi, "+  result.fname+ "!");
                    }
                }
            });
        
        });     
    </script>


    <style>
    @import url(<%=.sec_url%>css/font-awesome-4.7.0/css/font-awesome.min.css);
    @import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
    .fa-2x {
    font-size: 2em;
    }
    .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    }

   
    .main-menu:hover,nav.main-menu.expanded {
    width:260px;
    overflow:visible;
    }

    .sidebar-menu {
        padding-top:20px !important;        
    }

    .main-menu {
    background:#fbfbfb;
    border-right:1px solid #e5e5e5;
    position:fixed;
    top:80px;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
    }

    .main-menu>ul {
    margin:7px 0;
    }

    .main-menu li {
    position:relative;
    display:block;
    width:250px;
    padding-bottom:10px;
    }

    .main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

    }

    .main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    }

    .main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    }

    .nav-img{
    padding-right: 19px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
    }

    .main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
    }

    .no-touch .scrollable.hover {
    overflow-y:hidden;
    }

    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }

    a:hover,a:focus {
    text-decoration:none;
    }

    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }

    nav ul,nav li {
    outline:0;
    margin:0;

    padding-left: 9px;
    border-right-width: 6px;
    padding-right: 6px;
    }

    .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
    }
    .area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    }
    @font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    }


.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropup:hover .dropdown-menu {
  display: block;
}





</style>

    <title></title>
	<meta charset="utf-8" />
</head>

<ers:isEqual src=".position" value="3">
    <body style="margin-left:40px">

        <nav class="main-menu">
            <ul class="sidebar-menu">
                <li>
                    <div class="post">
                        <div class="post-head-admin">
                            <div class="pull-left image">
                                <img src="<%=.sec_url%>images/img_avatar1.png" class="img-circle avatar" id="member_img" onclick="window.open('<%=.sec_url%>top/employee/asp/emp_profile.asp','_self')" />
                            </div>
                        </div>
                        <a href="<%=.sec_url%>top/employee/asp/emp_profile.asp" style="padding-left:50px;" id="fullname" name="profile_btn"></a>
                    </div>
                </li>
                <li>
                    <a href="<%=.sec_url%>top/employee/asp/emp_home.asp">
                        <img src="/images/glyphicons/png/glyphicons-21-home.png" class="nav-img">

                        <span class="nav-text">
                            Home
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="<%=.sec_url%>top/Report/asp/dreport_search.asp">
                        <img src="/images/glyphicons/png/glyphicons-248-note.png" class="nav-img">
                        <span class="nav-text">
                            Reports
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="<%=.sec_url%>top/Employee/asp/emp_search.asp">
                        <img src="/images/glyphicons/png/glyphicons-4-user.png" class="nav-img" style="width: 45px; height: 35px;">
                        <span class="nav-text">
                            Employee
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="<%=.sec_url%>top/job/asp/job_title_regist.asp">
                        <img src="/images/glyphicons/png/glyphicons-715-user-structure.png" class="nav-img">
                        <span class="nav-text">
                            Job
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="<%=.sec_url%>top/project/asp/pcode_list.asp">
                        <img src="/images/glyphicons/png/glyphicons-358-suitcase.png" class="nav-img">
                        <span class="nav-text">
                            Projects
                        </span>
                    </a>

                </li>
                <li>
                    <a href="<%=.sec_url%>top/schedule/asp/schedule.asp">
                        <img src="/images/glyphicons/png/glyphicons-46-calendar.png" class="nav-img">
                        <span class="nav-text">
                            Schedule
                        </span>
                    </a>
                </li>
                <li>
                    <a href="<%=.sec_url%>top/request/asp/request.asp">
                        <img src="/images/glyphicons/png/glyphicons-31-pencil.png" class="nav-img">
                        <span class="nav-text">
                            Request
                        </span>
                    </a>
                </li>
                <li>
                <a href="<%=.sec_url%>top/employee/asp/employee_message.asp" class="test">
                    <img src="/images/glyphicons/png/glyphicons-11-envelope.png" class="nav-img">                   
                    <span class="nav-text">
                        Messages
                    </span>      
                    <span id="inbox_message_count" class="badge" style="background-color:red">
                    </span>             
                    </a>                  
                </li>
                <ers:isequal src=".position" value="3">
                    <li>
                        <a href="<%=.sec_url%>monitor/batch/execute_batch">                            
                            <ers:isequal src=".batchstatus" value="1">
                                <img src="/images/glyphicons/png/glyphicons-208-remove.png" style="background-color:darkorange" class="nav-img">
                                <span class="nav-text">
                                    unfinished batch
                                </span>   
                            </ers:isequal>
                            <ers:isequal src=".batchstatus" value="2">
                                <img src="/images/glyphicons/png/glyphicons-208-remove.png" style="background-color:red" class="nav-img">
                                <span class="nav-text">
                                    batch error
                                </span> 
                            </ers:isequal>
                        </a>
                    </li>
                </ers:isequal>
                <li>
                    <a href="<%=.sec_url%>top/login/asp/logout.asp">
                        <img src="/images/glyphicons/png/glyphicons-389-exit.png" class="nav-img">
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>

        </nav>

    </body>
    </ers:isEqual>
</html>
