﻿<ul class="pagination pagination-sm" ng-controller="pagerController">
    <li>
        <div class="ems-angular-pager clearfix">
            <ul>
                <li class="return">
                    <p>
                        <input type="button" id="prev" name="pager" value="< Prev" ng-click="listPagePrev(Data.pagerModel.pager_part)" class="change page-nav" />
                    </p>
                </li>
                <li ng-repeat="pagecnt in getPager(((Data.Model.list | filter: criteriaMatch(query)).length))">
                    <p>
                        <input name="pager" ng-class="selected_page == pagecnt ? 'selected-pager': 'place'" type="button" ng-click="SetPageList(pagecnt)" value="{{pagecnt}}">
                    </p>
                </li>
                <li class="enter">
                    <p>
                        <input type="button" id="next" name="pager" value="Next >" ng-click="listPageNext(Data.pagerModel.pager_part)" class="change page-nav" />
                    </p>
                </li>

            </ul>
        </div>
    </li>
</ul>