﻿<div class="modal ems-modal fade" id="prevModal" role="dialog" ng-controller="detailController">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-details-body">
                    <div class="ems-modal-header">
                        <div id="arrow-up">
                            <button id="arrow-up-btn" data-dismiss="modal"><img id="arrow-up-img" class="imgDetailsLogo" src="/images/arrow-up.png" /></button>
                        </div>
                        <div id="modal-img-container">
                            <img id="modal-img" src="https://ivp-ems.com/images/img_avatar1.png" />
                        </div>
                        <div class="modal-label">
                            <span id="fullname-modal">{{Data.detailModel.full_name}}</span><br />
                            <span>{{Data.detailModel.w_job_title}}</span><br />
                        </div>
                    </div>
                    <div id="info-div">
                        <ers:isEqual src=".Model.isHR" value="true">
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee No.&nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.emp_no}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/team.png" /> Team &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.w_team}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/emp_no.png" /> SSS No.&nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.sss_no}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/emp_no.png" /> TIN No.&nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.tin_no}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/email.png" /> Email &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.email}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/phone.png" /> Contact No. &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.contact_no}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/home.png" /> Address &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.address}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/bday.png" /> Birthday &nbsp;:&nbsp;<span class="modal-field"> {{Data.detailModel.w_birthday}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/gender.png" /> Gender &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.w_gender}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/status.png" /> Status &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.w_status}}</span></div>
                        </ers:isEqual>
                        <ers:isNotEqual src=".Model.isHR" value="true">
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/email.png" /> Email &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.email}}</span></div>
                            <div class="modal-details"><img class="imgDetailsLogo" src="/images/phone.png" /> Contact No. &nbsp;:&nbsp;<span class="modal-field">{{Data.detailModel.contact_no}}</span></div>
                        </ers:isNotEqual>
                    </div>
                    <!--<div id="leave-div">
                        <span class="note-field">Leave Balance(s)</span>&nbsp;<span style="height:20px;width:20px;background-color:#5cb85c;">&emsp;</span>&emsp;<span class="note-field">Used Leave(s)</span> <span style="height:20px;width:20px;background-color:#d9534f;">&emsp;</span>
                        <div class="modal-details">
                            Sick Leave:<br />
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:5%">
                                1
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:95%">
                                14
                            </div>
                        </div>
                        <div class="modal-details">
                            Vacation Leave:<br />
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">
                                7
                            </div>
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width:60%">
                                8
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div id="manageModal" class="modal fade ems-modal" role="dialog" ng-controller="manageController">
   
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-details-body">
                    <div class="ems-modal-header">
                        <div>
                            <div style="float:left;">
                                <img class="modal-logo" src="/images/gear-icon.png" />&emsp;
                            </div>
                            <div style="float:left;">
                                <span class="ems-modal-title ">{{Data.manageModel.full_name}}</span><br />
                                <span>Emp No. {{Data.manageModel.emp_no}}</span>
                                <input type="hidden" value="{{Data.manageModel.emp_no}}" id="emp_no" />
                                <input type="hidden" value="{{Data.manageModel.full_name}}" ng-model="Data.manageModel.full_name" id="full_name" />
                               
                            </div>
                        </div>
                    </div>
                    <div id="info-div">
                        <div id="settings-modal-body">
                            <div class="modal-details">
                                <table class="modal-table">
                                    <form id="manageForm" name="manageForm" ng-submit="updateDetails()">
                                        <tbody>
                                            <tr class="errors" ng-if="Data.manageModel.errorList.length > 0">

                                 
                                                        <p ng-repeat="error in Data.manageModel.errorList">  {{error}} </p>
                                                   
                                               
                                            </tr>
                                            <tr>
                                                <td>
                                                    Job Title:
                                                </td>
                                                <td>
                                                    <select class="ems-modal-select" id="job_title">
                                                        <option ng-selected="option.code == Data.manageModel.job_title" ng-repeat="option in Data.Model.job_title_list" value="{{option.id}}">{{option.job_title}} </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Employment Status:
                                                </td>
                                                <td>
                                                    <select class="ems-modal-select" id="emp_status">
                                                        <option ng-selected="option.code == Data.manageModel.status" ng-repeat="option in Data.Model.emp_status_option" value="{{option.code}}">{{option.name}} </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Team:
                                                </td>
                                                <td>
                                                    <select class="ems-modal-select" id="team">
                                                        <option ng-selected="option.code == Data.manageModel.team" ng-repeat="option in Data.Model.emp_team_option" value="{{option.code}}">{{option.name}} </option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Vacation Leave:
                                                </td>
                                                <td>
                                                    <span>{{Data.manageModel.vacation_leave}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Sick Leave:
                                                </td>
                                                <td>
                                                    <span>{{Data.manageModel.sick_leave}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </form>
                                </table>
                                <button class="modal-Submit-btn" name="saveDetails"> Save </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-controller="EmpSearchController"></div>
</div>
