﻿<ul class="pagination pagination-sm">
    <li>
        <div class="m-ERS_page_send clearfix" ng-controller="PagerController">
            <ul>
                <li class="return" ng-if="Data.Model.pager.PagePrevFlg == true">
                    <form method="post" name="pagesend_prev">
                        <p>
                            <input type="button" name="pager" value="<" class="change" ng-click="pageData($event);" />
                            <input type="hidden" name="pageCnt" value="{{Data.Model.pager.backCnt}}" />
                        </p>
                    </form>
                </li>
                <li ng-repeat="p in Data.Model.pager.PageList">
                    <form method="post" name="pagesend_cnt" ng-if="Data.Model.pager.pageCnt == p.pagecnt">
                        <p>
                            <input value="{{p.pagecnt}}" name="pager" class="place" type="button">
                            <input type="hidden" name="pageCnt" value="{{p.pagecnt}}" />
                        </p>
                    </form>
                    <form method="post"  name="pagesend_cnt" ng-if="Data.Model.pager.pageCnt != p.pagecnt">
                        <p>
                            <input value="{{p.pagecnt}}" name="pager" class="change" type="button" ng-click="pageData($event);">
                            <input type="hidden" name="pageCnt" value="{{p.pagecnt}}" />
                        </p>
                    </form>
                </li>
                <li class="enter" ng-if="Data.Model.pager.PageNextFlg == true">
                    <form method="post" name="pagesend_next">
                        <p>
                            <input type="button" name="pager" value=">" class="change" ng-click="pageData($event);" />
                            <input type="hidden" name="pageCnt" value="{{Data.Model.pager.nextCnt}}" />
                        </p>
                    </form>
                </li>

            </ul>
        </div>
    </li>
</ul>



