﻿<div id="divPrev" hidden="hidden" class="panel-info" ng-controller="previewController">
    <div class="prevDivImage">
        <center>
            <div id="prv">
                <img id="prevImage" src="{{Data.prevModel.image_path}}">
            </div>

        </center>
    </div>
    <div class="prevDivDetailsLeft">
        <div>
            <span id="prevFullname">{{Data.prevModel.fullname}}</span> <br />
            <span id="prevPosition">{{Data.prevModel.w_job_title}}</span>
        </div>
    </div>
    <div class="prevDivDetails" style="padding-top : 20px;">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee No :</span>
        <span id="prevEmpNo" class=""> {{Data.prevModel.emp_no}} </span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/team.png" /> Team :</span>
        <span id="prevTeam" class=""> {{Data.prevModel.w_team}} </span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/email.png" /> Email :</span>
        <span id="prevEmail" class=""> {{Data.prevModel.email}} </span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/bday.png" /> Birthday :</span>
        <span id="prevBirthday" class=""> {{Data.prevModel.w_birthday}}</span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/phone.png" /> Contact No. :</span>
        <span id="prevContact" class=""> {{Data.prevModel.contact_no}} </span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/home.png" /> Address :</span>
        <span id="prevAddress"> {{Data.prevModel.address}} </span>
    </div>
    <div class="prevDivDetails">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/gender.png" /> Gender :</span>
        <span id="prevGender"> {{Data.prevModel.w_gender}} </span>
    </div>
    <div class="prevDivDetails" style="padding-bottom : 10px;">
        <span class="spanDetailsTitle"><img class="imgDetailsLogo" src="/images/status.png" /> Status :</span>
        <span id="prevStatus"> {{Data.prevModel.w_status}} </span>
    </div>
</div>