<!-- amount start -->
<div class="m-ERS_amount">
	<h3><ers:message code="cart.basket_regular.RegularOrder" /></h3>
	<h4><ers:message code="cart.basket_regular.ModificationMsg" /></h4>
	<table>
		<tr>
			<th class="sname"><ers:label code="sname" /></th>
			<th class="term"><ers:label code="term" /></th>
			<th class="price"><ers:label code="unit_price" /></th>
			<th class="amount"><label for="up_amount"><ers:label code="amount" /></label></th>
			<th class="price"><ers:label code="cart_price" /></th>
			<th class="act"><ers:label code="cancel" /></th>
		</tr>
		<ers:table src="partialModel.regularBasketItems" name="regularBasketItems" record_key="regular_record_key" variable="item">
		<tr>
			<td class="sname"><span>
				<em class="image"><img src="<%=.sec_url%>images/simg/S<%=item.scode%>_01.jpg?width=74" alt="" id="img_for_view2" /></em>
				<em class="text"><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>" target="_blank"><%=item.sname%></a><br>
				<%=item.attribute1%><ers:isNotEqual src="item.attribute2" value=""><ers:isNotEqual src="item.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=item.attribute2%><br />
				<%=item.contents%></em>
				<input type="hidden" name="<%=regular_record_key%>regular_key" value="<%=item.regular_key %>">
				<input type="hidden" name="<%=regular_record_key%>scode" value="<%=item.scode %>">
				<input type="hidden" name="<%=regular_record_key%>send_ptn" value="<%=item.send_ptn %>">
			</span></td>
			<td class="dayList">
				<ers:isEqual src="item.send_ptn" value="1">
                <ers:message code="cart.basket_regular.SendPtn1" value="item.ptn_interval_month" /> &nbsp;  <ers:message src="item.ptn_day_name" />
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				</ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="2">
                <ers:message code="cart.basket_regular.SendPtn1" value="item.ptn_interval_month" />&nbsp;  <ers:message code="cart.basket_regular.SendPtn2" value="item.ptn_interval_week" />&nbsp;<ers:message src="item.ptn_weekday_name" />
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday %>">
				</ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="3">
				<ers:message code="cart.basket_regular.SendPtn3" value="item.ptn_interval_day" />
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				</ers:isEqual>

				<span class="fixBtn">
				<ers:isEqual src="item.send_ptn" value="1"><a href="" class="regular_month_modify m-btn02 m-gray_btn"><ers:message code="cart_basket_regular_modify_btn" /></a></ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="2"><a href="" class="regular_week_modify m-btn02 m-gray_btn"><ers:message code="cart_basket_regular_modify_btn" /></a></ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="3"><a href="" class="regular_day_modify m-btn02 m-gray_btn"><ers:message code="cart_basket_regular_modify_btn" /></a></ers:isEqual>
				</span>
			</td>
			<td class="tankaList">
				<ers:isEqual src="item.send_ptn" value="" comment="通常商品用表示"><ers:formatCurrency src="item.price"/></ers:isEqual>
				<ers:isNotEqual src="item.send_ptn" value="" comment="定期商品用表示">
				<ers:isEqual src="item.regular_price" variable="item.price"><ers:formatCurrency src="item.price"/></ers:isEqual>
				<ers:isNotEqual src="item.regular_price" variable="item.price">
				<span style="font-size:smaller;"><ers:label code="regular_first_price" /></span><span class="regular_first_price"><ers:formatCurrency src="item.price"/></span><br />
				<span style="font-size:smaller;"><ers:label code="regular_second_price" /></span><span class="regular_price"><ers:formatCurrency src="item.regular_price"/></span>
				</ers:isNotEqual>
				</ers:isNotEqual>
			</td>
			<td class="countList">
				<input class="input_amount amount" type="text"  name="<%=regular_record_key%>amount" value="<%=item.amount%>" />
				<input type="hidden" class="input_sname" value="<%=item.sname%>" />
				<input type="hidden" class="max_amount" value="<%=item.max_purchase_count%>" />
			</td>
			<td class="totalList">
				<ers:isEqual src="item.send_ptn" value="" comment="通常商品用表示"><ers:formatCurrency src="item.total"/></ers:isEqual>
				<ers:isNotEqual src="item.send_ptn" value="" comment="定期商品用表示">
				<ers:isEqual src="item.regular_price" variable="item.price"><ers:formatCurrency src="item.total"/></ers:isEqual>
				<ers:isNotEqual src="item.regular_price" variable="item.price">
				<span style="font-size:smaller;"><ers:label code="regular_first_price" /></span><span class="regular_first_price"><ers:formatCurrency src="item.total"/></span><br />
				<span style="font-size:smaller;"><ers:label code="regular_second_price" /></span><span class="regular_price"><ers:formatCurrency src="item.regular_total"/></span>
				</ers:isNotEqual>
				</ers:isNotEqual>
			</td>
			<td class="deleteBtn">
				<a href="#" onclick="document.entry_form.del_regular_key.value='<%=item.regular_key%>';document.entry_form.submit();" class="m-btn02 m-gray_btn"><ers:label code="cancel" /></a>
			</td>
		</tr>
		</ers:table>
	</table>
</div>
<!-- amount end -->


<!-- total start -->
<div class="m-table_total">
	<table>
		<tr>
			<th><ers:label model="partialModel.regular_amounttotal" /></th>
			<td><%=partialModel.regular_amounttotal%><ers:message code="common.CounterSuffixAmount" /></td>
		</tr>
		<tr>
			<th><ers:label model="partialModel.regular_subtotal" /></th>
			<td>
		        <ers:isEqual src="partialModel.regular_subtotal" variable="partialModel.regular_subtotal_next"><ers:formatCurrency src="partialModel.regular_subtotal"></ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_subtotal" variable="partialModel.regular_subtotal_next">
		        <span style="font-size:smaller;"><ers:label code="regular_first_price" /></span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_subtotal"></span><br/>
		        <span style="font-size:smaller;"><ers:label code="regular_second_price" /></span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_subtotal_next"></span>
		        </ers:isNotEqual>
			</td>
		</tr>
		<ers:isEqual src=".Model.enableTax" value="true">
		<tr>
			<th><ers:label model="partialModel.regular_tax" /></th>
			<td>
		        <ers:isEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next"><ers:formatCurrency src="partialModel.regular_tax"></ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next">
		        <span style="font-size:smaller;"><ers:label code="regular_first_price" /></span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_tax"></span><br/>
		        <span style="font-size:smaller;"><ers:label code="regular_second_price" /></span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_tax_next"></span>
		        </ers:isNotEqual>
		    </td>
		</tr>
		</ers:isEqual>
		<tr>
			<th><ers:label model="partialModel.regular_total" /></th>
			<td>
		        <ers:isEqual src="partialModel.regular_total" variable="partialModel.regular_total_next"><strong><ers:formatCurrency src="partialModel.regular_total"></strong></ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_total" variable="partialModel.regular_total_next">
		        <span style="font-size:smaller;"><ers:label code="regular_first_price" /></span>&nbsp;&nbsp;<span class="regular_first_price"><strong><ers:formatCurrency src="partialModel.regular_total"></strong></span><br/>
		        <span style="font-size:smaller;"><ers:label code="regular_second_price" /></span>&nbsp;&nbsp;<span class="regular_price"><strong><ers:formatCurrency src="partialModel.regular_total_next"></strong></span>
		        </ers:isNotEqual>
			</td>
		</tr>
	</table>
	<div class="recount clearfix">
		<h4><input type="submit" value="<ers:label code='recompute' />" alt="" class="btn gray02_btn" id="regular_recompute" /></h4>
	</div>
</div>
<!-- total end -->

<!-- dialog for month start -->
<div id="regular_month_dialog" title="<ers:message code="cart.cart.ChangeDeliveryIntervalDialog" />">
	<select class="w_40" name="change_ptn_month_interval_month" id="change_ptn_month_interval_month">
<ers:foreach src="partialModel.ListPtnIntervalMonth" variable="entity">
		<option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
	</select>&nbsp;<ers:message code="cart_basket_regular_change_ptn_day" />&nbsp;
	<select class="w_60" name="change_ptn_day" id="change_ptn_day">
<ers:foreach src="partialModel.ListPtnDay" variable="entity">
		<option value="<%=entity.value%>"><%=entity.name%></option>
</ers:foreach>
	</select>
</div>
<!-- dialog for month start -->

<!-- dialog for week start -->
	<div id="regular_week_dialog" title="<ers:message code="cart.cart.ChangeDeliveryIntervalDialog" />">
		<select class="w_40" name="change_ptn_week_interval_month" id="change_ptn_week_interval_month">
<ers:foreach src="partialModel.ListPtnIntervalMonth" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
		</select>&nbsp;<ers:label code="common_per_month" />&nbsp;
		<select class="w_40" name="change_ptn_interval_week" id="change_ptn_interval_week">
<ers:foreach src="partialModel.ListPtnIntervalWeek" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
		</select>&nbsp;<ers:label code="common_per_week" />&nbsp;
		<select class="w_40" name="change_ptn_weekday" id="change_ptn_weekday">
<ers:foreach src="partialModel.ListPtnWeekday" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.name%></option>
</ers:foreach>
		</select>
	</div>
<!-- dialog for week start -->

<!-- dialog for day start -->
	<div id="regular_day_dialog" title="<ers:message code="cart.cart.ChangeDeliveryIntervalDialog" />">
		<h4><img alt="" src="<%=.sec_url%>images/sttl_detail03.gif"></h4>
		<p>
			<select id="change_ptn_interval_day" class="w_100">
<ers:foreach src="partialModel.ListPtnIntervalDay" variable="entity">
							<option value="<%=entity.value%>"><ers:message code="cart.basket_regular.ChangePtnIntervalDay" value="entity.value" /></option>
</ers:foreach>
			</select>
		</p>

		<h4><img alt="" src="<%=.sec_url%>images/sttl_detail02.gif"></h4>
		<p>
			<input type="radio" checked="checked" value="0" name="change_first_time" id="shortest"><label for="shortest"><ers:label code="change_first_time_shortest" /></label><br>
        <ers:isEqual src="partialModel.show_selectable_calendar" value="true">
			<input type="radio" value="1" name="change_first_time" id="fixed"><label for="fixed"><ers:label code="change_first_time_fixed" /></label><br />
			<input type="text" value="" class="cal" id="datepicker2" size="12" name="change_next_date">
        </ers:isEqual>
<script type="text/javascript">
$(function(){
　$("#datepicker").datepicker();
});
</script>
		</p>
	</div>
<!-- dialog for day start -->
