<div class="form-group">
    <table class="table table-hover table-bordered">
        <ers:isNotEqual src=".Model.recordCount" value="0">
            <thead>
                <tr>
                    <th>Employee Number</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Team</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </ers:isNotEqual>
        <tbody>
            <ers:foreach src=".Model.list" variable="empList" roopcounter="i">
                <tr>
                    <td class="w_50"><%=empList.emp_no%></td>
                    <td class="w_300" id="tdImage">
                        <img name="emp_img" src='<%=.sec_url%>images/<ers:IsEqual src="empList.image_file" value="img_avatar1.png">img_avatar1.png</ers:IsEqual><ers:IsNotEqual src="empList.image_file" value="img_avatar1.png"><%=empList.emp_no%>/<%=empList.image_file%></ers:IsNotEqual>' class="member_pic">
                        <span name="fullname"><%=empList.fullname%></span>

                        <input type="hidden" name="img_file" value='<%=.sec_url%>images/<ers:IsEqual src="empList.image_file" value="img_avatar1.png">img_avatar1.png</ers:IsEqual><ers:IsNotEqual src="empList.image_file" value="img_avatar1.png"><%=empList.emp_no%>/<%=empList.image_file%></ers:IsNotEqual>' />
                        <input type="hidden" name="emp_no" value="<%=empList.emp_no%>" />
                        <input type="hidden" name="team" value="<%=empList.team%>" />
                        <input type="hidden" name="email" value="<%=empList.email%>" />
                        <input type="hidden" name="birthday" value="<%=empList.birthday%>" />
                        <input type="hidden" name="contact_no" value="<%=empList.contact_no%>" />
                        <input type="hidden" name="address" value="<%=empList.address%>" />
                        <input type="hidden" name="gender" value="<%=empList.gender%>" />
                        <input type="hidden" name="status" value="<%=empList.status%>" />
                        <input type="hidden" name="position" value="<%=empList.position%>" />
                        <input type="hidden" name="fullname" value="<%=empList.fullname%>" />
                    </td>
                    <td class="w_100"><%=empList.email%></td>
                    <td class="w_70">
                        <%=empList.team%>
                    </td>
                    <td class="w_70">
                        <%=empList.status%>
                    </td>
                    <td class="w_200">
                        <form method="post" id="submit<%=i%>">
                            <input type="hidden" value="<%=empList.emp_no%>" name="recipient_emp_no" />
                            <input type="hidden" value="<%=empList.emp_no%>" name="emp_no" />
                            <input type="hidden" value="<%=.Model.s_email%>" name="s_email" />
                            <input type="hidden" value="<%=.Model.s_fname%>" name="s_fname" />
                            <input type="hidden" value="<%=.Model.s_lname%>" name="s_lname" />
                            <input type="hidden" value="<%=.Model.s_emp_no%>" name="s_emp_no" />
                            <input type="hidden" value="<%=.Model.searchField%>" name="searchField" />
                            <input type="hidden" value="<%=.Model.s_keyword%>" name="s_keyword" />
                            <ers:isEqual src=".position" value="3"><input type="submit" class="btn btn-info btn-sm" value="Manage" formaction="<%=.sec_url%>top/employee/asp/emp_manage.asp" />&nbsp;</ers:isEqual>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal<%=i%>">Details</button>&nbsp;
                            <!--<input type="submit" class="btn btn-toolbar btn-sm" name="fromEmpSearchBtn" value="Message" formaction="<%=.sec_url%>top/employee/asp/employee_message.asp" <ers:isEqual src="empList.emp_no" variable=".Model.user_emp_no">disabled</ers:isEqual>/>&nbsp;-->

                        </form>
                    </td>
                </tr>


                <div class="modal fade" id="myModal<%=i%>" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Employee Details</h4>
                            </div>
                            <div class="modal-body">
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/emp_no.png" /> Employee Number
                                    </label>
                                    <br />
                                    <%=empList.emp_no%>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/emp_name.png" /> Employee Name
                                    </label>
                                    <br />
                                    <%=empList.fullname%>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/email.png" /> Email
                                    </label>
                                    <br />
                                    <%=empList.email%>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/phone.png" /> Contact Number
                                    </label>
                                    <br />
                                    <ers:isEqual src="empList.contact_no" value="">
                                        Not Set
                                    </ers:isEqual>
                                    <ers:isNotEqual src="empList.contact_no" value="">
                                        <%=empList.contact_no%>
                                    </ers:isNotEqual>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/home.png" /> Address
                                    </label>
                                    <br />
                                    <ers:isEqual src="empList.address" value="">
                                        Not Set
                                    </ers:isEqual>
                                    <ers:isNotEqual src="empList.address" value="">
                                        <%=empList.address%>
                                    </ers:isNotEqual>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/bday.png" /> Birthday
                                    </label>
                                    <br />
                                    <%=empList.birthday%>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/team.png" /> Team
                                    </label>
                                    <br />
                                    <%=empList.team%>
                                    <ers:isEqual src="empList.team" value="1">C#</ers:isEqual>
                                    <ers:isEqual src="empList.team" value="2">HTML</ers:isEqual>
                                    <ers:isEqual src="empList.team" value="3">Administrative</ers:isEqual>
                                    <ers:isEqual src="empList.team" value="0">
                                        Not Set
                                    </ers:isEqual>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/position.png" /> Position
                                    </label>
                                    <br />
                                    <ers:isEqual src="empList.position" value="1">Member</ers:isEqual>
                                    <ers:isEqual src="empList.position" value="2">Team Leader</ers:isEqual>
                                    <ers:isEqual src="empList.position" value="3">Administrator</ers:isEqual>
                                    <ers:isEqual src="empList.position" value="0">
                                        Not Set
                                    </ers:isEqual>
                                </p>
                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/status.png" /> Status
                                    </label>
                                    <br />
                                    <%=empList.w_status%>
                                    <ers:isEqual src="empList.status" value="1">Employed</ers:isEqual>
                                    <ers:isEqual src="empList.status" value="2">Resigned</ers:isEqual>
                                    <ers:isEqual src="empList.status" value="3">Terminated</ers:isEqual>
                                </p>

                                <p>
                                    <label>
                                        <img class="imgDetailsLogo" src="/images/gender.png" /> Gender
                                    </label>
                                    <br />
                                    <%=empList.gender%>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ers:foreach>
    </table>
    <ers:IsNotEqual src=".Model.recordCount" value="0">
        <ers:isEqual src=".position" value="3">
            <center>
                <form action="<%=.sec_url%>top/Employee/asp/emp_csv_download_all.asp" method="post" name="download_csv_all" id="download_csv_all">
                    <span class="download_button">
                        <input type="hidden" name="searchField" id="sf_all" value="<%=.Model.searchField%>" />
                        <input type="hidden" name="s_keyword" value="<%=.Model.s_keyword%>" />
                        <input type="submit" rel="emp_csv_download_all$emp_csv_download_all.asp" class="btn btn-primary" value="Download all Member data" />
                    </span>
                </form>
                <br />
                <form action="<%=.nor_url%>top/Employee/asp/emp_csv_download_page.asp" name="download_csv_page" id="download_csv_page" method="post">
                    <span class="download_button">
                        <input type="hidden" name="searchField" id="sf_all" value="<%=.Model.searchField%>" />
                        <input type="hidden" name="s_keyword" value="<%=.Model.s_keyword%>" />
                        <input type="submit" class="btn btn-primary" rel="emp_csv_download_page$emp_csv_download_page.asp" id="" name="" value="Download Member Data on this page" />
                    </span>
                    <input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />
                </form>
            </center>
        </ers:isEqual>
    </ers:IsNotEqual>
    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-title" style="background-color:#5bc0de;color:white;">
                    <strong>Upload Employee CSV</strong>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="post" action="<%=.sec_url%>top/Employee/asp/emp_csv_upload_confirm.asp" enctype="multipart/form-data">
                        <div class="uploadNoteDiv">
                            <span class="uploadNoteSpan">
                                <ers:message code="EmployeePositionMessage" />
                                <br />
                            </span>
                            <span class="uploadNoteSpan">
                                <ers:message code="EmployeeTeamMessage" />
                            </span>
                        </div>
                        <br />
                        <input type="checkbox" name="chk_find" value="true" checked />&nbsp; Ignore first line?
                        <br />
                        <input type="file" name="csv_file" />
                        <br />
                        <input name="btn_submit" type="submit" class="btn btn-default" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>