﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Error</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.nor_url%>css/bootstrap.min.css">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/js.cookie.js"></script>
    <script src="<%=.sec_url%>js/header.js"></script>
    <script>
        var position = document.getElementById('position');
        var islogin = document.getElementById('islogin');
        $.ajax({
            type: 'GET',
            cache: false,
            url: '<%=.nor_url%>top/api/asp/errorHeader.asp',
            dataType: 'json',
            data: { position: position,islogin:islogin },
            error: function () {
            },
            success: function (result) {
                position = result.position;
                islogin = result.islogin;
                if (islogin != undefined) {
                    if (position != null && position != 0) {
                        $('#home').show();
                        $('#login').css('display', 'none');
                        if (position == 1) {
                            $('.member').show();
                            $('.admin').css('display', 'none');
                            $('.adTL').css('display', 'none');
                            $('.tl').css('display', 'none');
                        }
                        if (position == 2) {
                            $('.tl').show();
                            $('.member').css('display', 'none');
                            $('.admin').css('display', 'none');
                        }
                        if (position == 3) {
                            $('.admin').show();
                            $('.member').css('display', 'none');
                            $('.tl').css('display', 'none');
                        }
                        if (position != 1) {
                            $('.adTL').show();
                        }
                    }
                }
                else {
                    $('#login').show();
                    $('#home').css('display', 'none');
                }
            }
        });</script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 10px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }


        .example6 .navbar-brand {
            background: url(<%=.nor_url%>images/ivplogo.png) center / contain no-repeat;
            width: 200px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        footer .footer-below {
            padding-top: 130px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
    <!-- Nav 2-->
    <input type="hidden" id="position" name="position" value="">
    <input type="hidden" id="islogin" name="islogin" value="">

    <nav class="navbar navbar-static-top example6">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                    Brand Text
                </a>
            </div>

            <div id="home">
                <div class="container">
                    <div id="navbar6" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="<%=.sec_url%>top/employee/asp/emp_home.asp">Home</a></li>
                            <li class="active"><a href="<%=.sec_url%>top/Report/asp/dreport_search.asp">Reports</a></li>

                            <li class="active"><a class="adTL" href="<%=.sec_url%>top/Employee/asp/emp_search.asp">Employee List</a></li>

                            <li class="active"><a class="tl" href="<%=.sec_url%>top/Employee/asp/team_management_list.asp">Team Management</a></li>
                            <li class="active"><a class="adTL" href="<%=.sec_url%>top/project/asp/pcode_list.asp">Projects</a></li>


                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="<%=.sec_url%>top/login/asp/logout.asp">Logout</a></li>
                                    <li><a href="<%=.sec_url%>top/employee/asp/emp_profile.asp?prof=1" name="profile_btn">My Profile</a></li>
                                    <li><a href="<%=.sec_url%>top/Employee/asp/emp_inbox.asp?account_inbox=true">Inbox</a></li>
                                    <li><a class="adTL" href="<%=.sec_url%>top/Employee/asp/emp_inbox.asp?account_sent_message=true">Sent Items</a></li>
                                </ul>
                            </li>


                        </ul>
                    </div>
                </div>
                </div>
            <div id="login">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar6" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="<%=.sec_url%>top/login/asp/about.asp">About</a></li>
                            <li class="active"><a href="<%=.sec_url%>top/login/asp/login.asp">Login</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </nav>
    <hr>



    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        
        <div class="col-lg-12">
            <br /><br />
            <div class="row">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-md-10 col-md-offset-1">
                                <center>
                                    <div class="panel-group">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">Error Encountered</div>
                                            <div class="panel-content">
                                                <br />
                                                <ers:dispError src="exception_detail" />
                                                <ers:dispError src="All" />
                                                <form method="post" action="<%=.sec_url%>top/employee/asp/emp_home.asp">
                                                    <input type="hidden" name="eck" value="1" />
                                                    <p class="center"><input type="submit" value="Back to Home" class="btn-sm btn-info" /></p>
                                                </form>
                                                <br />

                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </center>
                            </div>


                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>