<footer class="text-center">
    <div class="footer-below">
        <hr />
        <div class="container">
            <div class="row footer-height">
                <div class="col-lg-12">
                     &copy; 2018 IVP Co Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>