<script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<script src="<%=.sec_url%>js/js.cookie.js"></script>
<script src="<%=.sec_url%>js/header.js"></script>
<script>
    function theFunction() {
        $.ajax({
            type: 'POST',
            cache: false,
            url: '<%=.nor_url%>top/api/asp/getImageMember.asp',
            dataType: 'json',
            data: {},
            error: {},
            success: function (result) {
                var img_src = "<%=.sec_url%>images/" + result.emp_no + "/" + result.emp_no + ".png";
                if (result.hasImage === true) {
                    $('#member_img').attr("src", img_src);
                }
                if (result.fullname != null) {
                    $('#fullname').text(result.fullname);
                }
            }
        });
    }
</script>

<style>
    #prof {
    background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/

    
     cursor:pointer;
}

    #headerIndex{
        z-index: 1;
    }
</style>


<nav class="navbar navbar-static-top example6" id="headerIndex">
    <div class="container-fluid">
        <div class="navbar-header">
            <input type="image" src="/images/glyphicons/png/glyphicons-517-menu-hamburger.png" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"/>
            <!--<button type="button"  style="background: url(/images/glyphicons/png/glyphicons-517-menu-hamburger.png)" ... >-->
                <!--<span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>-->
            <!--</button>-->
       
            <span>
                <a class="navbar-brand text-hide" href="<%=.sec_url%>top/Home/asp/Index.asp">
                    Brand Text
                </a>
            </span>
           
        </div>
        
        <div class="collapse navbar-collapse" id="myNavbar">


            <ers:isNotEqual src=".position" value="">
                <ers:isNotEqual src=".position" value="3">
                    <ul class="nav navbar-nav navbar-right">
                        <ers:isNotEqual src=".position" value="3">
                            <li class="active"><a href="<%=.sec_url%>top/employee/asp/emp_home.asp">Home</a></li>
                            <li class="active"><a href="<%=.sec_url%>top/Report/asp/dreport_search.asp">Reports</a></li>
                            <ers:isNotEqual src=".position" value="1">
                                <li class="active"><a href="<%=.sec_url%>top/Employee/asp/emp_search.asp">Employee</a></li>
                            </ers:isNotEqual>
                            <ers:isEqual src=".position" value="2">
                                <li class="active"><a href="<%=.sec_url%>top/Employee/asp/team_management_list.asp">Team Management</a></li>
                            </ers:isEqual>
                            <ers:isNotEqual src=".position" value="1">
                                <li class="active"><a href="<%=.sec_url%>top/project/asp/pcode_list.asp">Projects</a></li>
                            </ers:isNotEqual>

                            <li class="active"><a href="<%=.sec_url%>top/schedule/asp/schedule.asp">Schedule</a></li>

                            <li class="active"><a href="<%=.sec_url%>top/request/asp/request.asp">Request</a></li>
                        </ers:isNotEqual>
                        <li class="dropdown" id="account">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" onmouseover="return theFunction();">Account<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="post">
                                        <div class="post-head">
                                            <div class="pull-left image">
                                                <img src="<%=.sec_url%>images/img_avatar1.png" class="img-circle avatar" id="member_img" onclick="window.open('<%=.sec_url%>top/employee/asp/emp_profile.asp','_self')" />
                                            </div>
                                        </div>
                                    </div>
                                    <a href="<%=.sec_url%>top/employee/asp/emp_profile.asp" id="fullname" name="profile_btn"></a>
                                </li>

                                <!--<li><a href="<%=.sec_url%>top/Employee/asp/employee_message.asp">Messages <span id="inbox_message_count" class="badge" style="background-color:red"></span></a></li>-->
                                <ers:IsEqual src=".position" value="3">
                                    <li>
                                        <a href="<%=.sec_url%>monitor/batch/execute_batch">

                                            <ers:IsEqual src=".batchStatus" value="1">
                                                <span class="badge" style="background-color:darkorange"> Unfinished Batch  </span>
                                            </ers:IsEqual>
                                            <ers:IsEqual src=".batchStatus" value="2">
                                                <span class="badge" style="background-color:red"> Batch Error  </span>
                                            </ers:IsEqual>
                                        </a>
                                    </li>
                                </ers:IsEqual>
                                <li><a href="<%=.sec_url%>top/login/asp/logout.asp">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                </ers:isNotEqual>
            </ers:isNotEqual>
            <ers:isEqual src=".position" value="">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar6">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar6" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="<%=.sec_url%>top/login/asp/about.asp">About</a></li>
                            <li class="active"><a href="<%=.sec_url%>top/login/asp/login.asp">Login</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </ers:isEqual>
            <!--/.container-fluid -->
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>


<!--<script>
    $("#account").click(function () {

        $.ajax({
            type: 'GET',
            cache: false,
            url: '<%=.nor_url%>top/api/asp/getUnseenMessage.asp',
            dataType: 'json',
            error: function () {
            },
            success: function (result) {
                if (result.inbox_message_count === 0) {
                    $("#inbox_message_count").hide();
                }
                else
                {
                    $("#inbox_message_count").show();
                }
                $("#inbox_message_count").html(result.inbox_message_count);
            }
        });

    });
</script>-->

