<link rel="shortcut icon" href="<%=.dynamic_url%>images/common/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="<%=.dynamic_url%>images/common/apple/apple-touch-icon-180x180.png">
