﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><ers:message code='partial.loginscreen.Title' /> ｜ <%=.browser_title%></title>

	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/member_index.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.sec_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">
<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<a href="<%=.sec_url%>">HOME</a>＞&nbsp;<ers:message code='partial.loginscreen.Title' />
			</div>
<!-- breadcrumb navigatione end -->


		<form method="post" action="login.asp" id="form1" name="form1">

<!-- title start -->
			<h2><ers:message code='partial.login.Title' /></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError />
            <ers:isEqual src=".Model.controller.HasInformation" value="true">
                <div class="panel panel-info">
                    <div class="panel panel-heading">
                        <strong>Information</strong>
                    </div>
                    <div class="panel-body">
                        <span class="text-info"><ers:dispInfo /></span>
                    </div>
                </div>
            </ers:isEqual>

<!-- table start -->
		<article class="m-article">
			<h3><ers:message code='partial.login.Msg' /></h3>
			<div class="m-table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="common">m-ERS_IVP_caution</ers:isError>"><label for="email_pc"><span class="m-ERS_IVP_color">*</span><ers:label code='email' /><br /><ers:message code='alpha' /></label></dt>
					<dd class="col_02"><input type="text" class="email_pc" name="email" value="<%=.sideModel.cookie_email %>" /><br />
                    <input type="checkbox" name="email_ck" class="email_ck" value="1" <ers:isEqual src=".sideModel.email_chk" value="true">checked="checked"</ers:isEqual>><label for="email_ck"><ers:message code='partial_remember_email' /></label></dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="common"> m-ERS_IVP_caution</ers:isError>"><label for="password1"><span class="m-ERS_IVP_color">*</span><ers:label code='passwd' /><br /><ers:label code='common_pass_character' /></label></dt>
					<dd class="end"><input type="password" class="password1" name="passwd" value="" autocomplete="off" /></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<div class="bandn">
<!-- next start -->
		<div class="m-ERS_btn clearfix">
			<p><a href="<%=.sec_url%>top/member/asp/passrim1.asp" class="m-btn m-back"><ers:message code='partial_forgot_pass' /></a></p>
			<p><input type="submit" value="<ers:label code='common_login' />" class="m-btn m-next __login_btn"/></p>
		</div>
<!-- next end -->

<br class="release_b" />
</div>

<!-- ssl_alert start -->
		<div class="m-ERS_ssl_alert">
			<p><span class="m-ERS_IVP_color"><ers:message code='common.SSL' /></span></p>
		</div>
<!-- ssl_alert end -->

		</form>

<!-- back start -->
			<div class="m-ERS_btn clearfix">
				<p class="center"><a href="<%=.sec_url%>" class="m-btn m-center_btn"><ers:label code='common_back_to_home' /></a></p>
			</div>
<!-- back end -->

		</section><!-- #content -->

	<!-- sidemenu2 start -->
	<ers:partial file="hint2/login.htm" />
	<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->
<ers:partial file="tag_conversion.htm" />
</body>
</html>
