<table>
	<tr>
		<th class="sname"><ers:label code="sname" /></th>
		<th class="scode"><ers:label code="product_code" /></th>
		<th class="price"><ers:message code='partial_number' /></th>
		<th class="price"><ers:label code="unit_price" /></th>
	</tr>
	<ers:table src="partialModel.basketItems" name="basketItems" record_key="record_key" variable="item">
	<tr>
		<td><%=item.sname%></td>
		<td><%=item.scode%></td>
		<td><%=item.amount%><ers:label code="common_count" /></td>
		<td><%=item.price%><ers:label code="common_yen" /></td>
	</tr>
	</ers:table>
</table>
<table class="total">
	<tr>
		<th><ers:message code='partial_total_prod' /></th>
		<td><ers:formatCurrency src=".Model.order.subtotal" /></td>
	</tr>

    <ers:isNotEqual src=".Model.order.etc" value="0">
	<tr>
		<th><%=.Model.w_etc%></th>
		<td><ers:formatCurrency src=".Model.order.etc" /></td>
	</tr>
    </ers:isNotEqual>

    <ers:isNotEqual src=".Model.order.carriage" value="0">
	<tr>
		<th><ers:message code='partial_orderkingaku_postage' /></th>
		<td><ers:formatCurrency src=".Model.order.carriage" /></td>
	</tr>
    </ers:isNotEqual>

    <ers:isNotEqual src=".Model.order.tax" value="0">
	<tr>
		<th><ers:label code='regular_tax' /></th>
		<td><ers:formatCurrency src=".Model.order.tax" /></td>
	</tr>
    </ers:isNotEqual>

	<ers:isEqual src=".Model.coupon_flg" value="true">
	<tr>
		<th><ers:label code='coupon_discount' /></th>
		<td><ers:formatCurrency src=".Model.order.coupon_discount" /></td>
	</tr>
	</ers:isEqual>
	<tr>
		<th><ers:label code='ordinary_total' /></th>
		<td><ers:formatCurrency src=".Model.order.total" /></td>
	</tr>
</table>
