	<h3><ers:message code='partial.orderheader.Title' /></h3><br>
　　　　<p><ers:message code='partial.orderheader.Note' /></p>
	<div class="m-table_box">
		<dl class="clearfix">
			<dt><ers:label code='orderno' /></dt>
			<dd><%=.Model.d_no%></dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:message code='partial_order_date' /></dt>
			<dd><ers:formatDate src=".Model.indate" value="yyyy年M月d日" /></dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:message code='partial_delv_status' /></dt>
			<dd>
            <ers:message src=".Model.w_order_status2"/>
                <ers:isNotEqual src=".Model.sendno" value="">
                    <br /><%=.Model.delivery%>
                    <br /><ers:message code='partial_inq_url' /><%=.Model.url %><span>
                </ers:isNotEqual>
                <ers:foreach src=".Model.sendnos" variable="record"> 
                     <br /><ers:message code='partial_inq_no' /><%=record.sendno%></span>
                </ers:foreach>
            </dd>

		</dl>

		<dl class="clearfix">
			<dt><ers:message code='partial_destination' /></dt>
			<dd>
                〒<%=.Model.zip%><br/ ><%=.Model.w_pref%>&nbsp;<%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%><br /><%=.Model.lname%>&nbsp;<%=.Model.fname%>
            </dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:message code='partial_contact_info' /></dt>
			<dd><%=.Model.tel%></dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:label code='senddate' /></dt>
			<dd><ers:formatDate src=".Model.senddate" value="yyyy年M月d日" /><%=.Model.w_senddate_no_select%></dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:message code='partial_desired_delv_time' /></dt>
			<dd><%=.Model.w_sendtime%></dd>
		</dl>
		<dl class="clearfix">
			<dt><ers:label code='pay' /></dt>
			<dd><%=.Model.w_pay%></dd>
		</dl>

        <ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
            <dl class="clearfix">
                <dt><label><ers:label code='conv_code' /></label></dt>
                <dd><%=.Model.w_conv_code%></dd>
            </dl>
        </ers:isEqual>

        <dl class="clearfix">
            <dt><ers:label code='wrap' /></dt>
            <dd><ers:message src=".Model.w_wrap"/></dd>
        </dl>

        <dl class="clearfix">
            <dt><ers:message code='partial_wrap_message' /></dt>
            <dd><ers:multiLine src=".Model.memo2" /></dd>
        </dl>

		<dl class="clearfix">
			<dt><ers:message code='partial_shop_contact_info' /></dt>
			<dd><ers:multiLine src=".Model.usr_memo" /></dd>
		</dl>

        <ers:isEqual src=".Model.order_status" value="30"> 
            <ers:isNotEqual src=".Model.delivery" value=""> 
				<dl class="clearfix">
					<dt><ers:message code='partial_delv_comp_inq' /></dt>
					<dd>
                        <%=.Model.delivery%><br />
                <ers:isNotEqual src=".Model.url" value="">
						<ers:message code='partial.orderheader.ChkOrderStatus' /><br />
					    ※<a href="<%=.Model.url%>" target="_blank"><%=.Model.url%></a>
                </ers:isNotEqual>
					</dd>
				</dl>
            </ers:isNotEqual>
        </ers:isEqual>
</div>
