﻿		<div class="m-table_total">
			<table>
				<tr>
					<th><ers:label code='amounttotal'/></th>
					<td class="__c_items"><ers:formatNumber src=".CartModel.amounttotal_all_item"/><ers:label code='common_item' /></td>
				</tr>
				<tr>
					<th><ers:label code='regular_subtotal'/></th>
					<td class="__c_order_subtotal"><ers:formatCurrency src=".Model.order_subtotal"/></td>
				</tr>
                <ers:isEqual src=".Model.enable_carriage_tax" value="0">
                    <tr>
                        <th><ers:message code='partial_orderkingaku_postage' /></th>
                        <td><ers:formatCurrency src=".Model.disp_carriage" /></td>
                    </tr>
                </ers:isEqual>
                <tr>
                    <th><ers:message code='partial_orderkingaku_postage' /></th>
                    <td class="__c_disp_carriage"><ers:formatCurrency src=".Model.disp_carriage" /></td>
                </tr>
                <ers:isNotEqual src=".Model.p_service" value="0">
                    <tr>
                        <th><ers:message code='partial_orderkingaku_avail_pt' /></th>
                        <td>-<ers:formatCurrency src=".Model.p_service" /></td>
                    </tr>
                </ers:isNotEqual>
                <ers:isNotEqual src=".Model.etc" value="0">
                    <tr>
                        <th><%=.Model.w_etc%></th>
                        <td class="__c_w_etc"><ers:formatCurrency src=".Model.etc" /></td>
                    </tr>
                </ers:isNotEqual>
                <ers:isNotEqual src=".Model.coupon_discount" value="0">
                    <tr>
                        <th><ers:message code='partial_orderkingaku_coup_discount' /></th>
                        <td>-<ers:formatCurrency src=".Model.coupon_discount" /></td>
                    </tr>
                </ers:isNotEqual>
                <ers:isNotEqual src=".Model.order_tax" value="0">
                    <tr>
                        <th><ers:label code='regular_tax' /></th>
                        <td><ers:formatCurrency src=".Model.order_tax" /></td>
                    </tr>
                </ers:isNotEqual>
                <tr>
                    <th><ers:label code='regular_total' /></th>
                    <td><strong><span class="__c_order_total"><ers:formatCurrency src=".Model.order_total" /></span></strong></td>
                </tr>
</table>
			<p><ers:message code='partial.orderkingaku_register.DelBillNotice'/></p>
		</div>
