﻿		<div class="m-table_total">
			<table class="g-imp_no-tborder">
				<tr>
					<th><ers:label code='amounttotal'/></th>
					<td><ers:formatNumber src=".Model.amounttotal"/><ers:label code='common_item' /></td>
				</tr>
				<tr>
					<th><ers:label code='regular_subtotal'/></th>
					<td><ers:formatCurrency src=".Model.subtotal"/></td>
				</tr>

				<tr>
					<th><ers:message code='partial_orderkingaku_postage'/></th>
					<td><ers:formatCurrency src=".Model.carriage"/></td>
				</tr>
<ers:isNotEqual src=".Model.etc" value="0"> 
				<tr>
					<th><%=.Model.w_etc%></th>
					<td><ers:formatCurrency src=".Model.etc"/></td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.p_service" value="0"> 
				<tr>
					<th><ers:message code='partial_orderkingaku_avail_pt'/></th>
					<td>-<ers:formatCurrency src=".Model.p_service"/></td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.coupon_discount" value="0"> 
				<tr>
					<th><ers:message code='partial_orderkingaku_coup_discount'/></th>
					<td>-<ers:formatCurrency src=".Model.coupon_discount"/></td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.tax" value="0"> 
				<tr>
					<th><ers:label code='regular_tax'/></th>
					<td><ers:formatCurrency src=".Model.tax"/></td>
				</tr>
</ers:isNotEqual>
				<tr>
					<th><ers:label code='regular_total'/></th>
					<td><strong><ers:formatCurrency src=".Model.total"/></strong></td>
				</tr>
			</table>
		</div>
