<ers:foreach variable="dtl" src=".Model.list" roopcounter="item_cnt">
    <div class="m-bill_wrapper">
        <table class="m-wide_type_common" />
        <tr>
            <th colspan="3" class="order_date"><ers:message code='partial_order_date' />: <ers:formatDate src="dtl.intime" value="yyyy年M月d日" /></th>
        </tr>
        <tr>
            <td class="order_number"><ers:label code='orderno' />:<br class="order_br" /> <%=dtl.d_no%><br class="order_br" /></td>
            <td><ers:message code='partial_amount' />:<br class="order_br" /> <ers:formatCurrency src="dtl.total" /><br class="order_br" /></td>
            <td><ers:message code='partial_order_details' />:<br class="order_br" /> <ers:message src="dtl.w_order_status2" /><br class="order_br" /></td>
        </tr>
        <tr>
            <td colspan="2" class="sname">
                <ers:foreach src="dtl.sname_list" variable="iresult" roopcounter="i">
                    <a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=iresult.scode%>" target="_blank"><%=iresult.sname%></a>
                    <%=iresult.attribute1%><ers:isNotEqual src="iresult.attribute2" value=""><ers:isNotEqual src="iresult.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=iresult.attribute2%>
                </ers:foreach>
            </td>
            <td class="order_button">
                <form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
                    <input type="submit" value="<ers:message code='partial_common_detail' />" class="m-btn m-gray_btn" />

                    <input type="hidden" name="k_flg" value="<%=.k_flg%>" />
                    <input type="hidden" name="d_no" value="<%=dtl.d_no%>" />
                </form>
            </td>
        </tr>
        <tr>
            <th colspan="3" class="order_button-02">
                <form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
                    <input type="submit" value="<ers:message code='partial_common_detail' />" class="m-btn m-gray_btn" />

                    <input type="hidden" name="k_flg" value="<%=.k_flg%>" />
                    <input type="hidden" name="d_no" value="<%=dtl.d_no%>" />
                </form>
            </th>
        </tr>
        </table>
    </div>
</ers:foreach>

