<div class="m-ERS_page_send clearfix">
    <ul>
        <ers:isEqual src="partialModel.PagePrevFlg" value="true">
            <li class="return">
                <form method="post" action="<%=.nor_url%>top/Employee/asp/emp_home.asp" name="pagesend_prev">
                    <p><input type="image" src="<%=.nor_url%>css/images/glyphicons/png/glyphicons-225-chevron-left.png" value="<ers:message code='partial_previous' />" class="change" /></p>
                    <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
                </form>
            </li>
        </ers:isEqual>

        <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
            <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <li>
                    <form method="post" action="<%=.nor_url%>top/Employee/asp/emp_home.asp" name="pagesend_cnt<%=navi.pagecnt%>">
                        <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                        <p><input value="<%=navi.pagecnt%>" class="place" type="button" /></p>
                    </form>
                </li>
            </ers:isEqual>
            <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <li>
                    <form method="post" action="<%=.nor_url%>top/Employee/asp/emp_home.asp" name="pagesend_cnt<%=navi.pagecnt%>">
                        <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                        <p><input value="<%=navi.pagecnt%>" class="change" type="submit"></p>
                    </form>
                </li>
            </ers:isNotEqual>
        </ers:foreach>

        <ers:isEqual src="partialModel.PageNextFlg" value="true">
            <li class="enter">
                <form method="post" action="<%=.nor_url%>top/Employee/asp/emp_home.asp" name="pagesend_next">
                    <p><input type="image" src="<%=.nor_url%>css/images/glyphicons/png/glyphicons-224-chevron-right.png" value="<ers:message code='partial_next' />" class="change" /></p>
                    <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />
                </form>
            </li>
        </ers:isEqual>
    </ul>
</div>
