﻿

<div class="ERS_page_send">

    <div id="divPager">
        <form method="post" action="<%=partialModel.current_filename%>">

            <input type="hidden" id="pageCnt" name="pageCnt" value="<%=partialModel.pagecnt%>" />

            <ers:isEqual src="partialModel.PagePrevFlg" value="true">
                <input type="hidden" name="pageCnt" id="prev" value="<%=partialModel.backCnt%>" />
                <input type="submit" name="btnPagePrev" value="Previous" class="back" />


            </ers:isEqual>

            <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
                <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                    <input value="<%=navi.pagecnt%>" class="place" type="button" name="btnPager">
                </ers:isEqual>

                <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                    <input value="<%=navi.pagecnt%>" type="submit" name="btnPager">
                </ers:isNotEqual>
            </ers:foreach>

            <ers:isEqual src="partialModel.PageNextFlg" value="true">
                <input type="submit" name="btnPageNext" value="Next" class="next" />
                <input type="hidden" name="pageCnt" id="next" value="<%=partialModel.nextCnt%>" />
            </ers:isEqual>
        </form>
    </div>
</div>

<script>



    $("input[name=btnPager]").click(function () {

        $("#pageCnt").val($(this).val());

    });


    $("input[name=btnPagerPrev]").click(function () {

        $("#pageCnt").val($("#prev").val());

    });

    $("input[name=btnPagerNext]").click(function () {

        $("#pageCnt").val($("#next").val());

    });

</script>

