<script type="text/javascript">
    $(document).ready(function () {
        var history_gcode = ErsLib.getPageInfo().objCookieList["history_gcode"];
        $(".js-ERS_view_history").load('<%=.dynamic_url%>top/detail/asp/viewHistory.asp?history_gcode=' + history_gcode + '&ignore_gcode=<%=.Model.gcode%>');
    });
</script>

<section class="js-ERS_view_history ERS_view_history clearfix">
</section>