<div class="typeC clearfix">
    <div class="imgR">
        <div class="mb20">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" /></div>
        <div class="mb20">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name2 %>" /></div>
        <div class="mb20">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name3 %>" /></div>
        <div class="mb20">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name4 %>" /></div>
    </div>
    <div class="main_area">
        <p><ers:formatHtml src=".Model.body" /></p>
    </div>
    <div class="append_area">
        <p> <ers:formatHtml src=".Model.add_body" /></p>
    </div>

</div>

