<div class="typeD">
    <div class="img_area">
        <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" />
    </div>
    <div class="main_area">
        <p><ers:formatHtml src=".Model.body" /></p>
    </div>
    <div class="append_area">
        <p> <ers:formatHtml src=".Model.add_body" /></p>
    </div>
</div>

