<aside class="l-aside">
	<div class="side_search_box clearfix">
		<form action="<%=.nor_url%>top/search/asp/list.asp" method="post" group_name="none">
		<div class="m-left_keywordBox">
            <p><span><input type="text" class="s_left_keyword" name="s_keyword" autocomplete="off"></span><span><input type="image" name="search_submit-s" class="search_submit-s" src="<%=.dynamic_url%>images/btn_search.gif" value="<ers:label code='common_search' />"></span></p>
            <div class="js-left_suggest m-left_suggest" style="display:none;"></div>
        </div>
            
		</form>
		<p class="detail"><a href="<%=.nor_url%>top/search/asp/search.asp"><ers:message code='partial_common_adv_search' /></a></p>
	</div><!-- search_box -->
	<div class="side_cart">
		<h3><img src="<%=.dynamic_url%>images/sttl_cart.gif" alt=""></h3>
		<p><ers:message code='common.Current' />&nbsp;<strong class="amount"></strong>&nbsp;<ers:message code='common.CartItems' /><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code='partial_common_view_cart' /></a></p>
		<div>
			<p><span><ers:message code='common.TotalOrderAmt' /></span><strong class="price"><span>&nbsp;</span></strong></p>
		</div>
		<p class="carriageoff"><img src="<%=.dynamic_url%>images/bnr_carriageoff.gif" alt=""></p>
	</div><!-- side_cart -->

	<div class="login_form">
		<h3 class="welcome" style="display: none;"><ers:message code='common.WelcomeMsg' /></h3>
		<div>
			<h4><a href="<%=.sec_url%>top/member/asp/"><img class="__login" src="<%=.dynamic_url%>images/btn_login.jpg" alt="<ers:label code='common_login' />" /></a></h4>
			<ul>
				<li><a href="<%=.sec_url%>top/register/asp/member_entry.asp"><img src="<%=.dynamic_url%>images/navi_entry.png" alt="<ers:message code='static_new_member_regist' />" /></a></li>
				<li><a href="<%=.sec_url%>top/member/asp/passrim1.asp"><img src="<%=.dynamic_url%>images/navi_pass.png" alt="<ers:message code='member_passrim_forgotPassword' />" /></a></li>
			</ul>
		</div>
		<p class="mypage" style="display: none"><a href="<%=.sec_url%>top/member/asp/"><img src="<%=.dynamic_url%>images/btn_mypage.jpg" alt="<ers:message code='member_my_page'>"></a></p>
		<p class="logout" style="display: none"><a href="<%=.sec_url%>top/member/asp/logout.asp"><img src="<%=.dynamic_url%>images/btn_logout.jpg" alt="<ers:message code='Out_log'>"></a></p>
	</div><!-- login_form -->

	<div class="bnr">
		<ul class="clearfix">
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_send.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=U3257&"><img src="<%=.dynamic_url%>images/bnr_try.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>teiki.html"><img src="<%=.dynamic_url%>images/bnr_teiki.gif" alt=""></a></li>
			<li><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/bnr_ers.gif" alt=""></a></li>
		</ul>
	</div>

	<!-- view history start -->
		<ers:partial file="view_history.htm" />
	<!-- view history end -->

</aside><!-- aside end -->
