﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='login.login_change.PassChangeGuide'/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/login.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript">
    function changeUrl(url) {
        var dform = $("#entform");
        dform.attr("action", url);
        dform.submit();
        return false;
    }
</script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<div id="ERS_header" class="clearfix">
	<h1><img src="<%=.sec_url%>images/header.png" alt="ERS&nbsp;V6" /></h1>

</div>
<!-- header end -->

<!-- g_navi start -->
	<div id="ERS_g_navi">
	</div>
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code='login.login.Javascript'/></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form name="entform" method="post" action="passchangeaction.asp" id="entform">

<!-- title start -->
		<div id="ERS_title">
			<h2><ers:message code='login.login_change.PassChangeGuide'/></h2>
		</div>
<!-- title end -->

<!-- box start -->
		<div class="ERS_box">
			<p><ers:message code='login.login_change.PassChangeDirection'/></p>
		</div>
<!-- box end -->

<!-- next start-->
		<div class="ERS_next">
			<p>
				<input type="submit" value="<ers:message code='continue_btn'/>" />
				<input type="button" value="<ers:label code='common_change'/>" onclick="changeUrl('pass_change.asp')" />
			</p>
		</div>
<!-- next end-->

<br class="release_b" />
	</form>

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

</body>
</html>
