﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='login.login.Login'/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/login.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
	<div id="ERS_header" class="clearfix">

		<h1><img src="<%=.sec_url%>images/header.png" alt="ERS&nbsp;V7" /></h1>
		<p><img src="<%=.sec_url%>images/logo.png" alt=""  /></p>
	</div>
<!-- header end -->

<!-- container start -->
	<div id="ERS_container">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code='login.login.Javascript'/></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form name="form1" method="post" action="loginaction.asp" id="">

<!-- title start -->
		<div id="ERS_title">
			<h2 class="icon-lock"><ers:message code='login.login.Login'/></h2>
		</div>
<!-- title end -->
<!-- table start -->
		<div class="ERS_table">

    <ers:dispError /><ers:dispInfo />

			<table class="length">
				<tr>
					<th>ID</th>
					<td>
						<input name="user_login_id" type="text" id="user_login_id" class="w_200" />
					</td>

				</tr>
				<tr>
					<th>PASS</th>
					<td>
						<input name="passwd" type="password" id="passwd" class="w_200" />
					</td>
				</tr>
			</table>

			</div>
<!-- table end -->

<!-- next start-->
		<div class="ERS_next">
			<p class="center" id="P1">
				<span><input class="button large radius primary-dark" type="submit" name="" value="<ers:message code='login_btn'/>" /></span>
			</p>
		</div>
<!-- next end-->

<br class="release_b" />

</form>

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->


</body>
</html>
