﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="refresh" content="0; url=<%=.sec_url%>">
<title><ers:message code='login.login.Login'/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/redirect.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->

</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
	<div id="ERS_header" class="clearfix">

		<h1><img src="<%=.sec_url%>images/header.png" alt="ERS&nbsp;V6" /></h1>
		<p></p>
	</div>
<!-- header end -->

<!-- g_navi start -->
	<div id="ERS_g_navi">
	</div>
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="login.login.Javascript"/></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form name="" method="post" action="loginaction.asp" id="">

<!-- title start -->
		<div id="ERS_title">
			<h2 class="icon-lock"><ers:message code='login.login.Login'/></h2>
		</div>
<!-- title end -->

<!-- table start -->
		<div class="ERS_table">

		</div>

<!-- table end -->

	<div id="ERS_redirect">
		<p><img src="<%=.sec_url%>images/loading.gif"></p>
		<p><a href="<%=.sec_url%>"><ers:message code='login.loginaction.SwitchPage'/></a></p>
	</div>


<br class="release_b" />

</form>

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->


</body>
</html>
