﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code='login.pass_change.Title'/> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/login.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<div id="ERS_header" class="clearfix">
	<h1><img src="<%=.sec_url%>images/header.png" alt="ERS&nbsp;V6" /></h1>

</div>
<!-- header end -->

<!-- g_navi start -->
	<div id="ERS_g_navi">
	</div>
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code='login.login.Javascript'/></p>
		</div>
	</noscript>
<!-- noscript end -->

	<form name="changepass_form" enctype="multipart/form-data" method="post" action="passchangeaction.asp" id="">

<!-- title start -->
		<div id="ERS_title">

			<h2><ers:message code='login.pass_change.Title'/></h2>
		</div>
<!-- title end -->
<!-- table start -->
		<div class="ERS_table">


<ers:dispError /><ers:dispInfo />

			<table class="length">
				<tr>
					<th><ers:message code='login_pass_change_new_pass'/></th>
					<td>
							<input name="passwd" type="password" id="" class="w_200" value="" />
					</td>
				</tr>
				<tr>

					<th><ers:message code='login_pass_change_new_pass_confirm'/></th>
					<td>
					    <ers:message code='login.pass_change.NewPassConfirm'/><br />
					    <input name="passwd_confirm" type="password" id="" class="w_200" value="" />
					</td>
				</tr>
			</table>
		</div>
<!-- table end -->

<!-- next start-->
		<div class="ERS_next">
			<p class="center">
                <a href="<%=.sec_url%>" id="btn_topPage"><ers:message code='login_pass_change_return_top_page'/></a>
				<a href="changepass_form" class="disp_dialog001">
					<input type="button" value="<ers:label code='common_change'/>"  id="btn_changes"/>
                </a>
			</p>
            <div id="dialog001" title="<ers:message code='login.pass_change.PassConfirmMsgBox.Title'/>">
			<p><ers:message code='common.RegisterConfirm'/></p>
		</div>
		</div>
<!-- next end-->

<br class="release_b" />
	</form>

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

</body>
</html>
