﻿
<script type="text/javascript" src="<%=.sec_url%>js/entry.js"></script>
<script type="text/javascript">
var loadComplete = false;
//カード変更時の処理
function selectCardChange(select_value){
		var formObj = document.entry_form;
		if (select_value == 9999){
            document.getElementById("card_modify").style.display = "block";
            document.getElementById("card_disp").style.display = "none";
        }else if(select_value == ""){
            if(!loadComplete){
                loadComplete = true;
                card_table_disp();
            }
            else{
                document.getElementById("card_modify").style.display = "none";
                document.getElementById("card_disp").style.display = "none"; 
                document.getElementById("disp_card_type").innerHTML = '';
                document.getElementById("disp_cardno").innerHTML = '';
                document.getElementById("disp_validity_y").innerHTML = '';
                document.getElementById("disp_validity_m").innerHTML = '';            
            }
		}
        
<ers:foreach variable="option" src=".Model.membercardListExtend">
        else if (select_value == <%=option.card_id%>){
                document.getElementById("conv_list").style.display = "none";
                document.getElementById("card_modify").style.display = "none";
                document.getElementById("card_disp").style.display = "block"; 
                document.getElementById("disp_card_type_id").value = '<%=option.card_type%>';
                document.getElementById("disp_card_type").innerHTML = '<%=option.card_name%>';
                document.getElementById("disp_cardno").innerHTML = '<%=option.card_no%>';
                document.getElementById("disp_validity_y").innerHTML = '<%=option.validity_y%>';
                document.getElementById("disp_validity_m").innerHTML = '<%=option.validity_m%>';
            }
</ers:foreach>
}

//初期起動時の非表示設定
function card_table_disp(){
    var pay1_sel = document.getElementById("pay1").checked;
    if(pay1_sel == false){
        document.getElementById("card_list").style.display = "none";
        document.getElementById("card_disp").style.display = "none";
        if (jQuery('#card_modify').size() > 0){
            document.getElementById("card_modify").style.display = "none";
        }
    }else{
        <ers:isEqual src=".Model.page2" value="true">
            var sel = document.getElementById("card_id");
            var opt = document.getElementById("card_id").options;
            var index_num = opt.item(sel.selectedIndex).value;
            document.getElementById("card_list").style.display = "block";
            if(index_num == ""){
                document.getElementById("card_disp").style.display = "none";
                document.getElementById("card_modify").style.display = "none";
            }else if (index_num == 9999){
                document.getElementById("card_disp").style.display = "none";
                document.getElementById("card_modify").style.display = "block";
            }else{
                document.getElementById("card_disp").style.display = "block";
                document.getElementById("card_modify").style.display = "none";
            }
        </ers:isEqual>

        <ers:isEqual src=".Model.page3" value="true">
            document.getElementById("card_list").style.display = "none";
            document.getElementById("card_disp").style.display = "block";
            if (jQuery('#card_modify').size() > 0){
                document.getElementById("card_modify").style.display = "none";
            }
        </ers:isEqual>
    }
    if (jQuery('#pay5').size() > 0){
        var pay5_sel = document.getElementById("pay5").checked;
        if(pay5_sel == false){
            document.getElementById("conv_list").style.display = "none";
        } else {
            <ers:isEqual src=".Model.page2" value="true">
                document.getElementById("conv_list").style.display = "block";
            </ers:isEqual>

            <ers:isEqual src=".Model.page3" value="true">
                document.getElementById("conv_list").style.display = "block";
            </ers:isEqual>
        }
        
    } else {
        document.getElementById("conv_list").style.display = "none"; 
    }
}

    function deliv_select(value){
        if (value == 2){
            if ($('#pay4:checked').val() == 4){
                $('input:[name=pay]').attr('checked',false); 
            }
            $('#pay4').attr('disabled', 'disabled');
            $('#firstTime_2').attr('checked', false);
            $('#firstTime_2').attr('disabled', 'disabled');
            $('#firstTime_0').attr('checked', true);
            $('#senddate').val('');
            $('#senddate').attr('disabled', 'disabled');
            $('#sendtime').val('0');
            $('#sendtime').attr('disabled', 'disabled');
        }
        else
        {
            $('#pay4').removeAttr("disabled");
            $('#firstTime_2').removeAttr("disabled");
            $('#senddate').removeAttr("disabled");
            $('#sendtime').removeAttr("disabled");
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#card_cancel").hide();
        $("#card_update").hide();
        $("#card_edit").click(function () {
            document.getElementById("card_modify").style.display = "block";
            document.getElementById("card_disp").style.display = "none";
            $("#card_type").val($("#disp_card_type_id").val());
            $("#validity_y").val($('#disp_validity_y').text());
            $("#validity_m").val($('#disp_validity_m').text());
            $("#card_will_add").prop('checked', true);
            $("#card_cancel").show();
            $("#card_update").show();
            $("#card_card_index_rec_card_info").hide();
        });
        $("#card_cancel").click(function () {
            document.getElementById("card_modify").style.display = "none";
            document.getElementById("card_disp").style.display = "none";
            $("#card_type").val('');
            $("#validity_y").val('');
            $("#validity_m").val('');
            $("#cardno").val('');
            $("#card_will_add").prop('checked', false);
            $("#card_cancel").hide();
            $("#card_update").hide();
            $("#card_card_index_rec_card_info").show();
            $("#card_id").val('');
        });

        <ers:isEqual src=".Model.page3" value="true">
	        document.getElementById("card_list").style.display = "none";
 
	        document.getElementById("card_disp").style.display = "none";
	        document.getElementById("conv_list").style.display = "none";
	            <ers:foreach variable="option" src=".Model.payList">
		        <ers:isNotEqual src="option.value" value="9">
			        <ers:isEqual src="option.value" variable=".Model.pay">
				        <ers:isEqual src="option.value" value="1">
					        document.getElementById("conv_list").style.display = "none";
					        document.getElementById("card_disp").style.display = "block";			
				        </ers:isEqual>
				        <ers:isEqual src="option.value" value="5">
					        document.getElementById("conv_list").style.display = "block";
					        document.getElementById("card_disp").style.display = "none";						
				        </ers:isEqual>
			        </ers:isEqual>
		        </ers:isNotEqual>
	            </ers:foreach>
        </ers:isEqual>
    });
</script>
<!--RegistOrder-->
<div class="RegistOrder">
    <h3><ers:message code="card.card_index.DeliveryMethod"/></h3>

    <div class="MemberDetail">
        <table class="Detail">
        <tr>
			<th> <ers:message code="card_card_index_del_method_select"/></th>
			<td style="width:400px; ">
                <ers:foreach variable="option" src=".Model.deliv_methodList">

                    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="3">
				    <ers:isEqual src=".Model.DisplayedDelvMethod" variable="option.value">
				        <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual> <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
					    <label for="deliv_method<%=option.value%>"><ers:message src="option.name"/></label>
				    </ers:isEqual>
                    </ers:isNotEqual>

                    <ers:isEqual src=".Model.DisplayedDelvMethod" value="3">
                    <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual> <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
					    <label for="deliv_method<%=option.value%>"><ers:message src="option.name"/></label>
                    </ers:isEqual>
                    &nbsp;&nbsp;
                </ers:foreach>
            </td>
        </tr>
        </table>
    </div>

    <ers:isEqual src=".Model.page3" value="true">
        <input type="hidden" name="deliv_method" value="<%=.Model.deliv_method%>" />
        <input type="hidden" name="pay" value="<%=.Model.pay%>" />
    </ers:isEqual>

    <!--For All Item has total of 0 price -->
    <ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
    <h3><ers:message code="card.card_index.PaymentMethod"/></h3>

        <div class="MemberDetail">
            <table class="Detail">
                <tr>
                    <th><ers:message code="card_card_index_pay_method_select" /></th>
                    <td style="width:400px; ">

                        <ers:foreach variable="option" src=".Model.payList">
                            <ers:isNotEqual src="option.value" value="9">
                                <ers:isEqual src="option.value" value="4">
                                    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="2">
                                        <input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual> />&nbsp;<label for="pay<%=option.value%>" onclick="showhideCard()"><%=option.name%></label><br />
                                    </ers:isNotEqual>
                                </ers:isEqual>

                                <ers:isNotEqual src="option.value" value="4">
                                    <input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> <ers:isEqual src=".Model.page3" value="true"> disabled="disabled" </ers:isEqual> />&nbsp;<label for="pay<%=option.value%>" onclick="showhideCard()"><%=option.name%></label><br />
                                </ers:isNotEqual>
                            </ers:isNotEqual>

                            <ers:IsEqual src=".Model.mall_shop_kbn" value="ERS">
                                <script type="text/javascript">
                                    $("#pay<%=option.value%>").click(function () {
                                        var paymethod = $("#pay<%=option.value%>").val();
                                        var params = $("#entry_form").serialize();
                                        if (<%=option.value%> == 1)
                                        {
                                            document.getElementById("card_list").style.display = "block";
                                        }
                                        else if(<%=option.value%> != 1)
                                        {
                                            document.getElementById("card_list").style.display = "none";
                                            document.getElementById("card_disp").style.display = "none";
                                            document.getElementById("card_modify").style.display = "none";
                                        }
                                        if (<%=option.value%> == 5)
                                        {
                                            document.getElementById("conv_list").style.display = "block";
                                        }
                                        else if(<%=option.value%> != 5)
                                        {
                                            document.getElementById("conv_list").style.display = "none";
                                        }
                                    });
                                </script>
                            </ers:IsEqual>

                        </ers:foreach>

                    </td>
                </tr>
            </table>
            <br />

            <!--card_list start-->
            <div id="card_list" display="none">
                <table class="Detail" id="CardPayment">

                    <ers:isEqual src=".Model.last_used_card_flg" value="true">
                        <tr>
                            <th><ers:message code="card_card_index_last_credit_card" /></th>
                            <td>
                                <input type="checkbox" name="last_used_card_info" value="1" <ers:isEqual src=".Model.last_used_card_info" value="1">checked="checked"</ers:isEqual>/><ers:message code="card_card_index_use" /><br />
                                <ers:message code="card.card_index.CreditCardDirection" />
                            </td>
                        </tr>
                    </ers:isEqual>

                    <tr>
                        <th><ers:message code="card_card_index_credit_card_select" /></th>
                        <td style="width:400px;">
                            <ers:isEqual src=".Model.page2" value="true">
                                <select id="card_id" style="width:400px; " name="card_id">
                                    <option value=""></option>
                                    <ers:foreach variable="option" src=".Model.membercardList">
                                        <option value="<%=option.card_id%>"<ers:isEqual src="option.card_id" variable=".Model.card_id"> selected="selected"</ers:isEqual>>
                                <%=option.card_holder_name %> (<%=option.card_name %> <%=option.card_no%>)
                            </option>
                                    </ers:foreach>
                                    <ers:isEqual src=".Model.newEntryFlg" value="true">
                                        <option value="9999" <ers:isEqual src=".Model.card_id" value="9999">selected="selected"</ers:isEqual>>=== New Credit Card ===</option>
                                    </ers:isEqual>
                                </select>
                                <br />
                            </ers:isEqual>
                        </td>
                    </tr>
                </table>
                <br />


            </div>
            <!--card_list end-->

            <ers:IsEqual src=".Model.mall_shop_kbn" value="ERS">
                <!--conv_list start-->
                <div id="conv_list" display="none">
                    <ers:isEqual src=".Model.page3" value="true">
                        <input type="hidden" name="conv_code" value="<%=.Model.conv_code%>" />
                    </ers:isEqual>
                    <ers:isEqual src=".Model.pay" value="1">
                        <table class="Detail __conv_code_a" id="ConvPayment" style="display:none">
                            <tr>
                                <th><ers:label code="conv_code"></th>
                                <td style="width:400px;">
                                    <select id="conv_code" style="width:400px; " name="conv_code" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled">
                    </ers:isEqual>
                    <option value=""><ers:label code="common_please_select"></option>
                    <ers:foreach variable="option" src=".Model.convenienceList">
                        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
                    </ers:foreach>
                    </select>
                    <br />
                    </td>
                    </tr>

                    </table>

            </ers:IsEqual>

            <ers:isNotEqual src=".Model.pay" value="1">
                <table class="Detail __conv_code_a" id="ConvPayment">
                    <tr>
                        <th><ers:label code="conv_code"></th>
                        <td style="width:400px;">
                            <select id="conv_code" style="width:400px; " name="conv_code" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled">
            </ers:isNotEqual>
            <option value=""><ers:label code="common_please_select"></option>
            <ers:foreach variable="option" src=".Model.convenienceList">
                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
            </ers:foreach>
            </select>
            <br />
            </td>
            </tr>

            </table>

            </ers:IsEqual>
            <br />


        </div>
<!--card_list end-->

<ers:isEqual src=".Model.page2" value="true">
<!--card_modify start-->
        <div id="card_modify" display="none">
            <table class="Detail">
<!--		        <tr>
			        <th>カード名義（半角英数）</th>
			        <td style="width:400px;">
                        <input type="text" class="w_150" id="card_holder_name" name="card_holder_name" value="<%=.Model.card_holder_name%>" />
                    </td>
		        </tr>
-->		        <tr>
			        <th><ers:label code="card"></th>
			        <td style="width:400px;">
				        <select id="card_type" name="card_type">
                            <option value=""></option>
                            <ers:foreach variable="option" src=".Model.cardList">
					            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
				        </select>
			        </td>
		        </tr>
		        <tr>
			        <th><ers:message code="card_card_index_card_no"/></th>
			        <td>
				        <input type="text" class="w_150" id ="cardno" name="cardno" maxlength="16" value="<%=.Model.cardno%>" />
			        </td>
		        </tr>
		        <tr>
			        <th><ers:message code="card_card_index_exp_date_byte"/></th>
			        <td>
				        <select id="validity_y" name="validity_y">
                            <ers:foreach variable="option" src=".Model.card_yList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.validity_y"> selected="selected"</ers:isEqual>><%=option.value%></option>
                            </ers:foreach>
				        </select>
                        &nbsp;<ers:label code="common_year">&nbsp;
				        <select id="validity_m" name="validity_m">
                            <ers:foreach variable="option" src=".Model.card_mList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.validity_m"> selected="selected"</ers:isEqual>><%=option.value%></option>
                            </ers:foreach>
				        </select>
                        &nbsp;<ers:label code="common_month">&nbsp;
			        </td>
		        </tr>
        <!--
		        <tr>
			        <th>セキュリティ№</th>
			        <td>
                        <input type="text" class="w_150" id="securityno" name="securityno" maxlength="4" value="<%=.Model.securityno%>" />
                    </td>
		        </tr>
        -->
                <tr id="card_card_index_rec_card_info" name="card_card_index_rec_card_info">
			        <th><ers:message code="card_card_index_rec_card_info"/></th>
			        <td>
                        <input type="checkbox" id="card_will_add" name="card_will_add" value="True" <ers:isEqual src=".Model.card_will_add" value="True">checked="checked"</ers:isEqual> /><ers:message code="card.card_modify.Direction"/>
                    </td>
		        </tr>
	        </table>
            <input type="submit" class="form_btn" name="card_update" id="card_update"  value="<ers:label code='common_edit' />" />
            <input type="button" class="form_btn" name="card_cancel" id="card_cancel" value="<ers:label code='common_cancel'>"  />
        </div>
<!--card_modify end-->
</ers:isEqual>

<!--card_disp start-->
        <div id="card_disp" display="none">
            <table class="Detail">
<!--		        <tr>
			        <th>カード名義</th>
			        <td style="width:400px;">
                        <span id="disp_card_holder_name"><%=.Model.disp_card_holder_name%></span>
                    </td>
		        </tr>
-->		        <tr>
			        <th><ers:label code="card"></th>
			        <td style="width:400px;">
                        <input type="hidden" id="disp_card_type_id" name="disp_card_type_id" value="<%=.Model.disp_card_type_id%>"/>
                        <span id="disp_card_type"><%=.Model.w_card_type%></span>
			        </td>
		        </tr>
		        <tr>
			        <th><ers:label code="cardno"></th>
			        <td>
                        <span id="disp_cardno"><%=.Model.disp_cardno%></span>
			        </td>
		        </tr>
		        <tr>
			        <th><ers:message code="card_card_index_exp_date"/></th>
			        <td>
                        <span id="disp_validity_y"><%=.Model.disp_validity_y%></span>&nbsp;<ers:label code="common_year">
                        &nbsp;<span id="disp_validity_m"><%=.Model.disp_validity_m%></span>&nbsp;<ers:label code="common_month"><br />
                    </td>
		        </tr>
        <!--
		        <tr>
			        <th>セキュリティ№</th>
			        <td>
                        <%=.Model.disp_securityno%>
                    </td>
		        </tr>
        -->
<!--
                <tr>
			        <th>カード情報の記録</th>
			        <td>
                        <ers:isEqual src=".Model.card_will_add" value="True" >記録する</ers:isEqual>
                        <ers:isEqual src=".Model.card_will_add" value="False" >記録しない</ers:isEqual>
                    </td>
		        </tr>
-->
	        </table>
            <ers:isEqual src=".Model.page2" value="True" >
            <div style="text-align:right"><input type="button" name="card_modify" id="card_edit" value="<ers:label code='common_edit' />" /><input type="submit" name="card_delete" value="<ers:label code='common_delete' />" /></div>
            </ers:isEqual>

            <ers:isEqual src=".Model.page3" value="True">
                <table class="Detail">
                    <tr>
                        <th><ers:message code="card_card_index_card_info" /></th>
                        <td style="width:400px;">
                            <ers:isNotEqual src=".Model.card_will_add" value="True"><span id="Span1" style="display: none"><ers:message code="card.card_index.CreditCardDirection2" /></span></ers:isNotEqual>
                            <ers:isEqual src=".Model.card_will_add" value="True"><span id="Span1"><ers:message code="card.card_index.CreditCardDirection2" /></span></ers:isEqual>
                        </td>
                    </tr>
                </table>
            </ers:isEqual>

        </div>
</ers:isEqual>
<!--card_disp end-->
<ers:isEqual src=".Model.page3" value="True" >
<ers:isEqual src=".Model.pay" value="1" >
    <input type="hidden" name="card_id" value="<%=.Model.card_id%>" />
<ers:isEqual src=".Model.card_id" value="9999" >
<!--新規-->
    <input type="hidden" name="card_holder_name" value="<%=.Model.card_holder_name%>" />
    <input type="hidden" name="card_type" value="<%=.Model.card_type%>" />
    <input type="hidden" name="cardno" value="<%=.Model.cardno%>" />
    <input type="hidden" name="validity_y" value="<%=.Model.validity_y%>" />
    <input type="hidden" name="validity_m" value="<%=.Model.validity_m%>" />
    <input type="hidden" name="card_will_add" value="<%=.Model.card_will_add%>" />
</ers:isEqual>
</ers:isEqual>
</ers:isEqual>


    </div>

    </ers:isNotEqual>
</div>
