﻿@charset "UTF-8";

#suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 1px solid #CCCCFF;
  font-size: 100%;
  width: 72%;
  z-index: 99;
  left: 0%;
  div {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    &.select {
      /* キー上下で選択した場合のスタイル */
      color: #FFFFFF;
      background-color: #3366FF;
    }
    &.over {
      /* マウスオーバ時のスタイル */
      background-color: #99CCFF;
    }
  }
}

#left_suggest {
  position: absolute;
  background-color: #FFFFFF;
  border: 2px solid #CCCCFF;
  font-size: 119%;
  width: 260px;
  div {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    &.select {
      /* キー上下で選択した場合のスタイル */
      color: #FFFFFF;
      background-color: #3366FF;
    }
    &.over {
      /* マウスオーバ時のスタイル */
      background-color: #99CCFF;
    }
  }
}