﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="promotion.coupon_csv.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="promotion.coupon_csv.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/promotion/asp/coupon_csv_confirm.asp" method="post" name="item_form" enctype="multipart/form-data">

<!-- table start -->
	<div class="ERS_table">
		<table class="length">
				<tr>
					<th><ers:message code="promotion.coupon_csv.Title"></th>
					<td>
						<input type="checkbox" checked="checked" name="chk_find" id="chk_find" value="1"><label for="chk_find"><ers:message code="promotion.coupon_csv.Direction"></label><br>
						<input type="file" id="csv_file" name="csv_file">
					</td>
				</tr>
		</table>
	</div>
<!-- table end-->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form" class="disp_dialog001"><input type="button" class="btn01" value="<ers:label code="common_send">" /></a>
		</p>
		<div id="dialog001" title="<ers:message code="promotion.coupon_regist.registermessagebox.Title">">
			<p><ers:message code="common.UploadFile"/></p>
		</div>
	</div>
<!-- next end-->

</form>

<ers:isEqual src=".enableMall" value="true">
<ers:foreach src=".Model.listMallList" variable="objMall">
 <form action="<%=.sec_url%>top/item/asp/mall_item_tsv_confirm.asp" method="post" name="item_form_<%=objMall.site_id %>" enctype="multipart/form-data">
 <input type="hidden" name="site_id" value="<%=objMall.site_id %>" />
 <input type="hidden" name="mall_shop_kbn" value="<%=objMall.mall_shop_kbn %>" />
<!-- table start -->
	<div class="ERS_table">
		<table class="length">
				<tr>
					<th><%=objMall.site_name %><ers:message code='promotion.coupon_csv.Title' /></th>
					<td>
						<input type="checkbox" checked="checked" name="chk_find" id="<%=objMall.site_id %>chk_find" value="1"><label for="<%=objMall.site_id %>chk_find"><ers:message code="warehouse.csv_upload.checkbox"></label><br>
						<input type="file" id="tsv_rakuten" name="tsv_<%=objMall.mall_shop_kbn %>">
					</td>
				</tr>
		</table>
	</div>
<!-- table end-->

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="item_form_<%=objMall.site_id %>" class="disp_dialog001"><input type="button" class="btn01" value="<ers:label code="common_send">" /></a>
		</p>
	</div>
<!-- next end-->

</form>
<!--rakuten store's end-->
</ers:foreach>
</ers:isEqual>


<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
