﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="promotion.coupon_list.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/coupon.css" type="text/css" title="base_layout" media="screen,print">
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print">
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>js/jquery-ui-1.8.13.custom.css" rel="stylesheet">
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body cz-shortcut-listen="true">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="promotion.coupon_list.Title" /></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="ERS_table">
	<table class="coupon">
		<thead>
			<tr>
				<th class="w_50"><ers:label code="common_edit" /></th>
				<th class="w_100"><ers:label code="coupon_code" /></th>
				<th class="w_120"><ers:label code="coupon_type" /></th>
				<th class="w_70"><ers:label code="coupon_t.price" /></th>
				<th class="w_80"><ers:label code="base_price" /></th>
				<th class="w_120"><ers:label code="start_date" /></th>
				<th class="w_120"><ers:label code="end_date" /></th>
				<th class="w_60"><ers:label code="coupon_t.active" /></th>
			</tr>
		</thead>
        <tbody>
            <ers:foreach variable="mList" src=".Model.list" roopcounter="list_cnt">
                    <tr> 
                    <td>
                        <form method="post" action="coupon_modify.asp">
                            <input type="hidden" name="id" value="<%=mList.id %>">
		                    <input class="btn01" type="submit" value="<ers:label code='common_edit' />" />
                         </form>
                     </td>
                     <td> <%=mList.coupon_code%></td>

                     <td> <ers:message src="mList._coupon_type"/></td>
                     <td> <%=mList.price%></td>
                     <td> <%=mList.base_price%></td>
                     <td> <%=mList.start_date%></td>
                     <td> <%=mList.end_date%></td>
                     <td> <ers:message src="mList._active"/></td>
                    </tr>
                </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->


<form action="" name="download_csv_all" id="download_csv_all">
<!--全伝票データダウンロード用form-->
</form>

<form action="" name="download_csv_page" id="download_csv_page">
<!--当ページ伝票データダウンロード用form-->
	<input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />  
</form>

<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<input type="button" class="form_btn" rel="download_csv_all$download_csv_all.asp" value="<ers:message code='promotion_coupon_list_downloadall' />" />
			<input type="button" class="form_btn" rel="download_csv_page$download_csv_page.asp" id="" name="" value="<ers:message code='promotion_coupon_list_downloadpage' />" />
		</p>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
		<form action="coupon_search.asp" name="back" id="form_bk1" method="post">
		    <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->
<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<br class="release_b" />

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
