﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="promotion.coupon_modify.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
<h2><ers:message code="promotion.coupon_modify.Title"></h2>	</div>
<!-- title end -->
<form action="coupon_modify_delete.asp" id="coupon_delete" name="coupon_delete" method="post">
    <input type="hidden" id="buttonDelete" name="buttonDelete" value="1" />
</form>

<form action="coupon_modify_complete.asp" id="" name="coupon_complete" method="post">
<!-- table start -->

	<div class="ERS_table">
		         <div style="margin:5,5,5,5">
                    <section>
                            <ers:dispError /><ers:dispInfo />
                    </section>
                </div>
        <table id="" class="length">
			<tr>
				<th><ers:message code="promotion.coupon_modify.dateregistered"></th>
				<td><%=.Model.intime %></td>
			</tr>
			<tr>
				<th><ers:message code="common.DateModified"></th>
				<td><%=.Model.utime %></td>
			</tr>
			<tr>
				<th>※<ers:label code="coupon_code"></th>
				<td>
                    <input type="text" class="w_400" id="coupon_code" name="coupon_code" value="<%=.Model.coupon_code %>"/>
				</td>
			</tr>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_register_check.htm" />
            </ers:isEqual>
			<tr>
				<th>※<ers:label code="coupon_type"></th>
				<td>
					<select  name="coupon_type" id="coupon_type">
						<ers:foreach variable="option" src=".Model.typeCode" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.coupon_type"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="coupon_t.price"></th>
				<td>
                    <input type="text" class="w_60" id="price" name="price" value="<%=.Model.price %>"/>&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="base_price"></th>
				<td>
                    <input type="text" class="w_60" id="base_price" name="base_price" value="<%=.Model.base_price %>"/>&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="start_date"></th>
				<td>
                    <input type="text" name="start_date" id="start_date" class="datepicker_start w_150" value="<ers:formatDate src=".Model.start_date" value="yyyy/MM/dd HH:mm:ss" />"/>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="end_date"></th>
				<td>
                     <input type="text" name="end_date" id="end_date" class="datepicker_end w_150" value="<ers:formatDate src=".Model.end_date" value="yyyy/MM/dd HH:mm:ss" />"/>
				</td>
			</tr>
			<tr>
				<th>※<ers:label code="coupon_t.active"></th>
				<td>
					<select name="active"  id="active">
						<ers:foreach variable="option" src=".Model.typeActive" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.active"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
					</select>
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->
</form>


<!-- next start-->
	<div class="ERS_next">
		<p class="center">
			<a href="coupon_complete" class="disp_dialog001"><input type="button" value="<ers:label code="common_modify">" /></a>&nbsp;
			<a href="coupon_delete" class="disp_dialog002"><input class="primary" type="button" value="<ers:label code="common_delete">" /></a>
		</p>
		<div id="dialog001" title=<ers:message code="promotion.coupon_modify.modifymessagebox.Title">
			<p><ers:message code="campaign.modifymessagebox_content"></p>
		</div>
		<div id="dialog002" title=<ers:message code="promotion.coupon_modify.deletemessagebox.Title">
			<p><ers:message code="common.DeleteConfirm"/></p>
		</div>
	</div>
<!-- next end-->


<!-- back start-->
	<div class="ERS_back">
        <form action="<%=.sec_url%>top/promotion/asp/coupon_list.asp" method="post">
            <p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
        </form>
	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
