﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="promotion.coupon_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="promotion.coupon_search.Title"></h2>
	</div>
<!-- title end -->

<form action="coupon_list.asp" id="formSearch" name="formSearch" method="post">
<ers:dispError /><ers:dispInfo />
<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
			<tr>
				<th><ers:message code="camp_registration_period"></th>
				<td><input type="text" class="datepicker_start w_150" maxlength="19" id="s_intime_from" value="<%=.Model.s_intime_from%>" name="s_intime_from"/>&nbsp;
                ～&nbsp;<input type="text" class="datepicker_end w_150" id="s_intime_to" maxlength="19" value="<%=.Model.s_intime_to%>" name="s_intime_to"></td>
			</tr>
			<tr>
				<th><ers:label code="coupon_code"></th>
				<td><input type="text" class="w_400" id="" value="<%=.Model.s_coupon_code%>" name="s_coupon_code"/></td>
			</tr>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_search_check.htm" />
            </ers:isEqual>
			<tr>
				<th><ers:message code="promotion_coupon_type"></th>
				<td>
					<select  name="s_coupon_type" id="s_coupon_type" class="w_200">
						<option value="" selected="selected"></option>
						<ers:foreach variable="option" src=".Model.typeCode" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.s_coupon_type"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th><ers:label code="coupon_t.price"></th>
				<td>
                    <input type="text" class="w_60" id=""value="<%=.Model.s_price_from%>" name="s_price_from"/>&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                    ～&nbsp;<input type="text" class="w_60" id="" value="<%=.Model.s_price_to%>" name="s_price_to">&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
				</td>
			</tr>
			<tr>
				<th><ers:message code="promotion_coupon_min_usage_amt"></th>
				<td>
                    <input type="text" class="w_60" id=""  value="<%=.Model.s_base_price_from%>" name="s_base_price_from"/>&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
                    ～&nbsp;<input type="text" class="w_60" id="" value="<%=.Model.s_base_price_to%>" name="s_base_price_to">&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen">
				</td>
			</tr>
			<tr>
				<th><ers:message code="promotion_coupon_search_startdate"></th>
				<td>
                    <input type="text" id="" class="datepicker_start w_150" name="s_start_date_from" value="<%=.Model.s_start_date_from%>" />&nbsp;～&nbsp;
                    <input type="text" id="" class="datepicker_end w_150" name="s_start_date_to" value="<%=.Model.s_start_date_to%>" />
				</td>
			</tr>
			<tr>
				<th><ers:message code="promotion_coupon_search_enddate"></th>
				<td>
                    <input type="text" id="" class="datepicker_start w_150" name="s_end_date_from" value="<%=.Model.s_end_date_from%>" />&nbsp;～&nbsp;
                    <input type="text" id="" class="datepicker_end w_150" name="s_end_date_to" value="<%=.Model.s_end_date_to%>" />
				</td>
			</tr>
			<tr>
				<th><ers:label code="coupon_t.active"></th>
				<td>
					<select name="active"  id="active" class="w_70">
						<option value="" selected="selected"></option>
						<ers:foreach variable="option" src=".Model.typeActive" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.active"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
					</select>
				</td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code="common_search">" id="" name=""></p>
	</div>
<!-- next end-->
</form>

<!-- next start-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code='common.ImageAlt' />" alt="<ers:message code='common.ImageAlt' />" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>

