﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>IVP ERSv7 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/index.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<script src="<%=.nor_url%>js/jquery.tile.min.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
		<script type="text/javascript">
			$(function(){
				$(".js-ERS_recommend_list div").tile(4);
			});
		</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

			<div class="m-ERS_breadcrumb">
				<p>HOME</p>
			</div>

			<p class="m-index_title"><img src="<%=.nor_url%>images/bnr_topb01.png" alt="" /></p>
			<!-- news start -->
			<section class="m-ERS_news clearfix">
				<h2 class="m-ttl_news_index m-h2_title"><img src="<%=.nor_url%>images/mttl_news.png" alt="" /><span><a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code%>" >お知らせ一覧</a></span></h2>
				<div class="news_box">
				<ers:foreach src=".Model.news_list" variable="news">
					<p>
						<span class="date">
							<ers:isEqual src="news.template_code" value="7">
								<a href="<%=news.link_url_1 %>">
							</ers:isEqual>
							<ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
							<ers:isEqual src="news.template_code" value="7">
								</a>
							</ers:isEqual>
						</span>
						<!--<ers:nonencode src="news.title" />-->
						<ers:isNotEqual src="news.template_code" value="7">
							<span class="newsTitle"><a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&contents_code=<%=news.contents_code %>&template_code=<%=news.template_code %>"><%=news.title %></a></span>
						</ers:isNotEqual>
					</p>
				</ers:foreach>
				</div>
			</section>
			<!-- news end -->

			<section class="m-ERS_recommend clearfix">
			<h2 class="m-h2_title"><img src="<%=.nor_url%>images/mttl_item.png" alt="" /></h2>

			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001"><img class="reco_tip" src="<%=.nor_url%>images/pict_item01.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th><ers:label code='sname' /></th>
						<td><ers:message code='home.TestProd1' /></td>
					</tr>
					<tr>
						<th><ers:message code='home_cont_amt' /></th>
						<td><ers:message code='home.Cont1' /></td>
					</tr>
					<tr>
						<th><ers:label code='non_member_price' /></th>
						<td><ers:message code='home.Amt1' /></td>
					</tr>
					<tr>
						<th class="regular_price"><ers:label code='regular_price' /></th>
						<td><ers:message code='home.RegAmt1' /></td>
					</tr>
				</table>
				<p><ers:message code='home.Desc1' /></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001" class="m-btn m-index_btn m-detail_btn" ><ers:label code='common_prod_details' /></a></h4>
			</div>

			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101"><img class="reco_tip" src="<%=.nor_url%>images/pict_item02.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th><ers:label code='sname' /></th>
						<td><ers:message code='home.TestProd2' /></td>
					</tr>
					<tr>
						<th><ers:message code='home_cont_amt' /></th>
						<td><ers:message code='home.Cont2' /></td>
					</tr>
					<tr>
						<th><ers:label code='non_member_price' /></th>
						<td><ers:message code='home.Amt2' /></td>
					</tr>
					<tr>
						<th class="regular_price"><ers:label code='regular_price' /></th>
						<td><ers:message code='home.RegAmt2' /></td>
					</tr>
				</table>
				<p><ers:message code='home.Desc2' /></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101" class="m-btn m-index_btn m-detail_btn" ><ers:label code='common_prod_details' /></a></h4>
			</div>

			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501"><img class="reco_tip" src="<%=.nor_url%>images/pict_item03.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th><ers:label code='sname' /></th>
						<td><ers:message code='home.TestProd3' /></td>
					</tr>
					<tr>
						<th><ers:message code='home_cont_amt' /></th>
						<td><ers:message code='home.Cont3' /></td>
					</tr>
					<tr>
						<th><ers:label code='non_member_price' /></th>
						<td><ers:message code='home.Amt3' /></td>
					</tr>
				</table>
				<p><ers:message code='home.Desc3' /></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501" class="m-btn m-index_btn m-detail_btn" ><ers:label code='common_prod_details' /></a></h4>
			</div>

			<div class="js-ERS_recommend_list m-ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601"><img class="reco_tip" src="<%=.nor_url%>images/pict_item04.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th><ers:label code='sname' /></th>
						<td><ers:message code='home.TestProd4' /></td>
					</tr>
					<tr>
						<th><ers:message code='home_cont_amt' /></th>
						<td><ers:message code='home.Cont4' /></td>
					</tr>
					<tr>
						<th><ers:label code='non_member_price' /></th>
						<td><ers:message code='home.Amt4' /></td>
					</tr>
					<tr>
						<th class="regular_price"><ers:label code='regular_price' /></th>
						<td><ers:message code='home.RegAmt4' /></td>
					</tr>
				</table>
				<p><ers:message code='home.Desc4' /></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601" class="m-btn m-index_btn m-detail_btn" ><ers:label code='common_prod_details' /></a></h4>
			</div>

		</section>
<!-- list end -->


		<!-- daily ranking start -->
			<ers:partial file="daily_ranking.htm" />
		<!-- daily ranking end -->

	</section>


<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/index.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
