﻿<div class="MemberDetail">
    <table id="ShippingList" class="Detail">
        <tr>
<ers:isEqual src=".Model.IsOrderUpdate" value="false">
			<td width="5px">
                <input type="hidden" name="send" value="<%=.Model.send%>" />
                <input type="hidden" name="send_chk" value="1" />
                <input type="radio" id="shipping_id0" name="shipping_id" value="0" 
                    <ers:isEqual src=".Model.shipping_id" value="0" />checked="checked"</ers:isEqual>
                />
            </td>
			<td colspan="6">
                <label for="order_send"><ers:message code="shippingaddress_shipping_list_add"></label>
                <input type="hidden" id="modify_shipping_id" name="modify_shipping_id" value="0" />
            </td>
</ers:isEqual>
<ers:isEqual src=".Model.IsOrderUpdate" value="true">
			<td rowspan="3" width="5px">
                <input type="hidden" name="send" value="<%=.Model.send%>" />
                <input type="hidden" name="send_chk" value="1" />
                <input type="radio" id="shipping_id0" name="shipping_id" value="0" 
                    <ers:isEqual src=".Model.shipping_id" value="0" />checked="checked"</ers:isEqual>
                />
            </td>
			<td colspan="6">
                <label for="order_send"><ers:message code="shippingaddress_shipping_list_order_add"></label>
                <input type="hidden" id="modify_shipping_id" name="modify_shipping_id" value="0" />
            </td>
</ers:isEqual>
		</tr>
<ers:isEqual src=".Model.IsOrderUpdate" value="true">
        <tr>
            <th><ers:message code="phonetic_guide"></th>
            <td class="__wk_order_namek">
                <span class="wk_order_address">
                    <%=.Model.wk_lnamek%> <%=.Model.wk_fnamek%>
                </span>
                <span class="wk_current_address" style="display:none">
                    <%=.Model.lnamek%> <%=.Model.fnamek%>
                </span>
            </td>
            <th><ers:message code="cart_shipping_list_name"></th>
            <td class="__wk_order_name">
                <span class="wk_order_address">
                    <%=.Model.wk_lname%> <%=.Model.wk_fname%>
                </span>
                <span class="wk_current_address" style="display:none">
                    <%=.Model.lname%> <%=.Model.fname%>
                </span>
            </td>
            <td rowspan="2">
<ers:isNotEqual src=".Model.mcode" value="">
                <input type="button" class="form_btn" id="shipping_overwrite" name="shipping_overwrite" value="<ers:message code="shipping_overwrite">" />
                    <script type="text/javascript">
                        $("#shipping_overwrite").click(function () {
                            $(".wk_order_address").hide();
                            $(".wk_current_address").show();
                            $("#shipping_overwrite").hide();
                            $("input[name='wk_lname']").val($("input[name='lname']").val());
                            $("input[name='wk_lnamek']").val($("input[name='lnamek']").val());
                            $("input[name='wk_fname']").val($("input[name='fname']").val());
                            $("input[name='wk_fnamek']").val($("input[name='fnamek']").val());
                            $("input[name='wk_tel']").val($("input[name='tel']").val());
                            $("input[name='wk_zip']").val($("input[name='zip']").val());
                            $("input[name='wk_address']").val($("input[name='address']").val());
                            $("input[name='wk_taddress']").val($("input[name='taddress']").val());
                            $("input[name='wk_maddress']").val($("input[name='maddress']").val());
                            $("input[name='wk_email']").val($("input[name='email']").val());
                            $("input[name='wk_pref']").val($("input[name='pref']").val());
                            $("input[name='wk_pref_name']").val($("input[name='pref_name']").val());
                        });
                    </script>
</ers:isNotEqual>
            </td>
        </tr>
        <tr>
            <th><ers:label code="tel"></th>
            <td class="__wk_order_tel">
                <span class="wk_order_address">
                    <%=.Model.wk_tel %>
                </span>
                <span class="wk_current_address" style="display:none">
                    <%=.Model.tel %>
                </span>
            </td>
            <th><ers:label code="common_address"></th>
            <td class="__wk_order_address">
                <span class="wk_order_address">
                    <ers:label code="common_post"><%=.Model.wk_zip%>&nbsp;<%=.Model.wk_pref_name%>&nbsp;<%=.Model.wk_address%>&nbsp;<%=.Model.wk_taddress%>&nbsp;<%=.Model.wk_maddress%>
                </span>
                <span class="wk_current_address" style="display:none">
                    <ers:label code="common_post"><%=.Model.zip%>&nbsp;<%=.Model.pref_name%>&nbsp;<%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%>
                </span>
            </td>
        </tr>
</ers:isEqual>
        <ers:foreach src=".Model.shippingList" variable="record">
			<tr>
                <td rowspan="2">
                    <input type="radio" id="shipping_id<%=record.id%>" name="shipping_id" value="<%=record.id%>"
                        <ers:isEqual src=".Model.shipping_id" variable="record.id" />
                            checked="checked"
                        </ers:isEqual>
                     />
                </td>
				<th><ers:message code="phonetic_guide"></th>
				<td><%=record.add_lnamek%> <%=record.add_fnamek%></td>
				<th><ers:message code="cart_shipping_list_name"></th>
				<td><%=record.add_lname%> <%=record.add_fname%></td>
				<td rowspan="2">
                    <input type="submit" class="form_btn" id="shipping_modify<%=record.id%>" name="shipping_modify" value="<ers:label code="common_modify">" />
                <ers:isNotEqual src="record.id" value="-1">
                    <input type="submit" class="form_btn" id="shipping_delete<%=record.id%>" name="shipping_delete" value="<ers:label code='common_delete' />"  onclick="return confirm('<ers:message code="common.DelConfirmMsg">');" />
                </ers:isNotEqual>
                <ers:isEqual src="record.id" value="-1"><p><ers:message code="shippingaddress_shipping_list_unregistered"></p></ers:isEqual>
                    <script type="text/javascript">
                        $("#shipping_modify<%=record.id%>").click(function () {
                            $("#modify_shipping_id").val(<%=record.id%>);
                        });
                        $("#shipping_delete<%=record.id%>").click(function () {
                            $("#modify_shipping_id").val(<%=record.id%>);
                        });
                    </script>
				</td>
			</tr>
			<tr>
				<th><ers:label code="tel"></th>
				<td><%=record.add_tel %></td>
				<th><ers:label code="common_address"></th>
				<td>
                    <ers:label code="common_post"><%=record.add_zip%>&nbsp;
				    <%=record.add_pref_name%>&nbsp;
                    <%=record.add_address%>&nbsp;
				    <%=record.add_taddress%>&nbsp;
				    <%=record.add_maddress%>
                </td>
			</tr>
        </ers:foreach>
		<ers:isEqual src=".Model.non_member" value="true">
			<ers:isEqual src=".Model.send" value="1">
				 <tr>
					<td colspan="7" class="Button">
						<input type="submit" class="form_btn" name="shipping_new" value="<ers:message code="cart_shipping_list_add_ship_add">" />
					</td>
				</tr>
			</ers:isEqual>
		</ers:isEqual>
		<ers:isNotEqual src=".Model.non_member" value="true">
        <tr>
			<td colspan="7" class="Button">
				<input type="submit" class="form_btn" name="shipping_new" value="<ers:message code="cart_shipping_list_add_ship_add">" />
			</td>
		</tr>
		</ers:isNotEqual>
	</table>
    <script type="text/javascript">
        $("#send_chk").click(function () {
            if (!($(this).is(":checked"))) {
                $(this).val(1);
                $("#ShippingList input:radio").removeAttr("checked");
            }
            else {
                $(this).val(2);
            }
        });
    </script>
</div>

