﻿<script type="text/javascript" src="<%=.sec_url%>js/order.js"></script>
<div class="MemberDetail">
    <table class="Detail">
		<tr>
			<th><ers:message code="phonetic_guide"></th>
			<td class="name">
				<label for="lnamek"><ers:message code="sei"></label>
                <input type="text" id="lnamek" class="w_100" name="add_lnamek" value="<%=.Model.add_lnamek%>" maxlength="100" /><br />
				<label for="fnamek"><ers:message code="mei"></label>
                <input type="text" id="fnamek" class="w_100" name="add_fnamek" value="<%=.Model.add_fnamek%>" maxlength="100" />
			</td>
			<th class="w_130"><ers:message code="cart_shipping_list_name"></th>
			<td class="name">
                <input type="hidden" name="address_name" value="<%=.Model.address_name%>" />
                <label for="lname"><ers:message code="l_name"></label>
                <input type="text" id="lname" class="w_100" name="add_lname" value="<%=.Model.add_lname%>" maxlength="100" /><br />
				<label for="fname"><ers:message code="f_name"></label>
                <input type="text" id="fname" class="w_100" name="add_fname" value="<%=.Model.add_fname%>" maxlength="100" />
			</td>
		</tr>
		<tr>

			<th><ers:label code="common_address"></th>
			<td class="address" colspan="3">
                <p id="add_zip_search_error" class="err" style="display:none"></p>
			<span><ers:label code="zip"></span><input type="text" id="add_zip"  name="add_zip" maxlength="15" value="<%=.Model.add_zip%>" />&nbsp;
                <input type="submit" class="form_btn" id="zip_flg2" name="zip_flg2"  value="<ers:label code="zipsearch_back">" /><br />


		<span><ers:label code="pref"></span><select id="add_pref" name="add_pref" class="w_100">
					<option value=""></option>
                    <ers:foreach variable="option" src=".Model.prefList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
                    </ers:foreach>
				</select>
                <br />
			<span><ers:label code="address"></span><input type="text" id="add_address" name="add_address" value="<%=.Model.add_address%>" maxlength="255" /><br />
			<span><ers:label code="taddress"></span><input type="text" id="add_taddress" name="add_taddress" value="<%=.Model.add_taddress%>" maxlength="255" /><br />
			<span><ers:label code="maddress"></span><input type="text" id="add_maddress" name="add_maddress" value="<%=.Model.add_maddress%>" maxlength="255" />
			</td>
		</tr>
		<tr>
			<th><label for="tel"><ers:label code="tel"></label></th>
			<td colspan="3">
				 <input type="text" id="tel" class="w_150" name="add_tel" value="<%=.Model.add_tel%>" maxlength="15" />
			</td>
		</tr>
        <ers:isEqual src=".Model.shipping_id" value="-1">
		<ers:isNotEqual src=".Model.non_member" value="true">
        <ers:isNotEqual src=".Model.deleted" value="Deleted">
        <tr>
            <th colspan="2"><ers:label code="address_add"></th>
            <td colspan="2"><input type="checkbox" name="address_add" value="1" /><ers:message code="shippingaddress_shipping_modify_enter_add"></td>
        </tr>
        </ers:isNotEqual>
		</ers:isNotEqual>
        </ers:isEqual>
	</table>
</div>
<input type="hidden" id="shipping_id" name="shipping_id" value="<%=.Model.shipping_id%>" />
<input type="submit" class="form_btn" name="shipping_register" value="<ers:label code="common_register">" />
<input type="submit" class="form_btn" name="shipping_cancel" value="<ers:label code="common_cancel">" />

