﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.page_title %> | <%=.browser_title%></title>
	<meta name="description" content="<%=.Model.metadescription%>" />
	<meta name="keywords" content="<%=.Model.tagline%>" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/lp_layout.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<!-- jquery ui end -->
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery-dateFormat.min.js"></script>
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<script src="<%=.dynamic_url%>js/member1.js"></script>
	<script src="<%=.dynamic_url%>js/entry.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.tile.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
	<![endif]-->

	<script type="text/javascript">
		$(document).ready(function () {

			var log_url = '<%=.sec_url%>top/lp/asp/lp_login.asp#form_area';

			<ers:isEqual src=".Model.IsLandingPage" value="true">
				<ers:isEqual src=".Model.HasConfirmPage" value="true">
				var confirm_url = '<%=.sec_url%>top/lp/asp/lp_confirm.asp';
				</ers:isEqual>

				<ers:isNotEqual src=".Model.HasConfirmPage" value="true">
				var confirm_url = '<%=.sec_url%>top/lp/asp/lp_complete.asp';
				</ers:isNotEqual>
			</ers:isEqual>

			<ers:isNotEqual src=".Model.IsLandingPage" value="true">
				<ers:isEqual src=".Model.HasConfirmPage" value="true">
				var confirm_url = '<%=.sec_url%>top/lp/asp/lp_upsell_confirm.asp';
				</ers:isEqual>

				<ers:isNotEqual src=".Model.HasConfirmPage" value="true">
				var confirm_url = '<%=.sec_url%>top/lp/asp/lp_upsell_complete.asp';
				</ers:isNotEqual>
			</ers:isNotEqual>

			$('.input_login').keypress(function (e) {
				var code = e.keyCode || e.which;

				if (code == 13) {
					e.preventDefault();
					$('.js-btn_login').click();
				}
			});

			$('.js-btn_login').click(function () {
				$(this).closest('form').attr('action', log_url);
				$(this).closest('form').submit();
			});

			$('.js-landing_submit').click(function () {
				$(this).closest('form').attr('action', confirm_url);
				$(this).closest('form').submit();
			});

			$('.btn_add_cart').click(function () {
			    $('.js-regular_basket_in').attr('name', $(this).attr('id'));
			});
		});
	</script>

	<script type="text/javascript">
	    function showMenu1() {
	        document.getElementById('js-showMenu1').style.display = "block";
	        document.getElementById('js-showMenu2').style.display = "none";
	        document.getElementById('js-showMenu3').style.display = "none";
	    }
	    function showMenu2() {
	        document.getElementById('js-showMenu2').style.display = "block";
	        document.getElementById('js-showMenu1').style.display = "none";
	        document.getElementById('js-showMenu3').style.display = "none";
	    }
	    function showMenu3() {
	        document.getElementById('js-showMenu3').style.display = "block";
	        document.getElementById('js-showMenu2').style.display = "none";
	        document.getElementById('js-showMenu1').style.display = "none";
	    }
	</script>

	<script type="text/javascript">
		var holidays = {
		<ers:foreach variable="holiday" src=".Model.listHolidays">
			"<ers:formatDate src="holiday" />":{},
		</ers:foreach>
		};

		function getHolidays(day) {
			var result;
			var holiday = holidays[$.format.date(day, "yyyy/MM/dd")]
			// ????????????????
			if (holiday) {
				result = [false, ""];
			} else {
				result = [true, ""];
			}
			return result;
		}

		//カレンダー
		$(function(){
				$( "#datepicker1" ).datepicker({
					numberOfMonths: 2,
					buttonImage: '<%=.dynamic_url%>images/icon_calendar.gif',
					minDate: "+<%=.Model.sendday %>d",
					maxDate: "+<%=.Model.sendday_count %>d",
					beforeShowDay: function (day) {
						return getHolidays(day);
					}
				});
			}

		);

		function deliv_select(value){
			if (value == 2){
				if ($('#pay4:checked').val() == 4){
					$('input:[name=pay]').attr('checked',false); 
				}
				$('#pay4').attr('disabled', 'disabled');
				$('#firstTime_0').attr('checked', true);
				$('#firstTime_2').attr('checked', false);
				$('#firstTime_2').attr('disabled', 'disabled');
				$('#datepicker1').val('');
				$('#datepicker1').attr('disabled', 'disabled');
				$('#sendtime').val('0');
				$('#sendtime').attr('disabled', 'disabled');
				$('.ui-datepicker-trigger').hide();
			}
			else
			{
				$('#pay4').removeAttr("disabled");
				$('#firstTime_2').removeAttr("disabled");
				$('#datepicker1').removeAttr("disabled");
				$('#sendtime').removeAttr("disabled");
				$('.ui-datepicker-trigger').show();
			}
		}

		$(window).load(function () {
			$(".voice ul li").tile(2);
		});
	</script>
    
    <script>
        $(document).ready(function(){
            $('.lname').css('cssText', 'width: 31% !important');
            $('.fname').css('cssText', 'width: 31% !important');
            $('.lnamek').css('cssText', 'width: 31% !important');
            $('.fnamek').css('cssText', 'width: 31% !important');
        });

    </script>
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" siteType="PC" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents m-lp_contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:isEqual src=".Model.temp_logo_image_file" value="true">
                   <p class="top_image"><img src="<%=.sec_url%>up/cms/news/<%=.Model.logo_image_file%>"></p>
</ers:isEqual>
<ers:isNotEqual src=".Model.temp_logo_image_file" value="true">                   
                    <p class="top_image"><img src="<%=.sec_url%>images/cms/news/<%=.Model.logo_image_file%>" ></p>
</ers:isNotEqual>

		<section id="free_box">
			<ers:partial variable=".Model.template_file_path" partialModel=".Model.objLpPage" siteType="PC" />
		</section>

        <ers:isEqual src=".Model.IsOutOfStock" value="false"><!-- out of stock start -->

		<ers:isEqual src=".Model.IsLandingPage" value="true">
			<ers:isEqual src=".Model.HasUpSellRegistered" value="true">
			<section id="up_box">
                <ers:IsNotEqual src=".Model.upsell_button_3_file_name" value="">
				    <form id="form1" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell.asp" method="post">                    
                           <input type="image" src="<%=.pc_sec_url%>images/cms/lp/<%=.Model.upsell_button_3_file_name %>" alt="Submit Form"/>				     
				    </form>
                </ers:IsNotEqual>
			</section>
			</ers:isEqual>
		</ers:isEqual>

		<ers:isEqual src=".Model.IsLandingPage" value="true">
			<ers:isEqual src=".Model.HasConfirmPage" value="true">
				<form id="form_area" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_confirm.asp" method="post">
			</ers:isEqual>

			<ers:isNotEqual src=".Model.HasConfirmPage" value="true">
				<form id="form_area" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_complete.asp" method="post">
			</ers:isNotEqual>
			<input type="hidden" name="IsLandingPage" value="1" />
		</ers:isEqual>

		<ers:isNotEqual src=".Model.IsLandingPage" value="true">
			<ers:isEqual src=".Model.HasConfirmPage" value="true">
				<form id="form_area" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell_confirm.asp" method="post">
			</ers:isEqual>

			<ers:isNotEqual src=".Model.HasConfirmPage" value="true">
				<form id="form_area" name="form_area" action="<%=.sec_url%>top/lp/asp/lp_upsell_complete.asp" method="post">
			</ers:isNotEqual>
		</ers:isNotEqual>

		<ers:isEqual src=".Model.IsNotLogged" value="true">
		<div class="ERS_login">
			<p><ers:message code='lp.EasyLogin' /></p>
			<p id="login_art"></p>
			<table>
				<tr>
					<th><label for="login_email"><ers:label code='email' /></label></th>
					<td><input class="input_login" id="login_email" type="text" value="<%=.Model.login_email%>" name="login_email"></td>
				</tr>
				<tr>
					<th><label for="login_passwd"><ers:label code='passwd' /></label></th>
					<td><input class="input_login" id="login_passwd" type="password" value="" name="login_passwd" autocomplete="off" /></td>
				</tr>
			</table>
			<p class="iconLogin"><a href="javascript:void(0)"><img src="<%=.sec_url%>images/btn_login.jpg" class="js-btn_login" alt="<ers:label code='common_login' />" /></a></p>
		</div>
		</ers:isEqual>

		<section id="form_area">
			<ers:dispError />
			<h3><ers:message code='lp.RegInfo' /></h3>
			<table>
				<tr>
					<th class="<ers:isError src="lname"> m-ERS_IVP_caution</ers:isError><ers:isError src="fname"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_name.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_name.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
					<ers:label code='common_lastname' />&nbsp;&nbsp;<input type="text" name="lname" value="<%=.Model.lname%>" class="lname short dshc_efo dshc_efo_family_name"><span class="sp_only"><br></span>
					<ers:label code='common_firstname' />&nbsp;&nbsp;<input class="fname" type="text" name="fname" value="<%=.Model.fname%>">
					<span class="ex"><%=.Model.item_code_name.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="lnamek"> m-ERS_IVP_caution</ers:isError><ers:isError src="fnamek"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_lname.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_lname.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="lnamek" /><ers:dispError src="fnamek" /></span>
					<ers:message code='sei' />&nbsp;&nbsp;<input class="lnamek" type="text" name="lnamek" value="<%=.Model.lnamek%>"><span class="sp_only"><br></span>
					<ers:message code='mei' />&nbsp;&nbsp;<input class="fnamek" type="text" name="fnamek" value="<%=.Model.fnamek%>">
					<span class="ex"><%=.Model.item_code_lname.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="email"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_email.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_email.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="email" /></span>
					<input type="text" class="email middle" name="email" value="<%=.Model.email%>">
					<span class="ex"><%=.Model.item_code_email.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="email_confirm"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_email_confirm.is_required" value="1"><span class="required">*</span></ers:isEqual><ers:formatHTML src=".Model.item_code_email_confirm.item_name" /></th>
					<td >
					<span class="m-dispError"><ers:dispError src="email_confirm" /></span>
					<input type="text" class="email_confirm middle" name="email_confirm" value="<%=.Model.email_confirm%>">
					<span class="ex"><%=.Model.item_code_email_confirm.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="tel"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_tel.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_tel.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="tel" /></span>
					<input type="text" name="tel" class="tel middle" value="<%=.Model.tel%>">
					<span class="ex"><%=.Model.item_code_tel.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="fax"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_fax.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_fax.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="fax" /></span>
					<input type="text" class="fax" name="fax middle" value="<%=.Model.fax%>">
					<span class="ex"><%=.Model.item_code_fax.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="zip"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_zip.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_zip.item_name%></th>
					<td>
					<span class="m-dispError"><ers:dispError src="zip" /></span>
					<input type="text" id="zip" class="zip" name="zip" maxlength="15" value="<%=.Model.zip%>"> <a href="" id="zip_flg1" name="zip_flg1"><ers:message code='auto_input' /></a>
                    <p id="zip_search_error" class="err" style="display:none"></p>
                    <span class="ex"><%=.Model.item_code_zip.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="pref"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_pref.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_pref.item_name%></th>
					<td>
						<span class="m-dispError"><ers:dispError src="pref" /></span>
						<select id="pref" class="pref" name="pref">
						<option value=""></option>
						<ers:foreach variable="option" src=".Model.prefList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
						</ers:foreach>
						</select>
						<span class="ex"><%=.Model.item_code_pref.item_note%></span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="address"> m-ERS_IVP_caution</ers:isError><ers:isError src="taddress"> m-ERS_IVP_caution</ers:isError><ers:isError src="maddress"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:message code='address' /></th>
					<td>
						<span>
							<ers:isEqual src=".Model.item_code_address.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_address.item_name%>
							<em class="m-dispError"><ers:dispError src="address" /></em>
							<input type="text" id="address" class="address middle" name="address" value="<%=.Model.address%>">
							<em class="ex"><%=.Model.item_code_address.item_note%></em>
						</span>
						<span>
							<ers:isEqual src=".Model.item_code_taddress.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_taddress.item_name%>
							<em class="m-dispError"><ers:dispError src="taddress" /></em>
							<input type="text" id="taddress" class="taddress middle" name="taddress" value="<%=.Model.taddress%>">
							<em class="ex"><%=.Model.item_code_taddress.item_note%></em>
						</span>
						<span>
							<ers:isEqual src=".Model.item_code_maddress.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_maddress.item_name%>
							<em class="m-dispError"><ers:dispError src="maddress" /></em>
							<input type="text" id="maddress" class="maddress middle" name="maddress" value="<%=.Model.maddress%>">
							<em class="ex"><%=.Model.item_code_maddress.item_note%></em>
						</span>
					</td>
				</tr>
				<tr>
					<th class="<ers:isError src="birth"> m-ERS_IVP_caution</ers:isError>"><ers:isEqual src=".Model.item_code_birth.is_required" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_birth.item_name%></th>
					<td class="value">
					<span class="m-dispError"><ers:dispError src="birth" /></span>
					<select class="birthday_y" name="birthday_y" onfocus="defaultFocus(this)">
					<option value="">--</option>
					<ers:foreach variable="option" src=".Model.birthday_yList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
					</ers:foreach>
					</select><ers:label code='common_year' /><span class="sp_only"><br></span>
					<select class="birthday_m" name="birthday_m">
					<option value="">--</option>
					<ers:foreach variable="option" src=".Model.birthday_mList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
					</ers:foreach>
					</select><ers:label code='common_month' />
					<select class="birthday_d" name="birthday_d">
					<option value="">--</option>
					<ers:foreach variable="option" src=".Model.birthday_dList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
					</ers:foreach>
					</select><ers:message code='day' />
					<span class="ex"><%=.Model.item_code_birth.item_note%></span>
					</td>
				</tr>

                <tr>
                    <th class="<ers:isError src="sex"> m-ERS_IVP_caution</ers:isError>" ><ers:isEqual src=".Model.sex.isrequired" value="1"><span class="required">*</span></ers:isEqual><%=.Model.item_code_sex.item_name%></th>
                    <td>
                        <span class="m-dispError"><ers:dispError src="sex"/></span>
                        <select class="sex" name="sex">
                            <option value=""></option>
                            <ers:foreach variable="option" src=".Model.sexList">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sex">selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
                        </select>
                    </td>
                </tr>
			</table>

			<ers:isEqual src=".Model.IsNotLogged" value="true">
			<h3><ers:label code='passwd' /></h3>
			<table>
                <tr>
					<th class="<ers:isError src="passwd"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='passwd' /><br><ers:label code='common_pass_character' /></th>
					<td>
                        <span class="m-dispError"><ers:dispError src="passwd" /></span>
                        <input class="passwd" type="password" name="passwd" value="" autocomplete="off" />
                    </td>
				</tr>
				<tr>
					<th class="<ers:isError src="passwd_confirm"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='passwd_confirm' /><br><ers:label code='common_pass_character' /></th>
					<td>
                        <span class="m-dispError"><ers:dispError src="passwd_confirm" /></span>
                        <ers:message code='member.member1.confirmEmail' /><br>
                        <input class="passwd_confirm" type="password" name="passwd_confirm" value="" autocomplete="off" />
                    </td>
				</tr>
				<tr>
					<th class="<ers:isError src="ques"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label  code='common_sec_ans_ques' /></th>
					<td>
                        <span class="m-dispError"><ers:dispError src="ques" /></span>
                        <select class="ques align_l" name="ques">
							<option value=""><ers:message code='lp_sec_question' /></option>
                            <ers:foreach variable="option" src=".Model.quesList">
                                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
                        </select>
                    </td> 
				</tr>
				<tr>
					<th class="<ers:isError src="ans"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='common_sec_answer' /><br><ers:message code='katakana' /></th>
					<td>
                        <span class="m-dispError"><ers:dispError src="ques" /></span>
                        <input type="text" class="ans" name="ans" value="<%=.Model.ans%>">
                    </td>
				</tr>
			</table>
			</ers:isEqual>
     
            <!--start lp_upsell.asp-->            
            <ers:IsNotEqual src=".Model.IsLandingPage" value="true">
            <ers:isEqual src=".Model.Hidden_Sell_Upsell_PaymentAmount" value="true">
			<h3><ers:message code='lp_purchase_prod_no' /></h3>
			<table>
                <tbody>                
				<ers:IsNotEqual src=".Model.upsell_max_amount" value="1">
				<tr>
				    <th class="<ers:isError src="upsell_amount"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='amount' /><br /><%=.Model.upsell_sname%></th>
				    <td>
				        <span class="m-dispError"><ers:dispError src="upsell_amount" /></span>
				        <input type="text" id="upsell_amount" name="upsell_amount" value="<%=.Model.upsell_amount%>" />&nbsp;?
				    </td>
				</tr>
                </ers:IsNotEqual>

                <ers:IsNotEqual src=".Model.sell_max_amount" value="1">
				    <ers:IsEqual src=".Model.upsell_stgy_kbn" value="Combination">
				    <tr>				        
                        <th class="<ers:isError src="amount"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='amount' /><br /><%=.Model.sname%></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="amount" /></span>
				            <input type="text" class="amount long" name="amount" value="<%=.Model.amount%>" />&nbsp;<ers:label code='common_count' />
				        </td>
				    </tr>
				    </ers:IsEqual>
                </ers:IsNotEqual>
                <ers:IsEqual src=".Model.sell_max_amount" value="1">
                    <ers:IsEqual src=".Model.upsell_stgy_kbn" value="Combination">
                        <input type="hidden" id="" name="amount" value="1" />
                    </ers:IsEqual>
                </ers:IsEqual>

                <ers:IsEqual src=".Model.upsell_max_amount" value="1">
                        <input type="hidden" id="" name="upsell_amount" value="1" />
                </ers:IsEqual> 
    
				</tbody>
			</table>
            </ers:isEqual>
            </ers:IsNotEqual>
            <!--end lp_upsell.asp-->

            <!--start lp.asp -->
            <ers:isNotEqual src=".Model.HiddenSellPaymentAmount" value="true">
            <ers:IsEqual src=".Model.IsLandingPage" value="true">
			<h3><ers:message code='lp_purchase_prod_no' /></h3>
			<table>
                <tbody>
                    <ers:IsNotEqual src=".Model.sell_max_amount" value="1">
			        <ers:IsEqual src=".Model.IsLandingPage" value="true">                   
				            <tr>
				                <th class="<ers:isError src="amount"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='amount' /></th>
				                <td>
				                    <span class="m-dispError"><ers:dispError src="amount" /></span>
				                    <input type="text" class="Text1 long" name="amount" value="<%=.Model.amount%>" />&nbsp;<ers:label code='common_count' />
				                </td>
				            </tr>				   
		             </ers:IsEqual>
		         </ers:IsNotEqual>
		    </tbody>
		 </table>
		 </ers:IsEqual>
		</ers:isNotEqual>
		<!--end lp.asp -->

		<ers:isEqual src=".Model.HiddenSellPaymentAmount" value="true">
		    <ers:IsEqual src=".Model.sell_max_amount" value="1">
		            <input type="hidden" id="" name="amount" value="1" />
		    </ers:IsEqual>
		</ers:isEqual>

		<ers:isEqual src=".Model.Hidden_Sell_Upsell_PaymentAmount" value="false">
		<ers:IsNotEqual src=".Model.IsLandingPage" value="true">
		    <ers:IsEqual src=".Model.sell_max_amount" value="1">
		            <input type="hidden" id="" name="amount" value="1" />
		    </ers:IsEqual>
		</ers:IsNotEqual>
		</ers:isEqual>

		<ers:isEqual src=".Model.Hidden_Sell_Upsell_PaymentAmount" value="false">
		<ers:IsNotEqual src=".Model.IsLandingPage" value="true">
		    <ers:IsEqual src=".Model.upsell_max_amount" value="1">
		            <input type="hidden" id="" name="upsell_amount" value="1" />
		    </ers:IsEqual>
		</ers:IsNotEqual>
		</ers:isEqual>

			<h3><ers:label code='deliv_method' /></h3>
			<table>
				<tr>
					<th class="<ers:isError src="deliv_method"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='deliv_method' /></th>
					<td>
						<span class="m-dispError"><ers:dispError src="deliv_method" /></span>
						<ers:foreach variable="option" src=".Model.deliv_methodList">
						    <ers:isNotEqual src=".Model.DisplayedDelvMethod" value="3">
				                <ers:isEqual src=".Model.DisplayedDelvMethod" variable="option.value">
				                    <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								    <label for="deliv_method<%=option.value%>"><%=option.name%></label>
				                </ers:isEqual>
                            </ers:isNotEqual>

                            <ers:isEqual src=".Model.DisplayedDelvMethod" value="3">
                                <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
								<label for="deliv_method<%=option.value%>"><%=option.name%></label>
                            </ers:isEqual>
				            &nbsp;&nbsp;
						</ers:foreach>
					</td>
				</tr>
			</table>

        <ers:isNotEqual src=".Model.HidePaymentArea" value="true">
			<h3><ers:label code='pay' /></h3>
			<table>
				<tbody>
				<ers:isEqual src=".Model.IsNonPaymentType" value="false">
				<tr>
					<th class="<ers:isError src="pay"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='pay' /></th>

				<td><span class="m-dispError"><ers:dispError src="pay" /></span>
		<ers:foreach variable="option" src=".Model.payList">
		<ers:isEqual src="option.value" value="PAYPAL">
				<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;
				<label for="pay<%=option.value%>">
				<!-- PayPal Logo -->
				<a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
				<img src="https://www.paypal.com/ja_JP/JP/i/logo/PayPal_mark_37x23.gif" border="0" alt="" style="margin-left: 0.5em;">
				</a>
				<!-- PayPal Logo -->
				</label><br />
		</ers:isEqual>
		<ers:isNotEqual src="option.value" value="PAYPAL">
		<ers:isEqual src="option.value" value="4">
		<ers:isNotEqual src=".Model.DisplayedDelvMethod" value="2">
					<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />

		</ers:isNotEqual>
		</ers:isEqual>

    <ers:isNotEqual src="option.value" value="4">
    				<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />
    </ers:isNotEqual>
</ers:isNotEqual>
</ers:foreach>
				</td>
				</tr>
				</ers:isEqual>
				</tbody>
			</table>
        </ers:isNotEqual>

			<ers:isEqual src=".Model.IsNonPaymentType" value="false">
			<div id="cardform">
				<h3><ers:message code='lp.EnterPayMethodCreditCard' /></h3>
				<ers:isNotEqual src=".Model.IsNotLogged" value="true"><p><ers:message code='lp.UseOtherCreditCard' /></p></ers:isNotEqual>

				<ers:isNotEqual src=".Model.IsNotLogged" value="true">
				<ers:foreach src=".Model.ListCreditCardInfo" variable="card_info">
				<table>
					<tr>
					    <th class="<ers:isError src="card_id"> m-ERS_IVP_caution</ers:isError>"><ers:message code='lp_settlement' /></th>
					    <td>
					        <span class="m-dispError"><ers:dispError src="card_id" /></span>
					        <input type="radio" id="card_id<%=card_info.card_id%>" name="card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual>><label for="card_id<%=card_info.card_id%>"><ers:message code='lp_use_card' /></label><br />
					    </td>
					</tr>
					<tr>
					    <th><span class="required">*</span><ers:label code='card_type' /></th>
					    <td>
					        <%=card_info.card_name%>
					    </td>
					</tr>
					<tr>
					    <th><span class="required">*</span><ers:message code='lp_card_no' /></th>
					    <td><%=card_info.card_no%></td>
					</tr>
					<tr>
					    <th><span class="required">*</span><ers:message code='lp_exp_date' /></th>
					    <td><%=card_info.validity_y%>年<%=card_info.validity_m%><ers:label code='common_month' /></td>
					</tr>
					<tr>
					    <th class="<ers:isError src="card_save"> m-ERS_IVP_caution</ers:isError> <ers:isError src="del_card_id"> m-ERS_IVP_caution</ers:isError>"><ers:message code='lp_del_card_info' /></th>
					    <td>
					        <span class="m-dispError"><ers:dispError src="del_card_id" /></span>
					       <input type="checkbox" name="del_card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.del_card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual> />&nbsp;<ers:message code='lp.DeleteCreditCardInfoMsg' /><br />
					        <ers:IsEqual src="card_info.hasRegularOrder" value="true"><ers:message code='lp.CardUse' /></ers:IsEqual>
					    </td>
					</tr>
				</table>
				</ers:foreach>
				</ers:isNotEqual>

				<table>
				    <tr>
					    <th class="<ers:isError src="card_id"> m-ERS_IVP_caution</ers:isError>"><ers:message code='lp_settlement' /></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="card_id" /></span>
				            <input type="radio" id="card_id" name="card_id" value=""<ers:isEqual src=".Model.card_id" value=""> checked="checked"</ers:isEqual>><label for="card_id"><ers:message code='lp_use_card' /></label>
				        </td>
				    </tr>
				    <tr>
					    <th class="<ers:isError src="card"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='card_type' /></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="card" /></span>
				            <select class="card" name="card">
							    <option value=""></option>
				            <ers:foreach variable="option" src=".Model.cardList">
				                <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card"> selected="selected"</ers:isEqual>><%=option.name%></option>
				            </ers:foreach>
						    </select>
				        </td>
				    </tr>
				    <tr>
					    <th class="<ers:isError src="cardno"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:label code='card_no' /><br /><ers:message code='lp_card_no_rule' /></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="cardno" /></span>
				            <input type="text" class="cardno" name="cardno" maxlength="16" value="<%=.Model.cardno%>" />
						    <span class="ex"><ers:message code='lp.InputSample' /></span>
				        </td>
				    </tr>
				    <tr>
					    <th class="<ers:isError src="validity_y"> m-ERS_IVP_caution</ers:isError>"><label for="validity_y"><span class="required">*</span><ers:message code='lp_expdate' /></label></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="validity_y" /><ers:dispError src="validity_m" /></span>
				            <input type="text" class="validity_y" name="validity_y" maxlength="4" value="<%=.Model.validity_y%>" />年<input type="text" class="validity_m" name="validity_m" maxlength="2" value="<%=.Model.validity_m%>" /><ers:label code='common_year' />
				        </td>
				    </tr>
				    <tr>
					    <th class="<ers:isError src="card_save"> m-ERS_IVP_caution</ers:isError>"><ers:label code='card_save' /></th>
				        <td>
				            <span class="m-dispError"><ers:dispError src="card_save" /></span>
				            <input type="checkbox" name="card_save" value="1"<ers:isEqual src=".Model.card_save" value="1"> checked="checked"</ers:isEqual> />&nbsp;<ers:message code='lp.RecordCreditCardMsg' />
				        </td>
				    </tr>
				</table>
			</div>

			<table id="conv_list">
				<tr>
				<td class="title <ers:isError src="conv_code"> m-ERS_IVP_caution</ers:isError>"><ers:label code='conv_code' /></td>
				<td class="value">
				    <span class="m-dispError"><ers:dispError src="conv_code" /></span>
				    <select id="conv_code" style="width:400px; " name="conv_code">
				    <option value=""><ers:label code='common_please_select' /></option>
				    <ers:foreach variable="option" src=".Model.convenienceList">
				        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
				    </ers:foreach>
				    </select>
				</td>
				</tr>
			</table>
    		</ers:isEqual>

			<ers:isNotEqual src=".Model.HasQuestionnaires" value="false">
				<h3><ers:message code='lp.QuestionList' /></h3>
				<table class="inputTable">
					<tbody>
					<ers:table name="questionnaireDetailItems" src=".Model.questionnaireDetailItems" variable="record" record_key="record_key">
					<tr>
					    <th class="<ers:isEqual src="record.isError" value="true"> m-ERS_IVP_caution</ers:isEqual>"><ers:isEqual src="record.is_required" value="1"><span class="required">*</span></ers:isEqual><%=record.item_name%></th>
						<td>
						<span class="m-dispError"><%=record.error_msg%></span>
						<ers:partial variable="record.path_template_name" partialModel="record" siteType="PC" />
						<span class="ex"><%=record.item_note%></span>
						</td>
					</tr>
					</ers:table>
					</tbody>
				</table>
			</ers:isNotEqual>

			<h3><ers:message code='common.PersonalInfoHandling' /></h3>
			<table class="personal_handling">
				<tbody>
				<tr>
					<th class="<ers:isError src="pri_chk"> m-ERS_IVP_caution</ers:isError>"><span class="required">*</span><ers:message code='common.PersonalInfoHandling' /></th>
					<td>
				    <span class="m-dispError"><ers:dispError src="pri_chk" /></span>
                    <ers:message code="common.Agree" value=".nor_url" />

				    <ers:isEqual src=".Model.personal_info_kbn" value="Use">
					    <textarea class="agreement" readonly="readonly" rows="14" cols="70"><%=.Model.pri_memo%></textarea>
				    </ers:isEqual>

				    <ers:isNotEqual src=".Model.personal_info_kbn" value="Use">
				    <a href="<%=.Model.personal_info_url%>" target="_blank"><%=.Model.personal_info_url%></a><br />
				    </ers:isNotEqual>

				    <span class="check_box">
				    	<label for="pri_chk"><input type="checkbox" value="1" class="pri_chk" name="pri_chk" style="background-color: rgb(255, 255, 255);" <ers:isEqual src=".Model.pri_chk" value="1"> checked</ers:isEqual> /> <ers:label code='common_agree_btn'></label>
				    </span>
					</td>
				</tr>
				</tbody>
			</table>

			<ers:isEqual src=".Model.IsOrdinaryOrder" value="true">
			<div class="m-ERS_btn">
				<p class="center"><input type="submit" name="landing_submit" class="js-landing_submit m-btn m-next" value="<ers:message code='lp_app_confirm_btn' />"></p>
			</div>
			</ers:isEqual>

		</section>

<ers:isEqual src=".Model.IsRegularOrder" value="true">
		<section id="form_area2">
			<h3><ers:message code='lp.ApplyRegular' /></h3>
			<span class="m-dispError"><ers:dispError src="send_ptn" /></span>

		<table class="<ers:isError src="send_ptn"> m-ERS_IVP_caution</ers:isError>">
			<tr class="<ers:isError src="ptn_day"> m-ERS_IVP_caution</ers:isError> <ers:isError src="ptn_monthly_interval_month"> m-ERS_IVP_caution</ers:isError>">
			<td colspan="2">
			<h3><input type="radio" name="send_ptn" id="send_ptn1" value="1" onclick="showMenu1();"<ers:isEqual src=".CartModel.send_ptn" value="MONTH_INTERVALS"> checked="checked"</ers:isEqual> <ers:isEqual src=".CartModel.send_ptn" value=""> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn1"><ers:message code='subscription_basis' /></label></h3>
			<div id="js-showMenu1" class="showMenu1" <ers:isNotEqual src=".CartModel.send_ptn" value="MONTH_INTERVALS"><ers:isNotEqual src=".CartModel.send_ptn" value=""> style="display:none;"</ers:isNotEqual></ers:isNotEqual>>
			<span class="m-dispError"><ers:dispError src="ptn_monthly_interval_month" /></span>
			<span class="m-dispError"><ers:dispError src="ptn_day" /></span>

			<select class="w_40" name="ptn_monthly_interval_month">
			<ers:foreach src=".CartModel.ListPtnIntervalMonth" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_monthly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
			</ers:foreach>
			</select>

			&nbsp;<ers:message code='cart_basket_regular_change_ptn_day' />&nbsp;
			<select class="w_60" name="ptn_day">
			<ers:foreach src=".CartModel.ListPtnDay" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
			</ers:foreach>
			</select>
			</div>
			</td>
			</tr>

			<tr class="<ers:isError src="ptn_weekly_interval_month"> m-ERS_IVP_caution</ers:isError> <ers:isError src="ptn_interval_week"> m-ERS_IVP_caution</ers:isError> <ers:isError src="ptn_weekday"> m-ERS_IVP_caution</ers:isError>">
			<td colspan="2">
			<h3><input type="radio" name="send_ptn" id="send_ptn2" value="2" onclick="showMenu2();"<ers:isEqual src=".CartModel.send_ptn" value="WEEK_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn2"><ers:message code='del_day_month_basis' /></label></h3>
			<div id="js-showMenu2" class="showMenu2" <ers:isNotEqual src=".CartModel.send_ptn" value="WEEK_INTERVALS"> style="display:none;"</ers:isNotEqual>>
			<div class="cal_in">
			<span class="m-dispError"><ers:dispError src="ptn_weekly_interval_month" /></span>
			<span class="m-dispError"><ers:dispError src="ptn_interval_week" /></span>
			<span class="m-dispError"><ers:dispError src="ptn_weekday" /></span>	
			<select class="w_40" name="ptn_weekly_interval_month">
			<ers:foreach src=".CartModel.ListPtnIntervalMonth" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_weekly_interval_month" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
			</ers:foreach>
			</select>&nbsp;<ers:label code='common_per_month' />&nbsp;
			<select class="w_40" name="ptn_interval_week">
			<ers:foreach src=".CartModel.ListPtnIntervalWeek" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_interval_week" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%></option>
			</ers:foreach>
			</select>&nbsp;<ers:label code='common_per_week' />&nbsp;
			<select class="w_40" name="ptn_weekday">
			<ers:foreach src=".CartModel.ListPtnWeekday" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_weekday" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.name%></option>
			</ers:foreach>
			</select>
			</div>
			</div>
			</td>
			</tr>

			<tr class="<ers:isError src="ptn_interval_day"> m-ERS_IVP_caution</ers:isError> <ers:isError src="firstTime"> m-ERS_IVP_caution</ers:isError> <ers:isError src="next_date_day"> m-ERS_IVP_caution</ers:isError>">
			<td colspan="2">
			<h3><input type="radio" name="send_ptn" id="send_ptn3" value="3" onclick="showMenu3();"<ers:isEqual src=".CartModel.send_ptn" value="DAY_INTERVALS"> checked="checked"</ers:isEqual>>&nbsp;<label for="send_ptn3"><ers:message code='del_specified_period' /></label></h3>
			<div id="js-showMenu3" class="showMenu3" <ers:isNotEqual src=".CartModel.send_ptn" value="DAY_INTERVALS"> style="display:none;"</ers:isNotEqual>>	
			<span class="m-dispError"><ers:dispError src="ptn_interval_day" /></span>
			<span class="m-dispError"><ers:dispError src="firstTime" /></span>
			<span class="m-dispError"><ers:dispError src="next_date_day" /></span>	
			<h3><ers:message code='detail.detail.MsgSelectDelvPeriod' /></h3>
			<p>
			<select class="w_80" name="ptn_interval_day">
			<ers:foreach src=".CartModel.ListPtnIntervalDay" variable="entity">
			<option value="<%=entity.value%>"<ers:isEqual src=".CartModel.ptn_interval_day" variable="entity.value"> selected="selected"</ers:isEqual>><%=entity.value%>日ごと</option>
			</ers:foreach>
			</select>
			</p>
			<h3><ers:message code='detail.detail.MsgSelectFirstDelvDate' /></h3>
			<div class="cal_in">
			<input type="radio" name="firstTime" value="0" id="shortest"<ers:isEqual src=".CartModel.firstTime" value="0"> checked="checked"</ers:isEqual>><label for="shortest"><ers:label code='change_first_time_shortest' /></label><br>
			<input type="radio" name="firstTime" value="1" id="fixed"<ers:isEqual src=".CartModel.firstTime" value="1"> checked="checked"</ers:isEqual>><label for="fixed"><ers:label code='change_first_time_fixed' /></label><br>
			<label class="value"><input type="text" name="next_date_day" size="14" id="datepicker1"  value="<ers:formatDate src=".CartModel.next_date_day">"></label>
			</div>
			</div>	
			</td>
			</tr>

			<ers:IsNotEqual src=".Model.IsLandingPage" value="true">

			<tr>
			<td class="title"><ers:message code='lp_reg_price_upsell' /></td>
			<td class="value">
			<ers:isEqual src=".Model.upsell_regular_first_price" value="">
			<strong><ers:formatCurrency src=".Model.upsell_regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual>
			</ers:isEqual>
			</td>
			</tr>

			<ers:isNotEqual src=".Model.upsell_regular_first_price" value="">


			<tr>
			<td class="title"><ers:message code='lp_int_price_upsell' /></td>
			<td class="value"><ers:formatCurrency src=".Model.upsell_regular_first_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			<tr>
			<td class="title"><ers:message code='lp_2nd_price_upsell' /></td>
			<td class="value"><strong><ers:formatCurrency src=".Model.upsell_regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			</ers:isNotEqual>

			<ers:IsEqual src=".Model.upsell_stgy_kbn" value="Combination">

			<tr>
			<td class="title"><ers:label code='regular_price' /></td>
			<td class="value">
			<ers:isEqual src=".Model.regular_first_price" value="">
			<strong><ers:formatCurrency src=".Model.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual>
			</ers:isEqual>
			</td>
			</tr>
			<ers:isNotEqual src=".Model.regular_first_price" value="">


			<tr>
			<td class="title"><ers:label code='regular_first_price' /></td>
			<td class="value"><ers:formatCurrency src=".Model.regular_first_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			<tr>
			<td class="title"><ers:label code='regular_second_price' /></td>
			<td class="value"><strong><ers:formatCurrency src=".Model.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			</ers:isNotEqual>

			</ers:IsEqual>

			</ers:IsNotEqual>


			<ers:IsEqual src=".Model.IsLandingPage" value="true">
			<tr>
			<td class="title"><ers:label code='regular_price' /></td>
			<td class="value">
			<ers:isEqual src=".Model.regular_first_price" value="">
			<strong><ers:formatCurrency src=".Model.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual>
			</ers:isEqual>
			</td>
			</tr>
			<ers:isNotEqual src=".Model.regular_first_price" value="">


			<tr>
			<td class="title"><ers:label code='regular_first_price' /></td>
			<td class="value"><ers:formatCurrency src=".Model.regular_first_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			<tr>
			<td class="title"><ers:label code='regular_second_price' /></td>
			<td class="value"><strong><ers:formatCurrency src=".Model.regular_price"/></strong><ers:isEqual src=".Model.enableTax" value="false"><ers:message code='common.IncludingTax' /></ers:isEqual><ers:isEqual src=".Model.enableTax" value="true"><ers:message code='common.ExcludingTax' /></ers:isEqual></td>
			</tr>
			</ers:isNotEqual>
			</ers:IsEqual>
		</table>

		<div class="m-ERS_btn">
			<p class="center"><input type="submit" class="js-regular_basket_in ro btn_add_cart" value="<ers:message code='purchase_reg_course' />"></p>
		</div>
		</section>
		</ers:isEqual>

		</ers:isEqual> <!-- out of stock end -->

		</section>

		<ers:isEqual src=".Model.IsOutOfStock" value="true">
		<div class="m-ERS_input_error clearfix" id="sold_out_screen">
		<ers:dispInfo />
		</div>
		</ers:isEqual>

	</section><!-- container -->
	</div><!-- container -->

<!-- footer start-->
    <ers:partial file="footer.htm" siteType="PC" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<script type="text/javascript">
    $(window).load(function () {
        //Focus in Error Messages
        <ers:isEqual src=".Model.IsValidModel" value="false">
            window.location.hash = '.js-error_screen';
        </ers:isEqual>

        <ers:isEqual src=".Model.IsOutOfStock" value="true">
            window.location.hash = '#sold_out_screen';
        </ers:isEqual>
    });
</script>

<ers:partial file="tag_conversion.htm" />
</body>
</html>