﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.page_title %> | <%=.browser_title%></title>
	<meta name="description" content="<%=.Model.metadescription%>" />
	<meta name="keywords" content="<%=.Model.tagline%>" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/lp_layout.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" siteType="PC" />
<!-- header end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- container start -->
	<div class="l-container clearfix">
		<section class="l-contents">
<!-- box start -->
	<div class="m-ERS_box">
		<p><ers:message code="register.entry4.PurchaseMsg" /></p>
<ers:isEqual src=".Model.overseas_shipping" value="true">
        <p><ers:message code="register.entry4.PurchaseMsg1" /></p>
        <p><ers:message code="register.entry4.PurchaseMsg2" /></p>
</ers:isEqual>
<ers:isEqual src=".Model.overseas_shipping" value="false">
		<p><ers:message code="register.entry4.PurchaseMsg3" /></p>
</ers:isEqual>
		<p><ers:multiLine src=".Model.pay_memo"></ers:multiLine></p>
		<p><ers:partial variable=".Model.template_file_path" partialModel=".Model.objLpPage" siteType="PC" /></p>
	</div>
<!-- box end -->

		<div class="m-ERS_btn">
			<p class="center arrow02_l_l"><a href="<%=.nor_url%>" class="m-btn m-back"><ers:label code='common_back_to_home' /></a></p>
		</div>
	</section>
<!-- container end -->
	</div>
<!-- container end -->

<!-- footer start-->
    <ers:partial file="footer.htm" siteType="PC" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
