﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.page_title %> | <%=.browser_title%></title>
	<meta name="description" content="<%=.Model.metadescription%>" />
	<meta name="keywords" content="<%=.Model.tagline%>" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/lp_layout.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" siteType="PC" />
<!-- header end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- container start -->
	<div class="l-container clearfix">

		<section class="l-contents">

		<section id="item_detail">
			<h3><ers:message code='lp.AppContent.Title' /> </h3>
			<ers:isEqual src=".CartModel.existBasketItem" value="true">
				<ers:isNotEqual src=".CartModel.regular_basket_in" value="true">
					<ers:partial file="lp_basket_ordinary.htm" partialModel=".CartModel" />
				</ers:isNotEqual>
				<ers:isEqual src=".CartModel.regular_basket_in" value="true">
					<ers:partial file="lp_basket_regular.htm" partialModel=".CartModel" />
				</ers:isEqual>
			</ers:isEqual>
			<!-- Purchase Info end -->
		</section>

		<section id="form_area">
			<h3><ers:message code='lp.RegInfo' /></h3>
			<table>
			<tbody>
				<tr>
					<th><%=.Model.item_code_name.item_name%></th>
					<td><%=.Model.lname%>&nbsp;<%=.Model.fname%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_lname.item_name%></th>
					<td><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_email.item_name%></th>
					<td><%=.Model.email%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_tel.item_name%></th>
					<td><%=.Model.tel%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_fax.item_name%></th>
					<td><%=.Model.fax%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_zip.item_name%></th>
					<td>〒<%=.Model.zip%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_pref.item_name%></th>
					<td><%=.Model.w_pref%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_address.item_name%></th>
					<td><%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></td>
				</tr>
				<tr>
					<th><%=.Model.item_code_birth.item_name%></th>
					<td><ers:formatDate src=".Model.birth" value="yyyy年MM月dd日" /></td>
				</tr>
                <tr>
                    <th><%=.Model.item_code_sex.item_name%></th>
                    <td><%=.Model.w_sex%></td>
                </tr>
			</tbody>
			</table>

			<ers:isEqual src=".Model.IsNotLogged" value="true">
				<!-- Password start -->
				<h3><ers:message code='lp.Password.Title' /></h3>
				<table>
				<tbody>
					<tr>
						<th><ers:label code='passwd' /></th>
						<td>******</td>
					</tr>
					<tr>
						<th><ers:message code='lp_secret_question' /></th>
						<td><%=.Model.w_ques%></td>
					</tr>
					<tr>
						<th><ers:message code='lp_secret_question_ans' /></th>
						<td><%=.Model.ans%></td>
					</tr>
				</tbody>
				</table>
			<!-- Password end -->
			</ers:isEqual>

			<!-- Pay Method start -->
			<h3><ers:message code='lp.DeliveryMethod.Title' /></h3>
			<table>
			<tbody>
				<tr>
					<th><ers:label code='deliv_method' /></th>
					<td><%=.Model.w_deliv_method%></td>
				</tr>
			</tbody>
			</table>

        <ers:isNotEqual src=".Model.HidePaymentAreaFromConfirm" value="true">
			<h3><ers:message code='lp.PaymentMethod.Title' /></h3>
			<table>
			<tbody>
				<ers:isEqual src=".Model.IsNonPaymentType" value="false">
				<tr>
					<th><ers:label code='pay' /></th>
					<td><%=.Model.w_pay%></td>
				</tr>
				</ers:isEqual>

				<ers:isEqual src=".Model.pay" value="1">
					<ers:isEqual src=".Model.card_id" value="">
					<tr>
						<th><ers:label code='card_type' /></th>
						<td><%=.Model.w_card%></td>
					</tr>
					<tr>
						<th><ers:label code='cardno' /></th>
						<td>************<%=.Model.cardno_u4%></td>
					</tr>
					<tr>
						<th><ers:message code='card_expiration_date' /></th>
						<td><%=.Model.validity_y%>年<%=.Model.validity_m%>月</td>
					</tr>
					<tr>
						<th><ers:label code='card_save' /></th>
						<td><%=.Model.w_card_save%></td>
					</tr>
					</ers:isEqual>

					<ers:isNotEqual src=".Model.card_id" value="">
					<tr>
						<th><ers:label code='card_type' /></th>
						<td><%=.Model.savedCardInfo.card_name%></td>
					</tr>
					<tr>
						<th><ers:label code='cardno' /></th>
						<td>************<%=.Model.savedCardInfo.card_no_u4%></td>
					</tr>
					<tr>
						<th><ers:message code='card_expiration_date' /></th>
						<td><%=.Model.savedCardInfo.validity_y%><ers:label code='common_year' /><%=.Model.savedCardInfo.validity_m%><ers:label code='common_month' /></td>
					</tr>
					</ers:isNotEqual>
				</ers:isEqual>

				<ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
				<tr>
					<th><ers:label code='conv_code' /></th>
					<td><%=.Model.w_conv_code%></td>
				</tr>
				</ers:isEqual>

			</tbody>
			</table>
        </ers:isNotEqual>

			<ers:isEqual src=".Model.pay" value="1">
				<ers:isNotEqual src=".Model.ListDelCreditCardInfo" value="">
				<table>
				<tbody>
				<ers:foreach src=".Model.ListDelCreditCardInfo" variable="DelCardInfo">
					<tr>
						<th><ers:message code='lp_del_card_info' /></th>
						<td><ers:label code='btn_delete' /></td>
					</tr>

					<tr>
						<th><ers:label code='card_type' /></th>
						<td><%=DelCardInfo.card_name%></td>
					</tr>

					<tr>
						<th><ers:label code='card_type' /></th>
						<td>************<%=DelCardInfo.card_no_u4%></td>
					</tr>

					<tr>
						<th><ers:message code='card_expiration_date' /></th>
						<td><%=DelCardInfo.validity_y%><ers:label code='common_year' /><%=DelCardInfo.validity_m%><ers:label code='common_month' /></td>
					</tr>
				</ers:foreach>
				</tbody>
				</table>
				</ers:isNotEqual>
			</ers:isEqual>
			<!-- Pay Method end -->

			<ers:isNotEqual src=".Model.HasQuestionnaires" value="false">
			<!-- Questionnaire start -->
			<h3><ers:message code='lp.QuestionList' /></h3>
			<table>
			<tbody>
				<ers:table name="questionnaireDetailItems" src=".Model.questionnaireDetailItems" variable="record" record_key="record_key">
				<tr>
					<th><%=record.item_name%></th>
					<td><%=record.value%></td>
				</tr>
				</ers:table>
			</tbody>
			</table>
			<!-- Questionnaire end -->
			</ers:isNotEqual>

			<div class="m-ERS_btn clearfix">
				<!-- Complete start -->
				<ers:IsEqual src=".Model.IsLandingPage" value="true">
				<form action="<%=.sec_url%>top/lp/asp/lp_complete.asp" method="post">
				</ers:IsEqual>

				<ers:IsNotEqual src=".Model.IsLandingPage" value="true">
				<form action="<%=.sec_url%>top/lp/asp/lp_upsell_complete.asp" method="post">
				</ers:IsNotEqual>

				<p class="g-fl_r arrow01_l_r"><input type="submit" value="<ers:message code='lp_apply_btn' />" id="landing_submit" name="landing_submit" class="m-btn m-next"/></p>
				</form>
				<!-- Complete end -->


			<ers:IsEqual src=".Model.IsLandingPage" value="true">
				<!-- Back start -->
				<form action="<%=.sec_url%>top/lp/asp/lp.asp#form_area" method="post">
				<input type="hidden" name="eck" value="2" />
				<p class="g-fl_l arrow02_l_l"><input type="submit" value="<ers:label code='common_return_back' />" class="m-btn m-back"/></p>
				</form>
				<!-- Back end -->
			</ers:IsEqual>

			<ers:IsNotEqual src=".Model.IsLandingPage" value="true">
				<!-- Back start -->
				<form action="<%=.sec_url%>top/lp/asp/lp_upsell.asp" method="post">
				<input type="hidden" name="eck" value="2" />
				<p class="g-fl_l arrow02_l_l"><input type="submit" value="<ers:label code='common_return_back' />" class="m-btn m-back"/></p>
				</form>
				<!-- Back end -->
			</ers:IsNotEqual>
			</div>

			<ers:partial variable=".Model.template_file_path" partialModel=".Model.objLpPage" siteType="PC" />
		</section>

	</div>
<!-- container end -->

<!-- footer start-->
    <ers:partial file="footer.htm" siteType="PC" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
