		<div class="ERS_amount">
			<h3 class="subtitle02">通常商品のお申し込み</h3>
			<table>
				<tr>
					<th class="sname">商品名</th>
					<th class="price">単価</th>
					<th class="amount"><label for="up_amount">数量</label></th>
					<th class="price">金額</th>
					<th class="act">取消</th>
				</tr>
    <ers:table src="partialModel.basketItems" name="basketItems" record_key="record_key" variable="item">
				<tr>
					<td class="sname clearfix">
					<img src="<%=.sec_url%>images/bimg/S<%=item.scode%>_01.jpg?width=74" alt="" id="img_for_view2" />
					<span><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>&<ers:outputQuery />"><%=item.sname%></a><br>
                    <%=item.attribute1%><ers:isNotEqual src="item.attribute2" value=""><ers:isNotEqual src="item.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=item.attribute2%><br />
					<%=item.contents%></span>
					<input type="hidden" name="<%=record_key%>key" value="<%=item.key %>" /></td>
					<td class="tankaList"><ers:formatCurrency src="item.price" />円</td>
					<td class="countList">
                        <input type="text" class="input_amount" id="amount" name="<%=record_key%>amount" value="<%=item.amount%>" />
                        <input type="hidden" class="input_sname" value="<%=item.sname%>" />
                        <input type="hidden" class="max_amount" value="<%=item.max_purchase_count%>" />
					</td>
					<td class="totalList"><ers:formatCurrency src="item.total" />円</td>
					<td class="deleteBtn">
						<a href="#" onclick="document.entry_form.del_key.value='<%=item.key%>';document.entry_form.submit();" class="btn02 gray_btn" >取消</a>
					</td>
				</tr>
	</ers:table>
			</table>
		</div>
<!-- amount end -->

<!-- total start -->
		<div class="table_total">
			<table>
				<tr>
					<th class="bg01">合計商品点数</th>
					<td class="ft13"><%=partialModel.amounttotal%>点</td>
				</tr>
				<tr>
					<th class="bg01">小計</th>
					<td><ers:formatCurrency src="partialModel.subtotal" />円</td>
				</tr>
<ers:isEqual src=".Model.enableTax" value="true">
				<tr>
					<th class="bg01">消費税</th>
					<td><ers:formatCurrency src="partialModel.tax" />円</td>
				</tr>
</ers:isEqual>
				<tr>
					<th>税込合計</th>
					<td><ers:formatCurrency src="partialModel.ordinary_total" />円</td>
				</tr>
			</table>
			<div class="recount clearfix">
				<h4><input type="submit" value="再計算" alt="" class="btn gray02_btn" id="recompute" /></h4>
			</div>
		</div>
<!-- total end-->


