<!-- amount start -->
<div class="ERS_amount">
	<h3 class="subtitle02">定期商品のお申し込み</h3>
	<h4>お届け間隔・初回配送日は「一括修正」または「修正」からご変更いただけます。</h4>
	<table>
		<tr>
			<th class="sname">商品名</th>
			<th class="term">お届け間隔</th>
			<th class="price">単価</th>
			<th class="amount"><label for="up_amount">数量</label></th>
			<th class="price">金額</th>
			<th class="act">取消</th>
		</tr>
		<ers:table src="partialModel.regularBasketItems" name="regularBasketItems" record_key="regular_record_key" variable="item">
		<tr>
			<td class="sname clearfix">
				<img src="<%=.sec_url%>images/bimg/S<%=item.scode%>_01.jpg?width=74" alt="" id="img_for_view2" />
				<span><a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=item.scode%>&<ers:outputQuery />"><%=item.sname%></a><br>
				<%=item.attribute1%><ers:isNotEqual src="item.attribute2" value=""><ers:isNotEqual src="item.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=item.attribute2%><br />
				<%=item.contents%></span>
				<input type="hidden" name="<%=regular_record_key%>regular_key" value="<%=item.regular_key %>">
				<input type="hidden" name="<%=regular_record_key%>scode" value="<%=item.scode %>">
				<input type="hidden" name="<%=regular_record_key%>send_ptn" value="<%=item.send_ptn %>">
			</td>
			<td class="dayList">
				<ers:isEqual src="item.send_ptn" value="1">
				<%=item.ptn_interval_month %>ヶ月ごと<%=item.ptn_day_name %>
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				</ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="2">
				<%=item.ptn_interval_month %>ヶ月ごと<%=item.ptn_interval_week %>週目の<%=item.ptn_weekday_name %>
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week %>">
				<input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday %>">
				</ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="3">
				<%=item.ptn_interval_day %>日ごと
				<input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day %>">
				<input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				</ers:isEqual>

				<span class="fixBtn">
				<ers:isEqual src="item.send_ptn" value="1"><a href="" class="regular_month_modify btn02 gray_btn">修正</a></ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="2"><a href="" class="regular_week_modify btn02 gray_btn">修正</a></ers:isEqual>
				<ers:isEqual src="item.send_ptn" value="3"><a href="" class="regular_day_modify btn02 gray_btn">修正</a></ers:isEqual>
				</span>
			</td>
			<td class="tankaList">
				<ers:isEqual src="item.send_ptn" value="" comment="通常商品用表示"><ers:formatCurrency src="item.price"/>円</ers:isEqual>
				<ers:isNotEqual src="item.send_ptn" value="" comment="定期商品用表示">
				<ers:isEqual src="item.regular_price" variable="item.price"><ers:formatCurrency src="item.price"/>円</ers:isEqual>
				<ers:isNotEqual src="item.regular_price" variable="item.price">
				<span style="font-size:smaller;">初回価格</span><span class="regular_first_price"><ers:formatCurrency src="item.price"/>円</span><br />
				<span style="font-size:smaller;">2回目より</span><span class="regular_price"><ers:formatCurrency src="item.regular_price"/>円</span>
				</ers:isNotEqual>
				</ers:isNotEqual>
			</td>
			<td class="countList">
				<input class="input_amount" type="text" id="amount" name="<%=regular_record_key%>amount" value="<%=item.amount%>" />
				<input type="hidden" class="input_sname" value="<%=item.sname%>" />
				<input type="hidden" class="max_amount" value="<%=item.max_purchase_count%>" />
			</td>
			<td class="totalList">
				<ers:isEqual src="item.send_ptn" value="" comment="通常商品用表示"><ers:formatCurrency src="item.total"/>円</ers:isEqual>
				<ers:isNotEqual src="item.send_ptn" value="" comment="定期商品用表示">
				<ers:isEqual src="item.regular_price" variable="item.price"><ers:formatCurrency src="item.total"/>円</ers:isEqual>
				<ers:isNotEqual src="item.regular_price" variable="item.price">
				<span style="font-size:smaller;">初回価格</span><span class="regular_first_price"><ers:formatCurrency src="item.total"/>円</span><br />
				<span style="font-size:smaller;">2回目より</span><span class="regular_price"><ers:formatCurrency src="item.regular_total"/>円</span>
				</ers:isNotEqual>
				</ers:isNotEqual>
			</td>
			<td class="deleteBtn">
				<a href="#" onclick="document.entry_form.del_regular_key.value='<%=item.regular_key%>';document.entry_form.submit();" class="btn02 gray_btn">取消</a>
			</td>
		</tr>
		</ers:table>
	</table>
</div>
<!-- amount end -->


<!-- total start -->
<div class="table_total">
	<table>
		<tr>
			<th class="bg01">合計商品点数</th>
			<td><%=partialModel.regular_amounttotal%>点</td>
		</tr>
		<tr>
			<th class="bg01">小計</th>
			<td>
		        <ers:isEqual src="partialModel.regular_subtotal" variable="partialModel.regular_subtotal_next"><ers:formatCurrency src="partialModel.regular_subtotal">円</ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_subtotal" variable="partialModel.regular_subtotal_next">
		        <span style="font-size:smaller;">初回価格</span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_subtotal">円</span><br/>
		        <span style="font-size:smaller;">2回目より</span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_subtotal_next">円</span>
		        </ers:isNotEqual>
			</td>
		</tr>
		<ers:isEqual src=".Model.enableTax" value="true">
		<tr>
			<th class="bg01">消費税</th>
			<td>
		        <ers:isEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next"><ers:formatCurrency src="partialModel.regular_tax">円</ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next">
		        <span style="font-size:smaller;">初回価格</span>&nbsp;&nbsp;<span class="regular_first_price"><ers:formatCurrency src="partialModel.regular_tax">円</span><br/>
		        <span style="font-size:smaller;">2回目より</span>&nbsp;&nbsp;<span class="regular_price"><ers:formatCurrency src="partialModel.regular_tax_next">円</span>
		        </ers:isNotEqual>
		    </td>
		</tr>
		</ers:isEqual>
		<tr>
			<th>税込合計</th>
			<td>
		        <ers:isEqual src="partialModel.regular_total" variable="partialModel.regular_total_next"><strong><ers:formatCurrency src="partialModel.regular_total">円</strong></ers:isEqual>
		        <ers:isNotEqual src="partialModel.regular_total" variable="partialModel.regular_total_next">
		        <span style="font-size:smaller;">初回価格</span>&nbsp;&nbsp;<span class="regular_first_price"><strong><ers:formatCurrency src="partialModel.regular_total">円</strong></span><br/>
		        <span style="font-size:smaller;">2回目より</span>&nbsp;&nbsp;<span class="regular_price"><strong><ers:formatCurrency src="partialModel.regular_total_next">円</strong></span>
		        </ers:isNotEqual>
			</td>
		</tr>
	</table>
	<div class="recount clearfix">
		<h4><input type="submit" value="再計算" alt="" class="btn gray02_btn" id="regular_recompute" /></h4>
	</div>
</div>
<!-- total end -->

<!-- dialog for month start -->
<div id="regular_month_dialog" title="配送情報の変更">
	<select class="w_40" name="change_ptn_month_interval_month" id="change_ptn_month_interval_month">
<ers:foreach src="partialModel.ListPtnIntervalMonth" variable="entity">
		<option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
	</select>&nbsp;ヶ月ごとの&nbsp;
	<select class="w_60" name="change_ptn_day" id="change_ptn_day">
<ers:foreach src="partialModel.ListPtnDay" variable="entity">
		<option value="<%=entity.value%>"><%=entity.name%></option>
</ers:foreach>
	</select>
</div>
<!-- dialog for month start -->

<!-- dialog for week start -->
	<div id="regular_week_dialog" title="配送情報の変更">
		<select class="w_40" name="change_ptn_week_interval_month" id="change_ptn_week_interval_month">
<ers:foreach src="partialModel.ListPtnIntervalMonth" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
		</select>&nbsp;ヶ月ごと&nbsp;
		<select class="w_40" name="change_ptn_interval_week" id="change_ptn_interval_week">
<ers:foreach src="partialModel.ListPtnIntervalWeek" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.value%></option>
</ers:foreach>
		</select>&nbsp;週目の&nbsp;
		<select class="w_40" name="change_ptn_weekday" id="change_ptn_weekday">
<ers:foreach src="partialModel.ListPtnWeekday" variable="entity">
		    <option value="<%=entity.value%>"><%=entity.name%></option>
</ers:foreach>
		</select>
	</div>
<!-- dialog for week start -->

<!-- dialog for day start -->
	<div id="regular_day_dialog" title="配送情報の変更">
		<h4><img alt="" src="<%=.sec_url%>images/sttl_detail03.gif"></h4>
		<p>
			<select id="change_ptn_interval_day" class="w_100">
<ers:foreach src="partialModel.ListPtnIntervalDay" variable="entity">
							<option value="<%=entity.value%>"><%=entity.value%>日ごと</option>
</ers:foreach>
			</select>
		</p>

		<h4><img alt="" src="<%=.sec_url%>images/sttl_detail02.gif"></h4>
		<p>
			<input type="radio" checked="checked" value="0" name="change_first_time" id="shortest"><label for="shortest">最短でお届け</label><br>
			<input type="radio" value="1" name="change_first_time" id="fixed"><label for="fixed">配送指定日を選択する</label><br />
			<input type="text" value="" class="cal" id="datepicker2" size="12" name="change_next_date">
<script type="text/javascript">
$(function(){
　$("#datepicker").datepicker();
});
</script>
		</p>
	</div>
<!-- dialog for day start -->
