<script type="text/javascript">
    $(document).ready(function () {
        $("#ERS_ranking").load('<%=.dynamic_url%>top/detail/asp/daily_ranking.asp');
    });
</script>

<section id="ERS_ranking" class="clearfix">
</section>