<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>エラー ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/error.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- title start -->
			<h2>エラー</h2>
<!-- title end -->

<!-- error start -->
		<div class="ERS_error clearfix">
			<p>下記エラーをご確認下さい。<br /><span><ers:dispError src="All" /></span></p>
		</div>
<!-- error end -->

<ers:isNotEqual src=".returnUrl" value="none">
<ers:isNotEqual src=".Model.isNoBackTo" value="true">
<ers:isEqual src=".returnUrl" value="">
<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center"><a href="javascript:history.back()" class="btn center_btn">前の画面に戻る</a></p>
			</div>
<!-- back end -->
</ers:isEqual>
</ers:isNotEqual>

<ers:isNotEqual src=".returnUrl" value="">
<!-- back start -->
			<div class="ERS_btn clearfix">
				<form method="post" action="<%=.returnUrl%>">
		                <input type="hidden" name="eck" value="1" />
				<p class="center"><input type="submit" value="前の画面に戻る" class="btn center_btn" /></p>
				</form>
			</div>
<!-- back end -->
</ers:isNotEqual>
</ers:isNotEqual>

<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/error_ssl.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:isError src="exception_detail">
		<p style="background-color:White;white-space:nowrap;"><ers:dispError src="exception_detail" /></p>
</ers:isError>
</body>
</html>
