	<footer>
		<div class="inner">
			<ul class="clearfix">
				<li><a href="<%=.nor_url%>agreement.html">会員規約</a></li>
				<li><a href="<%=.nor_url%>privacy.html">プライバシーポリシー</a></li>
				<li><a href="<%=.nor_url%>sct.html">特定商取引法に基づく表示</a></li>
				<li><a href="<%=.nor_url%>sitemap.html">サイトマップ</a></li>
				<li class="none"><a href="<%=.sec_url%>top/quest/asp/quest1.asp">お問い合わせ</a></li>
			</ul>
			<p>copyright&copy;2014 IVP co.,Ltd all rights reserved.</p>
		</div>
	</footer>

<ers:MiniProfiler comment="Generate tags for displaying the profile by MiniProfier" />
