<div id="ERS_globalnavi">
	<ul class="clearfix">
		<li><a href="<%=.nor_url%>top/search/asp/list.asp"><img src="<%=.nor_url%>images/gnavi_itemlist.jpg" alt="" class="change_opacity" /></a></li>
	</ul>
</div>
<!-- precious message start -->
<ers:isNotEqual src=".important_news.list_count" value="0">
<div id="ERS_premessage">
		<h2><img src="<%=.nor_url%>images/txt_premessage.gif" alt="" /></h2>
            <ers:foreach src=".important_news.important_news_list" variable="news_list" roopcounter="n">
                <ers:isEqual src="news_list.link_url" value="">
			        <p><%=news_list.entry_date%>&nbsp;
<!--                    [<%=news_list.pc_title %>]&nbsp;
-->                    
					<ers:nonencode src="news_list.pc_contents" />
                    <ers:isEqual src="news_list.new_status" value="1">
                        <img src="<%=.nor_url%>images/new.gif" alt="" />&nbsp;
                    </ers:isEqual>
                    </p>
                </ers:isEqual>

                <ers:isNotEqual src="news_list.link_url" value="">
			        <p><%=news_list.entry_date%>&nbsp;
<!--                    <a href="<%=news_list.link_url%>">[<%=news_list.pc_title %>]</a>&nbsp;
-->
					<ers:nonencode src="news_list.pc_contents" />
                    <ers:isEqual src="news_list.new_status" value="1">
                        <img src="<%=.nor_url%>images/new.gif" alt="" />&nbsp;
                    </ers:isEqual>
                    </p>
                </ers:isNotEqual>
            </ers:foreach>
</div>
</ers:isNotEqual>
<!-- precious message end -->
