	<header>
		<div class="inner clearfix">
			<h1><a href="<%=.nor_url%>"><img src="<%=.dynamic_url%>images/logo.png" alt="ERS" /></a></h1>
			<nav>
				<ul class="bottom clearfix">
					<li class="list"><a href="<%=.nor_url%>top/search/asp/list.asp"><ers:message code="pageTitle.ItemList" /></a></li>
					<li class="mypage"><a href="<%=.sec_url%>top/member/asp/"><ers:message code="pageTitle.MyPage" /></a></li>
					<li class="cart"><a href="<%=.sec_url%>top/cart/asp/cart.asp"><ers:message code="pageTitle.ShoppingCart" /></a></li>
					<li class="wish list2"><a href="<%=.sec_url%>top/cart/asp/wishlist.asp"><ers:message code="pageTitle.WishList" /></a></li>
                    <li><ers:partial file="lang.htm" partialModel=".langModel" /></li>
				</ul>
				<p class="tel"><img src="<%=.dynamic_url%>images/tel.png" alt="Tel.00-0000-0000　月～金 10:00～19:00" /></p>
			</nav>
		</div>
	</header>