<form method="POST" action="<%=.nor_url%>" id="langchange" name="langchange" >
	<select name="lang" id="lang" class="w_100" onchange="javascript:this.form.submit();">
		<ers:foreach src=".langModel.langList" variable="option">
		    <option value="<%=option.culture%>" <ers:isEqual src="option.culture" variable=".langModel.lang"> selected="selected" </ers:isEqual>><%=option.lang%></option>
		</ers:foreach>
	</select>
</form>