<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>ログイン ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/member_index.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->


<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<a href="<%=.nor_url%>">HOME</a>＞&nbsp;ログイン画面
			</div>
<!-- breadcrumb navigatione end -->


		<form method="post" action="login.asp" id="form1" name="form1">

<!-- title start -->
			<h2>ログイン</h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->
		<article>
			<h3>登録されているメールアドレスとパスワードをご入力いただき、[ログイン]ボタンを押してください。</h3>
			<div class="table_box">
				<dl class="clearfix">
					<dt class="<ers:isError src="common">ERS_IVP_caution</ers:isError>"><label for="email_pc"><span class="ERS_IVP_color">*</span>メールアドレス<br />(半角英数字)</label></dt>
					<dd class="col_02"><input type="text" id="email_pc" name="email" value="<%=.sideModel.cookie_email %>" /><br />
                    <input type="checkbox" name="email_ck" id="email_ck" value="1" <ers:isEqual src=".sideModel.email_chk" value="true">checked="checked"</ers:isEqual>><label for="email_ck">メールアドレスを記憶する</label></dd>
				</dl>
				<dl class="clearfix">
					<dt class="<ers:isError src="common"> ERS_IVP_caution</ers:isError>"><label for="password1"><span class="ERS_IVP_color">*</span>パスワード<br />(半角英数字 6～10文字)</label></dt>
					<dd class="end"><input type="password" id="password1" name="passwd" value="" /></dd>
				</dl>
			</div>
		</article>
<!-- table end -->

<div class="bandn">
<!-- next start -->
		<div class="ERS_btn clearfix">
			<p><a href="<%=.sec_url%>top/member/asp/passrim1.asp" class="btn back">パスワードを忘れた方はこちら</a></p>
			<p><input type="submit" value="ログイン" class="btn next"/></p>
		</div>
<!-- next end -->

<br class="release_b" />
</div>

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

		</form>

<!-- back start -->
			<div class="ERS_btn clearfix">
				<p class="center"><a href="<%=.nor_url%>" class="btn center_btn">ホームへ戻る</a></p>
			</div>
<!-- back end -->


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/login.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->

</body>
</html>
