	<h3 class="subtitle02">お届け先・お支払い方法一覧</h3><br>
　　　　<p>一回の注文であっても、商品ごとに配送日を分けた場合は注文番号も分かれますのでご注意ください。</p>
	<div class="table_box">
		<dl class="clearfix">
			<dt>注文番号</dt>
			<dd><%=.Model.d_no%></dd>
		</dl>
		<dl class="clearfix">
			<dt>ご注文日</dt>
			<dd><ers:formatDate src=".Model.indate" value="yyyy年M月d日" /></dd>
		</dl>
		<dl class="clearfix">
			<dt>お届け先</dt>
			<dd>
                〒<%=.Model.zip%><br/ ><%=.Model.w_pref%>&nbsp;<%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%><br /><%=.Model.lname%>&nbsp;<%=.Model.fname%>
            </dd>
		</dl>
		<dl class="clearfix">
			<dt>ご連絡先</dt>
			<dd><%=.Model.tel%></dd>
		</dl>
		<dl class="clearfix">
			<dt>お届け希望日</dt>
			<dd><ers:formatDate src=".Model.senddate" value="yyyy年M月d日" /><%=.Model.w_senddate_no_select%></dd>
		</dl>
		<dl class="clearfix">
			<dt>お届け希望時間帯</dt>
			<dd><%=.Model.w_sendtime%></dd>
		</dl>
		<dl class="clearfix">
			<dt>お支払い方法</dt>
			<dd><%=.Model.w_pay%></dd>
		</dl>
		<dl class="clearfix">
			<dt>ショップからの連絡事項</dt>
			<dd><ers:multiLine src=".Model.usr_memo" /></dd>
		</dl>

        <ers:isEqual src=".Model.order_status" value="30"> 
            <ers:isNotEqual src=".Model.delivery" value=""> 
				<dl class="clearfix">
					<dt>配送会社問い合わせ</dt>
					<dd>
                        <%=.Model.delivery%><br />
                <ers:isNotEqual src=".Model.url" value="">
						下記のホームページで、お客様の商品配送状況を確認していただけます。<br />
					    ※<a href="<%=.Model.url%>" target="_blank"><%=.Model.url%></a>
                </ers:isNotEqual>
					</dd>
				</dl>
            </ers:isNotEqual>
        </ers:isEqual>
	</div>
