<div class="ERS_amount">
	<h3 class="subtitle02">ご注文商品一覧</h3>
	<table>
		<tr>
			<th class="sname">商品名</th>
<ers:isEqual src=".Model.d_no" value="">
			<th class="send">お届け日/時間</th>
			<ers:isNotEqual src=".Model.cart.regularBasketItems.Count" value="0"> <th class="term">定期商品お届け間隔 </th></ers:isNotEqual>
</ers:isEqual>
			<th class="price">単価</th>
			<th class="amount">数量</th>
			<th class="price">金額</th>
		</tr>

		<ers:foreach src=".Model.orderRecords" variable="record">
			<tr>
				<td class="sname clearfix">
		<ers:isEqual src="record.order_type" value="Subscription"><div class="regular">定期購入商品</div></ers:isEqual>
					<a href="<%=.nor_url%>top/detail/asp/detail.asp?scode=<%=record.scode%>" target="_blank"><%=record.sname%></a>
                    <%=record.attribute1%><ers:isNotEqual src="record.attribute2" value=""><ers:isNotEqual src="record.attribute1" value="">／</ers:isNotEqual></ers:isNotEqual><%=record.attribute2%>
<ers:isNotEqual src=".Model.d_no" value="">
				<span class="status">配送ステータス：<%=record.w_order_status%>
				<ers:isNotEqual src="record.sendno" value=""><br />お荷物問合せ番号：<%=record.sendno%></ers:isNotEqual></span>
</ers:isNotEqual>

				</td>
<ers:isEqual src=".Model.d_no" value="">
				<td class="dayList">

<ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示">
    <ers:isEqual src=".Model.firstTimeOrdinary" value="Shortest">
					    最短でお届け
    </ers:isEqual>
     <ers:isEqual src=".Model.firstTimeOrdinary" value="WithRegular">
					    買い物かごの定期初回分とまとめる
    </ers:isEqual>
   <ers:isNotEqual src=".Model.senddate" value="">
					<ers:formatDate src=".Model.senddate" value="yyyy年M月d日" />
    </ers:isNotEqual>
</ers:isEqual>

<ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
    <ers:isEqual src="record.next_date" value="">
					    最短でお届け
    </ers:isEqual>
    <ers:isNotEqual src="record.next_date" value="">
					    <ers:formatDate src="record.next_date" value="yyyy年M月d日" />
    </ers:isNotEqual>
</ers:isNotEqual>
<br/>
		<%=record.w_sendtime %>
				</td>
        <ers:isNotEqual src=".Model.cart.regularBasketItems.Count" value="0"> 
			<td class="align_l teikiList">
		        <ers:isEqual src="record.send_ptn" value="1">
						        <%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_day_name %>
		        </ers:isEqual>
		        <ers:isEqual src="record.send_ptn" value="2">
						        <%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_interval_week %>週目の<%=record.ptn_weekday_name %>曜日
		        </ers:isEqual>
		        <ers:isEqual src="record.send_ptn" value="3">
						        <%=record.ptn_interval_day %>日ごと
		        </ers:isEqual>
			</td>
        </ers:isNotEqual>
</ers:isEqual>
				<td class="tankaList">
	                <ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示"><ers:formatCurrency src="record.price"/>円</ers:isEqual>
	                <ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
                    <ers:isEqual src=".Model.d_no" value="">
	                    <ers:isEqual src="record.price" variable="record.regular_price"><ers:formatCurrency src="record.price"/>円</ers:isEqual>
	                    <ers:isNotEqual src="record.price" variable="record.regular_price">
	                        <span class="regular_first_price">初回価格<ers:formatCurrency src="record.price"/>円</span><br />
	                        <span class="regular_price">2回目より<ers:formatCurrency src="record.regular_price"/>円</span>
	                    </ers:isNotEqual>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.d_no" value="">
                        <ers:formatCurrency src="record.price"/>円
                    </ers:isNotEqual>
	                </ers:isNotEqual>
				</td>
				<td class="countList"><%=record.amount%></td>
				<td class="totalList">
	                <ers:isEqual src="record.order_type" value="Usually" comment="通常商品用表示"><ers:formatCurrency src="record.total"/>円</ers:isEqual>
	                <ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
                    <ers:isEqual src=".Model.d_no" value="">
	                <ers:isEqual src="record.price" variable="record.regular_price"><ers:formatCurrency src="record.total"/>円</ers:isEqual>
	                <ers:isNotEqual src="record.price" variable="record.regular_price">
	                <span class="regular_first_price">初回価格<ers:formatCurrency src="record.total"/>円</span><br />
	                <span class="regular_price">2回目より<ers:formatCurrency src="record.regular_total"/>円</span>
	                </ers:isNotEqual>
                    </ers:isEqual>
                    <ers:isNotEqual src=".Model.d_no" value="">
                        <ers:formatCurrency src="record.total"/>円
                    </ers:isNotEqual>
	                </ers:isNotEqual>
				</td>
			</tr>
			</ers:foreach>
	</table>
</div>
