		<div class="table_total">
			<table>
				<tr>
					<th>合計商品点数</th>
					<td><ers:formatCurrency src=".CartModel.amounttotal_all_item"/>点</td>
				</tr>
				<tr>
					<th>小計</th>
					<td><ers:formatCurrency src=".Model.order_subtotal"/>円</td>
				</tr>
				<tr>
					<th>送料</th>
					<td><ers:formatCurrency src=".Model.disp_carriage"/>円</td>
				</tr>
<ers:isNotEqual src=".Model.etc" value="0"> 
				<tr>
					<th><%=.Model.w_etc%></th>
					<td><ers:formatCurrency src=".Model.etc"/>円</td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.p_service" value="0"> 
				<tr>
					<th>ご利用ポイント</th>
					<td>-<ers:formatCurrency src=".Model.p_service"/>円</td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.coupon_discount" value="0"> 
				<tr>
					<th>クーポン値引き</th>
					<td>-<ers:formatCurrency src=".Model.coupon_discount"/>円</td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.order_tax" value="0"> 
				<tr>
					<th>消費税</th>
					<td><ers:formatCurrency src=".Model.order_tax"/>円</td>
				</tr>
</ers:isNotEqual>
				<tr>
					<th>税込合計</th>
					<td><strong><ers:formatCurrency src=".Model.order_total"/>円</strong></td>
				</tr>
			</table>
			<p>※お届け日が違う場合は、配送ごとのご請求となります。</p>
		</div>
