    <table class="wide_type">
		<tr>
			<th>注文番号</th>
			<th>ご注文日</th>
			<th>金額</th>
			<th>対応区分</th>
			<th>注文詳細</th>
		</tr>
        <ers:foreach variable="dtl" src=".Model.list" roopcounter="item_cnt">
			<tr>
				<td><%=dtl.d_no%></td>
			    <td><ers:formatDate src="dtl.intime" value="yyyy年M月d日" /></td>
            	<td><ers:formatCurrency src="dtl.total" />円</td>
                <td>
                    <%=dtl.w_order_status2%>
                </td>
				<td class="detail">
				<form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
					<input type="submit" value="詳細" class="btn02 gray_btn" />

					<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
					<input type="hidden" name="d_no" value="<%=dtl.d_no%>" />
				</form>
				</td>
			</tr>
        </ers:foreach>
	</table>
