<ers:isEqual src=".useSiteCatalystPC" value="true">
<ers:isNotEqual src=".Model.isKanshiFlgForSiteCatlystPc" value="true">
	<!-- SiteCatalyst code version: H.24.4.
	Copyright 1996-2012 Adobe, Inc. All Rights Reserved
	More info available at http://www.omniture.com -->
	<script language="JavaScript" type="text/javascript" src="<%=.dynamic_url%>common/js/s_code.js"></script>
	<script language="JavaScript" type="text/javascript"><!--
	/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
	var s_code=s.t();if(s_code)document.write(s_code)//--></script>
	<!-- End SiteCatalyst code version: H.24.4. --> 
</ers:isNotEqual>
</ers:isEqual>
