<script type="text/javascript">
    $(document).ready(function () {
        var history_gcode = ErsLib.getPageInfo().objCookieList["history_gcode"];
        $("#ERS_view_history").load('<%=.dynamic_url%>top/detail/asp/viewHistory.asp?history_gcode=' + history_gcode + '&ignore_gcode=<%=.Model.gcode%>');
    });
</script>

<section id="ERS_view_history" class="clearfix">
</section>