﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code="operator.index.Title"/></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>
	    <tr valign="top">
		    <td id="MiddleZone">
			
                <!-- main content start -->
                <div class="ManageInformation">
        
                    <h2><ers:message code="operator.index.MManagementTitle" value=".Model.PageLabel"/> </h2>

                    <ers:dispError />

                    <table class="SearchResult">
                        <tr>
		                    <th class="w_150"><ers:label code="ag_name" /></th>
		                    <th class="w_150"><ers:label code="id" /></th>
<ers:isEqual src=".Model.authority" value="OP">
                            <th class="w_150"><ers:label code="cts_login_t.ag_type" /></th>
</ers:isEqual>
		                    <th class="w_150"><ers:label code="intime" /></th>
		                    <th class="w_150"><ers:label code="utime" /></th>
		                    <th class="w_100"><ers:label code="manage" /></th>
	                    </tr>
<ers:foreach src=".Model.operatorList" variable="record">
			                <tr>
                                <td><%=record.ag_name%></td>
                                <td><%=record.user_id%></td>
    <ers:isEqual src=".Model.authority" value="OP">
                                <td><%=record.agent%></td>
    </ers:isEqual>
				                <td><ers:formatDate src="record.intime" /></td>
                                <td><ers:formatDate src="record.utime" /></td>
                                <td>
    <ers:isEqual src=".Model.authority" value="OP">
                                    <form method="post" action="<%=.sec_url%>operator/manage_operators">
    </ers:isEqual>
    <ers:isEqual src=".Model.authority" value="SV">
                                    <form method="post" action="<%=.sec_url%>operator/manage_supervisors">
    </ers:isEqual>
                                                    <nobr>
                                            <input type="hidden" name="id" value="<%=record.id%>" />
                                            <input type="submit" class="form_btn" name="modify" value="<ers:label code='common_modify'/>" />
                                            <input type="submit" class="form_btn" name="delete" value="<ers:label code='common_delete'/>" onclick="return confirm('<ers:message code='common.DelConfirmMsg'/>');" />
                                        </nobr>
                                    </form>
                                </td>
			                </tr>
</ers:foreach>
                    </table>
    
                    <h3>
<ers:isEqual src=".Model.modify" value="true">
		                    <ers:message code="operator.index.MEditTitle" value=".Model.PageLabel"/>    
</ers:isEqual>
<ers:isNotEqual src=".Model.modify" value="true">
		                    <ers:message code="operator.index.MRegTitle" value=".Model.PageLabel"/> 
</ers:isNotEqual>
                    </h3>
                    
<ers:isEqual src=".Model.authority" value="OP">
                        <form method="post" action="<%=.sec_url%>operator/manage_operators">
</ers:isEqual>
<ers:isEqual src=".Model.authority" value="SV">
                        <form method="post" action="<%=.sec_url%>operator/manage_supervisors">
</ers:isEqual>
                    
                        <table class="Regist">
		                    <tr>
			                    <th><ers:label code="ag_name" /></th>
			                    <td>
				                    <input name="ag_name" type="text" maxlength="100" value="<%=.Model.ag_name%>" />
			                    </td>
		                    </tr>
		                    <tr>
			                    <th><ers:label code="id" /></th>
			                    <td>
				                    <input name="user_id" type="text" maxlength="50" value="<%=.Model.user_id%>" />
			                    </td>
		                    </tr>
		                    <tr>
			                    <th><ers:label code="password1" /> </th>
			                    <td>
				                    <input name="passwd" type="text" maxlength="50" value="<%=.Model.passwd%>" />
			                    </td>
		                    </tr>
<ers:isEqual src=".Model.authority" value="OP">
		                    <tr>
			                    <th><ers:label code="cts_login_t.ag_type" /></th>
			                    <td>
                                    <select id="ag_type" name="ag_type">
						                <option value=""></option>
    <ers:foreach variable="option" src=".Model.ctsAgetypeList">
						                    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ag_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
    </ers:foreach>
						            </select>
			                    </td>
		                    </tr>
</ers:isEqual>
		                    <tr>
			                    <td colspan="2" class="Button">
                                    <input type="hidden" name="id" value="<%=.Model.id%>" />
                                    <input type="hidden" name="authority" value="<%=.Model.authority%>" />
                                    <input type="hidden" name="active" value="<%=.Model.active%>" />
<ers:isEqual src=".Model.modify" value="true">
                                    <input type="hidden" name="done" value="1" />
                                    <input type="submit" class="form_btn" name="modify" value="<ers:label code='common_modify'/>" onclick="return confirm('<ers:message code='cts.information.ModifyMsg'/>');" />
    <ers:isNotEqual src=".Model.cancel" value="true">
                                    <input type="submit" class="form_btn" name="cancel" value="<ers:label code='common_cancel'/>" />
    </ers:isNotEqual>
</ers:isEqual>
<ers:isNotEqual src=".Model.modify" value="true">
                                    <input type="hidden" name="done" value="1" />
                                    <input type="submit" class="form_btn" name="regist" value="<ers:label code='common_register'/>" onclick="return confirm('<ers:message code='common.RegisterMsg1'/>');" />
</ers:isNotEqual>
			                    </td>
		                    </tr>
	                    </table>
                    </form>
                </div>
                <!-- main content end -->

            </td>
        </tr>
	    <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>

</body>
</html>

