@charset 'UTF-8';

#suggest
{
  font-size: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  width: 72%;
  border: 1px solid #ccf;
  background-color: #fff;
}

#suggest div
{
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

#suggest div.select
{
    /* キー上下で選択した場合のスタイル */
  color: #fff;
  background-color: #36f;
}

#suggest div.over
{
    /* マウスオーバ時のスタイル */
  background-color: #9cf;
}

#left_suggest
{
  font-size: 119%;
  position: absolute;
  width: 260px;
  border: 2px solid #ccf;
  background-color: #fff;
}

#left_suggest div
{
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

#left_suggest div.select
{
    /* キー上下で選択した場合のスタイル */
  color: #fff;
  background-color: #36f;
}

#left_suggest div.over
{
    /* マウスオーバ時のスタイル */
  background-color: #9cf;
}
