﻿
<div class="List"> 
	<div class="MemberDetail">						 
		<h3><ers:message code='search.ctsClientInfo.Title'></h3>
		<ers:isNotEqual src=".Model.orderstatus" value="true" />
 		<table class="Detail">
			<tr>
				<th colspan="8" class="DetailHead"><ers:message code='search.ctsClientInfo.RegInfo'/></th>
			</tr>
			<tr>
				<th><ers:label code='phonetic_guide'></th>
				<td><%=.Model.lnamek%> <%=.Model.fnamek%></td>
				<th><ers:label code='given_name'></th>
				<td><%=.Model.lname%> <%=.Model.fname%> </td>
				<th><ers:label code='tel' /></th>
				<td><%=.Model.tel%></td>
				<th><ers:label code='common_address' /></th>
				<td><%=.Model.address%><%=.Model.taddress%></td>
			</tr>
			<tr>
				<th><ers:label code='birth' /></th>
				<td><ers:formatDate src=".Model.birth" /></td>
				<th><ers:label code='sex' /></th>
				<td><ers:message src=".Model.w_sex"/></td>
				<th><ers:label code='enq_progress' /></th>
				<td colspan="3"><ers:isEqual src=".Model.deleted" value="NotDeleted"><ers:label code='member'></ers:isEqual><ers:isEqual src=".Model.deleted" value="Deleted"><span style="color:Red;"><ers:message code='inqmember.ctsClientInfoView.unscrbd'/></span></ers:isEqual></td>
			</tr>
			<tr>
				<th><ers:label code='cust_note'></th>
				<td colspan="7"><ers:multiLine src=".Model.memo" /></td>
			</tr>
            <tr>
                <th><ers:label code='cust_points'></th>
                <td colspan="7"><%=.Model.point%></td>
            </tr>
			<ers:isNotEqual src=".Model.recordCount" value="0">
			<tr>
				<th colspan="8" class="DetailHead"><ers:message code='search.ctsClientInfo.ShipInfo'></th>
			</tr>
			</ers:isNotEqual> 
			<ers:foreach src=".Model.shippingList" variable="record">	
			<tr>
				<th><ers:label code='phonetic_guide'> </th>
				<td><%=record.add_lnamek%> <%=record.add_fnamek%></td>
				<th><ers:label code='given_name'></th>
				<td><%=record.add_lname%> <%=record.add_fname%></td>
				<th><ers:label code='tel' /></th>
				<td><%=record.add_tel%></td>
				<th><ers:label code='common_address' /></th>
				<td><%=record.add_address%></td>
			</tr>
			</ers:foreach>	 
		</table>
		</ers:isNotEqual>

		<ers:isEqual src=".Model.orderstatus" value="true" />
 		<table class="Detail">
			<tr>
				<th><ers:label code='name_kana'></th>
				<td><%=.Model.lnamek%> <%=.Model.fnamek%></td>
				<th><ers:label code='given_name'></th>
				<td><%=.Model.lname%> <%=.Model.fname%> </td>
			</tr>
			<tr>
				<th><ers:label code='tel' /></th>
				<td><%=.Model.tel%></td>
				<th><ers:label code='common_address' /></th>
				<td>〒<%=.Model.zip%>&nbsp;<%=.Model.pref_name%>&nbsp;<%=.Model.address%>&nbsp;<%=.Model.taddress%></td>
			</tr>
		</table>

		<ers:partial file="../search/paymethod.htm"/>

		<ers:partial file="../search/shipping.htm"/>
			
		<ers:partial file="../search/prodlist.htm"/>

		<ers:partial file="../search/total.htm"/>

		</ers:isEqual>
	</div> 
</div> 
