﻿<div class="SearchResult">
	<div class="List"> 
		<div class="MemberDetail">			 
            <table class="Detail" style="width:700px;" >
	            <tr>
		            <th><ers:label code='id' /></th>
		            <th><ers:label code='source' /></th>
		            <th><ers:label code='enq_casename' /></th>
		            <th><ers:label code='num_time' /></th>
		            <th><ers:label code='creation_date' /></th>
		            <th><ers:label code='latest_date' /></th>
		            <th><ers:label code='responsible' /></th>
	            </tr>
                <ers:foreach src=".Model.inquiryList" variable="record">
	            <tr>

	                <td>
                    <a href="<%=.sec_url%>inquiry?case_no=<%=record.case_no%>&mcode=<%=record.mcode%>"><%=record.case_no%></a>
                    </td>
		            <td>
                        <ers:isEqual src="record.enq_type" value="1"  /> 
                            <img src="<%=.sec_url%>images/tel17.gif" alt="inboundTel" />
                        </ers:isEqual>
                        <ers:isEqual src="record.enq_type" value="2"  /> 
                            <img src="<%=.sec_url%>images/mail17.gif" alt="inboundEmail" />
                        </ers:isEqual>
                        <ers:isEqual src="record.enq_type" value="3"  /> 
                            <img src="<%=.sec_url%>images/fax17.gif" alt="inboundFax" />
                        </ers:isEqual>
                    </td>

                    <!--<td><a href="#" id="caseno<%=record.case_no%>"><%=record.enq_casename%></a></td>-->
                    <td><%=record.enq_casename%></td>
                    <td><%=record.reccnt%></td>
		            <td><%=record.intime%></td>
		            <td><%=record.utime%></td>
		            <td><%=record.user_ag_name%></td>
	            </tr>
                </ers:foreach> 
                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <tr>
                        <td colspan="7" align="center">
                            <ers:partial file="../search/pagerInquiry.htm" partialModel=".Pager" />
                        </td>
                    </tr>
                </ers:isNotEqual> 
            </table>
        </div> 
    </div> 
</div>