﻿<div id="withdraw_dialog" title="<ers:message code='search.ctsSearchResult.withdrawal_confirm_dlg' />" style="display:none;">
    <p><ers:message code='search.ctsSearchResult.withdrawal_confirm_message' /></p>
</div>
<div id="withdraw_result_dialog" title="<ers:message code='search.ctsSearchResult.withdrawal_result_dlg' />" style="display:none;">
    <p></p>
</div>

<div id="delete_dialog" title="<ers:message code='search.ctsSearchResult.delete_confirm_dlg' />" style="display:none;">
    <p><ers:message code='search.ctsSearchResult.delete_confirm_message' /></p>
</div>
<div id="delete_result_dialog" title="<ers:message code='search.ctsSearchResult.delete_result_dlg' />" style="display:none;"y>
    <p></p>
</div>

<script type="text/javascript">
    $(function () {
        $(".withdraw").click(function () {
            openDialog("withdraw", $(this));

            return false;
        });

        $(".delete").click(function () {
            openDialog("delete", $(this));
            
            return false;
        });
    });

    function openDialog(message, data) {
        var objButton = $("#" + message + "_dialog").data("objButton");

        if (objButton) {
            return false;
        }

        dialogData(message);

        $("#" + message + "_dialog").data("objButton", data);
        $("#" + message + "_dialog").dialog('open');
    }

    var withdrawComplete = "<ers:message code='search.ctsSearchResult.withdrawal_result_dlg_p' />";
    var deleteComplete = "<ers:message code='search.ctsSearchResult.delete_result_dlg_p' />";
    var withdrawError = "<ers:message code='search.ctsSearchResult.withdrawal_result_err_dlg_p' />";
    var deleteError = "<ers:message code='search.ctsSearchResult.delete_result_err_dlg_p' />";

    function dialogData(message) {
        $("#" + message + "_dialog").dialog({
            autoOpen: false,
            bgiframe: true,
            resizable: false,
            height: 140,
            modal: true,

            buttons: {
                "<ers:label code='common_ok'/>": function () {
                    var objButton = $("#" + message + "_dialog").data("objButton");
                    
                    $(this).dialog('close');

                    var url = objButton.attr("href");

                    $.ajax({
                        type: "POST",
                        url: url,
                        dataType: 'html',
                        success: function (response) {
                            if (response == "0") {
                                $("#" + message + "_result_dialog p").text(message === "withdraw" ? withdrawComplete : deleteComplete);

                                objButton.hide();
                            }
                            else {
                                $("#" + message + "_result_dialog p").text(response);
                            }

                            dialogResult(message);

                            $("#" + message + "_result_dialog").dialog('open')
                            $("#" + message + "_dialog").data("objButton", null);
                        },

                        error: dialogError(message)
                    });
                },

                "<ers:label code='common_cancel'/>": function () {
                    $(this).dialog('close');
                    $("#" + message + "_dialog").data("objButton", null);
                }
            },

            close: function () {
                $("#" + message + "_dialog").data("objButton", null);
            }
        });
    }

    function dialogResult(message) {
        $("#" + message + "_result_dialog").dialog({
            autoOpen: false,
            bgiframe: true,
            resizable: false,
            height: 140,
            modal: true,
            buttons: {
                "<ers:label code='common_ok'/>": function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    function dialogError(message) {
        $("#" + message + "_result_dialog p").text(message = "withdraw" ? withdrawError : deleteError);
        $("#" + message + "_result_dialog").dialog('open')
        $("#" + message + "_dialog").data("objButton", null);
    }
</script>
				 
<div class="List">

	<table class="SearchResult">
		<tr class="Head">
			<td colspan="6">
                
				<h3><ers:isEqual src=".Model.TargetSearch" value="ClientSearch"><ers:message code='search.ctsSearch.Cresult'></ers:isEqual> 	<ers:isEqual src=".Model.TargetSearch" value="OrderSearch"><ers:message code='search.ctsSearch.Oresult'></ers:isEqual></h3>
                <ers:partial file="../search/pager.htm" partialModel=".Pager" />
			</td>
		</tr>						 
		<ers:isEqual src=".Model.TargetSearch" value="ClientSearch"> 
		    <tr class="ctsheader">
			    <th class=""><ers:label code='given_name'></th>
			    <th class=""><ers:label code='tel' /></th>
			    <th class=""><ers:label code='pref' /></th>
			    <th class=""><ers:label code='manage' /></th>
		    </tr>
		    <ers:foreach src=".Model.searchList" variable="record">
			    <tr class="__resultlist">
                    <div id="bg_<%=record.mcode%>">
                    <td class="__name" id="bgname<%=record.blacklist%>"><a href="#" id="srchclient<%=record.mcode%>" target="_parent"><%=record.lname%> <%=record.fname%></a></td>
				    <td class="__tel" id="bgtel<%=record.blacklist%>"><%=record.tel%></td>
				    <td class="__pref" id="bgpref<%=record.blacklist%>"><%=record.pref_name%></td>
                    </div>

				    <td class="w_300" id="bgbtn<%=record.blacklist%>">
                	    <ers:partial file="../search/pager_more.htm" />
					    <nobr>
						    <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
						    <input type="hidden" name="TargetClient" value="<%=.Model.TargetClient%>" />
						    <input type="hidden" name="TargetOrder" value="<%=.Model.TargetOrder%>" />
						    <input type="hidden" name="mcode" value="<%=record.mcode%>" />
						    <input type="hidden" name="ordertype" value="<%=.Model.ordertype%>" />
						    <input type="hidden" name="ctsordertype" value="<%=.Model.ctsordertype%>" />
						    <input type="hidden" name="regordertype" value="<%=.Model.regordertype%>" />

<ers:isNotEqual src="record.deleted" value="Deleted">
                            <a href="<%=.sec_url%>order?mcode=<%=record.mcode%>" target="_parent" class="submit __new_order" id="sub-order"><ers:label code='new_order' /></a>
                            <a href="<%=.sec_url%>regular?mcode=<%=record.mcode%>" target="_parent" class="submit __edit_order"><ers:label code='edit_order' /></a>
</ers:isNotEqual>
                            <a href="<%=.sec_url%>inquiry?mcode=<%=record.mcode%>" target="_parent" class="submit __register"><ers:label code='register' /></a>
<ers:isNotEqual src="record.deleted" value="Deleted">
                            <a href="<%=.sec_url%>api/withdraw_member?mcode=<%=record.mcode%>" target="_parent" class="submit withdraw __withdraw"><ers:label code='withdraw' /></a>
</ers:isNotEqual>

						    <script type="text/javascript">
						        $.ajaxSetup({
						            cache: false
						        }); 
                                    $("#srchclient<%=record.mcode%>").click(function (e) {
                                    e.preventDefault();
                                    $("#ClientInfo").load("<%=.sec_url%>search/LoadClientInfo?mcode=<%=record.mcode%>");
                                    $("#ListOfOrders").html("<div style=\"text-align:center; \"><image src=\"<%=.sec_url%>images/loading.gif\" width=\"20\" height=\"20\" />&nbsp;Loading...</div>");
                                    $("#ListOfCtsOrders").html("<div style=\"text-align:center; \"><image src=\"<%=.sec_url%>images/loading.gif\" width=\"20\" height=\"20\" />&nbsp;Loading...</div>");
                                    $("#ListOfRegular").html("<div style=\"text-align:center; \"><image src=\"<%=.sec_url%>images/loading.gif\" width=\"20\" height=\"20\" />&nbsp;Loading...</div>");
                                    $("#ListOfInquiry").html("<div style=\"text-align:center; \"><image src=\"<%=.sec_url%>images/loading.gif\" width=\"20\" height=\"20\" />&nbsp;Loading...</div>");

							        $("#ListOfOrders").load("<%=.sec_url%>search/LoadOrderDetail?mcode=<%=record.mcode%>");
							        $("#ListOfCtsOrders").load("<%=.sec_url%>search/LoadCTSOrderDetail?mcode=<%=record.mcode%>");
							        $("#ListOfRegular").load("<%=.sec_url%>search/LoadRegOrderDetail?mcode=<%=record.mcode%>");
							        $("#ListOfInquiry").load("<%=.sec_url%>search/LoadInqList?mcode=<%=record.mcode%>");
							        document.getElementById("orderlist").style.display = 'block';

							    });

							    $("#bg_<%=record.mcode%>").ready(function () {
									var prop = {
									  "background-color":"#ffffff"
									}
							        $("#bgname").css(prop);
							        $("#bgtel").css(prop);
							        $("#bgpref").css(prop);
							        $("#bgbtn").css(prop);

									prop = {
									  "background-color":"#BBB7C0"
									}
							        $("#bgname0").css(prop);
							        $("#bgtel0").css(prop);
							        $("#bgpref0").css(prop);
							        $("#bgbtn0").css(prop);

									prop = {
									  "background-color":"#333333",
									  "color":"#ffffff"
									}
							        $("#bgname1").css(prop);
							        $("#bgname1 a").css(prop);
							        $("#bgtel1").css(prop);
							        $("#bgpref1").css(prop);
							        $("#bgbtn1").css(prop);
							    });

						    </script>
					    </nobr>

					    </td>

				    </tr>
		    </ers:foreach>
		</ers:isEqual>


		<ers:isEqual src=".Model.TargetSearch" value="OrderSearch">
		<tr>
			<th class="w_100"><ers:label code='order_num' /></th>
			<th class="w_100"><ers:label code='order_name'></th>
			<th class="w_100"><ers:label code='order_date'></th>
			<th class="w_100"><ers:label code='order_amount'></th>
			<th class="w_100"><ers:label code='pay' /></th>
			<th class="w_150"><ers:label code='manage' /></th>
		</tr>
		<ers:foreach src=".Model.searchList" variable="record">
		<tr id="bgname<%=record.blacklist%>" class="__orderSearchList">
			<td class="w_100" ><ers:isEqual src="record.is_receipt_exist" value="true"><a href="#" id="order<%=record.d_no%>" target="_parent"></ers:isEqual><%=record.d_no%><ers:isEqual src="record.is_receipt_exist" value="true"></a></ers:isEqual></td>
			<td class="w_100" ><%=record.lname%> <%=record.fname%><br /><ers:isEqual src="record.mcode" value=""><ers:message code='search.ctsSearchResult.non_member_purchase' /></ers:isEqual></td>
			<td class="w_100" ><%=record.orderdate%></td>
			<td class="w_100">￥<%=record.orderamt%></td>
			<td class="w_100" ><%=record.paymenttype%></td>

			<td class="w_150">
            <ers:isEqual src="record.src" value="1">
				<form method="post" action="<%=.sec_url%>top/search/asp/LoadOrderDetail.asp?deleteOrder=<%=record.d_no%>" id="Delete<%=record.d_no%>">
					<nobr>
						<input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
						<input type="hidden" name="TargetClient" value="<%=.Model.TargetClient%>" />
						<input type="hidden" name="TargetOrder" value="<%=.Model.TargetOrder%>" />
						<input type="hidden" name="d_no" value="<%=.Model.d_no%>" />
						<input type="hidden" name="ordertype" value="<%=.Model.ordertype%>" />
						<input type="hidden" name="ctsordertype" value="<%=.Model.ctsordertype%>" />
						<input type="hidden" name="regordertype" value="<%=.Model.regordertype%>" />
						<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
						<input type="hidden" name="src" value="<%=record.src%>" />

						<a href="<%=.sec_url%>order?order_d_no=<%=record.d_no%>" target="_parent" class="submit __edit_btn"><ers:label code='card_update' /></a>

									
						<br />
						<a href="<%=.sec_url%>inquiry?mcode=<%=record.mcode%>" target="_parent" class="submit"><ers:label code='query_reg' /></a>
						<script type="text/javascript">

						    $("#bg_<%=record.mcode%>").ready(function () {
						        $("#bgname").css("background-color", "white");

						        $("#bgname0").css("background-color", "#BBB7C0");

						        $("#bgname1").css("background-color", "black");
						    }); 
						</script>
					</nobr>
				</form> 
            </ers:isEqual>
			<ers:isEqual src="record.src" value="2">
				<a href="<%=.sec_url%>order?cts_order_temp_d_no=<%=record.d_no%>" target="_parent" class="submit"><ers:label code='card_update' /></a>
				<form method="post" action="<%=.sec_url%>top/search/asp/LoadCTSOrderDetail.asp?deleteOrder=<%=record.d_no%>" id="Form1">
					<nobr>
						<input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
						<input type="hidden" name="TargetClient" value="<%=.Model.TargetClient%>" />
						<input type="hidden" name="TargetOrder" value="<%=.Model.TargetOrder%>" />
						<input type="hidden" name="d_no" value="<%=.Model.d_no%>" />
						<input type="hidden" name="ordertype" value="<%=.Model.ordertype%>" />
						<input type="hidden" name="ctsordertype" value="<%=.Model.ctsordertype%>" />
						<input type="hidden" name="regordertype" value="<%=.Model.regordertype%>" />
						<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
						<input type="hidden" name="src" value="<%=record.src%>" />

                        <a href="<%=.sec_url%>api/delete_reserved?deleteOrder=<%=record.d_no%>" target="_parent" class="submit delete"><ers:label code='common_delete' /></a>
                        
						<br />
						<a href="<%=.sec_url%>inquiry?mcode=<%=record.mcode%>" target="_parent" class="submit"><ers:label code='query_reg' /></a>
						    <script type="text/javascript">

						        $("#bg_<%=record.mcode%>").ready(function () {
						            $("#bgname").css("background-color", "white");

						            $("#bgname0").css("background-color", "#BBB7C0");

						            $("#bgname1").css("background-color", "black");
						        });

						    </script>

					</nobr>
				</form> 
			</ers:isEqual>
				<script type="text/javascript">
						
                    $("#order<%=record.d_no%>").click(function (e) {
                        e.preventDefault();
						$("#HistoryDtl").load("<%=.sec_url%>search/LoadClientInfo?mcode=<%=record.mcode%>&d_no=<%=record.d_no%>");
					});
				</script>
			</td>
		</tr>
		</ers:foreach>
		</ers:isEqual>

    </table>     

</div>
<script>
    $(".Head td h3").each(function () {
        var head = $(this).text();

        if (head == "Customer Search Results") {
            $("*").css("white-space", "normal");
            $(".w_300").css("text-align", "center");
        }
        else {
            $("*").css("white-space", "none");
        }
    });
</script>