﻿<div class="SearchResult">
	<div class="List"> 
		<div class="MemberDetail">			 
			<table class="Detail" style="width:700px;" >
				<tr>
					<th class="w_100"><ers:label code='temp_ord_num' /></th>
					<th class="w_100"><ers:label code='ProductName' /></th>
					<th class="w_100"><ers:label code='order_date' /></th>
					<th class="w_100"><ers:label code='order_amount' /></th>
					<th class="w_100"><ers:label code='order_stat' /></th>
					<th class="w_100"><ers:label code='manage' /></th>
				</tr>
<ers:foreach src=".Model.searchCtsOrderList" variable="record">
				<tr>
					<td class="w_100"><%=record.temp_d_no%></td>
					<td class="w_100">
<ers:isEqual src="record.hasBaskRecords" value="false">
                        <ers:message code='search.ctsSearchCtsOrder.product_remove' />
</ers:isEqual>
<ers:foreach src="record.baskRecords" variable="baskRecord">
                        <ers:isEqual src="baskRecord.cts_sname" value=""><%=baskRecord.sname%></ers:isEqual><ers:isNotEqual src="baskRecord.cts_sname" value=""><%=baskRecord.cts_sname%></ers:isNotEqual><br />
</ers:foreach>
                    </td>
					<td class="w_100"><ers:formatDate src="record.intime" /></td>
					<td class="w_100"><ers:formatCurrency src="record.subtotal" /></td>
					<td class="w_100"><%=record.common_t_name%></td>
					<td class="w_100">
						<form method="post" action="" id="Delete<%=record.temp_d_no%>">
							<nobr>
								<input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
								<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
								<input type="hidden" name="temp_d_no" value="<%=record.temp_d_no%>" />
    <ers:isEqual src="record.active" value="1">
								<input type="button" class="submit" name="edit" value="<ers:label code='common_edit' />" onclick="location.href='<%=.sec_url%>order?cts_order_temp_d_no=<%=record.temp_d_no%>'" />
    </ers:isEqual>
                            </nobr>
                        </form>
                    </td>
		        </tr>
</ers:foreach>
                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <tr>
                        <td colspan="7" align="center">
                            <ers:partial file="../search/pagerCtsOrder.htm" partialModel=".Pager" />
                        </td>
                    </tr>
                </ers:isNotEqual>
		    </table>
        </div> 
    </div> 
</div> 