﻿<div class="SearchResult">
	<div class="List"> 
		<div class="MemberDetail">			 
		 <!--					 
		<h3>RegularOrderList</h3>

		<ers:partial file="../search/pagerOrder.htm" partialModel=".Pager" />
		-->
			<table class="Detail" style="width:700px;" >

                <tr>
			        <th class="w_100"><ers:label code='order_num' /></th>
			        <th class="w_100"><ers:label code='ProductName' /></th>
			        <th class="w_100"><ers:label code='order_date' /></th>
                    <th class="w_100"><ers:label code='pay' /></th>
                    <th class="w_100"><ers:label code='order_stat' /></th>
			        <th class="w_100"><ers:label code='manage' /></th>
	            </tr>
                <ers:foreach src=".Model.searchRegOrderList" variable="record">

		            <tr>
                        <td class="w_100"><%=record.d_no%></td>
                        <td class="w_100"><ers:isEqual src="record.cts_sname" value=""><%=record.sname%></ers:isEqual><ers:isNotEqual src="record.cts_sname" value=""><%=record.cts_sname%></ers:isNotEqual><br /><%=record.intervaldesc%></td>
					    <td class="w_100"><ers:formatDate src="record.intime" /></td>
                        <td class="w_100"><%=record.w_pay%></td>
                        <td class="w_100">
                            <ers:isEqual src="record.status" value="1" /> <ers:message code='regular_detail_index_running' /> </ers:isEqual>
                            <ers:isEqual src="record.status" value="9" /> <ers:message code='regular_detail_index_stop' /></ers:isEqual>
                        </td>

                        <td class="w_300">
                            <form method="post" action="<%=.sec_url%>regular">
                                <nobr>
                                    <input type="hidden" name="mcode" value="<%=record.mcode%>" />
                                    <input type="submit" class="submit" name="edit" value="<ers:label code='common_edit' />" />
                                </nobr>
                            </form>
                        </td>
		            </tr>
                </ers:foreach>
                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <tr>
                        <td colspan="7" align="center">
                            <ers:partial file="../search/pagerRegOrder.htm" partialModel=".Pager" />
                        </td>
                    </tr>
                </ers:isNotEqual>
            </table>
        </div> 
    </div> 
</div> 