﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-style-type" content="text/css" />
	<meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
	<title><%=.browser_title%> - <ers:message code='search.ctsSearch.Title' /></title>
	<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/Search.css" type="text/css" title="base_layout" media="screen,print" />
	<link rel="stylesheet" href="<%=.sec_url%>css/tabs.css" type="text/css" title="base_layout" media="screen,print" />
	
	<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
	<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

	<!-- jQuery -->
	<!-- ui tabs.js -->
	<link href="<%=.sec_url%>css/ui.tabs.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">		$(function () { $('#ui-tab').tabs(); });</script>
    <!-- jquery ui start -->
	<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
	<!--jquery ui end--> 

	<script type="text/javascript">
	    function chkOrderType() {
	        $("#ordertype").prop("checked", true);
	        $("#ctsordertype").prop("checked", true);
	        $("#regordertype").prop("checked", true);
	        $("#src_deleted").prop("checked", true);
	        $("#mall_d_no").show();
	        $("#d_no_submit").hide();
	    }
	    function chkClientType() {
	        $("#ordertype").prop("checked", false);
	        $("#ctsordertype").prop("checked", false);
	        $("#regordertype").prop("checked", false);
	        $("#src_deleted").prop("checked", false);
	        $("#mall_d_no").hide();
	        $("#d_no_submit").show();
	    }
	</script>
</head>

<body>
<!--
<div id="SearchTop">
	<table class="SearchLayout">
			<td valign="top" class="SearchResultDetail">
				<div id="SearchCustomerDetail">
					a
				</div>
				<div id="SearchCustomerHistory">
					b
				</div>
				<div id="SearchCustomerHistoryDetail">
					c
				</div>
			</td>
	</table>
	</div>
-->
	
 
	<div id="Whole" class="Search">
	<table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
		<tr>
			<td id="HeadZone" colspan="2">
				<!-- header start -->
				<ers:partial file="header.htm" />
				<!-- header end -->			
			</td>
		</tr>

		<tr valign="top">
			<td id="MiddleZone">
			
				<!-- main content start -->
				<div id="SearchConditionAndList">
					<table class="Search">
						<tr>
							<td valign="top" class="SearchCondition">
								<div id="SearchCondition">
									<h3><ers:message code='search.ctsSearch.Title'></h3>

									<form	action="<%=.sec_url%>search/search" name="search" id="search" method="post">
										<table class="Search">
											<tr>
			                                <th><ers:label code='search_object' /></th>
												<td>
													<input type="radio" class="__target_search" name="TargetSearch" value="ClientSearch" id="ClientSearch" onclick="chkClientType()"  <ers:isEqual src=".Model.TargetSearch" value="ClientSearch"> checked="checked"</ers:isEqual> /><label for="ClientSearch"><ers:label code='search_cus' /></label>
													<input type="radio" class="__target_search" name="TargetSearch" value="OrderSearch" id="OrderSearch" onclick="chkOrderType()" <ers:isEqual src=".Model.TargetSearch" value="OrderSearch"> checked="checked"</ers:isEqual> /><label for="OrderSearch"><ers:label code='search_order' /></label> 
												</td>
												<th><ers:label code='cus_number'></th>
												<td><input name="mcode" type="text" id="mcode" maxlength="10" value="<%=.Model.mcode%>" /></td>
											</tr>
											<tr>
												<th><ers:label code='tel' /></th>
												<td><input name="tel" type="text" id="tel" maxlength="15" value="<%=.Model.tel%>" class="ime_disabled" /></td>
												<th><ers:label code='FAX_number'></th>
												<td><input name="fax" type="text" id="fax" maxlength="15" value="<%=.Model.fax%>" class="ime_disabled" /></td>
											</tr>
											<tr>
												<th><ers:label code='phonetic_guide'></th>
												<td class="name">
<ers:label code='sei'><input name="lnamek" type="text" id="lnamek" maxlength="100" value="<%=.Model.lnamek%>" /><br/>
<ers:label code='mei'><input name="fnamek" type="text" id="fnamek" maxlength="100" value="<%=.Model.fnamek%>"/>
												</td>
												<th><ers:label code='given_name'></th>
												<td class="name">
													<ers:label code='l_name'><input name="lname" type="text" id="lname" maxlength="100" value="<%=.Model.lname%>" /><br />
													<ers:label code='f_name'><input name="fname" type="text" id="fname" maxlength="100" value="<%=.Model.fname%>" />
												</td>
											</tr>
											<tr>
												<th><ers:label code='zip' /></th>
												<td><input name="zip1" type="text" id="zip1" maxlength="3" value="<%=.Model.zip1%>" class="ime_disabled" /> - <input name="zip2" id="zip2" type="text" maxlength="4" value="<%=.Model.zip2%>" class="ime_disabled" /></td>
												<th><ers:label code='pref' /></th>
												<td>

													<select id="pref" name="pref">
														 <option value=""></option>
																<ers:foreach variable="pref_item" src=".Model.prefList">
																	<option value="<%=pref_item.value%>"<ers:isEqual src="pref_item.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=pref_item.name%></option>
																</ers:foreach>
													</select>
												</td>
											</tr>
											<tr>
												<th><ers:label code='common_address' /></th>
												<td colspan="3"><input name="address" type="text" id="address" value="<%=.Model.address%>" />
												</td>
											</tr>
											<tr>
												<th><ers:label code='e_mail'></th>
												<td colspan="3"><input name="email" type="text" id="email" maxlength="200" value="<%=.Model.email%>" />
												</td>
											</tr>
<!--
											<tr>
												<th>媒体番号</th>
												<td colspan="3"><input name="ccode" type="text" id="ccode" maxlength="20" value="<%=.Model.ccode%>"/></td>
											</tr>
											<tr>
												<th>媒体名</th>
												<td colspan="3">
													<select id="campaign_id" name="campaign_id" class="w_200">
															<option value=""></option>
																<ers:foreach variable="campaign_item" src=".Model.campaignList">
																	<option value="<%=campaign_item.value%>"<ers:isEqual src="campaign_item.value" variable=".Model.campaign_id"> selected="selected"</ers:isEqual>><%=campaign_item.name%></option>
																</ers:foreach>
													</select>
												</td>
											</tr>
-->
				                            <tr>
					                            <th><ers:label code='inc_unscrbd'></th>
											    <td colspan="3">
						                            <input type="checkbox" id="src_deleted" name="src_deleted" value="1"<ers:isEqual src=".Model.src_deleted" value="Deleted"> checked="checked"</ers:isEqual> /><label for="src_deleted"><ers:message code='search.ctsSearch.Unscrbd'></label>
					                            </td>
				                            </tr>
											<tr>	
												<th><ers:label code='order_type'></th>
												<td colspan="3">
													<input type="checkbox" id="ordertype" name="ordertype" value="1" <ers:isEqual src=".Model.ordertype" value="true"> checked="checked" </ers:isEqual> /><label for="ordertype"><ers:label code='reg_order' /></label> 
													<input type="checkbox" id="ctsordertype" name="ctsordertype" value="1" <ers:isEqual src=".Model.ctsordertype" value="true"> checked="checked"</ers:isEqual> /><label for="ctsordertype"><ers:label code='TemporaryOrder' /></label> 
													<input type="checkbox" id="regordertype" name="regordertype" value="1" <ers:isEqual src=".Model.regordertype" value="true"> checked="checked"</ers:isEqual> /><label for="regordertype"><ers:label code='order_recur'></label>
												</td>
											</tr>
                                            <tr>
				                                <th>
					                                <ers:label code='af_cancel_date' />
				                                </th>
				                                <td colspan="3">
					                                <input type="text" class="datepicker_date w_150" value="<ers:formatDate src=".Model.s_af_cancel_date_from" />" name="s_af_cancel_date_from" id="s_af_cancel_date_from">&nbsp;～&nbsp;<input type="text" class="datepicker_date w_150" value="<ers:formatDate src=".Model.s_af_cancel_date_to" />" name="s_af_cancel_date_to" id="s_af_cancel_date_to">
				                                </td>
			                                </tr>
                                            <tr>
				                                <th>
					                                <ers:label code='cancel_date' />
				                                </th>
				                                <td colspan="3">
					                                <input type="text" class="datepicker_date w_150" value="<ers:formatDate src=".Model.s_cancel_date_from" />" name="s_cancel_date_from" id="s_cancel_date_from">&nbsp;～&nbsp;<input type="text" class="datepicker_date w_150" value="<ers:formatDate src=".Model.s_cancel_date_to" />" name="s_cancel_date_to" id="s_cancel_date_to">
				                                </td>
			                                </tr>
											<tr>
												<th><ers:label code='order_num' /></th>
												<td><input name="d_no" type="text" id="d_no" maxlength="20" value="<%=.Model.d_no%>" /></td>
												<td colspan="2" class="Button">
													<input id="d_no_submit" type="submit" name="search" class="SearchButton" value="<ers:label code='common_search' />"<ers:isEqual src=".Model.TargetSearch" value="OrderSearch"> style="display:none;"</ers:isEqual> />
												</td>
								
											</tr>
											<tr id="mall_d_no"<ers:isNotEqual src=".Model.TargetSearch" value="OrderSearch"> style="display:none;"</ers:isNotEqual>>
												<th><ers:label code='mall_d_no' /></th>
												<td><input name="mall_d_no" type="text" id="mall_d_no" maxlength="30" value="<%=.Model.mall_d_no%>" /></td>
												<td colspan="2" class="Button">
													<input type="submit" name="search" class="SearchButton __search_btn" value="<ers:label code='common_search' />" />
												</td>
								
											</tr>
										</table>
									</form>
								 </div>

							<ers:isNotEqual src=".Model.recordCount" value="0"> 
								<div class="SearchResult">			
									<ers:partial file="../search/ctsSearchResult.htm"/>
								</div>
							</ers:isNotEqual>
                            <ers:isNotEqual src=".Model.FirstLoad" value="true" >
                                <ers:isEqual src=".Model.recordCount" value="0">
                                    <div class="__note_result" style="font-weight:bold; padding:10px; "><ers:message code='search.note_result'/></div>
                                </ers:isEqual>
                            </ers:isNotEqual>
							</td>
							<td valign="top" class="SearchResultDetail">
								<ers:isEqual src=".Model.TargetSearch" value="ClientSearch"	/> 
								<div id="SearchCustomerDetail">
									<div id="ClientInfo"></div>
								</div>

								<div id="orderlist" style="display:none; margin-top:30px; "> 
									 <div id="ui-tab">
										<ul class="tabs">
											<li><a href="#fragment-1"><ers:label code='order_history' /></a></li>
											<li><a href="#fragment-3"><ers:label code='sub_history' /></a></li>
											<li><a href="#fragment-4"><ers:label code='inq_history' /></a></li>
											<li><a href="#fragment-2"><ers:label code='temp_history' /></a></li>
										</ul>
										<div id="fragment-1" style="border:solid 1px #999; border-top:none; ">
											<div id="ListOfOrders"></div>
										</div>
										<div id="fragment-3" style="border:solid 1px #999; border-top:none; ">
											<div id="ListOfRegular"></div>
										</div>
										<div id="fragment-4" style="border:solid 1px #999; border-top:none; ">
											<div id="ListOfInquiry"></div>
										</div>
										<div id="fragment-2" style="border:solid 1px #999; border-top:none; ">
											<div id="ListOfCtsOrders"></div>
										</div>
									</div>
								</div>
								</ers:isEqual>

								<ers:isEqual src=".Model.TargetSearch" value="OrderSearch"	/> 
								<div id="SearchCustomerHistoryDetail">
									<div id="HistoryDtl"></div>
								</div>
								</ers:isEqual>
							</td>
						</tr>
					</table>
	
				</div>
			</td>
		</tr>
		<tr>
			<td id="FootZone" colspan="2">
	
				 <ers:partial file="footer.htm" />

			</td>
		</tr>
		</table>
	</div>
	
 </body>

</html>
