﻿<div class="SearchResult">
	<div class="List"> 
		<div class="MemberDetail">			 

			<table class="Detail" style="width:700px;" >
				<tr>
					<th class="w_100"><ers:label code='order_num' /></th>
					<th class="w_100"><ers:label code='ProductName' /></th>
					<th class="w_100"><ers:label code='order_date' /></th>
					<th class="w_100"><ers:label code='order_amount' /></th>
					<th class="w_100"><ers:label code='pay' /></th>
					<th class="w_100"><ers:label code='order_stat' /></th>
					<th class="w_100"><ers:label code='manage' /></th>
				</tr>
                <ers:foreach src=".Model.searchOrderList" variable="record">
		            <tr class="__orderlist">
                        <td class="w_100"><%=record.d_no%></td>
                        <td class="w_100">
<ers:foreach src="record.orderRecords" variable="orderRecord">
                            <ers:isEqual src="orderRecord.cts_sname" value=""><%=orderRecord.sname%></ers:isEqual><ers:isNotEqual src="orderRecord.cts_sname" value=""><%=orderRecord.cts_sname%></ers:isNotEqual><br />
</ers:foreach>
                        </td>
					    <td class="w_100"><ers:formatDate src="record.intime" /></td>
					    <td class="w_100"><ers:formatCurrency src="record.total" /></td>
                        <td class="w_100"><%=record.pay_name%></td>
                        <td class="w_100"><%=record.summary_order_status%></td>

                        <td class="w_100">
                            <nobr>
							    <input type="button" class="submit __edit" name="edit" value="<ers:label code='common_edit' />" onclick="location.href='<%=.sec_url%>order?order_d_no=<%=record.d_no%>'" />
                            </nobr>
                        </td>
		            </tr>
                </ers:foreach>
                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <tr>
                        <td colspan="7" align="center">
                            <ers:partial file="../search/pagerOrder.htm" partialModel=".Pager" />
                        </td>
                    </tr>
                </ers:isNotEqual>
            </table>
        </div> 
    </div> 
    <ers:partial file="footer.htm" />
</div> 