﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>商品一覧 ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.nor_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Size.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />

<script type="text/javascript" src="<%=.nor_url%>js/jquery.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
<body>
<div id="ERS_wrapper">


<!-- container start -->
<div id="Order">

<!-- contents start -->
	<div id="ERS_contents">

<div class="Product">
    <div id="ctl00_ContentPlaceHolderMainMiddle_Order1_Product1_Panel_ProductList" class="ProductListPanel">

		<h3>SearchResult</h3>
		<div class="Paging">
			123 Results 1-10 Pages
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
		</div>
        <table class="SearchResult">
        <ers:foreach variable="item" src=".Model.merchandiseList" roopcounter="item_cnt">
			<tr class="ProductName">
				<th>■ProductName：</th>
				<td><%=item.sname%></td>

			</tr>
			<tr class="ProductCode">
				<th>■ProductCode：</th>
				<td><%=item.scode%></td>
			</tr>
			<tr class="SalesPrice">
				<th>■SalesPrice：</th>
                <ers:isEqual src="item.onCampaign" value="true" comment="normal price">
				<td><ers:FormatCurrency src="item.price2" /></strike>→<strong><ers:FormatCurrency src="item.price" /></strong><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                </ers:isEqual>
                <ers:isNotEqual src="item.onCampaign" value="true" comment="campaign price">
				<td><ers:FormatCurrency src="item.price" /><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                </ers:isNotEqual>
			</tr>
			<tr class="DeliveryDate">
				<th>■DeliveryDate：</th>
				<td>2011/10/21</td>
			</tr>
			<tr class="Stock RepeatItemBottom">

				<th>■Stocks：</th>
				<td>
					<%=item.stock%>
					<input type="submit" name="addcart" class="AddCart __aa" value="add to cart" />
				</td>
			</tr>
        </ers:foreach>
        </table>
        <div class="Paging">
			123 Results 1-10 Pages
			<a href="">1</a>
			<a href="">2</a>
			<a href="">3</a>
			<a href="">4</a>
			<a href="">5</a>
		</div>
    </div>
</div>

</body>
</html>
