<input type="hidden" name="TargetClient" value="<%=.Model.TargetClient%>" />
<input type="hidden" name="TargetOrder" value="<%=.Model.TargetOrder%>" />
<input type="hidden" name="ButtonSearch" value="<%=.Model.ButtonSearch%>" />
<input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
<input type="hidden" name="lname" value="<%=.Model.lname%>" />
<input type="hidden" name="fname" value="<%=.Model.fname%>" />
<input type="hidden" name="lnamek" value="<%=.Model.lnamek%>" />
<input type="hidden" name="fnamek" value="<%=.Model.fnamek%>" />
<input type="hidden" name="zip1" value="<%=.Model.zip1%>" />
<input type="hidden" name="zip2" value="<%=.Model.zip2%>" />
<input type="hidden" name="pref" value="<%=.Model.pref%>" />
<input type="hidden" name="address" value="<%=.Model.address%>" />
<input type="hidden" name="email" value="<%=.Model.email%>" />
<input type="hidden" name="tel" value="<%=.Model.tel%>" />
<input type="hidden" name="fax" value="<%=.Model.fax%>" />
<input type="hidden" name="d_no" value="<%=.Model.d_no%>" />
<input type="hidden" name="ccode" value="<%=.Model.ccode%>" />
<input type="hidden" name="campaign_id" value="<%=.Model.campaign_id%>" />
<input type="hidden" name="ordertype" value="<%=.Model.ordertype%>" />
<input type="hidden" name="ctsordertype" value="<%=.Model.ctsordertype%>" />
<input type="hidden" name="regordertype" value="<%=.Model.regordertype%>" />
<input type="hidden" name="s_af_cancel_date_from" value="<%=.Model.s_af_cancel_date_from%>" />
<input type="hidden" name="s_af_cancel_date_to" value="<%=.Model.s_af_cancel_date_to%>" />
<input type="hidden" name="s_cancel_date_from" value="<%=.Model.s_cancel_date_from%>" />
<input type="hidden" name="s_cancel_date_to" value="<%=.Model.s_cancel_date_to%>" />
<input type="hidden" name="src_deleted" value="<%=.Model.src_deleted%>"/>