<div class="ERS_page_send">
    <b>
        <%=.Model.recordCount%>&nbsp;<ers:label code='common_item_found' />&nbsp;1&nbsp;-&nbsp;<%=.Model.pagerPageCount %>&nbsp;
        <ers:label code='common_page' />
    </b><br />&nbsp;
    <ers:isEqual src="partialModel.PagePrevFlg" value="true">
                <form method="post" action="" id="pagesend_prev" name="pagesend_prev">
                    <input type="image" src="<%=.sec_url%>images/previous.gif" value="prev" class="change back" id="pageprev" />
                    <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
                    <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
                </form>
                <script type="text/javascript">
                    $("#pageprev").click(function (e) {
                        e.preventDefault();
                        $.post(
                            "<%=.sec_url%>top/search/asp/LoadInqList.asp",
                            $("#pagesend_prev").serialize(),
                            function (response) {
                                $("#ListOfInquiry").html(response);
                            }
                        );
                        return false; // cancel original event to prevent form submitting
                    });
                </script>

        </ers:isEqual>

    <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
        <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="<%=partialModel.current_filename%>" id="pagesend_cnt<%=navi.pagecnt%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input id="ctsInquiryPage<%=navi.pagecnt%>" value="<%=navi.pagecnt%>" class="place" type="submit"/>
                    <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
                </form>
            </ers:isEqual>
        <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="" id="pagesend_cnt<%=navi.pagecnt%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input id="ctsInquiryPage<%=navi.pagecnt%>" value="<%=navi.pagecnt%>" class="change" type="submit"/>
                    <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
                </form>
                <script type="text/javascript">
                    $("#ctsInquiryPage<%=navi.pagecnt%>").click(function (e) {
                        e.preventDefault();
                        $.post(
                            "<%=.sec_url%>top/search/asp/LoadInqList.asp",
                            $("#pagesend_cnt<%=navi.pagecnt%>").serialize(),
                            function (response) {
                                $("#ListOfInquiry").html(response);
                            }
                        );
                        return false; // cancel original event to prevent form submitting
                    });

                </script>
            </ers:isNotEqual>
        </ers:foreach>

    <ers:isEqual src="partialModel.PageNextFlg" value="true">
            <form method="post" action="" id="pagesend_next" name="pagesend_next">
                <input type="image" src="<%=.sec_url%>images/next.gif" value="next" class="change next" id="pagenext" />
                <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />  
                <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
            </form>
            <script type="text/javascript">
                $("#pagenext").click(function (e) {
                    e.preventDefault();
                    $.post(
                        "<%=.sec_url%>top/search/asp/LoadInqList.asp",
                        $("#pagesend_next").serialize(),
                        function (response) {
                            $("#ListOfInquiry").html(response);
                        }
                    );
                    return false; // cancel original event to prevent form submitting
                });
            </script>
        </ers:isEqual>
</div>
