﻿    <div class="MemberDetail">
        <h3><ers:label code='pay' /></h3>
        <table class="Detail">
            <tr>
                <th><ers:message code='card_card_index_pay_method_select'></th>
                <td>
                    <%=.Model.w_pay %><br />
<ers:isNotEqual src=".Model.savedCardInfo" value="">
<ers:isEqual src=".Model.mall_shop_kbn" value="ERS">
                    <ers:label code="card/>": <%=.Model.savedCardInfo.card_name%><br />
                    <ers:label code="cardno/>: <%=.Model.savedCardInfo.card_no%><br />
                    <ers:label code="expiration_date/>: <%=.Model.savedCardInfo.validity_y%>&nbsp;<ers:label code="common_year"/>&nbsp;<%=.Model.savedCardInfo.validity_m%>&nbsp;<ers:label code="common_month"/><br />
</ers:isEqual>
</ers:isNotEqual>
                </td>
            </tr>
            <tr>
                <th><ers:label code='prod_dest'></th>
                <td>
                    <%=.Model.site_name%>
                </td>
            </tr>
	    </table>
    </div>
