﻿<div class="MemberDetail">

    <table class="Detail">
		    <tr>
			    <th class="w_300"><ers:label code='ProductName' /></th>
			    <th class="w_100"><ers:label code='UnitPrice' /></th>
			    <th class="w_100"><ers:label code='up_amount_list' /></th>
                <th class="w_76"><ers:label code='af_cancel_date' /></th>
                <th class="w_76"><ers:label code='cancel_date' /></th>
			    <th class="w_100"><ers:label code='price_status' /></th>
		    </tr>
        <ers:foreach src=".Model.prodList" variable="record">	
		    <tr class="<ers:isEqual src="record.cancel-row" value="true">cancel-row</ers:isEqual>">
			    <td><%=record.sname%></td>
			    <td><ers:formatCurrency src="record.price" /></td>
			    <td><%=record.amount%></td>
                <td><ers:formatDate src="record.after_cancel_date" /></td>
                <td><ers:formatDate src="record.cancel_date" /></td>
                <td><%=record.order_status%></td>
		    </tr>
        </ers:foreach>
	</table>
</div>
