﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>商品検索 ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.nor_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Size.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.nor_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.nor_url%>js/jquery.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.nor_url%>js/search.js"></script>
<script type="text/javascript">
    var cate_relation_level = 5;
    //option部分用宣言
    var form_array_cate = new Array(5);
    form_array_cate[1] = new Array();
    form_array_cate[2] = new Array();
    form_array_cate[3] = new Array();
    form_array_cate[4] = new Array();
    form_array_cate[5] = new Array();

<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
<ers:isEqual src="cate_item.cate_t_active" value="1">
<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>] = new Array();
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['parent_id'] = "<%=option.parent_id%>"
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['id'] = "<%=option.id%>"
    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['value'] = "<%=option.cate_name%>";
</ers:foreach>
</ers:isEqual>
</ers:foreach>

    var form_selected = new Array(5);
    form_selected[1] = ""
    form_selected[2] = ""
    form_selected[3] = ""
    form_selected[4] = ""
    form_selected[5] = ""
</script>

</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<div id="Order">
<div class="Product">
        <br />
		<table class="Search">
			<tr>
				<th>ProductGroupCode</th>
				<td><input type="text" id="s_gcode" class="w_380" name="s_gcode" value="<%=.s_gcode%>" /></td>
			</tr>
			<tr>
				<th>ProductGroupName</th>
				<td><input type="text" id="s_gname" class="w_380" name="s_gname" value="<%=.s_gname%>" /></td>
			</tr>
			<tr>
				<th>ProductCategories</th>
				<td>
                    <select class="w_200" id="s_cate1" name="s_cate1">
                    <option value="" selected="selected">全て</option>

                    </select>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="Button">
					<input type="submit" name="search" class="search" value="検索" />
				</td>
			</tr>
		</table>
</div>
</div>
    <ers:partial file="footer.htm" />
</body>
</html>
