﻿<div class="MemberDetail">
    <h3><ers:label code='ship_num'><%=.Model.d_no %><ers:isNotEqual src=".Model.mall_shop_kbn" value="ERS"><br /><ers:label code='mall_d_no'>：<%=.Model.mall_d_no %></ers:isNotEqual></h3>
    <table class="Detail">
		<tr>
			<th class="w_300"><ers:label code='addressee'></th>
			<th class="w_150"><ers:label code='senddate' /></th>
			<th class="w_100"><ers:label code='des_time'></th>
		</tr>
		<tr>
			<td>
				<ers:label code="common_post"><%=.Model.add_zip%>&nbsp;
				<%=.Model.add_pref_name%>&nbsp;
                <%=.Model.add_address%>&nbsp;
				<%=.Model.add_taddress%><br />

				<%=.Model.add_lname%> <%=.Model.add_fname%><br />
				
                <%=.Model.add_tel %>
			</td>
			<td>
                <ers:formatDate src=".Model.senddate" />
			</td>
			<td>
                <%=.Model.sendtime%>
			</td>
		</tr>
        <tr>
            <th><ers:label code='deliv_method' /></th>
            <th><ers:label code='deliv_comp_name' /></th>
            <th><ers:label code='inq_number' /></th>
        </tr>
        <tr>
            <td><%=.Model.w_deliv_method %></td>
            <td><%=.Model.deliv_name %></td>
            <td><ers:foreach src=".Model.sendno_list" variable="item" roopcounter="c" ><ers:isNotEqual src="c" value="0"><br /></ers:isNotEqual><%=item %></ers:foreach></td>
        </tr>

	</table>
</div>
