﻿<div class="RegistOrder">
    <div class="PaymentDetail">

        <h3><ers:label code='TotalAmount' /></h3>

		<table class="PaymentTable">
		    <tr>
				<th><ers:label code='cmdty_pts' /></th>
				<td> <%=.Model.prodCount%> <ers:message code="common.CounterSuffixAmount"/></td>
			</tr>
			<tr>
				<th><ers:label code='subtotal' /></th>
				<td> <ers:formatCurrency src=".Model.subtotal"></td>
			</tr>
			<tr>
				<th><ers:label code='carriage' /></th>
				<td> <ers:formatCurrency src=".Model.carriage"></td>
			</tr>
            <ers:isNotEqual src=".Model.tax" value="0" >
			<tr>
				<th><ers:label code='tax' /></th>
				<td> <ers:formatCurrency src=".Model.tax"></td>
			</tr>
            </ers:isNotEqual>
            <ers:isNotEqual src=".Model.etc" value="0"> 
				<tr>
					<th><%=.Model.w_etc%></th>
				    <td><ers:formatCurrency src=".Model.etc"/></td>
				</tr>
            </ers:isNotEqual>
            <ers:isNotEqual src=".Model.p_service" value="0" >
			<tr>
				<th>ポイント値引き</th>
				<td><span class="InputAlert">-&nbsp; <ers:formatCurrency src=".Model.p_service"></span></td>
			</tr>
            </ers:isNotEqual>
            <ers:isNotEqual src=".Model.coupon_discount" value="0"> 
			<tr>
				<th>クーポン値引き</th>
				<td>-<ers:formatCurrency src=".Model.coupon_discount"/></td>
			</tr>
            </ers:isNotEqual>
			<tr>
				<th><ers:label code='tax_total' /></th>
				<td> <ers:formatCurrency src=".Model.order_total_amount"></td>
			</tr>
	    </table>

    </div>
</div>