<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>IVP ERSv7 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/calendar.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/detail.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.nor_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.nor_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.nor_url%>js/jquery.ui.datepicker.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<!--[if lt IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>">お知らせ一覧</a>＞&nbsp;<%=.Model.contents_name%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
		        <h2><%=.Model.contents_name%></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
 <!-- page_send start -->
    <ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
<!-- detail start -->
		<div id="ERS_detail">
            <ers:foreach src=".Model.newsList" variable="news">
                <p>
                    <span class="date">
                        <ers:isEqual src="news.template_code" value="6">
                            <a href="<%=news.link_url_1 %>">
                        </ers:isEqual>
                        <ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
                        <ers:isEqual src="news.template_code" value="6">
                            </a>
                        </ers:isEqual>
                    </span>
                    <!--<ers:nonencode src="news.title" />-->
                    <ers:isNotEqual src="news.template_code" value="6">
                        <a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&template_code=<%=news.template_code %>&pageCnt=<%=.Model.pageCnt %>"><%=news.title %></a>
                    </ers:isNotEqual>
                </p>
            </ers:foreach>
	    </div>
<!-- detail end -->
        <br class="release_b" />
	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/detail.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>

