﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.age.TitleBuyerAgeRecordSummary" /></h2>
    <form action="<%=.sec_url%>reports/age_tabulation" id="agetab" name="agetab" method="post">
	        <table class="Search">
		        <tr>
			        <th class="w_150"><ers:message code="sumry_set_bill_period" /></th>
                    <td>
                        <input type="text" class="datepicker_start w_150" name="datefrom" value="<ers:formatDate src=".Model.datefrom"  value="yyyy/MM/dd HH:mm:ss" />" maxlength="19"  class="w_80">&nbsp;～&nbsp;
						<input type="text" class="datepicker_start w_150" name="dateto" value="<ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" />" maxlength="19" class="w_80" /><br />
                        <ers:message code="reports.order.MsgSetDateRange" />						
			         </td>
		        </tr>

		        <tr>
			        <th class="w_150"><ers:message code="sumry_search_prefecture" /></th>
			        <td>
			        <select id="pref1" name="pref1">
				         <option value=""></option>
                            <ers:foreach variable="option" src=".Model.ctsPrefectList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref1"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
			        </select>

			        <ers:message code="or" />
			        <select id="pref2" name="pref2">
				    <option value=""></option>
                            <ers:foreach variable="option" src=".Model.ctsPrefectList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref2"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
			        </select>
			         <ers:message code="or" />
			        <select id="pref3" name="pref3">
                    <option value=""></option>
                            <ers:foreach variable="option" src=".Model.ctsPrefectList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref3"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
			        </select>
			         <ers:message code="or" />
			        <select id="pref4" name="pref4">
				     <option value=""></option>
                            <ers:foreach variable="option" src=".Model.ctsPrefectList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref4"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
			        </select>
			         <ers:message code="or" />
			        <select id="pref5" name="pref5">
			        <option value=""></option>
                            <ers:foreach variable="option" src=".Model.ctsPrefectList">
						        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref5"> selected="selected"</ers:isEqual>><%=option.name%></option>
                            </ers:foreach>
			        </select>
			        </td>
		        </tr>
		        <tr>
			        <th><ers:message code="sumry_search_prod" /></th>

			        <td>
                        <input type="text" name="scode1" value="<%=.Model.scode1%>" /><input type="submit" value="<ers:message code='sumry_prod_search' />" name="searchscode1"/><br />
                        <input type="text" name="scode2" value="<%=.Model.scode2%>" /><input type="submit" value="<ers:message code='sumry_prod_search' />" name="searchscode2"/><br />
                        <input type="text" name="scode3" value="<%=.Model.scode3%>" /><input type="submit" value="<ers:message code='sumry_prod_search' />" name="searchscode3"/><br />
                        <input type="text" name="scode4" value="<%=.Model.scode4%>" /><input type="submit" value="<ers:message code='sumry_prod_search' />" name="searchscode4"/><br />
                        <input type="text" name="scode5" value="<%=.Model.scode5%>" /><input type="submit" value="<ers:message code='sumry_prod_search' />" name="searchscode5"/>
			        </td>
		        </tr>
<!--
                <tr>
                    <th>媒体番号</th>
                    <td>
                        <input name="ccode" type="text" id="ccode" maxlength="20" value="<%=.Model.ccode%>"/>  （<%=.Model.campaign_name%>）
                        <input type="submit" value="リロード" name="reload" />
                        <input type="submit" value="検索" name="medsearch" />
                        <input type="hidden" value="<%=.Model.campaign_name%>" name="campaign_name" />
                    </td>
                </tr>
-->
		        <tr>
			        <td colspan="2" class="Button">
                        <input type="submit" class="SearchButton" name="repage" value="<ers:label code='common_search' />" />
			        </td>
		        </tr>

	        </table>
    </form>

    <ers:isEqual src=".Model.searchscode" value="true">
        <ers:partial file="../reports/age_product_search.htm" />
    </ers:isEqual>

    <ers:isEqual src=".Model.medsearch" value="true">
        <ers:partial file="../reports/age_media_search.htm" />
    </ers:isEqual>

</div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
