﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.age.TitleBuyerAgeRecordSummary" /></h2>

<ers:dispInfo />

<b><ers:message code="sumry_set_bill_period" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" /> to <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br /><br />
<span><ers:label code="pref" />：</span>&nbsp; <%=.Model.w_pref1%> <%=.Model.w_pref2%> <%=.Model.w_pref3%> <%=.Model.w_pref4%> <%=.Model.w_pref5%><br />
<span><ers:message code="sumry_commodity" />：</span>&nbsp;<%=.Model.scode1%> <%=.Model.scode2%> <%=.Model.scode3%> <%=.Model.scode4%> <%=.Model.scode5%></p>
<!--			<p class="alert" style="color:#ff0000;">※It takes a time to display screen. Please wait a moment.</p>
-->
<style>
	.men
	{
		background-color:#D5FFFF !important;
		color:#333;
	}
	
	.women
	{
		background-color:#FFEAEF !important;
		color:#333;
	}
	
	.amount td
	{
		font-weight:bold;
		background-color:#FFFFCC !important;
	}
	
	caption
	{
		text-align: left;
		margin-bottom: 4px;
		background-image: url("./App_Themes/Default/Images/h3top.gif");
		background-repeat:no-repeat;
		background-position: left top;
		border-bottom: 1px solid #cccccc;
		padding-left: 10px;
	}
</style>
<!-- message end -->
<div style="float:left;">
	<table class="Detail" style="margin:0;">
		<tr>
			<th class="w_100"><ers:message code="sumry_order_data_num" /></th>
			<td class="w_200"><%=.Model.billCount%></td>
		</tr>
	</table>

	</div>

	<table class="Detail" style="float:left;margin-left: 40px;">
		<tr>
			<th class="w_70" rowspan="2">&nbsp;</th>
			<th colspan="2"><ers:message code="sumry_male" /></th>
			<th colspan="2"><ers:message code="sumry_female" /></th>

			<th colspan="2"><ers:message code="sumry_total_amount" /></th>
		</tr>
		<tr>
			<th><ers:message code="sumry_real_num" /></th>
			<th><ers:message code="sumry_percentage" /></th>
			<th><ers:message code="sumry_real_num" /></th>
			<th><ers:message code="sumry_percentage" /></th>
			<th><ers:message code="sumry_real_num" /></th>
			<th><ers:message code="sumry_percentage" /></th>
		</tr>
        <ers:foreach src=".Model.repageList" variable="record" >
		<tr>
                <th><ers:message src="record.namename"/></th>
                <td class="men"><%=record.mcount%></td>
                <td class="men"><%=record.percentage_male%>%</td>
                <td class="women"><%=record.fcount%></td>
                <td class="women"><%=record.percentage_female%>%</td>
                <td><%=record.total%></td>
                <td><%=record.percentage_total%>%</td>
		</tr>
        </ers:foreach>
        <tr>

	</table>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
