﻿
	<table class="Detail">
        <tr>
            <td colspan="3"><ers:partial file="pager.htm" partialModel=".Pager" /></td>
        </tr>
		<tr>
			<th><ers:message code='reports.age_media_search.campaigncode'/></th>
            <th><ers:message code='reports.age_media_search.campaignname'/></th>
            <th></th>
		</tr>
        <ers:foreach src=".Model.campaignList" variable="campaignsearch">
		    <tr>
			    <td><%=campaignsearch.ccode%></td>
			    <td><%=campaignsearch.campaign_name%></td>
                <td>
                    <form method="post" action="<%=.sec_url%>reports/age">
                        <p class="btn">
                            <input type="hidden" name="ccode" value="<%=campaignsearch.ccode%>" />
                            <input type="hidden" name="scode1" value="<%=.Model.scode1%>" />
                            <input type="hidden" name="scode2" value="<%=.Model.scode2%>" />
                            <input type="hidden" name="scode3" value="<%=.Model.scode3%>" />
                            <input type="hidden" name="scode4" value="<%=.Model.scode4%>" />
                            <input type="hidden" name="scode5" value="<%=.Model.scode5%>" />
                            <input type="hidden" name="searchscode1" value="<%=.Model.searchscode1%>" />
                            <input type="hidden" name="searchscode2" value="<%=.Model.searchscode2%>" />
                            <input type="hidden" name="searchscode3" value="<%=.Model.searchscode3%>" />
                            <input type="hidden" name="searchscode4" value="<%=.Model.searchscode4%>" />
                            <input type="hidden" name="searchscode5" value="<%=.Model.searchscode5%>" />
                            <input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
                            <input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
                            
                            <input type="hidden" name="pref1" value="<%=.Model.pref1%>" />
                            <input type="hidden" name="pref2" value="<%=.Model.pref2%>" />
                            <input type="hidden" name="pref3" value="<%=.Model.pref3%>" />
                            <input type="hidden" name="pref4" value="<%=.Model.pref4%>" />
                            <input type="hidden" name="pref5" value="<%=.Model.pref5%>" />

                            <input type="submit" name="medselect" value="<ers:message code='select' />" />
                        </p>
                    </form>
                </td>
		    </tr>
        </ers:foreach>
	</table>


