﻿<ers:isEqual src=".Model.repproductsearch" value="true">

	<table class="Detail">
        <tr>
            <td colspan="3"><ers:partial file="../reports/pager.htm" partialModel=".Pager" /></td>
        </tr>
		<tr>
			<th>商品番号</th>
            <th>商品名</th>
            <th></th>
		</tr>
        <ers:foreach src=".Model.repproductList" variable="productsearch">
		    <tr>
			    <td><%=productsearch.scode%></td>
			    <td><ers:isEqual src="productsearch.cts_sname" value=""><%=productsearch.sname%></ers:isEqual><ers:isNotEqual src="productsearch.cts_sname" value=""><%=productsearch.cts_sname%></ers:isNotEqual></td>
                <td>
                    <form method="post" action="<%=.sec_url%>reports/age">
                        <p class="btn">
                            <input type="hidden" name="scode" value="<%=productsearch.scode%>" />
                            <input type="hidden" name="scode1" value="<%=.Model.scode1%>" />
                            <input type="hidden" name="scode2" value="<%=.Model.scode2%>" />
                            <input type="hidden" name="scode3" value="<%=.Model.scode3%>" />
                            <input type="hidden" name="scode4" value="<%=.Model.scode4%>" />
                            <input type="hidden" name="scode5" value="<%=.Model.scode5%>" />
                            <input type="hidden" name="searchscode1" value="<%=.Model.searchscode1%>" />
                            <input type="hidden" name="searchscode2" value="<%=.Model.searchscode2%>" />
                            <input type="hidden" name="searchscode3" value="<%=.Model.searchscode3%>" />
                            <input type="hidden" name="searchscode4" value="<%=.Model.searchscode4%>" />
                            <input type="hidden" name="searchscode5" value="<%=.Model.searchscode5%>" />
                            <input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
                            <input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
                            
                            <input type="hidden" name="pref1" value="<%=.Model.pref1%>" />
                            <input type="hidden" name="pref2" value="<%=.Model.pref2%>" />
                            <input type="hidden" name="pref3" value="<%=.Model.pref3%>" />
                            <input type="hidden" name="pref4" value="<%=.Model.pref4%>" />
                            <input type="hidden" name="pref5" value="<%=.Model.pref5%>" />
                            <input type="hidden" name="ccode" value="<%=.Model.ccode%>" />
                            <input type="hidden" name="campaign_name" value="<%=.Model.campaign_name%>" />
                            <input type="submit" name="searchscode" value="<ers:message code='select' />" />
                        </p>
                    </form>
                </td>
		    </tr>
        </ers:foreach>
	</table>
</ers:isEqual>

<!--ers:isEqual src=".Model.repproductsearch" value="false">
    <p style="text-align:center;" > No records found!</p>
</ers:isEqual-->
<ers:dispInfo />
