﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
    <h2>
    <ers:isEqual src=".Model.TargetByDay" value="true"><ers:message code="reports.call.Operator call aggregate(daily)" /></ers:isEqual>
    <ers:isEqual src=".Model.TargetByMonth" value="true"><ers:message code="reports.call.Operator call aggregate(monthly)" /></ers:isEqual>
    <ers:isEqual src=".Model.TargetByTime" value="true"><ers:message code="reports.call.Operator call aggregate(hourly)" /></ers:isEqual>
    </h2>
        
<style>
    td.amount
    {
        font-weight: bold;
        background-color: #FFFFCC !important;
    }
</style>
<ers:isEqual src=".Model.repcallHasRecord" value="true">

    <b><ers:message code="sumry_set_bill_period" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" /> ～ <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br /><br />



	<form action="<%=.sec_url%>reports/call_download_csv" method="post">
	<input type="submit" name="repcallcsv" value="CSVダウンロード" class="submit multi-clickable"/>
	</form>
<table class="SearchResult">
    <tr>
        <th rowspan="2" colspan="2">
            &nbsp;
        </th>
        <th colspan="<%=.Model.colcount %>">
            <ers:label code="agentname" />
        </th>
    </tr>

    <tr>
        <ers:foreach src=".Model.repcallList" variable="record">
            <td><%=record.ag_name %></td>
        </ers:foreach>
        <td class="amount"><ers:message code="sumry_total_amount" /></td>
    </tr>

    <th rowspan="<%=.Model.rowcount %>">
    <ers:isEqual src=".Model.TargetByDay" value="true"><ers:label code="common_day" /></ers:isEqual>
    <ers:isEqual src=".Model.TargetByMonth" value="true"><ers:label code="common_month" /></ers:isEqual>
    <ers:isEqual src=".Model.TargetByTime" value="true"><ers:label code="time_interval" /></ers:isEqual>
    </th>
        <ers:foreach src=".Model.repcallInterval" variable="interval">
            <tr>
		        <td><%=interval.byhalfhour%></td> 
                    <ers:foreach src=".Model.repcallList" variable="userlist"> 
              	        <ers:foreach src=".Model.repcallTotalUserTime" variable="usertime">
                            <ers:isEqual src="userlist.user_id" variable="usertime.user_id"> <!-- Check User -->
                                <ers:isEqual src="usertime.byhalfhour" variable="interval.byhalfhour"> <!-- Check Time -->
                                    <td><%=usertime.d_no_count%></td>
                                </ers:isEqual> 
                            </ers:isEqual> 
			            </ers:foreach>
                    </ers:foreach>

        <ers:foreach src=".Model.repcallTotalTime" variable="totaltime">
            <ers:isEqual src="totaltime.byhalfhour" variable="interval.byhalfhour"> <!-- Check Time -->
                <td class="amount"><%=totaltime.d_no_count%></td>
            </ers:isEqual> 
        </ers:foreach>

            </tr>
        </ers:foreach>

    <tr>
        <td class="amount"><ers:message code="sumry_total_amount" /></td>
            <ers:foreach src=".Model.repcallList" variable="totalusers">
                <td class="amount"><%=totalusers.d_no_count%></td>
            </ers:foreach>
        <td class="amount"><%=.Model.repcallTotal%></td>
    </tr>
</table>

<br />


</ers:isEqual>
<!--ers:isEqual src=".Model.repcallHasRecord" value="false">No data found.</ers:isEqual-->
<ers:dispInfo />
<br />
<br />

</div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
