﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.category.TitleCategorySummary" /></h2>
<div class="ERS_table">
    <table class="Search">
        <ers:foreach src=".Model.repcategoryDetail" variable="list">
            <tr>
                <th><ers:label code="common_picharge" /></th>
                <td colspan="3"><%=list.ag_name %></td>
            </tr>
            <tr>
                <th><ers:label code="enq_casename" /></th>
                <td colspan="3"><%=list.enq_casename %></td>
            </tr>
            <tr>
                <th><ers:label code="common_category" /></th>
                <td colspan="4"><%=list.cate1 %>  <ers:isNotEqual src="list.cate1" value=""><ers:isNotEqual src="list.cate2" value="">/ </ers:isNotEqual></ers:isNotEqual><%=list.cate2 %> <ers:isNotEqual src="list.cate3" value="">/ </ers:isNotEqual><%=list.cate3 %> <ers:isNotEqual src="list.cate4" value="">/ </ers:isNotEqual><%=list.cate4 %> <ers:isNotEqual src="list.cate5" value="">/ </ers:isNotEqual><%=list.cate5 %></td>
            </tr>
            <tr>
                <th><ers:label code="Progress" /></th>
                <td><%=list.w_status %></td>
                <th><ers:label code="enq_situation" /></th>
                <td><%=list.w_situation %></td>
            </tr>
            <tr>
                <th><ers:label code="common_inq_type" /></th>
                <td>
                
               <ers:isEqual src="list.w_type" value="inboundFAX">
                    <img src="<%=.sec_url%>images/fax17.gif" alt="fax" />
                </ers:isEqual>

                <ers:isEqual src="list.w_type" value="inbound電話">
                    <img src="<%=.sec_url%>images/tel17.gif" alt="tel" />
                </ers:isEqual>

                <ers:isEqual src="list.w_type" value="inboundEmail">
                    <img src="<%=.sec_url%>images/mail17.gif" alt="email" />
                </ers:isEqual>
                </td>
                <th><ers:label code="enq_priorty" /></th>
                <td><%=list.w_priority %></td>
            </tr>

            <ers:foreach variable="bill" src=".Model.repcategoryBillDetail">
            <pre>
                <ers:isEqual src="list.w_type" value="inboundFAX">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="bill.memo" />
                    </td>
                </tr>
                </ers:isEqual>

                <ers:isEqual src="list.w_type" value="inbound電話">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="bill.enq_detail" /><br />
                        ====================================================<br />
                        <ers:multiLine src="bill.ans_detail" />
                    </td>
                </tr>
                </ers:isEqual>

                <ers:isEqual src="list.w_type" value="inboundEmail">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="bill.email_header" /><br />
                        ====================================================<br />
                        <ers:multiLine src="bill.email_body" /><br />
                        ====================================================<br />
                        <ers:multiLine src="bill.email_fotter" />
                    </td>
                </tr>
                </ers:isEqual> 
            </pre>
        </ers:foreach>
        </ers:foreach>
        <tr>
            <td colspan="4" class="Button">
                <form action="<%=.sec_url%>reports/category_list" method="post">

                    <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />

                    <input type="hidden" name="repcategory" value="true" />
                    <input type="submit" name="repcategoryList" value="<ers:label code='common_back' />" class="submit" />
                </form>
            </td>
        </tr>
    </table>
</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
