﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.category.TitleCategorySummary" /></h2>

        <ers:isEqual src=".Model.repcategory" value="false">
            <form action="<%=.sec_url%>reports/category_tabulation" id="categtab" name="categtab" method="post">

            <ers:dispError />

	        <table class="Search">
		        <tr>
			        <th class="w_150"><ers:message code="sumry_accept_date" /></th>
                    <td colspan="3">
                        <input type="text" class="datepicker_start_editable" name="datefrom" value="<ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" />" maxlength="19" style="width:125px" />&nbsp;&nbsp;～&nbsp;
                        <input type="text" class="datepicker_end_editable" name="dateto" value="<ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" />" maxlength="19" style="width:125px" />&nbsp;&nbsp;
												<ers:message code="reports.order.MsgSetDateRange" />

                     </td>
		        </tr>

		        <tr>
			        <th class="w_150"><ers:label code="common_inq_type" /></th>
			        <td>
			        <select id="typcode" name="typcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqtypList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.typcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
			        <th class="w_150"><ers:label code="enq_priorty" /></th>
                    <td>
			        <select id="prycode" name="prycode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqpryList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.prycode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
		        </tr>
                <tr>
			        <th><ers:message code="sumry_inquiry_status" /></th>
			        <td>
			        <select id="stscode" name="stscode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqstsList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.stscode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
			        <th><ers:label code="enq_progress" /></th>
                    <td>
			        <select id="pgrcode" name="pgrcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqpgrList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.pgrcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
		        </tr>
                <tr>
			        <th><ers:label code="enq_situation" /></th>
			        <td colspan="3">
			        <select id="sitcode" name="sitcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqsitList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.sitcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
		        </tr>
		        <tr>
			        <td colspan="5" class="Button">
                        <input type="submit" class="SearchButton" name="repcategory" value="<ers:label code='common_search' />" />
			        </td>
		        </tr>
	        </table>
            </form>
        </ers:isEqual>

        <ers:isEqual src=".Model.repcategory" value="true">
            <ers:partial file="../reports/ctsRepCategoryTab.htm" />
        </ers:isEqual>
</div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">

                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
    </script>