﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.category.TitleCategorySummary" /></h2>
<div class="ERS_table">
    <ers:isEqual src=".Model.repcategoryHasRecord" value="true">
    <b><ers:message code="sumry_accept_date" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" />&nbsp;&nbsp;～&nbsp;<ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br /><br />
	    <table class="SearchResult">
	        <tbody>

	            <tr>
	                <th class="w_100"><ers:label code="common_type" /></th>
                    <th class="w_100"><ers:label code="common_number" /></th>
                    <th class="w_100"><ers:label code="common_category" /></th>
                    <th class="w_100"><ers:label code="common_number" /></th>
                    <th class="w_100"><ers:label code="common_list" /></th>
	            </tr>

                <ers:foreach src=".Model.repcategoryListParent" variable="parent">
                    <ers:isEqual src="parent.hasChild" variable="false">
                        <tr>
                            <td<ers:isEqual src="parent.active" value="0"> class="grayBack"</ers:isEqual>><%=parent.namename%></td>
                            <td<ers:isEqual src="parent.active" value="0"> class="grayBack"</ers:isEqual>><%=parent.parentcount%></td>
                    </ers:isEqual>

                    <ers:foreach src=".Model.repcategoryRowSpan" variable="rowspan">
                        <ers:isEqual src="parent.code" variable="rowspan.child_code">
                            <tr>
                                
                                <td rowspan="<%=rowspan.rowcount%>" <ers:isEqual src="parent.active" value="0">class="grayBack"</ers:isEqual>>
                                    <%=parent.namename%>
                                </td>
                                <td rowspan="<%=rowspan.rowcount%>" <ers:isEqual src="parent.active" value="0">class="grayBack"</ers:isEqual>><%=parent.parentcount%></td>                                  
                                                     
                                <ers:foreach src=".Model.repcategoryListChild" variable="child">
                                    <ers:isEqual src="parent.code" variable="child.child_code">
                                        <ers:isEqual src="parent.hasChild" variable="true">
                                            <tr>
                                        </ers:isEqual>
                                     
                                        <td<ers:isEqual src="child.active" value="0"> class="grayBack"</ers:isEqual>><%=child.namename%></td>                                               

                                    <ers:foreach src=".Model.repcategoryChildCount" variable="childcount" roopcounter="r">
                                        <ers:isEqual src="parent.code" variable="childcount.parent_code">
                                            <ers:isEqual src="child.code" variable="childcount.code">
                                                
                                                <td <ers:isEqual src="child.active" value="0">class="grayBack"</ers:isEqual>><%=childcount.childcount%></td>
                                                <ers:isEqual src="child.code" value="0">
                                                    <td rowspan="<%=rowspan.rowcount%>" <ers:isEqual src="parent .active" value="0">class="grayBack"</ers:isEqual>>
                                                        <form action="<%=.sec_url%>reports/category_list" method="post">
                                                            <input type="hidden" name="repcategory" value="true" />
                                                            <input type="hidden" name="cate_code" value="<%=childcount.parent_code%>" />
                                                            <input type="submit" name="repcategoryList" value="一覧" class="submit" />
                                                        </form>
                                                    </td>
                                                </ers:isEqual>
                                                
                                            </ers:isEqual>    
                                        </ers:isEqual>
                                    </ers:foreach>   
                                    

                                        <ers:isEqual src="parent.hasChild" variable="true">
                                            </tr>
                                        </ers:isEqual>
                                    </ers:isEqual>
                               </ers:foreach>
                         
                            </tr>
                       </ers:isEqual>
                    </ers:foreach>       
                            

                    <ers:isEqual src="parent.hasChild" variable="false">
                        </tr>
                    </ers:isEqual>

                </ers:foreach>
	        </tbody>
	    </table>
        <br />
    </ers:isEqual>
    <ers:isEqual src=".Model.repcategoryHasRecord" value="false">
		<ers:message code='common.no_data_found' />
    </ers:isEqual>
</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
