﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.category.TitleCategorySummary" /></h2>
<div class="ERS_table">
    <ers:isEqual src=".Model.repcategoryDetails" value="false">
        <form action="" name="category_download_csv" id="category_download_csv">
                <input type="hidden" name="repcategorycsv" value="CSVダウンロード" />  
        </form>

        <p class="btn">
           <!-- <a href="#" class="form_btn submit" rel="category_download_csv$category_download_csv"><ers:message code="csv_download" /></a>-->
           <input type="button"  class="form_btn submit multi-clickable" rel="category_download_csv$category_download_csv" value="<ers:message code="csv_download" />"/>
        </p>
        
        
        <ers:label code="common_type" />: <%=.Model.w_enqct_name%><br /><br />
	<table class="SearchResult">
        <tr>
            <td colspan="7">
                <ers:partial file="pager.htm" partialModel=".Pager" />
            </td>
        </tr>

        <tr>
            <th><ers:label code="category_ReceptionDate" /></th>
            <th><ers:label code="ClientsName" /></th>
            <th><ers:label code="Progress" /></th>
            <th><ers:label code="Status" /></th>
            <th><ers:label code="Subject" /></th>
            <th><ers:label code="PersonInCharge" /></th>
            <th><ers:message code="category_sumry_log_details" /></th>

        </tr>
        <ers:foreach src=".Model.repcategoryListDetail" variable="list">
	    <tr>
            <td><%=list.intime%></td>
            <td><%=list.lname%> <%=list.fname%></td>
            <td><ers:message src="list.w_status" /></td>
            <td><ers:message src="list.w_situation" /></td>
            <td><%=list.enq_casename%></td>
            <td><%=list.ag_name%></td>
            <td>
                <form action="<%=.sec_url%>reports/category_detail" method="post">

                    <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />                   
                    <input type="hidden" name="repcategory" value="true" />
                    <input type="hidden" name="case_no" value="<%=list.case_no %>" />                    
                    <input type="submit" name="repcategoryDetails" value="<ers:message code='category_sumry_log_details' />" class="submit" />
                </form>
            </td>
        </tr>
        </ers:foreach>
        <tr>
            <td colspan="7" class="Button">
                <form action="<%=.sec_url%>reports/category_tabulation" method="post">
                    <input type="submit" name="repcategory" value="<ers:label code='common_back' />" class="submit" />
                </form>
            </td>
        </tr>
	</table>
    </ers:isEqual>

    <ers:isEqual src=".Model.repcategoryDetails" value="true">
        <ers:partial file="../reports/ctsRepCategoryTabDetail.htm" />
    </ers:isEqual>
</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
