﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2 style="font-size: 20px; font-weight: bold; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(93, 112, 157); margin-top: 10px; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; ">
        <font><ers:message code="reports.contactlogs.TitleInquiryLogSummary" /></font></h2>

            <form action="<%=.sec_url%>reports/contactlogs_tabulation" id="contactlogtab" name="contactlogtab" method="post">
            <table class="Search">
		        <tr>
			        <th><ers:message code="sumry_accept_date" /></th>
                    <td colspan="3" class="w_150">
                        <input type="text" class="datepicker_start w_150" name="datefrom" maxlength="10" id="datefrom" value="<ers:formatDate src=".Model.datefrom" />" />&nbsp;～&nbsp;
                        <input type="text" class="datepicker_start w_150" name="dateto" maxlength="10" id="dateto" value="<ers:formatDate src=".Model.dateto" />" />
												<ers:message code="reports.order.MsgSetDateRange" />
			        </td>
		        </tr>

		        <tr>
			        <th><ers:label code="common_inq_type" /></th>
			        <td>
			        <select id="typcode" name="typcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqtypList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.typcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
                    <th><ers:label code="enq_priorty" /></th>
                    <td>
                    <select id="prycode" name="prycode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqpryList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.prycode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
                    </td>
		        </tr>

                <tr>
			        <th><ers:message code="sumry_inquiry_status" /></th>
			        <td>
			        <select id="stscode" name="stscode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqstsList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.stscode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
			        </td>
                    <th><ers:label code="enq_progress" /></th>
                    <td>
                    <select id="pgrcode" name="pgrcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqpgrList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.pgrcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
                    </td>
		        </tr>

                <tr>
                    <th><ers:label code="enq_situation" /></th>
                    <td colspan="3">
                        <select id="sitcode" name="sitcode">
				        <option value=""></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqsitList">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.sitcode"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

                <tr>
                    <th><ers:label code="enq_casename" /></th>
                    <td colspan="3">
                        <input type="text" value="<%=.Model.enq_casename %>" name="enq_casename" id="" style="width:250px" maxlength="255" />
                    </td>
                </tr>
		        
                <tr>
                    <th><%=.Model.catlabel1%></th>
                    <td colspan="3">
                        <select id="ct1code" name="ct1code">
				        <option value=""><ers:message code='common.all' /></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqct1List">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.ct1code"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

                <tr>
                    <th><%=.Model.catlabel2%></th>
                    <td colspan="3">
                        <select id="ct2code" name="ct2code">
				        <option value=""><ers:message code='common.all' /></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqct2List">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.ct2code"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

                <tr>
                    <th><%=.Model.catlabel3%></th>
                    <td colspan="3">
                        <select id="ct3code" name="ct3code">
				        <option value=""><ers:message code='common.all' /></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqct3List">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.ct3code"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

                <tr>
                    <th><%=.Model.catlabel4%></th>
                    <td colspan="3">
                        <select id="ct4code" name="ct4code">
				        <option value=""><ers:message code='common.all' /></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqct4List">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.ct4code"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

                <tr>
                    <th><%=.Model.catlabel5%></th>
                    <td colspan="3">
                        <select id="ct5code" name="ct5code">
				        <option value=""><ers:message code='common.all' /></option>
				        <ers:foreach variable="option" src=".Model.ctsEnqct5List">
				            <option value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.ct5code"> selected="selected"</ers:isEqual>><%=option.name%></option>
                        </ers:foreach>
			        </select>
                    </td>
                </tr>

		        <tr>
			        <td colspan="4" class="Button">
                        <input type="submit" class="SearchButton" name="repcontact" value="<ers:label code='common_search' />" />
			        </td>
		        </tr>
	        </table>
            </form>

</div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
