﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2 style="font-size: 20px; font-weight: bold; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(93, 112, 157); margin-top: 10px; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; ">
        <font><ers:message code="reports.contactlogs.TitleInquiryLogSummary" /></font></h2>

<div class="ERS_table">
    <ers:isEqual src=".Model.repcontactHasRecord" value="true">
    <b><ers:message code="sumry_accept_date" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd" /> to <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd" /></b> <br /><br />
        <form action="<%=.sec_url%>reports/contactlogs_download_csv" method="post" name="contactlogs_download_csv" id="contactlogs_download_csv">
               

        <p class="btn">
             <input type="submit" name="repcontactcsv" value="<ers:message code='csv_download' />" class="multi-clickable" />
        </p>
        
        </form>
	    <table class="SearchResult">
            <tbody>
                <tr>
                    <td colspan="8">
                        <ers:partial file="pager.htm" partialModel=".Pager" />
                    </td>
                </tr>
		        <tr>
                    <th><ers:label code="No" /></th>
                    <th><ers:label code="ReceptionDate" /></th>
                    <th><ers:label code="ClientsName" /></th>
                    <th><ers:label code="Progress" /></th>
                    <th><ers:label code="Status" /></th>
                    <th><ers:label code="email_title" /></th>
                    <th><ers:label code="PersonInCharge" /></th>
                    <th><ers:message code="sumry_log_details" /></th>
                </tr>

                <ers:foreach variable="repcontactlog" src=".Model.repcontactlogList">
                    <tr>
                        <td><%=repcontactlog.case_no%></td>
                        <td><%=repcontactlog.intime%></td>
                        <td><%=repcontactlog.lname%> <%=repcontactlog.fname%></td>
                        <td><ers:message src="repcontactlog.w_status" /></td>
                        <td><ers:message src="repcontactlog.w_situation" /></td>
                        <td><%=repcontactlog.enq_casename%></td>
                        <td><%=repcontactlog.ag_name%></td>
                        <td>
                            <form method="post" action="<%=.sec_url%>reports/contactlogs_detail">
                                <input type="hidden" name="case_no" value="<%=repcontactlog.case_no%>" />
                                <input type="hidden" name="repcontact" value="true" />
                                <input type="submit" class="submit" name="todetail" value="<ers:message code='sumry_log_details' />" />   
                            </form>
                        </td>

                    </tr>
                </ers:foreach>
            </tbody>
	    </table>


         <br />
        </ers:isEqual>
             <!--ers:isEqual src=".Model.repcontactHasRecord" value="false">
             No data found.
        </ers:isEqual-->
        <ers:dispInfo />

</div></div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
