﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2 style="font-size: 20px; font-weight: bold; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(93, 112, 157); margin-top: 10px; margin-bottom: 10px; color: rgb(51, 51, 51); font-family: 'Times New Roman'; font-style: normal; font-variant: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: -webkit-auto; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; ">
        <font><ers:message code="reports.contactlogs.TitleInquiryLogSummary" /></font></h2>

<div class="ERS_Table">
    <ers:foreach variable="repcontactlog" src=".Model.repcontactlogList">
    <table class="Search">
        <tr>
            <th><ers:label code="common_picharge" /></th>
            <td colspan="3"><%=repcontactlog.ag_name%></td>
        </tr>
        <tr>
            <th><ers:label code="enq_casename" /></th>
            <td colspan="3"><%=repcontactlog.enq_casename%></td>
        </tr>
        <tr>
            <th><ers:label code="common_category" /></th>
            <td colspan="3"><%=repcontactlog.cate1%> / <%=repcontactlog.cate2%> / <%=repcontactlog.cate3%> / <%=repcontactlog.cate4%> / <%=repcontactlog.cate5%></td>
        </tr>
        <tr>
            <th><ers:label code="enq_progress" /></th>
            <td><ers:message src="repcontactlog.w_enq_progress"/></td>

            <th><ers:label code="enq_situation" /></th>
            <td><ers:message src="repcontactlog.w_enq_situation"/></td>
        </tr>
        <tr>
            <th><ers:label code="common_inq_type" /></th>
            <td>
                <ers:isEqual src="repcontactlog.w_enq_type" value="inboundFAX">
                    <img src="../../images/fax17.gif" alt="fax" />
                </ers:isEqual>

                <ers:isEqual src="repcontactlog.w_enq_type" value="inbound電話">
                    <img src="../../images/tel17.gif" alt="tel" />
                </ers:isEqual>

                <ers:isEqual src="repcontactlog.w_enq_type" value="inboundEmail">
                    <img src="../../images/mail17.gif" alt="email" />
                </ers:isEqual>  
              </td>

            <th><ers:label code="enq_priorty" /></th>
            <td><ers:message src="repcontactlog.w_enq_priorty"/></td>
        </tr>
    
        <ers:foreach variable="repcontactlogDetail" src=".Model.repcontactlogDetailList">
                <ers:isEqual src="repcontactlog.w_enq_type" value="inboundFAX">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="repcontactlogDetail.memo" />
                    </td>
                </tr>
                </ers:isEqual>

                <ers:isEqual src="repcontactlog.w_enq_type" value="inbound電話">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="repcontactlogDetail.enq_detail" /><br />
                        ====================================================<br />
                        <ers:multiLine src="repcontactlogDetail.ans_detail" />
                    </td>
                </tr>
                </ers:isEqual>

                <ers:isEqual src="repcontactlog.w_enq_type" value="inboundEmail">
                <tr>
                    <td colspan="4">
                        <ers:multiLine src="repcontactlogDetail.email_header" /><br />
                        ====================================================<br />
                        <ers:multiLine src="repcontactlogDetail.email_body" /><br />
                        ====================================================<br />
                        <ers:multiLine src="repcontactlogDetail.email_fotter" />
                    </td>
                </tr>
                </ers:isEqual> 
        </ers:foreach>
    </ers:foreach>
    </table>

</div>
</div></div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
