﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.index.TitleSummary" /></h2>

	<table class="Menu">
		<tbody>
			<tr>
				<th class="w_200"><a href="<%=.sec_url%>reports/order" id="ordertab" name="ordertab" ><ers:message code="sumry_orders_base" /></a></th>
                <td class="w_350"><ers:message code="reports.index.MsgBaseOrder" /></td>
			</tr>
			<tr>
				<th><a href="<%=.sec_url%>reports/product" id="prodtab" name="prodtab" ><ers:message code="sumry_products" /></a></th>
				<td><ers:message code="reports.index.MsgProduct" /></td>
			</tr>
			<tr>
				<th class="w_200"><a href="<%=.sec_url%>reports/call" id="callrestab" name="callrestab" ><ers:message code="sumry_operator" /></a></th>
				<td><ers:message code="reports.index.MsgOperator" /></td>
			</tr>
			<tr>
				<th><a href="<%=.sec_url%>reports/sales" id="salesprodtab" name="salesprodtab" ><ers:message code="sumry_sales_prod" /></a></th>
				<td><ers:message code="reports.index.MsgSalesProd" /></td>
			</tr>
			<tr>
                <th><a href="<%=.sec_url%>reports/age" id="agetab" name="agetab" ><ers:message code="sumry_buyer_age_record" /></a></th>
				<td><ers:message code="reports.index.MsgBuyerAge" /></td>
			</tr>
		</tbody>
	</table>
	
	<br />

	<table class="Menu">
		<tbody>
			<tr>
				<th class="w_200"><a href="<%=.sec_url%>reports/contactlogs" id="contactlogtab" name="contactlogtab" ><ers:message code="sumry_inquiry_logs" /></a></th>
				<td class="w_350"><ers:message code="reports.index.MsgInquiryLog" /></td>
			</tr>
			<tr>
				<th class="w_200"><a href="<%=.sec_url%>reports/category" id="categtab" name="categtab" ><ers:message code="sumry_category" /></a></th>
				<td class="w_350"><ers:message code="reports.index.MsgCategory" /></td>
			</tr>
		</tbody>
	</table>

</div>
</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
