﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">



<div class="Report">
	<h2><ers:message code="reports.order.TitleBaseOrderSummary" /></h2>
    
<ers:isEqual src=".Model.reporderHasRecord" value="true">
    <b><ers:message code="sumry_set_bill_period" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" /> ～ <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br />
    <ers:isNotEqual src=".Model.ag_type" value=""><b><ers:label code="ag_type" />: <%=.Model.ag_typek%></b><br /></ers:isNotEqual>
    <ers:isNotEqual src=".Model.agentid" value=""><b><ers:label code="agent_id" />: <%=.Model.agentid%></b><br /></ers:isNotEqual><br />
    <form method="post" action="<%=.sec_url%>reports/order_download_csv">
        <p class="btn">
            <input type="submit" name="repordercsv" value="<ers:message code='csv_download' />"  class="multi-clickable"/>  
        </p>
    </form>
	<table class="SearchResult">
		<tbody>	
            <tr>
				<th class="col_1"><ers:label code="common_class" /></th>
				<th class="col_2"><ers:label code="temp_order" /></th>
				<th class="col_3"><ers:label code="reg_order" /></th>
				<th class="col_4"><ers:label code="total" /></th>
				<th class="col_5"><ers:label code="price" /></th>
			</tr>

            <ers:foreach src=".Model.reporderList" variable="record">
			<tr>
				<td><%=record.agent%></td>
				<td><%=record.temp_amount %></td>
				<td><%=record.amount%></td>
				<td><%=record.total_amount%></td>
                <td><ers:formatCurrency src="record.total_price"></td>
			</tr>
            </ers:foreach>
        </tbody>	
	</table>
     <br />
</ers:isEqual>

<!--ers:isEqual src=".Model.reporderHasRecord" value="false">
No data found.
</ers:isEqual-->
<ers:dispInfo />

</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
