﻿<input type="hidden" name="typcode" value="<%=.Model.typcode%>" />
<input type="hidden" name="prycode" value="<%=.Model.prycode%>" />
<input type="hidden" name="stscode" value="<%=.Model.stscode%>" />
<input type="hidden" name="pgrcode" value="<%=.Model.pgrcode%>" />
<input type="hidden" name="sitcode" value="<%=.Model.sitcode%>" />
<input type="hidden" name="ct1code" value="<%=.Model.ct1code%>" />
<input type="hidden" name="ct2code" value="<%=.Model.ct2code%>" />
<input type="hidden" name="ct3code" value="<%=.Model.ct3code%>" />
<input type="hidden" name="ct4code" value="<%=.Model.ct4code%>" />
<input type="hidden" name="ct5code" value="<%=.Model.ct5code%>" />
<input type="hidden" name="p_code" value="<%=.Model.p_code%>" />
<input type="hidden" name="c_code" value="<%=.Model.c_code%>" />
<input type="hidden" name="enq_casename" value="<%=.Model.enq_casename%>" />
<input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
<input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
<input type="hidden" name="repcontact" value="<%=.Model.repcontact%>" />
<input type="hidden" name="repcategory" value="<%=.Model.repcategory%>" />
<input type="hidden" name="repcategoryList" value="<%=.Model.repcategoryList%>" />
<input type="hidden" name="repinbound" value="<%=.Model.repinbound%>" />
<input type="hidden" name="repinboundList" value="<%=.Model.repinboundList%>" />
<input type="hidden" name="type" value="<%=.Model.type%>" />
<input type="hidden" name="progress" value="<%=.Model.progress%>" />
<input type="hidden" name="situation" value="<%=.Model.situation%>" />

<input type="hidden" name="scode1" value="<%=.Model.scode1%>" />
<input type="hidden" name="scode2" value="<%=.Model.scode2%>" />
<input type="hidden" name="scode3" value="<%=.Model.scode3%>" />
<input type="hidden" name="scode4" value="<%=.Model.scode4%>" />
<input type="hidden" name="scode5" value="<%=.Model.scode5%>" />
<input type="hidden" name="searchscode1" value="<%=.Model.searchscode1%>" />
<input type="hidden" name="searchscode2" value="<%=.Model.searchscode2%>" />
<input type="hidden" name="searchscode3" value="<%=.Model.searchscode3%>" />
<input type="hidden" name="searchscode4" value="<%=.Model.searchscode4%>" />
<input type="hidden" name="searchscode5" value="<%=.Model.searchscode5%>" />
<input type="hidden" name="medsearch" value="<%=.Model.medsearch%>" />