﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">
	<h2><ers:message code="reports.product.TitleProductSummary" /></h2>

<ers:isEqual src=".Model.repprodHasRecord" value="true">

<div class="ERS_table">
    <b><ers:message code="sumry_set_bill_period" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" /> to <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br /><br />
	<table class="SearchResult">
	    <tbody>
	    <tr>
	        <th class="w_100"><ers:message code="sumry_item_ordr_total" /></th>
	<td class="w_200"><%=.Model.total_number%></td>
	</tr>
	<tr>
	<th><ers:label code="TotalAmount" /></th>
    <td><ers:formatCurrency src=".Model.total_amount"></td>
	</tr>
	</tbody>
	</table>

	<p class="btn">
	<form method="post" action="<%=.sec_url%>reports/product_download_csv">
    <p class="btn">
        <input type="submit" name="repprodcsv" value="<ers:message code='csv_download' />" class="multi-clickable" />  
    </p>
</form>
<!--	<input type="submit" name="" value="DisplayOnlySingle-Item">
-->    <input type="hidden" name="view" value="single">



	<table class="SearchResult">
	    <tbody>
            <tr>
                <th class="col_3"><ers:label code="ProductName" /></th>
	            <th class="col_4"><ers:message code="sumry_commodity_grp" /></th>
	            <th class="col_5"><ers:label code="ProductCode" /></th>
	            <th class="col_6"><ers:label code="UnitPrice" /></th>
	            <th class="col_8"><ers:label code="CTS" /></th>
                <th class="col_8"><ers:label code="Tel" /></th>
                <th class="col_8"><ers:label code="Letter" /></th>
                <th class="col_8"><ers:label code="Fax" /></th>
	            <th class="col_8"><ers:label code="PC" /></th>
	            <th class="col_8"><ers:label code="MB" /></th>
	            <th class="col_9"><ers:label code="TotalNumber" /></th>
	            <th class="col_10"><ers:label code="TotalAmount" /></th>
	            <th class="col_11"><ers:label code="NumberAvailableForSale" /></th>
	        </tr>
            <ers:foreach src=".Model.repprodList" variable="record">
			    <tr>
                    
                    <td><ers:isEqual src="record.cts_sname" value=""><%=record.sname%></ers:isEqual><ers:isNotEqual src="record.cts_sname" value=""><%=record.cts_sname%></ers:isNotEqual></td>
                    <td><%=record.gcode%></td>
                    <td><%=record.scode%></td>
                    <td><ers:formatCurrency src="record.price" /></td>
                    <td><ers:formatNumber src="record.cts" /></td>
                    <td><ers:formatNumber src="record.tel" /></td>
                    <td><ers:formatNumber src="record.let" /></td>
                    <td><ers:formatNumber src="record.fax" /></td>
                    <td><ers:formatNumber src="record.pc" /></td>
                    <td><ers:formatNumber src="record.mb" /></td>
                    <td><ers:formatNumber src="record.totnum" /></td>
                    <td><ers:formatCurrency src="record.totamt" /></td>
                    <td><ers:formatNumber src="record.stock" /></td>
			    </tr>

            </ers:foreach>
    	</tbody>
	</table>
</div>
</ers:isEqual>
<!--ers:isEqual src=".Model.repprodHasRecord" value="false">No data found.</ers:isEqual-->
<ers:dispInfo />

</div>

            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
