﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="content-style-type" content="text/css" />
    <meta http-equiv="content-script-type" content="text/javascript" />
    <title><%=.browser_title%> - <ers:message code='reports.index.TitleSummary' /></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/Report.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
<div id="Whole">
    <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	    <tr>
		    <td id="HeadZone">
                <!-- header start -->
                <ers:partial file="header.htm" />
                <!-- header end -->			
		    </td>
	    </tr>

	    <tr valign="top">
		    <td id="MiddleZone">


<div class="Report">

	<h2><ers:message code="reports.sales.TitleSalesProdSummary" /></h2>

<style>
    td.amount
    {
        font-weight: bold;
        background-color: #FFFFCC !important;
    }
</style>


<ers:isEqual src=".Model.repsalesHasRecord" value="true">
    <b><ers:message code="sumry_set_bill_period" />: <ers:formatDate src=".Model.datefrom" value="yyyy/MM/dd HH:mm:ss" /> to <ers:formatDate src=".Model.dateto" value="yyyy/MM/dd HH:mm:ss" /></b> <br /><br />
<form method="post" action="<%=.sec_url%>reports/sales_download_csv">
    <p class="btn">
        <input type="submit" name="repsalescsv" value="<ers:message code='csv_download' />" class="multi-clickable" />  
    </p>
</form>
<table class="SearchResult">
    <tr>
        <th rowspan="2" colspan="2">&nbsp;</th>
        <th colspan="<%=.Model.colcount %>">
            <ers:label code="ProductCode" />
        </th>
    </tr>

    <tr>
        <ers:foreach src=".Model.repsalesListByDNo" variable="record">
            <td>
                <%=record.scode %>
            </td>
        </ers:foreach>
        <td class="amount"><ers:message code="sumry_total_amount" /></td>
    </tr>

    <th rowspan="50"><ers:label code="time_interval" /></th>
        <ers:foreach src=".Model.timeinterval" variable="interval">
            <tr>
		        <td><%=interval.byhalfhour%></td> 
                    <ers:foreach src=".Model.repsalesListByDNo" variable="slist"> 
                    	<ers:foreach src=".Model.repsalesList" variable="stime">
                            <ers:isEqual src="slist.scode" variable="stime.scode"> <!-- Check Scode -->
                                <ers:isEqual src="stime.byhalfhour" variable="interval.byhalfhour"> <!-- Check Time -->
                                    <td><%=stime.amount%></td>
                                </ers:isEqual> 
                            </ers:isEqual> 
			            </ers:foreach>
                    </ers:foreach>


                <ers:foreach src=".Model.repsalesListByInterval" variable="totaltime">
                    <ers:isEqual src="totaltime.byhalfhour" variable="interval.byhalfhour"> <!-- Check Time -->
                        <td class="amount"><%=totaltime.amount%></td>
                    </ers:isEqual> 
                </ers:foreach>

            </tr>
        </ers:foreach>

    <tr>
        <td class="amount"><ers:message code="sumry_total_amount" /></td>
            <ers:foreach src=".Model.repsalesListByDNo" variable="stotal">
                <td class="amount"><%=stotal.amount%></td>
            </ers:foreach>
        <td class="amount"><%=.Model.order_total%></td>
    </tr>
</table>
</ers:isEqual>

<ers:dispInfo />

</div>


            </td>
        </tr>

        <tr>
		    <td id="FootZone">
	
                 <ers:partial file="footer.htm" />

		    </td>
	    </tr>
    </table>
</div>
</body>

</html>
