﻿
<ers:isEqual src=".Model.repproductsearch" value="true">

	<table class="Detail">
        <tr>
            <td colspan="3"><ers:partial file="../reports/pager.htm" partialModel=".Pager" /></td>
        </tr>
		<tr>
			<th><ers:message code='reports.age_product_search.itemnumber' /></th>
            <th><ers:message code='reports.age_product_search.product_name' /></th>
            <th></th>
		</tr>
        <ers:foreach src=".Model.repproductList" variable="productsearch">
		    <tr>
			    <td><%=productsearch.scode%></td>
			    <td><ers:isEqual src="productsearch.cts_sname" value=""><%=productsearch.sname%></ers:isEqual><ers:isNotEqual src="productsearch.cts_sname" value=""><%=productsearch.cts_sname%></ers:isNotEqual></td>
                <td>
                    <form method="post" action="<%=.sec_url%>reports/sales">
                        
                            <input type="hidden" name="scode" value="<%=productsearch.scode%>" />
                            <input type="hidden" name="scode1" value="<%=.Model.scode1%>" />
                            <input type="hidden" name="scode2" value="<%=.Model.scode2%>" />
                            <input type="hidden" name="scode3" value="<%=.Model.scode3%>" />
                            <input type="hidden" name="scode4" value="<%=.Model.scode4%>" />
                            <input type="hidden" name="scode5" value="<%=.Model.scode5%>" />
                            <input type="hidden" name="searchscode1" value="<%=.Model.searchscode1%>" />
                            <input type="hidden" name="searchscode2" value="<%=.Model.searchscode2%>" />
                            <input type="hidden" name="searchscode3" value="<%=.Model.searchscode3%>" />
                            <input type="hidden" name="searchscode4" value="<%=.Model.searchscode4%>" />
                            <input type="hidden" name="searchscode5" value="<%=.Model.searchscode5%>" />
                            <input type="hidden" name="datefrom" value="<%=.Model.datefrom%>" />
                            <input type="hidden" name="dateto" value="<%=.Model.dateto%>" />
                            <input type="hidden" name="TargetOrder" value="<%=.Model.TargetOrder%>" />

                            <input type="submit" name="searchscode" value="<ers:message code='select' />" />
                        
                    </form>
                </td>
		    </tr>
        </ers:foreach>
	</table>
</ers:isEqual>
