<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご登録情報の確認 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ご登録情報の確認</td></tr></table>

		<font color="red"><ers:dispError /></font>
		<p>下記のご登録情報を削除します。よろしければ「退会する」をｸﾘｯｸしてください。</p>
		<div id="taikai" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<h3 style="margin:0 0 0 0; padding:0 0 0 0;">【ご登録情報】</h3>
			<p><font color="#AD3D37">[お名前(漢字)]</font><br><%=.Model.lname%>&nbsp;<%=.Model.fname%></p>
			<p><font color="#AD3D37">[お名前(ｶﾅ)]</font><br><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></p>
			<p><font color="#AD3D37">[電話番号]</font><br><%=.Model.tel%></p>
			<p><font color="#AD3D37">[FAX番号]</font><br><%=.Model.fax%></p>
			<p><font color="#AD3D37">[郵便番号]</font><br><%=.Model.zip%></p>
			<p><font color="#AD3D37">[都道府県]</font><br><%=.Model.w_pref%></p>
			<p><font color="#AD3D37">[市区町村]</font><br><%=.Model.address%></p>
			<p><font color="#AD3D37">[町名・番地]</font><br><%=.Model.taddress%></p>
			<p><font color="#AD3D37">[それ以降の住所]</font><br><%=.Model.maddress%></p>
			<p><font color="#AD3D37">[生年月日(西暦)]</font><br><ers:formatDate src=".Model.birth" /></p>
			<p><font color="#AD3D37">[性別]</font><br><%=.Model.w_sex%></p>
			<hr size="1" color="#c9c9c9">

			<form method="post" action="<%=.sec_url%>top/member/asp/account_close2.asp" id="form2" name="form2">
			<p align="center"><input type="submit" value="退会する" name="close_btn"></p>
			</form>
		</div><!-- taikai -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
