<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>Ê¨Í¯æÌÒWmF b <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>Ê¨Í¯æÌÒWmF</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="address_ck" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

			<p><font color="#AD3D37">[Ê¨Í¯æ]</font><br><%=.Model.address_name%></p>
			<p><font color="#AD3D37">[¨¼O(¿)]</font><br><%=.Model.add_lname%>&nbsp;&nbsp;<%=.Model.add_fname%></p>
			<p><font color="#AD3D37">[¨¼O(¶Å)]</font><br><%=.Model.add_lnamek%>&nbsp;&nbsp;<%=.Model.add_fnamek%></p>
			<p><font color="#AD3D37">[dbÔ]</font><br><%=.Model.add_tel%></p>
			<p><font color="#AD3D37">[FAXÔ]</font><br><%=.Model.add_fax%></p>
			<p><font color="#AD3D37">[XÖÔ]</font><br><%=.Model.add_zip%></p>
			<p><font color="#AD3D37">[s¹{§]</font><br><%=.Model.w_add_pref%></p>
			<p><font color="#AD3D37">[sæ¬º]</font><br><%=.Model.add_address%></p>
			<p><font color="#AD3D37">[¬¼EÔn]</font><br><%=.Model.add_taddress%></p>
			<p><font color="#AD3D37">[»êÈ~ÌZ]</font><br><%=.Model.add_maddress%></p>
			<hr size="1" color="#c9c9c9">

			<form method="post" action="<%=.sec_url%>top/member/asp/address3.asp" name="entry_form">
			<p align="center"><input type="submit" name="" id="" value="o^"></p>
			</form>

			<form method="post" action="<%=.sec_url%>top/member/asp/address1.asp">
            <input type="hidden" name="eck" value="1" />
			<p align="center"><input type="submit" name="" id="" value="C³"></p>
			</form>
		</div><!-- address_ck -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
