<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>別お届け先の削除 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>別お届け先の削除</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="address_ck" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
		<p style="margin:10px 0 0 20px">下記のお届け先情報を削除します。よろしければ「削除」をｸﾘｯｸしてください。</p>

			<p><font color="#AD3D37">[別お届け先]</font><br><%=.Model.address_name%></p>
			<p><font color="#AD3D37">[お名前(漢字)]</font><br><%=.Model.add_lname%>&nbsp;&nbsp;<%=.Model.add_fname%></p>
			<p><font color="#AD3D37">[お名前(ｶﾅ)]</font><br><%=.Model.add_lnamek%>&nbsp;&nbsp;<%=.Model.add_fnamek%></p>
			<p><font color="#AD3D37">[電話番号]</font><br><%=.Model.add_tel%></p>
			<p><font color="#AD3D37">[FAX番号]</font><br><%=.Model.add_fax%></p>
			<p><font color="#AD3D37">[郵便番号]</font><br><%=.Model.add_zip%></p>
			<p><font color="#AD3D37">[都道府県]</font><br><%=.Model.w_add_pref%></p>
			<p><font color="#AD3D37">[市区町村]</font><br><%=.Model.add_address%></p>
			<p><font color="#AD3D37">[町名・番地]</font><br><%=.Model.add_taddress%></p>
			<p><font color="#AD3D37">[それ以降の住所]</font><br><%=.Model.add_maddress%></p>
			<hr size="1" color="#c9c9c9">

			<form method="post" action="address_delete2.asp" name="entry_form">
			<p align="center"><input type="submit" name="" id="" value="削除"></p>
			</form>

		</div><!-- address_ck -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
