<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>別お届け先の編集 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>別お届け先の編集</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="address" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<form method="post" action="<%=.sec_url%>top/member/asp/address2.asp" name="entry_form">

			<p style="margin:0 0 6px 0; padding:0 0 0 0;">(<font color="#AD3D37">●</font>は必須/<font color="#AD3D37">○</font>は任意)<br>
			<font color="#BC2927">※絵文字は使用できません。</font></p>

			<p><font color="#AD3D37">●</font>別お届け先<br>
			<input type="text" size="20" name="address_name" id="address_name" value="<%=.Model.address_name%>" ></p>

			<p><font color="#AD3D37">●</font>お名前<br>
			姓:&nbsp;<input type="text" size="20" name="add_lname" id="add_lname" value="<%=.Model.add_lname%>" ><br>
			名:&nbsp;<input type="text" size="20" name="add_fname" id="add_fname" value="<%=.Model.add_fname%>" ></p>

			<p><font color="#AD3D37">●</font>ﾌﾘｶﾞﾅ(全角ｶﾀｶﾅ)<br>
			姓:&nbsp;<input type="text" size="20" name="add_lnamek" id="add_lnamek" value="<%=.Model.add_lnamek%>" istyle="2" mode="katakana" format="*M" style="-wap-input-format:&quot;*&lt;ja:hk&gt;&quot;;" ><br>
			名:&nbsp;<input type="text" size="20" name="add_fnamek" id="add_fnamek" value="<%=.Model.add_fnamek%>" istyle="2" mode="katakana" format="*M" style="-wap-input-format:&quot;*&lt;ja:hk&gt;&quot;;" ></p>

			<p><font color="#AD3D37">●</font>電話番号(半角数字)<br>
			<input type="text" size="15" name="add_tel" id="add_tel" value="<%=.Model.add_tel%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" ><br>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">○</font>FAX番号(半角数字)<br>
			<input type="text" size="15" name="add_fax" id="add_fax" value="<%=.Model.add_fax%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" ><br>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">●</font>郵便番号<br>
			<input type="text" size="10" name="add_zip" maxlength="15" id="add_zip" value="<%=.Model.add_zip%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" >
			<input type="submit"id="zip_flg2" name="zip_flg2" value="郵便番号検索" /></p>
            <p><%=.Model.add_zip_search_error%></p>

			<p><font color="#AD3D37">●</font>都道府県<br>
			<select id="add_pref" name="add_pref" class="w_100">
				<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select></p>

			<p><font color="#AD3D37">●</font>市区町村(全角16文字以下)<br>
			<input type="text" size="20" name="add_address" id="add_address" value="<%=.Model.add_address%>" ></p>

			<p><font color="#AD3D37">●</font>町名・番地(全角16文字以下)<br>
			<input type="text" size="20" name="add_taddress" id="add_taddress" value="<%=.Model.add_taddress%>" ></p>

			<p><font color="#AD3D37">○</font>それ以降の住所(全角16文字以下)<br>
			<input type="text" size="20" name="add_maddress" id="add_maddress" value="<%=.Model.add_maddress%>" ></p>

			<hr size="1" color="#c9c9c9">

			<p align="center"><input type="submit" name="" id="" value="確認"></p>
			<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
            <input type="hidden" name="eck" value="2" />
			<input type="hidden" name="id" value="<%=.Model.id%>" />
            <input type="hidden" name="mcode" value="<%=.Model.mcode%>" />
			</form>
		</div><!-- member -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
