<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご購入履歴の検索結果 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ご購入履歴の検索結果</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="bill" align="left" style="margin:0 0 9px 0; padding:0 0 0 0;">
			<p style="margin:0 0 3px 0; padding:0 0 0 0;">一回の注文であっても、商品ごとに配送日を分けた場合は注文番号も分かれますのでご注意ください。</p>
<!-- order start -->
		    <ers:partial file="order.htm" />
<!-- order end -->
		</div>
<hr size="1" color="#c9c9c9">

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

		<form action="<%=.sec_url%>top/member/asp">
		<p><input type="submit" value="戻る"></p>
		</form>

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
