<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>注文詳細の確認 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>注文詳細の確認</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="bill" align="left" style="margin:0 0 9px 0; padding:0 0 0 0;">

<!-- orderheader start -->
    <ers:partial file="orderheader.htm" />
<!-- orderheader end -->

<!-- orderrecord start -->
    <ers:partial file="orderrecord.htm" />
<!-- orderrecord end -->

<!-- orderkingaku start -->
    <ers:partial file="orderkingaku.htm" />
<!-- orderkingaku end -->

		</div><!-- bill -->

<hr size="1" color="#c9c9c9">
<form method="post" id="backForm" action="<%=.sec_url%>top/member/asp/bill2.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">
			<div class="ERS_btn clearfix">          
                <p class="arrow02_l_l"><input type="submit" value="<ers:label code='common_return_back' />" class="btn back"/></p>
				<p class="arrow01_l_l"><a href="user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>" class="btn next"><ers:message code='back_page'></a></p>
			</div>
</form>
		<p style=""><font color="#a20000">※携帯の戻るﾎﾞﾀﾝで戻ってください。</font></p>

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
