<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご購入履歴の検索 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ご購入履歴の検索</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="bill" style="margin:0 0 9px 0; padding:0 0 0 0;">
			<p align="left">表示したい期間を入力して、[検索]を押してください。</p>

	<form method="post" action="<%=.sec_url%>top/member/asp/bill2.asp">
			<p><input name="s_date1" size="12" istyle="4" mode="numeric" value="<ers:formatDate src=".Model.s_date1" />" />&nbsp;〜&nbsp;
				<input name="s_date2" size="12" istyle="4" mode="numeric" value="<ers:formatDate src=".Model.s_date2" />" /><br/>
			<font color="#a20000">(半角数字 例:2006/07/01)</font></p>
			<p><input type="submit" value="検索"></p>
			</form>
		</div><!-- user -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
