<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>会員情報変更の完了 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ｶｰﾄﾞ情報変更/完了</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="card" style="margin:0 0 9px 0; padding:9px 0 3px 0; " align="left">
			<p style="margin:0 0 0 0; padding:0 0 0 0;">クレジットカード情報を変更いたしました。</p>
		</div><!-- card -->

		<p style="margin:0 0 3px 0; padding:0 0 0 0;"><a href="<%=.sec_url%>top/member/asp/" style=""><font color="#ca5015">MY PAGE TOP</font></a></p>


<br class="release_b" />

	</div>
<!-- contents end -->

</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
