<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>会員情報変更 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper"  align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ｶｰﾄﾞ情報変更/確認</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<br />
		<p>クレジットカード情報は、セキュリティの観点からお一人様1枚までのご登録とさせていただいております。<br />カード情報を変更する際には、登録ずみのカード情報を削除したのち、新しいカードをご登録ください。</p><br />

		<div id="card" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<form method="post" action="<%=.sec_url%>top/member/asp/card3.asp" name="entry_form">
			<p><font color="#AD3D37">[ｶｰﾄﾞ種類]</font><br><%=.Model.confirm_card_type%></p>
			<p><font color="#AD3D37">[ｶｰﾄﾞ番号]</font><br><%=.Model.confirm_cardno%></p>
			<p><font color="#AD3D37">[ｶｰﾄﾞ名義]</font><br><%=.Model.confirm_card_holder_name%></p>
			<p><font color="#AD3D37">[有効期限]</font><br><%=.Model.confirm_validity_y%>年<%=.Model.confirm_validity_m%>月</p>

			<hr size="1" color="#c9c9c9">
			<p align="center">
				<ers:isEqual src=".Model.delete_submit" value="true"><input type="submit" name="delete_submit" value="削除"/></ers:isEqual>
				<ers:isEqual src=".Model.entry_submit" value="true"><input type="submit" name="entry_submit" value="登録"/></ers:isEqual>
				<ers:isEqual src=".Model.modify_submit" value="true"><input type="submit" name="modify_submit" value="変更"/></ers:isEqual>
			</p>
			</form>

		</div><!-- card -->


	</div>
<!-- contents end -->

</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
