<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>会員情報変更 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">


<!-- contents start -->
	<div id="ERS_contents">
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ｶｰﾄﾞ情報</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="card" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<p>クレジットカード情報は、セキュリティの観点からお一人様1枚までのご登録とさせていただいております。<br />カード情報を変更する際には、登録ずみのカード情報を削除したのち、新しいカードをご登録ください。</p>

	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" name="entry_form">
<ers:table src=".Model.listCardInfo" variable="list" name="listCardInfo" record_key="record_key"  roopcounter="j">
<ers:isEqual src="list.lineNumber" value="2">
<input type="hidden" name="<%=record_key%>card_type" value="<%=list.card_type %>" />
<input type="hidden" name="<%=record_key%>card_no" value="<%=list.card_no %>" />
<input type="hidden" name="<%=record_key%>validity_y" value="<%=list.validity_y %>" />
<input type="hidden" name="<%=record_key%>validity_m" value="<%=list.validity_m %>" />
</ers:isEqual>
<ers:isEqual src="list.lineNumber" value="1">
			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ種類&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_name%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ番号&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_no%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ名義&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_holder_name%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済み有効期限&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_validity_y%>&nbsp;/&nbsp;<%=list.saved_validity_m%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ種類の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
						    <select id="Select1" name="<%=record_key%>card_type">
							    <option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="list.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						    </select>
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ番号の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="<%=record_key %>card_no" name="<%=record_key %>card_no" maxlength="16" value="<%=list.card_no%>" />
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ名義の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="<%=record_key %>card_holder_name" name="<%=record_key %>card_holder_name" value="<%=list.card_holder_name%>" />
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">有効期限の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="<%=record_key %>validity_y" maxlength="4" name="<%=record_key %>validity_y" value="<%=list.validity_y%>" />年
                        <input type="text" id="<%=record_key %>validity_m" maxlength="2" name="<%=record_key %>validity_m" value="<%=list.validity_m%>" />月
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0; vertical-align:middle;">操作&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
			            <input type="hidden" name="card_id" value="<%=list.card_id%>" />
                        <input type="submit" name="modify_submit" value="更新"><br />
                        <input type="submit" name="delete_submit" value="削除"><br />
                    </td>
				</tr>
			</table>
</ers:isEqual>
</ers:table>
	</form>

	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" name="entry_form">
<ers:table src=".Model.listCardInfo" variable="list" name="listCardInfo" record_key="record_key"  roopcounter="j">
<ers:isEqual src="list.lineNumber" value="1">
<input type="hidden" name="<%=record_key%>card_type" value="<%=list.card_type %>" />
<input type="hidden" name="<%=record_key%>card_no" value="<%=list.card_no %>" />
<input type="hidden" name="<%=record_key%>validity_y" value="<%=list.validity_y %>" />
<input type="hidden" name="<%=record_key%>validity_m" value="<%=list.validity_m %>" />
</ers:isEqual>
<ers:isEqual src="list.lineNumber" value="2">
			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ種類&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_name%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ番号&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_no%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済みｶｰﾄﾞ名義&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_card_holder_name%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">登録済み有効期限&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;"><%=list.saved_validity_y%>&nbsp;/&nbsp;<%=list.saved_validity_m%></td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ種類の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
						    <select id="Select2" name="<%=record_key%>card_type">
							    <option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
							    <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="list.card_type"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						    </select>
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ番号の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="Text1" name="<%=record_key %>card_no" maxlength="16" value="<%=list.card_no%>" />
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">ｶｰﾄﾞ名義の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="Text2" name="<%=record_key %>card_holder_name" value="<%=list.card_holder_name%>" />
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0;">有効期限の変更&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
                        <input type="text" id="Text3" maxlength="4" name="<%=record_key %>validity_y" value="<%=list.validity_y%>" />年
                        <input type="text" id="Text4" maxlength="2" name="<%=record_key %>validity_m" value="<%=list.validity_m%>" />月
                    </td>
				</tr>
				<tr>
					<td width="25%" style="padding:0 0 0 0; vertical-align:middle;">操作&nbsp;:</td>
					<td colspan="2" width="75%" style="padding:0 0 0 0;">
			            <input type="hidden" name="card_id" value="<%=list.card_id%>" />
                        <input type="submit" name="modify_submit" value="更新"><br />
                        <input type="submit" name="delete_submit" value="削除"><br />
                    </td>
				</tr>
			</table>
</ers:isEqual>
</ers:table>
	</form>

<ers:isEqual src=".Model.newEntryFlg" value="true">
	<form method="post" action="<%=.sec_url%>top/member/asp/card2.asp" name="entry_form">
		<div id="card" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<p style="margin:0 0 6px 0; padding:0 0 0 0;">(<font color="#AD3D37">●</font>は必須/<font color="#AD3D37">○</font>は任意)<br>
			<font color="#BC2927">※絵文字は使用できません。</font></p>
			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ種類<br>
			<select id="Select3" name="card_type">
				<option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select></p>

			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ番号<br>
			<input type="text" id="Text5" class="" name="card_no" value="<%=.Model.card_no%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" /></p>

			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ名義<br>
			<input type="text" id="cardname" class="" name="card_holder_name" value="<%=.Model.card_holder_name%>" istyle="3" mode="alphabet" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;" /></p>

			<p><font color="#AD3D37">●</font>有効期限<br>
			年<input type="text" id="" class="" name="validity_y" value="<%=.Model.validity_y%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" /><br>
			月<input type="text" id="" class="" name="validity_m" value="<%=.Model.validity_m%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" /></p>

			<hr size="1" color="#c9c9c9">
			<p align="center"><input type="submit" value="確認" name="entry_submit"></p>
		</div><!-- card -->
	</form>
</ers:isEqual>

		</div><!-- card -->

	</div>
<!-- contents end -->

</div>
<!-- container end -->


<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
