<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ﾒｰﾙﾏｶﾞｼﾞﾝの設定 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ﾒｰﾙﾏｶﾞｼﾞﾝの設定確認</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="mail" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

			<form method="post" action="<%=.sec_url%>top/member/asp/mail3.asp">
			<h3>《ﾒｰﾙ配信方法確認》</h3>
			<p style="margin:0 0 0 0; padding:0 0 0 0;">以下の内容に変更します。よろしければ「確認」をｸﾘｯｸしてください</p>
			<hr size="1" color="#c9c9c9">
			<p><font color="#AD3D37">[配信設定]</font><br>
			<%=.Model.w_m_flg%></p>
			<hr size="1" color="#c9c9c9">
			<p align="center"><input type="submit" value="確認" name="submit_btn2" /></p>

			</form>

		</div><!-- mail -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
