<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ﾒｰﾙﾏｶﾞｼﾞﾝの設定 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ﾒｰﾙﾏｶﾞｼﾞﾝの設定</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="mail" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<p><%=.Model.lname%>様の現在のﾒｰﾙ設定です。</p>
			<h3>《配信方法の設定》</h3>
		<form method="post" action="<%=.sec_url%>top/member/asp/mail2.asp">			
			<p><font color="#AD3D37">●</font>配信設定<br>
<ers:foreach variable="option" src=".Model.m_flgList">
			<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual > />&nbsp;<label for="m_flg<%=option.value%>"><%=option.name%></label>&nbsp;&nbsp;&nbsp;&nbsp;
</ers:foreach></p>

			<p align="center"><input type="submit" value="変更する" name="submit_btn1" /></p>
			</form>

		</div><!-- mail -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
