<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>お客様登録情報の変更完了 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>お客様登録情報の変更完了</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="member" style="margin:0 0 9px 0; padding:9px 0 3px 0; " align="left">
			<p style="margin:0 0 0 0; padding:0 0 0 0;">お客様登録情報を変更いたしました。</p>
		</div><!-- member -->

		<p style="margin:0 0 3px 0; padding:0 0 0 0;"><a href="<%=.sec_url%>top/member/asp/" style=""><font color="#ca5015">MY PAGE TOP</font></a></p>

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
