<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>¨qlo^îñÌmF b IVP</title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>¨qlo^îñÌmF</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="member_ck" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<h3 style="margin:0 0 0 0; padding:0 0 0 0;">y²o^Òz</h3>
			<p><font color="#AD3D37">[¨¼O(¿)]</font><br><%=.Model.lname%>&nbsp;<%=.Model.fname%></p>
			<p><font color="#AD3D37">[¨¼O(¶Å)]</font><br><%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></p>
			<p><font color="#AD3D37">[Ò°Ù±ÄÞÚ½]</font><br><%=.Model.email%></p>
			 mF[óM`®:<%=.Model.w_mformat%>
			<p><font color="#AD3D37">[dbÔ]</font><br><%=.Model.tel%></p>
			<p><font color="#AD3D37">[FAXÔ]</font><br><%=.Model.fax%></p>
			<p><font color="#AD3D37">[XÖÔ]</font><br><%=.Model.zip%></p>
			<p><font color="#AD3D37">[s¹{§]</font><br><%=.Model.w_pref%></p>
			<p><font color="#AD3D37">[sæ¬º]</font><br><%=.Model.address%></p>
			<p><font color="#AD3D37">[¬¼EÔn]</font><br><%=.Model.taddress%></p>
			<p><font color="#AD3D37">[»êÈ~ÌZ]</font><br><%=.Model.maddress%></p>
			<hr size="1" color="#c9c9c9">

			<h3 style="margin:0 0 0 0; padding:6px 0 0 0;">y²©gÉÖµÄz</h3>
			<p><font color="#AD3D37">[¶Nú(¼ï)]</font><br><ers:formatDate src=".Model.birth" /></p>
			<p><font color="#AD3D37">[«Ê]</font><br><%=.Model.w_sex%></p>
			<hr size="1" color="#c9c9c9">

			<h3 style="margin:0 0 0 0; padding:6px 0 0 0;">y¾·­ØÃ²°±Ý»°z</h3>
			<p><font color="#AD3D37">[¿â]</font><br><%=.Model.w_ques%></p>
			<p><font color="#AD3D37">[¦]</font><br><%=.Model.ans%></p>




			<form method="post" action="<%=.sec_url%>top/member/asp/member3.asp">
			<p align="center"><input type="submit" name="" id="" value="Ö"></p>
			</form>

			<form method="post" action="<%=.sec_url%>top/member/asp/member1.asp">
			<input type="hidden" name="eck" value="1" />
			<p align="center"><input type="submit" name="" id="" value="C³"></p>
			</form>
		</div><!-- member_ck -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
