<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>新ﾊﾟｽﾜｰﾄﾞ設定の完了 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper"  align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- title start -->
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>新ﾊﾟｽﾜｰﾄﾞ設定の完了</td></tr></table>
<!-- title end -->
		<font color="red"><ers:dispError /></font>
<!-- container start -->
	<div id="pass" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

<!-- error start -->
<ers:dispError />
<!-- error end -->

<!-- box start -->
	<div id="ERS_box">
		<p>新しいﾊﾟｽﾜｰﾄﾞを設定いたしました。</p>
	</div>
<!-- box end -->

<br class="release_b" />


</div>

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
