<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>新ﾊﾟｽﾜｰﾄﾞの設定 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->


<!-- title start -->
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>新ﾊﾟｽﾜｰﾄﾞの設定</td></tr></table>
<!-- title end -->
		<font color="red"><ers:dispError /></font>
<!-- container start -->
	<div id="pass" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

    
<!-- error start -->
<ers:dispError />
<!-- error end -->

<!-- table start -->
		<form method="post" action="<%=.sec_url%>top/member/asp/passchange3.asp" id="form2" name="form2">
		<div class="ERS_table">
			<h3>新しいﾊﾟｽﾜｰﾄﾞを入力してください。</h3>
			<p><font color="#AD3D37">●ﾊﾟｽﾜｰﾄﾞ(半角英数字 6〜10文字)</font><br/>
			<input type="text" id="passwd"  name="passwd" value="<%=.Model.passwd%>" />
			</p>
			<p><font color="#AD3D37">●ﾊﾟｽﾜｰﾄﾞ確認(半角英数字 6〜10文字)</font><br/>
			確認のため、再度ご入力ください。<br />
			<input type="text" id="passwd_confirm" name="passwd_confirm" value="<%=.Model.passwd_confirm%>" />
			</p>
		</div>
<!-- table end -->

<!-- next start -->
		<div class="ERS_next">
			<p class="center"><input type="submit" value="変更する"  name="submit_passwd" /></p>
		</div>
		</form>
<!-- next end -->

	<br class="release_b" />

	</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
