<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ﾊﾟｽﾜｰﾄﾞ再設定ﾒｰﾙの送信完了 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>ﾊﾟｽﾜｰﾄﾞ再設定ﾒｰﾙの送信完了</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="pass" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

			<p>ありがとうございました。</p>

			<p>下記のﾒｰﾙｱﾄﾞﾚｽ宛に、ﾊﾟｽﾜｰﾄﾞ再設定の手順を送信いたしました。<br />
			お送りしたﾒｰﾙに記載された手順に従い、ﾊﾟｽﾜｰﾄﾞを再設定してください。<br />
			※ﾊﾟｽﾜｰﾄﾞの再設定は、ﾒｰﾙ到着より1時間以内におこなってください。</p>

			<p>送信先：<%=.Model.email%></p>

		</div><!-- pass -->

<ers:isEqual src=".Model.onVex" value="true">
    <div style="text-align:center">
        <a href="<%=.Model.changeUrl %>">【VEX用　パスワード変更画面へ遷移】</a>
    </div>
    <br /><br />
</ers:isEqual>

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
