<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>お名前・ﾒｰﾙｱﾄﾞﾚｽの確認 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>お名前・ﾒｰﾙｱﾄﾞﾚｽの確認</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="pass" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<p>登録されているお名前と、ﾒｰﾙｱﾄﾞﾚｽをご入力いただき、[送信]ﾎﾞﾀﾝを押してください。</p>

		<form method="post" action="<%=.sec_url%>top/member/asp/passrim2.asp" id="form2" name="form2">
			<p><font color="#AD3D37">●</font>お名前(漢字)<br>
			姓<input size="10" name="lname" value="<%=.Model.lname%>" ><br>
			名<input size="10" name="fname" value="<%=.Model.fname%>" ></p>

			<p><font color="#AD3D37">●</font>ﾒｰﾙｱﾄﾞﾚｽ(半角英数)<br>
			<input size="30" name="email" value="<%=.Model.email%>" ></p>
			
			<p align="center"><input type="submit" value="送信" name="submit_btn" /></p>
			
			</form>

		</div><!-- pass -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
