<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>ポイント履歴の検索 ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/address_list.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="<%=.sec_url%>top/news/asp/rss1.xml" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

</head>
<body><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- globalnavi start -->
<ers:partial file="globalnavi_ssl.htm" />
<!-- globalnavi end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

<!-- flow start -->
		<div id="Div5" class="clearfix">
			<ul>
				<li class="flow01"><img src="<%=.sec_url%>images/flow_point01.gif" alt="" /></li>
			</ul>
		</div>
<!-- flow end -->

<!-- title start -->
		<div id="ERS_title">
			<h2><img src="<%=.sec_url%>images/point1_title01.gif" alt="ポイント履歴の検索" /></h2>
		</div>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

	<form method="post" action="<%=.sec_url%>top/member/asp/point2.asp">

<!-- table start -->
		<div class="ERS_table">
			<h3><%=.Model.lname%>様のポイント履歴を表示します。</h3>
			<table class="length" cellspacing="0" cellpadding="2">
				<tr>
					<th><label for="s_date1">検索期間の設定<br />(半角数字)</label></th>
					<td>
						<input type="text" id="s_date1" class="w_100" name="s_date1" value="<%=.Model.s_date1%>" />&nbsp;〜&nbsp;
						<input type="text" id="s_date2" class="w_100" name="s_date2" value="<%=.Model.s_date2%>" />
					</td>
				</tr>
			</table>
		</div>
<!-- table end -->

<!-- next start -->
		<div class="ERS_next">
			<p class="center">
				<input type="image" src="<%=.sec_url%>images/btn_search_off.gif" alt="検索する" class="change" />
				<input type="hidden" name="ssl_ransu" value="<%=.ssl_ransu%>" />
				<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
			</p>
		</div>
<!-- next end -->

	</form>

<br class="release_b" />

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<!-- back start -->
		<div class="ERS_back">
			<p><a href="<%=.sec_url%>top/member/asp/user.asp?ssl_ransu=<%=.ssl_ransu%>&k_flg=<%=.k_flg%>">
				<img src="<%=.sec_url%>images/btn_user.gif" alt="お客様専用トップに戻る" /></a></p>
		</div>
<!-- back end -->

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/btn_page-top.gif" alt="ページのトップへ" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/point1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- sidemenu start -->
<ers:partial file="hint/point1.htm" />
<!-- sidemenu end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
