<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title>ポイント履歴の一覧 ｜ <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/point2.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="alternate" type="application/rss+xml" title="RSS 1.0" href="<%=.sec_url%>top/news/asp/rss1.xml" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

</head>
<body><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- globalnavi start -->
<ers:partial file="globalnavi_ssl.htm" />
<!-- globalnavi end -->


<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

<!-- flow start -->
		<div id="ERS_flow" class="clearfix">
			<ul>
				<li class="flow01"><img src="<%=.sec_url%>images/flow_point02.gif" alt="" /></li>
			</ul>
		</div>
<!-- flow end -->

<!-- title start -->
		<div id="ERS_title">
			<h2><img src="<%=.sec_url%>images/point2_title01.gif" alt="ポイント履歴の検索結果" /></h2>
		</div>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p>このページでは「戻る」ボタンにJavaScriptを使用しています。<br />JavaScript対応のブラウザでの閲覧を推奨します。</p>
		</div>
	</noscript>
<!-- noscript end -->

<!-- table start -->
		<div class="ERS_table">
			<h3><%=.Model.s_date1%>〜<%=.Model.s_date2%>の<%=.Model.lname%>様のご購入履歴です。<br />[詳細]ボタンを押すと伝票の詳細がご覧になれます。</h3>
			<table cellspacing="0" cellpadding="2">
				<tr>
					<th width="63px">伝票番号</th>
					<th width="63px">ポイント更新日</th>
					<th width="63px">購入金額</th>
					<th width="63px">ご利用ポイント</th>
					<th width="63px">獲得ポイント</th>
					<th width="63px">所持ポイント</th>
					<th width="63px">伝票詳細</th>
				</tr>
<ers:isEqual src=".Model.RcCnt" value="0">
				<tr>
					<td colspan="7">指定の検索条件では対象となる履歴はありませんでした。</td>
				</tr>
</ers:isEqual>

<ers:foreach src=".Model.list" variable="pointHistory"  roopcounter="j">


				<tr>
					<td>
<ers:isNotEqual src="pointHistory.d_no" value="">
                    <%=pointHistory.d_no%>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value=""> 
    <ers:isEqual src="pointHistory.display_type" value="Add">
                        店舗付与
    </ers:isEqual>
    <ers:isEqual src="pointHistory.display_type" value="Use">
                        店舗利用
    </ers:isEqual>
</ers:isEqual>
                    </td>
				        <td><ers:formatDate src="pointHistory.dt" ;></td>
				        <td><ers:formatCurrency src="pointHistory.total" /></td>
				        <td>
<ers:isEqual src="pointHistory.display_type" value="Use">
                            <ers:formatCurrency src="pointHistory.now_p" />
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isNotEqual>
                        </td>
				        <td>
<ers:isEqual src="pointHistory.display_type" value="Use">
                            0
</ers:isEqual>
<ers:isNotEqual src="pointHistory.display_type" value="Use">
                            <ers:formatCurrency src="pointHistory.now_p" />
</ers:isNotEqual>
                        </td>
				        <td><ers:formatCurrency src="pointHistory.total_p" /></td>
					<td>
<ers:isNotEqual src="pointHistory.d_no" value="">
					<form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
						<input type="hidden" name="d_no" value="<%=pointHistory.d_no%>">
						<input type="image" src="<%=.sec_url%>images/btn_s_detail_off.gif" value="詳細" class="change" />
					</form>
</ers:isNotEqual>
<ers:isEqual src="pointHistory.d_no" value="">
−
</ers:isEqual>
					</td>
				</tr>

</ers:foreach>

			</table>
		</div>
<!-- table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<!-- ssl_alert start -->
		<div id="ERS_ssl_alert">
			<p><span class="ERS_IVP_color">※このページはＳＳＬによりセキュリティがかけられております。</span></p>
		</div>
<!-- ssl_alert end -->

<!-- back start -->
		<div class="ERS_back">
			<p>
				<a href="javascript:history.back()"><img src="<%=.sec_url%>images/btn_back.gif" alt="戻る" /></a>
			</p>
		</div>
<!-- back end -->

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img src="<%=.sec_url%>images/btn_page-top.gif" alt="ページのトップへ" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

	</div>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/point2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- sidemenu start -->
<ers:partial file="hint/point2.htm" />
<!-- sidemenu end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
