<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>定期コースの確認 ｜ IVP</title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>定期コースの確認</td></tr></table>

		<font color="red"><ers:dispError /></font>

		<div id="announce" align="left" style="margin:9px 0 9px 0; padding:0 0 9px 0;">
			<p style="margin:0 0 6px 0; padding:0 0 0 0;">定期ｺｰｽの変更、休止などのご要望は、お電話でのみ承っております。<br>
			お手数ですが、お届け日の10日前までにカスタマーサポートまでご連絡ください。</p>
		</div><!-- announce -->
<hr size="1" color="#ca5015">


		<div id="bill" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

<ers:foreach src=".Model.orderRecordList" variable="record" roopcounter="i">
			<h3 style="margin:0 0 0 0; padding:9px 0 0 0;">定期購入商品【<%=record.bill_count%>】</h3>
			<p><font color="#AD3D37">[注文番号]</font><br>
			<%=record.header.d_no%></p>
			<p><font color="#AD3D37">[ご注文日]</font><br>
			<ers:formatDate src="record.header.intime" /></p>
			<p><font color="#AD3D37">[お届け先]</font><br>
			〒<%=record.header.zip%><br />
			<%=record.header.pref_name%>
			<%=record.header.address%>
			<%=record.header.taddress%>
			<%=record.header.maddress%>
			</p>
			<p><font color="#AD3D37">[お届期間]</font><br>
                <ers:isEqual src="record.send_ptn" value="1">
					<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_day_name %>
				</ers:isEqual>
				<ers:isEqual src="record.send_ptn" value="2">
					<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_interval_week %>週目の<%=record.ptn_weekday_name %>
				</ers:isEqual>
				<ers:isEqual src="record.send_ptn" value="3">
					<%=record.ptn_interval_day %>日ごと
				</ers:isEqual>
            </p>
			<p><font color="#AD3D37">[次回配送予定日]</font><br>
			<ers:formatDate src="record.next_date" />（<%=record.next_date_weekday%>）</p>
			<p><font color="#AD3D37">[次々回配送予定日]</font><br>
			<ers:formatDate src="record.next2_date" />（<%=record.next2_date_weekday%>）</p>
			<p><font color="#AD3D37">[配送希望時間]</font><br>
			<%=record.next_sendtime_name%></p>
			<p><font color="#AD3D37">[お支払い方法]</font><br>
			<%=record.header.pay_name%></p>

			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<th nowrap width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">商品番号&nbsp;:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><%=record.scode%></td>
				</tr>
				<tr>
					<th nowrap width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">商品名&nbsp;:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><%=record.m_sname%></td>
				</tr>
				<tr>
					<th nowrap width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">単価&nbsp;:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><ers:formatCurrency src="record.price"></td>
				</tr>
				<tr>
					<th nowrap width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">数量&nbsp;:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><%=record.amount%></td>
				</tr>
				<tr>
					<th nowrap width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">金額&nbsp;:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><ers:formatCurrency src="record.total"></td>
				</tr>
			</table>
			<hr size="1" color="#c9c9c9">
</ers:foreach>


			<form action="user.asp">
			<p align="center"><input type="submit" value="戻る"></p>
			</form>

		</div><!-- bill -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
