<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>マイページメニュー ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<font color="red"><ers:dispError /></font>
<!-- container start -->
<div id="ERS_container">

	<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>MY PAGE</td></tr></table>

	<div id="user" style="margin:0 0 9px 0; padding:9px 0 9px 0; " align="left">

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">お買い物状況の確認</td></tr></table>
		<form action="bill2.asp">
		<p style="margin:0 0 3px 0; padding:0 0 0 0;"><input type="submit" value="ご購入履歴の検索"></p>
		</form>
		<form action="regular_bill.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="定期コースの確認"></p>
		</form>

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">ﾒｰﾙﾏｶﾞｼﾞﾝの配信･変更･停止</td></tr></table>
		<form action="mail1.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="ﾒｰﾙﾏｶﾞｼﾞﾝの設定を変更"></p>
		</form>

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">お客様のご登録情報</td></tr></table>
		<form action="member1.asp">
		<p style="margin:0 0 3px 0; padding:0 0 0 0;"><input type="submit" value="お客様情報を変更"></p>
		</form>
		<form action="address_list.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="別お届け先を編集"></p>
		</form>

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">ｶｰﾄﾞ情報の変更</td></tr></table>
		<form action="card1.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="ｶｰﾄﾞ情報変更"></p>
		</form>

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">ｻｰﾋﾞｽのご利用停止</td></tr></table>
		<form action="account_close1.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="会員を退会する"></p>
		</form>

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">ﾛｸﾞｱｳﾄ</td></tr></table>
		<form action="logout.asp">
		<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="submit" value="ﾛｸﾞｱｳﾄ"></p>
		</form>

	</div><!-- user -->

</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
