<div id="ERS_g_navi">
	<ul class="clearfix gnavi">
<ers:foreach variable="menu" src=".sideModel.listHeaderNavigation" roopcounter="l">
		<li<ers:IsEqual src="menu.menu_id" variable=".sideModel.current_menu_id"> class="navi_on"</ers:IsEqual>><a rel="<%=menu.menu_id%>" href="<%=.sec_url%>top/<%=menu.menu_id%>/asp/"><%=menu.menu_name%></a></li>
</ers:foreach>
	</ul>
	<ul class="pulldown">
<ers:foreach variable="menu" src=".sideModel.listHeaderMenu" roopcounter="l">
		<li rel="<%=menu.menu_id%>"><a href="<%=.sec_url%>top/<%=menu.controller_name%>/asp/<%=menu.method_name%>.asp"><span>・</span><ers:nonencode src="menu.func_name" /></a></li>
</ers:foreach>
	</ul>
</div>