﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><%=.browser_title%></title>
</head>
<body>

	<p>下記エラーをご確認下さい。<br /><span><ers:dispError src="All" /></span><p>

<ers:isError src="exception_detail">
	<p style="background-color:White;white-space:nowrap;"><ers:dispError src="exception_detail" /></p>
</ers:isError>

</body>
</html>
