﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<ers:isEqual src=".Model.mode" value="regist"><title><ers:message code="campaign.campaign_regist.Title"> - <%=.browser_title%></title></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><title><ers:message code="campaign.campaign_modify.Title"> - <%=.browser_title%></title></ers:isEqual>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/campaign_regist.js"></script>
<script language ="javascript" type="text/javascript">
        var codeMode = null;
        var nref = null;
        var nmode = null;

        function callback_func(nref, nmode, result) {
            if (codeMode=='target')            {
                callback_funcTarget(nref, nmode, result);
            }
            else if (codeMode=='doc')            {
                callback_funcDoc(nref, nmode, result);
            }
        };    

    //トリガー表示変更
    function trigger_change(obj) {
        var selIdx = obj.selectedIndex;
        trigger_change_core(selIdx);
    }

    //オンロード時のデフォルト表示
    function disp_onload() {
        trigger_change_core(<%=.Model.trigger_condition %>);
    }

    function RemoveIncludedItem(ref) {
        $(ref).closest('tr').remove();
    }

    $(document).ready(function () {

        var htmlNewLineTargetDetail = '<tr>' + $("#target_detail_new_line").html() + "</tr>";
        $("#addnewtargetdetailitemline").click(function () {
            $('#Target_items').append(htmlNewLineTargetDetail);
        })

        var htmlNewLineDetailTable = '<tr>' + $("#detail_table_new_line").html() + "</tr>";
        $("#addnewdetailtableitemline").click(function () {
            $('#Included_items').append(htmlNewLineDetailTable);
        })
    })

</script>






</head>
<body onload="disp_onload();">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
<ers:isEqual src=".Model.mode" value="regist"><h2><ers:message code="campaign.campaign_regist.Title"></h2></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><h2><ers:message code="campaign.campaign_modify.Title"></h2></ers:isEqual>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<ers:isEqual src=".Model.mode" value="regist">
<form action="<%=.sec_url%>top/campaign/asp/campaign_regist_complete.asp" id="campaign_complete" name="campaign_complete" method="post">
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify">
<form action="<%=.sec_url%>top/campaign/asp/campaign_modify_complete.asp" id="campaign_complete" name="campaign_complete" method="post">
</ers:isEqual>

<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
			<caption><ers:message code="campaign.campaign_regist.direction"></caption>
			<tr>
				<th><ers:label code="ccode"></th>
				<td>
<ers:isEqual src=".Model.mode" value="regist">
    <input type="text" id="ccode" name="ccode" value="<%=.Model.ccode %>">
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify">
    <%=.Model.ccode %>
    <input type="hidden" id="id" name="id" value="<%=.Model.id %>">
    <input type="hidden" id="ccode" name="ccode" value="<%=.Model.ccode %>">
    <input type="hidden" id="intime" name="intime" value="<%=.Model.intime %>">
</ers:isEqual>
                </td>
			</tr>
			<tr>
				<th><ers:label code="campaign_t.active"></th>
				<td>
					<select id="active" name="active" class="w_200">
					<option value=""><ers:label code="common_please_select" /></option>
                    <ers:foreach variable="list" src=".Model.ActiveList" roopcounter="i">
                        <option value="<%=list.value%>"<ers:isEqual src="list.value" variable=".Model.active"> selected="selected"</ers:isEqual>><ers:message src="list.name"/></option>
                    </ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th><ers:label code="campaign_name"></th>
				<td><input type="text" id="campaign_name" class="w_400" value="<%=.Model.campaign_name %>" name="campaign_name"/></td>
			</tr>
			<tr>
				<th><ers:message code="camp_bundledimplemperiod"></th>
				<td><input type="text" class="datepicker_start w_150" id="term_from" name="term_from" maxlength="19" value="<%=.Model.term_from %>"/>&nbsp;
                ～&nbsp;<input type="text" class="datepicker_end w_150" id="term_to" name="term_to" maxlength="19" value="<%=.Model.term_to %>" /></td>
			</tr>
            <tr>
				<th><ers:label code="common_regist_target"></th>
				<td>
					<select name="target_id" class="w_200">
					<option value=""><ers:label code="common_please_select" /></option>
                    <ers:foreach variable="TargetList" src=".Model.TargetList" roopcounter="i">
                        <option value="<%=TargetList.value%>"<ers:isEqual src="TargetList.value" variable=".Model.target_id"> selected="selected"</ers:isEqual>><%=TargetList.name%></option>
                    </ers:foreach>
					</select>
				</td>
			</tr>
		</table>
        <ers:isEqual src=".Model.multiple_sites" value="true">
            <table class="length">
                <ers:partial file="site/site_register_check.htm" />
            </table>
        </ers:isEqual>

<ers:partial file="campaign/campaign_doc.htm" />
<br/>
<ers:partial file="campaign/campaign_target.htm" />
<br/>

		<table id="" class="length">
			<tr>
				<th><ers:label code="remarks"></th>
				<td><textarea name="remarks" rows="12" cols="70" id="remarks"><%=.Model.remarks %></textarea></td>
			</tr>
		</table>

    </div>
<!-- table end -->


<!-- next start-->
	<div class="ERS_next">
<ers:isEqual src=".Model.mode" value="regist" >
		<p class="center">
			<a href="campaign_complete" class="disp_dialog001"><input type="button" value="<ers:label code="common_register">" alt="登録する"/></a>
		</p>
		<div id="dialog001" title=<ers:message code="campaign.campaign_modify.registermessagebox.Title">
			<p><ers:message code="common.RegisterConfirm"></p>
		</div>
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify" >
		<p class="center">
            <a href="campaign_delete" class="disp_dialog003">
            <input type="button" value="<ers:label code="common_delete">" />
            </a>

			<a href="campaign_complete" class="disp_dialog002">
            <input type="button" value="<ers:label code="common_change">" class="primary" alt="変更する"/>
            </a>
		</p>
		<div id="dialog002" title=<ers:message code="campaign.campaign_modify.modifymessagebox.Title">
			<p><ers:message code="common.ChangeConfirm"/></p>
		</div>
        <div id="dialog003" title=<ers:message code="campaign.campaign_modify.deletemessagebox.Title">
			<p><ers:message code="common.DeleteConfirm"/></p>
		</div>
</ers:isEqual>


	</div>
<!-- next end-->
</form>

<form action="<%=.sec_url%>top/campaign/asp/campaign_modify.asp" id="mail_maga_send_form" name="mail_maga_send_form" method="post">
    <input type="hidden" id="id" name="id" value="<%=.Model.id %>">
    <input type="hidden" id="" name="target_id" value="<%=.Model.target_id %>">
    <input type="hidden" id="mail_maga_send" name="mail_maga_send" value="1">
</form>

<form action="<%=.sec_url%>top/campaign/asp/campaign_delete_complete.asp" id="campaign_delete" name="campaign_delete" method="post">
    <input type="hidden" id="Hidden1" name="id" value="<%=.Model.id %>">
    <input type="hidden" id="Hidden2" name="ccode" value="<%=.Model.ccode %>">
</form>

            <ers:isequal src=".Model.mode" value="modify">
                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/campaign/asp/campaign_list.asp" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>

                    </form>
                </div>
                <!-- back end-->
            </ers:isequal>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
