﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="campaign.campaign_search.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="campaign.campaign_search.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="campaign_list.asp" id="campaign_list" name="campaign_list" method="post">

<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
			<tr>
				<th><ers:label code="ccode"></th>
				<td><input type="text" id="s_ccode" class="w_200" value="<%=.Model.s_ccode %>" name="s_ccode"/></td>
			</tr>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_search_check.htm" />
            </ers:isEqual>
			<tr>
				<th><ers:label code="campaign_t.active"></th>
				<td>
					<select id="s_active" name="s_active" class="w_200">
					<option value=""><ers:label code="common_please_select" /></option>
                    <ers:foreach variable="list" src=".Model.ActiveList" roopcounter="i">
                        <option value="<%=list.value%>"<ers:isEqual src="list.value" variable=".Model.active"> selected="selected"</ers:isEqual>><ers:message src="list.name"/></option>
                    </ers:foreach>
					</select>
				</td>
			</tr>
			<tr>
				<th><ers:label code="campaign_name"></th>
				<td><input type="text" id="s_campaign_name" class="w_400" value="<%=.Model.s_campaign_name %>" name="s_campaign_name"/></td>
			</tr>
			<tr>
				<th><ers:message code="camp_bundledimplemperiod"></th>
				<td><input type="text" class="datepicker_start w_150" maxlength="19" value="<%=.Model.s_term_from %>" id="s_term_from" name="s_term_from"/>&nbsp;
                ～&nbsp;<input type="text" class="datepicker_end w_150" id="s_term_to" maxlength="19" value="<%=.Model.s_term_to %>" name="s_term_to"></td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code="common_search">" id="" name=""></p>
	</div>
<!-- next end-->
</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
