﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="campaign.campaign_list.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="campaign.campaign_list.Title"></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="90"><ers:label code="ccode" /></th>
				<th width="150"><ers:label code="campaign_name" /></th>
				<th width="50"><ers:label code="campaign_t.active" /></th>
				<th width="120"><ers:message code="camp_bundledimplemperiod" /></th>
				<th width="50"><ers:label code="common_details" /></th>
			</tr>
		</thead>
		<tbody>

        <ers:foreach variable="list" src=".Model.CampaignList" roopcounter="item_cnt">
			<tr>
				<td><%=list.ccode%></td>
				<td><%=list.campaign_name%></td>
				<td><ers:message src="list.w_active"/></td>
				<td><%=list.term_from%>～<%=list.term_to%></td>
				<td><input class="btn01" type="button" onclick="location.href='<%=.sec_url%>top/campaign/asp/campaign_modify.asp?id=<%=list.id%>'" name="" id="" value="<ers:label code="common_details">"></td>
			</tr>
        </ers:foreach>

		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="campaign_detail" id="campaign_detail" method="get">
<!--詳細用form-->
</form>

<!-- back start-->
<form action="campaign_search.asp" method="post">
	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
