﻿<!DOCTYPE html>
<html lang="ja">
<head>
<base target="_self">
<meta charset="utf-8">
<title><ers:message code="campaign.campaign_scode_search.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
 <script language="javascript" type="text/javascript">

// callback function of parent
var RunCallbackFunction = function () { };

// values to be used as call back arguments
var reco_number = null;

//選択ScodeSet
function SetCode(obj) {
    
    var rowName = obj.id;
    var code = rowName.replace("btnSetting", "");

    // Call callback function of parent
    RunCallbackFunction(reco_number,code);

    self.window.close();
}

function Close() {
    self.window.close();
}

// pager

</script>
<script language="javascript" type="text/javascript">
$(function () {
    $(document).on("submit", 'form', function () {
        var param = $(this).serialize();
        $.post(
                $(this).attr('action'),
                param,
                function (data) {
                    //replace contents
                    var pagehtml = $(data).find("#ERS_contents");
                    $("#ERS_contents").html(pagehtml.html());
                    //re-bind objects
                    $jquery_flexgrid(".flexigrid table").flexigrid();
                }
        );
        return false;
    })
});



</script>

<script type="text/javascript">
    var cate_relation_level = 5;

    var form_array_cate = new Array(5);
    form_array_cate[1] = new Array();
    form_array_cate[2] = new Array();
    form_array_cate[3] = new Array();
    form_array_cate[4] = new Array();
    form_array_cate[5] = new Array();

	<ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
	<ers:isEqual src="cate_item.cate_t_active" value="1">
	<ers:foreach variable="option" src="cate_item.list" roopcounter="j">
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>] = new Array();
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['parent_id'] = "<%=option.parent_id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['id'] = "<%=option.id%>"
	    form_array_cate[<%=cate_item.cate_t_id%>][<%=j%>]['value'] = "<%=option.cate_name%>";
	</ers:foreach>
	</ers:isEqual>
	</ers:foreach>

	var form_selected = new Array(5);
	form_selected[1] = "<%=.Model.s_cate1 %>"
	form_selected[2] = "<%=.Model.s_cate2 %>"
	form_selected[3] = "<%=.Model.s_cate3 %>"
	form_selected[4] = "<%=.Model.s_cate4 %>"
	form_selected[5] = "<%=.Model.s_cate5 %>"


</script>

</head>
<body>




<!-- container start -->
	<div id="ERS_container">


<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="campaign.campaign_scode_search.Title"></h2>
	</div>
<!-- title end -->

<ers:dispError /><ers:dispInfo />

<form action="<%=.sec_url%>top/campaign/asp/common_scode_list.asp" method="post"  name="item_form" group_name="none">
    <input type="hidden" value="<%=.Model.s_doc_bundling_flg %>" name="s_doc_bundling_flg" />
    <input type="hidden" value="<%=.Model.hide_stock %>" name="hide_stock" />
<!-- table start -->
	<div class="ERS_table">
		<table class="length">
		<tbody>
			<tr>
				<th><ers:label code="gcode"></th>
				<td><input type="text" id="s_gcode" name="s_gcode" class="w_200" value="<%=.Model.s_gcode %>"></td>
			</tr>
            <tr>
                <th><ers:label code="scode"></th>
                <td><input type="text" id="s_scode" value="<%=.Model.s_scode %>" name="s_scode" class="w_200"></td>
            </tr>
            <tr>
                <th><ers:label code="s_sname"></th>
                <td><input type="text" id="s_sname" value="<%=.Model.s_sname %>" name="s_sname" class="w_400"></td>
            </tr>
<!--cate start-->
            <ers:foreach variable="cate_item" src=".Model.CateList" roopcounter="i">
			    <tr>
				    <th>
					    <span id="s_cate<%=cate_item.cate_t_id%>"><ers:message code="item_cate_name" /><%=i+1%><ers:message code="item_category_search" /></span>
				    </th>
				    <td>
					    <select class="w_250" id="s_cate<%=cate_item.cate_t_id%>" name="s_cate<%=cate_item.cate_t_id%>" >
						    <option value="" selected="selected"></option>
                            <ers:foreach variable="option" src="cate_item.list" roopcounter="j">
                            <option value="<%=option.id%>" id="<%=option.parent_id%>" <ers:isEqual src="option.id" variable=".Model.CateValueList[cate_item.cate_t_id].value"> selected="selected"</ers:isEqual>><ers:isNotEqual src="option.site_name" value="">（<%=option.site_name%>）</ers:isNotEqual><%=option.cate_name%><ers:isNotEqual src="option.parentNames" value="">(<%=option.parentNames%>)</ers:isEqual></option>
                            </ers:foreach>
					    </select>
				    </td>
			    </tr>
            </ers:foreach>
<!--cate end-->

		</tbody>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code="common_search">" id="g_search_mode" name="g_search_mode" /></p>
	</div>
<!-- next end-->

</form>

            <!-- pager start -->
            <ers:partial file="pager.htm" partialModel=".Pager" />
            <!-- pager end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="120"><ers:label code="scode"></th>
				<th width="200"><ers:label code="s_sname"></th>
                <ers:isNotEqual src=".Model.hide_stock" value="true">
                    <th width="80"><ers:label code="stock"></th>
                </ers:isNotEqual>
                <th width="100"><ers:message code="camp_campaign_scode_decision"></th>
            </tr>
		</thead>
		<tbody>

        <ers:foreach variable="item" src=".Model.MeList" roopcounter="item_cnt">
			<tr>
				<td><%=item.scode%></td>
				<td><%=item.sname%></td>
                <ers:isNotEqual src=".Model.hide_stock" value="true">
                    <td><%=item.stock%></td>
                </ers:isNotEqual>
                <td><input type="submit" name="btnSetting" value="<ers:message code='camp_campaign_scode_set'>" onclick="SetCode(this);" id="btnSetting<%=item.gcode%>$<%=item.scode%>$<%=item.sname%>$<%=item.s_sale_ptn %>" class="w_100" /></td>
            </tr>
        </ers:foreach>

		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- back start-->
	<div class="ERS_back">
		<p><input type="button" value="<< <ers:label code="common_back">" class="btn01" onclick="window.close();" /></p>
	</div>
<!-- back end-->



		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->




</body>
</html>
