﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="campaign.target_list.Title"> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
<script type="text/javascript">
    var $jquery_flexgrid = $.noConflict(true);
</script>
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="campaign.target_list.Title"></h2>
	</div>
<!-- title end -->

<!-- item_table start -->
	<div class="flexigrid item_table">
	<table>
		<thead>
			<tr>
				<th width="120"><ers:label code="target_name" /></th>
				<th width="90"><ers:label code="intime" /></th>
				<th width="40"><ers:message code="camp_target_list_numofeventshdr" /></th>
				<th width="75"><ers:message code="camp_target_list_latestpurchasedatehdr" /></th>
				<th width="75"><ers:message code="camp_target_list_totalnumofpurchasehdr" /></th>
				<th width="90"><ers:message code="camp_target_list_totalpurchaseamthdr" /></th>
                <th width="60"><ers:message code="camp_target_list_purchasecoursehdr" /></th>
				<th width="70"><ers:label code="common_details" /></th>
                <th width="70"><ers:label code="common_download" /></th>
			</tr>
		</thead>
		<tbody>
        <ers:foreach variable="tg_list" src=".Model.TargetList" roopcounter="item_cnt">
			<tr>
				<td><%=tg_list.target_name%></td>
				<td><%=tg_list.intime%></td>
				<td><%=tg_list.list_count%></td>
				<td><%=tg_list.recency_from%>&nbsp;～&nbsp;<%=tg_list.recency_to%></td>
				<td><%=tg_list.frequency_from%>&nbsp;～&nbsp;<%=tg_list.frequency_to%></td>
				<td><%=tg_list.monetary_from%>&nbsp;～&nbsp;<%=tg_list.monetary_to%></td>
				<td><%=tg_list.w_purchase_course%></td>
				<td>
                    <form method="post" action="target_modify.asp">
                        <input type="hidden" name="id" value="<%=tg_list.id%>" />
                        <input type="submit" name="" id="" value="<ers:label code="common_details" /> ">
                    </form>
                </td>
                <td>
                    <form method="post" action="target_csv_download.asp" target="_blank">
                        <input type="hidden" name="id" value="<%=tg_list.id%>" />
                        <input type="submit" name="" id="download" value="<ers:label code="common_download" />">
                    </form>
                </td>
			</tr>
        </ers:foreach>
		</tbody>
		</table>
	</div>
<!-- item_table end -->

<!-- page_send start -->
<ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->

<form action="" name="target_detail" id="target_detail" method="get">
<!--詳細用form-->
</form>

<!-- back start-->
<form action="target_search.asp" method="post">
	<div class="ERS_back">
		<p><input type="submit" value="<< <ers:label code='common_back'/>" class="btn01" /></p>
	</div>
</form>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
