﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">

<ers:isEqual src=".Model.mode" value="regist"><title><ers:message code="campaign.target_regist.Title"> - <%=.browser_title%></title></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><title><ers:message code="campaign.target_modify.Title"> - <%=.browser_title%></title></ers:isEqual>

<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript">

        function RemoveIncludedItem(ref) {
            if (ref.parentNode.parentElement.id == "itemnewline") {
                $("#" + ref.parentNode.parentElement.id).css("display", "none");
            }
            else {
                $(ref).closest('tr').remove();
            }
            var new_count = 1;
            var target_cnt = document.getElementById("target_item_max").value;
            if (target_cnt != 1) {
                new_count = eval(target_cnt) - 1;
            }
            $('#target_item_max').val(new_count);
        }

        function RemoveExcludedItem(ref) {
            if (ref.parentNode.parentElement.id == "excludeditemnewline") {
                $("#" + ref.parentNode.parentElement.id).css("display", "none");
            }
            else {
                $(ref).closest('tr').remove();
            }
            var new_count = 1;
            var target_cnt = document.getElementById("targetexcluded_item_max").value;
            if (target_cnt != 1){
                new_count = eval(target_cnt) - 1;
            }
            $('#targetexcluded_item_max').val(new_count);
        }

        function ItemSearch(ref) {
            var result = window.open("<%=.sec_url%>top/campaign/asp/common_scode_search.asp?g_search_mode=1&hide_stock=true", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
            // Set values to child window
            result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
              (result.attachEvent ? 'on' : '') + 'load', function () {
                  result.RunCallbackFunction = callback_func;
                  result.reco_number = ref;
              }, false);
        }

        function callback_func(ref, sdata) {

            var s_cnt = 0;

            if (sdata != undefined) {
                var n_cnt = ref.parentNode.parentElement.id

                var strKey = "record_key1_";

                var sdata_arr = sdata.split("$");
                var trHTML1 = '';
                var trHTML4 = '';
                if (n_cnt == undefined || n_cnt == "itemnewline") {
                    s_cnt = 1;
                }
                else {
                    if (n_cnt == 1) {
                        if ($('input[name="' + strKey + n_cnt + '_disp_scode"]').length > 0) {
                            n_cnt = 0;
                        }
                    }
                    s_cnt = n_cnt
                }

                trHTML1 = '<tr id=' + s_cnt + '>'
                trHTML4 = '</tr>';
                 
                var HTML1 = trHTML1 + '<td><input type="text" id="disp_scode" name="' + strKey + s_cnt + '_disp_scode" class="w_87"  value="' + sdata_arr[1] + '" disabled="disabled" />';
                HTML1 = HTML1 + '<input type="hidden" id="scode" name="' + strKey + s_cnt + '_scode" value="' + sdata_arr[1] + '" />';
                HTML1 = HTML1 + '<input type="hidden" id="gcode" name="' + strKey + s_cnt + '_gcode" value="' + sdata_arr[0] + '" />';
                HTML1 = HTML1 + '<input type="hidden" id="sname" name="' + strKey + s_cnt + '_sname" value="' + sdata_arr[2] + '" /></td>';

                var trHTML2 = '<td>'
                var HTML2 = trHTML2 + '<input type="text" id="disp_sname" name="' + strKey + s_cnt + '_disp_sname" class="w_180" value="' + sdata_arr[2] + '" disabled="disabled" />';
                HTML2 = HTML2 + '&nbsp;&nbsp;<input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="商品検索" onclick="return ItemSearch(this)" />';
                HTML2 = HTML2 + '&nbsp;&nbsp;<input type="hidden" class="w_87" name="IncludeScode" id="IncludeScode" value="" /></td>';

                var trHTML3 = '<td>'
                var HTML3;
                if (sdata_arr[3] == "NORMAL") {
                    HTML3 = trHTML3 + '<input type="radio" id="order_type1" name="' + strKey + s_cnt + '_order_type" value="1" checked="checked"  />&nbsp<label>通常</label>&nbsp;&nbsp;</td>';
                }
                else if (sdata_arr[3] == "REGULAR") {
                    HTML3 = trHTML3 + '<input type="radio" id="order_type2" name="' + strKey + s_cnt + '_order_type" value="2" checked="checked"/>&nbsp<label>定期</label>&nbsp;&nbsp;</td>';
                }
                else if (sdata_arr[3] == "ALL") {
                    HTML3 = trHTML3 + '<input type="radio" id="order_type1" name="' + strKey + s_cnt + '_order_type" value="1"   />&nbsp<label>通常</label>&nbsp;&nbsp;';
                    HTML3 = HTML3 + '<input type="radio" id="order_type2" name="' + strKey + s_cnt + '_order_type" value="2" />&nbsp<label>定期</label>&nbsp;&nbsp;';
                    HTML3 = HTML3 + '<input type="radio" id="order_type3" name="' + strKey + s_cnt + '_order_type" value="9" checked="checked"/>&nbsp<label>通常と定期</label></td>';
                }

                var HTML4 = '<td><input type="button" name="RemoveIncluded" id="RemoveIncluded" value="削除" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>' + trHTML4;

                $("#" + ref.parentNode.parentElement.id).after(HTML1 + HTML2 + HTML3 + HTML4);
                if (ref.parentNode.parentElement.id == "itemnewline")
                {
                    $("#" + ref.parentNode.parentElement.id).css("display", "none");
                }
                else {                    
                    $(ref).closest('tr').remove();
                }
            }

        }

        function ExcludedItemSearch(ref) {
            var result = window.open("<%=.sec_url%>top/campaign/asp/common_scode_search.asp?g_search_mode=1&hide_stock=true", '_blank', "status=yes,width=1024px,height=768px,resizable=yes,scrollbars=yes");
            // Set values to child window
            result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
              (result.attachEvent ? 'on' : '') + 'load', function () {
                  result.RunCallbackFunction = callback_func_excluded;
                  result.reco_number = ref;
              }, false);
        }

        function callback_func_excluded(ref, sdata) {

            var s_cnt = 0;

            if (sdata != undefined) {
                var n_cnt = ref.parentNode.parentElement.id

                var strKey = "record_key2_";

                var sdata_arr = sdata.split("$");
                var trHTML1 = '';
                var trHTML4 = '';
                if (n_cnt == undefined || n_cnt == "excludeditemnewline") {
                    s_cnt = 1;
                }
                else {
                    if (n_cnt == "ex_1") {
                        if ($('input[name="' + strKey +  '0_disp_scode"]').length > 0) {
                            n_cnt = 0;
                        }
                    }
                    else {
                        n_cnt = n_cnt.substring(n_cnt.length, 3);
                    }
                    s_cnt = n_cnt
                }

                trHTML1 = '<tr id=ex_' + s_cnt + '>'
                trHTML4 = '</tr>';

                var HTML1 = trHTML1 + '<td><input type="text" id="ex_disp_scode" name="' + strKey + s_cnt + '_disp_scode" class="w_87"  value="' + sdata_arr[1] + '" disabled="disabled" />';
                HTML1 = HTML1 + '<input type="hidden" id="ex_scode" name="' + strKey + s_cnt + '_scode" value="' + sdata_arr[1] + '" />';
                HTML1 = HTML1 + '<input type="hidden" id="ex_gcode" name="' + strKey + s_cnt + '_gcode" value="' + sdata_arr[0] + '" />';
                HTML1 = HTML1 + '<input type="hidden" id="ex_sname" name="' + strKey + s_cnt + '_sname" value="' + sdata_arr[2] + '" /></td>';

                var trHTML2 = '<td>'
                var HTML2 = trHTML2 + '<input type="text" id="ex_disp_sname" name="' + strKey + s_cnt + '_disp_sname" class="w_180" value="' + sdata_arr[2] + '" disabled="disabled" />';
                HTML2 = HTML2 + '&nbsp;&nbsp;<input type="button" class="disp_frame001" name="GetItemExcluded" id="GetItemExcluded" value="商品検索" onclick="return ExcludedItemSearch(this)" />';
                HTML2 = HTML2 + '&nbsp;&nbsp;<input type="hidden" class="w_87" name="ExcludeScode" id="ExcludeScode" value="" /></td>';

                var trHTML3 = '<td>'
                var HTML3;
                if (sdata_arr[3] == "NORMAL") {
                    HTML3 = trHTML3 + '<input type="radio" id="ex_order_type1" name="' + strKey + s_cnt + '_order_type" value="1" checked="checked"  />&nbsp<label>通常</label>&nbsp;&nbsp;</td>';
                }
                else if (sdata_arr[3] == "REGULAR") {
                    HTML3 = trHTML3 + '<input type="radio" id="ex_order_type2" name="' + strKey + s_cnt + '_order_type" value="2" checked="checked"/>&nbsp<label>定期</label>&nbsp;&nbsp;</td>';
                }
                else if (sdata_arr[3] == "ALL") {
                    HTML3 = trHTML3 + '<input type="radio" id="ex_order_type1" name="' + strKey + s_cnt + '_order_type" value="1"   />&nbsp<label>通常</label>&nbsp;&nbsp;';
                    HTML3 = HTML3 + '<input type="radio" id="ex_order_type2" name="' + strKey + s_cnt + '_order_type" value="2" />&nbsp<label>定期</label>&nbsp;&nbsp;';
                    HTML3 = HTML3 + '<input type="radio" id="ex_order_type3" name="' + strKey + s_cnt + '_order_type" value="9" checked="checked"/>&nbsp<label>通常と定期</label></td>';
                }

                var HTML4 = '<td><input type="button" name="RemoveExcluded" id="RemoveExcluded" value="削除" class="del_btn" onclick="return RemoveExcludedItem(this)"/></td>' + trHTML4;

                $("#" + ref.parentNode.parentElement.id).after(HTML1 + HTML2 + HTML3 + HTML4);
                if (ref.parentNode.parentElement.id == "excludeditemnewline") {
                    $("#" + ref.parentNode.parentElement.id).css("display", "none");
                }
                else {
                    $(ref).closest('tr').remove();
                }
            }
        }

        $(document).ready(function () {

            $("#order_ptn_kbn").change(function () {
                if ($(this).val() === "3") {
                    $("div.item_select").show();
                } else if ($(this).val() === "6") {
                    $("div.item_select").show();
                } else {
                    $("div.item_select").hide();
                }
            }).change();

            var objItemSelect = $(".item_select");
            $(".del_btn", objItemSelect).click(function () {
                $(this).closest("tr").remove();
            });

            var ex_new_line = $("#excludeditemnewline").html()
            $("#addnewexcludeditemline").click(function () {
                var target_cnt = eval(document.getElementById("targetexcluded_item_max").value) + 1;
                document.getElementById("targetexcluded_item_max").value = target_cnt;

                var htmlNewLine1 = '<tr id=ex_' + target_cnt + '>' + ex_new_line + "</tr>";
                $("#Targetexcluded_items").closest("table").append(htmlNewLine1);
            })

            var newline = $("#itemnewline").html()
            $("#addnewitemline").click(function () {
                var target_cnt = eval(document.getElementById("target_item_max").value) + 1;
                document.getElementById("target_item_max").value = target_cnt;

                var htmlNewLine2 = '<tr id=' + target_cnt + '>' + newline + "</tr>";
                $("#Target_items").closest("table").append(htmlNewLine2);
            })
        })

        
    </script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
<ers:isEqual src=".Model.mode" value="regist"><h2><ers:message code="campaign.target_regist.Title"></h2></ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify"><h2><ers:message code="campaign.target_modify.Title"></h2></ers:isEqual>
	</div>
<!-- title end -->

<ers:isEqual src=".Model.mode" value="regist">
<form action="<%=.sec_url%>top/campaign/asp/target_regist_complete.asp" id="target_complete" name="target_complete" method="post">
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify">
<form action="<%=.sec_url%>top/campaign/asp/target_modify_complete.asp" id="target_complete" name="target_complete" method="post" group_name="modify">
</ers:isEqual>


<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
<ers:isEqual src=".Model.mode" value="regist">
			<caption><ers:message code="campaign.target_regist.direction"></caption>
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify">
			<caption><ers:message code="campaign.target_modify.direction"></caption>
</ers:isEqual>

<ers:isEqual src=".Model.mode" value="modify" >
			<tr>
				<th><ers:label code="intime"></th>
				<td><%=.Model.intime%></td>
			</tr>
			<tr>
				<th><ers:label code="utime"></th>
				<td><%=.Model.utime%></td>
			</tr>
</ers:isEqual>

			<tr>
				<th><ers:label code="target_name"></th>
				<td>
                    <input type="text" class="w_400" id="target_name" name="target_name" value="<%=.Model.target_name%>"/>
                </td>
			</tr>
		</table>
        <ers:isEqual src=".Model.multiple_sites" value="true">
            <table class="length">
                <caption><ers:message code="campaign.target_modify.condition"></caption>
                <ers:partial file="site/site_register_check.htm" />
            </table>
        </ers:isEqual>

		<table class="side">
			<tr>
				<th><ers:message code="camp_target_modify_latestpurchaserank"></th>
				<th><ers:message code="camp_target_modify_totalpurchasenumrank"></th>
				<th><ers:message code="camp_target_modify_totalpurchaseamtrank"></th>
			</tr>
			<tr>
				<td>
                    <input type="text" class="w_40" id="recency" name="recency_from" value="<%=.Model.recency_from%>" maxlength="4" />&nbsp;<ers:label code="common_day" />&nbsp;～
                    <input type="text" class="w_40" id="recency_to" name="recency_to" value="<%=.Model.recency_to%>" maxlength="4" />&nbsp;<ers:label code="common_day" />
                </td>
				<td>
                    <input type="text" class="w_40" id="frequency" name="frequency_from" value="<%=.Model.frequency_from%>" maxlength="4" />&nbsp;<ers:message code="camp_target_modify_totalpurchasenumranktimes" />&nbsp;～
                    <input type="text" class="w_40" id="frequency_to" name="frequency_to" value="<%=.Model.frequency_to%>" maxlength="4" />&nbsp;<ers:message code="camp_target_modify_totalpurchasenumranktimes" />
                </td>
				<td>
                    <input type="text" class="w_100" id="monetary" name="monetary_from" value="<%=.Model.monetary_from%>" maxlength="9" />&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen" />&nbsp;～
                    <input type="text" class="w_100" id="monetary_to" name="monetary_to" value="<%=.Model.monetary_to%>" maxlength="9" />&nbsp;<ers:message code="camp_target_modify_totalpurchaseamtrankyen" />
                </td>
			</tr>
		</table>
        <table id="Table1" class="length">
            <tr>
                <th>
                    <ers:label code="order_ptn_kbn">
                </th>
                <td>
                    <select class="w_150" id="order_ptn_kbn" name="order_ptn_kbn">
                        <option value=""><ers:message code="camp_target_modify_optionboxunspecified"></option>
                        <ers:foreach variable="option" src=".Model.order_ptn_kbn_list" roopcounter="j">
                            <option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.order_ptn_kbn"> selected="selected"</ers:isEqual>><ers:message src="option.name"/></option>
                        </ers:foreach>
                    </select>
                </td>
            </tr>
        </table>
        <div class="item_select">
            <p>
            </p>
            <table id="Target_items" class="side">
                <caption>
                    <ers:message code="campaign.target_modify.shippingdirection">
                    <ers:message code="campaign.target_modify.shippingset">&nbsp;&nbsp;
                    <ers:message code="campaign.target_modify.shippingdirection2"></caption>
                <tr>
                    <th class="w_100">
                        <ers:label code="scode" />
                    </th>
                    <th class="w_256">
                        <ers:label code="s_sname" />
                    </th>
                    <th class="w_200">
                        <ers:label code="s_sale_ptn" />
                    </th>
                    <th class="w_40">
                        <ers:label code="delete" />
                    </th>
                </tr>
<ers:table src=".Model.scenario_item_table" name="scenario_item_table" variable="scenario_item_list" record_key="record_key1">
                <tr id="<%=scenario_item_list.lineNumber%>">
	                <td>
                    <input type="text" id="disp_scode" name="<%=record_key1%>disp_scode" value="<%=scenario_item_list.scode %>" class="w_87" disabled="disabled" />
                    <input type="hidden" id="scode" name="<%=record_key1%>scode" value="<%=scenario_item_list.scode %>" />
                    <input type="hidden" id="gcode" name="<%=record_key1%>gcode" value="<%=scenario_item_list.gcode %>" />
                    <input type="hidden" id="sname" name="<%=record_key1%>sname" value="<%=scenario_item_list.sname %>" />
                    <input type="hidden" id="target_kbn" name="<%=record_key1%>target_kbn" value="1" />
                    <input type="hidden" id="id" name="<%=record_key1%>id" value="<%=scenario_item_list.id %>" />
                    </td>
	                <td><input type="text" id="disp_sname" name="<%=record_key1%>disp_sname"  value="<%=scenario_item_list.sname %>" class="w_180"disabled="disabled" />
                        <input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search">" onclick="return ItemSearch(this)" />
                        <input type="hidden" class="w_87" name="IncludeScode" id="IncludeScode" value="" />
                    </td>
	                <td>
                        <ers:IsEqual src="scenario_item_list.order_type" value="1">
                            <input type="radio" id="order_type1" name="<%=record_key1%>order_type" value="1"<ers:IsEqual src="scenario_item_list.order_type" value="1"> checked="checked"</ers:IsEqual>/><ers:message code="camp_target_modify_rdobtnnormal">&nbsp;&nbsp;
                        </ers:IsEqual>
                        <ers:IsEqual src="scenario_item_list.order_type" value="2">
                            <input type="radio" id="order_type2" name="<%=record_key1%>order_type" value="2"<ers:IsEqual src="scenario_item_list.order_type" value="2"> checked="checked"</ers:IsEqual>/><ers:message code="camp_target_modify_rdobtnroutine">&nbsp;&nbsp;
                        </ers:IsEqual>
                        <ers:IsEqual src="scenario_item_list.order_type" value="9">
                            <input type="radio" id="order_type1" name="<%=record_key1%>order_type" value="1"<ers:IsEqual src="scenario_item_list.order_type" value="1"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnnormal">&nbsp;&nbsp;
                            <input type="radio" id="order_type2" name="<%=record_key1%>order_type" value="2"<ers:IsEqual src="scenario_item_list.order_type" value="2"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnroutine">&nbsp;&nbsp;
                            <input type="radio" id="order_type9" name="<%=record_key1%>order_type" value="9"<ers:IsEqual src="scenario_item_list.order_type" value="9"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnnormalandroutine">
                        </ers:IsEqual>
                    </td>
                    <td><input type="button" name="RemoveIncluded" id="RemoveIncluded" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>
                </tr>
</ers:table>
                <tr id="itemnewline" class="new_line">
                    <td>
                        <input type="text" class="w_87" name="IncludeScode" id="Text2" value="" disabled="disabled" />
                    </td>
                    <td>
                        <span><ers:message code="campaign.target_modify.selectitem">&nbsp; </span>
                        <input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search">" onclick="return ItemSearch(this)" />
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="button" name="" value="<ers:label code="delete">" class="del_btn" onclick="RemoveIncludedItem(this)" />
                    </td>
                </tr>
            </table>
            <input type="hidden" id="target_item_max" name="target_item_max" value="<%=.Model.target_item_max %>" />
			<p><input type="button" class="add_newline disp_frame001 btn01" name="" id="addnewitemline" value="<ers:label code="common_add_new_item">" /></p><br />
            <br />
            <table id="Targetexcluded_items" class="side">
                <caption>
                    <ers:message code="campaign.target_modify.excludedcommodity">&nbsp;&nbsp;
                    <ers:message code="campaign.target_modify.excludedcommoditydirection">
                </caption>
                <tr>
                    <th class="w_100">
                        <ers:label code="scode" />
                    </th>
                    <th class="w_256">
                        <ers:label code="s_sname" />
                    </th>
                    <th class="w_200">
                        <ers:label code="s_sale_ptn" />
                    </th>
                    <th class="w_30">
                        <ers:label code="delete" />
                    </th>
                </tr>
<ers:table src=".Model.scenarioexcluded_item_table" name="scenarioexcluded_item_table" variable="scenarioexcluded_item_list" record_key="record_key2">      
	            <tr id="ex_<%=scenarioexcluded_item_list.lineNumber%>">
		            <td>
                    <input type="text" id="ex_disp_scode" name="<%=record_key2%>disp_scode" value="<%=scenarioexcluded_item_list.scode %>" class="w_87" disabled="disabled"/>
                    <input type="hidden" id="ex_scode" name="<%=record_key2%>scode" value="<%=scenarioexcluded_item_list.scode %>" />
                    <input type="hidden" id="ex_gcode" name="<%=record_key2%>gcode" value="<%=scenarioexcluded_item_list.gcode %>" />
                    <input type="hidden" id="ex_sname" name="<%=record_key2%>sname" value="<%=scenarioexcluded_item_list.sname %>" />
                    <input type="hidden" id="target_kbn" name="<%=record_key2%>target_kbn" value="2" />
                    <input type="hidden" id="ex_id" name="<%=record_key2%>id" value="<%=scenarioexcluded_item_list.id %>" />
                    </td>
		            <td><input type="text" id="ex_disp_sname" name="<%=record_key2%>disp_sname"  value="<%=scenarioexcluded_item_list.sname %>" class="w_180"disabled="disabled" />
                        <input type="button" class="disp_frame001" name="GetItemExcluded" id="GetItemExcluded" value="<ers:label code="common_product_search">" onclick="return ExcludedItemSearch(this)"
                        <input type="hidden" class="w_87" name="ExcludeScode" id="ExcludeScode" value="" />
                    </td>
		            <td>
                    <ers:IsEqual src="scenarioexcluded_item_list.order_type" value="1">
                        <input type="radio" id="ex_order_type1" name="<%=record_key2%>order_type" value="1"<ers:IsEqual src="scenarioexcluded_item_list.order_type" value="1"> checked="checked"</ers:IsEqual>/><ers:message code="camp_target_modify_rdobtnnormal"/>&nbsp;&nbsp;
                    </ers:IsEqual>
                    <ers:IsEqual src="scenarioexcluded_item_list.order_type" value="2">
                        <input type="radio" id="ex_order_type1" name="<%=record_key2%>order_type" value="2"<ers:IsEqual src="scenarioexcluded_item_list.order_type" value="2"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnroutine"/>&nbsp;&nbsp;
                    </ers:IsEqual>
                    <ers:IsEqual src="scenarioexcluded_item_list.order_type" value="9">
                        <input type="radio" id="ex_order_type1" name="<%=record_key2%>order_type" value="1"<ers:IsEqual src="scenarioexcluded_item_list.order_type" value="1"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnnormal"/>&nbsp;&nbsp;
                        <input type="radio" id="ex_order_type2" name="<%=record_key2%>order_type" value="2"<ers:IsEqual src="scenarioexcluded_item_list.order_type" value="2"> checked="checked"</ers:IsEqual>   /><ers:message code="camp_target_modify_rdobtnroutine"/>&nbsp;&nbsp;
                        <input type="radio" id="ex_order_type9" name="<%=record_key2%>order_type" value="9"<ers:IsEqual src="scenarioexcluded_item_list.order_type" value="9"> checked="checked"</ers:IsEqual> /><ers:message code="camp_target_modify_rdobtnnormalandroutine"/>
                    </ers:IsEqual>
                    </td>
                    <td><input type="button" name="RemoveExcluded" id="RemoveExcluded" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveExcludedItem(this)"/></td>
	            </tr>
</ers:table>
                <tr id="excludeditemnewline" class="new_line">
                    <td>
                        <input type="text" class="w_87" name="ExcludeScode" id="Text1" value="" disabled="disabled"/>
                    </td>
                    <td>
                        <span><ers:message code="campaign.target_modify.selectitem">&nbsp; </span>
                        <input type="button" class="disp_frame001" name="GetItemExcluded" id="GetItemExcluded" value="<ers:label code='common_product_search'/>" onclick="return ExcludedItemSearch(this)" />
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="button" name="" value="<ers:label code="delete">" class="del_btn" onclick="RemoveExcludedItem(this)" />
                    </td>
                </tr>
                <input type="hidden" id="targetexcluded_item_max" name="targetexcluded_item_max" value="<%=.Model.targetexcluded_item_max %>" />
            </table>
			<p><input type="button" class="add_newline disp_frame001 btn01" name="" id="addnewexcludeditemline" value="<ers:label code="common_add_new_item">" /></p><br />
        </div>
	</div>
<!-- table end -->
</form>

<form action="<%=.sec_url%>top/campaign/asp/target_delete_complete.asp" id="target_delete" name="target_delete" method="post">
    
</form>

<!-- next start-->
	<div class="ERS_next">
<ers:isEqual src=".Model.mode" value="regist" >
		<p class="center">
			<a href="target_complete" class="disp_dialog001"><input type="button" value="<ers:label code="common_register">" /></a>
		</p>
		<div id="dialog001" title=<ers:message code="campaign.target_regist.messagebox.Title">
			<p><ers:message code="common.RegisterConfirm"></p>
		</div>
</ers:isEqual>
<ers:isEqual src=".Model.mode" value="modify" >
		<p class="center">
			<a href="target_delete" class="disp_dialog003">
            <input type="button" value="<ers:label code="common_delete">" />
            </a>
			<a href="target_complete" class="disp_dialog002">
            <input type="button" class="primary" value="<ers:label code="common_change">" />
            </a>
		</p>
		<div id="dialog002" title=<ers:message code="campaign.target_modify.modifymessagebox.Title">
			<p><ers:message code="common.ChangeConfirm"/></p>
		</div>
		<div id="dialog003" title=<ers:message code="campaign.target_modify.deletemessagebox.Title">
			<p><ers:message code="common.DeleteConfirm"/></p>
		</div>
</ers:isEqual>
	</div>
<!-- next end-->

<!-- back start-->
	<div class="ERS_back">
<ers:isEqual src=".Model.mode" value="modify">
			<form action="<%=.sec_url%>top/campaign/asp/target_list.asp" id="Form2" name="target_complete0" method="post" group_name="modify">
                <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
            </form>
</ers:isEqual>

	</div>
<!-- back end-->

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->


</body>
</html>
