﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="campaign.target_search.Title" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">
h
<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/campaign.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- sidemenu start -->
<ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
<!-- sidemenu end -->


<!-- contents start -->
		<div id="ERS_contents">

<!-- noscript start -->
		<noscript>
			<div class="ERS_noscript">
				<p><ers:message code="login.login.Javascript" /></p>
			</div>
		</noscript>
<!-- noscript end -->

<!-- title start -->
	<div id="ERS_title">
		<h2><ers:message code="campaign.target_search.Title" /></h2>
	</div>
<!-- title end -->

<form action="<%=.sec_url%>top/campaign/asp/target_list.asp" id="target_list" name="target_list" method="post">

<ers:dispError /><ers:dispInfo />

<!-- table start -->
	<div class="ERS_table">
		<table id="" class="length">
			<tr>
				<th><ers:message code="camp_registration_period" /></th>
				<td><input type="text" class="datepicker_start w_150" maxlength="19" id="s_intime_from" value="<%=.Model.s_intime_from %>" name="s_intime_from"/>&nbsp;
                ～&nbsp;<input type="text" class="datepicker_end w_150" id="s_intime_to" maxlength="19" value="<%=.Model.s_intime_to %>" name="s_intime_to"></td>
			</tr>
			<tr>
				<th><ers:label code="target_name" /></th>
				<td><input type="text" class="w_400" id="s_target_name" value="<%=.Model.s_target_name %>" name="s_target_name"/></td>
			</tr>
            <ers:isEqual src=".Model.multiple_sites" value="true">
                <ers:partial file="site/site_search_check.htm" />
            </ers:isEqual>
			<tr>
				<th><ers:message code="camp_target_search_latestpurchaseday" /></th>
				<td><input type="text" class="w_40" id="s_recency_from" value="<%=.Model.s_recency_from %>" name="s_recency_from"/>&nbsp;<ers:message code="camp_target_search_latestpurchasedayfrom" />
                <input type="text" class="w_40" id="s_recency_to" value="<%=.Model.s_recency_to %>" name="s_recency_to"/>&nbsp;<ers:message code="camp_target_search_latestpurchasedayto" /></td>
			</tr>
			<tr>
				<th><ers:message code="camp_target_search_totalnumofpurchase" /></th>
				<td><input type="text" class="w_40" id="s_frequency_from" value="<%=.Model.s_frequency_from %>" name="s_frequency_from"/>&nbsp;<ers:message code="camp_target_search_totalnumofpurchasefrom" />
                <input type="text" class="w_40" id="s_frequency_to" value="<%=.Model.s_frequency_to %>" name="s_frequency_to"/>&nbsp;<ers:message code="camp_target_search_totalnumofpurchaseto" /></td>
			</tr>
			<tr>
				<th><ers:message code="camp_target_search_totalpurchaseamt" /></th>
				<td><input type="text" class="w_100" id="s_monetary_from" value="<%=.Model.s_monetary_from %>" name="s_monetary_from"/>&nbsp;<ers:message code="camp_target_search_totalpurchaseamtfrom" />
                <input type="text" class="w_100" id="s_monetary_to" value="<%=.Model.s_monetary_to %>" name="s_monetary_to"/>&nbsp;<ers:message code="camp_target_search_totalpurchaseamtto" /></td>
			</tr>
		</table>
	</div>
<!-- table end -->

<!-- next start-->
	<div class="ERS_next">
		<p class="center"><input type="submit" value="<ers:label code='common_search'/>" id="" name=""></p>
	</div>
<!-- next end-->
</form>

<!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	</div>
<!-- page_top end-->

<br class="release_b" />

		</div>
<!-- contents end -->

<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->


</body>
</html>
