﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="content-script-type" content="text/javascript" />
<title><ers:message code="partial.error.Title"></title>
<link rel="stylesheet" href="<%=.sec_url%>css/Widget.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Contact.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Design.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/Order.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui-1.8.13.custom.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<div id="Whole">
        <table align="center" cellpadding="0" cellspacing="0" id="FrameType1">
	        <tr>
		        <td id="HeadZone">

                    <div class="ServiceHeader">
	                    <div class="ServiceHeaderLogo">
		                    <img src="<%=.sec_url%>images/header.png" alt="ERS SUITE" />
	                    </div>
                        <!-- noscript start -->
	                    <noscript>
		                    <div class="ERS_noscript">
			                    <p><ers:message code="partial.error.Javascript"></p>
		                    </div>
	                    </noscript>
                        <!-- noscript end -->
                    </div>
            	</td>
	        </tr>
	        <tr valign="top">
		        <td id="MiddleZone">
                    <div class="Error">

                        <!-- title start -->
		                <div id="ERS_title">
			                <h2><ers:message code="partial.error.Title"></h2>
		                </div>
                        <!-- title end -->

                        <!-- error start -->
		                <div class="ERS_error clearfix">
			                <p><ers:message code="partial.error.CheckError"><br /><span><ers:dispError src="All" /></span><p>
		                </div>
                        <!-- error end -->

<ers:isNotEqual src=".returnUrl" value="none">
<ers:isNotEqual src=".Model.isNoBackTo" value="true">
<ers:isEqual src=".returnUrl" value="">
<!-- back start -->
    <div class="ERS_back">
        <p><a href="javascript:window.history.back(-1);"><input class="btn" type="button" value="<ers:label code='common_back' />" name=""/></a></p>
    </div>
<!-- back end -->
</ers:isEqual>
</ers:isNotEqual>

<ers:isNotEqual src=".returnUrl" value="">
<!-- back start -->
		<div class="ERS_back">
			<form method="post" action="<%=.returnUrl%>">
                <input type="hidden" name="eck" value="1" />
				<p>
					<input class="btn" type="submit" value="<ers:label code='common_back' />" name="">
				</p>
			</form>
		</div>
<!-- back end -->
</ers:isNotEqual>
</ers:isNotEqual>

                    </div>

		        </td>
	        </tr>
	        <tr>
		        <td id="FootZone">
			
                     <ers:partial file="footer.htm" />

		        </td>
	        </tr>
        </table>
</div>
 
<ers:isError src="exception_detail">
    <p style="background-color:White;"><ers:dispError src="exception_detail" /></p>
</ers:isError>
  
</body>
</html>
