<div class="ServiceFooter">
	                Copyright&copy; <span id="footerYear"></span> IVP Co., Ltd.
</div>
<div id="ers_page_loaded"></div>
<script type="text/javascript">
    var fYear = document.getElementById("footerYear");
    fYear.innerHTML = new Date().getFullYear();
</script>