<div class="ServiceHeader">
	<div class="ServiceHeaderLogo">
		<img src="<%=.sec_url%>images/logo.png" alt="@Contact" />
	</div>
	
	<asp:Panel ID="Panel_HeaderMenu" runat="server">
		<div class="Menu">
			<a href="" class="TopPage">TopPage</a>
			<a href="" class="Search">Search</a>
			<a href="" class="Order">OrderPage</a>
			<a href="" class="FixedOrder">RegularOrder</a>
			<a href="" class="Escalation">InquiryManagement</a>
			<a href="" class="Information">InformationManagement</a>
			<a href="" class="Operator">OperatorManagement</a>
			<a href="" class="Report">Tabulation</a>
			<a href="" class="Logout">Logout</a>
		</div>
		<div class="LoginUser">
			[LoginAccount]<br />
			TestOperator
		</div>
		<div class="CheckCaution">

<a id="ctl00_ContentPlaceHolderHeader_ServiceHeader1_LinkButton_CheckCaution" class="submit" href="javascript:__doPostBack('','')" onclick="window.open('', 'Caution', 'width=600,height=300,status=no,scrollbars=yes,directories=no,menubar=no,resizable=yes,toolbar=no');">Check</a>

		</div>
	</asp:Panel>
</div>
