<div class="ServiceHeader clearfix">
	<div class="ServiceHeaderLogo clearfix">
		<img src="<%=.sec_url%>images/header.png" alt="ERS Suite" width="150" />
		<div class="LoginUser">
			<%=.Model.Logged_In_User %> 
			
			<script type ="text/javascript">
				function checkinst() {
				    var result = window.open("<%=.sec_url%>home/checkinst", '_blank', "status=yes,width=600px,height=300px,center:yes");
					//location.href = "<%=.sec_url%>home/index";
				}
			</script>

			<ers:isEqual src=".Model.HasUnreadIns" value="true">
				<span class="CheckCaution">
					<input type="button" name="checkinst" class="submit CheckCaution" value="Check" onclick="javascript:checkinst();" />
				</span>
			</ers:isEqual>
			<input type="hidden" name="HasUnreadIns" value="<%=.Model.HasUnreadIns%>" />
		</div>
	</div>
	

	<div class="Menu clearfix">
	
		<a href="<%=.sec_url%>"			 class="TopPage"	 target="_parent"><ers:message code="partial.header.TopPage.Title"></a>
		<a href="<%=.sec_url%>search"	   class="Search"	  target="_parent"><ers:message code="search.ctsSearch.Title" /></a>
		<a href="<%=.sec_url%>Order"		class="Order"	   target="_parent"><ers:message code="order.screen.Title"></a>
		<!--<a href="<%=.sec_url%>Regular"	  class="FixedOrder"  target="_parent">定期編集</a>-->
		<a href="<%=.sec_url%>inquiry"	  class="Escalation"  target="_parent"><ers:message code="inquiry.Escalation.Title" /></a>
			

		<ers:isEqual src=".Model.Authorized" value="true" />
		<ers:isEqual src=".Model.SuperUser" value="true" />
		<a href="<%=.sec_url%>direction"	class="Direction"  target="_parent"><ers:message code="direction.index.Title" /></a>
		<a href="<%=.sec_url%>reports"	   class="Report"	  target="_parent"><ers:message code="reports.index.TitleSummary" /></a>
		</ers:isEqual>
		<a href="<%=.sec_url%>information"  class="Information" target="_parent"><ers:message code="partial.header.InfoManagement.Title"></a>
		<ers:isEqual src=".Model.SuperUser" value="true" />
		<a href="<%=.sec_url%>operator"	 class="Operator"	target="_parent"><ers:message code="operator.index.Title" /></a>
		</ers:isEqual>
			<a href="<%=.sec_url%>configuration" class="Configuration"	target="_parent"><ers:message code="other.configuration.Title" /></a>
		</ers:isEqual>

		<a href="<%=.sec_url%>login/logout" class="Logout"	  target="_parent"><ers:message code="partial.header.Logout.Title"></a>
        <ers:partial file="lang.htm" partialModel=".langModel" />
	</div>

</div>
