﻿<!-- information start -->
	<div class="ERS_information">
		<p>
	        <span class="__error_message"><ers:nonencode src=".ers_information_massage" /></span>
		</p>
	</div>
<!-- information end -->
