<div class="ERS_page_send">
    <b><ers:message code="sumry_item_count_page" value=".Model.recordCount , .Model.pagerPageCount" /></b>
    <br />
    <ers:isEqual src="partialModel.PagePrevFlg" value="true">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_prev">
                    <input type="image" src="<%=.sec_url%>images/previous.gif" value="<ers:message code='inquiry_pagerCase_forward'/>" class="change back" />
                    <input type="hidden" name="pageCnt" value="<%=partialModel.backCnt%>" />
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                </form>
        </ers:isEqual>

    <ers:foreach variable="navi" src="partialModel.PageList" roopcounter="l">
        <ers:isEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input value="<%=navi.pagecnt%>" class="place" type="button">
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                </form>
            </ers:isEqual>
            <ers:isNotEqual src="partialModel.pageCnt" variable="navi.pagecnt">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_cnt<%=navi.pagecnt%>">
                    <input type="hidden" name="pageCnt" value="<%=navi.pagecnt%>" />
                    <input value="<%=navi.pagecnt%>" class="change" type="submit">
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                    <input type="hidden" name="cate_code" value="<%=.Model.cate_code%>" />
                </form>
            </ers:isNotEqual>
        </ers:foreach>

    <ers:isEqual src="partialModel.PageNextFlg" value="true">
                <form method="post" action="<%=partialModel.current_filename%>" name="pagesend_next">
                    <input type="image" src="<%=.sec_url%>images/next.gif" value="次へ" class="change next" /> 
                    <input type="hidden" name="pageCnt" value="<%=partialModel.nextCnt%>" />  
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                </form>
        </ers:isEqual>
</div>
