<div class="Caution">
	<h2>Information</h2>

	<div class="InformationItem">
		<div class="ItemHead"><span class="Subject">Today's notes</span> <span class="SuperVisorName">Superviser</span> <span class="DateTime">(2011/10/18 12:34:56)</span></div>
		<div class="ItemBody">
			notes from Superviser herenotes from Superviser here<br />
			notes from Superviser herenotes from Superviser here<br />
			notes from Superviser here<br />
			notes from Superviser here<br />
			<br />
			notes from Superviser here<br />
			notes from Superviser here<br />
		</div>
		<div class="ItemFoot"></div>
	</div>

</div>