﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title><%=.Model.title%>（お知らせの記事名） | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/cms.css" />-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>

<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>"><ers:message code='annou_list' /></a>＞&nbsp;<%=.Model.title%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
		        <h2><%=.Model.title%></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

				<!-- detail start -->
				<div class="m-ERS_detail m-cms">
					<!-- detail_caption start -->
					<h3><span class="date"><ers:formatDate src=".Model.posted_date" value="yyyy/MM/dd" /></span><%=.Model.sub_title%></h3>
					<!-- detail_caption end -->

				<!-- main_content start-->
				<div class="m-cms_main-content">
					<ers:isEqual src=".Model.template_code" value="1">
					<!-- templateA start -->
					<ers:partial file="../cms/templates/templateA.htm" />
					<!-- templateA end -->
					</ers:isEqual>

					<ers:isEqual src=".Model.template_code" value="2">
					<!-- templateB start -->
					<ers:partial file="../cms/templates/templateB.htm" />
					<!-- templateB end -->
					</ers:isEqual>

					<ers:isEqual src=".Model.template_code" value="3">
					<!-- templateC start -->
					<ers:partial file="../cms/templates/templateC.htm" />
					<!-- templateC end -->
					</ers:isEqual>

					<ers:isEqual src=".Model.template_code" value="4">
					<!-- templateD start -->
					<ers:partial file="../cms/templates/templateD.htm" />
					<!-- templateD end -->
					</ers:isEqual>

					<ers:isEqual src=".Model.template_code" value="5">
					<!-- templateE start -->
					<ers:partial file="../cms/templates/templateE.htm" />
					<!-- templateE end -->
					</ers:isEqual>

					<ers:isEqual src=".Model.template_code" value="6">
					<!-- templateF start -->
					<ers:partial file="../cms/templates/templateF.htm" />
					<!-- templateF end -->
					</ers:isEqual>
				</div>
				<!-- main_content end-->

				<!-- link start -->
				<ers:isNotEqual src=".Model.linkListCount" variable="0">
				<div class="m-cms_link">
					<h3>関連リンク</h3>
					<ul class="link_list">
					<ers:foreach src=".Model.linkList" variable="linkList" roopcounter="listcnt">
						<li><a href="<%=linkList.link %>" target="_blank"><%=linkList.linkString %></a></li>
					</ers:foreach>
					</ul>
				</div>
				</ers:isNotEqual>
				<!-- link end -->

				<!-- file start -->
				<ers:isNotEqual src=".Model.fileListCount" variable="0">
				<div class="m-cms_file">
					<h3>関連ファイル</h3>
					<ul class="file_list">
					<ers:foreach src=".Model.fileList" variable="fileList" roopcounter="listcnt">
						<li><a href="<%=.dynamic_url%>images/cms/news/<%=fileList.file %>" target="_blank"><%=fileList.fileString %></a></li>
					</ers:foreach>
					</ul>
				</div>
				</ers:isNotEqual>
				<!-- file end -->

					<div class="m-ERS_btn">
						<p class="center"><a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>&pageCnt=<%=.Model.pageCnt %>" class="m-btn m-back"><ers:message code="cms_return_list" /></a></p>
					</div>
				</div>
				<!-- detail end -->

		</section><!-- #content -->
		
<!-- sidemenu start -->
<ers:partial file="hint2/news_detail.htm" />
<!-- sidemenu end -->
		
</div>
<!-- container end -->



<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
