﻿<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>お知らせ一覧 | <%=.browser_title%></title>
	<meta name="description" content="ERSv7_description" />
	<meta name="keywords" content="ERSv7_keywords" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<ers:partial file="header_favicon.htm" />
	<link rel="stylesheet" href="<%=.dynamic_url%>css/normalize.css">
	<!--<link rel="stylesheet" href="<%=.dynamic_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/cms.css">
	<link rel="stylesheet" href="<%=.dynamic_url%>css/news_list.css">-->

    <!--NEW SCSS-->
    <link rel="stylesheet" href="<%=.nor_url%>css/new_base.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_layout.css">
    <link rel="stylesheet" href="<%=.nor_url%>css/new_module.css">

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.dynamic_url%>css/ie8.css">
	<![endif]-->

	<script src="<%=.dynamic_url%>js/jquery.js"></script>
	<!-- jquery ui start -->
	<script src="<%=.dynamic_url%>js/jquery.ui.core.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.widget.js"></script>
	<script src="<%=.dynamic_url%>js/jquery.ui.datepicker.js"></script>
	<!-- jquery ui end -->
	<script src="<%=.dynamic_url%>js/ers_lib.js"></script>
	<script src="<%=.dynamic_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
		<script src="<%=.dynamic_url%>js/ie9.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>
<!-- wrapper start -->
<div class="l-wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div class="l-container clearfix">

<!-- contents start -->
		<section class="l-contents">

<!-- breadcrumb navigation start -->
			<div class="m-ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a>＞&nbsp;<a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=<%=.Model.contents_code %>"><ers:message code='annou_list' /></a>＞&nbsp;<%=.Model.contents_name%></p>
			</div>
<!-- breadcrumb navigatione end -->

<!-- title start -->
		        <h2><%=.Model.contents_name%></h2>
<!-- title end -->

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->
<!-- detail start -->
	<div class="m-ERS_news m-news_list-pad">
            <ers:foreach src=".Model.newsList" variable="news">
                <p>
                    <span class="date">
                        <ers:isEqual src="news.template_code" value="7">
                            <a href="<%=news.link_url_1 %>">
                        </ers:isEqual>
                        <ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
                        <ers:isEqual src="news.template_code" value="7">
                            </a>
                        </ers:isEqual>
                    </span>
                    <!--<ers:nonencode src="news.title" />-->
                    <ers:isNotEqual src="news.template_code" value="7">
                    <span class="newsTitle">
                        <a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&template_code=<%=news.template_code %>&pageCnt=<%=.Model.pageCnt %>"><%=news.title %></a>
                    </span>
                    </ers:isNotEqual>
                </p>
            </ers:foreach>
	</div>
<!-- detail end -->
 <!-- page_send start -->
    <ers:partial file="pager.htm" partialModel=".Pager" />
<!-- page_send end -->
		</section><!-- #content -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/news_list.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:partial file="tag_conversion.htm" />
</body>
</html>
