<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>お問い合わせ完了 ｜ <%=.browser_title%></title>
</head>
<body><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
		<div id="ERS_title">
			<h2>お問い合わせ完了</h2>
		</div>
<!-- title end -->

		<font color="red"><ers:dispError /></font>

<!-- box start -->
	<div id="ERS_box">
		<p>お問い合わせありがとうございます。<br />担当者より回答いたしますので、しばらくお待ちください。<br />※土日祝日はﾒｰﾙの返答が遅れる場合がございます。ご了承ください<br />　お手数ですが、再度お問い合わせいただけますよう、お願い申し上げます。</p>
	</div>
<!-- box end -->

<br class="release_b" />

	</div>
<!-- contents end -->
</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
