<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>お問い合わせ確認 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

<!-- title start -->
			<h2>お問い合わせ内容のご確認</h2>
<!-- title end -->

		<font color="red"><ers:dispError /></font>

<!-- table start -->
		<div id="entry" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
			<h3>【お問い合わせ】</h3>
			<p>以下の内容でよろしければ「送信する」ボタンを押してください。</p>
			<p><font color="#AD3D37">[お名前]</font><br>
			<%=.Model.lname%>&nbsp;<%=.Model.fname%></p>

			<p><font color="#AD3D37">[ﾒｰﾙｱﾄﾞﾚｽ]</font><br>
			<%=.Model.email%></p>

			<p><font color="#AD3D37">[お問い合わせの種類]</font><br>
			<%=.Model.w_quest_ptn%></p>

			<p><font color="#AD3D37">[注文番号]</font><br>
			<%=.Model.orderno%></p>

			<p><font color="#AD3D37">[お問い合わせ内容]</font><br>
			<ers:multiLine src=".Model.quest_text"/></p>

		</div>
<!-- table start -->

<!-- back start -->
		<div class="ERS_back">
			<form method="post" action="<%=.sec_url%>top/quest/asp/quest1.asp">
				<p class="none">
					<input type="submit" name="naviBack" value="修正する" />
				</p>
			</form>
		</div>
<!-- back end -->

<!-- next start -->
		<div class="ERS_next">
			<form method="post" action="<%=.sec_url%>top/quest/asp/quest3.asp">
				<p class="none">
<!--I=hidden-->
					<input type="submit" name="btSend" value="送信する" />
				</p>
			</form>
		</div>
<!-- next start -->
<br class="release_b" />

	</div>
<!-- contents end -->

</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
