<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>お問い合わせ ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">
<!-- breadcrumb navigation start -->
			<div id="ERS_breadcrumb">
				<p><a href="<%=.nor_url%>">HOME</a><span class="arr"></span>＞&nbsp;お問い合わせ</p>
			</div>
<!-- breadcrumb navigatione end -->

			<h2>お問い合わせ</h2>
			<p>下記の項目をご入力のうえ、お問い合わせの種類を選び、お問い合わせ内容をご入力ください。</p>
			<p>※メールでのご返信は少々お時間をいただく場合がございますので、お急ぎの場合はお電話にてご連絡ください。</p>

		<form method="post" action="<%=.sec_url%>top/quest/asp/quest2.asp" name="quest_form">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

<ers:dispError /><ers:dispInfo />

<!-- table start -->

			<article>
				<h3>お問い合わせ<span class="ERS_IVP_color">(*は必須項目です。）</span></h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="lname"> ERS_IVP_caution</ers:isError><ers:isError src="fname"> ERS_IVP_caution</ers:isError>">
							<label for="lname"><span class="ERS_IVP_color">*</span>お名前</label>
						</dt>
						<dd><span class="dispError"><ers:dispError src="lname" /><ers:dispError src="fname" /></span>
						<label for="lname">　姓</label><input id="lname" type="text" name="lname" value="<%=.Model.lname%>">
						<label for="fname">　名</label><input id="fname" type="text" name="fname" value="<%=.Model.fname%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email"> ERS_IVP_caution</ers:isError>"><label for="email"><span class="ERS_IVP_color">*</span>メールアドレス<br>（半角英数字）</label></dt>
						<dd>
							<div class="add_in">
								<span class="dispError"><ers:dispError src="email" /></span>
								<input type="text" id="email" name="email" value="<%=.Model.email%>">
							</div>
						</dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="email_confirm"> ERS_IVP_caution</ers:isError>"><label for="email_confirm"><span class="ERS_IVP_color">*</span>メールアドレス確認<br>（半角英数字）</label></dt>
						<dd><span class="dispError"><ers:dispError src="email_confirm" /></span>
						確認のため、再度ご入力ください。<br />
						<input type="text" id="email_confirm" name="email_confirm" value="<%=.Model.email_confirm%>"></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="quest_ptn"> ERS_IVP_caution</ers:isError>"><label for="inquiry_kind"><span class="ERS_IVP_color">*</span>お問い合せの種類</label></dt>
						<dd><select id="inquiry_kind" name="quest_ptn">
							<option></option>
<ers:foreach variable="option" src=".Model.quest_ptntList">
							<option value="<%=option.value%>"<ers:isEqual src=".Model.quest_ptn" variable="option.value"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="orderno"> ERS_IVP_caution</ers:isError>"><label for="order_number">注文番号<br />(半角英数字)</label></dt>
						<dd><input type="text" id="order_number" class="w_100" name="orderno" value="<%=.Model.orderno%>" /></dd>
					</dl>
					<dl class="clearfix">
						<dt class="<ers:isError src="quest_text"> ERS_IVP_caution</ers:isError>"><label for="inquiry_content"><span class="ERS_IVP_color">*</span>お問い合わせ内容<br />（全角1000文字以内）<br />
						</label></dt>
						<dd><textarea id="inquiry_content" name="quest_text" cols="100" rows="14"><%=.Model.quest_text%></textarea></dd>
					</dl>
				</div>
			</article>
			<article>
				<h3>個人情報の取扱いについて</h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt class="<ers:isError src="pri_chk"> ERS_IVP_caution</ers:isError>">個人情報の取扱いについて</dt>
						<dd>
							<span class="summarry">「プライバシーポリシー」の内容にご同意いただきましたら、<br>「同意する」にチェックし、確認画面へお進みください。</span>
							<textarea cols="100" rows="14"><%=.Model.pri_memo%></textarea>
							<span class="dispError"><ers:dispError src="pri_chk" /></span>
							<span class="check_box"><label for="pri_chk"><input type="checkbox" id="pri_chk" name="pri_chk" value="1" <ers:isEqual src=".Model.pri_chk" value="1"> checked="checked"</ers:isEqual>>&nbsp;同意する</label></span>
						</dd>
					</dl>
				</div>
			</article>

			<div class="ERS_btn clearfix">
				<p><a href="<%=.nor_url%>" class="btn back">ホームへ戻る</a></p>
				<p><input type="submit" value="次のステップへ進む" class="btn next"/></p>
			</div>
</form>


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/quest1.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
