<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>お問い合わせ確認 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.sec_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.sec_url%>css/contents.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.sec_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.sec_url%>js/jquery.js"></script>
	<script src="<%=.sec_url%>js/ers_lib.js"></script>
	<script src="<%=.sec_url%>js/common.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.sec_url%>js/html5shiv.js"></script>
		<script src="<%=.sec_url%>js/ie9.js"></script>
		<script src="<%=.sec_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="common.NoJavaScript" /></p>
		</div>
	</noscript>
<!-- noscript end -->

	<h2>お問い合わせフォーム</h2>


	<p>以下の内容でよろしければ「送信する」ボタンを押してください。</p>

			<article>
				<h3>お問い合わせ<span class="ERS_IVP_color">(*は必須項目です。）</span></h3>
				<div class="table_box">
					<dl class="clearfix">
						<dt>お名前</dt>
						<dd><%=.Model.lname%>&nbsp;<%=.Model.fname%></dd>
					</dl>
					<dl class="clearfix">
						<dt>メールアドレス</dt>
						<dd><ers:isNotEqual src=".Model.email" value=""><%=.Model.email%></ers:isNotEqual></dd>
					</dl>
					<dl class="clearfix">
						<dt>お問合せの種類</dt>
						<dd><%=.Model.w_quest_ptn%></dd>
					</dl>
					<dl class="clearfix">
						<dt>注文番号</dt>
						<dd><%=.Model.orderno%></dd>
					</dl>
					<dl class="clearfix">
						<dt>お問い合わせ内容</dt>
						<dd><ers:multiLine src=".Model.quest_text"/></dd>
					</dl>
				</div>
			</article>
			<div class="ERS_btn clearfix">
				<form method="post" action="<%=.sec_url%>top/quest/asp/quest3.asp">
					<p><input type="submit" value="送信する" class="btn next"/></p>
				</form>
				<form method="post" action="<%=.sec_url%>top/quest/asp/quest1.asp">
					<p><input type="submit" class="btn back" value="修正する" /></p>
				</form>
			</div>


<br class="release_b" />

	</section>
<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/quest2.htm" />
<!-- sidemenu2 end -->
</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>