/* bill_list
 ---------------------------------------------------------------- */
	.ERS_table .bill_list th {
		padding: 8px 5px 8px 5px;
	}

	.ERS_table .bill_list td{
		padding:5px 5px 5px 5px;
	}

	.ERS_table .bill_list .item span{
		color:#00f;
		line-height:1.5;
	}


