/* item_table
 ---------------------------------------------------------------- */
	.ERS_table{
		margin:0 0 15px 0;
	}

	.ERS_table td {
		text-align:center;
	}

	.ERS_table td input[type=text]{
		width:100%;
	}

	.ERS_table table{
		width:860px;
		font-size:0.9;
	}




