/* item_table
 ---------------------------------------------------------------- */
	.ERS_cms{
		margin: 2em 0 15px 1.2em;
	}

	.ERS_cms ul li {
		float: none;
	    border: none;
	    margin: 1em 5px 0 0;
	    padding: 5px;
	}




