/* button module
 ---------------------------------------------------------------- */
	.btn01{
		padding:0.1em 0.2em 0.1em 0.2em;
		border:2px solid #2b3c4e;
		color: #fff;
		cursor: pointer;
		font-size: 1em;
		letter-spacing:0.1em;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		position: relative;
		display: inline-block;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#34495e),color-stop(5%,#34495e),color-stop(100%,#2b3c4e));
		background-image: -webkit-linear-gradient(#34495e,#34495e 5%,#2b3c4e);
		background-image: -moz-linear-gradient(#34495e,#34495e 5%,#2b3c4e);
		background-image: -o-linear-gradient(#34495e,#34495e 5%,#2b3c4e);
		background-image: linear-gradient(#34495e,#34495e 5%,#2b3c4e);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
	}
	.btn01:link{
		color:#fff;
	}

	.btn01:hover,
	.btn01:focus,
	.btn01:active{
		background-color: #34495e;
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#34495e),color-stop(100%,#34495e));
		background-image: -webkit-linear-gradient(#34495e,#34495e);
		background-image: -moz-linear-gradient(#34495e,#34495e);
		background-image: -o-linear-gradient(#34495e,#34495e);
		background-image: linear-gradient(#34495e,#34495e);
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);opacity: 0.95;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		border-color: #222f3d;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		color: #fff;
	}

	.btn_off{
		padding:0.1em 0.2em 0.1em 0.2em;
		border:2px solid #D4D0C8;
		color: #808080;
		font-size: 1em;
		letter-spacing:0.1em;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		position: relative;
		display: inline-block;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		background-color:#D4D0C8;
	}

/* ERS_flow
 ---------------------------------------------------------------- */
	#ERS_flow{
		width:662px;
		margin:0 0 10px 0;
		padding:0 4px 5px 4px;
	}

	#ERS_flow ul li img{
		vertical-align:bottom;
	}


/* ERS_title
 ---------------------------------------------------------------- */
	#ERS_title{
	}

	#ERS_title h2,
	#ERS_title h3{
		background-color:#eee;
		color:#333;
		padding:10px 0 8px 10px;
		margin:0 0 10px 0;
		font-size:1.9em;
		line-height:1;
		letter-spacing:0.1em;
		text-shadow:1px 1px 0px #ccc;
		-moz-text-shadow:1px 1px 0px #ccc;
		-webkit-text-shadow:1px 1px 0px #ccc;
	}

	#ERS_title h3{
		padding:8px 0 6px 10px;
		margin:0 0 10px 0;
		font-size:1.4em;
	}


/* ERS_info
 ---------------------------------------------------------------- */
	#ERS_info{
		margin:15px 0 0 0;
	}

	#ERS_info p{
		margin:0 0 0.5em 0;

	}

	#ERS_info dl{
		margin:0 0 1.5em 0;
	}

	#ERS_info dl dt{
		margin:0 0 1em 0;
		font-size:14px;
	}

	#ERS_info dl dd{
		line-height:1.4;
	}


/* ERS_menu
 ---------------------------------------------------------------- */
	#ERS_menu{
		margin:0 0 15px 0;
	}

	#ERS_menu p{
		text-align:center;
	}

/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table{
/*
		width:662px;
*/
	}

	.ERS_table h3{
		padding:0 0 5px 0;
		text-align:left;
		font-size:1.2em;
	}

	.ERS_table iframe{
		width:662px;
		height:400px;
		border:none;
	}

	.ERS_table ul li{
		margin:0 5px 0 0;
		padding:5px 5px 5px 5px;
		float:left;
		border:1px solid #ccc;
	}

	.ERS_table p{
		padding:0 0 5px 0;
		line-height:1.5;
	}

	.ERS_table p#alert{
		margin:0 0 15px 0;
		padding:15px 12px 15px 12px;
		border:2px solid #d00;
		color:#d00;
		line-height:1.5;
		font-weight:bold;
	}

	.ERS_table table{
		margin:0 0 15px 0;
		border:none;
		table-layout:fixed;
		width:100%;
	}

	.ERS_table table caption{
		padding:0 0 5px 0;
		text-align:left;
		line-height:1.2;
	}

	.ERS_table .ERS_IVP_caution{
		color:red;/* 文字色が赤 */
		/*background-color:red; 背景色が赤 */
	}

	.ERS_table table tr th{
		padding:8px 8px 8px 8px;
		background-color:#efefef;
		text-align:left;
		font-weight:bold;
		color:#555;
		font-size:1.1em;
		line-height:1.2;
	}

	.ERS_table table tr td{
		padding:5px 8px 5px 8px;
		background-color:#fff;
		font-size:1.1em;
		line-height:1.2;
	}

	.ERS_table table.length tr th{
		width:188px;
		width:162px;
		border:1px solid #ccc;
		border-right:none;
		border-left:none;
	}

	.ERS_table table.length tr td{
/*
		width:475px;
		width:449px;
*/
		border:1px solid #ccc;
		border-left:none;
		border-right:none;
	}

	.ERS_table table.side tr th{
		border:1px solid #ccc;
		text-align:center;
	}

	.ERS_table table.side tr td{
		border:1px solid #ccc;
		border-top:none;
		word-wrap: break-word;
	}

	.ERS_table table.side tr .center{
		padding-left:0;
		text-align:center;
	}

	.ERS_table table tr td ul li{
		float:none;
		border:none;
	}

	.ERS_table table tr td dl dd{
		margin:0.5em 0 1em 2em;
	}

	.ERS_table table .category div{
		padding:5px 0 5px 5px;
		border:1px solid #999;
		width:400px;
		height:130px;
		overflow-y:scroll;
		line-height:1.4;
	}

	.ERS_table table .category p{
		padding:0 0 0 0;
	}

	.ERS_table table .category div input{
		vertical-align:-2px;
	}

	.ERS_table table .category div label{
		padding:0 0 0 4px;
	}

	.ERS_table table .category div label span{
		font-size:0.9em;
		color:#00f;
	}

	.ERS_table table .note{
		display:inline-block;
		padding:0 0 7px 0;
	}
	
	.ERS_table table td.site_id label{
		width:150px;
		display:block;
		float:left;
	}

/* ERS_amount
 ---------------------------------------------------------------- */
	.ERS_amount{
		margin:0 0 15px 0;
		padding:0 4px 0 4px;
		width:662px;
	}

	.ERS_amount table{
		border:none;
	}

	.ERS_amount th{
		padding:5px 0 5px 0;
		border-bottom:1px solid #ccc;
	}

	.ERS_amount td{
		padding:5px 0 5px 0;
		border-bottom:1px solid #ccc;
		text-align:center;
	}


/* ERS_total
 ---------------------------------------------------------------- */
	.ERS_total{
		margin:15px 0 15px 0;
		padding:0 4px 0 4px;
		width:662px;
	}

	.ERS_total table{
		float:right;
	}

	.ERS_total th{/* widthを指定するとOperaで不具合有り */
		padding:5px 0 5px 0;
		width:100px;
		text-align:left;
		border-bottom:1px solid #ccc;
	}

	.ERS_total td{
		padding:5px 0 5px 0;
		width:100px;
		text-align:right;
		border-bottom:1px solid #ccc;
	}

	.ERS_total td button{
		width:59px;
		height:18px;
		background:none;
		border:none;
	}

	.ERS_total th.end,
	.ERS_total td.end{
		border:none;
	}


/* ERS_privacy
 ---------------------------------------------------------------- */
	#ERS_privacy{
		margin:10px 0 10px 0;
		padding:0 4px 0 4px;
		width:662px;
		background-color:#eee;
	}

	#ERS_privacy h2{
		margin:20px 0 20px 0;
		font-size:12px;
		font-weight:normal;
		color:#666;
	}

	#ERS_privacy p{
		line-height:1.3;
		color:#666;
	}

	#ERS_privacy p a{
		color:red;
	}

	#ERS_privacy textarea{
		margin:15px auto 15px auto;
		width:400px;
		height:200px;
		display:block;
	}

	#ERS_privacy h3{
		font-size:12px;
		font-weight:normal;
		text-align:center;
	}


/* ERS_box
 ---------------------------------------------------------------- */
	.ERS_box{
		margin:0 auto 20px auto;
		padding:30px 15px 30px 15px;
		/*width:636px;*/
		font-size:1.2em;
		border:2px solid #ccc;
	}

	.ERS_box div p{
		line-height:1.6;
	}


/* ERS_spread
 ---------------------------------------------------------------- */
	#ERS_spread{
		margin:0 0 25px 0;
		background-color:#006699;
	}

	#ERS_spread div.ERS_next{
		margin:30px 0 30px 0;
	}

	#ERS_spread div.ERS_back{
		margin:0;
		padding:30px 0 18px 0;
		background-color:#fff;
		width:345px;
	}

	/* TODO:HTML側も消す*/
	#ERS_spread div.ERS_page_top{
		display:none;
	}


/* ERS_page_send
 ---------------------------------------------------------------- */
	.ERS_page_send{
		margin:0 0 20px 0;
		text-align:center;
	}

	.ERS_page_send form{
		display:inline;
	}

	.ERS_page_send form input{
		vertical-align:middle;
		width:22px;
		padding:3px 2px 2px 3px;
		margin:0 10px 0 0;
		border:none;
		background:none;
		color:#777;
		font-size:1.1em;
		font-weight:bold;
		cursor:pointer;
		text-align:center;
	}

	.ERS_page_send form input:hover{
		background-color:#3990C9;
		color:#fff;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
	}
	
	/* .ERS_page_send form input{
		background:none;
		border:none;
		cursor:pointer;
	}*/
	
	.ERS_page_send form input.place{
		background-color:#3990C9;
		color:#fff;
	}
	
	/*.ERS_page_send input.place{
		background:none;
		border:none;
		cursor:pointer;
	}
	*/
	
	* html .ERS_page_send form input.place{
		margin:0 6px 0 0;
	}

	*+html .ERS_page_send form input.place{
		margin:0 6px 0 0;
	}
	
	.ERS_page_send form input.next,
	.ERS_page_send form input.back {
		padding: 0;
		width: auto;
	}

/* ERS_back
 ---------------------------------------------------------------- */
	div.ERS_back{
		margin:0 0 15px 0;
		padding:0 0 0 4px;
		float:left;
	}

	div.ERS_back p.none,
	div.ERS_back form p.none{
		margin:0 0 0 200px;
		padding:0 0 0 0;
		background:none;
	}

	div.ERS_back p input{
		cursor:pointer;
	}

/* ERS_next
 ---------------------------------------------------------------- */
	div.ERS_next{
		margin:0 0 30px 0;
		padding:0 4px 0 0;
	}

	div.ERS_next p.center{
		padding:0 4px 0 4px;
		background:none;
		text-align:center;
	}
	div.ERS_next p.none{
		margin:0 200px 0 0;
		padding:0 0 0 0;
		background:none;
	}
	div.ERS_next p input,
	div.ERS_next p form_btn{
		padding:0.6em 2em 0.6em 2em;
		margin: 0 0 1.25em;
		border:2px solid #2284a1;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		font-size: 1.25em;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		position: relative;
		display: inline-block;
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#2980b9),color-stop(5%,#2980b9),color-stop(100%,#2472a4));
		background-image: -webkit-linear-gradient(#2980b9,#2980b9 5%,#2472a4);
		background-image: -moz-linear-gradient(#2980b9,#2980b9 5%,#2472a4);
		background-image: -o-linear-gradient(#2980b9,#2980b9 5%,#2472a4);
		background-image: linear-gradient(#2980b9,#2980b9 5%,#2472a4);
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
		box-shadow: 0 1px 0 rgba(255,255,255,0) inset;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	}

	div.ERS_next p input:hover,
	div.ERS_next p input:focus,
	div.ERS_next p input:active,
	div.ERS_next p form_btn:hover,
	div.ERS_next p form_btn:focus,
	div.ERS_next p form_btn:active{
		background-color: #2980b9;
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#2980b9),color-stop(100%,#2980b9));
		background-image: -webkit-linear-gradient(#2980b9,#2980b9);
		background-image: -moz-linear-gradient(#2980b9,#2980b9);
		background-image: -o-linear-gradient(#2980b9,#2980b9);
		background-image: linear-gradient(#2980b9,#2980b9);
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);opacity: 0.95;
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		box-shadow: 0 1px 1px rgba(0,0,0,0.1);
		border-color: #20638f;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		color: #fff;
	}

	div.ERS_next p input.primary{
		border:2px solid #2284a1;
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#D62C1A),color-stop(5%,#D62C1A),color-stop(100%,#D62C1A));
		background-image: -webkit-linear-gradient(#D62C1A,#D62C1A 5%,#D62C1A);
		background-image: -moz-linear-gradient(#D62C1A,#D62C1A 5%,#D62C1A);
		background-image: -o-linear-gradient(#D62C1A,#D62C1A 5%,#D62C1A);
		background-image: linear-gradient(#D62C1A,#D62C1A 5%,#D62C1A);
		border-color: #D62C1A;
	}

	div.ERS_next p input.primary:hover,
	div.ERS_next p input.primary:focus,
	div.ERS_next p input.primary:active{
		background-color: #2980b9;
		background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#E74C3C),color-stop(100%,#E74C3C));
		background-image: -webkit-linear-gradient(#E74C3C,#E74C3C);
		background-image: -moz-linear-gradient(#E74C3C,#E74C3C);
		background-image: -o-linear-gradient(#E74C3C,#E74C3C);
		background-image: linear-gradient(#E74C3C,#E74C3C);
		border-color: #D62C1A;
	}

	div.ERS_next p a:hover,
	div.ERS_next p a:focus,
	div.ERS_next p a:active{
		text-decoration:none;
	}



/* ERS_ssl_alert
 ---------------------------------------------------------------- */
	#ERS_ssl_alert{
		margin:10px 0 10px 0;
		text-align:center;
	}


/* ERS_page_top
 ---------------------------------------------------------------- */
	/* TODO:HTML側も消す*/
	div.ERS_page_top{
		display:none;
	}


/* ERS_agent
 ---------------------------------------------------------------- */
	div.ERS_agent{
		margin:0 0 15px 0;
		padding:10px 10px 10px 10px;
		width:690px;
		text-align:left;
		border:2px solid #000090;
	}

	div.ERS_agent p{
		color:#000090;
		font-weight:bold;
		line-height:1.5;
	}


/* ERS_noscript
 ---------------------------------------------------------------- */
	div.ERS_noscript{
		margin:0 0 15px 0;
		padding:10px 10px 10px 10px;
		width:642px;
		text-align:left;
		border:2px solid #d00000;
	}

	div.ERS_noscript p{
		color:#d00000;
		font-weight:bold;
		line-height:1.5;
	}


/* redirect page
 ---------------------------------------------------------------- */
	#ERS_redirect{
		margin:0 0 0 15px;
		padding:40px 0 0 0;
	}

	#ERS_redirect p{
		margin:0 0 30px 0;
		text-align:center;
	}

	#ERS_redirect p a{
		font-weight:bold;
		text-align:center;
		color:#0000d0;
	}

/* error
 ---------------------------------------------------------------- */
	.ERS_error{
		margin:0 0 15px 0;
		padding:10px 15px 10px 15px;
		border:2px solid #d00;
		color:#d00;
	}

	.ERS_error p{
		line-height:1.5;
	}

/* information
 ---------------------------------------------------------------- */
	.ERS_information{
		margin:0 0 15px 0;
		padding:10px 15px 10px 15px;
		border:2px solid #000;
		color:#000;
	}

	.ERS_information p{
		line-height:1.5;
	}


/* send_column
 ---------------------------------------------------------------- */
	.send_column{
		margin:0 0 10px 0;
	}

	.send_column .ERS_amount{
		margin:0 0 0 0;
	}

	.send_column .ERS_amount table .sname{
		padding:5px 5px 5px 5px;
		text-align:left;
	}

	.send_column .ERS_amount table th{
		background-color:#efefef;
		border:1px solid #ccc;
	}

	.send_column .ERS_amount table td{
		border:1px solid #ccc;
	}

	.send_column .ERS_total{
		margin:0 0 0 0;
	}

	.send_column .ERS_total table{
	}

	.send_column .ERS_total table th{
		background-color:#fef;
		border:1px solid #ccc;
		border-top:none;
		width:100px;
		text-align:right;
		padding:7px 10px 7px 10px;
	}

	.send_column .ERS_total table td{
		border:1px solid #ccc;
		border-top:none;
		text-align:left;
		padding:7px 10px 7px 10px;
	}


/* jquery ui用指定
 ---------------------------------------------------------------- */
	.flexigrid table td input,
	.flexigrid table td select{
		width:95%;
	}

/* item_table
 ---------------------------------------------------------------- */
	.item_table{
		margin:0 0 15px 0;
	}
	@media screen and (max-width: 1920px) {
		/* 1920px以下用の記述 */
		.item_table{
			max-width:1000px;
			width:1000px;
		}
	}
	@media screen and (min-width: 1920px) {
		/* 1920px以上用の記述 */
		.item_table{
			max-width:1320px;
		}
	}

/* ERS_note
 ---------------------------------------------------------------- */
	.ERS_note{
		padding:0 0 10px 10px;
	}

	.ERS_note p{
		line-height:1.3;
	}


/* csv_alert
 ---------------------------------------------------------------- */
	.csv_alert{
		padding:0 0 5px 0;
	}

	.csv_alert p{
		line-height:1.5;
	}

/* image
 ---------------------------------------------------------------- */
    .img_for_list1
    {
        width:100px;
        border-width:0px;
    }
    .img_for_list2
    {
        width:85px;
        border-width:0px;
    }
        
    .img_for_view1
    {
        width:120px;
        border-width:0px;
    }

    .img_for_view2
    {
        width:295px;
        border-width:0px;
    }
    
        .img_for_regist
    {
        width:120px;
        border-width:0px;
    }
    
/* ERS_result_count
 ---------------------------------------------------------------- */
	.ERS_result_count{
		padding:10px 0 10px 0;
	}

	.ERS_result_count p{
		font-size:1.2em;
	}

.treeTable{
	width: 310px;
	float: left;
	margin: 0 15px 0 0	
}


.detaliTitles{
	margin: 0 0 10px 0;	
}
.addBtn{
	float: left;
	margin: 0 0 0 20px;	
}

	.item_tableFix{
		width: 750px;
		margin:0 0 15px 0;
		float: left;
	}

#tabsFour {
    height: 21px;
    padding: 10px 0 0;
}
#tabsFour a {
    text-decoration: none;
}
#tab1 {
    background: none repeat scroll 0 0 #333333;
}
.tabsFours {
    background: none repeat scroll 0 0 #666666;
    border: 1px solid #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    display: inline;
    font-weight: bold;
    margin: 0 -5px 0 0;
    padding: 7px 30px;
}
a .tabsFours {
    background-color: #666666;
    font-weight: bold;
}
a:hover .tabsFours {
    background-color: #333333;
    color: #FFFFFF;
    cursor: pointer;
}

.cms_free_list {
	border-left: 1px solid #CCCCCC !important;
	border-right: 1px solid #CCCCCC !important;
}

pre {
    font-size:1.3em;
}