/* item_table
 ---------------------------------------------------------------- */

	.ERS_table table.coupon tr th{
		border:1px solid #ccc;
		text-align:center;
	    padding: 8px 2px;
	}

	.ERS_table table.coupon tr td{
		border:1px solid #ccc;
		border-top:none;
	    padding: 7px 8px;
	}

	.ERS_table table.coupon tr .center{
		padding-left:0;
		text-align:center;
	}
