

/* form制御
 ============================================================= */

	/* 会員種別
	 ------------------------------------------- */
		#mem_type01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #mem_type01{
			vertical-align:-1px;
		}

		*+html #mem_type01{
			vertical-align:0;
		}

		#mem_type02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #mem_type02{
			vertical-align:-1px;
		}

		*+html #mem_type02{
			vertical-align:0;
		}

		#mem_type03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #mem_type03{
			vertical-align:-1px;
		}

		*+html #mem_type03{
			vertical-align:0;
		}

		#mem_type04{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #mem_type04{
			vertical-align:-1px;
		}

		*+html #mem_type04{
			vertical-align:0;
		}

	/* 会社コード
	 ------------------------------------------- */
		#com_code{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 親会社コード
	 ------------------------------------------- */
		#pcom_code{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 店舗コード
	 ------------------------------------------- */
		#sto_code{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 会員コード
	 ------------------------------------------- */
		#mem_code{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 会社名
	 ------------------------------------------- */
		#com_name{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 店舗名
	 ------------------------------------------- */
		#sto_name{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 会社名フリガナ
	 ------------------------------------------- */
		#com_name-k{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 郵便番号
	 ------------------------------------------- */
		#zip01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#zip02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:60px;
			height:15px;
		}

	/* 営業担当者郵便番号
	 ------------------------------------------- */
		#bus_zip01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#bus_zip02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:60px;
			height:15px;
		}

	/* 請求先郵便番号
	 ------------------------------------------- */
		#cla_zip01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#cla_zip02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:60px;
			height:15px;
		}

	/* 都道府県
	 ------------------------------------------- */
		#div_address{

		}

	/* 住所
	 ------------------------------------------- */
		#address{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 営業担当者住所
	 ------------------------------------------- */
		#bus_address{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 請求先住所
	 ------------------------------------------- */
		#cla_address{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* ビル名など
	 ------------------------------------------- */
		#address02{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 営業担当者ビル名など
	 ------------------------------------------- */
		#bus_address02{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 請求先ビル名など
	 ------------------------------------------- */
		#cla_address02{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 電話番号
	 ------------------------------------------- */
		#tel01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

		#tel02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 営業担当者用電話番号
	 ------------------------------------------- */
		#bus_tel01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 請求先電話番号
	 ------------------------------------------- */
		#cla_tel01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 携帯電話番号
	 ------------------------------------------- */
		#mob_tel01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* Fax番号
	 ------------------------------------------- */
		#fax01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 営業担当者用Fax番号
	 ------------------------------------------- */
		#bus_fax01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 請求先Fax番号
	 ------------------------------------------- */
		#cla_fax01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:120px;
			height:15px;
		}

	/* 代表メールアドレス
	 ------------------------------------------- */
		#email01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

		#email02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

	/* 代表者名
	 ------------------------------------------- */
		#rep_name01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#rep_name02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 代表者名（カナ）
	 ------------------------------------------- */
		#rep_namek01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

		#rep_namek02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

	/* 店舗代表者名
	 ------------------------------------------- */
		#sto_rep_name01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#sto_rep_name02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 店舗代表者名（カナ）
	 ------------------------------------------- */
		#sto_rep_namek01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#sto_rep_namek02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 代表者役職
	 ------------------------------------------- */
		#rep_position{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
		}

	/* 店舗代表者役職
	 ------------------------------------------- */
		#sto_position{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
		}

	/* ホームページ有/無
	 ------------------------------------------- */
		#hp01{
			margin:0 10px 0 5px;
			width:15px;
			height:15px;
			vertical-align:-2px;
		}

		* html #hp01{
			vertical-align:1px;
		}

		*+html #hp01{
			vertical-align:0;
		}

		#hp02{
			margin:0 0 0 5px;
			width:15px;
			height:15px;
			vertical-align:-2px;
		}

		* html #hp02{
			vertical-align:1px;
		}

		*+html #hp02{
			vertical-align:0;
		}

		#hp03{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 情報登録日
	 ------------------------------------------- */
		#inf_register01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#inf_register02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#inf_register03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#inf_register04{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#inf_register05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#inf_register06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 入会日
	 ------------------------------------------- */
		#admission_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#admission_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#admission_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* to入会日
	 ------------------------------------------- */
		#admission_day04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#admission_day05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#admission_day06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 退会日
	 ------------------------------------------- */
		#secession_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#secession_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#secession_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* to退会日
	 ------------------------------------------- */
		#secession_day04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#secession_day05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#secession_day06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 情報修正日
	 ------------------------------------------- */
		#inf_correct01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#inf_correct02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#inf_correct03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 情報登録者ID
	 ------------------------------------------- */
		#inf_register-id{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 情報最終修正者ID
	 ------------------------------------------- */
		#inf_correct-id{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 一括登録
	 -------------------------------------------
		#batch{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		} */

	/* 氏名
	 ------------------------------------------- */
		#lname{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#fname{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 氏名フリガナ
	 ------------------------------------------- */
		#lname-k{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

		#fname-k{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

	/* メールアドレス
	 ------------------------------------------- */
		#pc_email01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

		#pc_email02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

	/* 営業担当者メールアドレス
	 ------------------------------------------- */
		#bus_pc_email01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

		#bus_pc_email02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

	/* 携帯メールアドレス
	 ------------------------------------------- */
		#mob_email01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

		#mob_email02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:140px;
			height:15px;
		}

	/* 部署
	 ------------------------------------------- */
		#post{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 請求先部署
	 ------------------------------------------- */
		#cla_post{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 役職
	 ------------------------------------------- */
		#official_position{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* パスワード
	 ------------------------------------------- */
		#pass{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 登録日
	 ------------------------------------------- */
		#regist_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#regist_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#regist_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* to登録日
	 ------------------------------------------- */
		#regist_day04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#regist_day05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#regist_day06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 共済CD
	 ------------------------------------------- */
		#mut_aid_cd{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 共済支店CD
	 ------------------------------------------- */
		#mut_aid_subcd{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 共済CD有/無
	 ------------------------------------------- */
		#mut_aid_cd01{
			margin:0 10px 0 5px;
			width:15px;
			height:15px;
			vertical-align:-2px;
		}

		* html #mut_aid_cd01{
			vertical-align:1px;
		}

		*+html #mut_aid_cd01{
			vertical-align:0;
		}

		#mut_aid_cd02{
			margin:0 0 0 5px;
			width:15px;
			height:15px;
			vertical-align:-2px;
		}

		* html #mut_aid_cd02{
			vertical-align:1px;
		}

		*+html #mut_aid_cd02{
			vertical-align:0;
		}

	/* 店舗廃止日
	 ------------------------------------------- */
		#abolition01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#abolition02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#abolition03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 店舗
	 ------------------------------------------- */
		#remarks{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:100px;
		}

	/* メルマガ配信
	 ------------------------------------------- */
		#mail_maga{
			margin:0 10px 0 5px;
			width:15px;
			height:15px;
			vertical-align:-2px;
		}

		* html #mail_maga{
			vertical-align:1px;
		}

		*+html #mail_maga{
			vertical-align:0;
		}

	/* 代表取締役
	 ------------------------------------------- */
		#post01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* 全管協窓口
	 ------------------------------------------- */
		#post02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* 共済会窓口
	 ------------------------------------------- */
		#post03{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* 店舗窓口
	 ------------------------------------------- */
		#post04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* その他役職
	 ------------------------------------------- */
		#post05{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* 支部（未設定）
	 ------------------------------------------- */
		#post05{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* インフォメーションコード
	 ------------------------------------------- */
		#inf_code{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
		}

	/* 表示区分
	 ------------------------------------------- */
		#dis_division01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #dis_division01{
			vertical-align:-1px;
		}

		*+html #dis_division01{
			vertical-align:0;
		}

		#dis_division02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #dis_division02{
			vertical-align:-1px;
		}

		*+html #dis_division02{
			vertical-align:0;
		}

		#dis_division03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #dis_division03{
			vertical-align:-1px;
		}

		*+html #dis_division03{
			vertical-align:0;
		}

		#dis_division04{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #dis_division04{
			vertical-align:-1px;
		}

		*+html #dis_division04{
			vertical-align:0;
		}

	/* 表示日付
	 ------------------------------------------- */
		#dis_date01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#dis_date02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#dis_date03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* to表示日付
	 ------------------------------------------- */
		#dis_date04{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#dis_date05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#dis_date06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 本文
	 ------------------------------------------- */
		#text{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:150px;
		}

	/* 本文search
	 ------------------------------------------- */
		#text_s{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 講師依頼コード
	 ------------------------------------------- */
		#lec_code{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
			ime-mode:disabled;
		}

	/* 名前
	 ------------------------------------------- */
		#lec_name{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
			ime-mode:active;
		}

	/* 肩書き
	 ------------------------------------------- */
		#title{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
			ime-mode:active;
		}

	/* 講師登録日
	 ------------------------------------------- */
		#lec_date01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#lec_date02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#lec_date03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#lec_date04{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#lec_date05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#lec_date06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 理事会議事録タイトル
	 ------------------------------------------- */
		#min_title{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:160px;
			height:15px;
			ime-mode:disabled;
		}

	/* 理事会議事録ファイル
	 ------------------------------------------- */
		#min_file{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:160px;
			height:15px;
			ime-mode:disabled;
		}

	/* ログイン日時
	 ------------------------------------------- */
		#login_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#login_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#login_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#login_day04{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#login_day05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#login_day06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 集計単位
	 ------------------------------------------- */
		#total01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #total01{
			vertical-align:-1px;
		}

		*+html #total01{
			vertical-align:0;
		}

		#total02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #total02{
			vertical-align:-1px;
		}

		*+html #total02{
			vertical-align:0;
		}

		#total03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #total03{
			vertical-align:-1px;
		}

		*+html #total03{
			vertical-align:0;
		}

		#total04{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #total04{
			vertical-align:-1px;
		}

		*+html #total04{
			vertical-align:0;
		}

		#total05{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #total05{
			vertical-align:-1px;
		}

		*+html #total05{
			vertical-align:0;
		}

	/* FC・代理店募集コード
	 ------------------------------------------- */
		#age_code{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
			ime-mode:disabled;
		}

	/* 募集サービス・商品名
	 ------------------------------------------- */
		#rec_service{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:450px;
			height:15px;
			ime-mode:active;
		}

	/* 開業資金
	 ------------------------------------------- */
		#open_capital{
		}

	/* 画像キャプション1
	 ------------------------------------------- */
		#img_caption01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* 画像キャプション2
	 ------------------------------------------- */
		#img_caption02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* 画像キャプション3
	 ------------------------------------------- */
		#img_caption03{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* 画像キャプション4
	 ------------------------------------------- */
		#img_caption04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

		#img_caption1-01,#img_caption1-02,#img_caption2-01,#img_caption2-02,#img_caption3-01,#img_caption3-02,#img_caption4-01,#img_caption4-02,#img_caption5-01,#img_caption5-02,#img_caption6-01,#img_caption6-02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* サブ画像キャプション1
	 ------------------------------------------- */
		#sub_img_caption01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* サブ画像キャプション2
	 ------------------------------------------- */
		#sub_img_caption02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* サブ画像キャプション3
	 ------------------------------------------- */
		#sub_img_caption03{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* サブ画像キャプション4
	 ------------------------------------------- */
		#sub_img_caption04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* サブ画像キャプション5
	 ------------------------------------------- */
		#sub_img_caption05{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:active;
		}

	/* エリア
	 ------------------------------------------- */
		#area{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active;
		}

	/* 契約期間
	 ------------------------------------------- */
		#duration01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#duration02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#duration03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* to契約期間
	 ------------------------------------------- */
		#duration04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#duration05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#duration06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 資格
	 ------------------------------------------- */
		#qualificat{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:disabled;
		}

	/* 資金
	 ------------------------------------------- */
		#capital{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
			ime-mode:disabled;
		}

	/* 費用詳細
	 ------------------------------------------- */
		#cost_detail{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:disabled;
		}

	/* 追記見出し
	 ------------------------------------------- */
		#postscript{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:disabled;
		}

	/* 設立
	 ------------------------------------------- */
		#establish01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#establish02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#establish03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 資本金
	 ------------------------------------------- */
		#capital02{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
			ime-mode:disabled;
		}

	/* 従業員数
	 ------------------------------------------- */
		#employee{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:60px;
			height:15px;
			ime-mode:disabled;
		}

	/* 売上高
	 ------------------------------------------- */
		#sales{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
			ime-mode:disabled;
		}

	/* 事業内容
	 ------------------------------------------- */
		#activities{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:100px;
		}

	/* ユーザID
	 ------------------------------------------- */
		#use_id{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 担当者名
	 ------------------------------------------- */
		#cha_name01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#cha_name02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 請求先担当者名
	 ------------------------------------------- */
		#cla_name01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#cla_name02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 担当者会社名
	 ------------------------------------------- */
		#cha_com_name{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
		}

	/* 商品情報
	 ------------------------------------------- */
		#item_info{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:80px;
			height:15px;
		}

	/* 商品名
	 ------------------------------------------- */
		#item_name{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 説明文
	 ------------------------------------------- */
		#explanation01,#explanation02,#explanation03,#explanation04,#explanation05,#explanation06,#explanation07{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 商品説明本文
	 ------------------------------------------- */
		#item_explanation{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:100px;
		}

	/* スペック
	 ------------------------------------------- */
		#spec{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:200px;
		}

	/* 販売価格
	 ------------------------------------------- */
		#price{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 全管協会員特典
	 ------------------------------------------- */
		#privilege{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 掲載日
	 ------------------------------------------- */
		#publish1-01,#publish1-02,#publish1-03,#publish1-04,#publish1-05,#publish1-06,#publish1-07{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#publish2-01,#publish2-02,#publish2-03,#publish2-04,#publish2-05,#publish2-06,#publish2-07{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#publish3-01,#publish3-02,#publish3-03,#publish3-04,#publish3-05,#publish3-06,#publish3-07{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* to掲載日
	 ------------------------------------------- */
		#publish4-01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#publish5-01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#publish6-01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* お役立ち情報
	 ------------------------------------------- */
		#useful{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:200px;
		}

	/* 関連商品番号
	 ------------------------------------------- */
		#relation01,#relation02,#relation03,#relation04,#relation05,#relation06{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* ツール名
	 ------------------------------------------- */
		#tool_name01,#tool_name02,#tool_name03,#tool_name04,#tool_name05,#tool_name06{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
		}

	/* 状態
	 ------------------------------------------- */
		#status01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #status01{
			vertical-align:-1px;
		}

		*+html #status01{
			vertical-align:0;
		}

		#status02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #status02{
			vertical-align:-1px;
		}

		*+html #status02{
			vertical-align:0;
		}

		#status03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #status03{
			vertical-align:-1px;
		}

		*+html #status03{
			vertical-align:0;
		}

		#status04{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #status04{
			vertical-align:-1px;
		}

		*+html #status04{
			vertical-align:0;
		}

		#status05{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #status05{
			vertical-align:-1px;
		}

		*+html #status05{
			vertical-align:0;
		}

	/* 商品区分
	 ------------------------------------------- */
		#item_division01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #item_division01{
			vertical-align:-1px;
		}

		*+html #item_division01{
			vertical-align:0;
		}

		#item_division02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #item_division02{
			vertical-align:-1px;
		}

		*+html #item_division02{
			vertical-align:0;
		}

		#item_division03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #item_division03{
			vertical-align:-1px;
		}

		*+html #item_division03{
			vertical-align:0;
		}

	/* 商品番号
	 ------------------------------------------- */
		#item_code{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* モニター期間
	 ------------------------------------------- */
		#monitor01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#monitor02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#monitor03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* toモニター期間
	 ------------------------------------------- */
		#monitor04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#monitor05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#monitor06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* キャンペーン期間
	 ------------------------------------------- */
		#campaign01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#campaign02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#campaign03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* toキャンペーン期間
	 ------------------------------------------- */
		#campaign04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#campaign05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#campaign06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 募集期間
	 ------------------------------------------- */
		#recruitment01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#recruitment02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#recruitment03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* to募集期間
	 ------------------------------------------- */
		#recruitment04{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#recruitment05{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#recruitment06{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* お役立ち情報
	 ------------------------------------------- */
		#detail{
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:200px;
		}

	/* 現場レポートコード
	 ------------------------------------------- */
		#rep_code{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
			ime-mode:disabled;
		}

	/* セミナーコード
	 ------------------------------------------- */
		#sem_code{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
			ime-mode:disabled;
		}

	/* 開催名
	 ------------------------------------------- */
		#holding_name{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active	;
		}

	/* 開催日
	 ------------------------------------------- */
		#holding_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#holding_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

		#holding_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 開催場所
	 ------------------------------------------- */
		#holding_place{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active	;
		}

	/* 参加社数
	 ------------------------------------------- */
		#articipants_com{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

	/* 参加人数
	 ------------------------------------------- */
		#articipants{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

	/* 紹介商品名
	 ------------------------------------------- */
		#int_item{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active;
		}

	/* 開催施設名
	 ------------------------------------------- */
		#facilities{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active;
		}

	/* 問合せ先
	 ------------------------------------------- */
		#inquiry{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:400px;
			height:15px;
			ime-mode:active;
		}

	/* 拠点数
	 ------------------------------------------- */
		#base{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:60px;
			height:15px;
			ime-mode:active;
		}

	/* 営業担当者名
	 ------------------------------------------- */
		#bus_name01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#bus_name02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

	/* 営業担当者名（カナ）
	 ------------------------------------------- */
		#bus_namek01{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

		#bus_namek02{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:90px;
			height:15px;
		}

	/* 紹介企業
	 ------------------------------------------- */
		#introduction01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #introduction01{
			vertical-align:-1px;
		}

		*+html #introduction01{
			vertical-align:0;
		}

		#introduction02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #introduction02{
			vertical-align:-1px;
		}

		*+html #introduction02{
			vertical-align:0;
		}

		#introduction03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #introduction03{
			vertical-align:-1px;
		}

		*+html #introduction03{
			vertical-align:0;
		}

		#introduction03f{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
		}

		#introduction04{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #introduction04{
			vertical-align:-1px;
		}

		*+html #introduction04{
			vertical-align:0;
		}

		#introduction04f{
			margin:0 0 0 10px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
		}

		#introduction05{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #introduction05{
			vertical-align:-1px;
		}

		*+html #introduction05{
			vertical-align:0;
		}

		#introduction05f{
			margin:0 0 0 6px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:200px;
			height:15px;
		}

	/* 申請日
	 ------------------------------------------- */
		#application_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#application_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#application_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 審査通過日
	 ------------------------------------------- */
		#exam_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#exam_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#exam_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 契約開始日
	 ------------------------------------------- */
		#contract_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#contract_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#contract_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 更新月
	 ------------------------------------------- */
		#update_month{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 登録料
	 ------------------------------------------- */
		#feef{
			margin:0 0 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
		}

		#fee01{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #fee01{
			vertical-align:-1px;
		}

		*+html #fee01{
			vertical-align:0;
		}

		#fee02{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #fee02{
			vertical-align:-1px;
		}

		*+html #fee02{
			vertical-align:0;
		}

		#fee03{
			margin:0 5px 0 0;
			width:15px;
			height:15px;
			vertical-align:-4px;
		}

		* html #fee03{
			vertical-align:-1px;
		}

		*+html #fee03{
			vertical-align:0;
		}

		#fee03f{
			margin:0 0 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:20px;
			height:15px;
		}

	/* 年会費
	 ------------------------------------------- */
		#mem_fee{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:100px;
			height:15px;
			ime-mode:disabled;
		}

	/* NAVI登録日
	 ------------------------------------------- */
		#navi_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#navi_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#navi_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 退会日
	 ------------------------------------------- */
		#secession_day01{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
			ime-mode:disabled;
		}

		#secession_day02{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

		#secession_day03{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
			ime-mode:disabled;
		}

	/* 年月
	 ------------------------------------------- */
		#year{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

		#month{
			margin:0 5px 0 5px;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:25px;
			height:15px;
		}

	/* 順位
	 ------------------------------------------- */
		#order{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:40px;
			height:15px;
		}

	/* 問合せ会社
	 ------------------------------------------- */
		#inq_com{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:disabled;
		}

	/* 問合せ会社名
	 ------------------------------------------- */
		#inq_comname{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:disabled;
		}

	/* 出展会社
	 ------------------------------------------- */
		#exh_com{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:disabled;
		}

	/* 出展会社名
	 ------------------------------------------- */
		#exh_comname{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:300px;
			height:15px;
			ime-mode:disabled;
		}

	/* 部署
	 ------------------------------------------- */
		#branch_txt{
			margin:0 5px 0 0;
			padding:2px 0 2px 5px;
			border:1px solid #ddd;
			width:150px;
			height:15px;
			ime-mode:disabled;
		}
