/*
@import url("app.css");
*/
@import url("font/whhg.css");
/* ERS_common
 ---------------------------------------------------------------- */

	/* ブラウザの初期値をクリア
	............................................................... */
		body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,br,div,span,img,a,form,select,option,input,button,table,tr,td,th,caption,noscript{
			margin:0 0 0 0;
			padding:0 0 0 0;
		}

		h1,h2,h3,h4,h5,h6,p,li,dt,dd,br,form,tr,td,th,caption{
			line-height:1;
			text-rendering: optimizeLegibility;
		}

		* html h1,* html h2,* html h3,* html h4,* html h5,* html h6,* html p,* html li,
		* html dt,* html dd,* html br,* html form,* html tr,* html td,* html th,* html caption{
			line-height:1.05;
		}

		*+ html h1,*+ html h2,*+ html h3,*+ html h4,*+ html h5,*+ html h6,*+ html p,*+ html li,
		*+ html dt,*+ html dd,*+ html br,*+ html form,*+ html tr,*+ html td,*+ html th,*+ html caption{
			line-height:1.05;
		}

		img{
			border:none;
		}

		ul{
			list-style:none;
		}

		table{
			table-layout:fixed;
			border-collapse:collapse;
		}

		textarea{
			font-size:1em;
		}

		input[type=text],input[type=password],select{
			border:1px solid #bbb;
		}

		input[type=text],input[type=password]{
			padding:2px 0 2px 2px;
		}

		input[type=radio],input[type=checkbox]{
			vertical-align:-2px;
		}

	/* スクロールバー for FireFox & Opera
	............................................................... */
		html{
			height:100%;
			margin-bottom:1px;/* 1pxスクロールできてしまう */
			/*overflow-y:scroll; Operaにはきかない */
			/*overflow:scroll; 横スクロールまででてしまう */
		}

	/* リンクスタイルをクリア
	............................................................... */
		a:link{
			text-decoration:none;
			color:#444;
		}

		a:active{
			text-decoration:none;
			color:#444;
		}

		a:visited{
			text-decoration:none;
			color:#444;
		}

		a:hover{
			text-decoration:underline;
			color:#444;
		}
		a:focus{
			outline: none;
		}

	/* フロート解除
	............................................................... */
		.release_b{
			clear:both;
		}

		.release_r{
			clear:right;
		}

		.release_l{
			clear:left;
		}

	/* 背景色 文字の大きさ 行送り
	............................................................... */
		body{
/*
			background:url(../images/body_bg.png) 0 0;
			font-family:"ＭＳ Ｐゴシック",Osaka,sans-serif;
*/			background-color:#222;
			font-size:0.75em;
			font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif,"ＭＳ Ｐゴシック",Osaka,sans-serif;
			color:#222222;
		}

	/* IVP警告色
	............................................................... */
		.ERS_IVP_color{
			color:#d00000;
		}

	/* float 自動クリア
	............................................................... */
		.clearfix{
			_height: 1px;
			min-height: 1px;
			/*￥*//*/
			height: auto;
			overflow: hidden;
			/**/
		}

		.clearfix:after{
			content:"";
			clear:both;
			height:0;
			display:block;
			visibility:hidden;
		}


/* ERS_wrapper
 ---------------------------------------------------------------- */
	#ERS_wrapper{
		margin:0 auto 0 auto;
		width:auto;
		position:relative;
	}


/* ERS_header
 ---------------------------------------------------------------- */
	#ERS_header{
		margin:0 0 0 0;
		padding:6px 0 6px 0;
	}
	@media screen and (max-width: 1920px) {
		/* 1920px以下用の記述 */
		#ERS_header{
			margin:0 0 0 0;
			padding:6px 0 6px 0;
			width:1230px;
		}
	}
	@media screen and (min-width: 1920px) {
		/* 1920px以上用の記述 */
		#ERS_header{
			margin:0 0 0 0;
			padding:6px 0 6px 0;
			width:1580px;
		}
	}

	#ERS_header h1{
		margin:0 0 0 28px;
		display:inline;
		float:left;
		color:#fff;
	}

	#ERS_header p{
		margin:18px 0 0 10px;
		float:right;
	}

	#ERS_header p img{
		width:144px;
	}


	#ERS_header h1 input{
		width:240px;
	}

	#ERS_header ul{
		margin:12px 16px 0 0;
		display:inline;
		float:right;
	}

	#ERS_header ul li{
	}

	#ERS_header ul li a{
		padding:5px 5px 5px 5px;
		letter-spacing:0.1em;
		font-size:1.1em;
		color:#fff;
		display:block;
	}

	#ERS_header ul li a:hover{
		text-decoration:none;
		color:#fff;
		text-decoration:none;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		background-color:#2472A4;
	}

	#ERS_header ul li a img{
		vertical-align:bottom;
	}


/* ERS_g_navi
 ---------------------------------------------------------------- */
	#ERS_g_navi{
		background-color:#2472A4;
		min-width:1250px;
/*
		box-shadow:0 1px 0 0 #000;
		-moz-box-shadow: 0px 1px 0px #000; /* Firefox 
		-webkit-box-shadow: 0px 1px 0px #000;  ; /* Chrome, Safari 
*/
	}

	#ERS_g_navi ul{
		min-width:962px;
		margin:0 0 0 0;
	}

	#ERS_g_navi ul li{
		float:left;
		text-align:center;
		font-weight:bold;
		font-size:1.2em;
		letter-spacing:0.15em;
	}
	#ERS_g_navi ul li a:link,
	#ERS_g_navi ul li a:active,
	#ERS_g_navi ul li a:visited{
		color:#fff;
/*
		border-right: 1px solid #0E4174;
		box-shadow:-3px 0px 6px -6px #023568 inset;
		-moz-box-shadow:-3px 0px 6px -6px #023568 inset;
		-webkit-box-shadow:-3px 0px 6px -6px #023568 inset;
*/
		padding:15px 0 15px 0;
		display:inline-block;
		width:128px;
	}

	#ERS_g_navi ul li.navi_over a,
	#ERS_g_navi ul li.navi_on a,
	#ERS_g_navi ul li a:hover{
/*
		background: -webkit-linear-gradient(top, #aaa, #fff);
		background:    -moz-linear-gradient(top, #aaa, #fff);
		background:      -o-linear-gradient(top, #aaa, #fff);
		background:         linear-gradient(to bottom, #aaa, #fff);
		/*IE6 IE7 
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#aaaaaa, endcolorstr=#ffffff));
		/* IE8 
		-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#aaaaaa, endcolorstr=#ffffff))";
		zoom: 1;
*/
		text-decoration:none;
		background-color:#3990C9;
		color:#fff;
	}

	#ERS_g_navi .pulldown{
		position:absolute;
		left:0;
		min-width:0px;
		border:2px solid #3990C9;
		border-top:none;
		display:none;
		z-index:1000;
	}

	#ERS_g_navi .pulldown li{
		float:none;
		display:none;
	}

	#ERS_g_navi .pulldown li a:link,
	#ERS_g_navi .pulldown li a:active,
	#ERS_g_navi .pulldown li a:visited{
		background-color:#F3F9F9;
		color:#333;
		text-align:left;
		padding:10px 0 10px 10px;
		width:200px;
		font-weight:normal;
		font-size:0.8em;
	}

	#ERS_g_navi .pulldown li a:hover{
		color:#fff;
		background-color:#3990C9;
	}



/* ERS_container
 ---------------------------------------------------------------- */
	#ERS_container{
		padding:15px 16px 30px 0;
		background-color:#fff;
		min-height:650px;
		min-width:1247px;
	}

/* ERS_contents
 ---------------------------------------------------------------- */
	#ERS_contents{
		margin:0 0 12px 0;
		padding:0 0 0 25px;
		width:70%;
		min-width:860px;
		float:left;
	}
	@media screen and (max-width: 1920px) {
		/* 1920px以下用の記述 */
		#ERS_contents{
			/*max-width:1000px;*/
		}
	}
	@media screen and (min-width: 1920px) {
		/* 1920px以上用の記述 */
		#ERS_contents{
			max-width:1320px;
		}
	}

/* ERS_spread
 ---------------------------------------------------------------- */
	#ERS_spread{
		margin:0 20px 0 0;
/* ブロックの高さをそろえる
		padding:0 0 10000px 0;
		margin:0 0 -10000px 0;
*/
		width:690px;
		float:right;
		display:inline;
	}


/* ERS_sidemenu
 ---------------------------------------------------------------- */
	#ERS_sidemenu{
		margin:0 0 0 10px;
		border-top:1px solid #ccc;
/*
		border-radius:5px;
		min-height:auto;
		-webkit-box-shadow: 0 3px 8px -6px #8d8c8c;
		-moz-box-shadow: 0 3px 8px -6px #8d8c8c;
		box-shadow: 0 3px 8px -6px #8d8c8c;
*/
		width:225px;
		float:left;
	}
	
	#ERS_sidemenu h2{
		padding:9px 0 0 20px;
		font-size:1em;
		color:#004445;
	}

	#ERS_sidemenu div{
		padding:0 0 0 0;
	}

	#ERS_sidemenu ul li {
		border-bottom:1px solid #ccc;
		padding: 2px 0 2px 0;
	}

	#ERS_sidemenu ul li .tree{
		margin:0 0 0 -12px;
		padding:0 0 0 12px;
		background:url(../images/icon_close.gif) 0 1px no-repeat;
	}

	#ERS_sidemenu ul li a.tree_open{
		background:url(../images/icon_open.gif) 0 1px no-repeat;
	}

	#ERS_sidemenu ul li a{
		font-size:1.1em;
		font-weight:bold;
		display:block;
		margin:0 0 1px 0;
/*
		background: url("../images/sprite_sidenav.png") no-repeat scroll 8px -173px transparent;
*/
		letter-spacing:0.1em;
		line-height:1.2;
		padding: 10px 0 10px 10px;
	}

	#ERS_sidemenu ul li a:hover{
		color:#fff;
		text-decoration:none;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		background-color:#2472A4;
	}

	#ERS_sidemenu ul li a span{
		/* TODO:HTMLからも消す*/
		display:none;
	}

	#ERS_sidemenu ul li strong{
		padding: 10px 0 10px 10px;
		display:block;
	}

	#ERS_sidemenu ul li ul{
		padding:3px 0 3px 0;
		background:none;
		display:none;
	}

	#ERS_sidemenu ul li ul li{
		margin:0 0 0 0;
		line-height:1.3;
		padding:4px 0 0 10px;
	}

	#ERS_sidemenu ul li ul li span{
		margin: 0 0 0 -0.5em;
	}
	
	#ERS_sidemenu ul li.end{
	}

/* ERS_footer
 ---------------------------------------------------------------- */
	#ERS_footer{
		border-top:1px solid #ccc;
		padding:20px 0 34px 0;
		height:35px;
	}

	#ERS_footer h2{
		text-align:center;
		color:#fff;
		font-size:1em;
		letter-spacing:0.1em;
		line-height:1;
	}

	#ERS_footer h2 img{
		display:none;
		margin:0 12px 0 0;
		vertical-align:middle;
	}

	#page_top{
		position:fixed;
		top:80%;
		right:30px;
		display:none;
		z-index:100;
	}

	#page_top a{
		display:block;
		border:5px solid #313131;
		border-radius:35px 35px 35px 35px;
		text-align:center;
		font-size:2em;
		letter-spacing:0.1em;
		border:1px solid #888;
		padding:10px 1px 10px 10px;
		background-color:#888;
		color:#fff;
		box-shadow: 0 0 1px rgba(0, 0, 0, #888);
	}

	#page_top a:hover{
		background-color:#313131;
		text-decoration:none;
		opacity:.80;
		filter:Alpha(Opacity=80);
	}

/* Flat UI用指定
-------------------------------------------------------------------- */
/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
select,
textarea {
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: -webkit-box-shadow 0.45s,
	border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,
	border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,
	border-color 0.45s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	-webkit-box-shadow: 0 0 5px #999999;
	-moz-box-shadow: 0 0 5px #999999;
	box-shadow: 0 0 5px #999999;
	border-color: #999999;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	background: #fafafa;
	border-color: #999999;
	outline: none;
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
select[disabled],
textarea[disabled] {
	background-color: #dddddd;
}

