	#ERS_header{
		padding:6px 40px 6px 0;
		width:auto;
	}


/* ERS_title
 ---------------------------------------------------------------- */
	#ERS_title{
		margin:0 auto 10px auto;
		width:662px;
	}


/* ERS table
 ---------------------------------------------------------------- */
	.ERS_table{
		margin:0 auto 10px auto;
		width:662px;
	}
/* error massage
 ---------------------------------------------------------------- */
	#vsLog{
		margin:0 auto 0 auto;
		padding:0 4px 0 4px;
		width:662px;
	}


/* ERS_next
 ---------------------------------------------------------------- */
	div.ERS_next{
		margin:0 0 15px 0;
		float:none;
	}

	div.ERS_next p{
		padding:0 10px 0 0;
		background:none;
		text-align:center;
	}

	div.ERS_next p.center{
		margin:0 auto 0 auto;
		padding:0 0 0 0;
		width:690px;
		background:none;
		text-align:center;
	}

	div.ERS_next p.none{
		margin:0 200px 0 0;
		padding:0 0 0 0;
		background:none;
	}

	div.ERS_next p input{
		cursor:pointer;
	}

	#btn_topPage{
		padding: 0.67em 2em 0.65em 2em;
		margin: 0px 3px 1.25em 3px;
		border: 2px solid #2284A1;
		color: #FFF;
		cursor: pointer;
		font-weight: bold;
		font-size: 1.25em;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		position: relative;
		display: inline-block;
		background-image: linear-gradient(#2980B9, #2980B9 5%, #2472A4);
		box-shadow: 0px 1px 0px rgba(255, 255, 255, 0) inset;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
		background-color:#3186bd;
	}
	
	#btn_changes{
		padding: 0.67em 2em 0.65em 2em;
		margin: 0px 3px 1.25em 3px;
		border: 2px solid #2284A1;
		color: #FFF;
		cursor: pointer;
		font-weight: bold;
		font-size: 1.25em;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		position: relative;
		display: inline-block;
		background-image: linear-gradient(#2980B9, #2980B9 5%, #2472A4);
		box-shadow: 0px 1px 0px rgba(255, 255, 255, 0) inset;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
		background-color:#3186bd;
	}
	

	
	@media all and (-ms-high-contrast:none){
	  #btn_topPage{
			padding: 0.64em 2em 0.53em 2em;
			margin: 0px 3px 1.25em 3px;
			border: 2px solid #2284A1;
			color: #FFF;
			cursor: pointer;
			font-weight: bold;
			font-size: 1.25em;
			line-height: 1;
			text-decoration: none;
			text-align: center;
			position: relative;
			display: inline-block;
			background-image: linear-gradient(#2980B9, #2980B9 5%, #2472A4);
			box-shadow: 0px 1px 0px rgba(255, 255, 255, 0) inset;
			text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
		}
	}