

/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table{
		margin:0 auto 0 auto;
		width:350px;
		float:left;
	}

	.ERS_table table.length tr th{
		width:148px;
		border:1px solid #ccc;
	}

	.ERS_table table.length tr td{
		width:175px;
		border:1px solid #ccc;
		border-left:none;
	}


/* ERS_mobile
 ---------------------------------------------------------------- */
	.ERS_mobile{
		margin:0 0 15px 70px;
		width:200px;
		display:inline;
		float:left;
	}


/* ERS_mobile01
 ---------------------------------------------------------------- */
	.ERS_mobile01{
		margin:0 0 15px 0;
		padding:4px 4px 4px 4px;
		width:190px;
		border:1px solid #999;
	}


/* ERS_mobile02
 ---------------------------------------------------------------- */
	.ERS_mobile02{
		padding:4px 4px 4px 4px;
		width:190px;
		border:1px solid #999;
	}
