/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table{
		margin:0 0 0 0;
		padding:0 0 0 0;
	}

/* container
----------------------------------------------------------------- */
	#ERS_container{
		min-width:0;
		min-height:630px;
		padding: 15px 15px 30px 0;
	}

	#ERS_contents{
		float: none;
		padding: 0 0 0 25px;
		margin: 0 auto 0 auto;
		max-width:auto;
	}


