.ERS_table table.length tr th.price{
	width:140px;
	border:1px solid #ccc;
	border-right:none;
	border-left:none;
}	
.ERS_table table.length tr td.price{
	background-color:#efefef;
	border:1px sold #ccc;
	border-right:none;
	border-left:none;
}
.treeTable{
	width: 278px;
	float: left;
	margin: 0 8px 0 0	
}
