/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table {
		margin:0 0 25px 0;
	}

	.ERS_table table.length tr th {
		width: 220px;
	}


/* item_table
 ---------------------------------------------------------------- */
	.item_table h3{
		font-size:1.3em;
		line-height:1.6;
	}

	.item_table p{
		line-height:1.5;
		font-size:1.2em;
		padding:0 0 5px 0;
	}
