/* ERS_table
 ---------------------------------------------------------------- */
	.ERS_table table{
		width:860px;
	}

	.ERS_table table td input{
		width:95%;
	}

	.ERS_table table td input#free{
		width:auto;
	}

	
	.ERS_table table.length tr th {
		width: 220px;
	}

