<div class="typeB">
	<div class="clearfix">
        <div class="imgL">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name1 %>" />
        </div>
        <div class="txtR">
            <p>
                <ers:formatHtml src=".Model.body" />
            </p>
        </div>
    </div>
    <div class="clearfix">
        <div class="imgR">
            <img src="<%=.pc_dynamic_url%>images/cms/news/<%=.Model.img_file_name2 %>" />
        </div>
        <div class="txtL">
            <p>
                <ers:formatHtml src=".Model.add_body" />
            </p>
        </div>
    </div>
</div>

