﻿<div id="Order" CssClass="ProductListPanel">
    
    <div class="Product">

        <ers:isNotEqual src=".Model.recordCount" value="0">
            
            <table class="SearchResult" style="width:100%; ">
                <ers:foreach variable="item" src=".Model.merchandiseList">
                    <tr class="ProductName">
				        <th>■<ers:label code="ProductName">:</th>
				        <td><ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual></td>
			        </tr>
                    <tr class="ProductCode">
				        <th>■<ers:label code="ProductCode">:</th>
				        <td><%=item.scode%></td>
			        </tr>
                    <tr class="SalesPrice">
				        <th>■<ers:label code="UnitPrice">:</th>
                        <ers:isEqual src="item.onCampaign" value="true" comment="normal price">
				        <td> <ers:formatCurrency src="item.price2" /></strike>→<strong> <ers:formatCurrency src="item.price" /></strong><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                        </ers:isEqual>
                        <ers:isNotEqual src="item.onCampaign" value="true" comment="campaign price">
				        <td> <ers:formatCurrency src="item.price" /><ers:isNotEqual src="item.price" variable="item.max_price">～</ers:isNotEqual></td>
                        </ers:isNotEqual>
			        </tr>
			        <tr class="Stock RepeatItemBottom">
				        <th>■<ers:message code="product_d_list_stock">:</th>
				        <td>
                            <ers:formatCurrency src="item.stock" />


				        </td>
			        </tr>
                </ers:foreach>
            </table>
            
        </ers:isNotEqual>
        <br />
    </div>

</div>
