﻿<div id="Order" CssClass="ProductListPanel">
    
    <div class="Product">

    
    <table class="SearchResult" style="width:100%; ">
            <caption><h3><ers:message code="product.list.FaveProdTitle"></h3></caption>
                <ers:foreach src=".Model.merchandiseFavoriteList" variable="item">
                <tr class="ProductName">
				        <th>■<ers:label code="ProductName">:</th>
				        <td><ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual></td>
		        </tr>
                <tr class="ProductCode">
				        <th>■<ers:label code="ProductCode">:</th>
				        <td><%=item.scode%></td>
			    </tr>
                <ers:isEqual src="item.sale_normal_flg" value="true">
                    <tr class="SalesPrice">
				        <th>■<ers:label code="UnitPrice">:</th>
                        <ers:isEqual src="item.onCampaign" value="true" comment="normal price">
				        <td><strike><ers:formatCurrency src="item.default_price" /></strike>→<strong><ers:formatCurrency src="item.price" /></strong></td>
                        </ers:isEqual>
                        <ers:isNotEqual src="item.onCampaign" value="true" comment="campaign price">
				        <td><ers:formatCurrency src="item.price" /></td>
                        </ers:isNotEqual>
			        </tr>
                </ers:isEqual>
                <tr class="Stock CartIn">
				        <th>■<ers:message code="product_d_list_stock">:
                            <form id="form_delete_favorite" method="post" action="<%=.sec_url%>top/product/asp/delete_wishlist.asp">
                            <input type="hidden" name="IsOrderUpdate" value="<%=.Model.IsOrderUpdate %>" />
                            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                            <input type="hidden" name="ransu" value="<%=.Model.ransu %>" />
                            <input type="hidden" name="mcode" value="<%=.Model.mcode %>" />
                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                            <input type="submit" name="btn_delete_f" value="<ers:label code='common_delete' />"/>
                            </form>
                        </th>

                        <td>
                            <ers:formatNumber src="item.stock" />
                            <form id="form3" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">
                                <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                                <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
			                            <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="SOLD OUT" /></p>
	                                </ers:isEqual>

                                    <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
			                            <p>
                                            <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                                            <ers:isEqual src="item.sale_normal_flg" value="true">
                                            <ers:isEqual src=".Model.TargetController" value="cart">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
					                            <input type="submit" class="AddCart" value="<ers:message code="product_list_normal_purchase_btn">" />
                                            </ers:isEqual>
                                            </ers:isEqual>
                                            <ers:isEqual src=".Model.TargetController" value="regular">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
<!--					                            <input type="submit" class="AddCart" value="定期受注" />-->
                                            </ers:isEqual>
                                        </p>
	                                </ers:isNotEqual>
                                </ers:isEqual>

                            </form>

				        </td>
                </tr>

                <ers:isEqual src=".Model.TargetController" value="cart">
 <ers:isEqual src="item.sale_regular_flg" value="true" comment="<ers:message code="product.list.Msg6">">
                    <tr class="SalesPrice">
				        <th>■<ers:message code="product_list_reg_price">:</th>
                        <td>
                             <ers:formatCurrency src="item.regular_price" />
                            <ers:isNotEqual src="item.regular_first_price" value=""><span style="color:#000;">(<ers:message code="product_list_first">:</span> <ers:formatCurrency src="item.regular_first_price" /><span style="color:#000;">)</span></ers:isNotEqual>
                        </td>
                    </tr>
                   <tr class="RepeatItemBottom CartIn">
                        <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                        <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
                            <td></td>
                            <td>
			                    <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="<ers:message code="btn_sold_out">" /></p>
                            </td>
	                        </ers:isEqual>

                            <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
	                        <td colspan="2">
                                <form id="form2" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">

                                        <input type="hidden" name="send_ptn" value="3" />
                                        <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                        <input type="hidden" name="scode" value="<%=item.scode%>" />

                                        <input type="hidden" name="firstTime" value="0" />
                                        <input type="hidden" name="ptn_interval_day" value="30" />
                                       
                                        <input type="submit" name="regular_basket_in" class="AddCart" value="<ers:message code="product_list_subscription_btn">" />
                                </form>
                            </td>
	                        </ers:isNotEqual>
                        </ers:isEqual>
                    </tr>
</ers:isEqual>
                    </ers:isEqual>
<tr><td colspan="2"><hr/></td></tr>
                </ers:foreach>
</table>    


<table class="SearchResult" style="width:100%; ">    
            <caption><h3><ers:message code="product.list.SharedProdTitle"></h3></caption>
                <ers:foreach src=".Model.merchandiseShareList" variable="item">
                <tr class="ProductName">
				        <th>■<ers:label code="ProductName">:</th>
				        <td><ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual></td>
		        </tr>
                <tr class="ProductCode">
				        <th>■<ers:label code="ProductCode">:</th>
				        <td><%=item.scode%></td>
			    </tr>
                <ers:isEqual src="item.sale_normal_flg" value="true">
                    <tr class="SalesPrice">
				        <th>■<ers:label code="UnitPrice">:</th>
                        <ers:isEqual src="item.onCampaign" value="true" comment="normal price">
				        <td><strike> <ers:formatCurrency src="item.default_price" /></strike>→<strong> <ers:formatCurrency src="item.price" /></strong></td>
                        </ers:isEqual>
                        <ers:isNotEqual src="item.onCampaign" value="true" comment="campaign price">
				        <td> <ers:formatCurrency src="item.price" /></td>
                        </ers:isNotEqual>
			        </tr>
                </ers:isEqual>
                <tr class="Stock CartIn">
				        <th>■<ers:message code="product_d_list_stock">:
                        <ers:isEqual src=".Model.IsSuperUser" value="true">
                            <form id="form_delete_share" method="post" action="<%=.sec_url%>top/product/asp/delete_wishlist.asp">
                            <input type="hidden" name="IsOrderUpdate" value="<%=.Model.IsOrderUpdate %>" />
                            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                            <input type="hidden" name="ransu" value="<%=.Model.ransu %>" />
                            <input type="hidden" name="mcode" value="<%=.Model.mcode %>" />
                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                            <input type="submit" name="btn_delete_s" value="<ers:label code='common_delete' />"/>
                            </form>
                        </ers:isEqual>
                        </th>
                        <td>
                            <ers:formatNumber src="item.stock" />
                            <form id="form4" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">
                                <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                                <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
			                            <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="<ers:message code="btn_sold_out">" /></p>
	                                </ers:isEqual>

                                    <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
			                            <p>
                                            <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                                            <ers:isEqual src="item.sale_normal_flg" value="true">
                                            <ers:isEqual src=".Model.TargetController" value="cart">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
					                            <input type="submit" class="AddCart" value="<ers:message code="product_list_normal_purchase_btn">" />
                                            </ers:isEqual>
                                            </ers:isEqual>
                                            <ers:isEqual src=".Model.TargetController" value="regular">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
<!--					                            <input type="submit" class="AddCart" value="定期受注" />-->
                                            </ers:isEqual>
                                        </p>
	                                </ers:isNotEqual>
                                </ers:isEqual>

                            </form>

				        </td>
                </tr>

                <ers:isEqual src=".Model.TargetController" value="cart">
 <ers:isEqual src="item.sale_regular_flg" value="true" comment="<ers:message code="product.list.Msg6">">
                    <tr class="SalesPrice">
				        <th>■<ers:message code="product_list_reg_price">:</th>
                        <td>
                             <ers:formatCurrency src="item.regular_price" />
                            <ers:isNotEqual src="item.regular_first_price" value=""><span style="color:#000;">(<ers:message code="product_list_first">：</span> <ers:formatCurrency src="item.regular_first_price" /><span style="color:#000;">)</span></ers:isNotEqual>
                        </td>
                    </tr>
                   <tr class="RepeatItemBottom CartIn">
                        <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                        <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
                            <td></td>
                            <td>
			                    <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="SOLD OUT" /></p>
                            </td>
	                        </ers:isEqual>

                            <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
	                        <td colspan="2">
                                <form id="form5" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">

                                        <input type="hidden" name="send_ptn" value="3" />
                                        <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                        <input type="hidden" name="scode" value="<%=item.scode%>" />

                                        <input type="hidden" name="firstTime" value="0" />
                                        <input type="hidden" name="ptn_interval_day" value="30" />
                                       
                                        <input type="submit" name="regular_basket_in" class="AddCart" value="<ers:message code="product_list_subscription_btn">" />
                                </form>
                            </td>
	                        </ers:isNotEqual>
                        </ers:isEqual>
                    </tr>
</ers:isEqual>
                    </ers:isEqual>
<tr><td colspan="2"><hr/></td></tr>
                </ers:foreach>
    </table>
    


            <ers:isNotEqual src=".Model.recordCount" value="0">
            <table class="SearchResult" style="width:100%; ">
            <caption><h3><ers:message code="product.list.ProdSearchResultTitle"></h3></caption>
                <ers:foreach variable="item" src=".Model.merchandiseList" roopcounter="loopCnt">
                    <tr class="ProductName">
				        <th>■<ers:label code="ProductName">:</th>
				        <td><ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual></td>
			        </tr>
                    <tr class="ProductCode">
				        <th>■<ers:label code="ProductCode">:</th>
				        <td><%=item.scode%></td>
			        </tr>
                    <ers:isEqual src="item.sale_normal_flg" value="true">
                    <tr class="SalesPrice">
				        <th>■<ers:label code="UnitPrice">:</th>
                        <ers:isEqual src="item.onCampaign" value="true" comment="normal price">
				        <td><strike> <ers:formatCurrency src="item.default_price" /></strike>→<strong> <ers:formatCurrency src="item.price" /></strong></td>
                        </ers:isEqual>
                        <ers:isNotEqual src="item.onCampaign" value="true" comment="campaign price">
				        <td> <ers:formatCurrency src="item.price" /></td>
                        </ers:isNotEqual>
			        </tr>
                    </ers:isEqual>
			        <tr class="Stock CartIn __cartin">
				        <th>■<ers:message code="product_d_list_stock">:
                            <form id="form_regist_favorite" method="post" action="<%=.sec_url%>top/product/asp/regist_wishlist.asp">
                            <input type="hidden" name="IsOrderUpdate" value="<%=.Model.IsOrderUpdate %>" />
                            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                            <input type="hidden" name="ransu" value="<%=.Model.ransu %>" />
                            <input type="hidden" name="mcode" value="<%=.Model.mcode %>" />
                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                            <input type="submit" name="btn_favorite" value="<ers:message code="product_list_favorite_btn">"/>
                            </form>
                        

                        <ers:isEqual src=".Model.IsSuperUser" value="true">
                            <form id="form_regist_share" method="post" action="<%=.sec_url%>top/product/asp/regist_wishlist.asp">
                            <input type="hidden" name="IsOrderUpdate" value="<%=.Model.IsOrderUpdate %>" />
                            <input type="hidden" name="TargetController" value="<%=.Model.TargetController%>" />
                            <input type="hidden" name="ransu" value="<%=.Model.ransu %>" />
                            <input type="hidden" name="mcode" value="<%=.Model.mcode %>" />
                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                            <input type="hidden" name="pageCnt" value="<%=.Model.pageCnt%>" />
                            <input type="submit" name="btn_share" value="<ers:message code="product_list_share_btn">"/>
                            </form>
                        </ers:isEqual>
                        </th>
				        <td>
                            <ers:formatNumber src="item.stock" />
                            <form id="form<%=item.scode%>" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">
                                <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
		                            <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                                </ers:isEqual>

                                <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                                <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
			                            <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="SOLD OUT" /></p>
	                                </ers:isEqual>

                                    <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
			                            <p>
                                            <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                            <input type="hidden" name="scode" value="<%=item.scode%>" />
                                            <ers:isEqual src="item.sale_normal_flg" value="true">
                                            <ers:isEqual src=".Model.TargetController" value="cart">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
					                            <input type="submit" class="AddCart __addcart" value="<ers:message code="product_list_normal_purchase_btn">" />
                                            </ers:isEqual>
                                            </ers:isEqual>
                                            <ers:isEqual src=".Model.TargetController" value="regular">
                                                <!--<img src="<%=.sec_url%>images/btn_cart02_off.gif" />-->
<!--					                            <input type="submit" class="AddCart" value="定期受注" />-->
                                            </ers:isEqual>
                                        </p>
	                                </ers:isNotEqual>
                                </ers:isEqual>

                            </form>

				        </td>
			        </tr>

                    <ers:isEqual src=".Model.TargetController" value="cart">
 <ers:isEqual src="item.sale_regular_flg" value="true" comment="<ers:message code="product.list.Msg6">">
                    <tr class="SalesPrice">
				        <th>■<ers:message code="product_list_reg_price">:</th>
                        <td>
                             <ers:formatCurrency src="item.regular_price" />
                            <ers:isNotEqual src="item.regular_first_price" value=""><span style="color:#000;">(<ers:message code="product_list_first">:</span> <ers:formatCurrency src="item.regular_first_price" /><span style="color:#000;">)</span></ers:isNotEqual>
                        </td>
                    </tr>
                   <tr class="RepeatItemBottom CartIn">
                        <ers:isEqual src="item.DatePeriod" value="3" comment="<ers:message code="product.list.Msg1">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_before.gif" alt="<ers:message code="product.list.Alt1">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="2" comment="<ers:message code="product.list.Msg2">">
                            <td></td>
                            <td>
		                        <p><img src="<%=.sec_url%>images/btn_sale_after.gif" alt="<ers:message code="product.list.Alt2">" /></p>
                            </td>
                        </ers:isEqual>

                        <ers:isEqual src="item.DatePeriod" value="1" comment="<ers:message code="product.list.Msg3">">
	                        <ers:isEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg4">">
                            <td></td>
                            <td>
			                    <p><img src="<%=.sec_url%>images/btn_soldout.gif" alt="SOLD OUT" /></p>
                            </td>
	                        </ers:isEqual>

                            <ers:isNotEqual src="item.StockStatus" value="4" comment="<ers:message code="product.list.Msg5">">
	                        <td colspan="2">
                                <form id="form1" method="post" action="<%=.sec_url%>top/<%=.Model.TargetController%>/asp/index.asp?ransu=<%=.Model.ransu%>&mcode=<%=.Model.mcode%>&IsOrderUpdate=<%=.Model.IsOrderUpdate%>" target="right_t">

                                        <input type="hidden" name="send_ptn" value="3" />
                                        <input type="hidden" name="pageCnt" value="<%=.Model.pager.pageCnt%>" />
                                        <input type="hidden" name="scode" value="<%=item.scode%>" />

                                        <input type="hidden" name="firstTime" value="0" />
                                        <input type="hidden" name="ptn_interval_day" value="30" />
                                       
                                        <input type="submit" name="regular_basket_in" class="AddCart" value="<ers:message code="product_list_subscription_btn">" />
                                </form>
                            </td>
	                        </ers:isNotEqual>
                        </ers:isEqual>
                    </tr>
</ers:isEqual>
                    </ers:isEqual>

<tr><td colspan="2"><hr/></td></tr>
                </ers:foreach>
                </ers:isNotEqual>
            </table>
           
        <br />
    </div>

</div>
