﻿<div class="Cart">
    <form method="post" action="<%=.sec_url%>top/product/asp/Search.asp">
        
	    <table class="Search">
		    <tr>
			    <th><ers:label code="gcode"></th>
			    <td><input type="text" id="s_gcode" class="w_full" name="gcode" value="<%=.Model.gcode%>" maxlength="20" /></td>
		    </tr>
		    <tr>
			    <th><ers:message code="product_search_grp_name"></th>
			    <td><input type="text" id="s_gname" class="w_full" name="gname" value="<%=.Model.gname%>" maxlength="20" /></td>
		    </tr>
		    <tr>
			    <th><%=.Model.cate1_name %></th>
			    <td>
                    <select class="w_full" id="s_cate1" name="cate1">
                        <option value="" selected="selected"><ers:message code="product_search_opt_all"></option>
                        <ers:foreach src=".Model.cateList" variable="cate_item" >
                            <ers:isEqual src="cate_item.active" value="1">
                                <option value="<%=cate_item.id%>"<ers:isEqual src="cate_item.id" variable=".Model.cate1"> selected="selected"</ers:isEqual>><%=cate_item.cate_name%></option>
                            </ers:isEqual>
                        </ers:foreach>
                    </select>
			    </td>
		    </tr>
		    <tr>
			    <td colspan="2" class="Button">
                    <input type="hidden" name="IsOrderUpdate" value="<%=.Model.IsOrderUpdate %>" />
                    <input type="hidden" name="TargetController" value="<%=.Model.TargetController %>" />
                    <input type="hidden" name="ransu" value="<%=.Model.ransu %>" />
                    <input type="hidden" name="mcode" value="<%=.Model.mcode %>" />
				    <input type="submit" name="search" value="<ers:label code="common_search">" class="SearchButton" />
			    </td>
		    </tr>
	    </table>
    </form>
</div>
