﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title>コンテンツ記事確認 <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/chk_duplicate_submit.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            このページではJavaScriptを使用しています。<br />
                            JavaScript対応のブラウザでの閲覧を推奨します。</p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <div id="ERS_title">
                    <h2>コンテンツ記事確認</h2>
                </div><br />

                <form action="<%=.sec_url%>top/cms/asp/cms_contents_modify_complete.asp" method="post" name="store_form" id="store_form">
                    <!-- table start -->
                    <div class="ERS_table">
                        <table class="length">
                            <tr>
                                <th>
                                    コンテンツコード
                                </th>
                                <td>
                                    <%=.Model.contents_code %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    コンテンツ名
                                </th>
                                <td>
                                    <%=.Model.contents_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    カテゴリー
                                </th>
                                <td>
                                    <%=.Model.cate_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    コード名
                                </th>
                                <td>
                                    <%=.Model.code_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    タイトル
                                </th>
                                <td>
                                    <%=.Model.title_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    サブタイトル
                                </th>
                                <td>
                                    <%=.Model.sub_title_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    本文
                                </th>
                                <td>
                                    <%=.Model.body_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    追記
                                </th>
                                <td>
                                    <%=.Model.add_body_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    掲載期間
                                </th>
                                <td>
                                    <%=.Model.period_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    リンクURL1-5
                                </th>
                                <td>
                                    <ers:isEqual src=".Model.link_count" value="5">5数</ers:isEqual >
                                    <ers:isEqual src=".Model.link_count" value="4">4数</ers:isEqual >
                                    <ers:isEqual src=".Model.link_count" value="3">3数</ers:isEqual >
                                    <ers:isEqual src=".Model.link_count" value="2">2数</ers:isEqual >
                                    <ers:isEqual src=".Model.link_count" value="1">1数</ers:isEqual >
				                    <ers:isEqual src=".Model.link_count" value="0">表示されていない</ers:isEqual >
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    ファイルリンク1-5
                                </th>
                                <td>
                                    <ers:isEqual src=".Model.file_count" value="5">5数</ers:isEqual >
                                    <ers:isEqual src=".Model.file_count" value="4">4数</ers:isEqual >
                                    <ers:isEqual src=".Model.file_count" value="3">3数</ers:isEqual >
                                    <ers:isEqual src=".Model.file_count" value="2">2数</ers:isEqual >
                                    <ers:isEqual src=".Model.file_count" value="1">1数</ers:isEqual >
				                    <ers:isEqual src=".Model.file_count" value="0">表示されていない</ers:isEqual >
                                </td>
                            </tr>
                            <tr>
			                    <th>
				                    テンプレート選択
			                    </th>
			                    <td>
				                    <ers:foreach variable="list" src=".Model.templateList">
		                                <ers:isEqual src="list.isChecked" value="true">
		                                    <label for="template_<%=list.value%>"><%=list.name%></label>
                                            &nbsp;
		                                </ers:isEqual> 
		                            </ers:foreach>
			                    </td>
		                    </tr>
                            <tr>
                        </tr>
                        </table>
                        <table class="length">
                            <tr>
                                <th>
                                    ※アクティブフラグ
                                </th>
                                <td>
                                    <%=.Model.active_name %>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- table end -->
                </form>
                    <!-- next start-->
                    <div class="ERS_next">
                        <form action="<%=.sec_url%>top/cms/asp/cms_contents_modify_complete.asp" name="bill_cancel" id="bill_cancel">
                            <div class="ERS_next">
                                <p class="center">
                                    <input type="submit" value="登録する" id="duplicate_submit" name="modify_btn" alt="登録する" />
                                </p>
                            </div>
                        </form>
                    </div>
                    <!-- next end-->

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/cms_contents_modify.asp?eck=1" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->

	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" id="ctl00_Img1" /></a></p>
	</div>
                <!-- page_top end-->
                <br class="release_b" />
            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
