﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title>
        <%=.Model.contents_name_admin%><ers:message code="cms.cms_free_list.title" /> - <%=.browser_title%>
    </title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
    <script type="text/javascript">
        var $jquery_flexgrid = $.noConflict(true);
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
    
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->

        <!-- container start -->
        <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><%=.Model.contents_name_admin%><ers:message code="cms.cms_free_list.list"></h2>
                </div>
                <!-- title end -->

                <!-- error message start -->
                <ers:dispError /><ers:dispInfo /><br />
                <!-- error message end -->

                <!-- search start -->
                <div class="ERS_table">
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_list.asp" method="post" group_name="non_search_condition">
                        <table class="length">
                            <tbody>
                                <tr class="color_ptn2">
                                    <th>
                                        <ers:message code="common.ListRefinersTitle"/>
                                    </th>
                                </tr>
                                <tr>
                                    <td class="cms_free_list">
                                        <ers:message code="cms_free_list_KeywordSearch">
                                        <input type="text" class="w_200" name="keyword" value="<%=.Model.keyword%>" /><br />
                                        <ers:message code="cms.cms_free_list.Search">
                                        <br /><br />
                                        <ers:label code="posted_date"/>
                                        <input type="text" class="datepicker_date w_100" name="posted_date_from" value="<ers:formatDate src=".Model.posted_date_from" value="yyyy/MM/dd" />" />
                                        &nbsp;～&nbsp;
                                        <input type="text" class="datepicker_date w_100" name="posted_date_to" value="<ers:formatDate src=".Model.posted_date_to" value="yyyy/MM/dd" />" />
                                        <br /><br />
                                        <ers:message code="cms_free_list_PostStatus"/>
                                        <input type="checkbox" id="containsActive" name="containsActive" value="true" <ers:isEqual src=".Model.containsActive" value="true">checked="checked"</ers:isEqual> />
                                        <label for="active1"><ers:message code="cms_free_list_Posted"></label>&nbsp;
                                        <input type="checkbox" id="containsBefore" name="containsBefore" value="true" <ers:isEqual src=".Model.containsBefore" value="true">checked="checked"</ers:isEqual> />
                                        <label for="active2"><ers:message code="cms_free_list_Pending"></label>&nbsp;
                                        <input type="checkbox" id="containsAfter" name="containsAfter" value="true" <ers:isEqual src=".Model.containsAfter" value="true">checked="checked"</ers:isEqual> />
                                        <label for="active3"><ers:message code="cms_free_list_DisplayOut"></label>&nbsp;
                                        <input type="checkbox" id="containsNonActive" name="containsNonActive" value="true" <ers:isEqual src=".Model.containsNonActive" value="true">checked="checked"</ers:isEqual> />
                                        <label for="active4"><ers:message code="cms_free_list_Private"></label>
                                        <br /><br />
                                        <div>
                                            <center>
                                                <input type="submit" name="search" value="<ers:label code="common_search" />" />
                                                &nbsp;&nbsp;
                                                <input type="button" value="<ers:label code="common_show_all" />" onclick="location.href='<%=.sec_url%>top/cms/asp/cms_free_list.asp?contents_code=<%=.Model.contents_code %>';" />
                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- search end -->

                <!-- count start -->
                <div class="ERS_search">
                    <span style="float: left">
                        <ers:isNotEqual src=".Model.recordCount" value="0">
                            <ers:message code="common.registered" value=".Model.recordCount"/>
                        </ers:isNotEqual>
                        <ers:isEqual src=".Model.recordCount" value="0">
                            <%=.Model.noSearchResultMessage%>
                        </ers:isEqual>
                    </span>
                    <br /><br />
                    <!-- enter_new start -->
                    <ers:isNotEqual src=".Model.template_count" value="0">
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_select_templete.asp" method="post">
                    </ers:isNotEqual>
                    <ers:isEqual src=".Model.template_count" value="0">
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_regist.asp" method="post">
                    <input type="hidden" name="template_code" value="<%=.Model.template_code%>" />
                    </ers:isEqual>
                        <input type="submit" value="<ers:label code="common_sign_up" />" />
                    </form>
                    <!-- enter_new end -->
                </div>
                <!-- count end -->

                <!-- item_table start -->
                <div class="flexigrid item_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="60"></th>
	                            <th width="45"><ers:message code="cms_free_list_Preview"></th>
                                <th width="90"><ers:label code="posted_date"/></th>
                                <th width="90"><ers:message code="cms_free_list_LastModifed"></th>
                                <th width="95"><ers:label code="update_user"/></th>
                                <th width="200"><ers:message code="cms_free_list_Title"></th>
                                <th width="70"><ers:message code="cms_free_list_PostStatus"/></th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:foreach variable="item" src=".Model.itemList" roopcounter="cnt">
                                <tr>
                                    <td>
                                        <form action="<%=.sec_url%>top/cms/asp/cms_free_modify.asp" method="post">
                                            <input type="hidden" name="article_code" value="<%=item.article_code%>" />
                                            <input type="submit" value="<ers:label code="common_edit" />" />
                                        </form>
                                    </td>
                                    <td>
							            <a href="<%=.Model.preview_site_url%>top/cms/asp/news_detail_preview.asp?article_code=<%=item.article_code%>&admin_ransu=<%=.Model.admin_ransu %>&admin_ssl_ransu=<%=.Model.admin_ssl_ransu %>&user_cd=<%=.Model.user_cd %>&" target="_blank"><input type="button" name="" id="" value="<ers:label code="common_preview" />" /></a>
                                    </td>
                                    <td><ers:formatDate src="item.posted_date" /></td>
                                    <td><%=item.utime%></td>
                                    <td><%=item.user_name%></td>
                                    <td><%=item.title%></td>
                                    <td><ers:message src="item.active"/></td>
                                </tr>
                            </ers:foreach>
                        </tbody>
                    </table>
                </div>
                <!-- item_table end -->

                <!-- page_send start -->
                <ers:partial file="pager.htm" partialModel=".Pager" />
                <!-- page_send end -->

                <br class="release_b" />
                <br class="release_b" />

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
            <!-- contents end -->

            <br class="release_b" />
        </div>
        <!-- container end -->

        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>