﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><%=.Model.contents_name_admin%><ers:message code="cms.cms_free_list.title" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
    
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->

        <!-- container start -->
        <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            <ers:message code='login.login.Javascript' />
                        </p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><%=.Model.contents_name_admin %><ers:message code="common.process_complete.Title"></h2>
                </div>
                <!-- title end -->

                <!-- box start -->
                <div class="ERS_box">
                    <p><ers:message code="common.process_complete.Message"></p>
                    <br /><br />
                    ⇒&nbsp;&nbsp;
                    <a href="<%=.sec_url%>top/cms/asp/cms_free_list.asp?contents_code=<%=.Model.contents_code%>">
                        <ers:message code="cms.cms_free_modify.BackList">
                    </a>
                </div>
                <!-- box end -->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" id="ctl00_Img1" alt="<ers:message code="common.ImageAlt">" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
            <!-- contents end -->

            <br class="release_b" />
        </div>
        <!-- container end -->

        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>