﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title>コンテンツ新規登録 <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/cms_table.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/venue_selection.js"></script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            このページではJavaScriptを使用しています。<br />
                            JavaScript対応のブラウザでの閲覧を推奨します。</p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2>コンテンツ新規登録</h2>
                </div>
                <!-- title end -->
                <ers:dispError /><br />

                <form action="<%=.sec_url%>top/cms/asp/cms_contents_regist_confirm.asp" method="post" name="store_form" id="store_form" enctype="multipart/form-data">
                    <!-- table start -->
                    <div class="ERS_table">
                        <table class="length">
                            <tr>
                                <th>
                                    コンテンツコード
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="contents_code" name="contents_code" value="<%=.Model.contents_code %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    コンテンツ名
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="contents_name" name="contents_name" value="<%=.Model.contents_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    コード名
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="code_name" name="code_name" value="<%=.Model.code_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    タイトル
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="title_name" name="title_name" value="<%=.Model.title_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    サブタイトル
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="sub_title_name" name="sub_title_name" value="<%=.Model.sub_title_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    本文
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="body_name" name="body_name" value="<%=.Model.body_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    追記
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="add_body_name" name="add_body_name" value="<%=.Model.add_body_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    掲載期間
                                </th>
                                <td>
                                    <input type="text" class="w_400" id="period_name" name="period_name" value="<%=.Model.period_name %>" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    リンクURL1-5
                                </th>
                                <td>
                                    <select name="link_count" id="link_count">
				                        <option value="5"<ers:isEqual src=".Model.link_count" value="5"> selected="selected"</ers:isEqual >>5</option>
				                        <option value="4"<ers:isEqual src=".Model.link_count" value="4"> selected="selected"</ers:isEqual >>4</option>
                                        <option value="3"<ers:isEqual src=".Model.link_count" value="3"> selected="selected"</ers:isEqual >>3</option>
				                        <option value="2"<ers:isEqual src=".Model.link_count" value="2"> selected="selected"</ers:isEqual >>2</option>
                                        <option value="1"<ers:isEqual src=".Model.link_count" value="1"> selected="selected"</ers:isEqual >>1</option>
                                        <option value="0"<ers:isEqual src=".Model.link_count" value="0"> selected="selected"</ers:isEqual >>表示されていない</option>
			                        </select>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    ファイルリンク1-5
                                </th>
                                <td>
                                    <select name="file_count" id="file_count">
				                        <option value="5"<ers:isEqual src=".Model.file_count" value="5"> selected="selected"</ers:isEqual >>5</option>
				                        <option value="4"<ers:isEqual src=".Model.file_count" value="4"> selected="selected"</ers:isEqual >>4</option>
                                        <option value="3"<ers:isEqual src=".Model.file_count" value="3"> selected="selected"</ers:isEqual >>3</option>
				                        <option value="2"<ers:isEqual src=".Model.file_count" value="2"> selected="selected"</ers:isEqual >>2</option>
                                        <option value="1"<ers:isEqual src=".Model.file_count" value="1"> selected="selected"</ers:isEqual >>1</option>
                                        <option value="0"<ers:isEqual src=".Model.file_count" value="0"> selected="selected"</ers:isEqual >>表示されていない</option>
			                        </select>
                                </td>
                            </tr>
                            <ers:partial file="template.htm" />
                        </table>
                        <table class="length">
                            <tr id="active">
                                <th class="w_110">
                                    ※アクティブフラグ<br />
                                </th>
                                <td style="width: 500px">
                                    <input type="checkbox" name="active" id="ctl00_cpHolder_ckb_1" value="1" <ers:isEqual src=".Model.active" value="1"> checked="checked"</ers:isEqual > />
                                    <label for="ctl00_cpHolder_ckb_1">
                                        ※チェックを外すと一時保存の状態となります。
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- table end -->

                    <!-- next start-->
                    <div class="ERS_next">
	                        <div class="ERS_next">
		                        <p class="center">
                                    <input type="submit" value="確認する" name="regist_btn" alt="確認する" />
                                    <input type="hidden" id="regist_btn" name="regist_btn" value="true" />
		                        </p>
	                        </div>
                        <br class="release_b" />
                    </div>
                    <!-- next end-->
                </form>

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/cms_content_list.asp" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back">" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->
                <!-- page_top start-->
	<div class="ERS_page_top">
		<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" id="ctl00_Img1" /></a></p>
	</div>
                <!-- page_top end-->
            <br class="release_b" />
        </div>
        <!-- contents end -->
        <br class="release_b" />
    </div>
    <!-- container end -->
    <!-- footer start-->
    <ers:partial file="footer.htm" />
    <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
