﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title>コンテンツ完了 <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            このページではJavaScriptを使用しています。<br />
                            JavaScript対応のブラウザでの閲覧を推奨します。</p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2>コンテンツ処理完了</h2>
                </div>
                <!-- title end -->

                <form action="store_mail_text_complete.html" method="post" name="store_form" id="store_form">
                    <!-- table start -->
                    <div class="ERS_table">
                        <!-- box start -->
                        <div class="ERS_box">
                            <p>処理が正常に完了しました。</p>
                            <br /><br />
                            ⇒&nbsp;&nbsp;<a href="<%=.sec_url%>top/cms/asp/cms_content_list.asp">【記事一覧へ】</a>
                        </div>
                        <!-- box end -->
                    </div>
                </form>
                <!-- table end -->
                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p>
                        <a href="#ERS_wrapper">
                            <img value="ページのトップへ" id="ctl00_Img1" alt="ページのトップへ" /></a></p>
                </div>
                <!-- page_top end-->
                <br class="release_b" />
            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
