﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><ers:message code="cms.cms_free_index.Tittle" /> - <%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/cms.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<script type="text/javascript" src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
<!-- jquery ui end -->
<!-- flexgrid start -->
<!-- flexgrid end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
<script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	$(".pulldown li").hover(function(){
		$("span",$(this)).css("backgroundColor","#555");
		$("span",$(this)).css("color","#fff");
		$("p",$(this)).show();
	},function(){
		$("span",$(this)).css("backgroundColor","#fff");
		$("span",$(this)).css("color","#424242");
		$("p",$(this)).hide();
		$(".menu",$(this)).show();
	});
});
</script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->
                <!-- title start -->
	            <div id="ERS_title">
		            <h2><ers:message code="cms.cms_free_index.Tittle"></h2>
	            </div>
                <!-- title end -->
                <!-- table start -->
                <div class="ERS_table">
                    <div class="ERS_cms">
                        <ul class="clearfix">
                            <ers:foreach variable="free" src=".Model.free_list" roopcounter="i">
		                        <li>・&nbsp;&nbsp;<a href="<%=.sec_url%>top/cms/asp/cms_free_list.asp?contents_code=<%=free.contents_code %>"><%=free.contents_name_admin %></a></li>
                            </ers:foreach>
	                    </ul>
                        <br /><br />
                    </div>
                </div>
                <!-- table end -->
                <!-- page_top start-->
	            <div class="ERS_page_top">
		            <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
	            </div>
                <!-- page_top end-->
                <br class="release_b" />
            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
