﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><message code="cms.index.Tittle" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
    <script type="text/javascript">
        var $jquery_flexgrid = $.noConflict(true);
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <!-- flexgrid start -->
    <link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
    <!-- flexgrid end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->
                <!-- title start -->
                <div id="ERS_title">
                    <h2><message code="cms.index.Tittle" /></h2>
                </div>
                <!-- title end -->
                <div>
                    <span style="float: left">
                        <p>
                            <ers:isNotEqual src=".Model.recordCount" value="0"><ers:message code="common.registered" value="<ers:formatNumber src=".Model.recordCount" />" /></ers:isNotEqual><ers:isEqual src=".Model.recordCount" value="0"><%=.Model.noSearchResultMessage%></ers:isEqual>
                        </p>
                    </span>
                    <br /><br />
                    <input type="button" name="" id="" value="<ers:message code="cms.cms_free_regist.Head" />" onclick="location.href='<%=.sec_url%>top/cms/asp/cms_contents_regist.asp';" />
                </div>
                <div class="flexigrid item_table">
                    <table>
                        <thead>
                            <tr>
                                <th width="53"></th>
                                <th width="91"><ers:message code="cms_free_list_LastModifed" /></th>
                                <th width="90"><ers:label code="contents_code" /></th>
                                <th width="200"><ers:message code="cms.cms_content_list.content_name" /></th>
                                <th width="60"><ers:label code="common_status" /></th>
                            </tr>
                        </thead>
                        <ers:foreach variable="item" src=".Model.list">
                            <tr>
                                <td>
                                    <input type="button" value="<ers:label code="common_edit" />" onclick="location.href='<%=.sec_url%>top/cms/asp/cms_contents_modify.asp?id=<%=item.id %>'" />
                                </td>
                                <td><%=item.utime%></td>
                                <td><%=item.contents_code%></td>
                                <td><%=item.contents_name%></td>
                                <td><%=item.w_active%></td>
                            </tr>
                        </ers:foreach>
                    </table>
                </div>

                <!-- page_send start -->
                <ers:isNotEqual src=".Model.recordCount" value="0">
                  <span style="float: right">
                       <ers:partial file="pager.htm" partialModel=".Pager" />
                    </span>
                </ers:isNotEqual>
                <!-- page_send end -->
                <br class="release_b" />
                <br class="release_b" />

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
                </div>
                <!-- page_top end-->
                <br class="release_b" />
            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
