﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><%=.Model.contents_name%><ers:message code="cms.cms_free_select_templete.Head"> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/cms_table.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>

<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->

        <!-- container start -->
        <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            このページではJavaScriptを使用しています。
                            <br />
                            JavaScript対応のブラウザでの閲覧を推奨します。
                        </p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><ers:message code="cms.cms_free_select_templete.Head"></h2>
                </div>
                <!-- title end -->

                <!-- table start -->
                <div class="ERS_table">
                    <p>※<ers:message code="cms.cms_free_select_templete.Selectmsg"></p>
                    <div align="right">
                        <image src="<%=.sec_url%>images/symbols.gif" style="height: 20px; width: 224px;" />
                    </div><br />
<ers:foreach variable="item" src=".Model.template" roopcounter="cnt">
                    <table class="length" cellspacing="0" cellpadding="0" style="width:162px;float:left">
                        <tr>
                            <th>
                                <%=item.template_type %>
                            </th>
                        </tr>
                        <tr>
                            <td class="cms_free_list">
                                <center>
                                    <image src="<%=.sec_url%>images/<%=item.template_file_path %>" style="height: 150px; width: 120px;" />
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td class="cms_free_list">
                                <center>
                                    <form action="<%=.sec_url%>top/cms/asp/cms_free_regist.asp" method="post">
                                        <input type="hidden" name="template_code" value="<%=item.template_code %>" />
                                        <input type="submit" class="w_40" value="<ers:label code="common_select" />" />
                                    </form>
                                </center>
                            </td>
                        </tr>
                    </table>
</ers:foreach>
                </div>
                <!-- table end -->
                
                <br class="release_b" />

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_list.asp" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" id="ctl00_Img1" alt="<ers:message code="common.ImageAlt">" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
            <!-- contents end -->

            <br class="release_b" />
        </div>
        <!-- container end -->

        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>