﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><%=.Model.contents_name_admin%><ers:message code="cms.cms_free_list.title" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/chk_duplicate_submit.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/chk_duplicate_submit.js"></script>
    <script type="text/javascript">
        function TagSearch() {
            try {
                window.open("<%=.sec_url%>top/cms/asp/common_tag_list.asp", "_blank", "width=970,height=400,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,status=yes");
                return false;
            } catch (e) { }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.cms_main ul,.cms_append ul').css({ 'list-style': 'initial','padding-left': '2em' });
            $('.cms_main ul li li,.cms_append ul li li').css({ 'list-style': 'circle' });
            $('.cms_main ul li li li,.cms_append ul li li li').css({ 'list-style': 'square' });
            $('.cms_main ol,.cms_append ol').css({ 'padding-left': '2em' });
        });
    </script>
</head>
    
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->

        <!-- container start -->
        <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><%=.Model.contents_name_admin %><ers:message code="cms.cms_free_regist.Head"></h2>
                </div><br />
                <!-- title end -->

                <!-- main start-->
                <div class="ERS_table">

                    <!-- confirm_form start-->
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_regist_complete.asp" method="post" name="store_form" id="store_form">
                        <table class="length">
                            <tr class="color_ptn2">
                                <th colspan="2"><ers:message code="cms.cms_free_modify.MngInfo"></th>
                            </tr>
                            <tr>
                                <th><ers:label code="create_name" /></th>
                                <td><%=.Model.login_user%></td>
                            </tr>
                        </table>
                        <table class="length">
                            <tr>
                                <th>
                                    <ers:label code="posted_date"/>
                                </th>
                                <td>
                                    <ers:formatDate src=".Model.posted_date" value="yyyy/MM/dd" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <%=.Model.period_name %>
                                </th>
                                <td>
                                    <%=.Model.period_from%>
                                    ～
                                    <%=.Model.period_to%>
                                </td>
                            </tr>
                            <ers:isNotEqual src=".Model.code_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <%=.Model.code_name %>
                                    </th>
                                    <td>
                                        <%=.Model.product_code%>
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.title_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <%=.Model.title_name %>
                                    </th>
                                    <td>
                                        <%=.Model.title%>
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.sub_title_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <%=.Model.sub_title_name %>
                                    </th>
                                    <td>
                                        <%=.Model.sub_title%>
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.body_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <%=.Model.body_name %>
                                    </th>
                                    <td>
                                        <ers:multiLine src=".Model.body" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.add_body_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <%=.Model.add_body_name %>
                                    </th>
                                    <td>
                                        <ers:multiLine src=".Model.add_body" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>

                            <!-- preview start -->
                                <tr>
                                    <th>
                                          <ers:label code="common_preview" />
                                    </th>
                                    <td>
                                        <div class="cms_main">
                                            <div class="txt">
                                                <p><ers:formatHtml src=".Model.body" /></p>
                                            </div>
                                        </div>
                                        <div class="cms_append">
                                            <div class="txt">
                                                <p><ers:formatHtml src=".Model.add_body" /></p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <!-- preview end -->

                            <!-- images start -->
<ers:table src=".Model.free_img_group_records" name="free_img_group_records" record_key="record_key" variable="group_record">
                                <tr>
                                    <th><%=group_record.img_item_name%></th>
                                    <td>
                                        <table style="border:0px; margin:0px 0px 0px 0px;">
<ers:table src="group_record.free_img_records" name="free_img_records" parent_record_key="record_key" record_key="inner_record_key" variable="img_record">
                                            <tr>
                                        <ers:isNotEqual src="img_record.temp_image_file_name" value="" >
                                            <script type="text/javascript">
                                                document.write('<img width="100" src="<%=.pc_sec_url%>up/cms/news/<%=img_record.temp_image_file_name %>?' + new Date().getTime() + '" />');
                                            </script>
                                        </ers:isNotEqual>
                                            </tr>
</ers:table>
                                        </table>
                                    </td>
                                </tr>
</ers:table>
                            <!-- images end -->

                        </table>

                        <!-- URL start -->
                        <div id="url">
                            <table class="length">
<ers:table src=".Model.free_link_records" name="free_link_records" record_key="link_record_key" variable="record">
                                <tr>
                                    <th>
                                        <ers:label code="link_string" /><%=record.number %>
                                    </th>
                                    <td>
                                        <%=record.link_string%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <ers:label code="link_url" /><%=record.number %>
                                    </th>
                                    <td>
                                        <%=record.link_url%>
                                    </td>
                                </tr>
</ers:table>
                            </table>
                        </div>
                        <!-- URL end -->

                        <!-- file start -->
                        <div id="file">
                        <table class="length">
<ers:table src=".Model.free_file_records" name="free_file_records" record_key="file_record_key" variable="record">
	                            <tr>
	                                <th>
	                                     <ers:label code="file_string" /><%=record.number %>
	                                </th>
	                                <td>
	                                    <%=record.file_string%>
	                                </td>
	                            </tr>
	                            <tr>
	                                <th>
	                                    <ers:label code="news_pdf" /><%=record.number %>
	                                </th>
	                                <td>
                                        <%=record.news_pdf_detail_filename%>
	                                </td>
	                            </tr>
</ers:table>
                        </table>
                        </div>
                        <!-- file end -->

                        <!-- active start -->
                        <table class="length">
                            <tr>
                                <th>※<ers:label code="news_article_t.active" /></th>
                                <td><%=.Model.active_name %></td>
                            </tr>
                        </table>
                        <!-- active end -->

                        <!-- next start-->
                        <div class="ERS_next">
                            <p class="center">
                                <input type="submit" value="<ers:label code="common_register" />" alt="登録する" />
                            </p>
                        </div>
                        <!-- next end-->

                    </form>
                    <!-- confirm_form end-->
                </div>
                <!-- main end-->

                <!-- back start-->
                <div class="ERS_back">
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_regist.asp?eck=1" method="post">
                        <p><input type="submit" value="<< <ers:label code="common_back" />" class="btn01" /></p>
                    </form>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" id="ctl00_Img1" alt="<ers:message code="common.ImageAlt">" /></a></p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
            <!-- contents end -->

            <br class="release_b" />
        </div>
        <!-- container end -->

        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>
