﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><%=.Model.contents_name_admin%><ers:message code="cms.cms_free_list.title" /> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/cms_table.css" type="text/css" title="base_layout" media="screen,print" />
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
    <script type="text/javascript">
        var $jquery_flexgrid = $.noConflict(true);
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>

    <!-- PLUPLOAD -->

    <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css" type="text/css" />-->
    <link rel="stylesheet" href="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css" />
    <link rel="stylesheet" href="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/css/deprecated-ui-dialog.css" type="text/css" />

    <script type="text/javascript" src="<%=.sec_url%>js/deprecated_jquery.js"></script>

    <!-- production -->
    <script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/ui.plupload.templete.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/jquery.ui.plupload/jquery.ui.plupload.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/plupload-2.1.1/js/i18n/ja.js"></script>
    <!-- /PLUPLOAD -->

    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/image_uploader.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/venue_selection.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<!-- TinyMCE -->
<script type="text/javascript" src="<%=.sec_url%>js/tiny_mce.js?elements=body,add_body"></script>
<!-- /TinyMCE -->
    <script type="text/javascript">
        window.onload = function () {
            try {
                document.getElementById("product_code_disp").innerHTML = document.getElementById("product_code").value;
            } catch (e) { }
        };
    </script>
    <script type="text/javascript">
        function getProductInfo(obj) {
            try {
                $("#product_code_disp").text(obj["product_code"]);
                $("#scode").val(obj["scode"]);
            } catch (e) { }
            return true;
        }
    </script>
    <script type="text/javascript">
        function TagSearch(reco_number) {
            try {
                window.open("<%=.sec_url%>top/cms/asp/common_tag_list.asp", "_blank", "width=970,height=400,menubar=no,toolbar=no,scrollbars=yes,resizable=yes,status=yes");
                return false;
            } catch (e) { }
        }
    </script>

    <script type="text/javascript" >

    $(function () {

        <ers:foreach src=".Model.free_file_records" variable="file_record" roopcounter="detail_cnt">

        $('#file_record_key_<%=detail_cnt%>_news_pdf_detail').InitFileUploader({
            multipart_params: {
                "temp_folder": '<%=file_record.news_pdf_temp_folder%>\\',
                "file_identifier": '<%=file_record.file_identifier%>'
            },
            <ers:isEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<%=.pc_sec_url%>images/cms/news/<%=file_record.file_real_name%>'),
            </ers:isEqual>
            <ers:isNotEqual src=".Model.IsInitialize" value="true">
            add_files: ErsImageValues.AddFilesBuilder('<ers:foreach src="file_record.news_pdf_detail" variable="record">,<%=.pc_sec_url%>images_temp/<%=file_record.news_pdf_temp_folder%>/<%=record.file_identifier%><%=record.news_pdf_file_name%></ers:foreach>'),
            </ers:isNotEqual>

            url_send_to: '<%=.sec_url%>top/api/asp/file_upload.asp',
            domain: '<%=.sec_url%>',
            record_key: 'file_record_key_<%=detail_cnt%>_news_pdf_detail',
            parent_record_key: 'file_record_key_<%=detail_cnt%>',
            param_name: 'news_pdf_file_name',
            bindable: true,
            filters_extensions: '*',
            filters_title: 'All files',
            custom_pl_options: { 
                max_file_count: 1
            },
            onRefreshViewBox: ErsImageValues.IsBrowserIE(),
            disable_browser: {
                IE: [7,8,9]
            }
        });

        $('form[name="store_form"]').initForm('file_record_key_<%=detail_cnt%>_news_pdf_detail');

        </ers:foreach>

    });
</script>
</head>

<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">

        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->

        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->

        <!-- container start -->
        <div id="ERS_container">

            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->

            <!-- contents start -->
            <div id="ERS_contents">

                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p>
                            このページではJavaScriptを使用しています。
                            <br />
                            JavaScript対応のブラウザでの閲覧を推奨します。
                        </p>
                    </div>
                </noscript>
                <!-- noscript end -->

                <!-- title start -->
                <div id="ERS_title">
                    <h2><%=.Model.contents_name_admin %><ers:message code="cms.cms_free_regist.Head"></h2>
                </div>
                <!-- title end -->

                <!-- error message start -->
                <ers:dispError /><ers:dispInfo /><br />
                <!-- error message end -->

                <!-- main start-->
                <div class="ERS_table">

                    <!-- template start -->
                    <table class="side">
                        <tr align="center">
                            <th><ers:message code="cms.cms_free_modify.SelectedTemplate"></th>
                        </tr>
                        <tr align="center">
                            <td>
                                <image src="<%=.sec_url%>images/<%=.Model.template_file_path%>" style="height: 150px; width: 120px;" />
                                <br /><br />
                                <image src="<%=.sec_url%>images/symbols.gif" style="height:20px;width:200px; " />
                            </td>
                        </tr>
                    </table>
                    <!-- template end -->

                    <!-- regist_form start -->
                    <form action="<%=.sec_url%>top/cms/asp/cms_free_regist_confirm.asp" method="post" name="store_form" id="store_form" enctype="multipart/form-data">
                        <table class="length">
                            <tr class="color_ptn2">
                                <th colspan="2"><ers:message code="cms.cms_free_modify.MngInfo"></th>
                            </tr>
                            <tr>
                                <th><ers:label code="create_name" /></th>
                                <td><%=.Model.login_user%></td>
                            </tr>
                        </table>
                        <table class="length">
                            <tr>
                                <th>
                                    ※<ers:label code="posted_date"/>
                                </th>
                                <td>
                                    <input type="text" class="datepicker_date w_100" id="posted_date" name="posted_date" value="<ers:formatDate src=".Model.posted_date" value="yyyy/MM/dd" />" />
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    ※
                                    <%=.Model.period_name %>
                                </th>
                                <td>
                                    <input type="text" class="datepicker_start w_95" id="period_from" name="period_from" value="<ers:formatDate src=".Model.period_from" value="yyyy/MM/dd HH:mm:ss" />" />
                                    &nbsp;～&nbsp;
                                    <input type="text" class="datepicker_end w_95" id="period_to" name="period_to" value="<ers:formatDate src=".Model.period_to" value="yyyy/MM/dd HH:mm:ss" />" />
                                    <br />
                                    ※<ers:message code="cms.cms_free_modify.SetDate">
                                </td>
                            </tr>
                            <ers:isNotEqual src=".Model.code_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src=".Model.code_use_flg" value="Required">※</ers:isEqual>
                                        <%=.Model.code_name %>
                                    </th>
                                    <td>
                                        <span id="product_code_disp"><%=.Model.product_code %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="button" class="w_100" value="商品番号検索" onclick="javascript:openPopupNewWindow('../../item/asp/common_item_search.asp','1110', '550');" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.title_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src=".Model.title_use_flg" value="Required">※</ers:isEqual>
                                        <%=.Model.title_name %>
                                    </th>
                                    <td>
                                        <input type="text" class="w_400" id="title" name="title" value="<%=.Model.title %>" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.sub_title_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src=".Model.sub_title_use_flg" value="Required">※</ers:isEqual>
                                        <%=.Model.sub_title_name %>
                                    </th>
                                    <td>
                                        <input type="text" class="w_400" id="sub_title" name="sub_title" value="<%=.Model.sub_title %>" />
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.body_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src=".Model.body_use_flg" value="Required">※</ers:isEqual>
                                        <%=.Model.body_name %>
                                    </th>
                                    <td>
                                        <textarea name="body" cols="100" rows="20" ><%=.Model.body%></textarea><br />
                                        <ers:message code="cms.cms_free_modify.HTML">
                                    </td>
                                </tr>
                            </ers:isNotEqual>
                            <ers:isNotEqual src=".Model.add_body_use_flg" value="Hide">
                                <tr>
                                    <th>
                                        <ers:isEqual src=".Model.add_body_use_flg" value="Required">※</ers:isEqual>
                                        <%=.Model.add_body_name %>
                                    </th>
                                    <td>
                                        <textarea name="add_body" cols="100" rows="20"><%=.Model.add_body%></textarea><br />
                                        <ers:message code="cms.cms_free_modify.HTML">
                                    </td>
                                </tr>
                            </ers:isNotEqual>

                            <!-- images start -->
<ers:table src=".Model.free_img_group_records" name="free_img_group_records" record_key="img_record_key" variable="group_record">
                                <tr>
                                    <th><%=group_record.img_item_name%></th>
                                    <td>
                                        <table style="border:0px; margin:0px 0px 0px 0px;">
<ers:table src="group_record.free_img_records" name="free_img_records" parent_record_key="img_record_key" record_key="inner_record_key" variable="img_record">
                                            <tr>
                                                <td style="border:0px;">
                                                    <ers:isNotEqual src="img_record.img_file_name" value="" >
                                                        <img src="<%=.pc_sec_url%>images/cms/news/<%=img_record.img_file_name %>" type="width" width="<%=img_record.img_width %>" /><br />
                                                        <input id="file_delete<%=img_record.img_count %>" name="<%=inner_record_key %>file_delete" value="true" type="checkbox" <ers:isEqual src="img_record.file_delete" value="true"> checked="checked"</ers:isEqual> />&nbsp;<label for="file_delete<%=img_record.img_count %>">削除</label>
                                                    </ers:isNotEqual>
                                                    <input type="file" name="<%=inner_record_key %>news_image" />
                                                </td>
                                            </tr>
</ers:table>
                                        </table>
                                        <br />
                                        <ers:message code="cms.cms_free_modify.FileImage" />
                                    </td>
                                </tr>
</ers:table>
                            <!-- images end -->

                        </table>

                        <!-- URL start -->
                        <div id="url">
                            <table class="length">
<ers:table src=".Model.free_link_records" name="free_link_records" record_key="link_record_key" variable="record">
                                <tr>
                                    <th>
                                        <ers:label code="link_string" /><%=record.number %>
                                    </th>
                                    <td>
                                        <input type="text" class="w_200" name="<%=link_record_key %>link_string" value="<%=record.link_string%>" /><br />
                                     <ers:message code="cms.cms_free_modify.Text">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <ers:label code="link_url" /><%=record.number %>
                                    </th>
                                    <td>
                                        <input type="text" class="w_400" name="<%=link_record_key %>link_url" value="<%=record.link_url%>" />
                                    </td>
                                </tr>
</ers:table>
                            </table>
                        </div>
                        <!-- URL end -->

                        <!-- file start -->
                        <div id="file">
                        <div id="Div1">
	                        <table class="length">
<ers:table src=".Model.free_file_records" name="free_file_records" record_key="file_record_key" variable="record">
	                            <tr>
	                                <th>
	                                    <ers:label code="file_string" /><%=record.number %>
	                                </th>
	                                <td>
	                                    <input type="text" class="w_200" name="<%=file_record_key %>file_string" value="<%=record.file_string%>" /><br />
	                                     <ers:message code="cms.cms_free_modify.Attachment">
	                                </td>
	                            </tr>
	                            <tr>
	                                <th>
	                                   <ers:label code="news_pdf" /><%=record.number %>
	                                </th>
	                                <td>
	                                    <div id="<%=file_record_key %>news_pdf_detail">
                                        <p>Your browser doesn't have Flash, Silverlight or HTML5 support</p>
                                        </div><br />
	                                    <ers:message code="cms.cms_free_modify.FileReg">
                                        <ers:table src="record.news_pdf_detail" variable="file_record" parent_record_key="file_record_key" name="news_pdf_detail" record_key="news_pdf_detail">
                                        </ers:table>
	                                </td>
	                            </tr>
</ers:table>
                            </table>
                        </div>
                        </div>
                        <!-- file end -->
                        
                        <!-- active start -->
                        <table class="length">
                            <tr id="active">
                                <th class="w_110">※<ers:label code="news_article_t.active" /></th>
                                <td style="width: 500px">
                                    <input id="ctl00_cpHolder_ckb_1" name="active" value="1" type="checkbox" <ers:isEqual src=".Model.active" value="1">checked="checked"</ers:isEqual> />
                                    <label for="ctl00_cpHolder_ckb_1">※<ers:message code="cms.cms_free_modify.Active"></label>
                                </td>
                            </tr>
                        </table>
                        <!-- active end -->

                        <!-- next start-->
                        <div class="ERS_next">
                            <p class="center">
                                <input type="submit" value="<ers:label code="common_confirm" />" alt="確認する" />
                            </p>
                        </div>
                        <br class="release_b" />
                        <!-- next end-->

                    </form>
                    <!-- regist_form end -->
                </div>
                <!-- main start-->

                <!-- back start-->
                <div class="ERS_back">
                    <ers:isNotEqual src=".Model.templateCount" value="0">
                        <form action="<%=.sec_url%>top/cms/asp/cms_free_select_templete.asp" method="post">
                            <p>
                                <input type="submit" value="<< <ers:label code="common_back" />" class="btn01" />
                            </p>
                        </form>
                    </ers:isNotEqual>
                    <ers:isEqual src=".Model.templateCount" value="0">
                        <form action="<%=.sec_url%>top/cms/asp/cms_free_list.asp" method="post">
                            <p>
                                <input type="submit" value="<< <ers:label code="common_back" />" class="btn01" />
                            </p>
                        </form>
                    </ers:isEqual>
                </div>
                <!-- back end-->

                <!-- page_top start-->
                <div class="ERS_page_top">
                    <p>
                        <a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" id="ctl00_Img1" alt="<ers:message code="common.ImageAlt">" /></a>
                    </p>
                </div>
                <!-- page_top end-->

                <br class="release_b" />
            </div>
            <!-- contents end -->

            <br class="release_b" />
        </div>
        <!-- container end -->

        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->

    </div>
    <!-- wrapper end -->
</body>
</html>