﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
        <title>
            <%=.Model.contents_name%>
                <%=.Model.contents_name%>
                    ファイルライブラリ一覧
                    <%=.browser_title%>
        </title>
        <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css"
        title="base_layout" media="screen,print" />
        <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css"
        title="base_layout" media="screen,print" />
        <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css"
        title="base_layout" media="screen,print" />
        <script type="text/javascript" src="<%=.sec_url%>js/jquery.js">
        </script>
        <!-- jquery ui start -->
        <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css"
        rel="stylesheet" />
        <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js">
        </script>
        <!-- jquery ui end -->
        <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js">
        </script>
        <script type="text/javascript" src="<%=.sec_url%>js/common.js">
        </script>
        <script type="text/javascript" src="<%=.sec_url%>tinymce/jscripts/tiny_mce/tiny_mce.js">
        </script>
        <link media="screen" rel="stylesheet" href="<%=.sec_url%>css/colorbox.css"
        />
        <script type="text/javascript" language="javascript" src="<%=.sec_url%>js/jquery.colorbox.js">
        </script>
        <!--clorbox-->
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                //Examples of how to assign the ColorBox event to elements
                $(".group1").colorbox({
                    rel: 'group1'
                });
                $(".group2").colorbox({
                    rel: 'group2',
                    transition: "fade"
                });
                $(".group3").colorbox({
                    rel: 'group3',
                    transition: "none",
                    width: "75%",
                    height: "75%"
                });
                $(".group4").colorbox({
                    rel: 'group4',
                    slideshow: true
                });
                $(".ajax").colorbox();
                $(".youtube").colorbox({
                    iframe: true,
                    innerWidth: 425,
                    innerHeight: 344
                });
                $(".iframe").colorbox({
                    iframe: true,
                    width: "50%",
                    height: "70%"
                });

                $(".inline").colorbox({
                    inline: true,
                    width: "50%"
                });
                $(".callbacks").colorbox({
                    onOpen: function () {
                        alert('onOpen: colorbox is about to open');
                    },
                    onLoad: function () {
                        alert('onLoad: colorbox has started to load the targeted content');
                    },
                    onComplete: function () {
                        alert('onComplete: colorbox has displayed the loaded content');
                    },
                    onCleanup: function () {
                        alert('onCleanup: colorbox has begun the close process');
                    },
                    onClosed: function () {
                        alert('onClosed: colorbox has completely closed');
                    }
                });

                //Example of preserving a JavaScript event for inline calls.
                $("#click").click(function () {
                    $('#click').css({
                        "background-color": "#f00",
                        "color": "#fff",
                        "cursor": "inherit"
                    }).text("Open this window again and this message will still be here.");
                    return false;
                });
            });
        </script>
    
       <!-- tinymce-->
        <script type="text/javascript">
            tinyMCE.init({
            <ers:partial file="tinymce.htm" />
                mode: "textareas",

                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_statusbar_location: "bottom",
                theme_advanced_resizing: true,

                // Example content CSS (should be your site CSS)
                content_css: "<%=.sec_url%>css/contents.css,<%=.sec_url%>css/width.css,<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css",

                // valid_elements: "a[href|target],strong/b[class],em/i[class],strike[class],u[class],p[class|align],ol,ul,li,br,img[class|src|border=0|alt|hspace|vspace|width|height|align],sub,sup,blockquote[dir|style],table[border=0|cellspacing|cellpadding|width|height|class|align],tr[rowspan],td[colspan|rowspan|width|height],div[class|align],span[class|align],pre[class|align],address[class|align],h1[class|align],h2[class|align],h3[class|align],h4[class|align],h5[class|align],h6[class|align],hr",
                valid_elements: "*[*]",
                // Drop lists for link/image/media/template dialogs
                template_external_list_url: "lists/template_list.js",
                external_link_list_url: "lists/link_list.js",
                external_image_list_url: "lists/image_list.js",
                media_external_list_url: "lists/media_list.js",

                //Style formats
                style_formats: [{
                    title: 'Bold text',
                    inline: 'b'
                },
                {
                    title: 'Red text',
                    inline: 'span',
                    styles: {
                        color: '#ff0000'
                    }
                },
                {
                    title: 'Red header',
                    block: 'h1',
                    styles: {
                        color: '#ff0000'
                    }
                },
                {
                    title: 'Example 1',
                    inline: 'span',
                    classes: 'example1'
                },
                {
                    title: 'Example 2',
                    inline: 'span',
                    classes: 'example2'
                },
                {
                    title: 'Table styles'
                },
                {
                    title: 'Table row 1',
                    selector: 'tr',
                    classes: 'tablerow1'
                }],

                // Replace values for the template plugin
                template_replace_values: {
                    username: "Some User",
                    staffid: "991234"
                }
            });
            
            //功能：获取TinyMce编辑器的内容
            //参数：editorId——编辑器的id
            //返回：内容字符串；如果失败，返回空字符串
            function GetTinyMceContent(editorId) {

                return tinyMCE.getInstanceById(editorId).getBody().innerHTML;
            }

            //功能：设置TinyMce编辑器的内容
            //参数：editorId——编辑器的id
            //        content——内容
            //返回：（无）
            function SetTinyMceContent(editorId, content) {

                tinyMCE.getInstanceById(editorId).getBody().innerHTML = content;

            }
        </script>

        <!--Right click menu-->
        <style type="text/css">
            .menu{ width:200px; background:#EEE; border:1px solid #006699; position:absolute;
            display:none;}a{ color:#006699; text-decoration:none;}.menu a{ display:block;
            padding:5px;}.menu a:hover{ background:#006699; color:#FFFFFF; }
        </style>
        <script type="text/javascript">
            window.onload = function () {

                document.oncontextmenu = function (oEvent) {

                    var target, x, y, menu;
                    if (window.event) {
                        target = event.srcElement;
                        var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
                        var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
                        x = event.clientX + scrollX;
                        y = event.clientY + scrollY;
                        // x = event.clientX + document.body.scrollLeft - document.body.clientLeft;
                        //  y = event.clientY + document.body.scrollTop - document.body.clientTop;
                    } else {
                        target = oEvent.target;
                        x = oEvent.pageX;
                        y = oEvent.pageY;
                    }
                    var Cts1 = "<%=.Model.IdStr1%>";
                    var Cts2 = "<%=.Model.IdStr2%>";
                    var Cts3 = "<%=.Model.IdStr3%>";

                    if (Cts1.indexOf(target.id) != -1 || Cts2.indexOf(target.id) != -1 || Cts3.indexOf(target.id) != -1) {

                    }

                    if (Cts1.indexOf("area") != -1) {
                        if (!Cts1.indexOf(target.id) != -1) {
                            Cts1 += target.id;
                        }
                    }

                    if (Cts2.indexOf("regional") != -1) {
                        if (!Cts2.indexOf(target.id) != -1) {
                            Cts2 += target.id;
                        }
                    }

                    if (Cts3.indexOf("rel") != -1) {
                        if (!Cts3.indexOf(target.id) != -1) {
                            Cts3 += target.id;
                        }
                    }

                    if (Cts1.indexOf(target.id) != -1) {
                        menu = document.getElementById("menu1");
                        var c = target.id;
                        var d = document.getElementById(c).getAttribute("title");

                        setcurrentproj(c);

                        document.getElementById("postion").value = d;
                    } else if (Cts2.indexOf(target.id) != -1) {
                        menu = document.getElementById("menu1");
                        var c = target.id;
                        var d = document.getElementById(c).getAttribute("title");
                        document.getElementById("postion").value = d;
                    } else if (Cts3.indexOf(target.id) != -1) {
                        menu = document.getElementById("menu1");
                        var c = target.id;
                        var d = document.getElementById(c).getAttribute("title");
                        document.getElementById("postion").value = d;
                    }
                    else if (target.id == "Area") {
                        menu = document.getElementById("menu1");
                        var c = target.id;
                        var d = document.getElementById(c).getAttribute("rev");
                        document.getElementById("postion").value = d;
                    }
                    if (menu) {
                        menu.style.left = x + "px";
                        menu.style.top = y + "px";
                        menu.style.display = "block";
                    }
                    return false;
                };
                document.onclick = function () {
                    document.getElementById("menu1").style.display = "none";
                };
            };
        </script>
   <!--  show, save,add,delete-->
        <script language="javascript" type="text/javascript">
            function setcurrentproj(c) {
                if (c.toLowerCase().indexOf("_ers") >= 0) {
                    document.getElementById("current_proj").value = "1";
                }

                if (c.toLowerCase().indexOf("_mobile") >= 0) {
                    document.getElementById("current_proj").value = "2";
                }
            }

            function show(d1, path) {
                if (document.getElementById(d1).style.display == 'none') {
                    document.getElementById(d1).style.display = 'block'; //显示
                    if (path == "file.jpg") {
                        var c = document.getElementById(d1).getAttribute("title");
//                        document.getElementById("p").value = document.getElementById(d1).getAttribute("title");
//                        document.getElementById("l").value = "1";
                        document.getElementById("path").value = document.getElementById(d1).getAttribute("title");
                        document.getElementById("link").value = "1";

                        setcurrentproj(d1);

                        //document.getElementById("Image1").click();
                        var xmlhttp;

                        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {// code for IE6, IE5
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }

                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                document.getElementById("start").innerHTML = xmlhttp.responseText.substring(xmlhttp.responseText.indexOf("<p id=\"start\">"), xmlhttp.responseText.indexOf("<div id=\"over\">"));

                                tinyMCE.init({
                                    // General options
                                    mode: "textareas",
                                    //mode: "exact",
                                    theme: "advanced",
                                    plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks,imagemanager",

                                    // Theme options
                                    theme_advanced_buttons1: "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
                                    theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                                    theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                                    theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak,restoredraft,visualblocks",
                                    theme_advanced_toolbar_location: "top",
                                    theme_advanced_toolbar_align: "left",
                                    theme_advanced_statusbar_location: "bottom",
                                    theme_advanced_resizing: true,

                                    // Example content CSS (should be your site CSS)
                                    content_css: "css/content.css,css/layout.css,css/contents.css,css/cms.css,css/width.css,lib/jquery-ui/css/flick/jquery-ui.css",

                                    // valid_elements: "a[href|target],strong/b[class],em/i[class],strike[class],u[class],p[class|align],ol,ul,li,br,img[class|src|border=0|alt|hspace|vspace|width|height|align],sub,sup,blockquote[dir|style],table[border=0|cellspacing|cellpadding|width|height|class|align],tr[rowspan],td[colspan|rowspan|width|height],div[class|align],span[class|align],pre[class|align],address[class|align],h1[class|align],h2[class|align],h3[class|align],h4[class|align],h5[class|align],h6[class|align],hr",
                                    valid_elements: "*[*]",
                                    verify_html: false,
                                    encoding: null,
                                    // Drop lists for link/image/media/template dialogs
                                    template_external_list_url: "lists/template_list.js",
                                    external_link_list_url: "lists/link_list.js",
                                    external_image_list_url: "lists/image_list.js",
                                    media_external_list_url: "lists/media_list.js",

                                    //Style formats
                                    style_formats: [{
                                        title: 'Bold text',
                                        inline: 'b'
                                    },
                {
                    title: 'Red text',
                    inline: 'span',
                    styles: {
                        color: '#ff0000'
                    }
                },
                {
                    title: 'Red header',
                    block: 'h1',
                    styles: {
                        color: '#ff0000'
                    }
                },
                {
                    title: 'Example 1',
                    inline: 'span',
                    classes: 'example1'
                },
                {
                    title: 'Example 2',
                    inline: 'span',
                    classes: 'example2'
                },
                {
                    title: 'Table styles'
                },
                {
                    title: 'Table row 1',
                    selector: 'tr',
                    classes: 'tablerow1'
                }],

                                    // Replace values for the template plugin
                                    template_replace_values: {
                                        username: "Some User",
                                        staffid: "991234"
                                    }
                                });
                                xmlhttp = null;


                            }
                        }


                        xmlhttp.open("GET", "<%=.sec_url%>top/cms/asp/editor.asp?ts=" + Math.random() + "&link=1&path=" + document.getElementById("path").value + "&link1=" + document.getElementById("Hi").value + "&strHTML=" + document.getElementById("strHTML").value + "&postion=" + document.getElementById("postion").value + "&filetype=" + document.getElementById("filetype").value + "&filen=" + document.getElementById("f").value + "&link2=" + "-1" + "" + "&current_proj=" + document.getElementById("current_proj").value + "", true);
                        xmlhttp.send();
                    }
                } else {
                    document.getElementById(d1).style.display = 'none'; //隐藏
                    var c = document.getElementById(d1).getAttribute("title");
                }
            }
            function del() {
                document.getElementById("link").value = "3";
                document.getElementById("Image2").click();
            }

     



            //Html结构转字符串形式显示 支持<br>换行

            function ToHtmlString(htmlStr) {

                return toTXT(htmlStr).replace(/\&lt\;br[\&ensp\;|\&emsp\;]*[\/]?\&gt\;|\r\n|\n/g, "<br/>");

            }

            //Html结构转字符串形式显示

            function toTXT(str) {

                var RexStr = /\<|\>|\"|\'|\&|　| /g

                str = str.replace(RexStr,

    function (MatchStr) {

        switch (MatchStr) {

            case "&lt;":

                return "<";

                break;

            case "&gt":

                return ">";

                break;

            case "\"":

                return "\"";

                break;

            case "'":

                return "'";

                break;

            case "&":

                return "&";

                break;

            case " ":

                return " ";

                break;

            case "　":

                return "　";

                break;

            default:

                break;

        }

    }

    )

                return str;

            }
            function replaceRevertAllHTML(txt) {
                var value = txt
                var leftCarr = /&lt;/g;
                var rightCarr = /&gt;/g;
                var dan = /&#39;/g;
                var and = /&amp;/g;
                var shuang = /&quot;/g;
                var space = /&nbsp;/g;
             
                value = value.replace(leftCarr, "<");
                value = value.replace(rightCarr, ">");
                value = value.replace(shuang, "\"");
                value = value.replace(dan, "\'");
                value = value.replace(and, "&");
                value = value.replace(space, " ");
                value = value.replace(/&/g, "@@");
                return value;
            }
 
            function hander() {
                                var xmlhttp;

                                if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                                    xmlhttp = new XMLHttpRequest();
                                }
                                else {// code for IE6, IE5
                                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                }
                                xmlhttp.onreadystatechange = function () {
                                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                        location.href = location.href;
                                        xmlhttp = null;
                                    }
                                }
                              
                                var d = new Date();
                                var c = d.getTime();
                                var e = replaceRevertAllHTML(GetTinyMceContent("edt5"));
                                xmlhttp.open("POST", "<%=.sec_url%>top/cms/asp/editor.asp", true);
                                xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                                xmlhttp.send("ts=" + c + "&link=4&path=" + document.getElementById("path").value + "&strHTML=" + replaceRevertAllHTML(GetTinyMceContent("edt5")) + "&current_proj=" + document.getElementById("current_proj").value + "");

                           
              
            }
            function ad() {
                var xmlhttp;

                if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
                    xmlhttp = new XMLHttpRequest();
                }
                else {// code for IE6, IE5
                    xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
                xmlhttp.onreadystatechange = function () {
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        var e = xmlhttp.responseText.substring(xmlhttp.responseText.indexOf("<div id=\"ERS_sidemenu\">"), xmlhttp.responseText.indexOf("<div id=\"end\">"));
                        var d = xmlhttp.responseText.indexOf("<div id=\"ERS_sidemenu\">");
                        var f = xmlhttp.responseText.indexOf("<div id=\"end\">");
                        document.getElementById("ERS_sidemenu").innerHTML = xmlhttp.responseText.substring(xmlhttp.responseText.indexOf("<div id=\"ERS_sidemenu\">"), xmlhttp.responseText.indexOf("<div id=\"end\">"));
                        xmlhttp = null;
                    }
                }

                xmlhttp.open("GET", "<%=.sec_url%>top/cms/asp/editor.asp?ts=" + Math.random() + "&link=" + document.getElementById("link").value + "&path=" + document.getElementById("path").value + "&link1=" + document.getElementById("Hi").value + "&strHTML=" + document.getElementById("strHTML").value + "&postion=" + document.getElementById("postion").value + "&filetype=" + document.getElementById("filetype").value + "&filen=" + document.getElementById("f").value + "&current_proj=" + document.getElementById("current_proj").value + "", true);
                    xmlhttp.send();
                
            }
        </script>
    </head>
    
    <body>
        <!-- wrapper start -->
        <div id="ERS_wrapper">
            <!-- header start -->
            <ers:partial file="header.htm" />
            <!-- header end -->
            <!-- g_navi start -->
            <ers:partial file="g_navi/cms.htm" />
            <!-- g_navi end -->
            <!-- container start -->
            <div id="ERS_container">
                <!-- sidemenu start -->
                <div id="ERS_sidemenu">
                <fieldset>
                    <legend>\ers\<%=.Model.name%></legend>
                     <div>
              
	                <h3> <div><img src="<%=.sec_url%>images/folder.jpg" /><A style="color:Black" id="Area" rev="<%=.Model.name%>" ><%=.Model.name%></A></div></h3>
                    <div>
                    <ers:foreach src=".Model.Directory_ersFront" variable="item" >
	                <h3> <div>&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=item.bmppath%>" /><A id="<%=item.id1%>" title="<%=.Model.name%>\<%=item.directoy%>" href="javascript: onClick=show('<%=item.directoy%>_ers','<%=item.bmppath%>') "> <%=item.directoy%></A></div></h3>
                    <div title="<%=.Model.name%>\<%=item.directoy%>" id="<%=item.directoy%>_ers" style="display:none">
                        <ers:foreach variable="file" src="item.l2" >
                       
                         <h3> <div>&nbsp;&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=file.bmppath%>" /><A id="<%=file.id2%>" title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>" href="javascript: onClick=show('<%=file.file_name%>_ers','<%=file.bmppath%>') "> <%=file.file_name%></A></div></h3>
                           <!-- <a ><input id="bt" type="submit" name="submit"  onclick="show("<%=file.file_name%>")"  src="<%=.nor_url%>images/cms/send_btn.jpg" value="<%=file.file_name%>" /></a>  <br />-->
                               <div title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>" id="<%=file.file_name%>_ers" style="display:none">
                        <ers:foreach variable="key" src="file.l3" >
                        
                           
                     <h3> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=key.bmppath%>" /><A   id="<%=key.id3%>" title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>\<%=key.filename%>"  href="javascript: onClick=show('<%=key.filename%>','<%=key.bmppath%>') "> <%=key.filename%></A></div></h3>
                           <!-- <a ><input id="Image1" type="submit" name="submit"   src="<%=.nor_url%>images/cms/send_btn.jpg" value="<%=key.filename%>" /></a>  <br />-->

                     <div title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>\<%=key.filename%>" id="<%=key.filename%>" style="display:none">
                     </div>
                        </ers:foreach>
                    </div>
                      
                        </ers:foreach>
                    </div>
                    </ers:foreach>
                </div>
            </div>
            </fieldset>
            <fieldset>
                    <legend>\ersMobile\<%=.Model.name%></legend>
                     <div>
              
	                <h3> <div><img src="<%=.sec_url%>images/folder.jpg" /><A style="color:Black" id="Area_mobile" rev="<%=.Model.name%>" ><%=.Model.name%></A></div></h3>
                    <div>
                    <ers:foreach src=".Model.Directory_ersMobile" variable="item" >
	                <h3> <div>&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=item.bmppath%>" /><A id="<%=item.id1%>" title="<%=.Model.name%>\<%=item.directoy%>" href="javascript: onClick=show('<%=item.directoy%>_mobile','<%=item.bmppath%>') "> <%=item.directoy%></A></div></h3>
                    <div title="<%=.Model.name%>\<%=item.directoy%>" id="<%=item.directoy%>_mobile" style="display:none">
                        <ers:foreach variable="file" src="item.l2" >
                       
                         <h3> <div>&nbsp;&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=file.bmppath%>" /><A id="<%=file.id2%>" title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>" href="javascript: onClick=show('<%=file.file_name%>_mobile','<%=file.bmppath%>') "> <%=file.file_name%></A></div></h3>
                           <!-- <a ><input id="bt" type="submit" name="submit"  onclick="show("<%=file.file_name%>")"  src="<%=.nor_url%>images/cms/send_btn.jpg" value="<%=file.file_name%>" /></a>  <br />-->
                               <div title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>" id="<%=file.file_name%>_mobile" style="display:none">
                        <ers:foreach variable="key" src="file.l3" >
                        
                           
                     <h3> <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="<%=.sec_url%>images/<%=key.bmppath%>" /><A   id="<%=key.id3%>" title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>\<%=key.filename%>"  href="javascript: onClick=show('<%=key.filename%>','<%=key.bmppath%>') "> <%=key.filename%></A></div></h3>
                           <!-- <a ><input id="Image1" type="submit" name="submit"   src="<%=.nor_url%>images/cms/send_btn.jpg" value="<%=key.filename%>" /></a>  <br />-->

                     <div title="<%=.Model.name%>\<%=item.directoy%>\<%=file.file_name%>\<%=key.filename%>" id="<%=key.filename%>" style="display:none">
                     </div>
                        </ers:foreach>
                    </div>
                      
                        </ers:foreach>
                    </div>
                    </ers:foreach>
                </div>
            </div>
            </fieldset>
            <div id="end"></div>
            </div>
            
                <div id="menu1" class="menu">
                    <a style="color:Black" class="iframe" href="<%=.sec_url%>top/cms/asp/add.asp">
                        Add
                    </a>
                    <a style="color:Black" onclick="del()">
                        Delete
                    </a>
                </div>
              <!--  <form method="post" name="input" action="<%=.sec_url%>top/cms/asp/editor.asp">-->
                    <input type="hidden" id="link" name="link" />
                    <input type="hidden" id="path" name="path" value="<%=.Model.path%>" />
                     <input type="hidden" id="Hi" name="link1" value="<%=.Model.link1%>" />
                    <input type="hidden" id="strHTML" name="strHTML" value="<%=.Model.strHTML%>"
                    />
                    <input type="hidden" id="postion" name="postion" value="<%=.Model.postion%>"
                    />
                     <input type="hidden" id="filetype" name="filetype" value="<%=.Model.filetype%>"
                    />
                    <input type="hidden" id="f" name="filen" value="<%=.Model.filen%>" />

                    <input type="hidden" id="current_proj" name="path" value="<%=.Model.current_proj%>" />
                    <div style="display:none">
                        <input id="Image2" type="submit" onclick="ad()" name="submit2" />
                    </div>
               <!-- </form>-->
              
                <!-- sidemenu end -->
                <!-- contents start -->
                <div id="ERS_contents">
                    <!-- noscript start -->
                    <noscript>
                        <div class="ERS_noscript">
                            <p>
                                このページではJavaScriptを使用しています。
                                <br />
                                JavaScript対応のブラウザでの閲覧を推奨します。
                            </p>
                        </div>
                    </noscript>
                    <!-- noscript end -->
                    <!-- title start -->
                    <div id="ERS_title">
                        <h2>
                            エディタ
                        </h2>
                    </div>
                    <br />
                    <!-- item_table start -->
                    <!--<form method="post" action="<%=.sec_url%>top/cms/asp/editor.asp">-->
                        <input type="hidden" id="article_code" name="filen" value="<%=.Model.filen%>"
                        />
                        <input type="hidden" id="Hidden1" name="path" value="<%=.Model.path%>"
                        />
                        <p id="start">
                            <textarea id="edt5" name="strHTML" cols="146" rows="30">
                                <%=.Model.strHTML%>
                            </textarea>
                             
                            <input id="input1" type="submit" name="SubSave" onclick="hander()" value="Save" />
                            <div id="over"></div>
                        </p>
                        <div id="treeview" style="font-size: 25px; overflow: auto; height: 245px; text-align:left">
                        </div>
                    <!--</form>-->
                    <!-- table end -->

                    <!-- page_top start-->
                    <div class="ERS_page_top">
                        <p>
                            <a href="#ERS_wrapper">
                                <img value="ページのトップへ" alt="ページのトップへ" />
                            </a>
                        </p>
                    </div>
                    <!-- page_top end-->
                    <br class="release_b" />
                </div>
                <!-- contents end -->
                <br class="release_b" />
            </div>
            <!-- container end -->
        </div>
        <!-- wrapper end -->
    </body>

</html>