﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <title><ers:message code="insert_table_UpdateDbInsert"/> - <%=.browser_title%></title>
    <link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
    <link rel="stylesheet" href="<%=.sec_url%>css/item_modify.css" type="text/css" title="base_layout" media="screen,print" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-flexgrid.js"></script>
    <script type="text/javascript">
        var $jquery_flexgrid = $.noConflict(true);
    </script>
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- jquery ui start -->
    <link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
    <!-- jquery ui end -->
    <!-- flexgrid start -->
    <link type="text/css" href="<%=.sec_url%>lib/flexigrid/css/flexigrid.css" rel="stylesheet" />
    <script type="text/javascript" src="<%=.sec_url%>lib/flexigrid/js/flexigrid.js"></script>
    <!-- flexgrid end -->
    <script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
    <script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>

</head>
<body>
    <!-- wrapper start -->
    <div id="ERS_wrapper">
        <!-- header start -->
        <ers:partial file="header.htm" />
        <!-- header end -->
        <!-- g_navi start -->
        <ers:partial file="g_navi/cms.htm" />
        <!-- g_navi end -->
        <!-- container start -->
        <div id="ERS_container">
            <!-- sidemenu start -->
            <ers:partial file="sidemenu/side.htm" partialModel=".sideModel" />
            <!-- sidemenu end -->
            <!-- contents start -->
            <div id="ERS_contents">
                <!-- noscript start -->
                <noscript>
                    <div class="ERS_noscript">
                        <p><ers:message code="login.login.Javascript" /></p>
                    </div>
                </noscript>

                <!-- noscript end -->
                <!-- title start -->
                <div id="ERS_title">
                    <h2><ers:message code="insert_table_UpdateDbInsert"/></h2>
                </div>

                
                <ers:dispError />

                <ers:isEqual src=".Model.isCompleted" value="true">
                <!-- box start -->
                <div class="ERS_box">
                <p>アップロードを完了いたしました。</p>
                </div>
                <!-- box end -->
                </ers:isEqual>

                <form action="insert_table.asp" method="post" name="csv_form" enctype="multipart/form-data">
                    <!-- table start -->
	                    <div class="ERS_table">
		                    <table class="length">
			                    <caption><ers: message code="cms.update_table.BulkAdd"/></caption>
				                    <tr>
					                    <th><ers:message code="insert_table_UpdateDbInsert" /></th>
					                    <td>
						                    <input type="file" id="file_name" name="file_name"/>
					                    </td>
				                    </tr>
		                    </table>
	                    </div>
                    <!-- table end-->

                    <!-- next start-->
	                    <div class="ERS_next">
		                    <p class="center">
			                    <a href="csv_form" class="disp_dialog001"><input type="button" class="btn01" name="btn01" id="btn01" value="<ers:label code="common_send" />" /></a>
                                <input type="hidden" id="isSave" name="isSave" value="1">
		                    </p>
		                    <div id="dialog001" title="<ers:message code="item_item_csv.product.regist.msgbox.Title" />">
			                    <p><ers:message code="common.UploadFile"/></p>
		                    </div>
	                    </div>
                    <!-- next end-->               
                    
                </form>
                <br class="release_b" />


                <div id="ERS_title">
                    <h2><ers:message code="cms.update_table.UploadedFileList"/></h2>
                </div>

                <div class="flexigrid item_table">
                    <table>
                        <thead>
                            <tr>
                             <th width="250"><ers:label code="fileName"/></th>
                                <th width="150"><ers:label code="news_article_t.intime"/></th>
                            </tr>
                        </thead>
                        <ers:foreach variable="item" src=".Model.insert_file_record">
                            <tr>
                                <td><%=item.file_name%></td>
                                <td><%=item.created_date%></td>
                            </tr>
                        </ers:foreach>
                    </table>
                </div>

                <div id="ERS_title">
                    <h2><ers:message code="cms.update_table.ErrorFileList"></h2>
                </div>

                <div class="flexigrid item_table">
                    <table>
                        <thead>
                            <tr>
                          <th width="250"><ers:label code="fileName"/></th>
                                <th width="150"><ers:label code="news_article_t.intime"/></th>
                                <th width="250"><ers:label code="common_download"/></th>
                            </tr>
                        </thead>
                        <ers:foreach variable="item" src=".Model.insert_file_err_record">
                            <tr>
                                <td><%=item.file_name%></td>
                                <td><%=item.created_date%></td>
                                <td>
                                    <form action="download_insert_err_file.asp" method="post" target="_blank">
                                    <input type="submit" value="<ers:label code="common_download"/>" />
                                    <input type="hidden" name="downloadFile" value="<%=item.file_name%>" />
                                    </form>
                                </td>
                            </tr>
                        </ers:foreach>
                    </table>
                </div>


            </div>
            <!-- contents end -->
            <br class="release_b" />
        </div>
        <!-- container end -->
        <!-- footer start-->
        <ers:partial file="footer.htm" />
        <!-- footer end -->
    </div>
    <!-- wrapper end -->
</body>
</html>
