﻿                <!-- rakuten start -->
                <div id="mall_table_<%=partialModel.site_id%>" style="display:none;"> 

                    <!-- flexigrid start -->
                    <div class="flexigrid item_table">

                        <!-- table start -->
                        <table>
                            <thead>
                                <tr>
                                    <th width="50">販売フラグ</th>
                                    <th width="50">非表示フラグ</th>
                                    <th width="100">商品番号</th>
                                    <th width="100">全商品ディレクトリID</th>
                                    <th width="150">販売価格</th>
                                    <th width="100">在庫数表示</th>
                                    <th width="100">タグＩＤ</th>
                                    <th width="100">PC用キャッチコピー</th>
                                    <th width="100">モバイル用キャッチコピー</th>
                                    <th width="100">商品情報レイアウト</th>
                                    <th width="100">のし対応</th>
                                    <th width="100">PC用商品説明文</th>
                                    <th width="100">モバイル用商品説明文</th>
                                    <th width="100">スマートフォン用商品説明文</th>
                                    <th width="100">PC用販売説明文</th>
                                    <th width="100">動画</th>
                                    <th width="100">闇市パスワード</th>
                                    <th width="100">ポイント変倍率</th>
                                    <th width="100">ポイント変倍率適用期間</th>
                                    <th width="100">ヘッダー・フッター・レフトナビ</th>
                                    <th width="100">表示項目の並び順</th>
                                    <th width="100">共通説明文（小）</th>
                                    <th width="100">目玉商品</th>
                                    <th width="100">共通説明文（大）</th>
                                    <th width="100">レビュー本文表示</th>
                                    <th width="100">サイズ表リンク</th>
<!--                                    <th width="100">医薬品説明文</th>
                                    <th width="100">医薬品注意事項</th>
-->                                    <th width="100">二重価格文言管理番号</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ers:table src="partialModel.listProduct" name="listProduct" parent_record_key="partialModel.record_key" record_key="record_key3" variable="rakuten_detail">
                                    <tr>
                                        <td><input type="checkbox" name="<%=record_key3%>mall_flg" id="<%=record_key3%>mall_flg" value="On"<ers:isEqual src="rakuten_detail.mall_flg" value="On"> checked="checked"</ers:isEqual > /></td>
                                        <td><input type="checkbox" name="<%=record_key3%>deleted" id="<%=record_key3%>deleted" value="On"<ers:isEqual src="rakuten_detail.deleted" value="On"> checked="checked"</ers:isEqual > /></td>
                                        <td><%=rakuten_detail.scode%></td>
                                        <td><input type="text" name="<%=record_key3%>manage_id" id="Text17" value="<%=rakuten_detail.manage_id%>" class="w_100" /></td>
                                        <td>&yen;&nbsp;<input type="text" name="<%=record_key3%>price" id="Text19" value="<%=rakuten_detail.price%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>stock_display" id="<%=record_key3%>stock_display" value="<%=rakuten_detail.stock_display%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>tag_id" id="<%=record_key3%>tag_id" value="<%=rakuten_detail.tag_id%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>pc_slogan" id="<%=record_key3%>pc_slogan" value="<%=rakuten_detail.pc_slogan%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>mobile_slogan" id="<%=record_key3%>mobile_slogan" value="<%=rakuten_detail.mobile_slogan%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>product_layout" id="<%=record_key3%>product_layout" value="<%=rakuten_detail.product_layout%>" class="w_100" /></td>
                                        <td><input type="checkbox" name="<%=record_key3%>noshi" id="<%=record_key3%>noshi" value="1" class="w_100"<ers:IsEqual src="rakuten_detail.noshi" value="1"> checked="checked"</ers:IsEqual> /></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>pc_description" id="<%=record_key3%>pc_description"><%=rakuten_detail.pc_description%></textarea></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>mobile_description" id="<%=record_key3%>mobile_description"><%=rakuten_detail.mobile_description%></textarea></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>smartphone_description" id="<%=record_key3%>smartphone_description"><%=rakuten_detail.smartphone_description%></textarea></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>pc_sale_description" id="<%=record_key3%>pc_sale_description"><%=rakuten_detail.pc_sale_description%></textarea></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>movie" id="<%=record_key3%>movie"><%=rakuten_detail.movie%></textarea></td>
                                        <td><input type="text" name="<%=record_key3%>black_market_pass" id="<%=record_key3%>black_market_pass" value="<%=rakuten_detail.black_market_pass%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>point_scale_rate" id="<%=record_key3%>point_scale_rate" value="<%=rakuten_detail.point_scale_rate%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>point_scale_rate_period" id="<%=record_key3%>point_scale_rate_period" value="<%=rakuten_detail.point_scale_rate_period%>" class="datepicker_start w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>header_footer_leftnavi" id="<%=record_key3%>header_footer_leftnavi" value="<%=rakuten_detail.header_footer_leftnavi%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>display_order" id="<%=record_key3%>display_order" value="<%=rakuten_detail.display_order%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>common_description_small" id="<%=record_key3%>common_description_small" value="<%=rakuten_detail.common_description_small%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>deature_product" id="<%=record_key3%>deature_product" value="<%=rakuten_detail.deature_product%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>common_description_large" id="<%=record_key3%>common_description_large" value="<%=rakuten_detail.common_description_large%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>display_review_test" id="<%=record_key3%>display_review_test" value="<%=rakuten_detail.display_review_test%>" class="w_100" /></td>
                                        <td><input type="text" name="<%=record_key3%>size_chart_link" id="<%=record_key3%>size_chart_link" value="<%=rakuten_detail.size_chart_link%>" class="w_100" /></td>
<!--   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>drug_description" id="<%=record_key3%>drug_description"><%=rakuten_detail.drug_description%></textarea></td>
   								        <td><textarea cols="10" rows="2" name="<%=record_key3%>drug_notes" id="<%=record_key3%>drug_notes"><%=rakuten_detail.drug_notes%></textarea></td>
-->                                        <td><input type="text" name="<%=record_key3%>control_number_dual_price_word" id="<%=record_key3%>control_number_dual_price_word" value="<%=rakuten_detail.control_number_dual_price_word%>" class="w_100" /></td>
                                    </tr>
                                </ers:table>
                            </tbody>
            
                    </table>
                        <!-- table end -->

                    </div>
                    <!-- flexigrid end -->

                </div>
                <!-- rakuten end -->
