﻿			    <!-- yahoo start -->
			    <div id="mall_table_<%=partialModel.site_id%>" style="display:none;"> 

				    <!-- flexigrid start -->
				    <div class="flexigrid item_table">
				
					    <!-- table start -->
					    <table>
						    <thead>
							    <tr>
                                    <th width="50">販売フラグ</th>
                                    <th width="50">非表示フラグ</th>
								    <th width="100">商品番号</th>
								    <th width="150">通常販売価格</th>
								    <th width="100">パス</th>
								    <th width="100">使用中のテンプレート</th>
								    <th width="100">キャッチコピー</th>
								    <th width="100">商品説明</th>
								    <th width="100">ひと言コメント</th>
								    <th width="100">商品情報</th>
								    <th width="100">フリースペース</th>
								    <th width="100">フリースペース</th>
								    <th width="100">フリースペース</th>
								    <th width="100">おすすめ商品</th>
								    <th width="100">発売日</th>
								    <th width="100">ポイント倍率</th>
								    <th width="100">META keywords</th>
								    <th width="100">META description</th>
								    <th width="100">販売期間（開始日）</th>
								    <th width="100">販売期間（終了日）</th>
								    <th width="100">販促コード</th>
								    <th width="100">ブランドコード</th>
								    <th width="100">Yahoo!ショッピング製品コード</th>
								    <th width="100">製品コード</th>
								    <th width="100">プロダクトカテゴリ</th>
								    <th width="100">スペック1</th>
								    <th width="100">スペック2</th>
								    <th width="100">スペック3</th>
								    <th width="100">スペック4</th>
								    <th width="100">スペック5</th>
							    </tr>
						    </thead>
						    <tbody>
                                <ers:table src="partialModel.listProduct" name="listProduct" parent_record_key="partialModel.record_key" record_key="record_key2" variable="yahoo_detail">
							        <tr>
                                        <td><input type="checkbox" name="<%=record_key2%>mall_flg" id="<%=record_key2%>mall_flg" value="On"<ers:isEqual src="yahoo_detail.mall_flg" value="On"> checked="checked"</ers:isEqual > /></td>
                                        <td><input type="checkbox" name="<%=record_key2%>deleted" id="<%=record_key2%>deleted" value="On"<ers:isEqual src="yahoo_detail.deleted" value="On"> checked="checked"</ers:isEqual > /></td>
								        <td><%=yahoo_detail.scode%></td>
								        <td>&yen;&nbsp;<input type="text" class="w_120" name="<%=record_key2%>price" id="Text16" value="<%=yahoo_detail.price%>" /></td>
								        <td><input type="text" name="<%=record_key2%>manage_id" id="Text20" value="<%=yahoo_detail.manage_id%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>template" id="<%=record_key2%>template" value="<%=yahoo_detail.template%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>headline" id="<%=record_key2%>headline" value="<%=yahoo_detail.headline%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>caption" id="<%=record_key2%>caption" value="<%=yahoo_detail.caption%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>abstract" id="<%=record_key2%>abstract" value="<%=yahoo_detail.abstract%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>explanation" id="<%=record_key2%>explanation" value="<%=yahoo_detail.explanation%>" class="w_100" /></td>
								        <td><textarea cols="10" rows="2" name="<%=record_key2%>additional1" id="<%=record_key2%>additional1"><%=yahoo_detail.additional1%></textarea></td>
								        <td><textarea cols="10" rows="2" name="<%=record_key2%>additional2" id="<%=record_key2%>additional2"><%=yahoo_detail.additional2%></textarea></td>
								        <td><textarea cols="10" rows="2" name="<%=record_key2%>additional3" id="<%=record_key2%>additional3"><%=yahoo_detail.additional3%></textarea></td>
								        <td><input type="text" name="<%=record_key2%>relevant-links" id="<%=record_key2%>relevant-links" value="<%=yahoo_detail.relevant-links%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>release-date" id="<%=record_key2%>release-date" value="<%=yahoo_detail.release-date%>" class="datepicker_date w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>point-code" id="<%=record_key2%>point-code" value="<%=yahoo_detail.point-code%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>meta-key" id="<%=record_key2%>meta-key" value="<%=yahoo_detail.meta-key%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>meta-desc" id="<%=record_key2%>meta-desc" value="<%=yahoo_detail.meta-desc%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>sale-period-start" id="<%=record_key2%>sale-period-start" value="<%=yahoo_detail.sale-period-start%>" class="datepicker_date w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>sale-period-end" id="<%=record_key2%>sale-period-end" value="<%=yahoo_detail.sale-period-end%>" class="datepicker_date w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>sp-code" id="<%=record_key2%>sp-code" value="<%=yahoo_detail.sp-code%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>brand-code" id="<%=record_key2%>brand-code" value="<%=yahoo_detail.brand-code%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>yahoo-product-code" id="<%=record_key2%>yahoo-product-code" value="<%=yahoo_detail.yahoo-product-code%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>product-code" id="<%=record_key2%>product-code" value="<%=yahoo_detail.product-code%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>product-category" id="<%=record_key2%>product-category" value="<%=yahoo_detail.product-category%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>spec1" id="<%=record_key2%>spec1" value="<%=yahoo_detail.spec1%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>spec2" id="<%=record_key2%>spec2" value="<%=yahoo_detail.spec2%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>spec3" id="<%=record_key2%>spec3" value="<%=yahoo_detail.spec3%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>spec4" id="<%=record_key2%>spec4" value="<%=yahoo_detail.spec4%>" class="w_100" /></td>
								        <td><input type="text" name="<%=record_key2%>spec5" id="<%=record_key2%>spec5" value="<%=yahoo_detail.spec5%>" class="w_100" /></td>
							        </tr>
                                </ers:table>
						    </tbody>
					    </table>
					    <!-- table end -->
					
				    </div>
				    <!-- flexigrid end -->

			    </div>
			    <!-- yahoo end -->
