﻿<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title><%=.browser_title%></title>
<link rel="stylesheet" href="<%=.sec_url%>css/layout.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/contents.css" type="text/css" title="base_layout" media="screen,print" />
<link rel="stylesheet" href="<%=.sec_url%>css/width.css" type="text/css" title="base_layout" media="screen,print" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
<!-- jquery ui start -->
<link type="text/css" href="<%=.sec_url%>lib/jquery-ui/css/flick/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="<%=.sec_url%>js/jquery-ui.js"></script>
<!-- jquery ui end -->
<script type="text/javascript" src="<%=.sec_url%>js/ers_lib.js"></script>
<script type="text/javascript" src="<%=.sec_url%>js/common.js"></script>
</head>
<body>

<!-- wrapper start -->
<div id="ERS_wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- g_navi start -->
<ers:partial file="g_navi/index.htm" />
<!-- g_navi end -->

<!-- container start -->
	<div id="ERS_container">

<!-- noscript start -->
	<noscript>
		<div class="ERS_noscript">
			<p><ers:message code="login.login.Javascript" /></p>
		</div>
	</noscript>
<!-- noscript end -->


<!-- sidemenu start -->
<ers:partial file="sidemenu/index.htm" partialModel=".sideModel" />
<!-- sidemenu end -->

<!-- contents start -->
		<div id="ERS_contents">
			<form name="" method="post" action="login_change.html" id="">

<!-- title start -->
		<div id="ERS_title">
			<h2 class="icon-home"><ers:message code="Home.index.TitleTopPage" /></h2>
		</div>
<!-- title end -->
<ers:dispInfo />

<!-- table start-->
	<div class="ERS_table">
		<h3><span id="ctl00_cpHolder_lblCurDate"></span>　<ers:message code="Home.index.MsgPreliminaryResult" value=".Model.CurDate" /></h3>

		<table class="side">
			<tr>
				<th class="w_45">&nbsp;</th>
				<th class="w_93"><ers:message code="top_page_order_amount" /></th>
				<th class="w_93"><ers:message code="top_page_no_of_order" /></th>
				<th class="w_93"><ers:message code="top_page_sales_amount" /></th>
				<th class="w_93"><ers:message code="top_page_no_of_sales" /></th>
				<th class="w_93"><ers:message code="top_page_cancel" /></th>
			</tr>
			
			<tr>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblDateTitle"><ers:label code="current_date" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblCurTotal"><ers:formatCurrency src=".Model.TodayOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblCurNum"><ers:formatNumber src=".Model.TodayOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblSalesTotal"><ers:formatCurrency src=".Model.TodaySales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblSalesNum"><ers:formatNumber src=".Model.TodaySales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl0_lblCancelNum"><ers:formatNumber src=".Model.TodayCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000">
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblDateTitle"><ers:message code="this_week" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblCurTotal"><ers:formatCurrency src=".Model.ThisWeekOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblCurNum"><ers:formatNumber src=".Model.ThisWeekOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblSalesTotal"><ers:formatCurrency src=".Model.ThisWeekSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblSalesNum"><ers:formatNumber src=".Model.ThisWeekSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl1_lblCancelNum"><ers:formatNumber src=".Model.ThisWeekCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblDateTitle"><ers:message code="last_week" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblCurTotal"><ers:formatCurrency src=".Model.LastWeekOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblCurNum"><ers:formatNumber src=".Model.LastWeekOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblSalesTotal"><ers:formatCurrency src=".Model.LastWeekSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblSalesNum"><ers:formatNumber src=".Model.LastWeekSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl2_lblCancelNum"><ers:formatNumber src=".Model.LastWeekCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000">
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblDateTitle"><ers:message code="this_month" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblCurTotal"><ers:formatCurrency src=".Model.ThisMonthOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblCurNum"><ers:formatNumber src=".Model.ThisMonthOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblSalesTotal"><ers:formatCurrency src=".Model.ThisMonthSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblSalesNum"><ers:formatNumber src=".Model.ThisMonthSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl3_lblCancelNum"><ers:formatNumber src=".Model.ThisMonthCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblDateTitle"><ers:message code="last_month" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblCurTotal"><ers:formatCurrency src=".Model.LastMonthOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblCurNum"><ers:formatNumber src=".Model.LastMonthOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblSalesTotal"><ers:formatCurrency src=".Model.LastMonthSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblSalesNum"><ers:formatNumber src=".Model.LastMonthSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl4_lblCancelNum"><ers:formatNumber src=".Model.LastMonthCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #000000">
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblDateTitle"><ers:message code="this_year" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblCurTotal"><ers:formatCurrency src=".Model.ThisYearOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblCurNum"><ers:formatNumber src=".Model.ThisYearOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblSalesTotal"><ers:formatCurrency src=".Model.ThisYearSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblSalesNum"><ers:formatNumber src=".Model.ThisYearSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl5_lblCancelNum"><ers:formatNumber src=".Model.ThisYearCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>

			<tr>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblDateTitle"><ers:message code="last_year" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblCurTotal"><ers:formatCurrency src=".Model.LastYearOrders.order_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblCurNum"><ers:formatNumber src=".Model.LastYearOrders.order_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblSalesTotal"><ers:formatCurrency src=".Model.LastYearSales.sale_stotal" /></span></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblSalesNum"><ers:formatNumber src=".Model.LastYearSales.sale_dcount" /></span><ers:label code="common_item" /></td>
				<td align="right"><span id="ctl00_cpHolder_ListView1_ctrl6_lblCancelNum"><ers:formatNumber src=".Model.LastYearCancelNum" /></span><ers:label code="common_item" /></td>
			</tr>
		</table>

		<table class="length">
			<tr>
				<th><ers:message code="total_no_of_member" /></th>
				<td align="right"><span id="ctl00_cpHolder_lblMemberAllCount"><ers:formatNumber src=".Model.MemberAllCount" /></span><ers:label code="common_person" /></td>
			</tr>
			<tr>
				<th><ers:message code="rank_by_no_of_member" /></th>
				<td align="left"><ers:formatHtml src=".Model.DisplayRank" /><br />
                <br />
                (<ers:message code="prev_rank_update" />:<%=.Model.PreviousUpdate%> / <ers:message code="next_rank_update" />:<%=.Model.NextUpdate%> )

                </td>
			</tr>
			<tr>
				<th><ers:message code="total_points_issued" /></th>
				<td align="right"><span id="ctl00_cpHolder_lblAllPoint"><ers:formatNumber src=".Model.AllPoint" /></span></td>
			</tr>
			<tr>
				<th><ers:message code="no_of_points_used" /></th>
				<td align="right"><span id="ctl00_cpHolder_lblUsedPoint"><ers:formatNumber src=".Model.UsedPoint" /></span></td>
			</tr>
		</table>

		<h3><ers:message code="Home.index.MsgBestSellingProd" /></h3>
		<table class="side">
			<tr>
				<th class="w_45"><ers:label code="rank" /></th>
				<th class="w_391"><ers:label code="rakuten.product_name" /></th>
				<th class="w_150"><ers:label code="rakuten.product_number" /></th>
			</tr>
<ers:foreach src=".Model.GetTop" variable="topfive"  roopcounter="j">
			<tr>
				<td><%=topfive.rank%></td>
				<td><%=topfive.sname%></td>
				<td><%=topfive.scode%></td>
			</tr>
</ers:foreach>
		</table>
	</div>
<!-- table end -->

<!-- page_top start-->
		<div class="ERS_page_top">
			<p><a href="#ERS_wrapper"><img value="<ers:message code="common.ImageAlt">" alt="<ers:message code="common.ImageAlt">" /></a></p>
		</div>
<!-- page_top end-->

<br class="release_b" />

			</form>
		</div>
<!-- contents end -->
<br class="release_b" />

	</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->


</body>
</html>
