<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>IVP ERSv7 ｜ <%=.browser_title%></title>
	<meta name="description" content="IVP ERSv7" />
	<meta name="keywords" content="IVP ERSv7" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<link rel="stylesheet" href="<%=.nor_url%>css/normalize.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/layout.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/contents.css">
	<link rel="stylesheet" href="<%=.nor_url%>css/index.css">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="<%=.nor_url%>css/ie8.css">
	<![endif]-->
	<script src="<%=.nor_url%>js/jquery.js"></script>
	<script src="<%=.nor_url%>js/ers_lib.js"></script>
	<script src="<%=.nor_url%>js/common.js"></script>
	<script src="<%=.nor_url%>js/jquery.tile.min.js"></script>
	<!--[if lte IE 9]>
		<script src="<%=.nor_url%>js/html5shiv.js"></script>
		<script src="<%=.nor_url%>js/ie9.js"></script>
		<script src="<%=.nor_url%>js/css3-mediaqueries.js"></script>
	<![endif]-->
		<script type="text/javascript">
			$(function(){
				$(".ERS_recommend_list div").tile(4);
			});
		</script>

	<!-- suggest start -->
	<ers:partial file="common_header.htm" />
	<!-- GoogleanAlytics start -->
	<ers:partial file="tag_googleanalytics.htm" />
</head>
<body>

<!-- wrapper start -->
<div id="wrapper">

<!-- header start -->
<ers:partial file="header.htm" />
<!-- header end -->

<!-- container start -->
	<div id="container" class="clearfix">

<!-- contents start -->
		<section id="contents">

			<div id="ERS_breadcrumb">
				<p>HOME</p>
			</div>

			<p class="title"><img src="<%=.nor_url%>images/bnr_topb01.png" alt="" /></p>
			<!-- news start -->
			<section id="ERS_news" class="clearfix">
				<h2><img src="<%=.nor_url%>images/mttl_news.png" alt="" /></h2>
				<div class="news_box">
				<ers:foreach src=".Model.news_list" variable="news">
					<p>
						<span class="date">
							<ers:isEqual src="news.template_code" value="6">
							<a href="<%=news.link_url_1 %>">
							</ers:isEqual>
							<ers:formatDate src="news.posted_date" value="yyyy/MM/dd" />
							<ers:isEqual src="news.template_code" value="6">
							</a>
							</ers:isEqual>
						</span>
						<!--<ers:nonencode src="news.title" />-->
						<ers:isNotEqual src="news.template_code" value="6">
							<span class="newsTitle"><a href="<%=.nor_url%>top/cms/asp/news_detail.asp?article_code=<%=news.article_code %>&contents_code=<%=news.contents_code %>&template_code=<%=news.template_code %>"><%=news.title %></a></span>
						</ers:isNotEqual>
					</p>
				</ers:foreach>
				<h4><a href="<%=.nor_url%>top/cms/asp/news_list.asp?contents_code=10000004" >お知らせ一覧</a></h4>
				</div>
			</section>
			<!-- news end -->

			<section id="ERS_recommend" class="clearfix">
			<h2><img src="<%=.nor_url%>images/mttl_item.png" alt="" /></h2>

			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001"><img class="reco_tip" src="<%=.nor_url%>images/pict_item01.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th>内容量</th>
						<td>各商品1週間分</td>
					</tr>
					<tr>
						<th>通常価格</th>
						<td>12,000円（税込）</td>
					</tr>
					<tr>
						<th class="regular_price">定期価格</th>
						<td>定期購入はできません</td>
					</tr>
				</table>
				<p>ERS基本商品を初めてご利用になる方へ。<br />
				使用感をご確認頂く為、1週間<span class="col_01">＊</span>フルに実感できる充実の4品セットがお試しサイズで登場！<br /><br />
				<sup>＊ご利用量によって変動します。</sup></p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1001" class="btn detail_btn" >商品詳細</a></h4>
			</div>

			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101"><img class="reco_tip" src="<%=.nor_url%>images/pict_item02.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th>内容量</th>
						<td>150mL</td>
					</tr>
					<tr>
						<th>通常価格</th>
						<td>2,640円（税込)</td>
					</tr>
					<tr>
						<th class="regular_price">定期価格</th>
						<td>2,160円（税込）</td>
					</tr>
				</table>
				<p>肌を柔らかくし、潤しを浸透させます。保湿化粧水。</p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1101" class="btn detail_btn" >商品詳細</a></h4>
			</div>

			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501"><img class="reco_tip" src="<%=.nor_url%>images/pict_item03.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th>内容量</th>
						<td>36g</td>
					</tr>
					<tr>
						<th>通常価格</th>
						<td>4,800円（税込)</td>
					</tr>
				</table>
				<p>肌に優し成分でうるおいを与え、ふっくらキメの整った肌に保ちます。</p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E1501" class="btn detail_btn" >商品詳細</a></h4>
			</div>

			<div class="ERS_recommend_list">
				<h3><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601"><img class="reco_tip" src="<%=.nor_url%>images/pict_item04.jpg" alt="" /></a></h3>
				<div>
				<table>
					<tr>
						<th>内容量</th>
						<td>36g</td>
					</tr>
					<tr>
						<th>通常価格</th>
						<td>2,800円（税込)</td>
					</tr>
					<tr>
						<th class="regular_price">定期価格</th>
						<td>2,520円（税込）</td>
					</tr>
				</table>
				<p>成分を肌に押し込む化粧水。</p>
				</div>
				<h4><a href="<%=.nor_url%>top/detail/asp/detail.asp?gcode=E2601" class="btn detail_btn" >商品詳細</a></h4>
			</div>

		</section>
<!-- list end -->


		<!-- daily ranking start -->
			<ers:partial file="daily_ranking.htm" />
		<!-- daily ranking end -->

	</section>


<!-- contents end -->

<!-- sidemenu2 start -->
<ers:partial file="hint2/index.htm" />
<!-- sidemenu2 end -->

</div>
<!-- container end -->

<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</body>
</html>
