﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>About</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.sec_url%>css/bootstrap.min.css">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <script src="<%=.sec_url%>js/jquery.js"></script>

    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <ers:partial file="header.htm" />
    <hr />
    <br /><br /><br /><br />
    <div class="container">
        <div id="background_img"></div>
        <div class="row" id="contentlogin">

            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="about">
                    <center>
                    <p><strong>Employee Management System</strong></p><br />
                    EMS Version 1.0.0.0 <br>
                    In relation to Internet Value Provider (IVP) Global Phillipines, <br>
                    this site is for its employee's management of daily reports,
                    employee status, announcement and project related activities.<br><br />
                    </center>
                </div>
            </div>
        </div>
    </div>
    <br /><br />
</body>
</html>
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                        </div>
                </div>
            </div>
        </div>
    </div>
</footer>