﻿<link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

<link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
<link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
<!-- Nav 2-->
<ers:partial file="header.htm"></ers:partial>
<hr />
<div class="container">
    <div class="row">
        <ers:isNotEqual src=".Model.IsValid" value="true">
            <div class="panel panel-danger">
                <div class="panel panel-heading">
                    <strong>Error</strong>
                </div>
                <div class="panel-body">
                    <ers:dispError />
                </div>
            </div>
        </ers:isNotEqual>
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <div class="header">
                    <ers:message code="change_pass_complete"/>
                </div>
                <div class="change-pass-body">
                    <a href="<%=.sec_url%>top/login/asp/login.asp">
                        <input type="button" class="btn btn-lg btn-primary btn-block" value="Return to login Page">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</div>