﻿<link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

<link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
<link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
<!-- Nav 2-->
<ers:partial file="header.htm" />
<hr />
<div class="container">
    <div class="row">
        <ers:isNotEqual src=".Model.IsValid" value="true">
            <div class="panel panel-danger">
                <div class="panel panel-heading">
                    <strong>Error</strong>
                </div>
                <div class="panel-body">
                    <ers:dispError />
                </div>
            </div>
        </ers:isNotEqual>
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <div class="header">
                    <ers:message code="change_pass_msg"/>
                </div>
                <div>
                    <form class="form-signin" method="post" action="<%=.sec_url%>top/login/asp/change_pass2.asp">
                        <input type="password" class="form-control" placeholder="Password" name="password"/>
                        <br />
                        <input type="password" class="form-control" placeholder="Confirm Password" name="password_confirm"/>
                        <br />
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Password">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
</div>

<ers:partial file="footer.htm" />