﻿<link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

<link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
<link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
<script src="<%=.sec_url%>js/jquery.js"></script>
<ers:partial file="header.htm" />
<hr />
<div class="container">
    <div class="row">
        <div>
        
        </div>
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <ers:isNotEqual src=".Model.IsValid" value="true">
                    <div class="panel panel-danger">
                        <div class="panel panel-heading">
                            <strong>Error</strong>
                        </div>
                        <div class="panel-body">

                            <ers:dispError />


                        </div>
                    </div>
                </ers:isNotEqual>
              
                <form class="form-signin" method="post" action="<%=.sec_url%>top/login/asp/forgot_pass2.asp">
                    <input type="text" class="form-control" placeholder="Email" name="email" required autofocus>
                    <br /><br />
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit Password">
                </form>
            </div>
        </div>
    </div>
</div>