﻿<link rel="icon" href="<%=.sec_url%>images/ivp_favicon.png">
<title>Login</title>
<link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
<link href="<%=.sec_url%>css/bootstrap.css" rel="stylesheet">
<script src="<%=.sec_url%>js/jquery.js"></script>
<script>
    $(window).load(function () {
        //if (window.opener != null) {
        //    window.opener.location.reload();
        //    self.close();
        //}
    })
</script>
   <!-- Nav 2-->
<ers:partial file="header.htm"/>

<hr />
<br /><br />
<div class="container">
    <div id="background_img"></div>
    <div class="row" id="contentlogin">
    
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            
            <ers:isNotEqual src=".Model.IsValid" value="true">
                <div class="panel panel-danger">
                    <div class="panel panel-heading">
                        <strong>Error</strong>
                    </div>
                    <div class="panel-body">

                        <ers:dispError />


                    </div>
                </div>

            </ers:isNotEqual>


            <br />
              
                <div class="panel panel-primary">
                    <div class="panel-heading"><center><strong>Login</strong></center></div>
                    <div class="panel-body">

                        <form class="form-signin" method="post" action="<%=.sec_url%>top/login/asp/loginaction.asp">
                            <input type="text" class="form-control" placeholder="Email" name="email" value="<%=.Model.email%>" required autofocus>
                            <input type="password" class="form-control" placeholder="Password" name="password" required>

                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" name="btn_login">
                           
                            <label class="checkbox pull-left">

                                <input type="checkbox" name="email_ck" class="email_ck" value="1"<ers:isNotEqual src=".Model.email" value="">checked="checked"</ers:isNotEqual> />
                                <label for="email_ck"> Remember me</label>

                            </label>
                            <a href="<%=.sec_url%>top/login/asp/forgot_pass.asp" class="pull-right need-help">Forgot password? </a><span class="clearfix"></span>
                        </form>

                    </div>
                </div>
        </div>
    </div>
</div>
<ers:partial file="footer.htm" />

