﻿<script type="text/javascript" src="<%=.sec_url%>js/order.js"></script>
<div class="MemberDetail">
    <table class="Detail">
		<tr>
			<th><ers:message code="phonetic_guide"></th>
			<td class="name">
				<label for="lnamek"><ers:message code="sei"/></label>
                <input type="text" id="lnamek" class="w_100" name="lnamek" value="<%=.Model.lnamek%>" maxlength="100" /><br />
				<label for="fnamek"><ers:message code="mei"/></label>
                <input type="text" id="fnamek" class="w_100" name="fnamek" value="<%=.Model.fnamek%>" maxlength="100" />
			</td>
			<th><ers:message code="cart_shipping_list_name"/></th>
			<td class="name">
                <label for="lname"><ers:message code="l_name"/></label>
                <input type="text" id="lname" class="w_100" name="lname" value="<%=.Model.lname%>" maxlength="100" /><br />
				<label for="fname"><ers:message code="f_name"/></label>
                <input type="text" id="fname" class="w_100" name="fname" value="<%=.Model.fname%>" maxlength="100" />
			</td>
		</tr>
		<tr>
			<th><ers:label code="common_address"/></th>
			<td class="address" colspan="3">
<p id="zip_search_error" class="err" style="display:none"></p>
<span><ers:label code="zip"/></span><input type="text" id="zip" name="zip" maxlength="15" value="<%=.Model.zip%>" />&nbsp;
<input type="submit" class="form_btn" id="zip_flg1" name="zip_flg1" value="<ers:label code="zipsearch_back"/>" /><br />

<span><ers:label code="pref"/></span><select id="pref" name="pref" class="w_100">
<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
</select>
<br />
<span><ers:label code="address"/></span><input type="text" id="address" name="address" value="<%=.Model.address%>"  /><br />
<span><ers:label code="taddress"/></span><input type="text" id="taddress" name="taddress" value="<%=.Model.taddress%>"  /><br />
<span><ers:label code="maddress"/></span><input type="text" id="maddress" name="maddress" value="<%=.Model.maddress%>"  />
			</td>
		</tr>
        <tr><th><ers:label code="e_mail"/></th><td colspan="3"><input name="email" type="text" id="email" maxlength="255" size="40" value="<%=.Model.email%>" /></td></tr>
		<tr>
			<th><label for="tel"><ers:label code="tel"/></label></th>
			<td>
				<input type="text" id="tel" class="w_150" name="tel" value="<%=.Model.tel%>" maxlength="15"  class="ime_disabled" />
			</td>
			<ers:isEqual src=".Model.non_member" value="true">	
			<td colspan="2"></td>
			</ers:isEqual>
			<ers:isNotEqual src=".Model.non_member" value="true">
			<th><ers:label code="sex"/></th>
			<td>
				<!--<ers:foreach variable="option" src=".Model.sexList">
                    <input type="radio" name="sex" value="<%=option.value%>" id="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.sex"> checked="checked"</ers:isEqual>  /><label for="<%=option.value%>"><%=option.name%></label>
                </ers:foreach>-->
                 <select id="sex" name="sex" class="w_100">
					<option value=""></option>
                        <ers:foreach variable="sex_item" src=".Model.sexList">
						    <option value="<%=sex_item.value%>"<ers:isEqual src="sex_item.value" variable=".Model.sex"> selected="selected"</ers:isEqual>><ers:message src="sex_item.name"/></option>
                        </ers:foreach>
				</select>
				
			</td>
			</ers:isNotEqual>
		</tr>
		<ers:isNotEqual src=".Model.non_member" value="true">
 		<tr>
			<th><ers:label code="birth"/></th>
			<td colspan="3">
						<select id="birthday_y" name="birthday_y" class="w_120" onfocus="defaultFocus(this)">
							<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_yList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
</ers:foreach>
						</select>&nbsp;<ers:label code="common_year"/>&nbsp;
						<select id="birthday_m" name="birthday_m" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_mList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>&nbsp;<ers:label code="common_month"/>&nbsp;
						<select id="birthday_d" name="birthday_d" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_dList">
							<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
						</select>&nbsp;<ers:label code="common_day"/>
			</td>
		</tr>
		<tr>
			    <th><ers:label code="common_DM_hope"/></th>
			    <td>
				    <input type="checkbox" name="dm_flg" id="dm_flg" value="1"<ers:IsEqual src=".Model.dm_flg" value="1"> checked="checked"</ers:IsEqual> />
			    </td>
			    <th><ers:label code="common_outbound_hope"/></th>
			    <td>
				    <input type="checkbox" name="out_bound_flg" id="out_bound_flg" value="1"<ers:IsEqual src=".Model.out_bound_flg" value="1"> checked="checked"</ers:IsEqual> />
			    </td>
		    </tr>
       <tr>
			<th><ers:label code="cust_note"/></th>
            <td colspan="4">
                <textarea name="memo" style="width:90%;font-size:12px;"><%=.Model.memo %></textarea>
            </td>
        </tr>
		</ers:isNotEqual>
       <tr>
            <td colspan="4">
                <input type="submit" class="form_btn" name="member_register" value="<ers:label code='common_register'/>" />
                <input type="submit" class="form_btn" name="member_Cancel" value="<ers:label code='common_cancel'/>" />
            </td>
        </tr>
	</table>
</div>


