﻿<div class="MemberDetail">
    <table class="Detail">
		<tr>
			<th><ers:message code="phonetic_guide"/> </th>
			<td class="__customer_namek">
                <%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%>
			</td>
			<th><ers:message code="cart_shipping_list_name"/></th>
			<td class="__customer_name">
                <%=.Model.lname%>&nbsp;<%=.Model.fname%>
			</td>
		</tr>
		<tr>
			<th><label for="tel"><ers:label code="tel"/></label></th>
			<td class="__customer_tel">
				<%=.Model.tel%>
			</td>
			<th><ers:label code="common_address"/></th>
			<td class="__customer_address">
				<ers:label code="common_post"/><%=.Model.zip%>&nbsp;<%=.Model.pref_name%>&nbsp;<%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%>
			</td>
		</tr>
        <tr><th><ers:label code="e_mail"/></th><td colspan="3" class="__customer_email"><%=.Model.email%></td></tr>
        <ers:isEqual src=".Model.page1" value="true">
        <ers:isNotEqual src=".Model.deleted" value="Deleted">
			<ers:isNotEqual src=".Model.non_member" value="true">
		    <tr>
			    <th><ers:label code="birth"/></th>
			    <td>
				    <ers:formatDate src=".Model.birth" />
			    </td>
			    <th><ers:label code="sex"/></th>
			    <td><ers:message src=".Model.w_sex"/>
			    </td>
		    </tr>
		    <tr>
			    <th><ers:label code="common_DM_hope"/></th>
			    <td>
				    <ers:message src=".Model.w_dm_flg"/>
			    </td>
			    <th><ers:label code="common_outbound_hope"/></th>
			    <td>
				    <ers:message src=".Model.w_out_bound_flg"/>
			    </td>
		    </tr>
            <tr>
			    <th><ers:label code="cust_note"/></th>
                <td colspan="4">
                    <ers:multiLine src=".Model.memo" />
                </td>
            </tr>
			</ers:isNotEqual>
            <tr>
                <td colspan="4">
                    <input type="submit" class="form_btn" name="member_modify" value="<ers:label code="common_modify"/>" />
                </td>
            </tr>
        </ers:isNotEqual>
        </ers:isEqual>
	</table>
    <input type="hidden" name="lname" value="<%=.Model.lname%>" />
    <input type="hidden" name="fname" value="<%=.Model.fname%>" />
    <input type="hidden" name="lnamek" value="<%=.Model.lnamek%>" />
    <input type="hidden" name="fnamek" value="<%=.Model.fnamek%>" />
    <input type="hidden" name="tel" value="<%=.Model.tel%>" />
    <input type="hidden" name="zip" value="<%=.Model.zip%>" />
    <input type="hidden" name="pref" value="<%=.Model.pref%>" />
    <input type="hidden" name="address" value="<%=.Model.address%>" />
    <input type="hidden" name="taddress" value="<%=.Model.taddress%>" />
	<input type="hidden" name="maddress" value="<%=.Model.maddress%>" />
    <input type="hidden" name="email" value="<%=.Model.email%>" />
    <input type="hidden" name="sex" value="<%=.Model.sex%>" />
    <input type="hidden" name="memo" value="<%=.Model.memo%>" />
	
</div>
    
