﻿<div class="RegistOrder">

    <h3><ers:message code="member.member_index.Title"></h3>

    <ers:isEqual src=".Model.member_modify" value="true" />
        <ers:partial file="../member/member_modify.htm" />
    </ers:isEqual>
    <ers:isEqual src=".Model.member_cancel" value="true" />
        <ers:partial file="../member/member_view.htm" />
    </ers:isEqual>

</div>