#ui-datepicker-div
{
  z-index: 101 !important;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  background-color: #fff;
}

.ui-widget-content
{
  background: #fff;
}

.ui-widget-header
{
  font-weight: bold;
  color: #fff;
  border: 1px solid #a7bb35;
  background: #fff2ee url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
}

.ui-datepicker-group-first
{
  float: left;
  width: 45%;
  margin-left: 3%;
}

.ui-datepicker-multi-2 .ui-datepicker-group-last
{
  float: right;
  width: 45% !important;
  margin-right: 3%;
  margin-left: -3%;
}

.ui-datepicker-trigger
{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 0 0 10px;
  padding: 4px 0 4px 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #fff;
}

div.ui-datepicker-header
{
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  background-color: #f3f0e2;
}

button.ui-datepicker-header
{
  float: left;
}

div.ui-datepicker-title
{
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  z-index: 0;
  top: 7px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #360109;
}

.ui-datepicker .ui-datepicker-title
{
  line-height: 1.8em;
  margin: 0 0;
  text-align: center;
}

.ui-datepicker-prev
{
  position: absolute;
  z-index: 11;
  top: 5px;
  left: 0;
}

.ui-datepicker-next
{
  position: absolute;
  z-index: 12;
  top: 5px;
  right: 0;
}

table.ui-datepicker-calendar
{
  width: 100%;
  margin-bottom: 10px;
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
  border: solid 3px #eedec6;
  background-color: #fff;
}

table.ui-datepicker-calendar a
{
  text-decoration: none;
  color: #333;
}

table.ui-datepicker-calendar th
{
  font-weight: bold;
  color: #360109;
  border-top: solid 3px #666;
  background-color: #a7bb35;
}

table.ui-datepicker-calendar th.ui-datepicker-week-start
{
  border-top: solid 3px #c00;
}

table.ui-datepicker-calendar th.ui-datepicker-week-end
{
  border-top: solid 3px #00f;
}

table.ui-datepicker-calendar tr td
{
  border-bottom: dotted 1px #666;
  border-left: dotted 1px #666;
  background-color: #fff;
}

table.ui-datepicker-calendar tr td.ui-datepicker-unselectable
{
  color: #eee;
  background-color: #eee;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span
{
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -2px;
  margin-left: -8px;
}
