/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn
{
  margin: 15px auto 40px auto;
}

#contents .next
{
  float: none;
  color: #fff;
}

/* ERS_totalsum
---------------------------------------------------------------- */
#ERS_totalsum
{
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 40px 0;
}

#ERS_totalsum p
{
  font-size: 1.0em;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0 0 0 0;
}

#ERS_totalsum table
{
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0 0 0 0;
  border: 2px solid #cdbdad;
}

#ERS_totalsum table th
{
  font-size: 1.2em;
  font-weight: bold;
  width: 75%;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  text-align: right;
  color: #a7bb35;
  border: none;
  background-color: #fff;
}

#ERS_totalsum table td
{
  font-size: 1.2em;
  font-weight: bold;
  width: 25%;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  text-align: center;
  border: none;
}

/* ERS_buy
---------------------------------------------------------------- */
#ERS_buy
{
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

#ERS_buy .btn
{
  width: 100%;
  margin: 0 auto 0 auto;
}

#contents #ERS_buy h3
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #594018;
}

#ERS_buy h4
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#ERS_buy h5
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#ERS_buy p
{
  margin: 0 0 0 0;
  padding: 3px 0 10px 0;
}

#ERS_buy div
{
  float: left;
  width: 28.2%;
  margin: 0 0 0 0;
  padding: 15px 1.95% 15px 1.95%;
  border: 2px solid #cdbdad;
}

#ERS_buy .ERS_first
{
  margin: 0 1% 0 1%;
}

#contents #email,
#contents #password2,
#contents #email_pc,
#contents #password1
{
  width: 92%;
  margin: 0 0 0 0;
}

#contents .login_btn
{
  width: 100%;
  white-space: normal;
}

@media only screen and (min-width: 960px)
{
  .ERS_amount table .amount
  {
    width: 50px;
  }

  .ERS_amount table th.send,
    .ERS_amount table th.term
  {
    text-align: center;
  }

  .ERS_amount table td.dayList
  {
    text-align: center;
  }

  #contents .btn02
  {
        /*width: 50px;*/;
  }

  #contents #ERS_recommend .ERS_recommend_list
  {
    width: 140px;
    padding: 0 3px 45px 3px;
  }

  #contents #ERS_recommend .ERS_recommend_list h3 img
  {
    width: 138px;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn
  {
    width: 90%;
    margin: 0 auto 0 auto;
    padding-right: 5px;
    text-align: right;
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px)
{
  #ERS_recommend .ERS_recommend_list
  {
    width: 18%;
    padding: 0 1% 45px 1%;
  }

  #ERS_recommend .ERS_recommend_list h3 img
  {
    width: 95%;
    max-width: 160px;
    margin: 0 auto;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn
  {
    font-size: .85em;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 8px 0 8px 0;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn:hover
  {
    padding: 8px 0 8px 0;
  }

  #contents .detail_btn:before
  {
    width: 8px;
    height: 8px;
    margin-top: -4px;
    background: url('../images/icon/ico_common_16.png') -32px 0;
    background-size: 160px 8px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 900px)
{
  #contents #ERS_recommend .ERS_recommend_list .btn
  {
    padding-right: 5px;
    text-align: right;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn:hover
  {
    padding-right: 5px;
    text-align: right;
  }
}

@media only screen and (max-width: 640px)
{
  #ERS_buy .ERS_first
  {
    margin: 0 0 10px 0;
  }

  #ERS_buy div
  {
    float: none;
    width: 90%;
    margin: 0 0 10px 0;
    padding: 15px 3% 15px 3%;
    border: 2px solid #cdbdad;
  }
}
