/* ERS_detail
=======================================================*/
#contents #ERS_detail h3
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents #ERS_detail h3 span
{
  font-size: .8em;
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #main_content
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents .link
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents .link ul
{
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

#contents .link ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

#contents .file
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents .file ul
{
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

#contents .file ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

#contents .typeA,
#contents .typeB,
#contents .typeC,
#contents .typeD,
#contents .typeE,
#contents .typeF
{
  display: block;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeA img,
#contents .typeB img,
#contents .typeC img,
#contents .typeD img,
#contents .typeE img
{
  vertical-align: bottm;
}

#contents .typeA p,
#contents .typeB p,
#contents .typeC p,
#contents .typeD p,
#contents .typeE p,
#contents .typeF p
{
  font-size: 1.0em;
  line-height: 1.5;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeA > div,
#contents .typeB > div,
#contents .typeC > div,
#contents .typeD > div,
#contents .typeE > div,
#contents .typeF > div
{
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
}

#contents .typeA .box1,
#contents .typeB .box1,
#contents .typeC .box1,
#contents .typeD .box1,
#contents .typeE .box1,
#contents .typeF .box1
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeA .box2,
#contents .typeB .box2,
#contents .typeC .box2,
#contents .typeD .box2,
#contents .typeE .box2,
#contents .typeF .box2
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* typeA
-------------------------------------------------*/
/* typeB
-------------------------------------------------*/
#contents .typeB .box1
{
  float: right;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeB .img01
{
  display: inline-table;
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeB .box2
{
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeB .img02
{
  display: inline-table;
  float: right;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* typeC
-------------------------------------------------*/
#contents .typeC ul
{
  float: right;
  width: 38%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeC ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeC ul li img
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents .typeC p
{
  font-size: 1.0em;
  width: 60%;
}

/* typeD
-------------------------------------------------*/
/* typeE
-------------------------------------------------*/
#contents .typeE ul
{
  display: table;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .typeE ul li
{
  font-size: 1.0em;
  display: table-cell;
  width: auto;
  margin: 0 0 0 0;
  padding: 0 5px 0 5px;
}

#contents .typeE ul li img
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* typeF
-------------------------------------------------*/
