@charset 'UTF-8';
/*  common mixin
--------------------------------------------------*/
/* contents
--------------------------------------------------*/
#contents article
{
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

#contents h2
{
  font-size: 1.2em;
  margin: 0 0 10px 0;
  padding: 0 0 5px 10px;
  color: #a7bb35;
  border-bottom: 2px solid #a7bb35;
  border-left: 10px solid #a7bb35;
}

#contents h2.subtitle
{
  margin: 0 0 15px 0;
  padding: 0 0 7 0;
  border: none;
  border-bottom: 2px solid #a7bb35;
}

.wBreak
{
  word-wrap: break-word;
}

#container .ERS_IVP_color
{
  color: #d61516;
}

#contents h3
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 5px 0 3px 0;
}

#contents h3 .ERS_IVP_color
{
  font-size: .85em;
  font-weight: normal;
  margin-left: 5px;
  color: #d61516;
}

#contents h4
{
  font-size: .85em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

#contents .subtitle02
{
  margin: 0 0 0 0;
  padding: 5px 0 3px 0;
  text-align: left;
  color: #784709;
}

#contents .subtitle03
{
  padding: 8px 0 5px 20px;
  border-bottom: 1px solid #a7bb35;
}

#contents .subtitle04
{
  margin: 20px 0 0 0;
  padding: 8px 0 8px 20px;
  text-align: left;
  color: #000;
  border-top: 1px solid #a7bb35;
  border-bottom: 1px solid #a7bb35;
  background: #e9ecd9;
}

#contents article p
{
  font-size: .85em;
}

#contents .point
{
  font-size: 1em;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .point strong
{
  font-size: 1em !important;
}

#ERS_ssl_alert
{
  text-align: center;
}

#container h3.widget-title
{
  color: #594018;
}

.w_100
{
  width: 100px;
}

/* ERS_breadcrumb
--------------------------------------------------*/
#ERS_breadcrumb
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#contents article #ERS_breadcrumb p
{
  font-size: .85em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* ERS_flow
--------------------------------------------------------*/
#ERS_flow
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

#ERS_flow ol
{
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

#ERS_flow ol li
{
  font-size: 100%;
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  width: 33.3%;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #ddd;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#ERS_flow ol li:before
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
  border-width: 30px 0 30px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

#ERS_flow ol li:after
{
  position: absolute;
  z-index: 2;
  top: 0;
  right: -14px;
  content: '';
  border-width: 30px 0 30px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #ddd;
}

#ERS_flow ol li span
{
  display: block;
  width: 90%;
  margin: 0 0 0 auto;
}

#ERS_flow ol .current
{
  font-weight: bold;
  color: #fff;
  background-color: #a7bb35;
}

#ERS_flow ol .current:after
{
  border-color: transparent transparent transparent #a7bb35;
}

#ERS_flow ol .flow1
{
  z-index: 3;
}

#ERS_flow ol .flow1:before
{
  content: none;
}

#ERS_flow ol .flow2
{
  z-index: 2;
}

#ERS_flow ol .flow3
{
  z-index: 1;
}

#ERS_flow ol .flow3:after
{
  content: none;
}

#ERS_flow .col2 li
{
  width: 50%;
}

#ERS_flow .col2 .flow1
{
  z-index: 2;
}

#ERS_flow .col2 .flow1:before
{
  content: none;
}

#ERS_flow .col2 .flow2
{
  z-index: 1;
}

#ERS_flow .col2 .flow2:after
{
  content: none;
}

#ERS_flow .col4 li
{
  width: 25%;
}

#ERS_flow .col4 .flow1
{
  z-index: 4;
}

#ERS_flow .col4 .flow1:before
{
  content: none;
}

#ERS_flow .col4 .flow2
{
  z-index: 3;
}

#ERS_flow .col4 .flow3
{
  z-index: 2;
}

#ERS_flow .col4 .flow3:after
{
  content: '';
}

#ERS_flow .col4 .flow4
{
  z-index: 1;
}

#ERS_flow .col4 .flow4:after
{
  content: none;
}

#ERS_flow .col5 li
{
  width: 20%;
}

#ERS_flow .col5 .flow1
{
  z-index: 5;
}

#ERS_flow .col5 .flow1:before
{
  content: none;
}

#ERS_flow .col5 .flow2
{
  z-index: 4;
}

#ERS_flow .col5 .flow3
{
  z-index: 3;
}

#ERS_flow .col5 .flow3:after
{
  content: '';
}

#ERS_flow .col5 .flow4
{
  z-index: 2;
}

#ERS_flow .col5 .flow5
{
  z-index: 1;
}

#ERS_flow .col5 .flow5:after
{
  content: none;
}

@media only screen and (max-width: 700px)
{
  #ERS_flow ol li
  {
    height: 80px;
  }

  #ERS_flow ol li:before
  {
    border-width: 40px 0 40px 15px;
  }

  #ERS_flow ol li:after
  {
    position: absolute;
    top: 0;
    right: -14px;
    border-width: 40px 0 40px 15px;
  }
}

@media only screen and (max-width: 499px)
{
  #ERS_flow ol li
  {
    height: 104px;
  }

  #ERS_flow ol li:before
  {
    border-width: 52px 0 52px 15px;
  }

  #ERS_flow ol li:after
  {
    position: absolute;
    top: 0;
    right: -14px;
    border-width: 52px 0 52px 15px;
  }
}

#contents #ERS_flow h2
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

#contents #ERS_flow h2:before
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

/* ERS_news
---------------------------------------------------------------- */
#ERS_news
{
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
}

#ERS_news p
{
  font-size: 19.2px;
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.5;
  display: block;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

#ERS_news .date
{
  margin: 0 20px 0 15px;
  color: #000;
}

/* ERS_view_history
---------------------------------------------------------------- */
#ERS_view_history
{
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

#ERS_view_history h3
{
  display: block;
  overflow: hidden;
  margin: 0 0 15px 0;
  padding: 0 0 13px 0;
  text-indent: -9999px;
  border-bottom: 2px solid #a7bb35;
  background: url(../images/mttl_check.png) 0 0 no-repeat;
}

#ERS_view_history div
{
  float: left;
  width: 60px;
  height: 60px;
  margin: 0 0 0 0;
  padding: 0 3px 3px 3px;
}

#ERS_view_history h4
{
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#ERS_view_history h4 span
{
  font-size: 1.0em;
  position: absolute;
  top: 5px;
  left: 5px;
  display: none;
  color: #fff;
}

#ERS_view_history h4 img
{
  width: 58px;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  text-align: center;
  border: 1px solid #ccc;
}

#ERS_view_history h5
{
  font-size: 1.0em;
  font-weight: normal;
  display: none;
  margin: 0 0 0 0;
  padding: 3px 0 0 3px;
  text-align: left;
}

#ERS_view_history h5 a
{
  color: #a7bb35;
}

/* ERS_ranking
---------------------------------------------------------------- */
#ERS_ranking
{
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

#contents #ERS_ranking h3
{
  display: block;
  overflow: hidden;
  margin: 0 0 15px 0;
  padding: 0 0 13px 0;
  text-indent: -9999px;
  border-bottom: 1px solid #a7bb35;
  background: url(../images/mttl_ranking.png) 0 0 no-repeat;
}

#ERS_ranking div
{
  float: left;
  width: 145px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#ERS_ranking h4
{
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#ERS_ranking h4 span
{
  font-size: 1.0em;
  position: absolute;
  top: 5px;
  left: 12px;
  display: none;
  color: #fff;
}

#ERS_ranking h4 img
{
  width: 130px;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  text-align: center;
  border: 1px solid #ccc;
}

#ERS_ranking h5
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 3px 5px 0 5px;
  text-align: left;
}

#ERS_ranking h5 a
{
  color: #a7bb35;
}

#ERS_ranking .title
{
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 5px;
  color: #ca5015;
  border-bottom: 2px solid #ca5015;
}

@media only screen and (min-width: 640px) and (max-width: 780px)
{
  #ERS_ranking div
  {
    width: 18%;
    margin: 0 1% 0 1%;
  }

  #ERS_ranking h4 img
  {
    width: 100%;
    max-width: 130px;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (max-width: 640px)
{
  #ERS_ranking
  {
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
  }

  #ERS_ranking h3
  {
    margin: 0 0 5px 0;
  }

  #ERS_ranking div
  {
    display: table;
    float: none;
    width: 100%;
  }

  #ERS_ranking h4
  {
    display: table-cell;
    width: 30%;
    padding: 0 2.5% 0 0;
    text-align: center;
  }

  #ERS_ranking h4 img
  {
    width: 100%;
    max-width: 130px;
    margin: 0 auto 0 auto;
  }

  #ERS_ranking h5
  {
    display: table-cell;
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
    vertical-align: middle;
  }

  #contents .sp_block
  {
    display: block;
    margin-bottom: 5px;
  }
}

@media only screen and (mim-width: 641px)
{
  #contents .sp_block
  {
    display: inline;
  }
}
/* ERS_btn
---------------------------------------------------------------- */
#contents
{
    /*
  @media only screen and (max-width:699px){
    #contents .detail_btn:before{
      content:" ";
      position:absolute;
      top:50%;
      left:5%;
      margin-top:-8px;
      background:url("../images/icon/ico_common.png") -64px 0;
      background-size:320px 16px;
      width:16px;
      height:16px;
      text-shadow:1px 1px 1px #fff;
    }
  }
  
  @media only screen and (min-width:700px) and (max-width:959px){
    #contents .detail_btn:before{
      content:" ";
      position:absolute;
      top:50%;
      left:5%;
      margin-top:-8px;
      background:url("../images/icon/ico_common.png") -64px 0;
      background-size:320px 16px;
      width:16px;
      height:16px;
      text-shadow:1px 1px 1px #fff;
    }
  }
  
  @media only screen and (min-width:960px){
    #contents .detail_btn:before{
      content:" ";
      position:absolute;
      top:50%;
      left:5%;
      margin-top:-8px;
      background:url("../images/icon/ico_common.png") -64px 0;
      background-size:320px 16px;
      width:16px;
      height:16px;
      text-shadow:1px 1px 1px #fff;
    }
  }
  */
    /*
  .iconFlower,
  .iconPeople,
  .iconCart,
  .iconStar,
  .iconSearch,
  .iconLogin,
  .iconLogout,
  .arrow01_l_l,
  .arrow01_l_r,
  .arrow02_l_l,
  .arrow02_l_r,
  .arrow03_l_l,
  .arrow03_l_r,
  .iconStop{
    position:relative;
  }
  
  .iconFlower:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") 0 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  .iconPeople:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -16px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  @media only screen and (max-width:699px){
  .iconCart:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-12px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:480px 24px;
    width:24px;
    height:24px;
    z-index: 100;
  }
  }
  @media only screen and (min-width:700px) and (max-width:959px){
  .iconCart:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-12px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:480px 24px;
    width:24px;
    height:24px;
    z-index: 100;
  }
  }
  @media only screen and (min-width:960px){
  .iconCart:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-12px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:480px 24px;
    width:24px;
    height:24px;
    z-index: 100;
  }
  }
  @media only screen and (max-width:699px){
  .iconStar:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
    }
  }
  
  @media only screen and (min-width:700px) and (max-width:959px){
  .iconStar:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
    }
  }
  
  @media only screen and (min-width:960px){
  .iconStar:before{
    content:" ";
    position:absolute;
    top:50%;
    left:7%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -48px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
    }
  }
  
  .iconSearch:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -64px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  .iconLogin:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-17px;
    background:url("../images/icon/ico_common.png") -120px 0;
    background-size:480px 24px;
    width:24px;
    height:24px;
    z-index: 100;
  }
  .iconLogout:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-15px;
    background:url("../images/icon/ico_common.png") -144px 0;
    background-size:480px 24px;
    width:24px;
    height:24px;
    z-index: 100;
  }
  .arrow01_l_l:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -112px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  
  .arrow01_l_r:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -128px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  
  .arrow02_l_l:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -144px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  
  .arrow02_l_r:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -160px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  .arrow03_l_l:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -176px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  
  .arrow03_l_r:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -192px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  .iconStop:before{
    content:" ";
    position:absolute;
    top:50%;
    left:5%;
    margin-top:-8px;
    background:url("../images/icon/ico_common.png") -208px 0;
    background-size:320px 16px;
    width:16px;
    height:16px;
    z-index: 100;
  }
  */
    /* ERS_page_send
  ---------------------------------------------------------------- */;
}

#contents .ERS_btn
{
  width: 60%;
  margin: 0 auto 30px auto;
  padding: 0 0 0 0;
}

#contents .ERS_btn p
{
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .ERS_btn p center
{
  margin: 0 auto;
}

#contents .ERS_btn p:first-child
{
  float: left;
}

#contents .ERS_btn p:last-child
{
  float: right;
}

#contents .ERS_btn p.center
{
  float: none;
  margin: 0 auto 0 auto;
}

#contents a
{
  line-height: 1.0;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .btn
{
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1;
  display: block;
  width: 95%;
  margin: 0 0 0 0;
  padding: 15px 0 15px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}

#contents .btn02
{
  font-size: .95em;
  font-weight: bold;
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 4px 0 4px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}

#contents .next
{
  color: #fff;
  background: linear-gradient(top, #a6bc36 0%, #92a630 100%);
  background-color: #a6bc36;
}

#contents .back
{
  color: #3f3e3f;
  border: 1px solid #6f6f6f;
  background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
  background-color: #f7f7f7;
}

#contents .login_btn
{
  color: #fff;
  background: linear-gradient(top, #a6bc36 0%, #92a630 100%);
  background-color: #a6bc36;
}

#contents .detail_btn
{
  position: relative;
  color: #fff;
  background: linear-gradient(top, #f4900f 0%, #d96e00 100%);
  background-color: #f4900f;
  text-shadow: 1px 1px 1px #9e5604;
}

#contents .cart_btn
{
  color: #fff;
  background: linear-gradient(top, #a6bc36 0%, #92a631 100%);
  background-color: #a6bc36;
  text-shadow: 1px 1px 1px #6e7c24;
}

#contents .wish_btn
{
  color: #fff;
  background: linear-gradient(top, #d6c631 0%, #b6a72a 100%);
  background-color: #d6c631;
  text-shadow: 1px 1px 1px #7e720f;
}

#contents .center_btn,
#contents .gray_btn
{
  color: #3f3e3f;
  border: 1px solid #6f6f6f;
  background: linear-gradient(top, #f7f7f7 0%, #f0f0f0 100%);
  background-color: #f7f7f7;
}

#contents .gray02_btn
{
  color: #fff;
  border: 1px solid #504e4e;
  background: linear-gradient(top, #969796 0%, #7d7d7d 100%);
  background-color: #969796;
}

#contents .black_btn
{
  color: #fff;
  background-color: #939393;
}

#contents .green_btn
{
  color: #fff;
  background-color: #d6c631;
}

#contents .ERS_page_send
{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0 0 0 0;
  text-align: center;
}

#contents .ERS_page_send ul
{
  position: relative;
  left: 50%;
  float: left;
  text-align: center;
}

#contents .ERS_page_send ul li
{
  position: relative;
  left: -50%;
  display: inline;
  float: left;
  margin: 0 5px;
}

#contents .ERS_page_send ul li p
{
  font-size: 1.0em;
  position: relative;
  left: -50%;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 0 5px 0 0;
}

#contents .ERS_page_send ul li p input[type='submit'],
#contents .ERS_page_send ul li p input[type='button']
{
  font-size: 1.0em;
  line-height: 1.0;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
  color: #35250c;
  border: none;
  border-radius: 3px;
  background: #e7e2da;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}

#contents .ERS_page_send ul li p input.place[type='submit'],
#contents .ERS_page_send ul li p input.place[type='button']
{
  font-size: 1.0em;
  line-height: 1.0;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
  color: #fff;
  border: none;
  background: #7c6853;
}

#contents .ERS_page_send ul li.return p input.change[type='submit'],
#contents .ERS_page_send ul li.enter p input.change[type='submit'],
#contents .ERS_page_send ul li.return p input.change[type='button'],
#contents .ERS_page_send ul li.enter p input.change[type='button']
{
  font-weight: bold;
  padding: 5px 0 5px 0;
  color: #7c6853;
  border-radius: 0;
  background: none;
  -o-border-radius: 0;
  -ms-border-radius: 0;
}

#contents .ERS_page_send ul li.return p input.change[type='submit']:hover,
#contents .ERS_page_send ul li.enter p input.change[type='submit']:hover,
#contents .ERS_page_send ul li.return p input.change[type='button']:hover,
#contents .ERS_page_send ul li.enter p input.change[type='button']:hover
{
  border: none;
  background: none;
}

/* ERS_recommend
---------------------------------------------------------------- */
#ERS_recommend
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.ERS_recommend_list
{
  float: left;
  width: 175px;
  margin: 0 0 0 0;
  padding: 0 5px 45px 0;
  text-align: center;
}

.ERS_recommend_list h3
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.ERS_recommend_list h3.title
{
  font-size: 1.0em;
  text-align: left;
}

.ERS_recommend_list h3 img
{
  width: 160px;
  margin: 0 auto 5px auto;
  border: 1px solid #ababab;
}

.ERS_recommend_list h3 a
{
  text-decoration: none;
  color: #000;
}

.ERS_recommend_list h4
{
  margin: 4px auto 0 auto;
  padding: 0 0 0 0;
}

.ERS_recommend_list p
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  text-align: left;
}

.ERS_recommend_list > div
{
  padding: 0 3px 0 3px;
}

.ERS_recommend_list table
{
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0 0 0 0;
  border: none;
  background: transparent;
}

.ERS_recommend_list table th
{
  font-size: 1.0em;
  font-weight: normal;
  width: 90px;
  padding: 6px 0 6px 3px;
  text-align: left;
  color: #a7bb35;
}

.ERS_recommend_list table td
{
  font-size: 1.0em;
  padding: 6px 0 6px 3px;
  text-align: left;
}

@media only screen and (min-width: 780px)
{
  .ERS_recommend_list table th
  {
    display: block;
    float: left;
    width: 97%;
    padding: 6px 1.5% 0 1.5%;
    border: none;
  }

  .ERS_recommend_list table td
  {
    display: block;
    float: left;
    width: 97%;
    padding: 0 1.5% 6px 1.5%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 780px)
{
  .ERS_recommend_list
  {
    width: 23%;
    padding: 0 1% 45px 1%;
  }

  .ERS_recommend_list h3 img
  {
    width: 95%;
    max-width: 160px;
    margin: 0 auto 0 auto;
  }

  .ERS_recommend_list table th
  {
    display: block;
    width: 97%;
    padding: 6px 1.5% 0 1.5%;
    border: none;
  }

  .ERS_recommend_list table td
  {
    display: block;
    width: 97%;
    padding: 0 1.5% 6px 1.5%;
  }
}
/* table_box
---------------------------------------------------------------- */
.table_box
{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-top: 1px solid #a7bb35;
}

.table_box dl
{
  font-size: .95em;
  display: block;
    /*overflow: hidden;*/
  overflow: visible;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-bottom: 1px solid #a7bb35;
}

.table_box .bdrTop
{
  border-top: 1px solid #a7bb35;
}

.table_box h3
{
  padding: 30px 0 3px 0 !important;
}

.table_box dl dt
{
  font-size: 1.0em;
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 11px 0 0 5px;
  background-color: #f9f9f9;
}

.table_box dl dd
{
  font-size: 1.0em;
  display: block;
  margin: 0 0 0 0;
  padding: 11px 0 11px 5px;
}

.table_box dl dt label
{
  font-size: 1.0em;
}

.table_box dl dd label
{
  font-size: 1.0em;
}

.table_box dl dd span.summarry
{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 4px 0;
}

.table_box dl dd textarea
{
  display: block;
  width: 98%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.table_box dl dd span.check_box
{
  display: block;
  margin: 8px 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}

#pri_chk
{
  margin: 0 5px 0 0;
  padding: 0 0 0 0;
  vertical-align: bottom;
}

.table_box dl dd .add_in
{
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}

.table_box dl dd .add_in label
{
  display: block;
}

.table_box .ex
{
  font-size: .85em;
  display: block;
  padding: 3px 0 0 0;
  color: #999;
}

.table_box .ex2
{
  font-size: .85em;
  display: block;
  padding: 0 0 3px 0;
  color: #d61516;
}

/* table_total
---------------------------------------------------------------- */
.table_total table
{
  font-size: .95em;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-spacing: 0;
  border-collapse: separate;
  border: none;
  border-top: 1px solid #a7bb35;
  background: transparent;
}

.table_total table th
{
  font-size: 1.0em;
  font-weight: normal;
  line-height: 2.5;
  width: 65%;
  padding: 0 10px 0 0;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid #a7bb35;
  background: #f9f9f9;
}

.table_total table th.bg01
{
  background: #fff;
}

.table_total table td
{
  font-size: 1.0em;
  width: 35%;
  padding: 0 10px 0 0;
  text-align: right;
  color: #333;
  border-bottom: 1px solid #a7bb35;
}

.table_total table td.ft13
{
  font-size: 1.0em;
}

.table_total p
{
  text-align: right;
}

@media only screen and (max-width: 640px)
{
  .table_total p
  {
    font-size: .85em;
  }
}

.recount
{
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 0 0 0 0;
}

.recount p
{
  float: left;
  width: 80%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.recount h4
{
  float: right;
  width: 20%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .recount .btn
{
  width: 100%;
}

/* ERS_amount
---------------------------------------------------------------- */
.ERS_amount table
{
  font-size: .95em;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  background: transparent;
}

.ERS_amount table tr
{
  border-bottom: 1px solid #a7bb35;
}

.ERS_amount table tr:last-child
{
  border-bottom: none;
}

.ERS_amount table th
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 5px 10px 5px;
  text-align: left;
  background: #f9f9f9;
}

.ERS_amount table th.sname
{
  width: 40%;
}

.ERS_amount table td
{
  font-size: 1.0em;
  height: auto;
  margin: 0 0 0 0;
}

.ERS_amount table td.sname
{
  margin: 0 0 0 0;
  padding: 8px 0 8px 0;
  text-align: left;
}

.ERS_amount table td.sname span
{
  display: table;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  table-layout: fixed;
}

.ERS_amount table td.sname em
{
  font-style: normal;
  display: table-cell;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;
}

.ERS_amount table td.sname em.image
{
  width: 30%;
  padding: 0 0 0 0;
  text-align: center;
}

.ERS_amount table td.sname em.image img
{
  width: 74px;
  margin: 0 auto 0 auto;
}

.ERS_amount table td.sname em.text
{
  width: 70%;
}

.ERS_amount table td.sname span.status
{
  display: block;
}

.ERS_amount table td.dayList span
{
  display: block;
}

.ERS_amount .w_45
{
  width: 45px;
}

.ERS_amount .w_50
{
  width: 50px;
}

/* table_wide_type
---------------------------------------------------------------- */
.wide_type
{
  width: 100%;
  border-bottom: 1px solid #a7bb35;
}

.wide_type tr th
{
  font-size: 1.0em;
  font-weight: normal;
  padding: 10px 1em 10px 1em;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #a7bb35;
  background: #fff;
}

.wide_type tr td
{
  font-size: 1.0em;
  padding: 8px 1em 8px 1em;
  border-bottom: 1px solid #a7bb35;
}

/* table.detail
---------------------------------------------------------------- */
#contents table.detail
{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  border: none;
}

#contents table.detail th
{
  font-size: 1.0em;
  font-weight: normal;
  width: 70px;
  margin: 0 0 0 0;
  padding: 10px 0 5px 0;
  text-align: left;
  color: #a7bb35;
  border-bottom: 1px solid #ccc;
}

#contents table.detail td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #ccc;
}

/* ERS_error
---------------------------------------------------------------- */
.ERS_error,
.ERS_input_error
{
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid #a7bb35;
}

.ERS_error p,
.ERS_input_error p
{
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #d61516;
}

.ERS_error p span,
.ERS_input_error p span
{
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 0 0 10px;
}

/* ERS_IVP_caution
---------------------------------------------------------------- */
#contents .ERS_IVP_caution
{
  font-weight: bold !important;
  color: #c9171e !important;
  background-color: #b8d200 !important;
}

#contents .ERS_IVP_caution label
{
  color: #c9171e !important;
}

#contents .ERS_IVP_caution label .ERS_IVP_color
{
  color: #c9171e !important;
}

#contents span.dispError
{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
  color: #d61516;
}

/* form
---------------------------------------------------------------- */
input[type='submit'],
input[type='button']
{
  line-height: 1.0;
  margin: 0 0 0 0;
  padding: 8px 0 8px 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='radio'],
input[type='checkbox']
{
  vertical-align: middle;
}

input[type='text'],
input[type='email'],
input[type='password']
{
  font-size: 1.0em;
  width: 100px;
  margin: 0 0 0 0;
  padding: 3px 5px 3px 5px;
  color: #784709;
  border: 1px solid #999;
  border-radius: 2px 2px 2px 2px;
  background: -o-linear-gradient(#efefef, #fff);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

form
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

select
{
  font-size: 1.0em;
  width: 100px;
  margin: 0 0 0 0;
  padding: 3px 0 3px 2px;
  color: #784709;
  border: 1px solid #999;
  border-radius: 2px 2px 2px 2px;
  background: -o-linear-gradient(#efefef, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

#contents #lname,
#contents #lnamek,
#contents #add_lname,
#contents #add_lnamek
{
  width: 33.5%;
  margin: 0 10px 0 3px;
}

#contents #fname,
#contents #fnamek,
#contents #add_fname,
#contents #add_fnamek
{
  width: 33.5%;
  margin: 0 0 0 3px;
}

#contents #email,
#contents #email_confirm,
#contents #email_pc,
#contents #address_name
{
  width: 96%;
  margin: 0 0 0 0;
}

#contents #mformat,
#contents #tel,
#contents #fax,
#contents #add_tel,
#contents #add_fax,
#contents #cardno,
#contents #card_no,
#contents #card,
#contents #card_type,
#contents #Select1,
#contents #Text1,
#contents #send
{
  width: 40%;
  margin: 0 0 0 0;
}

#contents #zip,
#contents #add_zip
{
  width: 25%;
  margin: 0 10px 0 0;
}

#contents #pref,
#contents #add_pref
{
  width: 25%;
  margin: 0 0 0 0;
}

#contents #address,
#contents #taddress,
#contents #maddress,
#contents #add_address,
#contents #add_taddress,
#contents #add_maddress,
#contents #compname,
#contents #compnamek,
#contents #division,
#contents #divisionk
{
  width: 96%;
  margin: 0 0 0 0;
}

#contents #birthday_y
{
  width: 30%;
  margin: 0 5px 0 0;
}

#contents #birthday_m,
#contents #birthday_d
{
  width: 20%;
  margin: 0 5px 0 15px;
}

#contents #validity_y,
#contents #Text2
{
  width: 15%;
  margin: 0 5px 0 0;
}

#contents #validity_m,
#contents #Text3
{
  width: 10%;
  margin: 0 5px 0 15px;
}

#contents #sex
{
  width: 20%;
  margin: 0 0 0 0;
}

#contents #password1,
#contents #password2,
#contents #passwd,
#contents #passwd_confirm
{
  width: 40%;
  margin: 0 0 0 0;
}

#contents #ques,
#contents #ans
{
  width: 80%;
  margin: 0 0 0 0;
}

#login_form #email,
#login_form #passwd
{
  width: 90%;
  margin: 0 0 0 0;
}

#contents #amount
{
  width: 90%;
  margin: 0 0 0 0;
}

#contents #s_scode
{
  width: 40%;
  margin: 0 0 0 0;
}

#contents #s_cate1,
#contents #s_cate2,
#contents #s_cate3,
#contents #s_cate4,
#contents #s_cate5
{
  width: 50%;
  margin: 0 0 0 0;
}

#contents #s_price1,
#contents #s_price2
{
  width: 30%;
  margin: 0 3px 0 0;
}

#contents #s_sname,
#contents #s_keyword,
#contents #sort
{
  width: 70%;
  margin: 0 0 0 0;
}

#contents #email_pc
{
  margin: 0 0 5px 0;
}

#contents #email_ck
{
  margin: 0 5px 0 0;
}

.w12p
{
  width: 12%;
}

/*PC*/
@media only screen and (min-width: 960px)
{
    /* table_box
---------------------------------------------------------------- */
  .table_box dl
  {
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  .table_box dl dt
  {
    float: left;
    width: 195px;
        /*margin: 0 0 -500px 0;*/
    padding: 12px 0 3% 5px;
  }

  .table_box dl dt.long
  {
        /*margin: 0 0 -500px 0;*/
    padding: 12px 0 3% 5px;
  }

  .table_box dl dd
  {
    float: left;
    width: 525px;
  }

  #ERS_box p
  {
    line-height: 23px;
  }

    /*
    #contents .detail_btn:before {
      background: url('../images/icon/ico_common_16.png') -64px 0;
    }
    .iconFlower:before {
      background: url('../images/icon/ico_common_16.png') 0 0;
    }
    .iconPeople:before {
      background: url('../images/icon/ico_common_16.png') -16px 0;
    }
    .iconCart:before {
      background: url('../images/icon/ico_common_24.png') -48px 0;
    }
    .iconStar:before {
      background: url('../images/icon/ico_common_16.png') -48px 0;
    }
    .iconSearch:before {
      background: url('../images/icon/ico_common_16.png') -64px 0;
    }
    .iconLogin:before {
      background: url('../images/icon/ico_common_24.png') -120px 0;
    }
    .iconLogout:before {
      background: url('../images/icon/ico_common_24.png') -144px 0;
    }
    .arrow01_l_l:before {
      background: url('../images/icon/ico_common_16.png') -112px 0;
    }
    .arrow01_l_r:before {
      background: url('../images/icon/ico_common_16.png') -128px 0;
    }
    .arrow02_l_l:before {
      background: url('../images/icon/ico_common_16.png') -144px 0;
    }
    .arrow02_l_r:before {
      background: url('../images/icon/ico_common_16.png') -160px 0;
    }
    .arrow03_l_l:before {
      background: url('../images/icon/ico_common_16.png') -176px 0;
    }
    .arrow03_l_r:before {
      background: url('../images/icon/ico_common_16.png') -192px 0;
    }
    .iconStop:before {
      background: url('../images/icon/ico_common_16.png') -208px 0;
    }
  */
  .ERS_amount table .scode
  {
    width: 120px;
  }

  .ERS_amount table .send,
    .ERS_amount table .term
  {
    width: 110px;
  }

  .ERS_amount table .price
  {
    width: 100px;
    text-align: center;
  }

  .wide_type tr th.price
  {
    width: 100px;
  }

  .ERS_amount table .amount
  {
    width: 30px;
    text-align: center;
  }

  #contents .ERS_amount table td #amount
  {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }

  .ERS_amount table .act
  {
    width: 100px;
    text-align: center;
  }

  .ERS_amount table td.tankaList,
    .ERS_amount table td.totalList,
    .ERS_amount table td.countList
  {
    text-align: center;
  }
}
/*TBL*/
@media only screen and (min-width: 641px) and (max-width: 959px)
{
    /* contents
--------------------------------------------------*/
  #ERS_flow
  {
    width: 100%;
  }

  #ERS_flow img
  {
    width: 100%;
  }

  .ERS_amount table .scode
  {
    width: 120px;
  }

  .ERS_amount table .send,
    .ERS_amount table .term
  {
    width: 110px;
  }

  .ERS_amount table .price
  {
    width: 100px;
    text-align: center;
  }

  .wide_type tr th.price
  {
    width: 100px;
  }

  .ERS_amount table .amount
  {
    width: 30px;
    text-align: center;
  }

  #contents .ERS_amount table td #amount
  {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }

  .ERS_amount table .act
  {
    width: 100px;
    text-align: center;
  }

  .ERS_amount table td.tankaList,
    .ERS_amount table td.totalList,
    .ERS_amount table td.countList
  {
    text-align: center;
  }
}

@media only screen and (min-width: 700px) and (max-width: 959px)
{
  .table_box dl
  {
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  .table_box dl dt
  {
    float: left;
    width: 20%;
        /*margin-bottom: -1000px;
      padding-bottom: 1000px;*/
    padding-bottom: 3%;
  }

  .table_box dl dd
  {
    float: left;
    width: 75%;
  }

  #contents .ERS_btn,
    #contents article .ERS_btn
  {
    width: 80%;
  }
}

@media only screen and (min-width: 641px) and (max-width: 699px)
{
  .table_box dl dt
  {
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .table_box dl dt label
  {
    padding: 0 0 0 2%;
  }

  .table_box dl dd
  {
    width: 98%;
    padding: 6px 0 6px 2%;
  }

  .table_box dl dd span.check_box
  {
    margin: 10px 0 10px 0;
  }

  .table_box dl dd span.check_box label
  {
    margin: 0 0 0 0;
    padding: 10px 25px 10px 25px;
  }

    /* ERS_btn
	---------------------------------------------------------------- */
  #contents .ERS_btn,
    #contents article .ERS_btn
  {
    width: 85%;
  }

  #contents input[type='text'],
    #contents input[type='email'],
    #contents input[type='password']
  {
    padding: 8px 4px 8px 4px;
  }

  #contents select
  {
    padding: 6px 0 6px 4px;
  }
}
/*SMP*/
@media only screen and (max-width: 640px)
{
    /* contents
--------------------------------------------------*/
  #ERS_flow
  {
    width: 100%;
  }

  #ERS_flow img
  {
    width: 100%;
  }

  .table_box dl dt
  {
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .table_box dl dt label
  {
    display: block;
    padding: 0 0 0 2%;
  }

  .table_box dl dd
  {
    width: 98%;
    padding: 6px 0 6px 2%;
  }

  .table_box dl dd span.summarry
  {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .table_box dl dd textarea
  {
    width: 96%;
    margin: 0 auto 0 auto;
  }

  .table_box dl dd #inquiry_content
  {
    width: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .table_box dl dd span.check_box
  {
    margin: 10px 0 10px 0;
  }

  .table_box dl dd span.check_box label
  {
    margin: 0 0 0 0;
    padding: 10px 25px 10px 25px;
  }

    /* ERS_amount
---------------------------------------------------------------- */
  .ERS_amount table
  {
    display: block;
  }

  .ERS_amount table tbody
  {
    display: block;
  }

  .ERS_amount table tr
  {
    display: block;
    border-top: 1px solid #a7bb35;
    border-bottom: 1px solid #a7bb35;
  }

  .ERS_amount table tr:first-child
  {
    display: none;
  }

  .ERS_amount table td
  {
    font-size: 1.0em;
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0 0 0 0;
    padding: 4px 1em 4px 1em;
    border-bottom: none !important;
  }

  .ERS_amount table td.sname,
    .ERS_amount table td.sname02
  {
    width: auto;
  }

  .ERS_amount table td.dayList,
    .ERS_amount table td.teikiList,
    .ERS_amount table td.tankaList,
    .ERS_amount table td.countList,
    .ERS_amount table td.totalList
  {
    position: relative;
    width: auto;
    padding-left: 50%;
  }

  .ERS_amount table td.teikiList:before,
    .ERS_amount table td.countList:before,
    .ERS_amount table td.totalList:before,
    .ERS_amount table td.dayList:before,
    .ERS_amount table td.tankaList:before
  {
    font-size: 1.0em;
    position: absolute;
    top: 4px;
    left: 0;
    width: 44%;
    text-align: right;
  }

  .ERS_amount table td:empty
  {
    display: none !important;
  }

  .ERS_amount table td.dayList:before
  {
    content: 'お届け間隔：';
  }

  .ERS_amount table td.tankaList:before
  {
    content: '単価：';
  }

  .ERS_amount table td.countList:before
  {
    content: '数量：';
  }

  .ERS_amount table td.totalList:before
  {
    content: '金額：';
  }

  .ERS_amount table .fixBtn
  {
    width: auto;
  }

  .ERS_amount table .fixBtn a
  {
    width: 85% !important;
    margin: 0 0 0 0 !important;
  }

  .ERS_amount table td.deleteBtn
  {
    width: auto;
  }

    /*
.ERS_amount table td.teikiList:before {
	content:"定期商品お届け間隔：";
}
.ERS_amount table td.teikiList:empty:before {
	content:" ";
}
*/
  .table_total table th
  {
    width: 40%;
  }

  .table_total table td
  {
    width: 53%;
  }

  #ERS_totalsum table th
  {
    width: 65% !important;
  }

  #ERS_totalsum table td
  {
    width: 35% !important;
  }

    /* wide_type
---------------------------------------------------------------- */
  .wide_type
  {
    display: block;
  }

  .wide_type tbody
  {
    display: block;
  }

  .wide_type tr
  {
    display: block;
    float: none;
    clear: both;
    border-top: 1px solid #a7bb35;
    border-bottom: 1px solid #a7bb35;
  }

  .wide_type tr td
  {
    font-size: 1.0em;
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0 0 0 0;
    padding: 4px 1em 4px 1em;
    border-top: none !important;
    border-bottom: none !important;
  }

  .wide_type tr td.itemImgs
  {
    float: left;
    width: 18%;
  }

  .wide_type tr td.itemImgs img
  {
    width: 100%;
  }

  .wide_type tr td.itemName,
    .wide_type tr td.priceList,
    .wide_type tr td.itemDetails
  {
    float: right;
    width: 65%;
  }

  .wide_type tr td.wishBtns
  {
    clear: both;
  }

  .wide_type tr td.numberList,
    .wide_type tr td.dateList,
    .wide_type tr td.bayTotal,
    .wide_type tr td.usePoint,
    .wide_type tr td.getPoint,
    .wide_type tr td.havePoint
  {
    position: relative;
    width: auto;
    padding-left: 50%;
  }

  .wide_type tr td.numberList:before,
    .wide_type tr td.dateList:before,
    .wide_type tr td.bayTotal:before,
    .wide_type tr td.usePoint:before,
    .wide_type tr td.getPoint:before,
    .wide_type tr td.havePoint:before
  {
    font-size: 1.0em;
    position: absolute;
    top: 4px;
    left: 0;
    width: 44%;
    text-align: right;
  }

  .wide_type tr td.numberList:before
  {
    content: '伝票番号：';
  }

  .wide_type tr td.dateList:before
  {
    content: 'ポイント更新日：';
  }

  .wide_type tr td.bayTotal:before
  {
    content: '購入金額：';
  }

  .wide_type tr td.usePoint:before
  {
    content: 'ご利用ポイント：';
  }

  .wide_type tr td.getPoint:before
  {
    content: '獲得ポイント：';
  }

  .wide_type tr td.havePoint:before
  {
    content: '所持ポイント：';
  }

  .wide_type tr td.detailBtn
  {
    width: auto;
    text-align: center;
  }

  .wide_type tr td.detailBtn a
  {
    width: 85% !important;
    margin: 0 0 0 0 !important;
  }

    /* ERS_page_send
---------------------------------------------------------------- */
  #contents .ERS_page_send form
  {
    left: 50%;
  }

  #contents .ERS_page_send p
  {
    margin: 0 0 12px 0;
    padding: 0 5px 0 0;
  }

  #contents .ERS_page_send input[type='submit'],
    #contents .ERS_page_send input[type='button']
  {
    font-size: 1.0em;
  }

  #contents .ERS_btn,
    #contents article .ERS_btn
  {
    width: 85%;
  }

  #contents .ERS_btn p,
    #contents article .ERS_btn p
  {
    width: 100%;
    margin: 0 0 10px 0;
  }

  #contents .ERS_btn p:first-child,
    #contents article .ERS_btn p:first-child,
    #contents .ERS_btn p:last-child,
    #contents article .ERS_btn p:last-child
  {
    position: initial;
    float: none;
    clear: both;
  }

  #contents .btn
  {
    width: 100%;
    padding: 12px 0 12px 0;
  }

  #contents .next,
    #contents .back,
    #contents .cart_btn,
    #contents .wish_btn
  {
    float: none;
  }

    /* ERS_btn
---------------------------------------------------------------- */
    /* ERS_recommend
---------------------------------------------------------------- */
  .ERS_recommend_list
  {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 60px 0;
    text-align: center;
  }

  .ERS_recommend_list h3.title
  {
    text-align: center;
  }

  #ERS_news h4
  {
    margin: 0 5% 0 5%;
  }

    /* form
---------------------------------------------------------------- */
  #contents input[type='submit']
  {
    padding: 12px 0 12px 0;
  }

  #contents input[type='text'],
    #contents input[type='email'],
    #contents input[type='password']
  {
    padding: 8px 4px 8px 4px;
  }

  #contents select
  {
    padding: 6px 0 6px 4px;
  }

  #contents #amount
  {
    width: 80%;
    margin: 0 0 0 0;
  }

  #contents #lname,
    #contents #lnamek,
    #contents #add_lname,
    #contents #add_lnamek,
    #contents #fname,
    #contents #fnamek,
    #contents #add_fname,
    #contents #add_fnamek
  {
    width: 50%;
  }

  #contents #birthday_m
  {
    margin: 0 5px 0 0;
  }

  #contents #datepickerFrom,
    #contents #datepickerTo
  {
    width: 26%;
  }
}
