/* ERS_detail
---------------------------------------------------------------- */
#contents h2
{
  margin: 0 0 10px 0;
  padding: 0 0 3px 10px;
}

#contents #ERS_detail
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_detail #l_col
{
  float: left;
  width: 38%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_detail #l_col h3
{
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents #ERS_detail #l_col h3 img
{
  width: 100%;
}

#contents #ERS_detail #l_col ul
{
  display: table;
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 5px 0 0 0;
  text-align: center;
}

#contents #ERS_detail #l_col ul li
{
  display: table-cell;
  width: 31%;
  padding: 0 1% 0 1%;
  list-style-type: none;
  text-align: center;
}

#contents #ERS_detail #l_col ul li img
{
  width: 100%;
}

#contents #ERS_detail #r_col
{
  float: right;
  width: 60%;
  margin: 0 0 0 0;
  padding: 0 0 0 2%;
}

#contents #ERS_detail #r_col .ERS_table
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_detail #r_col .ERS_table > div p
{
  font-size: 1.0em;
}

#contents #ERS_detail #r_col .ERS_table h3
{
  font-size: 1.1em;
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_detail #r_col .ERS_table table.detail th
{
  font-size: 1.0em;
  width: 90px;
  padding: 10px 0 5px 5px;
  color: #000;
}

#contents #ERS_detail #r_col .ERS_table table.detail td
{
  font-size: 1.0em;
}

#ERS_detail #r_col .ERS_table table.detail td span
{
  font-size: 1.1em;
}

#ERS_detail #r_col .ERS_table table.detail td strong
{
  font-size: 1.1em;
  font-weight: bold;
}

#contents #sns a
{
  padding: 0 10px 0 0;
}

#contents .ERS_btn p.detail_amount
{
  width: 100%;
  padding: 5px 0 10px 5px;
}

#contents .ERS_btn p.detail_amount label
{
  display: inline-block;
  width: 90px;
}

#contents input#amount
{
  width: 50px;
  text-align: right;
}

#contents .ERS_btn
{
  width: 100%;
}

/* ERS_btn
---------------------------------------------------------------- */
#container #content .container-vm .row #primary .site-content article .ERS_btn
{
  width: 100%;
}

@media only screen and (min-width: 1000px)
{
  #contents .ERS_btn p.cartbtn
  {
    float: left !important;
    margin-top: 25px;
  }

  #contents .ERS_btn p.wishlist
  {
    float: right !important;
    margin-top: 66px;
  }

  #contents .wish_btn
  {
    float: right;
  }

  #contents .prodmessage
  {
    position: absolute;
    margin-bottom: 20px;
  }
}

@-moz-document url-prefix()
{
  .prodmessage
  {
    right: 259px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 999px)
{
  #contents .ERS_btn p.cartbtn
  {
    display: block !important;
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  #contents .ERS_btn p.wishlist
  {
    position: initial;
    display: block !important;
    float: none;
    width: 100%;
  }
}

#contents .ERS_btn p#saleBefore
{
  position: absolute;
  top: 30%;
  left: 20%;
}

#contents .ERS_btn p#saleAfter
{
  position: absolute;
  top: 30%;
  left: 17%;
}

#contents #ERS_periodical
{
  width: 97.5%;
  margin: 20px auto 20px auto;
  padding: 5px 1% 5px 1%;
  border: 1px solid #d1d1d1;
}

#contents #ERS_periodical h3
{
  float: left;
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_periodical h3 img
{
  width: 90%;
}

#contents #ERS_periodical .deliver
{
  float: right;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #ERS_periodical .deliver h3
{
  font-size: 1.0em;
  float: none;
  width: 98%;
  margin: 0 0 5px 0;
  padding: 0 0 5px 2%;
  color: #594018;
  border-bottom: 1px solid #444;
}

#contents #ERS_periodical .deliver h3 label
{
  font-size: 1.2em;
}

#contents #ERS_periodical .deliver table.detail
{
  width: 60%;
  margin: 15px auto 0 auto;
}

#contents #ERS_periodical .deliver table.detail td strong
{
  font-size: 1.2em;
}

#contents #ERS_periodical .deliver table.detail caption
{
  font-size: 1.2em;
  text-align: left;
}

#contents #ERS_periodical .deliver table.detail caption h3
{
  width: 100%;
  padding: 0 0 5px 0;
  maegin: 0 0 0 0;
}

#contents #ERS_periodical .deliver #showMenu1,
#contents #ERS_periodical .deliver #showMenu2
{
  width: 93%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents #ERS_periodical .deliver #showMenu3
{
  width: 93%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents #ERS_periodical .deliver #showMenu3 h3
{
  font-size: 1.0em;
  font-weight: normal;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0 0 3px 3px;
  border-bottom: 1px dotted #d1d1d1;
}

#contents #ERS_periodical .deliver #showMenu3 p
{
  margin: 0 0 0 0;
  padding: 0 0 15px 10px;
}

#contents #ERS_periodical .deliver .cal_in
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
}

#contents #ERS_periodical .deliver .fixInput
{
  width: 200px;
}

#contents #ERS_periodical .deliver p
{
  font-size: 19.2px;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  padding: 0 0 0 2%;
}

#contents #ERS_periodical .deliver .ERS_table th
{
  padding: 5px 0 3px 0;
  text-align: left;
}

#contents #ERS_periodical table.detail
{
  width: 100%;
}

#contents #ERS_periodical table.detail th
{
  width: 100px;
}

#contents #ERS_periodical table.detail th.border_none
{
  border: none;
}

#contents #ERS_periodical table.detail .btn
{
  float: none;
  width: 60%;
  margin: 0 auto 0 auto;
}

#contents .ui-datepicker-trigger,
#contents #datepicker1
{
  vertical-align: middle;
}

#contents select#matrix_form
{
  width: auto;
  min-width: 100px;
}

#contents .line_icon
{
  width: 20px;
}

/* ERS_periodical
---------------------------------------------------------------- */
@media only screen and (min-width: 960px)
{
  #contents #ERS_recommend .ERS_recommend_list
  {
    width: 140px;
    padding: 0 3px 45px 3px;
  }

  #contents #ERS_recommend .ERS_recommend_list h3 img
  {
    width: 138px;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn
  {
    width: 90%;
    margin: 0 auto 0 auto;
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px)
{
  #contents #ERS_recommend .ERS_recommend_list
  {
    width: 18%;
    padding: 0 1% 45px 1%;
  }

  #contents #ERS_recommend .ERS_recommend_list h3 img
  {
    width: 95%;
    max-width: 160px;
    margin: 0 auto;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn
  {
    font-size: .85em;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 8px 0 8px 0;
  }

  #contents #ERS_recommend .ERS_recommend_list .btn:hover
  {
    padding: 8px 0 8px 0;
  }

    /*
	#contents .detail_btn:before{
		background:url("../images/icon/ico_common_16.png") -32px 0;
		background-size:160px 8px;
		margin-top:-4px;
		width:8px;
		height:8px;
	}
	*/;
}

@media only screen and (min-width: 641px) and (max-width: 699px)
{
  #contents #ERS_detail #r_col .ERS_table div img
  {
    width: 80%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media only screen and (max-width: 640px)
{
  #contents #ERS_detail #r_col .ERS_table div img
  {
    width: 60%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #contents #ERS_detail #l_col
  {
    float: none;
    width: 50%;
    margin: 0 auto 0 auto;
  }

  #contents #ERS_detail #r_col
  {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  #contents #ERS_detail #r_col .ERS_table
  {
    width: 95%;
    margin: 0 auto 0 auto;
  }

  #contents #ERS_periodical
  {
    width: 95%;
    margin: 20px auto 0 auto;
    padding: 0 0 0 0;
    border: none;
  }

  #contents #ERS_periodical h3
  {
    float: none;
    width: 98%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  #contents #ERS_periodical .deliver
  {
    float: none;
    width: 98%;
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
    border-top: 2px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
  }

  #contents #ERS_periodical .deliver h3
  {
    width: 95%;
    margin: 0 auto 5px auto;
  }

  #contents #ERS_periodical table.detail
  {
    width: 95%;
    margin: 0 auto 0 auto;
  }

  #contents #custumer
  {
    width: 98%;
    margin: 0 auto 0 auto;
  }

  #contents #custumer img
  {
    width: 50%;
    margin: 0 auto 0 auto;
  }

  #contents #ERS_periodical table.detail .btn
  {
    float: none;
    width: 100%;
    margin: 0 auto 0 auto;
  }
}
