/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn .fl_r
{
  float: right !important;
}

#contents .ERS_btn .fl_l
{
  float: left !important;
}

#contents .mt10
{
  margin-top: 10px;
}

#contents .recount p
{
  margin: 0 0 0 0;
}

.ui-datepicker-trigger
{
  font-size: 1.0em;
  font-weight: normal;
  width: 23px;
  margin: 0 10px 0 10px;
  padding: 0 0 0 0;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: #fff;
}

.cal,
input
{
  vertical-align: middle;
}

#contents dd.end input[type='submit'].Recalculation
{
  display: inline-block;
  width: 15%;
  margin: 0 0 0 0;
}
