.ERS_recommend_list table.detail_recommend th,
.ERS_recommend_list table.detail_recommend td
{
  font-size: 9.5px;
}

.ERS_recommend_list h3.title
{
  font-size: 10px;
}

#ERS_ranking h5
{
  font-size: 10px;
}

@media only screen and (max-width: 640px)
{
  .ERS_recommend_list table th
  {
    font-weight: normal;
    width: 70px;
    padding: 6px 0 6px 3px;
    text-align: left;
    color: #cdbdad;
    border-bottom: 1px solid #ccc;
  }

  .ERS_recommend_list table td
  {
    padding: 6px 0 6px 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
}

@media only screen and (min-width: 640px)
{
  .ERS_recommend_list table th
  {
    width: 55px;
    padding: 6px 0 6px 3px;
    border-bottom: 1px solid #ccc;
  }

  .ERS_recommend_list table td
  {
    width: auto;
    padding: 6px 0 6px 0;
  }

  .ERS_amount table td.sname
  {
    display: block;
    width: auto;
    vertical-align: top;
  }

  .ERS_amount table td.sname img
  {
    display: block;
    float: left;
    padding: 0 5px 0 0;
  }

  .ERS_amount table td.sname span
  {
    display: block;
    padding-top: 15px;
  }
}
