/* contents
---------------------------------------------------------------- */
#contents h2
{
  font-size: 16px;
  font-size: 1.0rem;
  margin: 0 0 15px 0;
  padding: 0 0 2px 0;
  border: none;
  border-bottom: 2px solid #a7bb35;
}

#contents p.title
{
  width: 98.5%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents p.title img
{
  width: 100%;
}

/* ERS_ranking
---------------------------------------------------------------- */
.ERS_recommend_title
{
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 5px;
  color: #000;
  border-bottom: 2px solid #666;
}

/* ERS_news
---------------------------------------------------------------- */
#ttl_news_index
{
  margin: 0 0 0 !important;
}

#ERS_news h2 span
{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
  float: right;
}

/* btn
---------------------------------------------------------------- */
#contents .btn
{
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin: 0 auto 0 auto;
  padding: 8px 0 8px 0;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 641px)
{
  #contents .btn
  {
    width: 100%;
  }
}

@media only screen and (max-width: 640px)
{
  #contents .btn
  {
    width: 60%;
    margin: 5px auto 0 auto;
  }
}
