/* result_item
--------------------------------------------------*/
.result_item
{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.result_item h3
{
  float: left;
  width: 24%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.result_item h3 img
{
  width: 100%;
}

.result_item .text
{
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 5px 2% 0 2%;
}

.result_item .text h4
{
  font-size: 22.4px;
  font-size: 1.4rem;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.result_item .text h4 a
{
  text-decoration: none;
  color: #000;
}

.result_item .text p
{
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.result_item .detail_box
{
  float: right;
  width: 24%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.result_item .detail_box h5
{
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents .btn
{
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  text-decoration: none;
}

#search_box
{
  width: 97%;
  margin: 20px auto 20px auto;
  padding: 10px 1% 10px 1%;
  border: 1px solid #a7bb35;
}

#search_box form
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #search_box h3
{
  display: table;
  width: 90%;
  height: 25px;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  border: 1px solid #000;
  border-radius: 3px 3px 3px 3px;
  background: -o-linear-gradient(#efefef, #fff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

#contents #search_box h3 span:first-child
{
  display: table-cell;
  width: 80%;
  height: 100%;
}

#contents #search_box h3 span:last-child
{
  display: table-cell;
  width: 20%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 0 3px 3px 0;
  background: #000;
}

#contents #search_box .keywordBox
{
  position: relative;
}

#contents #search_box input[type='text']#s_keyword
{
  display: block;
  width: 98%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 6px 0 6px;
  border: none;
  border-radius: 3px 0 0 3px;
  background: none;
}

#contents #search_box h3 span input[type='image']#search_submit-s2
{
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  vertical-align: bottom;
  border: none;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
}

#search_box h4
{
  font-size: 19.2px;
  font-size: 1.2rem;
  float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 14px;
  color: #ddd;
  background: url('../images/icon_navi02.png') 0 2px no-repeat;
}

#search_box .table_box
{
  clear: both;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  border: none;
}

#search_box .table_box dl:first-child
{
  border-top: 1px solid #ddd;
}

#search_box .table_box dd
{
  width: 60%;
}

#contents #search_box p
{
  margin: 10px auto 0 auto;
}

#contents #search_box .btn
{
  width: 40%;
  margin: 0 auto 0 auto;
}

.iconSearch:before
{
  position: absolute;
  left: 43%;
}

.wBreak
{
  word-break: loose;
}

@media only screen and (max-width: 640px)
{
  .result_item
  {
    margin: 0 0 20px 0;
    padding: 10px 0 20px 0;
  }

  .result_item h3
  {
    float: none;
    width: 40%;
    margin: 0 auto 0 auto;
  }

  .result_item .text
  {
    float: none;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
  }

  .result_item .text h4
  {
    text-align: center;
  }

  .result_item .detail_box
  {
    float: none;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
  }

  #contents .btn
  {
    padding: 10px 0 10px 0;
  }

  #search_box .table_box dd
  {
    width: 98%;
    vertical-align: middle;
  }

  #search_box .table_box dd input[type='checkbox']
  {
    margin: -2px 0 0 0;
    vertical-align: middle;
  }

  #search_box .btn
  {
    width: 100%;
  }

  .iconSearch:before
  {
    position: absolute;
    left: 33%;
  }
}

@media only screen and (max-width: 500px)
{
  #search_box h3
  {
    float: none;
    width: 100%;
    margin: 0 auto 0 auto;
  }

  #search_box #s_keyword
  {
    width: 83%;
  }

  #search_box h4
  {
    margin: 10px auto 0 auto;
  }

  #search_box .btn
  {
    width: 100%;
  }

  .iconSearch:before
  {
    position: absolute;
    left: 33%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 959px)
{
  .table_box dl dt
  {
    float: left;
    width: 30%;
    margin-bottom: -1000px;
    padding-bottom: 1000px;
  }
}
