/* contents
--------------------------------------------------*/
#contents
{
  font-size: 1.0em;
  float: none;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents p.top_image
{
  max-width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
}

#contents .w100
{
  width: 100%;
}

#contents input[type='image']
{
  width: 100%;
}

#contents .ERS_login
{
  width: 90%;
  margin: 0 auto 30px auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid #ddd;
}

#contents .ERS_login h3
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #594018;
}

#contents .ERS_login p.iconLogin
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}

#contents .ERS_login p.iconLogin:before
{
  background: none;
}

#contents .ERS_login #login_email,
#contents .ERS_login #login_passwd
{
  width: 92%;
  margin: 0 0 0 0;
}

/* ERS_login
---------------------------------------------------------------- */
@media only screen and (min-width: 980px)
{
  #contents .ERS_login
  {
    width: 70%;
  }
}
/* error
--------------------------------------------------------- */
.ERS_input_error
{
  font-size: 1.0em;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #ddd;
}

.ERS_error p span,
.ERS_input_error p span
{
  font-weight: normal;
  display: block;
  margin: 0;
  padding: 5px 0 0 10px;
  color: #d61516;
}

span.dispError,
em.dispError
{
  color: #d61516;
}

#form_area .ERS_IVP_caution
{
  font-weight: bold !important;
  color: #c9171e !important;
  background-color: #b8d200 !important;
}

/* ERS_box
--------------------------------------------------------- */
#contents #ERS_box
{
  width: 95%;
  margin: 0 auto 0 auto;
}

#contents #form_area
{
  font-size: 1.0em;
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

#contents #form_area h3
{
  font-size: 1.0em;
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents #item_detail h3
{
  font-size: 1.0em;
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#contents .ERS_login table,
#contents #form_area table
{
  font-size: 1.0em;
  width: 100%;
  margin: 10px auto 20px auto;
  padding: 0 0 0 0;
  border: none;
  border-top: 1px solid #ddd;
  background: transparent;
}

#contents .ERS_login table tr:nth-of-type(2n),
#contents #form_area table tr:nth-of-type(2n)
{
  background: transparent;
}

#contents .ERS_login table th
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

#contents #form_area table th,
#contents #form_area table td.title
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

#contents .ERS_login table td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}

#contents #form_area table td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}

#contents #form_area table span.required
{
  font-weight: bold;
  padding: 0 5px 0 0;
  color: #ad3d37;
}

#contents #form_area table td span
{
  display: block;
  clear: both;
}

#contents #form_area table td span.required
{
  display: inline;
}

@media only screen and (min-width: 980px)
{
  #contents #ERS_box
  {
    width: 85%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 979px)
{
  #contents #ERS_box
  {
    width: 100%;
  }
}

@media only screen and (max-width: 719px)
{
  #contents #ERS_box
  {
    width: 98%;
  }
}
/* form_area
--------------------------------------------------------- */
@media only screen and (min-width: 980px)
{
  #contents #form_area,
    #contents #item_detail
  {
    width: 85%;
  }
}
/* item_detail
----------------------------------------------------------*/
#item_detail
{
  margin: 0 auto 0 auto;
  padding: 20px 0 20px 0;
}

#item_detail table
{
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}

#item_detail table th
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

#item_detail table td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ddd;
}

#item_detail table.total
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

#item_detail table.total th
{
  text-align: right;
  border: none;
  border-bottom: 1px solid #ddd;
}

#item_detail table.total td
{
  text-align: right;
  border: none;
  border-bottom: 1px solid #ddd;
}

#contents textarea
{
  width: 95%;
}

/* form
--------------------------------------------------------- */
@media only screen and (min-width: 980px)
{
  #contents #form_area table th
  {
    width: 220px;
  }

  #contents #form_area table td span.sp_only,
    #contents #form_area table td span.tb_only
  {
    display: none;
  }

  #contents #item_detail table.total th
  {
    width: 170px;
  }

  #contents .ERS_btn
  {
    width: 530px;
  }

  #contents #form_area table td.title
  {
    width: 80%;
    text-align: right;
  }

  #lname,
    #fname,
    #lnamek,
    #fnamek,
    #add_lname,
    #add_fname,
    #add_lnamek,
    #add_fnamek,
    #address_name,
    #tel,
    #fax,
    #passwd,
    #passwd_confirm
  {
    width: 200px;
  }

  #lname,
    #fname,
    #lnamek,
    #fnamek
  {
    margin: 0 15px 0 5px;
  }

  #email,
    #email_confirm,
    #email_pc,
    .input_login,
    #ans
  {
    width: 290px;
  }

  #ques
  {
    width: 310px;
  }

  #pref
  {
    width: 150px;
  }

  #zip
  {
    width: 100px;
    margin: 0 10px 0 0;
  }

  #address,
    #taddress,
    #maddress
  {
    display: block;
    width: 600px;
    margin: 0 0 0 0;
  }

  #birthday_y,
    #validity_y
  {
    width: 100px;
    margin: 0 5px 0 0;
  }

  #birthday_m,
    #birthday_d,
    #validity_m
  {
    width: 50px;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (min-width: 720px) and (max-width: 979px)
{
  #contents #form_area,
    #contents #item_detail
  {
    width: 100%;
  }

  #contents #form_area table th
  {
    width: 190px;
  }

  #contents #login_box table th
  {
    width: 150px;
  }

  #contents #form_area table td span.sp_only
  {
    display: none;
  }

  #contents #item_detail table.total th
  {
    width: 50%;
  }

  #contents .ERS_btn
  {
    width: 530px;
  }

  #lname,
    #fname,
    #lnamek,
    #fnamek,
    #add_lname,
    #add_fname,
    #add_lnamek,
    #add_fnamek,
    #address_name,
    #tel,
    #fax,
    #passwd,
    #passwd_confirm
  {
    width: 38%;
  }

  #email,
    #email_confirm,
    #email_pc,
    .input_login,
    #ans
  {
    width: 65%;
  }

  #ques
  {
    width: 73%;
  }

  #pref
  {
    width: 50%;
  }

  #zip
  {
    width: 30%;
  }

  #address,
    #taddress,
    #maddress
  {
    display: block;
    width: 90%;
  }

  #birthday_y,
    #validity_y
  {
    width: 40%;
    margin: 0 5px 0 0;
  }

  #birthday_m,
    #birthday_d,
    #validity_m
  {
    width: 17%;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (max-width: 719px)
{
  #contents #form_area,
    #contents #item_detail
  {
    width: 98%;
  }

  #contents #form_area table th
  {
    display: block;
  }

  #contents #form_area table td
  {
    display: block;
  }

  #contents #form_area table td span.tb_only
  {
    display: none;
  }

  #contents #item_detail table.total
  {
    width: 100%;
  }

  #contents #item_detail table.total th
  {
    width: 50%;
  }

  #contents .ERS_btn
  {
    width: 50%;
  }

  #contents .lp_btn #landing_submit
  {
    width: 90%;
    height: 80px;
    background-size: 100% auto;
  }

  #lname,
    #fname,
    #lnamek,
    #fnamek,
    #add_lname,
    #add_fname,
    #add_lnamek,
    #add_fnamek,
    #address_name,
    #tel,
    #fax,
    #passwd,
    #passwd_confirm
  {
    width: 50%;
  }

  #email,
    #email_confirm,
    #email_pc,
    .input_login,
    #ans
  {
    width: 70%;
  }

  #ques
  {
    width: 73%;
  }

  #pref
  {
    width: 50%;
  }

  #zip
  {
    width: 30%;
    margin: 0 10px 0 0;
  }

  #address,
    #taddress,
    #maddress
  {
    width: 95%;
  }

  #birthday_y,
    #validity_y
  {
    width: 60%;
    margin: 0 5px 0 0;
  }

  #birthday_m,
    #validity_m
  {
    width: 26%;
    margin: 0 5px 0 0;
  }

  #birthday_d
  {
    width: 26%;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (min-width: 640px) and (max-width: 719px)
{
  .ERS_btn
  {
    width: 90%;
  }
}

@media only screen and (max-width: 640px)
{
  .ERS_btn
  {
    width: 90%;
  }

  .ERS_btn form:first-child,
    .ERS_btn form:last-child
  {
    float: none;
  }

  .ERS_btn form p
  {
    text-align: center;
  }

  .ERS_btn input.btn[type='submit'],
    .ERS_btn input.btn[type='button']
  {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}
