@charset 'UTF-8';

html
{
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 62.5% !important;
}

a
{
  color: #a7bb35;
}

li
{
  list-style: none;
}

input[type='submit'],
input[type='button']
{
  line-height: 1.0;
  margin: 0 0 0 0;
  padding: 8px 0 8px 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

input[type='radio'],
input[type='checkbox']
{
  vertical-align: middle;
}

input[type='text'],
input[type='email'],
input[type='password']
{
  font-size: 1em;
  width: 100px;
  margin: 0 0 0 0;
  padding: 3px 5px 3px 5px;
  color: #784709;
  border: 1px solid #999;
  border-radius: 2px;
  background: -o-linear-gradient(#efefef, #fff);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

@media screen and (max-width: 640px)
{
  input[type='text'],
    input[type='email'],
    input[type='password']
  {
    padding: 8px 4px 8px 4px;
  }
}

form
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

select
{
  font-size: 1em;
  width: 100px;
  margin: 0 0 0 0;
  padding: 3px 0 3px 2px;
  color: #784709;
  border: 1px solid #999;
  border-radius: 2px;
  background: -o-linear-gradient(#efefef, #fff);
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,endColorstr=#ffffffff);
}

@media screen and (max-width: 640px)
{
  select
  {
    padding: 6px 0 6px 4px;
  }
}
