@charset 'UTF-8';
/*                 CONTENTS
--------------------------------------------------*/
h2
{
  font-size: 23.04px;
  font-size: 1.44rem;
  font-size: 14.4px;
  margin: 0 0 10px 0;
  padding: 0 0 5px 10px;
  color: #a7bb35;
  border-bottom: 2px solid #a7bb35;
  border-left: 10px solid #a7bb35;
}

h2.subtitle
{
  margin: 0 0 15px 0;
  padding: 0 0 7px 0;
  border: none;
  border-bottom: 2px solid #a7bb35;
}

h3
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 5px 0 3px 0;
}

h3.widget-title
{
  color: #594018;
}

h3 .m-ERS_IVP_color
{
  font-size: .85em;
  font-weight: normal;
  margin-left: 5px;
  color: #d71418;
}

h4
{
  font-size: .85em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

.m-index_title
{
  width: 98.5%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

.m-index_title img
{
  width: 100%;
}

.m-h2_title
{
  font-size: 16px;
  font-size: 1.0rem;
  margin: 0 0 15px 0;
  padding: 0 0 2px 0;
  border: none;
  border-bottom: 2px solid #a7bb35;
}

.m-h2_title-detail
{
  padding: 0 0 3px 10px !important;
}

.m-subtitle02
{
  margin: 0 0 0 0;
  padding: 5px 0 3px 0;
  text-align: left;
  color: #784709;
}

.m-subtitle03
{
  padding: 8px 0 5px 20px;
  border-bottom: 1px solid #a7bb35;
}

.m-subtitle04
{
  margin: 20px 0 0 0;
  padding: 8px 0 8px 20px;
  text-align: left;
  color: #000;
  border-top: 1px solid #a7bb35;
  border-bottom: 1px solid #a7bb35;
  background: #e9ecd9;
}

.m-point
{
  font-size: 1em;
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-point strong
{
  font-size: 1em !important;
}

.m-article_column
{
  display: inline-block;
  float: left;
  width: 33%;
}

.m-recount
{
  width: 95%;
  margin: 10px auto 0 auto;
  padding: 0 0 0 0;
}

.m-recount p
{
  float: left;
  width: 80%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-recount h4
{
  float: right;
  width: 20%;
}

.m-recount .m-btn
{
  width: 100%;
}

.m-wBreak
{
  word-wrap: break-word;
}

.m-ERS_ssl_alert
{
  text-align: center;
}

.m-ERS_IVP_color
{
  color: #d71418;
}

.m-cart_pad-btn
{
  margin: 15px auto 40px auto !important;
}

/*                 ARTICLE
--------------------------------------------------*/
.m-article
{
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

.m-article a
{
  line-height: 1.0;
}

.m-article p
{
  font-size: .85em;
}

.m-article ul li
{
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 20px;
  background: url(../images/btn_tri.gif) 0 8px no-repeat;
}

.m-article .m-table_box dl dd input,
.m-article .m-table_box dl dd button
{
  vertical-align: middle;
}

.m-article .m-table_box dl dd .ui-datepicker-trigger
{
  width: 23px;
  margin: 0 10px 0 10px;
  padding: 0 0 0 0;
}

.m-article .m-table_box dl .m-bill2_table
{
  padding: 6px 0 6px 5px;
}

.m-article .m-bill_wrapper
{
  display: block;
  margin-bottom: 20px;
}

.m-article .m-orderbill
{
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  background: #fff;
}

.m-article .m-orderbill .order_date
{
  padding: 8px;
  color: #fff;
  background: #a7bb35;
}

@media screen and (max-width: 599px)
{
  .m-article .m-orderbill tr
  {
    border-bottom: 1px solid #a7bb35;
  }

  .m-article .m-orderbill tr:first-child
  {
    border: none;
  }

  .m-article .m-orderbill tr:nth-child(3)
  {
    border: none;
  }
}

.m-article .m-orderbill tr td
{
  padding: 8px;
  border-bottom: 1px solid #a7bb35;
}

.m-article .m-orderbill tr td .order_br
{
  display: none;
}

@media screen and (max-width: 599px)
{
  .m-article .m-orderbill tr td
  {
    border: none;
  }

  .m-article .m-orderbill tr td .order_br
  {
    display: block;
  }
}

@media screen and (max-width: 379px)
{
  .m-article .m-orderbill tr td
  {
    border-bottom: none;
  }

  .m-article .m-orderbill tr td .order_hide
  {
    display: none;
  }
}

.m-article .m-orderbill tr td a
{
  display: block;
  min-height: 18px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}

.m-article .m-orderbill tr td a:first-child
{
  padding: 0;
  border: none;
}

@media screen and (max-width: 599px)
{
  .m-article .m-orderbill tr td a
  {
    width: 144%;
  }
}

.m-article .m-orderbill tr .order_button
{
  width: 30%;
}

.m-article .m-orderbill tr .order_button-02
{
  display: none;
}

.m-article .m-orderbill tr .order_number
{
  width: 40%;
}

@media screen and (max-width: 599px)
{
  .m-article .m-orderbill tr .order_button
  {
    display: none;
  }

  .m-article .m-orderbill tr .order_button-02
  {
    display: table-cell;
    width: 100%;
    padding-bottom: 10px;
  }

  .m-article .m-orderbill tr .order_button-02 input[type='submit']
  {
    width: 95%;
    margin: 0 auto;
  }
}

.m-article .m-static_list
{
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background: none;
}

/*                 ERS_box
--------------------------------------------------*/
@media screen and (min-width: 960px)
{
  .m-ERS_box p
  {
    line-height: 23px;
  }
}

/*               ERS_breadcrumb
--------------------------------------------------*/
.m-ERS_breadcrumb
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

/*                  ERS_news
-------------------------------------------------- */
.m-ERS_news
{
  margin: 0 0 0 0;
  padding: 20px 0 20px 0;
}

.m-ERS_news .m-ttl_news_index
{
  margin: 0 0 0 !important;
  padding: 0 0 2px 0;
}

.m-ERS_news h2 span
{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-weight: normal;
  display: block;
  float: right;
}

.m-ERS_news h3 span
{
  font-weight: normal;
  display: block;
  float: right;
}

.m-ERS_news p
{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-size: 12px;
  line-height: 1.5;
  display: block;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.m-ERS_news .date
{
  margin: 0 20px 0 15px;
  color: #000;
}

.m-ERS_news ul
{
  margin: 0 0 0 7px;
  padding: 0 0 0 0;
}

.m-ERS_news ul li
{
  font-size: 14px;
  padding: 5px 0 0 20px;
  background: url(../images/btn_tri.gif) 0 8px no-repeat;
}

@media screen and (max-width: 640px)
{
  .m-ERS_news h4
  {
    margin: 0 5% 0 5%;
  }
}

/*              ERS_recommend
--------------------------------------------------*/
.m-ERS_recommend
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_recommend_list
{
  float: left;
  width: 175px;
  margin: 0 0 0 0;
  padding: 0 5px 45px 0;
  text-align: center;
}

.m-ERS_recommend_list h3.title
{
  font-size: 1.0em;
  text-align: left;
}

.m-ERS_recommend_list h3 img
{
  width: 160px;
  margin: 0 auto 5px auto;
  border: 1px solid #ababab;
}

.m-ERS_recommend_list h3 a
{
  text-decoration: none;
  color: #000;
}

.m-ERS_recommend_list h4
{
  margin: 0 auto;
  padding: 0 0 3px 0;
}

.m-ERS_recommend_list p
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
  text-align: left;
}

.m-ERS_recommend_list > div
{
  padding: 0 3px 0 3px;
}

.m-ERS_recommend_list table
{
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0 0 0 0;
  border: none;
  background: transparent;
}

.m-ERS_recommend_list table th
{
  font-size: 1.0em;
  font-weight: normal;
  width: 90px;
  padding: 6px 0 6px 3px;
  text-align: left;
  color: #a7bb35;
}

.m-ERS_recommend_list table td
{
  font-size: 1.0em;
  padding: 6px 0 6px 3px;
  text-align: left;
}

@media screen and (min-width: 780px)
{
  .m-ERS_recommend_list table th
  {
    display: block;
    float: left;
    width: 97%;
    padding: 6px 1.5% 0 1.5%;
    border: none;
  }

  .m-ERS_recommend_list table td
  {
    display: block;
    float: left;
    width: 97%;
    padding: 0 1.5% 6px 1.5%;
  }
}

@media screen and (min-width: 640px) and (max-width: 780px)
{
  .m-ERS_recommend_list table th
  {
    display: block;
    width: 97%;
    padding: 6px 1.5% 0 1.5%;
    border: none;
  }

  .m-ERS_recommend_list table td
  {
    display: block;
    width: 97%;
    padding: 0 1.5% 6px 1.5%;
  }
}

@media screen and (min-width: 640px) and (max-width: 780px)
{
  .m-ERS_recommend_list
  {
    width: 23%;
    padding: 0 1% 45px 1%;
  }

  .m-ERS_recommend_list h3 img
  {
    width: 95%;
    max-width: 160px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_recommend_list
  {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 60px 0;
    text-align: center;
  }

  .m-ERS_recommend_list h3.title
  {
    text-align: center;
  }
}

/*                ERS_ranking
--------------------------------------------------*/
.m-ERS_ranking
{
  margin: 0 0 30px 0;
  padding: 0 0 0 0;
}

.m-ERS_ranking h3
{
  display: block;
  overflow: hidden;
  margin: 0 0 15px 0;
  padding: 0 0 13px 0;
  text-indent: -9999px;
  border-bottom: 1px solid #a7bb35;
  background: url(../images/mttl_ranking.png) 0 0 no-repeat;
}

.m-ERS_ranking div
{
  float: left;
  width: 145px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_ranking h4
{
  position: relative;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_ranking h4 span
{
  font-size: 1.0em;
  position: absolute;
  top: 5px;
  left: 12px;
  display: none;
  color: #fff;
}

.m-ERS_ranking h4 img
{
  width: 130px;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  text-align: center;
  border: 1px solid #ccc;
}

.m-ERS_ranking h5
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 3px 5px 0 5px;
  text-align: left;
}

.m-ERS_ranking h5 a
{
  color: #a7bb35;
}

.m-ERS_ranking .title
{
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 5px;
  color: #ca5015;
  border-bottom: 2px solid #ca5015;
}

.m-ERS_ranking .m-sp_block
{
  display: block;
  margin-bottom: 5px;
}

@media screen and (min-width: 640px) and (max-width: 780px)
{
  .m-ERS_ranking div
  {
    width: 18%;
    margin: 0 1% 0 1%;
  }

  .m-ERS_ranking h4 img
  {
    width: 100%;
    max-width: 130px;
    margin: 0 auto 0 auto;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_ranking
  {
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
  }

  .m-ERS_ranking h3
  {
    margin: 0 0 5px 0;
  }

  .m-ERS_ranking div
  {
    display: table;
    float: none;
    width: 100%;
  }

  .m-ERS_ranking h4
  {
    display: table-cell;
    width: 30%;
    padding: 0 2.5% 0 0;
    text-align: center;
  }

  .m-ERS_ranking h4 img
  {
    width: 100%;
    max-width: 130px;
    margin: 0 auto 0 auto;
  }

  .m-ERS_ranking h5
  {
    display: table-cell;
    margin: 0 0 0 0;
    padding: 0 0 0 5px;
    vertical-align: middle;
    word-break: break-word;
  }
}

@media screen and (min-width: 641px)
{
  .m-ERS_ranking .sp_block
  {
    display: inline;
  }
}

/*                 ERS_btn
--------------------------------------------------*/
.m-ERS_btn
{
  width: 60%;
  margin: 0 auto 30px auto;
  padding: 0 0 0 0;
}

.m-ERS_btn p
{
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_btn p center
{
  margin: 0 auto;
}

.m-ERS_btn p:first-child
{
  float: left;
}

.m-ERS_btn p:last-child
{
  float: right;
}

.m-ERS_btn p.center
{
  float: none;
  margin: 0 auto 0 auto;
}

.m-ERS_btn .detail_amount
{
  width: 100%;
  padding: 5px 0 10px 5px;
}

.m-ERS_btn .detail_amount label
{
  display: inline-block;
  width: 90px;
}

.m-ERS_btn .m-btn_pad
{
  padding: 15px 0 15px 0;
}

@media screen and (min-width: 1000px)
{
  .m-ERS_btn p.cartbtn
  {
    float: left !important;
    margin-top: 25px;
  }

  .m-ERS_btn p.wishlist
  {
    float: right !important;
    margin-top: 66px;
  }

  .m-ERS_btn .prodmessage
  {
    position: absolute;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 700px) and (max-width: 959px)
{
  .m-ERS_btn
  {
    width: 80%;
  }
}

@media screen and (min-width: 641px) and (max-width: 999px)
{
  .m-ERS_btn p.cartbtn
  {
    display: block !important;
    float: none;
    width: 100%;
    margin: 0 0 10px 0;
  }

  .m-ERS_btn p.wishlist
  {
    position: initial;
    display: block !important;
    float: none;
    width: 100%;
  }
}

@media screen and (min-width: 641px) and (max-width: 699px)
{
  .m-ERS_btn
  {
    width: 85%;
  }

  .m-ERS_btn input[type='text'],
    .m-ERS_btn input[type='email'],
    .m-ERS_btn input[type='password']
  {
    padding: 8px 4px 8px 4px;
  }

  .m-ERS_btn select
  {
    padding: 6px 0 6px 4px;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_btn
  {
    width: 85%;
  }

  .m-ERS_btn p
  {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .m-ERS_btn p:first-child,
    .m-ERS_btn p:last-child
  {
    position: initial;
    float: none;
    clear: both;
  }
}

/*                 BUTTONS
--------------------------------------------------*/
.l-contents
{
    /*               id contents
  --------------------------------------------------*/;
}

.l-contents .m-btn
{
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1;
  display: block;
  width: 95%;
  margin: 0 0 0 0;
  padding: 15px 0 15px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.l-contents .m-btn02
{
  font-size: .95em;
  font-weight: bold;
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 4px 0 4px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.l-contents .m-next
{
  color: #fff;
  background: linear-gradient(top, #92a630 100%, #a7bb35 0%);
  background-color: #a7bb35;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#92a630\', EndColorStr=\'#a7bb35\',GradientType=0)';
}

.l-contents .m-back
{
  color: #3f3e3f;
  border: 1px solid #6f6f6f;
  background: linear-gradient(top, #f0f0f0 100%, #f7f7f7 0%);
  background-color: #f7f7f7;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#f0f0f0\', EndColorStr=\'#f7f7f7\',GradientType=0)';
}

.l-contents .m-login_btn
{
  color: #fff;
  background: linear-gradient(top, #92a630 100%, #a7bb35 0%);
  background-color: #a7bb35;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#92a630\', EndColorStr=\'#a7bb35\',GradientType=0)';
}

.l-contents .m-detail_btn
{
  position: relative;
  color: #fff;
  background: linear-gradient(top, #d96e00 100%, #f4900f 0%);
  background-color: #f4900f;
  text-shadow: 1px 1px 1px #9e5604;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#d96e00\', EndColorStr=\'#f4900f\',GradientType=0)';
}

.l-contents .m-cart_btn
{
  color: #fff;
  background: linear-gradient(top, #92a631 100%, #a7bb35 0%);
  background-color: #a7bb35;
  text-shadow: 1px 1px 1px #6e7c24;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#92a631\', EndColorStr=\'#a7bb35\',GradientType=0)';
}

.l-contents .m-wish_btn
{
  color: #fff;
  background: linear-gradient(top, #b6a72a 100%, #d6c631 0%);
  background-color: #d6c631;
  text-shadow: 1px 1px 1px #7e720f;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#b6a72a\', EndColorStr=\'#d6c631\',GradientType=0)';
}

@media screen and (min-width: 1000px)
{
  .l-contents .m-wish_btn
  {
    float: right;
  }
}

.l-contents .m-center_btn,
.l-contents .m-gray_btn
{
  color: #3f3e3f;
  border: 1px solid #6f6f6f !important;
  background: linear-gradient(top, #f0f0f0 100%, #f7f7f7 0%);
  background-color: #f7f7f7;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#f0f0f0\', EndColorStr=\'#f7f7f7\',GradientType=0)';
}

.l-contents .m-gray02_btn
{
  color: #fff;
  border: 1px solid #504e4e !important;
  background: linear-gradient(top, #7d7d7d 100%, #969796 0%);
  background-color: #969796;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#7d7d7d\', EndColorStr=\'#969796\',GradientType=0)';
}

.l-contents .m-black_btn
{
  color: #fff;
  background-color: #939393;
}

.l-contents .m-green_btn
{
  color: #fff;
  background-color: #d6c631;
}

.l-contents .m-index_btn
{
  font-size: 22.4px;
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
  margin: 0 auto 0 auto;
  padding: 8px 0 8px 0;
  text-align: center;
  text-decoration: none;
}

@media screen and (min-width: 641px)
{
  .l-contents .m-index_btn
  {
    width: 100%;
  }
}

@media screen and (max-width: 640px)
{
  .l-contents .m-index_btn
  {
    width: 60%;
    margin: 5px auto 0 auto;
  }
}

.l-contents .m-list_btn
{
  font-weight: normal;
  display: block;
  width: 100%;
  padding: 8px 0 8px 0;
  text-align: center;
  text-decoration: none;
}

.l-contents .pri_chk
{
  margin: 0 5px 0 0;
  padding: 0 0 0 0;
  vertical-align: bottom;
}

.l-contents .lname,
.l-contents .lnamek,
.l-contents .add_lname,
.l-contents .add_lnamek
{
  width: 33.5%;
  margin: 0 10px 0 3px;
}

.l-contents .fname,
.l-contents .fnamek,
.l-contents .add_fname,
.l-contents .add_fnamek
{
  width: 33.5%;
  margin: 0 0 0 3px;
}

.l-contents .email,
.l-contents .email_confirm,
.l-contents .email_pc,
.l-contents .address_name
{
  width: 96%;
  margin: 0 0 0 0;
}

.l-contents .mformat,
.l-contents .tel,
.l-contents .fax,
.l-contents .add_tel,
.l-contents .add_fax,
.l-contents .cardno,
.l-contents .card_no,
.l-contents .card,
.l-contents .card_type,
.l-contents .Select1,
.l-contents .Text1,
.l-contents .send
{
  width: 40%;
  margin: 0 0 0 0;
}

.l-contents .zip,
.l-contents .add_zip
{
  width: 25%;
  margin: 0 10px 0 0;
}

.l-contents .pref,
.l-contents .add_pref
{
  width: 25%;
  margin: 0 0 0 0;
}

.l-contents .address,
.l-contents .taddress,
.l-contents .maddress,
.l-contents .add_address,
.l-contents .add_taddress,
.l-contents .add_maddress,
.l-contents .compname,
.l-contents .compnamek,
.l-contents .division,
.l-contents .divisionk
{
  width: 96%;
  margin: 0 0 0 0;
}

.l-contents .birthday_y
{
  width: 30%;
  margin: 0 5px 0 0;
}

.l-contents .birthday_m,
.l-contents .birthday_d
{
  width: 20%;
  margin: 0 5px 0 15px;
}

.l-contents .validity_y,
.l-contents .Text2
{
  width: 15%;
  margin: 0 5px 0 0;
}

.l-contents .validity_m,
.l-contents .Text3
{
  width: 10%;
  margin: 0 5px 0 15px;
}

.l-contents .sex
{
  width: 20%;
  margin: 0 0 0 0;
}

.l-contents .password1,
.l-contents .password2,
.l-contents .passwd,
.l-contents .passwd_confirm
{
  width: 40%;
  margin: 0 0 0 0;
}

.l-contents .ques,
.l-contents .ans
{
  width: 80%;
  margin: 0 0 0 0;
}

.l-contents .amount
{
  width: 90%;
  margin: 0 0 0 0;
}

@media screen and (max-width: 640px)
{
  .l-contents .amount
  {
    width: 80%;
    margin: 0 0 0 0;
  }
}

.l-contents .s_scode
{
  width: 40%;
  margin: 0 0 0 0;
}

.l-contents .s_cate1,
.l-contents .s_cate2,
.l-contents .s_cate3,
.l-contents .s_cate4,
.l-contents .s_cate5
{
  width: 50%;
  margin: 0 0 0 0;
}

.l-contents .s_price1,
.l-contents .s_price2
{
  width: 30%;
  margin: 0 3px 0 0;
}

.l-contents .s_sname,
.l-contents .s_keyword,
.l-contents .sort
{
  width: 70%;
  margin: 0 0 0 0;
}

.l-contents .email_pc
{
  margin: 0 0 5px 0;
}

.l-contents .email_ck
{
  margin: 0 5px 0 0;
}

@media screen and (max-width: 640px)
{
  .l-contents .lname,
    .l-contents .lnamek,
    .l-contents .add_lname,
    .l-contents .add_lnamek,
    .l-contents .fname,
    .l-contents .fnamek,
    .l-contents .add_fname,
    .l-contents .add_fnamek
  {
    width: 50%;
  }

  .l-contents .birthday_m
  {
    margin: 0 5px 0 0;
  }

  .l-contents .datepickerFrom,
    .l-contents .datepickerTo
  {
    width: 26%;
  }
}

/*               search_box
--------------------------------------------------*/
.m-search_box
{
  width: 97%;
  margin: 20px auto 20px auto;
  padding: 10px 1% 10px 1%;
  border: 1px solid #a7bb35;
}

.m-search_box form
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-search_box h3
{
  display: table;
  width: 90%;
  height: 25px;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  border: 1px solid #000;
  border-radius: 3px 3px 3px 3px;
  background: linear-gradient(top, #efefef 100%, #fff 0%);
  -ms-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-filter: 'progid:DXImageTransform.Microsoft.gradient(startColorStr=\'#efefef\', EndColorStr=\'#ffffff\',GradientType=0)';
}

.m-search_box h3 span:first-child
{
  display: table-cell;
  width: 80%;
  height: 100%;
}

.m-search_box h3 span:last-child
{
  display: table-cell;
  width: 20%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  border: none;
  border-radius: 0 3px 3px 0;
  background: #000;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
}

.m-search_box .m-keywordBox
{
  position: relative;
}

.m-search_box .m-keywordBox h3 .s_keyword
{
  font-size: 19.2px;
  font-size: 1.2rem;
  font-size: 12px;
  display: block;
  width: 98%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 6px 0 6px;
  border: none;
  border-radius: 3px 0 0 3px;
  background: none;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
}

.m-search_box .m-keywordBox h3 .search_submit-s2
{
  display: block;
  width: auto;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  vertical-align: bottom;
  border: none;
  border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.m-search_box h4
{
  font-size: 19.2px;
  font-size: 1.2rem;
  float: left;
  margin: 5px 0 0 0;
  padding: 0 0 0 14px;
  color: #ddd;
  background: url('../images/icon_navi02.png') 0 2px no-repeat;
}

.m-search_box .m-table_box
{
  clear: both;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 10px 0 0 0;
  border: none;
}

.m-search_box .m-table_box dl:first-child
{
  border-top: 1px solid #ddd;
}

.m-search_box .m-table_box dd
{
  width: 60%;
}

.m-search_box .m-table_box .next
{
  display: inline;
  width: 15%;
  padding: 6px 0 6px 0;
}

.m-search_box p
{
  margin: 10px auto 0 auto;
}

.m-search_box .m-btn
{
  width: 40%;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 640px)
{
  .m-search_box .m-btn
  {
    padding: 12px 0 12px 0;
  }
}

.m-search_box .iconSearch:before
{
  position: absolute;
  left: 43%;
}

@media screen and (max-width: 640px)
{
  .m-search_box .m-table_box dl dd
  {
    width: 98%;
    vertical-align: middle;
  }

  .m-search_box .m-table_box dl dd input[type='checkbox']
  {
    margin: -2px 0 0 0;
    vertical-align: middle;
  }

  .m-search_box .m-table_box dl dd .next
  {
    display: block;
    width: 30%;
    margin: 5px auto 0 auto;
  }

  .m-search_box .iconSearch:before
  {
    position: absolute;
    left: 33%;
  }
}

@media screen and (max-width: 500px)
{
  .m-search_box h3
  {
    float: none;
    margin: 0 auto 0 auto;
  }

  .m-search_box .s_keyword
  {
    width: 83%;
  }

  .m-search_box h4
  {
    margin: 10px auto 0 auto;
  }

  .m-search_box .iconSearch:before
  {
    position: absolute;
    left: 33%;
  }
}

@media screen and (min-width: 700px) and (max-width: 959px)
{
  .m-search_box .table_box dl dt
  {
    float: left;
    width: 30%;
  }
}

/*                 suggest
--------------------------------------------------*/
.m-suggest
{
  font-size: 100%;
  position: absolute;
  z-index: 99;
  left: 0;
  width: 72%;
  border: 1px solid #ccf;
  background-color: #fff;
}

.m-suggest div
{
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
    /* マウスオーバ時のスタイル */;
}

.m-suggest div.select
{
    /* キー上下で選択した場合のスタイル */
  color: #fff;
  background-color: #36f;
}

.m-suggest div.over
{
  background-color: #9cf;
}

/*                result_item
--------------------------------------------------*/
.m-result_item
{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.m-result_item h3
{
  float: left;
  width: 24%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-result_item h3 img
{
  width: 100%;
}

.m-result_item .text
{
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 5px 2% 0 2%;
}

.m-result_item .text h4
{
  font-size: 22.4px;
  font-size: 1.4rem;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.m-result_item .text h4 a
{
  text-decoration: none;
  color: #000;
}

.m-result_item .text p
{
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-result_item .detail_box
{
  float: right;
  width: 24%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-result_item .detail_box h5
{
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

@media screen and (max-width: 640px)
{
  .m-result_item
  {
    margin: 0 0 20px 0;
    padding: 10px 0 20px 0;
  }

  .m-result_item h3
  {
    float: none;
    width: 40%;
    margin: 0 auto 0 auto;
  }

  .m-result_item .text
  {
    float: none;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
  }

  .m-result_item .text h4
  {
    text-align: center;
  }

  .m-result_item .detail_box
  {
    float: none;
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
  }
}

/*                ERS_amount
--------------------------------------------------*/
.m-ERS_amount a
{
  line-height: 1.0;
}

.m-ERS_amount table
{
  font-size: .95em;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  background: transparent;
}

.m-ERS_amount table tr
{
  border-bottom: 1px solid #a7bb35;
}

.m-ERS_amount table tr:last-child
{
  border-bottom: none;
}

.m-ERS_amount table th
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 5px 10px 5px;
  text-align: left;
  background: #f9f9f9;
}

.m-ERS_amount table th.sname
{
  width: 40%;
}

.m-ERS_amount table td
{
  font-size: 1.0em;
  height: auto;
  margin: 0 0 0 0;
}

.m-ERS_amount table td.sname
{
  margin: 0 0 0 0;
  padding: 8px 0 8px 0;
  text-align: left;
}

.m-ERS_amount table td.sname span
{
  display: table;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  table-layout: fixed;
}

.m-ERS_amount table td.sname em
{
  font-style: normal;
  display: table-cell;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: middle;
}

.m-ERS_amount table td.sname em.image
{
  width: 30%;
  padding: 0 0 0 0;
  text-align: center;
}

.m-ERS_amount table td.sname em.image img
{
  width: 74px;
  margin: 0 auto 0 auto;
}

.m-ERS_amount table td.sname em.text
{
  width: 70%;
}

.m-ERS_amount table td.sname span.status
{
  display: block;
}

.m-ERS_amount table td.dayList span
{
  display: block;
}

@media screen and (min-width: 960px)
{
  .m-ERS_amount table th.send,
    .m-ERS_amount table th.term
  {
    text-align: center;
  }

  .m-ERS_amount table td.dayList
  {
    text-align: center;
  }

  .m-ERS_amount table .scode
  {
    width: 120px;
  }

  .m-ERS_amount table .send,
    .m-ERS_amount table .term
  {
    width: 110px;
  }

  .m-ERS_amount table .price
  {
    width: 88px;
    text-align: center;
  }

  .m-ERS_amount table .amount
  {
    width: 43px;
    text-align: center;
  }

  .m-ERS_amount table .act
  {
    width: 88px;
    text-align: center;
  }

  .m-ERS_amount table td.tankaList,
    .m-ERS_amount table td.totalList,
    .m-ERS_amount table td.countList
  {
    text-align: center;
  }

  .m-ERS_amount table td .amount
  {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }
}

@media screen and (min-width: 641px) and (max-width: 959px)
{
  .m-ERS_amount table .scode
  {
    width: 120px;
  }

  .m-ERS_amount table .send,
    .m-ERS_amount table .term
  {
    width: 110px;
  }

  .m-ERS_amount table .price
  {
    width: 100px;
    text-align: center;
  }

  .m-ERS_amount table .amount
  {
    width: 30px;
    text-align: center;
  }

  .m-ERS_amount table .act
  {
    width: 100px;
    text-align: center;
  }

  .m-ERS_amount table td.tankaList,
    .m-ERS_amount table td.totalList,
    .m-ERS_amount table td.countList
  {
    text-align: center;
  }

  .m-ERS_amount table td .amount
  {
    width: 25px;
    margin: 0 auto 0 auto;
    text-align: right;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_amount table
  {
    display: block;
  }

  .m-ERS_amount table tbody
  {
    display: block;
  }

  .m-ERS_amount table tr
  {
    display: block;
    border-top: 1px solid #a7bb35;
    border-bottom: 1px solid #a7bb35;
  }

  .m-ERS_amount table tr:first-child
  {
    display: none;
  }

  .m-ERS_amount table td
  {
    font-size: 1.0em;
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0 0 0 0;
    padding: 4px 1em 4px 1em;
    border-bottom: none !important;
  }

  .m-ERS_amount table td.sname,
    .m-ERS_amount table td.sname02
  {
    width: auto;
  }

  .m-ERS_amount table td.dayList,
    .m-ERS_amount table td.teikiList,
    .m-ERS_amount table td.tankaList,
    .m-ERS_amount table td.countList,
    .m-ERS_amount table td.totalList
  {
    position: relative;
    width: auto;
    padding-left: 50%;
  }

  .m-ERS_amount table td.teikiList:before,
    .m-ERS_amount table td.countList:before,
    .m-ERS_amount table td.totalList:before,
    .m-ERS_amount table td.dayList:before,
    .m-ERS_amount table td.tankaList:before
  {
    font-size: 1.0em;
    position: absolute;
    top: 4px;
    left: 0;
    width: 44%;
    text-align: right;
  }

  .m-ERS_amount table td:empty
  {
    display: none !important;
  }

  .m-ERS_amount table td.dayList:before
  {
    content: 'お届け間隔：';
  }

  .m-ERS_amount table td.tankaList:before
  {
    content: '単価：';
  }

  .m-ERS_amount table td.countList:before
  {
    content: '数量：';
  }

  .m-ERS_amount table td.totalList:before
  {
    content: '金額：';
  }

  .m-ERS_amount table .fixBtn
  {
    width: auto;
  }

  .m-ERS_amount table .fixBtn a
  {
    width: 85% !important;
    margin: 0 0 0 0 !important;
  }

  .m-ERS_amount table td.deleteBtn
  {
    width: auto;
  }
}

/*                ERS_totalsum
--------------------------------------------------*/
.m-ERS_totalsum
{
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 0 40px 0;
}

.m-ERS_totalsum p
{
  font-size: 1.0em;
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0 0 0 0;
}

.m-ERS_totalsum table
{
  width: 100%;
  margin: 10px auto 10px auto;
  padding: 0 0 0 0;
  border: 2px solid #cdbdad;
}

.m-ERS_totalsum table th
{
  font-size: 1.2em;
  font-weight: bold;
  width: 75%;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  text-align: right;
  color: #a7bb35;
  border: none;
  background-color: #fff;
}

.m-ERS_totalsum table td
{
  font-size: 1.2em;
  font-weight: bold;
  width: 25%;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  text-align: center;
  border: none;
}

/*                   ERS_buy
--------------------------------------------------*/
.m-ERS_buy
{
  margin: 0 0 0 0;
  padding: 0 0 30px 0;
}

.m-ERS_buy .m-btn
{
  width: 100%;
  margin: 0 auto 0 auto;
}

.m-ERS_buy h3
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #594018;
}

.m-ERS_buy h4
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_buy h5
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.m-ERS_buy p
{
  margin: 0 0 0 0;
  padding: 3px 0 10px 0;
}

.m-ERS_buy div
{
  float: left;
  width: 28.2%;
  margin: 0 0 0 0;
  padding: 15px 1.95% 15px 1.95%;
  border: 2px solid #cdbdad;
}

.m-ERS_buy .ERS_first
{
  margin: 0 1% 0 1%;
}

.m-ERS_buy .email,
.m-ERS_buy .password2,
.m-ERS_buy .email_pc,
.m-ERS_buy .password1
{
  width: 92%;
  margin: 0 0 0 0;
}

.m-ERS_buy .login_btn
{
  width: 100%;
  white-space: normal;
}

/*                  ERS_detail
--------------------------------------------------*/
.m-ERS_detail
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_detail .sns a
{
  padding: 0 10px 0 0;
}

.m-ERS_detail .l_col
{
  float: left;
  width: 38%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_detail .l_col h3
{
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

.m-ERS_detail .l_col h3 img
{
  width: 100%;
}

.m-ERS_detail .l_col ul
{
  display: table;
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 5px 0 0 0;
  text-align: center;
}

.m-ERS_detail .l_col ul li
{
  display: table-cell;
  width: 31%;
  padding: 0 1% 0 1%;
  list-style-type: none;
  text-align: center;
}

.m-ERS_detail .l_col ul li img
{
  width: 100%;
}

.m-ERS_detail .r_col
{
  float: right;
  width: 60%;
  margin: 0 0 0 0;
  padding: 0 0 0 2%;
}

.m-ERS_detail .r_col .m-ERS_table
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_detail .r_col .m-ERS_table > div p
{
  font-size: 1.0em;
}

.m-ERS_detail .r_col .m-ERS_table h3
{
  font-size: 1.1em;
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_detail .r_col .m-ERS_table .m-detail th
{
  font-size: 1.0em;
  width: 90px;
  padding: 10px 0 5px 5px;
  color: #000;
}

.m-ERS_detail .r_col .m-ERS_table .m-detail td
{
  font-size: 1.0em;
}

.m-ERS_detail .r_col .m-ERS_table .m-detail td span
{
  font-size: 1.1em;
}

.m-ERS_detail .r_col .m-ERS_table .m-detail td strong
{
  font-size: 1em;
  font-weight: bold;
}

@media screen and (min-width: 641px) and (max-width: 699px)
{
  .m-ERS_detail .r_col .m-ERS_table div img
  {
    width: 80%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_detail .r_col .m-ERS_table div img
  {
    width: 60%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .m-ERS_detail .r_col .m-ERS_table .l_col
  {
    float: none;
    width: 50%;
    margin: 0 auto 0 auto;
  }

  .m-ERS_detail .r_col .m-ERS_table .r_col
  {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  .m-ERS_detail .r_col .m-ERS_table .r_col .m-ERS_table
  {
    width: 95%;
    margin: 0 auto 0 auto;
  }
}

/*               ERS_periodical
--------------------------------------------------*/
.m-ERS_periodical
{
  width: 97.5%;
  margin: 20px auto 20px auto;
  padding: 5px 1% 5px 1%;
  border: 1px solid #d1d1d1;
}

.m-ERS_periodical h3
{
  float: left;
  width: 50%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_periodical h3 img
{
  width: 90%;
}

.m-ERS_periodical .deliver
{
  float: right;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-ERS_periodical .deliver h3
{
  font-size: 1.0em;
  float: none;
  width: 98%;
  margin: 0 0 5px 0;
  padding: 0 0 5px 2%;
  color: #594018;
  border-bottom: 1px solid #444;
}

.m-ERS_periodical .deliver h3 label
{
  font-size: 1.2em;
}

.m-ERS_periodical .deliver .m-detail
{
  width: 60%;
  margin: 15px auto 0 auto;
}

.m-ERS_periodical .deliver .m-detail td strong
{
  font-size: 1.2em;
}

.m-ERS_periodical .deliver .m-detail .point strong
{
  font-size: 1em !important;
}

.m-ERS_periodical .deliver .m-detail caption
{
  font-size: 1.2em;
  text-align: left;
}

.m-ERS_periodical .deliver .m-detail caption h3
{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}

.m-ERS_periodical .deliver .m-detail .m-btn
{
  float: none;
  width: 60%;
  margin: 0 auto 0 auto;
  padding: 15px 0 15px 0;
}

.m-ERS_periodical .deliver .showMenu1,
.m-ERS_periodical .deliver #showMenu2,
.m-ERS_periodical .deliver #showMenu3
{
  width: 93%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

.m-ERS_periodical .deliver #showMenu3 h3
{
  font-size: 1.0em;
  font-weight: normal;
  width: 100%;
  margin: 0 0 5px 0;
  padding: 0 0 3px 3px;
  border-bottom: 1px dotted #d1d1d1;
}

.m-ERS_periodical .deliver #showMenu3 p
{
  margin: 0 0 0 0;
  padding: 0 0 15px 10px;
}

.m-ERS_periodical .deliver .cal_in
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 0 10px;
}

.m-ERS_periodical .deliver .fixInput
{
  width: 200px;
}

.m-ERS_periodical .deliver p
{
  font-size: 19.2px;
  font-size: 19.2px;
  font-size: 1.2rem;
  margin: 0 0 20px 0;
  padding: 0 0 0 2%;
}

.m-ERS_periodical .deliver .ERS_table th
{
  padding: 5px 0 3px 0;
  text-align: left;
}

.m-ERS_periodical .m-detail
{
  width: 100%;
}

.m-ERS_periodical .m-detail th
{
  width: 100px;
}

.m-ERS_periodical .m-detail th.border_none
{
  border: none;
}

@media screen and (max-width: 640px)
{
  .m-ERS_periodical
  {
    width: 95%;
    margin: 20px auto 0 auto;
    padding: 0 0 0 0;
    border: none;
  }

  .m-ERS_periodical h3
  {
    float: none;
    width: 98%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  .m-ERS_periodical .deliver
  {
    float: none;
    width: 98%;
    margin: 10px auto 10px auto;
    padding: 10px 0 10px 0;
    border-top: 2px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
  }

  .m-ERS_periodical .deliver h3
  {
    width: 95%;
    margin: 0 auto 5px auto;
  }

  .m-ERS_periodical m-detail
  {
    width: 95%;
    margin: 0 auto 0 auto;
  }

  .m-ERS_periodical m-detail .m-btn
  {
    float: none;
    width: 100%;
    margin: 0 auto 0 auto;
  }
}

.ui-datepicker-trigger,
#datepicker1
{
  vertical-align: middle;
}

select.matrix_form
{
  width: auto;
  min-width: 100px;
}

.line_icon
{
  width: 20px;
}

/*                ERS_page_send
--------------------------------------------------*/
.m-ERS_page_send
{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0 0 0 0;
  text-align: center;
}

.m-ERS_page_send ul
{
  position: relative;
  left: 50%;
  float: left;
  text-align: center;
}

.m-ERS_page_send ul li
{
  position: relative;
  left: -50%;
  display: inline;
  float: left;
  margin: 0 5px;
}

.m-ERS_page_send ul li p
{
  font-size: 1.0em;
  position: relative;
  left: -50%;
  display: block;
  float: left;
  margin: 0 0 0 0;
  padding: 0 5px 0 0;
}

.m-ERS_page_send ul li p input[type='submit'],
.m-ERS_page_send ul li p input[type='button']
{
  font-size: 1.0em;
  line-height: 1.0;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
  color: #35250c;
  border: none;
  border-radius: 3px;
  background: #e7e2da;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.m-ERS_page_send ul li p input.place[type='submit'],
.m-ERS_page_send ul li p input.place[type='button']
{
  font-size: 1.0em;
  line-height: 1.0;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 10px 5px 10px;
  color: #fff;
  border: none;
  background: #7c6853;
}

.m-ERS_page_send ul li.return p input.change[type='submit'],
.m-ERS_page_send ul li.return p input.change[type='button'],
.m-ERS_page_send ul li.enter p input.change[type='submit'],
.m-ERS_page_send ul li.enter p input.change[type='button']
{
  font-weight: bold;
  padding: 5px 0 5px 0;
  color: #7c6853;
  border-radius: 0;
  background: none;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.m-ERS_page_send ul li.return p input.change[type='submit']:hover,
.m-ERS_page_send ul li.return p input.change[type='button']:hover,
.m-ERS_page_send ul li.enter p input.change[type='submit']:hover,
.m-ERS_page_send ul li.enter p input.change[type='button']:hover
{
  border: none;
  background: none;
}

@media screen and (max-width: 640px)
{
  .m-ERS_page_send form
  {
    left: 50%;
  }

  .m-ERS_page_send p
  {
    margin: 0 0 12px 0;
    padding: 0 5px 0 0;
  }

  .m-ERS_page_send input[type='submit'],
    .m-ERS_page_send input[type='button']
  {
    font-size: 1.0em;
  }
}

/*                 ERS_flow
--------------------------------------------------*/
.m-ERS_flow
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.m-ERS_flow h2
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

.m-ERS_flow h2:before
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

.m-ERS_flow ol
{
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
}

.m-ERS_flow ol li
{
  font-size: 100%;
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  width: 33.3%;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #ddd;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.m-ERS_flow ol li:before
{
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  content: '';
  border-width: 30px 0 30px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
}

.m-ERS_flow ol li:after
{
  position: absolute;
  z-index: 2;
  top: 0;
  right: -14px;
  content: '';
  border-width: 30px 0 30px 15px;
  border-style: solid;
  border-color: transparent transparent transparent #ddd;
}

.m-ERS_flow ol li span
{
  display: block;
  width: 90%;
  margin: 0 0 0 auto;
}

.m-ERS_flow ol .current
{
  font-weight: bold;
  color: #fff;
  background-color: #a7bb35;
}

.m-ERS_flow ol .current:after
{
  border-color: transparent transparent transparent #a7bb35;
}

.m-ERS_flow ol .flow1
{
  z-index: 3;
}

.m-ERS_flow ol .flow1:before
{
  content: none;
}

.m-ERS_flow ol .flow2
{
  z-index: 2;
}

.m-ERS_flow ol .flow3
{
  z-index: 1;
}

.m-ERS_flow ol .flow3:after
{
  content: none;
}

.m-ERS_flow .col2 li
{
  width: 50%;
}

.m-ERS_flow .col2 .flow1
{
  z-index: 2;
}

.m-ERS_flow .col2 .flow1:before
{
  content: none;
}

.m-ERS_flow .col2 .flow2
{
  z-index: 1;
}

.m-ERS_flow .col2 .flow2:after
{
  content: none;
}

.m-ERS_flow .col4 li
{
  width: 25%;
}

.m-ERS_flow .col4 .flow1
{
  z-index: 4;
}

.m-ERS_flow .col4 .flow1:before
{
  content: none;
}

.m-ERS_flow .col4 .flow2
{
  z-index: 3;
}

.m-ERS_flow .col4 .flow3
{
  z-index: 2;
}

.m-ERS_flow .col4 .flow3:after
{
  content: '';
}

.m-ERS_flow .col4 .flow4
{
  z-index: 1;
}

.m-ERS_flow .col4 .flow4:after
{
  content: none;
}

.m-ERS_flow .col5 li
{
  width: 20%;
}

.m-ERS_flow .col5 .flow1
{
  z-index: 5;
}

.m-ERS_flow .col5 .flow1:before
{
  content: none;
}

.m-ERS_flow .col5 .flow2
{
  z-index: 4;
}

.m-ERS_flow .col5 .flow3
{
  z-index: 3;
}

.m-ERS_flow .col5 .flow3:after
{
  content: '';
}

.m-ERS_flow .col5 .flow4
{
  z-index: 2;
}

.m-ERS_flow .col5 .flow5
{
  z-index: 1;
}

.m-ERS_flow .col5 .flow5:after
{
  content: none;
}

@media screen and (max-width: 700px)
{
  .m-ERS_flow ol li
  {
    height: 80px;
  }

  .m-ERS_flow ol li:before
  {
    border-width: 40px 0 40px 15px;
  }

  .m-ERS_flow ol li:after
  {
    position: absolute;
    top: 0;
    right: -14px;
    border-width: 40px 0 40px 15px;
  }
}

@media screen and (max-width: 499px)
{
  .m-ERS_flow ol li
  {
    height: 104px;
  }

  .m-ERS_flow ol li:before
  {
    border-width: 52px 0 52px 15px;
  }

  .m-ERS_flow ol li:after
  {
    position: absolute;
    top: 0;
    right: -14px;
    border-width: 52px 0 52px 15px;
  }
}

@media screen and (min-width: 641px) and (max-width: 959px)
{
  .m-ERS_flow
  {
    width: 100%;
  }

  .m-ERS_flow img
  {
    width: 100%;
  }
}

@media screen and (max-width: 640px)
{
  .m-ERS_flow
  {
    width: 100%;
  }

  .m-ERS_flow img
  {
    width: 100%;
  }
}

/*                  ERS_error
--------------------------------------------------*/
.m-ERS_error,
.m-ERS_input_error
{
  width: 80%;
  margin: 20px auto 20px auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid #a7bb35;
}

.m-ERS_error p,
.m-ERS_input_error p
{
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #d71418;
}

.m-ERS_error p span,
.m-ERS_input_error p span
{
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 5px 0 0 10px;
}

/*               ERS_IVP_caution
--------------------------------------------------*/
.m-ERS_IVP_caution
{
  font-weight: bold !important;
  color: #c9171e !important;
  background-color: #b8d200 !important;
}

.m-ERS_IVP_caution label
{
  color: #c9171e !important;
}

.m-ERS_IVP_caution label .m-ERS_IVP_color
{
  color: #c9171e !important;
}

.m-dispError
{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
  color: #d71418;
}

/*                  table_box
--------------------------------------------------*/
.m-table_box
{
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-top: 1px solid #a7bb35;
}

.m-table_box .bdrTop
{
  border-top: 1px solid #a7bb35;
}

.m-table_box h3
{
  padding: 30px 0 3px 0 !important;
}

.m-table_box dl
{
  font-size: .95em;
  display: block;
  overflow: visible;
  height: auto;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-bottom: 1px solid #a7bb35;
}

.m-table_box dl dt
{
  font-size: 1.0em;
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 11px 0 0 5px;
  background-color: #f9f9f9;
}

.m-table_box dl dt label
{
  font-size: 1.0em;
}

.m-table_box dl dd
{
  font-size: 1.0em;
  display: block;
  margin: 0 0 0 0;
  padding: 11px 0 11px 5px;
}

.m-table_box dl dd label
{
  font-size: 1.0em;
}

.m-table_box dl dd span.summarry
{
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 4px 0;
}

.m-table_box dl dd textarea
{
  display: block;
  width: 98%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-table_box dl dd span.check_box
{
  display: block;
  margin: 8px 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}

.m-table_box dl dd .add_in
{
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}

.m-table_box dl dd .add_in label
{
  display: block;
}

.m-table_box .ex
{
  font-size: .85em;
  display: block;
  padding: 3px 0 0 0;
  color: #999;
}

.m-table_box .ex2
{
  font-size: .85em;
  display: block;
  padding: 0 0 3px 0;
  color: #d71418;
}

@media screen and (min-width: 960px)
{
  .m-table_box dl
  {
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  .m-table_box dl dt
  {
    float: left;
    width: 195px;
    padding: 12px 0 3% 5px;
  }

  .m-table_box dl dt.long
  {
    padding: 12px 0 3% 5px;
  }

  .m-table_box dl dd
  {
    float: left;
    width: 525px;
  }
}

@media screen and (min-width: 700px) and (max-width: 959px)
{
  .m-table_box dl
  {
    display: -ms-flexbox;
    display: -webkit-flex;
  }

  .m-table_box dl dt
  {
    float: left;
    width: 20%;
    padding-bottom: 3%;
  }

  .m-table_box dl dd
  {
    float: left;
    width: 75%;
  }
}

@media screen and (min-width: 641px) and (max-width: 699px)
{
  .m-table_box dl dt
  {
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .m-table_box dl dt label
  {
    padding: 0 0 0 2%;
  }

  .m-table_box dl dd
  {
    width: 98%;
    padding: 6px 0 6px 2%;
  }

  .m-table_box dl dd span.check_box
  {
    margin: 10px 0 10px 0;
  }

  .m-table_box dl dd span.check_box label
  {
    margin: 0 0 0 0;
    padding: 10px 25px 10px 25px;
  }
}

@media screen and (max-width: 640px)
{
  .m-table_box dl dt
  {
    width: 100%;
    padding: 8px 0 8px 0;
    border-bottom: 1px solid #ddd;
  }

  .m-table_box dl dt label
  {
    display: block;
    padding: 0 0 0 2%;
  }

  .m-table_box dl dd
  {
    width: 98%;
    padding: 6px 0 6px 2%;
  }

  .m-table_box dl dd span.summarry
  {
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .m-table_box dl dd textarea
  {
    width: 96%;
    margin: 0 auto 0 auto;
  }

  .m-table_box dl dd #inquiry_content
  {
    width: 90%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .m-table_box dl dd span.check_box
  {
    margin: 10px 0 10px 0;
  }

  .m-table_box dl dd span.check_box label
  {
    margin: 0 0 0 0;
    padding: 10px 25px 10px 25px;
  }
}

/*                table_total
--------------------------------------------------*/
.m-table_total table
{
  font-size: .95em;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-spacing: 0;
  border-collapse: separate;
  border: none;
  border-top: 1px solid #a7bb35;
  background: transparent;
}

.m-table_total table th
{
  font-size: 1.0em;
  font-weight: normal;
  line-height: 2.5;
  width: 65%;
  padding: 0 10px 0 0;
  text-align: right;
  vertical-align: middle;
  border-bottom: 1px solid #a7bb35;
  background: #f9f9f9;
}

.m-table_total table th.bg01
{
  background: #fff;
}

.m-table_total table td
{
  font-size: 1.0em;
  width: 35%;
  padding: 0 10px 0 0;
  text-align: right;
  color: #333;
  border-bottom: 1px solid #a7bb35;
}

.m-table_total table td.ft13
{
  font-size: 1.0em;
}

.m-table_total p
{
  text-align: right;
}

@media screen and (max-width: 640px)
{
  .m-table_total p
  {
    font-size: .85em;
  }

  .m-table_total p table th
  {
    width: 40%;
  }

  .m-table_total p table td
  {
    width: 53%;
  }

  .m-table_total p .m-ERS_totalsum table th
  {
    width: 65% !important;
  }

  .m-table_total p .m-ERS_totalsum table td
  {
    width: 35% !important;
  }
}

/*               table_wide_type
--------------------------------------------------*/
.m-wide_type
{
  width: 100%;
  border-bottom: 1px solid #a7bb35;
}

.m-wide_type tr th
{
  font-size: 1.0em;
  font-weight: normal;
  padding: 10px 1em 10px 1em;
  text-align: left;
  color: #333;
  border-bottom: 1px solid #a7bb35;
  background: #fff;
}

.m-wide_type tr td
{
  font-size: 1.0em;
  padding: 8px 1em 8px 1em;
  border-bottom: 1px solid #a7bb35;
}

@media screen and (min-width: 960px)
{
  .m-wide_type tr th.price
  {
    width: 100px;
  }
}

@media screen and (min-width: 641px) and (max-width: 959px)
{
  .m-wide_type tr th.price
  {
    width: 100px;
  }
}

@media screen and (max-width: 640px)
{
  .m-wide_type
  {
    display: block;
  }

  .m-wide_type tbody
  {
    display: block;
  }

  .m-wide_type tr
  {
    display: block;
    float: none;
    clear: both;
    border-top: 1px solid #a7bb35;
    border-bottom: 1px solid #a7bb35;
  }

  .m-wide_type tr td
  {
    font-size: 1.0em;
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0 0 0 0;
    padding: 4px 1em 4px 1em;
    border-top: none !important;
    border-bottom: none !important;
  }

  .m-wide_type tr td.itemImgs
  {
    float: left;
    width: 18%;
  }

  .m-wide_type tr td.itemImgs img
  {
    width: 100%;
  }

  .m-wide_type tr td.itemName,
    .m-wide_type tr td.priceList,
    .m-wide_type tr td.itemDetails
  {
    float: right;
    width: 65%;
  }

  .m-wide_type tr td.wishBtns
  {
    clear: both;
  }

  .m-wide_type tr td.numberList,
    .m-wide_type tr td.dateList,
    .m-wide_type tr td.bayTotal,
    .m-wide_type tr td.usePoint,
    .m-wide_type tr td.getPoint,
    .m-wide_type tr td.havePoint
  {
    position: relative;
    width: auto;
    padding-left: 50%;
  }

  .m-wide_type tr td.numberList:before,
    .m-wide_type tr td.dateList:before,
    .m-wide_type tr td.bayTotal:before,
    .m-wide_type tr td.usePoint:before,
    .m-wide_type tr td.getPoint:before,
    .m-wide_type tr td.havePoint:before
  {
    font-size: 1.0em;
    position: absolute;
    top: 4px;
    left: 0;
    width: 44%;
    text-align: right;
  }

  .m-wide_type tr td.numberList:before
  {
    content: '伝票番号：';
  }

  .m-wide_type tr td.dateList:before
  {
    content: 'ポイント更新日：';
  }

  .m-wide_type tr td.bayTotal:before
  {
    content: '購入金額：';
  }

  .m-wide_type tr td.usePoint:before
  {
    content: 'ご利用ポイント：';
  }

  .m-wide_type tr td.getPoint:before
  {
    content: '獲得ポイント：';
  }

  .m-wide_type tr td.havePoint:before
  {
    content: '所持ポイント：';
  }

  .m-wide_type tr td.detailBtn
  {
    width: auto;
    text-align: center;
  }

  .m-wide_type tr td.detailBtn a
  {
    width: 85% !important;
    margin: 0 0 0 0 !important;
  }
}

/*                table.detail
--------------------------------------------------*/
.m-detail
{
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 0 0;
  border: none;
}

.m-detail th
{
  font-size: 1.0em;
  font-weight: normal;
  width: 70px;
  margin: 0 0 0 0;
  padding: 10px 0 5px 0;
  text-align: left;
  color: #a7bb35;
  border-bottom: 1px solid #ccc;
}

.m-detail td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 640px)
{
  .m-detail div img
  {
    width: 60%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  .m-detail .l_col
  {
    float: none;
    width: 50%;
    margin: 0 auto 0 auto;
  }

  .m-detail .r_col
  {
    float: none;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
  }

  .m-detail .r_col .ERS_table
  {
    width: 95%;
    margin: 0 auto 0 auto;
  }
}

/*                    CMS
--------------------------------------------------*/
.m-cms h3
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.m-cms h3 span
{
  font-size: .8em;
  font-weight: normal;
  display: block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-cms_main-content
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-news_list-pad
{
  padding: 0 0 20px 0 !important;
}

.typeA,
.typeB,
.typeC,
.typeD,
.typeE,
.typeF
{
  display: block;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeA img,
.typeB img,
.typeC img,
.typeD img,
.typeE img,
.typeF img
{
  vertical-align: bottom;
}

.typeA p,
.typeB p,
.typeC p,
.typeD p,
.typeE p,
.typeF p
{
  font-size: 1.0em;
  line-height: 1.5;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeA div,
.typeB div,
.typeC div,
.typeD div,
.typeE div,
.typeF div
{
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
}

.typeA .box1,
.typeB .box1,
.typeC .box1,
.typeD .box1,
.typeE .box1,
.typeF .box1
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeA .box2,
.typeB .box2,
.typeC .box2,
.typeD .box2,
.typeE .box2,
.typeF .box2
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeB .box1
{
  float: right;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeB .img01
{
  display: inline-table;
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeB .box2
{
  float: left;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeB .img02
{
  display: inline-table;
  float: right;
  width: 48%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeC ul
{
  float: right;
  width: 38%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeC ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeC ul li img
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.typeC p
{
  font-size: 1.0em;
  width: 60%;
}

.typeE ul
{
  display: table;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.typeE li
{
  font-size: 1.0em;
  display: table-cell;
  width: auto;
  margin: 0 0 0 0;
  padding: 0 5px 0 5px;
}

.typeE li img
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-cms_link
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
}

.m-cms_link ul
{
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

.m-cms_link ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

.m-cms_file
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-cms_file ul
{
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
}

.m-cms_file ul li
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 0 0 3px 0;
}

/*                    LP
--------------------------------------------------*/
.m-lp_contents
{
  font-size: 1.0em;
  float: none;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-lp_contents p.top_image
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
}

.m-lp_contents p.top_image img
{
  max-width: 100%;
}

.m-lp_contents input[type='image']
{
  max-width: 100%;
}

.m-lp_contents .ERS_login
{
  width: 90%;
  margin: 0 auto 30px auto;
  padding: 10px 10px 10px 10px;
  border: 2px solid #ddd;
}

.m-lp_contents .ERS_login h3
{
  margin: 0 0 0 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #594018;
}

.m-lp_contents .ERS_login p.iconLogin
{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
}

.m-lp_contents .ERS_login p.iconLogin:before
{
  background: none;
}

.m-lp_contents .ERS_login #login_email,
.m-lp_contents .ERS_login #login_passwd
{
  width: 92%;
  margin: 0 0 0 0;
}

@media only screen and (min-width: 980px)
{
  .m-lp_contents .ERS_login
  {
    width: 70%;
  }
}

.m-lp_contents #form_area
{
  font-size: 1.0em;
  width: 95%;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
}

.m-lp_contents #form_area h3
{
  font-size: 1.0em;
  clear: both;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.m-lp_contents #form_area .personal_handling tr
{
  display: -ms-flexbox;
  display: flex;
}

.m-lp_contents #form_area .personal_handling tr th
{
  width: 50%;
  padding: 20% 0 20% 3%;
}

.m-lp_contents #form_area .personal_handling tr td
{
  width: 100%;
}

.m-lp_contents .ERS_login table,
.m-lp_contents #form_area table
{
  font-size: 1.0em;
  width: 100%;
  margin: 10px auto 20px auto;
  padding: 0 0 0 0;
  border: none;
  border-top: 1px solid #ddd;
  background: transparent;
}

.m-lp_contents .ERS_login table tr:nth-of-type(2n),
.m-lp_contents #form_area table tr:nth-of-type(2n)
{
  background: transparent;
}

.m-lp_contents .ERS_login table th
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.m-lp_contents #form_area table th,
.m-lp_contents #form_area table td.title
{
  font-size: 1.0em;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}

.m-lp_contents .ERS_login table td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.m-lp_contents #form_area table td
{
  font-size: 1.0em;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
  border-bottom: 1px solid #ddd;
}

.m-lp_contents #form_area table span.required
{
  font-weight: bold;
  padding: 0 5px 0 0;
  color: #ad3d37;
}

.m-lp_contents #form_area table td span
{
  display: block;
  clear: both;
}

.m-lp_contents #form_area table td span.required
{
  display: inline;
}

@media only screen and (min-width: 980px)
{
  .m-lp_contents #form_area,
    .m-lp_contents #item_detail
  {
    width: 85%;
  }
}

.m-lp_contents #contents textarea
{
  width: 95%;
}

@media only screen and (min-width: 980px)
{
  #form_area table th
  {
    width: 220px;
  }

  #form_area table td span.sp_only,
    #form_area table td span.tb_only
  {
    display: none;
  }

  .ERS_btn
  {
    width: 530px;
  }

  #form_area table td.title
  {
    width: 80%;
    text-align: right;
  }
}

#lname,
#fname,
#lnamek,
#fnamek,
#add_lname,
#add_fname,
#add_lnamek,
#add_fnamek,
#address_name,
#tel,
#fax,
#passwd,
#passwd_confirm
{
  width: 200px;
}

#lname,
#fname,
#lnamek,
#fnamek
{
  margin: 0 15px 0 5px;
}

#email,
#email_confirm,
#email_pc,
.input_login,
#ans
{
  width: 290px;
}

#ques
{
  width: 310px;
}

#pref
{
  width: 150px;
}

#zip
{
  width: 100px;
  margin: 0 10px 0 0;
}

#address,
#taddress,
#maddress
{
  display: block;
  width: 600px;
  margin: 0 0 0 0;
}

#birthday_y,
#validity_y
{
  width: 100px;
  margin: 0 5px 0 0;
}

#birthday_m,
#birthday_d,
#validity_m
{
  width: 50px;
  margin: 0 5px 0 10px;
}

@media only screen and (min-width: 720px) and (max-width: 979px)
{
  #form_area table th
  {
    width: 190px;
  }

  #login_box table th
  {
    width: 150px;
  }

  #form_area table td span.sp_only
  {
    display: none;
  }

  #item_detail table.total th
  {
    width: 50%;
  }

  .ERS_btn
  {
    width: 530px;
  }
}

#lname,
#fname,
#lnamek,
#fnamek,
#add_lname,
#add_fname,
#add_lnamek,
#add_fnamek,
#address_name,
#tel,
#fax,
#passwd,
#passwd_confirm
{
  width: 38%;
}

#email,
#email_confirm,
#email_pc,
.input_login,
#ans
{
  width: 65%;
}

#ques
{
  width: 73%;
}

#pref
{
  width: 50%;
}

#zip
{
  width: 30%;
}

#address,
#taddress,
#maddress
{
  display: block;
  width: 90%;
}

#birthday_y,
#validity_y
{
  width: 40%;
  margin: 0 5px 0 0;
}

#birthday_m,
#birthday_d,
#validity_m
{
  width: 17%;
  margin: 0 5px 0 10px;
}

@media only screen and (max-width: 719px)
{
  #form_area table th
  {
    display: block;
  }

  #form_area table td
  {
    display: block;
  }

  #form_area table td span.tb_only
  {
    display: none;
  }

  .ERS_btn
  {
    width: 50%;
  }

  .lp_btn #landing_submit
  {
    width: 90%;
    height: 80px;
    background-size: 100% auto;
  }

  #lname,
    #fname,
    #lnamek,
    #fnamek,
    #add_lname,
    #add_fname,
    #add_lnamek,
    #add_fnamek,
    #address_name,
    #tel,
    #fax,
    #passwd,
    #passwd_confirm
  {
    width: 50%;
  }

  #email,
    #email_confirm,
    #email_pc,
    .input_login,
    #ans
  {
    width: 70%;
  }

  #ques
  {
    width: 73%;
  }

  #pref
  {
    width: 50%;
  }

  #zip
  {
    width: 30%;
    margin: 0 10px 0 0;
  }

  #address,
    #taddress,
    #maddress
  {
    width: 95%;
  }

  #birthday_y,
    #validity_y
  {
    width: 60%;
    margin: 0 5px 0 0;
  }

  #birthday_m,
    #validity_m
  {
    width: 26%;
    margin: 0 5px 0 0;
  }

  #birthday_d
  {
    width: 26%;
    margin: 0 5px 0 10px;
  }
}

@media only screen and (max-width: 719px) and (min-width: 640px) and (max-width: 719px)
{
  .ERS_btn
  {
    width: 90%;
  }
}

@media only screen and (max-width: 719px) and (max-width: 640px)
{
  .ERS_btn
  {
    width: 90%;
  }

  .ERS_btn form:first-child,
    .ERS_btn form:last-child
  {
    float: none;
  }

  .ERS_btn form p
  {
    text-align: center;
  }

  .ERS_btn input.btn[type='submit'],
    .ERS_btn input.btn[type='button']
  {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}
