#ERS_news
{
  margin: 0 0 0 0;
  padding: 0 0 20px 0;
}

#ERS_news p
{
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.5;
  display: block;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

#ERS_news .date
{
  margin: 0 20px 0 15px;
  color: #000;
}
