/* contents
--------------------------------------------------*/
#contents article
{
  display: inline-block;
  float: left;
  width: 33%;
}

#contents article ul li
{
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 20px;
  background: url(../images/btn_tri.gif) 0 8px no-repeat;
}

#contents article ul li ul li
{
  font-size: 13px;
}

@media only screen and (min-width: 641px) and (max-width: 699px)
{
  #contents article
  {
    display: inline-block;
    float: left;
    width: 50%;
  }
}

@media only screen and (max-width: 640px)
{
  #contents article
  {
    display: block;
    float: none;
    width: 100%;
  }
}
