/* contents
--------------------------------------------------*/
#contents h2.subtitle03
{
  padding: 7px 0 7px 20px;
  border-left: none;
}

#ERS_news p
{
  font-size: 19.2px;
  font-size: 1.2rem;
  line-height: 1.5;
  display: block;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #ccc;
}

#ERS_news .date
{
  margin: 0 20px 0 15px;
  color: #000;
}

#contents article ul li
{
  font-size: 13px;
  margin: 0 0 10px 0;
  padding: 5px 0 5px 20px;
  background: url(../images/btn_tri.gif) 0 8px no-repeat;
}

#contents article#ERS_news ul
{
  margin: 0 0 0 7px;
  padding: 0 0 0 0;
}

#contents article#ERS_news ul li
{
  font-size: 14px;
  padding: 5px 0 0 20px;
  background: url(../images/btn_tri.gif) 0 8px no-repeat;
}

#ERS_news h3 span
{
  font-weight: normal;
  display: block;
  float: right;
}
