<!-- amount start -->
		<div class="ERS_amount">
			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■定期商品のお申し込み</td></tr></table>
    <ers:table src="partialModel.regularBasketItems" name="regularBasketItems" record_key="regular_record_key" variable="item">
			<table width="100%" align="left" cellspacing="0" cellpadding="2">

				<tr>
					<th width="68%" colspan="2"><font color="#101010">■<%=item.disp_sname%><input type="hidden" name="<%=regular_record_key%>key" value="<%=item.key %>" />
                        <input type="hidden" name="<%=regular_record_key%>regular_key" value="<%=item.regular_key %>">
                        <input type="hidden" name="<%=regular_record_key%>scode" value="<%=item.scode %>">
                        <input type="hidden" name="<%=regular_record_key%>send_ptn" value="<%=item.send_ptn %>">
                        <ers:isNotEqual src="item.attribute2" value=""><br /><span>カラー・素材：<%=item.attribute2%></span></ers:isNotEqual>
                        <ers:isNotEqual src="item.attribute1" value=""><br /><span>サイズ：<%=item.attribute1%></span></ers:isNotEqual>
					</font></th>
					<th width="31%" style="padding:0 0 0 1%; vartical-align:top;">
					<ers:formatCurrency src="item.price" /><br/>
					<ers:isNotEqual src="item.send_ptn" value="">
					<ers:isNotEqual src="item.regular_price" variable="item.price">(2回目より<ers:formatCurrency src="item.regular_price" />)</ers:isNotEqual>
					</ers:isNotEqual>
					</th>
				</tr>
				<tr>
					<td colspan="3">
				        <ers:isEqual src="item.send_ptn" value="1">
				                        <%=item.ptn_interval_month %>ヶ月ごと<%=item.ptn_day_name %>
                                        <input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
                                        <input type="hidden" name="<%=regular_record_key%>ptn_day" value="<%=item.ptn_day %>">
                                        <input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				        </ers:isEqual>
				        <ers:isEqual src="item.send_ptn" value="2">
				                        <%=item.ptn_interval_month %>ヶ月ごと<%=item.ptn_interval_week %>週目の<%=item.ptn_weekday_name %>
                                        <input type="hidden" name="<%=regular_record_key%>ptn_interval_month" value="<%=item.ptn_interval_month %>">
                                        <input type="hidden" name="<%=regular_record_key%>ptn_interval_week" value="<%=item.ptn_interval_week %>">
                                        <input type="hidden" name="<%=regular_record_key%>ptn_weekday" value="<%=item.ptn_weekday %>">
				        </ers:isEqual>
				        <ers:isEqual src="item.send_ptn" value="3">
                                    <%=item.ptn_interval_day %>日ごと
                                    <input type="hidden" name="<%=regular_record_key%>ptn_interval_day" value="<%=item.ptn_interval_day %>">
                                    <input type="hidden" name="<%=regular_record_key%>next_date" value="<%=item.next_date %>">
				       </ers:isEqual>
                    </td>
				</tr>
				<tr>
					<td >
						<input type="submit" name="delete_reg<%=item.regular_key%>" value="削除" />
					</td>
					<td align="right" colspan="2"><b>数量:&nbsp;</b>
					    <input type="text" size="2" name="<%=regular_record_key%>amount" id="Text1" value="<%=item.amount%>" >
					点</td>
				</tr>

			</table>
			<hr size="1" color="#c9c9c9">
	</ers:table>
		</div>
<!-- amount end -->

<!-- total start -->
			<hr size="1" color="#c9c9c9">
			<p style="margin:0 0 0 0; padding:0 8px 0 0; " align="right"><input type="submit" value="再計算" id="regular_recompute"  name="regular_recompute"/></p>
<br>
			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#f3d2c1">
				<tr>
					<td>
<div align="right">
<font color="#9c300a">
小計:&nbsp;<ers:formatCurrency src="partialModel.regular_subtotal">
<ers:isNotEqual src="partialModel.regular_subtotal" variable="partialModel.regular_subtotal_next">(2回目より<ers:formatCurrency src="partialModel.regular_subtotal_next">)</ers:isNotEqual><br>
<ers:isEqual src=".Model.enableTax" value="true">
消費税:&nbsp;<ers:formatCurrency src="partialModel.regular_tax">
<ers:isNotEqual src="partialModel.regular_tax" variable="partialModel.regular_tax_next">(2回目より<ers:formatCurrency src="partialModel.regular_tax_next">)</ers:isNotEqual><br>
</ers:isEqual>
合計:&nbsp;<ers:formatCurrency src="partialModel.regular_total">
<ers:isNotEqual src="partialModel.regular_total" variable="partialModel.regular_total_next">(2回目より<ers:formatCurrency src="partialModel.regular_total_next">)</ers:isNotEqual>
</font>
</div>
					</td>
				</tr>
			</table>

<!-- total end-->

