<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift-Jis" />
<title>エラー ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->


<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td align="center">ｴﾗｰ</td></tr></table>

<!-- error start -->
		<div class="ERS_error clearfix">
			<p>下記エラーをご確認下さい。<span><ers:dispError src="All" /></span></p>
		</div>
<!-- error end -->

		<p style="color:#a20000;">※携帯の戻るﾎﾞﾀﾝで戻ってください。</p>

	</div>
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

<ers:isError src="exception_detail">
		<p style="background-color:White;white-space:nowrap;"><ers:dispError src="exception_detail" /></p>
</ers:isError>
</font></body>
</html>
