<h1 style="margin:0 0 0 0;padding:5px 0 10px 0;text-align:center;"><img src="<%=.dynamic_url%>images/logo.png" alt="ERS"  style="width:50%;margin:0 auto 0 auto;padding:0 0 0 0;" /></h1>
<p style="margin:0 0 5px 0;padding:0 0 5px 0;border-bottom:3px solid #a7bb35;text-align:center;line-height:1.4;">
<a href="<%=.nor_url%>top/search/asp/list.asp" style="color:#a7bb35;padding:0 3px 0 0;text-decoration:none;">商品一覧</a>|<a href="<%=.sec_url%>top/member/asp/" style="color:#a7bb35;padding:0 0 0 3px;text-decoration:none;">マイページ</a><br>
<a href="<%=.sec_url%>top/cart/asp/cart.asp" style="color:#a7bb35;padding:0 3px 0 0;text-decoration:none;">ショッピングカート</a>|<a href="<%=.sec_url%>top/cart/asp/wishlist.asp" style="color:#a7bb35;padding:0 0 0 3px;text-decoration:none;">ウィッシュリスト</a>
</p>
