<p style="margin:0 0 0 0;padding:10px 5px 10px 0;text-align:right;color:#666666;"><a href="#" style="color:#a7bb35;text-decoration:none;">ページトップへ</a>↑</p>

<ul style="margin:0 0 0 0;padding:0 0 0 5px;list-style-type:none;">
<li style="margin:0 0 0 0;padding:0 0 3px 0;color:#666666;">≫<a href="<%=.nor_url%>agreement.html" style="padding:0 0 0 3px;color:#a7bb35;text-decoration:none;">会員規約</a></li>
<li style="margin:0 0 0 0;padding:0 0 3px 0;color:#666666;">≫<a href="<%=.nor_url%>privacy.html" style="padding:0 0 0 3px;color:#a7bb35;text-decoration:none;">プライバシーポリシー</a></li>
<li style="margin:0 0 0 0;padding:0 0 3px 0;color:#666666;">≫<a href="<%=.nor_url%>sct.html" style="padding:0 0 0 3px;color:#a7bb35;text-decoration:none;">特定商取引法に基づく表示</a></li>
<li style="margin:0 0 0 0;padding:0 0 3px 0;color:#666666;">≫<a href="<%=.nor_url%>sitemap.html" style="padding:0 0 0 3px;color:#a7bb35;text-decoration:none;">サイトマップ</a></li>
<li style="margin:0 0 0 0;padding:0 0 3px 0;color:#666666;">≫<a href="<%=.sec_url%>top/quest/asp/quest1.asp" style="padding:0 0 0 3px;color:#a7bb35;text-decoration:none;">お問い合わせ</a></li>
</ul>
