<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift-Jis" />
<title>ログイン ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
	<div id="ERS_contents">

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>MY PAGE/ﾛｸﾞｲﾝ</td></tr></table>

		<div id="login" style="margin:0 0 9px 0; padding:0 0 9px 0; " align="left">

			<p>お客様のﾒｰﾙｱﾄﾞﾚｽとﾊﾟｽﾜｰﾄﾞを入力してください。</p>

			<form method="post" action="login.asp" id="form1" name="form1">

			<p><font color="#AD3D37">●</font>ﾒｰﾙｱﾄﾞﾚｽ(半角英数)<br>
			<input type="text" size="20" name="email" id="email" value="<%=.Model.email%>" ></p>

			<p><font color="#AD3D37">●</font>ﾊﾟｽﾜｰﾄﾞ(半角英数6〜10桁)<br>
			<input type="text" size="20" name="passwd" id="passwd" value="" ></p>
			
			<p><input type="submit" value="ﾛｸﾞｲﾝ"></p>
			
			</form>

			<p style="margin:0 0 0 0; padding:0 0 0 0;"><a href="<%=.sec_url%>top/member/asp/passrim1.asp" style=""><font color="#ca5015">ﾊﾟｽﾜｰﾄﾞを忘れた方はこちら</font></a></p>

		</div><!-- login -->

	</div>
<!-- contents end -->

</div>
<!-- container end -->

<!-- footer_link start-->
<ers:partial file="footer_link.htm" />
<!-- footer_link end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer.htm" />
<!-- footer end -->


</div>
<!-- wrapper end -->

</font></body>
</html>
