        <ers:foreach variable="dtl" src=".Model.list" roopcounter="item_cnt">

			<table width="100%" cellspacing="0" cellpadding="2">
				<tr>
					<th width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">受注番号:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><%=dtl.d_no%></td>
				</tr>
				<tr>
					<th width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">ご注文日:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><ers:formatDate src="dtl.intime" /></td>
				</tr>
				<tr>
					<th width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">金額:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><ers:formatCurrency src="dtl.total" /></td>
				</tr>
				<tr>
					<th width="25%" style="padding:0 0 0 0; "><font color="#AD3D37">対応区分:</font></th>
					<td width="75%" style="padding:0 0 0 0;"><%=dtl.w_order_status2%></td>
				</tr>
				<tr>
					<th width="25%" style="padding:0 0 0 0; vertical-align:middle; "><font color="#AD3D37">注文詳細:</font></th>
					<td width="75%" style="padding:0 0 0 0;">
						<form method="post" action="<%=.sec_url%>top/member/asp/bill3.asp">
							<input type="submit" value="詳細">
							<input type="hidden" name="k_flg" value="<%=.k_flg%>" />
							<input type="hidden" name="d_no" value="<%=dtl.d_no%>" />
						</form>
					</td>
				</tr>
			</table>
			<hr size="1" color="#c9c9c9">
        </ers:foreach>
