<div class="ERS_amount">
	<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■ご注文商品一覧</td></tr></table>
	<ers:foreach src=".Model.orderRecords" variable="record">
		<ers:isEqual src="record.order_type" value="Subscription">
	<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#c95115"><tr><td><font color="#fff">定期購入商品</font></td></tr></table>
		</ers:isEqual>
		<p><font color="#AD3D37">[商品名]</font>
					<%=record.m_sname%>
		</p>
<ers:isNotEqual src="record.attribute2" value="">
		<p><font color="#AD3D37">[カラー・素材]</font>
                    <%=record.attribute2%>
		</p>
</ers:isNotEqual>
<ers:isNotEqual src="record.attribute1" value="">
		<p><font color="#AD3D37">[サイズ]</font>
                    <%=record.attribute1%>
		</p>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.d_no" value="">
				<p><font color="#AD3D37">[配送ｽﾃｰﾀｽ]</font><%=record.w_order_status%></p>
			<ers:isNotEqual src="record.sendno" value="">
				<p><font color="#AD3D37">[お荷物問合せ番号]</font><%=record.sendno%></p>
			</ers:isNotEqual>
</ers:isNotEqual>

<ers:isEqual src=".Model.d_no" value="">

	<ers:isEqual src="record.send_ptn" value="" comment="通常商品用表示">
		<p><font color="#AD3D37">[配送希望日]</font>
	    <ers:isEqual src=".Model.senddate" value="">
						    最短でお届け
	    </ers:isEqual>
	    <ers:isNotEqual src=".Model.senddate" value="">
						<ers:formatDate src=".Model.senddate"/>
	    </ers:isNotEqual>
		</p>
	</ers:isEqual>

	<ers:isNotEqual src="record.send_ptn" value="" comment="定期商品用表示">
		<p><font color="#AD3D37">[初回配送日]</font>
	    <ers:isEqual src="record.IsMinDeliveryDate" variable="true">
						    最短でお届け
	    </ers:isEqual>
	    <ers:isEqual src="record.IsMinDeliveryDate" value="false">
						    <ers:formatDate src="record.next_date"/>
	    </ers:isEqual>
		</p>
		<p><font color="#AD3D37">[配送間隔]</font>
			<ers:isEqual src="record.send_ptn" value="1">
							<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_day_name %>
			</ers:isEqual>
			<ers:isEqual src="record.send_ptn" value="2">
							<%=record.ptn_interval_month %>ヶ月ごと<%=record.ptn_interval_week %>週目の<%=record.ptn_weekday_name %>曜日
			</ers:isEqual>
			<ers:isEqual src="record.send_ptn" value="3">
							<%=record.ptn_interval_day %>日ごと
			</ers:isEqual>
		</p>
	</ers:isNotEqual>

</ers:isEqual>
		<p><font color="#AD3D37">[単価]</font>
		<ers:formatCurrency src="record.price"/><ers:isEqual src=".Model.d_no" value=""><ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
		<ers:isNotEqual src="record.price" variable="record.regular_price">(2回目より<ers:formatCurrency src="record.regular_price"/>)</ers:isNotEqual></ers:isNotEqual></ers:isEqual>円</p>
		<p><font color="#AD3D37">[数量]</font>
		<%=record.amount%></p>
		<p><font color="#AD3D37">[金額]</font>
		<ers:formatCurrency src="record.total"/><ers:isEqual src=".Model.d_no" value=""><ers:isNotEqual src="record.order_type" value="Usually" comment="定期商品用表示">
		<ers:isNotEqual src="record.price" variable="record.regular_price">(2回目より<ers:formatCurrency src="record.regular_total"/>)</ers:isNotEqual></ers:isNotEqual></ers:isEqual>円</p>
	<hr size="1" color="#c9c9c9">
	</ers:foreach>
</div>
