		<div class="ERS_total">
			<table width="100%"  align="right"" cellspacing="0" cellpadding="2">
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">合計商品点数&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;"><ers:formatNumber src=".Model.amounttotal"/>点</td>
				</tr>
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">小計&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;"><ers:formatCurrency src=".Model.subtotal"/></td>
				</tr>

<ers:isNotEqual src=".Model.tax" value="0"> 
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">消費税&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;"><ers:formatCurrency src=".Model.tax"/></td>
				</tr>
</ers:isNotEqual>
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">送料&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;"><ers:formatCurrency src=".Model.carriage"/></td>
				</tr>
<ers:isNotEqual src=".Model.etc" value="0"> 
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37"></font><%=.Model.w_etc%>&nbsp;:</th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;"><ers:formatCurrency src=".Model.etc"/></td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.p_service" value="0"> 
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">ご利用ﾎﾟｲﾝﾄ&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;">-<ers:formatNumber src=".Model.p_service"/></td>
				</tr>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.coupon_discount" value="0"> 
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">ｸｰﾎﾟﾝ値引き&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0;">-<ers:formatCurrency src=".Model.coupon_discount"/></td>
				</tr>
</ers:isNotEqual>
				<tr>
					<th nowrap width="70%" style="margin:0 0 0 0; padding:0 0 0 0; "><font color="#AD3D37">税込合計&nbsp;:</font></th>
					<td width="30%" style="margin:0 0 0 0; padding:0 5% 0 0; font-weight:bold; "><font color="#AD3D37"></font><ers:formatCurrency src=".Model.total"/></td>
				</tr>
			</table>
		</div>
