<hr size="1" color="#c9c9c9">
<br>
<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#f3d2c1">
	<tr>
		<td>
<div align="right">
<font color="#9c300a">
合計商品点数&nbsp;:&nbsp;<ers:formatNumber src=".CartModel.amounttotal_all_item"/>点<br>
小計&nbsp;:&nbsp;<ers:formatCurrency src=".Model.order_subtotal"/><br>
<ers:isNotEqual src=".Model.order_tax" value="0">
消費税&nbsp;:&nbsp;<ers:formatCurrency src=".Model.order_tax"/><br>
</ers:isNotEqual>
送料&nbsp;:&nbsp;<ers:formatCurrency src=".Model.disp_carriage"/><br>
<ers:isNotEqual src=".Model.etc" value="0">
<%=.Model.w_etc%>&nbsp;:&nbsp;<ers:formatCurrency src=".Model.etc"/><br>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.p_service" value="0"> 
ご利用ﾎﾟｲﾝﾄ&nbsp;:&nbsp;-<ers:formatCurrency src=".Model.p_service"/><br>
</ers:isNotEqual>
<ers:isNotEqual src=".Model.coupon_discount" value="0"> 
ｸｰﾎﾟﾝ値引き&nbsp;:&nbsp;-<ers:formatCurrency src=".Model.coupon_discount"/><br>
</ers:isNotEqual>
税込合計&nbsp;:&nbsp;<ers:formatCurrency src=".Model.order_total"/>
</div>
		</td>
	</tr>
</table>
※お届け日が違う場合は、配送ごとのご請求となります。<br>
