<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご注文手続きの確認 ｜ <%=.browser_title%></title>

</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

	<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>確認/最終確認</td></tr></table>

	<font color="red"><ers:dispError /></font>

	<form method="post" action="<%=.sec_url%>top/register/asp/entry4.asp">
	<div id="entry_ck" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■基本情報</td></tr></table>
		<p><font color="#AD3D37">[お名前]</font>
		<%=.Model.lname%>&nbsp;<%=.Model.fname%></p>

		<p><font color="#AD3D37">[お名前(ｶﾅ)]</font>
		<%=.Model.lnamek%>&nbsp;<%=.Model.fnamek%></p>

		<p><font color="#AD3D37">[ﾒｰﾙｱﾄﾞﾚｽ]</font>
		<%=.Model.email%><br/>
		確認メール受信形式:<%=.Model.w_mformat%></p>

		<p><font color="#AD3D37">[電話番号]</font>
		<%=.Model.tel%></p>

		<p><font color="#AD3D37">[FAX番号]</font>
		<%=.Model.fax%></p>

		<p><font color="#AD3D37">[郵便番号]</font>
		<%=.Model.zip%></p>

		<p><font color="#AD3D37">[都道府県]</font>
		<%=.Model.w_pref%></p>

		<p><font color="#AD3D37">[住所]</font>
		<%=.Model.address%>&nbsp;<%=.Model.taddress%>&nbsp;<%=.Model.maddress%></p>

<ers:isEqual src=".Model.needPersonalData" value="True">
		<p><font color="#AD3D37">[生年月日(西暦)]</font>
		<ers:formatDate src=".Model.birth" /></p>

		<p><font color="#AD3D37">[性別]</font>
		<%=.Model.w_sex%></p>
</ers:isEqual>

	    <p><font color="#AD3D37">[配送方法]</font>
		<%=.Model.w_deliv_method%></p>

    <ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">	
		<p><font color="#AD3D37">[お支払い方法]</font>
		<%=.Model.w_pay%></p>

<ers:isEqual src=".Model.pay" value="1">
<ers:isNotEqual src=".Model.card_id" value="">
        <p>
<!--		ｶｰﾄﾞ名義：<%=.Model.savedCardInfo.card_holder_name%><br/>-->
			ｶｰﾄﾞ種類：<%=.Model.savedCardInfo.card_name%><br/>
			ｶｰﾄﾞ番号：************<%=.Model.savedCardInfo.card_no_u4%><br/>
			有効期限：<%=.Model.savedCardInfo.validity_y%>/<%=.Model.savedCardInfo.validity_m%><br />
		</p>
</ers:isNotEqual>
<ers:isEqual src=".Model.card_id" value="">
        <p>
<!--		ｶｰﾄﾞ名義：<%=.Model.card_holder_name%><br/> -->
			ｶｰﾄﾞ種類：<%=.Model.w_card%><br/>
			ｶｰﾄﾞ番号：************<%=.Model.cardno_u4%><br/>
		<!--ｾｷｭﾘﾃｨｺｰﾄﾞ：<%=.Model.securityno%><br/> -->
			有効期限：<%=.Model.validity_y%>/<%=.Model.validity_m%><br/>
			ｶｰﾄﾞの記録：<%=.Model.w_card_save%>
		</p>
</ers:isEqual>
<ers:foreach src=".Model.ListDelCreditCardInfo" variable="DelCardInfo">
		<hr size="1" color="#c9c9c9">
        <p>
			ｶｰﾄﾞの削除：削除する<br/>
<!--		ｶｰﾄﾞ名義：<%=DelCardInfo.card_holder_name%><br/>-->
			ｶｰﾄﾞ種類：<%=DelCardInfo.card_name%><br/>
			ｶｰﾄﾞ番号：************<%=DelCardInfo.card_no_u4%><br/>
			有効期限：<%=DelCardInfo.validity_y%>/<%=DelCardInfo.validity_m%><br />
		</p>
</ers:foreach>
</ers:isEqual>
</ers:isNotEqual>

	<ers:isEqual src=".Model.pay" value="CONVENIENCE_STORE">
	    <hr size="1" color="#c9c9c9">
		<p><font color="#AD3D37">[ｺﾝﾋﾞﾆ選択]</font>
		<%=.Model.w_conv_code%></p>
    </ers:isEqual>

		<hr size="1" color="#c9c9c9">

		<p><font color="#AD3D37">[お届け先]</font><%=.Model.w_send%>
        <ers:isEqual src=".Model.send" value="2"><br/>
		<%=.Model.add_zip%>&nbsp;
		<%=.Model.w_add_pref%>&nbsp;
		<%=.Model.add_address%>&nbsp;
		<%=.Model.add_taddress%>&nbsp;
		<%=.Model.add_maddress%>&nbsp;
		<p><font color="#AD3D37">[別お届け先の追加登録]</font>
		<%=.Model.w_address_add%><ers:isNotEqual src=".Model.address_add" value="">&nbsp;<%=.Model.address_name %></ers:isNotEqual></p>
		</ers:isEqual>

		<hr size="1" color="#c9c9c9">

		<h3>【ｸｰﾎﾟﾝの利用】</h3>
		<p><font color="#AD3D37">[ｸｰﾎﾟﾝｺｰﾄﾞ]</font><input type="text" id="coupon_code" name="ent_coupon_code" value="<%=.Model.ent_coupon_code%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" /><input type="submit" id="coupon_flg" value="再計算" name="coupon_flg" /></p>
	    <input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />

<ers:isEqual src=".Model.k_flg" value="MEMBER">
		<h3>【ﾎﾟｲﾝﾄの利用】</h3>
        <p>お客様の現在ご利用可能ﾎﾟｲﾝﾄは、<%=.Model.point %> ﾎﾟｲﾝﾄになります</p>
		<p><font color="#AD3D37">[ご利用ﾎﾟｲﾝﾄ]</font><input type="text" id="ent_point" name="ent_point" value="<%=.Model.ent_point%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" /><input type="submit" id="point_flg" value="再計算" name="point_flg" /></p>
		<input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
</ers:isEqual>

	<hr size="1" color="#c9c9c9">

<!-- orderrecord start -->
    <ers:partial file="orderrecord.htm" />
<!-- orderrecord end -->

<!-- orderkingaku start -->
    <ers:partial file="orderkingaku_register.htm" />
<!-- orderkingaku end -->


			<p align="center"><input type="submit" name="entry3_submit" id="entry3_submit" value="注文を確定する"></p>
			</form>

		</div><!-- entry -->
<!-- back start -->
		<div class="ERS_back">
			<form method="post" action="<%=.sec_url%>top/register/asp/entry2.asp" id="form1" name="form1" class="ERS_back">
				<p>
					<input type="hidden" name="eck" value="2" />
					<input type="hidden" name="ent_point" value="<%=.Model.ent_point%>" />
					<input type="hidden" name="p_service" value="<%=.Model.p_service%>" />
					<input type="hidden" name="coupon_code" value="<%=.Model.coupon_code%>" />
					<input type="hidden" name="ent_coupon_code" value="<%=.Model.ent_coupon_code%>" />
					<input type="submit" value="前の画面に戻る" name="back_to_input" />
				</p>
			</form>
		</div>
<!-- back end -->


</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
