<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご注文手続きの入力 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

<!-- contents start -->
    <div id="ERS_contents">
	
		<div id="entry" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">
        	<form method="post" action="<%=.sec_url%>top/register/asp/entry3.asp" name="entry_form" id="entry_form">
			<p style="margin:0 0 6px 0; padding:0 0 0 0;">(<font color="#AD3D37">●</font>は必須/<font color="#AD3D37">○</font>は任意)<br/>
			<font color="#BC2927">※絵文字は使用できません。</font></p>

			<font color="red"><ers:dispError /></font>

			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■配送方法について</td></tr></table>
			<p><font color="#AD3D37">●</font>配送方法<br/>
            <ers:foreach variable="option" src=".Model.deliv_methodList">
                <ers:isNotEqual src="option.value" value="2">
                    <input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
					<label for="deliv_method<%=option.value%>"><%=option.name%></label>
                </ers:isNotEqual>
                <ers:isEqual src="option.value" value="2"><ers:isEqual src=".Model.canSelectMailDelv" value="true">
					<input type="radio" id="deliv_method<%=option.value%>" name="deliv_method" value="<%=option.value%>" onclick="deliv_select('<%=option.value%>');" <ers:isEqual src="option.value" variable=".Model.deliv_method"> checked="checked"</ers:isEqual> />&nbsp;
					<label for="deliv_method<%=option.value%>"><%=option.name%></label>
                </ers:isEqual></ers:isEqual>
                &nbsp;&nbsp;
            </ers:foreach>

<ers:isNotEqual src=".Model.IsNonNeededPaymentSpec" value="true">
			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■お支払いについて</td></tr></table>
			<p><font color="#AD3D37">●</font>お支払い方法<br/>
				<ers:foreach variable="option" src=".Model.payList">
                <ers:isEqual src="option.value" value="PAYPAL">
					<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;
					<label for="pay<%=option.value%>">
					<!-- PayPal Logo -->
					<a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');">
					<img src="https://www.paypal.com/ja_JP/JP/i/logo/PayPal_mark_37x23.gif" border="0" alt="" style="margin-left: 0.5em;">
					</a>
					<!-- PayPal Logo -->
					</label><br />
				</ers:isEqual>
                <ers:isNotEqual src="option.value" value="PAYPAL">
										<input type="radio" id="pay<%=option.value%>" name="pay" value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pay"> checked="checked"</ers:isEqual> />&nbsp;<label for="pay<%=option.value%>"><%=option.name%></label><br />
				</ers:isNotEqual>
				</ers:foreach>
			</p>

			<hr size="1" color="#c9c9c9">
			<h4 style="margin:0 0 0 0; padding:0 0 0 0;">▼ｶｰﾄﾞ支払の場合</h4>
<ers:foreach src=".Model.ListCreditCardInfo" variable="card_info">
			<p><input type="radio" id="card_id<%=card_info.card_id%>" name="card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual>>このｶｰﾄﾞを使用</p>
<!--
			<p><font color="#AD3D37">[ｶｰﾄﾞ名義(半角英字)]</font>
			<%=card_info.card_holder_name%></p>
-->
			<p><font color="#AD3D37">[ｶｰﾄﾞ種類]</font>
			<%=card_info.card_name%></p>

			<p><font color="#AD3D37">[ｶｰﾄﾞ番号(半角英字)]</font>
			<%=card_info.card_no%></p>

			<p><font color="#AD3D37">[有効期限(半角英字)]</font>
			<%=card_info.validity_y%>&nbsp;年&nbsp;<%=card_info.validity_m%>&nbsp;月</p>
            
			<p><font color="#AD3D37">[ｶｰﾄﾞ情報の削除]</font><br />
            <input type="checkbox" name="del_card_id" value="<%=card_info.card_id%>"<ers:isEqual src=".Model.del_card_id" variable="card_info.card_id"> checked="checked"</ers:isEqual> />&nbsp;ｸﾚｼﾞｯﾄｶｰﾄﾞ情報を削除する場合はﾁｪｯｸしてください。<br />
                        <ers:IsEqual src="card_info.hasRegularOrder" value="true">※このｶｰﾄﾞ番号を使用して既にご購入されている定期商品は、今後は今回ご登録いただくｶｰﾄﾞ番号にて決済いたします。</ers:IsEqual>
            </p>

</ers:foreach>
<ers:isEqual src=".Model.newEntryFlg" value="true">
			<p><input type="radio" id="card_id" name="card_id" value=""<ers:isEqual src=".Model.card_id" variable=""> checked="checked"</ers:isEqual>>このｶｰﾄﾞを使用</p>
<!--
			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ名義(半角英字)<br/>
			<input name="card_holder_name" value="<%=.Model.card_holder_name%>" istyle="3" mode="alphabet" format="*m" style="-wap-input-format:&quot;*&lt;ja:en&gt;&quot;;" /></p>
-->
			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ種類<br/>
			<select id="card" name="card">
				<option value=""></option>
<ers:foreach variable="option" src=".Model.cardList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.card"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>
			</p>

			<p><font color="#AD3D37">●</font>ｶｰﾄﾞ番号(半角数字)<br/>
			<input name="cardno" id="cardno" size="40" value="<%=.Model.cardno%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" ></p>

			<p><font color="#AD3D37">●</font>有効期限(半角数字)<br/>
						<input type="text" id="validity_y" size="10" name="validity_y" maxlength="4" value="<%=.Model.validity_y%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" />&nbsp;年&nbsp;<input type="text" id="validity_m"  size="5" name="validity_m" maxlength="2" value="<%=.Model.validity_m%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" />&nbsp;月<br/>
			<font color="#a20000">※例　2007年04月</font></p>

			<p><font color="#AD3D37">○</font>ｶｰﾄﾞ情報の記録<br/>
            <input type="checkbox" name="card_save" value="1"<ers:isEqual src=".Model.card_save" value="1"> checked="checked"</ers:isEqual> />&nbsp;ｸﾚｼﾞｯﾄｶｰﾄﾞ情報を記録する場合はﾁｪｯｸしてください。</p>
</ers:isEqual>

</ers:isNotEqual>
			<hr size="1" color="#c9c9c9">
			<h4 style="margin:0 0 0 0; padding:0 0 0 0;">▼ｺﾝﾋﾞﾆ決済の場合</h4>
			<p><font color="#AD3D37">●</font>ｺﾝﾋﾞﾆ選択<br/>
            <select id="conv_code" name="conv_code">
                <option value="">選択してください</option>
<ers:foreach variable="option" src=".Model.convenienceList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.conv_code"> selected="selected"</ers:isEqual>><%=option.name %></option>
</ers:foreach>
            </select>
			</p>
			<hr size="1" color="#c9c9c9">

			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■送り先</td></tr></table>
			<p><font color="#AD3D37">●</font>お届け先<br/></p>

            <table cellspacing="0" cellpadding="2">
            <tr><td>
            <input type="radio" id="add_address_id_Null" name="add_address_id" value="-1" <ers:isEqual src=".Model.send" value="1">checked="checked"</ers:isEqual> />&nbsp;&nbsp;
            <input type="hidden" name="send" value="1" />
            </td><td>
            ご依頼主の住所
            </td></tr>

            <tr><td colspan="2">
			<hr size="1" color="#c9c9c9">
            </td></tr>

            <ers:foreach variable="option" src=".Model.addressList">
            <tr><td>
            <input type="radio" id="add_address_id" name="add_address_id" value="<%=option.id%>" <ers:isEqual src=".Model.add_address_id" variable="option.id">checked="checked"</ers:isEqual> />&nbsp;&nbsp;
            </td>
            <td>
            <%=option.add_lname%>&nbsp;<%=option.add_fname%><br/>
<!--        <%=option.add_lnamek%>&nbsp;<%=option.add_fnamek%><br/>-->
            〒<%=option.add_zip%>&nbsp;<%=option.w_add_pref%><br/>
            <%=option.add_address%><%=option.add_taddress%><%=option.madd_address%>
            </td></tr>
            <tr><td colspan="2">
			<hr size="1" color="#c9c9c9">
            </td></tr>
            </ers:foreach>
            <tr><td>
            <input type="radio" id="add_address_id0" name="add_address_id" value="0" <ers:isEqual src=".Model.add_address_id" value="0"><ers:isEqual src=".Model.add_address_id" value="0">checked="checked"</ers:isEqual></ers:isEqual> />&nbsp;&nbsp;
            </td><td>
            新しい別お届け先を登録
            </td></tr>
            <tr><td></td><td>
			<p><font color="#AD3D37">●</font>別お届け先<br/>
			<input type="text" size="20" name="address_name" id="address_name" value="<%=.Model.address_name%>" istyle="1" mode="hiragana" format="*M" style="-wap-input-format:&quot;*&lt;ja:h&gt;&quot;;" /><br/>
			<input type="checkbox" id="address_add" name="address_add" value="1"<ers:isEqual src=".Model.address_add" value="1"> checked="checked"</ers:isEqual > />&nbsp;入力した住所を追加登録する</p>

			<p><font color="#AD3D37">●</font>お名前<br/>
			姓:&nbsp;<input type="text" size="20" name="add_lname" id="add_lname" value="<%=.Model.add_lname%>" istyle="1" mode="hiragana" format="*M" style="-wap-input-format:&quot;*&lt;ja:h&gt;&quot;;" /><br/>
			名:&nbsp;<input type="text" size="20" name="add_fname" id="add_fname" value="<%=.Model.add_fname%>" istyle="1" mode="hiragana" format="*M" style="-wap-input-format:&quot;*&lt;ja:h&gt;&quot;;" /></p>

			<p><font color="#AD3D37">●</font>ﾌﾘｶﾞﾅ(全角ｶﾀｶﾅ)<br/>
			姓:&nbsp;<input type="text" size="20" name="add_lnamek" id="add_lnamek" value="<%=.Model.add_lnamek%>" istyle="2" mode="hankakukana" format="*M" style="-wap-input-format:&quot;*&lt;ja:hk&gt;&quot;;" /><br/>
			名:&nbsp;<input type="text" size="20" name="add_fnamek" id="add_fnamek" value="<%=.Model.add_fnamek%>" istyle="2" mode="hankakukana" format="*M" style="-wap-input-format:&quot;*&lt;ja:hk&gt;&quot;;" /></p>

			<p><font color="#AD3D37">●</font>電話番号(半角数字)<br/>
			<input type="text" size="15" name="add_tel" id="add_tel" value="<%=.Model.add_tel%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" ><br/>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">○</font>FAX番号(半角数字)<br/>
			<input type="text" size="15" name="add_fax" id="add_fax" value="<%=.Model.add_fax%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" ><br/>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">●</font>郵便番号<br/>
			<input type="text" size="10" name="add_zip" maxlength="15" id="add_zip" value="<%=.Model.add_zip%>" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" />
			<input type="submit" name="zip_flg2" value="郵便番号検索"></p>
            <p><%=.Model.add_zip_search_error%></p>

			<p><font color="#AD3D37">●</font>都道府県<br/>
			<select id="add_pref" name="add_pref" class="w_100">
				<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.add_pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select></p>

			<p><font color="#AD3D37">●</font>市区町村(全角16文字以下)<br/>
			<input type="text" size="20" name="add_address" id="add_address" value="<%=.Model.add_address%>" /></p>

			<p><font color="#AD3D37">●</font>町名・番地(全角16文字以下)<br/>
			<input type="text" size="20" name="add_taddress" id="add_taddress" value="<%=.Model.add_taddress%>" /></p>

			<p><font color="#AD3D37">○</font>それ以降の住所(全角16文字以下)<br/>
			<input type="text" size="20" name="add_maddress" id="add_maddress" value="<%=.Model.add_maddress%>" /></p>
            </td></tr>
            

            </table>

			<hr size="1" color="#c9c9c9">


<ers:isNotEqual src=".CartModel.basketItemCount" value="0">

            <ers:partial file="basket_ordinary.htm" partialModel=".CartModel" />

			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■通常購入商品のお届けについて</td></tr></table>
			<p><font color="#AD3D37">○</font>配送希望日<br/>
			<input type="radio" id="firstTime_0" name="firstTimeOrdinary" value="0"<ers:isEqual src=".Model.firstTimeOrdinary" value="0"> checked="checked"</ers:isEqual>><label for="firstTime_0">最短でお届け</label><br />
<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0">
<input type="radio" id="firstTime_1" name="firstTimeOrdinary" value="1"<ers:isEqual src=".Model.firstTimeOrdinary" value="1"> checked="checked"</ers:isEqual>><label for="firstTime_1">買い物かごの定期初回分とまとめる</label><br />
</ers:isNotEqual>
<input type="radio" id="firstTime_2" name="firstTimeOrdinary" value="2"<ers:isEqual src=".Model.firstTimeOrdinary" value="2"> checked="checked"</ers:isEqual>><label for="firstTime_2">お届け日を指定する</label>
			<input type="text" class="cal" name="senddate" size="12" value="<ers:formatDate src=".Model.senddate" />" istyle="4" mode="numeric" format="*N" style="-wap-input-format:&quot;*&lt;ja:n&gt;&quot;;" >
			</p>

			<p><font color="#AD3D37">○</font>配送希望時間:
			<select id="sendtime" name="sendtime">
				<ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
				</ers:foreach>
			</select>
			</p>

			<hr size="1" color="#c9c9c9">
</ers:isNotEqual>


			<ers:isNotEqual src=".CartModel.regularBasketItemCount" value="0" />

            <ers:partial file="basket_regular.htm" partialModel=".CartModel" />

			<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>■定期購入商品のお届けについて</td></tr></table>
			<p><font color="#AD3D37">○</font>配送希望時間:
			<select id="regular_sendtime" name="regular_sendtime">
				<ers:foreach variable="option" src=".Model.sendtimeList">
					<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.regular_sendtime"> selected="selected"</ers:isEqual>><%=option.name%></option>
				</ers:foreach>
			</select>
			</p>
			<hr size="1" color="#c9c9c9">
			</ers:isNotEqual>

			<p align="center"><input type="submit" name="entry2_submit" id="entry2_submit" value="次のｽﾃｯﾌﾟへ進む"></p>
			</form>
		</div><!-- entry -->
<!-- back start -->
		<div class="ERS_back">
			<form method="post" action="<%=.sec_url%>top/register/asp/entry.asp" id="form1" name="form1">
				<p>
					<input type="hidden" name="eck" value="2" />
	    		    <input type="submit" value="前の画面に戻る"/>
                </p>
            </form>
		</div>
<!-- back end -->

	</div>
<!-- contents end -->

<br class="release_b" />

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
