<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>ご注文手続きの完了 ｜ <%=.browser_title%></title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">

<!-- wrapper start -->
<div id="ERS_wrapper" align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

<!-- container start -->
<div id="ERS_container">

	<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>注文完了</td></tr></table>

	<font color="red"><ers:dispError /></font>

	<div id="entry_ck" style="margin:0 0 9px 0; padding:0 0 9px 0; " align="left">
		<h3 style="margin:0 0 0 0; padding:0 0 0 0;">【ご注文完了】</h3>
<ers:isEqual src=".Model.overseas_shipping" value="true">
        <p>海外発送の場合の送料は概算です。</p>
        <p>送料は正式に決まり次第改めてご連絡致します。</p>
</ers:isEqual>
<ers:isEqual src=".Model.overseas_shipping" value="false">
		<p>商品の到着まで今しばらくお待ち下さい。</p>
</ers:isEqual>
		<p><%=.Model.pay_memo%></p>

	</div><!-- entry_ck -->

<br class="release_b" />


</div>
<!-- container end -->

<br class="release_b" />
<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

</div>
<!-- wrapper end -->

</font></body>
</html>
