<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="content-type" content="text/html; charset=Shift_JIS" />
<title>会員情報変更/入力 ｜ IVP</title>
</head>
<body style="margin:0 auto 0 auto; padding:0 0 0 0;"><font size="x-small">
<div id="ERS_wrapper">
	<div align="center" style="font-size: x-small; color:#400d0e;">

<!-- header start -->
<ers:partial file="header_ssl.htm" />
<!-- header end -->

		<table width="100%" cellspacing="0" cellpadding="2" bgcolor="#eedec6"><tr><td>会員情報の入力</td></tr></table>

		<div id="member" style="margin:0 0 9px 0; padding:0 0 0 0; " align="left">

		<form method="post" action="<%=.sec_url%>top/register/asp/member_entry2.asp" name="entry_form">
			<p style="margin:0 0 6px 0; padding:0 0 0 0;">(<font color="#AD3D37">●</font>は必須/<font color="#AD3D37">○</font>は任意)<br>
			<font color="#BC2927">※絵文字は使用できません。</font></p>

			<font color="red"><ers:dispError /></font>

			<h3 style="margin:0 0 0 0; padding:0 0 0 0;">【ご登録者】</h3>

			<p><font color="#AD3D37">●</font>お名前<br>
			姓:&nbsp;<input type="text" size="20" name="lname" id="lname" value="<%=.Model.lname%>" ><br>
			名:&nbsp;<input type="text" size="20" name="fname" id="fname" value="<%=.Model.fname%>" ></p>

			<p><font color="#AD3D37">●</font>ﾌﾘｶﾞﾅ(全角ｶﾀｶﾅ)<br>
			姓:&nbsp;<input type="text" size="20" name="lnamek" id="lnamek" value="<%=.Model.lnamek%>" ><br>
			名:&nbsp;<input type="text" size="20" name="fnamek" id="fnamek" value="<%=.Model.fnamek%>" ></p>

			<p><font color="#AD3D37">●</font>ﾒｰﾙｱﾄﾞﾚｽ(半角)<br>
			<input name="email" size="30" value="<%=.Model.email%>" ></p>

			<p><font color="#AD3D37">●</font>ﾒｰﾙｱﾄﾞﾚｽ確認(半角)<br>
			<input name="email_confirm" size="30" value="<%=.Model.email_confirm%>" ><br>
			<label for="mformat">確認メール受信形式</label>
            <select id="mformat" name="mformat">
<ers:foreach variable="option" src=".Model.mformatList">
			<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.mformat"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>

			<p><font color="#AD3D37">●</font>電話番号(半角数字)<br>
			<input type="text" size="15" name="tel" id="tel" value="<%=.Model.tel%>" istyle="4" mode="numeric" format="*N" ><br>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">○</font>FAX番号(半角数字)<br>
			<input type="text" size="15" name="fax" id="fax" value="<%=.Model.fax%>" istyle="4" mode="numeric" format="*N" ><br>入力例)&nbsp;0312345678 </p>

			<p><font color="#AD3D37">●</font>郵便番号<br>
			<input type="text" size="10" name="zip" maxlength="15" id="zip" value="<%=.Model.zip%>" istyle="4" mode="numeric" format="*N" >
			<input type="submit" name="zip_flg1" value="郵便番号検索"></p>
            <p><%=.Model.zip_search_error%></p>

			<p><font color="#AD3D37">●</font>都道府県<br>
			<select id="pref" name="pref" class="w_100">
			<option value=""></option>
<ers:foreach variable="option" src=".Model.prefList">
			<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.pref"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>
			</p>

			<p><font color="#AD3D37">●</font>市区町村(全角16文字以下)<br>
			<input type="text" size="20" name="address" id="address" value="<%=.Model.address%>" ></p>

			<p><font color="#AD3D37">●</font>町名・番地(全角16文字以下)<br>
			<input type="text" size="20" name="taddress" id="taddress" value="<%=.Model.taddress%>" ></p>

			<p><font color="#AD3D37">○</font>それ以降の住所(全角16文字以下)<br>
			<input type="text" size="20" name="maddress" id="maddress" value="<%=.Model.maddress%>" ></p>

			<hr size="1" color="#c9c9c9">

			<h3 style="margin:0 0 0 0; padding:6px 0 0 0;">【ご自身に関して】</h3>

			<p><font color="#AD3D37">●</font>生年月日<br>
			<select id="birthday_y" name="birthday_y" class="w_120">
				<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_yList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_y"> selected="selected"</ers:isEqual>><%=option.era%>&nbsp;<%=option.eraYear%>&nbsp;/&nbsp;<%=option.value%></option>
</ers:foreach>
			</select>&nbsp;年&nbsp;
			<select id="birthday_m" name="birthday_m" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_mList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_m"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>&nbsp;月&nbsp;
			<select id="birthday_d" name="birthday_d" class="w_50">
<option value=""></option>
<ers:foreach variable="option" src=".Model.birthday_dList">
				<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.birthday_d"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>&nbsp;日
			</p>

			<p><font color="#AD3D37">●</font>性別<br>
<ers:foreach variable="option" src=".Model.sexList">
			<input type="radio" name="sex" value="<%=option.value%>" <ers:isEqual src="option.value" variable=".Model.sex"> checked="checked"</ers:isEqual>><%=option.name%>&nbsp;&nbsp;&nbsp;&nbsp;
</ers:foreach>
			</p>
			<hr size="1" color="#c9c9c9">

			<h3 style="margin:0 0 0 0; padding:6px 0 0 0;">【ﾊﾟｽﾜｰﾄﾞ等】</h3>
			<p><font color="#AD3D37">●</font>ﾊﾟｽﾜｰﾄﾞ(半角英数字 6〜10文字)<br>
			<input type="text" size="20" id="passwd" name="passwd" value="<%=.Model.passwd%>" /></p>

			<p><font color="#AD3D37">●</font>ﾊﾟｽﾜｰﾄﾞ確認(半角英数字 6〜10文字)<br>
			確認のため、再度ご入力ください。<br>
			<input type="text" size="20" id="passwd_confirm" name="passwd_confirm" value="<%=.Model.passwd_confirm%>" /></p>

			<p><font color="#AD3D37">●</font>秘密の質問:質問<br>
			<select id="ques" name="ques" class="align_l">
			<option value=""></option>
<ers:foreach variable="option" src=".Model.quesList">
			<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.ques"> selected="selected"</ers:isEqual>><%=option.name%></option>
</ers:foreach>
			</select>
			</p>

			<p><font color="#AD3D37">●</font>秘密の質問:答え(全角ｶﾀｶﾅ)<br>
			<input type="text" size="20" id="ans" name="ans" value="<%=.Model.ans%>" /></p>
			<hr size="1" color="#c9c9c9">

			<p><font color="#AD3D37">●</font>メルマガ配信設定<br>
<ers:foreach variable="option" src=".Model.m_flgList">
			<input type="radio" id="m_flg<%=option.value%>" name="m_flg" value="<%=option.value%>"<ers:isEqual src=".Model.m_flg" variable="option.value"> checked="checked"</ers:isEqual > />&nbsp;<label for="m_flg<%=option.value%>"><%=option.name%></label>&nbsp;&nbsp;&nbsp;&nbsp;
</ers:foreach>
			</p>

			<hr size="1" color="#c9c9c9">
			<h3 style="margin:0 0 0 0; padding:6px 0 0 0;">【ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ】</h3>

			<div id="privacy" style="margin:0 0 9px 0; padding:0 0 0 0;">
				<p style="margin:0 0 0 0; padding:0 0 0 0; " align="left">｢<a href="<%=.nor_url%>privacy.html" style=""><font color="#ca5015">ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</font></a>｣をお読みください｡<br>ご同意いただきましたら､｢同意する｣にﾁｪｯｸを入れていただき､ご注文手続きへお進み下さい｡</p>
				<p style="margin:0 0 0 0; padding:0 0 0 0;"><input type="checkbox" name="pri_chk" value="1" id="pri_chk"> 同意する</p>
			</div><!-- privacy -->

			<p align="center"><input type="submit" name="" id="" value="確認"></p>
			</form>
		</div><!-- member -->

<!-- footer start-->
<ers:partial file="footer_ssl.htm" />
<!-- footer end -->

	</div>
</div><!-- ERS_wrapper -->
</font></body>
</html>
