@charset "UTF-8";
/* ERS_amount
---------------------------------------------------------------- */
.ERS_amount table{
	width:95%;
	margin:10px auto 0 auto;
	border:none;
}
.ERS_amount table td{
	border-bottom:1px solid #ccc;
}
.ERS_amount h4{
	width:95%;
	margin:5px auto 0 auto;
	padding:0 0 0 0;
	font-size:1.2rem;
	font-weight:normal;
}

/* table_total
---------------------------------------------------------------- */
.table_total table{
	width:95%;
	margin:0 auto 0 auto;
	border:none;
}
.table_total table th{
	border-bottom:1px solid #ccc;
}
.table_total table td{
	border-bottom:1px solid #ccc;
}

/* ERS_btn
---------------------------------------------------------------- */
#contents .ERS_btn{
	margin:15px auto 40px auto;
}
#contents .next{
	color:#fff;
	float:none;
}

/* ERS_totalsum
---------------------------------------------------------------- */
#ERS_totalsum{
	width:100%;
	margin:0 auto 0 auto;
	padding:0 0 40px 0;
}
#ERS_totalsum p{
	width:95%;
	margin:10px auto 10px auto;
	padding:0 0 0 0;
	font-size:1.2rem;
}
#ERS_totalsum table{
	width:95%;
	margin:10px auto 10px auto;
	padding:0 0 0 0;
	border:2px solid #a7bb35;
}
#ERS_totalsum table th{
	width:75%;
	margin:0 0 0 0;
	padding:10px 0 10px 0;
	text-align:right;
	color:#d61518;
	font-size:1.6rem;
	font-weight:bold;
	background-color:#fff;
	border:none;
}
#ERS_totalsum table th img{
	vertical-align:middle;
	padding:0 18px 0 0;
	margin:-4px 0 0 0;
}
#ERS_totalsum table td{
	width:25%;
	margin:0 0 0 0;
	padding:10px 0 10px 0;
	text-align:center;
	font-size:1.6rem;
	font-weight:bold;
	border:none;
}

/* ERS_buy
---------------------------------------------------------------- */
#ERS_buy{
	margin:0 0 0 0;
	padding:0 0 30px 3%;
}
#ERS_buy .btn{
	margin:0 auto 0 auto;
	width:100%;
}
#ERS_buy h3{
	margin:0 0 0 0;
	padding:0 0 10px 0;
	text-align:center;
	font-size:1.5rem;
	color:#d61518;
}
#ERS_buy h4{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#ERS_buy h5{
	margin:0 0 0 0;
	padding:0 0 10px 0;
}
#ERS_buy p{
	margin:0 0 0 0;
	padding:3px 0 10px 0;
}
#ERS_buy div{
	width:24%;
	margin:0 0 0 0;
	padding:15px 3% 15px 3%;
	border:2px solid #a7bb35;
	float:left;
}
#ERS_buy .ERS_first{
	margin:0 3% 0 3%;
}
#contents #email_pc,
#contents #password1{
	width:92%;
	margin:0 0 0 0;
}

.entry01 .btn{
	font-size: 1.2rem !important;
}
.entry01:before{
	position: absolute;
	top:23%;
	left: 2%;
}
.entry02:before{
	position: absolute;
	top:23%;
	left: 5%;
}

@media only screen and (min-width:960px){
	.ERS_amount table .amount{
		width:50px;
	}
	.ERS_amount table th.send,
	.ERS_amount table th.term{
		text-align:center;
	}
	.ERS_amount table td.dayList{
		text-align:center;
	}
	#contents .btn02{
		width:50px;
	}
	#ERS_recommend .ERS_recommend_list{
		width:140px;
		padding:0 3px 45px 3px;
	}
	#ERS_recommend .ERS_recommend_list h3 img {
		width:138px;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:90%;
	}
	#contents .detail_btn{
		padding-left:10%;
	}
	#contents .detail_btn:before{
		left:5%;
	}
}
@media only screen and (min-width:640px) and (max-width:960px){
	#ERS_recommend .ERS_recommend_list{
		width:18%;
		padding:0 1% 45px 1%;
	}
	#ERS_recommend .ERS_recommend_list h3 img {
		margin: 0 auto;
		max-width: 160px;
		width: 95%;
	}
	#contents #ERS_recommend .ERS_recommend_list .btn{
		width:90%;
	}
	#contents .detail_btn{
		padding-left:10%;
	}
	#contents .detail_btn:before{
		left:5%;
	}
}
@media only screen and (max-width:640px){
	#ERS_buy .ERS_first {
		margin: 0 0 10px 0;
	}
	#ERS_buy div {
		width: 90%;
		margin: 0 0 10px 0;
		padding: 15px 3% 15px 3%;
		border: 2px solid #a7bb35;
		float: none;
	}
}