@charset "UTF-8";

/* ==========================================================================
   共通
========================================================================== */
html {
	font-size:62.5%; /* 10px相当 */
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, 'ＭＳ Ｐゴシック', sans-serif;
}
/* float 自動クリア
............................................................... */
.clearfix{
	_height: 1px;
	min-height: 1px;
	/*￥*//*/
	height: auto;
	overflow: hidden;
	/**/
}

.clearfix:after{
	content:"";
	clear:both;
	height:0;
	display:block;
	visibility:hidden;
}

a{
	color:#A7BB35;
}


/* wrapper
--------------------------------------------------*/
#wrapper{
	width:100%;
	margin:0 auto 0 auto;
}
@media only screen and (max-width:700px){	
	#wrapper{
		padding:5px 0 0 0;
	}
}
@media only screen and (min-width:700px){	
	#wrapper{
		padding:17px 0 0 0;
	}
}
li{
	list-style:none;
}

/* header
--------------------------------------------------*/
header{
	margin:0 0 0 0;
	padding:0 0 5px 0;
	border-bottom:6px solid #a7bb35;
}
header .inner{
	margin:0 auto 0 auto;
}
header h1{
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
	width:200px;
}
header h1 img{
	width:100%;
	vertical-align:top;
}
header nav{
	float:right;
}
header ul{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
header ul li{
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
header ul.top{
	float:right;
}
header ul.top li{
	margin:0 0 0 0;
	padding:0 10px 0 13px;
	color:#2B2B2B;
	font-size:1.4rem;
	float:left;
}
header ul.top li a{
	color:#2B2B2B;
	text-decoration:none;
}
header ul.top li:first-child{
	background:none;
}
header p{
float:right;
clear:both;
}

header p.try{
	clear:both;
	margin:0 0 10px 0;
	padding:0 0 0 0;
	display:block;
float:right;
}
header p.try a{
	margin:0 0 0 0;
	padding:5px 10px 5px 10px;
	font-size:1.4rem;
	text-align:center;
	color:#fff;
	background-color:#A7BB35;
	text-decoration:none;
	display:block;
	width: 216px;
float:right;
}
header ul.bottom{
	margin:0 0 8px 0;
	float:right;
}
header ul.bottom li{
	color:#2B2B2B;
	font-size:1.4rem;
	font-weight:bold;
}
header ul.bottom li a{
	color:#2B2B2B;
	text-decoration:none;
}

/* container
--------------------------------------------------*/
#container{
	margin:0 auto 0 auto;
	padding:30px 0 0 0;
}

/* container
--------------------------------------------------*/
#contents{
	font-size:1.2rem;
}

/* aside
--------------------------------------------------*/
aside #side_search_box{
	margin:0 0 20px 0;
	padding:0 0 0 0;
}
aside #side_search_box p{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
aside #side_search_box p.detail{
	margin:5px 0 0 0;
	padding:0 0 0 14px;
	font-size:1.2rem;
	float:right;
	background:url("../images/icon_navi02.png") 0 2px no-repeat;
}
aside #side_search_box p.detail a{
	color:#A7BB35;
}
aside #side_search_box #s_left_keyword{
	height:13px;
	margin:0 0 0 0;
	padding:5px 5px 5px 5px;
	border:1px solid #000;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	vertical-align:bottom;
}
aside #side_search_box #search_submit-s{
	margin:0 0 0 0;
	padding:0 0 0 0;
	vertical-align:bottom;
	width:25px;
	height:25px;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

aside #side_cart{
	margin:0 0 30px 0;
	padding:10px 18px 11px 18px;
	border:2px solid #a7bb35;
}
aside #side_cart h3{
	margin:0 0 8px 0;
}
aside #side_cart p{
	margin:0 0 15px 0;
	padding:0 8px 0 8px;
	font-size:1.2rem;
}
aside #side_cart p#sideTotal{
	margin:0 0 5px 0;
	padding:0 0 0 0;
	font-size:1.2rem;
	font-weight:bold;
	color:#d71418;
}
aside #side_cart p#sideBtn{
	margin:0 0 5px 0;
	padding:0 0 0 0;
}
aside #side_cart p#sideBtn a{
	text-align: center;
}
aside #side_cart div{
	background-color:#fff;
	/* webkit用 */
	-webkit-border-radius:3px;
	/* mozzila用 */
	-moz-border-radius:3px;
	/* IE・Opera用 */
	border-radius:3px 3px 3px 3px;
	-moz-box-shadow:0 0 4px #d1d1d1 inset;
	-webkit-box-shadow:0 0 4px #d1d1d1 inset;
	box-shadow:0 0 4px #d1d1d1 inset;
	border:1px solid  #d1d1d1;
}
aside #side_cart div p{
	color:#A7BB35;
	padding:0 0 0 0;
	margin:0 0 0 0;
}
aside #side_cart div p span{
	display:block;
	padding:5px 0 5px 5px;
}
aside #side_cart div p strong{
	display:block;
	color:#000;
	text-align:right;
	padding:7px 7px 6px 5px;
	font-size:1.5em;
}
aside #side_cart div p strong span{
	display:inline;
	color:#333;
	font-size:0.7em;
}
aside #side_cart p a{
	display:block;
	text-align:right;
	padding:5px 0 0 0;
	color:#A7BB35;
}
aside #side_cart .carriageoff{
	margin:0 0 0 0;
	padding:10px 0 10px 0;
	text-align:center;
	border:1px solid  #d1d1d1;
}
aside #login_form{
	margin:0 0 30px 0;
	padding:10px 18px 11px 18px;
	border:2px solid #a7bb35;
}
aside #login_form h4{
	margin:15px 0 15px 0;
	padding:0 0 0 0;
	text-align:center;
}
aside #login_form #email_ck{
	margin:0 5px 0 0;
}
aside #login_form ul{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
aside #login_form ul li{
	margin:0 0 9px 0;
	padding:0 0 0 15px;
	background:url("../images/icon_navi02.png") 0 3px no-repeat;
}
aside #login_form h3.welcome{
	margin: 0 0 15px 0;
	padding: 0 0 0 0;
	text-align: left;
}
aside #login_form p.mypage,
aside #login_form p.logout{
	margin: 0 0 9px 0;
	padding: 0 0 0 0;
	text-align: center;
}
aside .nonmember h3{
	margin:10px 0 0 0;
	padding:0 0 0 0;
}
aside .member h3{
	margin:10px 0 15px 0;
	padding:0 0 0 0;
	text-align:center;
}
aside .member p{
	margin:0 0 9px 0;
	padding:0 0 0 0;
	text-align:center;
}
aside .bnr{
	clear:both;
	position:relative;
	overflow:hidden;
}
aside .bnr ul{
	margin:0 0 30px 0;
	padding:0 0 0 0;
}
aside .bnr ul li{
	margin:0 0 0 0;
	padding:0 0 16px 0;
}
aside #check_box{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
aside #check_box h3{
	margin:0 0 0 0;
	padding:0 0 13px 0;
	border-bottom:1px solid #000;
}
aside #check_box ul{
	margin:19px 0 0 -10px;
	padding:0 0 0 0;
}
aside #check_box ul li{
	margin:0 0 0 0;
	padding:0 0 10px 10px;
	float:left;
}
aside #check_box ul li img{
	width:58px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	border:1px solid #F5F5F5;
}



/* footer
 ---------------------------------------------------------------- */
footer{
	margin:0 0 0 0;
	padding:27px 0 40px 0;
	border-top:6px solid #a7bb35;
	background-color:#F5F5F5;
}
footer .inner{
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
footer .inner p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#000;
	font-size:1.4rem;
}
footer .inner ul{
	margin:0 0 0 -10px;
	padding:0 0 19px 0;
}
footer .inner ul li{
	margin:0 0 0 0;
	padding:0 10px 0 10px;
	background:url("../images/icon_navi.gif") right 3px no-repeat;
	display:block;
	float:left;
}
footer .inner ul li a{
	text-decoration:none;
	color:#727272;
	font-size:1.4rem;
}
footer .inner ul li:last-child{
	padding:0 0 0 10px;
	background:none;
}

/*---------------------------------PC-------------------------------------------*/
@media only screen and (min-width:960px){
	/* header
	--------------------------------------------------*/
	header .inner{
		width:960px;
	}
	header nav{
		width:710px;
	}
	header ul.top{
		padding:6px 0 5px 0;
	}
	header ul.top li{
		padding:3px 10px 0 13px;
		background: url("../images/icon_navi.gif") left 6px no-repeat;
		float:left;
	}
	header ul.bottom{
		padding:2px 0 0 0;
	}
	header ul.bottom li{
		padding:3px 20px 3px 25px;
	}
	header ul.bottom li:last-child{
		padding:3px 0 3px 25px;
	}
	header ul.bottom li.list{
		background: url("../images/icon_list.png") 0 center no-repeat;
	}
	header ul.bottom li.mypage{
		background: url("../images/icon_mypage.png") 0 center no-repeat;
	}
	header ul.bottom li.cart{
		background: url("../images/icon_cart.png") 0 center no-repeat;
	}
	header ul.bottom li.wish{
		background: url("../images/icon_wish.png") 0 center no-repeat;
	}
	header navi p{
		clear:both;
		margin:0 0 0 0;
		padding:0 0 0 0;
		float:right;
	}

	/* container
	--------------------------------------------------*/
	#container{
		width:960px;
	}


	/* contents
	--------------------------------------------------*/
	#contents{
		width:730px;
		float:right;
	}


	/* aside
	--------------------------------------------------*/
	aside{
		width:200px;
		margin:0 0 0 0;
		padding:0 0 0 0;
		float:left;
	}
	aside #side_search_box #s_keyword, 
	aside #side_search_box #s_left_keyword{
		width:163px;
	}
	aside #side_cart div{
		width:154px;
		margin:0 auto 7px auto;
		padding:2px 2px 0 2px;
	}

	/* footer
	 ---------------------------------------------------------------- */
	footer .inner{
		width:960px;
	}

}

/*----------------------------------TBL-----------------------------------------*/
@media only screen and (min-width:700px) and (max-width:959px){
	/* header
	--------------------------------------------------*/
	header .inner{
		width:96%;
	}
	header ul.bottom{
		margin:0 0 0 0;
		padding:0 0 10px 0;
		display:table;
	}
	header ul.bottom li{
		margin:0 0 0 0;
		padding:3px 20px 3px 25px;
		display:table-cell;
	}
	header ul.bottom li:last-child{
		padding:3px 0 3px 25px;
	}
	header ul.bottom li.list{
		background: url("../images/icon_list.png") 0 center no-repeat;
	}
	header ul.bottom li.mypage{
		background: url("../images/icon_mypage.png") 0 center no-repeat;
	}
	header ul.bottom li.cart{
		background: url("../images/icon_cart.png") 0 center no-repeat;
	}
	header ul.bottom li.wish{
		background: url("../images/icon_wish.png") 0 center no-repeat;
	}
	header nav p{
		clear:both;
		margin:0 0 0 0;
		padding:0 0 0 0;
		float:right;
	}
	header nav{
		width:500px;
	}
	header ul.top{
		padding:6px 0 40px 0;
		position:relative;
	}
	header ul.top li{
		padding:0 10px 0 13px;
		background: url("../images/icon_navi.gif") left 4px no-repeat;
	}
}
@media only screen and (min-width:641px) and (max-width:959px){
	/* container
	--------------------------------------------------*/
	#container{
		width:96%;
	}
	
	/* aside
	--------------------------------------------------*/
	aside{
		width:86%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
	}
	aside #side_search_box{
		width:90%;
		margin:0 auto 20px auto;
		padding:10px 5% 10px 5%;
		background-color:#E9ECD9;
	}
	aside #side_search_box p{
		float:left;
	}
	aside #side_search_box p.detail{
		float:right;
	}
	aside #side_cart div{
		margin:0 auto 7px auto;
		padding:2px 2px 0 2px;
	}
	aside .bnr ul{
		position:relative;
		left:50%;
		float:left;
	}
	aside .bnr ul li{
		position:relative;
		left:-50%;
		float:left;
	}
	aside .bnr ul li img{
		padding:0 0 16px 16px;
	}
	/* footer
	 ---------------------------------------------------------------- */
	footer .inner{
		width:96%;
	}
}
@media only screen and (min-width:700px) and (max-width:959px){
	aside #side_search_box p{
		width:81%;
	}
	aside #side_search_box p.detail{
		width:10%;
	}
	aside #side_search_box #s_left_keyword{
		width:90%;
	}
}
@media only screen and (min-width:641px) and (max-width:700px){
	aside #side_search_box p{
		width:78%;
	}
	aside #side_search_box p.detail{
		width:13%;
	}
	aside #side_search_box #s_left_keyword{
		width:88%;
	}
}
@media only screen and (min-width:800px) and (max-width:959px){
	aside #side_cart{
		width:43%;
		float:left;
	}
	aside #login_form{
		width:43%;
		float:right;
	}
}
@media only screen and (min-width:641px) and (max-width:799px){
	aside #side_cart{
		width:41%;
		float:left;
	}
	aside #login_form{
		width:41%;
		float:right;
	}
}
@media only screen and (min-width:700px) and (max-width:750px){
	header h1{
		width:23%;
	}
}
/*------------------------------------SMP---------------------------------------*/
@media only screen and (max-width:700px){	
	/* header
	--------------------------------------------------*/
	header{
		padding:0 0 0 0;
		background:none;
	}
	header .inner{
		width:100%;
		position:relative;
	}
	header h1{
		width:110px;
		margin:0 0 5px 0;
		padding:0 0 0 2.5%;
		float:none;
	}
	header nav{
		width:100%;
		margin:0 auto 0 auto;
		float:none;
		display:block;
	}
	header nav p.tel{
		width:60%;
		max-width:317px;
		margin:0 0 0 0;
		padding:0 0 0 0;
		position:absolute;
		top:25px;
		right:2.5%;
		float:none;
	}
	header nav p.tel img{
		width:100%;
		margin:0 0 0 0;
		padding:0 0 0 0;
		vertical-align:top;
	}
	header ul.bottom{
		width:100%;
		margin:0 0 0 0;
		padding:0 0 0 0;
		display:table;
		border-bottom:2px solid #a7bb35;
	}
	header ul.bottom li{
		width:auto;
		margin:0 0 0 0;
		padding:0 0 0 0;
		font-weight:normal;
		text-align:center;
		font-size:1.1rem;
		letter-spacing:-0.1em;
		display:table-cell;
		white-space:nowrap;
		border:1px solid #ccc;
		-webkit-border-radius:2px 2px 0 0;
		-moz-border-radius:2px 2px 0 0;
		border-radius:2px 2px 0 0;
		background:none;
		background: -webkit-gradient(linear,left top,left bottom,from(#e9ecd9),to(#fff));
		background: -moz-linear-gradient(top,#e9ecd9,#fff);
		background: -o-linear-gradient(#e9ecd9, #fff);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9ecd9,endColorstr=#ffffffff);
		float:none;
	}
	header ul.bottom li a{
		margin:0 0 0 0;
		padding:10px 0 10px 0;
		display:block;
	}
	header ul.bottom li.list,
	header ul.bottom li.mypage{
		padding:0 3px 0 3px;
	}
	header ul.bottom li.cart,
	header ul.bottom li.wish{
		letter-spacing:-0.2em;
	}
	header p.try{
		width:100%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	header p.try a{
		width:100%;
		margin:0 0 0 0;
		padding:10px 0 10px 0;
		text-align:center;
	}
}
@media only screen and (max-width:640px){	
	/* container
	--------------------------------------------------*/
	#container{
		width:96%;
	}


	/* aside
	--------------------------------------------------*/
	aside{
		width:100%;
		margin:0 auto 0 auto;
		padding:0 0 0 0;
	}
	aside #side_search_box{
		width:90%;
		margin:0 auto 20px auto;
		padding:10px 5% 10px 5%;
		background-color:#E9ECD9;
	}


	aside #side_cart div{
		margin:0 auto 7px auto;
		padding:2px 2px 0 2px;
	}
	aside .bnr ul{
		position:relative;
		left:50%;
		float:left;
	}
	aside .bnr ul li{
		position:relative;
		left:-50%;
		float:left;
	}
	aside .bnr ul li img{
		padding:0 0 16px 16px;
	}
	aside #login_form{
		padding:20px 18px 10px 18px;
	}
	aside #login_form h3.welcome{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		position:absolute;
		top:0;
		right:2.5%;
		line-height: 13px;
	}

	/* footer
	 ---------------------------------------------------------------- */
	footer{
		margin:0 0 0 0;
		padding:0 0 0 0;
		background:none;
		background:#F5F5F5;
	}
	footer .inner{
		width:100%;
		margin:0 0 0 0;
		padding:0 0 0 0;
	}
	footer .inner ul{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-top:1px solid #ccc;
	}
	footer .inner ul li,
	footer .inner ul li:last-child{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		background: none;
		display: block;
		float: none;
		text-align:left;
	}
	footer .inner ul li a{
		margin:0 0 0 0;
		padding:10px 10px 10px 10px;
		display:block;
		border-bottom:1px solid #ccc;
		background: -webkit-gradient(linear,left top,left bottom,from(#e9ecd9),to(#fff));
		background: -moz-linear-gradient(top,#e9ecd9,#fff);
		background: -o-linear-gradient(#e9ecd9, #fff);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9ecd9,endColorstr=#ffffffff);
	}
	footer .inner p {
		margin: 0 0 0 0;
		padding: 5px 0 5px 0;
		text-align:center;
	}
}
@media only screen and (max-width:320px){
	#wrapper{
		width:320px;
		margin:0 auto 0 auto;
	}
}
@media only screen and (min-width:450px) and (max-width:640px){
	aside #side_search_box p{
		width:74%;
		float:left;
	}
	aside #side_search_box p.detail{
		width:16%;
		float:right;
	}
	aside #side_search_box #s_left_keyword{
		width:82%;
	}
}
@media only screen and (max-width:449px){
	aside #side_search_box p{
		width:70%;
		float:left;
	}
	aside #side_search_box p.detail{
		width:22%;
		float:right;
	}
	aside #side_search_box #s_left_keyword{
		width:74%;
	}
}
