@charset "UTF-8";
/* result_item
--------------------------------------------------*/
.result_item{
	width:100%;
	margin:0 0 10px 0;
	padding:10px 0 10px 0;
	border-bottom:1px solid #CCC;
}
.result_item h3{
	width:24%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:left;
}
.result_item h3 img{
	width:100%;
}
.result_item .text{
	width:48%;
	margin:0 0 0 0;
	padding:5px 2% 0 2%;
	float:left;
}
.result_item .text h4{
	margin:0 0 0 0;
	padding:0 0 10px 0;
	font-size:1.4rem;
}
.result_item .text h4 a{
	color:#000;
	text-decoration:none;
}
.result_item .text p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1.2rem;
}
.result_item .detail_box{
	width:24%;
	margin:0 0 0 0;
	padding:0 0 0 0;
	float:right;
}
.result_item .detail_box h5{
	width:60%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
}
#contents .btn{
	width:100%;
	padding:8px 0 8px 0;
	text-align:center;
	font-weight:normal;
	text-decoration:none;
	display:block;
}
#search_box{
	width:97%;
	margin:20px auto 20px auto;
	padding:10px 1% 10px 1%;
	border: 2px solid #a7bb35;
}
#search_box form{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#search_box h3{
	width:100%;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
	text-align:center;
}
#search_box h4{
	margin:5px 0 0 0;
	padding:0 0 0 14px;
	font-size:1.2rem;
	color:#A7BB35;
	background:url("../images/icon_navi02.png") 0 2px no-repeat;
	float:left;
}
#search_box #s_keyword{
	width:90%;
	margin:0 0 0 0;
	padding:5px 5px 6px 5px;
	border:1px solid #000;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	vertical-align:bottom;
	height: 12px;
}
#search_box #search_submit-s2{
	margin:0 0 0 0;
	padding:0 0 0 0;
	vertical-align:bottom;
	border:none;
	width:25px;
	height:25px;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#search_box .table_box{
	clear:both;
	width:100%;
	margin:0 auto 0 auto;
	padding:10px 0 0 0;
	border:none;
}
#search_box .table_box dl:first-child{
	border-top:1px solid #A7BB35;
}
#search_box .table_box dd{
	width:60%;
}
#search_box p{
	margin:10px auto 0 auto;
}
#search_box .btn{
	margin:0 auto 0 auto;
	width:40%;
}

.iconSearch:before {
	position: absolute;
	top: 27%;
	left: 43%;
}

@media only screen and (max-width:640px){
	.result_item{
		margin:0 0 20px 0;
		padding:10px 0 20px 0;
	}
	.result_item h3{
		width:40%;
		margin:0 auto 0 auto;
		float:none;
	}
	.result_item .text{
		width:90%;
		margin:0 auto 0 auto;
		padding:10px 0 0 0;
		float:none;
	}
	.result_item .text h4{
		text-align:center;
	}
	.result_item .detail_box{
		width:90%;
		margin:0 auto 0 auto;
		padding:10px 0 0 0;
		float:none;
	}
	#contents .btn{
		padding:10px 0 10px 0;
	}
	#search_box .table_box dd{
		width:98%;
	}
	#search_box .btn{
		width:100%;
	}
	.iconSearch:before {
		position: absolute;
		top: 30%;
		left: 33%;
	}
}
@media only screen and (max-width:500px){
	#search_box h3{
		width:100%;
		margin:0 auto 0 auto;
		float:none;
	}
	#search_box #s_keyword{
		width:83%;
	}
	#search_box h4{
		margin:10px auto 0 auto;
	}
	#search_box .btn{
		width:100%;
	}
	.iconSearch:before {
		position: absolute;
		top: 30%;
		left: 33%;
	}
}
