@charset "UTF-8";
#wrapper{
	width:100%;
	margin:0 auto 0 auto;
	padding:17px 0 0 0;
}
#container{
	padding:0 0 0 0;
}
#ERS_box{
	width:60%;
	margin:0 auto 0 auto;
	font-size:1.4rem;
}
.ERS_btn a{
	width:220px;
}
@media only screen and (max-width:640px){
	#ERS_box{
		width:95%;
	}
	.ERS_btn a{
		width:100%;
	}
}