@charset "UTF-8";
/* header
--------------------------------------------------------- */
header{
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;
}
header h1{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
header img{
	width:100%;
}

/* free_box
--------------------------------------------------------- */
#free_box{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
#free_box img{
	margin:0 0 0 0;
	padding:0 0 0 0;
	vertical-align:bottom;
}

/* login_box
--------------------------------------------------------- */
#login_box{
	margin:0 auto 20px auto;
	padding:10px 10px 10px 10px;
	border:2px solid #a7bb35;
}
#login_box p{
	font-size:1.6rem;
	font-weight:bold;
}
#login_box .btn{
	text-align:center;
}

/* common
--------------------------------------------------------- */
p.application,
.detail_box p.application{
	width:900px;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
	text-align:center;
	position:relative;
}
p.application span{
	position:absolute;
	bottom:20px;
	right:33px;
}
h2{
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:center;
}

/* detail_box
--------------------------------------------------------- */
.detail_box{
	margin:0 0 55px 0;
	padding:0 40px 65px 40px;
	border-bottom:1px solid #d9d9d9;
}
.detail_box h2{
	margin:0 0 0 0;
	padding:30px 0 0 0;
}
.detail_box h3{
	margin:0 0 0 0;
	padding:0 0 15px 0;
	text-align:center;
}
.detail_box h4{
	clear:both;
	margin:0 0 0 0;
	padding:0 0 15px 0;
}
.detail_box p{
	margin:0 0 0 0;
	padding:0 0 45px 0;
}
.detail_box ul.trouble{
	width:825px;
	margin:0 auto 0 auto;
	padding:10px 0 12px 0;
}
.detail_box ul.trouble li{
	margin:0 0 0 0;
	padding:0 2.5px 8px 2.5px;
	display:block;
	float:left;
}
.detail_box ul.recommend{
	width:864px;
	margin:0 0 10px 0;
	padding:20px 14px 0 14px;
	border:4px solid #435801;
}
.detail_box ul.recommend li{
	margin:0 0 0 0;
	padding:0 0 20px 0;
}

/* text_box
---------------------------------*/
.detail_box .text_box{
	width:500px;
	margin:0 0 0 0;
	padding:0 0 32px 0;
	float:right;
}
.detail_box .text_box p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	text-align:right;
	font-size:1.8rem;
	line-height:1.7;
}
.detail_box p.img{
	margin:0 0 0 0;
	padding:0 0 32px 0;
	float:left;
}
.detail_box p.text{
	width:633px;
	font-size:1.8rem;
	line-height:1.7;
	float:left;
}
.detail_box p.img_right{
	float:right;
}

/* announce_box
---------------------------------*/
.announce_box{
	clear:both;
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:relative;
}
.announce_box .innner{
	width:772px;
	margin:10px auto 0 auto;
	padding:10px 15px 10px 35px;
	border:1px solid #ccc;
}
.announce_box h5{
	margin:0 0 0 0;
	padding:0 0 10px 0;
	font-size:2.15rem;
}
.announce_box h5 span{
	position:absolute;
	top:-10px;
	left:10px;
}
.announce_box p{
	margin:0 0 0 0;
	padding:0 0 0 0;
	font-size:1.8rem;
}

/* voice
---------------------------------*/
.voice{
	width:900px;
	margin:50px auto 10px auto;
	padding:40px 0 0 0;
	position:relative;
}
.voice h2{
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:absolute;
	top:0;
	left:30px;
}
.voice ul{
	margin:0 0 0 0;
	padding:50px 0 10px 14px;
	background-color:#a7bb35;
}
.voice ul li{
	width:400px;
	margin:0 10px 15px 0;
	padding:10px 15px 0 15px;
	font-size:1.5rem;
	background-color:#fff;
	float:left;
}
.voice ul li span{
	width:100%;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
	font-weight:bold;
	font-size:1.8rem;
	display:block;
	border-bottom:1px solid #ccc;
}
.voice ul li span em{
	font-style:normal;
	float:right;
}
.voice ul li.note{
	width:auto;
	margin:0 0 0 0;
	padding:0 0 0 0;
	color:#fff;
	font-size:1.4rem;
	background-color:transparent;
}


/* media
---------------------------------*/
.media{
	width:900px;
	margin:0 auto 40px auto;
	padding:0 0 0 0;
}
.media h2{
	margin:0 0 0 0;
	padding:0 0 0 0;
}
.media ul{
	margin:0 0 0 0;
	padding:14px 0 14px 0;
	border:4px solid #d97203;
	text-align:center;
	overflow:hidden;
}
.media ul li{
	margin:0 0 0 0;
	padding:0 20px 0 0;
	display:inline;
}
.media ul li:last-child{
	padding:0 0 0 0;
}

/* faq
---------------------------------*/
.faq{
	width:900px;
	margin:20px auto 0 auto;
	padding:85px 0 0 0;
	position:relative;
}
.faq h2{
	margin:0 0 0 0;
	padding:0 0 0 0;
	position:absolute;
	top:0;
	left:30px;
}
.faq dl{
	margin:0 0 20px 0;
	padding:0 0 0 0;
	border:2px solid #435801;
}
.faq dl dt{
	margin:0 0 0 0;
	padding:10px 25px 13px 60px;
	color:#fff;
	font-size:2.0rem;
	background:url(../images/lp01/icon02.png) 14px 7px no-repeat #435801;
}
.faq dl dd{
	margin:0 0 0 0;
	padding:20px 25px 10px 60px;
	font-size:1.6rem;
	background:url(../images/lp01/icon03.png) 14px 14px no-repeat;
}
