﻿<script language ="javascript" type="text/javascript">

    var newRef = null;
    var newMode = null;
    var newBtnRef = null;

    // 商品番号検索[対象商品設定]
    function ScodeSearch_target(ref, btnRef) {

        var result = window.open("<%=.sec_url%>top/campaign/asp/common_scode_search.asp?g_search_mode=1&s_doc_bundling_flg=1", "common_scode_search", "width=1024px,height=768px;menubar:no;toolbar:no;scrollbars:yes;resizable:yes;status=yes");
        mode = null;
        newRef = ref;
        newMode = mode;
        codeMode = 'target';
        newBtnRef = btnRef;

        // Set values to child window
        result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
              (result.attachEvent ? 'on' : '') + 'load', function () {
                  result.ref = ref;
                  result.mode = mode;
                  result.RunCallbackFunction = callback_funcTarget;
                  result.opener.returnWithCallBackFunc = true;
              }, false);   
        
    }
    /// call back from child window
    function callback_funcTarget(ref, mode, result) {
        
        result = mode;
        ref = newRef;
        mode = newMode;
        var targetBtn = newBtnRef;

        if (result != undefined) {
            var targetRow = document.getElementsByClassName("inc_disp_scode_searched").length;
            var s_cnt = document.getElementById("included_item_max").value;
            var strKey = "record_key_";
            // 商品番号設定
            var result_arr = result.split("$");
            //エリアを作成
            var tg_table = document.getElementById("Included_items");

            var targetBindKey = eval(s_cnt);
            if (ref != -1) {
                targetRow = $(targetBtn).closest('tr').get(0).rowIndex; //For adding new product
                targetBindKey = ref;
            }

            //Check for duplication of scode
            var scodes = document.getElementsByClassName('inc_disp_scode_searched');
            for (var index = 0; index < scodes.length; ++index) {
            if (scodes[index].value == result_arr[1]) {
                alert("<ers:message code='campaign.campaign_doc.duplicateScodeMessage'/>");
               	return;
				}
            }

            var row1 = tg_table.insertRow(targetRow + 1); // 行を追加
            var cell1 = row1.insertCell(0); // 一つ目のセルを追加
            var cell2 = row1.insertCell(1); // 二つ目のセルを追加
            var cell3 = row1.insertCell(2); // 三つ目のセルを追加
            var cell4 = row1.insertCell(3); // 4つ目のセルを追加
            var cell5 = row1.insertCell(4); // 5つ目のセルを追加
            var HTML1 = '<input type="text" id="inc_disp_scode" name="' + strKey + targetBindKey + '_inc_disp_scode" value="' + result_arr[1] + '" size="10" disabled="disabled" class="inc_disp_scode_searched" />';
            var HTML2 = '<input type="text" id="inc_disp_sname" name="' + strKey + targetBindKey + '_inc_disp_sname" class="w_350" value="' + result_arr[2] + '" disabled="disabled" />';
            HTML2 += '&nbsp;<input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search"/>" onclick="return ScodeSearch_target(' + targetBindKey + ', this)" />';
            var HTML3 = '<input type="text" id="inc_amount" name="' + strKey + targetBindKey + '_inc_amount" value="" size="5" maxlength="5" />';
            HTML1 = HTML1 + '<input type="hidden" id="inc_scode" name="' + strKey + targetBindKey + '_inc_scode" value="' + result_arr[1] + '" />';
            HTML1 = HTML1 + '<input type="hidden" id="inc_sname" name="' + strKey + targetBindKey + '_inc_sname" value="' + result_arr[2] + '" />';
            var HTML4 = '<input type="radio" id="inc_duplicate1' + strKey + s_cnt + '" name="' + strKey + targetBindKey + '_inc_duplicate" value="1" checked="checked"  /><label for="inc_duplicate1' + strKey + targetBindKey + '"><ers:message code="partial_campaign_campaign_target_rbtnyes"/></label><br />';
            HTML4 += '<input type="radio" id="inc_duplicate0' + strKey + s_cnt + '" name="' + strKey + targetBindKey + '_inc_duplicate" value="0"  /><label for="inc_duplicate0' + strKey + targetBindKey + '"><ers:message code="partial_campaign_campaign_target_rbtnno"/></label>';
            var HTML5 = '<input type="button" name="RemoveIncluded" id="Button1" value="<ers:label code="delete"/>" class="del_btn" onclick="return RemoveIncludedItem(this)"/>';

            cell1.innerHTML = HTML1;
            cell2.innerHTML = HTML2;
            cell3.innerHTML = HTML3;
            cell4.innerHTML = HTML4;
            cell5.innerHTML = HTML5;

            if (ref == -1) {
                s_cnt = eval(s_cnt) + 1;
                RemoveIncludedItem(targetBtn);
            }

            document.getElementById("included_item_max").value = s_cnt;

            if (ref != -1) {
                RemoveIncludedItem(targetBtn);
            }
        }

    }
    

</script>


<!--同梱物商品 start -->
		<div class="include" id="Included_items_div">
			<table id="Included_items" class="side">
				<caption><ers:message code="partial_campaign_campaign_target.bundledset"></caption>
				<tr>
					<th class="w_100"><ers:label code="scode"></th>
					<th class="w_350"><ers:label code="s_sname"></th>
					<th class="w_35"><ers:label code="sell_discount_amount"></th>
					<th class="w_45"><ers:message code="partial_campaign_campaign_target_duplicate"></th>
                    <th class="w_40"><ers:label code="delete"></th>
				</tr>
<ers:table src=".Model.detail_table" name="detail_table" variable="list" record_key="record_key">
				<tr>
					<td>
                    <input type="text" id="inc_disp_scode" name="<%=record_key%>inc_disp_scode" value="<%=list.inc_scode %>" size="10" disabled="disabled" class="inc_disp_scode_searched" />
                    <input type="hidden" id="inc_scode" name="<%=record_key%>inc_scode" value="<%=list.inc_scode %>" />
                    <input type="hidden" id="inc_sname" name="<%=record_key%>inc_sname" value="<%=list.inc_sname %>" />
                    </td>
					<td><input type="text" id="inc_disp_sname" name="<%=record_key%>inc_disp_sname" class="w_350" value="<%=list.inc_sname %>" disabled="disabled" />
                    <input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search">" onclick="return ScodeSearch_target(<%=roopcounterrecord_key%>, this)" /></td>
					<td><input type="text" id="inc_amount" name="<%=record_key%>inc_amount" value="<%=list.inc_amount %>" size="3" maxlength="5" /></td>
                    <td>
                        <input type="radio" id="inc_duplicate1<%=record_key%>" name="<%=record_key%>inc_duplicate" value="1"<ers:isEqual src="list.inc_duplicate" value="1">checked="checked"</ers:isEqual>  /><label for="inc_duplicate1<%=record_key%>"><ers:message code="partial_campaign_campaign_target_rbtnyes"></label><br />
                        <input type="radio" id="inc_duplicate0<%=record_key%>" name="<%=record_key%>inc_duplicate" value="0"<ers:isEqual src="list.inc_duplicate" value="0">checked="checked"</ers:isEqual>  /><label for="inc_duplicate0<%=record_key%>"><ers:message code="partial_campaign_campaign_target_rbtnno"></label>
                    </td>
                    <td><input type="button" name="RemoveIncluded" id="RemoveIncluded" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>
				</tr>
</ers:table>

				<tr id="detail_table_new_line">
					<td>
                    <input type="text" id="Text1" name="inc_disp_scode" value="" size="10" disabled="disabled" />
                    <input type="hidden" id="Hidden1" name="inc_scode" value="" />
                    <input type="hidden" id="Hidden2" name="inc_sname" value="" />
                    </td>
					<td><input type="text" id="Text2" name="inc_disp_sname" class="w_350" value="" disabled="disabled" />
                    <input type="button" class="disp_frame001" name="GetItemIncluded" id="Button2" value="<ers:label code="common_product_search">" onclick="return ScodeSearch_target(-1, this)" /></td>
					<td></td>
                    <td>
                       
                    </td>
                    <td><input type="button" name="RemoveIncluded" id="Button1" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>
				</tr>

			</table>
            <input type="hidden" id="included_item_max" name="included_item_max" value="<%=.Model.included_item_max %>" />
			<p><input type="button" id="addnewdetailtableitemline" class="add_include btn01" value="<ers:label code="common_add_new_item">" name="addButton" /></p><br />
		</div>
<!--同梱物商品 end -->