﻿
<script language ="javascript" type="text/javascript">

    var newRef = null;
    var newMode = null;
    var newBtnRef = null;

    // 商品番号検索[同梱物設定]
    function ScodeSearch_doc(ref, btnRef) {
        var result = window.open("<%=.sec_url%>top/campaign/asp/common_scode_search.asp?g_search_mode=1", "common_scode_search", "width=1024px,height=768px;menubar:no;toolbar:no;scrollbars:yes;resizable:yes;status=yes");
        mode = null;
        newRef = ref;
        newMode = mode;
        codeMode = 'doc';
        newBtnRef = btnRef;

        // Set values to child window
        result[result.addEventListener ? 'addEventListener' : 'attachEvent'](
              (result.attachEvent ? 'on' : '') + 'load', function () {
                  result.ref = ref;
                  result.mode = mode;
                  result.RunCallbackFunction = callback_funcDoc;
                  result.opener.returnWithCallBackFunc = true;
              }, false);
    }

    /// call back from child window
    function callback_funcDoc(ref, mode, result) {
        
        result = mode;
        ref = newRef;
        mode = newMode;
        
        var targetBtn = newBtnRef;

        if (result != undefined) {
            var targetRow = document.getElementsByClassName("target_disp_scode_searched").length;
            var s_cnt = document.getElementById("target_item_max").value;
            var strKey = "record_key2_";
            // 商品番号設定
            var result_arr = result.split("$");
            //エリアを作成
            var tg_table = document.getElementById("Target_items");
            var targetBindKey = eval(s_cnt);

            if (ref != -1) {
                targetRow = $(targetBtn).closest('tr').get(0).rowIndex; //For adding new product
                targetBindKey = ref;
            }

			//Check for duplication of scode
               var scodes = document.getElementsByClassName('target_disp_scode_searched');
               for (var index = 0; index < scodes.length; ++index) {
               	if (scodes[index].value == result_arr[1]) {
               	    alert("<ers:message code='campaign.campaign_doc.duplicateScodeMessage'/>");
               		return;
				}
              }

            var row1 = tg_table.insertRow(targetRow + 1); // 行を追加
            var cell1 = row1.insertCell(0); // 一つ目のセルを追加
            var cell2 = row1.insertCell(1); // 二つ目のセルを追加
            var cell3 = row1.insertCell(2); // 三つ目のセルを追加
            var cell4 = row1.insertCell(3); // 4つ目のセルを追加
            var HTML1 = '<input type="text" id="target_disp_scode" name="' + strKey + targetBindKey + '_target_disp_scode" value="' + result_arr[1] + '" size="10" disabled="disabled" class="target_disp_scode_searched" />';
            var HTML2 = '<input type="text" id="target_disp_sname" name="' + strKey + targetBindKey + '_target_disp_sname" class="w_375" value="' + result_arr[2] + '" disabled="disabled" />';
            HTML2 += '&nbsp;<input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search"/>" onclick="return ScodeSearch_doc(' + targetBindKey + ', this)" />';

            var HTML3 = '<input type="radio" id="target_order_type1" name="' + strKey + targetBindKey + '_target_order_type" value="1" checked  /><ers:message code="camp_target_modify_rdobtnnormal"/>&nbsp;&nbsp;';
            HTML3 = HTML3 + '<input type="radio" id="target_order_type2" name="' + strKey + targetBindKey + '_target_order_type" value="2" /><ers:message code="camp_target_modify_rdobtnroutine"/><br/>';
            HTML3 = HTML3 + '<input type="radio" id="target_order_type3" name="' + strKey + targetBindKey + '_target_order_type" value="9" /><ers:message code="camp_target_modify_rdobtnnormalandroutine"/>';

            var HTML4 = '<input type="button" name="RemoveIncluded" id="Button1" value="<ers:label code="delete"/>" class="del_btn" onclick="return RemoveIncludedItem(this)"/>';

            HTML1 = HTML1 + '<input type="hidden" id="target_scode" name="' + strKey + targetBindKey + '_target_scode" value="' + result_arr[1] + '" />';
            HTML1 = HTML1 + '<input type="hidden" id="target_sname" name="' + strKey + targetBindKey + '_target_sname" value="' + result_arr[2] + '" />';


            cell1.innerHTML = HTML1;
            cell2.innerHTML = HTML2;
            cell3.innerHTML = HTML3;
            cell4.innerHTML = HTML4;

            if (ref == -1) {
                s_cnt = eval(s_cnt) + 1;
                RemoveIncludedItem(targetBtn);
            }

            document.getElementById("target_item_max").value = s_cnt;

            if (ref != -1) {
                RemoveIncludedItem(targetBtn);
            }
        }

    }

</script>

<!--対象商品 start -->
        <div class="include" id="Target_items_div">
			<table id="Target_items" class="side">
				<caption><ers:message code="partial_campaign_campaign_doc.shippingset"></caption>
				<tr>
					<th class="w_100"><ers:label code="scode"></th>
					<th class="w_375"><ers:label code="s_sname"></th>
					<th class="w_100"><ers:label code="s_sale_ptn"></th>
                    <th class="w_40"><ers:label code="delete"></th>
				</tr>
<ers:table src=".Model.target_detail_table" name="target_detail_table" variable="target_list" record_key="record_key2">
				<tr>
					<td>
                    <input type="text" id="target_disp_scode" name="<%=record_key2%>target_disp_scode" value="<%=target_list.target_scode %>" size="10" disabled="disabled" class="target_disp_scode_searched" />
                    <input type="hidden" id="target_scode" name="<%=record_key2%>target_scode" value="<%=target_list.target_scode %>" />
                    <input type="hidden" id="target_sname" name="<%=record_key2%>target_sname" value="<%=target_list.target_sname %>" />
                    </td>
					<td><input type="text" id="target_disp_sname" name="<%=record_key2%>target_disp_sname" class="w_375" value="<%=target_list.target_sname %>" disabled="disabled" />
                    <input type="button" class="disp_frame001" name="GetItemIncluded" id="GetItemIncluded" value="<ers:label code="common_product_search">" onclick="return ScodeSearch_doc(<%=roopcounterrecord_key2%>, this)" /></td>
					<td>
                        <input type="radio" id="target_order_type1" name="<%=record_key2%>target_order_type" value="1" <ers:IsEqual src="target_list.target_order_type" value="1">checked="checked"</ers:IsEqual>  /><ers:message code="camp_target_modify_rdobtnnormal">&nbsp;&nbsp;
                        <input type="radio" id="target_order_type2" name="<%=record_key2%>target_order_type" value="2" <ers:IsEqual src="target_list.target_order_type" value="2">checked="checked"</ers:IsEqual>  /><ers:message code="camp_target_modify_rdobtnroutine"><br/>
                        <input type="radio" id="target_order_type3" name="<%=record_key2%>target_order_type" value="9" <ers:IsEqual src="target_list.target_order_type" value="9">checked="checked"</ers:IsEqual>  /><ers:message code="camp_target_modify_rdobtnnormalandroutine">
                    </td>
                    <td><input type="button" name="RemoveIncluded" id="RemoveIncluded" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>
				</tr>
</ers:table>

				<tr id="target_detail_new_line">
					<td>
                    <input type="text" id="Text1" name="target_disp_scode" value="" size="10" disabled="disabled" />
                    </td>
					<td><input type="text" id="Text2" name="target_disp_sname" class="w_375" value="" disabled="disabled" />
                    <input type="button" class="disp_frame001" name="GetItemIncluded" id="Button2" value="<ers:label code="common_product_search">" onclick="return ScodeSearch_doc(-1, this)" /></td>
					<td>
                        
                    </td>
                    <td><input type="button" name="RemoveIncluded" id="Button1" value="<ers:label code="delete">" class="del_btn" onclick="return RemoveIncludedItem(this)"/></td>
				</tr>


			</table>
            <input type="hidden" id="target_item_max" name="target_item_max" value="<%=.Model.target_item_max %>" />
			<p><input id="addnewtargetdetailitemline" type="button" class="add_include btn01" value="<ers:label code="common_add_new_item">" name="addButton" /></p><br />
		</div>
<!--対象商品 end -->