﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report Registration Complete</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="<%=.nor_url%>css/bootstrap.min.css">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 10px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }


        .example6 .navbar-brand {
            background: url(<%=.nor_url%>images/ivplogo.png) center / contain no-repeat;
            width: 200px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        footer .footer-below {
            padding-top: 130px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Nav 2-->
  <ers:partial file="header.htm"></ers:partial>

    <hr>

    <!-- Navigation -->
    <!-- Page Content -->
    <div class="container">
        <h3>Daily Report Registration Complete</h3>
        <div class="col-lg-12">
            <br /><br />
            <div class="row">
                <form method="post" action="<%=.sec_url%>top/report/asp/dreport_search.asp">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-md-10 col-md-offset-1">
                                <center>
                                    <div class="panel-group">
                                        <div class="panel panel-info">
                                            <div class="panel-heading">Message</div>
                                            <div class="panel-content">
                                                <br />
                                                <p>Report Successfully Submitted</p>
                                                <br />

                                                <input type="submit" value="Back to Report List" name="emp_regist" class="btn-sm btn-info" />

                                                <br />
                                            </div>
                                            <br />
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="<%=.nor_url%>js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.nor_url%>js/bootstrap.min.js"></script>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>