﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report Details</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.nor_url%>css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%=.sec_url%>css/custom.css">
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>

</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />



    <hr />

    <!-- Page Content -->
    <div class="container">
        <h3>Report Details</h3>
        <div class="col-lg-12">
            <form method="post">

                <div class="form-group">

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Date:
                            </label>

                            <ers:formatDate src='.Model.report_date' value='MM/dd/yyyy' />

                        </div>



                    </div>



                    <table class="table table-hover table-bordered" id="report_table">
                        <thead>
                            <tr>
                                <th colspan="2">Report Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.dreport_details" name="dreport_details" variable="item" record_key="record_key"></ers:table>

                            <ers:foreach variable="item" src=".Model.dreport_details" roopcounter="i">

                                <tr>
                                    <th class="col-sm-2 form-group">Task <%=i + 1%></th>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    PCODE :
                                                </label>
                                                <%=item.pcode%>

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Description :
                                                </label>

                                                <%=item.proj_desc%>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Reference number:
                                                </label>
                                                <%=item.ref_no%>


                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Used Man Hours: </label>
                                                <%=item.um_hours%>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <label>
                                                    Progress:
                                                </label>
                                                <%=item.progress%>%
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Status:
                                                </label>
                                                <%=item.w_status%>

                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <label>
                                                Summary:
                                            </label>
                                            <%=item.summary%>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Start date:
                                                </label>
                                                <ers:formatDate src='item.start_date' value='MM/dd/yyyy' />

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Due date:
                                                </label>
                                                <ers:formatDate src='item.due_date' value='MM/dd/yyyy' />

                                            </div>
                                        </div>

                                    </td>


                                </tr>
                            </ers:foreach>



                    </table>
                    <!--<input type="hidden" name="report_code" value="<%=.Model.report_code%>" />
    <input type="hidden" name="report_date" value="<%=.Model.report_date%>" />-->


                    <input type="submit" class="btn btn-info btn-sm" value="Back" formaction="<%=.sec_url%>top/report/asp/dreport_search_result.asp" />&nbsp;
                    <ers:isEqual src=".Model.downloaded" value="0">
                        <ers:isEqual src=".Model.owner_flg" value="true"><input type="submit" class="btn btn-success btn-sm" value="Edit Report" formaction="<%=.sec_url%>top/report/asp/dreport_edit.asp" />&nbsp;</ers:isEqual>
                    </ers:isEqual>


                </div>
            </form>

        </div>

    </div>

    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/add_report.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>