﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report Registration</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>

    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
   
    <!-- Custom CSS -->
   
   
 

</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr />
   
    <!-- Page Content -->
    <div class="container">
        <h3>Add new Report</h3>
        <div class="col-lg-12">
            <form method="post">
                
                <div class="form-group">

                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="panel panel-danger">
                            <div class="panel panel-heading">
                                <strong>Error</strong>
                            </div>
                            <div class="panel-body">

                                <ers:dispError />


                            </div>
                        </div>

                    </ers:isNotEqual>

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Date:
                            </label>
                            <input type="text" class="form-control" id="datepicker" name="record_key_0_report_date" value="<ers:formatDate src='.Model.report_date' value='MM/dd/yyyy' />" />
                        </div>
                    </div>

                    <table class="table table-hover table-bordered" id="report_table">
                        <thead>
                            <tr class="btn-primary">
                                <th colspan="2" >Report Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.dreport_details" name="dreport_details" variable="target_list" record_key="record_key">

                                <tr id="copyRow">
                                    <th class="col-sm-2 form-group">Task</th>
                                    <td>
                                        <input type="hidden" id="pcode_id" value="" />
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    PCODE
                                                </label>
                                                <label class="required">*</label>
                                                <input type="text" class="form-control" name="<%=record_key%>pcode" onfocusout="OnclickOut(this,0)" value="<%=target_list.pcode%>" id="<%=record_key%>pcode" />
                                                <input type="button" class="btn btn-warning" value="Select" id="btnSetting" onclick="return pcode_select(this)" name="<%=record_key%>" />
                                            </div>


                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Description
                                                </label>
                                                <label class="required">*</label>
                                                <input type="text" class="form-control" name="<%=record_key%>proj_desc" onfocusout="OnclickOut(this,1)" value="<%=target_list.proj_desc%>" id="<%=record_key%>proj_desc" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Reference number
                                                </label>
                                                <input type="text" class="form-control" name="<%=record_key%>ref_no" onfocusout="OnclickOut(this,2)" value="<%=target_list.ref_no%>" />

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Used Man Hours
                                                </label>
                                                <label class="required">*</label>
                                                <select name="<%=record_key%>um_hours" id="sel1" class="form-control" onfocusout="OnclickOut(this,8)">
                                                    <option value=""></option>
                                                    <ers:foreach src=".Model.um_hours_list" variable="hours">
                                                        <option value="<%=hours%>" <ers:isEqual src="hours" variable="target_list.um_hours"> selected="selected"</ers:isEqual>><%=hours%></option>
                                                    </ers:foreach>
                                                </select>

                                                <!--<input type="number" class="form-control" name="<%=record_key%>um_hours" onfocusout="OnclickOut(this,8)" value="<%=target_list.um_hours%>"/>-->
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <label>
                                                    Progress
                                                </label>
                                                <label class="required">*</label>
                                                <select name="<%=record_key%>progress" id="sel1" class="form-control" onfocusout="OnclickOut(this,3)">
                                                    <option value=""></option>
                                                    <ers:foreach src=".Model.rprog_list" variable="prog">
                                                        <option value="<%=prog%>" <ers:isEqual src="prog" variable="target_list.progress"> selected="selected"</ers:isEqual>><%=prog%>%</option>
                                                    </ers:foreach>
                                                </select>

                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Status
                                                </label>
                                                <label class="required">*</label>
                                                <select name="<%=record_key%>status" id="sel1" class="form-control" onfocusout="OnclickOut(this,4)">
                                                    <option value=""></option>
                                                    <ers:foreach src="target_list.rstatus_list" variable="prog">
                                                        <option value="<%=prog.value%>"<ers:isEqual src="prog.value" variable="target_list.status"> selected="selected"</ers:isEqual>><%=prog.name%>
                                                        </option>
                                                    </ers:foreach>
                                                </select>


                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <label>
                                                Summary
                                            </label>
                                            <textarea placeholder="Report Summary" rows="3" class="form-control" name="<%=record_key%>summary" onfocusout="OnclickOut(this,5)"><%=target_list.summary%></textarea>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Start date
                                                </label>
                                                <input type="date" class="form-control" name="<%=record_key%>start_date" onfocusout="OnclickOut(this,6)" value="<%=target_list.start_date%>" />

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Due date
                                                </label>
                                                <input type="date" class="form-control" name="<%=record_key%>due_date" onfocusout="OnclickOut(this,7)" value="<%=target_list.due_date%>" />

                                            </div>
                                        </div>
                                        <input type='button' class='btn btn-danger btn-sm' value='Delete' name='deleteBtn' id='deleteBtn' onclick='DeleteRow(this)' />&nbsp;
                                    </td>


                                </tr>

                              

                            </ers:table>

                            <ers:isEqual src=".Model.dreport_details" value="">
                                <tr id="copyRow">
                                    <th class="col-sm-2 form-group">Task</th>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    PCODE
                                                </label>
                                                <label class="required">*</label>
                                                <input type="text" class="form-control" name="record_key_0_pcode" onfocusout="OnclickOut(this,0)" id="record_key_0_pcode"/>
                                                <input type="button" value="Select" id="btnSetting" onclick="return pcode_select(this)" class="btn btn-sm btn-warning" name="record_key_0_" />
                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Description
                                                </label>
                                                <label class="required">*</label>
                                                <input type="text" class="form-control" name="record_key_0_proj_desc" onfocusout="OnclickOut(this,1)" id="record_key_0_proj_desc" />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Reference number
                                                </label>
                                                <input type="text" class="form-control" name="record_key_0_ref_no" onfocusout="OnclickOut(this,2)" />

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Used Man Hours</label>
                                                <label class="required">*</label>
                                                <select name="record_key_0_um_hours" id="sel1" class="form-control" onfocusout="OnclickOut(this,8)">
                                                    <option value=""></option>
                                                    <ers:foreach src=".Model.um_hours_list" variable="hours">
                                                        <option value="<%=hours%>"><%=hours%></option>
                                                    </ers:foreach>
                                                </select>
                                                <!--<input type="number" class="form-control" name="um_hours" onfocusout="OnclickOut(this,8)" />-->
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <label>
                                                    Progress
                                                </label>
                                                <label class="required">*</label>
                                                <select name="record_key_0_progress" id="sel1" class="form-control" onfocusout="OnclickOut(this,3)">
                                                    <option value=""></option>
                                                    <ers:foreach src=".Model.rprog_list" variable="prog">
                                                        <option value="<%=prog%>"><%=prog%>%</option>
                                                        </ers:foreach>                                                 
                                                </select>


                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 form-group">
                                                <label>
                                                    Status
                                                </label>
                                                <label class="required">*</label>
                                                <select name="record_key_0_status" id="sel1" class="form-control" onfocusout="OnclickOut(this,4)">
                                                    <option value=""></option>
                                                    <option value="1">Completed Task</option>
                                                    <option value="2">On Going Task</option>
                                                    <option value="3">On Going Task with Problem</option>
                                                </select>


                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <label>
                                                Summary
                                            </label>
                                            <textarea placeholder="Report Summary" rows="3" class="form-control" name="record_key_0_summary" onfocusout="OnclickOut(this,5)"></textarea>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Start date
                                                </label>
                                                <input type="date" class="form-control" name="record_key_0_start_date" onfocusout="OnclickOut(this,6)" />

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Due date
                                                </label>
                                                <input type="date" class="form-control" name="record_key_0_due_date" onfocusout="OnclickOut(this,7)" />

                                            </div>
                                        </div>
                                        <input type='button' class='btn btn-danger btn-sm' value='Delete' name='deleteBtn' id='deleteBtn' onclick='DeleteRow(this)' />&nbsp;
                                    </td>
                                </tr>
                            </ers:isEqual>
                            

</table>
                    
                    <input type="submit" class="btn btn-danger btn-sm" value="Back" formaction="<%=.sec_url%>top/Report/asp/dreport_search.asp" />&nbsp;
                    <input type="button" class="btn btn-info btn-sm" value="Add Details" id="addField"/>&nbsp;
                    <input type="submit" class="btn btn-success btn-sm" value="Submit Report" formaction="<%=.sec_url%>top/report/asp/dreport_add_confirm.asp" />&nbsp;


                </div>
            </form>

        </div>

    </div>


    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->

    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/add_report.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>