﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report List</title>
    <!-- Bootstrap Core CSS -->

    <link href="<%=.sec_url%>css/bootstrap.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="<%=.sec_url%>js/jquery.js"></script>
    <script src="<%=.sec_url%>lib/jquery-ui/js/jquery-ui.js"></script>
    <script src="<%=.sec_url%>js/ems.js"></script>
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>


        function checkHidePanel(e) {
            if (e.checked === true) {
                $("#leaders-panel").show();
            } else {
                $("#leaders-panel").hide();
                $(".src_team_leader").attr("checked", false);
                $("#include_my_report").attr("checked",false);
            }
        };

        function check_include(e) {
            if (e.checked === true) {
                $('#include_my_report').val('True');
            }
        };

    </script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>


    <hr>


    <div class="container">
        <h1>Report List</h1>
        <div class="col-lg-12">



            <div class="row">
                <div class="col-lg-12 well">
                    <form action="<%=.sec_url%>top/report/asp/dreport_search_result.asp" method="post" id="search_fields">
                        

                        <ers:isNotEqual src=".Model.IsValid" value="true">
                            <div class="row">
                                <div class="panel panel-danger">
                                    <div class="panel panel-heading">
                                        <strong>Error</strong>
                                    </div>
                                    <div class="panel-body">

                                        <ers:dispError />


                                    </div>
                                </div>
                            </div>
                        </ers:isNotEqual>


                        <div class="row">
                            <div class="col-sm-4 form-group">
                                <label>From Date:</label>
                                <input type="text" name="src_from_date" class="form-control" placeholder="Choose date" id="datepicker" value="<ers:formatDate src=" .Model.src_from_date" value="MM/dd/yyyy">">


                            </div>

                            <div class="col-sm-4 form-group">
                                <label>To Date:</label>
                                <input type="text" name="src_to_date" class="form-control" placeholder="Choose date" id="to_date" value="<ers:formatDate src=" .Model.src_to_date" value="MM/dd/yyyy">">

                            </div>

                        </div>
                        <br />
                        <div class="row">

                            <div class="col-sm-4 form-group">
                                <label>Report Date:</label>
                                <input type="text" class="form-control" name="src_report_date" id="r_date" value="<ers:formatDate src=" .Model.src_report_date" value="MM/dd/yyyy">" />
                            </div>
                        </div>
                        <br />
                        <ers:isNotEqual src=".position" value="1">
                            <div class="row">

                                <div class="col-sm-4 form-group">
                                    <label>Employee Number:</label>
                                    <input type="text" class="form-control" name="src_emp_no" value="<%=.Model.src_emp_no%>" />
                                </div>

                            </div>
                            <br />
                            <div class="row">

                                <div class="col-sm-4 form-group">
                                    <label>First name:</label>
                                    <input type="text" class="form-control" name="src_fname" value="<%=.Model.src_fname%>" />
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label>Last name:</label>
                                    <input type="text" class="form-control" name="src_lname" value="<%=.Model.src_lname%>" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 form-group">
                                    <label>
                                        Team:
                                    </label>
                                    <select name="src_team" id="sel1" class="form-control">
                                        <option value=""></option>
                                        <ers:foreach variable="option" src=".Model.team_list">
                                            <option value="<%=option.code%>"<ers:isEqual src="option.value" variable=".Model.src_team"> selected="selected"</ers:isEqual> > <%=option.namename%></option>
                                        </ers:foreach>
                                    </select>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <input type="hidden" name="chkboxChecker" id="chkboxChecker" value=".Model.src_byTeamLead">
                                    <input type="checkbox" onclick="checkHidePanel(this)" id="src_byTeamLead" name="src_byTeamLead" value="true" <ers:isEqual src=".Model.src_byTeamLead" value="true"> checked="checked" </ers:isEqual>/>&nbsp;<label for="src_byTeamLead">Search by Team leader</label>
                                    <script>
                                        $(window).load(function () {
                                            var isChecked = $("#src_byTeamLead").attr("checked");
                                            if (isChecked === undefined) {
                                                $("#leaders-panel").hide();
                                                $(".src_team_leader").attr("checked", false);

                                            } else {
                                                $("#leaders-panel").show();
                                            }
                                        });
                                    </script>
                                    <div id="leaders-panel" class="panel panel-default">
                                        <div class="panel-heading"><label>Team Leader(s)</label></div>
                                        <div class="panel-body">
                                            <input type="hidden" name="hasSelectedLeader" id="hasSelectedLeader" value="<%=.Model.hasSelected%>" />
                                            <ers:isNotEqual src=".position" value="3"><input type="checkbox" name="src_team_leader" class="src_team_leader" value="<%=.Model.own_emp_no%>" <ers:foreach src=".Model.src_team_leader" variable="storedLeader"><ers:isEqual src=".Model.own_emp_no" variable="storedLeader">checked="checked"</ers:isEqual></ers:foreach> />&nbsp;My Team<br /></ers:isNotEqual>
                                            <ers:foreach src=".Model.TeamLeadList" variable="lead" roopcounter="i">
                                                <input type="checkbox" name="src_team_leader" id="team_lead_<%=i%>" class="src_team_leader" value="<%=lead.emp_no%>" <ers:foreach src=".Model.src_team_leader" variable="storedLeader"><ers:isEqual src="lead.emp_no" variable="storedLeader">checked="checked"</ers:isEqual></ers:foreach> /><label for="team_lead_<%=i%>">&nbsp;Team&nbsp;<%=lead.fname%></label><br />
                                            </ers:foreach>
                                        </div>
                                        <div class="panel-footer">
                                            <br />
                                            <input type="hidden" name="include_mine" id="include_mine" value="<%=.Model.include_my_report%>" />
                                            <input type="checkbox" name="include_my_report" id="include_my_report" onclick="check_include(this)" value="true" <ers:isEqual src=".Model.include_my_report" value="true"> checked="checked" </ers:isEqual>/>&nbsp;<label for="include_my_report">Include My Report</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </ers:isNotEqual>
                        <input type="submit" class="btn btn-info" value="Search" />

                    </form>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <form method="post">
                                <input type="submit" class="btn btn-success pull-right" value="Add new Report" formaction="<%=.sec_url%>top/report/asp/dreport_add.asp" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <Br>
        <div class="row">
        </div>
        <ers:isEqual src=".Model.controller.HasInformation" value="true">
            <div class="panel panel-info">
                <div class="panel panel-heading">
                    <strong>Information</strong>
                </div>
                <div class="panel-body">
                    <span class="text-info"><ers:dispInfo /></span>
                </div>
            </div>
        </ers:isEqual>

        <ers:isEqual src=".Model.error" value="false">
            <ers:isNotEqual src=".position" value="1">
                <ers:isNotEqual src=".Model.recordCount" value="0">
                    <span class="download_button">
                        <form action="<%=.nor_url%>top/Report/asp/download_csv_all.asp" method="post" name="download_csv_all" id="download_csv_all">
                            <input type="submit" class="btn btn-primary" rel="download_csv_all$download_csv_all.asp" name="download_csv_all" value="Download all Report data" />
                        </form>
                    </span>
                    <span class="download_button">
                        <form action="<%=.nor_url%>top/Report/asp/download_csv_page.asp" name="download_csv_page" id="download_csv_page" method="post">
                            <input type="submit" class="btn btn-primary" rel="download_csv_page$download_csv_page.asp" id="" name="" value="Download Report Data on this page" />
                            <input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />
                        </form>
                    </span>
                    <span class="download_button">
                        <form action="<%=.nor_url%>top/Report/asp/download_csv_date_range.asp" method="post" name="download_csv_dateRange" id="download_csv_dateRange">
                            <input type="submit" class="btn btn-primary" rel="download_csv_dateRange$download_csv_dateRange.asp" value="Download Report Summary" />
                            <input type="hidden" name="pageCnt" value="<%=.Pager.pageCnt%>" />
                        </form>
                    </span>
                </ers:isNotEqual>
            </ers:isNotEqual>

                <div></div>
                <br />


                <div class="form-group">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr class="btn-info">
                                <th>Employee Name</th>
                                <th>Team</th>
                                <th>Report Code</th>
                                <th>Report Date</th>
                                <th>Date Created</th>
                                <th>Date Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <ers:foreach src=".Model.list" variable="reportlist">
                                <tr>
                                    <td><%=reportlist.fname%> <%=reportlist.lname%></td>
                                    <td><%=reportlist.w_team%></td>
                                    <td><%=reportlist.report_code%></td>
                                    <td><ers:formatDate src='reportlist.report_date' value='MM/dd/yyyy' /></td>
                                    <td><ers:formatDate src='reportlist.in_time' value='MM/dd/yyyy' /></td>
                                    <td><ers:formatDate src='reportlist.utime' value='MM/dd/yyyy' /></td>
                                    <td>
                                        <form method="post" action="<%=.sec_url%>top/report/asp/dreport_details.asp">
                                            <input type="hidden" name="report_code" value="<%=reportlist.report_code%>" />
                                            <button class="btn btn-link btn-sm">Details</button>
                                        </form>
                                    </td>
                                </tr>
                            </ers:foreach>

                        </tbody>
                    </table>
                    <center>

                        <ul class="pagination pagination-sm">

                            <li><ers:partial file="pager.htm" partialModel=".Pager" /></li>
                        </ul>

                    </center>
                </div>
</ers:isEqual>
    </div>

</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>
