﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.sec_url%>images/ivp_favicon.png">

    <title>Daily Report Modification</title>
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet" />
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->

    <script src="<%=.sec_url%>/js/jquery.js"></script>
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/add_report.js"></script>



</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />



    <hr />

    <!-- Page Content -->
    <div class="container">
        <h3>Edit Report Details</h3>
        <div class="col-lg-12">

            <form method="post">

                <div class="form-group">
                    <ers:isNotEqual src=".Model.IsValid" value="true">
                        <div class="row">
                            <div class="panel panel-danger">
                                <div class="panel panel-heading">
                                    <strong>Error</strong>
                                </div>
                                <div class="panel-body">
                                    <ers:dispError />
                                </div>
                            </div>
                        </div>
                    </ers:isNotEqual>

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Date:
                            </label>

                            <ers:formatDate src='.Model.report_date' value='MM/dd/yyyy' />



                        </div>



                    </div>



                    <table class="table table-hover table-bordered" id="report_table">
                        <thead>
                            <tr>
                                <th colspan="2">Report Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.dreport_details" name="dreport_details" variable="item" record_key="record_key">
                            <tr id="copyRow">
                                <th class="col-sm-2 form-group">Task</th>

                                <td>
                                    <div class="row">

                                        <div class="col-sm-4 form-group">
                                            <label>
                                                PCODE
                                            </label>
                                            <input type="hidden" name="<%=record_key%>id" value="<%=item.id%>" id="id" />
                                            <input type="hidden" name="<%=record_key%>emp_no" value="<%=item.emp_no%>" class="emp_no" />
                                            <input type="text" class="form-control" name="<%=record_key%>pcode" onfocusout="OnclickOut(this,0)" value="<%=item.pcode%>" id="<%=record_key%>pcode" />
                                            <input type="button" value="Select" id="btnSetting" onclick="return pcode_select(this)" name="<%=record_key%>" class="f_button info" />
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Description
                                            </label>
                                            <input type="text" class="form-control" name="<%=record_key%>proj_desc" onfocusout="OnclickOut(this,1)" value="<%=item.proj_desc%>" id="<%=record_key%>proj_desc" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Reference number
                                            </label>
                                            <input type="text" class="form-control" name="<%=record_key%>ref_no" onfocusout="OnclickOut(this,2)" value="<%=item.ref_no%>" />

                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>Used Man Hours</label>
                                            <select name="<%=record_key%>um_hours" id="sel1" class="form-control" onfocusout="OnclickOut(this,8)">
                                                <option value=""></option>
                                                <ers:foreach src="item.um_hours_list" variable="hours">
                                                    <option value="<%=hours%>" <ers:isEqual src="hours" variable="item.um_hours"> selected="selected"</ers:isEqual>><%=hours%></option>
                                                </ers:foreach>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-2 form-group">
                                            <label>
                                                Progress
                                            </label>

                                            <select name="<%=record_key%>progress" id="sel1" class="form-control" onfocusout="OnclickOut(this,3)">
                                                <option value=""></option>
                                                <ers:foreach src="item.rprog_list" variable="prog">
                                                    <option value="<%=prog%>"<ers:isEqual src="prog" variable="item.progress"> selected="selected"</ers:isEqual>><%=prog%>%
                                                        </option>
                                                </ers:foreach>
                                            </select>


                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Status
                                            </label>
                                            <select name="<%=record_key%>status" id="sel1" class="form-control" onfocusout="OnclickOut(this,4)">
                                                <option value=""></option>
                                                <ers:foreach src="item.rstatus_list" variable="prog">
                                                    <option value="<%=prog.value%>"<ers:isEqual src="prog.value" variable="item.status"> selected="selected"</ers:isEqual>><%=prog.name%>
                                                        </option>
                                                </ers:foreach>
                                            </select>


                                        </div>

                                    </div>


                                    <div class="form-group">

                                        <label>
                                            Summary
                                        </label>
                                        <textarea placeholder="Report Summary" rows="3" class="form-control" name="<%=record_key%>summary" onfocusout="OnclickOut(this,5)"><%=item.summary%></textarea>

                                    </div>


                                    <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Start date
                                            </label>
                                            <input type="date" class="form-control" name="<%=record_key%>start_date" onfocusout="OnclickOut(this,6)" value="<ers:formatDate src='item.start_date' value='yyyy-MM-dd' />" />

                                        </div>

                                        <div class="col-sm-4 form-group">
                                            <label>
                                                Due date
                                            </label>
                                            <input type="date" class="form-control" name="<%=record_key%>due_date" onfocusout="OnclickOut(this,7)" value="<ers:formatDate src='item.due_date' value='yyyy-MM-dd' />" />
                                            <input type="hidden" name="<%=record_key%>fname" value="<%=item.fname%>" />
                                            <input type="hidden" name="<%=record_key%>lname" value="<%=item.lname%>" />
                                            <input type="hidden" name="<%=record_key%>team" value="<%=item.team%>" />
                                            <input type="hidden" name="<%=record_key%>report_code" value="<%=item.report_code%>" />
                                            <input type="hidden" name="<%=record_key%>report_date" value="<%=item.report_date%>" />
                                        </div>

                                    </div>
                                    <input type='button' class='btn btn-info btn-sm' value='Delete' name='deleteBtn' id='deleteBtn' onclick='DeleteRow(this)' />&nbsp;
                                </td>


                            </tr>
                            </ers:table>
                        </tbody>
                    </table>
                    <input type="hidden" name="report_code" value="<%=.Model.report_code%>" />
                    <input type="hidden" name="report_date" value="<%=.Model.report_date%>" />
                    <input type="hidden" name="deleted_id" id="deleted_id" />
                    <input type="button" class="btn btn-info btn-sm" value="Add Details" id="addField" />&nbsp;
                    <br />
                    <br />
                    <input type="submit" class="btn btn-info btn-sm" value="Back" formaction="<%=.sec_url%>top/report/asp/dreport_details.asp" />&nbsp;
                    <input type="submit" class="btn btn-success btn-sm" value="Submit Report" formaction="<%=.sec_url%>top/report/asp/dreport_edit_confirm.asp" />&nbsp;


                </div>
            </form>

        </div>

    </div>

</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>