﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report List</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.sec_url%>css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=.sec_url%>css/custom.css" rel="stylesheet">
    <script src="<%=.sec_url%>js/jquery.min.js"></script>
    <script src="<%=.sec_url%>/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>

        $(function () {
            if (!Modernizr.inputtypes.date) {
                $('input[type=date]').datepicker({
                    dateFormat: 'yy-mm-dd'
                }
                 );
            }
        });
    </script>
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>



    <hr>


    <div class="container">
        <h1>Report List</h1>
        <div class="col-lg-12">


            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-inline">

                            <form method="post">

                                <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>From Date:</label>
                                            <input type="text" onfocus="(this.type='date')" name="from_date" class="form-control" placeholder="Choose date">
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            <label>To Date:</label>
                                            <input type="text" onfocus="(this.type='date')" name="to_date" class="form-control" placeholder="Choose date">
                                        </div>
                                      
                                    </div>
                                <br />
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>Report Date:</label>
                                        <input type="date" class="form-control" name="src_report_date"  />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>Employee Number:</label>
                                        <input type="text" class="form-control" name="src_emp_no" />
                                    </div>
                                  
                                </div>
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>First name:</label>
                                        <input type="text" class="form-control" name="src_fname" />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Last name:</label>
                                        <input type="text" class="form-control" name="src_lname" />
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-info" value="Search" formaction="<%=.sec_url%>top/report/asp/dreport_search.asp" />
                                <input type="submit" class="btn btn-success pull-right" value="Add new Report" formaction="<%=.sec_url%>top/report/asp/dreport_add.asp"/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addReport" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new Report</h4>
                           
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <form method="post">
                                
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-2 form-group">

                                                <label>
                                                    Report Code
                                                </label>
                                                <input type="text" name="report_code" class="form-control" />

                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Report Date</label>

                                                <input type="date" placeholder="" class="form-control" name="dr_date" id="bd" value="<%=.Model.dr_date%>" />
                                            </div>

                                        </div>


                                    </div>    
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>



            <Br><br>

            <div class="row">
            </div>
            <div class="form-group">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>Team</th>
                            <th>Report Code</th>
                            <th>Date</th>
                            <th>Action</th>
                            
                         
                        </tr>
                    </thead>
                    <tbody>
                        <ers:foreach src=".Model.list" variable="reportlist">
                            <tr>
                                <td><%=reportlist.fname%> <%=reportlist.lname%></td>
                                <td><%=reportlist.w_team%></td>
                                <td><%=reportlist.report_code%></td>
                                <td><ers:formatDate src='reportlist.report_date' value='MM/dd/yyyy' /></td>
                                <td><form method="post">
                                    <input type="hidden" name="report_code" value="<%=reportlist.report_code%>" />
                                    <input type="hidden" name="report_date" value="<%=reportlist.report_date%>" />
                                    <button class="btn btn-link btn-sm" formaction="<%=.sec_url%>top/report/asp/dreport_details.asp">Details</button>
                                    </form></td>
                            </tr>
                        </ers:foreach>
                      
                    </tbody>
                </table>
                <center>
                    <ul class="pagination pagination-sm">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </center>
            </div>

            <button type="submit" class="btn btn-info">Convert to Csv</button>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>