﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="<%=.nor_url%>images/ivp_favicon.png">

    <title>Daily Report Registration Confirm</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.nor_url%>css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="<%=.sec_url%>js/jquery.js"></script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 10px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }


        .example6 .navbar-brand {
            background: url(<%=.nor_url%>images/ivplogo.png) center / contain no-repeat;
            width: 200px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        footer .footer-below {
            padding-top: 130px;
        }


        .loginmodal-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }

            .loginmodal-container h1 {
                text-align: center;
                font-size: 1.8em;
                font-family: roboto;
            }

            .loginmodal-container input[type=submit] {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                position: relative;
            }

            .loginmodal-container input[type=text], input[type=password] {
                height: 44px;
                font-size: 16px;
                width: 100%;
                margin-bottom: 10px;
                -webkit-appearance: none;
                background: #fff;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                /* border-radius: 2px; */
                padding: 0 8px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

                .loginmodal-container input[type=text]:hover, input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

        .loginmodal {
            text-align: center;
            font-size: 14px;
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            height: 36px;
            padding: 0 8px;
            /* border-radius: 3px; */
            /* -webkit-user-select: none;
        user-select: none; */
        }

        .loginmodal-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

            .loginmodal-submit:hover {
                /* border: 1px solid #2f5bb7; */
                border: 0px;
                text-shadow: 0 1px rgba(0,0,0,0.3);
                background-color: #357ae8;
                /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
            }

        .loginmodal-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }

        .login-help {
            font-size: 12px;
        }
    </style>



</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />
    <ers:IsNotEqual src=".position" value="1">
        <ers:partial file="admin_sidebar.htm" />
    </ers:IsNotEqual>
    <hr />

    <!-- Page Content -->
    <div class="container">
        <h3>Confirm Report Details</h3>
        <div class="col-lg-12">
            <form method="post">

                <div class="form-group">

                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>
                                Date: <ers:formatDate src='.Model.report_date' value='MM/dd/yyyy' />
                            </label>
                        </div>
                    </div>

                    <table class="table table-hover table-bordered" id="report_table">
                        <thead>
                            <tr>
                                <th colspan="2">Report Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            <ers:table src=".Model.dreport_details" name="dreport_details" variable="target_list" record_key="record_key"></ers:table>

                            <ers:foreach variable="item" src=".Model.dreport_details" roopcounter="i">

                                    <tr>
                                        <th class="col-sm-2 form-group">Task</th>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        PCODE :
                                                    </label>
                                                    <%=item.pcode%>
                                                   
                                                </div>

                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        Description : 
                                                    </label>
                                                    <%=item.proj_desc%>
                                                  
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        Reference number:
                                                    </label>
                                                    <%=item.ref_no%>
                                                   

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <label>Used Man Hours: </label>
                                                    <%=item.um_hours%>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-2 form-group">
                                                    <label>
                                                        Progress: 
                                                    </label>
                                                    <%=item.progress%>%

                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        Status:
                                                    </label>
                                                    <%=item.w_status%>

                                                </div>

                                            </div>


                                            <div class="form-group">

                                                <label>
                                                    Summary:
                                                </label>
                                                <%=item.summary%>

                                            </div>


                                            <div class="row">
                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        Start date:
                                                    </label>
                                                    <ers:formatDate src='item.start_date' value='MM/dd/yyyy' />

                                                </div>

                                                <div class="col-sm-4 form-group">
                                                    <label>
                                                        Due date:
                                                    </label>
                                                    <ers:formatDate src='item.due_date' value='MM/dd/yyyy' />

                                                </div>
                                            </div>

                                        </td>


                                    </tr>
                            </ers:foreach>
                       


</table>



                    <input type="submit" class="btn btn-info btn-sm" value="Back" formaction="<%=.sec_url%>top/report/asp/dreport_add.asp" />&nbsp;
                    <input type="submit" class="btn btn-success btn-sm" value="Submit Report" formaction="<%=.sec_url%>top/report/asp/dreport_add_complete.asp" />&nbsp;


                </div>
            </form>

        </div>

    </div>

    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <!-- Bootstrap Core JavaScript -->
    <script src="<%=.sec_url%>js/bootstrap.min.js"></script>
    <script src="<%=.sec_url%>js/add_report.js"></script>
</body>
</html>
<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>