﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>
    <!-- Bootstrap Core CSS -->
    <link href="<%=.nor_url%>css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 10px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }


        .example6 .navbar-brand {
            background: url(<%=.nor_url%>images/ivplogo.png) center / contain no-repeat;
            width: 200px;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
        }

        footer .footer-below {
            padding-top: 130px;
        }


        .loginmodal-container {
            padding: 30px;
            max-width: 350px;
            width: 100% !important;
            background-color: #F7F7F7;
            margin: 0 auto;
            border-radius: 2px;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            font-family: roboto;
        }

            .loginmodal-container h1 {
                text-align: center;
                font-size: 1.8em;
                font-family: roboto;
            }

            .loginmodal-container input[type=submit] {
                width: 100%;
                display: block;
                margin-bottom: 10px;
                position: relative;
            }

            .loginmodal-container input[type=text], input[type=password] {
                height: 44px;
                font-size: 16px;
                width: 100%;
                margin-bottom: 10px;
                -webkit-appearance: none;
                background: #fff;
                border: 1px solid #d9d9d9;
                border-top: 1px solid #c0c0c0;
                /* border-radius: 2px; */
                padding: 0 8px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }

                .loginmodal-container input[type=text]:hover, input[type=password]:hover {
                    border: 1px solid #b9b9b9;
                    border-top: 1px solid #a0a0a0;
                    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
                }

        .loginmodal {
            text-align: center;
            font-size: 14px;
            font-family: 'Arial', sans-serif;
            font-weight: 700;
            height: 36px;
            padding: 0 8px;
            /* border-radius: 3px; */
            /* -webkit-user-select: none;
        user-select: none; */
        }

        .loginmodal-submit {
            /* border: 1px solid #3079ed; */
            border: 0px;
            color: #fff;
            text-shadow: 0 1px rgba(0,0,0,0.1);
            background-color: #4d90fe;
            padding: 17px 0px;
            font-family: roboto;
            font-size: 14px;
            /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
        }

            .loginmodal-submit:hover {
                /* border: 1px solid #2f5bb7; */
                border: 0px;
                text-shadow: 0 1px rgba(0,0,0,0.3);
                background-color: #357ae8;
                /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
            }

        .loginmodal-container a {
            text-decoration: none;
            color: #666;
            font-weight: 400;
            text-align: center;
            display: inline-block;
            opacity: 0.6;
            transition: opacity ease 0.5s;
        }

        .login-help {
            font-size: 12px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page viafile:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--Header-->
    <ers:partial file="header.htm" />


    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Username">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>



    <hr>


    <div class="container">
        <h1>Report List</h1>
        <div class="col-lg-12">


            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="form-inline">

                            <form method="post">

                                <div class="row">
                                        <div class="col-sm-4 form-group">
                                            <label>From Date:</label>
                                            <input type="text" onfocus="(this.type='date')" name="from_date" class="form-control" placeholder="Choose date">
                                        </div>

                                        <div class="col-sm-4 form-group">
                                            <label>To Date:</label>
                                            <input type="text" onfocus="(this.type='date')" name="to_date" class="form-control" placeholder="Choose date">
                                        </div>
                                      
                                    </div>
                                <br />
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>Report Date:</label>
                                        <input type="date" class="form-control" name="src_report_date"  />
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>Employee Number:</label>
                                        <input type="text" class="form-control" name="src_emp_no" />
                                    </div>
                                  
                                </div>
                                <div class="row">

                                    <div class="col-sm-4 form-group">
                                        <label>First name:</label>
                                        <input type="text" class="form-control" name="src_fname" />
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Last name:</label>
                                        <input type="text" class="form-control" name="src_lname" />
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-info" value="Search" formaction="<%=.sec_url%>top/report/asp/dreport_search.asp" />
                                <input type="submit" class="btn btn-success pull-right" value="Add new Report" formaction="<%=.sec_url%>top/report/asp/dreport_add.asp"/>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="addReport" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new Report</h4>
                           
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <form method="post">
                                
                                    <div class="col-sm-12">

                                        <div class="row">
                                            <div class="col-sm-2 form-group">

                                                <label>
                                                    Report Code
                                                </label>
                                                <input type="text" name="report_code" class="form-control" />

                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Report Date</label>

                                                <input type="date" placeholder="" class="form-control" name="dr_date" id="bd" value="<%=.Model.dr_date%>" />
                                            </div>

                                        </div>


                                    </div>    
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>



            <Br><br>
            <form method="post">
                <div class="row">
                </div>
                <div class="form-group">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Employee Name</th>
                                <th>Team</th>
                                <th>Report Code</th>
                                <th>Date</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tbody>
                            <ers:foreach src=".Model.list" variable="reportlist">
                                <tr>
                                    <th class="col-sm-2 form-group">Task </th>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    PCODE :
                                                </label>
                                                <%=reportlist.pcode%>

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Description :
                                                </label>

                                                <%=reportlist.proj_desc%>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Reference number:
                                                </label>
                                                <%=reportlist.ref_no%>


                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Used Man Hours</label>
                                                <%=reportlist.um_hours%>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-2 form-group">
                                                <label>
                                                    Progress:
                                                </label>
                                                <%=reportlist.w_prog%>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Status:
                                                </label>
                                                <%=reportlist.w_status%>

                                            </div>

                                        </div>


                                        <div class="form-group">

                                            <label>
                                                Summary:
                                            </label>
                                            <%=reportlist.summary%>

                                        </div>


                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    Start date:
                                                </label>
                                                <ers:formatDate src='reportlist.start_date' value='MM/d/yyyy' />

                                            </div>

                                            <div class="col-sm-4 form-group">
                                                <label>
                                                    End date:
                                                </label>
                                                <ers:formatDate src='reportlist.due_date' value='MM/d/yyyy' />

                                            </div>
                                        </div>

                                    </td>


                                </tr>

                            </ers:foreach>

                        </tbody>
                    </table>
                    <input type="hidden" name="report_code" value="<%=.Model.report_code%>" />

                    <input type="submit" class="btn btn-info btn-sm" value="Back" formaction="<%=.sec_url%>top/report/asp/dreport_search.asp" />&nbsp;
                    <input type="submit" class="btn btn-success btn-sm" value="Edit Report" formaction="<%=.sec_url%>top/report/asp/dreport_edit.asp" />&nbsp;
                    <input type="submit" class="btn btn-success btn-sm" value="Download Report" rel="download_csv_all$download_csv_all.asp" formaction="<%=.sec_url%>top/Report/asp/download_csv_all.asp" />&nbsp;


                </div>
            </form>
            <button type="submit" class="btn btn-info">Convert to Csv</button>
        </div>
    
    </div>

    <!-- /.container -->
    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>

<footer class="text-center">

    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright(C)2017 IVP Co., Ltd. All rights reserved.
                </div>
            </div>
        </div>
    </div>

</footer>