﻿<div class="MemberDetail">
    <table class="Detail">
		<tr>
			<th class="w_300"><ers:label code="addressee"></th>
			<th class="w_150"><ers:label code="senddate"></th>
			<th class="w_100"><ers:label code="des_time"></th>
		</tr>
		<tr>
			<td>
                <span class="__delivery_address">
				<ers:label code="common_post"><%=.Model.add_zip%>&nbsp;<%=.Model.add_pref_name%>&nbsp;<%=.Model.add_address%>&nbsp;<%=.Model.add_taddress%>&nbsp;<%=.Model.add_maddress%>
                </span><br />

                <span class="__delivery_name"><%=.Model.add_lname%> <%=.Model.add_fname%></span><br />
				
                <span class="__delivery_tel"><%=.Model.add_tel %></span>

            </td>
			<td>
                <ers:isEqual src=".Model.page3" value="true">
                    <input type="hidden" name="senddate" value="<%=.Model.senddate%>" />
                    <input type="hidden" name="firstTimeOrdinary" value="<%=.Model.firstTimeOrdinary%>" />
                </ers:isEqual>

                <input type="radio" id="firstTime_0" name="firstTimeOrdinary" value="0"<ers:isEqual src=".Model.firstTimeOrdinary" value="0"> checked="checked"</ers:isEqual><ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual>><label for="firstTime_0"><ers:message code="shippingaddress_delivery_info_del_short"></label><br />
<ers:isNotEqual src=".Model.regularBasketItemCount" value="0">
				<input type="radio" id="firstTime_1" name="firstTimeOrdinary" value="1"<ers:isEqual src=".Model.firstTimeOrdinary" value="1"> checked="checked"</ers:isEqual><ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual>><label for="firstTime_1"><ers:message code="shippingaddress_delivery_info_first_batch_shop"></label><br />
</ers:isNotEqual>
				<input type="radio" id="firstTime_2" name="firstTimeOrdinary" value="2"<ers:isEqual src=".Model.firstTimeOrdinary" value="2"> checked="checked"</ers:isEqual><ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual>><label for="firstTime_2"><ers:message code="shippingaddress_delivery_info_select_date"></label>
                <input type="text" class="datepicker_date" id="senddate" size="20" maxlength="10" name="senddate" value ="<ers:formatDate src=".Model.senddate" />" <ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual> />


			</td>
			<td>
                <ers:isEqual src=".Model.page3" value="true">
                    <input type="hidden" name="sendtime" value="<%=.Model.sendtime%>" />
               </ers:isEqual>
                <select id="sendtime" name="sendtime" <ers:isEqual src=".Model.page3" value="true" > disabled="disabled" </ers:isEqual> >
                    <ers:foreach variable="option" src=".Model.sendtimeList">
						<option value="<%=option.value%>"<ers:isEqual src="option.value" variable=".Model.sendtime"> selected="selected"</ers:isEqual>  ><%=option.name%></option>
                    </ers:foreach>
				</select>
			</td>
		</tr>
	</table>
</div>
