﻿<div class="RegistOrder">

     <input type="hidden" name="send_chk" value="<%=.Model.send_chk%>" />

    <h3><ers:message code="order.page3.Title"></h3>

    <ers:partial file="../shippingdelivery/delivery_info.htm" />

    <ers:partial file="../shippingdelivery/delivery_list.htm" />

</div>