﻿<div class="MemberDetail">
    <table class="Detail">
        <tr>
			<th class="w_290"><ers:label code="ProductName"></th>
			<th class="w_70"><ers:label code="UnitPrice"></th>
			<th class="w_40"><ers:label code="amount"></th>
			<th class="w_150"><ers:label code="price_status"></th>
		 </tr>
        <tr>
        <ers:foreach src=".Model.basketItems" variable="item">
            <tr class="__productlist">
                <td><ers:isEqual src="item.cts_sname" value=""><%=item.sname%></ers:isEqual><ers:isNotEqual src="item.cts_sname" value=""><%=item.cts_sname%></ers:isNotEqual></td>
			    <td class="__a_price"><ers:formatCurrency src="item.price" /></td>
			    <td>
                    <ers:isEqual src=".Model.page2" value="true" >
				        <input type="text" id="up_amount<%=item.key%>" class="__quantity w_24<ers:isEqual src="item.disabledFlg" value="true" />_disabled_disp</ers:isEqual>" name="up_amount<%=item.key%>" value="<%=item.amount%>" <ers:isEqual src="item.disabledFlg" value="true" /> readonly="readonly" </ers:isEqual> />
                        <script>
                            $("#up_amount<%=item.key%>").change(function (e) {
                                e.preventDefault();   /* stop form from submitting normally */
                                document.entry_form.action = '?recalc=true';
                                document.entry_form.submit();
                                return false;
                            });
                        </script>
                    </ers:isEqual>
                    <ers:isEqual src=".Model.page3" value="true" >
                        <span class="__a_quantity"><%=item.amount%></span>
                    </ers:isEqual>
                </td>
			    <td>
                    <select id="product_status<%=item.key%>" name="product_status<%=item.key%>" class="__status w_100" <ers:isEqual src=".Model.page3" value="true" /> disabled="disabled"  </ers:isEqual> >
                        <ers:foreach variable="option" src=".Model.OrderStatusList">
					        <option value="<%=option.value%>"<ers:isEqual src="option.value" variable="item.order_status"> selected="selected"</ers:isEqual> ><%=option.name%></option>
                        </ers:foreach>
			        </select>
			    </td>
            </tr>

            <script type="text/javascript" >

                var select = document.getElementById("product_status<%=item.key%>");
                var statusDefaultValue = select.options[select.selectedIndex].value;
                var point_ck = <%=.Model.point_ck%>
                select.onchange = function (data) {
                    if(point_ck == 1)
                    {
                        var statusValue = select.options[select.selectedIndex].value;

                        if ((statusValue == 888 || statusValue == 999) && (statusDefaultValue != 888 && statusDefaultValue != 999)) {
                            alert('<ers:message code="shipping_delivery.warning_point_grant"/>');
                        }
                    }
                }

            </script>

        </ers:foreach>
	</table>
</div>